[2018-04-27 08:40] #1982 closed

[2018-04-27 08:43] thorsteneckel commented on #1508
This is a duplicate of #1952 which is already fixed.

[2018-04-27 08:43] #1508 closed

[2018-04-27 08:46] thorsteneckel commented on #675
This one was already introduced with Zammad 2.4 - so it's ready to use. 🚀

[2018-04-27 08:46] #675 closed

[2018-04-27 08:49] martini commented on #1930
@mrflix

![bulk_action_and_pending_time](https://user-images.githubusercontent.com/110226/39353661-a4f476b8-4a08-11e8-8c30-5e844fe617c8.gif)

[2018-04-27 08:54] thorsteneckel commented on #998
To me this reads as it would work as designed. Let me know if I got it wrong. Feel free to open a technical discussion over at our community board http://community.zammad.org/ if you think this should get changed and how to do so. Closing now.

[2018-04-27 08:54] #998 closed

[2018-04-27 09:28] martini commented on #1864
Hi @mschiff

the problem is, that the possible owners depending on the group permissions. So we can't profile the owner list until the group is selected.

Feedback is welcome!

 -Martin

[2018-04-27 12:58] thorsteneckel commented on #220
Nice! I just noticed that there are at least [one type of changes applied](https://github.com/Uberspace/zammad/commit/252b06c754f77de529f23d91ba93555a1f9cbb1b#diff-b1af973260efef14f743d66164c921dbR12) that don't match our rubocop configuration: Using `unless` instead of negative `if`s. So it seems that your rubocop is doing to much here.

Oh the pythonisms is just fine for me. Nothing to complain

[2018-04-27 13:03] lr1980 opened #1983 "Change Customer - "add new customer" delay"
### Infos:

* Used Zammad version: 2.5.0
* Installation method (source, package, ..): Docker
* Browser + version: Safari / Firefox

### Expected behavior:

* change customer => no delay :)

### Actual behavior:

* when change the customer and click an add customer you have a very long delay without visual response

### Steps to reproduce the behavior:

* exists ticket => change customer => click o

[2018-04-27 13:05] martini commented on #1983
@lr1980 Thanks, issue is already existing. https://github.com/zammad/zammad/issues/1957 fix is on the way....

[2018-04-27 13:05] #1983 closed

[2018-04-27 13:34] #1894 closed

[2018-04-27 13:39] muhammadn commented on #1964
Added the enhancement in the commit above. Closing this issue now.

[2018-04-27 13:39] #1964 closed

[2018-04-27 14:33] thorsteneckel commented on #1967
A solution for this is currently not that easy because the used [twitter gem](https://github.com/sferik/twitter) doesn't support [the `tweet_mode: 'extended'`](https://github.com/sferik/twitter/issues/905) properly. However, there is a workaround to extract [the content](https://github.com/sferik/twitter/pull/848#issuecomment-329425006) which looks rather hackish to me.
I think we will wait till [

[2018-04-28 06:15] rkaldung commented on #1632
@monotek Let's enable indexing. I don't see any reason against it and using Chef is a always a good idea.

[2018-04-28 09:11] SummerStorm opened #1984 "The active flag of attributes is ignored when using the API"
### Infos:

* Used Zammad version: 2.4
* Installation method (source, package, ..): source
* Operating system: Ubuntu 16.04
* Database + version: PostgreSQL 9.5.12
* Elasticsearch version: 6.6.0
* Browser + version: Firefox ESR 52.5.2 (64-bit)

### Expected behavior:

When creating or updating a ticket using the API, parameters referring to an inactive attribute should either be silently ignored o

[2018-04-28 13:30] Delikt commented on #675
Ty for the Information.. i will take a look on this version

[2018-04-30 08:08] #1854 closed

[2018-04-30 08:43] manjeshpv opened #1986 "Discourse Integration"
http://discourse.org

A good documentation in discourse will reduce customer queries

[2018-04-30 09:05] thorsteneckel commented on #1986
Please read our intro text before creating issues. This is not an issue but a technical question/request. You can ask questions over at https://community.zammad.org/ (ironically discourse) - Closing now.

[2018-04-30 09:05] #1986 closed

[2018-05-02 09:18] thorsteneckel opened #1987 "Make ticket create article types configurable"
### Infos:

* Used Zammad version: 2.4
* Installation method (source, package, ..): git
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* The list of possible article types for a ticket created by an agent via the web interface should be configurable:

![image](https://user-images.githubusercontent.com/3873515/3951537

[2018-05-02 09:58] rkaldung commented on #1632
.oO That's right. I can't find anything related in the documentation. @monotek And you?

[2018-05-02 10:49] monotek commented on #1632
No.

[2018-05-02 12:18] datenritter opened #1988 "Empty custom placeholder replaced by dash (-)"
### Infos:

* Used Zammad version: 2.4.x
* Installation method (source, package, ..): Debian package.
* Operating system: Debian Linux.

### Expected behavior:

* Custom placeholder shouldn't display anything if field is empty.

### Actual behavior:

* Shows a dash (-) instead.

### Steps to reproduce the behavior:

* Create a custom placeholder "title" in user objects.
* Fill title for one user.

[2018-05-02 14:51] datenritter commented on #1988
An empty field is an empty field. "Nothing" is a valid input.

[2018-05-03 08:48] mister-wolf commented on #675
Hi @thorsteneckel, are you sure this has been released on 2.4? I can't see any menu item to make such an import. Or should we launch it some other way?

Thanks

[2018-05-03 14:12] rlue commented on #1219
This fix is ready and slated for the 2.5.0 release (relevant changes introduced in 1c386bc, as well as on the i18n API server).

[2018-05-03 15:44] mister-wolf commented on #675
Thank you @thorsteneckel. Any chance you can give us some hints on syntax - e.g. how to use this command from rails console?
Thank you so much.

[2018-05-03 16:27] thorsteneckel commented on #675
Hi @mister-wolf - please have a look at my last comment. The first block is the syntax you are looking for. Just change the `file` path to your need and paste the command to the console.

[2018-05-03 16:39] Delikt commented on #675
Looking much clearer as the old solution.. i will test it soon

[2018-05-04 09:24] hanneshal opened #1989 "Enable article.body in trigger jobs"
### Infos:

* Used Zammad version: 2.4 + Dev (2.5)
* Installation method (source, package, ..): source
* Operating system: macOS
* Database + version: postgresql 9.4
* Elasticsearch version: 5.6
* Browser + version: Safari latest

In an earlier version we had the possibility to search the article body using a trigger and perform actions if the search query was found.

### Expected behavior:

It sh

[2018-05-04 10:38] noezdev commented on #864
Is there already a way to make it possible?

[2018-05-04 11:10] lr1980 commented on #1632
sorry my mistake...

here again:

[2018-05-04 11:21] hanneshal opened #1990 "Missing CC autocomplete / type ahead function in ticket create screen (#1018286)"
### Infos:

* Used Zammad version: 2.4 + Dev (2.5)
* Installation method (source, package, ..): source
* Operating system: macOS
* Database + version: postgresql 9.4
* Elasticsearch version: 5.6
* Browser + version: Safari latest

### Expected behavior:

* Autocomplete should be enabled in the ticket create "CC" field like it is in the "TO" field and the answer view.

### Actual behavior:

* It's

[2018-05-04 11:24] hanneshal opened #1991 "Missing attribute "tag" in E-Mail filter (#1017944)"
### Infos:
* Used Zammad version: 2.4
* Installation method (source, package, ..): source
* Operating system: CentOS 7
* Database + version: postgresql 9.4
* Elasticsearch version: 5.6
* Browser + version: FireFox latest

### Expected behavior:

* It should be possible to set (add and remove) tags in a E-Mail filter to enable the trigger to check for those without braking the trigger action chain

[2018-05-04 15:17] Miterion commented on #535
Is there any update or progress on this?

[2018-05-05 11:11] martini commented on #1931
Hi @noezdev

it's already fixed in stable and develop. That means you just need to update you Zammad OS package and you have the bugfix. Background: We build a new Zammad build version on every bugfix. It's a default feature of packager.io - a great service!

 -Martin

[2018-05-05 11:41] noezdev commented on #1931
<img width="592" alt="screenshot 2018-05-05 13 41 11" src="https://user-images.githubusercontent.com/21970985/39662927-0b0ec2ac-506a-11e8-9eaa-295f8dcfa078.png">

[2018-05-05 13:30] abasjo commented on #1931
Updatet a few minutes ago on CentOS 7. Status says:

Channel: Twitter::Account out key:{"id"=>92714234957420XXXX, "screen_name"=>"PrevHelpDE", "name"=>"PrevHelp"}; Can't use Channel::Driver::Twitter: #<Twitter::Error::BadRequest: Recipient (user, screen name, or id) parameter is missing.>
Failed to run background job #1 'Observer::Ticket::Article::CommunicateTwitter::BackgroundJob' 1 time(s) with

[2018-05-05 13:33] noezdev commented on #1931
Same problem here

[2018-05-05 13:37] noezdev commented on #1931
Does anyone have an idea to hotfix this problem? Currently we cannot offer support with twitter :-/

[2018-05-05 15:03] thorsteneckel commented on #1931
Actually this was not backported to `stable` because to many files were changed (I assume). Please make sure to verify it on `develop`. If it still persists provide your `log/production.log` file and make sure the backtrace is included.

[2018-05-06 09:56] mmojadad opened #1993 "Telegram Bot behind proxy"
### Infos:

* Used Zammad version: 2.3.x
* Installation method (source, package, ..): package
* Operating system: CentOS 7
* Database + version:
* Elasticsearch version:
* Browser + version:

### Expected behavior:
Proxy Address also apply to telegram bot when i tune it in System > Network > Proxy Address

### Actual behavior:
Suddenly Telegram is filtered in my area and connection to my clients v

[2018-05-06 11:42] TeraNovaLP opened #1994 "Ubuntu installation of Zammad via apt fails"
### Infos:

* Used Zammad version: 2.4.0
* Installation method (source, package, ..): package
* Operating system: Ubuntu 18.04
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

Starting the Installation of Zammad

### Actual behavior:

The Installation is not possible because dependencies like libreadline6 are missing

### Steps to reproduce t

[2018-05-06 12:17] schmanat commented on #1994
First Line in the documentation.

But good to know that the installation is not working with newer Ubuntu OS.

[2018-05-06 14:40] monotek commented on #1994
should be fixed with: https://github.com/zammad/zammad/commit/d596389c15cb6e69d1f02e64817c99568441d28a

please try...

[2018-05-06 15:08] TeraNovaLP commented on #1994
@monotek  Thanks for the fast investigation.

[2018-05-07 05:44] rlue commented on #1577
@kalabj, I'm having trouble understanding this bug. This is what I found in my own tests:

* If the customer **has no email address**, Zammad refuses to send the email. A modal alert appears on the screen that says "**Text missing:** Need recipient in 'To' or 'Cc'.", and a flash message appears in the ticket summary:

  ![Delivery failed: "Unable to send email to 'Jack Johnson': Can't use Channel:

[2018-05-07 06:05] martini commented on #1577
One more note: Zammad tries to find the correct recipient. So @kalabj can you verify if your Zammad email address "Zammad@no" is existing as email address in Zammad (admin -> channel -> email -> accounts -> search for "Zammad@no")?

If not, Zammad means that this is not an own used email address and tries to respond to this address. Just create the "Zammad@no" address in admin -> channel -> email

[2018-05-07 08:48] thorsteneckel opened #1995 "Ticket waiting time report backend creates high CPU load with script/scheduler.rb"
### Infos:

* Used Zammad version: 2.4
* Installation method (source, package, ..): git
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

The following code creates an expensive N+1 query that creates a high CPU and memory load:

https://github.com/zammad/zammad/blob/757f0ac9bddaf348a6929bcf7d43d1180ea106f4/lib/stats/ticket_waiting_time.rb#L58

[2018-05-07 09:35] thorsteneckel commented on #1643
Hi @hiaz / @MBekspert  - does the issue still persists in Zammad 2.4?

[2018-05-07 09:36] thorsteneckel commented on #1862
Hi @Sandalas - any updates on this one?

[2018-05-07 09:53] hanneshal opened #1996 "Use of wrong recipient if sender is also an agent"
### Infos:

* Used Zammad version: 2.4
* Installation method (source, package, ..): source
* Operating system: CentOS
* Database + version: Postgres 9.4
* Elasticsearch version: 5.6
* Browser + version: Safari 11.1

### Expected behavior:

* If I reply to a ticket and use "reply" not "reply all", I would expect that I only reply only to the sender not to everyone else.

### Actual behavior:

* see

[2018-05-07 12:11] hamzehmohammadnia opened #1997 "500 Internal Server Error"
### Infos:

* Used Zammad version: 2.4.0
* Installation method (source, package, ..): Package for Centos (.rpm)
* Operating system: Centos
* Database + version: Mysql (any)
* Elasticsearch version: any
* Browser + version: Chrome, Firefox

### Expected behavior:
When agent upload attachment, attachment should get attached to the ticket reply.

### Actual behavior:

When agent tries to attach an at

[2018-05-07 12:35] Sandalas commented on #1862
Hi @thorsteneckel - I will clone our productive system (2.2.0) tomorrow in a dev system.
My plan is to test the update from 2.2.0 to now 2.4.0 (or should I try for you the 2.3.0)

[2018-05-07 12:36] martini commented on #1997
Hi @hamzehmohammadnia

why the 500er happen you can see in the `log/production.log`. Without that we can't give feedback (I guess there are issue with the database upgrade).

 -Martin

[2018-05-07 12:40] thorsteneckel commented on #1862
Please use latest - thanks!

[2018-05-07 13:56] thorsteneckel commented on #1997
Hi @hamzehmohammadnia - this is probably an issue with your setup. However, feel free to provide the requested logfile and/or move over to our http://community.zammad.org/ for technical questions/discussions. Thanks!

[2018-05-07 13:56] #1997 closed

[2018-05-07 17:12] Guglio95 opened #1999 "Zammad web interface crashes, maybe it's caused by Telegram Bot"
### Infos:

* Used Zammad version: latest, just compiled from "stable" branch
* Installation method (source, package, ..):  Docker: https://github.com/Guglio95/zammad-docker-noElasticSearch  with provided docker-compose.yml
* Operating system:  Description:	Ubuntu 16.04.3 LTS
* Database + version:  MariaDB 10.0.2 (https://hub.docker.com/_/mariadb/)
* Elasticsearch version:  Not installed
* Browser

[2018-05-07 20:47] Guglio95 commented on #1999
Still having problems with MySQL. I've tried to change to a brand new postgresql installation, still getting:

[code]

[2018-05-08 05:09] martini commented on #1995
Update: Indexes are existing. It's just to much load/work to generate the "waiting time report".

[2018-05-08 06:27] #1996 closed

[2018-05-08 07:11] hiaz commented on #1643
@thorsteneckel Thank you for asking. I just talked to the support team. With 2.1 they had the problem multiple times a day. Now they could not remember when it appeared last time... A very good sign, I think ;). From my side we can close the issue.

[2018-05-08 07:27] hanneshal opened #2000 "Allow creation of multiple accounts which share the same E-Mail in syncs"
### Infos:

* Used Zammad version: 2.4
* Installation method (source, package, ..): source
* Operating system: CentOS
* Database + version: Postgres 9.4
* Elasticsearch version: 5.6
* Browser + version: Safari 11.1

### Expected behavior:

* It should be possible to sync users, who share the same E-Mail address but have different sAMAccount names.

### Actual behavior:

* A sync only creates the l

[2018-05-08 07:45] thorsteneckel commented on #1643
Thanks for your fast feedback! This is really a good sign :) JFI: We did some performance improvements with Zammad 2.3 and 2.4 but this issue was not on our "ask feedback" list. However, I will close it now. Let me know if we have to take action 👍

[2018-05-08 07:45] #1643 closed

[2018-05-08 07:48] hiaz opened #2001 "Scheduler destroys variables in text (after a while)"
### Infos:

* Used Zammad version: 2.4

### Expected behavior:

If I put something like:

[code]
into the subject and body of an email reply at "EXECUTE CHANGES ON OBJECTS", variables should stay as they are.

### Actual behavior:

If I put something like:

[code]
into the subject and body of an email reply at "EXECUTE CHANGES ON OBJECTS" then "after a while" it looks like this:

[code]

As a resu

[2018-05-08 08:36] thorsteneckel commented on #2001
Can be reproduced:

[code]

[2018-05-08 08:39] thorsteneckel commented on #1770
Fixed with the merged PR. Thanks @mantas !

[2018-05-08 08:39] #1770 closed

[2018-05-08 08:48] thorsteneckel commented on #1999
Hi @Guglio95 - I think that there are at least two issues:

One is the charset issue you described above. Sadly you removed the interesting parts of the log file 🤓 Could you please provide the full traceback after the log line `Mysql2::Error: Incorrect string value` which looks like a list of file paths?

The other one is a permission issue:

[code]
Zammad get's an update from Telegram that there

[2018-05-08 09:01] thorsteneckel commented on #1591
Hi @jaykijay - we are now ready to work on the issue. However, the Zammad instance got removed already 😱 Could you please provide a detailed step by step description how to reproduce this in a newly created Zammad instance?

[2018-05-08 09:12] thorsteneckel commented on #1526
Reproduced:
![create_customer](https://user-images.githubusercontent.com/3873515/39748523-91454b28-52b0-11e8-82e0-c9588fbe2ecc.gif)

[2018-05-08 09:19] Guglio95 commented on #1999
Hi: @thorsteneckel :vulcan_salute:

Now I'm using postgresql without any charset issue, I'll try to switch back to MySQL in order to see what's going on after query error, yesterday logs are gone :cry:

I'm not sure about Telegram's wrong authentication credentials... I just put my Telegram Bot Token into zammad's config page and it's sending/receiving messages without any issues.
I'm uploading po

[2018-05-08 09:19] thorsteneckel commented on #1339
Sorry to say but it seems we mixed things up over here. This bug still persists:
![create_customer](https://user-images.githubusercontent.com/3873515/39748759-3640e844-52b1-11e8-8d0f-038db9d41f7c.gif)

This one worked in my tests. However, maybe it is broken when using two different browsers and the second one doesn't get updated and still has the list of all/more possible groups and there is no s

[2018-05-08 09:33] MrGeneration commented on #1591
Hey,

I could reproduce this in my production system @2.4 - but it's a bit different here: It shows me mostly "1 agent" inside:

![image](https://user-images.githubusercontent.com/6549061/39749343-bdef9c76-52b2-11e8-9776-607dc80f029e.png)

Let's take "Bühne" as example - when I want to trag it into the group, I can only see me as agent. If I take a look into "Spam"  then I can see the correct 2 ag

[2018-05-08 10:35] thorsteneckel commented on #1591
Great! Thanks @MrGeneration ! @mantas - can you please check if you can verify this?

[2018-05-08 10:35] #1977 closed

[2018-05-08 10:36] mantas commented on #1591
@thorsteneckel sure, will take a look in a moment

[2018-05-08 10:37] mantas opened #2002 "Big file upload fails randomly"
### Infos

* Used Zammad version: 2.4
* Installation method (source, package, ..): source
* Operating system: Mac OS
* Database + version: PostgrSQL 9.6.1
* Elasticsearch version: -
* Browser + version: Chrome

### Expected behavior:

* File is uploaded and filename shown

### Actual behavior:

* File name is not shown

### Steps to reproduce the behavior:

* Try to upload > 100MB file. The bigger

[2018-05-08 10:44] mantas commented on #2002
This is PostgreSQL issue with storing big binary files in `bytea` field.

Filesystem file storage can be used as a workaround. Do not forget to back up uploaded files if using off-database storage!

[2018-05-08 10:44] #2002 closed

[2018-05-08 11:10] thorsteneckel commented on #1744
No feedback so I assume this is either fixed or lost relevance due to the new functionality in Zammad 2.5. Closing now.

[2018-05-08 11:10] #1744 closed

[2018-05-08 11:14] Mannshoch opened #2003 "Integrate a Spell checker like Languagetool"
From: https://community.zammad.org/t/integrate-a-spell-checker-like-languagetool/204

I would prefer https://www.languagetool.org because It’s possible to use it with a online service or if you wish you could run your own server.

At moment I run my own server on my Desktop and use it with a Firefox Plug-in. But that is not a solution for everyone, Also its not easy to setup a Company Dictionary t

[2018-05-08 11:16] thorsteneckel commented on #2003
Please read our intro text before creating issues. This is not an issue but a feature request. I see that you already created an entry over at the community board but it looks like there is not enough interest from the community to pick it up. Closing and locking now.

[2018-05-08 11:16] #2003 closed

[2018-05-08 11:26] thorsteneckel commented on #1584
Hi @sandrodz - It's been a while since you created this issue. In the meantime some things have changed - in the Zammad code and the form we report issues. Could you please do the following to help us address this issue:

- Verify that the issue still persists in the latest version of Zammad
- Create a new issue and fill out the issue template completely
- Provide a detailed step by step guide (wi

[2018-05-08 11:26] #1584 closed

[2018-05-08 11:27] thorsteneckel commented on #1587
Hi @hamzehmohammadnia - It's been a while since you created this issue. In the meantime some things have changed - in the Zammad code and the form we report issues. Could you please do the following to help us address this issue:

- Verify that the issue still persists in the latest version of Zammad
- Create a new issue and fill out the issue template completely
- Provide a detailed step by step

[2018-05-08 11:27] #1587 closed

[2018-05-08 11:32] thorsteneckel commented on #1597
This is already possible. Just create a reporting profile that matches your needs:
![localhost_3000_](https://user-images.githubusercontent.com/3873515/39754958-3dcc5b44-52c4-11e8-92d5-cc77f42bda60.png)

[2018-05-08 11:32] #1597 closed

[2018-05-08 11:46] thorsteneckel commented on #1620
To be honest I think this applies only for some use cases but the broader userbase of Zammad requires the current state. However, you can change this in your local System by executing the following command in the
[Zammad rails console](https://docs.zammad.org/en/latest/admin-console.html#start-zammad-s-rails-console):

`Ticket::Article::Type.find_by(name: 'note').update!(communication: true)`

Thi

[2018-05-08 11:46] #1620 closed

[2018-05-08 11:48] thorsteneckel commented on #1631
Hi @vishnus - we did some major performance improvements in Zammad 2.3 and 2.4 and working on some for 2.5. Please update your system accordingly and see if it still persists. I'll close here for now since you have a special case where we can only offer commercial support from here.

[2018-05-08 11:48] #1631 closed

[2018-05-08 11:53] thorsteneckel commented on #1867
Hi @lpar - could you please move this over to the http://community.zammad.org/ since it's a technical question. Would be great if you could provide some more context (maybe screenshots?) because currently I don't fully get it.
Regarding the german text: This is a deeper issue and was (party) addressed in the linked PR above.

I'm closing this one here now.

[2018-05-08 11:53] #1867 closed

[2018-05-08 11:54] thorsteneckel commented on #1988
I think we should discuss this over at the http://community.zammad.org/ until we have a solution that fits the needs of the majority. Thanks 👍

[2018-05-08 11:54] #1988 closed

[2018-05-08 11:57] thorsteneckel commented on #1272
Although this issue was first there are more information and a wider discussion over at #1589 so I'm closing this one in favor of the other. Feel free to provide some additional information if needed.

[2018-05-08 11:57] #1272 closed

[2018-05-08 12:27] #1995 closed

[2018-05-08 13:01] #1990 closed

[2018-05-08 13:03] martini commented on #1937
For selecting / creating triggers it can be available. Because may you want to inform the customer if this field has been updated.

@GreXXL Thanks for the doc enhancement.

[2018-05-08 13:04] #1937 closed

[2018-05-08 13:38] bvanleenhoff opened #2004 "UI Bug - Lock symbol for article changes after saving"
### Infos:

* Used Zammad version:  2.4.x and 2.3.x tested
* Installation method (source, package, ..): ubuntu / apt
* Operating system: ubuntu 16.04
* Database + version: standard
* Elasticsearch version: standard
* Browser + version: current firefox

### Expected behavior:

* after saving an article the lock symbol should stay the same

### Actual behavior:

* the symbol changes to its opposite

[2018-05-08 13:50] thorsteneckel commented on #2004
Hi @bvanleenhoff - I'm not sure if I get it right. For me it works:
![internal_switch](https://user-images.githubusercontent.com/3873515/39761055-4fe4db2c-52d7-11e8-9376-a0b991038a18.gif)

I think you have a trigger that is configured wrong? However, I will close this issue for now. Please provide a detailed step by step guide on how to reproduce. If the steps are the same as in my GIF above pleas

[2018-05-08 13:50] #2004 closed

[2018-05-08 13:58] bvanleenhoff commented on #2004
thanks for the quick reply! I think it is by design since you show what action can be done after the article is saved and not the state of the article.
e.g. we close the lock and after saving we have the option to open the lock - so you display an open lock - which is a little confusing to be honest - combined with the not so distuingishable symbols (which you have a feature request for) it can pl

[2018-05-08 14:39] mister-wolf commented on #675
I tried to make an import. I prepared a file with the following columns:
login;first name;last name;organization;E-mail

Import fails with the following error

`ActiveRecord::StatementInvalid: Mysql2::Error: Unknown column 'text_modules.login' in 'where clause': SELECT `text_modules`.* FROM `text_modules` WHERE `text_modules`.`login` = 'testuser@domain.com'
	from app/models/application_model/can_l

[2018-05-08 14:42] thorsteneckel commented on #675
Hi @mister-wolf - as described in my earlier comment you need to change the Model (`TextModule`) to the Model you want to import (`User`). So instead of:

[code]

use:
[code]

[2018-05-08 21:27] noezdev commented on #1931
So the issue / bug should be set to open again?

[2018-05-08 21:27] noezdev commented on #1960
Currently it is not fixed.

[2018-05-09 00:23] Wardrop opened #2005 "Can't configure LDAP and "Counting entries" never ends"
### Infos:

* Used Zammad version: 2.4.0
* Installation method (source, package, ..): Source
* Operating system: macOS 10.13.4
* Database + version: MySQL 5.7.19
* Elasticsearch version: N/A
* Browser + version: Chrome (latest)

### Expected behavior:
LDAP "configure" button should be enabled to allow configuration, and " Counting entries. This may take a while." shouldn't take forever.

### Actua

[2018-05-09 06:27] thorsteneckel commented on #2005
Hi @Wardrop - So you are saying that the configure button was always disabled and you were never able to click it?
Could you please reload the Zammad tab and have a look at your browser console. If there is an error, please provide a screenshot. Otherwise please provide your `log/production.log` file.

[2018-05-09 06:30] thorsteneckel commented on #1960
Yes, we can't since it's a third party issue. FB is performing audits for their APIs and is limiting the access for other applications.

[2018-05-09 06:32] thorsteneckel commented on #1931
Have you tried the `develop` branch?

[2018-05-09 06:44] mister-wolf commented on #675
hi @thorsteneckel, got it. So sorry for the dumb question. After some digging, it looks like I was able to import Organizations and Users succesfully. Thank you once again.

[2018-05-09 06:46] thorsteneckel commented on #675
You're welcome! Would be great to receive a [Pull Request](https://help.github.com/articles/creating-a-pull-request/) over at https://github.com/zammad/zammad-documentation :)

[2018-05-09 08:56] hamzehmohammadnia opened #2007 "Email notification-New tickets"
### Infos:

* Used Zammad version: 2.4
* Installation method (source, package, ..): .RPM
* Operating system: Centos 7
* Database + version: Any-Mysql
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:
When a ticket is sent to the Zammad, zammad sends automatic notification to all related/associated agents. Within this email/notification Information states the content of

[2018-05-09 09:14] thorsteneckel commented on #2007
You can change this in the template of the corresponding notification in `app/views/mailer`. Since this is more a personal preference you can discuss this with the community over at http://community.zammad.org/ . Maybe we pick it up if its in the interest of the community 👍

[2018-05-09 09:14] #2007 closed

[2018-05-09 10:31] thorsteneckel commented on #2000
I just verified it: This already works since #1746 was implemented. All you need to do is to set the Setting `Setting.set('user_email_multiple_use', true)` via the [Zammad rails console](https://docs.zammad.org/en/latest/admin-console.html#start-zammad-s-rails-console).

However, this only works for LDAP currently. The Exchange integration doesn't support it. Therefore I will keep this issue open

[2018-05-09 13:34] MrGeneration commented on #635
Hey,

the unprocessable E-Mail is logged within production.log.
Those E-Mails will be moved to `/opt/zammad/tmp/unprocessable_mail/` as a simple eml-file that you can simply open with e.g. VI or VIM :)

[2018-05-09 13:54] hamzehmohammadnia commented on #635
Thanks @MrGeneration ,
I can see the sender and time that has been sent, but not the content. Is there anyway to fetch the content of email?

[2018-05-09 13:56] MrGeneration commented on #635
The E-Mail should always contain the E-Mail body - maybe the import has been interrupted or the mail came like this to your server. Maybe the logfile helps out there, sorry if that doesn't really help.

[2018-05-09 15:46] hamzehmohammadnia commented on #1970
Hi,

I have faced a similar issue, and have set the "max_allowed_packet" to 104857600. However, I have seen many emails are not processed while their size is less than 3MB or sometimes around 25MB. I dont see the spamming probability since they are from valid DNS. Is there any reason for this?

[2018-05-09 15:53] martini commented on #1970
@hamzehmohammadnia

there are usually 2 reasons for not being able to process email.

1) A temporally issue - e. g. database connection lost or something like that. In this case you can execute the following command to execute alle mail in tmp/unprocessable_mail/*.eml again:

`zammad run rails r 'Channel::EmailParser.process_unprocessable_mails'`

If mails are processed then, the issue was not wit

[2018-05-09 18:01] noezdev commented on #1931
no

[2018-05-09 18:25] thorsteneckel commented on #1250
No feedback in more than two weeks -> closing. Feel free to provide further information.

[2018-05-09 18:25] #1250 closed

[2018-05-09 18:29] thorsteneckel commented on #1714
Hi @deadda7a - can you still reproduce this in the latest version of Zammad? If so, please retry on a free https://zammad.com/getting-started instance and post us the name. Thanks!

[2018-05-09 18:31] thorsteneckel commented on #1779
Sorry to say @antikilahdjs but the email/file is gone again. Please just zip the file and upload it here. Github allows `.zip` files 👍

[2018-05-09 18:33] thorsteneckel commented on #1789
Since there is no feedback in three month I will close this issue. Feel free to provide the needed information on how to reproduce this. Other users please open a new issue. Thanks!

[2018-05-09 18:33] #1789 closed

[2018-05-09 18:34] thorsteneckel commented on #1864
Closing now since it works as designed.

[2018-05-09 18:35] thorsteneckel commented on #1929
Seems to be clarified since no feedback was provided. Closing for now.

[2018-05-09 18:35] #1929 closed

[2018-05-09 18:39] thorsteneckel commented on #1938
Hi @GreXXL - can you please setup Zammad instance over at https://zammad.com/getting-started and post the name of the instance here afterwards? This will help us on finding the cause and reproduce the issue. Thanks!

[2018-05-09 20:33] mschiff commented on #1864
@martini I think usability of this is not very good. To me it looked broken when I tried to use this. Why not build a list of possible owners from the list of selected tickets? The list should contain all agents that have access to all selected tickets.
I am sure this would increas usability a lot.

[2018-05-10 00:18] Wardrop commented on #2005
Correct. The "Configure" button is always greyed out as shown in that screenshot.

Here's a screenshot of the console.

![screen shot 2018-05-10 at 8 20 02 am](https://user-images.githubusercontent.com/201442/39842721-f995e054-542a-11e8-8319-b2148d4e2a6d.png)

I'm running Zammad using `rails s -p 3000`

[2018-05-10 06:32] uli-heller commented on #2005
I did a similar installation just a couple of days ago but on ubuntu. For me, the LDAP configuration worked really fine. By looking at the screenshot, I see these differences:

1. LDAP was deactivated on my installation (the switch right to the left of the headline LDAP)
2. I was able to configure LDAP while it was deactivated
3. I activated it after the configuration

Maybe you clicked on the act

[2018-05-10 06:42] uli-heller opened #2008 "Translation error - English: "from/to", German: "von/bis" should be "von/nach" at some places"
### Infos:

* Used Zammad version: 2.4.0
* Installation method (source, package, ..): source
* Operating system: ubuntu 18.04
* Database + version: mysql
* Elasticsearch version: 5.6.x
* Browser + version: Chrome

### Expected behavior:

* For example in ticket history, show "von ... nach ..."

### Actual behavior:

* "von ... bis ..."

![auswahl_203](https://user-images.githubusercontent.com/1677

[2018-05-10 07:39] uli-heller commented on #1286
I do have the same issue. I'm trying to run zammad on a server without outgoing connections to the internet. Only incoming connections and certain well defined outgoing connections are allowed. In fact, I'd like to:

* Use outgoing connections only for emails
* Don't use any connection to google

Is this a valid setup? Do I get rid off the error message when I provide a local holiday feed within t

[2018-05-10 07:47] uli-heller opened #2009 "Calendar: Unable to edit because the dialog box is way too high and no scrollbar"
### Infos:

* Used Zammad version: 2.4.0
* Installation method (source, package, ..): source
* Operating system: ubuntu 18.04
* Database + version: mysql
* Elasticsearch version: 5.6.x
* Browser + version: Chrome

### Expected behavior:

* Show a scrollbar in case the dialog box is too high

### Actual behavior:

* A very high dialog box shows up, the "save" button cannot be reached

![auswahl_204

[2018-05-10 07:49] martini commented on #2009
Hi @uli-heller

the dialog screen should be scrollable. At the end you can press submit.

<img width="1277" alt="screen shot 2018-05-10 at 09 48 03" src="https://user-images.githubusercontent.com/110226/39858607-5ed0b6cc-5437-11e8-87f9-d080093d8523.png">

Is that not working on your side?

 -Martin

[2018-05-10 07:58] uli-heller opened #2010 "SLA by organisation: Inactive organisations show up"
### Infos:

* Used Zammad version: 2.4.0
* Installation method (source, package, ..): source
* Operating system: ubuntu 18.04
* Database + version: mysql
* Elasticsearch version: 5.6.x
* Browser + version: Chrome

### Expected behavior:

* Auto-complete shows only active organisations

### Actual behavior:

* Auto-complete shows active and inactive organisations

![auswahl_205](https://user-images

[2018-05-10 08:36] uli-heller commented on #2009
OK, my fault. Scrolling did not work since the focus was on the input field "name". It works one you click outside of this field but inside the dialog box.

[2018-05-10 08:36] #2009 closed

[2018-05-10 08:40] uli-heller commented on #1971
I'm hit by this issue, too. It prevents me from creating calendars. Does anyone know what to enter in this field? I don't care about auto-completion for now. Entering "Europe/Berlin" doesn't work unfortunately.

[2018-05-10 09:42] noezdev commented on #1931
I tried it now. In develop branch twitter works fine.

[2018-05-10 10:17] thorsteneckel commented on #1931
Great! Thanks for your feedback @noezdev - so it works as expected and the bug is resolved in the current state of `develop` / 2.5.

[2018-05-10 12:11] mantas opened #2011 "User appears multiple times in drag&drop overlay in a group"
### Infos:

* Used Zammad version: 2.4

### Expected behavior:

* Adding a user to a group, it appears in Drag&Drop overlay in a group

### Actual behavior:

* If user has a la carte permissions ("create", "update") instead of "full", he appears multiple times

![img_2815](https://user-images.githubusercontent.com/36944/39868871-24433160-5464-11e8-98ff-4cf6e892a41d.jpg)

### Steps to reproduce the

[2018-05-10 12:21] mantas opened #2012 "User can have "full" and a la carte ('create', 'change') group permissions at the same time"
### Infos:

* Used Zammad version: 2.4

### Expected behavior:

* If a user is granted "full" permission for a group, other permissions should be automatically removed from database

* If a user is granted non"full" permission for a group, "full" permission should be revoked

### Actual behavior:

* If a user is granted "full" permission for a group, other permissions stay as they were

* If a use

[2018-05-10 13:45] uli-heller opened #2013 "Zammad stopped fetching emails via imap"
### Infos:

* Used Zammad version: 2.4.0
* Installation method (source, package, ..): source
* Operating system: ubuntu 18.04
* Database + version: mysql
* Elasticsearch version: 5.6.x
* Browser + version: Chrome

### Expected behavior:

* Fetch emails from the imap server and put the content of the emails in new tickets or existing tickets

### Actual behavior:

* Roughly two hours ago, zammad st

[2018-05-10 13:48] thorsteneckel commented on #2013
Looks like a duplicate of #1861 to me. Since it's not clear what causes it I would recommend keeping an eye on it and report any information about how to reproduce this in the other issue. You can restart your scheduler to make Zammad fetch your mails again.

[2018-05-10 13:48] #2013 closed

[2018-05-10 13:56] uli-heller commented on #2013
Unfortunately, restarting the scheduler doesn't work. I stopped all 3 processes and restarted them. Within the log, I see `I, [2018-05-10T15:54:38.014479 #2765]  INFO -- : Scheduler running...` but the imap fetching doesn't work.

[2018-05-10 13:57] uli-heller commented on #2013
BTW: I doubt that my imap server wasn't available...

[2018-05-10 13:59] thorsteneckel commented on #2013
Please redo a restart and provide your `log/production.log`, `log/scheduler_err.log` and `log/scheduler_out.log` after another restart so we can reason about it.

[2018-05-10 14:02] uli-heller commented on #1861
I've created #2013 which supposedly is a duplicate of this. For my issue, the imap server was available all the time. I didn't setup anything related to facebook. I restarted the scheduler process and it doesn't help, zammad isn't fetching imap emails.

When I reconfigure the email channel, I get this:

[code]

[2018-05-10 14:04] thorsteneckel commented on #2013
Hi @uli-heller - if you are in doubt that your server wasn't available please post all the requested files over here. Please don't just post parts of the logs but everything that was logged after your restart. Thanks.

[2018-05-10 14:10] MrGeneration commented on #1864
This was also mentioned in community as Feature request:

https://community.zammad.org/t/change-the-way-mass-changes-work/526

:)

[2018-05-10 14:17] uli-heller commented on #1861
I just realized the Monitoring screen. It shows like this:

![auswahl_206](https://user-images.githubusercontent.com/1677414/39874244-8fdfe0e0-546d-11e8-97cb-58787c171b97.png)

The three channels are three inbound imap connections. All looks good. What can I do?

[2018-05-10 14:25] uli-heller commented on #2013
@thorsteneckel I'll collect the files and place them here after filtering hostnames and usernames. Will take a couple of minutes. Thanks for taking the time caring about my issue.

[2018-05-10 14:28] thorsteneckel commented on #2013
Sure - you're welcome. We will find a solution 👍 Please consider that each comment creates/sends an email to everybody subscribed to the issue and/or watching the Zammad repository. This might create a lot of noise for at least 100 people 🤓

[2018-05-10 15:05] thorsteneckel commented on #2013
I'm glad that it's resolved. Let's blame it on the weather 😉In case it occurs again please use our [community board](https://community.zammad.org/) first to verify that's an actual issue that affects all Zammad instances to prevent sending of mails to the 100 folks "watch"ing the repository. Enjoy using Zammad.

[2018-05-11 05:14] #1956 closed

[2018-05-11 08:43] thorsteneckel opened #2014 "Import job (LDAP/Exchange) hangs on scheduler restart"
### Infos:

* Used Zammad version: 2.4

### Expected behavior:

* Import jobs (LDAP/Exchange) should not get stuck when restarting the scheduler.

### Actual behavior:

* Import jobs (LDAP/Exchange) get stuck when restarting the scheduler.

### Steps to reproduce the behavior:

* Make sure an Import job (LDAP/Exchange) was started via the scheduler. Manually started jobs via `.delay` won't work.
*

[2018-05-11 09:43] martini commented on #1971
It's fixed in current stable. Please upgrade your Zammad OS package and it should work fine now.

Feedback is welcome!

[2018-05-11 09:43] #1971 closed

[2018-05-11 09:50] rlue commented on #1818
@strangechoice, I can only partially reproduce this behavior:

#### 1. ❌ all LDAP users get disabled

First, some background: each time you perform an LDAP sync, Zammad will deactivate **any users who were added in a previous LDAP sync but are absent from (or skipped in) the current one** (instead of removing them altogether).

Now, onto your problem: I noticed the following line in your LDAP sett

[2018-05-11 11:22] #1987 closed, assigned to mantas

[2018-05-11 12:33] thorsteneckel commented on #1561
Please provide a list over here. You can add more as you find them but remember that each written comment sends a mail to everybody watching this repository (currently 102 people). Thanks!

[2018-05-11 12:35] thorsteneckel commented on #2008
Hi @uli-heller this is caused by the decision to use english as a base language. This causes issues like this because of differing contextual meaning of a single word. This can't be changed that easy. I'll label this post as `refactoring` but don't expect to get a solution soon 😞 Thanks for reporting anyway.

[2018-05-11 12:39] thorsteneckel commented on #2005
I'm pretty sure this is caused by [not starting all Zammad services](https://docs.zammad.org/en/latest/install-source.html#start-zammad). Zammad will run much faster, send and receive messages etc. after you started  those.
Please use our [community board](http://community.zammad.org/) for technical questions. Thanks!

[2018-05-11 12:39] #2005 closed

[2018-05-11 18:29] RobertKalteis commented on #1127
Hi I've same problem rails don't show the new states and I want to change one of my created states.
On webview states are visible but
`rails> Ticket::StateType.all `
just show default states

[2018-05-12 12:07] thorsteneckel commented on #1127
Hi @RobertKalteis - please use our [community board](http://community.zammad.org/) for technical questions. However, it looks like you mixed things up. ` Ticket::StateType`s are not ` Ticket::State`s. Please create topic over at the board and describe what you want to do and what you've already done. Thanks!

[2018-05-12 19:31] GreXXL commented on #1938
Hm. Thanks tried that and it worked. I revisited my configuration and got it to work (with the latest patch level) on my instance as well. So https://test-1938.zammad.com/ is unnecessary. The only thing that still would be cool is if you could select which channel types this should be for (type is only for the last update as mentioned)

[2018-05-13 09:27] thorsteneckel commented on #1938
Hi @GreXXL - Thanks for your feedback. I'll close this one here since it's resolved.

Regarding your "channel types" point: Zammad Tickets are not limited to one channel. So you can have an incoming Tweet and over time you could switch over to e.g. Email. So this would be a mixed-channel Ticket.
What do you think on how should Zammad act in this situation? Feel free to move this discussion over to

[2018-05-13 09:27] #1938 closed

[2018-05-13 09:46] thorsteneckel commented on #1029
Hi @mmojadad - I don't know why your issues were gone and are now back again. However, in the meantime we added RTL support. There are still some issues open but in general it's supported. So I'll close this issue now.

[2018-05-13 09:46] #1029 closed

[2018-05-13 09:47] thorsteneckel commented on #1056
Please move this over to our [community board](http://community.zammad.org/) if still relevant since it's not a actual issue. Thanks!

[2018-05-13 09:47] #1056 closed

[2018-05-13 09:48] thorsteneckel commented on #963
Please move (technical) questions over to our [community board](http://community.zammad.org/). Closing now.

[2018-05-13 09:48] #963 closed

[2018-05-13 09:52] thorsteneckel commented on #1136
There is currently no API / callback for this in the Telegram Bot API we use. So we can't build it. Closing now. Feel free to reopen/comment if it's available.

[2018-05-13 09:52] #1136 closed

[2018-05-13 09:54] thorsteneckel commented on #1137
Feature requests are now required to be discussed in our [community board](http://community.zammad.org/) first. Feel free to open a topic over there.

[2018-05-13 09:54] #1137 closed

[2018-05-13 09:54] thorsteneckel commented on #1138
Duplicate of #290.

[2018-05-13 09:54] #1138 closed

[2018-05-13 09:55] thorsteneckel commented on #1139
Either I don't get the use case or Zammad is not the right tool for this requirement. Feel free to open a discussion over at our [community board](http://community.zammad.org/).

[2018-05-13 09:55] #1139 closed

[2018-05-13 09:59] thorsteneckel commented on #1143
Please explain in detail on how to reproduce this in the latest version of Zammad.

[2018-05-13 09:59] #1143 closed

[2018-05-13 10:01] thorsteneckel commented on #1147
You can use text modules in chats - see #443.

[2018-05-13 10:01] #1147 closed

[2018-05-13 10:02] thorsteneckel commented on #1634
This was already fixed in the meantime.

[2018-05-13 10:02] #1634 closed

[2018-05-13 10:11] thorsteneckel commented on #1993
Please try to [set the ENV['HTTP_PROXY']](https://stackoverflow.com/a/6869489) for your Zammad user / all your Zammad processes.

[2018-05-14 08:29] martini commented on #1971
Thanks for feedback!

[2018-05-14 08:31] martini opened #2016 "Scheduler will stop after removing own ticket attribute but overview with condition which is including attribute git dropped"
### Infos:

* Used Zammad version: 2.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Do not allow to drop ticket attributes via object manager where the ticket attributes is still used in trigger, overview or scheduler

### Actual behavior:

* Dropping ticket attrib

[2018-05-14 12:05] Newan commented on #991
The first + of each number is removed, like this example

 curl -X POST --data "event=newCall&from=+492111234567&to=+4915791234567&direction=in&callId=1234561&user[]=Alice&user[]=Bob"

![image](https://user-images.githubusercontent.com/3693094/39996399-9fd15af0-577f-11e8-948d-5a9251fe9fdd.png)

So the telephone link in zammad is missing the +

[2018-05-14 12:19] thorsteneckel commented on #991
Hi @Newan - please create a new issue for this and fill out the issue template. We will have a look then. Thanks.

[2018-05-14 12:20] Newan opened #2017 "Telephone notify not clearing on leftside, the number of open calls are froozen"
### Infos:

* Used Zammad version: 2.4
* Installation method (source, package, ..): package deb
* Operating system: ubuntu 16.04
* Database + version: postgresql
* Elasticsearch version: n/a
* Browser + version: chrome

### Expected behavior:

* the number of calls in the left menu are the same as the open calls in the caller log

### Actual behavior:

* the number of open calls are froozen
![imag

[2018-05-14 12:32] Newan opened #2018 "First + from an Telefonlink is deleted"
### Infos:

* Used Zammad version: 2.4
* Installation method (source, package, ..): package deb
* Operating system: ubuntu 16.04
* Database + version: postgresql
* Elasticsearch version: n/a
* Browser + version: Chrome Version 66.0.3359.170

### Expected behavior:

* not delete the first + character for country calls like +49 and create the telefonlink in zammad with + an front like tel:+491111111

[2018-05-14 14:33] deadda7a commented on #1714
Hi!
This is still an issue. Sorry for the delayed answer, but I don't work at the company this bug first happened anymore so I had to ask my ex-colleagues.
I spun up a test instance: https://test-orga-for-github.zammad.com/#ticket/zoom/2

[2018-05-15 04:14] rlue commented on #1818
Now that I've had a chance to investigate the problem more closely, can you tell me how your LDAP users and groups are associated?

As you may have noticed in `lib/ldap/group.rb`, [the `Ldap::Group#user_roles` method looks for groups containing a `member`, `memberuid`, or `uniquemember` attribute](https://github.com/zammad/zammad/blob/develop/lib/ldap/group.rb#L83), and uses the value of that attr

[2018-05-15 06:56] Sandalas commented on #1862
FYI - I got my dev update scheduled for the 23.05. 😕

[2018-05-15 07:27] strangechoice commented on #1818
Hi rlue,

our LDAP tree is quite complex. The association between users and groups is the classic one between __posixAccount__ and __posixGroup__ aka __memberUid__ in __posixGroup__ and additionally the __gidNumber__ attribute in __posixAccount__ (could be ignored though in the context of Zammad...).

Users are in __ou=users,ou=phil-fak,o=hhu,c=de__
Groups are in __ou=groups,ou=phil-fak,o=hhu,c=de

[2018-05-15 08:13] rlue commented on #1773
See also #1818, which raises the following concerns:

1. Currently, LDAP import requires certain attribute mappings (specifically, it must designate an LDAP attribute corresponding to **either the 'Firstname' or 'Lastname'** Zammad attributes). Without either of these attribute mappings, the LDAP sync will skip over all user records.

   However, some LDAP schemas may store these user attributes e

[2018-05-15 08:13] rlue commented on #1818
Upon further consideration, this appears to describe a whole collection of problems arising from Zammad's incomplete handling of LDAP configurations. I'm going to close this issue as a duplicate of #1773, and [summarize/reference the problems you describe here in that thread](https://github.com/zammad/zammad/issues/1773#issuecomment-389082445).

Please let me know if I've overlooked or misstated a

[2018-05-15 08:13] #1818 closed

[2018-05-15 09:32] mmojadad commented on #1993
My proxy is available free needless of username/pass for my zammad IP address.

[2018-05-15 09:46] thorsteneckel commented on #1993
This is not limited to Zammad. You can look up e.g. [how to set the ENV for every session of a user](https://unix.stackexchange.com/questions/21598/how-do-i-set-a-user-environment-variable-permanently-not-session) - but it depends on your setup.

[2018-05-15 17:39] mmojadad commented on #1993
@thorsteneckel   Thank you
I walked based on following article, Also check my zammad server connectivity to the proxy via
$ nc -zv myproxyserverIP Port
And see connection is correctly established (Connect ) but still Telegram Bot return me "Delivery failed: "Unable to send telegram message: Request Timeout"
Thank you for all your advise.
http://www.thesysadminhimself.com/2013/08/configuring-web-pr

[2018-05-16 00:39] rlue commented on #1818
Thanks for your email.

Are you referring to line 48, which lists the mapping stored in `dn_roles` (and created by `Ldap::Group#user_roles`)? Or did you see other output indicating that?

I suspect the problem may be the [`Ldap::Group#filter` method](https://github.com/zammad/zammad/blob/develop/lib/ldap/group.rb#L114-L116), which sets the search filter to whichever of the following objectClasses

[2018-05-16 07:08] #2012 closed

[2018-05-16 07:08] #2011 closed

[2018-05-16 07:08] #1591 closed

[2018-05-16 07:18] crohr commented on #1994
Hello, ubuntu 18.04 has been enabled for the Zammad repo on Packager.io. Packages should be built on the next push.

[2018-05-16 07:38] strangechoice commented on #1818
Yes, I was referring to line 48, but I think the problem is in [`Ldap::Group#group_user_dns_memberuid` method](https://github.com/zammad/zammad/blob/develop/lib/ldap/group.rb#L143-L151). The search filter for `uid` should include `ldap_conf['user_filter']` as well. The found `dn`s for all role assignments are from other parts of the LDAP tree (`ou=hp-ilo,ou=systemusers,ou=phil-fak,o=hhu,c=de` and

[2018-05-16 08:43] monotek commented on #1632
thanks for clarification :-)

[2018-05-16 08:43] monotek commented on #1994
Thanks again :-)

[2018-05-16 10:27] rlue commented on #1999
Also, are you able to reproduce the `Mysql2::Error: Incorrect string value` error in the Rails console?

That is, from `rails console --sandbox`, does the following produce the same error?

[code]

I just installed MariaDB on my Debian machine, and was able to update the user record successfully without any errors. FWIW, my `database.yml` specifies `encoding: utf8`.

[2018-05-16 13:23] MrMontesa opened #2019 "strip out auto generated links by the browser"
As per discussion on [community board](https://community.zammad.org/t/malformed-url-links-in-triggered-mails/666), I file this ticket.

### Infos:

* Used Zammad version: 2.4.0
* Installation method (source, package, ..): CentOS7 package
* Operating system: CentOS 7.4
* Database + version: postgresql 9.2.23
* Elasticsearch version: 5.6.8
* Browser + version: Chrome 66 / Outlook 2016

### Expected

[2018-05-16 15:23] KoJie opened #2020 "Incorrect reset after deleting single object-selection"
### Infos:

* Used Zammad version: 2.4 (SaaS)
* Browser + version: Google Chrome Version 66.0.3359.139

### Expected behavior:

* When deleting a selection option (format: select), the selection of existing tickets should be set to "zero".

### Actual behavior:

* The selection of existing tickets categorized with the selection to be deleted is set to any other selection after deletion.

### Steps

[2018-05-16 19:50] lr1980 opened #2021 "backup script: tar - file changed warnings"
### Infos:

* Used Zammad version: latest
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: latest
* Browser + version: any

### Expected behavior:

* backup script that can used without errors or warnings (=no mails/logs from cron)

### Actual behavior:

* backup script can produce following warnings:
`tar: opt/zammad/tmp/c

[2018-05-17 01:36] rlue commented on #1818
That sounds reasonable. Since the LDAP configuration requires a more extensive redesign which we may not get to anytime soon, we're happy to add this change as a stopgap.

However, I can't confirm that this works without access to your LDAP server. Is there any chance you could run the script below (again, via `rails r`), and tell us if it fixes the problem on your end?

Or, does the all-users-get

[2018-05-17 06:19] winnidarks opened #2022 "If tags from users diabled, he cannot choose existing tags"
### Infos:

* Used Zammad version: 2.4.x
* Installation method (source, package, ..): package
* Operating system: Debian
* Database + version:
* Elasticsearch version: 5.6
* Browser + version: Firefox 60 ESR

### Expected behavior:

Users can choose existing tags, when the function to create new ones is disabled.

### Actual behavior:

If tags from users diabled, he cannot choose existing tags.

#

[2018-05-17 06:47] martini commented on #2018
@Newan

I just looked into my sipgate.io log, there is no + in my log.

For example:
[code]

So do you really get the leading + pushed by sipgate?

 -Martin

[2018-05-17 07:05] thorsteneckel opened #2023 "Twitter Account Activity API support"
### Infos:

* Used Zammad version: 2.4
* Installation method (source, package, ..): any

### Expected behavior:

* Zammad should support the [announced](https://blog.twitter.com/developer/en_us/topics/tools/2018/enabling-all-developers-to-build-on-the-account-activity-api.html) [Twitter Account Activity API](https://developer.twitter.com/en/docs/accounts-and-users/subscribe-account-activity/overvi

[2018-05-17 07:10] Newan commented on #2018
No we doesn´t use sipgate. i wrote my own extension in our swyxIT!. (i can published this?)
 if you send this event with an leading +, this + is removed. but the swyit required this in the telefonlink to used this on clicktocall

on https://github.com/zammad/zammad/issues/991 hiaz explained : "(Just to be sure) Throw away every + which is not the first sign", like the RFC

[2018-05-17 07:46] martini commented on #2017
How to reproduce:

1) Enable sipgate.io via admin interface and press submit at the end of the page
2) Execute `curl http://localhost:3000/api/v1/sipgate/in -X POST -F 'event=newCall' -F 'direction=in' -F 'from=491715000000' -F 'to=4930600000000' -F 'callId=4991155921769858278-2'` to show an incoming call
3) Execute `curl http://localhost:3000/api/v1/sipgate/in -X POST -F 'event=hangup' -F 'direct

[2018-05-17 08:00] thorsteneckel commented on #1481
Hi @tobibe - can you please verify that this still occurs in the latest version of Zammad?

[2018-05-17 08:02] thorsteneckel commented on #1543
Hi @rlue - can you please have a look at this? Except of point 5 because @martini is currently working on this for a paying customer (as discussed yesterday).

[2018-05-17 08:06] MorrisJobke opened #2024 "Update of the visibility of a note can not be used as trigger"
Hi Zammad team,

we have a trigger in place to send out an email to the customer once a public note is created to inform the customer about this change. The trigger for this looks like this:

![bildschirmfoto 2018-05-17 um 10 00 46](https://user-images.githubusercontent.com/245432/40164279-66e0a444-59b9-11e8-91f6-20f245270132.png)

It's the "update" action of an support case, where a note with vis

[2018-05-17 08:31] thorsteneckel commented on #1714
Hi @deadda7a - Thanks a lot for providing the test instance! I was able to reproduce the error and we will now start digging deeper. I already deleted the instance since it's not needed anymore. We'll let you know about any updates.

[2018-05-17 08:38] thorsteneckel commented on #1714
@deadda7a this is kind of embarrassing but actually I wasn't able to reproduce it 🤦‍♂️ I just copied your broken link... Since I was so eager cleaning up I now have no access to the instance anymore... Could you please create another instance and use this link here: `http://scs.at/news-detail/SCS%20VIP%20Lounge`. Thanks!

[2018-05-17 08:45] deadda7a commented on #1714
Ahahaha!
I tried it with your Link and it works but why?
I tried copying the link to the terminal before opening this issue so it would not have any weird html formatting and just be plain text, like your link.

https://test-orga-for-github1.zammad.com/#ticket/zoom/2

[2018-05-17 09:05] thorsteneckel commented on #1714
Thanks - Ok now I got it! I can reproduce this in stable. The good news is: This is already fixed in develop. But I don't know which commit fixed it 🤓 However, I'll mark it as fixed.

The difference between my link and the terminal/editor/etc. source is that the later are already detected as links by the OS. My link is marked as plain text. Actually I don't know why the terminal and editor detect

[2018-05-17 09:05] #1714 closed

[2018-05-17 09:40] thorsteneckel commented on #1993
Hi @mmojadad - let's just verify if your proxy works as expected:

1.) Create a file called `debug_issue.rb` in your Zammad directory (usually `/opt/zammad`) and replace the variables with your token and proxy data
2.) Run the file from your Zammad directory via `zammad run rails r debug_issue.rb` or `rails r debug_issue.rb` as zammad user, depending on your installation source (package/source)
3.

[2018-05-17 11:30] thorsteneckel commented on #1371
Dear @3ruce ,

first of all, many thanks for your participation on the Zammad open source project.

Not usual as with proprietary software, we finance Zammad through service. So it's less money we have at our disposal to push Zammad.

If you would like to support Zammad, you can do so via Zammad Support: https://zammad.com/pricing#selfhosted

For all issues it is generally important that we tag an

[2018-05-17 12:16] strangechoice commented on #1818
It's working:

`{"skipped"=>553, "created"=>1, "updated"=>12, "unchanged"=>1913, "failed"=>0, "deactivated"=>0, "sum"=>2479, "total"=>2479, "role_ids"=>{3=>{"skipped"=>0, "created"=>1, "updated"=>0, "unchanged"=>1909, "failed"=>0, "deactivated"=>0, "sum"=>1910, "total"=>0}, 1=>{"skipped"=>0, "created"=>0, "updated"=>4, "unchanged"=>0, "failed"=>0, "deactivated"=>0, "sum"=>4, "total"=>0}, 2=>{"skip

[2018-05-17 14:33] ArcheNoah77 opened #2025 "OTRS Migration don't work"
I want to migrate my otrs to zammad.
I set up zammad and the "getting_Started" page shows up.
I click on "migrate from another system" and then on "otrs(beta)"
After that this windows comes up:
![grafik](https://user-images.githubusercontent.com/25475591/40184126-bc4c88b8-59ef-11e8-9bb2-2b04879ea245.png)

I have already downloaded and installed the otrs plugin into my otrs and get the key.

What i

[2018-05-17 14:37] KoJie opened #2026 "Bulk action should not be shown if user has no change permissions"
### Infos:

Used Zammad version: 2.4 (SaaS)
Browser + version: Google Chrome Version 66.0.3359.139

### Expected behavior:

* If you do not have "change" permissions for tickets of a group, the Bulk-action should not be available.

### Actual behavior:

* The bulk-action in the overviews are available for tickets you don't have change-permissions for.
![image](https://user-images.githubusercontent

[2018-05-17 15:10] thorsteneckel commented on #2025
Please provide your `log/production.log` file. There should be the error message and a long stracktrace showing where things go wrong. We need this. Thanks.

[2018-05-17 17:32] ryankikta opened #2027 "Ticket overview sorting and state update issue"
### Infos:

* Used Zammad version: 2.4.x
* Installation method (source, package, ..): Ubuntu Deb
* Operating system: 16.04 xenial
* Database + version: google cloud MySql gen 2
* Elasticsearch version: 5.6.x
* Browser + version: any

### Expected behavior:

when agent or user updates ticket details ticket is updated in database and rendered in the appropriate overview in the web GUI.

Tickets that

[2018-05-17 19:53] monotek commented on #1994
Can anybody verify that it works?
I'd like to close the ticket.

[2018-05-17 21:41] TeraNovaLP commented on #1994
@monotek  I will test it tomorrow

[2018-05-17 22:14] bluenevus opened #2028 "love the product but the original sender of the ticket is not getting email updates"
love the product but the original sender of the ticket is not getting email updates

[2018-05-17 22:15] thorsteneckel commented on #2028
Thanks @bluenevus - means a lot! But please read our intro text before creating issues. This is not an issue but a technical question. You can ask questions over at https://community.zammad.org/ - Closing now.

[2018-05-17 22:15] #2028 closed

[2018-05-18 05:48] ArcheNoah77 commented on #2025
The Log file:
[production.log](https://github.com/zammad/zammad/files/2015603/production.log)

[2018-05-18 05:54] ArcheNoah77 commented on #2025
In Addition, this test shows up:

![grafik](https://user-images.githubusercontent.com/25475591/40218237-b8cbe09a-5a70-11e8-9472-0e9c9c8a9457.png)

[2018-05-18 06:25] thorsteneckel commented on #2027
Hi @ryankikta - can you please verify this on one of our hosted instances over at https://zammad.com/getting-started
Just tell us the instance name and how we ca reproduce it over there. Thanks!

[2018-05-18 06:43] martini opened #2029 "Make sipgate.io integration working by just enable it"
### Infos:

* Used Zammad version: 2.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Let sipgate.io working by just enabling it

### Actual behavior:

* Currently you need to enable it and press submit at the end of the page to store an empty configuration.

[2018-05-18 07:49] #2029 closed

[2018-05-18 08:28] rlue commented on #1773
Also, per the thread mentioned above, the LDAP wizard allows the user filter to be manually set, but the dropdown menu options in the attribute mapping section are not updated to reflect the new user filter's LDAP attributes.

As explained by @strangechoice,

[2018-05-18 09:11] martini commented on #2019
For some reasons the browser is quoting ticket.id als url (I guess the browser means .id as an url). The trigger content looks like:

[code]

Remark:

Wrong is:
`#{<a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}">ticket.id</a>}`

correct would be:

`#{ticket.id}`

@MrMontesa could you add your trigger perform content of your trigger to have an real example?

The output of

[2018-05-18 10:58] MrMontesa commented on #2019
Hey @martini
Please find below the output of the requested command:

[code]

Let me know if I can be of any help.
Thanks much
Sebastian

[2018-05-18 11:01] martini commented on #2019
@MrMontesa thanks for the fast feedback. It's good, this notification of trigger is different from that which I expected. 👍🏻

[2018-05-18 11:35] ArcheNoah77 commented on #2025
Now it works.
The Problem was an Alias and a redirection in the Apache Configs on the otrs server.

[2018-05-18 11:38] thorsteneckel commented on #2025
Nice! Thanks for sharing @ArcheNoah77

[2018-05-18 11:57] ryankikta commented on #2027
Hi,

In response to your query this is not a hosted instance, it is an instance
that I am attempting to get working correctly on the google cloud platform.

Thanks
Ryan

On Fri, May 18, 2018 at 2:25 AM, Thorsten <notifications@github.com> wrote:

[2018-05-18 12:03] thorsteneckel commented on #2027
Hi @ryankikta - I am aware of that. Could you please verify that the behavior you're describing is reproducible in a hosted instance. Otherwise it's a technical question but no issue. Technical issues can be discussed over at our [community board](http://community.zammad.org/)

[2018-05-18 13:48] bonkers223 opened #2030 "Can't select object with type tree_select as filter for overviews"
## Infos:
Used Zammad version: latest  2.3.x
Operating system: Ubuntu 16.04
Browser + version: Chrome - latest

## Expected behavior:
I create a new object of type tree_select. Then I want to select this object as filter for an overview.
Actual behavior:
I can't select the field in the dropdown of available fields. If I select select it works.

## Steps to reproduce the behavior:
Create an object

[2018-05-18 15:36] ryankikta commented on #2027
Hi Thorsten,

I am unsure if it is reproducible in a hosted instance my assumption is
that it may be, as I have created several instances in the cloud
environment and all display a similar behavior. I would have to find the
root cause, which I have yet to discover to say for sure, elasticsearch
seems to be central in the errors processing and updating tickets and
indexes.

I can give you more info

[2018-05-18 16:19] xf- opened #2031 "Column width is resized to a non readable minimum"
### Infos:

* Used Zammad version: 2.4
* Installation method (source, package, ..): deb package
* Operating system: Debian
* Database + version:
* Elasticsearch version:
* Browser + version: Firefox 62a (also saw this issue in normal stable version)

### Expected behavior:

* Column adjust with
* At least a way to reset the standard column width

### Actual behavior:

* Sometimes column width brea

[2018-05-18 18:52] TeraNovaLP commented on #1994
@monotek  The installation works fine, but the application doesn't start because "initctl" is missing.

[2018-05-19 05:10] ikiranreddy opened #2032 "How to configure office365 SMTP"
Dear Team,

I have new setup of zammad when I am giving smtp office365 credential it’s giving error.

If any one came across this situation and resolved the issue.

Please share how to configure office365 smtp with zammad.

[2018-05-19 07:11] monotek commented on #1994
You tried that in a real installation or in a docker container?

[2018-05-19 07:13] TeraNovaLP commented on #1994
I tested it in a real installation

[2018-05-19 07:47] muhammadn commented on #2032
Hi @ikiranreddy

Your question is a support question. Our github issues are for bug issues.
For support questions please go to https://community.zammad.org

Closing for now.

[2018-05-19 07:47] #2032 closed

[2018-05-19 13:07] monotek commented on #1994
The problem is in pkgr which thinks it has to use upstart instead of systemd.
I've created a pull request to fix it: https://github.com/crohr/pkgr/pull/148

[2018-05-21 23:09] martini commented on #1930
It's implemented for Zammad 2.5.

[2018-05-21 23:09] #1930 closed

[2018-05-22 06:19] martini opened #2034 "Add max_allowed_packet to config/initializers/db_preferences_mysql.rb"
### Infos:

* Used Zammad version: 2.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Some issues are caused because of to low max_allowed_packet of mysql/mariadb (see https://github.com/zammad/zammad/issues/1759), Zammad should complain if it's below 5 MB of "Zammad

[2018-05-22 06:32] hanneshal commented on #2031
Thx for the report. We are hunting this for  a while now....

https://community.zammad.org/t/we-need-your-help-columns-in-overviews-are-resized-to-the-unreadable/665/3

If you find a way to reproduce, let us now.

[2018-05-22 07:19] martini opened #2035 "Allow recursive triggers for tickets"
### Infos:

* Used Zammad version: 2.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* You set the ticket priority at ticket creation based on sender
* Because of new set priority you want to send a notification

### Actual behavior:

* You set the ticket priority at

[2018-05-22 07:49] rlue commented on #1577
This issue is being closed due to inactivity, and may be reopened at any time at the original filer's request (or that of anyone who can help reproduce it).

[2018-05-22 07:49] #1577 closed

[2018-05-22 09:28] ArcheNoah77 opened #2036 "LDAP after OTRS Migration don't work"
Hello everyone,

I set up ZAMMAD
I get the "getting started" page
I import from OTRS
After that i want to configure ldap sync
I type in ldap-server, the bind user and the other config.
After that, this windows appears and doesn't goes away:
![2018-05-22 10_50_37-zammad helpdesk - ldap](https://user-images.githubusercontent.com/25475591/40353823-bd96a098-5db2-11e8-823d-929a5c99716b.png)

The produc

[2018-05-22 09:35] thorsteneckel commented on #1190
Please use our [community board](http://community.zammad.org/) for technical questions. Thanks!

[2018-05-22 09:35] #1190 closed

[2018-05-22 09:36] thorsteneckel commented on #1367
Agreeing with @martini that using a macro would be the best solution here. Feel free to take the discussion over to our [community board](http://community.zammad.org/) if needed.

[2018-05-22 09:36] #1367 closed

[2018-05-22 09:38] thorsteneckel commented on #1130
This should be done via webhooks and is therefore a duplicate.

[2018-05-22 09:38] #1130 closed

[2018-05-22 10:15] thorsteneckel commented on #1203
JFI: #1998 #1965

[2018-05-22 10:35] thorsteneckel commented on #2027
So it's more of a technical question / request for assistance than a reproducible issue. It would be great if you could start a discussion over at our [community board](http://community.zammad.org/) or contact us at support@zammad.com if you need commercial assistance.
I'll close this issue now.

[2018-05-22 10:35] #2027 closed

[2018-05-22 16:17] thorsteneckel opened #2037 "Restart of processes form application context fails"
### Infos:

* Used Zammad version: 2.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

 It should be possible to restart the Zammad application processes with a command defined in the `ENV['APP_RESTART_CMD']` e.g. via [Observer::AppVersionRestartJob](https://github.com/

[2018-05-22 16:37] thorsteneckel commented on #2037
Detailed analysis:

This is because of the [Bundler.require](https://github.com/zammad/zammad/blob/ebebfef8b10ad3c576828c302b4263de4bd5957d/config/application.rb#L7) line. It causes an issue with the ActivRecord DB adapters ([MySQL](https://github.com/rails/rails/blob/6c574ac58993512f975ddaf1f679c5956cc576df/activerecord/lib/active_record/connection_adapters/mysql2_adapter.rb#L6) and [PostgreSQL](

[2018-05-23 09:27] thorsteneckel commented on #220
Hi @luto - I just wanted to have a look on the current state of the development but noticed that there wasn't any commit since 24 days. Is there anything I can do?

[2018-05-23 10:34] thorsteneckel commented on #2037
This is fixed with the two commits above. New release should be available by now. Closing.

[2018-05-23 10:34] #2037 closed

[2018-05-23 10:38] hanneshal opened #2038 ""Body - Search for follow up also in Body" - greps wrong reference which results in wrong follow up (internal #1019027)"
### Infos:

* Used Zammad version: latest 2.5 (dev)
* Installation method (source, package, ..): source
* Operating system: macOS
* Database + version: MariaDB
* Elasticsearch version: 5.6
* Browser + version: Safari

### Expected behavior:

* Zammad should search for exact ticket numbers only and not for every reference which CONTAINS the ticket number.

### Actual behavior:

* a given CSS value

[2018-05-23 10:48] rlue commented on #1543
@Kartoiser, I can't reproduce your second bullet point (failure of trigger for Visibility: Internal) on the stable branch of Zammad. See [this screencast](https://www.youtube.com/watch?v=XTEtDb-WM-o) for a demonstration.

It may be possible that the bug was fixed between Zammad v2.1 and current stable branch. If you continue to encounter this issue, please consider upgrading. If upgrading does not

[2018-05-23 12:03] luto commented on #220
fixing up our other internal projects :wink: :grin:
There is no blocker within the bounds of Zammad, just a general lack of time. Work on this should continue next week.

[2018-05-23 13:38] martini commented on #2000
Today I got feedback from the customer. It's working with `Setting.set('user_email_multiple_use', true)` and LDAP.

[2018-05-23 13:46] martini commented on #2000
Sorry for closing. This is IMO still a open issue.

[2018-05-23 16:42] thorsteneckel opened #2039 "Import fails for Object Attribute with non-ASCII name"
### Infos:

* Used Zammad version: 2.4
* Support Ticket#: 1018685
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* It should be possible to import Object Attribute with non-ASCII name (like e.g. `neugeschäft`).

### Actual behavior:

* Import of Object Attribute with n

[2018-05-23 16:52] thorsteneckel opened #2040 "Zendesk import: To/From extraction for system comments fails"
### Infos:

* Used Zammad version: 2.4
* Support Ticket#: 1018685
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* It should be possible to import Zendesk comments (articles) created via the `system` channel

### Actual behavior:

* Importing Zendesk comments (articles

[2018-05-23 16:59] #2014 closed

[2018-05-24 00:46] rlue commented on #1543
To clarify: that's not quite what's happening. The second email notification trigger isn't firing _because of_ the first one; in fact, both are correctly firing for the original condition (_e.g.,_ new customer article). Internally, however, the `article` variable in `#{article.subject}` was [set to point to the wrong value](https://github.com/zammad/zammad/blob/develop/app/models/ticket.rb#L989).

[2018-05-24 07:53] monotek commented on #1994
The pr is merged and new packages are build.
Could you please try again?

[2018-05-24 08:55] rlue commented on #1684
@masterjcl, I was not able to reproduce this bug on the `stable` branch. Please upgrade to the latest version of Zammad (2.4.0) and try again.

If the problem persists after an upgrade and you can provide us detailed, step-by-step directions to reproduce it (or if you can reproduce it on a public instance of Zammad), we'll be happy to reopen the issue.

[2018-05-24 08:55] #1684 closed

[2018-05-24 10:13] muhammadn commented on #1865
I have actually written the code which is still in QA to add this feature.

Under 'Settings' -> 'Ticket', you have and option to select 'Ticket Last Contact Behaviour' to enable or disable the update of the customer last contact.

[2018-05-24 11:00] KoJie opened #2042 "incorrect notification when closing a tab after setting up an object"
### Infos:

* Used Zammad version: 2.4 (SaaS)
* Browser + version: Google Chrome Version 66.0.3359.139

### Expected behavior:

No change notification should appear when closing a ticket from the table bar after a new object has been created and no change has been made.

### Actual behavior:

- in the table bar you have opened another ticket
- you create a new object
- you now want to close that t

[2018-05-24 11:35] SummerStorm commented on #2030
Hi there. This featured was added in db650b9 and is available in the 2.4.0 and 2.5.0 releases. Please consider upgrading to a newer release if you want to filter by tree_select.

Here's how it looks like in the latest version:
![sdfsf](https://user-images.githubusercontent.com/7030950/40483035-3cd43596-5f89-11e8-8ff9-f7798f62e3d5.png)

[2018-05-24 12:43] Sandalas commented on #1862
Hi @thorsteneckel - My 2.4.0 is running fine. But unfortunately the LDAP Import has still some issues.
This time with a quite interesting behavior:

Manual started sync - working
Sheduled sync - error

*sheduled*
[code]
*manual*
[code]
*sheduled*
[code]
*manual*
[code]
*sheduled*
[code]
*manual*
[code]

[2018-05-24 12:52] #2039 closed

[2018-05-24 12:53] #2040 closed

[2018-05-24 13:16] thorsteneckel commented on #1862
That's really interesting and confusing at the same time. Could you please enter the
[Zammad rails console](https://docs.zammad.org/en/latest/admin-console.html#start-zammad-s-rails-console) and execute the following command 5 times:
`ImportJob.delay.start_registered`

 and have a look at the result via:
`ImportJob.last(5).map(&:result)`

Thanks!

[2018-05-24 13:35] Sandalas commented on #1862
[code]

[code]

[2018-05-24 13:40] Sandalas commented on #1862
pretty format

[code]

[2018-05-24 14:24] dsukhin opened #2043 "Scheduler Dies, IMAP import stops"
### Infos:

* Used Zammad version: 2.5.x (development branch)
* Installation method (source, package, ..): source
* Operating system: CentOS
* Database + version: MySQL
* Elasticsearch version: none
* Browser + version: N/A

### Expected behavior:

* IMAP job completes fully

### Actual behavior:

* Scheduler process dies without error messages

### Steps to reproduce the behavior:

* Attempt impo

[2018-05-24 14:48] thorsteneckel commented on #1862
Hi @Sandalas - Thanks for the great output 👍 Helps a lot. I'd like to see how a possible fix would change the situation on your system. Could you please do the following:

1.) Create a file called `debug_issue.rb` in your Zammad directory (usually `/opt/zammad`)
2.) Run the file from your Zammad directory via `zammad run rails r debug_issue.rb` or `rails r debug_issue.rb` as zammad user, depending

[2018-05-24 14:51] thorsteneckel commented on #2043
Are there any lines in `log/scheduler_err.log` or `log/scheduler_out.log`? What are the last lines in `log/production.log` when the job dies?

[2018-05-24 21:32] #2017 closed

[2018-05-25 01:02] rlue commented on #1543
### Summary

1. Not a bug
2. Not reproducible
3. Fixed by 5dd699c
4. Fixed by 5dd699c
5. To be addressed in a separate issue.

[2018-05-25 01:02] #1543 closed

[2018-05-25 06:50] monotek commented on #1994
It works now :-)
Closed.

[2018-05-25 11:37] #2034 closed

[2018-05-25 11:49] #1957 closed

[2018-05-25 12:29] thorsteneckel commented on #1862
Hi @Sandalas - Thanks! That looks pretty good from my point of view. @rlue - would be great if you could help me out over here. We can talk about it on Monday.

[2018-05-25 13:28] dsukhin commented on #2043
Unfortunately nothing in either of the scheduler logs files (they are there but empty). The last lines when the scheduler stops are usually actually unrelated to the imap job. Looks like its a call to the server in the background. This certainly isn't relevant when you look at the timing for the GET (almost 5 hours after the processing stopped).

[code]

I have since tried to run the import while

[2018-05-25 13:31] thorsteneckel commented on #2043
Thanks for your comprehensive analysis! Would be great if we would know how to reproduce it. From there on I can create debug script that will help us to find the root cause.

[2018-05-25 13:42] martini commented on #2035
@hanneshal this is my proposal how to handle recursive triggers support. Please read and give some feedback. Thanks a lot!

# Writeup: recursive triggers

## Starting point
In Zammad, triggers are a useful way to perform "automatic" actions based on stored rules.

Two applications for clarification:

1) If a ticket with the term "backup failed" is created, a notification is to be sent to agents.

[2018-05-25 13:53] dsukhin commented on #2043
Reproducing is as simple as having a mailbox with A LOT of messages. 27,000 in my case. Should be easy enough to generate that mailbox of unique messages with a script.

It's worth it to use the new "read only import" mode I made and rely on message ids to determine what was already imported so you can reuse the mailbox for tests (without things being marked as read in the process). Let me know if

[2018-05-25 13:57] thorsteneckel commented on #2043
Would be great if you could provide a system in which we can reproduce it. I will then provide a debugging script to find the cause 👍

[2018-05-25 14:04] dsukhin commented on #2043
Sure thing. I have a dev version set up that I can reset and we should see the issue reliably again. Let me know what I should do with the debug script when you provide it and when where I should put it in.

[2018-05-25 16:00] dsukhin commented on #2043
Also getting scheduler death when putting new rules in the schedule interface. Could be related.. Watching the logs as it happens, i see some "max_connection" errors to my mysql server in the background jobs. Dont think this would cause the scheduler to die but still might be relevant.

I can raise the limit certainly but is there a similar setting in zammad to limit the number of sql connections

[2018-05-28 14:37] martini opened #2044 "Generic CTI integration"
# Writeup: Generic CTI integration

# Starting point
In many use cases, agents work in connection customer conversations over the phone.

It is a great relief when the telephone system (PBX) is integrated with Zammad, which makes processes with agents more effective.

The goal of the document is to provide the necessary API documentation to enable PBX vendors to easily integrate with Zammad.

# Fe

[2018-05-28 19:54] dsukhin commented on #2043
Comment above (re: pool) is unrelated to the scheduler stopping issue during import. Awaiting debug scripts and will test further.

[2018-05-29 14:34] tilmanmayer commented on #1316
We do have the same issue.
We have created an organization called "no-autoresponder" and added all customers here that should not get an autoreply.
As soon as we add "organization" -> "is not" -> "specific organization" "no-autoresponder" to the filter rule no autoresonders are send to anyone any more.
In the console you can see that after executing an Channel.fetch after "Execute singel backend T

[2018-05-29 20:04] luto commented on #220
@thorsteneckel I kind of hit a snag. Gpg (or at least gpgme) doesn't make a distinction between "email is encrypted, but can't decrypt" and "email is encrypted and all is well" in most cases. That behavior is not compatible with the `encrypted?` and `decryptable?` methods outlined earlier. Right now I've got a number of hacks to detect encrypted, but not decryptable mails, but I can't get it to wo

[2018-05-30 07:38] sts commented on #1135
Same here, the UI is quite confusing!

[2018-05-30 09:14] LittleNo opened #2045 "Bug or feature? Include origin email text in answer"
* Used Zammad version: 2.4.x (latest from Ubuntu package)
* Installation method (source, package, ..): package
* Operating system: Ubuntu 16.04.4
* Database + version:
* Elasticsearch version:
* Browser + version:

### Expected behavior:

* When answering an email, the origin text from the incoming email should be placed at the bottom of the new email as quoted text.

### Actual behavior:

* answe

[2018-05-30 09:17] thorsteneckel commented on #2045
Please read our intro text before creating issues. This is not an issue but a technical question. You can ask questions over at https://community.zammad.org/ - Closing now.

The same topic is addressed here: https://community.zammad.org/t/how-to-setting-full-quote-original-e-mail-content/615

There are some duplicates of this e.g. #571

[2018-05-30 09:17] #2045 closed

[2018-05-30 09:44] martini commented on #1865
In upcoming Zammad version you can change this behaviour in Admin -> Setting -> Ticket -> 'Ticket Last Contact Behaviour'. All new created or updated tickets will have he new behaviour for the  last_contact_customer attribute.

Feedback is welcome.

[2018-05-30 09:44] #1865 closed

[2018-05-30 11:53] #2035 closed

[2018-05-30 13:12] Newan opened #2046 "Umlauts in overview not working"
### Infos:

* Used Zammad version: 2.4
* Installation method (source, package, ..): Package .deb
* Operating system: Ubuntu 16.04
* Database + version: PostgreSQL
* Elasticsearch version: m/a
* Browser + version: Chrome

### Expected behavior:

* Umlauts from the organisationsname in the overview 'group by headline' must be translated

### Actual behavior:

* Umlauts from the organisationsname in

[2018-05-30 19:47] trayntab opened #2047 "activity stream option to disable"
hi guys,
the activity stream is nice, but it would be great if there is an option to disable it in the settings.

best regards

[2018-05-30 20:49] hanneshal commented on #2047
Hi @trayntab,

please respect the template and post your feature request to the community. We use GitHub just for bugs, as we wrote in the template you deleted.

Link: https://community.zammad.org

Thank you!

[2018-05-30 20:49] #2047 closed

[2018-05-30 20:56] hanneshal commented on #2044
I added some small stuff to the feature list (incoming) everything else looks good to me.
I will post a link in the community.

[2018-05-30 21:22] Newan commented on #2044
That looks very good, but pretty much identical to the current behavior, right?
Please note:
https://github.com/zammad/zammad/issues/2018

https://community.zammad.org/t/voicemail-link-in-call-log/664

And my solution :
https://community.zammad.org/t/solution-integrate-swyx-it-10-4-in-zammad/702

[2018-06-01 08:43] HPWulff opened #2048 "Update to Zammad v2.4 on OpenSuse not possible - Nothing to do"
### Infos:

* Used Zammad version: 2.2.0-1516084968.5604e5fe.sles12
* Installation method (source, package, ..): package
* Operating system: OpenSuse Leap42.3
* Database + version: postgresql 9.6-1.1
* Elasticsearch version: 5.6.5-1
* Browser + version: IE11 / Firefox 59.0.2

### Expected behavior:

* Update Zammad to 2.4

### Actual behavior:

* No Update: got message 'Nothing to fo'

### Steps t

[2018-06-01 09:00] monotek commented on #2048
Sles != Opensuse

[2018-06-01 09:00] #2048 closed

[2018-06-01 09:26] HPWulff commented on #2048
Hello monotek,

when deciding for zammad, we checked:

"Install on SUSE via RPM
Currently we support SLES 12 and OpenSUSE 42.2"

So we installed on OpenSuSE following the recommended way for SUSE. And, btw, it installed fine.

By this, I don't understand your comment SLES != Opensuse.

Regards,
Hans Peter

[2018-06-01 10:15] rlue commented on #2018
Fixed by 312278c2.

[2018-06-01 10:15] #2018 closed

[2018-06-01 11:00] HPWulff commented on #2048
Hello again,

got it running:

1) zypper update / Installing all current updates on OpenSUSE 43 (maybe irrelevant)
2) reboot
3) zypper refresh / maybe relevant
4) zypper update zammad / installed Version 2.4 with success

New Version is now available: especially recommending Users/Emails is very helpful for us!

Great Tool!

Regards, Hans Peter

[2018-06-02 14:33] xf- commented on #2031
@hanneshal looks like it stats if i resize the window and at some point later it breaks. I tried to force it and found no clear way, only reoccurring pattern is it happens after a resize but no intimidate. And after it breaks if you manually fix the column it is not responsive anymore (maybe a place to look).

[2018-06-02 14:39] xf- commented on #2031
Maybe it is fixed - Last update added the new more responsive menu on top and it recalculates all the columns on resize (much better as before)

[2018-06-03 08:59] mmojadad opened #2050 "SMS via SMS API"
### Infos:

    Used Zammad version: 2.3.x
    Installation method (source, package, ..): package
    Operating system: CentOS 7
    Database + version:
    Elasticsearch version:
    Browser + version:

### Expected behavior:
When a new ticket create or a ticket update an SMS send to client mobile number, body of text message support zammad tokens.
-----------
For example the following url will s

[2018-06-03 09:03] mmojadad commented on #2050
Will be good if there be an option that enable/disable sms notification for each answer enter in web interface of agents.

[2018-06-03 09:08] mmojadad commented on #2050
Or in advance there be an option ( Enable/Disable ) in answer text box that run a custom defined trigger.

[2018-06-03 09:38] mmojadad commented on #1047
Any update?

[2018-06-03 15:22] anandsork commented on #1047
I gave up and went on to enhance our own product. I had tried changing db based on some suggestions as in https://www.google.co.in/search?q=ruby+change+db+connection+based+on+subdomain. However there are some session kind attributes in the code which are set one time (at least I thought so when debugged). Changing all that was a big job.

In general, I wonder how people offer freemium model based

[2018-06-03 22:12] monotek commented on #2048
True. My fault.
Opensuse 42.3 is still not supported.

[2018-06-04 04:54] vittee commented on #742
This is because you're using private IP address.

WEBrick removes all private IP addresses from the X-Forwarded-For header.

File: `webrick/httprequest.rb`
[code]

[2018-06-04 05:49] benhartwich opened #2051 "ConnectionBad PQsocket"
Hi,

I´ve found the following errors at my log:

 Error while reserving job: PG::ConnectionBad: PQsocket() can't get socket descriptor: UPDATE "delayed_jobs" SET locked_at = '2018-06-04 05:45:23.697186', locked_by = 'host:homer pid:8875' WHERE id IN (SELECT  "delayed_jobs"."id" FROM "delayed_jobs" WHERE ((run_at <= '2018-06-04 05:45:23.696152' AND (locked_at IS NULL OR locked_at < '2018-06-04 01:4

[2018-06-04 06:44] thorsteneckel commented on #2051
Hi @benhartwich - after googling around a bit I found out that this is caused by a lost DB connection. This happens inside a third-party library we're using (for background job processing) called `delayed_jobs` . Sadly we can't do anything about it the way that it is. Please make sure the connection to your DB host is more stable.

[2018-06-04 06:44] #2051 closed

[2018-06-04 06:46] thorsteneckel commented on #742
Thanks for the input guys! IMHO this answers the question. If not please use our [community board](http://community.zammad.org/) for further (technical) discussions.

[2018-06-04 06:46] #742 closed

[2018-06-04 06:51] thorsteneckel commented on #2050
Please read our intro text before creating issues. This is not an issue but a feature request. You can request features over at https://community.zammad.org/ - Closing now.

PS: We are already working on a SMS integration. Multiple providers will be support and adding new ones should be fairly easy.

PPS: Please remember that every comment/issue you write will create invoke sending an email to at

[2018-06-04 06:51] #2050 closed

[2018-06-04 08:10] thorsteneckel commented on #2051
Thanks for the heads up! Would be great if you could provide a pull request. This will help us a lot 😻

[2018-06-04 08:42] thorsteneckel commented on #2031
Please let us know if it still persists 👍 Closing (for) now.

[2018-06-04 13:53] chesty opened #2052 "ERROR: Can't process email, you will find it for bug reporting under blah.eml, please create an issue at https://github.com/zammad/zammad/issues"
### Infos:

* Used Zammad version: 2.4.x
* Installation method (source, package, ..): zammad-docker-compose

I emailed the eml, [Ticket#1020590]
This is just a FYI report because the log asked for a ticket. Please do of it as you like.

cheers, love your work.

[2018-06-04 14:07] thorsteneckel commented on #2052
Hi @chesty - I wasn't able to reproduce it on latest develop/upcoming 2.5. Please consider updating and let us know if the issue still persists. Thanks for reporting!

[2018-06-04 16:21] chesty commented on #2052
Thanks thorsteneckel,

would the subject size setting matter? mine is the default 110 and the subject looks longer.
I'll do some testing, I tried quanting how to resend the eml but didn't see the answer straight away, maybe you could save me 5 minutes, how do you send the eml?
I think I should be able to netcat it, there's a non ssl port open, I guess I need to prepend an envelope.

[2018-06-05 06:49] thorsteneckel commented on #2052
Yes, this might actually be the case. The subject is 118 chars long. There is an easy way to import it right away via the CLI: `cat /path/to/c6d6f462db3013cf8fbab678d2c36785.eml | rails r 'Channel::Driver::MailStdin.new'`

[2018-06-05 13:22] thorsteneckel commented on #1947
This was fixed for LDAP via #1746 and is (early) duplicate of #2000. Closing this one now.

[2018-06-05 13:22] #1947 closed

[2018-06-05 14:45] mweinelt commented on #376
Except rspamd (https://www.rspamd.com) sets the `X-Spam` which is not covered by these choices.

[2018-06-05 16:35] muhammadn commented on #1909
@sheLbyPL I am working on an enhancement on this.

So basically my fix is that you will need to set `X-On-Behalf-Of` in the configuration with  `'type' => 'email'` in the article.

@sheLbyPL  example if you use our official php library:
[code]

[2018-06-05 18:47] martini commented on #376
Update, just added the following

- X-Spam
- In-reply-to
- X-DSPAM-Result
- X-DSPAM-Confidence
- X-DSPAM-Probability
- X-DSPAM-Signature

@dnauck to make if configurable it would be nice. But takes some time. In case if there is more need, also from other users. Just reopen or even better, create a new issue. Thanks!

[2018-06-05 18:48] martini commented on #376
https://github.com/zammad/zammad/commit/52ab76d7a740f2fb7e5c7fd9b82cc4b8323ab178

[2018-06-05 18:48] #376 closed

[2018-06-06 09:24] martini commented on #1862
Any news about this? I also have an instance to reproduce it. @rlue

[2018-06-06 10:10] muhammadn commented on #1909
@sheLbyPL

Here's an update: You can use the CC field (which will appear in the tickets on zammad's frontend) but you will need to use `'type' => 'web'` (not 'email' as i had mentioned earlier)

This should work with Zammad version 2.4 so my enhancements are unnecessary.

[code]

This should work as you want. I will close this issue and if you still have some other problems, i will reopen this iss

[2018-06-06 11:57] Kocooour commented on #795
Hi,
I also got this message in Zammad monitoring, but the effect is that no e-mail gets processed at all.

How do I solve this? Do I need to delete all e-mails from IMAP and restart the server or do I need to delete some cached data somewhere?

BTW, I have 2.4.0 version installed...

[2018-06-06 12:13] thorsteneckel commented on #795
Hi @Kocooour - please ask technical questions over at our [community board](http://community.zammad.org/)

[2018-06-06 12:49] siepkes opened #2053 "Branch documentation"
I think there is an issue with the documentation about branches. It says in the [branches section of the manual](https://docs.zammad.org/en/latest/contributing-branches.html) that `master` is "Current unreleased development state of next stable minor release" and the following example is given: "If current stable version is 1.1.0 this will become 1.1.1".

However when I look at the `master` branch

[2018-06-06 13:08] saschajullmann commented on #1994
Hi,

I just tried out installing zammad on Ubuntu 18.04. I just want to let you know the problem @TeraNovaLP referred to is still there. When trying to install it with "sudo apt-get install zammad" it won't start:

`# Starting Zammad
Job for zammad.service failed because the control process exited with error code.
See "systemctl status zammad.service" and "journalctl -xe" for details.`

And in the

[2018-06-06 14:15] Newan commented on #845
Is this update save. all my templates are overridden with 2.6

It is possible to create  update save templates like custom.de.html.erb, with an higher prio?

[2018-06-06 15:34] altzone opened #2054 "Error after apt upgrade on ubuntu 16.04"
### Infos:

* Used Zammad version: 2.5.0-1528249604.fd3b61df
* Installation method (source, package, ..): package from zammad repo
* Operating system: Ubuntu 16.04
* Database + version: MySQL 5.7.22-0ubuntu0.16.04.1
* Elasticsearch version: 5.6.9
* Browser + version: Chrome 66.0.3359.181

### Expected behavior:

*functionnal upgrade

### Actual behavior:

*at package configuration an error occur:

[2018-06-06 15:38] altzone commented on #2054
I found a solution for the problem:
at line 64 of file /opt/zammad/config/initializers/db_preferences_mysql.rb

i have replace:
`Setting.get('postmaster_max_size') > max_allowed_packet_mb`
to
`Setting.get('postmaster_max_size') > 'max_allowed_packet_mb'`

then restart configuration of package:
`dpkg-reconfigure zammad`

[2018-06-06 16:14] #2054 closed, assigned to rlue

[2018-06-06 16:43] chesty commented on #2052
frustrating, it imports clean now with both the cat and IMAP even with subject size 100. I'll let you know if I see any more unprocessable mail. cheers.

[2018-06-06 20:44] monotek commented on #1994
Do you use stable or develop repo?

[2018-06-07 05:53] MamoulianDelacroix commented on #1891
Zammad 2.5 works like a charm! 🎉
Our problem is gone, thanks a lot! 😄

[2018-06-07 06:27] martini opened #2055 "Unable to process certain emails with mailto links"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Mails are not processed if an invalid mailto url is in an html email

### Actual behavior:

* Mails are not processed

### Steps to reproduce the behavior:

* rails r "HtmlSanitizer

[2018-06-07 08:19] Newan opened #2056 "Missing translation in time accounting"
### Infos:

* Used Zammad version: 2.5!
* Installation method (source, package, ..): deb
* Operating system: ubuntu 16.04
* Database + version: postgres
* Elasticsearch version: n/a
* Browser + version: chrome

### Expected behavior:

* German translation in Placeholder and typo in german translation see screenshot

### Actual behavior:

* the placeholder are not translated:
![image](https://user-

[2018-06-07 08:48] Newan opened #2057 "no dissolve of phonenumbers from new user in the phone log"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): deb
* Operating system: ubuntu 16.04
* Database + version: postgres
* Elasticsearch version: n/a
* Browser + version: chrome

### Expected behavior:

* After create an new user over the phone number, the telefon log reloaded and show the new user

### Actual behavior:

* when a call comes in and a user is created v

[2018-06-07 09:03] Newan opened #2058 "Autocomplete hangs on dot in the new user form"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): deb
* Operating system: Ubuntu 16.04
* Database + version: postgres
* Elasticsearch version: n/a
* Browser + version: chrome

### Expected behavior:

* Find organisations with dot in the name, on the "new user" form

### Actual behavior:

* if an organization has a dot in the name, the autocomplete doesn't find it,

[2018-06-07 09:29] KoJie opened #2059 "Incorrect display count of a report profile if tree_select is used"
### Infos:
* Used Zammad version: 2.5 (SaaS)
* Browser + version: Google Chrome Version 66.0.3359.139
* Ticket-ID: #1034280, #1026414, #1030589

### Expected behavior:

* correct display of the corresponding tickets in the lower area of the reports:
![image](https://user-images.githubusercontent.com/22768032/41088904-f0cdbe7a-6a40-11e8-9885-59642679f850.png)

when selecting categories and groups a

[2018-06-07 09:38] SummerStorm commented on #2058
~~Hi there, thanks for the bug report. This issue has been fixed in~~ [2.6.0](https://github.com/zammad/zammad/releases/tag/2.6.0).

~~Here's how it looks in 2.6.0 (search is now case-insensitive too):~~

![screenshot from 2018-06-07 17-28-41](https://user-images.githubusercontent.com/7030950/41091545-5cb8987a-6a79-11e8-8c69-e075d250bae3.png)

EDIT: Sorry, my bad. With Elasticsearch on I can repro

[2018-06-07 11:17] #2055 closed, assigned to rlue

[2018-06-07 11:35] Newan commented on #2044
Please note: #2057

And great feature is also to pre-arrange the rounded talk time for the time account

[2018-06-07 18:39] thorsteneckel commented on #2053
Hi @siepkes - nice to hear from you again. Good spot! You can see [in the comparison between the two branches](https://github.com/zammad/zammad/compare/develop...master) that these are only merge commits. In older branches there were some special cherry picks that were not in develop in the exact same version but you can assume that master is always the latest branch of develop after creating a re

[2018-06-07 18:39] #2053 closed, assigned to nobody

[2018-06-08 02:28] Wardrop commented on #2005
I believe this is correct. I'm just re-installing zammad now, and will be sure to start all services this time.

[2018-06-08 03:24] chesty commented on #2052
Today I've had 1 email so far turn up in the unprocessable_mail folder and it went in OK when I catted it through `rails r 'Channel::Driver::MailStdin.new'`
Yesterday there were 2 emails the same.
We'll be updating to 2.5 when the docker-compose-zammad is updated

[2018-06-08 04:23] rlue commented on #1739
e7caca5 introduced the latest release of the Mail gem to Zammad. Can we confirm that this fixes the bug? I haven't reproduced the issue because I'm still not sure how to set up email on my development instance tbh...

[2018-06-08 05:59] martini commented on #2052
@chesty just a note here, since Zammad 2.4 you can use `rails r 'Channel::EmailParser.process_unprocessable_mails'` to re-process all tickets from unprocessable directory. It makes it easier.

[2018-06-08 06:32] rlue commented on #1999
This issue is being closed due to inactivity, and may be reopened at any time at the original filer's request (or that of anyone who can help reproduce it).

[2018-06-08 06:32] #1999 closed

[2018-06-08 07:13] mantas commented on #2022
Hi,

Unfortunately we weren't able to reproduce this issue. Please try upgrading to the latest version and see if it fixes your issue.

[2018-06-08 07:13] #2022 closed

[2018-06-08 07:26] rlue opened #2060 "HtmlSanitizer garbles multibyte characters in mailto: links"
---

### Infos:

* Used Zammad version: all
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

### Expected behavior:

`HtmlSanitizer::strict` should not modify multi-byte Unicode characters in `mailto:` links.

**Rationale:** [Multi-byte characters (such as vowels with umlauts over them) may in

[2018-06-08 07:27] rlue commented on #2060
Fixed by 5583369.

[2018-06-08 07:27] #2060 closed, assigned to rlue

[2018-06-08 08:35] Newan commented on #2044
There is the switch in the left menu. this has currently only the function of the desktop notifications.

An idea is, if there were 2 types of numbers, global and private. Global numbers flow as direction in & out always in the log for all or for a group. private numbers flow only in the log when the switch was turned on, if necessary, can still be distinguished whether global readable or only by

[2018-06-08 09:38] rlue commented on #1739
@nbougues Using the `files.zip` file you provided, I actually wasn't even able to reproduce this issue _before_ the mail gem upgrade. Please try upgrading Zammad to the latest version (2.5.0) and let us know if the issue persists.

[2018-06-08 10:06] Wisou opened #2061 "No Fetch Mail + IMAP Import KO"
### Infos:

* Used Zammad version: 2.4.x
* Installation method (source, package, ..): package
* Operating system: Debian
* Database + version: PSQL 9.4
* Elasticsearch version: 6.6.1
* Browser + version: Chrome or Firefox

### Expected behavior:

* IMAP job completes fully with fetch mail

### Actual behavior:

* randomly no import mail in zammad

Hi,

Randomly, Zammad don't import mail. For examp

[2018-06-08 11:06] thorsteneckel commented on #2061
Please read our intro text before creating issues. This is not an issue but a technical question. You can ask questions over at https://community.zammad.org/ - Closing now.

The error indicates that no DB connection could be established in the 5 seconds. This could be caused by your DB limiting connections. Feel free to start at thread over at our [community board](http://community.zammad.org/) an

[2018-06-08 11:06] #2061 closed, assigned to nobody

[2018-06-08 11:33] muhammadn commented on #1739
@rlue actually you need to unzip the files and use the `original.pcap` file to send to pipe to `rails r 'Channel::Driver::MailStdin.new'`

usually i would checksum the original.pcap with the one already processed into the ticket.

[2018-06-08 11:52] hanneshal commented on #2058
Note: will be fixed in 2.6.0
2.5. is the current stable release

[2018-06-08 11:56] hanneshal opened #2062 "Download of c&p image results in cryptic filename without extension (internal ticket: #1020861)"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): package
* Operating system: Linux
* Database + version: Postgres
* Elasticsearch version: 5.6
* Browser + version: Safari

### Expected behavior:

* If I download an image using the provided popup I expect to have a valid filename (file-1... or something like this)

### Actual behavior:

* A test ticket is availabl

[2018-06-08 14:03] thorsteneckel commented on #2058
Since we released 2.5 only a few days ago I don't see the commit which fixes this. Can somebody link it here so we have a reference. After we have it the issue can be closed.

[2018-06-08 14:05] thorsteneckel commented on #2062
This is a duplicate of #1246

[2018-06-08 14:05] #2062 closed, assigned to nobody

[2018-06-09 01:15] SummerStorm commented on #2058
@thorsteneckel Sorry, my mistake. I had elasticsearch turned off in my instance, and this bug doesn't happen without elasticsearch. I forgot that the search behavior is different depending on whether elasticsearch is enabled or not.

[2018-06-09 06:46] chesty commented on #2052
It seems to me things scheduled often fail, like 5 times a day (out of 1000s or more of scheduled jobs) like imap and ldap sync. If I rerun them from rails console I can't get them to fail.

[2018-06-09 15:50] saschajullmann commented on #1994
Hi,

I used the develop repo (https://dl.packager.io/srv/zammad/zammad/develop/installer/ubuntu/18.04.repo). I basically followed your steps from above.

[2018-06-09 16:12] monotek commented on #1994
Confirmed.

@crohr
Any changes on https://packager.io ?

[2018-06-09 20:33] pgodzwa commented on #1909
@muhammadn Thanks for your reply.
Unfortunately it's not working as it should - person that is in cc field doesn't receive email (so when user sends ticket, person in cc should receive this mail too - with type web it doesn't work)

Could you fix that it also sends mail to cc people when type is web? Then it would be all good.

Thanks!

[2018-06-11 01:13] rlue commented on #1739
Thank you @muhammadn, I feel pretty silly for missing that. -_-'

I've now reproduced the bug in the pre-fix commits and verified that the fix is working.

[2018-06-11 01:13] #1739 closed

[2018-06-11 01:16] rlue commented on #1862
Just a quick update for anyone following this issue: We've prepared a fix and are testing it on a Zammad instance this week. We'll merge it by the end of the week, provided the bug does not reappear by then.

[2018-06-11 02:34] martini opened #2064 "Add delete existing records to CSV import feature."
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* add delete existing records to CSV import feature . useful for text module import

[2018-06-11 02:48] Oleszkiewicz opened #2065 "Configuring Exchange fails"
### Infos:

* Used Zammad version: 2.4.x (newest installable)
* Installation method (source, package, ..): docker-compose
* Operating system: Photon OS 2.0
* Database + version: postgres:9.6-alpine
* Elasticsearch version: 5.6.9
* Browser + version: any

### Expected behavior:

Zammad connects to Exchange

### Actual behavior:

Cannot assign requested address - Cannot assign requested address - co

[2018-06-11 06:23] muhammadn commented on #2065
Hi @Oleszkiewicz

This is not a bug but a technical question. For technical questions, please go to https://community.zammad.org

Thank you.

[2018-06-11 07:35] thorsteneckel commented on #2058
No worries - thanks for clarification @SummerStorm! So I think this is an issue with the general setup as you described and no bug. @Newan please verify that this affects the latest version of Zammad with all processes running and let us know if the issue still persists. In general of technical questions feel free to use our [community board](http://community.zammad.org/). I'm closing this issue n

[2018-06-11 07:41] thorsteneckel commented on #2065
This actually might be a bug. @Oleszkiewicz could you please provide the `log/production.log` file that shows the error message and the stack trace showing where the error occurred? Thanks!

[2018-06-11 07:44] Newan commented on #2058
I thin it is all running:

[code]
Is there any zammad console function get this infos?

[2018-06-11 07:51] thorsteneckel commented on #2058
Hi @Newan as stated in my previous comment we can't reproduce this issue in our instances and this has to be an issue on your side. You can either ask in the [community board](http://community.zammad.org/) or make use of our commercial service of https://zammad.com/ . Not usual as with proprietary software, we finance Zammad through service. So it's less money we have at our disposal to push Zamma

[2018-06-11 07:55] Newan commented on #2058
I understand that, especially with the few resources. That's why I just tried to help.

which I do not understand:

vs

i make an technical question in the board

[2018-06-11 13:04] gijsrutten commented on #2044
Currently the PBX integration in zammad only works global. Every agents that enables the "phone" option receives these notifications.

Based on routing profiles in the PBX solution, an incoming call will only ring at some of the agents. Usually there is some kind of user management in the PBX solution. Each agent has its own user in the PBX.

The routing profile determines which users receive a ca

[2018-06-11 13:32] franckyz0r opened #2066 "Deleting all tickets throws errors for old IDs"
### Infos:

* Used Zammad version: 2.4.0
* Installation method (source, package, ..): package
* Operating system: CentOS 7
* Database + version: -
* Elasticsearch version: -
* Browser + version: Chrome v67

### Expected behavior:

* Delete / destroy all tickets `Ticket.destroy_all`
* Use Zammad without errors

### Actual behavior:

* Delete / destroy all tickets `Ticket.destroy_all`
* Errors prese

[2018-06-11 13:36] thorsteneckel commented on #2066
Please read our intro text before creating issues. This is not an issue but a technical question. You can ask questions over at https://community.zammad.org/ - Closing now.

This is caused by the fact that there are other objects that have references to the tickets (like articles, users etc.) which need to get deleted first. This functionality is currently not supported. You have to resolve this r

[2018-06-11 14:00] thorsteneckel commented on #2066
Hi @franckyz0r - after talking to @martini about this issue we found out that there are different variations of this which are actually bugs. So I reopen this issue and we will address it.

@rlue - please ping @martini for a detailed description how to reproduce. Thanks!

[2018-06-11 14:19] hanneshal opened #2067 "Show message when search returns 0 results"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): source
* Operating system: macOS
* Database + version: Postgres
* Elasticsearch version: 5.6
* Browser + version: Safari

### Expected behavior:

* There should be a message when a search returns 0 results

### Actual behavior:

* There is no message or info shown. A user may try again and again because there is no

[2018-06-11 20:32] NvL-WEAP opened #2068 "Can't select users"
Today we've started testing Zammad to replace our hesk environment. However on my docker and standalone debian installation, we encounter the same issue.

We are not able to select a customer, when we create a new ticket. Only when we create a new user, we can select it after the creation. But were not able to find the user on the next ticket.

The users are stored and active as customers. The API

[2018-06-11 23:55] Oleszkiewicz commented on #2065
[code]

[2018-06-12 00:00] Oleszkiewicz commented on #2065
note 1) I don't have anything in /log, this stack trace was taken from the console after starting the containers with docker-compose up

note 2) Actually there is a way to dodge this bug - after entering a non existing domain name for the exchange connection I get the opportunity to input the Exchange connection endpoint, after manually putting the endpoint there - everything works. (While autodis

[2018-06-12 05:09] franckyz0r commented on #2066
Thank you for looking into this and thank you for your work.
If any help from my side is needed for testing, let me know.

Regards,
Bogdan

[2018-06-12 08:46] MrGeneration opened #2069 "Cannot close tickets when you reply to an E-Mail at the same time"
### Infos:

* Used Zammad version: 2.5.x
* Installation method (source, package, ..): package (zypper)
* Operating system: openSuSe 42.3
* Database + version: postgreSQL 9.6-1.1
* Elasticsearch version: 5.6.6
* Browser + version: Google Chrome latest and Firefox latest

### Expected behavior:

* when you reply on a ticket by E-Mail and also say "close" as new state for the ticket, the ticket shoul

[2018-06-12 09:24] Newan commented on #2058
so i found it and i think that is an bug or misconfigure in zammad or Elasticsearch ist.

I **disable** Elasticsearch all runs fine. But then i have no Elasticsearch features

I searched with Elasticsearch on console and i see the problem. It is then the query ends with an dot and no wildcard is setting:

[code]
if i set an wildcard like this post:
https://stackoverflow.com/questions/29083366/elas

[2018-06-12 13:23] Impyus opened #2070 "NGINX SSL Conf Template Incorrect"
### Infos:

* Used Zammad version: 2.4.x (Latest)
* Installation method (source, package, ..): Package
* Operating system: CentOS 7.4
* Database + version: PostgreSQL 9.2.23
* Elasticsearch version: 5.6.9
* Browser + version: Chrome 66

### Expected behavior:

Update zammad.conf file under /etc/nginx/conf.d to accept and force SSL connections to Zammad.

### Actual behavior:

When configuring conf

[2018-06-12 13:30] thorsteneckel commented on #2070
Hi @Impyus - please create a [pull request](https://help.github.com/articles/creating-a-pull-request/) for code change proposals. Thanks!

[2018-06-12 13:30] #2070 closed, assigned to nobody

[2018-06-12 14:31] martini commented on #2069
@MrGeneration thanks for this report. It's fixed now for stable.

Feedback is welcome!

[2018-06-12 14:31] #2069 closed, assigned to martini

[2018-06-12 16:10] lr1980 commented on #2044
maybe there is a problem with the rpm package and the cti integration!?
https://community.zammad.org/t/feature-discussion-extend-cti-integration-github/795/8

[2018-06-12 16:18] martini commented on #2044
Yes it’s scheduled for Zammad 2.6 and not available in RPM.

To enable it in Zammad 2.5 (stable) the way from @lr1980 at https://community.zammad.org/t/feature-discussion-extend-cti-integration-github/795/8 is correct. Thanks @lr1980

[2018-06-12 17:53] NvL-WEAP commented on #2068
FYI, today's update (2.5.0-1528809753.920474b8.stretch) over (2.5.0-1528366750.1c3298e0.stretch) results in the same issue.

I hardly can't believe this is a problem by design, cause it would effect all the up-to-date installations. Without this working, you simply can't create a ticket (besides email import).

[2018-06-13 02:43] Wardrop commented on #967
Also eagerly awaiting the ability for an agent to also be a customer. For most internal help desk systems, this is requirement with no real workaround. We have power users responsible for providing support for certain products so therefore need to be agents, but these same users also need to be able to raise tickets of their own for other systems or for general IT support.

[2018-06-13 06:53] Newan commented on #2044
if many unanswered mails with the same call number in calllog, it would be nice to disable all numbers, once the call number was deactivated

[2018-06-13 08:01] thorsteneckel commented on #2068
Hi @NvL-WEAP  - first of all, many thanks for your participation on the Zammad open source project. We can't reproduce this on any of our instances. Even docker is working fine for us. In general it's mandatory to add a customer before creating a ticket. This works as designed. However, after creating a customer the use is available in all places (creation etc.). So im pretty sure there is somethi

[2018-06-13 08:01] #2068 closed, assigned to nobody

[2018-06-13 09:34] thorsteneckel commented on #2065
Thanks! Yes, this is a bug and should get properly handled by Zammad. I don't know why the used gem for autodiscovery does not work here. But it should be always possible to enter the endpoint manually like you did as described in `note 2)`.

Therefore we need to rescue from `Errno::EADDRNOTAVAIL` and return `nil` in that case.

Could you please send us the URL you've used to support@zammad.com so

[2018-06-13 10:56] martini opened #2073 "Allow sort_by and order_by for tickets, users and organisations search REST API"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Allow sort_by and order_by for tickets, users and organisations search API

### Actual behavior:

* Currently sort_by is fixed to updated_at

Note: Also documentation need to be upd

[2018-06-13 12:24] martini opened #2074 "Ability of deleting customers and / or all ticket at once."
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Issue documented within Privacy-Doc

### Expected behavior:

* Ability of deleting a certain customer and all the related tickets at once.
* Ability of deleting all tickets at once.
* Ability of deleting cu

[2018-06-13 13:05] Newan opened #2075 "Call log shows only orga infos on event, not on site load"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): deb
* Operating system: ubuntu 16.04
* Database + version: postgres
* Elasticsearch version: not working because https://github.com/zammad/zammad/issues/2058
* Browser + version: chrome

### Expected behavior:

* call event shows userinfos with organization infos in the parentheses, like:
Testuser (Testorga)
+49123

[2018-06-13 16:00] crohr commented on #1994
@monotek seems like I messed up the default pkgr version. This should be fixed, on the next build. Sorry!

[2018-06-13 17:38] monotek commented on #1994
Thanks again! 😘

[2018-06-13 18:40] monotek commented on #1994
I've build stable and develop packages.
Please test...

[2018-06-13 19:22] TeraNovell commented on #1994
It works now!

Thanks

[2018-06-13 19:28] monotek commented on #1994
Thanks for feedback 😀

[2018-06-13 19:34] saschajullmann commented on #1994
I just tested it as well. Works for me too!

Thanks for the effort!

[2018-06-13 23:56] dsukhin commented on #2043
Any update on the debug scripts? I'm importing again and scheduling dies pretty frequently.

[2018-06-14 04:48] rlue commented on #2038
I'm only partially able to reproduce this issue. Here is what I found in my own testing:

* The entire string `"Ticket#nnnnn"` must be present in the subject (or body or whatever text is to be searched for the follow-up string) to update a ticket rather than create a new one. Partial/similar matches (_e.g.,_ `"Ticket #nnnnn"` or `"#nnnnn"`) are not recognized, and simply create a new ticket.
* Mat

[2018-06-14 06:46] MrMontesa commented on #290
I would love to see a webhook that triggers actions in case ticket state changes towards an external app.
here's my use-case:
We have a self developed business app. This one creates new tickets in Zammad via API. Users are working on the ticket and once everything is done, they close the ticket and work continues in business app.
Would be awesome if Zammad could automatically trigger our business

[2018-06-14 08:33] hatscher commented on #220
When can we expect the implementation and integration in Zammad? Is the implementation planned for a specific release?

[2018-06-14 08:44] Franselbaer opened #2076 "There's no refresh on overviews if tickets escalate."
![bildschirmfoto 2018-06-14 um 10 42 12](https://user-images.githubusercontent.com/11044625/41401277-b6c2055e-6fbf-11e8-923a-dc1eb042004d.png)

Overview does not refresh when ticket escalates. I get a notification but the list still shows "escalated 0" even when i click around. Only if i reload whole page this is updated.

You should implement some autorefresh.

[2018-06-14 08:47] thorsteneckel commented on #2076
Please use the issue template you removed. It's really important for us maintainers to have the required information. I have to close this issue in the meantime. Feel free to update your post. I'll reopen the issue afterwards.

[2018-06-14 08:47] #2076 closed, assigned to nobody

[2018-06-14 09:00] Franselbaer opened #2077 "There's no refresh on overviews if tickets escalate."
### Infos:

* Used Zammad version: 2.4.x is shown on version page
* Installation method (source, package, ..): Docker via docker-compose.yml out of repo
* Operating system: Ubuntu
* Database + version: That what came with the docker-compose.yml
* Elasticsearch version: That what came with the docker-compose.yml
* Browser + version: Chrome 66.0.3359.181

### Expected behavior:

* Overview collumn s

[2018-06-14 09:04] thorsteneckel commented on #2077
Hi @Franselbaer - could you please verify first that the error still occurs in the latest version of Zammad 2.5 ?

[2018-06-14 09:22] thorsteneckel commented on #2038
Hi @hanneshal @rlue

Thanks to your analysis @rlue I was able to track the issue down on the customer instance. The configured value of the Setting `ticket_hook` is just `#` - not `Ticket#` (default). Therefore Zammad correctly matches the CSS color as a ticket number. Changing the behavior would lead to a unexpected behavior in other (more) valid cases.
Having a only `#` as the `ticket_hook` is I

[2018-06-14 09:28] thorsteneckel commented on #1877
As discussed in Ticket# 1016716 the issue is not reproducible with the latest version of Zammad. Therefore I'm closing this issue as resolved.

[2018-06-14 09:28] #1877 closed

[2018-06-14 10:06] rlue commented on #2038
@hanneshal, what value do you have stored for `Setting.get('ticket_hook')`?

[2018-06-14 10:26] Franselbaer commented on #2077
Okay.

* Initiated a `git pull && docker-compose pull && docker-compose down && docker-compose up -d`.
* Now it is version 2.5.x.
* Creating a ticket...

[2018-06-14 10:31] Franselbaer commented on #2077
* Ticket arrived in system. Waiting for auto-escalation.
![bildschirmfoto 2018-06-14 um 12 30 40](https://user-images.githubusercontent.com/11044625/41407163-e515150e-6fce-11e8-9663-928179d5c178.png)

[2018-06-14 10:34] thorsteneckel commented on #2077
Hi @Franselbaer thanks for your frequent updates. Please note that each comment will send an email to everybody who's watching this repository - currently 107 people. Would be great to get one summary at the end of your trial 👍

[2018-06-14 10:35] chesty opened #2078 "pending reached while tab is open won't close without asking you to discard changes"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): zammad-docker-compse

### Expected behavior:

* tab closes when you click the x

### Actual behavior:

* a box pops up asking you to cancel or discard changes

### Steps to reproduce the behavior:

* create a ticket, open it, don't make any changes other than set a pending reminder 5 minutes into the future. Leave

[2018-06-14 10:43] martini commented on #2038
@thorsteneckel @rlue it's common to only use `#` as `ticket_hook`.  How about to perform followup search only on text and not html documents (in this case a simple htm.html2text)?

[2018-06-14 12:31] thorsteneckel commented on #1737
This was fixed with the [update of the mail gem](https://github.com/zammad/zammad/commit/e7caca585416063a105ecdf0a29381cac23e6950).

[2018-06-14 12:31] #1737 closed

[2018-06-14 12:35] thorsteneckel commented on #1779
No feedback in a month. Closing now. Feel free to provide the `.zip` file as a Github upload and I'll reopen the issue. Thanks!

[2018-06-14 12:35] #1779 closed

[2018-06-14 13:05] thorsteneckel commented on #2056
You can correct and provide the text via the blue "Push my changes" button that appears at the top of the page after you made your changes. We will apply and roll them out 👍

[2018-06-14 13:14] Newan commented on #2056
ok the second translation i pushed but for "Please enter your time which you want to account" is missing in the translation section!

[2018-06-14 13:20] thorsteneckel commented on #2056
The list oft translatable strings is generated dynamically. This means only elements that have been shown are able to get translated. So just trigger the timeaccounting modal popup and visit the admin translation section again and the `Please enter your time which you want to account.` string will be in the list, too.

[2018-06-14 13:28] Newan commented on #2056
That's exactly my approach when creating this issues. First, I had the screenshot of time accounting and then go in the admin interface to make the second screen. no string found!

just tried again

[2018-06-14 14:02] thorsteneckel commented on #2056
It's actually a bug! I can reproduce it as follows:

- Activate Timeaccounting
- Open "Admin -> Translation" interface
- Note that `Please enter your time which you want to account.` is not in the list of not translated strings (Todo) (**ok**)
- Go to Ticket Zoom view and cause Timeaccounting modal to open
- Re-open "Admin -> Translation" interface
- Note that `Please enter your time which you wan

[2018-06-14 14:09] thorsteneckel commented on #1531
This is fixed with the changes above and will be available in ~15 minutes from now in the develop and stable package 🚀

[2018-06-14 14:09] #1531 closed

[2018-06-14 14:14] uli-heller opened #2079 "Inactive users show up within autocomplete of the CC field"
### Infos:

* Used Zammad version: 2.5.0
* Installation method (source, package, ..): source
* Operating system: linux, ubuntu 18.04
* Database + version: mysql-5.7.22
* Elasticsearch version: 5.6.8
* Browser + version: chrome 67
* Please drop me a note in case you need the log file...

### Expected behavior:

* When starting to type within the CC field, autocomplete only active users

### Actual

[2018-06-14 14:21] thorsteneckel commented on #2043
Hi @dsukhin - sorry for the late reply. I created a little script that is basically the Scheduler but instead of running in a background job it will run in the foreground. So the script will run as long as the Scheduler is not dying (You can run `tail -f debug_issue.log` to see what's currently going on). Please don't run this and the regular Scheduler at the same time. Please do as follows:

1.)

[2018-06-14 15:00] thorsteneckel commented on #2079
Duplicate of #721. Closing.

[2018-06-14 15:00] #2079 closed, assigned to nobody

[2018-06-14 15:11] uli-heller commented on #2079
A duplicate, really? #721 is about ticket creation by an inactive user. This is about ticket creation of an active user. Are there any actions planned? I mean: You probably cannot prevent an inactive user from
creating tickets, since s/he might still sending emails to zammad. But it should probably be easier to fix the autocomplete. Similar to #2010 ... But never mind :(

[2018-06-14 15:14] thorsteneckel commented on #2079
Thanks for response and engagement! Technically it's a duplicate :) Sorry, I should have made this clearer.

[2018-06-14 15:21] uli-heller commented on #2079
Sorry for asking again, you don't have to bother answering, it is not an urgent topic.

* What are the plans related to #721? I think you have to "keep" the user and do some special actions in
  case of incoming emails, etc. I imagine this is quite complex
* Isn't it much more difficult to fix #721? For #2079, you probably have to change just a single SQL
  statement (something like `... and activ

[2018-06-14 16:30] robclancy commented on #1135
The UX is simply very bad. Many mistakes and this issue from over a year ago gives me no confidence in this software so will have to move away.

[2018-06-14 16:46] monotek commented on #1135
"Many mistakes".

Which?

[2018-06-14 21:55] thorsteneckel commented on #1135
Guys please keep it this on track. I can understand the frustration of @robclancy . But this is not the right place. This is our issue tracker. We track issues over here.
If you want to share your opinion use the [community board](http://community.zammad.org/) but make sure to provide some arguments with which we can work - as @monotek requested. Otherwise it's plain moaning without substance whic

[2018-06-14 23:29] chesty opened #2080 "Can't use Filter Tags contains one not spam in Report Profiles"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): zammad-docker-compose

### Expected behavior:

* shows all tickets that aren't tagged as spam

### Actual behavior:

* get the follow error in a pop up box {"error":"unknown operator 'contains one not' for ticket.tags"}

### Steps to reproduce the behavior:

* add to the Filter of a Report Profile Tags  contains on

[2018-06-15 05:11] chesty commented on #2078
I just tested this again and couldn't reproduce it. New theory is (and I don't even know if this is how zammad works) the delayed_job queue was backed up so the job to update the browser to switchthe ticket state to open hadn't reached the browser yet, so the browser was still showing the ticket in pending reminder.

[2018-06-15 06:02] Newan commented on #2078
i can reproduce this bug:

* send an email
* open this ticket
* status is new but other state have same problem:
![image](https://user-images.githubusercontent.com/3693094/41452433-4e4260ce-7072-11e8-878d-3b21e31dde69.png)
* make NO changes
* **Close with the X in the left menu, important!**

![image](https://user-images.githubusercontent.com/3693094/41452416-3f280814-7072-11e8-93eb-6d9c535ed16e.p

[2018-06-15 06:34] thorsteneckel commented on #2080
Hi @chesty - this is a duplicate of #1847 and #1720 - Short summary: We only have basic reports for now but for advanced reporting we will be using Grafana.

[2018-06-15 06:34] #2080 closed, assigned to nobody

[2018-06-15 06:36] chesty commented on #2080
sorry for the dup, I forgot to search. I'll search next time. cheers, love your work.

[2018-06-15 06:41] Franselbaer commented on #2077
# Outcome brief
Since I updated to 2.5.x I did some tests. But it seems tickets do not escalate anymore.
# What I did:
* Setup first response SLA to 00:05
* Created a ticket
* Waited...
# Result
* Ticket is now 16 minutes old.
* No popup
* Escalated Overview still 0
* If I open the ticket it does not has this red "escalated since xy minutes" text
* Even if I reload the whole page
![bildschirmfoto

[2018-06-15 06:41] thorsteneckel commented on #2078
I can't reproduce it that way @Newan - is there a Trigger in place? Does the state change if you reload the page? Is your websocket server running?

[2018-06-15 06:46] Newan commented on #2078
i found it. we have the ITIL filed active:

![image](https://user-images.githubusercontent.com/3693094/41454118-84376db8-7078-11e8-8588-adce2b3fca44.png)

and this field is set on new issues to incedent

[2018-06-15 06:48] chesty commented on #1589
I'm seeing time zone issues in other areas that might be related. server running on UTC, browser running on +10.

The graph on the reports are 9 hours out of the time displayed on the tickets. (9 hours doesn't make any sense, 10 makes sense)
https://community.zammad.org/t/report-timezone-issue/826

Also the pending reminders seem to be UTC.

[2018-06-15 06:56] thorsteneckel commented on #2078
Via a trigger? Please describe step by step what's going on so we can reason about it. Thanks!

[2018-06-15 07:05] Newan commented on #2078
No, no trigger. steps are the same as upper this comment

we have the ITIL default Object active:

![image](https://user-images.githubusercontent.com/3693094/41454787-0d9f594c-707b-11e8-90d0-db980431de53.png)
This set the default value, and i think this is the change how wants to save

[2018-06-15 07:08] chesty commented on #2078
is that related to https://github.com/zammad/zammad/issues/2042?

[2018-06-15 07:10] thorsteneckel commented on #2078
Can someone of you please try to reproduce it in an [online instance](https://zammad.com/getting-started) and post the link?

[2018-06-15 07:18] Franselbaer commented on #2077
# Some more outcome
* I played around a bit and it seems I had a broken calendar.
* After a while i created a new calendar and set it as default.
* Then the scheduler became active.
* Now the ticket shows the "no response after xy hours" SLA escalation
starting in 11 Minutes
* Got a popup
* Ticket went red
* Escalated Overview still 0

![zammad_helpdesk_-_offen](https://user-images.githubuserconte

[2018-06-15 07:21] Newan commented on #2078
https://newan2.zammad.com/#ticket/zoom/1

[2018-06-15 07:38] Newan commented on #2058
https://newan2.zammad.com

 same in your online instance !!

[2018-06-15 08:09] martini opened #2082 "escalation_at are not updated correctly"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* keep escalation_at updated only every action

### Actual behavior:

* create an SLA with first response time
* send a ticket as customer into zammad
* reply as agent and escalation_

[2018-06-15 08:12] thorsteneckel commented on #2078
Agreed. Can be reproduced. It's strongly related to #2042 or even a duplicate, description of #2042 is not detailed enough. That's why I will keep this open.
A short summary what's going on/wrong:
The issue here is that the field is not required but doesn't provide a selection of no value. Which leads to the automatic selection of the first entry in the list of values. When closing the tab the sel

[2018-06-15 08:19] thorsteneckel commented on #2058
You are right. I can confirm this. Organization name is `T.E.S.T TestOrga, Teststandort`. Going to Admin -> User and try to assign the Organization causes the following:

![org_select_bug](https://user-images.githubusercontent.com/3873515/41457811-28a90ba2-7085-11e8-84d2-bdb65c6978a9.gif)

The AJAX call to the backend is performed but doesn't return a value (as described in the previous comment).

[2018-06-15 14:53] dsukhin commented on #2043
Thanks @thorsteneckel. I ran this 2 times as `rails r debug_issue.rb &> issue_log.log &` to capture both the debug log and any stdout/err. Nothing appeared in `issue_log.log` except some unprocessable mails and charset errors that are properly caught. The `debug_issue.log` created by your script is also less than informative -- both logs end at different points (different things being executed) an

[2018-06-15 15:58] robclancy commented on #1135
The last 2 replies are super puzzling. The issue has had the information you have needed since day 1. It is described in the original post. And as for "Many mistakes" - read the title of this issue, you don't even need to get to the content of it to understand it unless you have never actually used zammad.

How about instead of getting overly defensive about an issue that will confuse every user,

[2018-06-15 16:06] kntphu opened #2084 "Time accounting not tracked for agents and not showing on dashboard"
Infos:

* Used Zammad version:2.0
* Installation method (source, package, ..):deb package
* Operating system: Ubuntu 16.04
* Database + version:
* Elasticsearch version:5
* Browser + version: Firefox 60.0

### Expected behavior:
time is measured for every agent working on a ticket.
could be displayed as total time and specific agent time if multiple agents are working on the same ticket
Time accou

[2018-06-16 01:43] n8fr8 commented on #804
Just popping in a note to say that this is something I am exploring implementing, using the Signal-CLI project: https://github.com/AsamK/signal-cli

Agree with @markum that getting a virtual or real number to use as the Signal number is not a big deal. You can even use something like Google Voice or even a number from sipgate.io

[2018-06-17 04:54] chesty opened #2085 "timezone issue with elasticsearch"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): zammad-docker-compose
* Ticket-ID: #1049736

### Expected behavior:

* zammad handles servers running in a different timezone to users, ie servers on UTC, timezone +10

### Actual behavior:

* lots of issues with elasticsearch, reports, pending reminders, any function that uses a time.

### Steps to reproduce the b

[2018-06-17 12:26] spelroth opened #2086 "Feature Request: Add logged time per ticket to reports"
* Used Zammad version: 2.5.x
* Installation method (source, package, ..): centos repository
* Operating system: centos 7

### Expected behavior:

* When exporting report for a client each ticket would have the time spent information

### Actual behavior:

* As for now there isn't any information about time spent on each ticket just opening and closing timein the report

### Steps to reproduce the

[2018-06-17 12:33] thorsteneckel commented on #2086
Please read our intro text before creating issues. This is not an issue but a feature request. You can ask propose feature requests over at https://community.zammad.org/ - Closing now.

[2018-06-17 12:33] #2086 closed, assigned to nobody

[2018-06-17 12:34] thorsteneckel commented on #2085
Hi @mantas - is this the same issue you are currently working on?

[2018-06-17 16:53] mantas commented on #2085
@thorsteneckel yep! Even if it's technically not the same issue, it does fall in the same scope nicely.

Assigned this one to myself to keep track of it.

[2018-06-17 20:51] xf- commented on #2031
Hi @thorsteneckel ,

it still happens (less often). Looks like it only happens if a resize of window happened at some point. Issue appears mostly after increasing the window size or go to fullscreen.

[2018-06-17 21:37] thorsteneckel commented on #2031
Thanks for your feedback! Would be great if you could find a way to reproduce it and create an issue with a step by step description.

[2018-06-18 02:09] chesty commented on #2085
Thank guys.

A few updates for your info which might help with testing the solution.

I set the servers timezone to +10, it looks like dates in created_at, etc, are still utc, which is good. It didn't fix the elasticsearch, it's still not finding tickets in elasticsearch and then using postgres. (I think that's what's happening)

I'm mainly updating this issue to mention if we add a reminder on a

[2018-06-18 07:32] Newan commented on #2044
please add an additional field for mobile numbers. most customers have 2 numbers

[2018-06-18 09:15] ghost commented on #1862
Same problem here with zammad 2.5. Any updates?

[2018-06-19 01:15] dsukhin opened #2087 "No mime_type on nil message (no message body) / email will not be processed"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): source
* Operating system: n/a
* Database + version: mysql
* Elasticsearch version: n/a
* Browser + version: n/a

### Expected behavior:

* Emails without message bodies should still parse with empty string assumed as body.
* I think this broke after the recent `email_parser.rb` refactor; @rlue (c17a29c)

### Actua

[2018-06-19 08:49] martini commented on #2016
@muhammadn did you review the pr #2033 ?

[2018-06-19 09:44] mantas commented on #2085
@chesty thank you for additional info. I can confirm there's an issue with ElasticSearch.

Regarding pending reminder, this issue is already addressed in #1693 . Fix is coming soon.

[2018-06-19 10:03] martini opened #2088 "User appears not in drag&drop overlay in a group if access is via roles"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Show users of groups even if access to group is not directly but over role access

### Actual behavior:

* Only users of access to group via user <-> group is shown

### Steps to re

[2018-06-19 11:45] chesty commented on #2085
Cheers mantas, would that be the same issue that affects the graph on reports?
I'm guessing not, but the graph problem also appears to be timezone related.

when my server was running on utc, the line on the graph was 9 or 10 hours out (9 doesn't make sense, 10 does but it looked to be 9 hours out), now the server is running on +10 there are no lines on the graph. There are tickets in the box belo

[2018-06-19 12:30] mantas commented on #2085
@chesty ElasticSearch seems to be an isolated issue. Graph seems to be another issue. It'd be great if you could open a new ticket for it. Either way, I'm aware of it.

[2018-06-19 13:14] chesty opened #2089 "timezone issue with report graphs not displaying or displaying $timezone hours out of step"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): zammad-docker-compose
* timezone: +10

### Expected behavior:

* lines on graphs on day tab appear and lined up with the correct time

### Actual behavior:

* if server is running on UTC, lines on the graph in the day tab are $timezone hours out of step, if server is running on +10, lines on the graph in the day ta

[2018-06-19 13:59] muhammadn commented on #2016
@martini done with review, you can QA it now since the build is ok.

[2018-06-19 15:42] martini commented on #1759
@sthag With Zammad 2.5 we added an check at boot up time if mysql max_allowed_packet setting is correct. Thanks for your hint! :)

[2018-06-19 15:42] #1759 closed

[2018-06-19 17:30] martini opened #2090 "Unable to create an overview with a new ticket file which is starting with number like "1_test""
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* use "1_test" as any other ticket field

### Actual behavior:

* generate sql query for "1_test" will fail, no tickets in overview

### Steps to reproduce the behavior:

* create a t

[2018-06-19 18:22] #2090 closed, assigned to martini

[2018-06-19 20:39] martini commented on #2044
@Newan  Just add a "mobile2" attribute for users via admin -> object manager -> User. It will be used for caller identification automatically.

[2018-06-19 21:03] NvL-WEAP commented on #862
Old, but i experienced the same problem, it was due the following setting;

SETTINGS > Roles > Agents
![image](https://user-images.githubusercontent.com/22333015/41624119-fe8713bc-7414-11e8-9877-3d14fb835904.png)

[2018-06-19 21:08] NvL-WEAP commented on #2068
Hi, if anyone else encounters this issue;

i have no explanation for this behaviour in the docker installation. But my debian installation had a non-functional elasticsearch, due the fact JAVA wasn't installed. After the installation of JAVA the statistics worked, but i suppose elasticsearch is used for the typeahead aswel.

A fresh installation of zammad after elasticsearch was working properly f

[2018-06-19 21:38] xf- commented on #2031
@thorsteneckel i don't think it will happen. i can't find a clear pattern.

[2018-06-20 04:17] dsukhin commented on #2043
Figured out what is going on here. It seems that during a large IMAP import, memory continues to be collected until the OS kills the job. In other words, it's a memory leak, perhaps in the imap driver or email processing logic. Will dive deeper but would love any advice on how to debug this most effectively.

[2018-06-20 08:11] thorsteneckel commented on #2043
Thanks for the update! That sounds like a reasonable assumption. We already did some memory leak debugging in the past but it always was kind of cumbersome. Let me discuss this with the others and I'll come back to you.

[2018-06-20 08:16] thorsteneckel commented on #2087
@rlue - notice #2063 . We can convert the example into a test 👍

[2018-06-20 11:18] hamzehmohammadnia commented on #635
Hi @martini,

There is a problem with zammad regarding mail processing. within the directory of /opt/zammad/tmp/unprocessable_mail/ there is an email which left unprocessed and not considered as a created ticket for zammad.
The email Content-Transfer-Encoding shows base64, and seems coded cuz content cannot be shown.

when I have tried to use "zammad run rails r 'Channel::EmailParser.process_unpro

[2018-06-20 11:24] martini commented on #635
Hi @hamzehmohammadnia

", it made Zammad down for a while, until i have restarted both zammad and httpd.
Can I ask what is the reason? is there any miss configuration there?

I can't believe that. Because `zammad run rails r` is an independent process and is not connected to Zammad application server nor to your httpd process.

Do you still have the mail which is not processable?

[2018-06-20 11:32] hamzehmohammadnia commented on #635
Unfortunately we can't believe that too. It has been removed sometime ago. However, it was including customer information.

Once I ran that "zammad run rails r..." command, whole zammad got down, with server error. It was first time experiencing this. :/

[2018-06-20 11:36] martini commented on #635
I believe you, but I can't see the connections.

Is there any more information about the "server error" in the server logs or maybe in /opt/zammad/log/production.log? Maybe the machine was out of memory? 🤔

[2018-06-20 12:14] #1991 closed

[2018-06-20 12:22] hamzehmohammadnia commented on #635
I think I have gathered all the error parameters within the production.log that sounds the error related (During downtime timestamp):
IN ADVANCE: Sorry for dumping here

Log:

apacheI, [2018-06-20T1]  INFO -- : Processing by TicketArticlesController#index_by_ticket as */*
I, [2018-06-20T12:]  INFO -- :   Parameters: {"page"=>"1", "per_page"=>"100", "id"=>"1697"}
I, [2018-06-20T12:  INFO -- : Compl

[2018-06-20 13:02] lazmo88 commented on #1197
@thorsteneckel Webhooks will be great, but I would be interested adding 2 way channel for communication. In our case SMS Gateway like Twilio or Nexmo.

Any documentation how to get started? Would it be possible to consider 3rd party plugin support for Zammad?

[2018-06-20 13:15] hiaz opened #2091 "Customer response via note or email does not trigger escalation"
### Infos:

* Used Zammad version: 2.5

See https://github.com/zammad/zammad/issues/1322. Here we fixed the response via note to trigger also the escalation like an email response of a customer would do.

From zammad 2.2.2 to 2.4 everything worked like expected.

Now with zammad 2.5 an email response will not trigger the escalation again. Note response still works.

[2018-06-20 13:18] martini commented on #2091
Hi @hiaz

can you tell me, what package version you have installed? There was an issue #2082 which got fixed 5 days ago. I hope your issue is a duplicate of that.

Thanks for feedback!

 -Martin

[2018-06-20 13:20] hiaz commented on #2091
Hi @martini

sorry. Yes, a duplicate. I just searched in the "open" issues. Did not expect that your resolve time is so short ;).

Mathias

[2018-06-20 13:21] #2091 closed, assigned to martini

[2018-06-20 13:28] martini commented on #2091
@hiaz best helpdesk service for best PBX vendor. 😻

[2018-06-20 13:42] hamzehmohammadnia commented on #1997
I think i found the problem and was related to packet size limitation within database. Once I  have increased that to higher than 100 MB it fixed! :)

Thanks!

[2018-06-20 13:56] martini commented on #1997
Thanks for feedback.

[2018-06-20 14:57] #2016 closed

[2018-06-20 19:13] Schack17 commented on #780
@martini This is the link of the changelog. Where can I find the documentation for this?

[2018-06-20 19:33] Newan commented on #780
Here are all events you can use for sipgate.io too: https://github.com/zammad/zammad/issues/2044

[2018-06-21 08:48] anilmsaini commented on #1994
It's work now for me
Thank You !!

[2018-06-21 09:10] MrGeneration commented on #2069
Sorry for the delay - just wanted to let you know that the problem is fixed after applying the Update with the new patch. Thanks for the fast fix!

[2018-06-21 14:01] pgodzwa commented on #1909
@muhammadn
Could you reopen it? I just don't want it to get lost somewhere in closed issues ^^
Thanks!

[2018-06-22 07:14] martini opened #2092 "Send postmaster email to sender if email is too big and not processed by Zammad"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1031354, #1025102, #1021533, #1029932, #1049679

### Expected behavior:

* If an email is too big for Zammad (at least for Zammad max email size setting), send an bounce email (like an postmaste

[2018-06-22 07:21] hanneshal commented on #2082
We need to reopen. We missed a case.

[2018-06-22 09:13] MamoulianDelacroix opened #2093 "strange behaivor by failed ldap sync"
### Infos:
* Used Zammad version: 2.5
* Installation method (source, package, ..): package
* Operating system: Ubungu 18.04
* Database + version: psql (PostgreSQL) 10.4
* Elasticsearch version: 5.6.10

Our LDAP-integraion fails to sync some useraccount.
Everytime it fails these users are set to active = false in zammad.
But the most strangley thing about it is, that in that users history is writte

[2018-06-22 09:18] thorsteneckel commented on #2093
Hi @MamoulianDelacroix - Do you know the cause why it fails to sync those accounts? What's written in the logs? Is it always the case?

Do you mean random random or always the same agent?

Zammad deactivates all users that were synced once from the LDAP and are not included in the current sync. This covers failing users (in some cases, depending on when the error happens).

[2018-06-22 09:23] martini commented on #2074
More specification feedback:

1) We need a "danger zone" (like you know it from gitlab/github) in admin interface
All actions should be secured by a modal dialog like:

<img width="702" alt="screen shot 2018-06-22 at 11 17 21" src="https://user-images.githubusercontent.com/110226/41768938-fc773bf6-760d-11e8-9ce3-5f4e4d153597.png">

In addition Zammad should show how many objects are affected and t

[2018-06-22 09:40] #2038 closed

[2018-06-22 09:42] MamoulianDelacroix commented on #2093
Hi @thorsteneckel

That I'm still investigating. So far I'm looking for a useable debug log.

Until now I didn't found any specific pattern which agent he picks. But during my tests today he always used my user. In the past there are other agents recorded too. Something like this:
User A:
07.06.18 07:50 agent a changed active to false from true
User B:
07.06.18 07:50 agent c changed active to fals

[2018-06-22 10:49] thorsteneckel commented on #2093
I can provide a script which will print out every detail on what's happening into a separate log file.

Regarding the changing user: We'll try to reproduce this. Are these automatically started imports or were they started via the admin interface button?

[2018-06-22 11:33] MamoulianDelacroix commented on #2093
That would be awesome

Both. Today I startet some import jobs manually. In the past, were this happend

07.06.18 07:50 agent a changed active to false from true
User B:
07.06.18 07:50 agent c changed active to false from true

These was a automatically import job.

[2018-06-22 12:33] Heljick commented on #435
@hanneshal @martini Why is that thread closed when Github is open and Gitlab getting more popular since Microsoft bought Github and there is more thumbs up than others ?

That will be great indead to have a feature to push a ticket to Gitlab for the dev without needing to connect into It or to Zammad for the dev, and to get a notification in the ticket when the dev has patch de issue to be able to

[2018-06-22 12:47] martini commented on #2091
@hiaz Just a note. There is a follow up fix for #2082 available.

[2018-06-22 12:47] #2082 closed, assigned to martini

[2018-06-22 13:59] MamoulianDelacroix commented on #2093
In addition, I just run the follwoing command on the zammad ruby shell:
``User.where(active: '0').update(active: '1')
``
This worked as charm, all users are back active, but the strange behavoir strikes one more time:

22.06.18 15:55 agent a changed active to false from true
User B:
22.06.18 15:55 agent c changed active to false from true
User C:
22.06.18 15:55 agent d changed active to false from

[2018-06-22 14:13] MarvinKlar opened #2094 "Unable to change elasticsearch index"
### Infos:

* Used Zammad version: 2.5.0
* Installation method (source, package, ..): source
* Operating system: Debian GNU/Linux 9
* Database + version: mysql  Ver 15.1 Distrib 10.2.15-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2
* Elasticsearch version: I tried the latest and 5.6.8
* Browser + version: Chrome 67.0.3396.87

### Expected behavior:

* The command `rails r "Setting.set(

[2018-06-22 14:56] thorsteneckel commented on #960
Duplicate of #223. Closing.

[2018-06-22 14:56] #960 closed

[2018-06-22 14:57] thorsteneckel commented on #1186
Duplicate of #223. Closing.

[2018-06-22 14:57] #1186 closed

[2018-06-22 14:58] thorsteneckel commented on #661
Duplicate of #223. Closing.

[2018-06-22 14:58] #661 closed

[2018-06-22 17:48] thorsteneckel commented on #2094
Hi @MarvinKlar - Please read our intro text before creating issues. This is not an issue but a technical question. You can ask questions over at https://community.zammad.org/ - Closing now.

The cause for this is that ES indexes have to be all lowercased. I currently can't find the documentation for that but you can google `elasticsearch index name must be lowercase` and you will be find plenty of

[2018-06-22 17:48] #2094 closed, assigned to nobody

[2018-06-22 18:08] thorsteneckel commented on #2093
And here comes the debug script. Please be aware of that it may take some time to run in because of the extensive logging. To run it please do the following:

1.) Create a file called `debug_issue.rb` in your Zammad directory (usually `/opt/zammad`)
2.) Run the file from your Zammad directory via `zammad run rails r debug_issue.rb` or `rails r debug_issue.rb` as zammad user, depending on your inst

[2018-06-22 18:11] thorsteneckel commented on #2084
Please read our intro text before creating issues. This is not an issue but a feature request/technical question. You can ask questions over at https://community.zammad.org/ - Closing now.

[2018-06-22 18:11] #2084 closed, assigned to nobody

[2018-06-25 08:21] hamzehmohammadnia opened #2095 "Zammad backgroundprocess Error"
### Infos:

* Used Zammad version: 2.5.x
* Installation method (source, package, ..): RPM
* Operating system: Centos
* Database + version: Mysql
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:
During our experience with version 2.4.x, the only unusual health error was unprocessed email(s) in Monitoring Section.

### Actual behavior:
Currently. after updating to versio

[2018-06-25 08:24] thorsteneckel commented on #2095
I'm pretty sure that this is an issue with your local installation 😱 Have you had a look at your `log/production.log`? There should be `ERROR`s which indicate what's going wrong. It might be a connection issue to your Elasticsearch (indicated by the `BackgroundJobSearchIndex` backend).

If you have any further technical questions please refer to the [community board](http://community.zammad.org/)

[2018-06-25 08:24] #2095 closed, assigned to nobody

[2018-06-25 09:34] Newan opened #2096 "Call-Log shows inactive users"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): package deb
* Operating system: ubuntu 16.04
* Database + version: postgres
* Elasticsearch version: n/a
* Browser + version: chrome

### Expected behavior:

* Call-Log shows active User from the called number

### Actual behavior:

* Call-Log shows all user from the called number, also inactive users

### Steps to

[2018-06-25 09:49] martini commented on #1246
It's fixed in stable now. Please let me know if it's not working as expected.

@hanneshal it's also deployed on ptool.

[2018-06-25 09:49] #1246 closed

[2018-06-25 10:20] Sandalas commented on #1862
@rlue : What is the state of the fix?

[2018-06-25 10:21] martini commented on #1862
@Sandalas The changes currently deployed on an instance with the issue. Expecting feedback this week.

[2018-06-25 10:23] svenschumacher opened #2097 "When forwarding e-mails the attachment is missing"
### Infos:

* Used Zammad version: 2.5.x
* Installation method (source, package, ..): Docker-Compose
* Operating system: Ubuntu
* Database + version: Latest
* Elasticsearch version: Latest
* Browser + version: Chrome 67.0.3396.87

### Expected behavior:

* When forwarding an E-Mail with attachments, the sent E-Mail should include the attachments with it´s content.

### Actual behavior:

* Sent E-M

[2018-06-25 10:23] svenschumacher commented on #2097
I opened this, because #1789 is closed.

[2018-06-25 13:27] hatscher commented on #220
Any news?

[2018-06-25 18:28] 0xErnie commented on #220
I have a feeling that those who could bring forward the development of this plugin have other stuff on their mind but checking the replies on this issue.
If you would like to get their attention on this, you could write an email to them: hallo@uberspace.de - I have already done that - or send them a friendly tweet @ubernauten

[2018-06-26 07:44] y-viel opened #2098 "Report profiles: "before(relative)" and friends broken."
### Infos:

* Used Zammad version: 2.5.0
* Installation method (source, package, ..): Package from Zammad Debian 9 repo
* Operating system: Debian 9 (stretch)
* Database + version: Mysql 5.7
* Elasticsearch version: 5.6.10
* Browser + version: any recent Chrome/Firefox

### Expected behavior:

* The specified report with the tickets in the report profile preview are being shown.

### Actual behavi

[2018-06-26 07:55] MamoulianDelacroix commented on #2093
@thorsteneckel
I wrote you an email to support@zammad.com with the debug logs.

[2018-06-26 08:19] luto commented on #220
@hatscher sorry for the delay; as @0xErnie guessed I've currently got other stuff to do, but this feature is still on our radar. Please note that I am currently working on this solo, not as part of the Zammad, Inc. team and without any external founding. So this can take a while.

As for blockers, there is [one question](https://github.com/zammad/zammad/issues/220#issuecomment-392925079) for @thor

[2018-06-26 15:34] WillemWever commented on #758
I had the same issue. I solved it by filling in the emailaddress on the groups.

[2018-06-27 09:04] martini opened #2099 "Changing data type of new object attributes will lead to errors"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Do not allow to change data type of new object attributes

### Actual behavior:

* data type of new object attributes can be changed (e. g. from text to boolean) which will lead to

[2018-06-27 10:38] penzoiders opened #2100 "Check_MK integration page gives 500 error in 2.5.0"
### Infos:

* Used Zammad version: zammad-2.5.0-1529668954.708c86ba.centos7.x86_64

* Installation method (source, package, ..): package repository
* Operating system: CentOS Linux release 7.5.1804 (Core)
* Database + version: postgresql-server-9.2.23-3.el7_4.x86_64
* Elasticsearch version: elasticsearch-5.6.10-1.noarch
* Browser + version: Google Chrome 67.0.3396.87

### Expected behavior:

* not

[2018-06-27 10:39] penzoiders commented on #2100
Probably there’s an accented à in the body of the Check_MK service notification due to the Italian language of the Windows monitored host.

`remoto \xC3\xA8 stato emesso da unAutorit\xC3\xA0`
comes from this string in check_mk
`remoto è stato emesso da un'Autorità`

heres the anonymized output of
[code]
OUTPUT:

[code]

[2018-06-27 10:42] thorsteneckel commented on #2100
Hi @rlue - We need your charset conversion power over here 💪

Looks like we need to encode the input before storing it (and add a migration to fix existing data 😱 ) over here:

https://github.com/zammad/zammad/blob/a9239997effa2a07c6c41270aecfbc305be63576/app/controllers/application_controller/logs_http_access.rb#L19-L37

But please verify it by writing a RSpec controller test first. Thanks!

[2018-06-27 11:19] martini opened #2101 "Inline images are lost on forward or quoted reply"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Inline images sent to customer on forward or quoted reply

### Actual behavior:

* Innen images of forwarded content are not included into sent emails.

[2018-06-28 06:22] gijsrutten opened #2102 "Read-only custom objects"
### Info:
Ticket-ID: #1078225

### Desired behavior:

Create an additional _view_ option to the two existing option unter **System > Manage objects** for each role. Currently you can define if an agent or a customer can enter a value in the object either only at creation of the ticket or if he/she can edit the value at any time.

It would be useful to have a third option called **view-only** where

[2018-06-28 07:34] gijsrutten opened #2103 "clickable URL (template) for ObjectManager Attribute"
The custom object are very useful and could help us a lot customizing the ticket system. But there is one object type, I don’t understand how it is supposed to work. It is the object from _type_ **text > URL**. To create one, go to _System > object manager > create_. Choose format=text and type=URL.

![ca879b0e05b5f08c3182068060b1af9f469b5b35_1_436x500](https://user-images.githubusercontent.com/26

[2018-06-28 07:49] thorsteneckel commented on #220
Sorry for the late response, especially to you @luto ! I can't give this the time and attention it needs currently. I plan to address this in 2 weeks from now.

[2018-06-28 09:07] rkaldung opened #2104 "Shown ticket changed unexpected when viewing an attached image"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): source
* Operating system: CentOS 7
* Database + version: Postgresql
* Elasticsearch version: ?
* Browser + version: Chrome latest

### Expected behavior:

* Modal dialog closed when opening another ticket by clicking on a browser notification.

### Actual behavior:

* When a ticket is opened via browser (desktop)

[2018-06-28 09:19] rkaldung opened #2105 "Update button unusable after modal dialog is gone"
### Infos:

* Used Zammad version: develop (pre 2.6)
* Installation method (source, package, ..): source
* Operating system: CentOS 7
* Database + version: Postgresql
* Elasticsearch version: ?
* Browser + version: Chrome latest / FF 60 / FF 61 / Safari 11.1.1

### Expected behavior:

* Update button is usable

### Actual behavior:

* Update button us unusable

### Steps to reproduce the behavior:

[2018-06-28 09:24] #2101 closed, assigned to martini

[2018-06-28 15:10] kisahm commented on #1116
+1

[2018-06-29 06:28] tbsfnk opened #2106 "Cannot create tickets after update to 2.5"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): deb
* Operating system: debian 9
* Database + version: not relevant
* Elasticsearch version: not relevant
* Browser + version: not relevant

### Expected behavior:

* Createing tickets through web interface

### Actual behavior:

* The ticket is not going to be created...
And the 3 buttons (incoming call, outgoing

[2018-06-29 06:29] tbsfnk commented on #2106
Update: tickets through mails are going to be created.

[2018-06-29 06:40] martini commented on #2106
Hi @ToubieObie

in Zammad 2.5 there is an feature to customise the 3 buttons (incoming call, outgoing call and mail). For that a new config setting is created. In you case it seems that the config setting is missing.

So I guess one migration is not executed. Please check the following:

1) systemctl stop zammad
2) zammad run rails r 'Cache.clear'
3) zammad run rake db:migrate
4) systemctl start z

[2018-06-29 09:49] muhammadn commented on #1909
@sheLbyPL email type is specifically designed for emails (ie. interacting with email server) and not via API.

My recommendation is to use 'to' field to include the necessary emails with the web type if you need to send email to other people.

[2018-06-29 11:41] martini commented on #1862
A short update: It seems that the error message `An error occurred: undefined method `ord' for nil:NilClass` appears because of not response of the LDAP server. We need to debug deeper (maybe to increase response timeouts) which will take more time.

[2018-06-29 11:42] #2099 closed, assigned to martini

[2018-06-29 18:12] tbsfnk commented on #2106
yesss thank you!! Now it is working again 👍

[2018-06-30 14:42] #2106 closed, assigned to nobody

[2018-07-01 13:36] MrDigit opened #2107 "Too large article body fails OTRS import"
Hello,

in addition to https://github.com/zammad/zammad/issues/1467 I still not give up importing OTRS data.
(I think the older ticket can be closed)

**Task:**

With zammad 2.5 tried to import OTRS data (~6000 tickets.

**Result:**

Try 1:
Import via WebGUI was not successful, import process stopped after some time. Is it possible that there is something like a timeout ?

Try 2:
Import via consol

[2018-07-02 09:28] tisto commented on #1103
@martini any news here? As far as I can see right now it is impossible to retrieve time entries from Zammad in any way (API call or ES).

[2018-07-02 09:53] Newan commented on #1103
same question  here: https://community.zammad.org/t/rest-api-call-for-time-accounting/703

[2018-07-02 12:13] #2064 closed, assigned to martini

[2018-07-02 12:14] martini commented on #2043
Update: @thorsteneckel I can reproduce in with Zammad 2.5. If you need more infos, let me know.

[2018-07-02 12:18] martini opened #2108 "30 concurrent agents + each of them 30 overviews - script/scheduler.rb takes 100% CPU time - background jobs cannot be processed"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Work well with more then 30 concurrent agents + each ob them 30 overviews

### Actual behavior:

* background jobs cannot be processed - load for script/scheduler.rb is to high

[2018-07-02 18:15] lucaspottersky opened #2109 "FYI its not possible to thumbs up a locked issue"
Hi,

just for your information,

its impossible to add a reaction to a [locked issue](https://github.com/zammad/zammad/issues/223), as asked by @thorsteneckel on [this comment](https://github.com/zammad/zammad/issues/223#issuecomment-344281684)

sorry for creating an issue to point that out.

[2018-07-03 06:01] thorsteneckel commented on #2109
Hi, thanks for pointing that out. We currently have no better option than that. Otherwise people will create comments which result in hundreds of send emails for the repository watchers. Which is really distracting. Additionally the informational value is pretty low for this comments which is sad.
However, I made a mental +1 on that for you 👍

[2018-07-03 06:01] #2109 closed, assigned to nobody

[2018-07-03 06:58] NeverMin commented on #2107
Hi @MrDigit , Which one DB to use? I think limited from DB, see this line in log:

`/opt/zammad/app/models/ticket/article.rb:301:in check_body': body if article is to large, 3702347 chars - only 1500000 allowed (Exceptions::UnprocessableEntity) from /usr/local/bundle/gems/activesupport-5.1.5/lib/active_support/callbacks.rb:413:inblock in make_lambda'`

[2018-07-03 07:24] #2058 closed, assigned to SummerStorm

[2018-07-03 08:40] siepkes commented on #2108
We are also experiencing reliability issues with the Zammad scheduler. We would like to improve the scheduler to be more resilient. This especially hampers the ability to send outbound mail which (IMHO) must never get blocked by other things the scheduler is doing.

We've done some small work on making the scheduler more reliable. We haven't fully delved in to it but I was wondering if "outsourcin

[2018-07-03 08:46] martini commented on #2108
@siepkes I think we have two things. 1) Improve performance/CPU usage of 'Session.jobs' and second switch to active jobs to allow to change the background job processing (e. g. by using sidekiq (just an example). What do you think?

PS: Pull requests are alway welcome.

[2018-07-03 08:50] muhammadn commented on #2108
I had some work in porting delayed job to sidekiq for zammad. Basically database backed queueing like delayed job will have scaling limitations.

For sidekiq i purpose saving the job ids (to manage the jobs)  into the database and let  other queuing jobs like email or triggers done by sidekiq.+ redis.

If @martini  approves it then i will port the background jobs code to sidekiq but the question r

[2018-07-03 09:03] monotek commented on #2108
https://github.com/mperham/sidekiq/wiki/Using-Redis#multiple-redis-instances

I don't like this at all. Redis persistance would create another stateful part in zammad :-/

[2018-07-03 09:10] siepkes commented on #2108
I agree that those are 2 separate problems; The session job taking too long is a scalability issue which is something that needs to be addressed in order to make Zammad scale well to say 50 or 100 concurrent users but is different from the scheduler resiliency issue.

As for the lower level implementation details on how to incorporate background job processing I (currently) do not have enough know

[2018-07-03 09:12] thorsteneckel commented on #2108
I think @martini opened this issue to cover the first point in his list.
But just give you our current opinion on the second point:
When refactoring the job processing in general we will probably use [Rails Active Job](http://edgeguides.rubyonrails.org/active_job_basics.html) which provides a single abstraction interface for using a [variation of backends](https://github.com/rails/rails/tree/maste

[2018-07-03 09:28] muhammadn commented on #2108
@thorsteneckel Thanks for the clarification! 🤓I also have a branch that implements ActiveJjob.  Is that something that i should pursue as well?

But i saw some code that uses Delayed::Job that queries the database for the background job records and process it as necessary (example: deleting a job)

This is the tricky part because even if we port over fully to ActiveJob, we cannot actively query us

[2018-07-03 09:32] siepkes commented on #2108
@thorsteneckel Your right, this thread has drifted a bit away from it's original problem.

Would it be possible to make the delayed job mechanism pluggable so people can write their own?

I think our objectives are somewhat at odds with each other; You guys want to keep things simple (which I can understand) and we try to make things more stable and predictable for a more advanced, larger installa

[2018-07-03 09:47] thorsteneckel commented on #2108
IMHO replacing Delayed::Jobs with Active Jobs is a (huge) task that needs proper evaluation and specification of current and upcoming use cases. We need to provide a solid solution. Surely there will be some trade offs down the road that we can't avoid, too.
However, we don't have the complete picture now but just a rough idea where we want to go so I can't answer your questions. We are currently

[2018-07-03 13:06] thorsteneckel opened #2110 "LDAP sync: Updating association of deactivated instance fails"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): source
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Not existing association values should get handled gracefully.
* Updating association of deactivated instance should get handled properly

### Actual behavior:

[code]
### Steps

[2018-07-03 13:14] thorsteneckel opened #2111 "User history shows LDAP deactivation was done by a regular agent"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): source
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* User history should show that the LDAP deactivation was performed by system user.

### Actual behavior:

* User history shows LDAP deactivation was done by a regular agent.

###

[2018-07-03 14:54] #2098 closed, assigned to martini

[2018-07-03 17:41] MrDigit commented on #2107
Hello @NeverMin ,

as the limit is hardcoded into article.rb  this error independent of the selected DB backend.
(**limit = 1_500_000**, see below)

[code]

[2018-07-04 03:31] NeverMin commented on #2107
Hello @MrDigit , Yes, you can fix(e.g. 4_000_000) and try, but, which one DB to use for Zammad ? MySQL or postgresql? What is OTRS version?

[2018-07-04 06:24] MrDigit commented on #2107
Hello @NeverMin ,

already raised the limit to some higher value, import worked afterwards. Question is why is the limit set to 1,5 MByte ? Because zammad will explode if larger bodies are stored or is this simply a arbitrary value ?

Regarding your questions: The docker-compose version of zammad I am using ( https://github.com/zammad/zammad-docker-compose ) is using postgresql, I am storing the a

[2018-07-04 07:33] thorsteneckel commented on #2093
Hi @MamoulianDelacroix - as discussed via the Ticket #1021818 this is caused by the fact that there is no DN <-> Zammad Role mapping entry for those users and that [users without a mapping entry should get skipped (existing users will get deactivated)](https://github.com/zammad/zammad/blob/5bbff1076412c4e7c4a1f09b13fa7cb1bdcfa114/lib/sequencer/unit/import/ldap/user/attributes/role_ids/unassigned.r

[2018-07-04 07:33] #2093 closed, assigned to thorsteneckel

[2018-07-04 08:07] thorsteneckel commented on #2097
Hi @SummerStorm - can you please verify this? @mantas has a private branch ready for merge that fixes an issue similar to this one (#1123) . Please verify if the issue occurs in this fix-branch to ensure that his change doesn't fix this already. Thanks!

[2018-07-04 08:37] NeverMin commented on #2107
Hello @MrDigit , Good questions, maybe let me ask to @thorsteneckel .

JFI: https://github.com/zammad/zammad/blob/develop/db/migrate/20120101000010_create_ticket.rb#L175

EDITED:
Can you move this issue to [Community](https://community.zammad.org)?

[2018-07-04 09:12] schmanat opened #2112 "View have to refresh automatically"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): deb
* Operating system: Ubuntu 16.04
* Database + version: postgres 9.5
* Elasticsearch version: 5.x
* Browser + version: latest Chrome, latest Edge

### Expected behavior:

* Views should automaticly refresh.

### Actual behavior:

* I have a view (my tickets). If a ticket is assigned to me, I see in the view the

[2018-07-04 09:19] thorsteneckel commented on #2112
Hi @schmanat  - this is more a technical question. Please refer to our [community board](http://community.zammad.org/) for those. You can add me to the topic and I will try to help. We can't reproduce it and works pretty solid which indicates that this only affects your installation.

For the community topic:
Can you ensure that all Zammad processes (especially the Websocket and Scheduler) run pro

[2018-07-04 09:19] #2112 closed, assigned to nobody

[2018-07-04 09:22] thorsteneckel commented on #1213
Prioritized via Ticket# 1023344 - @SummerStorm I verified this in the latest develop branch. Could you please find the root cause of it and let me know? Thanks!

[2018-07-04 09:23] SummerStorm commented on #1213
@thorsteneckel  Ok, got it.

[2018-07-04 12:59] martini commented on #2087
@dsukhin thanks for you issue. It's fixed in develop and stable now.

[2018-07-04 12:59] #2087 closed, assigned to martini, rlue

[2018-07-04 13:52] thorsteneckel commented on #1862
@martini could you please try setting a timeout of 20 seconds via: `Setting.set('ldap_config', Setting.get('ldap_config').merge(connect_timeout: 20))` via the [Zammad rails console](https://docs.zammad.org/en/latest/admin-console.html#start-zammad-s-rails-console).
@Sandalas - you can try it too. There are no special changes required for testing this.

[2018-07-04 15:06] tkovs commented on #2020
This only affects the tickets? This behaviour can be dangerous in the Zammad while a big system. I think that is important to check the scope of this behaviour. Someone can explains me the current situation?

[2018-07-04 16:27] martini commented on #1847
Since it raise an error message in Zammad we fixed it (note in case it isn't working, you need to execute `zammad run rake searchindex:rebuild`).

Anyway, for enhanced visualisation you should use Grafana.

[2018-07-04 17:43] mateusf97 opened #2113 "User created by php api can't create a Ticket via Form"
* Used Zammad version: 2.5.x
* Installation method (source, package, ..): ubunt 16.04 pack
* Operating system: ubuntu 16.04
* Database + version: most recent
* Elasticsearch version: most recent
* Browser + version: chrome

If i create an user via api with php:

and use zammad form

note:

The Form works fine if i create an user in initial page of zammad

![screenshot from 2018-07-04 14-27-34](htt

[2018-07-05 03:08] SummerStorm commented on #2020
@tkovs This is caused by the lack of a default "null" option for select attributes. If you have a select attributes with two options, English and German, the drop down menu will automatically choose English even if you don't click, and Zammad will mistakenly think you have chosen English.

I've written a fix for it and I'll discuss with the team on what changes I need to make before merging it.

I

[2018-07-05 06:00] chesty opened #2114 "handling postgres deadlock timeouts."
### Infos:

* Used Zammad version: 2.5.x
* Installation method (source, package, ..): zammad-docker-compose

### Expected behavior:

* zammad catches deadlock timeouts and re-queues job for a retry at a later time

### Actual behavior:

* with imap zammad makes the mail unprocessable, with ldap sync zammad changes the account to inactive.

### Steps to reproduce the behavior:

I think there are 2

[2018-07-05 06:14] thorsteneckel commented on #2113
Hi @mateusf97 - please provide the part of the `log/production.log` file which includes the logs while the ticket creation fails. There should be an `ERROR` somewhere.

[2018-07-05 13:49] rlue commented on #1316
Thanks for your patience, everyone. It's finally been fixed! Let us know if you run into any problems.

[2018-07-05 16:29] lukrop commented on #2068
I experienced the same after upgrading to 2.5. Looks like somehow the `es_url` got set. Running
`zammad run rails r "Setting.set('es_url', '')"` Solved the issue for me.

I already wondered why the report function did show some UI elements but complained about not being able to connect to elasticsearch.. It showed "Elasticsearch need to be configured!" before. After unsetting `es_url` it shows tha

[2018-07-05 16:41] NvL-WEAP commented on #2068
@lukrop glad i could point you in the right direction.

Another update from me, for somebody with similar issues :) If anybody has a working Zammad but the global search isn't working. This may be caused due a to recent elastic search version. In my case 6.5. The latest version Zammad currently supports is 5.6.10.

If you need to downgrade elasticsearch, don't forget to rebuild the zammad index af

[2018-07-05 16:51] lukrop commented on #1811
We are using OpenLDAP and our groups have a `objectClass` of `groupOfNames`. The role assignment wizard won't find any groups without changing the lookup_filter to
``` @filter ||= lookup_filter(['(objectClass=groupOfNames)', '(objectClass=groupOfUniqueNames)', '(objectClass=group)', '(objectClass=posixgroup)', '(objectClass=organization)'])```

Thanks to this issue I found out that it seems that r

[2018-07-05 17:02] mateusf97 commented on #2113
this is my log/production.log after click 'open ticket'

[code]

[2018-07-05 17:14] thorsteneckel commented on #2113
The strange thing here is that your screenshot shows `valid` as the error. Which is not possible since the validation code looks like this:
https://github.com/zammad/zammad/blob/113d13c3ad6af94ac76f6cc44329f749be5ebd54/app/controllers/form_controller.rb#L39-L79

So if you are testing with `aaa@aaa.com` this line will fail:
https://github.com/zammad/zammad/blob/113d13c3ad6af94ac76f6cc44329f749be5eb

[2018-07-05 17:42] muhammadn commented on #2108
Yeah. Sessions.job is totally a different issue totally, basically running in a loop and blocking delayed_job. I also had looked into the forums and couldn't find a place to talk about this.

Should i open a new issue or should i discuss it in the forums? 😬

@siepkes FYI. you can take a look at my current progress of porting Zammad to use ActiveJob. There are 3 files in the source code that querie

[2018-07-05 17:54] mateusf97 commented on #2113
Yeah! It Work!

![screenshot from 2018-07-05 14-47-40](https://user-images.githubusercontent.com/40579125/42339248-d6011a78-8062-11e8-8840-a7a18506c2ab.png)

First

Thank you! you answer was very helpful
but, it is a general problem

I could hypothetically create an email for jobs on google with the sub @ 'aaa' .com

https://goo.gl/5BLLhQ

like:
xxxx@yourdomain.com

if your domain = aaaa
zammad fo

[2018-07-05 20:05] thorsteneckel commented on #2113
Hi @mateusf97 - nice that it worked for you.

Regarding your question: This will work if `aaa.com` would be a valid mail domain. [The gem we're using](https://github.com/lisinge/valid_email2) is doing a MX lookup (among other things) which is basically a check if the domain of the email address is indeed valid.

However, since this was a technical question please consider using the [community boar

[2018-07-05 20:05] #2113 closed, assigned to nobody

[2018-07-05 21:13] raunsbaekdk opened #2115 "Upgrading Zammad overwrites es_url with default value"
### Infos:

* Used Zammad version: 2.5.0-1530602545.1d4ddd46.stretch amd64
* Installation method (source, package, ..): package (https://dl.packager.io/srv/deb/zammad/zammad/stable/debian 9 main)
* Operating system: Debian GNU/Linux 9 (stretch)
* Database + version: MySQL: 5.7.21-20
* Elasticsearch version: 5.6.7
* Browser + version: Not relevant

### Expected behavior:

* Keep es_url to custom se

[2018-07-06 00:10] dcapape opened #2116 "Telegram is not generating new Tickets"
### Infos:

* Used Zammad version: 2.5.x
* Installation method (source, package, ..): package
* Operating system: Debian 8.10
* Database + version: 9.4.15
* Elasticsearch version: 6.3.0
* Browser + version: Chrome 67

### Expected behavior:

A new ticket to be opened

### Actual behavior:

The ticket is not opened. Elasticsearch is running, but there is a Delayed job trying to run recursively
`irb

[2018-07-06 01:46] tkovs commented on #2020
The point is that should not be possible to remove used elements from a list of objects, but the Zammad's team knows what is better.

[2018-07-06 06:19] thorsteneckel commented on #2108
@muhammadn - yes, please stick to the [community board](http://community.zammad.org/) for now. Thanks!
Please note that the ActiveJob branch is highly experimental without the required test coverage to go into production. Additionally there are some other functionalities that need get covered, too. We will address those later, as described in my earlier comment.

[2018-07-06 07:46] thorsteneckel opened #2117 "Ticket "update" cancels active attachment upload"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): source
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Updating / saving ticket changes while upload is in progress should ask the user if the upload or the save action should get canceled

### Actual behavior:

* Updating / saving t

[2018-07-06 08:39] martini opened #2118 "A ticket created by customer via web with state new is set to open on second update by customer"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Keep state "new" if current state is already "new", just set state to "open" if ticket is not in state new anymore.

### Actual behavior:

* State is set to "new" by adding a note a

[2018-07-06 10:32] ghost commented on #2019
Same Problem here with the latest Chrome and Firefox Browser. The strange thing is that the problem exists only with trigger "ticket closed".  We have a second trigger for incoming notifications for the customer. And in these mail the url is working.

[2018-07-06 10:35] muhammadn commented on #2023
@thorsteneckel It is increasing frustrating to get a reply from twitter.

Used their own `SnowBotDev` code still fails and no replies from their forums and support form (they just give a templated reply about login issues) and it's july and running out of time. You can try it out with their console in rackup that comes with the source.

source: https://github.com/twitterdev/SnowBotDev

[code]
info

[2018-07-06 13:16] #1123 closed

[2018-07-06 13:16] #1693 closed

[2018-07-06 13:16] #1730 closed

[2018-07-06 13:16] #2088 closed, assigned to mantas

[2018-07-06 13:21] #2118 closed, assigned to martini

[2018-07-08 19:47] iccamilo opened #2119 "xml: [Errno 14] HTTPS Error 500 - Internal Server Error"
adding the repo skips the next error:

failure: repodata/repomd.xml from zammad: [Errno 256] No more mirrors to try.
https://dl.packager.io/srv/rpm/zammad/zammad/stable/el/7/x86_64/repodata/repomd.xml: [Errno 14] HTTPS Error 500 - Internal Server Error

Site: https://docs.zammad.org/en/latest/install-centos.html

[2018-07-09 05:49] thorsteneckel commented on #2119
Hi @iccamilo - this is an issue with our packaging service packager.io. The builds for the `stable` branch [are all green](https://packager.io/gh/zammad/zammad/builds/3220/install/centos-7). However, this is usually a hickup and resolved within a few hours. If the error persists please create a topic over at [community board](http://community.zammad.org/) because we handle only Zammad (application

[2018-07-09 05:49] #2119 closed, assigned to nobody

[2018-07-09 10:02] ammo8600 commented on #1407
Has anything been added so far?

[2018-07-09 17:14] Shoprunners opened #2120 "cannot create ticket as agent after update"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): package
* Operating system: ubuntu 16.04.4
* Database + version:
* Elasticsearch version: 5.6.9
* Browser + version: chrome  67.0.3396.99

### Expected behavior:

Create a ticket via backend,

### Actual behavior:

Ticket will not be created, javascript error will be thrown

### Steps to reproduce the behavior:

I

[2018-07-09 18:27] thorsteneckel commented on #2120
Hi @Shoprunners - this is probably a duplicate of #2106. Please do as described [here](https://github.com/zammad/zammad/issues/2106#issuecomment-401262710).

[2018-07-09 18:27] #2120 closed, assigned to nobody

[2018-07-09 18:43] Shoprunners commented on #2120
Sorry, I didn't see the other ticket but your description how to fix it worked perfectly.

[2018-07-10 06:49] Sandalas commented on #1862
@thorsteneckel - I made the change and restarted Zammad, unfortunately without success.
Still, the manuelly started import succeed without any errors, the automatic scheduled runs into an error after 1200+ entries.

[2018-07-10 08:54] rafamerino opened #2121 "Option to add email channel WITHOUT importing emails"
This option was commented on [this thread](https://github.com/zammad/zammad/issues/539), but was closed without resolving the real issue:

Adding email channel of an existing email account with thousands of mails (my case), **will create a huge amount of unnecesary tickets**.

I think it's necessary to add an option to **not import historical emails** in the process.

Thank your for your awesome w

[2018-07-10 08:56] thorsteneckel commented on #2121
Hi @rafamerino - Thanks! But please read our intro text before creating issues. This is not an issue but a feature request. We're only handling issues on the issue tracker. You can propose feature requests over at https://community.zammad.org/ - Closing now.

[2018-07-10 08:56] #2121 closed, assigned to nobody

[2018-07-10 10:06] rlue commented on #2019
@MrMontesa / @qspweissen, what is the output of the following?

[code]

[2018-07-10 10:37] rlue commented on #2065
@Oleszkiewicz: as @thorsteneckel pointed out, we're using [a third-party gem to interface with Microsoft's autodiscovery service](https://github.com/WinRb/autodiscover). It looks like this problem originates in this gem. To confirm this, try running the following command in your Zammad container:

[code]

If the line above actually works and successfully outputs your EWS endpoint, then there's tru

[2018-07-10 11:33] ghost commented on #2019
i am running zammad on docker and these command didn't work:

/opt/zammad# rails r "p Trigger.find_by(name: 'Ticket closing')
I, [2018-07-10T11:33:06.893240 #126]  INFO -- : Setting.set('product_logo', "04a98b2eacc9495949a77a91c62a1d52.png")
Please specify a valid ruby command or the path of a script to run.
Run 'bin/rails runner -h' for help.

undefined method `condition' for nil:NilClass_

[2018-07-10 12:41] merlinnot opened #2122 "LDAP: paging"
Hello, I've been looking around a little and I've not found any documentation about paging LDAP results. Is there such option or is it a feature request? :)

https://msdn.microsoft.com/en-us/library/aa367011(v=vs.85).aspx

[2018-07-10 13:23] thorsteneckel commented on #2122
Hi @merlinnot - We're tracking only issues here on the issue tracker (as stated in the initial issue text you removed). Please ask technical questions over at the [community board](http://community.zammad.org/).

Regarding your question: It seems like the the [support of paged results is still an open issue (sice 2011) for the gem we are using](https://github.com/ruby-ldap/ruby-net-ldap/issues/12)

[2018-07-10 13:23] #2122 closed, assigned to nobody

[2018-07-10 13:28] HLFH commented on #2097
Hi. Is https://github.com/zammad/zammad/commit/7bb7e7a438d1bb4a969d878d06c705f74cd11701 fixing #2097?

[2018-07-10 14:52] FGIKCM commented on #1192
Same problem for me. I managed to make an SSO connection from Apache side (which populate `REMOTE_USER`) with 2 methods (Kerberos & X509 SSL Client certificate). And my users accounts are well populated, with the Zammad LDAP plugin.

- As @EDVLeer when I reach `/auth/sso` I see the user login in the apache log (so it works), but I come back on the login screen again.
- I tried the hack of writing

[2018-07-10 15:25] merlinnot commented on #2122
Thanks.

[2018-07-10 15:39] rlue commented on #2019
@qspweissen, looks like you're missing a trailing quotation mark?

[2018-07-10 16:27] MrMontesa commented on #2019
@rlue, I'm on vacation right now. Will follow up week after next once returned.
Thanks

[2018-07-11 01:53] #1802 closed

[2018-07-11 02:20] rlue commented on #1802
@rbq, I suspect that for the Exchange credentials & endpoint you provided, there are no folders visible/allowed to the given user (or if there are, then there is a bug in the [Viewpoint gem](https://github.com/WinRb/Viewpoint) we use to interface with EWS). The `ErrorAccessDenied` message you see in the logs is actually [rescued and ignored](https://github.com/zammad/zammad/blob/develop/lib/import

[2018-07-11 04:14] rlue commented on #2100
@thorsteneckel, I'm thinking it would be simpler (and faster to test) if we simply added a `before_save` callback on the `HttpLog` model. Sound okay to you?

@penzoiders, could I trouble you to share one last detail? What's the output of the following command?

[code]

---

**EDIT:** Scratch that; ActiveRecord doesn't save the encoding of individual strings in `HttpLog` attributes (and on second t

[2018-07-11 06:32] penzoiders commented on #2100
here it is:

[code]

[2018-07-11 06:50] rlue commented on #2100
Oh, that's not what I was expecting. It's possible this is a database configuration issue then — what value do you have set for `encoding` in `config/database.yml`? (It should be `utf8`; [here's a sample config file for reference](https://github.com/zammad/zammad/blob/develop/config/database/database.yml#L9).)

---

**EDIT:** Sorry, upon closer inspection, this is probably still an issue with Zamm

[2018-07-11 07:14] thorsteneckel commented on #2100
@rlue  You're absolutely right!

[2018-07-11 09:53] rbq commented on #1802
[code]

[2018-07-11 10:24] penzoiders commented on #2100
sorry for late reply:
[code]

[2018-07-11 10:43] McPimp opened #2123 "Error: StatusCode 500 during forgot password feature"
Zammad version: 2.5.x
Installation method:  Ubuntu
Operating system: Ubuntu 16.04

### Expected behavior:

Want to use the forgot password feature.

### Actual behavior:

Getting the following error:
Status Code 500
{"error":"Can't use Channel::Driver::Smtp: #\u003cArgumentError: SMTP To address may not be blank: []\u003e"}

Please will someone assist me?

Kind Regards
EB

[2018-07-12 05:48] rlue commented on #2065
This problem has been fixed by 2e4b712. (_I.e.,_ autodiscovery will still fail, but you'll be prompted to enter the endpoint URL directly now instead of having to resort to this "trick".)

We're still happy to debug the autodiscovery failure with you, but that'll have to happen on the [autodiscover gem's project issue tracker](https://github.com/WinRb/autodiscover/issues).

[2018-07-12 05:48] #2065 closed, assigned to rlue

[2018-07-12 07:17] #2100 closed, assigned to rlue

[2018-07-12 07:23] rlue commented on #2100
@penzoiders it's all fixed now, and should be pushed as a 2.6 release on hub.docker.com soon. (A 2.5 release will be available in the next few days.)

[2018-07-12 07:28] rlue commented on #2019
@qspweissen, what version of Zammad are you running? And sorry, just realized that the `rails r` command I provided above only applies to @MrMontesa; could you modify it to reflect the name of the trigger that's giving you problems? (_i.e.,_ `Trigger.find_by(name: '<TRIGGER NAME>')`).

I'm not able to reproduce this issue; can anyone confirm that it happens on Zammad 2.5.0?

[2018-07-12 08:01] ghost commented on #2019
I am on version 2.5.
`rails r "p Trigger.find_by(name: 'Ticket geschlossen').condition"`
Output:
[code]

`rails r "p Trigger.find_by(name: 'Ticket geschlossen').perform"`
Output:
[code]

The problem is the href link.

Here is my trigger:

[code]

[2018-07-12 09:52] SummerStorm commented on #721
We are adding the ability to delete users soon (issue #2074), and a deleted user cannot create tickets. So that new feature will get you guys exactly what you want.

In the meanwhile, the inactive flag is purely a visual indicator that carries no restrictions on what that user can do. An inactive user is still allowed to create and respond to tickets.

For more information please see this [communi