[2021-07-13 12:46] mgruner commented on #1601
@monotek @martini @thorsteneckel new issue created, please let me know if something needs to be improved there.

[2021-07-13 12:46] #1601 closed

[2021-07-13 13:35] dominikklein commented on #3578
Closed with 0fe81f4e0b3b6f01582ffa93a8e74953cc77668a

[2021-07-13 13:35] #3578 closed, assigned to dominikklein

[2021-07-14 09:23] rolfschmidt commented on #3643
I tried to reproduce it but in the current state the elastic search will set the mapping on the rebuild of the search index. So the issue should not happen. Please reopen if you have more information to reproduce this issue.

[2021-07-14 09:23] #3643 closed, assigned to nobody

[2021-07-14 11:07] mgruner commented on #3653
Hi @jeremyrnelson, would you please provide us with a full stack trace for this issue?
Imports timing out are a known issue that needs to be addressed now, but the built-in timeout is 4 hours, which would not match with what you are seeing (2 hours).

[2021-07-14 12:26] mgruner commented on #3653
@jeremyrnelson never mind about the stack trace, I see the same behaviour locally. Fix is on the way!

[2021-07-14 14:32] #3654 closed, assigned to mantas

[2021-07-14 18:56] #3653 closed, assigned to mgruner

[2021-07-14 19:58] sbrosl opened #3657 "Zammad on Oracle Linux 8 fails to install"
Oracle Linux 8 is one of the main successors and (almost) drop-in replacement to CentOS 8 and follows a similar release philosophy as CentOS 6-8 and is similarly downstream from RHEL.

In our experience, it has indeed been a drop-in replacement but this does not seem to be the case with the Zammad package as it expects the _epel-release_ package to be called _epel-release_, where as it was renamed

[2021-07-14 20:19] MrGeneration commented on #3657
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-07-14 20:19] #3657 closed, assigned to nobody

[2021-07-14 20:30] sbrosl commented on #3657
Ok sorry, felt like a bug in the package to me, I will head over there instead :)
Thanks!

[2021-07-14 22:40] olafbuitelaar commented on #3413
I've done a little debugging, it seems generally that the implementation resolves around the existence and placement of the `.js-signatureMarker` element, check; https://github.com/zammad/zammad/blob/2e8415d5d0bec0278402d742940f72f07ea86c55/app/assets/javascripts/app/controllers/ticket_zoom/article_view.coffee#L249
a few common cases i've found;
-  `.js-signatureMarker` is found and placed correct

[2021-07-15 06:14] mgruner commented on #3653
Hi @jeremyrnelson, can you please update and try again?

[2021-07-15 21:40] nastacio-roggen opened #3659 "Get list of all users in Zammad using Rest API"
### Infos:

* Used Zammad version:
* Installation method (source, package, ..):
* Operating system:
* Database + version:
* Elasticsearch version:
* Browser + version:

### Expected behavior:

When I run **curl --insecure -u "username":"password" https://zammad.mydomain.net/api/v1/users** in the command prompt, I expect to get the data for every user in the Zammad system.

### Actual behavior:

I

[2021-07-15 21:50] MrGeneration commented on #3659
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-07-15 21:50] #3659 closed, assigned to nobody

[2021-07-16 02:33] jeremyrnelson commented on #3653
Martin,

It has been running over 24 hours and has imported 17800 tickets so far so
I think it’s safe to say that issue is resolved - thanks!

On Thu, Jul 15, 2021 at 02:14 Martin Gruner ***@***.***>
wrote:

--
Jeremy

[2021-07-16 06:17] mgruner commented on #2635
Our first attempt to implement this failed spectacularly and was now discarded. Here are the main issues / lessons learned:

- Performance: writing additional history entries on ticket creation has potential to make the processing of new tickets slower.
- Our attempt at this was to handle history create and update asynchronously via background jobs. This proved to be problematic because other logi

[2021-07-16 06:37] romitgithub commented on #3539
@mantas What if the text selected is both inside and outside of the article?

[2021-07-16 08:24] mantas commented on #3539
I'd prefer quoting the part that was inside of the article and discarding the other part. Otherwise quoting wouldn't work if text selection goes slightly wrong.

But if that proves to be too difficult, then just discarding such quotes is fine.

[2021-07-16 11:05] romitgithub commented on #3539
That is definitely going to be out of the way, would take extra efforts.

I was just wondering if this could be really a usecase. Otherwise it'd be just an unnecessary implementation. Or should we just wait and watch if such cases arise?

[2021-07-16 13:01] #2258 closed, assigned to dominikklein

[2021-07-16 13:18] MrGeneration opened #3660 "Pagination for knowledge base answer sorting breaks sorting"
### Infos:

* Used Zammad version: 4.1/stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any, verified on Google Chrome 91.0.4472.124
* Note: This issue was originally found by community member `DeamonMV`: https://community.zammad.org/t/change-order-of-answers-in-glossary-end-with-an-error/717

[2021-07-16 21:01] jeremyrnelson opened #3661 "FreshDesk Import Error - undefined method `body' for 10:Integer"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): package
* Operating system:Ubuntu 20.04
* Database + version: Postgres 12.7
* Elasticsearch version: n/a
* Browser + version: Edge 91 macOS 11.4

### Expected behavior:

Import all the tickets

### Actual behavior:

Importer dies at 30K tickets with the above unhelpful error (I think because the underlying FreshDes

[2021-07-17 09:35] mantas commented on #3539
IMO most common case could be a wacky selection where 99% of content is inside. But juuuust a bit (e.g. a space) is outside.

[2021-07-19 13:16] pfruh opened #3662 "New user logging in via SAML - no user shown in user management and no possibility to modify permissions"
### Infos:

* Used Zammad version: 4.1.0-1626082487.5063437e.focal
* Installation method (source, package, ..): Ubuntu Package
* Operating system: Ubuntu 20.04.2
* Database + version: postgresql 12.7
* Elasticsearch version: 7.13.3
* Browser + version: Firefox 90

### Expected behavior:

* A new SAML user (email does not exist in local database) logs in and `Automatic account link on initial logon

[2021-07-19 13:17] MrGeneration commented on #3662
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-07-19 13:17] #3662 closed, assigned to nobody

[2021-07-19 13:36] Janl1 commented on #3662
Did you even read the report? It does not seem like it...
For me it clearly sounds like a bug.

[2021-07-19 13:38] MrGeneration commented on #3662
Yes.
User does not appear in user management.

Clearly not a bug but a question.
Question classic. Please don't create more noise for 2000+ people on this repository with technical questions, thank you.

[2021-07-19 14:22] MrGeneration opened #3663 "Custom date attributes provide inconsistent sorting within grouping"
### Infos:

* Used Zammad version: 4.1/stable
* Installation method (source, package, ..): package and SaaS (any)
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified on Google Chrome 91.0.4472.164
* Ticket: #1089836

### Expected behavior:

Grouping tickets by dates in overviews is no problem.

### Actual behavior:

Grouping tickets by dates

[2021-07-19 16:54] #3247 closed, assigned to rolfschmidt

[2021-07-19 17:03] #2973 closed, assigned to rolfschmidt

[2021-07-20 08:41] rolfschmidt opened #3664 "Locking a record with unpersisted changes is not supported. Use `save` to persist the changes, or `reload` to discard them explicitly"
### Infos:

* Used Zammad version: 4.1
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all
* Ticket#1089297, Ticket#1089826
* https://community.zammad.org/t/locking-a-record-with-unpersisted-changes-is-not-supported/4861

### Expected behavior:

* Ticket are editable

### Actual behavior:

* On a t

[2021-07-20 08:48] rolfschmidt commented on #3664
Currently we dont know what is the reason for the problem. We found out that the problem is in the ticket table. The column preferences stores the escalation information in yaml format and for some reason after the upgrade it has missing spaces in the indentation of the data. It can be reproduced with the SQL attached.

[lock_bug.zip](https://github.com/zammad/zammad/files/6846784/lock_bug.zip)

T

[2021-07-20 09:27] rolfschmidt opened #3665 "Longer category names break boxes in mobile version"
### Infos:

* Used Zammad version: 4.1
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all
* Ticket#1087635

### Expected behavior:

* Longer category names break boxes in mobile version

### Actual behavior:

![grafik](https://user-images.githubusercontent.com/5445062/126297224-4b1dc93c-f0c4-4f25-

[2021-07-20 09:39] #3580 closed, assigned to mgruner

[2021-07-20 09:51] pfruh commented on #3662
If someone stumbles across this issue - it's not a separate one but related to other "Users missing from Interface" issues and caused by the elasticsearch index missing data.

I don't know why this one user wasn't added to the elasticsearch index, since my elasticsearch installation was running without any issues, however rebuilding the indices by running `zammad run rake searchindex:rebuild` fixe

[2021-07-20 09:53] MrGeneration commented on #3662
Sure. A pull request for the documentation is warmly welcome if you find the spare time.

[2021-07-20 11:08] sandysong opened #3666 "Package installation fails because of too long file names"
Running transaction
  Installing : zammad-5.0.0-1626714207.5675887e.centos7.x86_64                                                                                                                                                                           1/1
Error unpacking rpm package zammad-5.0.0-1626714207.5675887e.centos7.x86_64
error: unpacking of archive failed on file /opt/zammad/test/data/vc

[2021-07-20 11:11] MrGeneration commented on #3666
develop is currently broken, don't use it.

[2021-07-20 11:17] mgruner commented on #3580
Hi @klando, thanks for your suggestion. This is now implemented as a hint in the package manager GUI as shown on the following screenshot:

<img width="710" alt="Bildschirmfoto 2021-07-20 um 13 16 14" src="https://user-images.githubusercontent.com/211281/126315122-db88373d-e8fb-427e-85f1-82443b9b2dc6.png">

[2021-07-20 11:18] mgruner commented on #3661
Confirmed 300 page maximum: https://developers.freshdesk.com/api/#list_all_tickets

[2021-07-20 11:48] dominikklein commented on #3661
And at the moment we use 'ASC' as the sorting order (https://github.com/zammad/zammad/blob/fa7c4210bb5b1eec7c5554a77c67f8a36dd464ba/lib/sequencer/unit/import/freshdesk/request/ticket.rb#L13), so the newest tickets will not be imported, in the case that more then 30.000 tickets exists.

[2021-07-20 12:01] klando commented on #3580
So I was missing the `assets:precompile` and `restart` stages. Thank you for the patch.

[2021-07-20 21:44] jeremyrnelson commented on #3661
So maybe you run multiple loops, sorting in ascending order by updated_at, and then using the "updated_at" time for the last ticket as the filter for the next loop?  That would be great for making certain that you catch all updates that occur during the import (since the import can take days and presumably the customer doesn't want to be down that long).  You'd need to make certain that you don't

[2021-07-21 07:10] dominikklein opened #3667 "No possibility to enforce auto response if one of the blocking auto response mail header exists"
### Infos:

* Used Zammad version: 4.1
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

### Expected behavior:

* It should be possible to enforce the auto response with setting of `X-Zammad-Send-Auto-Response: true` in the mail header, also if a blocking auto response mail header exists.

###

[2021-07-21 12:40] dominikklein opened #3668 "The defined ignored attributes in the popover context are not working"
### Infos:

* Used Zammad version: 4.1
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

### Expected behavior:

* The defined ignored attributes (e.g. for the user object the firstname, lastname and orgnization attribute) should not be visible in the popover output.

### Actual behavior:

* All

[2021-07-21 15:00] MrGeneration opened #3669 "Do not send `domain` and migrate `domain` out of Google and Microsoft 365 channels"
### Infos:

* Used Zammad version:  4.1/stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket: #1089719

### Expected behavior:

Zammad uses it's FQDN variable setting for `EHLO`/`HELO` with mail servers.

### Actual behavior:

When using Google or Microsoft 365 channel, Zammad will a

[2021-07-22 07:52] ChibangLW opened #3670 "Text-Modules CSV-Import with multiple groups"
### Infos:

* Used Zammad version:  4.1.x
* Installation method (source, package, ..): package
* Operating system: Ubuntu 18.04

### Expected behavior:

* Same behavior between UI and CSV import for text modules
* Actually to be able to import a text module with multiple groups via CSV

### Actual behavior:

* Only possible to import text modules with a single group. Otherwise import fails.
* Trie

[2021-07-22 09:06] #3666 closed, assigned to thorsteneckel

[2021-07-22 09:07] thorsteneckel commented on #3666
Thanks for the heads up @sandysong - develop is fixed. Packages should be available in about 30 minutes from now 🚀

[2021-07-22 09:58] #3487 closed, assigned to bolah2009

[2021-07-22 12:35] #3579 closed, assigned to rolfschmidt, dominikklein

[2021-07-22 12:47] #3668 closed, assigned to dominikklein

[2021-07-22 13:19] MrGeneration opened #3671 "Webhook log cuts payload"
### Infos:

* Used Zammad version: 4.1/stable, 4.0/stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

If Zammad provides the payload of an http request it should either provide the full request or clearly indicate truncation (for whatever reason).

### Actual behavi

[2021-07-23 06:47] mrflix commented on #3665
@rolfschmidt

1. Can you disclose what the two long titles say? I'm wondering what reason they have to make the titles so long. Is there maybe a need for a description per category? For example like [Facebook](https://www.facebook.com/help) has them:
![Screenshot 2021-07-23 at 08 44 48](https://user-images.githubusercontent.com/60777/126746328-b53b0af4-ceae-46e8-965b-a0d1a814e4c7.png)

2. What scr

[2021-07-23 08:20] xf- commented on #3664
@rolfschmidt this ends up in an exception (using the file storage)
[code]

[2021-07-23 08:23] MrGeneration commented on #3664
@xf- this comes from `Cache.clear` and is because you did not stop Zammad.
If your instance is busy this may happen.

Run `Cache.clear` more often until the error disappears will help if you can't stop Zammad.

[2021-07-23 08:26] xf- commented on #3664
THX - I thought maybe the issue is different with file storage.
This fixed the issue. Just stopped the instance for a moment.

[2021-07-23 09:26] rolfschmidt opened #3672 "MessageBird integration"
### Infos:

* Used Zammad version: 5.0
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all
* Ticket#1087274

### Expected behavior:

* It should be possible to use messagebird (https://messagebird.com) as sms channel like twilio.

### Actual behavior:

* It is not

[2021-07-23 11:22] dominikklein commented on #3661
At a first step we will fix the not correctly handled error in this issue. With this in place the system should be available after the import, also in the case that only 30.000 tickets are imported.
As a additional step we will switch from the `ascending` to a `descending` sorting for the tickets, so with this the newest tickets will be imported.
This two changes should hopefully be available in t

[2021-07-23 11:28] MrGeneration commented on #3661
Out of curiosity and for documentation reasons:
Due to the paging limitation, does this mean we have a ticket limit of 30,000 tickets per sorting mechanism totaling in a maximum of 60,000 tickets we can import from freshdesk?

[2021-07-23 11:34] dominikklein commented on #3661
Freshdesk has a limit of 300 pages with a maximum size of 100 tickets per page, so this resulsts in a limit of 30.000 tickets which can at the moment be imported from freshdesk. The sorting was in general was changed, so that we will first import the newest tickets instead of the oldest tickets.

[2021-07-23 11:35] MrGeneration commented on #3661
Okay so we do not turn around and are still on the fixed 30k limit for the newest tickets?

[2021-07-23 11:42] dominikklein commented on #3661
For now this is the case, because otherwise we need a detection if the ticket was already imported and we do not have this functionality at the moment in the sequencer.
But it's still in clarification if we add some more effort here, then we can add this detection and with this in place we can add a loop for every 300 pages which use the update timestamp from the last received ticket as the new `u

[2021-07-23 19:12] mantas commented on #3665
+1 for description. I remember pre-release version did have it, but we removed it at some point...

[2021-07-23 21:44] #2886 closed, assigned to dominikklein

[2021-07-24 19:49] jeremyrnelson commented on #3661
Thanks guys, this all seems quite reasonable.  While I'd love to have ALL
tickets, the most recent 30,000 tickets doesn't seem like an unreasonable
limitation, certainly for the short term.  It IS a bit difficult to manage
the fact that the import takes 2+ days to complete, however.

Sanity check my thinking here, but if you switch to descending order and we
add, say, 100 more tickets through the

[2021-07-26 10:21] darjichirag235 opened #3675 "New Email Account button not present"
### Infos:

* Used Zammad version: 4.1.x
* Installation method (source, package, ..): package
* Operating system: Centos-7
* Database + version: PSQL-10
* Elasticsearch version: 7.9.0
* Browser + version: Chrome

### Expected behavior:

*
Actuly after add outbound command via "Rails Console" (Channel.create(area: 'Email::Account', options: { outbound: { adapter: 'sendmail' } }, active: true, prefe

[2021-07-26 10:24] MrGeneration commented on #3675
This also has been posted in the community 28 minutes ago.
Please don't make people twice as busy with not providing these crucial base information.

https://community.zammad.org/t/email-account-showing-blank/7339

[2021-07-26 10:26] MrGeneration commented on #3675
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-07-26 10:26] #3675 closed, assigned to nobody

[2021-07-26 10:31] #3667 closed, assigned to dominikklein

[2021-07-26 10:39] darjichirag235 commented on #3675
ok

[2021-07-26 11:05] #3627 closed, assigned to dominikklein

[2021-07-26 22:44] nichogenius opened #3678 "Can't select between IMAP email accounts if they have the same email address, username, and password, but different root folders."
### Infos:

* Used Zammad version: 4.1.x
* Installation method (source, package, ..): package
* Operating system: Ubuntu 20
* Database + version: PostgreSQL 12.7
* Elasticsearch version: 7.10.2
* Browser + version: Chrome v92

### Expected behavior:
The same IMAP email inbox should be able to act as multiple email inboxes if they have different root folders.
*

### Actual behavior:
When assigning

[2021-07-26 22:48] nichogenius commented on #3678
Nevermind - the Email selection box I was seeing is the outbound email address, not the inbound address. Closing.

[2021-07-26 22:48] #3678 closed, assigned to nobody

[2021-07-27 06:57] #2407 closed, assigned to mantas

[2021-07-27 06:57] #3003 closed, assigned to mantas, dominikklein

[2021-07-27 22:18] MrGeneration opened #3679 "Zendesk URL check fails with Net::HTTPForbidden 403 error"
### Infos:

* Used Zammad version: 4.1/stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

Zammad finds the Zendesk instance. :)

### Actual behavior:

In specific situations Zammad fails to check the validy of the zendesk url with 403 forbidden.

![image](https://us

[2021-07-28 08:12] mantas opened #3680 "KB Public UI icons are misspaced"
### Infos:

* Used Zammad version: 5.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

![image](https://user-images.githubusercontent.com/36944/127287836-d867dce5-b6a7-4f68-9bdd-adb2aad60356.jpeg)

### Actual behavior:

![image](https://user-images.githubusercontent.com

[2021-07-28 08:14] #3679 closed, assigned to thorsteneckel

[2021-07-28 13:58] #2930 closed, assigned to romitgithub

[2021-07-28 14:01] #3460 closed, assigned to romitgithub

[2021-07-28 14:06] #3449 closed, assigned to romitgithub

[2021-07-28 14:18] alexdonskih commented on #2851
Hi @MrGeneration. Unfortunately the issue is still persistent on Zammad version 4.1.x. The solution is still the same as provided in the original post. Thanks.

[2021-07-28 14:22] #3302 closed, assigned to mrflix, dominikklein

[2021-07-28 14:40] #3661 closed, assigned to mgruner, dominikklein

[2021-07-28 15:19] dominikklein commented on #3661
@jeremyrnelson with this fix (backport to stable will hopefully available tomorrow) the import should not fail and the system should be available aftwards.

I will create a new issue for the limit of 30.000 tickets and we will change the handling to avoid this limitation and hopefully we will also add a solution to handle tickets which were added/updated during the long run of the import.

[2021-07-28 15:21] jeremyrnelson commented on #3661
Thanks - you guys are awesome!

Jeremy Nelson, President

Pinnacle Technology Solutions

260-205-8900

***@***.***

On Wed, Jul 28, 2021 at 11:19 AM Dominik Klein ***@***.***>
wrote:

[2021-07-28 18:57] dominikklein opened #3681 "Freshdesk import works not with more then 30_000 tickets"
### Infos:

* Used Zammad version: 4.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

The freskdesk import should work with more then 30_000 tickets and the import should also handle created/updated tickets during the long run time of the import.

### Actual behavior:

[2021-07-28 18:58] dominikklein commented on #3661
Created the new issue #3681.

[2021-07-28 21:14] nichogenius opened #3683 "Blank email protection does not activate if signature is present"
### Infos:

* Used Zammad version: 4.1.X
* Installation method (source, package, ..): Package
* Operating system: Ubuntu 20 / Windows 10
* Database + version: PostgreSQL
* Elasticsearch version:
* Browser + version: Chrome

### Expected behavior:
If I attempt to send a blank email to a customer, a modal pops up and prevents me from submitting an email with a blank body.  This should also happen if

[2021-07-29 09:57] MrGeneration opened #3684 "Scheduler ignores "disable notifications == no""
### Infos:

* Used Zammad version: 4.1/stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket: #1087230

### Expected behavior:

Zammad provides an in App and email notification (depending on the users notification configuration) if a scheduler task is set to `Disable Notifications NO`

[2021-07-29 11:45] MrGeneration opened #3685 "Zammad UI should silently discard Cache / apply2file errors"
### Infos:

* Used Zammad version: 4.1/stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket: #1089868
* May indirectly affect https://github.com/zammad/zammad/issues/3563 as well

### Expected behavior:

If Zammad can't write a cache file for whatever reason, it won't bug end users w

[2021-07-30 12:53] dominikklein commented on #3556
@thorsteneckel at the moment unauthorized and forbidden will be written in the info log, maybe this should be changed to debug?

https://github.com/zammad/zammad/blob/3b8ff4d17848a0a12c3486463316b5d661301b84/app/controllers/application_controller/handles_errors.rb#L39

https://github.com/zammad/zammad/blob/3b8ff4d17848a0a12c3486463316b5d661301b84/app/controllers/application_controller/handles_erro

[2021-08-02 09:43] strifel opened #3686 "Slack bot image url returns 404"
### Infos:

* Used Zammad version: -
* Installation method (source, package, ..): -
* Operating system: -
* Database + version: -
* Elasticsearch version: -
* Browser + version: -

Issue found in Code in 3b8ff4d17848a0a12c3486463316b5d661301b84

### Expected behavior:

* The URL should provide a logo for the Slack Webhook bot

### Actual behavior:

* The URL for the image returns 404

### Steps to

[2021-08-02 09:50] MrGeneration commented on #3686
Please use the complete issue template.

[2021-08-02 09:55] strifel commented on #3686
@MrGeneration Thanks for the hint.
I used Githubs "Create an issue referencing this line" and it did somehow not use the issue template.

I updated the Issue to use the template

[2021-08-02 10:05] MrGeneration commented on #3686
@martini  not sure if this file every existed von `zammad.com` - if it did it would be the easiest to put it back in place.

[2021-08-02 13:33] jeremyrnelson opened #3687 "FreshDesk Import doesn't pull in auto-assign domain(s) for organizations"
### Infos:

* Used Zammad version: 4.1
* Installation method (source, package, ..): package
* Operating system: Ubuntu 20.04
* Database + version: Postgres 12.7
* Elasticsearch version: n/a
* Browser + version: n/a

### Expected behavior:

Pull in at least 1 of the domains from FreshDesk, since I believe Zammad only allows for a single domain while FreshDesk allows for multiple.

Confirmed that th

[2021-08-02 14:07] MrGeneration opened #3688 "Removing organizations removes user and ticket as well"
### Infos:

* Used Zammad version: 4.1/stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket: ~~#1090309~~
* *Note: This may have been introduced due to Data Privacy*

### Expected behavior:

When removing an organization, Zammad will not remove ticket data or users as removing the or

[2021-08-02 14:42] keunes commented on #2845
It seems that when an article is published it is now (on 4.1.x hosted trial version) possible to select another state (e.g. draft, archived) and select the date on which this will happen
![image](https://user-images.githubusercontent.com/11229646/127879398-1680ef91-2d8a-48c3-871e-d805a9179634.png)
![image](https://user-images.githubusercontent.com/11229646/127879480-dfeb70df-6320-466b-ba76-3cf5e4b

[2021-08-02 22:45] jeremyrnelson opened #3689 "FreshDesk Import brings in all users as inactive"
### Infos:

* Used Zammad version: 4.1
* Installation method (source, package, ..): package
* Operating system: Ubuntu 20.04
* Database + version: Postgres 12.7
* Elasticsearch version: n/a
* Browser + version: Edge 92 on MacOS 11.4

### Expected behavior:

* Customers are imported as Active/Inactive based on setting in FreshDesk

### Actual behavior:

* Customers all come in as Inactive (as far a

[2021-08-03 01:07] jeremyrnelson commented on #3689
I did some more searching and querying in FreshDesk, and I see what happened - FreshDesk and Zammad use "Active" to mean different things:

In FreshDesk, "Active" seems to mean that the user has logged into the web portal (most of our customers use only email to communicate with us, so "active" is false for most of our customers).

In Zammad, "Active" means that the customer/agent/admin can log in

[2021-08-03 06:38] dominikklein commented on #3688
@rolfschmidt maybe you should check this? Because you added the lines for the deletion, maybe it's needed or it should be two versions for the destroying of organizations.

https://github.com/zammad/zammad/blob/3b8ff4d17848a0a12c3486463316b5d661301b84/app/models/organization.rb#L50-L53

[2021-08-03 07:44] JoachimVeulemans opened #3690 "OpenId Connect - SSO Authentication - AUTH IS NULL, SERVICE NOT LINKED TO ACCOUNT"
Hi

While trying to set up OpenId Connect in my Zammad installation, I think I encountered a bug on the error page. The text is not formatted and the template glitches out.

I am getting `AUTH IS NULL, SERVICE NOT LINKED TO ACCOUNT` and `undefined method [] for nil:NilClass (NoMethodError)`.

Am I doing something wrong in my configuration? Many Thanks in advance! I can repost in the community if n

[2021-08-03 08:33] MrGeneration commented on #3690
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-08-03 08:33] #3690 closed, assigned to nobody

[2021-08-03 15:55] mantas commented on #2845
@keunes the problem is that switch-at-date goes top-to-bottom only. Can't go from `Public` back to `Internal` at a scheduled date.

[2021-08-03 20:41] keunes commented on #2845
Ah, thanks

[2021-08-04 10:11] keunes commented on #2845
Actually, I just realised: 'Archived' is at the bottom of the list, so strictly speaking this feature request ("Depublish date for KB Answers") is covered: it is possible to set a de-publishing date for KB Answers. The state will be 'Archived', while 'Draft' and 'Internal' aren't possible - but this makes total sense to me.

Maybe the 'Archived' state didn't exist yet at the time of ticket creatio

[2021-08-04 10:16] mantas commented on #2845
Archived is essentially back to Draft. Depublished would be switching back to Internal.

[2021-08-04 11:16] keunes commented on #2845
ah, ok. I still don't see the use-case, but I understand the difference now :)

[2021-08-04 11:17] MrGeneration commented on #2845
Can we please move all future / further discussion about this topic to the community if needed?
Github is the wrong place for this.

[2021-08-05 07:54] #3680 closed, assigned to mantas

[2021-08-05 08:12] #2565 closed, assigned to dominikklein

[2021-08-05 08:40] #3689 closed, assigned to dominikklein

[2021-08-05 08:42] romitgithub commented on #3129
@MrGeneration There are two ways to solve this issue:

1. Remove signature from the group when it's deactivated, which will automatically clear it from reply text
2. Display signature only when it's in active state. This will still keep the signature associated to the group but won't display in the reply text.

Which one do you prefer/mean here?

IMO I think it's better to go with `Option 2` becau

[2021-08-05 09:50] MrGeneration commented on #3129
Maybe I'm understanding wrong, but if I set a signature to inactive and create a new reply in the group in question afterwards, would you think it's valid that we still insert the inactive signature there...?

[2021-08-05 09:55] romitgithub commented on #3129
No, that's not I mean. If a signature is inactive it won't be inserted in the reply.

[2021-08-05 10:13] #3687 closed, assigned to dominikklein

[2021-08-05 11:00] dominikklein commented on #3687
We added the usage of the first domain from freshdesk for the added orgnanization in zammad, because of the limitation that Zammad supports only one domain and freshdesk mulitple domain.

[2021-08-05 11:01] dominikklein commented on #3689
@jeremyrnelson thanks for the hind, i also saw this in my tests and the user active flag in zammad will now always be `true` and only for deleted/blocked users it will be `false`.

[2021-08-05 12:28] MrGeneration opened #3691 "'References' mail header may exceed RFC limit of 1000 chars and mail servers won't process it"
### Infos:

* Used Zammad version: 4.1/stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket: #1090427

### Expected behavior:

Zammad generates eml headers that fit RFC conditions (header may not be longer than 1000 chars)

### Actual behavior:

Zammad generates e.g. Reference Header

[2021-08-05 12:43] thorsteneckel commented on #3556
As discussed with @dominikklein we propose to reduce the logging by :

- removing the absolute Zammad directory and only print the relative path from the Zammad directory (`/opt/zammad/models/ticket.rb:1337` -> `models/ticket.rb:1337`)
- skipping non Zammad paths (e.g. `/usr/local/rvm/gems/ruby-2.6.6/gems/...` and others)

[2021-08-05 12:48] #3590 closed, assigned to mantas

[2021-08-05 13:57] #2851 closed, assigned to mantas

[2021-08-06 12:36] funsports opened #3692 "No incomming Mails after Update"
### Infos:

* Used Zammad version: 4.1.x - [4.1.0-1628189510.ad8bc927.focal amd64 [aktualisierbar von: 4.1.0-1623058318.8522a752.focal]]
* Installation method (source, package, ..):
* Operating system: Ubuntu 20.04.2 LTS
* Database + version: psql
* Elasticsearch version: 7.13.1

### Expected behavior:

*  Zammad accepts mails as usual

### Actual behavior:

* Zammad has been running with us for m

[2021-08-06 12:38] MrGeneration commented on #3692
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-08-06 12:38] #3692 closed, assigned to nobody

[2021-08-06 13:26] ghost opened #3693 "Delete"

[2021-08-06 13:28] MrGeneration commented on #3693
Sorry, but this seems to be a feature request.
Please note that this repository is the wrong place for feature requests.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case the community provides enough votes (hearts on the first article, so feels the same way like you), we will move the feature request to this repository.

If you require a feature *now* or

[2021-08-06 13:28] #3693 closed, assigned to nobody

[2021-08-06 15:17] #3556 closed, assigned to dominikklein

[2021-08-09 07:52] MrGeneration commented on #2438
After internal discussions we came to the conclusion that this issue is not that easy to fix, because just enabling above required functionality may cause several triggers that fire in short time periods. That causes a lot of noise and may strike existing triggers in a very unexpected way.

This is why we came up with two new condition filters for tags:
   * any added `<value(s)>`
   * any removed

[2021-08-09 11:45] cautopartes opened #3694 "Inheritance of out of office settings"
### Infos:

* Used Zammad version: 4.1.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Tickets: #1090693

### Expected behavior:

* Agent A sets Agent B as out of office replacement (Agent B receives notifications and has overview for "replacement tickets" )
* Now Agent C is set as replacem

[2021-08-09 12:23] #3688 closed, assigned to rolfschmidt

[2021-08-10 06:16] #3591 closed, assigned to mantas

[2021-08-10 08:15] #3648 closed, assigned to rolfschmidt

[2021-08-10 12:43] #3669 closed, assigned to rolfschmidt

[2021-08-10 14:24] #3113 closed, assigned to rolfschmidt

[2021-08-11 11:11] #3583 closed, assigned to mantas

[2021-08-12 10:09] #3660 closed, assigned to mantas

[2021-08-12 12:00] rolfschmidt opened #3695 "Detect Jira follow-ups"
### Infos:

* Used Zammad version: 4.1
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

### Expected behavior:

* Jira follow-ups to a Ticket should be automatically added

### Actual behavior:

* Jira removes all Zammad Ticket references (Number, mail header etc.)
* Jira follow-ups to a Ticket

[2021-08-12 12:05] #3681 closed, assigned to thorsteneckel, dominikklein

[2021-08-12 17:06] MrGeneration opened #3696 "User search / selection does not always work if you want to correct your search"
### Infos:

* Used Zammad version: 4.1/stable and older
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified on Google Chrome 92.0.4515.13 but should affect all major browsers
* Ticket: #1085390
* Affected UI parts (at least):
   * New Ticket Dialogue
   * Out of Office Replacements

### Expect

[2021-08-13 09:03] dominikklein opened #3697 "Mix of binary encoded ISO-8859-1 data in header fields (e.g. to) fails mail processing"
### Infos:

* Used Zammad version: 4.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #11047694

### Expected behavior:

* Zammad will decode the header fields (e.g. to) correctly and import the mail.

### Actual behavior:

* In some special cases, processing of mails fail if the

[2021-08-13 09:07] dominikklein commented on #2746
If i saw it correctly, this mail is no longer failing during the encoding of the mail, it's not failing in the user model check mail functionality:

[code]

[2021-08-13 09:44] dominikklein commented on #3661
@jeremyrnelson hopefully we fixed now the limitation of the imported tickets and it also tickets which are updated in the meanwhile should not lead to any proglems.

[2021-08-13 12:39] #3695 closed, assigned to rolfschmidt

[2021-08-13 13:44] jeremyrnelson commented on #3661
I will kick off an import today and hopefully will be able to report
success by mid-next week.

Jeremy Nelson, President

Pinnacle Technology Solutions

260-205-8900

***@***.***

On Fri, Aug 13, 2021 at 5:45 AM Dominik Klein ***@***.***>
wrote:

[2021-08-16 06:50] #2389 closed, assigned to dominikklein

[2021-08-16 08:20] #2612 closed, assigned to mantas

[2021-08-16 11:18] dominikklein opened #3698 "Import for kayako during the setup"
### Infos:

* Used Zammad version: any
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* It should be possible to migrate from kayako to zammad (like for zendesk or freshdesk) during the setup process.

### Actual behavior:

* It's not possible to migrate from kayako to

[2021-08-16 11:34] #2485 closed, assigned to bolah2009

[2021-08-16 13:42] jeremyrnelson opened #3699 "Can't log in after FreshDesk Import"
### Infos:

* Used Zammad version: 4.1.0-1628847507.5a492dca.focal
* Installation method (source, package, ..): package
* Operating system: Ubuntu 20.04
* Database + version: Postgresql 12.8
* Elasticsearch version: n/a
* Browser + version: n/a

### Expected behavior:

I would expect some sort of default username and password for logging in after the initial import, or an admin account setup scree

[2021-08-16 13:44] MrGeneration commented on #3699
Admin-Mail + Token.

---

Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and a

[2021-08-16 13:44] #3699 closed, assigned to nobody

[2021-08-16 14:13] jeremyrnelson commented on #3699
There's no way to set up the admin email in the first place...

[2021-08-16 14:17] #3053 closed, assigned to mantas

[2021-08-16 14:30] MrGeneration commented on #3699
This is as far as I can help.
This is a technical question - sorry.

[2021-08-16 14:40] thorsteneckel commented on #3699
I think what @MrGeneration wanted to say is that we don't have much information about the Freshdesk internal permissions available at import time. [That's why we use the User for the given API key as the Admin of the imported Zammad system.](https://github.com/zammad/zammad/blob/0402c755dea1fb2d276d798134671ef236caeb7d/lib/sequencer/unit/import/freshdesk/agent/mapping.rb#L64-L72)

In non source co

[2021-08-16 14:53] #3672 closed, assigned to rolfschmidt

[2021-08-16 17:53] jeremyrnelson commented on #3699
Yes, that makes perfect sense, and I spun up a new VM to confirm that info
was there on the migrate screen.  Since the import took 3 days, I totally
forgot about that.  I'd still like to advocate for the ability to use/set
up/play with the system while the import is happening, but that's an
entirely separate issue.

Please close this out.

Jeremy Nelson, President

Pinnacle Technology Solutions

2

[2021-08-17 05:45] #3068 closed, assigned to mantas

[2021-08-17 09:37] NiTRoeSE opened #3700 "Saml login url ?"
Hi,

we want to use a direct link to zammad so that users not landing on login page and must press the "SAML Button" to be authenticated instead we want to use a link (SAML) wich automatically logs in the user.

Unfortunately i can't find such link.
Is there any way to do this ?

Thanks for help!

[2021-08-17 09:39] MrGeneration commented on #3700
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-08-17 09:39] #3700 closed, assigned to nobody

[2021-08-17 11:43] rolfschmidt opened #3701 "Tags in ticket create screen displayed wrong"
### Infos:

* Used Zammad version: develop 5.0 (commit bf7f993a7afc19f59c4f88f16db2ee6d61e9b379)
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

### Expected behavior:

![grafik](https://user-images.githubusercontent.com/5445062/129719779-70795955-6ffb-4366-9136-d5d7237c4a2d.png)

### Actual b

[2021-08-17 11:44] rolfschmidt commented on #3701
/cc @mantas

[2021-08-17 12:07] #3428 closed, assigned to dominikklein

[2021-08-17 12:14] #3539 closed, assigned to romitgithub

[2021-08-17 16:37] #1653 closed

[2021-08-18 04:48] #3647 closed, assigned to mantas

[2021-08-18 07:50] #3554 closed, assigned to romitgithub

[2021-08-18 08:48] #445 closed

[2021-08-18 12:39] #3514 closed, assigned to rolfschmidt

[2021-08-18 12:50] #3697 closed, assigned to mantas, dominikklein

[2021-08-18 13:16] mantas opened #3702 "One of DB migrations timestamp breaks migrations queue"
### Infos:

* Used Zammad version: 4.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* `rake db:rollback` reverts latest migration

### Actual behavior:

* `rake db:rollback` keeps reverting 202104070000001_setting_add_internal_article_check.rb

### Steps to reproduce

[2021-08-18 13:45] jvkroeger commented on #3379
Hi @MrGeneration and @HristoA I have the same issue as described above when doing a diff import. The initial import works well but when running a diff import, there are tickets without articles. Any chance to reopen this issue or https://community.zammad.org/t/import-otrs-diff-worker-creates-imports-tickets-without-articles/1745 ?

Used Zammad version: 4.1.0-1629278242.03345214.bionic amd64
Instal

[2021-08-18 13:47] MrGeneration commented on #3379
Please **DO NOT** hijack closed issues and especially don't ask technical questions on this repository.
Please switch over to the community.

[2021-08-19 07:43] #3663 closed, assigned to rolfschmidt

[2021-08-19 10:24] MrGeneration opened #3703 "Organization removal does not clear organization_id from Tickets"
### Infos:

* Used Zammad version: 4.1/stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket: ~~#1090309~~
* Regression of https://github.com/zammad/zammad/issues/3688

### Expected behavior:

When removing any organization via console, Zammad will remove the `organization_id` from Us

[2021-08-19 12:15] poettig opened #3704 "Not working signature verification of mime-type=signed-data mails"
### Infos:

* Used Zammad version: 4.1.0-1629278242.03345214.buster
* Installation method (source, package, ..): Debian Buster Package (https://dl.packager.io/srv/deb/zammad/zammad/stable/debian)
* Operating system: Debian 10 (Buster)
* Database + version: 11.12
* Elasticsearch version: 7.14.0
* Browser + version: Firefox 91.0.1

The mailclients of most staff at my workplace (Outlook 2019) send en

[2021-08-19 12:15] poettig opened #3705 "Not working unpack of mail body if decrypted body is in signed-data attachment"
### Infos:

* Used Zammad version: 4.1.0-1629312456.6b128b41.buster
* Installation method (source, package, ..): Debian Buster Package (https://dl.packager.io/srv/deb/zammad/zammad/stable/debian)
* Operating system: Debian 10 (Buster)
* Database + version: 11.12
* Elasticsearch version: 7.14.0
* Browser + version: Firefox 91.0.1

The mailclients of most staff at my workplace (Outlook 2019) send en

[2021-08-19 12:45] #3701 closed, assigned to mantas

[2021-08-19 14:43] #3702 closed, assigned to mantas

[2021-08-19 17:31] #3105 closed, assigned to mantas

[2021-08-20 03:37] #2634 closed, assigned to mantas

[2021-08-20 03:38] #2998 closed, assigned to mantas

[2021-08-20 03:39] mantas commented on #2998
Closed along with https://github.com/zammad/zammad/issues/2634

[2021-08-20 03:39] mantas commented on #3650
Closed along with https://github.com/zammad/zammad/issues/2634

[2021-08-20 03:39] #3650 closed, assigned to rolfschmidt

[2021-08-20 11:34] #3703 closed, assigned to rolfschmidt

[2021-08-20 20:15] hmolinab opened #3706 "The calendar shows Chilean holidays one day in advance"
Hi Zammad team,

### Infos:

* Used Zammad version: zammad-4.1.0-1627506169.2b97d5a1.centos7.x86_64
* Installation method (source, package, ..): rpm
* Operating system: Centos 7
* Database + version: PostgreSQL 10.17
* Elasticsearch version:  7.12
* Browser + version: Chrome, Firefox

### Expected behavior:

* The calendar must shows the holidays the right day

### Actual behavior:

* The calendar

[2021-08-20 20:22] mantas commented on #3706
Hi @hmolinab ,

What is your Zammad time zone? As selected in Settings > Branding > Timezone.

[2021-08-20 20:31] hmolinab commented on #3706
Hi Mantas,

It's the same as the calendar.
[image: imagen.png]

El vie, 20 ago 2021 a las 16:22, Mantas Masalskis ***@***.***>)
escribió:

[2021-08-20 20:47] mantas commented on #3706
Hmm, I couldn't reproduce it on my system. Are you able to reproduce this issue with a fresh install?

[2021-08-20 20:53] MrGeneration commented on #3706
Works on my test instance as well.
Same applies to the manual provided URL.

Closing.

[2021-08-20 21:19] hmolinab commented on #3706
It's strange, I have 3 instance with the same behaviour.

the OS configuration:
![imagen](https://user-images.githubusercontent.com/85374371/130292891-cf470ad1-9349-4722-86ad-a5d60748864e.png)

The DB configuration:
![imagen](https://user-images.githubusercontent.com/85374371/130292943-12717092-d8e0-47fc-ad19-1ae47071ed61.png)

I've just updated the lab instance and I got the same result, I'm sorr

[2021-08-20 21:20] MrGeneration commented on #3706
Can you reproduce it in SaaS as well?

https://zammad.com/en/getting-started

[2021-08-21 01:11] hmolinab commented on #3706
oh, yes, the same issue:
[image: imagen.png]
One day in advance. I've used many browsers and many desktops.

El vie, 20 ago 2021 a las 17:21, Marcel Herrguth ***@***.***>)
escribió:

[2021-08-21 06:25] mantas commented on #3706
Hmmm!

Could you confirm your steps to reproduce this on our SaaS?

- setup using Santiago as time zone
- add Chilean calendar with Santiago timezone

Anything else?

[2021-08-21 14:04] MrGeneration commented on #3706
So the calendar of said SaaS instance holds these calendar information

**public_holidays**
[code]

**ical_url**: `http://www.google.com/calendar/ical/en.cl%23holiday%40group.v.calendar.google.com/public/basic.ics`
**timezone**: `America/Santiago`
**Instance timezone**: `America/Santiago`
**ICS directly loaded from google**: [issue3706_ics.zip](https://github.com/zammad/zammad/files/7025596/issue3

[2021-08-21 14:06] MrGeneration commented on #3706
Regression of https://github.com/zammad/zammad/issues/2229

[2021-08-22 10:28] Dennis1993 opened #3707 "Setting for CheckMK not saved in zammad"
### Infos:

* Used Zammad version: 4.1 (latest)
* Installation method (source, package, ..): all
* Operating system: Ubuntu 20.04
* Database + version:
* Elasticsearch version: 7
* Browser + version: Microsoft Edge

### Expected behavior:
Save the "auto close" value in CheckMK settings
*

### Actual behavior:
set it to "yes" and refresh after that the page. The setting is switching to "no"

![imag

[2021-08-23 09:44] xoladone commented on #3630
Similar issue with  word-break: break-all; in .richtext-content table
Lower example is word-break unchecked.
![image](https://user-images.githubusercontent.com/44923461/130426148-71c7652c-14a4-49db-bf50-ab3bee9adb36.png)

Chrome Version 92.0.4515.159
Zammad Version 4.1.x

[2021-08-23 14:52] #3706 closed, assigned to mantas

[2021-08-23 15:14] hmolinab commented on #3706
Oh, your are a very efficient team, good for you! Thanks!

¿How can I test the change?

[2021-08-23 15:22] MrGeneration commented on #3706
Be patient and wait for the stable backport. After it has been backported wait 60-120 mins and you're good to go.

[2021-08-23 19:59] mantas commented on #3706
Hi @hmolinab

This bugfix is now ported to stable. The updated package should be available in an hour or two.

[2021-08-23 22:30] hmolinab commented on #3706
Hi Team,

Congratulations, it's ready!
[image: imagen.png]

Thanks!

Henry

El lun, 23 ago 2021 a las 15:59, Mantas Masalskis ***@***.***>)
escribió:

[2021-08-24 13:58] #2455 closed, assigned to rolfschmidt

[2021-08-24 14:19] rolfschmidt commented on #3685
Do you guys think this issue is still a thing with the rails cache? @mantas @thorsteneckel

Mantas dropped the cache implementation so it could be an argument to close this issue right?

https://github.com/zammad/zammad/commit/c45b5ac51f5209af634af6747c61439584b6bb80

[2021-08-24 14:21] MrGeneration commented on #3685
Honestly we should wait until we have enough live data from instances that are affected.
Meaning roll out the changes (aka release) and wait a month or two to see if the cache still cracks up.

Still, those kind of issues never should throw errors in UI.

[2021-08-24 14:25] mantas commented on #3685
IMO cache implementation cleanup won't fix this by itself. But it, along with https://github.com/zammad/zammad/commit/1eef2a0e0f5a32b7769590749aa14b512de25d00, opens doors for using Redis. Which will work around this issue.

[2021-08-24 14:38] #2544 closed, assigned to rolfschmidt

[2021-08-24 15:05] ThePatzen opened #3708 "Rest API Ticket-Creation Error"
Hi!

Maybe something is wrong!

Best Regards,
David

### Infos:

* Used Zammad version: 4.1.x
* Installation method (source, package, ..): package
* Operating system: Debian
* Database + version: postgresql 13
* Elasticsearch version: 7.14.0
* Browser + version: chrome 92

### Expected behavior:

* When i send the request to  /api/v1/tickets a ticket should be created.

### Actual behavior:

* Err

[2021-08-24 15:08] MrGeneration commented on #3708
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-08-24 15:08] #3708 closed, assigned to nobody

[2021-08-25 08:41] rolfschmidt opened #3709 "Core Workflow Implementation"
### Infos:

* Used Zammad version: 5.0
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

### Expected behavior:

[core-workflow-engl-20210825.pdf](https://github.com/zammad/zammad/files/7045385/core-workflow-engl-20210825.pdf)

### Actual behavior:

* You can not modify forms in zammad

[2021-08-25 08:43] rolfschmidt commented on #1262
Will be fixed with core workflows:
https://github.com/zammad/zammad/issues/3709

[2021-08-25 08:43] #1262 closed

[2021-08-25 12:25] #3709 closed, assigned to rolfschmidt

[2021-08-25 13:08] #2293 closed, assigned to rolfschmidt

[2021-08-25 22:09] mfevzikorkutata commented on #2544
Hi,

I had the same issue for the "version 4.1.x" and while researching came to this page. But, could not found any work around.

Finally, I found the workaround solution. Running below command from Zammad console removes the "assignment timeout" value for the group settings.

[code]

[2021-08-25 22:11] MrGeneration commented on #2544
Please don't hijack issues with technical questions, consult the community if you have to.

[2021-08-25 22:15] mfevzikorkutata commented on #2544
This is the only solution for this case and I have shared the workaround solution for somebody else if he or she is having the same problem. Your warning is totally unnecessary. There is no question in my post. Regards...

[2021-08-26 06:35] rolfschmidt commented on #2544
i think i forgot to backport this, there is no reason to not do so. I will backport it today for 4.1.

[2021-08-26 09:54] datadorf commented on #3705
Hello,

I have a similar / same problem:

Actual behavior:

Article content is "no visible content" / "cant verify message"

Steps to reproduce the behavior:

Send an signed Email from Zammad and open it on an Apple iOS device
![IMG_A961F80B7A85-1](https://user-images.githubusercontent.com/81630658/130942404-b50f79ef-c696-4c38-8ff1-51de8c77de93.jpeg)

On OSX with Apple Mail oder other Mailclients

[2021-08-26 09:57] MrGeneration commented on #3705
@datadorf please don't hijack other issues with your problems.
If you believe that this is a Zammad bug, create an independent issue.
If this is a technical question, please ask the question on our community board: https://community.zammad.org

[2021-08-26 12:36] mantas commented on #2366
Reopening because #2157 is painfully similar but technically they ain't related.

[2021-08-26 12:56] martini opened #3710 "Unable to close tickets in certran cases if core workflow is used"
### Infos:

* Used Zammad version: 5.0/develop (2021-08-26)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Allow closing tickets if certain field is removed by core workflow (but field was marked as required by previous rule)

### Actual behavior:

* Ticket can not g

[2021-08-26 13:21] MrGeneration opened #3711 "Tree-Selects behave glitchy with select actions"
### Infos:

* Used Zammad version: 5.0/develop (2021-08-26)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified on latest Google Chrome

### Desired behavior:

Zammad should either restrict selecting not allowed values or completely hide them.
The setting may be invalid for the affected desire

[2021-08-26 13:37] rolfschmidt commented on #3711
https://github.com/zammad/zammad/commit/78edf3197693cc55a403c635476d01c49688a783

[2021-08-26 13:37] #3711 closed, assigned to rolfschmidt

[2021-08-26 13:38] rolfschmidt commented on #3711
operator select does select an option.

operator set_fixed_to restricts the values of the tree select.

The missing operators are now available.

[2021-08-26 13:41] MrGeneration commented on #3711
So selecting more than one `select` value would be invalid as well?

[2021-08-26 13:42] rolfschmidt opened #3712 "Core worflow perform action "select" should not make multiple values selectable"
### Infos:

* Used Zammad version: 5.0/develop (2021-08-26)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Operator select make only 1 value selectable

### Actual behavior:

* Multiple values are selectable.

----

So selecting more than one `select` value would be

[2021-08-26 13:44] rolfschmidt commented on #3712
@MrGeneration yes

[2021-08-27 14:56] #3707 closed, assigned to rolfschmidt

[2021-08-27 14:59] #3712 closed, assigned to rolfschmidt

[2021-08-27 15:09] #3694 closed, assigned to rolfschmidt

[2021-08-27 15:27] martini opened #3713 "groups selection for customer panel is not working anymore (with core workflows)"
### Infos:

* Used Zammad version: 5.0/develop (2021-08-26)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* use existing group selection under https://host/#channels/web

![image](https://user-images.githubusercontent.com/110226/131150661-aa70e3f0-bbe4-4ff6-9cbd-e5ce5

[2021-08-27 16:02] Dennis1993 commented on #3707
Thank you! :)

[2021-08-29 19:10] zakdandachi opened #3714 "How to edit Zammad default english text for chat"
Hello,
I apologize for being newbie to this website and in general. I am trying to change the default text of zammad web chat widget. I have tried to edit chat.js and changed the text from there which I guess was not a good idea but still did not update the text.
I did reboot, rake rebuild, etc..

Been searching the web and documentation for hours nothing about that.. only how to translate to othe

[2021-08-29 19:29] MrGeneration commented on #3714
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-08-29 19:29] #3714 closed, assigned to nobody

[2021-08-30 07:46] #2157 closed, assigned to mantas

[2021-08-30 07:51] #2366 closed, assigned to mantas

[2021-08-30 08:56] MrGeneration commented on #2711
This issue may have been fixed by https://github.com/zammad/zammad/issues/2886

[2021-08-30 09:19] DrSommerkoffer opened #3715 "unable set password to not set"
Hello, I'm using LDAP authemtification but the initial password before setting up LDAP is still work too. Hence I want to set Zammad password to "not set". This is not working. For detail please see https://community.zammad.org/t/ldap-synchronized-account-is-accepting-different-password/7281

### Infos:

* Used Zammad version: 4.1
* Installation method (source, package, ..): source
* Operating sys

[2021-08-30 09:22] MrGeneration commented on #3715
Context for less back and forth - it was tried to use the following rails commands:

[code]

All these commands have no effect, the password attribute remains unchanged.

[2021-08-30 11:32] delphi-sucks opened #3716 "Pasting in Firefox adds unwanted whitespace/line break"
### Infos:

* Used Zammad version: 4.1.0-1625206819.c53e17f7.xenial
* Installation method (source, package, ..): package
* Operating system: Ubuntu 16.04
* Database + version: MySQL Server 5.7.33
* Elasticsearch version: 7.12.0
* Browser + version: Firefox 89.0.2
* Ticket#1093187, Ticket#10123846

### Expected behavior:

Pasting text in the ticket text works like expexted.

### Actual behavior:

1

[2021-08-30 12:26] #457 closed

[2021-08-30 13:27] #3713 closed, assigned to rolfschmidt

[2021-08-30 16:40] MrGeneration opened #3717 "Spaces in front of mentions can cause partly content removal"
### Infos:

* Used Zammad version: 4.1/stable (as of 30th August 2021)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version:any
* Elasticsearch version: any
* Browser + version: Google Chrome v92.0.4515.159 & Microsoft Edge v92.0.902.84
* ~~Ticket: #1091095~~

### Expected behavior:

Adding mentions does not remove any content of an article.

### Actual beh

[2021-08-30 17:19] klando opened #3718 "Dashboard stopped working"
### Infos:

* Used Zammad version: 4.1.x
* Installation method (source, package, ..): docker-compose
* Operating system: Debian buster
* Database + version: pg 13
* Elasticsearch version: from docker-compose
* Browser + version: firefox 78.13.0esr

### Expected behavior:

* getting a dashboard

### Actual behavior:

* blank page (well, not full blank, the left panel is here)

### Steps to reproduc

[2021-08-30 20:04] intrigus-lgtm opened #3719 "Potential (minor) security problem(s)"
Hi, could you please create a new [draft security advisory](https://help.github.com/en/github/managing-security-vulnerabilities/creating-a-security-advisory) and
[invite me](https://help.github.com/en/github/managing-security-vulnerabilities/adding-a-collaborator-to-a-security-advisory) to it?
Any other private communication channel would also be fine.
I think I've found a potential (minor) securi

[2021-08-30 20:08] MrGeneration commented on #3719
Please contact security [at] zammad [dot] com if you believe you found a security issue for a responsible disclosure.

Thank you!

[2021-08-30 20:08] #3719 closed, assigned to nobody

[2021-08-30 20:20] MrGeneration commented on #3718
Sorry but that's a bit too cloudy.
If you don't want me to close this as a technical question instantly, please provide the exact settings of your instance that caused that.

[2021-08-30 21:13] intrigus-lgtm commented on #3719
Email has been sent.

[2021-08-30 22:09] klando commented on #3718
thinking more of the problem, let's go for a technical question.

[2021-08-31 10:12] #3329 closed, assigned to mantas

[2021-08-31 12:40] Nejamul068 commented on #2864
Ftc.gov her how much USA dollars wittien i accept

[2021-08-31 12:50] MrGeneration commented on #2864
Hey,

thanks for your interest to contribute to Zammads Core!
Please contact sales [at] zammad [dot] com for an estimate! :)

This enhancement still is missing specification which is why we don't have the required numbers yet.

[2021-09-01 09:47] #3503 closed, assigned to rolfschmidt

[2021-09-02 06:55] romitgithub commented on #2780
@MrGeneration What's the required solution here then?

[2021-09-02 08:39] MrGeneration commented on #2780
If a user is not allowed to create a ticket, I'd not display the possibilities to do so together with a meaningful message like
"You don't have any tickets to display and are not allowed to create new ones via the web interface."

Or something like that.

[2021-09-02 13:24] MrGeneration opened #3720 "`User.merge()` should allow merging of agent accounts"
### Infos:

* Used Zammad version: 4.1/stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: not applicable
* Ticket: #1091745

### Expected behavior:

Merging any user account into another one is not blocked by DB relations.

### Actual behavior:

When merging two agent accounts that have been ac

[2021-09-02 13:56] rolfschmidt opened #3721 "Fields are falsey displayed as mandatory if they contain historic screen values"
### Infos:

* Used Zammad version: 5.0
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

### Expected behavior:

* A field can have this historic screen value and should not be displayed as mandatory, example here organization:

[code]

classic screen value would look like this

[code]

### Actu

[2021-09-02 14:47] spelroth opened #3722 "Zammad email config verification error when using imap folders different than inbox"
### Infos:

* Used Zammad version: zammad-4.1.0-1630584543.bf41a7ac.centos7.x86_64
* Installation method (source, package, ..): package
* Operating system: Centos 7
* Database + version: postgres (PostgreSQL) 9.2.24
* Elasticsearch version: elasticsearch-7.14.1-1.x86_64
* Browser + version: chrome

### Expected behavior:

* When configuring email channel with the proper credentials that use a subf

[2021-09-02 14:48] MrGeneration commented on #3722
Sorry, but this seems to be a feature request.
Please note that this repository is the wrong place for feature requests.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case the community provides enough votes (hearts on the first article, so feels the same way like you), we will move the feature request to this repository.

If you require a feature *now* or

[2021-09-02 14:48] #3722 closed, assigned to nobody

[2021-09-02 14:52] spelroth commented on #3722
Hey, I don't think that this is a feature request, because the configuration will fail when the email provider has no rules.
Currently the setup looks like:
* setup email on zammad
* zammad sends email to verify the config
* the email goes to inbox instead of folder
* zammad doesn't see the email and thinks the config is bad and prints an timeout error

[2021-09-02 14:55] MrGeneration commented on #3722
Okay no problem. You're right.
It's a technical question.

Here's the reasons:
Our **documentation** clearly warns you about this behavior ( https://admin-docs.zammad.org/en/latest/channels/email/accounts/account-setup.html#experts ):

![image](https://user-images.githubusercontent.com/6549061/131866482-d8e5e2eb-cf1b-49bb-92e3-9f6b287f3800.png)

Also, you're testing your current setup in the proce

[2021-09-02 14:57] spelroth commented on #3722
Ok it seems that I've missed the last note. You're right :).

[2021-09-02 19:37] #3265 closed, assigned to romitgithub

[2021-09-03 11:08] davidc commented on #3686
Here is a 200x200 PNG logo
![logo-200x200](https://user-images.githubusercontent.com/1050152/131996079-cc095c2b-19ed-4677-9513-a0b1ee8035c0.png)

[2021-09-03 11:10] davidc commented on #3686
![logo-200x200](https://user-images.githubusercontent.com/1050152/131996256-32521e9c-a9cb-47db-80df-883305a0e333.png)

Here is a 200x200 PNG logo

[2021-09-03 11:35] Silverstar224 opened #3723 "365 integration: Channel::Driver::Imap: #<Net::IMAP::ResponseParseError: unexpected token EOF"
Hello,
having followed the instructions on the zammad website for Microsoft 365 I encountered following problem, displayed in the zammad 365 mask:
Can't use Channel::Driver::Imap: #<Net::IMAP::ResponseParseError: unexpected token EOF (expected CRLF)>
ThecConfiguration in Azure and Zammad worked fine, until the afore-mentioned message.

I am using Ubuntu 20.04 and a native installation of zammad wi

[2021-09-03 11:38] MrGeneration commented on #3723
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-09-03 11:38] #3723 closed, assigned to nobody

[2021-09-03 13:17] #3721 closed, assigned to rolfschmidt

[2021-09-03 19:37] cbrand-ludlums commented on #3686
To add to this, if you specify a custom icon_url from the slack integration setup page, it is ignored and uses the currently missing  (https://zammad.com/assets/images/logo-200x200.png) instead.  I modified line 164 of file:

/opt/zammad/app/models/transaction/slack.rb

and changed it from
`logo_url = 'https://zammad.com/assets/images/logo-200x200.png'`

to
`logo_url = 'https://your_custom_icon_ur

[2021-09-04 13:24] Dennis1993 opened #3724 "Status of reminder tickets not refreshed in overview"
### Infos:

* Used Zammad version: 4.1
* Installation method (source, package, ..): Your own demo
* Operating system: your own demo
* Database + version: your own demo
* Elasticsearch version: your own demo
* Browser + version: Microsoft Edge 93.X

### Expected behavior:
When the time comes, the circle should turn yellow again without having to refresh the page or switch to another overview.
*

##

[2021-09-04 13:29] MrGeneration commented on #3724
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-09-04 13:29] #3724 closed, assigned to nobody

[2021-09-04 13:57] Dennis1993 commented on #3724
Why is that not a bug?
The other way is working, the yellow dot switch to black after set a reminder?
I don‘t understand that, can you explain that, please? 😊

[2021-09-04 14:59] MrGeneration commented on #3724
That's because of how overviews are refreshed.
Please head over to the community if you require a in depth answer.

[2021-09-05 14:56] efinal commented on #3432
@martini  the change 5b6f032 move the corresponding css into 'phone' section which makes the language selection works in desktop mode, but, failed in mobile mode.

[2021-09-05 15:00] MrGeneration commented on #3432
@efinal Please open an independent issue for this and link this issue as regression. Thank you.

[2021-09-06 08:15] rolfschmidt commented on #3691
Just some additional infos of the ticket:

[code]

The example in the ticket contains a `References` mail header which contains 157 lines and ~10500 characters. There are some line length limits in the RFC (https://datatracker.ietf.org/doc/html/rfc2822#section-2.1.1) which were not exceeded but i did not find a total limit or something. For me it makes sense to cut the message ids to a certain amo

[2021-09-06 09:51] rolfschmidt commented on #3598
Note: There is a `rake searchindex:rebuild` needed after the update of the system to fix the issue.

[2021-09-06 11:20] rolfschmidt commented on #3691
@MrGeneration and me we werent able to reproduce this with a outlook.com account. Seems to be a third party issue. Will be closed for now.

[2021-09-06 11:20] #3691 closed, assigned to rolfschmidt

[2021-09-06 15:43] #2931 closed, assigned to mantas

[2021-09-06 16:31] MrGeneration commented on #3686
We've fixed the issue and added back the logo that was lost during our website rework.
Sorry for the issues.

[2021-09-06 16:31] #3686 closed, assigned to MrGeneration

[2021-09-07 07:06] maxxer opened #3725 "Drop files here not disappearing after dropping a file"
### Infos:

* Used Zammad version: 4.1.0-1630584543.bf41a7ac.focal
* Installation method (source, package, ..): Package
* Operating system: Ubuntu 20.04
* Database + version: postgresql 12+214ubuntu0.1
* Elasticsearch version: elasticsearch-oss 7.10.2
* Browser + version: Firefox 91

### Expected behavior:

* Drop attachments to compose area
* Type text

### Actual behavior:

* When dropping files

[2021-09-07 08:13] MrGeneration commented on #3725
Regression of #3460

[2021-09-07 09:16] #2528 closed, assigned to romitgithub

[2021-09-07 10:33] #3725 closed, assigned to romitgithub

[2021-09-07 13:37] rolfschmidt opened #3726 "It should be possible to show attributes which are configured `shown` false"
### Infos:

* Used Zammad version: 5.0
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

### Expected behavior:

* If you configure an attribute with shown false in the admin interface then it should be possible to renable it again for the screen via core workflow.

### Actual behavior:

* Curre

[2021-09-07 14:16] MrGeneration opened #3727 "Adding private keys allows adding certificates"
### Infos:

* Used Zammad version: 4.1/stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

If I'm providing combined certificate + private key files Zammad strips out the certificate parts to have a clean private key available.

### Actual behavior:

Providing combin

[2021-09-07 22:01] christian-wr opened #3728 "Delete Old Microsoft 365 Account"
### Infos:

* Used Zammad version: 4.1.x
* Installation method (source, package, ..): package
* Operating system: Ubuntu 18.04
* Database + version:
* Elasticsearch version:
* Browser + version: Chrome (93.0.4577.63) or Firefox (91.0.2 (64-Bit))

### Actual behavior:
I cannot delete the old Microsoft 365 accounts, the following message appears:
Ich kann die alten Microsoft 365 Accounts nicht lösch

[2021-09-07 22:22] MrGeneration commented on #3728
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-09-07 22:22] #3728 closed, assigned to nobody

[2021-09-08 08:34] thorsteneckel commented on #3275
@mgruner this will be improved with the new extractor and the Weblate migration, right?

[2021-09-08 08:54] mgruner commented on #3275
@thorsteneckel @MrGeneration yes, the extractor finds this string already in the feature branch:

[code]

Do we need to keep this open until this gets merged?

[2021-09-08 09:34] thorsteneckel commented on #3275
I created the 5.1 milestone and assigned this issue to it. We can already update the title of the Weblate migration MR accordingly to close this issue once merged 👍

[2021-09-08 11:35] mgruner commented on #2709
Will be fixed with the upcoming Weblate migration in Zammad 5.1.

[2021-09-08 11:41] rolfschmidt commented on #3173
This should already happen since Sep'2020

https://github.com/zammad/zammad/commit/3fb9b05027b9efa2cacc5e3d2a5228da74523773

https://github.com/zammad/zammad/blob/92b2f72fb8eb36d3951d15973dbe0055a2cf7a37/app/models/concerns/has_taskbars.rb#L20

[2021-09-08 11:41] #3173 closed, assigned to rolfschmidt

[2021-09-08 11:45] mgruner commented on #2666
This will be fixed with the upcoming migration to Weblate in Zammad 5.1.

[2021-09-08 11:49] mgruner commented on #2665
This will be fixed by the Weblate migration in Zammad 5.1. Translations added by the sync mechanism will be automatically cleaned up again if they are no longer needed and not changed by the user.
This does not, however, apply to translations of the time from before 5.1. These need to be manually removed by the user as described by @dennykorsukewitz, if required.

[2021-09-08 11:51] mgruner commented on #556
This will be fixed with the migration to Weblate in Zammad 5.1, which is able to handle multi line strings.

[2021-09-08 12:01] mgruner commented on #2885
@thorsteneckel this is not really related to translations or the Weblate migration.

[2021-09-08 12:08] mgruner commented on #3036
@thorsteneckel this is not going to be fixed directly by the Weblate migration, and more of a conceptual issue (do we want to translate exceptions?). I'd prefer to keep it a separate issue for now.

[2021-09-08 12:37] rolfschmidt commented on #3363
Technically the create mask is splitted in 2 files for customer/agent. We decided back in the days for the agent customer feature implementation that the agent will always see the agent create mask. This feature request isnt really related to core workflow. You would need to rebuild the create mask for agent and customer to make them fully switchable. We should maybe consider this for the web 2.0.

[2021-09-08 12:46] efinal opened #3729 "Languange selection in mobile app is not working"
Infos:

Expected behavior:
Be able to select language via own profile

Actual behavior:
Language selection is not shown/not usable

More Comments:
the change 5b6f032, which fixes #3432,  moves the corresponding css into 'phone' section makes the language selection works in desktop mode, but, failed in mobile mode.

[2021-09-08 12:52] MrGeneration commented on #3729
Please, could you be so kind and not ignore our issue templates...?

[2021-09-08 13:32] dominikklein commented on #3342
This was already changed with #3653

[2021-09-08 13:32] #3342 closed, assigned to nobody

[2021-09-08 20:21] AnthonyFrench84 opened #3730 "Can't find config setting 'es_url' (RuntimeError) despite all my research"
### Infos:

* Used Zammad version: v4.1.0
* Installation method (source, package, ..): Source Ubuntu
* Operating system: Ubuntu 18.04 LTS + Plesk
* Database + version: MariaDB 10.1.48
* Elasticsearch version: last
* Browser + version: Chrome and Firefox

### Actual behavior:

*zammad run rails r "Setting.set('es_url', 'http://127.0.0.1:9200')"
/opt/zammad/app/models/setting.rb:37:in `set': Can't f

[2021-09-08 20:28] MrGeneration commented on #3730
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-09-08 20:28] #3730 closed, assigned to nobody

[2021-09-08 21:55] AnthonyFrench84 commented on #3730
Hello and thank you for the reply but it seems to be a Bug, I followed the tutorials on 2 different servers and I see the same bug. Thank you @MrGeneration

[2021-09-09 08:25] rolfschmidt commented on #2580
I can't reproduce this behaviour. For me the search will be triggered on load of the page. Please provide more information if this issue still occurs to you in stable versions of zammad.

[2021-09-09 08:25] #2580 closed, assigned to rolfschmidt

[2021-09-09 10:57] rolfschmidt commented on #3101
As discussed with @thorsteneckel core workflow will display inactive owners instead of removing them and displaying the ticket as changed. This behaviour will not occur anymore in 5.x.

[2021-09-09 10:57] #3101 closed, assigned to rolfschmidt

[2021-09-09 12:17] #3717 closed, assigned to rolfschmidt

[2021-09-09 12:36] #257 closed

[2021-09-09 12:41] #3271 closed, assigned to romitgithub

[2021-09-10 06:03] bolah2009 commented on #3594
This seems to be the intended behaviour of such objects. There are some predefined attributes in the frontend that would always take precedence whatever the position value is.  An example is the [User model](https://github.com/zammad/zammad/blob/3b0a373de0f0fc5da8a1226a559a00129c4cff82/app/assets/javascripts/app/models/user.coffee#L7-L11)

We discussed this along with @martini and decided that if

[2021-09-10 07:30] Azd325 opened #3731 "Allow replacement of English text through translation"
https://github.com/zammad/zammad/blob/3b0a373de0f0fc5da8a1226a559a00129c4cff82/public/assets/chat/chat-no-jquery.js#L910

It would be great if the code would not make an exception for English. This make it easier to change the underlying text without to fork the code. So the text can be change in the translation map.

Community Issue.
https://community.zammad.org/t/allow-english-text-change/7631/5

[2021-09-10 07:59] MrGeneration commented on #3731
Sorry, but this seems to be a feature request.
Please note that this repository is the wrong place for feature requests.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case the community provides enough votes (hearts on the first article, so feels the same way like you), we will move the feature request to this repository.

If you require a feature *now* or

[2021-09-10 07:59] #3731 closed, assigned to nobody

[2021-09-10 08:00] MrGeneration commented on #3594
You didn't see that this potentially breaks Core Workflow?
I think @rolfschmidt got that on his list indirectly if I remember correctly.

If we have specific fields you never can hide of manipulate then options for these have to be removed explicetely.

[2021-09-10 09:09] rolfschmidt opened #3732 "admin.core_workflow permission is missing"
### Infos:

* Used Zammad version: 5.0
* Installation method (source, package, ..):all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

Add the missing permission admin.core_workflow.

[2021-09-10 12:07] benrubson opened #3733 "Simple quote characters (`'`) not properly displayed"
Hi,

### Infos:

* Used Zammad version: 4.1.0-1631024881.3edca5e9.buster amd64
* Installation method (source, package, ..): package
* Operating system: Debian 10
* Database + version: mariadb-server 10.3.29-0+deb10u1 amd64
* Elasticsearch version: 7.14.1 amd64
* Browser + version: Safari, Firefox (lastest versions)

### Expected behavior:

* Simple quote characters (`'`) in Zammad strings are show

[2021-09-10 12:11] MrGeneration commented on #3733
Note sure if this will be fixed with 5.1 @mgruner ?

Context:
This is not always failing but seems to affect specific situations - e.g. within data privacy remove dialogue:
![image](https://user-images.githubusercontent.com/6549061/132851425-5781c9a2-dd61-4185-b831-ed8141cf1c2e.png)

Other places are fine:
![image](https://user-images.githubusercontent.com/6549061/132851444-6e5498d2-0bdd-4028-8b20

[2021-09-10 12:32] #3732 closed, assigned to rolfschmidt

[2021-09-10 13:07] mgruner commented on #3733
@MrGeneration I believe that this is not related to the changes that the weblate migration will bring, since they don't affect how translation data is handled inside of Zammad once it is imported to the database. As you indicated this is probably related to improper handling of the data in some parts of the front end.

[2021-09-10 14:11] mantas commented on #3733
This usually happens if the string runs through HTML sanitizer twice. Usually it requires manually investigating every single case.

[2021-09-10 14:53] urbantrooper opened #3734 "SMIME decrypt failed when e-mail is signed and send from Microsoft Outlook"
### Infos:

* Used Zammad version: 4.1.0
* Installation method (source, package, ..): package
* Operating system: CentOS 7
* Database + version: PostgreSQL 9.2.24
* Elasticsearch version: 7.14
* Browser + version: doesn't matter

### Expected behavior:

* Encrypted and signed e-mails send from Microsoft Outlook should be decrypted with the private key stored under system/integration/smime
![image]

[2021-09-10 14:54] #3726 closed, assigned to rolfschmidt

[2021-09-10 14:55] MrGeneration commented on #3734
Duplicate of #3705

[2021-09-10 14:55] #3734 closed, assigned to nobody

[2021-09-10 15:26] #3168 closed, assigned to rolfschmidt

[2021-09-10 15:38] MrGeneration commented on #3734
Sorry my bad, not a duplicate but a technical question. 🙀
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or su

[2021-09-10 15:52] benrubson opened #3735 "Customers can create "closed" tickets (?!)"
Hi,

### Infos:

* Used Zammad version: 4.1.0-1631024881.3edca5e9.buster amd64
* Installation method (source, package, ..): package
* Operating system: Debian 10
* Database + version: mariadb-server 10.3.29-0+deb10u1 amd64
* Elasticsearch version: 7.14.1 amd64
* Browser + version: Safari, Firefox (lastest versions)

### Expected behavior:

* Customers can create tickets through web channel only as

[2021-09-10 15:57] MrGeneration commented on #3735
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-09-10 15:57] #3735 closed, assigned to nobody

[2021-09-10 16:09] benrubson commented on #3735
Thank you for your feedback @MrGeneration.
I thought this was a bug, as it seems that "closed" ticket state should have been hidden for customers (or their tickets sent as "closed" would simply be lost).
Could we then think about re-opening this please ?
Thank you again 👍

[2021-09-10 16:11] MrGeneration commented on #3735
No this is a configuration / technical question.
This is not a bug but a feature.

[2021-09-10 16:38] MrGeneration opened #3736 "scrollPageHeader disappears when answering via email"
### Infos:

* Used Zammad version: develop as of 05th September, did notice it earlier already through
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified on Google Chrome 93.0.4577.63; Screen resolution at 2560 x 1440px

### Expected behavior:

When answering a ticket with an email article th

[2021-09-10 16:57] benrubson commented on #3735
Found it, thank you again 👍
https://github.com/zammad/zammad-documentation/pull/105

[2021-09-13 00:17] Nejamul068 commented on #3527
Name: Mohammed Nejamul Hoque
Born:
20-12-1983 (age 37)
Nid number :3279347433
Country : Bangladesh
Nationality
Bangladeshi
Social : Islam
Marriage : Married
Child :one
Wife name :Jumu Aktar
Permit address : Nutu Bari, chur fujuddin, hajir hat,  monpura, Bhola -8360
Father name : Forid Ahamed
Mother name : Shahinur begum
Lives address : Nojir Bandar line, kapooria para, bandar,doublemorning, Chitta

[2021-09-13 00:18] Nejamul068 commented on #3527
![BeautyPlus_20210901003025401_save](https://user-images.githubusercontent.com/88603564/133007564-d39e50bf-e399-4ef5-900d-cca8e499fd87.jpg)
My country Bangladesh government approval online digital smart national Id card verify

[2021-09-13 08:32] #3137 closed, assigned to nobody

[2021-09-13 17:42] SumOfOneInteger opened #3737 "Bug Report 4.1.x Overview Sort - Grouped by user"
### Infos:
Used Zammad version: “This is Zammad version 4.1.x” listed in settings>version
Used Zammad installation type: Package
Operating system: Ubuntu 20.04 LTS
Browser + version: Chromium 93.0.4577.63
Ticket: #1093454, #1093789, #1093820

### Expected behavior:
All Open Tickets overview.
Order by: Updated at
Order by direction: down
Group by: Owner
Group By Direction: up
Tickets are listed by

[2021-09-13 17:45] MrGeneration commented on #3737
### Steps to reproduce:

- have a overview that groups by any attribute, easiest would be state or group
- update any ticket in that overview list
- see the overview changing and adding a new "grouped by" section with a value that already is present

[2021-09-13 19:19] dominikklein commented on #3387
@benmo i can not reproduce the described issue in the current stable version.

[2021-09-13 19:19] #3387 closed, assigned to dominikklein

[2021-09-13 20:49] MrGeneration commented on #3387
Oh boy sorry, how did that get the need verification label from myself.
Indeed this is a technical question and not possible.

[2021-09-14 04:53] mk-git commented on #3737
Step 1: Assign unassigned Ticket to existing User
![image](https://user-images.githubusercontent.com/4411025/133197061-8952c7b2-6ce2-4d1d-b584-31d62286974f.png)

Step 2: Now in the overview, the user exists two times:
![image](https://user-images.githubusercontent.com/4411025/133197085-64ab233c-d82f-49de-8317-4aaa59c8030f.png)

Step 3: After refreshing / clearing cache the view is as expected
![im

[2021-09-14 06:43] sgrube287 commented on #1702
Hello thorsteneckel
i have the same problems with our exchange.
![exchange-config](https://user-images.githubusercontent.com/90676853/133209046-081df257-36e6-41fc-bb4b-eb861dec98f0.JPG)
all it is doing for hours is this
![exchange-config_2](https://user-images.githubusercontent.com/90676853/133209125-f0263daa-fafb-43c4-b98a-74d9ed1f988c.JPG)

i installed your debug data and pushed it into a file.

[2021-09-14 07:45] #3574 closed, assigned to dominikklein

[2021-09-14 08:05] MrGeneration commented on #1702
Post the debug log here, other wise please don't recycle old closed issues.

[2021-09-14 08:33] sgrube287 commented on #1702
i am sorry for opening an old issue again.
[file-anonym.txt](https://github.com/zammad/zammad/files/7160174/file-anonym.txt)
i anonymed the server and the password

    Used Zammad version: 4.1.x
    Used Zammad installation type: Zammad for Ubuntu V 4.1.0
    Operating system: Ubuntu 20.04.3 LTS (64bit) → Virtulazation VMware ESX 7.0
    Browser + version: Mozilla Firefox 92.0 (64 bit)

[2021-09-14 12:49] greedybro opened #3738 "French translation grammatical errors"
### Infos:

* Used Zammad version: 4.1.0
* Installation method (source, package, ..): Official Helm chart
* Operating system: debian
* Database + version: postgresql 10.4.9
* Elasticsearch version: 7.10.2
* Browser + version: all

### Expected behavior:

* No grammatical errors on Zammad login page

### Actual behavior:

* Several grammatical errors on Zammad login page. There might be more, but i

[2021-09-14 12:52] MrGeneration commented on #3738
This is technically not a bug, please use the internal translation function.
If you have questions, ,please consult the community.

[2021-09-14 12:52] #3738 closed, assigned to nobody

[2021-09-14 13:04] #3704 closed, assigned to dominikklein

[2021-09-14 13:04] #3705 closed, assigned to dominikklein

[2021-09-14 13:24] rolfschmidt commented on #3194
Permission admin.channel_google already exists but it is not possible to create filters if you only have google permissions.

![grafik](https://user-images.githubusercontent.com/5445062/133265574-7bbf7f68-a22c-48f2-81e5-8657d700f032.png)

[2021-09-14 14:02] MrGeneration opened #3739 "Core Workflow: Show hidden attributes on group selection (ticket edit)"
### Infos:

* Used Zammad version: 5.0/develop
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified on Google Chrome v93.0.4577.63

### Expected behavior:

Core Workflow allows to change the visibility of attributes within ticket edit masks no matter if the attribute by default is visible or no

[2021-09-14 15:27] MrGeneration opened #3740 "Core-Workflow: Option manipulation of boolean attributes not possible"
### Infos:

* Used Zammad version: 5.0/develop
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified on Google Chrome v93.0.4577.63

### Expected behavior:

Manipulation of available boolean options (e.g. restrict to `false` only) are possible with core workflow.

### Actual behavior:

Manipulat

[2021-09-15 06:47] sgrube287 commented on #1702
Hello, is there some more information that be need?

[2021-09-15 08:55] MrGeneration commented on #1702
Please be patient while we're checking.
If you require commercial grade support contact sales at zammad dot com.

Bumping won't speed us up. Sorry.

[2021-09-15 09:48] bendergruppe commented on #3737
Same Issue by sorting views with group by
[https://community.zammad.org/t/group-order-by-in-overview-not-working-after-latest-update/7558](url)

Overview of the settings
![def0374492fdc3c0da52818c3a8d585a7c0e7c65](https://user-images.githubusercontent.com/90761749/133411151-910809f6-f37b-4c71-861f-85ef42c5fb93.png)

Looks like
![b8b71961b51c9da57ab83cb69592e8c3ed5bb39a_2_690x291](https://user-imag

[2021-09-15 09:49] MrGeneration commented on #3737
Limiting the conversation to reduce "me toos".
Seems like the whole `group_by` functionality is affected.

A developer will have a deeper look.

[2021-09-15 10:28] #3378 closed, assigned to dominikklein

[2021-09-15 14:45] dominikklein opened #3741 "Removal of Microsoft365-Channel not possible via UI when having no email address relation"
### Infos:

* Used Zammad version: 4.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* It should be possible to delete the Microsoft365 channel without a email address relation.

### Actual behavior:

* It's not possible to remove the Microsoft365 channel without a em

[2021-09-15 16:54] #3235 closed, assigned to dominikklein

[2021-09-15 17:48] #3739 closed, assigned to rolfschmidt

[2021-09-15 17:48] #3740 closed, assigned to rolfschmidt

[2021-09-16 02:04] slartimitvar commented on #3730
I also ran into this issue and had to manually add records to the 'settings' table in the database for each of the following :

es_url
es_index
es_attachment_ignore
es_attachment_max_size_in_mb

The basic insert statement requried was :

INSERT INTO 'settings' SET
'title'='ElasticSearch URL',
'name'='es_url',
'description'='',
'area'='SearchIndex::ElasticSearch',
'frontend'=0,
'created_at'='2021-0

[2021-09-16 07:41] MrGeneration commented on #3730
To reduce further bumps, hijacks and -even worse- wrong information like @slartimitvar provided I'm limitting the conversation to contributors only.

Above "solution" may work in the short end but is NOT suggested.

[2021-09-16 07:51] #3203 closed, assigned to dominikklein

[2021-09-16 07:56] #3741 closed, assigned to dominikklein

[2021-09-16 10:11] sts opened #3742 "HtmlSanitizer.cleanup timeout: Message cannot be displayed due to HTML processing issues"
### Infos:

* Used Zammad version: 4.1.0-1626440352.831837d2.buster
* Installation method (source, package, ..): package
* Operating system: Debian 10.10
* Database + version: Postgresql 12.7
* Elasticsearch version: 7.10.2
* Browser + version: Chrome 93

### Expected behavior:

* E-mails are parsed from IMAP and rendered in ticket

### Actual behavior:

* E-mail gets parsed from IMAP and are show

[2021-09-16 12:13] mgruner commented on #2800
@MrGeneration I believe this is outdated and can be closed. Zammad runs fine with more recent versions of PostgreSQL (13.4 in my case).

[2021-09-16 12:26] MrGeneration commented on #2800
I believe so too.
I believe the  `-beta` string would be the issue in this case.

[2021-09-16 12:39] mgruner commented on #2800
@MrGeneration Oh, now I see that I misunderstood the report. So it's probably still the same behaviour.
Is it really the case that Zammad should support beta versions of dependencies?

[2021-09-16 13:01] dominikklein commented on #3056
I can confirm that this problem is no longer reproduceable with a newer Safari Version.

[2021-09-16 13:01] #3056 closed, assigned to nobody

[2021-09-16 13:22] MrGeneration commented on #2800
Supporting it is a hard wording.
I mean it's not official tested by us and so shouldn't give any warranty
 whatsoever

[2021-09-16 13:22] #2800 closed, assigned to nobody

[2021-09-16 17:59] martini opened #3743 "Owner selection empty or pending reminder data picker not shown if customer field has content but no customer is selected (in ticket create screen)"
### Infos:

* Used Zammad version: develop (2021-09-16)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Allow working on ticket create forms even if not customer is selected

### Actual behavior:

* Ticket create form is blocked if no customer is selected

### Steps t

[2021-09-20 08:18] paymanzafar1 opened #3745 "Closed tickets wrong report"
### Infos:

* Used Zammad version: 4.1
* Installation method (source, package, ..): package
* Operating system: CentOs
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Reopened ticket should not be listed in the Closed tickets list in reporting section.

### Actual behavior:

* Reopened ticket is listed in closed tickets list in reporting s

[2021-09-20 08:21] MrGeneration commented on #3745
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-09-20 08:21] #3745 closed, assigned to nobody

[2021-09-20 08:27] paymanzafar1 commented on #3745
Hi,

I don’t know why you think this was a technical question.

It is a clear bug. I wrote the required steps to create this issue.

When you close a ticket, and then reopen it, it will be listed a closed ticket in the Reporting section.

Best regard,
Payman Moghadam

From: Marcel Herrguth ***@***.***>
Sent: Monday, September 20, 2021 12:52 PM
To: zammad/zammad ***@***.***>
Cc: Peyman Zafar moghad

[2021-09-20 08:29] MrGeneration commented on #3745
Stop discussing with me please, this works as designed.
If you don't understand why, please kindly head over to the community and ask why there.

[2021-09-20 09:00] mantas commented on #2316
@mrflix what's your opinion on this?

[2021-09-20 10:21] sts commented on #3742
Patching the PROCESSING_TIMEOUT to a higher value in code has resolved the issue for us.

[2021-09-20 10:26] MrGeneration commented on #3742
Without the original mail causing issue we can't help further.
The timeout limit is not update save and has been brought in for very good and specific reasons.

We should thus address the root cause and not simply bump up limits.

[2021-09-20 10:34] mantas commented on #2757
Looks like this will be fixed in upcoming release with the following commit

https://github.com/zammad/zammad/commit/d2efdb547d0e5a526f20fe1609680f152da3fb6f

@thorsteneckel or can you still reproduce this?

[2021-09-20 10:52] thorsteneckel commented on #2757
I haven't had the chance to do so. I just added it to the Workflow. If it can't be reproduced we can close the issue, remove all labels, add the "can't reproduce" label and add the issue link as a comment to that commit 👍

[2021-09-20 13:09] martini opened #3746 "Incorrect alignment in the listing of attachments when creating a ticket"
## Infos:

* Used Zammad version: develop (2021-09-20)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Nice alignment in the listing of attachments when creating a ticket

### Actual behavior:

![image](https://user-images.githubusercontent.com/110226/134007576-581496

[2021-09-20 13:26] martini opened #3747 "Ticket attributes are missing in the print display"
### Infos:

* Used Zammad version: 4.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Show ticket attributes (like state, priority, group, owner) in print view of tickets

### Actual behavior:

* No ticket attributes are shown

<img width="1162" alt="Screen Shot 2021

[2021-09-20 13:28] MrGeneration commented on #3747
JFI: When we introduced the print layout we decided against showing ticket meta information as far as I can remember.
I'd see this as enhancement + specification required personally.

[2021-09-20 13:32] martini opened #3748 "Ticket in the ticket creation screen tags are shown after 2 characters, in the ticket zoom after 1 character"
### Infos:

* Used Zammad version: 4.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Display of ticket tags auto completion in the create screen and in the edit screen should have the same behavior

### Actual behavior:

* In ticket create: tag auto completion is sn

[2021-09-20 13:42] martini opened #3749 "Note should be listed with the attributes of the organization at the end. "Domain based assignment *" should be listed after "Domain"."
### Infos:

* Used Zammad version: 4.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Note should be listed with the attributes of the organization at the end. "Domain based assignment *" should be listed after "Domain".

### Actual behavior:

![Untitled](https://use

[2021-09-20 13:45] MrGeneration commented on #3749
Where do you have that screen from?

Works on my test instances without any issues:
![image](https://user-images.githubusercontent.com/6549061/134012888-cc8db8e6-4d2f-4cd5-954b-c2b47eb9c2c8.png)

![image](https://user-images.githubusercontent.com/6549061/134012925-c1c6a7e0-7914-4099-9c45-30f92277ff6e.png)

verified on Google Chrome.

[2021-09-20 13:57] martini commented on #3749
I too the screenshot from a fresh instance from zammad.com (I can reproduce it with any new instance here). I upgraded to Zammad 5.0 then it worked well:

![image](https://user-images.githubusercontent.com/110226/134014817-bc3feae9-49bc-4d18-be28-006e2b5a8b92.png)

So I'm closing for now.

[2021-09-20 13:57] #3749 closed, assigned to nobody

[2021-09-20 14:00] MrGeneration opened #3750 "Improve wording if user uses unallowed characters"
### Infos:

* Used Zammad version: 5.0/develop
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

Zammad provides meaningful and clear error messages.

### Actual behavior:

If you try to use invalid characters within object creation the error message feels mixed from two

[2021-09-20 14:02] martini opened #3751 "Unable to create new organization"
### Infos:

* Used Zammad version: 4.1 -> Upgrade to 5.0 (develop 2021-09-21)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Be able to create new organizations

### Actual behavior:

![image](https://user-images.githubusercontent.com/110226/134015418-a653cf78-f405-4

[2021-09-20 14:02] martini commented on #3751
Test instance https://issue-org-attributes.zammad.com is affected

[2021-09-20 14:29] rolfschmidt opened #3752 "Core Workflow "is not" operator is working unexpected"
### Infos:

* Used Zammad version: 5.0
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

### Expected behavior:

* Restriction does only match for users who dont have the approval role.

### Actual behavior:

* Restriction does also match for users with the approval role.

### Steps to reproduce

[2021-09-20 14:30] rolfschmidt commented on #3752
/cc @MrGeneration

[2021-09-20 15:02] sgrube287 commented on #3295
Hallo bolah2009,
I have the same issue with the last zammad release 4.1
Is there a fix in progress?
Or something I have to active?
Thanks for your support

[2021-09-20 15:06] MrGeneration commented on #3295
Please don't hijack issues with your technical questions.
As you clearly can see: This is an open issue and thus not yet fixed.

Consult the community for technical questions.

[2021-09-20 15:58] #3743 closed, assigned to rolfschmidt

[2021-09-20 16:03] #3088 closed, assigned to rolfschmidt

[2021-09-20 16:05] #3194 closed, assigned to rolfschmidt

[2021-09-20 16:10] #3684 closed, assigned to rolfschmidt

[2021-09-20 16:11] #3736 closed, assigned to rolfschmidt

[2021-09-20 16:13] #2102 closed, assigned to rolfschmidt

[2021-09-20 19:20] mantas commented on #2757
Can confirm that ticket subjects are no longer leaked. But counter is still wrong and accounts for all customer's tickets.

![Screenshot 2021-09-20 at 20 42 04](https://user-images.githubusercontent.com/36944/134060394-1b9d2b5f-ee24-42de-bb1e-ca09281307e8.png)

[2021-09-20 20:24] martinvonwittich commented on #2757
Hmm, but that might actually be useful. If you're looking for a specific ticket that you know exists, but that's actually not accessible to you (maybe someone moved it into a different group that you don't have access to), then the ability to at least determine that there are additional tickets that you can't see might be helpful. An explicit hint like "<number> tickets you aren't allowed to view"

[2021-09-20 21:08] szg-mw opened #3753 "FQDN not replaced in ngnix config"
### Infos:

* Used Zammad version: 4.1
* Installation method (source, package, ..): yum
* Operating system: CentOS Linux release 7.9.2009 (Core)
* Database + version: -
* Elasticsearch version: -
* Browser + version: -

### Expected behavior:

Changing the "Fully Qualified Domain Name" under Settings -> "System" should replace the FQDN in all config files.

### Actual behavior:

Changing the "Full

[2021-09-20 21:12] MrGeneration commented on #3753
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-09-20 21:12] #3753 closed, assigned to nobody

[2021-09-20 21:15] szg-mw commented on #3753
Hi,

does not look like a technical question to me. I´ve already fixed the issue for me so I don´t need any further assistance.

Would just let you know about the "issue". If it works as designed you can close the the issue.

[2021-09-20 21:16] MrGeneration commented on #3753
Everyone gotta discuss today huh - ask again on the community please.

[2021-09-21 09:21] MrGeneration opened #3754 "Signatures sanitize variables in URLs"
### Infos:

* Used Zammad version: 4.1/stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified on Google Chrome & Thunderbird
* Ticket: #1092157

### Expected behavior:

Using variables within URLs in signatures is no problem if you insert them correctly.

### Actual behavior:

Zammad sanit

[2021-09-21 10:26] #3752 closed, assigned to rolfschmidt

[2021-09-21 11:15] martini opened #3755 "User with user_id 1 is show in admin interface (which should not)"
### Infos:

* Used Zammad version: develop (2021-09-21)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

Note: As historical reasons (mysql & indexes of `null` columns), unassigned tickets have `owner_id: 1`. So the user with the id 1 is no user which should be viable/editable via UI and API (a

[2021-09-21 13:52] mantas opened #3756 "Ticket zoom sidebar leaks count of confidential tickets"
### Infos:

* Used Zammad version: 5.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Ticket zoom sidebar shows count of customer's tickets available to the agent

### Actual behavior:

* Ticket zoom sidebar shows count of customer's tickets

### Steps to reproduce t

[2021-09-21 13:53] mantas commented on #2757
Ticket subjects will be no longer leaked in the next release thanks to commit bellow. Closing this issue now. Customer tickets count will be addressed in a separate issue.

https://github.com/zammad/zammad/commit/d2efdb547d0e5a526f20fe1609680f152da3fb6f

[2021-09-21 13:53] #2757 closed, assigned to mantas

[2021-09-21 14:29] rolfschmidt commented on #3710
Still broken need another follow up fix...

[2021-09-21 14:39] #3751 closed, assigned to rolfschmidt

[2021-09-21 14:43] MrGeneration opened #3757 "escaped 'Set fixed' workflows don't refresh set values on active ticket sessions"
### Infos:

* Used Zammad version: 5.0/develop as of 21st September
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any; verified on Google Chrome 93.0.4577.82

### Expected behavior:

When updating e.g. a boolean or select attribute that escapes a `set fixed` action, Zammad will update the current

[2021-09-21 14:48] MrGeneration opened #3758 "Saved conditions break on selections without reloading"
### Infos:

* Used Zammad version: 5.0/develop as of 21st September
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any; verified on Google Chrome 93.0.4577.82

### Expected behavior:

Saved conditions ensure that, no matter the selection, a workflow either keeps "escaped" or "active" for specific

[2021-09-21 15:15] rolfschmidt opened #3759 "Login failed after upgrade to zammad 5.0"
### Infos:

Used Zammad version: 5.0
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

### Expected behavior:

* Login works

[code]

### Actual behavior:

![grafik](https://user-images.githubusercontent.com/5445062/134197575-bfdcd2b6-546a-4c53-9edf-24cb5d3de642.png)

`Attribute &#39;activity<u>

[2021-09-21 15:15] rolfschmidt commented on #3759
# Workaround

`zammad run rails r "Cache.clear"`

[2021-09-22 06:59] thorsteneckel commented on #3759
This seems to be an issue that comes from updating Rails and/or Ruby:

[code]

[code]

[code]

[2021-09-22 07:52] dominikklein commented on #2972
This was already fixed with the commit: b3b7a84683f22c72f04f32a0eb4c1c8c4eaf4eff.

[2021-09-22 07:52] #2972 closed, assigned to nobody

[2021-09-22 08:00] #3696 closed, assigned to bolah2009

[2021-09-22 11:30] benrubson opened #3761 "Oversized-mail sender not properly formatted"
Hi,

### Infos:

* Used Zammad version: 4.1.0-1632223866.38f67335.buster amd64
* Installation method (source, package, ..): package
* Operating system: Debian 10
* Database + version: mariadb-server 10.3.29-0+deb10u1 amd64
* Elasticsearch version: elasticsearch-oss 7.10.2 amd64
* Browser + version: Safari, Firefox (lastest versions)

### Expected behavior:

* Oversized-mail sender is properly form

[2021-09-22 12:25] MustafaTongul opened #3762 "Unable to create a ticket in web app if default for additional boolean value is FALSE"
### Infos:

* Used Zammad version: 4.1.x
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all
* Ticket#1092606

### Expected behavior:

A ticket can be created if the default value of a Bolean object is FALSE.

### Actual behavior:

A ticket cannot be created if the default value of a boolean object

[2021-09-22 13:05] MrGeneration opened #3763 "Default time diff for date and datetime objects don't function"
### Infos:

* Used Zammad version: 4.1/stable, 5.0/develop as of 21st September
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified on Google Chrome v93.0.4577.82, Firefox v92.0

### Expected behavior:

* I'm not entirely sure if this function should pre select `Time.now + n.hours` / `Time.now

[2021-09-22 13:20] idominiki opened #3764 "Use API to find open or new tickets - doesn't find the right tickets for me"
### Infos:

* Used Zammad version: 4.1.x
* Installation method (source, package, ..): apt Installation
* Operating system: Ubuntu 18.04.6 LTS
* Database + version: PostgreSQL 10.18
* Elasticsearch version: 7.14.2

### Expected behavior:

* When using API to retrieve tickets, it would give me tickets list in JSON format with all open or new tickets

### Actual behavior:

* It shows only three ticke

[2021-09-22 13:20] MrGeneration commented on #3764
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-09-22 13:20] #3764 closed, assigned to nobody

[2021-09-22 14:34] MrGeneration commented on #3763
After asking Martin I learned that this function is supposed to support the user by pre selecting above selected time diff in the date / timepickers. It is not supposed to hard pre set the field.

[2021-09-22 14:56] #3762 closed, assigned to rolfschmidt

[2021-09-22 16:10] MrGeneration commented on #3716
Note:
This also happens in e.g. user creation modals, not sure if that helps.

[2021-09-22 18:43] Karlovsky120 commented on #3027
From what I can gather, the problem is that the setting is global, meaning that **every** created user has the set role(s). If you could differentiate created users by source (google oauth, internally by agent, web interface registration, etc.) it would be possible to allow all accounts created via google oauth to be agents, while others default to customers, avoiding the problem you presented.

I

[2021-09-22 19:37] MrGeneration commented on #3027
Please don't hijack closed issues, if you have questions head over to the community: https://community.zammad.org

[2021-09-23 07:15] #3759 closed, assigned to rolfschmidt

[2021-09-23 07:45] mgruner opened #3765 "Possible race condition causing OTRS import to fail"
### Infos:

* Used Zammad version: 5.0
* Installation method (source, package, ..): git
* Operating system: Linux
* Database + version: PostgreSQL
* Elasticsearch version: -
* Browser + version: -

### Expected behavior:

* OTRS import completes successfully.

### Actual behavior:

* OTRS import fails with a database error

[code]

### Steps to reproduce the behavior:

* This is not easy to reprod

[2021-09-23 07:53] #3710 closed, assigned to rolfschmidt

[2021-09-23 09:54] dnauck opened #3766 "Invalid CSRF on every login since version 4.1.0-1632381317.7e76a535.focal"
### Infos:

* Used Zammad version: zammad amd64 4.1.0-1632381317.7e76a535.focal
* Installation method (source, package, ..): package
* Operating system: Ubuntu focal
* Browser + version: up2date chrome, firefox and edge

Hello,

i've setup a fresh system yesterday and everything was working fine. (Version 4.1.0-1632293252.c9a3fc0d.focal)
Today i've updated zammad via apt upgrade to version 4.1.0-1

[2021-09-23 10:23] MrGeneration commented on #3766
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-09-23 10:23] #3766 closed, assigned to nobody

[2021-09-23 10:30] dnauck commented on #3766
https://community.zammad.org/t/invalid-csrf-on-every-login-since-version-4-1-0-1632381317-7e76a535-focal/7744

[2021-09-23 12:02] #3755 closed, assigned to romitgithub

[2021-09-23 13:46] #3075 closed, assigned to romitgithub

[2021-09-23 13:52] #3758 closed, assigned to rolfschmidt

[2021-09-23 14:35] #3746 closed, assigned to mantas

[2021-09-23 14:46] martini commented on #3746
I did not verify how it was before, but in ticket create the space between uploaded attachments and "select attachments" looks big:

![image](https://user-images.githubusercontent.com/110226/134529007-b58f522f-cc7a-4763-827e-b7cfc422464b.png)

In ticket zoom the space between uploaded attachments and "select attachments" looks different/better:

![image](https://user-images.githubusercontent.com/1

[2021-09-23 15:00] thorsteneckel commented on #3746
Yes, please. Would be great to say which one should be used.

That's how it looked back in 3.6:
<img width="1058" alt="CleanShot 2021-09-23 at 16 58 40@2x" src="https://user-images.githubusercontent.com/3873515/134531919-f5ed654e-0a21-43c0-823a-7b99472e1de3.png">

<img width="1064" alt="CleanShot 2021-09-23 at 16 59 56@2x" src="https://user-images.githubusercontent.com/3873515/134532000-048ab263-b

[2021-09-24 07:01] #3765 closed, assigned to mgruner

[2021-09-24 07:33] mgruner commented on #3742
@MrGeneration what would you suggest? This serves as a safety net against DOS via mails causing excessively long processing in our sanitizer. The original mail might show this behaviour or not, depending on hardware and load on the system.
We saw this timeout triggering in the CI even for extremely short mails, caused by system overload.

[2021-09-24 08:48] dbschema-pro opened #3767 "Triggers excluding 2 emails"
Hello,

On Zammad 3.6, I want to create a trigger that excludes two emails. I couldn't do this. After adding the first email contains not, it is no more allowed to add another record with similar content.
I need to add two emails to be excluded from the trigger.

![image](https://user-images.githubusercontent.com/60284259/134646172-3bb2406e-23e3-4688-a6b7-314172a6e603.png)

[2021-09-24 21:17] MrGeneration commented on #3767
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-09-24 21:17] #3767 closed, assigned to nobody

[2021-09-27 08:03] martini opened #3768 "Emails contains "strange" content which is not viewable if email is opened in other email client."
### Infos:

* Used Zammad version: 4.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* show emails in Zammad like in other email clients

### Actual behavior:

* Zammad shows content of `<script type="application/ld+json">` tags

### Steps to reproduce the behavior:

[2021-09-27 10:12] rolfschmidt opened #3769 "Usage of inactive object attributes in SLAs will crash admin SLA interface"
### Infos:

* Used Zammad version: 4.1
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all
* Ticket#1093261

### Expected behavior:

* Disabled attributes should not crash the UI.

### Actual behavior:

![grafik](https://user-images.githubusercontent.com/5445062/134889488-bb7ccf39-0dc0-4b6b-b95f-dd

[2021-09-27 10:42] rolfschmidt commented on #3769
@martini @thorsteneckel What do you think could be the approach to solve the issue? We could throw an error then the field is configured somewhere else in the admin interface or we could try to remove the field out of the configurations when it is still configured? What do you think?

[2021-09-27 14:28] b90g opened #3770 "Autoresponder on Mailsize doesnt set Auto-Submitted-Header"
### Infos:

* Used Zammad version: 4.1.0
* Installation method (source, package, ..): package
* Operating system: debian bullseye
* Database + version: package recommendet
* Elasticsearch version: latest
* Browser + version: any

### Expected behavior:

* Emails which are rejected for having to many MB  dont seem to Set the Header `Auto-Submitted` which leads to zammad rejecting mailinglists mails

[2021-09-27 14:38] MrGeneration commented on #3770
Sorry, but this seems to be a technical question.
That's a feature not a bug.

Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support an

[2021-09-27 14:38] #3770 closed, assigned to nobody

[2021-09-27 19:59] hmolinab opened #3771 "Many unprocessable mails"
### Infos:

* Used Zammad version: zammad-4.1.0-1630076259.40e648b8.centos7.x86_64
* Installation method (source, package, ..): package
* Operating system: CentOS 7
* Database + version: PostgreSQL 10.18
* Elasticsearch version: 7.14
* Browser + version: any
* Ticket#1093409, Ticket#1092454

### Expected behavior:

* Zammad should process all emails

### Actual behavior:

* Very often Zammad is le

[2021-09-27 20:34] MrGeneration commented on #3771
Please provide your production log(s) to support [at] zammad [dot] com and reference this issue.

[2021-09-27 21:42] hmolinab commented on #3771
Sent.

Thanks.

[2021-09-28 07:26] MrGeneration opened #3772 "Existing tickets: New article modal with padding-left: 0; padding-right: 0;"
### Infos:

* Used Zammad version: 5.9/develop
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified von Google Chrome v94.0.4606.61

Looks like a regression ( https://github.com/zammad/zammad/commit/39179c83f8492cea770177bef345c792f0522c94#diff-262b304b68922aa1fcef0b854fc2cd83e4d487210ae772ae1b

[2021-09-28 07:30] martini commented on #3772
Thanks. I have the same. IMO got introduced by https://github.com/zammad/zammad/commit/39179c83f8492cea770177bef345c792f0522c94

[2021-09-28 07:35] martini opened #3773 "Inconstant alignment in the listing of attachments/submit button in new article area"
### Infos:

* Used Zammad version: develop (2021-09-28)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* have same alignment in the listing of attachments/submit button in new article area
*  the layout of ticket update is the right one

### Actual behavior:

* inconsi

[2021-09-28 07:42] martini opened #3774 "Broken dialog whiling uploading oversized attachment"
### Infos:

* Used Zammad version: develop (2021-09-28)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* show nice modal if uploaded attachment is too big

### Actual behavior:

<img width="471" alt="Screenshot 2021-09-28 at 09 42 02" src="https://user-images.githubuse

[2021-09-28 08:24] thorsteneckel commented on #3769
@rolfschmidt there is already a callback in place that [prevents deactivating ObjectManager Attributes if they are referenced](https://github.com/zammad/zammad/blob/98065e1df89b2776e2c9ee8a023ee952b49c8ae5/app/models/object_manager/attribute.rb#L861-L869). This should be extended.

[2021-09-28 08:27] thorsteneckel commented on #3768
Duplicate of #3365

[2021-09-28 08:27] #3768 closed, assigned to nobody

[2021-09-28 12:07] dominikklein commented on #2711
I can not reproduce the problem, so i think it should be fixed together with #2886.

[2021-09-28 12:07] #2711 closed, assigned to dominikklein

[2021-09-28 14:53] MrGeneration commented on #3771
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-09-28 15:18] hmolinab commented on #3771
MrGeneration, I've followed the Zammad's log instructions:

[code]

On the other hand, I have a lot of unprocessed mails, I see it as a bug, but I'm going to follow your instructions.

Thanks.

[2021-09-28 15:27] rolfschmidt commented on #3771
Hi @hmolinab ,
can you check the size of the directory?

tmp/websocket_production

How big is it? Is your websocket server running properly and stable and does the websocket connection work if you open your inspector in the browser? Like this:

Open inspector (F12), go to network tab and restrict the view of the requests to "Websockets", then reload the page.

![grafik](https://user-images.githubu

[2021-09-28 19:13] benrubson commented on #2674
See #3775 for a fix 👍

[2021-09-28 21:50] hmolinab commented on #3771
The tmp/websocket_production directory has 4G and the disk graph doesn't
show space problems.

The websocket looks fine:
[image: zammad.png]

El mar, 28 sept 2021 a las 12:28, Rolf Schmidt ***@***.***>)
escribió:

[2021-09-28 21:51] hmolinab commented on #3771
Hi Rolfschmidt,

The tmp/websocket_production directory has 4G and the disk graph doesn't show space problems.

The websocket looks fine:
![Uploading zammad.png…]()

[2021-09-28 22:05] sts commented on #3742
@MrGeneration I totally understand your point here, but under no circumstances I could share e-mails containing proprietary information. Also it wouldn't make sense to provide a modified e-mail; which makes it quite hard to help the Zammad project improve the Sanitizer.

I think to get valuable feedback here, it would need instructions on how to debug the class, people would need to wait until par

[2021-09-29 05:22] mantas commented on #3769
Looks like I added that original check.. Will extend it.

[2021-09-29 06:53] rolfschmidt commented on #3771
I think that is the issue. This directory should not be so big. Can you check if the Websocket server process is running on your system? There should be a `ruby script/websocket-server.rb` in your process list. Please answer my questions if you are using the websocket server properly it would be nice to know.

To fix this issue you can do the following steps:
- Stop your zammad services.
- Remove

[2021-09-29 06:55] rolfschmidt commented on #3771
ups production environment not development. so `rm -Rf /opt/zammad/tmp/websocket_production/*`

[2021-09-29 07:24] MrGeneration commented on #3742
I can understand that as well

And I also agree on this point.
I'm afraid we can't further address this if we don't have original emails at this point that cover the case.

You may have slightly misunderstood the reaosns.
Earlier we had issues were customers would receive heavy mails with thousands of URLs inside.

The sanitizer would take far more than 30 minutes on processing this one mail.
This

[2021-09-29 07:24] #3742 closed, assigned to nobody

[2021-09-29 08:03] #3757 closed, assigned to rolfschmidt

[2021-09-29 08:10] #3772 closed, assigned to mantas

[2021-09-29 08:15] #3365 closed, assigned to martini

[2021-09-29 08:23] #3028 closed, assigned to mantas

[2021-09-29 09:11] #2619 closed, assigned to mantas

[2021-09-29 09:25] #2351 closed, assigned to romitgithub

[2021-09-29 10:09] rolfschmidt opened #3776 "Force users to reload after system migration"
### Infos:

* Used Zammad version: 5.0
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all
* Ticket#1093505

### Expected behavior:

* Online users should get a reload in browser after updating of the system.

### Actual behavior:

* Users who are never shutting down their systems will never get th

[2021-09-29 10:10] mzch opened #3777 "[BUG] miss spell in db/migrate/20210923172256_issue_2619_kb_header_link_color.rb"
### Infos:

* Used Zammad version: commit bf6da241d8190d29c7e0a2ad4c5f929b51faaa64
* Installation method (source, package, ..): source
* Operating system: Debian 11.0

### Expected behavior:

* Migrate database succssfully.

### Actual behavior:

* Error.
[code]

### Steps to reproduce the behavior:

* `bundle install`
* `RAILS_ENV=production bundle exec rake db:migrate`

Yes I'm sure this is a bu

[2021-09-29 10:12] MrGeneration commented on #3776
Theoretically this should happen automatically already due to Zammad restarting.
However, in rare race conditions (I had myself as well), the UI may loose the websocket connection and also fail trying to reconnect proper. In this situation the agent bareely notice any negative side effects.

This even allows temporary use of a second tab of the same Zammad session because the connection broke that

[2021-09-29 10:14] rolfschmidt commented on #3776
We should have at least a reload to make sure the new javascript is running.

[2021-09-29 10:15] MrGeneration commented on #3776
Usually Zammad does exactly that after loosing the connection to the application server.
This happens during restarting the application server as well (which is caused by updates)

[2021-09-29 10:16] rolfschmidt commented on #3776
hmm I'm not deep enough into the topic. The customer said he had his system in standby mode overnight which could be a forcing point here...

[2021-09-29 10:20] MrGeneration commented on #3776
Yes and standby is exactly what **can** cause above mentioned connection check to go berserk and die.

[2021-09-29 10:23] #3777 closed, assigned to mantas, thorsteneckel

[2021-09-29 10:24] thorsteneckel commented on #3777
Thanks for the fast report on this one @mzch 💯

[2021-09-29 10:31] rolfschmidt commented on #3776
If i remember correctly we didnt want to exchange versions between frontend and backend because of security reasons. But maybe we could give the websocket server a random ID on startup and if the client already have one and it is different then it reloads the browser. So it would restart on every restart of the websocket server which should not happen to often right?

After standby it would try to

[2021-09-29 10:32] MrGeneration commented on #3776
The problem is the app loosing the websocket connection which would break your fix attempt. My opinion though.
The Ajax fallback also doesn't kick in.

[2021-09-29 10:34] rolfschmidt commented on #3776
Ah i did not check for the reconnect ... But there is code which is retrying the connect of the websocket server? Are you really sure? Ajax fallback should kick in at least. Yeah it is maybe too theoritical here, we need to reproduce it and see forward then. But standby could be a good way to reproduce it i guess.

[2021-09-29 10:35] MrGeneration commented on #3776
That's Martin E.'s and my theory, yes.
This happens fairly rarely and actually is hard to reproduce. I failed at it which is why we had to ignore it up to now.

[2021-09-29 11:27] martini commented on #3776
Proposal:

[code]

The same as we did earlier https://github.com/zammad/zammad/blob/develop/db/migrate/20170214000001_reload_online_browser_after_cors_csrf_changes.rb

If a websocket connection is reconnected the websocket connection is checking if `app_version` is still the same, if not a reload is forced.

Note: There are variants where there is no websocket reconnect (e. g. as Marcel mentioned)

[2021-09-29 11:31] MrGeneration commented on #3776
~~We should never communicate application versions to unauthenticated users or customers.~~
~~This is a potentially security issue.~~

~~Especially because we have WAY TOO MANY users having so lax update rules that they're running several security versions behind. Please don't expose those users even more than they do them selfes already.~~

Turns out I absolutely misunderstood the way this works.

[2021-09-29 11:42] mzch opened #3778 "Broken logo"
### Infos:

* Used Zammad version: commit a57b65aee3a409622ab2bcdbe668335e3f0c0208
* Installation method (source, package, ..): source
* Operating system: Debian 11.0
* Database + version: PostgreSQL 13.4
* Elasticsearch version: 7.155
* Browser + version: Chrome

### Expected behavior:

* Show zammad logo

### Actual behavior:

* Broken. See below:
![ScreenShot](https://user-images.githubusercont

[2021-09-29 11:48] mantas commented on #3778
@mzch does the logo show up when you go to Settings -> Branding ?

[2021-09-29 11:48] MrGeneration commented on #3778
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-09-29 11:48] #3778 closed, assigned to nobody

[2021-09-29 11:48] MrGeneration commented on #3778
I'm betting that this has been a migration.

[2021-09-29 11:55] mzch commented on #3778
Oh, sorry. This is my fault. Thanks!

[2021-09-29 13:13] hmolinab commented on #3771
Hi Rolf,

Sorry, I didn't explain myself well. tmp/websocket_production has 4G to
grow.

The web socket is running properly:

$ ps xa|grep websocket
 3376 pts/0    S+     0:00 grep --color=auto websocket
29220 ?        Rsl   12:50 script/websocket-server.rb -b 127.0.0.1 -p 6042
start

All files inside of tmp/websocket_production are fresh:
$ ll /opt/zammad/tmp/websocket_production/
total 76
drwxr-

[2021-09-30 06:32] #3776 closed, assigned to rolfschmidt

[2021-09-30 07:25] #2780 closed, assigned to romitgithub

[2021-09-30 09:04] rolfschmidt opened #3779 "Core Workflow: Add organization condition attributes for object User"
### Infos:

* Used Zammad version: 5.0
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

### Expected behavior:

* It should be possible to select organization related attributes as conditions for the User object.

### Actual behavior:

* Currently only user attributes are listed for the object

[2021-09-30 09:10] #2674 closed, assigned to monotek

[2021-10-01 03:56] martini opened #3781 "ObjectManager Attribute without screen attribute causes CoreWorkflows migration to fail"
### Infos:

* Used Zammad version: 4.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* execute database migration without issues

### Actual behavior:

* `rake db:migrate`

[code]

[2021-10-01 08:42] benrubson opened #3782 "Accented characters are not considered in search"
Hi,

### Infos:

* Used Zammad version: 4.1.0-1632223866.38f67335.buster amd64
* Installation method (source, package, ..): package
* Operating system: Debian 10
* Database + version: mariadb-server 10.3.29-0+deb10u1 amd64
* Elasticsearch version: elasticsearch-oss 7.10.2 amd64
* Browser + version: Safari, Firefox (lastest versions)

### Expected behavior:

* Accented characters are considered in

[2021-10-01 08:44] MrGeneration commented on #3782
Sorry, but this seems to be a feature request.
Please note that this repository is the wrong place for feature requests.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case the community provides enough votes (hearts on the first article, so feels the same way like you), we will move the feature request to this repository.

If you require a feature *now* or

[2021-10-01 08:59] benrubson commented on #3782
https://community.zammad.org/t/consider-accented-characters-in-research/7805

[2021-10-01 09:40] rolfschmidt commented on #3754
relates https://github.com/flavorjones/loofah/issues/152

[2021-10-01 10:26] #3781 closed, assigned to rolfschmidt

[2021-10-01 15:52] MrGeneration opened #3783 "Improve contrasts in answer search for articles"
### Infos:

* Used Zammad version: 5.0/develop
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any, verified on Google Chrome v94

### Expected behavior:

Contrasts, even on highlights, are big enough to allow the user to read text well.

### Actual behavior:

When using the KB answer inclusion (``

[2021-10-04 13:06] MrGeneration opened #3784 "Postinstall script not robust for distribution independent postgresql installations"
### Infos:

* Used Zammad version: 4.1/stable and 5.0/develop
* Installation method (source, package, ..): package
* Operating system: any (verified on CentOS)
* Database + version: postgresql v9.6/10/11/12/13/14
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

Zammads postinstall script is able to notice if postgresql service is not using default naming schemes from

[2021-10-04 13:43] #3783 closed, assigned to mantas

[2021-10-04 13:48] #3779 closed, assigned to rolfschmidt

[2021-10-04 15:22] bm1-phillip opened #3785 "Zammad with port other than 80 or 443 (FQDN)"
Hello,

we have Zammad running on another port something like zammad.domain.org:12345

When I enter the Port as FQDN, I can't send mails because my mail provider can't handle the port. Apart from that the port has not lost with the FQDN.

If I leave out the port, then the URLs, which are e.g. in Mail, are not correct.

How do I do that correctly or is that simply not possible?

[2021-10-04 15:42] MrGeneration commented on #3785
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-10-04 15:42] #3785 closed, assigned to nobody

[2021-10-04 19:06] #3773 closed, assigned to mantas

[2021-10-04 19:06] #3774 closed, assigned to mantas

[2021-10-04 19:10] #3769 closed, assigned to mantas

[2021-10-05 07:52] #2477 closed, assigned to mantas, MrGeneration

[2021-10-05 08:31] b90g opened #3786 "DB Migration from 4.1.0 > 5.0.0 fails at activity_stream_object_id"
### Infos:

* Used Zammad version: 4.1.0 > 5.0.0
* Installation method (source, package, ..): Package
* Operating system: Debian Bullseye
* Database + version: MariaDB 10.5.11
* Elasticsearch version: 7.14
* Browser + version: Firefox ESR 91

### Expected behavior:

* Update from 4.1.0 to 5.0.0 as package manager suggested (from repos) runs regular

### Actual behavior:

* Stuff breaks and i am no

[2021-10-05 08:40] martini commented on #3786
@b90g is the following working:

1. systemctl stop zammad
2. apt upgrade -y
3. systemctl start zammad

If your upgrade is stopping in the middle, you can do the following as alternative:

1. systemctl stop zammad
2. zammad run rails Cache.clear
3. zammad run rake db:migrate
3. systemctl start zammad

Feedback is welcome!

[2021-10-05 10:12] dnauck commented on #3786
Hello,

i've the same problem with another column:

[code]

[2021-10-05 10:14] dnauck commented on #3786
@martini - your suggested workaround:

[code]

[2021-10-05 10:16] Pamalosebi commented on #3786
Also with the following setup:

Used Zammad version: 4.1.0 > 5.0.0
Installation method (source, package, ..): Package (dnf update)
Operating system: Rocky Linux 8.4
Database + version: Postgresql 13
Elasticsearch version: 7.15
Browser + version: Chrome 94

[2021-10-05 10:16] MrGeneration commented on #3786
Please try `zammad run rails r "Cache.clear"` if you're a package user.
If not, just use `rails r ....`

[2021-10-05 10:17] MrGeneration commented on #3786
@Pamalosebi

Is NOT a supported distribution for package installations by us.
While this may work you're abusing our package installation and thus please do not participate in bug reports etc.

Run a clean installation that's supported and come back again it persists.

[2021-10-05 10:19] rolfschmidt commented on #3786
@dnauck Can you try the commands of this suggestion?

https://community.zammad.org/t/migration-to-5-0-breaking-ldap-and-saml-login/7825/9?u=rolfschmidt

[2021-10-05 10:20] Pamalosebi commented on #3786
Even when I think you are pretty unfriendly (and you should check out what Rocky Linux is) I want to let you know, that:

worked. Thank you :)

[2021-10-05 10:20] dnauck commented on #3786
[code]

@rolfschmidt should i still try your commands?

[2021-10-05 10:22] MrGeneration commented on #3786
@dnauck for the next time, please read the update documentation. You posted a technical question here.

[2021-10-05 10:23] olivierlambert commented on #3786
Yes, don't forget to redo the DB migration **AFTER** the `Cache.clear` :+1: That worked for me!

[2021-10-05 10:25] b90g commented on #3786
[code]

Works now, thank you.

[2021-10-05 10:26] MrGeneration commented on #3786
Wow, sorry for pointing out obvious things.

It's a fork of CentOS. Fine. But our package builds base on CentOS which is why your approach may fail in the future.
This is all I have pointed out.

I'd appreciate it if you could stop vomiting on my desk now. Thanks.

[2021-10-05 10:26] rolfschmidt commented on #3786
no if it is working for you thats great!

[2021-10-05 10:26] MrGeneration commented on #3786
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-10-05 10:26] #3786 closed, assigned to nobody

[2021-10-05 10:26] dnauck commented on #3786
... why ist'n the package executing this mandatory stuff?

[2021-10-05 10:27] MrGeneration commented on #3786
I'm limitting the conversation to contributors only.
If you have further questions please consult the community.

[2021-10-05 10:54] rolfschmidt opened #3787 "UploadCacheCleanupJob does not execute"
### Infos:

* Used Zammad version: 5.0
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

### Expected behavior:

* It should run

### Actual behavior:

[code]

### Steps to reproduce the behavior:

`UploadCacheCleanupJob.perform_now`

Yes I'm sure this is a bug and no feature request or a genera

[2021-10-05 10:56] benrubson commented on #3782
Many thanks @mantas for your interest into this 👍

[2021-10-05 10:57] rolfschmidt commented on #3787
regression of https://github.com/zammad/zammad/commit/4ab01e36381df0fbc9e1ee892e31edeecaf9e51d

[2021-10-05 11:48] mgruner opened #3788 "lib/fill_db.rb fails to work in production environments"
### Infos:

* Used Zammad version: 5.0
* Installation method (source, package, ..): git
* Operating system: macOS 11.6
* Database + version: PostgreSQL
* Elasticsearch version: -
* Browser + version: -

### Expected behavior:

* FillDb can be used as expected.

### Actual behavior:

* FillDb [refuses to load]() in production environments.

[code]

### Steps to reproduce the behavior:

* Install ge

[2021-10-05 12:21] #3788 closed, assigned to mgruner

[2021-10-05 15:19] #3787 closed, assigned to rolfschmidt

[2021-10-06 08:27] rolfschmidt opened #3789 "Article box opening on tickets with no changes"
### Infos:

* Used Zammad version: 5.0
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

### Expected behavior:

* Box should be closed on tickets with no changes

### Actual behavior:

![grafik](https://user-images.githubusercontent.com/5445062/136167285-e0b45e2a-bfc1-406e-8ee5-2ef1fa98f161.png

[2021-10-06 08:27] rolfschmidt commented on #3789
regression of https://github.com/zammad/zammad/commit/61406365f0872b852949f5861b8c8f74fcbd88ae

[2021-10-06 11:19] rolfschmidt opened #3790 "Support workflow mechanism to do pending reminder state hide pending time use case"
### Infos:

* Used Zammad version: 5.0
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all
* Ticket: ~~#1093949~~, ~~#1094138~~, ~~#1094284~~, ~~#1094330~~

### Expected behavior:

https://github.com/zammad/zammad-documentation/issues/201

* It should be possible to hide and optional pending time i

[2021-10-06 13:07] #3000 closed, assigned to dominikklein

[2021-10-06 19:06] fthommen opened #3791 "RPM package requires PostgreSQL even if Zammad is configured for MySQL/MariaDB"
### Infos:

* Used Zammad version: 4.1.0-1626855612.90b59692
* Installation method (source, package, ..): Package (RPM from Zammad YUM Repository)
* Operating system: CentOS 7.9.2009
* Database + version: MariaDB 10.3
* Elasticsearch version: 7.9.2
* Browser + version: Firefox 92.x

### Expected behavior:

`yum update zammad` runs through w/o problems as the required MariaDB version is installed a

[2021-10-06 20:17] MrGeneration commented on #3791
I'm afraid we won't be able to fix that because if we remove the line the dependency is not enforced.
CentOS7 and its yum are not capable of "OR" clauses (even on CentOS 8 you need specific versions) to support that.

https://github.com/zammad/zammad/blob/develop/.pkgr.yml#L12

I'm afraid we'll have to mark this as wontfix, sorry!

[2021-10-06 20:18] #3791 closed, assigned to nobody

[2021-10-07 07:01] #3789 closed, assigned to rolfschmidt

[2021-10-07 08:16] rolfschmidt opened #3792 "Add access to organization attribute if allowed via settings for ticket.customer"
### Infos:

* Used Zammad version: 5.0
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all
* Ticket: #1093959

### Expected behavior:

* Attribute data should be avaiable in the API if allowed via attribute for ticket.customer

### Actual behavior:

* Currently data is not available for customer.

[2021-10-07 08:19] rolfschmidt commented on #3792
related to https://github.com/zammad/zammad/commit/867b36baa8f0cb0be33d7a8b5f7b804384f5a3d9

[2021-10-07 10:21] saz opened #3793 "Till label not assigned to corresponding input fields in calendar edit view"
### Infos:

* Used Zammad version: 5.0.x
* Installation method (source, package, ..): source
* Operating system: Ubuntu 18.04
* Database + version: Postgresql 9.6
* Elasticsearch version: 7.15.0
* Browser + version: Google Chrome 92.0.4515.131

### Expected behavior:

* Clicking on a `Till` label in the calendar edit view activates the corresponding input field

### Actual behavior:

* Clicking on

[2021-10-07 10:31] MrGeneration commented on #3793
Can't reproduce, seems to be a local issue.
Please ensure you've run all required steps during the upgrade / installation as per documentation.

If that doesn't help and still persists, please consult the community: https://community.zammad.org

[2021-10-07 11:46] regiohelden-dev commented on #3793
Weird... Because it's *in* the code:
https://github.com/zammad/zammad/blob/73cb552846d66162471f1591b3763f07696f84c4/app/assets/javascripts/app/views/generic/business_hours.jst.eco#L23

[2021-10-07 11:57] saz commented on #3793
@MrGeneration Mind reopening this bug report?

[2021-10-07 12:32] MrGeneration commented on #3793
I agree on the label being invalid (since 2015):
![image](https://user-images.githubusercontent.com/6549061/136383383-c85a71b5-11e6-4310-a306-1b5e9872ac5f.png)

However, I cannot reprodce Chrome v94 using mondays till on all other values - neither on updating nor on creating:
![image](https://user-images.githubusercontent.com/6549061/136383472-1010f247-631f-4e95-a54b-e028eed45376.png)
![image](htt

[2021-10-07 12:36] saz commented on #3793
Interestingly enough, I'm not getting this message in the console, but the HTML is still wrong.
If you're clicking on any of the words `TILL` the time input field below this word will be focused?

[2021-10-07 12:40] MrGeneration commented on #3793
You're right, when clicking on `till` the wrong field is highlighted. So that's definitely an issue.

[2021-10-07 13:44] #3737 closed, assigned to romitgithub

[2021-10-07 14:03] saz opened #3794 "Example payload in webhook view leads to 500 error"
### Infos:

* Used Zammad version: 5.1.0
* Installation method (source, package, ..): docker
* Operating system: -
* Database + version: -
* Elasticsearch version: -
* Browser + version: Firefox 93

### Expected behavior:

* Example webhook payload is shown

### Actual behavior:

* The following error is shown: `{"error":"undefined method `access_condition' for #\u003cClass:0x0000556af3545e58\u003

[2021-10-07 14:05] MrGeneration commented on #3794
Regression of https://github.com/zammad/zammad/commit/276c45b2e9a65009dcbd598827bfab420adf848c

https://github.com/zammad/zammad/blob/5df98684da64aed93cc29e4be029d81566520906/app/controllers/webhooks_controller.rb#L7

[2021-10-07 16:07] saz opened #3795 "Chat preview isn't working due to CORS policy"
### Infos:

* Used Zammad version: 5.1.x, 5.0.x
* Installation method (source, package, ..): docker, source
* Operating system: -, Ubuntu 18.04
* Database + version: -, Postgresql 9.6
* Elasticsearch version: -, 7.15.0
* Browser + version: Google Chrome 94, Firefox 93

### Expected behavior:

* Chat preview is working

### Actual behavior:

* Chat preview is broken due to missing Access-Control-Al

[2021-10-07 16:10] MrGeneration commented on #3795
I'm not sure how to handle that so I'm leaving the choice to developers.
Above issue depends on the remote server configuration. If you e.g. try zammad.com it's working (no matter of the installation type) - however, using personal domains it does not.
![image](https://user-images.githubusercontent.com/6549061/136423020-35fba520-f007-453b-9cdd-594e1a9b8d25.png)

[2021-10-07 16:11] MrGeneration commented on #3795
Correction, issue seems to be `images.zammad.com` and thus is no application related issue directly.

[2021-10-08 06:37] saz opened #3796 "SLA overview broken, if custom attribute has been removed"
### Infos:

* Used Zammad version: 5.0.x
* Installation method (source, package, ..): source
* Operating system: Ubuntu 18.04
* Database + version: Postgresql 9.6
* Elasticsearch version: 7.15.0
* Browser + version: Google Chrome 94

### Expected behavior:

* Working SLAs, even if a custom attribute is missing or it's not possible to delete the still-in-use custom attribute

### Actual behavior:

[2021-10-08 06:44] MrGeneration commented on #3796
Regression of https://github.com/zammad/zammad/issues/3769 ?

[2021-10-08 06:53] saz commented on #3796
Here's the error message I'm seeing (note: this is zammad 5.1.x using docker)
![image](https://user-images.githubusercontent.com/402629/136511565-f5f7070d-102e-47a5-8880-8af6c97adc8a.png)

[2021-10-08 06:55] saz commented on #3796
I'm quite sure, there was a different error message on 5.0.x, but I don't have a copy.
Behavior is still the same on both versions and I think it shouldn't be possible to delete the attribute, if it's in use.

[2021-10-08 06:56] MrGeneration commented on #3796
5.1 is not yet released and the docker container is not stable for production. It looses data upon restart.
In case you missed that part. 🙏

[2021-10-08 06:58] martini opened #3797 "OS package upgrade fails (activity_stream_object_id)"
### Infos:

* Used Zammad version: 5.0.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Upgrade without issues

### Actual behavior:

* In certain cases OS package updates fails

[code]

[2021-10-08 07:00] MrGeneration commented on #3797
`Cache.clear` was run before? I didn't have this kind of issue.

[2021-10-08 07:01] martini commented on #3797
JFI: I did have it 2 times in the last 2 days.

[2021-10-08 07:28] saz commented on #3796
Thanks for the heads up. I'm fully aware of that. It's just for testing purposes, because I can't break production multiple times :smile:

[2021-10-08 07:31] #3797 closed, assigned to martini

[2021-10-08 07:33] mantas commented on #3796
Looks like this is already solved in `develop`. For some reason the duplicate issue is marked as 5.0, but it didn't make it to 5.0...?

[2021-10-08 07:52] thorsteneckel commented on #3796
Will be available in 5.0.1

[2021-10-08 09:19] MrGeneration commented on #3796
Duplicate of #3769

[2021-10-08 09:19] #3796 closed, assigned to nobody

[2021-10-08 12:12] rolfschmidt commented on #3792
Currently there is no solution for this. The **screen** view does have no impact on the fields which are delivered via api. The **view** screen for **ticket.customer** has no impact at the moment. We decided to limit the data available for the **ticket.customer** permission because of some security issues. We plan to rework the behaviour in web 2.0. The workaround would be to use a admin api user

[2021-10-08 14:56] martini commented on #3797
Just as reference https://github.com/zammad/zammad/issues/3786

[2021-10-09 05:05] bloodcloak opened #3798 "Selects for attributes break conditional and action screens for too long object names"
### Infos:

* Used Zammad version: 5.0.1 Stable Commit [fa8588855c07fe130cc3dfeaf08346c2399185a7](https://github.com/zammad/zammad/commit/fa8588855c07fe130cc3dfeaf08346c2399185a7), 6.0
* Installation method (source, package, ..): Docker Compose, package
* Operating system: Dockerized Debian (ruby:2.7.4-slim), Ubuntu (non docker)
* Database + version: Postgresql 9.6.20
* Elasticsearch version: 7.10

[2021-10-09 11:23] MrGeneration commented on #3798
This doesn't just affect the core workflows screens but also e.g. triggers.
Actually all UI parts that display attributes.

In my fiddlings `max-width: 500px` (which is a value out of the blue but was fitting for 4 column select situations) for class `select.form-control:not([multiple])` does seem to "solve" the issue.

![image](https://user-images.githubusercontent.com/6549061/136656034-446ef4e2-

[2021-10-09 19:41] bloodcloak commented on #3798
Thanks for the interm solution! The selection dropdown can be worked with in that state even if it does look pretty bad as I understand my use case is most likely on the edge of scope for the software.

For context, I am evaluating Zammad as is a replacement for google forms to better organize contact requests and information for a Discord Server. As I was not able to find a method to add descript

[2021-10-11 06:57] martini opened #3799 "Order of new created object attributes are unordered"
### Infos:

* Used Zammad version: 5.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* have new object attributes the same order as created (or even better, allow to set position via UI)

### Actual behavior:

* new object attributes are unsorted (backend is always as

[2021-10-11 07:08] thorsteneckel commented on #2852
Should be possible now with Core Workflows - check needed

[2021-10-11 07:21] thorsteneckel commented on #3799
Duplicate of #294

[2021-10-11 07:21] #3799 closed, assigned to nobody

[2021-10-11 07:32] MrGeneration commented on #2852
Would be an option. 2 of 3 customers affected are working with `Plus`.

[2021-10-11 07:37] MrGeneration opened #3800 "Sort order group_by broken (alphabetical)"
### Infos:

* Used Zammad version: 5.0.1/stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified on Google Chrome v94

### Expected behavior:

Sorting within `group_by` does work without issues.

### Actual behavior:

Alphabetical order is no longer working. Zammad throws dice.

![image](ht

[2021-10-11 07:38] MrGeneration commented on #3800
Possible regression of #3737

[2021-10-11 08:17] rolfschmidt opened #3801 "Remote change of the group id does show it falsly as user change and not render the new value to the ticket"
### Infos:

* Used Zammad version: 5.0
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

### Expected behavior:

* If another person or the sytem does change the ticket group id then it should get rendered correctly in the ticket sidebar.

### Actual behavior:

* If another person or  the system

[2021-10-11 12:14] mantas commented on #2429
@thorsteneckel Marcel's proposal is already implemented in API. The core issue is solved too, it allows to edit customer's note. However, it does not allow to edit such customer's note in single user edit form. That form still requires both first name and last name on frontend. Instead of either first name or last name or email or phone.

Same applies to new customer form triggered from via `+ Cre

[2021-10-11 13:04] mantas opened #3802 "Job scheduling respects time zone"
### Infos:

* Used Zammad version: 5.0/develop
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket: #1094310

### Expected behavior:

* `Job` next run is calculated according to system time zone

### Actual behavior:

* `Job` next run is calculated in UTC

### Steps to reproduce the behavi

[2021-10-11 13:07] MrGeneration commented on #3802
Can you please calrify: System timezone or admins timezone?

[2021-10-11 13:09] mantas commented on #3802
Does `Zammad timezone` work to define the `Setting.get('timezone_default')`?

System timezone may sound similar to OS timezone while admin timezone may sound similar to user web browser timezone

[2021-10-11 13:12] MrGeneration commented on #3802
Dunno?

I know of no situation where "Zammads timezone" has any effect. Or I just never found any places this happens.
Up to now all things happening in the Zammad UI (e.g. scheduling pending reminders etc) happens respecting the admin / agents timezone. Zammad usually runs in UTC context which is why the timezone of the agent may be relevant if you wanna select YOUR midnight not UTCs :)

[2021-10-11 13:20] mantas commented on #3802
`timezone_default` is used in various places where there's no single agent to base time zone on. For example out-of-office replacement. Or when including time in notification emails. Or in this case :)

Admin is free to choose UTC or whatever timezone suits him.

[2021-10-12 01:53] ab-cc opened #3803 "Inconsistent sorting in tickets overview"
### Infos:

* Used Zammad version: 5.1.x
* Installation method (source, package, ..): Source
* Operating system: Ubuntu 20.04 LTS
* Database + version: psql (12.8 (Ubuntu 12.8-0ubuntu0.20.04.1), server 10.15 (Ubuntu 10.15-0ubuntu0.18.04.1))
* Elasticsearch version: 7.15.0
* Browser + version: Microsoft Edge 94.0.992.38 win64

### Expected behavior:
In the ticket overviews, the "Group" sorting happ

[2021-10-12 01:55] ab-cc commented on #3803
I am so sorry, I just see that similar issue is already raised and recognized (https://github.com/zammad/zammad/issues/3800). Please merge this into that issue.

[2021-10-12 01:55] #3803 closed, assigned to nobody

[2021-10-12 08:07] cantwintt opened #3804 "No possible to update ticket status. Core Workflows page doesn't work"
### Infos:

* Used Zammad version: 5.0/develop
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

1)Ticket status changing
2)Core Workflows chaning

### Actual behavior:

1)There is no possible to close,change status and etc of ticket. Inside the ticket and with group oppe

[2021-10-12 08:17] MrGeneration commented on #3804
Please provide your logfiles traceback of the moment this is failing.
Also share the core workflow configuration if applicable.

[2021-10-12 08:21] manc74 opened #3805 "Unable to bulk tag and close tickets from overview"
### Infos:

* Used Zammad version: 5.0.1
* Installation method (source, package, ..): Package
* Operating system: Ubuntu 18.04.6
* Database + version: psql (PostgreSQL) 10.18
* Elasticsearch version: 7.15.0
* Browser + version: Chrome 94.0.4606.54 (also on various others)

### Expected behavior:

*Bulk close the tickets and tag them (e.g. apply a "spam" tag to a ticket and close them).

### Actual

[2021-10-12 08:22] MrGeneration commented on #3805
Please provide the group name and permission set for said group for the affected agent.

[2021-10-12 08:31] manc74 commented on #3805
There are 13 groups in use - the issue occurs on all groups apart from one (labelled "Ops") - which incidentally but probably be unrelated is the one that's showing on the top of the overview list due to the current overview ordering bug issue #3800.

The one I tried in the production log above is the "Enquiries" group.

The users its affecting have "admin" rights (full access to everything, inclu

[2021-10-12 08:33] MrGeneration commented on #3805
And you did ensure to follow the update path?
Because I'm unable to reproduce your issue just like for community users on an existing thread.
https://docs.zammad.org/en/latest/install/update.html

From which version did you upgrade?
Any workflows configured if so what's the configurations?

[2021-10-12 08:33] cantwintt commented on #3804
[z_log.txt](https://github.com/zammad/zammad/files/7328273/z_log.txt)
Log attached
Better use Notepad++
Workflow page doesn't work correctly, so i can't show you workflow

[2021-10-12 08:34] MrGeneration commented on #3804
[code]

----

Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted

[2021-10-12 08:34] #3804 closed, assigned to nobody

[2021-10-12 13:33] manc74 commented on #3805
I used apt upgrade to carry out the initial upgrade, then I was unable to log in, found the thread on the forum and after running:

```zammad run railsr "Cache.clear"```

and:

```apt-get install --reinstall zammad```

It started to work again.

No workflows configured yet.

[2021-10-12 13:47] #3800 closed, assigned to mantas

[2021-10-12 14:38] #3794 closed, assigned to mgruner

[2021-10-12 14:44] MrGeneration commented on #3805
So what configuration does the affected makro have?
User-ID 3 has access to the group in question?

[2021-10-12 15:30] manc74 commented on #3805
The macro is:

![a0f34cca97dedeb6382316f96c81d618](https://user-images.githubusercontent.com/68019920/136985303-10405939-81ff-445f-b50b-9e3434853787.png)
`
User ID 3 is mine and has access to everything. It also happens to another "admin" account and other users who also have access to the original group and also the "spam" group the ticket gets moved it.

[2021-10-12 19:39] KINGRULZ commented on #3805
if it helps in Chrome inspect console this is the error we get

![image](https://user-images.githubusercontent.com/44599757/137018489-6af1135e-7cc1-45e2-9f16-5014f9c6638b.png)

[2021-10-12 19:40] KINGRULZ commented on #3805
also thsis fixes it untill Zammad is updated by source

sudo systemctl stop zammad
sudo systemctl stop zammad-worker

sudo mv ./opt/zammad /opt/zammad.bak
sudo apt-get install --reinstall zammad

once reinstalled

sudo systemctl stop zammad
sudo systemctl stop zammad-worker

sudo mv /opt/zammad/storage/fs /opt/zammad/storage/fs.bak
sudo cp -R /opt/zammad.bak/storage/fs /opt/zammad/storage

sudo ch

[2021-10-12 19:55] MrGeneration commented on #3805
@KINGRULZ nonono mate.
Your descriptions 100% sounds like other issues as it's magically coming back after the next update.

I'm highly doubting.

[2021-10-12 20:03] KINGRULZ commented on #3805
im happy to retest this as i have only done it once so maybe it was coincident will update my findings

[2021-10-13 07:21] ThePatzen opened #3807 "ActionController::UnknownHttpMethod FRAGE"
### Infos:

* Used Zammad version: 5.0.x
* Installation method (source, package, ..): ubuntu package
* Operating system: ubuntu 20.04
* Database + version: psotgres 13
* Elasticsearch version: 7.15.0
* Browser + version: Chrome latest

### Expected behavior:

* Ticket should close when a macro is executed

### Actual behavior:

* Nothing happens!
In Log i found:
[code]

### Steps to reproduce the

[2021-10-13 09:19] rolfschmidt commented on #2284
Seems to be fixed on zammad 5.0. Please add note if you have more information how to reproduce it on zammad 5.0.

[2021-10-13 09:19] #2284 closed, assigned to nobody

[2021-10-13 11:29] #3733 closed, assigned to dominikklein

[2021-10-13 14:02] ThePatzen commented on #3807
I found out that a custom field added to the ticket object type called "type" causes this issue!

[2021-10-13 14:03] MrGeneration commented on #3807
Would you care to provide said fields configuration so someone has the chance to try and reproduce it?

[2021-10-13 14:15] MrGeneration commented on #3805
Sorry I still cannot reproduce this.
I even set up a new group and configured the macro the exact same way you provided.

Ensure your migrations are clean and caching is not an issue.

[2021-10-13 14:15] #3805 closed, assigned to nobody

[2021-10-13 14:31] ThePatzen commented on #3807
Hi! For sure!

![image](https://user-images.githubusercontent.com/4540135/137153634-f1c818dc-4705-45e8-aa96-27230535dbd1.png)

After this is configured try to execute such a macro:
![image](https://user-images.githubusercontent.com/4540135/137153849-79e1b623-b7f0-45a7-a1a8-a1af1042fdcc.png)

It seems the Macro-Request uses this "type" as the HTTP Method!

[2021-10-13 16:49] MrGeneration opened #3808 "Cache.clear in postinstall.sh throws ugly errors on fresh installations"
### Infos:

* Used Zammad version: 5.0.1/stable
* Installation method (source, package, ..): package
* Operating system: verified on Ubuntu 20, affects all
* Database + version: pgsql 12
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

Zammad (initial) installations go smoothly.

### Actual behavior:

Zammad throws a postgresql based dependency errors (can't connect).

[2021-10-13 16:54] MrGeneration commented on #3807
~~I'm sorry, however I'm unable to reproduce this with the given information.
To double tab and ensure SaaS and Debian is not the "saving" factor I even installed a fresh Ubuntu 20.04 as per documentation and tried to reproduce it there.~~

~~It's working in my environments and thus I'm suspecting the issue lays somewhere else.~~

[2021-10-13 17:10] ThePatzen commented on #3807
@MrGeneration have you now been able to reproduce it?

[2021-10-13 17:14] MrGeneration commented on #3807
Sorry I have to correct myself.
This requires the following situations to apply:
* available ticket object `type` (default field which is inactive by default)
* `type` set to any value that does not have special characters or spacings
* you *have to* use the ticket view's run macro functionality. This does not happen in ticket zooms
* the actions your macro runs do not matter

As example:
Set the

[2021-10-13 19:54] fthommen commented on #3791
ok, fair point.  But I will then also assume, that a force-upgrade, skipping the PostgreSQL installation, should be safe when Zammad is using MariaDB? @MrGeneration?

[2021-10-14 08:01] #3808 closed, assigned to thorsteneckel

[2021-10-14 11:01] #3790 closed, assigned to rolfschmidt

[2021-10-14 11:09] martini opened #3809 "Ticket owner selection is not updated if owner selection should be empty"
### Infos:

* Used Zammad version: 5.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Show empty owner selection in ticket create/edit screen if owner selection is really empty (e. g. no user has 'full' permissions on it)

### Actual behavior:

* If empty owner selec

[2021-10-14 12:19] MrGeneration commented on #3807
Side note for developers, this seems to come from JS context not rails:
[code]

[2021-10-14 12:20] mantas commented on #3807
Yes, looks like Spine issue

[2021-10-14 12:23] MrGeneration commented on #3807
Just cross checked against Zammad 4.1: It was introduced with 5.x

[2021-10-14 12:25] mantas commented on #3807
Interesting. I'm testing a possible fix now which is not related to 5.x at all :(

[2021-10-14 12:40] mantas commented on #3807
Actually, it was introduced in 5.x and my initial fix was just trying to counteract that... :|

[2021-10-14 14:22] #2471 closed, assigned to rolfschmidt

[2021-10-14 15:21] cautopartes opened #3810 "Custom date and datetime attributes are filled with dates on creation of tickets/users after update from 4.1 to 5.x"
### Infos:

* Used Zammad version: 4.1/5.0.1
* Installation method (source, package, ..): package
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket#1093873, Ticket#1094368, Ticket#1094600, Ticket#1094735

### Expected behavior:

* Date and datetime fields should be empty on ticket/user creation.

### Actual behavior:

* After an update

[2021-10-14 16:36] mantas commented on #3810
How do those custom attributes look like? Is `DEFAULT TIME DIFF` present?

[2021-10-14 18:28] martini commented on #3810
Do you mean `data_option[:diff]`? Yes it is. It's available on any date field because its the default value in the UI.

[code]

[2021-10-15 09:09] #3809 closed, assigned to rolfschmidt

[2021-10-15 10:50] FlorianKrammel commented on #615
For me is a mass-export feature for each single, selectable ticket as single pdf, including conversation and history, very useful.

We have to import the tickets into our DMS. Currently via print to pdf.

[2021-10-15 11:31] MrGeneration commented on #615
Limitting conversation to contributors only to reduce the noise on this repository as we haven't received any further feedback that brings thic topic forward.

[2021-10-18 08:18] martini opened #3811 "Able to create custom fields for existing relation (e. g. ticket.state) - will lead to non bootable Zammad"
### Infos:

* Used Zammad version: 5.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Block already used relation names (e. g. ticket.state) for custom attributes

### Actual behavior:

* Able to create already used relation names (e. g. ticket.state) for custom attr

[2021-10-18 17:28] martini commented on #3811
Regression of bca16dee1685797eec5836f129b7e096774c9e9c

[2021-10-19 08:38] #3811 closed, assigned to martini

[2021-10-19 09:00] kgoldinger opened #3812 "found organizations do not expand on ticket creation"
### Infos:

* Used Zammad version: 5.0.1
* Installation method (source, package, ..): RPM Package
* Operating system: RockyLinux 8.4
* Database + version: Postgresql 10.4
* Elasticsearch version: 7.15.1
* Browser + version: Edge 94.0.992.50 / Firefox 91.0.1

### Expected behavior:

* On the user selection/ search while creating a Ticket, a click on found organizations should expand all users of th

[2021-10-19 14:29] cscicarus opened #3813 "Condition with is set or is not set doesn't work with CoreWorkflow"
### Infos:

* Used Zammad version: 5.0.x
* Installation method (source, package, ..):
* Operating system: Ubuntu
* Database + version:
* Elasticsearch version:
* Browser + version: Chrome

### Expected behavior:
I have one Object "Repo"sitory with a list of different Repositories, one marked as standard.
I have a second Object "GitNo" where I can place an issue no.
(In combination of Repo and GitN

[2021-10-19 15:18] MrGeneration commented on #3813
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-10-19 15:18] #3813 closed, assigned to nobody

[2021-10-19 15:21] MrGeneration commented on #3812
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-10-19 15:21] #3812 closed, assigned to nobody

[2021-10-19 15:33] cscicarus commented on #3813
it is a bug and no technical question

[2021-10-19 15:36] MrGeneration commented on #3813
I'm not here to discuss. Apart from your really bad description, it is a technical question.
Kindly RTFM: https://admin-docs.zammad.org/en/latest/system/core-workflows/how-do-they-work.html#action

I didn't put weeks of work into it so you can tell us about bugs which are clear technical questions just because you either didn't read or didn't try the correct options.

[2021-10-20 08:15] spaxxilein opened #3814 "Incomming Email - no ticket created - just user created"
### Infos:

* Used Zammad version: 5.0.1
* Installation method (source, package, ..): APT
* Operating system: Ubuntu
* Database + version: Stock - i guess
* Elasticsearch version: Newest
* Browser + version: Chrome

### Expected behavior:

When there is an incomming mail to one of the setup Email-Accounts a ticket will be created.

### Actual behavior:

For some reason some incomming mails are pro

[2021-10-20 09:44] #3698 closed, assigned to dominikklein

[2021-10-20 10:14] MrGeneration commented on #3814
Any errors in your production-log that indicate processing issues?

[2021-10-20 11:01] spaxxilein commented on #3814
[code]

it seems at that time Elasticsearch wasnt running properly - but this should not be an issue for Ticket creation if i understand correctly?

The pure Message Handling looks like this:
[code]

I have just checked the logs again and i have two email filters in place which both put the message to a different groups - can this be the issue?

[2021-10-20 11:02] #3801 closed, assigned to rolfschmidt

[2021-10-20 11:04] #3437 closed, assigned to rolfschmidt

[2021-10-20 11:05] #3727 closed, assigned to rolfschmidt

[2021-10-20 11:32] MrGeneration commented on #3814
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-10-20 11:32] #3814 closed, assigned to nobody

[2021-10-20 11:35] mgruner commented on #1428
Implemented via dd30b1828593c8ab26cefe6b65d4d0a8dd34df24.

[2021-10-20 11:35] #1428 closed

[2021-10-20 11:54] spaxxilein commented on #3814
Sorry - but why is this a technical question? The mail is handeled by Zammad and is not showing up in the GUI - for me this seems to be the explanation for a bug. The elasticsearch topic in my oppinion is not related to that because the same issue still persists for other mails even when elasticsearch is running as it should.

[2021-10-20 12:35] rolfschmidt commented on #3810
**Workaround** is to disable the defaults while this issue is WIP:

[code]

This code will disable the setting of the defaults and behave more like zammad 4.1 then (regression of #1653).

(Don't forget to restart your services after changing the file)

[2021-10-20 12:54] MrGeneration commented on #3814
Your log file doesn't  show any traces of mails being unprocessible (at least what you've shared).
This is a configuration issue and thus a technical question.

[2021-10-20 13:52] spaxxilein commented on #3814
You were 100% right - sorry my bad! I misconfigured the View in Settings and also the Permissions of the Agent and User where lacking the correct group assignments.

Sorry for the inconvenience - and thanks for that awesome piece of software ;)

[2021-10-20 15:52] rolfschmidt opened #3815 "When looking for customers, it is no longer possible to change into organizations"
### Infos:

* Used Zammad version: 5.0
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

### Expected behavior:

When creating new tickets, it was previously possible to switch by custumer-search into the organization.

### Actual behavior:

This does not work in the current Zammad version. The

[2021-10-20 15:52] rolfschmidt commented on #3815
https://community.zammad.org/t/when-looking-for-customers-it-is-no-longer-possible-to-change-into-organizations/7929

[2021-10-20 15:57] #3807 closed, assigned to mantas

[2021-10-20 16:00] rolfschmidt commented on #3807
Hi @ThePatzen ,
fix should be available tomorrow maybe you can update and try if the bulk action works then for you :)

[2021-10-20 16:04] rolfschmidt opened #3816 "Zammad 5 mail template double signature"
### Infos:

* Used Zammad version: 5.0.2 (stable & develop)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified on Google Chrome and Firefox
* Ticket: #1096409

### Expected behavior:

Correct signature for agent/group in mail template

### Actual behavior:

I have always specified the group d

[2021-10-20 16:22] rolfschmidt opened #3817 "Ticket object does not get a rollback after failing bulk action"
### Infos:

* Used Zammad version: 4.1
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

### Expected behavior:

* After a failing bulk change for a ticket it should get reverted to it's original state

### Actual behavior:

* Ticket zoom is in a broken state and needs a refresh

### Steps to re

[2021-10-20 16:28] MrGeneration commented on #3815
Original finder was: @kgoldinger

[2021-10-20 16:28] MrGeneration commented on #3812
Duplicate of #3815

[2021-10-20 16:55] #3810 closed, assigned to mantas

[2021-10-20 17:53] rolfschmidt commented on #3815
regression of https://github.com/zammad/zammad/commit/b8aeabce9402e81c221c9622a7da399bfee7654a

The search does not return user assets for organizations with high user count anymore.

reproduceable with `FillDb.load(customers: 100, nice: 0)`

[2021-10-21 07:08] rolfschmidt opened #3818 "Owner should get cleared if not listed in changed group"
### Infos:

* Used Zammad version: 5.0
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all
* Ticket#1094367

### Expected behavior:

* If you change to a group and the saved ticket owner is not part of the group, then it should get cleared.

### Actual behavior:

* If you change to a group and the

[2021-10-21 11:22] #3818 closed, assigned to rolfschmidt

[2021-10-21 11:56] rolfschmidt opened #3819 "Not displayed fields should not impact the edit screen"
### Infos:

* Used Zammad version: 5.0
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

### Expected behavior:

* Boolean fields are only compared if they are displayed. By default not displayed fields should get removed in the edit screen.

### Actual behavior:

* If you have a ticket with a b

[2021-10-22 12:24] #2334 closed, assigned to dominikklein

[2021-10-22 12:24] #3094 closed, assigned to dominikklein

[2021-10-22 14:17] qozle commented on #2876
I'm also having an issue with this, using a custom variable.  The custom variable is 'usercustnum', assigned to the customer.  The variable is set, my syntax is correct, but it's still showing as if the field were empty.

![Screenshot 2021-10-22 101119](https://user-images.githubusercontent.com/6171907/138468920-9d0616b1-f49f-42c4-bbb8-205bb4fc23dd.png)

![image](https://user-images.githubusercont

[2021-10-22 14:20] MrGeneration commented on #2876
Locking conversation to reduce me toos as this issue hasn't received any further input.
We appreciate the input through!

[2021-10-23 10:17] skalec opened #3820 "create API Endpoint for Agent Bases time_accounting"
Hello dear developers. Can you please create an API Enpoint for evaluating time bookings for an AGENT-based evaluation.

With a simple SQL query such as

select *
from ticket_time_accountings
WHERE ticket_time_accountings.created_at
BETWEEN "2021-10-0" AND "2021-10-31"
AND created_by_id = 3

I can e.g. evaluate the times for a certain agent.

It was asked several times for such an evaluation and I

[2021-10-24 12:15] MrGeneration commented on #3820
Sorry, but this seems to be a feature request.
Please note that this repository is the wrong place for feature requests.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case the community provides enough votes (hearts on the first article, so feels the same way like you), we will move the feature request to this repository.

If you require a feature *now* or

[2021-10-24 12:15] #3820 closed, assigned to nobody

[2021-10-25 14:05] rolfschmidt opened #3821 "Add clear selection action or has changed condition"
### Infos:

* Used Zammad version: 5.0
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all
* Ticket#1091581

### Base

The system has 2 select fields

- Category
- Dependent1

### Expected behavior:

* It should be possible to clear **Depedent1** field if the **Category** field has changed.

### Ac

[2021-10-25 14:29] rolfschmidt opened #3822 "If selected value is not part of the restriction of set_fixed_to it should recalculate it with the new value"
### Infos:

* Used Zammad version: 5.0
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all
* Ticket#1094871

### Expected behavior:

* If set_fixed_to is restricting to 1 value, then it should automatically select it as well recalculate the state.

### Actual behavior:

* It does not recalculate th

[2021-10-26 08:08] #2852 closed, assigned to mantas

[2021-10-26 10:15] #3815 closed, assigned to rolfschmidt

[2021-10-26 12:19] kale1d0code commented on #3795
Does this require CORS headers to be set on the website being previewed or is this an issue with images.zammad.com

[2021-10-26 12:19] #3819 closed, assigned to rolfschmidt

[2021-10-26 13:12] rolfschmidt commented on #3819
This is a design issue. We first decided to set the action "remove" for fields which are not activated for the screen. Then the issue occured that it was not possible anymore to set the field via API. So we decided to go with "hide". This related to the issue that fields with undefined value got values set and tickets got displayed as changed in the UI which was wrong too. So now we are back to th

[2021-10-27 04:17] ghost opened #3823 "Ocsinventory"
Hi,

In future, the project zammad think integration with ocsinventory??

[2021-10-27 06:24] #3594 closed, assigned to bolah2009

[2021-10-27 09:39] #3140 closed, assigned to mantas

[2021-10-27 11:20] martini commented on #3563
@MrGeneration Is this issue still present? Or has it decreased/disappeared since Zammad 5.0?

[2021-10-27 13:37] MrGeneration commented on #3823
Sorry, but this seems to be a feature request.
Please note that this repository is the wrong place for feature requests.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case the community provides enough votes (hearts on the first article, so feels the same way like you), we will move the feature request to this repository.

If you require a feature *now* or

[2021-10-27 13:37] #3823 closed, assigned to nobody

[2021-10-27 14:21] #3822 closed, assigned to rolfschmidt

[2021-10-28 09:33] #2275 closed, assigned to romitgithub

[2021-10-28 10:55] cautopartes opened #3824 "Email address not shown inside forwarded email"
### Infos:

* Used Zammad version: 5.0.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket #1094838

### Expected behavior:

* Forwarding an email article should contain all recipients in the cited header of the forwarded email.

### Actual behavior:

* On forwarding an article, only the

[2021-10-28 11:34] cautopartes opened #3825 "Reply all: Duplicate email on changing recipient and cc in a certain way"
### Infos:

* Used Zammad version: 5.0.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket #1095054

### Expected behavior:

* When using the "reply all" functionality each recipient should receive the email only once.

### Actual behavior:

* Under certain conditions duplicates are sent

[2021-10-28 19:22] wucherpfennig opened #3826 "Knowledgebase wrong padding for sections (tiles)"
### Infos:

* Used Zammad version: 5.0.2
* Installation method (source, package, ..): package
* Operating system: Debian 10
* Database + version:
* Elasticsearch version:
* Browser + version: All

### Expected behavior:

* Have all items aligned properly

### Actual behavior:

* Tiles are not aligned properly

### Steps to reproduce the behavior:

* See sceenshot

![grafik](https://user-images.git

[2021-10-29 06:31] mantas commented on #3826
@mrflix could you take a look at this?

[2021-10-29 07:15] mrflix commented on #3826
It's a known bug that is in the pipeline to be fixed.

[2021-10-29 07:22] mantas commented on #3826
Is it already in github? Should mark this as a duplicate?

[2021-10-29 07:23] mrflix commented on #3826
I think there is no github issue yet but Bola has already been working on it. I have to review and merge it.

[2021-10-29 07:26] benrubson commented on #3733
Hi,
Seems like https://github.com/zammad/zammad/commit/2bd4ceeedfb999d4e948b8aa8b91a759eb7a4c1b has not been backported into 5.0.2 ?
Could we then backport it to stable please ?
Thank you again 👍

[2021-10-29 08:28] rolfschmidt opened #3827 "Ticket create screen will loose attachments by time"
### Infos:

* Used Zammad version: 5.0
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all
* Ticket#1095130

### Expected behavior:

* Attachments should not get lost

### Actual behavior:

* After preparing a ticket create with attachments attachments will be gone after some minutes in a active sy

[2021-10-29 12:46] #3827 closed, assigned to rolfschmidt

[2021-10-29 14:18] dwehrmann commented on #1016
+1 for any zammad / zapier integration

[2021-10-29 20:33] MacroPolo opened #3828 "Zammad database credentials are world-readable"
### Infos:

* Used Zammad version: 5.0.2-1635515988.3f1057c1.bionic
* Installation method (source, package, ..): Package
* Operating system: Ubuntu Server 18.04
* Database + version: MySQL 5.7
* Elasticsearch version: ES 7.15.1
* Browser + version: N/A

### Expected behavior:

Non-privileged users should not be able to access the Zammad database by reading the `/opt/zammad/config/database.yml` fil

[2021-10-30 09:34] MrGeneration commented on #1016
Locking issue to contributors only to reduce `+1` noise.

[2021-10-30 09:56] MrGeneration commented on #3733
Zammad 5.0.2 was a mery security release and thus does not contain any bug fixes. Sorry.
We're in general not providing any ETAs for bug fixes etc.

[2021-11-01 13:09] astrugatch opened #3829 "User avatars are missing if authentication is done via Google"
### Infos:

* Used Zammad version: 5.0.x
* Installation method (source, package, ..): Package
* Operating system: Ubuntu 18.04
* Database + version: postgres (PostgreSQL) 10.18 (Ubuntu 10.18-0ubuntu0.18.04.1)
* Elasticsearch version: latest
* Browser + version: Chrome 95
* Ticket: #1095208, #10107015

### Expected behavior:

*User icons from Google auth carry over after update.

### Actual behavio

[2021-11-01 13:19] MrGeneration commented on #3829
That smells like a technical question which shouldn't be causable by an update as avatar information already life in the system.
I'll keep this open temporarily but don't expect any priority on this.

[2021-11-01 13:49] astrugatch commented on #3829
In the linked community section there are two other users with the same experience, one is a clean install from a completely different process.

[2021-11-02 10:12] MrGeneration commented on #3594
@martini I'm not happy with the plan to backport a functionality that comes on top. Apart from documentation reasons we should consider a short term release that, while being smaller, can introduce breaking changes that don't contain a "suprise" moment to everyone running a stable update.

[2021-11-02 10:32] MrGeneration opened #3830 "Zammad ignores relative GitLab URLs"
### Infos:

* Used Zammad version: stable 5.0.2 // SaaS
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* This issue was originally found by community user `izphi78` on https://community.zammad.org/t/gitlab-integration-ignoring-subfolders-thus-not-creating-links-to-issues/7793

### Expected beh

[2021-11-02 11:07] rolfschmidt opened #3831 "Ticket zoom will loose attachments on rerender"
### Infos:

* Used Zammad version: 5.0
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all
* Ticket#1095130

### Expected behavior:

* Zoom should not loose or gain attachments on reload or rerender.

### Actual behavior:

* Zoom does loose attachments on rerender

### Steps to reproduce the behavi

[2021-11-02 12:23] astrugatch commented on #3829
From another user in the community:

[code]

Looks like the issue is isolated to avatars that come through via Google Auth.

[2021-11-02 12:25] MrGeneration commented on #3829
Please slow down, you're creating a lot of noise for this issue on my end.
As you've linked the community link I'll take it into consideration.

Thanks for your effort.

[2021-11-02 14:12] #3828 closed, assigned to MrGeneration

[2021-11-03 05:52] saz commented on #3795
@kale1d0code CORS headers need to be set on images.zammad.com

[2021-11-03 16:31] MrGeneration commented on #3563
Yes, just appeared on a current stable 5.0.2!

[2021-11-03 17:56] MrGeneration opened #3832 "Updating organization members via API does not clear caches"
### Infos:

* Used Zammad version: 5.0.2 / stable as of 3rd Nov
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

When updating an organization via API (e.g. reducing the members attached to it), Zammad will display the changes - latest after reloading the browser session

[2021-11-04 09:44] bo0ts opened #3833 "Periodical error “Channel: Email::Notification out Can’t use Channel::Driver::Sendmail: #<Errno::EPIPE: Broken pipe>“."
### Infos:

* Docker Image: `zammad/zammad-docker-compose:zammad-5.0.2-1`
* Installation method: Helm Chart zammad-helm 6.0.1
* OKD 4.7

We have an outbound email notification setup with sendmail. This works fine, but periodically the error `Channel: Email::Notification out Can’t use Channel::Driver::Sendmail: #<Errno::EPIPE: Broken pipe>` is reported in the monitoring endpoint.

Simply reconfigur

[2021-11-04 09:46] MrGeneration commented on #3833
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-11-04 09:46] #3833 closed, assigned to nobody

[2021-11-04 10:22] MrGeneration opened #3834 "Package installation creates database.yml as `root` and thus breaks the installation until next update"
### Infos:

* Used Zammad version: 5.0.2/stable, technically *any* version of Zammad
* Installation method (source, package, ..): package
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Originally found by `klausneil` on the community: https://community.zammad.org/t/solved-problem-installing-zammad-v5/8020
* This is a regression of issue #3

[2021-11-04 13:20] rolfschmidt opened #3835 "Invalid group and owner list for tickets created via customer profile"
### Infos:

* Used Zammad version: 5.0
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

### Expected behavior:

* Owner list should be restricted

### Actual behavior:

* Owner list is not restricted

### Steps to reproduce the behavior:

*

Yes I'm sure this is a bug and no feature request or

[2021-11-04 14:25] #3834 closed, assigned to MrGeneration

[2021-11-04 15:36] #3210 closed, assigned to dominikklein

[2021-11-04 17:46] dwehrmann opened #3836 "Feature: Allow searching for ticket title in Link dialogue (instead of only ticket #)"
Having implemented zammad in our organization lately, I think from a usability point of view, the "link ticket pop-up" would benefit from the ability of searching for a ticket title instead of human-unfriendly ticket number:

- status now: link to ticket #
(only a handful of last tickets are shown)
the agent can now enter a ticket number to link to

- desired status: enter ticket number OR search

[2021-11-04 17:50] MrGeneration commented on #3836
Sorry, but this seems to be a feature request.
Please note that this repository is the wrong place for feature requests.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case the community provides enough votes (hearts on the first article, so feels the same way like you), we will move the feature request to this repository.

If you require a feature *now* or

[2021-11-04 17:50] #3836 closed, assigned to nobody

[2021-11-05 07:37] #3835 closed, assigned to rolfschmidt

[2021-11-05 07:43] #3831 closed, assigned to rolfschmidt

[2021-11-05 07:50] martini opened #3837 "Wrong escalation update time in admin interface is shown"
### Infos:

* Used Zammad version: 5.0.2
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Show escalation update time in SLA overview with the same times as it is in edit screen

### Actual behavior:

* Escalation update time in SLA overview is different as it is in ed

[2021-11-05 13:33] sascha73 commented on #2133
Hi @MrGeneration
We found this conversation after encountering the same problem these days.
Apparently the issue is still present in version 5.0.x, or is it possible to configure the system to send to all working mail addresses, even if one or more addresses should not work?
That would be the expected behaviour in my eyes.
Of course, a message that some recipients have not received anything becaus

[2021-11-05 13:41] MrGeneration commented on #2133
Please don't hijack issues for technical questions.
Technical questions should belong in the community: https://community.zammad.org

As the issue is still open there obviously hasn't changed anything.

[2021-11-05 13:50] sascha73 commented on #2133
ok,
thanks

[2021-11-05 14:00] #3821 closed, assigned to rolfschmidt