[2020-07-16 12:39] h0jeZvgoxFepBQ2C commented on #3122
Oh, its mentioned.. Whoops.. sorry

[2020-07-16 12:39] #3122 closed, assigned to nobody

[2020-07-16 12:39] monotek commented on #3122
Fore reference: https://docs.zammad.org/en/latest/install/ubuntu.html

[2020-07-16 12:41] thorsteneckel opened #3123 "Merging Tickets/Users/... does not update ExternalSync references"
### Infos:

* Used Zammad version: 3.4.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* ExternalSync entries should follow merged Tickets to target Ticket.

### Actual behavior:

* ExternalSync entries refer to merged source Tickets.

### Steps to reproduce the behav

[2020-07-16 12:49] martinseener commented on #3091
@MrGeneration i'm sorry. I think I did a mistake.
I discarded the Forwarding-Draft and pressed Forward again. Now I see the attachment being in the Forward part and when i send this, the attachment is also really send too. So no issue here.

[2020-07-17 04:21] #3086 closed, assigned to mantas

[2020-07-17 08:52] MrGeneration commented on #3111
I've created a new token via UI on a develop package installation - because this is what the end user does use.

I then run the following with my newly created `admin.user` permission token. The package installation is a current develop version (3.5)
[code]

To double tab and, if in case a difference, to blame the development environment, I spin up a host and installed a develop environment all to

[2020-07-17 12:07] #3121 closed, assigned to mantas

[2020-07-17 15:36] rlue commented on #3111
## tl;dr It's not a UI/UX problem.

The real issue was that `UserPolicy#show?` performs the permission check **using a wildcard**. The `user` object here is not actually a `User`, [but rather a `UserContext`](https://github.com/zammad/zammad/blob/develop/app/controllers/application_controller/authorizes.rb#L30-L61), which means that `user.permissions?` actually ends up invoking `Token#permissions?

[2020-07-17 16:31] MrGeneration commented on #3111
I believe that we have to check for a specific single permission, if the user insists us to do so.
This way you can restrict API keys for specific actions - just like you can do with permissions for users within the UI.

[2020-07-18 07:32] rlue commented on #3111
[REDACTED]

[2020-07-20 06:20] #3123 closed, assigned to thorsteneckel

[2020-07-20 07:33] #946 closed

[2020-07-20 08:16] MrGeneration commented on #3111
If I do not have `agent` permission and only am allowed to configure text modules, I personally wouldn't expect to have access to the users.

I don't know how @thorsteneckel feels about that.

[2020-07-20 13:19] thorsteneckel commented on #2579
You can also reproduce it this way:

- Create a SLA that matches all Tickets (e.g. by selecting all Ticket States)
- Create a new Ticket
- See that the SLA applies ("escalates in X" in the title region of the Ticket detail view)
- Close the Ticket

Check the record via the Rails console:
[code]

[2020-07-20 13:59] thorsteneckel opened #3124 "Nested Tree Select value not translatable"
# Infos:

* Used Zammad version: 3.4.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket#: 1078019

### Expected behavior:

* Translation of nested Tree Select value possible

### Actual behavior:

* Translation of nested Tree Select value not possible

### Steps to reproduce the behavio

[2020-07-21 06:24] martini commented on #2283
I have good news. This is a duplicate of https://github.com/zammad/zammad/issues/2494 which is already fixed in stable branch. Just update Zammad to current stable.

Feedback is welcome, as always.

[2020-07-21 06:24] #2283 closed, assigned to martini

[2020-07-21 07:52] KoJie commented on #208
You have waited long enough for this feature and want to see it finally realized? Well then, we have good news for you. Become a feature sponsor and let the feature spring to life in one of the next Zammad versions. We are currently looking for more contributors to make this project a reality together with us and other Zammad users. By sharing the costs, you get additional influence on the impleme

[2020-07-22 11:56] thorsteneckel opened #3125 "Wrong quoting of $ (dollar) parameter in URLs/Links"
### Infos:

* Used Zammad version: 3.4.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version:
  - Chrome Version 83.0.4103.97 (Official Build) (64-bit)
  - Firefox Version 77.0.1 (64-Bit)

Ticket#: 1067660

### Expected behavior:

* URLs containing a parameter value containing a `$` (dollar sign) should

[2020-07-23 09:54] merlinwoff opened #3127 "Imported LDAP Users can perform Admin Role (configure system) but can not view open tickets / get assigned to them."
### Infos:

* Used Zammad version: version 3.4.x
* Installation method (source, package, ..): packet install as described in https://docs.zammad.org/en/latest/install/centos.html
* Operating system: CentOS 7
* Database + version:
* Elasticsearch version: 7.8.0
* Browser + version: Chrome 84 on Windows 10

### Expected behavior:

* It is expected, that imported LDAP users can get tickets assigned a

[2020-07-23 10:15] MrGeneration commented on #3127
Please provide your LDAP-Server version.
I currently honestly believe that this is a technical question but would like to give you a chance to proove me wrong before hand.
I need the software name and version you're using.

A (sensitive information redacted) configuration of your ldap configuration and the mapped roles would be usefull as well.

[2020-07-23 10:55] merlinwoff commented on #3127
Thank you for your answer.

We are using a Synology LDAP Server (LDAP-Version 3).

All our employees are assigned as users and our ldap settings on zammad looks as the following:

SETTINGS
NAME | VALUE
-- | --
LDAP Host | ldap://192.168.1.x
Base DN | dc=company
Bind User | uid=Zammad,cn=users,dc=company
Bind Password | ***************
UID | uid
User Filter | (uid=*)
GID | dn
Group Filter | (object

[2020-07-23 11:03] MrGeneration commented on #3127
Please provide a screenshot of the role configuration for these roles:
* agent
* admin

Edit: And the exact installed version of your ldap server. Synology does work with apps you can install and these have versions.
The LDAP protocol version doesn't help me at this point.

[2020-07-23 11:22] MrGeneration opened #3128 "Implement generic SSO button on login page"
### Infos:

* Used Zammad version: 3,3 and higher
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Desired behavior:

Provide a button similar to authentication buttons like github, facebook, saml to allow the user and administrator to decide if one wants to login via sso or maybe use anoth

[2020-07-23 12:04] merlinwoff commented on #3127
Oh I am sorry, that I did not specified the LDAP Server Version.
I am using the Synology LDAP Server 2.4.40-2505 which corresponce to OpenLDAP: slapd 2.4.40

We have nothing changed in the role configurations (Picture 1 & 2).
![Admin_Role](https://user-images.githubusercontent.com/3635664/88284253-67434a00-cced-11ea-9d30-9dac0b2bda39.png)
![Agent_Role](https://user-images.githubusercontent.com/363

[2020-07-23 12:17] MrGeneration commented on #3127
Thanks for the feedback.
I'm afraid that this indeed is a technical question.

You can find the reason for your issue on the agent role configuration:
![image](https://user-images.githubusercontent.com/6549061/88284693-1da72f00-ccee-11ea-87d0-fca0ee7feb79.png)

Unless you don't manually specify the groups the agent has access to on the user, the user will have no permissions to view tickets in the

[2020-07-23 12:17] #3127 closed, assigned to nobody

[2020-07-23 15:33] thorsteneckel commented on #3029
We decided to wrap that change into a customer extension instead of changing the behaviour in Zammad itself. That's because we received positive feedback about the current state from workshop participants and no one else complained about it so far. If anyone's interested in the extension please get in contact with us via `sales [at] zammad.com` and refer to this issue/comment. Closing now.

[2020-07-23 15:33] #3029 closed, assigned to nobody

[2020-07-24 09:49] MrGeneration opened #3129 "Deactivation of signature does not clear it from groups"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Tested on latest Google Chrome (v84.0.4147.89)
* Ticket-ID: #1078120

### Expected behavior:

When you deactivate a signature, it will also be removed from any group it's configured in.
This causes the agent to n

[2020-07-24 12:27] MrGeneration commented on #2340
As we were looking on this issue we noticed that we can no longer reproduce this on the following versions:
* Zammad 3.2 stable
* Zammad 3.3 stable
* Zammad 3.4 stable

We currently expect this to be fixed by one of our releases, maybe a side effect of another issue addressing something else. Commit unknown.

---

@GeSi-Software-GmbH If you happen to still experience this issue on a *current and s

[2020-07-24 12:27] #2340 closed, assigned to nobody

[2020-07-24 13:05] Vogelkoje opened #3130 "Allow URLs on the login page"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version:any
* Elasticsearch version: any
* Browser + version: any
* Note: This article has been updated by @MrGeneration to clear up the goal of this enhancement.

### Desired behavior:

A option to provide custom URLs to the login page.
Especially links for:

   * data priv

[2020-07-27 09:01] leonardoBrad opened #3131 "Missing redirect after login for oauth2 authorize"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Loading authorize page (/oauth/authorize?response_type=code&....), logging in and then redirected to redirect_url with the authorization code

### Actual behavior:

* Loading author

[2020-07-27 10:25] MrGeneration commented on #3131
Please note that the generic oAuth integration is subject to be removed from Zammad and not fully functional.
Please see https://github.com/zammad/zammad/issues/2951 for further information on it's removal.

As we're removing this functionality, I'll be closing this issue. Doesn't make sense to fix bugs for stuff we're removing. :-)

[2020-07-27 10:25] #3131 closed, assigned to nobody

[2020-07-27 13:17] MrGeneration commented on #3051
Some follow up on this topic:
When we discussed this internal it showed that this is not as trivial as it seems.

While the customer affected mostly has this issue during break times, a time based limit wouldn't solve this entirely (e.g. for weekends). A bare raise of the number of call assets may have negative effects in terms of performance. Other users with low call traffic may want to keep the

[2020-07-27 15:55] MrGeneration opened #3132 "powered by footer does block third party login methods"
### Infos:

* Used Zammad version: 3,4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Google Chrome latest (v84)
* Ticket-ID: #1077645

### Expected behavior:

You can use third party logins at any time, no matter of your screen size.

### Actual behavior:

If your screen size is less than 640 - 9

[2020-07-27 17:33] tmdoit-zz opened #3133 "Header links are not responsive"
### Infos:

*Note: This article was adjusted by @MrGeneration to comply with our template requirenments*

* Used Zammad version: 3.4
* Installation method (source, package, ..): hosted trial
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Brave Version 1.11.101 Chromium: 84.0.4147.89 (Official Build) (64-bit)

### Expected behavior:

To be respon

[2020-07-28 13:14] Anagastes opened #3134 "Reopen Ticket State issue"
We have a problem in the UI in Zammad status "Open After".

If you set the state and update, it will work. However, the marker for "unsaved changes" remains.

Only when you close the ticket and "Changes discarded" the marker disappears. The new status remains set nevertheless.

As soon as this ticket is opened again, the marker "Unsaved changes" reappears.

### Infos:

* Used Zammad version: 3.4.x

[2020-07-28 13:25] MrGeneration commented on #3134
Sorry but this rather looks like a technical question.
This repository is the wrong place for technical questions.

You have two options at this point.
You can either consult our free, english community at https://community.zammad.org or, if you require commercial grade support, check our support contracts at https://zammad.com/pricing#selfhosted

---

A small side note: I don't see or understand

[2020-07-28 13:25] #3134 closed, assigned to nobody

[2020-07-28 14:16] thorsteneckel opened #3135 "history entries of ObjectManager::Attribute changes display wrong change information when value is removed"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket# 1078214

### Expected behavior:

* The history of an ObjectManager::Attribute change should display the actual information of the change – that the value was removed.

### Actual behavior:

* The hi

[2020-07-28 14:51] thorsteneckel opened #3136 "Attribute changes remove Owner of closed Ticket"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Performing changes to a closed Ticket via the API should not change/remove to the Owner – if the Owner is not active or don't have the required permissions any longer.
* Only the ch

[2020-07-29 06:24] mantas commented on #3133
Related bits:

- Footer menu

- Footer note

- KB menus preview in Settings

[2020-07-29 09:23] thorsteneckel commented on #359
As a conclusion I'd say that the community and we ourself are pretty satisfied with the update experience (in technical terms). There's currently no need or proposal on how to improve things. Therefore I'll close this issue. Please refer to the [community board](http://community.zammad.org/) if you disagree and/or have a proposal. Thanks!

[2020-07-29 09:23] #359 closed

[2020-07-29 10:53] mantas opened #3137 "New email account expert view cannot be opened without filling in all fields"
### Infos:

* Used Zammad version: 3.4, 4.1/stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* When adding a new email account, expert settings can be brought up right away

### Actual behavior:

* When adding a new email account, all form fields has to be filled

[2020-07-29 10:56] MrGeneration commented on #3137
The reason for this is that when pressing on "Experts", the email field does change to "user".
This allows you to use an user account that is different from your email address. Just as a heads up!

[2020-07-29 11:04] mantas commented on #3137
Not-yet-filled-in email could be easily converted to empty user field :) Or not?

[2020-07-29 11:07] MrGeneration commented on #3137
In my humble opinion it's easier to require the email address first.
If you don't you have two uses cases:
* already filled in
  - fill out the user field with the supplied mail address
  - in this use case it doesn't matter if you swap "email" with "user"
* not filled in email
  - you can't swap "email" with "user", because you then wouldn't be able to set your mail address

[2020-07-29 11:10] mantas commented on #3137
Oh boy. I thought that when in expert view I edit "User" field, it applies to where "Email" value would go to.

[2020-07-29 11:37] thorsteneckel commented on #674
The exchange integration was introduced by the commit above. Unfortunately there is currently no way (we're aware of) to access the GAL of the various Exchange products from Remote (via HTTP). Therefore we implemented the integration of the Exchange Address Book. This is usually sufficient. If you disagree or found a solution to access the GAL of the various Exchange products from Remote (via HTTP

[2020-07-29 11:37] #674 closed

[2020-07-29 11:42] thorsteneckel commented on #736
This is more of a custom requirement / different approach to to time accounting than the one we decided for – and didn't get much traction over the last three years. However, Zammad is extendable via Addons. If you're reading this and are interested please get in contact with sales at zammad.com

[2020-07-29 11:42] #736 closed

[2020-07-29 11:51] thorsteneckel commented on #810
This got implemented in the meantime to fix #224 with the commit above. Closing therefore.

[2020-07-29 11:51] #810 closed

[2020-07-29 12:15] thorsteneckel commented on #834
Hey everybody 👋  It's been some time. In the meantime we received a lot of feedback and requests regarding (automatic) surveys. Having and sending Surveys is a great feedback channel for improvement. However, the individual needs and requirements for Surveys vary a lot and we've come to the believe that there is not the one solution we could or should implement in Zammad. Our focus and strength is

[2020-07-29 12:15] #834 closed

[2020-07-29 13:12] thorsteneckel commented on #1311
Better late than never: Thanks @waja for pointing out that this is a duplicate of #796 (multiple Slack/Mattermost configurations). Mattermost is already possible because of the compatible API.

[2020-07-29 13:12] #1311 closed

[2020-07-29 13:20] thorsteneckel commented on #1355
It took a while but we've realised that this is actually a duplicate of #1203  – therefore closing now.

[2020-07-29 13:20] #1355 closed

[2020-07-29 13:36] thorsteneckel commented on #1371
This is actually a duplicate of #793 – Therefore closing now.

[2020-07-29 13:36] #1371 closed

[2020-07-29 14:12] thorsteneckel commented on #1420
This is actually a duplicate of #759 – therefore closing this one.

[2020-07-29 14:12] #1420 closed

[2020-07-29 14:15] rolfschmidt opened #3138 "Article body gets updated/re-sanitized when updating other Article attribute"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

### Expected behavior:

Article content generated of triggers should not be listed in the ticket history

### Actual behavior:

Article content generated of triggers gets listed in the ticket history

### St

[2020-07-29 15:44] MrGeneration opened #3139 "Restore script uses postgres user and nukes restoration of hosted dumps"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1078124

### Expected behavior:

You can restore any Zammad dump, no matter if selfhosted or hosted to any selfhosted setup.

### Actual behavior:

During restoration the files are owned by "pos

[2020-07-29 15:45] MrGeneration commented on #3139
@monotek would you see any issues if I remove owner references from dumps within the docker-compose stack?
I mean I wouldn't want to improve on one end and worsen on the other.... :-D

[2020-07-29 18:53] Anagastes commented on #3134
Sorry, but it's a bug.

I have now made no adjustments whatsoever and worked according to your documentation.

https://docs.zammad.org/en/latest/admin/console/working-on-tickets.html#add-a-date-and-time-picker-pending-till-for-pending-states

1st Pending Action
2. add a date and time picker (pending till) for pending states

The error remains with a naked Zammad installation.

I am aware that a re

[2020-07-29 20:29] quobjoern opened #3140 "Update time SLAs escalates tickets with agent response"
### Infos:

* Used Zammad version:3.1.x
* Installation method (source, package, ..):source
* Operating system:CentOS 7
* Database + version:
* Elasticsearch version:
* Browser + version:
* Tickets: #1088119

### Expected behavior:

* SLAs on update time should only trigger if there is a message from a customer that did not get a response from an agent within X minutes. The UI states " **update tim

[2020-07-30 06:50] thorsteneckel commented on #2515
This is actually a duplicate of #1327 which describes multiple use cases/ways of implementations. Therefore I'll close this issue.

[2020-07-30 06:50] #2515 closed, assigned to nobody

[2020-07-30 07:02] thorsteneckel opened #3141 "Multiple LDAP server configurations"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket: #1082942

### Expected behavior:

* It should be possible to configure multiple LDAP sync sources

### Actual behavior:

* It's only possible to configure one LDAP sync source

### Steps to reproduc

[2020-07-30 07:17] thorsteneckel commented on #2540
#967 is currently under active development and will be released with the upcoming version 3.5 of Zammad. This will enable Users to be Agent and Customer at the same time and therefore resolve the underlying issue here. I'm therefore closing it as a duplicate of #967 – in the broader sense. Thanks for your patience.

[2020-07-30 07:17] #2540 closed, assigned to nobody

[2020-07-30 07:22] thorsteneckel opened #3142 "Import archive mailbox"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* When configuring a mailbox it should be possible to decide wether this is a fresh inbox or an archive.
* When the archive option is not set the import should behave as it does now.

[2020-07-30 09:16] MrGeneration opened #3143 "unprocessible mail "FrozenError: can't modify frozen String""
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: 1078254

### Expected behavior:

Zammad fetches mailer daemon mails without issues.

### Actual behavior:

Some mailer daemon mails are so broken that Zammad can't import them. Also trying to man

[2020-07-30 09:24] MrGeneration commented on #3140
Just to get you right:
You're stating that if a customer creates a ticket and your agent does reply to it, the ticket does instantly escalate?

If so, please ensure that you're running a vanilla Zammad installation without *any code changes or addons* installed.
Another side note: Zammad 3.1 is terribly outdated and prune to over 10 security issues you should update now.

Please also try to reprod

[2020-07-30 09:44] MrGeneration commented on #3021
Thanks for your feedback.
I'll close this as duplicate in favor of #2886 then.

Your issue should be covered by it, as on mantas comment: https://github.com/zammad/zammad/issues/2886#issuecomment-573119727

At least that's what I believe. :-)

[2020-07-30 09:44] #3021 closed, assigned to nobody

[2020-07-30 14:51] #3138 closed, assigned to rolfschmidt

[2020-07-30 16:16] quobjoern commented on #3140
Yes, that is correct. It escalates also with a response from an agent. Not instantly, but after the time specified in the SLA for update time.

We're running an unmodified version of Zammad.

I tested it on the hosted version (https://qbtest.zammad.com/). Interestingly, I get an escalation time of 45 mins for first response and update time, although I configured an SLA with 29min first response an

[2020-07-31 09:04] rolfschmidt opened #3144 "App.ControllerForm returns no params on IE 11"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

### Expected behavior:

* App.ControllerForm.params should return params on IE11

### Actual behavior:

* params are empty in IE 11

Yes I'm sure this is a bug and no feature request or a general question.

[2020-07-31 13:33] MrGeneration opened #3145 "EmailParser (process_unprocessable_mail) ignores group routings"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: 1077707

### Expected behavior:

If Zammad can't process a email message during fetching for whatever reason, a administrator can enforce Zammad to try a unprocessable email again. If the admin d

[2020-08-03 09:31] mantas opened #3146 "IMAP channel cannot connect to ProtonMail bridge"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* IMAP channel connects to ProtonMail bridge

### Actual behavior:

* IMAP channel cannot connect to ProtonMail bridge

### Steps to reproduce the behavior:

* try to setup IMAP chann

[2020-08-03 11:37] #2960 closed, assigned to mantas

[2020-08-03 11:40] #3136 closed, assigned to thorsteneckel

[2020-08-03 12:56] #3146 closed, assigned to mantas

[2020-08-04 08:08] #3143 closed, assigned to mantas

[2020-08-04 09:46] thorsteneckel commented on #3144
@MrGeneration just verified that this is the actual root cause of #2609. The other issue is older and has more references to it (while being only the description of a symptom) and will be therefore used as the main issue. I'll close this one as a duplicate.

[2020-08-04 09:46] #3144 closed, assigned to rolfschmidt

[2020-08-04 09:49] #2609 closed, assigned to rolfschmidt

[2020-08-05 07:00] thorsteneckel commented on #2609
For anyone who can't wait for the upcoming 3.5 release we've created the `stable-ie11` branch that is current 3.4 `stable` with this additional fix. Feedback is highly welcome.
@MrGeneration / @KoJie  : You may wan't to get in touch with the `prioritised by payment` customers.

[2020-08-05 07:09] MrGeneration commented on #2609
Please note that this Branch will be removed upon the next release(s) without further notice. Don't forget to switch back to stable as soon as Zammad 3.5 is out. ❤

[2020-08-05 08:42] rolfschmidt opened #3147 "S/MIME signing fails because of message encoding"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all
* Ticket-ID: 1078053, 1078208

### Expected behavior:

S/MIME should be able to sign and verify messages like this:

[code]

### Actual behavior:

Because of problems with the encoding of new lines it will no

[2020-08-05 10:02] YosefAdPro opened #3148 "StatusCode: 500 When searching for an article in a ticket and enter one digit"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): package
* Operating system: Centos 7.7
* Database + version: Postgresql 9.2.24
* Elasticsearch version: 5.6.16
* Browser + version: Gooele chrome 84.0.4147.105

### Expected behavior:

*

### Actual behavior:

When searching for an article in a ticket (with ??) if you enter one digit you get Internal Server Error 5

[2020-08-05 10:08] MrGeneration commented on #3148
Thank you for your report. Please edit your first article and provide the browser you used. :)
Thank you

[2020-08-05 10:14] YosefAdPro commented on #3148
done :)

[2020-08-05 10:44] mantas commented on #3148
@YosefAdPro looks like this is knowledge base structure issue (although it's still a bug, just in a different bit) rather than search itself.

Is this a publicly available or internal knowledge base?

Looks like this is the core bit:

[code]

Does it fail same way if you search for `AAAA`?

Does it fail same way if you search for digit or `AAAA` when in another locale?

Is answer #3 accessible?

I

[2020-08-05 11:09] MrGeneration commented on #3148
I can't reproduce it as well as of now. :-x

No matter if searching for a single digit or several ones. No matter of numbers or laters, available by search or not.

[2020-08-05 11:37] YosefAdPro commented on #3148
I use a knowledge base in Hebrew and I also had English (not in use) under Management> Knowledge Base.
I deleted the English and the phenomenon disappeared.
![image](https://user-images.githubusercontent.com/11810187/89408625-4a653880-d729-11ea-845a-64305745d0dd.png)

[2020-08-05 11:40] mantas commented on #3148
@YosefAdPro good to know!

@MrGeneration don't close this issue, I'll try to reproduce it and track down the 🐛

[2020-08-05 11:50] YosefAdPro commented on #3148
@mantas
I think I understood what the cause was.
When I add an English translation to an article in Hebrew, but do not add a translation to the category the problem occurs.

[2020-08-05 11:51] YosefAdPro commented on #3148
I went through all the options and you were right.

[2020-08-05 11:59] mantas commented on #3148
@YosefAdPro thank you! I'll look into preventing this issue in the future.

[2020-08-05 14:41] MrGeneration opened #3149 "Scheduler sometimes doesn't recover from database connection loss"
### Infos:

* Used Zammad version: 3.4 and earlier
* Installation method (source, package, ..): any, verification however is most reliable on source code installations
* Operating system: any
* Database + version: postgreSQL 10.3 (more specific a remote one on another machine, potentially local machine works too)
* Elasticsearch version: any
* Browser + version: any (not relevant to this issue)
*

[2020-08-05 15:07] mschiff commented on #3149
One additional note:
The database was shutting down in the time between
`2020-08-05 01:07:17.623 CEST` and `2020-08-05 01:07:28.276 CEST` and therefore not accepting new connections in this timeframe

[2020-08-06 12:36] martini commented on #2754
JFI: `next` is not working because the connection got lost when trying to fetch the next message.

[code]

In the meantime @mantas  did another improvement which is fixing this issue too: https://github.com/zammad/zammad/commit/577bb5f72379256f5ac0827b7fbb843b24b6e570 - so issue can keep closed

[2020-08-08 03:47] egorky commented on #3034
I can confirm this too happens with tags.
When creating the profile, the right ticket with one of the tags show in the preview:
![image](https://user-images.githubusercontent.com/54412925/89701754-8651f680-d8ff-11ea-9eab-2fdc12d01afb.png)
But on the reporting page one that doesn't have any tag shows up:
![image](https://user-images.githubusercontent.com/54412925/89701793-d7fa8100-d8ff-11ea-9ceb-c2

[2020-08-10 08:21] #3102 closed, assigned to mantas

[2020-08-10 11:42] #3109 closed, assigned to thorsteneckel

[2020-08-10 11:48] #3058 closed, assigned to mantas

[2020-08-12 04:42] quobjoern commented on #3140
@MrGeneration Any update on this issue?

[2020-08-12 10:04] rolfschmidt opened #3150 "Make channels trusted"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

### Expected behavior:

* Currently it is not possible to set a channel trusted

### Actual behavior:

* You only can set the trusted flag for StdIn

https://github.com/zammad/zammad/blob/develop/app/models/

[2020-08-12 13:31] rolfschmidt opened #3151 "knowledge base public interface does not get crawled by search engines"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

### Expected behavior:

* Search engines should find knowledge base public interface sites.

### Actual behavior:

* Search engines do not find knowledge base sites because of the robots.txt.

[2020-08-13 07:12] Madko commented on #2980
Still here in 3.4, and that's why we can't use macros

Best regards,
Edouard

[2020-08-13 07:52] MrGeneration commented on #2980
This still needs verification. Sorry for the delay, but I'm locking the conversation to contributors only.
This is to reduce the noise and help us focus on the issues without bumps.

[2020-08-13 07:53] #3150 closed, assigned to rolfschmidt

[2020-08-13 07:55] #3151 closed, assigned to rolfschmidt

[2020-08-13 09:17] #3093 closed, assigned to mantas

[2020-08-13 10:57] MrGeneration commented on #2942
Ugh, sorry for the long wait. By now I checked it like three times but my drafts were lost. 🙈

Anyway, I still can reproduce all 3 earlier failing use cases.
Please note that this might be due to the "notification bird" as I did use it once. In between the use cases I did not reload the web app in any way.

use case 1.1: ⛔
use case 1.2: ⛔
use case 1.3: ⛔

[2020-08-13 11:13] MrGeneration commented on #2822
Sorry for the wait.
In case this is still current, please provide the unique user identifier of slapd.
I tried to find this information via google but have failed.

This issue may *indirectly* collide with issue #1773 depending on your answer.
I believe that your ldap does not hold one of the following unique identifiers:
`objectguid entryuuid samaccountname userprincipalname uid dn` ( https://git

[2020-08-13 11:33] #3147 closed, assigned to rolfschmidt

[2020-08-13 11:34] MrGeneration commented on #2856
Thank you so much for your patience.
I'm afraid that I can't reproduce this issue on either:

   * scheduler
   * postmaster filter
   * trigger

This might have been fixed in the mean time, to be honest, I'm not aware of such an issue but could be wrong!

[2020-08-13 11:34] #2856 closed, assigned to nobody

[2020-08-13 12:44] MrGeneration commented on #2914
Sorry for the wait.
I could verify this - this works as long as the certificate and hostname used in the integration does match.

Sidenote: I did not use AD LDS for this, as from above description I expected that this is a "usual" active directory and not LDS. This shouldn't matter though.

Please note that this *might* be partially covered by https://github.com/zammad/zammad/issues/1767 and https

[2020-08-13 12:55] MrGeneration commented on #2980
I'm afraid using formatting (like strong text) doesn't workaround this issue. :-/

[2020-08-13 13:56] mantas commented on #82
Currently that "Merge" dialog defines ticket to merge into. Turning it into checkboxes, would it allow to merge same ticket into multiple tickets, essentially creating copies of original ticket content?

[2020-08-13 14:37] mantas commented on #3140
Hey @quobjoern

Can confirm the original issue that escalation is bumped & alive after agent's response. I'll look into the compounding escalation time issue as well.

[2020-08-13 14:50] mantas commented on #3140
Note to self: related to #2579

[2020-08-14 07:51] mantas commented on #3140
Hey @quobjoern

Looking at the hosted test instance... Looks like you created the sample ticket ~ 8:30 local time. While business hours defaults start at 9:00. Since escalation takes working hours into account, escalation time seemed off.

Does it sound correct?

[2020-08-14 08:09] thorsteneckel commented on #1150
This was actually fixed quite recently with https://github.com/zammad/zammad/commit/e61fa6795e9844c78e130533a0f20d5dee8b7201

Closing therefore. Thanks for your patience.

[2020-08-14 08:09] #1150 closed

[2020-08-14 11:13] #3111 closed, assigned to rlue

[2020-08-14 12:11] jsievertde opened #3152 "Nginx Reverse Proxy Error Centos 8"
### Infos:

* Used Zammad version: 1596781606.1adc98bf.centos8
* Installation method (source, package, ..): package
* Operating system: CentOS 8
* Database + version: PostgreSQL 10.6
* Elasticsearch version: 7.8.1
* Browser + version: Mozilla Firefox 79

### Expected behavior:

* After install the nginx webserver should be able to access the static files.
* Used is the standard configuration file.

[2020-08-14 12:19] thorsteneckel commented on #3152
This is actually an issue with the packaging service. We already created an issue for it: https://github.com/crohr/pkgr/issues/165

[2020-08-14 12:19] #3152 closed, assigned to nobody

[2020-08-14 12:21] jsievertde commented on #3152
Okay sorry that i didn't found that already while i was looking for a preexisting issue.

[2020-08-14 12:29] thorsteneckel commented on #3152
No worries, thanks for reporting! Probably will help the next one stumbling over it. You might want to ask in the other issue about the state.

Just for the record: We already had a report over at the community: https://community.zammad.org/t/zammad-3-2-0-package-for-centos-8-incorrect-permissions-for-zammad-public-folder/3589/2

[2020-08-16 16:41] st31ny commented on #2822
In the meantime I worked around the issue by generating a `uid` attribute for every user.

Slapd has an internal attribute `entryUUID` that is present for every entry in the LDAP. The attribute `uid` is optional (depending on the entry's classes).

[2020-08-17 00:39] quobjoern commented on #3140
@mantas: You're correct, when I create the ticket within the business hours the escalation time is displayed correctly.

[2020-08-17 06:57] spacecodeit opened #3153 "Broken Debian 9 Package from packager.io"
Hello,

the Debian 9 Repository from packager.io has no Release file since a few days.

[code]

[2020-08-17 07:05] MrGeneration commented on #3153
Sorry but this is a technical question.
The better place, for the next time, would be the community.

Apart from the issue template being missing.
Release and InRelease were, as far as I can remember, never tags that were used.
Please follow the official guide from our docs to solve this issue: https://docs.zammad.org/en/latest/install/debian.html#for-debian-9

Closing.

[2020-08-17 07:05] #3153 closed, assigned to MrGeneration

[2020-08-17 07:10] thorsteneckel commented on #3153
Hey @spacecodeit - I guess you're talking about the `develop` branch because [the last `stable` commit was build successfully 10 days ago](https://packager.io/gh/zammad/zammad/refs/stable). However, [the `develop` build fails since 7 days](https://packager.io/gh/zammad/zammad) 😱 we'll get in contact with packager.io and resolve this issue. Next time please provide the the mandatory issue template

[2020-08-17 07:15] spacecodeit commented on #3153
Hey @thorsteneckel - we are using the stable branch. The repo is setup as explained in the docs at https://docs.zammad.org/en/latest/install/debian.html#for-debian-9
The first time we saw the issue was last Friday (14.08.2020).

[code]

[2020-08-17 07:20] thorsteneckel commented on #3153
Hey @spacecodeit - right, my bad. Would you mind creating a thread over at the community? Non-bug issues create a lot of noise for those watching the repository. We'll address the packager.io issue and help you out in the community as soon as we find the time.

JFI: We're currently not aware of any issues with installations of the `stable` branch.

[2020-08-17 08:46] whysthatso commented on #3142
it should be ensured that this can be done retroactively in a mailbox that is currently used, i.e. our org would like to start use zammad now, but given the idea of this feature and it being on the roadmap i would like to postpone the import of the archive (about 3000 emails). once this feature is available, the workflow should be:
- configure the incoming email channel to point to a different mai

[2020-08-17 08:54] MrGeneration commented on #3142
If you set up a second email channel that is configured to work as an archive import and it is supposed to read in a different folder of that mailbox, this is the way to go.

We do that in PoCs where customers have to start right away.
I don't see why it shouldn't work as soon as the feature is productive. :-)

[2020-08-17 09:36] whysthatso commented on #3142
can i persuade you on hinting towards the ETA of that feature?

[2020-08-17 09:37] MrGeneration commented on #3142
Sorry, we do not provide any ETAs in general.

[2020-08-17 09:42] whysthatso commented on #3142
fair enough. thanks anyway.

[2020-08-17 09:43] thorsteneckel commented on #3142
Hey @whysthatso - Let me share some insights here. We can't give ETAs because we prioritise valuable solutions over hitting deadlines. That's why it's hard to say exact dates. We're planning to release (at least) one feature of the roadmap with one upcoming version. One version currently takes about 2-3 month but we're working hard to increase our pace. That's the roughest but most accurate ETA we

[2020-08-17 12:45] orangesunny commented on #2571
I was pointed here by the Zammad customer support. For a start, we (the company with Zammad paid plan) would like to have the checkbox working. I don’t see this as an enhancement, it is clearly a bug if the checkbox does nothing.

<img width="660" alt="twitter checkbox" src="https://user-images.githubusercontent.com/23450011/90397458-2a723500-e098-11ea-96f2-3f26febf5033.png">

[2020-08-17 12:50] MrGeneration commented on #2736
Sorrys for the huge waiting time on this. :-/

[2020-08-17 12:51] MrGeneration commented on #2571
@orangesunny sorry for the confusion.
You're actually affected by this bug: https://github.com/zammad/zammad/issues/2736

The difference to this issue is that you don't use the search functionality for tweets.
I already updated the affected issue like it should be!

[2020-08-17 13:38] #3107 closed, assigned to martini

[2020-08-17 13:54] orangesunny commented on #1575
We would like to have an integration: button in Zammad agent and client portal. Ticket view.

Works:
1. After the click, it will ask the agent to choose from list of GitHub repositories connected to Zammad instance.
2. After choice, it will open a new issue with the information from the ticket in Zammad.
3. The agent can modify and click to create a new issue.

[2020-08-17 14:02] orangesunny commented on #2736
@MrGeneration Lovely! Please fix it ASAP to make our Zammad usable and free of those unwanted tickets. Thank you!

[2020-08-17 14:13] AdamC1228 opened #3154 "Generated Raw EML's for agent responses are incorrect."
### Infos:

* Used Zammad version:   3.4.0-1596454487.6ef2d854.centos7.x86_64
* Installation method (source, package, ..):   CentOS RPM
* Operating system:   CentOS Linux release 7.8.2003 (Core)
* Database + version:   Postgresql 9.2.24-4.el7_8.x86_64
* Elasticsearch version:   7.8.1
* Browser + version:   Firefox 79.0 & Chrome 84.0.4147.125

### Expected behavior:

*Raw email matches the format o

[2020-08-17 14:20] MrGeneration commented on #3154
Please provide additional information on your channel configuration:
* Used MTA to send and receive emails (provide both if sending and receiving MTAs are different)

[2020-08-18 11:54] bjornskovlund opened #3155 "Default charset for email channel changed?"
### Infos:

* Used Zammad version: 3.4.x
* Installation method (source, package, ..): Kubernetes (via Helm)
* Operating system: Docker
* Database + version: PSQL 11.1-v1
* Elasticsearch version: 6.5.3
* Browser + version: N/A

### Expected behavior:

* Correct encoding

### Actual behavior:

* Faulty encoding

### Steps to reproduce the behavior:

* After upgrading from 3.1.x to 3.4.x, we're exper

[2020-08-18 12:04] MrGeneration commented on #3155
Please provide samples and if available tracebacks.
Otherwise this is impossible to qualify for a bug or not.

Please note that if this is a technical question, the repository of Zammad is the wrong place.
The better place for technical questions is the Community: https://community.zammad.org

[2020-08-18 13:40] AdamC1228 commented on #3154
Currently we use Exchange 2016 as our Transport Authority and have DavMail 5.5.1-1.2 setup as the bridge between Exchange and Zammad.

[2020-08-18 14:13] AdamC1228 commented on #3154
Additionally, the Agents response email when you open the Raw EML file that Zammad provides shows a lot of encoded characters for newlines. See the code excerpt below.

Note: I have CENSORED the names and sensitive information.

`Subject: RE: [Ticket#603655] Outlook issues in Citrix.
Mime-Version: 1.0
Content-Type: multipart/mixed;
 boundary="--==_mimepart_5f3972ed6d97e_728e2af945f967d08220e5";
 c

[2020-08-19 10:37] juergenp83 opened #3156 "Auto assignment changes owner"
### Infos:

* Used Zammad version: **3.4.x**
* Installation method (source, package, ..): deb package
* Operating system: ubuntu 18.04
* Database + version: mysql
* Elasticsearch version: 7.8
* Browser + version: multiple browsers and versions
* Ticket: #1078761

### Expected behavior:

* Once an agent is assigned as ticket owner, no other agent can get auto assigned as owner

![auto-assign-settin

[2020-08-19 10:39] MrGeneration commented on #3156
@thorsteneckel I think that this is rather a race condition and due to "performance" impacts that this may happen from time to time. I mean, the database has to be updated first, possibly is not yet because the UI couldn't submit the data yet (but already shows the to be data).

What do you think?

[2020-08-19 10:46] juergenp83 commented on #3156
I already removed all issues which may impact the GUI performance (very large Overviews - the largest currently shows 80 tickets), reduced open tabs - the ladies used to keep closed tickets open in a tab ...

The server itself has a very low workload (under 10 % cpu usage on average and around 30% memory)

[2020-08-19 13:44] thorsteneckel commented on #3156
Hi @juergenp83 - thanks for reporting. From my understanding that sounds like a race condition, as @MrGeneration already suspected. Would be great if you could share the (redacted) part of the `log/production.log` file that contains both requests (you described).

If it's a race condition as we suspect:
Our current architecture won't allow us to fix this issue as far as I can see. However, we will

[2020-08-19 14:31] juergenp83 commented on #3156
That's what I was a little afraid of.

There are a *lot* of hits (300+) regarding this ticket in two log files having 200.000+ lines. I have no idea what else maybe is related to the ticket. Unfortunately I was not able to identify the two specific requests.

Is there a simple and GDPR-save way (a public link to the full logs including employee names an mail adresses is not so cool) how to send yo

[2020-08-19 14:54] MrGeneration commented on #3156
You can send a mail to support [at] zammad [dot] com and reference Thorsten or Me (Marcel).
Please don't forget to reference this issue so we know where to put it to ;)

If you can't provide the attachment (because it's too big) or you don't have a save way to provide the file via download link, we can also provide a upload link if needed.

[2020-08-20 05:09] juergenp83 commented on #3156
done, thank you!

[2020-08-20 07:10] #967 closed

[2020-08-20 07:28] Lightyear76 opened #3158 "Notification and assignment wrong when changing ownership"
Hi!

When changing the group of a ticket, the correct members of this group are not notified. In addition, wrong agents are assigned.

### Infos:

* Used Zammad version: 3.4.0
* Installation method (source, package, ..): package
* Operating system: Centos 7
* Database + version: mariadb 5.5.65-1
* Elasticsearch version: 5.6.16-1
* Browser + version: Firefox 79

### Expected behavior:

When changin

[2020-08-20 07:31] MrGeneration commented on #3158
Can you please clarify what you mean by "wrong agents are assigned" ?
I just want to ensure that wording doesn't send me into the wrong direction.

[2020-08-20 08:27] Vogelkoje opened #3159 "greyed out Avatar is not displayed correctly in the caller log"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any (verified on current Google Chrome)
* Ticket: # 1078737

### Expected behavior:

* Avatars should be displayed in the call logs, even if they are larger than the container.

### Actual behavior:

* If avatars

[2020-08-20 08:34] MrGeneration commented on #3159
JFI: I added some information to help developers understand the scope.
This only affects entries which are no longer active.

(Switching between active / inactive (so using the tick on the left in the caller log) shows that quite well)

[2020-08-20 10:32] MrGeneration commented on #3156
I extracted the relevant lines / calls and redacted your internal IP. As it's the same IP, I guess that it still are different clients.

You can see very good that at least two agents were racing for that ticket. The access difference is about two seconds:
[code]

What's interesting that there are only two fitting PUTs (which most likely is because only two clients tried to set the owner at that t

[2020-08-20 12:46] MrGeneration opened #3160 "Backup script restoration order causes issues if version difference causes ruby version differences"
### Infos:

* Used Zammad version: 3.4 and earlier
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

Restoration works, no matter which version you're restoring (or migrating) from.

### Actual behavior:

If your old Zammad version had a different ruby version from the on

[2020-08-20 13:35] MrGeneration commented on #3160
I prepared a commit on our private repo for this issue.
It will swap file and database restoration for package installations, but will remain the current behavior other installation types.

I believe that this is the best approach together with above mentioned PR no 140.
Admins or source code installations may want to restore right away without needing to install.

This is not possible for package

[2020-08-21 10:44] juergenp83 commented on #3156
Thanks for the good explanation.
But shouldn't there be a server-side mechanism which keeps the second client from setting "his" owner on the ticket in the database?

Just asking because you set the _frontend / JS app_ label.

[2020-08-21 14:06] thorsteneckel commented on #3156
Hi @juergenp83 - sure, no problem. I try to elaborate: The implementation takes only place in the frontend. So the backend / API only gets the request to update the Owner of the Ticket but isn't/can't be aware of the origin of the request. That's why we have to resolve the issue in the frontend.

[2020-08-21 14:21] thorsteneckel commented on #2571
This is actually an (older) duplicate of #2736 that wasn't on our radar because of the `enhancement` tag. @rlue already provided a fix #2736 it which is currently in review but will be releases with 3.5. I'll close this in favour of #2736.

[2020-08-21 14:21] #2571 closed, assigned to nobody

[2020-08-24 06:03] idominiki opened #3161 "Rename 3rd Party Integration Logins"
Hello,

I use Zammad v. 3.4 and use SAML Login.

Is it possible to rename the Login Buttons? Would be great for our user experience.
<img width="594" alt="Bildschirmfoto 2020-08-24 um 08 01 16" src="https://user-images.githubusercontent.com/62521486/91009159-43bb3a00-e5e0-11ea-82d5-06ec11d5f2f8.png">

[2020-08-24 07:11] MrGeneration commented on #3161
Sorry, but this is a technical question and thus the wrong place.
Please use the Zammad community (https://community.zammad.org) for technical questions or feature requests.

To your question: No it's not without code change.

[2020-08-24 07:11] #3161 closed, assigned to nobody

[2020-08-24 10:53] #3159 closed, assigned to mantas

[2020-08-24 10:54] #2736 closed, assigned to rlue

[2020-08-24 11:07] #2887 closed, assigned to mantas

[2020-08-24 11:11] mantas commented on #2887
Note for someone stumbling upon this issue in the future. The initial input issue is fixed. Incomplete inputs handling is left as-is.

[2020-08-24 11:59] MrGeneration opened #3162 "Backslash "\" causes tree select to disappear during selection"
### Infos:

*This bug report originally comes from community user "vak" (https://community.zammad.org/t/bug-report-version-3-4-0-4/5152)**

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified on latest Google Chrome

### Expected behavior:

The content of a tree sele

[2020-08-24 13:37] Vogelkoje opened #3163 "Individual objects in format "select": No reset to empty in trigger possible"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket: # 1078785

### Expected behavior:

* Individual fields can be reset to an empty value ("-") in the ticket view. The same also works for triggers.

### Actual behavior:

* Individual fields can be re

[2020-08-25 13:57] mantas opened #3164 "Robots.txt should allow indexing Knowledge Base on custom URLs"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* search engine bots can index Knowledge Base on custom URLs

### Actual behavior:

* search engine bots are prevented from indexing Knowledge Base on custom URLs

### Steps to reprod

[2020-08-26 09:03] MrGeneration commented on #3071
Ugh sorry for the delay from my end.
This issue is a duplicate of issue #2472 which is why I'll be closing this issue.

@mantas it seems in Zammad 3.4 stable issue #2472 is fixed.

[2020-08-26 09:03] #3071 closed, assigned to nobody

[2020-08-26 09:25] MrGeneration opened #3165 "Drag&Drop from Outlook to Zammad removes message from Outlook"
### Infos:

*This issue originally was found by Community user PRBM and reproduced and qualified by Community user mg4life:*
   1. https://community.zammad.org/t/re-drag-drop-from-outlook-365-client-to-zammad-deletes-email-in-outlook/4743
   1. https://community.zammad.org/t/drag-drop-from-outlook-365-client-to-zammad-deletes-email-in-outlook/3061

* Used Zammad version: 3.4 and earlier
* Installa

[2020-08-26 09:32] mantas commented on #2472
@MrGeneration as per your note on #3071, should this issue be closed as well?
You said it’s now fixed if I read it correctly :)

[2020-08-26 12:34] orangesunny commented on #2736
Thank you @thorsteneckel for the fix. Can you, please, tell when 3.5.0 will reach our instance hosted by Zammad?

[2020-08-26 12:38] thorsteneckel commented on #2736
Hey @orangesunny - we work with [milestones for our release planing](https://github.com/zammad/zammad/milestones). Once we know the concrete date we will set the `due date` on those milestones. As you can see we have not concrete date yet. We plan the 3.5 release in about 3 weeks from now.

We can deploy the `develop` branch to your instance if you can't wait that long. Please get in touch with th

[2020-08-26 12:46] #3160 closed, assigned to nobody

[2020-08-26 12:46] #3139 closed, assigned to nobody

[2020-08-26 13:15] Monikowski opened #3166 "E-mail generated by trigger is sent to the 'from' address when 'reply-to' is given"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): source
* Operating system: ubuntu 18.04
* Database + version: PostreSQL 12.3
* Elasticsearch version: 7.7
* Browser + version: any

### Expected behavior:

* A trigger (which has Customer as it's e-mail recipient and is triggered on an update of a custom boolean field) runs and sends an e-mail to the address given

[2020-08-26 13:22] MrGeneration commented on #2472
Yes, you're right!
Closing as we believe that this has been fixed with Zammad 3.4.

[2020-08-26 13:22] #2472 closed, assigned to nobody

[2020-08-26 13:25] MrGeneration commented on #3166
Please provide your configured setting of "Sender based on Reply-To header" that can be found in admin settings -> E-Mail (Channel) -> Settings tab.

[ reference https://admin-docs.zammad.org/en/latest/channels/email/settings.html ]

[2020-08-26 13:35] Monikowski commented on #3166
![obraz](https://user-images.githubusercontent.com/47703657/91310118-bf201580-e7b1-11ea-9544-b91c7f74589c.png)

[2020-08-26 13:39] Monikowski commented on #3166
Okay, so this is fixed

I only found this setting later and didn't think it would do much - I thought it would redirect the e-mails sent on already existing tickets (which obviously didn't happen)

After creating new tickets, however, I see that it replaces the 'from' e-mail completely, which does pretty much what I wanted anyway (as I don't really need to store the 'from' e-mail).

Thank you for

[2020-08-26 13:39] #3166 closed, assigned to MrGeneration

[2020-08-26 15:58] orangesunny commented on #2736
Yes, I asked because I didn’t see the `due date` in the milestone. Thanks for the estimate and the information! I will eventually contact customer service.

Thank you for your work and a lovely piece of software!

[2020-08-27 08:55] MrGeneration opened #3167 "Active Google channels cause Email channels to loose email address every 86400s"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Google Chrome latest

### Expected behavior:

You can use email and google channels at the same time without any issues.

### Actual behavior:

When having a dual setup with both, email and google channels for co

[2020-08-27 15:10] Vogelkoje opened #3168 "Don't provide option to create API-Token if authentication via API token is disabled"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* If the API is disabled in the settings, it should not be possible to select the dialog for a new API Key. Instead you should get a message that the API is disabled and no creation i

[2020-08-28 06:04] mantas opened #3169 "Logo image ratio goes wrong when resizing to specific height"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Logo or avatar images ratio is always retained

### Actual behavior:

* Image ratio is not always retained

### Steps to reproduce the behavior:

* Upload tall logo

Yes I'm sure th

[2020-08-28 12:00] #3167 closed, assigned to rolfschmidt

[2020-08-29 14:16] Dennis1993 opened #3170 "Print statistics"
Hello,

we are interested in zammad. At the moment we use OTRS and print every week out statistics for our shop floor bord.
In zammad I created a statistic for new and closed tickets by day and want to print it. It is possible to print the statistic from azmmad or is it not possible? I've created a screenshot and printed the screenshot. It's ok but not perfect :)

[2020-08-29 14:24] Dennis1993 opened #3171 "HTML chars in message visible"
### Infos:

* Used Zammad version: 3.4.x
* Installation method (source, package, ..): source
* Operating system: Ubuntu 18
* Database + version: MariaDB
* Elasticsearch version:
* Browser + version: Microsoft Edge

### Expected behavior:
no html chars visible

### Actual behavior:
Message shows html entities:
![image](https://user-images.githubusercontent.com/1473674/91639070-3ce35b80-ea14-11ea-93

[2020-08-29 15:37] MrGeneration commented on #3170
Sorry but this is rather a technical question.
The Zammad community is the better place for enhancement requests and technical questions, this repository is for bug reports only. You can find the community here: https://community.zammad.org

We do so to help our developers focus on fixing bugs and implementing planned features.
With over 2.200 stars, those kind of issues also cause a lot of noise

[2020-08-29 15:37] #3170 closed, assigned to nobody

[2020-08-30 09:40] Dennis1993 opened #3172 "Dots in column to select an computer from idoit"
### Infos:

* Used Zammad version: 3.4.x
* Installation method (source, package, ..): source
* Operating system: Ubuntu 18
* Database + version: MariaDB
* Elasticsearch version:
* Browser + version: Microsoft Edge

### Expected behavior:
No dots in column
*

### Actual behavior:
If I create a ticket and select a computer from my connected i-doit (v1.15 PRO) in the column are shown two dots. I thin

[2020-08-30 14:36] vic-t opened #3173 "Deleting tickets should also remove tabs"
Infos:

    Used Zammad version: 3.4 (current)
    Installation method (source, package, ..): Installer
    Operating system: Ubuntu 18.04
    Browser + version: Firefox

It's possible to delete tickets using the scheduler. This does not seem to affect the ticket history on the left hand side, they are still mentioned there although clicking them will generate an error.

What's more, for existing

[2020-08-30 15:13] MrGeneration commented on #3173
Please adjust your first article to contain a filled issue template which we provide upon the issue creation screen.
Please also ensure that you're not talking about this issue:
https://github.com/zammad/zammad/issues/2960

Because I'm currently not sure if you're talking about linked tickets or other references.

[2020-08-30 17:35] vic-t commented on #3173
I'm new with Zammad and don't yet know all the terminology. But I'm pretty sure this is not about linked tickets. I hope the image clarifies things, otherwise I'm happy to provide more info.

[2020-08-30 19:24] MrGeneration commented on #3173
Okay, so you're talking about Zammads tabs.
User, Organisations and Tickets do have Histories this is why I was asking so directly.

So what you imply is that the tab should be removed upon ticket removal but isn't.
Thanks for clarifying that!

[2020-08-31 04:27] #2672 closed, assigned to mantas

[2020-08-31 06:25] #3169 closed, assigned to mantas

[2020-08-31 06:56] RohwerderGmbH opened #3175 "Editing from users for agents"
Hello,

I created a topic before posting here: https://community.zammad.org/t/editing-from-users-but-disallow-set-admin-status/5186

The problem is, that a agent can't setting userdetails like Organisation, telephone or someone else. That's only possible if I setting the area admin.user for the agents. But then the agents can set herself as full admin.

Mr.Generation said normally it should be pos

[2020-08-31 08:11] MrGeneration commented on #3175
Sorry but this is a technical question which I couldn't answer on the community yet (for time reasons).
Please do not create technical questions or feature requests on this repository.

If you require commercial grade support, you can find more information on that topic here: https://zammad.com/pricing#selfhosted

[2020-08-31 08:11] #3175 closed, assigned to nobody

[2020-09-02 09:45] nijel opened #3177 "Custom field default value is not applied over API"
### Infos:

* Used Zammad version: 3.4.x
* Installation method (source, package, ..): using zammad.com sevice
* Operating system:
* Database + version:
* Elasticsearch version:
* Browser + version:

### Expected behavior:

* When creating user using API, the default value for custom field should be applied

### Actual behavior:

* The custom field is empty when not specified in the request

### St

[2020-09-02 10:03] Madko opened #3178 "Fields From and To are interpreted in articles from operators"
### Infos:

* Used Zammad version: 3.4.0-1596534174.0b324922.bionic
* Installation method (source, package, ..): package
* Operating system: Ubuntu 18.04 LTS
* Database + version: postgresql-10                          10.12-0ubuntu0.18.04.1
* Elasticsearch version: elasticsearch                          7.8.1
* Browser + version: Firefox ESR Windows

### Expected behavior:

* When an operator cop

[2020-09-02 10:13] Madko commented on #3178
Capture of the editor: http://www.linuxed.net/wp-content/uploads/captures/zammad/bug-github-zammad-3178-capture01.png
Result, the message is seems from the customer: http://www.linuxed.net/wp-content/uploads/captures/zammad/bug-github-zammad-3178-capture02.png

[2020-09-02 10:22] MrGeneration commented on #3178
Sorry but this sounds like a rather technical question or I do not understand the issue you're trying to describe.
As far as I'm aware Zammad does not interpret copied content.

If this is a technical question or enhancement request, please consult the Community (https://community.zammad.org) instead.

If you still believe that above is a bug, it would be great if you could add a screencast (video

[2020-09-02 10:25] MrGeneration commented on #3177
This seems to be a duplicate of
* https://github.com/zammad/zammad/issues/1653

Please drop our support a short mail mentioning above issue so that we can add you to the list.

[2020-09-02 10:25] #3177 closed, assigned to nobody

[2020-09-02 11:03] nijel commented on #3177
#1653 doesn't mention API at all, that's why I didn't discover it when looking for existing issues.

[2020-09-02 11:40] MrGeneration commented on #3177
I've extended the first article to hold that hint. I think that this will be a similar part of the application which why one issue should be fitting. :)

[2020-09-02 11:46] Madko commented on #3178
Hi thank you for your response. Yes of course it's a bug. Have you seen capture 2 ? How a message from an operator (as shown in capture 01) can be seen as a message from the customer (cf capture 02)?

[2020-09-02 11:58] Madko commented on #3178
Messages are in french, the important part is the "De: blurred email address" (De means From) and "A: blurred email address" (A means To). Sorry if I was not clear.
The operator has been replaced by the From blurred email address, which occurs to be the customer of this ticket. It ends with an Article in the ticket shown as being sent by the customer, instead of the operator.
History of this ticke

[2020-09-02 12:31] Madko commented on #3178
This new capture might be more understandable:
http://www.linuxed.net/wp-content/uploads/captures/zammad/bug-github-zammad-3178-capture03.png.png

How a message from an operator can be seen as from the customer ?

[2020-09-02 12:35] Madko commented on #3178
capture 04 is from the history of the same ticket. As the same date "Mercredi 9:56" (Wednesday 9:56 AM) you can see that this is the operator Sophie that added this answer shown in capture 03, not Véronique (which is a customer).

http://www.linuxed.net/wp-content/uploads/captures/zammad/bug-github-zammad-3178-capture04.png

[2020-09-02 12:36] MrGeneration commented on #3178
OH that's what you're talking about.
So you're in a new ticket dialogue followed by a reply by mail.

Then this indeed is a bug, but a duplicate of https://github.com/zammad/zammad/issues/2922 which is why I'm closing this issue. :) Sorry for the confusion.

[2020-09-02 12:36] #3178 closed, assigned to nobody

[2020-09-02 15:30] krayevidi opened #3179 "Email address displayed incorrectly"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): Source
* Operating system: Ubuntu
* Database + version: Postgres 9.6
* Elasticsearch version: 5.6
* Browser + version: Firefox 80

### Expected behavior:

* IDNA decoded email should be shown on user profile page.

### Actual behavior:

* IDNA encoded display value is shown on user profile page.

### Steps to repro

[2020-09-02 16:39] Dennis1993 commented on #3179
Google: IDN Domain. Thats the international domain name of the domain because an umlauts is in the name

[2020-09-02 16:47] MrGeneration commented on #3179
This is a duplicate of
* https://github.com/zammad/zammad/issues/2401
* https://github.com/zammad/zammad/issues/2402

[2020-09-02 16:47] #3179 closed, assigned to nobody

[2020-09-04 13:58] mantas opened #3180 "Calendar counts 24/7 business hours as closed for 1 minute at midnight"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* When business hours are 00:00 - 23:59 every day, it should be treated as 24/7 with no down time

### Actual behavior:

* 00:00 - 23:59 is treated as closed at midnight
* Business ho

[2020-09-07 13:25] #2776 closed, assigned to mantas

[2020-09-07 14:12] fooness opened #3181 "`501 5.1.7 Bad sender address syntax` in SMTP username with @domain.tld part"
### Infos:

* Used Zammad version: 3.4.0-1598623256.b6eccc11.bionic
* Installation method (source, package, ..): package
* Operating system: Ubuntu 18.04 LTS
* Database + version: postgresql 10+190ubuntu0.1
* Elasticsearch version: 7.9.1
* Browser + version: Firefox 80.0.1, Chromium 87.0.4242.0

### Expected behavior:

* set up and configure `Email Notification` via own outgoing SMTP server

### A

[2020-09-07 14:33] alireza-salehi opened #3182 "regular customers can see custom overviews created for VIP users"
### Infos:

* Used Zammad version: 3.4.0
* Installation method (source, package, ..): yum/package
* Operating system: CentOS 7.8.2003
* Database + version: PostgreSQL 9.2.24
* Elasticsearch version: 5.6.16
* Browser + version: Chrome Latest

### Expected behavior:
when create an "overview" and select "ONLY AVAILABLE FOR USERS WITH SHARED ORGANIZATION"="YES"
we expect that only users with "VIP" = "

[2020-09-07 14:35] Cybernisk opened #3183 "API endpoint api/v1/ticket_articles/by_ticket doesn’t work as expected"
### Infos:

- Used Zammad version: 3.3.0-19
- Used Zammad installation source: docker
- Operating system: CentOS

### Expected behavior:

- HTTP 200. Show me the output

### Actual behavior:

- HTTP 401 Not authorized

### Steps to reproduce the behavior:

- Create a personal API token and use it for all request below
- GET a ticket information from /api/v1/tickets/119781?expand=true -> HTTP 200
-

[2020-09-07 14:37] MrGeneration commented on #3181
Sorry but this is a technical question and not a bug.
Zammad provides the exact error message from your mail server.

Bad sender address syntax usually is a issue with inccorect provided mail addresses.
If you still need help on this, please consult the Community at https://community.zammad.org

If you require business grade support, you can find more information on our support contracts here: htt

[2020-09-07 14:37] #3181 closed, assigned to nobody

[2020-09-07 14:40] MrGeneration commented on #3183
Sorry but this is a technical question and not a bug.

If you still need help on this, please consult the Community at https://community.zammad.org
I guess this belongs to this community post: https://community.zammad.org/t/api-endpoint-api-v1-ticket-articles-by-ticket-doesnt-work-as-expected/5224

If you require business grade support, you can find more information on our support contracts here:

[2020-09-07 14:40] #3183 closed, assigned to nobody

[2020-09-07 14:45] MrGeneration commented on #3182
Sorry but this looks like a technical question and not a bug.
Shared organizations technically have nothing to do with VIP users.

If you still need help on this topic, please consult the Community at: https://community.zammad.org

If you require commercial grade support, you can learn more about our support contracts at https://zammad.com/pricing#selfhosted

[2020-09-07 14:45] #3182 closed, assigned to nobody

[2020-09-07 14:49] Cybernisk commented on #3183
@MrGeneration
How do you divide that this is not a bug report? As for me: Bug - the product works not as expected or documented.
Question - asking how something should work or asking the detailed information
The API is not working as described in the documentation => I guess this is a bug.

[2020-09-07 14:56] MrGeneration commented on #3183
Because I can't reproduce this and it works as it should.
Please don't create github issues for community posts just because you don't receive a fast reply on the community.

Bumping posts actually moves it down my list (because I reply to the oldest pending, so it's nothing personal!)

![image](https://user-images.githubusercontent.com/6549061/92399635-e9b38c00-f12a-11ea-8903-4af7e8af71fb.png)

[2020-09-07 15:04] Cybernisk commented on #3183
I'm sorry. I really appreciate your time and thank you for the reply @MrGeneration .
I will do more tests and update the community ticket if I will get any new information =/

[2020-09-07 15:40] MrGeneration opened #3184 "System::Proxy UI shouldn't show password"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified on Google Chrome latest
* *Note: This originally comes from [this community post](https://community.zammad.org/t/proxy-password-in-plain-text/5203) from user [alexlau299](https://community.zammad.org/u/a

[2020-09-07 16:15] cb0101 commented on #2133
The same error occurred in our Zammad Installation today. Under "Email Notifications" there is a message "Can't use Channel::Driver::Smtp: #<Net::SMTPAuthenticationError: 454 4.7.0 Temporary authentication failure: generic failure >"
Zammad health is "false" but new tickets are coming in and responses to tickets are being sent out.

I tried to use the command rails r "p Channel.fetch" to see what

[2020-09-08 08:31] SniperSister opened #3186 "Endpoint api/v1/ticket_articles/by_ticket ignores X-On-Behalf-Of"
### Infos:

* Used Zammad version: 3.4.x
* Installation method (source, package, ..): debian package
* Operating system: Debian 9
* Database + version:
* Elasticsearch version:
* Browser + version:
* Ticket: 1079071

### Expected behavior:
* Querying the api/v1/ticket_articles/by_ticket endpoint with an admin-users API token and an X-On-Behalf-Of header set to the ID of the tickets' customer will

[2020-09-08 08:45] MrGeneration commented on #3186
Fitting error log output is this:

[code]

[2020-09-08 19:28] nielsek opened #3187 "Allow Gsuite spam/phishing headers to filter mails"
In Gsuite it's possible to enable these headers for emails detected as spam / phishing:

`X-Gm-Spam`

`X-Gm-Phishy`

Values can be 1 or 0.

Would be nice if they could be added to the same list as https://github.com/zammad/zammad/issues/376#issuecomment-394819123 so it would be possible to use them for filters.

cc: @martini

[2020-09-08 22:22] MrGeneration commented on #3187
Please don't mention Zammad members out of the blue just to raise awareness.
Please note that this is a feature request and, in Zammad terms, Github is the wrong place for these.

Please create a topic over at the Community at https://community.zammad.org.
I'll be closing this issue, sorry.

[2020-09-08 22:22] #3187 closed, assigned to nobody

[2020-09-09 04:57] nielsek commented on #3187
Alright, I was just following his comments in the other issue:

[2020-09-09 07:51] #2074 closed, assigned to martini, rolfschmidt

[2020-09-09 10:20] dragonAstur opened #3188 "Zammad form doesn't provide error message when using NXDOMAINs"
### Infos:

* Used Zammad version:  3.4.0-17
* Installation method (source, package, ..): docker
* Operating system: Host (Centos 7) Guest (Ubuntu)
* Database + version: Postgres-zammad 3.4.0-17
* Elasticsearch version: Elastic-zammad 3.4.0-17
* Browser + version: chromium chrome 85

### Expected behavior:

*  The web form should process any valid email like name@whateverk.com.
*  Return a 200 OK.

[2020-09-09 11:12] MrGeneration commented on #3188
I have no idea where this comes from.
Console of Browser is clean, but the div of "email" retreives  `has-error` class after submitting - return code however was 200.

However when trying this with a domain that's available (so no `NXDOMAIN`) I can submit the form without issues.
This makes me believe that the issue here is the check if the domain is registered and working.

You can double check t

[2020-09-09 12:02] dragonAstur commented on #3188
Thank you for the quick response.

The problem is that the mail I'm using is a valid one and the public resolvers work as expected so I don't understand why the validation is failing.

I see three possible solutions:
* More info about the failure
* Option to disable email validation in the form
*  Whitelist for valid emails or something like that

[2020-09-09 12:10] MrGeneration commented on #3188
Please provide the domain name.
You can do so by dropping a mail to support [at] zammad [dot] com referencing me and this issue.

That is if you don't want to share this information with public.
I'll have a look then.

[2020-09-09 13:00] dragonAstur commented on #3188
Sent, thank you :smiley:

[2020-09-10 11:41] martini opened #3189 "Unable to create inital admin user via web installer"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Able to create initial admin user via web installer

### Actual behavior:

* I can't create inital admin user via web installer:

![image](https://user-images.githubusercontent.com/

[2020-09-10 11:48] MrGeneration commented on #3189
In my opinion not a bug, but enhancement to provide a meaning full error message.
I believe that there was an issue regarding this and also am sure Mantas was working on that.

At least meaning full error message had been implemented already:
https://github.com/zammad/zammad/commit/40148392426f626cb779c76d6bdda0f67bd6069d#diff-4e05ad0d64e6100656b63ad1e78f32c5R1036-R1046

So what basically seems to

[2020-09-10 11:50] MrGeneration commented on #3188
For completness:
We could verify this issue appears with NXDOMAINs and if the domain doesn't have any valid MX records.
This can also affect you, like in this case, if your DNS server has a bad day and e.g. can't successfully resolve the domain you're using.

Still, a meaning full error message should be provided - something like
`Please provide a valid email address.` or so.

[2020-09-10 11:55] mantas commented on #3189
Huh, I did work on that. As well as issue in screenshot bellow. Maybe something went wrong during rebasing? I'll dig into this :|

![Screenshot 2020-09-10 at 14 54 47](https://user-images.githubusercontent.com/36944/92725990-9aad6700-f375-11ea-828a-37bd25d0458a.png)

[2020-09-10 12:06] dragonAstur commented on #3188
Yes the problem was a missing MX record.

The concept of "valid" email address in my opinion, is too broad. Something like `The email address is not from a domain with a running mail server` may be better, probably with other words, the idea is to narrow more the error and help the admin. You can also state something like NXDOMAIN and with that info is easier to know exactly the problem. Only stat

[2020-09-10 13:50] MrGeneration commented on #1192
For completeness: SSO documentation currently is undergoing QA.
https://github.com/zammad/zammad-documentation/pull/147

[2020-09-11 06:19] mantas commented on #3189
@martini did you bump into the original issue in `3.4` release or `develop`? Looks like `develop` has some issues with error messages (see my screenshot), but the original issue is already fixed?

[2020-09-11 06:26] martini commented on #3189
@mantas I found this behavior in Zammad 3.4 (current stable) branch.

[2020-09-11 06:57] rolfschmidt opened #3190 "Finding a user by email address not possible"
### Infos:

* Used Zammad version: 3.5 (current develop)
* Installation method (source, package, ..): package
* Operating system: Debian 9
* Database + version: postgreSQL 9
* Elasticsearch version: 7.9.1
* Browser + version: Google Chrome 85.0.4183.83
* Note: double checked on a hosted instance as well. ES being available or not does not affect the behavior.

### Expected behavior:

When creating

[2020-09-11 07:02] rolfschmidt opened #3191 "data privacy obsolete column name"
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

Remove obsolete column name at data privacy.

[2020-09-11 07:02] rolfschmidt commented on #3191
cc @MrGeneration

[2020-09-11 07:26] #2922 closed, assigned to mantas

[2020-09-11 09:16] MrGeneration opened #3192 "Article creation on behalf another user not possible with access token"
### Infos:

* Used Zammad version: 3.4 & 3.5 (current develop)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any (Postman current for testing)
* Ticket-ID: 1079071

### Expected behavior:

You can use API token based access to create ticket articles on behalf another user.

### Actual behavior:

[2020-09-11 09:19] mantas commented on #3192
Seems to be related to https://github.com/zammad/zammad/issues/3186

[2020-09-11 09:25] MrGeneration commented on #3192
True, as I didn't know if this is fitting for two different endpoints I created a new issue. If you think it's an duplicate, we can work on one issue with that.

[2020-09-11 09:27] thorsteneckel commented on #3192
I'd second that and see it as a duplicate. Both are caused by the same wrong resolving logic @mantas and I talked about yesterday.

[2020-09-11 09:29] MrGeneration commented on #3192
Duplicate of #3186 and thus closing

[2020-09-11 09:29] #3192 closed, assigned to mantas

[2020-09-11 09:30] mantas commented on #3192
I'll test the fix against this case as well

[2020-09-11 09:30] mantas commented on #3192
@MrGeneration just to make sure, what permissions did admin user have? I guess he didn't have `ticket.agent`?

[2020-09-11 09:31] MrGeneration commented on #3186
This also affects ticket article creation as mentioned on issue #3192

[2020-09-11 09:32] robertlemke commented on #3192
yes, I missed that checkbox. With `ticket.agent` it seems to work. I was mislead by the `admin` checkbox at the very top and assumed that it would make the token everything-admin …

[2020-09-11 09:33] mantas commented on #3192
@robertlemke this is indeed the same bug as in #3186, fix coming in no time :)

[2020-09-11 09:35] MrGeneration commented on #3192
In my opinion `ticket.agent` shouldn't be relevant for the admin user doing this one does it on behalf of someone?

[2020-09-11 09:36] mantas commented on #3192
@MrGeneration you're correct. The bug is it does take into account token owner permissions. Which it won't do anymore.

[2020-09-11 09:37] MrGeneration commented on #3192
Thanks for helping my greyish brain ceels on that regard. :D

[2020-09-11 13:55] crigertg opened #3193 "E-Mail Forwarding to an address in an other group behaves unexpectedly"
### Infos:

* Used Zammad version: 3.4.0
* Installation method (source, package, ..): source
* Operating system: Ubuntu 18.04
* Database + version: PostgreSQL 11.9
* Elasticsearch version: 7.6.1
* Browser + version: any

### Expected behavior:

When forwarding a Ticket to an email address used in an other group than the current I'd expect that:
* the Ticket is shown in the group of the recipient's

[2020-09-11 14:01] MrGeneration commented on #3193
This isn't a bug, but rather -if anything beside of "working as designed"- rather an enhancement.
What do you think, @thorsteneckel

[2020-09-11 14:03] thorsteneckel commented on #3193
Yes. The described use case should be done by moving or splitting the ticket that should get assigned to Group B.

[2020-09-11 14:03] #3193 closed, assigned to nobody

[2020-09-11 16:26] MrGeneration opened #3194 "Granular admin permission for google channel is missing"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified on latest Google Chrome

### Expected behavior:

When providing granular rights, an administrator would like to have the possibility to provide access to "Google Channel" without providing access to the

[2020-09-11 19:34] MrGeneration opened #3195 "Inconsistent granular agent permissions"
### Infos:

* Used Zammad version: 3.4 and 3.5 develop
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified on latest Google Chrome v85

### Expected behavior:

If Zammad provides more than one permission for a specific topic (e.g. "chat"), setting the sub permission allows less.

### Actual be

[2020-09-12 22:03] martinvonwittich opened #3196 "Reports limit the y-axis to > 0, cutting off negative backlog values"
### Infos:

* Used Zammad version: 3.4.x
* Installation method (source, package, ..): docker-compose
* Operating system: Debian 10
* Database + version: from docker-compose
* Elasticsearch version: from docker-compose
* Browser + version: from docker-compose

### Expected behavior:

* The y-axis in reports (zammad.example//#report) should be not be limited to values >= 0.

### Actual behavior:

*

[2020-09-15 07:10] thorsteneckel commented on #3195
I checked the code base and the permission `chat` is never checked but only `chat.agent` – as you described/expected. Therefore the `chat` permission should not be selectable.

[2020-09-15 07:13] #3186 closed, assigned to mantas

[2020-09-15 07:36] #3191 closed, assigned to rolfschmidt

[2020-09-15 14:25] MrGeneration commented on #3115
I'm afraid we also have this variation:
[code]

Above mentioned tickets hold information on the affected mails.

[2020-09-15 20:39] seal61 opened #3197 "status change via "pending till" delayed"
### Infos:

* Used Zammad version: 3.1.x
* Installation method (source, package, ..): source
* Operating system: debian 9
* Database + version: postgresql
* Elasticsearch version: don't know how to check...
* Browser + version: firefox 80.0.1 (64-Bit)

### Expected behavior:

* zammad should change the status of a ticket to another status directly after pending time reached

### Actual behavior:

[2020-09-15 20:45] MrGeneration commented on #3197
This is due how Zammads schedulers are working.
By default, there's a delay of up 15 minutes which usually isn't an issue with e.g. pending close tickets.

However, if you require this particular scheduler job to run more often than every `900` seconds, you can use the following command within a rails console:

`Scheduler.find_by(name: 'Process pending tickets').update(period: 30)`

**Warning:** T

[2020-09-15 20:45] #3197 closed, assigned to nobody

[2020-09-16 06:54] rosscdh commented on #660
+1 for this issue; as its not always practical to have the filestore in the db (binary in db) and in cloud/kube pvc is not always available. Whereas s3 or s3lookalikes like minio would easily be supported with https://github.com/qoobaa/s3 or similar?

might even be able to take a stab at a PR (been a while since i wrote some ruby but why not)

[2020-09-16 08:00] monotek commented on #660
This would also help to achieve: https://github.com/zammad/zammad/issues/1601

+1 for a generic storage lib too.

[2020-09-16 14:56] martini opened #3198 "Unable to open ticket/content not loading"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Being able to open any ticket

### Actual behavior:

* Unable to open ticket if ticket was opened in Zammad 3.3 (or lower) with an upgrade in the meantime to Zammad 3.4 and higher w

[2020-09-16 15:02] rosscdh commented on #660
Started https://github.com/zammad/zammad/pull/3199

[2020-09-16 17:51] rosscdh commented on #660
is there a slack channel or something i can get some support for rails been a few years and just need a few tips on coffeescript .. need to add attributes to the form and assocaite with a model.. rails has changed quite a bit since i last used it

[2020-09-16 22:13] monotek commented on #660
Try the community forums: https://community.zammad.org/

[2020-09-17 08:52] lafiel opened #3200 "Zammad does not create a ticket for the first mail of unknown user"
Hi all,

just a bit of background info.
We just migrated from an old server (Ubuntu 16.04 LTS) to new (Ubuntu 20.04 LTS) one without updating Zammad.
One mailbox had an issues with this, because the mail server only supports TLS 1.0  and because Ubuntu 20.04 has stricter security settings hence send / receive failed.
An extra openssl.conf for Zammad, where TLS 1.0 is allowed, worked as a workaroun

[2020-09-17 09:19] MrGeneration commented on #3200
This looks rather like a technical question.
Please have a look into the temporary directory: `tmp/unprocessible_mail`

If the mail is found in there, then this may be a temporary issue for whatever reason.
However, Zammad always logs fetch processes, so I really can't imagine that try is missing.

Also ensure that the first mail was really sent to the mailbox folder Zammad is monitoring.

[2020-09-17 10:22] lafiel commented on #3200
The Zammad user directory tmp/unprocessible_mail is empty.

I've created a new mail address and retried the above steps and got the same result.
* First mail does not create a ticket (not logged)
* Second mail does create a ticket (is logged)

and both were sent to the same address.

[2020-09-17 10:49] MrGeneration commented on #3200
Please provide the full log output of the timespan you're trying to do so.
If the log is too sensitive, you may send it over to support [at] zammad [dot] com referencing to me and this issue.

[2020-09-17 13:01] lafiel commented on #3200
![inbox](https://user-images.githubusercontent.com/4946784/93473247-14a19b00-f8f6-11ea-82a4-b600e286d635.png)

* First mail was sent 11:50ish --> ticket does not exist (no logging but reply and notification were sent)
* Second was sent 12:00ish --> ticket exists (logging, reply and notfication mails also)

[production.log.txt](https://github.com/zammad/zammad/files/5239233/production.log.txt)

[2020-09-17 13:24] martini commented on #3189
I can confirm, that the error messages on signup are not shown correctly (in current develop):

![image](https://user-images.githubusercontent.com/110226/93475353-ca6de900-f8f8-11ea-9fb4-099011ce6371.png)

And also not shown correctly for new created admins (in current develop):

![image](https://user-images.githubusercontent.com/110226/93476192-cee6d180-f8f9-11ea-9831-53265525f5bc.png)

[2020-09-17 14:48] monotek commented on #660
Link to thread for reference: https://community.zammad.org/t/storage-s3-provider-pr/5307

[2020-09-18 08:50] MrGeneration commented on #2942
Sorry for the wait. 🙈
Here are your screencasts from a develop instance:

use case 1.1:
![issue2942_sample1-1](https://user-images.githubusercontent.com/6549061/93577578-82a09d80-f99c-11ea-824e-7034cd0cb5ca.gif)

use case 1.2:
![issue2942_sample1-2](https://user-images.githubusercontent.com/6549061/93577620-8df3c900-f99c-11ea-993c-02b0d5b5c55d.gif)

use case 1.3:
![issue2942_sample1-3](https://use

[2020-09-18 10:28] Madko commented on #2319
Sorry but this bug is still here on zammad 3.4 and can be easily reproduced on the free hosted zammad. You have to activate full quote email in reply tho.
http://www.linuxed.net/wp-content/uploads/captures/zammad/bug_zammad_signature.webm

[2020-09-18 10:41] mantas commented on #2319
Hi @Madko ,

Looks like I was able to reproduce this.

If I select a part of a message, possibly including a part of a signature, all is good. But if I select whole signature, wether including the rest of the message or not, then new signature is not added.

Doesn't seem to be affected by `ui_ticket_zoom_article_email_full_quote_header` though. Happens regardless if it's on or off.

[2020-09-18 11:52] vic-t opened #3201 "Layout problems in Restart Warning"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): package
* Operating system: Ubuntu 18.04
* Browser + version: Edge

### Description:

After making a change to the user object, I get the following message about Zammad needing a restart:

![image](https://user-images.githubusercontent.com/13408858/93594451-22b6f080-f9b6-11ea-91dd-baa71c64568f.png)

I guess there a

[2020-09-18 11:54] mantas commented on #3201
Duplicate of https://github.com/zammad/zammad/issues/3171 :)

[2020-09-18 11:54] #3201 closed, assigned to nobody

[2020-09-18 12:49] Madko commented on #2319
@mantas

Just in case I was not clear, It even happens when I don't select any part of a message, and in this cas only if I enable `ui_ticket_zoom_article_email_full_quote_header`
In the poor quality gif I made I was selecting the signature just to show it was there. Sorry for the confusion.

[2020-09-18 13:07] mantas commented on #2319
@Madko as in, just clicking "reply" without highlighting anything would cause this?

I tested on latest `develop` branch and got following results:

- clicking `reply` with no highlighting is OK

- highlight some portion of the message that does not include full signature is OK

- highlighting some portion of the message that includes full signature fails - no agent's signature attached.

Would yo

[2020-09-18 13:39] lafiel commented on #3200
I've found a log message in syslog but I don't know if it's related.

`Sep 17 11:48:25 server1 bash[1644461]: /opt/zammad/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/activerecord-5.2.4.3/lib/active_record/connection_adapters/mysql/database_statements.rb:34: warning: BigDecimal.new is deprecated; use BigDecimal() method instead.`

`Sep 17 11:48:26 server1 bash[1644461]: message repeated 3 times:

[2020-09-18 14:09] Tealk opened #3202 "untrapped exception in pythonfilter although the input works for e-mail accounts"
### Infos:

* Used Zammad version: 3.4.x
* Installation method:  package
* Operating system: Debian 10

### Expected behavior:

* Registering an SMTP mail server

### Actual behavior:

* The Error message: 451 4.3.0 pymilter: untrapped exception in pythonfilter

### Steps to reproduce the behavior:

* Entering mail data in e-mail notifications in the same way as for e-mail accounts
![image](https:

[2020-09-18 14:14] MrGeneration commented on #3202
Sorry but that's a technical question.
The error message you receive directly comes from your mail server.

Please use the Zammad community for technical questions or feature requests: https://community.zammad.org
You can also have a look at our support contracts in case you require business grade support: https://zammad.com/pricing#selfhosted

Closing.

[2020-09-18 14:14] #3202 closed, assigned to nobody

[2020-09-18 14:19] Tealk commented on #3202
And why @MrGeneration  do I only get this error when I enter the mail server at "E-Mail Notification", but when I enter the same server with the same data at "E-Mail Accounts", I don't get an error message.
For me this is clearly a bug, because in one function it allows the outgoing mail server, in the other function it does not.

![image](https://user-images.githubusercontent.com/12276250/9360872

[2020-09-18 14:20] MrGeneration opened #3203 "Removal of Google-Channel not possible via UI when having a normal email channel of same account"
### Infos:

* Used Zammad version: 3.4 (also verified on 3.4 develop `pre-release`)
* Installation method (source, package, ..): source & hosted
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Google Chrome v85
* Note: *This issue originally was found by community user [zoispag](https://community.zammad.org/u/zoispag) on [this community post](htt

[2020-09-18 14:30] MrGeneration commented on #3202
Please open a thread at the community.
This is **not a bug**.

[2020-09-18 15:27] Madko commented on #2319
if I click on reply under an message from an agent I don't have any signature. But I've got the signature if I do this under a customer message.

Is there an easy way to test zammad ? I mean the develop branch (like a docker image with develop tag) Not yet familiar with building zammad. But yes I can give it a try of course

[2020-09-18 18:00] mantas commented on #2319
@MrGeneration could you chime in on `develop` docker image?

[2020-09-18 18:51] MrGeneration commented on #2319
If you want a single throw away container:
https://hub.docker.com/r/zammad/zammad/tags - 3.5(...) should be develop in this case (I guess)

compose doesn't seem to have a develop tag

[2020-09-21 14:24] Twi1ightSparkle opened #3204 "Limit Groups in Notification settings should be in alphabetical order"
### Infos:

*Note: This post has been updated by @MrGeneration to meet our requirenments*
* Used Zammad version: 3.5
* Installation method (source, package, ..): hosted setup
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-IDs: #1079534
* See also https://community.zammad.org/t/limit-groups-in-notification-settings-should-be-in-alpha

[2020-09-22 10:56] MrGeneration opened #3205 "Removing organisations not possible without "last user" option"
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..): source // hosted
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified on Google Chrome latest
* Notes: Further input can be found on Ticket#1060469, this was internal git issue 316 before.

### Expected behavior:

* Administrators can remove organisations, eve

[2020-09-22 11:03] MrGeneration opened #3206 "Enhance DataPrivacy tasks to be at least removed"
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..): source // hosted
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified on Google Chrome latest
* Notes: This was internal git issue 326 before.

### Desired behavior:

* allow data privacy removal tasks to be canceled `changed my mind ™`
* differentiate between

[2020-09-22 11:41] MrGeneration opened #3207 "Extend ticket removal preview list"
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..): source // hosted
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified on Google Chrome latest
* Notes: This was internal git issue 325 before.

### Expected behavior:

The data privacy dialogue will provide more than 6 tickets if applicable.
There should be a

[2020-09-22 12:35] thorsteneckel commented on #2943
Implemented with the commit above 👏  closing.

[2020-09-22 12:35] #2943 closed, assigned to mantas

[2020-09-22 12:35] thorsteneckel commented on #3128
Implemented with the commits above 👏  closing now.

[2020-09-22 12:35] #3128 closed, assigned to thorsteneckel

[2020-09-22 12:37] thorsteneckel commented on #3198
Implemented with the commits above 👏  closing now.

[2020-09-22 12:37] #3198 closed, assigned to martini

[2020-09-22 13:37] Mebus commented on #3190
I can confirm this problem. Are there any workarounds?

[2020-09-22 13:41] MrGeneration commented on #3190
No workaround, it's technically not possible at the moment.

[2020-09-22 13:56] Mebus commented on #3190
Not even directly in the database?

[2020-09-22 13:58] thorsteneckel commented on #3190
@Mebus - this is already implemented and currently in review. Unfortunately it came up too late and didn't make it into the release. However, it will be added over the next days.
The workaround is to search users by name.

[2020-09-22 14:09] rolfschmidt commented on #3190
Hi @Mebus ,
can't you search for the email address in the users admin interface?

![grafik](https://user-images.githubusercontent.com/5445062/93893400-e0f7b400-fced-11ea-9407-2c6133ac2a9c.png)

The bug should be fixed soon with 3.5.1.

[2020-09-22 14:10] rolfschmidt commented on #3190
or global search

![grafik](https://user-images.githubusercontent.com/5445062/93893578-14d2d980-fcee-11ea-99c0-8b0d489566c6.png)

[2020-09-22 14:14] Mebus commented on #3190
I can search, but can't find him. I am running 3.5.0-1600773746.911896f5.stretch at the moment.

Mebus

[2020-09-22 14:20] rolfschmidt commented on #3190
@Mebus In the users admin interface you need to be sure that all roles are checkmarked. The global search should display him too hmm...

Alternatively you could try to search for a ticket of your customer and delete him from there?

![grafik](https://user-images.githubusercontent.com/5445062/93894788-692a8900-fcef-11ea-9841-b92440d7089d.png)

[2020-09-22 14:22] MrGeneration commented on #3190
Sorry but this seems to turn into a technical question.
If you can't find an existing user via the search function, please ensure that your searchindex is up to date.

If this still doesn't help, please consult the community for technical questions: https://community.zammad.org

[2020-09-22 14:52] MrGeneration commented on #3196
Personally I'd see this as an enhancement.
The thing is, while I understand your point a "negative" backlog looks strange.

Not sure how Thorsten thinks about this, he may change the tag later.

[2020-09-22 14:58] MrGeneration commented on #2966
Sorry for the wait, this went below my radar.
The error ID within the traceback and the error id in above mentioned error message to not match.

Please ensure that this is the same cause.
Please also try again with a current Zammad 3.5 as 3.3 and 3.4 are prune to security issues.

[2020-09-22 15:00] MrGeneration commented on #3130
I'm sure that this was because of a paying customer, however, I can't find any reference to that. If this was a ticket of a paying customer, please let me know and provide the ticket number. :-)

[2020-09-22 15:15] MrGeneration commented on #2912
I reworked the first article of issue #2503 it should now cover both cases.

[2020-09-22 15:15] #2912 closed, assigned to nobody

[2020-09-22 15:25] MrGeneration commented on #2503
I updated the first article to meet the requirements for account creation. This also affects issue #2912 which now is simplified to this issue.

@martinvonwittich I personally agree with options for password resets on specific user groups only, however, do not agree that this issue should cover it. These are to options within Zammad and -in my opinion- two playgrounds. This also will take out comp

[2020-09-22 15:28] MrGeneration commented on #2802
Sorry for the wait.
Is this still current and happening with an up to date stable Zammad installation?

Personally never seen such an issue up to now.
Looks like the file Zammad is not able to find attachments in your file system (`No such file or directory @ rb_sysopen - /opt/zammad/storage/fs/a9d1/9bb2/73d93/269a2/fdced17/5d34f0d/9ce1bf77204f01d824983be70d1edead`).
The reason for this *may* be t

[2020-09-22 18:04] shakalandy commented on #2802
Has not occured again, I'll close :)

[2020-09-22 18:04] #2802 closed, assigned to nobody

[2020-09-23 09:46] #3184 closed, assigned to MrGeneration

[2020-09-23 10:08] jangrewe opened #3208 "field [article] not present as part of path [article]"
### Infos:

* Used Zammad version: stable/3.5.0
* Installation method (source, package, ..): source
* Operating system: Debian
* Database + version: mariadb-server-10.4
* Elasticsearch version:  elasticsearch-oss 7.9.1
* Browser + version: -

### Expected behavior:

* no errors in log

### Actual behavior:

* log flodded with errors

### Steps to reproduce the behavior:

* run zammad

Yes I'm sure

[2020-09-23 10:11] MrGeneration commented on #3208
Sorry but this is rather a technical question.
Please consult the Zammad community for technical questions: https://community.zammad.org

If you require commercial grade support, you can learn more about our support contracts here: https://zammad.com/pricing#selfhosted

---

Ensure that the attachment plugin for Elasticsearch is installed and rebuild your outdated searchindex.

Closing.

[2020-09-23 10:11] #3208 closed, assigned to nobody

[2020-09-23 10:29] jangrewe commented on #3208
Thanks, running `rake searchindex:rebuild` fixed it.

[2020-09-23 12:01] lafiel commented on #3200
Do you know any recommendations I could try?

[2020-09-23 12:31] MrGeneration opened #3209 "Allow regular expression / exact matches for Triggers and Schedulers"
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1079611
* Note: We regulary have this topic within support request - this also appears once in a while within the Community.
* This is not covered by Issue #2185 as it's technically a different

[2020-09-23 13:18] MrGeneration opened #3210 "Allow image popup and download within Chat"
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: latest Google Chrome

### Desired behavior:

When having a chat conversation with a customer, the customer and agent can provide images they paste.
If they do so, Zammad allows clicking on the image in question w

[2020-09-23 14:39] wucherpfennig opened #3211 "KB menu should stack on mobile and not push outside the viewport"
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..): .deb
* Operating system: Debian 10
* Database + version: not necessary
* Elasticsearch version: dito
* Browser + version: all browsers

### Expected behavior:

* Footer menu should stack on mobile and not push outside the viewport

### Actual behavior:

* See screenshot

Desktop
![image](https://user-images.githubu

[2020-09-23 14:41] mantas commented on #3211
Hi @wucherpfennig ,

https://github.com/zammad/zammad/issues/3133 is already covering this (even though title may be not that clear). Closing this in favour of the old one.

[2020-09-23 14:41] #3211 closed, assigned to nobody

[2020-09-23 15:49] Vlad-Letnabov opened #3212 "No notification when creating a ticket"
### Infos:

* Used Zammad version: zammad-3.4.0-4
* Installation method (source, package, ..): docker image
* Operating system: Ubuntu 18.04
* Database + version: zammad-postgresql-3.4.0-4 ( 9.6.17 )
* Elasticsearch version: zammad-elasticsearch-3.4.0-4 ( 7.6.1 )
* Browser + version: Firefox 80.0.1 (64-bit)

### Expected behavior:
*

Creating a notification in browser when creating a ticket using

[2020-09-23 16:00] MrGeneration commented on #3212
Sorry but this looks like a technical question.
If you still can't solve your issue, please consult the Zammad community: https://community.zammad.org

If you require commercial grade support, you can learn more about our support contracts here: https://zammad.com/pricing#selfhosted

[2020-09-23 16:00] #3212 closed, assigned to nobody

[2020-09-23 20:16] Lapotor opened #3213 "Relative fields get copied on macro"
### Infos:

* Used Zammad version: v3.5.0
* Installation method (source, package, ..): package
* Operating system: Debain 10
* Database + version: postgres (PostgreSQL) 11.7
* Elasticsearch version: v7.9.1
* Browser + version: Firefox 80.0.1

### Expected behavior:

When on a macro you select `pending till` + `relative` and now change this to something else the normal expected form box will appear

[2020-09-24 07:27] MrGeneration commented on #3213
Big oof :D

Only seems to affects Macros

[2020-09-24 09:32] mantas commented on #3213
Damn! Same happens in Scheduler creation. Looks all forms with `ticket_perform_action` are affected.

[2020-09-24 09:48] eheinle-mak opened #3214 "link_template for ticket no longer shows a button after update to 3.5"
### Infos:

* Used Zammad version: 3.5.0
* Installation method (source, package, ..): source
* Operating system: Ubuntu 18.04.5 LTS
* Database + version: PostgreSQL 11
* Elasticsearch version: 7.6.1
* Browser + version: Firefox 80

### Expected behavior:

* I have a custom field as described in https://admin-docs.zammad.org/en/latest/system/objects.html, it's configured like in the attached screen

[2020-09-24 11:34] #3190 closed, assigned to rolfschmidt

[2020-09-24 11:37] thorsteneckel commented on #3190
Fixes with the commit above for develop / 3.6. Backport to stable / 3.5 ready in about 2h.

[2020-09-24 12:52] MrGeneration commented on #709
I'm not sure if this is still a valid point for you and still fails in your setup with a current Zammad instance.

I tried to reproduce above and also had a look into the referenced code part (which changed by now)

https://github.com/zammad/zammad/blob/master/app/controllers/form_controller.rb#L58-L72

Above code area verifies in realtime, yes, but it only seems to handle mx records by now.
I'm n

[2020-09-24 12:58] mantas commented on #709
@MrGeneration I doubt this issue is fixed so far. With an active firewall, I doubt it'd be `450`-ish error code.

The final solution for this would be a (hidden?) setting wether to check email server existence or stop at format verifying.

[2020-09-24 13:02] MrGeneration commented on #709
In fact Zammad did, in my test case, not try to contact any email servers.
This is why I didn't just use NXDOMAINS, but also a mx record pointing to a non existing mail server which the test instance doesn't even have a route to.

[2020-09-24 13:04] MrGeneration commented on #698
I believe that this directly covered by this issue:
https://github.com/zammad/zammad/issues/3067

As it's covering more than your issue (at least this is what I believe :x) I will close this issue as a duplicate.

Thank you very much for your time!

[2020-09-24 13:04] #698 closed

[2020-09-24 13:15] mantas commented on #709
Looking at the code... It checks existence of MX records. But doesn't check if those MX records are pointing to legit and active servers when submitting the web form :)

If OP's firewall blocks outgoing DNS calls, then he'd still be in trouble.

[2020-09-24 13:17] MrGeneration commented on #709
True, but in my opinion this then would be an edge case.
I don't know many systems that don't allow DNS requests.

[2020-09-24 13:19] MrGeneration commented on #494
I believe that this would be covered by issue https://github.com/zammad/zammad/issues/3067 ?

At least in my opinion, if so, we could close this issue as an duplicate. :)

[2020-09-24 13:26] mantas commented on #709
It's definitely an edge case. But this may be a PITA debug. And if somebody really wants to block all outgoing requests... Should we force them to open up the gates?

[2020-09-24 13:50] thorsteneckel commented on #709
I'm sorry for you @Schwobaland but this is an edge case that is currently out of our scope. We may address it in the future when focusing more on restricted systems but for now we will not address it. We can keep the issue open but there will be likely no change over the next 2-3 years covering it.

[2020-09-24 16:51] MrGeneration opened #3215 "Exchange Online MFA for IMAP & SMTP"
### Infos:

* Used Zammad version: 3.3 - 3.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1069103, #1077689

#### Note: Step by Step transition, user affection may vary

There are three situations where you'll need oAuth based authentication (MFA) - I'll provide the time period

[2020-09-24 19:11] envy opened #3216 "Debian installer does not fail if copying the nginx config fails"
### Infos:

* Used Zammad version: 3.5.0-1600952424.634fd409.buster
* Installation method (source, package, ..): apt via official repo
* Operating system: Debian Buster
* Database + version: doesn't matter for this
* Elasticsearch version: doesn't matter for this
* Browser + version: doesn't matter for this

Zammad want to provide its nginx config at /etc/nginx/sites-available/zammad.conf and then

[2020-09-24 22:06] monotek commented on #3216
This is not a bug when your installation does not follow the standard of debian / ubuntu.
If you wan't a customized installtion use the source installation method.

[2020-09-25 07:24] fgasparuk opened #3217 "Deadlock"
### Infos:

* Used Zammad version: 3.4.x
* Installation method (source, package, ..): package
* Operating system: Centos 7
* Database + version: mysqld  Ver 10.4.11-MariaDB for Linux on x86_64 (MariaDB Server)
* Elasticsearch version: elasticsearch.x86_64                 7.5.1-1
* Browser + version: Chrome (linux) Version 85.0.4183.102 (Official Build) (64-bit)

### Expected behavior:

*

### Actu

[2020-09-25 07:37] MrGeneration commented on #3217
Please provide your production log from that moment.

[2020-09-25 07:50] fgasparuk commented on #3217
Hi Marcel,

Thanks for your fast response.

Please find attached an extract of the production log, I grepped today from 6:50 to 7:00. The last update according to the screenshot was at 6:53.

Regards,
Federico

Federico Gasparrini
Nixe Limited
10 th Floor, Citypoint, 1 Ropemaker Street, London EC2Y 9AW, United Kingdom
Phone: +44 (0) 20 8370 7900
Fax: +44 (0) 20 8370 7901
Mobile: +44 (0) 780 879 25

[2020-09-25 08:03] fgasparuk commented on #3217
Hi Marcel,

I think the log times are one hour off, probably GMT.
The attachment on this email definitely has deadlocks that just happened

Regards,
Federico

Federico Gasparrini
Nixe Limited
10 th Floor, Citypoint, 1 Ropemaker Street, London EC2Y 9AW, United Kingdom
Phone: +44 (0) 20 8370 7900
Fax: +44 (0) 20 8370 7901
Mobile: +44 (0) 780 879 2525
Web: [ http://www.nixe.co.uk/ | http://www.nixe.c

[2020-09-25 08:05] fgasparuk commented on #3217
forgot the attachment

Federico Gasparrini
Nixe Limited
10 th Floor, Citypoint, 1 Ropemaker Street, London EC2Y 9AW, United Kingdom
Phone: +44 (0) 20 8370 7900
Fax: +44 (0) 20 8370 7901
Mobile: +44 (0) 780 879 2525
Web: [ http://www.nixe.co.uk/ | http://www.nixe.co.uk ]

Nixe s.r.l.
Pte. Luis Saenz Pena 366 4 "A", Buenos Aires, (1110), Argentina
Phone/Fax: +54 (0) 11 4383 7831 Ext.: 3002

Nixe Lim

[2020-09-25 08:07] MrGeneration commented on #3217
It seems like attachments don't make it into your comment when sending it via mail.
You may have to upload it directly via the Github page. :x

[2020-09-25 08:21] envy commented on #3216
I disagree with it not being a bug.
The install script tries to do something and fails:
[code]
Th script can easily check if something failed and then abort. I'm _not_ asking that the script should be adapted to fit my situation, I'm asking that the script should fail if it cannot do something it wanted to do. Because currently it ignores that error.

[2020-09-25 08:24] MrGeneration commented on #3216
I disagree on the part that the installer should exit and fail.
That would draw Zammad not installable on a custom environment - just because you've decided to use a different folder structure.

This needs adjustment on the install scripts ( e.g. https://github.com/zammad/zammad/blob/develop/contrib/packager.io/functions#L202 )

It's not a bug directly, but an enhancement.
It doesn't break anythin

[2020-09-25 09:08] thorsteneckel commented on #3216
Having an ENV with a fallback to the current default behaviour would be cool 🤔 However, not on our short term priority list. I'd love to see a PR for it though 😍

[2020-09-25 10:48] MrGeneration commented on #3214
Seems like the "isEmpty" check may no longer work.
Not too sure. No errors in production log as well.

https://github.com/zammad/zammad/blob/stable/app/assets/javascripts/app/views/generic/attribute.jst.eco#L23-L28

[2020-09-25 10:58] MrGeneration opened #3218 "Microsoft Teams for notifications (with pre-defined Webhook)"
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Note: This enhancement originally comes from one of several feature requests on our [community](https://community.zammad.org/t/integration-of-microsoft-teams/1409). Please don't use this issue for discussio

[2020-09-25 12:39] fgasparuk commented on #3217
[production.log](https://github.com/zammad/zammad/files/5282787/production.log)
Sorry for the delay, I got stuck in something.
Here's the log showing the deadlocks.
Regards,
Federico

[2020-09-25 12:51] thorsteneckel commented on #3217
Thanks @fgasparuk . I deleted it because of privacy reasons. Please get in touch with me if anyone needs the log.

[2020-09-25 12:54] MrGeneration opened #3219 "Determine if ES-Reindex is required and if so do it optionally"
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Desired behavior:

It would be great if Zammad could recognize if a reindex is required.
This would allow us
   * to provide modals to tell the admin to do that
   * trigger (optional) automatic reindexe

[2020-09-25 13:14] thorsteneckel commented on #3217
Hey @fgasparuk - this is really strange. The log should contain more information on where to error happens (backtrace) but doesn't. I also noticed that the times per request are super slow (see log excerpt below) – up to 26 seconds! I also saw many requests to the LongPolling controller which indicates that the web socket server is not running. Looks like there are more fundamental things wrong an

[2020-09-25 14:00] fgasparuk commented on #3217
Hi,

Thanks for the response.
The database is in a different server, could that account for the slow response? I guess I could move it to the same server to test.
Would it be just a case of:
Stop zammad
make a mysqldump of the zammad db
import it in the local server
change the setting in /opt/zammad/config/database.yml to point to the local db
start zammad

Would the above work?

Regards,
Federico

[2020-09-25 19:14] narendran-kannan commented on #3119
@mantas  Would like to work on this,  Please assign me!

[2020-09-26 04:16] mantas commented on #3119
@naresh3599 go for it 👍

[2020-09-28 10:17] sunweaver commented on #2962
I am currently in the process of evaluating and testing Zammad for my company. I'd like to send an auto-reply on incoming requests and quote the original message (that came from the customer via email).

I tested all the above variables and they all work but the layout of the quoted message texts looks awful here (using zammad 3.5.0-1600773746.911896f5.buster),

I see several issues:

  1. email s

[2020-09-28 10:31] MrGeneration commented on #2962
@sunweaver This feels like a hijack of this issue and more like a enhancement request.

Please create a feature request post on the Zammad community: https://community.zammad.org

We strictly divide bugs from technical questions and feature requests.

[2020-09-28 11:37] sunweaver commented on #2962
@MrGeneration: sorry and done [1]
https://community.zammad.org/t/improvements-for-email-body-quoting-in-zammad-triggers/5363

[2020-09-28 11:54] narendran-kannan commented on #3119
Cool!

[2020-09-28 12:33] MrGeneration opened #3220 "DataPrivacyTask - Can't remove user if still referenced in Overview(s)"
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-Number: ~~1079746~~

### Expected behavior:

You can remove any user, no matter the references the user does have.

### Actual behavior:

If you have a user referenced within an overview Zammad is no

[2020-09-29 07:04] rosscdh commented on #2716
+1 limits integration possibilities

[2020-09-29 07:20] rosscdh commented on #2716
somewhere in here: https://github.com/zammad/zammad/blob/develop/app/models/ticket.rb#L1104
and https://github.com/zammad/zammad/blob/develop/app/models/ticket.rb#L900

looks like here https://github.com/zammad/zammad/blob/develop/app/models/ticket.rb#L1031

a "serializer" needs to be created that injects/sanitises and renders the body so that the variables can safely be rendered into the content

[2020-09-29 08:19] pgodzwa opened #3221 "Failed db migration during update to 3.5.0"
### Infos:

* Used Zammad version: 3.5.0
* Installation method (source, package, ..): package
* Operating system: Ubuntu 16.04.6
* Database + version: mysql
* Elasticsearch version: 5.6.16
* Browser + version: Chrome

### Expected behavior:

* Update to 3.5.0 proceeds without any errors

### Actual behavior:

* 1st try:

`Setting up zammad (3.5.0-1600952424.634fd409.xenial) ...
chown: cannot acces

[2020-09-29 08:33] robertlemke commented on #1182
For the records, I just stumbled over this behavior in Zammad 3.4.x and was about to file a bug report until I discovered that there was one already. I don't think that this is critical, but it is, at least, confusing.

<img width="151" alt="image" src="https://user-images.githubusercontent.com/95582/94533127-12690600-023f-11eb-8373-09875aa188d5.png">

[2020-09-29 08:44] fthommen commented on #1182
Right, but the development team sees this as a feature, not a bug...

[2020-09-29 09:01] MrGeneration commented on #3221
Sorry but this looks like a technical question and a general issue on your system.
Zammad 3.5 uses Ruby 2.6.6 (in your case it still seems to use 2.6.0).

Please ensure that your system is able to write the new files into `/opt/zammad/`.
If you upgrade from a lower version than 3.x also upgrade via 3.0 and run the upgrade in a second step.

If you still need help, please consult the Zammad communi

[2020-09-29 09:06] MrGeneration commented on #1182
@fthommen & @robertlemke I think the same way you do. This is unexpected.
This may feel a bit edgy because this kind of big number jump mostly won't appear visible in most situations.

Anyway, I think the overview should sort as a human would expect it, not like the machine does.
Please feel free create a new bug report for this, because this one was solved, even though I'm not sure if it really w

[2020-09-29 09:10] thorsteneckel commented on #3221
JFI: The 2.6.0 is just the name of the folder for all gems that have a general 2.6 support. So 2.6.0 folder contains the dependencies for 2.6.6 as well.

However, I agree that you should update in steps when updating an older version as @MrGeneration. The community is the proper place for now.

[2020-09-29 09:10] #3221 closed, assigned to nobody

[2020-09-29 09:11] pgodzwa commented on #3221
Sorry, but everything was working fine before this update (and I was upgrading Zammad quite often). I was upgrading from 3.4, one of the latest releases.

@thorsteneckel

[2020-09-29 09:17] thorsteneckel commented on #3221
I see. Zammad expects the Setting `0010_postmaster_filter_trusted` to be present - which is in the default installation. The error (message) means that it got lost or moved in your installation. We can/will help you figure out the cause and possible fix but since it's not a general issue affecting all users it would be great if you could open a thread over at the [community board](http://community

[2020-09-29 09:21] YosefAdPro opened #3222 "Google App docs link broken"
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..): any
* Operating system:any
* Database + version: any
* Elasticsearch version:any
* Browser + version:any

### Expected behavior:

*
https://admin-docs.zammad.org/en/latest/channels/google/index.html

### Actual behavior:

*
https://admin-docs.zammad.org/en/latest/channels/google.html

https://github.com/zammad/zamm

[2020-09-29 09:21] robertlemke commented on #1182
:) This was in no way meant to be demanding – I'm just used to report ideas and findings, so I thought I'd contribute my 2 cents here …

[2020-09-29 09:25] MrGeneration commented on #1182
@robertlemke worry not, did not feeling that way. I do agree with you.

[2020-09-29 11:40] MrGeneration commented on #3222
Thanks for the hint. The redirection from the broken link now is active.
I'll correct above link to a later moment.

[2020-09-29 14:34] martini opened #3223 "Error: Kb locales is too long (maximum is 1 character)"
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* If `kb_multi_lingual_support` setting is false, only one kb locale should be possible to create. If already more kb locales are existing, a human error message should appear.

### A

[2020-09-30 08:38] ghost commented on #2360
Has not been fixed yet!

[2020-09-30 09:17] MrGeneration commented on #2360
@RidgeLock correct, the issue is still open. Nobody claimed it would have been fixed.
We see this as an enhancement which currently has no priority or roadmap.

Please note that we can't provide ETAs.
I'm locking the conversation of this issue to stop `+1` and similar bumps. This helps us to focus.

[2020-09-30 13:32] cchinnu379-student opened #3224 "Zammad is not installing"
I am using Godaddy VPS Hosting, want to use zammad as a help desk.
I followed your steps as it is,
I opened the terminal and installed zammad.
when I try to start zammad, I get an error stating "failed to start zammad.service"

I use CentOS 7, and want to install zammad on subdomain.
Please help me out with this.

[2020-09-30 13:55] MrGeneration commented on #3224
Sorry, but the Zammad repository is not the correct place for technical questions.
Please consult the Zammad community instead: https://community.zammad.org

If you require commercial grade support, you can also learn more about our support contracts if you're interested: https://zammad.com/pricing#selfhosted

Closing.

[2020-09-30 13:55] #3224 closed, assigned to nobody

[2020-10-01 06:38] lafiel commented on #3200
Are there any commands, logging levels I could try?

[2020-10-01 12:27] MrGeneration commented on #3200
I'm sorry, I currently have no capacity in terms of time and will get back to you as soon as possible.

[2020-10-02 08:36] Vogelkoje opened #3226 "In the role settings a role can not be agent and customer at the same time"
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-Number: #1079878, #1079904, #1079910

### Expected behavior:

* Since version 3.5 it should also be possible to be customer and agent at the same time. So it should also be possible in the UI -> Admi

[2020-10-02 09:19] MrGeneration opened #3227 "Allow trigger to adjust article visibility"
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-Number: #1079482

### Desired behavior:

Zammad allows the creation of a trigger that can change the article visbility to e.g. internal.

Examples:
   *If you have a specific user base that you want

[2020-10-02 11:41] martini opened #3228 "Improve Data Privacy - task list UI of completed tasks with common UI behavior"
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Better distinct what entries are already processed.

![image](https://user-images.githubusercontent.com/110226/94919401-b6a7b280-04b4-11eb-91b4-b5caeeb5f31e.png)

### Actual behavio

[2020-10-02 11:51] rolfschmidt commented on #3226
Hi @Vogelkoje ,

how does your role configuration look like?

Can you post it here or send it to support@zammad.com if it contains sensitive data? (include issue link, your username and mention me pls)

`zammad run rails r "pp Role.all"`

[2020-10-02 12:46] #3215 closed, assigned to rolfschmidt

[2020-10-03 13:57] merced317 opened #3229 "Can't complete LDAP setup due to Uncaught RangeError: Maximum call stack size exceeded"
### Infos:

* Used Zammad version: 3.5.x
* Installation method (source, package, ..): deb package
* Operating system: Ubuntu 18.04
* Database + version: Postgres 10
* Elasticsearch version: 7.9.0
* Browser + version: Google Chrome 85

### Expected behavior:

* LDAP configuration completes

### Actual behavior:

* Clicking "Continue" on the Users/Roles/Experts page throws the following error in the

[2020-10-03 15:24] merced317 commented on #3229
I was able to get the configuration to save if I didn't attempt to assign any Roles during configuration.  If I attempt to assign any roles, I get the "Maximum call stack size exceeded" error.  I suspect this has to do with the large number of ldap groups in my organization's AD setup.  This wasn't a problem in earlier versions of Zammad so I don't know what changed.  I suspect this issue could be

[2020-10-03 18:29] ntinti commented on #2616
Any News? Or how does "Horst" install Zammad 3.4 on FreeBSD 12.1 ?
https://community.zammad.org/t/locking-a-record-with-unpersisted-changes-is-not-supported/4861

[2020-10-03 22:51] kapfenho commented on #2616
Sorry - I've passed this workaround to MacLemon, but we forgot to post them here.

Attached you can find the steps: [upgrade-zammad-3.4.0.txt](https://github.com/zammad/zammad/files/5322391/upgrade-zammad-3.4.0.txt)

Summary: the problems are in the asset compilation step, where the final
javascript and css files are created.

You can execute this step on another OS and copy the results - the file

[2020-10-05 11:29] narendran-kannan commented on #3119
@mantas In which case, you get gibberish error?

[2020-10-05 11:31] mantas commented on #3119
@narendran-kannan see steps to reproduce in the issue report ;)

[2020-10-05 11:32] MrGeneration opened #3230 "Hybrid Office-Accounts can't authenticate via Office 365 login"
### Infos:

* Used Zammad version: up to Zammad 3.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Tickets: #1078744, #1079281

### Expected behavior:

You can login with any Microsoft Account to Zammad.

### Actual behavior:

You can't use azure accounts that are used within a hybrid on Pre

[2020-10-05 11:48] #3230 closed, assigned to thorsteneckel

[2020-10-05 12:20] ThePatzen opened #3231 "KnowledgeBase Broken 500"
### Infos:

* Used Zammad version: 3.5.0-1601452467.437a9ac8.stretch
* Installation method (source, package, ..): Package
* Operating system: Debian Stretch
* Database + version: Postgres 9.6
* Elasticsearch version: -
* Browser + version: Chrome latest

### What happens and goes wrong:

When i visit the knowledgebase threw the custom URL I get a Error 500 with the following Log Entry:

[code]

[2020-10-05 12:40] MrGeneration commented on #3231
Please also provide the steps to reproduce.
This helps others to see if they're affected as well and if e.g. mantas requests to reproduce this stuff.

[2020-10-05 13:25] ThePatzen commented on #3231
1.) Enable Knowledgebase  and set Custom Url to for example support.xx.xx
2.) Setup Nginx/Apache like in Documentation. -> At this step allready everything worked.
3.) Somehow when i surfed today on support.xx.xx only a Error 500 was shown. Maybe this is a bug with the latest update!

[2020-10-05 13:30] delphi-sucks opened #3232 "OTRS Migration with merged tickets fails"
### Infos:

* Used Zammad version: 3.5.0-1601452467.437a9ac8.xenial
* Installation method (source, package, ..): Package
* Operating system: Ubuntu 16.04.7 LTS
* Database + version: MySQL 5.7
* Elasticsearch version: 7.9.2
* Browser + version: Not applicable

### Expected behavior:

Ticket gets imported with the articles.

### Actual behavior:

Import fails with:
`ERROR: Can't extract customer fro

[2020-10-05 13:34] MrGeneration commented on #3232
Do you happen to have a full traceback of the issue? This may help to find the part within the code.

[2020-10-05 13:36] MrGeneration commented on #3229
Are you able to adjust mappings after updating the rest of the configuration or does it consistently fail?
Any error messages regarding LDAP within your production log?

Possibly also an issue because of your LDAP size.
Which Active Directory version are you using and how many objects can be found via the filter you're using within Zammad=

[2020-10-05 13:42] HristoA opened #3233 "ProtonMail Bridge error: Can’t use Channel::Driver::Imap: #<Net::IMAP::NoResponseError: unsupported search query>"
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Zammad read/parse IMAP  data from ProtonMail Bridge as do for any other mail client/provider and all function of Zamamd to work as suppose to work

### Actual behavior:

* `Can’t us

[2020-10-05 13:53] delphi-sucks commented on #3232
The stacktrace for the moment when the error gets logged would be:
[code]

Let me know if this isn't enough additional information.

[2020-10-05 14:22] delphi-sucks commented on #3232
Well, got something better for you:
[code]

This should probably help quite a bit.

[2020-10-05 14:27] MrGeneration commented on #3232
Mucho better. :)

Thanks!

[2020-10-05 15:34] merced317 commented on #3229
I am unable to adjust mappings after updating the rest of the configuration.  It consistently fails.

Could I please have some more precise instructions on how to check this.  I am also nervous about sharing logs as there is potentially sensitive group information contained within.

"Active Directory version" Do you mean domain functional level?  I'm not sure how to answer this question properly.

[2020-10-05 16:29] MrGeneration opened #3234 "Renaming a Group should trigger reindexing"
### Infos:

* Used Zammad version: 3.5 and earlier
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket#: 1079416

*Note: This may also affect other objects within the search index if a referenced object gets renamed.*

### Expected behavior:

You can search for for tickets that life in a r

[2020-10-05 19:24] merced317 commented on #3229
It turns out a few AD controllers silently failed their certificate updates and fell back to locally signed to keep working. Therefore, the previously mentioned ssl_verify changes were a local problem and not one with Zammad. The other issues as reported still remain.

[2020-10-06 06:19] thorsteneckel commented on #3229
Hi @merced317 - Would it be possible to get a (somehow anonymised) copy of your `ldap_config`? You can send it to support at zammad.com and refer to this issue. This will help us a lot to reproduce and resolve this issue.

[2020-10-06 08:40] delphi-sucks opened #3235 "OTRS migration doesn't import article creation time"
### Infos:

* Used Zammad version: 3.5.0-1601452467.437a9ac8.xenial
* Installation method (source, package, ..): Package
* Operating system: Ubuntu 16.04.7 LTS
* Database + version: MySQL 5.7
* Elasticsearch version: 7.9.2
* Browser + version: Not applicable

### Expected behavior:

The created_at-time of the article in Zammad is the same like it was in OTRS.
Tickets on the other hand get imported

[2020-10-06 08:56] h133gqa commented on #3231
We are facing the same error 500 with the Knowledge base since last update (debian -> 3.5.0-1601900412.9800cbbe.xenial).
Mainly this is present to the production.log of zammad:
[code]

[2020-10-06 11:58] #3226 closed, assigned to rolfschmidt

[2020-10-06 12:03] #3189 closed, assigned to mantas

[2020-10-06 12:18] MrGeneration commented on #3235
Please provide the following output:
`zammad run rails r "p Setting.get('import_mode')"`

Thank you

[2020-10-06 12:23] delphi-sucks commented on #3235
Import-Mode is enabled:
[code]

[2020-10-06 13:36] merced317 commented on #3229
While I work on trying to anonymize 7.7MB of data, is [this](https://github.com/zammad/zammad/issues/981#issuecomment-297700787) an official way of populating the `ldap_config` without using the web interface?  It would seem to me that using that method I could set the `group_filter` as desired.  Please advise.

[2020-10-06 13:44] thorsteneckel commented on #3229
😖 only way I can think of is exporting it to JSON (as you already did), change it in the editor of your choice and then importing it again via `Setting.set('ldap_config', JSON.parse(File.read('/path/to/your/ldap_config.json')))`. It might be easier to do when using `JSON.pretty_generate(Setting.get('ldap_config'))` instead of `Setting.get('ldap_config').to_json` when exporting your config.

A vali

[2020-10-06 13:47] merced317 commented on #3229
I will refer to the community board as suggested for future technical questions.  Any chance the above information could be added to the official documentation for zammad as I suspect a number of people would prefer to maintain configuration files _not_ via a web interface?  Especially if that web interface breaks for any number of reasons and we need to get in the back end to fix something?  I ap

[2020-10-06 13:54] thorsteneckel commented on #3229
Thanks for the proposal. Since the introduction of the LDAP feature we haven't had the request for that. We try to focus on 80% of the use cases for the documentation to avoid maintenance overhead and confusion. However, we might be wrong. There is a dedicated place for such and other proposals over at the community board where other users can add their votes: https://community.zammad.org/c/Stuff-

[2020-10-07 05:17] mantas opened #3236 "Setup wizard should allow to add Google and Office365 channels"
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* When setting up a new system, Google or Office365 channels can be added right away

### Actual behavior:

* When setting up a new system, only email (= IMAP) channel can be added in

[2020-10-07 05:18] mantas opened #3237 "Setup wizard should allow to invite colleagues when skipping email channel setup"
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* When setting up a new system and skipping email channel, `Invite colleagues` screen should pop up

### Actual behavior:

* When setting up a new system and skipping email channel, `

[2020-10-07 06:38] #3231 closed, assigned to mantas

[2020-10-07 06:39] mantas commented on #3237
Closing as not fixable. Apparently can't send out invite while no email channel is configured! Whoops.

[2020-10-07 06:39] #3237 closed, assigned to nobody

[2020-10-07 06:39] thorsteneckel commented on #3231
Fixed for develop/pre 3.6. Fix for 3.5 is currently running on CI and will be ready to install in about 2 hours.

[2020-10-07 07:05] #3195 closed, assigned to MrGeneration

[2020-10-07 08:54] MrGeneration commented on #2958
I'm sorry, but I can no longer reproduce this.
It seems like this was magically self healed or solved by another issue.

Verified on Zammad 3.5

![image](https://user-images.githubusercontent.com/6549061/95309473-79b03700-088b-11eb-8712-cc417a7cae5d.png)

[2020-10-07 09:00] MrGeneration commented on #2958
This is / was a duplicate of issue #2860 and seemed to indirectly got fixed by a1f2346a24c745ac53ff188fe5e26f16ddfd9483

If not, above issue just was a missing translation within the system that "magically" appeared without any further hints and traces.

[2020-10-07 09:00] #2958 closed, assigned to nobody

[2020-10-07 09:08] MrGeneration commented on #3237
Invitations should be sent out via the notification channel.
Zammad does force you to configure your notification channel - it's either SMTP or sendmail.

However, if you skip that part and leave it as is, it will be sendmail and thus requires you to have it configured already.
So this may also be the reason why it fails.

I personally think it's enough to have it within the Dashboard. If you're s

[2020-10-07 09:49] MrGeneration commented on #3217
Shoudl work, yes.

Please note that this repository is not the right place for technical questions.
If you need technical assistance, please create a thread at the Zammad Community: https://community.zammad.org

---

Fingers crossed that moving to a local database helps to solve your access times.

[2020-10-07 09:51] MrGeneration commented on #2966
As I haven't heard back and currently can't reproduce the described issue, I'll be closing this.
If you require technical assistance, please consult the Zammad community at https://community.zammad.org

In case you require commercial grade support, our support contracts may also help: https://zammad.com/pricing#selfhosted

[2020-10-07 09:51] #2966 closed, assigned to nobody

[2020-10-07 09:53] MrGeneration commented on #3155
As I haven't heard back and can't reproduce your described issue, I'll be closing this issue.

If you require technical assistance, please consult the Zammad community: https://community.zammad.org
In case you require commercial grade support, our support contracts may be of interest: https://zammad.com/pricing#selfhosted

[2020-10-07 09:53] #3155 closed, assigned to nobody

[2020-10-07 09:55] MrGeneration commented on #3158
As I haven't heard back and thus am unable to reproduce the issue you tried to describe, I'll be closing this issue.

If you require technical assistance, please consult the Zammad community: https://community.zammad.org
In case you require commercial grade support, our support contracts may be of interest: https://zammad.com/pricing#selfhosted

[2020-10-07 09:55] #3158 closed, assigned to nobody

[2020-10-07 10:05] MrGeneration opened #3238 "Editing @Login message is hard with invisible text"
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Google Chrome latest and Safari
* Ticket: #1080027

### Expected behavior:

You can, at any time, read the login message during editing or hovering.

### Actual behavior:

Hovering or editing the login message dr

[2020-10-07 10:26] MrGeneration opened #3239 "SLA calendar datepicker visually broken"
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Google Chrome latest
* Ticket: #1080027

### Expected behavior:

You can read the datepicker when adding custom holidays within the SLA calendar.

### Actual behavior:

When using the datepicker for custom holida

[2020-10-07 10:31] mantas commented on #3239
Seems to be duplicate of https://github.com/zammad/zammad/issues/2776 which is fixed in `develop`

![Screenshot 2020-10-07 at 13 30 38](https://user-images.githubusercontent.com/36944/95319923-55f7eb80-08a1-11eb-841f-25845e170458.png)

[2020-10-07 10:46] MrGeneration commented on #3239
Whoopsies, you're right - sorry!

[2020-10-07 10:46] #3239 closed, assigned to nobody

[2020-10-07 10:47] mantas commented on #3239
No problem. Better report twice than skip a bug entirely :)

[2020-10-07 15:09] #3132 closed, assigned to MrGeneration

[2020-10-07 15:20] rolfschmidt commented on #2517
Hey guys,

i was able to reproduce #2517 and also the case of @TomFuch . But there is duplicate #2679 where the @gestoramd and @MadNBG provided a report about object manager attributes which are not restrictable in the report profiles. I tried to reproduce it but i was not able to reproduce the bug with a simple text field and not able to reproduce it with a select field. Also in the video of @ges

[2020-10-07 17:35] ThePatzen commented on #3231
Perfect! Thanks for your work!

[2020-10-08 07:09] MrGeneration commented on #2679
After re-visitting this with developers we could no longer reproduce this in a stable where above mentioned issue is not yet fixed.
It seems like -in your case- you had tickets that appear on a not ticket in selector "Primeira Solucao" which actually delivers results as you can see in the screen from your video below:

![image](https://user-images.githubusercontent.com/6549061/95425846-361a0380-09

[2020-10-08 08:57] MrGeneration opened #3240 "Allow reauthentication of Google / Microsoft 365 accounts"
### Infos:

* Used Zammad version: 3.4+
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Migrated from internal issue 307

### Possible solution

I currently can think of 2 ways to solve this:

### 1. Allow "Add Account" to also "reauthenticate" existing accounts

While this doesn't need furth

[2020-10-08 10:45] MrGeneration opened #3241 "LDAP connection not closed cleanly (no unbind, connection lost)"
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* This originally comes from the community: https://community.zammad.org/t/ldap-integration-missing-unbind/5404
* Technically this is a third party issue with net-ldap (the gem we're using): https://github.co

[2020-10-08 12:14] #2517 closed, assigned to rolfschmidt

[2020-10-08 12:15] rolfschmidt opened #3242 "Reporting does not update ticket list when the ticket count is the same (frontend cache bug)"
### Infos:

* Used Zammad version: 3.5.x
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

### Expected behavior:

* Reporting should show the correct ticket list

### Actual behavior:

* It does not change the ticket list from time to time.

### Steps to reproduce the behavior:

* Create 3 prof

[2020-10-08 12:26] rolfschmidt opened #3243 "Relational report filters do not work (ticket.organization.*, ticket.article.*, ticket.customer.*)"
### Infos:

* Used Zammad version: all
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all
* Ticket: #1073785

### Expected behavior:

* Following filters in report profiles should work:

![grafik](https://user-images.githubusercontent.com/5445062/95457526-519b0380-0971-11eb-8cbb-2e4cb9c86755.png)

[2020-10-08 13:09] MrGeneration opened #3244 "Rename Channel: Office 365 to Microsoft 365"
### Infos:

* Used Zammad version: current develop
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Desired behavior:

Please rename the channel `Office 365` to `Microsoft 365` as Office 365 is no longer a distributed product by Microsoft.
The new name is `Microsoft 365`.

### Actual behavi

[2020-10-08 13:13] MrGeneration opened #3245 "Rename Third-Party login: Office 365 to Microsoft 365"
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Desired behavior:

`Office 365` is no longer an available product by Microsoft.
Instead the login option should rather be called `Microsoft` or -if we must- `Microsoft 365`.

Personally, as the login fun

[2020-10-08 13:23] mantas opened #3246 "Knowldge Base internal answer view goes out of screen if previous or next answer title is very long"
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket: #1079375

### Expected behavior:

* Long answer titles in previous/next buttons are trimmed to fit on screen

### Actual behavior:

* Long answer titles in previous/next buttons go out of screen

![

[2020-10-08 13:42] #3246 closed, assigned to mantas

[2020-10-08 13:46] #3242 closed, assigned to rolfschmidt

[2020-10-09 07:17] MrGeneration opened #3247 "CTI-API should handle doubled requests better"
### Infos:

* Used Zammad version: 3.4 & 3.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Telephone system: Swys
   * Reproduced with real data via curl
* Ticket: #1078733
* Note: This may not just affect generic CTI, but also placetel and sipgate

### Expected behavior:

If your instance

[2020-10-13 15:24] rolfschmidt commented on #3214
escalated in Ticket#1080235

[2020-10-14 07:29] JanDoe8805 opened #3248 "Zammad 3.5 Tags cannot be set"
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..):
* Operating system: Ubuntu 18.04.5 LTS
* Browser + version: Firefox 78.3.1esr + Chrome 86.0.4240.75

### Expected behavior:

Tags should work

### Actual behavior:
Tags cannot be assigned to Tickets.
*

### Steps to reproduce the behavior:

Please see https://community.zammad.org/t/tags-are-not-saved/5470

Yes I'm

[2020-10-14 08:37] JanDoe8805 commented on #3248
Log auszug:
`I, [2020-10-14T10:32:15.876240 #52604-47164867198200]  INFO -- : Started GET "/api/v1/tag_search?term=" for 80.151.xx.xx  at 2020-10-14 10:32:15 +0200

I, [2020-10-14T10:32:19.817239 #52604-47164867197080]  INFO -- : Started GET "/api/v1/tags/add?object=Ticket&o_id=151906&item=3D+Glasfoto&_=1602664331627" for 80.151.xx.xx  at 2020-10-14 10:32:19 +0200

I, [2020-10-14T10:32:19.830207 #

[2020-10-14 11:20] martini commented on #3248
@JanDoe8805 Please make sure that you cleared your browser cache & restart Zammad on server site after upgrade. Then reload Zammad in your browser. Is it working then?

[2020-10-14 11:26] JanDoe8805 commented on #3248
no. also tried in private mode within firefox and chrome. same problem

[2020-10-14 11:28] martini commented on #3248
Thanks for feedback. It seems that you are still using a old Zammad web app. The new (Zammad 3.5) web app would use post for adding new tags. So for some reason the new web app is not loaded in your browser.

[2020-10-14 11:38] JanDoe8805 commented on #3248
Maybe i have to change apache-proxy-settings?
`#
# this is the apache config for zammad
#

<VirtualHost *:443>
SSLEngine on
RequestHeader set X_FORWARDED_PROTO 'https'
RequestHeader set X-Forwarded-Ssl on
SSLStrictSNIVHostCheck on

    # replace 'localhost' with your fqdn if you want to use zammad from remote
    ServerName service.xxx.com
    ServerAdmin hostmaster@xxx.com

    ErrorLog ${APACHE_

[2020-10-14 11:57] MrGeneration commented on #3248
This has nothing to do with your webserver configuration.
Ensure that your browser does not use a cached old Zammad-WebApp-Version (aka clear your cache) and that you have the latest Zammad 3.5 stable installed.

The route change was introduced with Zammad 3.5 due to a security issue (see: https://zammad.com/news/security-advisory-zaa-2020-17 ). This was also pointed out here: https://community.za

[2020-10-14 11:57] #3248 closed, assigned to nobody

[2020-10-15 03:27] 4-l-Clover commented on #2842
Hi. thorsteneckel.
My name is Wang Jia and I got email from Sandra Kuznic that I need to solve 3 issues for apply to your company.
I installed zammad app in my local and I checked ticket problem.
I have some questions for this ticket.
Could we discuss here or can you invite me slack?
Thanks

[2020-10-15 03:49] mantas commented on #2842
Hi @4-l-Clover ,

Feel free to ask directly in GH issues if the question is about the issue itself. If it's a more generic question or you want to, ask Sandra to forward your email to Thorsten or me.

[2020-10-15 04:31] 4-l-Clover commented on #2842
Thanks.
This is Agent Ticket Assign Page. https://prnt.sc/uzl814
And this is customer ticker view page. https://prnt.sc/uzl8g0

Could you specify where the linked KB Answer will be on?
Thanks

[2020-10-15 04:35] mantas commented on #2842
This issue is talking about "Related answers" bit in sidebar. Currently it's visible to agents only. Ideally it'd show up to customers too. But show only public answers.

[2020-10-15 08:59] #3214 closed, assigned to rolfschmidt

[2020-10-15 12:17] rolfschmidt commented on #3220
Hi @KoJie , this is fixed now.

[2020-10-15 12:17] #3220 closed, assigned to rolfschmidt

[2020-10-15 12:17] rolfschmidt commented on #3214
Hi @KoJie , check this out.

[2020-10-15 14:23] rolfschmidt commented on #3214
@KoJie basically there are currently two expected ways to handle your url data in objects right now:

# Use case 1: Fixed base url with dynamic parameters

Here we can see a Format Text + Type Text field which is used to open a google search. The base url for the query is always the same. But the string we want to search will be defined in the ticket.

**Configuration**

![grafik](https://user-ima

[2020-10-15 14:54] rolfschmidt commented on #3214
@MrGeneration do you we need to fix the documentation?

[2020-10-16 13:04] isyuricunha-zz opened #3249 "why is there no option to delete groups, organizations and users?"
how can I delete Groups, Users and Organisations and why I dont see this option?
I don't know if this is a bug or if there is another method to do this but, I believe it can be a tool to be added
I didn't find anything about it, so if anyone can help me, I'll be grateful

[2020-10-16 13:06] MrGeneration commented on #3249
Please don't post technical questions or feature requests on the Zammad repository. It's the wrong place.
You can create feature requests or ask technical questions at the Community Board: https://community.zammad.org

Also, this is actually mentioned in the documentation:
https://admin-docs.zammad.org/en/latest/system/data-privacy.html

You can remove groups without deep knowledge (for reasons).

[2020-10-16 13:06] #3249 closed, assigned to nobody

[2020-10-19 03:26] #3228 closed, assigned to martini

[2020-10-19 07:08] HristoA commented on #3233
Hi.
Is there a way to help you? :)
Thanks

[2020-10-19 09:58] #3148 closed, assigned to mantas

[2020-10-19 12:43] HristoA opened #3250 "Migration from OTRS error - could not find a valid input encoding (EncodingError)"
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Used OTRS version: 5.0
* Znuny4OTRS-Repo: 5.0.55
* Znuny4OTRS-ZammadMigrator: 5.0.3

### Expected behavior:

* Importing of big number of OTRS tickets to finish with success and data to be imported in right

[2020-10-19 15:01] martini commented on #3250
@HristoA thanks for feedback. Please update Zammad and try it again. Feedback is welcome.

[2020-10-19 15:01] #3250 closed, assigned to martini

[2020-10-19 19:27] FIDUSweb opened #3251 "Agents without permission for attributes may see these in histories"
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..): deb
* Operating system: Ubuntu 20.04.1 LTS
* Database + version: postgresql 13
* Elasticsearch version: 7.9.0
* Browser + version: MS Edge 86.0.622.43 & Firefox 81.0.2

### Expected behavior:

* Roles without permission for some object attributes e.g. note mustn't see the changes for these attributes in e.g. user h

[2020-10-20 03:16] 4-l-Clover commented on #2842
Hi. mantas.
As my checking with this issue, it doesn't show KBAnswer on the sidebar when the user sign as a customer because @editTicket doesn't process @linkKbAnswerWidget in app/assets/javascripts/app/controllers/ticket_zoom/sidebar_ticket.coffee
When I add @linkKbAnswerWidget in "else" statement, it shows KBAnswer on customer's ticket sidebar.
I attached my code with screenshot.
https://user-im

[2020-10-20 04:18] mantas commented on #2842
Hi @4-l-Clover ,

You're looking in a correct direction. But there're several bits left.

Also, the less copy-paste, the better :) Our codebase is not exactly DRY, but we're trying to clean it up a bit :)

[2020-10-20 08:13] 4-l-Clover commented on #2842
Thanks.

[2020-10-20 16:15] MrGeneration opened #3253 "Remove ServerTokens from apache configurations"
### Infos:

* Used Zammad version: Zammad 3.5 and earlier
* Installation method (source, package, ..): any but hosted
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

Apache2 starts without issues using the default http configuration files.

### Actual behavior:

Apache2 can't start, because `ServerTokens` is no valid

[2020-10-20 18:09] 4-l-Clover commented on #849
Hi. @mantas
If I were to change ticket_id to ticket_number, which part do I have to fix?
All API request is processing by ticket_id in the current codebase.
I have two options now.
1. fetching ticket_id with ticket_number from ruby backend in ticket_zoom.coffee file
2. add new Ruby API for all ticket operation done by ticket_number

what do you think about this?

[2020-10-21 05:23] mantas commented on #849
Hi @4-l-Clover ,

Which would be you preferred option and why?

This is a really complex issue (that's why it's open for so long) and we certainly don't expect a full-fledged PR for the application. We're interested in seeing your thinking and decision making above all :)

[2020-10-21 09:34] mantas commented on #3233
Hi @HristoA ,

Are there any extra steps to reproduce the error? I added Protonmail account and no errors so far.

[2020-10-21 09:40] greedybro commented on #3233
As far as i'm concerned, no extra-steps.

On what platform are you testing ?
How are you running protonmail-bridge ? (trying to determine docker's fault in this issue)

Thanks for taking the time to address our issue !

[2020-10-21 09:40] 4-l-Clover commented on #849
Hi. @mantas.
The current codebase is written by ticket_id, not ticket_number.
If we are going to use ticket_number, we must change many related parts in FE and BE.
So I am suggesting option 1 for this problem.
It can help us to minimize the changes in codebase.
I am going to figure out with option 1.
I will post my detailed solution soon.

[2020-10-21 09:57] martini opened #3254 "Remove not needed package install dependencies (imlib2-devel & libimlib2-dev)"
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Only install required packages as dependencies.

### Actual behavior:

* Too many packages are required as dependencies (imlib2-devel & libimlib2-dev are not needed).

[2020-10-21 10:08] mantas commented on #3233
Tested on `3.5.0` as well as `develop` branch locally with a protonmail-bridge provided by a customer (which may or may not be @HristoA ?) Added account and channel was verified successfully.

[2020-10-21 10:53] HristoA commented on #3233
Hi @mantas
Ya I provide the credentials for Protonmail Bridge (version 1.2.7) installed on CentOS 7.
Zammad is installed on CentOS 7 via RPM. Adding account work (connection success) but after  ~10-15 seconds error popup (one from screenshot).

Thanks

[2020-10-21 10:58] mantas commented on #3233
Hi @HristoA

Do you do anything during that time? Or just let it sit idle?

Any emails coming in/out, either via Zammad or that mailbox directly?

[2020-10-21 11:59] HristoA commented on #3233
Nothing just wait...
I have 2 VPS for ProtonMail bridge. One that i use and one that i create for account that you @mantas use.
I made few additional tests:
- I just open again the instance and see the same message
- Enter your credential and all work without problem and errors
- Delete my email account and re added it to my Zammad instance and new error popup:
![image](https://user-images.githubu

[2020-10-21 12:19] greedybro commented on #3233
hi @HristoA and @mantas !

I can confirm that setting `Keep messages on server = NO` does not throw errors and successfully retrieved my test email.

Interesting lead ! good job !

[2020-10-21 13:44] #3254 closed, assigned to martini

[2020-10-21 14:12] MrGeneration commented on #563
Hey @monotek ,

I just touched your first article, could you please have a look at my edit to see if I catched your use case correctly?
This will help us to touch the places you really meant. :)

Thanks!

[2020-10-21 16:00] monotek commented on #3254
Hmm... My docker & docker-compose build are failing without it?

https://github.com/zammad/zammad-docker/pull/41/checks?check_run_id=1287009726#step:3:1430
https://github.com/zammad/zammad-docker-compose/pull/178/checks?check_run_id=1287011433#step:3:774

[2020-10-21 16:07] MrGeneration commented on #3254
Ah seems like you need it for bundling.
Just like @martini thought.

This means this is gettinga big thing for package installations as well.

[2020-10-21 17:05] MrGeneration commented on #3254
Martin mentioned that, while you need `libimlib2-dev` during the build and bundle process, it *should* technically be fine to remove this package *after* you've finished bundling. This will save some space required for the container but is optional.

[2020-10-21 22:37] monotek commented on #3254
Ok, so I guess i just keep it the way it is and close the issues.

[2020-10-22 05:47] martini commented on #3254
Yes. For me it looks correct to keep it as it is in docker context.

[2020-10-22 11:03] #3115 closed, assigned to mantas

[2020-10-22 13:39] #895 closed

[2020-10-22 13:39] jostang commented on #512
+1

[2020-10-22 13:42] MrGeneration commented on #512
I'm limitting the conversation for this issue to contributors only, as it hasn't received any useful feedback beside of `+1`'s.
Please use the Zammad community (https://community.zammad.org) for feature requests.

We're limitting issues on this repository to help us focus on the important things and reduce the noise to over 2300 subscribers. :)

[2020-10-22 14:30] mantas commented on #3233
Good news everbody. I was able to reproduce the issue. I also found a likely fix. However, IMAP being IMAP, I need to quadruple-check it doesn't break other email server.. Anyway, fix coming soon.

[2020-10-22 14:30] mantas commented on #3233
And thank you for insights - the `Keep messages on server = NO/YES` helped a lot

[2020-10-23 06:47] rolfschmidt commented on #3034
https://github.com/zammad/zammad/issues/3243

[2020-10-23 07:48] martini opened #3255 "In certain cases not all content of an html email is shown (HTML sanitizer will remove to much)"
### Infos:

* Used Zammad version: 3.5.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket: #1080269

### Expected behavior:

* Show all content of html email

### Actual behavior:

* In certain cases (extended html comments), the sanitizer will remove to much

### Steps to reproduce the

[2020-10-23 10:51] cautopartes commented on #3255
Reorted in T#1080269

[2020-10-23 14:27] rolfschmidt opened #3257 "Data in DB and elasticsearch (e.g. ticket overview) out of sync."
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: mysql/mariadb
* Elasticsearch version: all
* Browser + version: all
* Ticket#1078247

### Expected behavior:

* Ticket state in DB and elastic search is always the same.

### Actual behavior:

* Raise conditions causing misalignment between db and elastic search res

[2020-10-23 20:58] mitchlau88 opened #3258 "installation problem of zammad"
Hi, I find Zammad today and try to install, however, do not know how to solve the issue
I had followed [this link](https://community.zammad.org/t/unable-to-process-get-request-to-elasticsearch-url-http-127-0-0-1-9200-zammad-production-ticket-search/614/2)
therefore i had try

$ sudo /usr/share/elasticsearch/bin/elasticsearch-plugin install ingest-attachment  # for 5.6+
$ sudo /usr/share/elasticsea

[2020-10-23 21:13] mitchlau88 commented on #3258
it work after  restart the VM

[2020-10-23 21:46] MrGeneration commented on #3258
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2020-10-23 21:46] #3258 closed, assigned to nobody

[2020-10-26 13:24] HristoA commented on #3250
Hi.
It looks like all is working after applying the fix.

Thanks

[2020-10-26 13:31] MrGeneration commented on #3251
Sorry, but this seems to be a a feature request and technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are n

[2020-10-26 14:17] FIDUSweb commented on #3251
Hello,

i have restricted the attributes **cave** and **bemerkung** like this:
![image](https://user-images.githubusercontent.com/33714859/97180944-01a6a400-179b-11eb-8eb4-839f8d4d07e1.png)

So when i logged in as an admin i see the fields
![image](https://user-images.githubusercontent.com/33714859/97181596-c0fb5a80-179b-11eb-867c-9f8c84398489.png)

And when logged in as an agent i can't see the f

[2020-10-26 14:20] MrGeneration commented on #3251
Sorry my bad, now I get what you're aiming at.
You're talking about the sole permissions not specific roles.

In my opinion this is not a bug but a enhancement.

[2020-10-26 14:29] FIDUSweb commented on #3251
okay, thx 👍

[2020-10-26 15:23] HristoA commented on #3235
Hi.
Quick check at PSQL show me that `created_at` is saved correct from OTRS to Zamamd DB into tables: `tickets`, `ticket_articles`.
(If i can test in some other way to try reproduce your case tell me @delphi-sucks)

Only problem that i see is that my OTRZ and Zammad server are at GMT+3 and right now in browser tickets create time is = DB value +3 hours). How this can be fixed?
[code]
(2018-01-10T

[2020-10-27 08:52] #3255 closed, assigned to martini

[2020-10-27 09:30] #3145 closed, assigned to rolfschmidt

[2020-10-27 09:33] #2620 closed, assigned to rolfschmidt

[2020-10-27 20:22] silviupanaite opened #3259 "Zendesk migration issue"
### Infos:

* Used Zammad version: zammad-3.5.0-13
* Installation method (source, package, ..): zammad-docker-compose
* Operating system:
* Database + version: zammad-3.5.0-13
* Elasticsearch version: zammad-3.5.0-13
* Browser + version: Opera

### Expected behavior:

* Old imported tickets should have the threads conversation present, as they come as a response from the zendesk api

### Actual be

[2020-10-27 21:07] MrGeneration commented on #3259
Any errors in your production log of interest...?

[2020-10-27 21:35] martinvonwittich opened #3260 ""Next in overview" doesn't update the URL and breaks Shift+Ctrl+..."
### Infos:

* Used Zammad version: 3.4.x
* Installation method (source, package, ..): docker-compose
* Operating system: Debian 10
* Database + version: from docker-compose
* Elasticsearch version: from docker-compose
* Browser + version: Chromium 86

### Expected behavior:

* Updating a ticket with "Next in overview" selected should update the browser's URL bar so that it reflects the next ticket

[2020-10-27 21:57] silviupanaite commented on #3259
Not really.

[2020-10-28 07:05] thorsteneckel commented on #3259
Hi @silviupanaite - Please follow these steps:

1.) Create a file called `debug_issue.rb` from the code below in your Zammad directory (usually `/opt/zammad`) and replace the attributes marked with `TODO` in the file header section
2.) Run the file from your Zammad directory via `zammad run rails r debug_issue.rb` or `rails r debug_issue.rb` as zammad user, depending on your installation source (p

[2020-10-28 13:05] dlohsok opened #3261 "Failed installing ingest-attachment"
### Infos:

* Used Zammad version: 3.5.x
* Installation method (source, package, ..): package
* Operating system: Ubuntu 18.04.5 LTS
* Database + version: (PostgreSQL) 10.14
* Elasticsearch version: 7.9.3
* Browser + version: Chrome 86.0.4240.111

### Expected behavior:

Working search function

### Actual behavior:

Search is not working: "There is no match for your search" after updating Zammad

[2020-10-28 13:06] arpagon commented on #2579
Friendly reminder, this bug is still a thing.  I would love to hear more details.

[2020-10-28 13:11] MrGeneration commented on #3261
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2020-10-28 13:11] #3261 closed, assigned to nobody

[2020-10-28 13:12] MrGeneration commented on #2579
Please have a look at the milestone, it says 3.6~

[2020-10-28 16:32] MrGeneration opened #3262 "Don't display dot(s) next to state circles"
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified on Google Chrome latest (Windows) and Microsoft Edge
   * Google Chrome on MacOS and Firefox seem not affected
* Ticket: 1080237, 1081358

### Expected behavior:

Zammad does not display a dot next to th

[2020-10-28 20:39] tonikasch commented on #1808
In my case this is due to ModSecurity :-)
https://briansnelson.com/How_to_disable_mod_security_per_vhost

[2020-10-29 08:48] #3124 closed, assigned to rolfschmidt

[2020-10-29 08:50] #3163 closed, assigned to rolfschmidt

[2020-10-29 08:51] #3204 closed, assigned to rolfschmidt

[2020-10-29 11:01] lafiel commented on #3200
I think we've got it sorted. The mail provider has upgraded their system to allow TLS 1.2. Since then we didn't have any further problems.

[2020-10-29 11:01] #3200 closed, assigned to nobody

[2020-10-29 11:04] MrGeneration commented on #3200
Thank you for your feedback, we're glad your issue could be resolved. 💪

[2020-10-29 11:21] #2716 closed, assigned to rolfschmidt

[2020-10-29 14:59] #3142 closed, assigned to rolfschmidt

[2020-10-30 08:00] #2337 closed, assigned to rolfschmidt

[2020-10-30 08:11] #3244 closed, assigned to thorsteneckel

[2020-10-30 08:21] #3135 closed, assigned to rolfschmidt

[2020-10-30 20:54] devNan0 opened #3263 "apple-touch-icon.png 404 Not Found"
### Infos:

* Used Zammad version: 3.5.0-2
* Installation method: docker-compose
* Operating system: debian 10
* Database + version: postgres 9.6.17
* Elasticsearch version: 7.9.1
* Browser + version: Firefox 82.0.2

### Expected behavior:

* GET https://domain.tld/apple-touch-icon.png `200`

### Actual behavior:

* GET https://domain.tld/apple-touch-icon.png `404`

### Steps to reproduce the beha

[2020-11-02 10:05] delphi-sucks opened #3265 "Space after ticket hook in ticket/zoom"
### Infos:

* Used Zammad version: 3.5.0-1603788665.5a776fce.xenial
* Installation method (source, package, ..): package
* Operating system: Ubuntu 16.04.7 LTS
* Database + version: MySQL 5.7.32-0ubuntu0.16.04.1
* Elasticsearch version: 7.9.2
* Browser + version: Vivaldi 3.4.2066.90

### Expected behavior:

The Ticket-Number is attached to the Ticket Hook.

`Hook#123456789`

This behaviour is defi

[2020-11-02 10:44] delphi-sucks commented on #3232
Found the problem, which was because of my configuration;

The MySQL setting `max_allowed_packet` was not big enough which resulted in some threads crashing because of really big attachments.
By coincidence the tickets I checked were all merged tickets, so yeah...

### Workaround

My recommendation for anyone having similar problems:

#### MySQL max_allowed_packet

Edit die MySQL-Config für the ma

[2020-11-02 11:46] MrGeneration commented on #3265
I do agree that we should provide this information the exact same way we do on every component.
However, I personally see this as an enhancement.

[2020-11-02 12:10] MrGeneration commented on #3232
If you're talking about the crashing import process, as far as I'm aware, this is intended.
The root cause is a configuration issue.

The import should succeed without crashing if everything is configured correctly.
If it doesn't, this is in my opinion an independent issue. :-)

[2020-11-02 12:10] #3232 closed, assigned to nobody

[2020-11-05 08:27] delphi-sucks opened #3266 "Factual Macro title shown in ticket update dropdown"
### Infos:

* Used Zammad version: 3.5.0-1603788665.5a776fce.xenial
* Installation method (source, package, ..): package
* Operating system: Ubuntu 16.04.7 LTS
* Database + version: MySQL 5.7.32-0ubuntu0.16.04.1
* Elasticsearch version: 7.9.2
* Browser + version: Vivaldi 3.4.2066.90

### Expected behavior:

When dragging a ticket to the upper screen for macro execution, the macros are translated t

[2020-11-05 09:20] mantas commented on #3266
Hi @delphi-sucks ,

Those are names of macros as set in database. You can rename them in Settings > Macros. Unfortunately there's no way to set different names in different UI languages.

Closing since this is not a bug and works as intended.

[2020-11-05 09:30] delphi-sucks commented on #3266
Hi @mantas,

your statement is in contradiction to the current behaviour in a ticket:
![image](https://user-images.githubusercontent.com/17913239/98222513-37911880-1f51-11eb-968d-00bd5f15cfa0.png)

Here you can see, that the macros do get translated to different UI languages.
So either you are right and it is wrong that the macros do get translated in the ticket or it is a bug, that macros don't g

[2020-11-05 09:32] mantas commented on #3266
Hi @delphi-sucks ,

Interesting finding! I was sure it's not translated elsewhere. I totally agree it has to consistent.

[2020-11-05 09:56] mantas opened #3267 "Issue opened in overview doesn't have previous/next buttons if it was opened before"
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Issue opened from overview always have previous/next buttons

### Actual behavior:

* Issue opened from overview does not have previous/next buttons if it was already open in sideba

[2020-11-05 10:57] cashwani opened #3268 "Sort_by and Order_by not working ticket search"
I am trying to search ticket with sort option

### Infos:

* Used Zammad version: 3.4.x
* Installation method (source, package, ..): Install on Ubuntu via DEB
* Operating system: Ubuntu
* Database + version: PostgreSQL + 10.14
* Elasticsearch version: 7.9.1

### Expected & Actual behavior:

case 1:

https://domain.com/api/v1/tickets/search?query=(organization_id:3 AND owner_id:17 AND group_id:(1 O

[2020-11-05 11:05] MrGeneration commented on #3268
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2020-11-05 11:05] #3268 closed, assigned to nobody

[2020-11-05 14:07] #3263 closed, assigned to mantas

[2020-11-05 15:01] MrGeneration commented on #2853
In the mean time we had to learn that this issue actually introduced a regression which has been addressed by #3086 .

[2020-11-05 15:27] tiagoIW opened #3269 "Rich Text Editor doesn't appear"
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..): Docker
* Operating system: Ubuntu
* Database + version:
* Elasticsearch version:
* Browser + version:

### Expected behavior:

* Can edit knowledge base with Rich Text Editor

### Actual behavior:

* Rich Text Editor doesn't appear to Knowledge Base

### Steps to reproduce the behavior:

*

Yes I'm sure this is a b

[2020-11-05 15:30] MrGeneration commented on #3269
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

Please note that Zammad does not have a dedicated "rich text editor".

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

[2020-11-05 15:30] #3269 closed, assigned to nobody

[2020-11-06 09:37] thorsteneckel commented on #3223
Fixed with the commits above.

[2020-11-06 09:37] #3223 closed, assigned to martini

[2020-11-06 09:40] #3233 closed, assigned to mantas

[2020-11-06 09:44] #3180 closed, assigned to mantas

[2020-11-06 11:12] rolfschmidt opened #3270 "Ticket selector "within last (relative)" and "within next (relative)" not working correctly"
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all
* Ticket: #1080623

### Expected behavior:

* The date range "within last (relative) 10 minutes" should only display tickets which are in the range between NOW and now - 10 minutes.

### Actual behavior:

* T

[2020-11-06 12:35] #2347 closed, assigned to rolfschmidt

[2020-11-06 12:35] #3042 closed, assigned to rolfschmidt

[2020-11-06 13:53] MrGeneration opened #3271 "AttributeManager doesn't display boolean default values within the UI"
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified on latest Google Chrome
* Ticket: #1080695
* This seems to be a regression of issue #1792

### Expected behavior:

When creating or updating a boolean attribute with default value, Zammad will display th

[2020-11-07 13:26] romitgithub commented on #2842
Hi! I'm working on this issue as a part of the interview process. I have few questions:

1) Does the customer role have permission to link and unlink answers?
2) How do we know if the answer is public or not?

Thanks!

[2020-11-08 03:08] romitgithub commented on #563
Hi! I'm working on this issue as a part of the interview process. I have few questions:

1) Where is the extended search page? How to open it?
2) Is there a documentation as to how to create the url for extended search such that it lists the required items

Thanks

[2020-11-08 06:09] mantas commented on #2842
Hi @romitgithub

No. Read-only.

Answer state is calculated by published_at/internal_at/archived_at dates. Both frontend and backend KB answer models have helpers for this.

[2020-11-08 07:22] mantas commented on #563
Hi @romitgithub

Search for something that returns at least one result and then "Show Search Details" will appear right bellow the search input. Or go to `http://localhost:3000/#search/Welcome` given that you run your local instance at the usual address.

I guess above answer covers this one as well :)

[2020-11-08 07:36] romitgithub commented on #563
But this only accepts a query param in url. How can I pass the customer ID and state of ticket to show those tickets only?

[2020-11-08 07:44] mantas commented on #563
What if the metadata was a part of the query?

Tip: make sure you got ElasticSearch configured for full search experience.

[2020-11-08 07:50] romitgithub commented on #563
Thanks. I got ElasticSearch up and running.

Is there any documentation for this api: **_api/v1/search?_**

[2020-11-08 07:54] mantas commented on #563
Code is best documentation :)

Looking at `#search_index_attribute_lookup` of a model in question is the best way to figure out which attributes are searchable.

[2020-11-08 14:26] romitgithub commented on #563
Hey @mantas. I haven't worked with vuejs extensively so can't figure out the code much. It'd be really helpful if I can get the documentation or example of how to query the api for other fields?

Thanks

[2020-11-08 14:40] MrGeneration commented on #563
In terms of search endpoints there's limited documentation available.
The ticket endpoint in terms of search might help you to find the way for the generic search mechanisms:

https://docs.zammad.org/en/latest/api/ticket.html#search

If you want to search for specific attributes and maybe even combine them, maybe this part of the user documentation helps you:
https://user-docs.zammad.org/en/latest

[2020-11-09 01:04] mantas commented on #563
Hi @romitgithub

No VueJS here - only Coffeescript and Spine :)

Why would you want to call the api directly over linking to search view?

[2020-11-09 02:35] romitgithub commented on #563
Hi @mantas. Yep, it's not VueJS. I'm currently working on multiple projects so mentioned VueJS by mistake.

I haven't worked with Coffeescript either.

I don't wall to call the api directly, but I need to know api requirements for complex query such as this one.

Thanks

[2020-11-09 02:38] mantas commented on #563
@romitgithub Usual ElasticSearch syntax does the trick - `customer_id: {id} state_id: {id}`

[2020-11-09 03:25] romitgithub commented on #563
Thanks a lot @mantas
 Got it working now. Changed open and closed text to links which will open the extended search page with results based on state and customer id

[2020-11-09 03:31] romitgithub commented on #2842
@mantas I have raised a pull request for this issue, do let me know if this solution is good enough or not.

Here is the PR: https://github.com/zammad/zammad/pull/3272

Thanks

[2020-11-09 03:49] romitgithub commented on #563
@mantas Here is the PR for this one https://github.com/zammad/zammad/pull/3273

[2020-11-09 08:36] #3270 closed, assigned to rolfschmidt

[2020-11-09 08:37] rolfschmidt commented on #3270
Ticket#1080623

[2020-11-09 09:49] MrGeneration opened #3274 "Button link attribute too wide (ticket articles)"
### Infos:

* Used Zammad version: 3.5 (verified on develop too)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified on latest Google Chrome & latest Firefox
* Ticket: #1080951

### Expected behavior:

The buttons of an article (set internal, reply (...)) are not wider that the text itself.

#

[2020-11-09 10:36] #3266 closed, assigned to mantas

[2020-11-09 13:01] tbsfnk commented on #1525
Any news on this?

[2020-11-09 13:13] MrGeneration commented on #1525
Sorry but I'm locking the conversation to contributors only.
Please don't ping/bump issues on this repository as it creates a lot of noise.

We will update issues accordingly as soon as anything moves.
This issue is a feature backlog and has no roadmap yet.

[2020-11-09 13:40] rolfschmidt commented on #2372
Seems to work now. Mail gets dropped to the unprocessable email folder:
[code]

[2020-11-09 13:40] #2372 closed, assigned to rolfschmidt

[2020-11-09 13:46] MrGeneration opened #3275 "Missing translation for insufficient permissions for <object>"
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Note: This originally came from the community at https://community.zammad.org/t/translate-and-customized-an-error/5511 by user juliels.

### Expected behavior:

The string `Oops.. I\'m sorry, but you have i

[2020-11-09 13:47] rolfschmidt commented on #2605
Hi @MrGeneration ,

should be obsolete right because of data privacy?

https://github.com/zammad/zammad/issues/2074

[2020-11-09 13:52] rolfschmidt commented on #2605
Ah ok there is a small fix needed because the reference check is not needed anymore. I will provide a fix @MrGeneration .

[2020-11-09 14:11] martini opened #3276 "Software error when Elasticsearch is not configured and `rake searchindex:rebuild`"
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Show nice error message if `rake searchindex:rebuild` is used and no Elasticsearch is configured.

### Actual behavior:

* Software error is shown in `rake searchindex:rebuild`

[co

[2020-11-10 09:46] #3276 closed, assigned to martini

[2020-11-10 10:31] #290 closed

[2020-11-10 16:34] mpibpc-mroose opened #3278 "LDAP sync fails with undefined method `ord' for nil:NilClass"
### Infos:

* Used Zammad version: 3.5.0-1603788665.5a776fce.bionic
* Installation method (source, package, ..): package
* Operating system: Ubuntu 18.04
* Database + version: postgresql-10/bionic-updates,bionic-security,now 10.14-0ubuntu0.18.04.1
* Elasticsearch version: 7.9.3
* Browser + version: Vivaldi 3.4.2066.94 (Stable channel) (64-bit)

### Expected behavior:

* LDAP sync should not fail

[2020-11-11 07:44] mpibpc-mroose commented on #3278
I identified the root cause of the problem: it seems to be a kind of timeout thing. I use a haproxy in front of my domain controllers. The timeouts were maybe configured a bit slim. With a change in `haproxy.cfg` to:

[code]
the sync is now successful. Maybe that as a hint for people encountering the same problems. I'm not sure if something like this could be catched in Zammad so that a more meani

[2020-11-11 07:47] MrGeneration commented on #3278
I think a dev has to decide on that.
Personally I'd say that if the sync runs into a timeout or connection reset during the try to talk to the ldap server, Zammad should provide a meaningful message.

[2020-11-11 11:55] mantas opened #3279 ""Next ticket in overview" is clickable for the last ticket in the overview"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* "next ticket in overview" button is not clickable in when looking at the last issue in the overview

### Actual behavior:

* "next ticket in overview" button is clickable and opens

[2020-11-11 14:06] thorsteneckel commented on #3278
This is a duplicate of #2984 and #1862. Unfortunately we can't detect that this is a timeout error because it's handled inside of the LDAP ruby implementation. Closing now.

[2020-11-11 14:06] #3278 closed, assigned to nobody

[2020-11-12 16:53] drbw opened #3280 "Triggers referencing deleted attributes cannot be edited"
### Infos:

* Used Zammad version: 3.5.0
* Installation method (source, package, ..): Docker
* Operating system: CentOS 7
* Database + version: Postgres 9.6
* Elasticsearch version: 7.9.3
* Browser + version: Firefox 82.0.2

### Steps to reproduce the behavior:

* Create a new input attribute abcd on a user or organization object and restart Zammad
* Create a trigger "When user.abcd contains efgh

[2020-11-12 16:54] MrGeneration commented on #3280
Duplicate of #2560

[2020-11-12 16:54] #3280 closed, assigned to nobody

[2020-11-12 16:56] drbw commented on #3280
Oops, sorry - it wasn't clear to me that this was what that issue was about from the title.

[2020-11-12 16:57] MrGeneration commented on #3280
No worries.
It technically doesn't matter if you deactivate or remove the object in question, it breaks triggers and similar functions in the same way.

[2020-11-13 08:28] mantas opened #3281 "Removing image in text field with backspaces causes browser to go back"
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..): any
* Operating system: windows(?)
* Database + version: any
* Elasticsearch version: any
* Browser + version: Firefox

### Expected behavior:

* Image can be removed with backspace and browser stays on the same page

### Actual behavior:

* Image is removed and browser goes back

### Steps to reproduce the behavio

[2020-11-13 14:10] #2568 closed, assigned to rolfschmidt

[2020-11-16 07:09] martini opened #3282 "Unable to upgrade from Zammad 3.3 to 3.6"
### Infos:

* Used Zammad version: 3.6.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* execute `rake db:migrate` as expected

### Actual behavior:

* `rake db:migrate`

[code]

### Steps to reproduce the behavior:

* Install Zammad 3.3 and upgrade to 3.6

PS: Possib

[2020-11-16 09:23] #3260 closed, assigned to mantas

[2020-11-16 09:28] #3279 closed, assigned to mantas

[2020-11-16 09:30] #3267 closed, assigned to mantas

[2020-11-16 12:44] dukex commented on #3282
My workaround was run just the 20201112000000

[code]

And after run the migration again
[code]

[2020-11-16 13:17] #3282 closed, assigned to rolfschmidt

[2020-11-16 17:22] YosefAdPro opened #3283 "Macro note with variables do not replace variable with content (issue #2716)"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): package
* Operating system: Centos 7
* Database + version: Postgresql 9.2.24
* Elasticsearch version: 5.6.16
* Browser + version: Gooele chrome last

A bug not resolved https://github.com/zammad/zammad/issues/2716
It returns variables + HTML tags

![image](https://user-images.githubusercontent.com/11810187/99285779

[2020-11-16 17:25] YosefAdPro commented on #3283
Sorry, in my case it's a macro and not a trigger

[2020-11-16 17:59] MrGeneration commented on #3283
Duplicate of #2980

[2020-11-16 17:59] #3283 closed, assigned to nobody

[2020-11-17 01:39] vidcentum opened #3284 "Email / Google Channel Reconfiguration Issue"
### Infos:

* Used Zammad version: 3.6.x
* Installation method (source, package, ..): package
* Operating system: ubuntu 20.04
* Database + version: postgress (default installation while installing via package)
* Elasticsearch version: 7.10.0
* Browser + version: Chrome 86.0.4240.198

### Expected behavior:

* I have configured Channels Google, Email (With App Password)
Everything was working fine

[2020-11-17 07:35] MrGeneration commented on #3284
Duplicate of #3240

[2020-11-17 07:35] #3284 closed, assigned to nobody

[2020-11-17 08:53] Pisoko opened #3285 "SMIME - undefined method `n' for #<OpenSSL::PKey::EC:0x0000560dd2b31c68>"
Hey Zammad

I'm trying to upload our CA Cert to Zammad to prepare the use of SMIME.
I get the following error trying to upload a base64 formatted cert.

**undefined method `n' for #<OpenSSL::PKey::EC:0x0000560dd2b31c68>**

![error_zammad](https://user-images.githubusercontent.com/11957656/99368329-4bc30700-28bb-11eb-927d-02aa46577d99.png)

The log is attached.

[production.log](https://github.com/

[2020-11-17 08:56] MrGeneration commented on #3285
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2020-11-17 08:57] #3285 closed, assigned to nobody

[2020-11-17 08:58] vidcentum commented on #3284
@MrGeneration Thank you for quickly analysing the issue. I tend to agree that it is duplicate of #3240.

It is OK to remove and re-add accounts (as #3240 suggests) in our case as there are very few channels. However, I am facing an issue that I am unable to navigate to channels screen as the error message box keeps popping up and waiting spinner appears.

May I request you if there is any console

[2020-11-17 08:59] ninavizz commented on #804
Has Signal been integrated into Zammad? I am looking for a CRM'y like solution that can facilitate communicating with hundreds of research participants via Signal. Thx!

[2020-11-17 09:02] MrGeneration commented on #3284
Sorry, but please post technical questions on the community board instead of Github: https://community.zammad.org

[2020-11-17 09:03] MrGeneration commented on #804
Locking conversation to contributors only to reduce noise like `+1` or questions if a feature is yet available.

This issue is still open and marked as feature backlog, so no, it's not implemented in Zammad as of now.

[2020-11-17 11:25] MrGeneration commented on #3027
Oh sorry for that.
Don't know why I didn't read the title correctly.

Default signup roles may not contain sensible permissions such as reporting, ticket.agent or even admin.
This is by design and it doesn't matter if you disabled the signup by anonymous users.

The reason:
Your agents can also create new users in case they can't find the customer within the database.
Other wise they can't create

[2020-11-17 11:25] #3027 closed, assigned to nobody

[2020-11-17 12:48] bastolino opened #3286 "Upgrade to 3.6 throws error when logging into WebGUI"
Error Message is as follows:
Mysql2::Error: Unknown column &#39;stats<u>stores.stats</u>storable<u>type&#39; in &#39;where clause&#39;: SELECT `stats</u>stores`.* FROM `stats<u>stores` WHERE `stats</u>stores`.`stats<u>storable</u>type` = &#39;User&#39; AND `stats<u>stores`.`stats</u>storable<u>id` = 3 AND `stats</u>stores`.`key` = &#39;dashboard&#39; LIMIT 1

see https://community.zammad.org/t/zam

[2020-11-17 12:49] MrGeneration commented on #3286
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2020-11-17 12:49] #3286 closed, assigned to nobody

[2020-11-17 14:03] thorsteneckel opened #3287 "Can't delete Applications (OAuth Authentication)"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Admin -> API -> Applications (OAuth Authentication)
* Delete (via bin icon) should work

### Actual behavior:

* Admin -> API -> Applications (OAuth Authentication)
* Delete (via bi

[2020-11-17 14:05] #3287 closed, assigned to thorsteneckel

[2020-11-18 08:22] MrGeneration opened #3288 "Ticket Priority and states can be changed by customers via API"
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

*Note: This is a breaking API change which causes ticket creation payloads for customers no longer to allow setting e.g. the ticket priority as customer.*

### Expected behavior:

If you're a customer, you c

[2020-11-18 11:20] rmalchow opened #3289 "LDAP without anonymous bind is not possible"
### Infos:

* Used Zammad version: "latest" as of today (should be zammad-3.6.0-1)
* Installation method (source, package, ..): docker compose
* Operating system: host is on fedora, docker 19.03
* Database + version: pgsql, as per docker compose /w version "-latest"
* Elasticsearch version: as per docker compose /w version "-latest"
* Browser + version: as per docker compose /w version "-latest"

[2020-11-18 11:24] MrGeneration commented on #3289
I failed to find the issue you're talking about.
This is in my opinion a feature request and not a bug.

In todays world I personally wouldn't use anonymous binds in LDAP context at all.
If this is a feature request (or enhancement), please post that request on the community.

[2020-11-18 12:26] tilllt commented on #3289
How to get to the Problem:
- Start LDAP integration configuration
- Enter address of LDAP server with "Anonymous Bind" disabled

In Zammad 3.5 / Docker, Anonymous Bind disabled, you will receive this message:
`Can't connect to 'ldap.example.de' on port '636', Can't bind to 'ldap.n0ne.de', 49, Invalid Credentials`

In Zammad 3.5 / Docker, Anonymous Bind enabled, you will receive this dialog:
![Scre

[2020-11-18 12:28] MrGeneration commented on #3289
Sorry, but this seems to be a technical question.
Like really it is, just correct the ``Base DN``  to yours and fill in Bind user and password.

---

Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevan

[2020-11-18 12:29] tilllt commented on #3289
The point being (again)

1.  you cannot enter a base DN without the wizard.
2. The wizard only pops up when Anonymous Bind is enabled in your LDAP server

[2020-11-18 14:07] drbw opened #3290 "SQL query in privacy job fails"
### Infos:

* Used Zammad version: 3.6.0-1, BUT this happened with 3.5.0-8 - created job yesterday, didn't notice it failed, upgraded over night
* Installation method (source, package, ..): Docker
* Operating system: CentOS 7
* Database + version: Postgres 9.6
* Elasticsearch version: 7.9.3
* Browser + version: Firefox 82.0.2

### Expected behavior:

* GDPR job works as advertised and deletes user

[2020-11-18 14:10] thorsteneckel commented on #3290
Hi @drbw - Thanks for reporting this. Any chance you can provide more from your log file? A traceback would be super helpful. It's currently not clear to me where this query comes from. Doesn't look like any one generated by us at first glance 🤔

[2020-11-18 14:12] drbw commented on #3290
Oops, yeah, a traceback might be helpful :X

[code]

[2020-11-18 14:19] thorsteneckel commented on #3290
What's the result when executing `DataPrivacyTask.where(state: 'failed').map(&:perform)` on your [Zammad Rails console](https://docs.zammad.org/en/latest/admin-console.html#start-zammad-s-rails-console)?

[2020-11-18 15:06] rmalchow commented on #3289
so, here's the sequence:

ldap://192.168.71.220:390

is an apache ds with anonymous bind disabled. i have gitlab, nextcloud, and various other services authenticate against it just fine. but those all allow entering bind user credentials _before_ trying it. i would be ok if zammad would try without, then ask for credentials if that fails. but the fact that in this scenario basically stops here and