[2018-07-12 09:52] #721 closed

[2018-07-12 11:37] hanneshal commented on #2123
You dont have an SMTP configured. This is no bug but a config issue. ;)

regards

[2018-07-12 11:37] #2123 closed, assigned to nobody

[2018-07-12 14:21] mmojadad commented on #1993
@thorsteneckel Can i be hope the enhancement be part of next release of zammad? I need it.

[2018-07-12 17:30] eugenkoenig opened #2124 "Report profile crashes if using absolute date"
### Infos:

* Used Zammad version: 2.5.x
* Installation method (source, package, ..): hosted by zammad
* Operating system: -
* Database + version: -
* Elasticsearch version: -
* Browser + version: Firefox + Chrome (latest)

### Expected behavior:

* Creating new report profile with _absolute_ date (e.g. all opened tickets after 01.01.2018 8:00) shows all tickets in preview. Selecting this profile

[2018-07-13 07:10] martini commented on #2019
JFI: I can reproduce it on FF and Crome:

1) open existing trigger
2) copy existing link into clipboard
3) past link into same text, just 2 lines below
4) by using the browser element inspector you can see that the browser added the current hostname to the href attribute.

Workaround: Select the new inserted link and press ctrl+alt-x (see Zammad shortcuts) to remove hyperlinks (this also removed t

[2018-07-13 07:46] rlue commented on #2019
### EDIT

Whoops, looks like Martin beat me to the punch.

---

The only time I have been able to reproduce this issue is when pasting in rich text that contains hyperlinks, like so:

![issue_2019_rich_text_links](https://user-images.githubusercontent.com/12194123/42678788-8fafc65e-86b2-11e8-8c75-0b6dea73963a.png)

Based on your console output, it looks like @qspweissen's trigger suffers from this

[2018-07-13 11:46] martini opened #2125 "Auto responder is not set from correct group"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Send auto responder from correct group even if ticket got moved into a group by previous trigger.

### Actual behavior:

* Send auto responder is always sent form initial created gr

[2018-07-13 12:22] MorrisJobke opened #2126 "Email signatures trim trailing whitespace in text part"
### Infos:

* Used Zammad version: 2.4.0
* Installation method: package
* Operating system: Ubuntu 16.04
* Database + version: MySQL

### Expected behavior:

* having no trailing whitespace trimmed in text emails

### Actual behavior:

* trailing whitespace is trimmed in text part of emails - thus the signature separator `-- ` (dash, dash space) gets into a `--` only and is not recognized by all e

[2018-07-13 15:11] temi007 opened #2127 "SystemStackError: stack level too deep"
### Infos:

* Used Zammad version:
2.5
* Installation method (source, package, ..):
rpm
* Operating system:
Ubuntu-1604
* Database + version:
MariaDB 10.0
* Elasticsearch version:
  "version" : {
    "number" : "5.6.10",
    "build_hash" : "b727a60",
    "build_date" : "2018-06-06T15:48:34.860Z",
    "build_snapshot" : false,
    "lucene_version" : "6.6.1"

* Browser + version:
no browser issue

#

[2018-07-14 11:38] conankid2512 commented on #1101
Hello, I have the same problem, I created a helpdesk system with 100% customer is Vietnamese, 99,99% of browser in VietNam is accept en-US language by default so our login screen is always English.

Can you please tell me anyway to force single-language system cause all of my customer is Vietnamese.

[2018-07-16 05:57] #2125 closed, assigned to martini

[2018-07-16 07:12] temi007 commented on #2127
I'm not sure if it's a bug because I don't know ruby but at the same time I found mariadb expierience deadlocks. Well I increased innodb_buffer_pool now it works again no issues so far.  Like I said cannot tell if "SystemStackError: stack level too deep" is an bug anyway

[2018-07-16 07:39] rlue commented on #2019
Just a quick update: we've got a fix in the works that should both fix existing triggers and ensure that future triggers do not suffer from this issue.

Links may still appear in (or be pasted into) the trigger editor, but duplicated domains will be stripped from the input when you click "submit".

---

@MrMontesa, [in the community forum, you said](https://community.zammad.org/t/malformed-url-lin

[2018-07-16 08:42] thorsteneckel commented on #2127
Hi @temi007 – this actually is a bug. It looks like there was a spam (?) email that caused an endless loop in the HTML sanitization (security) part of Zammad:

[code]

It would be really interesting to get the email that caused this. As far as I understand your last comment correctly it was solved by restarting the application (DB changes should not affect this). Can you check if there is a file i

[2018-07-16 09:08] martini commented on #2124
Maybe a duplicate of https://github.com/zammad/zammad/issues/2098

@styleart What are the first 3 letters of the instance name?

[2018-07-16 09:18] martini opened #2128 "Route for /auth/failure is missing to show login failure messages form oauth provider (if request was technical ok - only login was not possible by oauth provider)"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Show valid error message from oauth provider also if technical the request was good. This happen if the oauth provider does not allow to authenticate the user via oauth.

### Actual

[2018-07-16 09:39] ghost commented on #2019
The shortcut does not work for windows but i copy the link to VisualStudioCode and paste it again into zammad. After this the link works!
![2018-07-16 11_38_55-it helpdesk - ereignis basierte ausloser](https://user-images.githubusercontent.com/22341283/42752020-e4326934-88ec-11e8-8b5d-bfba84dda914.jpg)

[2018-07-16 09:50] eugenkoenig commented on #2124
@martini That looks similar to the other issue, yes. Should I do some other tests (e.g. with relative dates)?
First three letters are 'bar'.

[2018-07-16 10:13] martini commented on #2124
@styleart yes, please reload your browser and test again (your instance is deployed with the fix for 2098). Feedback is welcome! 👍🏻

[2018-07-16 10:21] martini commented on #2124
@styleart by the way, the Zammad reporting is already done via timeslots (e. g. all new tickets in 2018 for each month). So normally it makes not so much sense to use date restrictions here.

Just in case: We are working on a Grafana integration. We really ❤️ the visualisation possibilities of Grafana.

Just in case, you are a paying customer, you also can contact us directly via support at zammad

[2018-07-16 10:53] eugenkoenig commented on #2124
@martini works like a charm now, thx for deploying the fix!

We know about timeslots and actually will not use filters with absolute dates, but I haven't seen the old issue and just wanted to report it. So it wasn't urgent at all. :)

What about grafana - great news! We use it for internal visualisations and would love to see it in Zammad!

[2018-07-16 10:53] #2124 closed, assigned to nobody

[2018-07-16 10:58] martini commented on #2124
@styleart thanks for feedback! 👍

[2018-07-16 11:06] temi007 commented on #2127
I know there were 20 unprocessable mails. The guy who helped me to solve this issue followed the advice in https://github.com/zammad/zammad/issues/1970 and increased max allowed packet and could process all eMail with zammad run rails r 'Channel::EmailParser.process_unprocessable_mails' he said. However now are 3 unprocessable eMails that I cannot process with above command

zammad run rails r 'Ch

[2018-07-16 11:28] temi007 commented on #2127
just forgott to mention these are spam and well it's ok they are not processed - sorry

[2018-07-16 11:39] thorsteneckel commented on #2127
No problem. I just reviewed them and all three have broken from addresses:

`23f39cbafa95bb3e0bfd66558423ab31.eml` => `\"dr. daniel rodriguez <info\"@tjfoto.de>"`
`399953a0f556294f9efa8a83a88bc41c.eml` => `akademie@weiling.de> <ilka.mueller@lms-lagertechnik.de>`
`2244347bb06293559883f077a169aa36.eml` => `madeline.maurer@weiling.de> <caja.merida@tamex.mx>`

But there is nothing we can do about it s

[2018-07-16 11:39] #2127 closed, assigned to nobody

[2018-07-16 11:40] SummerStorm commented on #1213
09313ed resolves this issue by adding a selectable group by direction for Overviews:

![screenshot from 2018-07-16 19-37-06](https://user-images.githubusercontent.com/7030950/42756749-209b307a-8930-11e8-8acf-a66d424b08ff.png)

[2018-07-16 12:50] tailic commented on #867
I think his idea was not to send a message to slack on certain events (like the current slack integration does) but to create tickets on direct messages or maybe through a chatbot. Just stumbled upon this while searching for the same.

[2018-07-16 14:52] juliankoehn opened #2129 "RequireJS _src Script"
Zammad is searching for a id="zammad_form_script" to inject the CSS for the Form.

Line 120 of form.js
`        this._src = document.getElementById('zammad_form_script').src`

while i have to Require it via RequireJS

[code]

My Solution without editing the form.js was to add a "source" element instead of a script tag, but it's still dirty.

`<source  id="zammad_form_script" src="//helpdesk.classy

[2018-07-16 14:53] thorsteneckel commented on #2129
Please use the issue template you removed. It's really important for us maintainers to have the required information. I have to close this issue in the meantime. Feel free to update your post. I'll reopen the issue afterwards.

[2018-07-16 14:53] #2129 closed, assigned to nobody

[2018-07-16 16:05] SummerStorm commented on #2097
Hi @svenschumacher. I can't seem to reproduce this on ef179bf, 3545893 and ca454dd.

Is every forwarded email missing its attachments or does this issue only occur sporadically? Other than the missing attachments, are you able to send and receive emails successfully? Would you mind providing a step by step guide on how to reproduce this? Thanks.

[2018-07-16 16:42] thorsteneckel commented on #1564
@SummerStorm - please rebase with latest `develop`, close the PR (rejected), run it through the internal CI env and let me know if it's green so I can do QA 👍Thanks!

[2018-07-16 16:45] thorsteneckel commented on #1616
@SummerStorm let me know when you start working on this. I can give you an example on how to subscribe for changes on the instance.

[2018-07-16 16:49] thorsteneckel commented on #1864
@SummerStorm - can you please verify if this is still open if @mantas fixed it with [his changes](https://github.com/zammad/zammad/commit/9cdb0d5ce4e61eb8220000ff506fbde9747852e0) for issue #2088 . Thanks!

[2018-07-16 18:11] thorsteneckel commented on #1862
Hi @Sandalas – we've made some pretty good results with higher timeouts. Could you please do the following to ensure that your issue has the same cause: Execute `Setting.set('ldap_config', Setting.get('ldap_config').merge(connect_timeout: 100.minutes.to_i))` via the [Zammad rails console](https://docs.zammad.org/en/latest/admin-console.html#start-zammad-s-rails-console) and restart all services (W

[2018-07-17 01:56] SummerStorm commented on #2010
This has been fixed by 3186d5e4d763f8e367f8cf9d5c4eae918284bdbf.

[2018-07-17 01:56] #2010 closed

[2018-07-17 07:08] MamoulianDelacroix opened #2130 "Problem Reporting - StatusCode 500"
Hihi 👋

* Used Zammad version: 2.5.0-1531451462.f8969569.bionic
* Installation method (source, package, ..): package
* Operating system: Ubuntu 18.04
* Database + version: postgresql/9.5
* Elasticsearch version: elasticsearch/stable,stable,now 5.6.10 all
* Browser + version: all

I have a problem with my Reporting / Elasticsearch. Everytime I switch to Reporting I get the following error:
[code]

[2018-07-17 07:11] thorsteneckel commented on #2130
Hi @MamoulianDelacroix - could you please apply [this diff](https://github.com/zammad/zammad/commit/c3105bb804b510ca3cdca665fff1075176cb9573.diff) to your system (make sure to have a backup etc. before), restart your application and retry it again. This adds [additional output](https://github.com/zammad/zammad/commit/c3105bb804b510ca3cdca665fff1075176cb9573) for failing requests which are missing

[2018-07-17 07:23] MamoulianDelacroix commented on #2130
Hi @thorsteneckel  thank you for your quick response 😄
Sorry for the stupid question, but how can I apply your diff to my system?

[2018-07-17 07:25] maggusf opened #2131 "Problem with LDAP synch"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): package
* Operating system: CentOS
* Database + version: postgresql
* Elasticsearch version: 5.6.8
* Browser + version: Safari 11.1.2

### Expected behavior:

* ldap synch working

### Actual behavior:

* very slow, mostly doesn't finish (fill_io error), having errors within the log during synch as following:

part

[2018-07-17 07:25] martini opened #2132 "Unable to link objects at ticket creation"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* store i-doit objects which are selected in ticket create screen

### Actual behavior:

* selected  i-doit objects from ticket create screen are not linked to the ticket

### Steps t

[2018-07-17 07:31] thorsteneckel commented on #2130
Just add [this line](https://github.com/zammad/zammad/commit/c3105bb804b510ca3cdca665fff1075176cb9573#diff-9fab439609a0d7804813e8d8e3d44e3eR404) (`body: response.body`) to your `lib/user_agent.rb` file in line ~404 by hand :)

[2018-07-17 07:42] MamoulianDelacroix commented on #2130
🤔 this looks to easy 😆
I hope I did everything right.
I added your code a line 404 in the lib/user_agent.rb file und restarted zammad.
The output of elasticsearch looks like this:
[code]

[2018-07-17 07:51] thorsteneckel commented on #2130
Hi @MamoulianDelacroix - thanks! @martini proposed that you reproduce it on one of the [hosted instances](https://www.zammad.com/getting-started) so we can have a deeper look. Would this be possible for you? Thanks!

[2018-07-17 07:53] MamoulianDelacroix commented on #2130
@thorsteneckel I will have a try.

[2018-07-17 07:55] thorsteneckel commented on #2131
Hi @maggusf - this actually looks like a bug. Could you please do as follows:

1.) Create a file called `debug_issue.rb` in your Zammad directory (usually `/opt/zammad`)
2.) Run the file from your Zammad directory via `zammad run rails r debug_issue.rb` or `rails r debug_issue.rb` as zammad user, depending on your installation source (package/source)
3.) This will create a new file called `debug_i

[2018-07-17 08:03] MamoulianDelacroix commented on #2130
🤔
I'm missing the responibility option in the hosted instances
![grafik](https://user-images.githubusercontent.com/4436931/42804193-84f7a292-89a8-11e8-8370-da71e73aa672.png)

[2018-07-17 08:14] MamoulianDelacroix commented on #2130
I don't know, maybe this is related to my problem or just something else but when I try to search for tickets or users by 'id' I get empty resoluts. As soon as I'm search for any or attributes, like login, firstname, whatsoever, I get the correct results.

[2018-07-17 08:28] thorsteneckel commented on #2130
Hi @MamoulianDelacroix - we activated the reporting functionality for your instance (which is not included in the trial mode by default). Could you please check again?

Thanks for the additional information. We will consider it while searching for the cause.

[2018-07-17 08:43] MamoulianDelacroix commented on #2130
@thorsteneckel thanks a lot and 🎉 there it is 😄
First I switch to reporting and everything was fine. As soon as I switch to 'closed' , the error appears:
![grafik](https://user-images.githubusercontent.com/4436931/42806038-c19e1f78-89ad-11e8-9ae0-d3112f624363.png)
After I closed and reopend the default demo ticket, everything works fine.
Could it be, that this error appears because he couldn't fin

[2018-07-17 09:27] McPimp commented on #2123
Hi Hanneshal,

I do have the SMTP configured.
I know it is not a bug and is a config issue and will ask for help.

Do I configure the SMTP inside of Zammad or on the backend or both?
Cause I have tried and I still get the error

[2018-07-17 09:46] maggusf commented on #2131
Hi @thorsteneckel ,

just send the email with the log. I deleted all lines that contained sensitive data. If you need some more lines like last 3 before error or similar, I will run the script once again and give you those selected lines with manipulated sensitive data (like changing names, ldap infos etc.)

[2018-07-17 09:54] thorsteneckel commented on #2131
Hi @maggusf - this is actually a duplicate of #2110 which the lovely @rlue is currently working on. So a fix is on the way. Thanks anyway for creating the issue and providing the information. Closing now.

[2018-07-17 09:54] #2131 closed, assigned to nobody

[2018-07-17 10:01] thorsteneckel commented on #2130
Great! We can see it in the logs. Can you please give me a short step by step guide what you did exactly?

[2018-07-17 10:10] MamoulianDelacroix commented on #2130
Sure. I think it's the best if I try to explain every step from the start, because it is really plain and stupid what I did 😳 :
1. I let creat a new hosted instance.
2. I logged into it and looked around, but didn't changed anything.
3. I noticed reporting was missing
4. Reporting was enabled
5. I switched into reporting and clickt on "Geschlossen" -> That's when the above screenshoot was took.
6.

[2018-07-17 12:36] MamoulianDelacroix commented on #2130
Ok, I finally know why I can't search for IDs, it's because they are called '_id' instead of just 'id'. But I still don't know how and why this has changed 🤔

[2018-07-17 13:42] andreaci opened #2133 "Email notifications sending will be aborted mid-list if SMTP error code is received"
I have problems when sending notifications by email.
Notifications are sent to a lot of users, but it's possible that some of them has invalid email address.

### Infos:

* Used Zammad version: 2.3.x (2.5.0 from apt-cache policy)
* Installation method (source, package, ..): Package
* Operating system: Debian 9
* Database + version: Postgre 9.6
* Elasticsearch version: 5.6.9
* Browser + version: an

[2018-07-17 13:53] martini commented on #2133
Hi @andreaci

I see it's about agent notifications. It seems to be a valid issue. We need to verify it. Thanks so far.

 -Martin

[2018-07-17 15:24] thorsteneckel commented on #366
It's been a while since we gave you the last update on this. However, I just want to inform you that the great @mantas started working full time on the implementation. We will come back to you in the next weeks / month and give you a status update. Thanks for your patience 👍

[2018-07-18 02:32] #2019 closed

[2018-07-18 07:39] SysErr23 commented on #1283
We need this feature too. Either the possibility to print a ticket on request or to automatically send a PDF to the admin, containing all data from the ticket including mails etc, as soon as the ticket is closed.

[2018-07-18 07:42] SysErr23 opened #2134 "GDPR/DSGVO"
Is there a plan to include functionallities, that are URGENT needed, to use zammad in european countries?

* Export all Data of a contact including whole tickets in PDF
* Delete all Data of a contact including whole tickets on request

[2018-07-18 07:58] Sandalas commented on #1862
Hi @thorsteneckel - It's enough to drive one to despair. Still the same 😞

I am still at 2.4.0, when we start the tests, should I upgrade to the newest version? And try again?

[2018-07-18 08:03] SummerStorm commented on #2105
Fixed via 730ed13b7b011b12f4d6767100ece769b721885d.

[2018-07-18 08:03] #2105 closed, assigned to SummerStorm

[2018-07-18 08:31] martini commented on #641
Hi @all

after some discussions with users it went out, that the best solution for this issue is to make it configurable based on macros. The  reason for that is, you do not want to have a default behaviour (e. g. always close the tab) because you usually only want to close the tab if the next ticket state is closed and not by just sending an update to the customer.

With next Zammad version you c

[2018-07-18 08:32] #641 closed

[2018-07-18 09:21] thorsteneckel commented on #1862
I was too hasty – we're still facing the issue on our hosted instance. We'll have to dig deeper and debug the LDAP Ruby gem. Since this is unknown territory for us it might take some time. Be sure that we're working on it.

[2018-07-18 09:34] svenschumacher commented on #2097
Hi @SummerStorm, yes it´s missing in every forwarded E-Mail. The steps to reproduce follow immediately.

[2018-07-18 09:55] svenschumacher commented on #2097
We do this steps in our Zammad:
![image](https://user-images.githubusercontent.com/19308158/42874356-31a6033e-8a81-11e8-9a8c-b43c7f41956b.png)

Afterwards, the mail is showing the empty images:
![image](https://user-images.githubusercontent.com/19308158/42874398-52bdb44a-8a81-11e8-9dcf-54bad8118914.png)

@SummerStorm Please check my steps. Thanks a lot!

[2018-07-18 10:56] martini commented on #2097
Hi @svenschumacher

it may depend on the content of the email which is forwarded. Can you attache the example to this issue which ist not working on your side by downloading it via:

<img width="354" alt="screen shot 2018-07-18 at 12 53 28" src="https://user-images.githubusercontent.com/110226/42877421-d5794356-8a89-11e8-94ca-50ed677f28f6.png">

With this example we may can reproduce it.

 -Martin

[2018-07-18 11:11] thorsteneckel commented on #2134
Please read our intro text before creating issues. This is not an issue but a question. You can ask questions over at https://community.zammad.org/ - Closing now.

Regarding your second point there is issue #2074 which we are actively working on.

[2018-07-18 11:11] #2134 closed, assigned to nobody

[2018-07-18 11:32] thorsteneckel commented on #2057
Hi @rlue - could you please take over on this one? There is an internal branch called `private-mn_issue2057_cti`. QA is mostly ok but there is a critical line (`Cti::Log.where(from: phone)` in `app/models/user.rb`). This might affect a loooot of entries. We should perform it asynchronously or limit it down to 100 entries to avoid long too run times.

[2018-07-18 11:35] thorsteneckel commented on #1989
Hi @rlue - could you please take over this one? There is an internal branch called `private-issue1989-trigger` for which the QA is ok. Please give it the final push to cross the finish line 🏁

[2018-07-18 11:38] #2128 closed, assigned to martini

[2018-07-18 14:02] #2073 closed, assigned to martini, rolfschmidt

[2018-07-18 16:49] D4RKNOISE opened #2135 "Chat not displayed, problem with Chat.min.js"
Added the code :  (between body tags)
[code]

Console says
[code]

Cant find the problem... possible issue

### Infos:

* Used Zammad version:
* Installation method (source, package, ..): ubuntu 16.04
* Operating system: Linux
* Database + version: nvt
* Elasticsearch version: nvt
* Browser + version: Chrome 67.0.3396.99

### Actual behavior:
Does not display
*

### Steps to reproduce the behavior

[2018-07-18 22:26] mbpws commented on #1946
@maggusf Do not doubt yourself. I have the same, identical problem. When setting a reminder, there's no e-mail sent, the status stays on reminder, instead of open or so.

In the meantime, I've tried to try and solve it with manually set triggers, but unfortunately that did not offer a solution either.

What I noticed is that as soon as you set up the reminder for the first time a notification is g

[2018-07-19 02:27] NeverMin commented on #2135
can you try:
[code]

[2018-07-19 06:48] thorsteneckel commented on #2135
Please read our intro text before creating issues. This is not an issue but a technical question. You can ask questions over at https://community.zammad.org/ - Closing now.

However, @NeverMin is right. There is something wrong with your asset generation. These steps will help. If not please open a topic over at the board.

[2018-07-19 06:48] #2135 closed, assigned to nobody

[2018-07-19 09:50] martini opened #2136 "Improve admin -> user -> default shown users are sometimes different with and/or without search text -> unify search"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* same result if I search for * with or without roles

### Actual behavior:

* result is different (the frontend is using 2 different REST resources - /users/recent and /users/search)

[2018-07-19 14:18] SummerStorm commented on #2104
Fixed via bc489aecef6a1026fc2f4bbeeeb1dbdd89c386c7.

[2018-07-19 14:18] #2104 closed, assigned to SummerStorm

[2018-07-19 18:23] D4RKNOISE commented on #2135
Thank you for the information! it worked!

[2018-07-19 19:02] JuanMsanchez opened #2137 "Generic OAuth2 integration problem"
Hello there! I’m having problems trying to login using the Generic Oauth2 option. It’s seems that no user information is reaching zammad, therefore the user can’t be created.
I already tried sending login, email, firstname, etc. as reponse from the /ouath/token endpoint.
An example response payload will be appreciated. Regards!

- Infos:
Used Zammad version: 2.5.x

- Expected behavior:
To login

A

[2018-07-20 00:56] #2117 closed, assigned to SummerStorm

[2018-07-20 01:13] #1989 closed

[2018-07-20 01:13] #2110 closed, assigned to rlue

[2018-07-20 01:13] #2111 closed, assigned to rlue

[2018-07-20 07:07] thorsteneckel commented on #2137
Please read our intro text before creating issues. This is not an issue but a technical question. You can ask questions over at https://community.zammad.org/ - Closing now. Please make sure to add your `log/production.log` to the thread and fill out the complete template 👍

[2018-07-20 07:07] #2137 closed, assigned to nobody

[2018-07-20 07:49] lug-gh commented on #1917
Hi, I use zammad 2.5.x and this error as still there.

I created a ticket in the community forum, because I'm not really sure where it should go.
https://community.zammad.org/t/pictures-via-e-mail-answer-in-tickets-get-lost/1001

[2018-07-20 07:58] thorsteneckel commented on #1917
Hi @lug-gh - could you please reproduce it [in one of the hosted instances](https://www.zammad.com/getting-started), share the name here and let us know how to reproduce it. Thanks!

[2018-07-20 08:07] martini commented on #1917
JFI: Just tested and it's working fine. Also the used browser would be good to know.

[2018-07-20 08:07] lug-gh commented on #1917
created https://test-lug-gh.zammad.com/ and the bug is still there: https://test-lug-gh.zammad.com/#ticket/zoom/2

tested in chrome 67 & firefox 61

just copy the "test" image from the created ticket and use it as reply, it disappears after updating the ticket.

[2018-07-20 09:51] #2066 closed, assigned to rlue

[2018-07-20 11:12] lug-gh commented on #1917
Can you see the ticket, or do you want a customer account?

[2018-07-20 11:20] thorsteneckel commented on #1917
Thanks! We will create a debugging account and have a look. 👍 We will come back to you.

[2018-07-20 12:03] JuanMsanchez commented on #2137
I do read it, and I post it on the community page but I get no response.
https://community.zammad.org/t/generic-oauth2-integration-problem/988

It would be nice to have some documentation about the Oauth2 integration. Here the production log

[code]

[2018-07-20 20:54] JuanMsanchez commented on #2137
@thorsteneckel can we reopen this issue?

[2018-07-20 21:12] mmojadad commented on #1993
Update!
I setup-ed OpenVPN client on my zammad centos server, Now messages from zammad web panel side deliver to client telegram app but reverse not. Any idea?

[2018-07-23 03:34] martini commented on #2136
@hanneshal maybe you can test the behaviour on ptool and give feedback.

[2018-07-23 03:34] #2136 closed, assigned to martini

[2018-07-23 06:29] thorsteneckel commented on #2137
Dear @JuanMsanchez,

first of all, many thanks for your participation on the Zammad open source project.

Not usual as with proprietary software, we finance Zammad through service. So it's less money we have at our disposal to push Zammad.

If you would like to support Zammad, you can do so via Zammad Support: https://zammad.com/pricing#selfhosted

For all issues it is generally important that we

[2018-07-23 07:28] thorsteneckel commented on #2107
Hi @MrDigit

I think this value is of yore and probably obsolete. Thanks for digging that deep, resolving your issue and sharing it here. We will have a closer look when addressing this issue.

[2018-07-23 07:32] thorsteneckel commented on #2114
Wow! Thanks for the comprehensive writeup. It will probably take some time till we get here. Would be great if you could provide any information you have and will get in the future on this topic. We will get back to you as soon as we find the time to address this issue.

[2018-07-23 07:35] thorsteneckel commented on #2115
Hi @monotek - I think this is a valid point. Do you think we're able to cover this somewhere in the packager logic? If we need a helper method in the Zammad context let me know. Thanks!

[2018-07-23 07:41] thorsteneckel commented on #2116
Hi @dcapape - this looks more like a list of different issues with your installation. So these are technical questions but Zammad issues. You can ask technical questions over at the [community board](http://community.zammad.org/). You can mention me and I'll see what I can do.

However, it seems that there is an issue with the Elasticsearch connection. Please run `Delayed::Job.where.not(last_error

[2018-07-23 07:41] #2116 closed, assigned to nobody

[2018-07-23 08:37] chrstmnn opened #2138 "Admin and Agents cannot create tickets"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): rpm
* Operating system: CentOS
* Database + version:
* Elasticsearch version:
* Browser + version: Safari, Chrome, Firefox ESR

### Expected behavior: Admin or agent click "+" in order to create a new ticket. After filling in the information, clicking "create" should save the information and create the new ticket.

[2018-07-23 09:29] hanneshal commented on #2138
Just a wild guess:
you don't have those 3 tabs on the top correct?

![zammad_-_call_inbound](https://user-images.githubusercontent.com/804939/43068764-9d8a2754-8e6b-11e8-88f6-4a60b9f70a0d.jpg)

[2018-07-23 09:33] #2057 closed, assigned to rlue

[2018-07-23 09:35] chrstmnn commented on #2138
Yes, indeed. They are missing!

[2018-07-23 09:36] hanneshal opened #2139 "Links are modified after saving"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): rpm
* Operating system: CentOS
* Database + version: Postgres 9.4
* Elasticsearch version: ES 5.6
* Browser + version: Chrome
* Ticket #1024124

### Expected behavior:

* If I write a text which includes an Url like www.zammad.org I'd expect it to be stored and send to customer like I wrote it.

### Actual behavior

[2018-07-23 09:57] hanneshal commented on #2138
Please follow the steps described in this issue:

https://github.com/zammad/zammad/issues/2106#issuecomment-401262710
There went something wrong during your upgrade and some migrations are not executed.

Regards

[2018-07-23 10:02] #2138 closed, assigned to hanneshal

[2018-07-23 10:02] chrstmnn commented on #2138
Just found meanwhile Ticket #2106 and fixed it. Thanks

[2018-07-23 10:21] thorsteneckel commented on #2126
To support [signature blocks](https://en.wikipedia.org/wiki/Signature_block) the [RegEx removing trailing spaces](https://github.com/zammad/zammad/blob/9cfeec86bec2f2c567b632574409bbc4a5649398/lib/core_ext/string.rb#L284) should be improved. It may look something like this: [`^(?!--).+[[:blank:]]+$`](http://rubular.com/r/IrF0LBD5K3)

[2018-07-23 12:12] chesty commented on #2114
I haven't seen it happen since I reported it but I also turned LDAP sync off again. So I'm starting to think it's related to LDAP sync. I'll turn LDAP sync on over the weekend, see if I can trigger it. Are there any debug logs you would like me to turn on? If so I'll need instructions. The logs from the last time it happened are long gone.

This is my understanding of how deadlocks can happen, let

[2018-07-23 13:21] thorsteneckel commented on #2114
Hi @chesty - thanks for the comprehensive writeup – again! It would be a great help if you could trigger it again. Please provide the log if your approach was successful. After we're able to reproduce it a fix is in reach.

[2018-07-23 14:00] thorsteneckel commented on #1917
I can confirm that this is still broken in latest `develop`. How to reproduce:

- Download [ticket-21002-2.eml.zip](https://github.com/zammad/zammad/files/2219562/ticket-21002-2.eml.zip) and unzip
- `cat ~/Downloads/ticket-21002-2.eml | rails r 'Channel::Driver::MailStdin.new'`
- Open ticket im Zammad
- Right click on the image in the created article -> Copy
- Paste image from clipboard in the new

[2018-07-23 22:29] Fabiola-ZC commented on #2106
Hola, es normal que se tarden los comandos al ejecutarse.

[2018-07-24 07:57] e311 opened #2140 "LDAP/Exchange UTF-8 Status Code 500"
### Infos:

* Used Zammad version:2.6.x
* Installation method (source, package, ..): DEP
* Operating system: ubuntu 18.04
* Database + version: psql (PostgreSQL) 10.4 (Ubuntu 10.4-0ubuntu0.18.04)
* Elasticsearch version:6.6.1
* Browser + version:
Chrome

### Expected behavior:
LDPA frame displayed (in config menue System --> Integration-->LDAP)  without error
*

### Actual behavior:

LDAP frame is

[2018-07-24 09:21] thorsteneckel opened #2141 "RegexpError: failed to allocate memory for large attachments"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Large Ticket::Article attachments should get handled properly

### Actual behavior:

* Large Ticket::Article attachments might lead to memory shortage and failing requests

### Step

[2018-07-24 09:22] Darko2906 opened #2142 "Search is limited to 50 results"
### Infos:

* Used Zammad version: 2.5.x
* Installation method (source, package, ..): docker-compose
* Operating system: ubuntu
* Database + version: postgres 9.6.9
* Elasticsearch version: 5.6.9
* Browser + version: Version 67.0.3396.99
* Ticket-ID: #1059560, #1060685, #1082736, #1083185, #1085156, #1086717, #10101683, #10119165, #10141878, #10142762, #10145404, #10145536, #10154197, #10155118, #

[2018-07-24 09:30] thorsteneckel commented on #2142
Hi @Darko2906 - as you mentioned correctly this was already addressed and fixed in the two related issues. I assume you are talking about a different (part of the) functionality then? It's not clear from your `Expected behavior` / `Actual behavior`. Please provide more context / information so we can reason about your request.

[2018-07-24 09:33] thorsteneckel commented on #2140
Hi @e311 - could you please provide the upper part of the log, too? This is where the required information is printed out and which is currently missing. Additionally: Could you please describe the steps that you performed to get to the issue? This is currently not clear. Thanks!

[2018-07-24 10:02] Darko2906 commented on #2142
Hi @thorsteneckel. The problem is, that pagination does not work for me, My search results are always capped at 50 entrys. As I read in the tickets, with version 2.5.x there should be a offset pagination.

For example:

I have 100k+ Tickets in Zammad and searched for "y". My result is still 50 Tickets without pagination:

![pic1](https://user-images.githubusercontent.com/40241484/43131190-b826326a

[2018-07-24 10:08] e311 commented on #2140
Hi,
i will try it.
i open the (in admin --> system -->Integarion) LDAP. I start the configuration All fine.
Domain DN User Password.
![3 ldap](https://user-images.githubusercontent.com/18627219/43130686-7fa83cae-8f37-11e8-88aa-034173a64e56.png)

I used the standart mapping.
![4](https://user-images.githubusercontent.com/18627219/43130706-8772adca-8f37-11e8-90bd-476010b74d8b.png)

Ad the LDAP Confi

[2018-07-24 10:41] raphaelm opened #2143 "CTI: Unknown number matched to random users"
### Infos:

* Used Zammad version: 2.5.x (2.5.0-1531824466.f897e164.stretch from 07/17/2018)
* Installation method (source, package, ..): debian package
* Operating system: Debian
* Database + version: PostgreSQL
* Browser + version: Chromium 65

### Expected behavior:

* Unknown number is recognized as unknown and allows me to create a new user

### Actual behavior:

* Unknown number is matched t

[2018-07-24 10:45] LittleNo commented on #1861
Same here, IMAP import stops after the connection to IMAP-server had been not available. I can reproduce it due to an instable internet connection. Zammad does not start to fetch Emails when the IMAP-server becomes back available. Restarting the zammad-service makes it immediately continue fetching mails.

[2018-07-24 10:52] thorsteneckel commented on #2140
Hi @e311 - thanks for the comprehensive writeup! The interesting line in the log is this one:
[code]

Which basically says that there are specially encoded chars in the LDAP settings which will get/got stored. I can see those in the log, too.

I think this is sufficiently enough to reproduce the issue. Thanks for your support so far. We will fix the issue.

[2018-07-24 10:52] martini commented on #2143
@raphaelm thanks! Can add the information what Zammad Debian package version it exactly is? Because there was a change the last days. Thanks!

[2018-07-24 10:55] raphaelm commented on #2143
Version: 2.5.0-1531824466.f897e164.stretch

[2018-07-24 11:14] martini commented on #2143
@raphaelm thanks for feedback.

To clarify the feature first, Zammad has some logic to also discover articles (e. g. emails) or also user attributes like note and extract possible numbers. So in this case it seems that the number "+49 176 38..." has some associations with the people listed under "maybe/vielleicht".

Can you verify that nobody of this users wrote an email to Zammad where the number

[2018-07-24 11:18] raphaelm commented on #2143
It's my personal cellphone number and in fact it's all people who at some point forwarded an email from myself to Zammad which contained it. This explains the selection.

Still, would be great to have a way to say "no, it's none of the suggested, but it is X or it is a new customer"

[2018-07-24 11:23] martini commented on #2143
Thanks for that feedback! Here also a reference to an issue which would set the sender of and emails which got forwarded by an agent https://github.com/zammad/zammad/issues/1596 - this would work her to not show/identify your forwarded emails as your own "content" to associate with your user.

That's true. Currently this two possibilities are not implemented. But would be good to have it!

[2018-07-24 11:27] martini opened #2144 "Assign "maybe" phone number of CTI caller log to existing or new user"
### Infos:

Used Zammad version: 2.5.x
Installation method (source, package, ..): any
Operating system: any
Database + version: any
Browser + version: any

### Expected behavior:

* allow to set "maybe" phone number to new or existing user

### Actual behavior:

* currently only for "unknown" caller ids a user can be created to assign it to

### Steps to reproduce the behavior:

* enable CTI
* sen

[2018-07-24 11:27] martini commented on #2143
I just created a new issue as FR https://github.com/zammad/zammad/issues/2144 and let this one untouched for documentation reasons.

[2018-07-24 11:28] #2143 closed, assigned to nobody

[2018-07-24 11:38] thorsteneckel commented on #1861
@LittleNo - that's really interesting because this is exactly what I tried and wasn't able to reproduce. So you can reproduce it every time you want? Would you mind if I send you a debugging script to analyze what's happening under the hood?

[2018-07-24 11:42] thorsteneckel commented on #2142
Hi @Darko2906 - thanks for clarification. I think this is a valid use case. We can keep the issue. However, the priority of this is rather low for now since 100k tickets is pretty impressive but remains an edge case for now. We are still busy building the functionalities that cover the needs of the broad user base.

If you are interested in prioritizing this feel free to contact our support team f

[2018-07-24 11:56] LittleNo commented on #1861
yes let's do that

I have not been watching every single time that issue happened, but when I compare the log of the internet-connection with the moments when I had to restart zammad, it looks like it happens almost every time

[2018-07-24 12:04] schmanat commented on #1192
I could "solve" the SSO Issue, I thinks its definitely not the perfect way but it works.

My envirentment is the latest zammad version (2.5) with Apache2 2.4 with Postgres. After the configuration of SSO with mod_auth_kerb I have to do the following things.

I configured LDAP to sync our employees. I mapped the SAMACOUNTNAME to the login name. For example my Windows Username ist schman. So I could

[2018-07-24 13:27] ghost commented on #1192
@schmanat how did you solve the "login-loop" or do you let the user use the "/auth/sso" URL?

[2018-07-24 20:19] schmanat commented on #1192
For now, the users get the /auth/sso url.

But this is the next thing I would like to dig in. Didn't work the workarround of your answer a few comments above (RewriteRule)?

[2018-07-25 06:36] ghost commented on #1192
Yes it did, but it is pretty unreliable.

[2018-07-25 09:02] cogielusz opened #2145 "Change font email Signature"
### Infos:
* Used Zammad version: 2.6
* Installation method (source, package, ..):
* Operating system: Ubuntu 18.04
* Database + version: Postgres 9.4
* Elasticsearch version: ES 5.6
* Browser + version: Chrome

### Expected behavior:

Is it possible to change the font for the email signature? Because the ways of changing through html does not work, and also by # {font} also does not move.

[2018-07-25 09:30] thorsteneckel commented on #2145
Please read our intro text before creating issues. This is not an issue but a technical question and/or feature request. You can ask questions and request features over at https://community.zammad.org/ - Closing now.

However, you can change the overall font of the email by changing [the wrapper template file](https://github.com/zammad/zammad/blob/develop/app/views/mailer/application_wrapper.html.

[2018-07-25 09:30] #2145 closed, assigned to nobody

[2018-07-25 09:56] MrMontesa commented on #2019
Hey there,
I'b back from vacation and happily saw some great feedback here. Unfortunately I lost track where I can help. One formation you asked for was the rails command.
We're on 2.4 right now and the commend executed with:
[code]
I did **not** edit _app/views/mailer/ticket_update/en.html.erb_. This was only to confirm that I have the correct syntax of my link and some variable must have been fi

[2018-07-25 09:59] LittleNo opened #2146 "Defined Email signature should not be dependend from Group-Rights"
If you call this a bug or feature request is up to you, but anyway it is a problem:

Currently the Email-Signature that is applied by a user is set in the group-settings which the user belongs to. Due to that, if a user has full-access rights to more than one group, and these groups have different Email-signatures set, no signature at all is used (of course, zammad can not know which one to use in

[2018-07-25 11:58] thorsteneckel commented on #2146
Hi please respect the responsibility which comes with creating issues here on Github. Every comment/issue will send out an email to more than 100 people. This is why we have the banner you deleted in both of your issues. Please read it more carefully the next time.

However, this is not the right place for discussions. Please open a thread over at the [community board](http://community.zammad.org/

[2018-07-25 11:58] #2146 closed, assigned to nobody

[2018-07-25 12:00] thorsteneckel commented on #1861
Cool, thanks! We'll come back to you in one of our next free time slots.

[2018-07-26 08:23] uli-heller opened #2147 "Attachments disappear from the UI when a session becomes inactive -> active while creating an email ticket"
### Infos:

* Used Zammad version: 2.5.0
* Installation method (source, package, ..): source
* Operating system: ubuntu-18.04
* Database + version: mysql
* Elasticsearch version: 5.6
* Browser + version: chrome 68

### Expected behavior:

* Attachments should remain visible

### Actual behavior:

* Attachments disappear, adding them again produces an email with duplicate attachments

### Steps to

[2018-07-26 08:27] martini commented on #2147
Hi @uli-heller

just tested in develop branch and it works here. It's fixed with issue #1123 and available in next stable 2.6.

 -Martin

[2018-07-26 08:27] #2147 closed, assigned to martini

[2018-07-26 08:30] uli-heller commented on #2147
Perfect, thanks a lot and sorry for not finding #1123 during my research
before creating the ticket.

Am 26.07.2018 um 10:27 schrieb Martin Edenhofer:

[2018-07-26 09:52] hatscher commented on #220
Any news? We need this feature ...

[2018-07-26 11:04] creolis commented on #220
@hatscher many of us need it :) But after all, everybody who's working on the feature (@luto) does it voluntarily :) If there's real commercial need for it, I guess donating (either some dough or work) would help to drive forward the progress. Unfortunately I don't have the time to contribute, so all I'm left with is hope and patience :P

Talking about contributions: How about submitting the curre

[2018-07-26 13:57] solartune commented on #2130
Hey, I have the same error! I can see it only when I'm switching to `closed` tab.
I use 2.5.0-43 version of Zammad

[2018-07-26 14:24] #2132 closed, assigned to martini, SummerStorm

[2018-07-26 19:08] jayadeepgilroy opened #2148 "ar"
### Infos:

* Used Zammad version:
* Installation method (source, package, ..):
* Operating system:
* Database + version:
* Elasticsearch version:
* Browser + version:

### Expected behavior:

*

### Actual behavior:

*

### Steps to reproduce the behavior:

*

Yes I'm sure this is a bug and no feature request or a general question.

[2018-07-26 20:17] #2148 closed, assigned to nobody

[2018-07-27 08:30] Newan opened #2149 "LDAP and Domain based assignment"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): deb
* Operating system: ubuntu 16.04
* Database + version: postgres
* Elasticsearch version: n/a
* Browser + version: chrome

### Expected behavior:

* A organization has a domain and Domain based assignment as true. A user are modified or sync over ldap with an email address of this domain / orga.
the user is assi

[2018-07-27 08:35] thorsteneckel commented on #2149
Hi @Newan - this is a duplicate of #1327.

[2018-07-27 08:35] #2149 closed, assigned to nobody

[2018-07-27 11:23] SummerStorm opened #2150 "Text attribute inputs longer than maxlength is silently truncated"
### Infos:

* Used Zammad version: develop
* Installation method (source, package, ..): source
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:
Input that is longer than the max length should results in an error message.

### Actual behavior:
Input longer than the max length is silently truncated.

(Even if #738 is fixe

[2018-07-27 13:11] MarvinKlar opened #2151 "LDAP Sync doesn't disables users"
### Infos:

* Used Zammad version: 2.5.0
* Installation method (source, package, ..): source
* Operating system: Debian
* Database + version: MySQL
* Elasticsearch version:
* Browser + version:

### Expected behavior:

* The users should be deactivated in Zammad, when they are deactivated in the Active Directory

### Actual behavior:

* The users are still activated in Zammad, even when they are d

[2018-07-27 13:13] thorsteneckel commented on #2151
Hi @MarvinKlar - what do you mean by `deactivated in the Active Directory`? Which AD version do you use?
Zammad disables user after they're no longer in the result set of the LDAP search. Additionally you can use mapping to map the attribute to the Zammad active attribute.

[2018-07-27 13:15] MarvinKlar commented on #2151
But there is no attribute in the Zammad LDAP Sync configuration to disable a user:
http://prntscr.com/kbr4xw

[2018-07-27 13:19] thorsteneckel commented on #2151
Ah right. Sorry I forgot that syncing of boolean attributes is not possible:
https://github.com/zammad/zammad/blob/52bfa30bacaf3f8b33c7ccae39446abf91ae0633/app/assets/javascripts/app/controllers/_integration/ldap.coffee#L361

So I think you need to change your LDAP query.

[2018-07-27 13:20] MarvinKlar commented on #2151
What query? And how do I change it?

Do you mean the `User filter`?

[2018-07-27 13:21] thorsteneckel commented on #2151
Exactly

[2018-07-27 13:24] MarvinKlar commented on #2151
Thank you very much. I think this would be mentionable in the documentation...

Do you know how the filter has to look like?

[2018-07-27 13:27] thorsteneckel commented on #2151
We'd love to see a pull request to the documentation adding a block on how Zammad performs deactivation. Maybe with an example.
The filter depends on your LDAP configuration/attributes.

Since this is rather a technical question than an issue please feel free to open a topic at the [community board](http://community.zammad.org/). Closing now.

[2018-07-27 13:27] #2151 closed, assigned to nobody

[2018-07-27 17:11] PhilippRedel opened #2152 "Exchange import fails if folder names can't be converted to Unicode"
### Infos:

* Used Zammad version: 2.5.0
* Installation method (source, package, ..): package
* Operating system: Ubuntu 16.04
* Database + version: MySQL | 5.7.12-0ubuntu1.1
* Browser + version: Google Chrome 68 | Mozilla Firefox 61.0.1
* Exchange 2010

### Expected behavior:

* Exhcange Integration should work as expected.

### Actual behavior:

* The Exchange Integration stops with the error: "

[2018-07-27 17:14] thorsteneckel commented on #2152
Hi @PhilippRedel  - thanks for filling an issue. This is actually a duplicate of #2140. Seems like there is an issue affecting LDAP and Exchange integration. However, we will address it in the older issue. Closing now.

[2018-07-27 17:16] thorsteneckel commented on #2140
Please note that the Exchange integration is affected, too: #2152

[2018-07-27 20:30] kendinitto opened #2153 "Inline images being stripped"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): YUM
* Operating system: Centos 7
* Database + version:  PostgreSQL PostgreSQL 9.2.23
* Elasticsearch version: 5.6.10
* Browser + version: Chrome Version 67.0.3396.99

### Expected behavior:

Inline images that are pasted into a text module or email response or already in an incoming ticket email should not be strip

[2018-07-28 07:10] thorsteneckel commented on #2097
Hi @svenschumacher - can you please verify this in the latest version of `develop` (where the fixes for #1123 were applied)? Otherwise please provide a sample mail (as @martini requested in the previous comment) and we can check it. I'll close this for now since we can't reproduce it (anymore). Thanks for your understanding.

[2018-07-28 07:10] #2097 closed, assigned to nobody

[2018-07-28 07:15] thorsteneckel commented on #2153
Hi @kendinitto - I somehow believe that this is a duplicate of #1917 / #2097 / #1123 and we already fixed it with this commit. However, could you please verify that it's still broken in latest `develop`?
If so, please provide a sample mail. You download the raw file via this link in the ticket zoom view:

<img width="354" alt="screen shot 2018-07-18 at 12 53 28" src="https://user-images.githubuser

[2018-07-28 17:37] danielduchon commented on #1401
hi @thorsteneckel.

I know thats an old issue but is there a timeline when this feature will be added? We have a lot of users with multiple e-mail-adresses. In Zendesk there is also a feature called "merge user". with it you can merge multiple accounts to one and also merge the emailaddresses and tickets. I think this would be the next step to reduce "junk". What do you think?

[2018-07-28 20:41] kendinitto commented on #2153
Ya I am attaching the raw version of the ticket.

All I did was send a new ticket into the system via email. I did a cntl-c and cntrl-v copy / paste of the www.google.com homepage logo into the ticket.

In the raw file it has the image tag, but in the Zammad ticket interface it is not there, stripped out.

[ticket-76026-48.zip](https://github.com/zammad/zammad/files/2238283/ticket-76026-48.zip)

[2018-07-28 20:42] kendinitto commented on #2153
Regarding the version, it says:
Version
This is Zammad version 2.5.x

I installed it via YUM in centos a couple of days ago.

[2018-07-29 11:08] chesty opened #2154 "work around for outlook feature that breaks email address standard"
* Used Zammad version: 2.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

As requested in https://community.zammad.org/t/work-around-outlooks-broken-email-addresses/1021/2

When outlook emails an address not in its address book, it wraps the name and email address in single quotes. An example

[2018-07-29 14:37] #1958 closed

[2018-07-29 14:41] mrflix commented on #1958
Hey Mr! Thanks for spotting this bug. Its fixed now :)

[2018-07-30 06:47] thorsteneckel commented on #2153
This either works (and was fixed by one of the linked issues above) or is a duplicate of #1917 (last part) as it can be seen here:
![works](https://user-images.githubusercontent.com/3873515/43381480-166b2416-93d5-11e8-92de-0675c94d1bc5.gif)

Closing now.

[2018-07-30 06:47] #2153 closed, assigned to nobody

[2018-07-30 06:53] thorsteneckel commented on #1401
Dear @danielduchon ,

first of all, many thanks for your participation on the Zammad open source project.

Not usual as with proprietary software, we finance Zammad through service. So it's less money we have at our disposal to push Zammad.

If you would like to support Zammad, you can do so via Zammad Support: https://zammad.com/pricing#selfhosted

For all issues it is generally important that we

[2018-07-30 07:08] thorsteneckel commented on #2019
Hi @MrMontesa - thanks for your Feedback. The issue is actually fixed. Please update to the latest version of Zammad 👍

[2018-07-30 14:50] gspfranc opened #2155 "Autoreply doesn't work when there is a mistmatch on email"
### Infos:

* Used Zammad version: Zammad version 2.5
* Installation method (source, package, ..): package
* Operating system: Ubuntu 16.04
* Browser + version: Chrome 67.0.3396.99

### Expected behavior:

* All email should trigger the triggers

### Actual behavior:
* New email doesn't trigger my autoreply trigger because of mismatch on the email in the configuration

### Steps to reproduce the b

[2018-07-30 15:31] thorsteneckel commented on #2155
This probably works as designed. I assume that there are some mails getting set for the forwareded email which tell Zammad not to send an auto-reply. Please post the raw mail of your last screenshot (test 7) here.

[2018-07-30 15:42] gspfranc commented on #2155
[ticket-10029-52.txt](https://github.com/zammad/zammad/files/2241846/ticket-10029-52.txt)

[2018-07-30 15:43] kendinitto commented on #1917
FYI, i just did a YUM update to this version and it's still broken

YUM update to 2.5.0-1532939033.e11f28c2.centos7

[2018-07-30 15:45] thorsteneckel commented on #1917
Hi @kendinitto - please wait till 2.6 arrives or use our `develop` build. 2.5 is not fixed.

[2018-07-30 16:51] monotek commented on #2115
Should be easy to fix... Maybe I can do it this week...

[2018-07-30 16:59] kendinitto commented on #1917
I installed the current version via YUM. In order to install the develop version, I am guessing this is not going to work via YUM? Is there a way to upgrade to the develop version on top of the YUM version without breaking anything or am I going to have to delete the current YUM version and install a fresh develop version?

Also, would you know when 2.6 might be available via YUM update?

[2018-07-30 20:41] gspfranc commented on #2155
Found the reason in auto_response_check.rb:
`return if mail[ 'precedence'.to_sym ] && mail[ 'precedence'.to_sym ] =~ /(bulk|list|junk)/i`

I will remove this line in my local code for the moment, and in the future will change my support emails to alias and not distribution list.

[2018-07-30 21:10] #2155 closed, assigned to nobody

[2018-07-31 05:13] thorsteneckel commented on #1917
Good news: We're [building packages for the `develop` branch, too](http://packager.io/gh/zammad/zammad). You can install them [via the instructions from packager.io](http://packager.io/gh/zammad/zammad/builds/3281/install/centos-7).
Better news: We're working on the 2.6 release which will be probably this week 🤞

PS: Would be great if you could ask technical questions over at the [community board]

[2018-07-31 06:00] ghost opened #2156 "2 Zammad Servers with 1 DB Server"
Hi Support Team,

I was deployed two Zammad servers with one DB Server and it working.

But I confuse that, when the customer opencase/comment on Zammad-01, it didn't show  on Zammad-02. After I start new session on Zammad-02, I can see that opencase/comment from customer.

I don't know why.
Could you help me explain it and how to fix it ?

Thank You and Best Regards
Dat

[2018-07-31 06:06] thorsteneckel commented on #2156
Hi @tiendatdtvt - Zammad is currently [not stateless](https://github.com/zammad/zammad/issues/1601) it relies on the filesystem for the queueing of the Websocket data and has some internal memory cache which won't get invalidated. You can share the FS to get around most of the issues but the memory cache sticks. That's why it's currently not recommended to run multiple application servers. However

[2018-07-31 06:06] #2156 closed, assigned to nobody

[2018-07-31 06:31] monotek commented on #2115
should be fixed by: https://github.com/zammad/zammad/commit/0dec2e50456dd0b46ad47d02001c25994964afa1

[2018-07-31 07:14] ghost commented on #2156
Hi Zammad Team,

Thank you for you update information.

Best Regards,
dat

On Tue, Jul 31, 2018 at 1:06 PM Thorsten <notifications@github.com> wrote:

[2018-07-31 09:39] Newan opened #2157 "Ical escaltion update the calendar entry to 2:00 am"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): deb
* Operating system: ubuntu 16.04
* Database + version: postgres
* Elasticsearch version: n/a
* Browser + version: chrome
* Ticket: #1077668

### Expected behavior:

* An Escalation entry or an waiting for entry escalated. after that the entry is still in calender on the same date or the entry goes to the next d

[2018-07-31 10:07] alex-LE opened #2158 "grouping tickets by priority - wrong order"
When grouping tickets by priority, the order is a bit strange.
Higher priority will be shown on the bottom.
Doesn't it make more sense to show the highes prio on top of the list?

It looks like this:

![grafik](https://user-images.githubusercontent.com/1616675/43453302-0a7a3aee-94ba-11e8-8706-bfeabef09bdd.png)

Sure, i can sort them by prio, but we want to sort them by date.

Alex

[2018-07-31 10:20] martini commented on #2158
Hi @alex-LE

thanks for the issue. Good news. It's already implemented. And available in next stable. It's a duplicate of #1213 😻

 -Martin

[2018-07-31 10:20] #2158 closed, assigned to martini

[2018-07-31 17:06] kendinitto commented on #1917
Hey Guys, I installed the new Dev version and I am having the exact same problem. This does not appear to be fixed. Maybe there is something else behind this? I am attaching the sample ticket that shows that the image is in fact in the raw header and screen shots that show I am seeing no images and verification of new version.

Also if I create a text module and paste an image into it as soon as I

[2018-07-31 17:22] lug-gh commented on #1917
@thorsteneckel problem with the community board is, that it feels like nobody answers there :(

[2018-08-01 02:27] rlue commented on #2139
I don't think this is where the bug is occurring. I placed a debugger breakpoint (`binding.remote_pry`) here, and then created an article and a signature with the text content 'www.zammad.org' — the bug still occurred, and the debugger was never triggered.

I'll continue to investigate.

[2018-08-01 06:58] thorsteneckel commented on #1917
Hi @kendinitto - thanks for the provided information. I thought that you had a different issue. Thanks for clarification. However, we will have a deeper look into it in the next time.

Hi @lug-gh  - thanks for the feedback. We are aware that most of the required knowledge is currently in only a few heads and we are working on distributing it. Actually today is the first day of @MrGeneration workin

[2018-08-01 10:44] veritaspoutine opened #2159 "Upgrade from 2.0 to 2.5 db migrations canceled"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): RPM Update
* Operating system: CentOS 7
* Database + version: postgres 9.2.23
* Elasticsearch version: 5.6
* Browser + version: chrome, firefox, ie

### Expected behavior:
I am upgrading from 2.0 to 2.5

- DB migration succeed.
- Sending and fetching mails work flawlessly.

### Actual behavior:
- rake aborted!
Stan

[2018-08-01 13:27] thorsteneckel commented on #2159
Hi @veritaspoutine - we actually did multiple changes over the versions which seems to lead to this issue. As a workaround: Would it be possible for you to migrate from version to version like 2.0 -> 2.1 -> 2.2 -> 2.3 -> 2.4 -> 2.5 ?

PS: Thanks for your comprehensive writeup!

[2018-08-01 18:02] veritaspoutine commented on #2159
hey @thorsteneckel thanks for replying! i don't see 2.1, 2.2, 2.3, and 2.4 in the zammad repo. Could you point me where I could get them?

edit:
I am asking for rpm package because updating to 2.1 using source would produce the following message:
"Your Ruby version is 2.0.0, but your Gemfile specified 2.4.1"
and this is where I stop before messing up dependencies.

[2018-08-02 06:20] 21let opened #2160 "New function: Do not create a user with a new ticket"
Greetings,

I should have a new function. At Zammad, I would like to be able to set up whether to create a user with a new tire. It is unnecessary for SPAMs and other non-essential emails to create new "access rights" and unnecessarily enter the database. The function could be a global function where I would choose the option: Do not create a user with a new ticket.

[2018-08-02 06:32] 21let opened #2161 "Gui: Show company instead first and last name"
I would have an idea for a new GUI feature:

Zammad now works primarily with first name and last name. These items are required. I would rather use the items so that gui would first display the name of the company / company instead of firts and last name. This company could also appear in the ticket detail just under the name of the ticket.

[2018-08-02 07:07] thorsteneckel commented on #2160
Please read our intro text before creating issues. This is not an issue but a feature request. You can propose feature requests over at https://community.zammad.org/ - Closing now.

[2018-08-02 07:07] #2160 closed, assigned to nobody

[2018-08-02 07:10] thorsteneckel commented on #2159
Hi! Sure - we're prefixing the the version releases with `stable-` so it's e.g. `stable-2.1` more information about the package / repo can be found on the corresponding page over at packager.io: http://packager.io/gh/zammad/zammad/refs/stable-2.1

[2018-08-02 07:11] 21let commented on #2160
I'm sorry, thank you for the alert.

[2018-08-02 07:22] MrGeneration opened #2162 "Printed documents do not contain the whole ticket content, if it gets too much"
### Infos:

* Used Zammad version: ~~2.5.x~~ 2.6.x
* Installation method (source, package, ..): hosted
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: Chrome 68.0.3440.75 x64

### Expected behavior:

* When printing documents, the ticket content should not be limited to one page and not cut off if there's more content.

### Actual behavior:

* Wh

[2018-08-02 08:22] #2139 closed, assigned to rlue

[2018-08-02 08:51] KoJie commented on #1426
This is a feature request from one of our Zammad support customer (T#1024308).

***Current behavior:***
You can forward an E-mail sent from Zammad within Zammad.

This currently looks like this:

---Begin forwarded message:---

Hello Mr. xxx,
.....

***Expected behavior:***
The date and time of the original mail should be listed in the forwarded mail (similar to forwarding a mail from a usual mail

[2018-08-02 09:28] thorsteneckel commented on #2161
@21let - as already stated in #2160 please refer to the community board. Thanks!

[2018-08-02 09:28] #2161 closed, assigned to nobody

[2018-08-02 09:37] saschajullmann commented on #2108
Hello,
I was asked to post some info here because I opened up an issue in the docker-compose repo but @thorsteneckel thinks it has nothing to do with docker and rather is an application bug.

The ticket I'm referring to is:    https://github.com/zammad/zammad-docker-compose/issues/82

In Short: We run zammad in production with the docker-compose setup. We have around 115K tickets, 10 agents and a

[2018-08-02 09:39] thorsteneckel commented on #2108
Hi @saschajullmann - nice to see you again ;) How many Overviews do you have in your system?

[2018-08-02 09:50] siepkes commented on #2108
@saschajullmann @thorsteneckel We also wanted more insight in what the scheduler was doing so we (recently) added a Prometheus endpoint to it. This allows us to gather metrics on queue size, errors, etc. As a bonus you can also use the Prometheus alert manager if things really go of the rails. Would you guys be interested in a PR for that?

[2018-08-02 09:53] thorsteneckel commented on #2108
Hi @siepkes - good to read you again! Since it's a bit off topic I'd like to ask what @monotek our docker expert thinks about it.

[2018-08-02 10:05] siepkes commented on #2108
@thorsteneckel Sorry for keep taking this topic off-topic :wink: However what we implemented is in the Ruby scheduler and therefor not really related to the docker image. Basically what it does is start a small (configurable) HTTP server when the scheduler script is started and expose a Prometheus compatible API / endpoint.

Prometheus expects to pull / scrape metrics (from an HTTP endpoint) at a

[2018-08-02 10:34] saschajullmann commented on #2108
@thorsteneckel we currently have 5 overviews which are more or less the standard ones plus one overview for high priority tickets.

We also had a "ALL Tickets" overview for admins just to see how many tickets got imported. I deleted this overview in order to see whether this would help the issue but I can't say that it did.

@siepkes the Prometheus endpoint sounds interesting. While we don't have

[2018-08-02 10:52] Newan opened #2163 "String of email translation is missing"
### Infos:

* Used Zammad version: 2,5
* Installation method (source, package, ..): deb
* Operating system: ubuntu 16.04
* Database + version: postgres
* Elasticsearch version: n/a
* Browser + version: chrome

### Expected behavior:

* i cannot tranlate the string "You are receiving this because you "are in group" " to german over the tranlsation setting in the backend
 application.html.erb:
<% re

[2018-08-02 11:05] veritaspoutine commented on #742
Hi I am just wondering because most of agents would be working on tickets within a LAN therefore it is expected agents would initiate a session from a private IP for most of the time.

If the sessions feature intends to inform the administrator the location of all the active agents, then why have  `webrick/httprequest.rb` to remove private IP from the X-Forwarded-For header?

Just having a hard ti

[2018-08-02 11:28] thorsteneckel commented on #1092
Closing due inactivity. As @martini stated earlier: Please contact our support team for commercial services. Thanks!

[2018-08-02 11:28] #1092 closed

[2018-08-02 11:31] thorsteneckel commented on #1109
Closing this as a duplicate of #1109 - because of a more comprehensive description. Feel free to subscribe over there for further notifications on the progress.

[2018-08-02 11:31] #1109 closed

[2018-08-02 11:54] thorsteneckel commented on #2163
This is a (technical) duplicate of #2056. Closing now.

[2018-08-02 11:54] #2163 closed, assigned to nobody

[2018-08-02 12:09] thorsteneckel commented on #742
Hi @veritaspoutine - I'm not sure why you came by this old and closed issue but please be aware that every comment on the issue tracker leads to sending mails to over 100 people. Please use the [community board](http://community.zammad.org/) for technical questions.

However, we discourage the usage of webrick and only support unicorn and puma because of various reasons (performance etc.).

[2018-08-02 12:11] MrGeneration opened #2164 "i-doit: Double click needed to select object after searching (w/o category)"
### Infos:

* Used Zammad version: 2.5.x
* Installation method (source, package, ..): not applicable
* Operating system: not applicable
* Database + version: not applicable
* Elasticsearch version: not applicable
* Browser + version: Chrome 68.0.3440.75

### Expected behavior:

* When creating a new ticket, searching for i-doit objects and then choosing objects, the user clicks once to mark the ob

[2018-08-02 12:22] luto commented on #220
Given the sad state of GPG-APIs both in ruby and in general the new [GPG rust implementation](https://sequoia-pgp.org/) might be worth a look.

[2018-08-02 12:23] MrGeneration opened #2165 "i-doit: Setting object before filling in the ticket information removed the i-doit objects"
### Infos:

* Used Zammad version: 2.5.x
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: Google Chrome 68.0.3440.75

### Expected behavior:

* When setting i-doit objects **before** adding a customer, zammad should keep it's i-doit-objects and simply add the customer.

### Actual behavior:

* When

[2018-08-02 14:50] mweinelt commented on #220
With a grain of salt:

[2018-08-03 05:20] kendinitto commented on #1917
Any updates on this? We want to roll this out but can't while images are not working.

[2018-08-03 06:16] #2164 closed, assigned to martini

[2018-08-03 06:16] #2165 closed, assigned to martini

[2018-08-03 06:39] 21let opened #2166 "Incorrect encoding of email messages in HTML format"
When the email arrives in an HTML format using diacritics (Czech Republic), Zammad displays bad coding. If I open a ticket in RAW format and open in MS Outlook, it's ok. Even the mailbox is coded without any problems. The problem is, therefore, in a zammad that fails to deal with latin encoding?

![image](https://user-images.githubusercontent.com/13964136/43627870-6cf4b330-96f8-11e8-8253-06a0e0bf3

[2018-08-03 06:42] 21let commented on #2166
Zammad 2.6.0-1533244886 for Centos7 / Nginx

[2018-08-03 06:46] 21let commented on #2161
I'm sorry, thank you for the alert.

[2018-08-03 06:49] martini commented on #2166
Hi @21let

there is a template for every new issue which is needed to get filled. Please create a new issue by using this template. It would be also good to attach this raw email to the issue. It depends on the content-type of the mail.

Thanks a lot!

 -Martin

[2018-08-03 06:49] #2166 closed, assigned to nobody

[2018-08-03 06:57] thorsteneckel commented on #1917
Hi @kendinitto - please be patient. This an open source project and we're giving our best. We'll let you know when we are done. Be sure of that.
Additionally please don't write comments without a proper cause. Each comment causes a notification mail to be send to more than 100 people.

If you'd like to speed things up you can always make use of our commercial service over at Zammad.com

PPS: Writi

[2018-08-03 07:14] 21let opened #2167 "Incorrect encoding of email messages in HTML format (Windows-1250)"
### Infos:

* Used Zammad version: 2.6.0-1533244886
* Installation method (source, package, ..): package Centos 7 Rpm
* Operating system: Centos 7
* Database + version: Postgresql 9.2.23.-3
* Elasticsearch version: 5.6.10
* Browser + version: Chrome 67.0.3396.99

### Expected behavior:

Functional coding in Windows-1250 HTML format email

### Actual behavior:

When the email arrives in an HTML for

[2018-08-03 07:42] martini commented on #2167
@21let thanks for the issue!

Would it be possible to attache the email as "file"? I the past I has issues with cut&past and strange charset conversations (the pasted text was not Windows-1250 anymore, it was utf8). Thanks a lot!

[2018-08-03 07:44] 21let commented on #2167
I can only send it privately if it does not matter. Email addresses include IP addresses and other private information.

[2018-08-03 07:49] 21let commented on #2167
[contact-head.txt](https://github.com/zammad/zammad/files/2256493/contact-head.txt)

[2018-08-03 12:16] martini commented on #1616
@SummerStorm as hint, there is a own controller for that widget/controller for avatars https://github.com/zammad/zammad/blob/develop/app/assets/javascripts/app/controllers/widget/avatar.coffee

[2018-08-03 12:18] martini commented on #1616
@SummerStorm here the correct location of used controller https://github.com/zammad/zammad/blob/develop/app/assets/javascripts/app/controllers/organization_profile.coffee#L191

[2018-08-03 12:18] SummerStorm commented on #1616
@martini Thanks for the hint, but I've already fixed the issue :). It's just missing one line ` active: true` in https://github.com/zammad/zammad/blob/develop/app/assets/javascripts/app/controllers/organization_profile.coffee#L197

[2018-08-03 12:19] martini commented on #1616
@SummerStorm Nice! 😻

PS: Just updated the link above 10 sec. ago. You are right.

[2018-08-03 13:11] thorsteneckel commented on #2130
Hi @SummerStorm - Here is the complete error from the `log/production.log`:

[code]

The error is still reproducible on my instance. So let me know if I can provide further information or if you want to have a remote-session.

[2018-08-03 13:13] SummerStorm commented on #1864
@thorsteneckel This usability issue is still present on the latest develop (9b495847d as of writing). I'll produce a fix for it.

[2018-08-03 15:11] MrDigit opened #2168 "Can't create tickets per mail - Database error"
Hello,

with fresh zammad 2.5 installation (with your "production docker" version) tried to setup "fetching mails". Did not work, zammad complains about violations regarding key constraints. Stacktrace below.

Any help appreciated.

MrDigit.

[code]

[2018-08-03 15:16] thorsteneckel commented on #2168
Please read our intro text before creating issues. This is not an issue but a technical question and you removed the mandatory information block. You can ask questions over at https://community.zammad.org/ - Closing now.

[2018-08-03 15:16] #2168 closed, assigned to nobody

[2018-08-03 15:24] MrDigit commented on #2168
Foreign Key Constrain really looks like an issue. Thanks for fast repsonse, posting question in board.

[2018-08-03 15:48] MrDigit commented on #2168
https://community.zammad.org/t/cant-create-tickets-per-mail-database-error/1077

[2018-08-06 06:58] MrGeneration commented on #1861
I actually can reproduce this every 2-3 reboots of my OpenVPN-Server-Host.
This reboot takes up  to 5 minutes until the channel is back.

During this period, the network zammad tries to grab the E-Mails from is unreachable (because it's supposed to get it via VPN) and the service tries on reconnecting.

Maybe a hint. I can take a look into the logs the next time it happens.

[2018-08-06 09:53] rlue commented on #2140
Hi @e311,

We've been digging into this issue and are pretty confident we understand what's going on, but we need to ask for your help again to be completely certain.

#### Step 1: Confirm the cause of the bug

Try the following line in your terminal, in the Zammad directory. If our suspicions are correct, then it should fail (_i.e.,_ raise an error and show a traceback):

    $ rails r "puts Sett

[2018-08-06 10:22] MrGeneration opened #2169 "Time format always english if generated from system"
### Infos:

* Used Zammad version: 2.5.x
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: Google Chrome 68.0.3440.84

### Expected behavior:

* When defining a trigger or scheduler task that sends en E-Mail, used placeholders (e.g. ticket creation time) will be formatted in systems default language-

[2018-08-06 10:34] MrGeneration commented on #1589
#2169 might be a slight overlap: @mantas could you let me know the branch this has been adressed in? I might be able to verify it's function then, maybe the other issue got adressed too.

[2018-08-06 10:36] mantas commented on #1589
@MrGeneration it's in `private-mm_timezones`

[2018-08-06 11:12] rlue commented on #2152
@PhilippRedel Upon further investigation, it looks like the aforementioned issue #2140 is related but not identical.

We've been digging into this issue and are pretty confident we understand what's going on, but we need to ask for your help again to be completely certain.

#### Help us: Confirm the cause of the bug

Try the following line in your terminal, in the Zammad directory. Be sure to repl

[2018-08-06 12:03] martini commented on #2108
I just pushed a commit with significant performance improvement to stable (without any background job changes). It would be nice of somebody could verify it if `script/scheduler.rb` takes then less CPU time (not, usage of the CPU should significant go down after about 60 sec.). Thanks for feedback!

Thanks to @thorsteneckel !

[2018-08-06 12:14] olivergrahl commented on #1759
It would have been helpful to have this new prerequisite in the docs (max_allowed_packet needs to be 4M, 64M recommended)

[2018-08-06 12:15] thorsteneckel commented on #1759
@olivergrahl - We'd love to see a pull request for this improvement 😍

[2018-08-06 13:12] olivergrahl opened #2170 "Cannot clone PostmasterFilter"
### Infos:

* Used Zammad version: 2.5.0
* Installation method (source, package, ..): DEB
* Operating system: ubuntu:16.04
* Database + version: mysql 5.7
* Elasticsearch version: 5.6
* Browser + version: FF 61.0.1 (64-Bit)

### Expected behavior:

* Cloning a filter should work.

### Actual behavior:

* Error message "Attribute 'channel' required!"

### Steps to reproduce the behavior:

- Go to S

[2018-08-06 13:14] thorsteneckel commented on #2159
One of our paying customers faced the same issue. The structure of the field causing this issue looks like this:

[code]

The attribute `"data_option": {},` is causing the issue.

We were able to find the field by running the following line on the [Zammad rails console](https://docs.zammad.org/en/latest/admin-console.html#start-zammad-s-rails-console): `ObjectManager::Attribute.all.find { |a| a.da

[2018-08-06 15:29] MrGeneration opened #2171 "Overview not showing unassigned tickets "if not defined" (e. g. for owner but also for select or input fields)"
### Infos:

* Used Zammad version: 2.5.x
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: Google Chrome 68.0.3440.84

### Expected behavior:

* When creating a overview for displaying tickets where "owner is not not set" the overview will show any tickets that have been assigned to an agent.

### Ac

[2018-08-06 15:35] MrGeneration commented on #2170
I could verify this. It doesn't matter what you change during cloning, the message "Attribute 'channel' required" does always appear.

Tested with Google Chrome 68.0.3440.84

Logpart:
`I, [2018-08-06T17:34:24.837481 #22165] INFO -- : Started POST "/api/v1/postmaster_filters" for 5.9.62.170 at 2018-08-06 17:34:24 +0200
I, [2018-08-06T17:34:24.851428 #22165] INFO -- : Processing by PostmasterFilters

[2018-08-06 18:42] martini opened #2172 "Do not allow to create pre existing attributes like updated_at via object manager"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Do not allow to create pre existing attributes like updated_at via object manager.

### Actual behavior:

* It's possible to create pre existing attributes like updated_at via objec

[2018-08-06 19:36] #2172 closed, assigned to martini

[2018-08-07 06:54] #2108 closed, assigned to martini, MrGeneration

[2018-08-07 06:58] SummerStorm commented on #1616
Fixed by commit fb0ef19e7d3bd7dcde92752c9e5e4f24421fb3fd.

[2018-08-07 06:58] #1616 closed

[2018-08-07 07:00] SummerStorm commented on #2141
Fixed by commit b358374ff5c7b9cabe67f53c1ad59fcb8295c7b4

[2018-08-07 07:00] #2141 closed, assigned to SummerStorm

[2018-08-07 09:07] zojl commented on #1267
Hi!
I've just installed Zammad and tried to use chat with Russian translation.
So, I encuntered with the same error: "chat notice || Translation 'ru' needed!"
Here's translation for Russian:

[code]

[2018-08-07 09:17] martini commented on #1267
@zojl thanks a lot! Just one line is missing:

        'Chat closed by %s': 'Chat closed by %s',

Thanks for feedback!

[2018-08-07 09:36] zojl commented on #1267
Oh.
Added it into previous message.

[2018-08-07 10:40] martini commented on #1267
@zojl thanks a lot, is available in next stable release (next day).

<img width="390" alt="screen shot 2018-08-07 at 12 39 43" src="https://user-images.githubusercontent.com/110226/43771292-1115e0bc-9a3f-11e8-85d1-aded9bb54cce.png">

[2018-08-07 11:24] SummerStorm commented on #1636
This issue is no longer present on `develop` as of 768fdf08a0f19eaa9a76d4f8745c583de2f0f964. Closing.

[2018-08-07 11:53] e311 commented on #2140
This is the First massege

serveradmin@support:/opt/zammad$ rails r "puts Setting.get('ldap_config').to_json"
Traceback (most recent call last):
        4: from bin/rails:3:in `<main>'
        3: from bin/rails:3:in `require_relative'
        2: from /opt/zammad/config/boot.rb:3:in `<top (required)>'
        1: from /usr/lib/ruby/2.5.0/rubygems/core_ext/kernel_require.rb:59:in `require'
/usr/lib/r

[2018-08-07 14:50] KoJie opened #2173 "Invalid date causes errors"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): hosted instance
* Browser + version: Chrome, Version 68.0.3440.84

### Expected behavior:

* Invalid date does not cause an error

### Actual behavior:

* Invalid date causes errors:
![image pasted at 2018-8-2 13-38](https://user-images.githubusercontent.com/22768032/43783296-aead9ca8-9a61-11e8-9543-4038cc863f6c.pn

[2018-08-07 14:55] Fischmue opened #2174 "Genereric OAuth2 Error"
### Infos:

* Used Zammad version: 2.5.0
* Installation method (source, package, ..): package
* Operating system: Ubuntu 16.04
* Database + version: mysql 5.6
* Elasticsearch version: 5.6
* Browser + version: Firefox 60 and IE 11
* ADFS: MS Server 2016 with AD FS
* Active Directory: Server 2016 with Scheme 2016

### Expected behavior:

successfull login with Generic-OAuth2

### Actual behavior:

E

[2018-08-07 15:26] thorsteneckel commented on #2174
Hi @Fischmue - Thanks for providing the information. We're using a third party library which handles the OAuth2 authentication and which implements it conform the the specification. This why we/they can't/won't change the code / URL.

Could you please check if there is a log entry regarding this in your `log/production.log` file?

[2018-08-07 15:43] Fischmue commented on #2174
Hi @thorsteneckel,

I have found the following lines:

`I, [2018-08-07T17:43:00.845549 #6036]  INFO -- : execute Channel.fetch (try_count 0)...
I, [2018-08-07T17:43:01.406845 #6039]  INFO -- : Started GET "/auth/oauth2" for 127.0.0.1 at 2018-08-07 17:43:01 +0200
I, [2018-08-07T17:43:01.668714 #6039]  INFO -- : Started GET "/auth/oauth2/callback?code=[FILTERED]&state=e5ffb2eda686cb00a222ad23bda65ea

[2018-08-07 15:51] thorsteneckel commented on #2174
I can't see anything that would lead me to the source of this error. Sadly we have no way of reproduce this in our environment. Especially it's mostly the library functionality that handles this stuff. It would take quite a few hours to debug this. Sadly we don't have the time for spending so much of our "free time" on it. The only thing I can offer you right now is our commercial service. If you'

[2018-08-07 16:18] splattner commented on #868
+1
Generic OAuth doesn't really work now.

[2018-08-08 05:16] e311 commented on #2140
rails r "pp Setting.get('ldap_config').except('bind_pw')" > zammad_2140_debug_output.txt
prodruce a emty file (i can not upload because it is emty)

![befehl](https://user-images.githubusercontent.com/18627219/43817665-f21c0a00-9ada-11e8-920a-ad33e3a1ed01.PNG)
![output](https://user-images.githubusercontent.com/18627219/43817668-f42729e2-9ada-11e8-862b-37b01ae20000.PNG)

[2018-08-08 06:37] thorsteneckel commented on #2140
Hi @e311 - Please try the following:

`zammad run rails r "pp Setting.get('ldap_config').except('bind_pw')" > zammad_2140_debug_output.txt`

OR:

`bundle exec rails r "pp Setting.get('ldap_config').except('bind_pw')" > zammad_2140_debug_output.txt`

but should be the first line.

[2018-08-08 11:19] e311 commented on #2140
I try the first Command:
The same as "Serveradmin" with sudo or with out sudo
![image](https://user-images.githubusercontent.com/18627219/43834098-3d4c9526-9b0d-11e8-9b8b-00d2a3c24002.png)
Bundel my be not installed?
![image](https://user-images.githubusercontent.com/18627219/43834183-860ae9de-9b0d-11e8-9cb2-a30a4ca003e6.png)

[2018-08-08 13:04] SummerStorm commented on #2130
Fixed via 597cd01b5a2a88f3b8 on `develop`.

The issue still exists on `stable` as of 2018-08-08, but since we are releasing `develop` as version 2.6 next week (week of 2018-08-13), this fix will not be backported to 2.5. Affected users are encouraged to upgrade to 2.6 once it is available.

The condition for this issue to occur is that no ticket have ever been closed, so any Zammad instance with a

[2018-08-08 13:04] #2130 closed, assigned to SummerStorm

[2018-08-08 13:23] MrGeneration opened #2175 "Attachments not stored within Template"
### Infos:

* Used Zammad version: 2.5.x
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: Google Chrome 68.0.3440.84 , but doesn't really matter
* Ticket-ID: #1050958, #10100709

### Expected behavior:

* Adding images and attachments to templates for reusing them should work.

### Actual behavior:

[2018-08-08 15:15] MrGeneration opened #2176 "unprocessable E-Mail (encoding problems)"
### Infos:

* Used Zammad version: 2.5.x
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: n/a

### Expected behavior:

* Zammad will gladly import a small UTF8 E-Mail

### Actual behavior:

* In very rare and special cases, Zammad is unable to import E-Mails, even though they look perfectly fine

##

[2018-08-09 02:52] SummerStorm commented on #2170
Closed via 428c68d06a402b75b971f54add4943191be16160.

[2018-08-09 02:52] #2170 closed, assigned to SummerStorm

[2018-08-09 04:01] martini opened #2177 "Only send related CTI/phone events to agents"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Only send related CTI/phone events to agents

### Actual behavior:

* Currently every event (no effects what agent) is sent to any agent

### Steps to reproduce the behavior:

* cre

[2018-08-09 04:03] martini commented on #2177
Proposed solution from @gijsrutten - https://github.com/zammad/zammad/issues/2044#issuecomment-396236128

Currently the PBX integration in zammad only works global. Every agents that enables the "phone" option receives these notifications.

Based on routing profiles in the PBX solution, an incoming call will only ring at some of the agents. Usually there is some kind of user management in the PBX

[2018-08-09 04:09] martini commented on #2044
@gijsrutten I created a own issue for your https://github.com/zammad/zammad/issues/2177 proposal. Thanks for it.

[2018-08-09 09:02] Trapulo commented on #845
I also really need to update notification template via standard GUI...

thanks

[2018-08-09 10:55] #2176 closed, assigned to rlue

[2018-08-09 11:27] Luis2032 opened #2178 "No permission on ticket"
### Infos:

* Used Zammad version: 2.5.0
* Operating system: Debian
* Database + version: Postgres
* Browser + version: Chrome

### Expected behavior:

* Users should be able to access to customer and agent tickets.
The User should also only be able to edit the agent tickets and to view the customer tickets.

### Actual behavior:

I assigned a user two roles.
One role contains access to his own cu

[2018-08-09 11:34] MrGeneration commented on #2178
Hi,

this is not a bug but works as expected.
For technical questions, please head over to https://community.zammad.org .

This tracker is being watched by over 100 people, getting updates on Issues on every post, so for technical problems this issue tracker is a very bad place.

Sorry about that

Bests

[2018-08-09 11:34] #2178 closed, assigned to nobody

[2018-08-09 11:37] rlue commented on #2140
@e311, that's very strange. Let's ignore the second command (`bundle exec rails ...`) for now — I don't think that's the right path here. Could you maybe try to back up the log file and create a new empty one?

[code]

Thanks for all your help working through this issue with us.

[2018-08-09 11:39] MrGeneration commented on #2178
This is actually a duplicate of #967

Sorry for being too fast.
Customer & Agent in one and the same account is currently not supported by zammad.

[2018-08-09 11:42] MrGeneration commented on #2140
@rlue we did the commands yesterday with @e311 .

THe log has perfectly fine access rights, I double checked that.
I'll send you the ldap-config output in mattermost, in case you don't have it yet.

[2018-08-09 12:11] danielduchon opened #2179 "Importerror from Zendesk"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): DEB
* Operating system: Ubuntu 16.04
* Database + version: 9.5
* Elasticsearch version: 5.6.10
* Browser + version: chrome 67.0.3396.99

### Expected behavior:

* import all data without error

### Actual behavior:

* zammad imports only the first 250 characters with error:
`WARNING: cut string because of database

[2018-08-09 14:07] danielduchon commented on #2174
@thorsteneckel
we've got a similar error when setting up the google-authentication:

![422__unprocessable_entity](https://user-images.githubusercontent.com/41837959/43904033-0f45ef88-9bee-11e8-8320-402007f01ab5.png)

the used credentials are correct.
Is there anything we can do? Cause our userbase is in gapps and we wanted to provide sso.

[2018-08-09 15:15] jeremyj563 commented on #1192
Thanks everyone for your work on this and for documenting what you've done. Unfortunately I am at a loss. As others have experienced, I too am being redirected to the login page after hitting the "auth/sso" endpoint. Here is everything I've done:

- installed Zammad on Debian 9 (stretch)
- configured ldap integration (mapped `samaccountname` -> `login`)
- confirmed able to login with AD username/p

[2018-08-09 23:52] rlue commented on #2140
Whoops, you totally sent me the log at the start of the day yesterday. Don't know how I missed it!

[2018-08-09 23:58] rlue commented on #2140
@e311, I didn't see what I was expecting to see in your debug output. Now that @MrGeneration was able to help you get your `zammad run rails r ...` commands working, could you try the following again and tell me if it's raising the `Encoding::UndefinedConversionError` that this issue is for?

    $ rails r "puts Setting.get('ldap_config').to_json"

[2018-08-10 07:32] rlue commented on #2154
Hey @chesty, we're working on a fix for this right now, and we just wanted to make sure that we're understanding the issue right. Can you send an email like the one above to support@zammad.com?

Specifically, we'd like to see the faulty email headers, including `CC: "'donald@toddler.com'" <'donald@toddler.com'>` _in situ,_ because honestly we've dealt with a lot of emails before, and we've never s

[2018-08-10 09:16] rlue commented on #2159
@veritaspoutine, have you had a chance to try @thorsteneckel's suggestion? To summarize:

* The migration that's failing for you was introduced in Zammad `stable-2.4`. That means you should be able to update to [`stable-2.3`](http://packager.io/gh/zammad/zammad/refs/stable-2.3) with no problems, and without having to incrementally upgrade from 2.1 to 2.2 to 2.3.

* The reason that the migration is

[2018-08-10 09:35] rlue commented on #2167
@21let thanks for this bug report. For some reason, the third-party library we use to auto-detect string encodings is (incorrectly) guessing that your email is Windows-1251, not Windows-1250, so that's the encoding that Zammad is trying to convert from.

    => {"encoding"=>"windows-1251", "confidence"=>0.9026276263884991}

We're working on a solution. Thanks for your patience!

[2018-08-10 09:44] #2096 closed, assigned to rlue

[2018-08-10 11:07] MrGeneration opened #2180 "Check_MK-Integration for Hosts, allow to modify the article template"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: n/a
* Ticket-ID: #1025287

### Expected behavior:

* Service- and Host-Checks should work with Check_MK

### Actual behavior:

* only Service-Checks work

### Steps to reproduce the behavior:

* add check_mk inte

[2018-08-10 13:23] SummerStorm commented on #2159
@rlue  The failing migration seems to be [20180220171219_check_for_object_attributes.rb](https://github.com/zammad/zammad/blob/develop/db/migrate/20180220171219_check_for_object_attributes.rb)

I would suggest the following:

1. Commenting out the code in the existing migration so that it effectively does nothing:
[code]
(Commenting it out is purely for documentation purposes. Deleting the lines w

[2018-08-10 13:26] chesty commented on #2154
here's some info from microsoft about it.

https://answers.microsoft.com/en-us/outlook_com/forum/oemail-osend/remove-single-quote-marks-around-email-addresses/d446f535-e353-4e18-ae1d-eacca5b6bed9

and I'll send a real example email to support now.

[2018-08-10 13:34] chesty commented on #2154
oops, I deleted a comment by accident. Sorry. I'll add it back.

here's some info from microsoft about it.

https://answers.microsoft.com/en-us/outlook_com/forum/oemail-osend/remove-single-quote-marks-around-email-addresses/d446f535-e353-4e18-ae1d-eacca5b6bed9

[2018-08-10 14:23] MrGeneration opened #2181 "Autocompletion does not work for more than one recipient on new ticket"
### Infos:

* Used Zammad version: 2.6.x
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: Google Chrome 68.0.3440.84; Firefox 61.0.1 (64-Bit)

### Expected behavior:

* When creating a new ticket adding more than one recipient inside the "to" field should work with auto completion, just like it does

[2018-08-10 16:20] tmikaeld opened #2182 "[Languages] Completed the Swedish language"
Just wanted to mention that I've translated all the strings and updated the old ones.

I've translated other CRM like BusinessCatalyst, Group-Office and Plutio so my translation should be relevant.

It's been submitted to the translation repository.

[2018-08-10 21:39] PhilippRedel commented on #2152
@rlue Im sorry for the late reply.

If i tried to run the first command, i ran into an error. I needed to change the command to
`connection = Viewpoint::EWSClient.new('******************', '************', '**********')`
After changin this and executing the other commands i got an ErrorAccessDenied message. So i tried to connect with other usernames and passwords and every time got the same error a

[2018-08-11 11:20] altzone opened #2183 "Problem while updating to 2.6: Mysql2::Error: Invalid default value for 'start_at'"
* Used Zammad version: 2.6.0-1533865382.bb08ba03.xenial
* Installation method (source, package, ..): package
* Operating system: Ubuntu 16.04.5 LTS
* Database + version: 5.7.23-0ubuntu0.16.04.1
* Elasticsearch version: 5.6.10
* Browser + version: Chrome 68.0.3440.84

### Expected behavior:

* Running update

### Actual behavior:

* error in

[code]

### Steps to reproduce the behavior:

* I can no

[2018-08-11 11:27] altzone commented on #2183
The error is due to MySQL 5.7 sql-mode setting

  NO_ZERO_DATE, and NO_ZERO_IN_DATE

the solution would be to disable these two modes in the MySQL configuration
or to put the date field with a default of "2000-01-01 00:00:00"

How can I run the update a second time?
thank you very much

[2018-08-13 05:08] rlue commented on #2159
Thanks @SummerStorm, retroactively **inserting** a new migration does seem to work, although I wonder if it would just make more sense to place this logic in the model (say, in a `before_save` callback) instead. In fact, that might obviate the need for altering the migration history altogether.

In any case, this still leaves the question of what the default value of `data_option[:null]` should be

[2018-08-13 05:48] pgodzwa commented on #2183
Same issue here.

[2018-08-13 06:03] sschroll commented on #2174
Hi @Fischmue

Could you please describe how you set up the ADFS? Especially the claim rules and the endpoints.

[2018-08-13 06:08] rlue commented on #2152
Yes, absolutely my mistake — I was getting Viewpoint's API mixed up with the API for one of Zammad's internal classes. Good call.

Yep, also a big oversight on my part. I can't be 100% sure, but I'm pretty confident that you just need to add one more call to `#utf8_encode` on line 49:

[code]

[2018-08-13 06:50] rlue commented on #2152
And assuming that works, what we'd really like is to be able to write a test to ensure that this problem doesn't crop up again. In order to do that, it'd really help to know exactly what folder name on your Exchange server is breaking this method.

To do that, please **remove** the changes that fixed this bug (_i.e.,_ the places where you added `.utf8_encode(fallback: ...)`), and then run the foll

[2018-08-13 07:17] MrGeneration commented on #2183
Just to make sure and my verification work easier here:
Are you using MySQL or MariaDB?

[2018-08-13 08:04] #2167 closed, assigned to rlue

[2018-08-13 08:28] pgodzwa commented on #2183
MySQL here.

[2018-08-13 08:29] altzone commented on #2183
Hello,
I’m using mysql 5.7
If you want more information, dont hesitate ask me.

[2018-08-13 12:08] rkaldung opened #2184 "Reply does not work as expected"
### Infos:

* Used Zammad version: develop (pre 2.7)
* Installation method (source, package, ..): source
* Operating system: CentOS 7
* Database + version: PostgreSQL
* Elasticsearch version: ./.
* Browser + version: Chrome lates, FF lates, all macOS

### Expected behavior:

* When replying to an article the sender of the article should be used as the recipient.

### Actual behavior:

* The custom

[2018-08-13 14:12] e311 commented on #2140
I get the Message "Your Ruby version is 2.5.1, but your Gemfile specified 2.4.4"
I sorry it will not work (i try all the thinks that Google say to me)

[2018-08-13 14:21] monotek commented on #2140
Your Ruby & your Elasticsearch version are not compatible with Zammad.
Use Ruby 2.4.4 and Elasticsearch up to 5.6.

[2018-08-13 15:09] MrGeneration commented on #378
Sorry for not getting back to you in this topic.

This already has been implemented and works (Just tested it to make sure)
I'll take Milestone 2.5 because I know that it was inside there for sure. :)

![image](https://user-images.githubusercontent.com/6549061/44040059-cd7204b8-9f1a-11e8-9fb1-f66e43124d5f.png)

Closing now. :)

[2018-08-13 15:09] #378 closed

[2018-08-13 15:19] MrGeneration opened #2185 "Make conditions AND/OR and thus enable several conditions of same type"
### Infos:

* Used Zammad version: 2.6.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1031039, #1060690, #1067221, #1072409, #1079103, #1079241, #1079346, #1079468, #1082065, #1080184, #1083072, #1083556, #1083611, #1084691, #1087205, #1090351, #1099619

### Expected behavior:

[2018-08-13 15:20] MrGeneration commented on #1004
In order to make this more consistent, we created the new issue #2185 - it applies way more places in Zammad than just overviews.

I'll close this topic, you can follow the new issue. :)

Thanks for your contribution!

[2018-08-13 15:21] MrGeneration commented on #885
In order to make this more consistent, we created the new issue #2185 - it applies way more places in Zammad than just the trigger.

I'll close this topic, you can follow the new issue. :)

Thanks for your contribution!

[2018-08-13 22:49] sfakir commented on #834
+1

[2018-08-14 04:07] rlue commented on #2140
@e311 sorry actually, totally my fault. Forgot to add `zammad r` again. -_-'

I meant

    $ zammad run rails r "puts Setting.get('ldap_config').to_json"

[2018-08-14 04:55] ghost opened #2186 "max_allowed_packet warning breaks Elasticsearch query"
### Infos:

* Used Zammad version: 2.6.x
* Installation method (source, package, ..): packe
* Operating system: Debian 9.5
* Database + version: mysqld 10.1.26-MariaDB-0+deb9u1
* Elasticsearch version: 5.6.10
* Browser + version: Independent from browser

### Expected behavior:

* Search output is displayed (Searchs Tickets, Companies etc.)

### Actual behavior:

* error is displayed: StatusCode:

[2018-08-14 05:21] e311 commented on #2140
Ther is the message :

[Neues Textdokument (3).txt](https://github.com/zammad/zammad/files/2285597/Neues.Textdokument.3.txt)

[2018-08-14 05:45] rlue commented on #2056
Very strange—I followed all of your steps, @thorsteneckel, and at first, I didn't see an entry for the placeholder text. But then, I clicked through the Time Accounting modal (just one step, and received some kind of invalid input error), and the voilà, there it was!

![2056_1](https://user-images.githubusercontent.com/12194123/44073753-103469f0-9fc8-11e8-917a-7a81f8d987cc.png)

It definitely work

[2018-08-14 06:11] MrGeneration commented on #2186
Your log clearly says

[...]
Please increase this value in your **MariaDB** configuration accordingly.
[...]

Please head over to our Community-Forum for technical Questions or help on setup (unless you're a paying customer, you then can use our E-Mail support).

Please also include further information like "how Zammad has been setup", because "wrong url" for elasticsearch rather sounds like you m

[2018-08-14 06:11] #2186 closed, assigned to nobody

[2018-08-14 08:09] thorsteneckel commented on #2183
This is really strange because the DB column will just get renamed. We don't change the default value at all. There are multiple other columns with a NULL Date default value.

You can re-run failed/remaining migrations via `rake db:migrate`.

Do you have performed a DB update in the meantime?

To be honest I think this is an issue we can't fix in the scope of Zammad. It's more a technical question

[2018-08-14 08:28] thorsteneckel commented on #2182
Hi @tmikaeld - Thanks a lot! This is great especially for all all the Swedish users out there 🇸🇪👋 We'll pick your changes up and they will be delivered afterwards (probably with the next release).  Closing now.

[2018-08-14 08:28] #2182 closed, assigned to nobody

[2018-08-14 08:42] thorsteneckel commented on #2179
Hi @danielduchon - there was an connection timeout while downloading an attachment from Zendesk. This might be the case for lager attachments or if requests to Zendesk take to long. Do you have tried to restart the import from scratch?
However, Zammad should handle this more properly. We'll handle this.

From my first analysis:
Zammad [checks if the download request was successful](https://github.

[2018-08-14 08:44] Dakror commented on #1262
+1 This would be very helpful. Any news?

[2018-08-14 08:45] thorsteneckel commented on #1262
Locking conversation. There is no new input. +1 and requesting comments create noise and distraction. We are working hard on the next upcoming/most requested features and projects of our support customers. If you want to state your interest in the feature and give valuable input please give the initial post a 👍 reaction and we are able to evaluate it. We will lock all distracting issues from now o

[2018-08-14 10:35] rlue commented on #2056
@Newan, after discussing this with Thorsten a little further, it appears that the missing translation _does_ get added to the list, but you can't see it because the list needs to be refreshed first.

We do consider this a bug, and are working on a fix to make sure the list is automatically refreshed in the future, but in the meantime, you should be able to do the following as a workaround:

1. Upd

[2018-08-14 12:22] rlue commented on #2140
So the output from the last command was exactly what I was expecting. To sum up, it looks like some of the user attributes on your LDAP server have binary data values. Zammad tries to convert these to strings and then pass them around from the backend to the frontend, but since they're not actually strings, we wind up running into some encoding / conversion problems.

Of course, since I can't conn

[2018-08-14 12:48] ghost commented on #2186
As I wrote: "The max_allowed_packet is actually 128M, the maximum mailsize in Zammad 64MB", the setting is already bigger than 64MB in the mariadb config... And this setup has been working fine. Does Zammad cache the max_allowed_packet value somewhere?

[2018-08-14 12:52] thorsteneckel commented on #2186
@clicksports - please enter the [Zammad rails console](https://docs.zammad.org/en/latest/admin-console.html#start-zammad-s-rails-console) and execute the following command:
`ActiveRecord::Base.connection.execute('SELECT @@max_allowed_packet;').first.first`
and post the output here. Thanks!

[2018-08-14 12:54] ghost commented on #2186
Loading production environment (Rails 5.1.5)
irb(main):002:0* ActiveRecord::Base.connection.execute('SELECT @@max_allowed_packet;').first.first => 134217728

That's 128MB.

[2018-08-14 13:00] e311 commented on #2140
I reboot the hole system, but i can not push the change Button.

![image](https://user-images.githubusercontent.com/18627219/44093048-9103cbac-9fd2-11e8-951b-f29c351be78d.png)

befor the patch
[2140_bug_report (Step1).txt](https://github.com/zammad/zammad/files/2286957/2140_bug_report.Step1.txt)

after the patch
[2140_bug_report(Step2).txt](https://github.com/zammad/zammad/files/2286949/2140_bug_r

[2018-08-14 13:16] thorsteneckel commented on #2186
So I reformatted the log file from above and instead of making things clear it gets more confusing. The text:
[code]

is send to the Elasticsearch which is not able to handle the request and fails. The message gets printed when trying to start Zammad with a wrong DB configuration. You can see from the log file that this error comes from a request to the HTTP REST API of Zammad. However, I can't im

[2018-08-14 13:28] thorsteneckel opened #2187 "LDAP / Exchange update (save!) records unnecessarily"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): git
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Instances without changed attributes should not get `save!`-ed.

### Actual behavior:

* Instances get `save!`-ed on every import run.

### Steps to reproduce the behavior:

* Confi

[2018-08-14 13:48] e311 commented on #2140
I have check the domain functional level. It is 2003 can this be the Problem

[2018-08-14 15:04] MrGeneration opened #2188 "WebApp (monitoring section) claims scheduler not running, if delayed jobs get too many"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: n/a

### Expected behavior:

* WebApp checks for the Schedulers health (running or not) and states it's state in Monitoring

### Actual behavior:

* The WebApp checks for the scheduler running that and seems to e

[2018-08-14 15:07] MrGeneration opened #2189 "Background processes taking too long should be logged for better error search"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: n/a

### Expected behavior:

* Zammad should log delayed jobs (or jobs in general) that are taking much time for completion (something like above 2s)

### Actual behavior:

* Zammad just seems to hang on a job -

[2018-08-14 15:23] rlue commented on #2140
Thanks for clarifying this. I had not understood the scope of the problem, originally.

Do you mean you restored the system to before the LDAP conf, successfully ran through the whole wizard, and still wound up with the same problem? Or do you mean you tried to restore the system to before the LDAP conf, but you're still getting this error and can't get to the wizard?

If it's the former, then the

[2018-08-15 04:42] e311 commented on #2140
I restored a backup, The backup was created before I started the LDAP configuration for the first time.

[2018-08-15 05:12] e311 commented on #2140
I try to reset the LDAP con with
`$ RAILS_ENV=production zammad run rails r "Setting.set('ldap_config', {})"`
i not "reset" the conf, it still works.
It now seems like the whole system is running, without an error message

(Without LDAP)

[2018-08-15 06:33] maggusf opened #2190 "ldap import fails after migration from 2.5 to 2.6"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): package
* Operating system: CentOS
* Database + version: postgresql
* Elasticsearch version:
* Browser + version: Safari

### Expected behavior:

* LDAP Impot is working

### Actual behavior:

* ldap import fails

### Steps to reproduce the behavior:

* tbd

getting this error during ldap import job after migrating

[2018-08-15 06:41] thorsteneckel commented on #2190
Hi @maggusf - there should be a traceback below this error lines that shows where the request comes from (file paths). Could you please provide those?

[2018-08-15 06:45] maggusf commented on #2190
of course:
[code]

[2018-08-15 06:59] thorsteneckel commented on #2190
Looks like the Migrations to 2.6 haven't been run (completely). Could you please stop all your Zammad services and execute `zammad run rake db:migrate`. If there is an error please post it here. Otherwise restart your Zammad and let us now.

[2018-08-15 07:06] maggusf commented on #2190
looks fine for me:
[code]

[2018-08-15 07:06] maggusf commented on #2190
and ldap synch is working again. thanks!

[2018-08-15 07:06] #2190 closed, assigned to nobody

[2018-08-15 08:00] #2188 closed, assigned to martini

[2018-08-15 08:01] martini commented on #2188
Improved monitoring controller:
- Issue a monitoring message if background jobs over 8000.
- Improved message if scheduler jobs are not executed.

[2018-08-15 08:22] thorsteneckel commented on #2183
We found a way to work around this MySQL error from our scope. Fix is on the way 🚀

[2018-08-15 10:17] rlue commented on #2140
Okay, so you're saying:

1. Zammad is working,
2. you currently have no LDAP sync configured, and
3. you're not getting an error message on the LDAP sync page anymore?

(To confirm point 2, you can run `RAILS_ENV=production zammad run rails r "puts Setting.get('ldap_config')"`, which should print `{}` to the console.)

---

If all of the above is true, and you have copied the patched version of `l

[2018-08-15 14:55] bnalpay commented on #1589
adding .localtime solves this issue for mail and slack notifications but still it's manual and must be redone on every update, anyone with automatic workaround for this ?

[2018-08-15 16:38] #2171 closed, assigned to martini

[2018-08-15 19:47] thorsteneckel commented on #2183
Fixed with the two commit above in latest `stable` and `develop`. Packages should be ready in ~30 minutes from now. You can re-run the migration via `rake db:migrate` or `zammad run rake db:migrate` – depending on your installation source. Feedback would be great! Closing now. 🚀

[2018-08-16 01:54] #2187 closed, assigned to rlue

[2018-08-16 05:58] pgodzwa commented on #2183
@thorsteneckel now when I update, i get this error:
Mysql2::Error: Duplicate column name 'queue':

[2018-08-16 06:50] thorsteneckel commented on #2183
Hi @sheLbyPL - thanks for the feedback! It looks like that MySQL won't allow running the table changes in a transaction which means that they were not reverted on the previous failure and the DB is now in a state "in between". However, could you please replace the file `db/migrate/20180809000001_cti_generic_api.rb` with the following content and retry:

[code]

This checks if the columns already e

[2018-08-16 07:18] pgodzwa commented on #2183
@thorsteneckel

done, now I get this error:

`== 20180809000001 CtiGenericApi: migrating ====================================
-- column_exists?(:cti_logs, :queue)
   -> 0.0008s
-- column_exists?(:cti_logs, :initialized_at)
   -> 0.0007s
-- column_exists?(:cti_logs, :duration_waiting_time)
   -> 0.0007s
-- column_exists?(:cti_logs, :duration_talking_time)
   -> 0.0007s
-- change_column_default(:cti

[2018-08-16 07:25] thorsteneckel commented on #2183
Could you please try the following and post the output here:

[code]

[2018-08-16 07:30] pgodzwa commented on #2183
Seems to be fine now.

`== 20180809000001 CtiGenericApi: migrating ====================================
-- column_exists?(:cti_logs, :queue)
   -> 0.0008s
-- column_exists?(:cti_logs, :initialized_at)
   -> 0.0008s
-- column_exists?(:cti_logs, :duration_waiting_time)
   -> 0.0009s
-- column_exists?(:cti_logs, :duration_talking_time)
   -> 0.0008s
-- execute("SELECT @@sql_mode")
   -> 0.0002s
"ONLY

[2018-08-16 07:31] thorsteneckel commented on #2183
Sweet! It worked 🚀I'll update the file. Your Zammad is now ready to run. Thanks a lot for your support 👍

[2018-08-16 07:35] thorsteneckel commented on #2183
Fixed with the commits above in `stable` and `develop`. Packages are ready in ~30 minutes from now. This fix now supports migrations that are "half way executed" (columns already created) and MySQL servers configured in strict mode (which is now disabled for altering the name of the columns). Thanks a lot @sheLbyPL !

EDIT:
You can re-run the migration via `rake db:migrate` or `zammad run rake db:

[2018-08-16 07:35] #2183 closed, assigned to thorsteneckel

[2018-08-16 08:52] martini commented on #2154
Hi @chesty

thanks for your example which you provided. So my summary is now:

**Problem:**

Outlook (version unknown) sends e-mails with invalid e-mail addresses such as `<'customer@example.com'>` in To and/or Cc (if the respective recipient is not maintained in Outlook/contacts).

Note I: This is not about quotation marks in the real name, but about quotation marks in the e-mail address which ma

[2018-08-16 10:13] crashbuggy commented on #2154
Thanks, Martini,
edit: I didn't realise I was logged into my other account. this is chesty here.

I was told it worked in Thunderbird, but I just tested and you're right, it doesn't work there.
I probably wouldn't strip out the single quote characters then, that just encourages bad behaviour.

There's another option, a bit tangent to this issue, currently, when sending to multiple recipients from

[2018-08-16 11:39] martini opened #2191 "Sometimes automatisation is not executed"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* execute automatisation as shown in admin interface

### Actual behavior:

* automatisation is not/never executed because the attribute "running" is true

### Steps to reproduce the

[2018-08-16 13:22] martini opened #2192 "Not possible to copy inline images from article to article (copy only image - directly via copy image)"
### Infos:

* Used Zammad version: 2.5
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-IDs: #1039044

### Expected behavior:

* take images via cut & past taken from an existing article

### Actual behavior:

* image is lost after submit

### Steps to reproduce the behavior:

- Downloa

[2018-08-16 13:24] martini commented on #1917
@kendinitto @lug-gh I just verified the issue from technical point of view.

It's technical not related to the original issue, so I created a new issue for that: https://github.com/zammad/zammad/issues/2192

Just subscribe to the issue to get updates. Thanks!

[2018-08-16 13:29] #2191 closed, assigned to martini

[2018-08-16 20:09] martini opened #2193 "Puma performance is going worst if users with phone attribute are updated or new tickets are created."
### Infos:

* Used Zammad version: 2.6.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* No puma performance indications if users with phone attribute are updated

### Actual behavior:

* Puma performance is going worst if users with phone attribute are updated

### S

[2018-08-17 05:14] rkaldung opened #2194 "Wrong Recent viewed tickets list"
### Infos:

* Used Zammad version: develop (pre 2.7)
* Installation method (source, package, ..): source
* Operating system: CentOS 7
* Database + version: PostgreSQL
* Elasticsearch version: n.a.
* Browser + version: Chrome 68 on macOS

### Expected behavior:

* Selecting from the tickets I've last seen / opened.

### Actual behavior:

* Weird selection of ticket with no relation to teh label 'Re

[2018-08-17 15:47] membero opened #2195 "Search with id:123 does not work anymore"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): Debian Package
* Operating system: Debian 9
* Database + version: PostgreSQL 9.6
* Elasticsearch version: 5.6.10
* Browser + version: any

### Expected behavior:

* A search with id:123 will show objects with id 123.

### Actual behavior:

* A search with id:123 produces elasticsearch errors.
* A search with id:"12

[2018-08-18 13:18] SummerStorm commented on #2195
Hi there, thanks for the bug report. A fix for this will be available in the next version.

In the meanwhile, if you need a triage you can replace `/opt/zammad/lib/search_index_backend.rb` with [this fixed version](https://gist.github.com/SummerStorm/b64c2c46fbd9257ccc48f125b449dba2).

## Detailed explanation

Before 597cd01b5a2a88f3b869d64c68ecd0d6f7c43874:
1. Elasticsearch creates indexes on the

[2018-08-19 15:35] thorsteneckel commented on #2140
@rlue - JFI: Have a look at https://community.zammad.org/t/unable-to-access-ldap-in-integrations-statuscode-500/1116/5 😍

[2018-08-20 05:26] e311 commented on #2140
Sorry for the late reply. Yes everything correct. After the LDAP again configured, I had the same error again.

[2018-08-20 07:13] #2020 closed

[2018-08-20 13:21] killstrelok opened #2196 "After upgrade from Zammad 2.5 to 2.6, LDAP sync no longer works."
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): package from zammad repo
* Operating system: CentOS 7
* Database + version: PostgreSql
* Elasticsearch version:
* Browser + version: Firefox but the issue persists across other browsers

### Expected behavior:

* After upgrade from Zammad 2.5 to 2.6, LDAP sync reports successful sync.

### Actual behavior:

* LDAP

[2018-08-20 13:59] rkaldung commented on #2194
What's the definition of recent customer tickets? Does this include tickets from the same organization?

[2018-08-20 14:09] thorsteneckel commented on #2196
Hi @killstrelok - This is a technical question because the error is probably caused by the problems in the update process. Could you please create a topic over at the [community board](http://community.zammad.org/) and add the whole log file (especially the traceback of the `undefined method 'with_indifferent_access' for nil:NilClass' class` error). Thanks!

[2018-08-20 14:09] #2196 closed, assigned to nobody

[2018-08-20 14:21] thorsteneckel opened #2197 "Chat-Widget disappears after close"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Firefox 61.0.1

### Expected behavior:

* Open chat widget
* Close chat widget
* Chat widget collapses
* Chat widget can be re-opened

### Actual behavior:

* Open chat widget
* Close chat widget
* Chat widget co

[2018-08-20 14:32] thorsteneckel commented on #2077
Hi @Franselbaer - we're unable to reproduce this in the latest `stable` branch:
![escalation_overview](https://user-images.githubusercontent.com/3873515/44346498-5f8e2180-a496-11e8-93b1-224c50a6b7a6.gif)

Could you please re-try it in your Zammad (after updating it to at least 2.6)? If you're still able to reproduce it please create a [free online instance](https://www.zammad.com/getting-started)

[2018-08-20 14:32] #2077 closed, assigned to nobody

[2018-08-21 07:25] raphaelm opened #2198 "Can't process email with space in email"
Hi,

I'm again getting regular problems with spam mail that cannot be parsed. So far it's only spam mail and the sender addresses are indeed invalid, but I still consider it a bug since it triggers a monitoring alert every time.

### Infos:

* Used Zammad version: 2.6.0-1534493073.5a723290.stretch
* Installation method (source, package, ..): debian package
* Operating system: Debian stretch

### E

[2018-08-21 08:23] lukrop commented on #2068
Somehow the ``es_url`` got set again during package upgrade to ``2.6.0-1534819024.ea425d50.jessie``

[2018-08-21 08:31] thorsteneckel commented on #2115
Looks like this didn't work: https://github.com/zammad/zammad/issues/2068#issuecomment-414592902 (@lukrop)

Reopening. @monotek - could you please verify this?

[2018-08-21 08:34] martini commented on #2115
I did test it before releasing 2.6. And it worked for me. Issue was fixed by https://github.com/zammad/zammad/commit/101d7d975cbc2cc61748a587a6eff6f83c6b35ce#diff-63dc4d928992e597f0e75e8880ca8da3

[2018-08-21 08:36] thorsteneckel commented on #2115
@raunsbaekdk - could you please verify if it works for you, too?

[2018-08-21 09:44] monotek commented on #2115
setup_ealsticsearch was on top of db creation for a reason...
elasticsearch_searchindex_rebuild will likely fail as elasticsaearch bootup time is to long.

[2018-08-21 10:00] membero opened #2199 "Unprocessable Mail if sender contains http.net@"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): Debian Package
* Operating system: Debian 9
* Database + version: PostgreSQL 9.6
* Elasticsearch version: 5.6.10
* Browser + version: any

### Expected behavior:

* Email gets fetched and processed without error.

### Actual behavior:

* Error in processing, Email stored in /opt/zammad/tmp/unprocessable_mail/

###

[2018-08-21 10:25] MrGeneration commented on #2162
Additional information as I just saw it: It would make sense to automatically expand the ticket contents in case there's more to display during showing the print view.

[2018-08-21 20:27] raunsbaekdk commented on #2115
Hi @thorsteneckel

I can confirm that the initial fix worked for me as well. I have just upgraded to: 2.7.0-1534831450.d2216463.stretch from 2.6.0-1533276474.9b495847.stretch and settings persists.

Since the fix didn't work for @lukrop could it be that his Elasticsearch instance runs on the same server?

Semi log from update:
`# Configuring Elasticsearch...
-> removing [ingest-attachment]...
-> D

[2018-08-21 20:28] raunsbaekdk commented on #2115
Hi @thorsteneckel

I can confirm that the initial fix worked for me as well. I have just upgraded to: 2.7.0-1534831450.d2216463.stretch from 2.6.0-1533276474.9b495847.stretch and settings persists.

Since the fix didn't work for @lukrop could it be that his Elasticsearch instance runs on the same server?

Semi log from update:
# Configuring Elasticsearch...
-> removing [ingest-attachment]...
-> Do

[2018-08-22 00:59] #1864 closed

[2018-08-22 04:53] martini opened #2200 "Unable to process email `EncodingError: could not find a valid input encoding`"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Process multipart emails with correct content type in mime  attachment (where content type of body is in mime attachment and not in header of the email it self)

### Actual behavior

[2018-08-22 04:57] #2193 closed, assigned to martini, rlue

[2018-08-22 06:37] thorsteneckel commented on #2140
@rlue - as @e311 already stated there is still something wrong: https://community.zammad.org/t/unable-to-access-ldap-in-integrations-statuscode-500/1116/21

[2018-08-22 07:07] raphaelm opened #2201 "Unable to process email: `could not find a valid input encoding?"
### Infos:

* Used Zammad version: 2.6.0-1534819024.ea425d50.stretch
* Installation method (source, package, ..): Debian package
* Operating system: Debian stretch
* Database + version: MariaDB 10.2.17+maria~stretch

### Expected behavior:

* The email is parsed

### Actual behavior:

* The (spam) email causes a monitoring alert

### Log message
[code]

### E-mail content

https://drop.rami.io/HvO

[2018-08-22 07:08] raphaelm commented on #2201
Sorry, apparent duplicate

[2018-08-22 07:08] #2201 closed, assigned to nobody

[2018-08-22 07:08] raphaelm commented on #2200
Another sample is here:
https://drop.rami.io/HvOP59

[2018-08-22 07:10] martini commented on #2201
Thanks anyway!

[2018-08-22 07:12] lukrop commented on #2115
@raunsbaekdk ES is indeed installed on the same machine. It seems to be a dependency of the zammad package. Regarding to systemctl it's also active but the process exited. I never consciously installed or configured ES on this machine.

[2018-08-22 07:23] martini commented on #2200
@raphaelm thanks. Good news. Fix is on the way (CI).

[2018-08-22 07:34] thorsteneckel commented on #2115
Thanks @raunsbaekdk - seems like this is an issue only affecting your installation 😕 Please open a now topic over at the [community board](http://community.zammad.org/) to discuss it further because comments here will get send to over 100 people (watching this repository). Thanks for your understanding. Closing now.

[2018-08-22 07:34] #2115 closed, assigned to monotek

[2018-08-22 07:35] thorsteneckel commented on #2201
For later: Duplicate of #2200

[2018-08-22 07:52] SummerStorm commented on #1182
Hi there, thanks for the bug report. While the current behavior is not ideal, we cannot parse the ticket number as an integer because the ticket number is not always numeric (Zammad handles non-numeric tickets numbers e.g. from imported sources or own created ticket number generators).

This issue is closed.

[2018-08-22 07:52] #1182 closed

[2018-08-22 10:46] rlue commented on #2056
Fixed by b035cfe

[2018-08-22 10:46] #2056 closed, assigned to rlue

[2018-08-22 10:53] Charburner opened #2202 "Empty user list with Elasticsearch enabled"
Hey guys,

I just installed the latest Zammad release on CentOS 7 via rpm and as long as elasticsearch 5.6 is enabled, the user management page always shows "no entries".

`'es_url' = 'http://localhost:9200'`

When I disable elasticsearch by setting `'es_url' = ''`, users are listed as expected.

Other management pages like groups or roles are not broken though.

When I try to rebuild the searchin

[2018-08-22 11:23] fthommen commented on #1182
I don't agree.  It's just a bug and it makes this sorting completely useless. Zammad knows of what type the counter is (it is configurable) and should sort according to the selected type.  I don't know about imported sources (don't know how this works) but in the case of own created ticket number generators, the implementer would have to provide an appropriate sort routine.  The fallback could sti

[2018-08-22 11:31] MrGeneration commented on #2031
This also (still) applies to 2.6

[2018-08-22 11:37] thorsteneckel commented on #2202
Please read our intro text before creating issues. This is not an issue but a technical question. You can ask questions over at https://community.zammad.org/ - Closing now.

However, it looks like the attachment plugin is missing: https://docs.zammad.org/en/latest/install-elasticsearch.html#generic-install-elasticsearch-5-6-ingest-attachment

[2018-08-22 11:37] #2202 closed, assigned to nobody

[2018-08-22 11:41] thorsteneckel commented on #2031
We're still not able to reproduce it. If anyone know how we're happy to fix it.

[2018-08-22 11:51] martini commented on #1182
@fthommen thanks for feedback. I'm a technician so I guess my opinion is a little bit focused on data structure (because the database field ist text so the sorting is SQL and elasticsearch is also text).

Question: So you expect that the ticket number is a integer value per default (not text)?

Just a notice: Per default the ticket number has a length of 5 spaces. So you will have additional space

[2018-08-22 12:16] SummerStorm opened #2203 "Confirm Elasticsearch plugins before index creation"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:
A helpful error message like: "Elasticsearch is missing the ingest-attachment plugin. Please follow instructions at https://docs.zammad.org/en/latest/install-elasticsearch.html#configu

[2018-08-22 13:33] #2200 closed, assigned to martini

[2018-08-22 21:13] martini opened #2204 "Max size of tabs is not recognised"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Only allow to open 30 tabs in web app (auto close of oldest unchanged tab)

### Actual behavior:

* With Zammad 2.6 the limit is ignored, you can open many tabs as you want

### Ste

[2018-08-23 05:11] #2204 closed, assigned to martini

[2018-08-23 06:15] danielduchon commented on #2179
hi @thorsteneckel sorry for my delayed answer. yes, I tried it several times and it stops every time at the same ticket. I can't see anything special in it. there are only two little images with size off 6kb together.

[2018-08-23 06:15] danielduchon commented on #2179
wrong button...

[2018-08-23 06:24] martini opened #2205 "Unable to modify tree_select attributes after upgrade to 2.6"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Be able to modify tree_select attributes via admin interface

### Actual behavior:

* After upgrade to 2.6 I get an error message

### Steps to reproduce the behavior:

* On Zammad

[2018-08-23 06:28] martini opened #2206 "Unable to modify tree_select attributes with fresh 2.6"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Be able to modify tree_select attributes via admin interface

### Actual behavior:

* I get an error message

### Steps to reproduce the behavior:

* create a tree_select with Value

[2018-08-23 06:32] danielduchon opened #2207 "No Mail-Icon or reply/forward-button after ticket-merging"
### Infos:

* Used Zammad version: 2.6.x
* Installation method (source, package, ..): deb
* Operating system: ubuntu 16.04
* Database + version: postgres (PostgreSQL) 9.5.14
* Elasticsearch version: 5.6.10
* Browser + version: Safari 11.1.2 (13605.3.8)

### Expected behavior:

* Two Tickets were created by E-Mailchannel (Sent from external to support address and converted to tickets.) On each Tick

[2018-08-23 08:22] thorsteneckel commented on #2207
Hi @danielduchon ,

we're not able to reproduce this. I even made a GIF 🤓 :
![reply](https://user-images.githubusercontent.com/3873515/44512965-6a2a0000-a6bc-11e8-9fd3-52f90614d6cd.gif)

Please let me know where I go wrong. Do your Groups have emails configured? You can try to reproduce it on one of our [free online instances](https://www.zammad.com/getting-started) and let us know which one it is

[2018-08-23 08:22] #2207 closed, assigned to nobody

[2018-08-23 08:56] #2152 closed, assigned to rlue

[2018-08-23 10:43] tbeitter commented on #2140
FYI: I've got the same issue and the patched user.rb did'nt work for me, too.
Thanks for your work in advance

[2018-08-23 11:58] thorsteneckel commented on #2140
Everybody who still has the issue after changing the file and restarting the application please provide the error (including backtrace) from your `log/production.log` file. Thanks!

[2018-08-23 12:08] danielduchon commented on #2207
@thorsteneckel what the h... . I did a server restart and now everything is working. Sorry. for the work... by the way: how do you do these fancy GIFs?

[2018-08-23 12:15] thorsteneckel commented on #2207
Thanks for the feedback. No problem. It would be a great help if you could create a topic over at the
 [community board](http://community.zammad.org/) first. Otherwise more than 100 people get one email for each comment / closing action etc. If we're sure that's an actual issue we can still migrate it over to the issue tracker. That works pretty well so far.

Regarding the GIF: I use [LICEcap](htt

[2018-08-23 12:23] tbeitter commented on #222
It would be awesome if Zammad could notify our agents in the xmpp-muc!

[2018-08-23 13:08] thorsteneckel commented on #1564
This introduces new errors:
![screen shot 2018-08-23 at 14 36 20](https://user-images.githubusercontent.com/3873515/44527188-69a65f00-a6e6-11e8-9405-35755efebd14.png)

[2018-08-23 15:00] SummerStorm commented on #2206
Fixed by 9be7269646a8d09d8ec98e614f2f3384e09f33e6

[2018-08-23 15:00] #2206 closed, assigned to SummerStorm

[2018-08-23 15:00] SummerStorm commented on #2205
Fixed by 9be7269646a8d09d8ec98e614f2f3384e09f33e6

[2018-08-23 15:00] #2205 closed, assigned to SummerStorm

[2018-08-23 16:15] MrGeneration opened #2208 "Datepicker not in view if ticket list too long"
### Infos:

* Used Zammad version: 2.6.x
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: Google Chrome (latest), Firefox (latest)

### Expected behavior:

* When wanting to change a ticket state to pending close or pending reminder (no matter how long your ticket list is) the date picker for that s

[2018-08-23 16:41] thorsteneckel opened #2209 "Order of relation select fields (Group, State etc.) values is broken"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Select field values should be ordered by name

### Actual behavior:

* Select field values are order by ID
![screen shot 2018-08-23 at 14 36 20](https://user-images.githubuserconten

[2018-08-23 16:43] thorsteneckel commented on #1564
This is actually a [new issue](https://github.com/zammad/zammad/issues/2209). Closing now. Sorry for the noise.

[2018-08-23 16:43] #1564 closed

[2018-08-23 19:18] martini commented on #2209
Note: The issue only appears for setups created before feb 2018 were this migration was executed. https://github.com/zammad/zammad/blob/develop/db/migrate/20180220171219_check_for_object_attributes.rb

[2018-08-23 21:02] #2209 closed, assigned to martini, SummerStorm

[2018-08-24 01:40] #2159 closed, assigned to rlue

[2018-08-24 05:20] veritaspoutine commented on #2159
@thorsteneckel @rlue
I would like to apologize for not getting back to you guys soon enough.  I tried @thorsteneckel's solution upgrading to 2.5 incrementally and it worked. I really appreciate all the helps from zammad and other contributors.

[2018-08-24 06:46] thorsteneckel commented on #2159
@veritaspoutine Thanks for your feedback! Especially the kind words 😊 Since there were some bigger changes involved and there is a practical workaround @rlue and I decided to fix this issue for Zammad 2.7. 🚀

[2018-08-24 06:46] #2154 closed, assigned to rlue

[2018-08-24 09:09] MrGeneration opened #2210 "i-doit search in fulltext for all objects"
### Infos:

* Used Zammad version: 2.6.x
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: all
* Ticket-ID: #1025811

### Expected behavior:

* you can search all fields of an object

### Actual behavior:

* you can only search for object names (and filter by categories)

### Steps to reproduce the b

[2018-08-24 09:31] #2197 closed, assigned to thorsteneckel

[2018-08-24 10:36] rlue commented on #2140
@e311, @tbeitter, and everyone else who's currently experiencing this issue — I have [_yet another_ debugging script I'd like you to run](https://gist.githubusercontent.com/rlue/9d68ff3c56a49ecffbed09df84776c59/raw/649e46c26798ed5b069ea5db51f8f8c04032a380/2140_improved_bug_report.rb). I don't want to speak too soon, but this should really be the last one.

Place it in your zammad directory and the

[2018-08-26 16:53] fthommen commented on #1182
well, I don't have an expectation about the _default_ data type, but when I configure the ticket ID to be a number - which I can do - then I expect Zammad to sort accordingly.  The same applies when I configure the ticket ID to be a date.  If the format is unknown or text, then sorting in text order is ok ("fallback").

Not using those feature I can't comment on imported source and custom ticket n

[2018-08-27 01:24] #2075 closed, assigned to rlue

[2018-08-27 04:07] rlue commented on #2199
Thanks, @membero! This turned out to be an issue in the `Avatar` model, where it tries to tell the difference between an email and an HTTP URL by regex-matching against `/^http/`. A fix is in the works.

[2018-08-27 05:00] e311 commented on #2140
Hello,
If i try to run the new script i get this  (LDAP is on) no file was created.

[code]

[production.log](https://github.com/zammad/zammad/files/2322444/production.log)

[2018-08-27 05:23] chesty opened #2211 "ERROR: #<Encoding::ConverterNotFoundError: code converter not found (Windows-1258 to UTF-8)>"
### Infos:

* Used Zammad version: 2.6 (i think there was an update since this error)
* Installation method (source, package, ..): zammad-dcoker-compose

### Expected behavior:

* process email without error

### Actual behavior:

* I get the error
[code]
### Steps to reproduce the behavior:

* I'll email the eml file to support

[2018-08-27 06:41] martini commented on #2211
Hi @chesty

thanks for you issue. I tried to reproduce it, but it worked fine on develop & stable.

We fixed a few email processing issues last week. So can I ask for your exact Zammad version?

Thanks!

 -Martin

[2018-08-27 08:42] redbear-ger commented on #2140
also have this ldap error... (ubuntu 16.04 installation through repo)

[code]

[2018-08-27 09:01] rlue commented on #2140
@redbear-ger, please ensure that `2140_improved_bug_report.rb` is in your `/opt/zammad` directory.

[2018-08-27 09:03] Charburner commented on #967
Hey guys,

since your last reply was about 6 months ago, would you mind to give us an update or tell us if this requested feature is anywhere near the top of your to do list? :-)

Have a nice day

[2018-08-27 09:09] rlue commented on #2140
@e311 whoops, that's a weird bug.

I've modified the script by removing some unnecessary multibyte characters from the console output. You can re-download the script and try again, or simply change the smart quotes on line 77 to regular quotes:

[code]

Not 100% sure this will fix it, but I have a hunch.

[2018-08-27 09:16] redbear-ger commented on #2140
@rlue, no 2140_improved_bug_report.rb in /opt/zammad

[2018-08-27 09:28] chesty commented on #2211
I don't know how to get the exact version, zammad just says 2.6.x.
anyway, I updated and it is indeed fixed. Thanks and sorry for the noise.

[2018-08-27 09:28] #2211 closed, assigned to martini

[2018-08-27 09:29] martini commented on #2211
In your case the zammad package version or the zammad-dcoker-compose version. Anyway. Thanks for fast feedback!

[2018-08-27 10:05] redbear-ger commented on #2140
btw: As soon as I delete the LDAP config ( RAILS_ENV=production zammad run rails r "Setting.set('ldap_config', {})" ), the problem disappears.

[2018-08-27 11:36] rlue commented on #2140
@redbear-ger thanks for your quick feedback; please [download the bug report script](https://gist.githubusercontent.com/rlue/9d68ff3c56a49ecffbed09df84776c59/raw/649e46c26798ed5b069ea5db51f8f8c04032a380/2140_improved_bug_report.rb), place it in `/opt/zammad`, and try again.

Even if the problem is 100% gone now, it would help a lot to have your sample data so we can build tests to make sure this d

[2018-08-27 13:06] redbear-ger commented on #2140
The bug is gone but also the ldap integration ;)
Will Download the Report Script tonight

[2018-08-28 08:42] Noertward opened #2212 "Unable to Close a specific Ticket"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): Ubuntu via DEB
* Operating system: Ubuntu 16.04
* Elasticsearch version: 5.6.10
* Browser + version: Google Chrome 68.0.3440.106 (also checked with FF at another Computer)

### Expected behavior:

*I want to close a Ticket with the "State" Option, so im setting it to Closed

### Actual behavior:

*As soon i want to

[2018-08-28 08:45] thorsteneckel commented on #2212
This is most likely a misconfigured trigger. Please check your triggers. If the issue still persists please open a topic over at the [community board](http://community.zammad.org/). We/the community will find a solution. Closing now because every comment will send more that 100 emails to the watchers of this repository. Thanks for your understanding.

[2018-08-28 08:45] #2212 closed, assigned to nobody

[2018-08-28 10:34] advoservice opened #2213 "502 Bad Gateway after Update"
* Used Zammad version: 2.6
* Installation method (source, package, ..): rpm
* Operating system: CentOS 7
* Database + version: postgreSQL
* Elasticsearch version: 5.X
* Browser + version: firefox
*ruby 2.4

### Actual behavior:

* 502 Bad Gateway

### Steps to reproduce the behavior:

*

Yes I'm sure this is a bug and no feature request or a general question.

[2018-08-28 10:34] thorsteneckel commented on #2213
Please read our intro text before creating issues. This is not an issue but a technical question. You can ask questions over at https://community.zammad.org/ - Closing now.

[2018-08-28 10:34] #2213 closed, assigned to nobody

[2018-08-28 12:51] #2199 closed, assigned to rlue

[2018-08-28 13:14] realtarget commented on #2133
Hi, we can confirm this problem which occured some minutes ago using mailgun as smtp:

[code]

Feature idea: Integrate a button to "RESEND" emails.

[2018-08-28 14:13] realtarget commented on #2133
Addition:
The problem also occurs after opening a new email ticket while sending the initial mail to a customer.

[2018-08-28 14:13] martini commented on #1426
"read more" is broken now

Just reply to an customer where you quote the customer message.

<img width="621" alt="screen shot 2018-08-28 at 08 32 11" src="https://user-images.githubusercontent.com/110226/44728560-1dd82900-aadd-11e8-9cfd-4d6fa38883d2.png">

Zammad will identify the new quote feature as position to add the "read more" feature. Which makes no sense in this use case.

[2018-08-28 15:14] dsukhin commented on #1426
Hey @martini, I'm curious what you think the correct behavior should be? I think it makes sense that the "on Tuesday...." portion is quoted as meta data and part of the old message that you replied to. That portion is quoted on Apple mail for example as well as other mail clients that include it.

[2018-08-28 15:50] martini commented on #1426
A user just want to see the own message which was created by the agent and sent to the customer. And not a "see more" option.

On apple mail if I go to the sent folder I also can read my now messages without press "see more".

<img width="691" alt="screen shot 2018-08-28 at 17 48 59" src="https://user-images.githubusercontent.com/110226/44734635-b1642680-aaea-11e8-9ab3-b03abf9a8deb.png">

What dif

[2018-08-28 16:45] dsukhin commented on #1426
Ahh I understand and see your issue. You are putting some content below where the quote of the previous email started. Was this an issue before? I'm not sure I understand how adding the time the previous message was sent to the top of the quoted message changed the "see more" behavior. I agree this should be fixed up.

[2018-08-28 17:12] MrGeneration opened #2214 "Zammad limits the number of users shown within admin panel"
### Infos:

* Used Zammad version: 2.6.x
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: postgreSQL
* Elasticsearch version: n/a
* Browser + version: Google Chrome 68.0.3440.106 & Firefox 61.0.2 (I guess it happens to all Browsers)
* Ticket-IDs: #103054, #1031276, #1041255, #1048406, #1043370, #1073584, #1082962, #1090308, #1092570, #1099547, # 101007

[2018-08-28 17:19] thorsteneckel commented on #2214
I'm pretty sure there is/was an issue regarding this but I'm unable to find it right now. I'll remove the bug tag since it's not broken but bad UI/UX. It's possible to search for users. However, we should improve it.

[2018-08-28 19:33] vbustamante commented on #1326
Do you have any updates on this Issue?

[2018-08-29 07:06] martini commented on #1426
Exactly, sorry for not making clear. It was not an issue before because Zammad tries to find first "On XXX wrote:" (which was only on quotes from customers). But now it also appears on own quotes where the actual content of the article is below of the own "On XXX wrote:".

[2018-08-29 09:52] hublux commented on #2140
Hello,
I have the same issue and tried all the suggestions above. None of them solve the problem.
So I decided to reproduce the issue on a dev system to give you a debug file without providing sensitive data.

The 2140_improved_bug_report.rb script returned me following text file:
[2140_debug_log.txt](https://github.com/zammad/zammad/files/2331649/2140_debug_log.txt)

Thanks!

[2018-08-29 13:44] dsukhin commented on #1426
Got it. This should probably be fixed by looking for the last unquoted line instead and putting see more below that. This should be rather easy in the plaintext coveted form since that's just the last line that doesn't start with a ">".

[2018-08-29 18:52] SimJoSt opened #2215 "Supporter gets notification for own tickets in groups he doesn't have access to"
### Infos:

* Used Zammad version: 2.6.x
* Installation method (source, package, ..): Docker?
* Operating system: Linux
* Database + version:
* Elasticsearch version:
* Browser + version: Google Chrome 68.0.3440.106 64bit

### Status
I use our Zammad setup as a customer, for internal tickets, as well as a supporter.
The tickets I create as a customer, belong to a group (accounting) I don't have ac

[2018-08-29 18:55] thorsteneckel commented on #2215
Hi @SimJoSt - Welcome to the community and thanks for your comprehensive write up. This is one side effect of #967. Your use case is currently not possible. I'll close this issue now but it's linked to the original one and we will cover the issue you described, too. Feel free to subscribe to the other issue to get notifications on our progress. Sadly there is no concrete timeline yet because it's

[2018-08-29 18:55] #2215 closed, assigned to nobody

[2018-08-29 23:13] mrladeia opened #2216 "Domain .app"
I am testing zammad and .app domains not working.

When I switch to a .com domain he works normally.

.app domains have any exceptions?

[2018-08-30 03:33] rlue commented on #2140
Thanks @hublux! For some reason, there are a bunch of places in the file where control characters (_e.g.,_ `^D`) are replaced with a literal carat (`^`) followed by a literal letter (`D`), and this is causing errors when trying to parse the file. Did you do anything to the file before uploading it, by any chance? (Say, opening it in a text editor, then closing it, and clicking "save changes"?) Or

[2018-08-30 06:28] thorsteneckel commented on #2216
Please read our intro text before creating issues. This is not an issue but a technical question. You can ask questions over at https://community.zammad.org/ - Closing now.

[2018-08-30 06:28] #2216 closed, assigned to nobody

[2018-08-30 08:32] hublux commented on #2140
Hello,
Thank you for your reply.

Indeed, it looks like some of my actions did change the file when I copied the content out of it.
checking it with cat, it looks a little bit different.

![grafik](https://user-images.githubusercontent.com/42802202/44839803-f6e63800-ac3f-11e8-9942-d4a1374eeac1.png)

I tried the command and receive the correct output.
![grafik](https://user-images.githubusercontent

[2018-08-30 08:40] #2198 closed, assigned to rlue

[2018-08-30 10:33] rlue commented on #2140
@hublux, thanks again for your speedy feedback. I think there's something wrong with the debug script I wrote, because this new file isn't quite right either (it's missing a lot of data — 4kB, compared to the 16kB debug log you originally sent).

I've since patched the debug script to (hopefully) make the `2140_debug_log.txt` file more robust and safer to transmit without these weird encoding prob

[2018-08-30 11:56] hublux commented on #2140
[2140_debug_log.txt](https://github.com/zammad/zammad/files/2336038/2140_debug_log.txt)
There you have the output with the new script
regards!

[2018-08-30 13:46] pc-coholic commented on #2140
Hey everyone,
also chiming in, as the same problem affects me, too - even after updating to the new `lib/ldap/user.rb`

[2140_debug_log.txt](https://github.com/zammad/zammad/files/2336350/2140_debug_log.txt)

I also started digging around a little bit in the `ldap_config`-hash and started getting rid of all the `!binary` contents. But it turned out, that even though I had 4 of these, only two scre

[2018-08-30 21:31] poplarave commented on #1994
What if I am having this issue?  Is it back or is it me?

[2018-08-31 05:54] OneiricIT commented on #1103
Would love to see this too!

[2018-08-31 09:17] hublux commented on #2140
Hello,

Just to clarify, I'm not sure if this is obvious since I have not seen anybody mentioning this.
As a LDAP connection I use Active Directory with German as Systemlanguage. So I installed a new system and a seperate Domain. The only difference from the previous system where the issue occured is that on the new system the language is set to U.S English instead of German. With this setup there

[2018-08-31 09:19] oriflcdf opened #2217 "Unable to set users synced with LDAP as ticket owner."
### Infos:

* Used Zammad version: 2.5.x
* Installation method (source, package, ..): Source
* Operating system: Ubuntu 16.04 Xenial
* Database + version: MariaDB 10.0.34
* Elasticsearch version: 5.6.10
* Browser + version: Firefox 60

### Expected behavior:

* Everyone should be able to select an owner during the creation or the transfer of a ticket.

### Actual behavior:

* Only local users crea

[2018-08-31 09:54] MrGeneration opened #2218 "CTI Caller Log blocks user deletion/destroy and fails"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: n/a

### Expected behavior:

* When deleting a user, the cti_caller_log may deny it's deletion.
* the user will reappear

### Actual behavior:

* When deleting a user, the user is being removed cleanly.

### Step

[2018-08-31 10:32] rlue commented on #2140
Thanks @hublux! We've got a fix in the works thanks to your input; it should be merged to `develop` shortly!

[2018-08-31 11:36] martini commented on #2218
JFI: Issued by this change https://github.com/zammad/zammad/issues/2057

[2018-08-31 11:44] thorsteneckel commented on #2217
Hi @oriflcdf - this is probably a wrong configuration and not a bug. We only track issues here. Please ask technical questions over at the [community board](http://community.zammad.org/).

[2018-08-31 11:44] #2217 closed, assigned to nobody

[2018-08-31 12:33] #2218 closed, assigned to martini

[2018-08-31 12:59] martini opened #2219 "Do not reopen (or change the state) of a ticket if an postmaster delivery delayed messages arrives"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Do not change ticket state if a postmaster delivery delayed messages arrives (add the same behaviour as for out of office messages)

### Actual behavior:

* Ticket is reopen on ever

[2018-08-31 15:20] martini commented on #2219
https://github.com/zammad/zammad/commit/925ff560661bdfd39672d896b8fabad512d812bb

[2018-08-31 15:20] #2219 closed, assigned to martini

[2018-08-31 15:55] giorgiorivolta commented on #1428
+1

[2018-08-31 15:55] thorsteneckel commented on #1428
Locking conversation. There is no new input. +1 and requesting comments create noise and distraction. We are working hard on the next upcoming/most requested features and projects of our support customers. If you want to state your interest in the feature and give valuable input please give the initial post a 👍 reaction and we are able to evaluate it. We will lock all distracting issues from now o

[2018-09-02 18:59] martini commented on #2162
@mrflix I can confirm. It's not working on FF (it's working on Chrome + Safari).

[2018-09-02 19:01] MrGeneration commented on #2162
Did you remove my

`body, #app, .table-column-head, .fullscreenMessage, .horizontal, .tabsSidebar-holder,
.ticketZoom-controls {
  display: block !important;
}`

? That was the fix for ff

[2018-09-03 05:13] tidet commented on #2140
![screenshot_1](https://user-images.githubusercontent.com/12529017/44968552-d9b7af00-af48-11e8-8e3c-da7fbb370388.png)

After Updating still get the same error. (But without Exchange-setup, only LDAP-Sync)

[2018-09-03 07:48] rlue commented on #2140
Hi @tidet, thanks for the feedback. Please follow the directions in [this comment](https://github.com/zammad/zammad/issues/2140#issuecomment-415721670); your sample data will go a long way in helping us resolve this issue conclusively.

[2018-09-03 08:03] hublux commented on #2140
Hi,
Just to inform I had the same issue again but the old config did still exist. So please proceed as following if you experince this issue again.

Delete the old config with following command:
`sudo RAILS_ENV=production zammad run rails r "Setting.set('ldap_config', {})"`

- stop zammad service

- update zammad

- start the zammad service again and try to reconfigure the ldap connection

After t

[2018-09-03 08:21] tidet commented on #2140
@rlue should I try solution above or stay at current error for debugging purposes?
E-Mail with logfile is out to support@

[2018-09-03 08:41] rlue commented on #2140
@tidet, now that we have your sample LDAP data, feel free to go ahead and try the above. I did find one value which _might_ still cause problems anyway, but it's probably fine. ~~And whether or not the directions above fix it for you, there'll be another patch in the pipeline coming later today.~~

**EDIT:** Changed my mind. Since the fix is working for you, I'm going to refrain from modifying the

[2018-09-03 08:44] Fischmue commented on #2174
Hi @sschroll ,

i have configured the ADFS like mentiond in this Issue [https://github.com/zammad/zammad/issues/1250#issue-242653540 ](https://github.com/zammad/zammad/issues/1250#issue-242653540 )

[2018-09-03 09:12] tidet commented on #2140
@hublux Fix worked for me, too.

[2018-09-03 10:06] martini opened #2220 "Unable to use exchange sync (stack level too deep (SystemStackError))"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Just skip folders with blank names

### Actual behavior:

Scheduler will die with the following error message:

[code]

### Steps to reproduce the behavior:

* create an exchange fo

[2018-09-03 10:07] #2140 closed, assigned to rlue

[2018-09-03 10:25] Fischmue commented on #1192
Hello there,

i have the same error as @jeremyj563.

Is there any solution to login with SSO?

Thanks for reply

[2018-09-03 11:05] bnalpay commented on #2140
@hublux fixed as well

[2018-09-03 11:37] MarvinKlar opened #2221 "Update from version 2.6.0 to 2.7.0 fails"
### Infos:

* Used Zammad version: 2.6.0
* Installation method (source, package, ..): source
* Operating system: Debian GNU/Linux 9 (stretch)
* Database + version:  MariaDB 10.2.6
* Elasticsearch version: 5.6.10 from 2018-06-06T15:48:34.860Z
* Browser + version: doesn't matter

### Expected behavior:

* Command `rake db:migrate` should work

### Actual behavior:

* Error `Duplicate column name 'qu

[2018-09-03 12:35] MarvinKlar commented on #2221
Deleting the row fixed the error.

I also had to do this for the following rows:
Duplicate column name 'initialized_at': ALTER TABLE `cti_logs` ADD `initialized_at` varchar(250)
Duplicate column name 'duration_waiting_time': ALTER TABLE `cti_logs` ADD `duration_waiting_time` int
Duplicate column name 'duration_talking_time': ALTER TABLE `cti_logs` ADD `duration_talking_time` int

But then I got th

[2018-09-03 15:41] Charburner commented on #1573
@thorsteneckel @MrGeneration Hey guys, I'm curious if this feature-in-progress will be available in the next Zammad release? And btw are you still releasing in a monthly cycle?

[2018-09-03 16:07] thorsteneckel commented on #2221
Hi Marvin. I'm pretty sure this is not an issue but a technical question. You can ask questions over at https://community.zammad.org/ - Closing now.

However, it looks like something went wrong while you ran the migration the first time. Then you ran it a second time and the columns were already there.

The second error you mentioned looks like a duplicate of #2183. This should be resolved with th

[2018-09-03 16:07] #2221 closed, assigned to nobody

[2018-09-03 16:22] MrGeneration commented on #1573
Personally I don't think that this will come with the next release. Normally  the colleguales would fill in the milestone then. :) We are releasing more than monthly actually, if the changes to the branch are not too big. Right now we seem to be a bit behind, but only because a big milestone doesn't make sense at the moment. :)

[2018-09-04 07:02] MarvinKlar commented on #2221
Thank you very much four your help here https://github.com/zammad/zammad/issues/2183
The migration https://github.com/zammad/zammad/issues/2183#issuecomment-413451598 worked like a charm and ran without an error!

Have a great day!

[2018-09-04 09:50] #2220 closed, assigned to rlue

[2018-09-04 10:34] pc-coholic commented on #1855
I believe, that this has been fixed by now (at least with the OTRS6-Migrator). I just imported all my OTRS-tickets into a test-instance of Zammad and everything seems to be here - including archived items.

[2018-09-04 10:43] pc-coholic opened #2222 "OTRS-Import gets killed due to OOM"
### Infos:

* Used Zammad version: 2.6.x
* Installation method (source, package, ..): DEB
* Operating system: Ubuntu 16.ß4.1
* Database + version: mySQL 5.7.23
* Elasticsearch version: 5.6.11
* Browser + version: Chrome 68.0.3440.106

### Expected behavior:

* Running the OTRS-Importer imports all the data without fail

### Actual behavior:

* The Importer gets killed by the Kernel due the being O

[2018-09-04 15:02] hanneshal opened #2223 "Callback issue when Zammad if internal and external FQDN differ"
### Infos:

* Used Zammad version: 2.6.x
* Installation method (source, package, ..): source
* Operating system: macOS
* Database + version: Postgres 9.6
* Elasticsearch version: 5.6
* Browser + version: Safari latest

### Expected behavior:

* A Zammad instance can be reachable through two different connections (internal / external)
* Herby the internal FQDN may differ from the external reachable

[2018-09-05 06:48] martini opened #2224 "Unable to process email (Encoding::ConverterNotFoundError: code converter not found (Windows-1258 to UTF-8))"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Process emails, also if charset is not supported. In Zammad you still kann download the original mail via "raw" link in footer of an article.

### Actual behavior:

* Email is not p

[2018-09-05 08:56] tbeitter commented on #2140
we still face this issue. I did was @hublux wrote, deleted the config, updated zammad (2.6.0-1534939663.6d23dae9.stretch now), restarted zammad and configured our ldap connection. Do I have to manually patch code? Thanks in advance.

I was on holiday, sorry for the late reply here and if I missed anything :)

[2018-09-05 09:22] Brijendrasial opened #2225 "`fork': Cannot allocate memory - fork(2) (Errno::ENOMEM)"
### Infos:

* Used Zammad version: V 2.6.0
* Installation method (source, package, ..): Source
* Operating system: Centos 6
* Database + version: 10.1.35-MariaDB MariaDB Server
* Elasticsearch version: 5.6.11-1
* Browser + version: Any

Recently we came to know out this software by one of our client and created a small blog post for its installation (https://blog.bullten.com/centos-web-panel/insta

[2018-09-05 09:31] Brijendrasial commented on #2225
Increasing memory of virtual server environment did solve the issue..

[2018-09-05 09:35] hublux commented on #2140
Hi @tbeitter,
If you run this command do you receive any output:
`sudo zammad run rails r "puts Setting.get('ldap_config').to_json"`

If so check this out:
https://github.com/zammad/zammad/issues/2140#issuecomment-417605384

Regards

[2018-09-05 09:39] tbeitter commented on #2140
Yes, I get an error similar to yours:

`"\xC2" from ASCII-8BIT to UTF-8 (Encoding::UndefinedConversionError)`

[2018-09-05 09:49] hublux commented on #2140
Hi,

I just checked my version of Zammad I updated this morning:
![grafik](https://user-images.githubusercontent.com/42802202/45085651-7e7cec80-b101-11e8-9eeb-0ca228a5c7d5.png)
It differs from yours.

Could you please procceed again with these steps:
- Delete LDAP config
- stop zammad service
- update zammad again
- start zammad service

Regards

[2018-09-05 10:42] monotek commented on #2225
https://docs.zammad.org/en/latest/prerequisites-hardware.html

[2018-09-05 10:42] #2225 closed, assigned to nobody

[2018-09-05 10:43] Sandalas commented on #1862
@thorsteneckel - I have good news for you (or I hope, they are good 😉 )
I updated our Dev-System yesterday from 2.4.0 to 2.6.x (2.6.0-1535959167.5a2f2afe).
The manually import succeed without any errors and so far each automatic one.

The `Setting.get('ldap_config')` shows `"connect_timeout"=>6000`

<details>
<summary>debug_issue.rb - Output</summary>

Creating Job 1...
Starting Job 1...
Job 1 sti

[2018-09-05 10:51] tbeitter commented on #2140
@hublux that worked for me! Thanks!

[2018-09-05 18:59] martini commented on #2162
Fixed also in stable. Feedback is welcome.

[2018-09-05 18:59] #2162 closed, assigned to MrGeneration

[2018-09-05 19:19] thorsteneckel commented on #1861
Fixed by @martini with the commits above. Closing now. Feedback is highly welcome 😍

[2018-09-05 19:19] #1861 closed

[2018-09-06 02:08] #2224 closed, assigned to rlue

[2018-09-06 12:25] MamoulianDelacroix opened #2226 "Problem overviews on mobile devices"
* Used Zammad version: 2.6
* Installation method (source, package, ..): packages
* Operating system: Ubuntu 18.04
* Database + version: PostgreSQL 10.5
* Elasticsearch version: elasticsearch 5.6.11
* Browser + version: current Chrome-Version

👋 Hihi everyone,
I hope you all had greate summer-vacations 😄

Today I wanted to use our zammad on my android-smartphone (Huwai P8 Lite 2017) and sadly I had

[2018-09-06 12:35] MrGeneration commented on #2226
Zammad currently does not support Mobile Views - we have that on our roadmap, but I don't think we'll manage to change that too soon. Help is apprieciated if someone wants to help here.

I will close this issue, as it's duplicate of existing tickets to keep our list as clean as possible.
Sorry about the trouble you encountered.

duplicate of #223

[2018-09-06 12:35] #2226 closed, assigned to nobody

[2018-09-06 14:56] Wouter0100 commented on #357
With the introduction of WhatsApp Business and their API, this could be a real thing - and would be VERY awesome.

See https://www.whatsapp.com/business/api and https://developers.facebook.com/docs/whatsapp

Long story short: you'll have to run a Docker container which connects to WhatsApp servers and provides an API to get data from and to WhatsApp. Because the way WhatsApp is designed, something

[2018-09-07 07:33] rlue commented on #2194
@rkaldung, can you try adding the following line to `app/models/recent_view.rb`, between L47 and L48?

[code]

I suspect this is the problem.

[2018-09-07 09:45] petervanbeugen commented on #357
I agree very much with Wouter. Having the WA functionality available in the short term would be fantastic.
I am willing to co-sponsor this !

[2018-09-07 10:18] rkaldung commented on #2194
@rlue I can't apply this on the production system. Create a Zammad instance an create multiple tickets. Open them in any order and then choose one of them and click to Add link and you'll see the wrong order

[2018-09-07 12:16] martini opened #2227 "Unprocessable email ERROR: #<ArgumentError: invalid byte sequence in UTF-8>"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* process emails with invalid filename encodings

### Actual behavior:

* mail is not processable

### Steps to reproduce the behavior:

* Process email with attachment which contains

[2018-09-07 12:56] #2227 closed, assigned to martini

[2018-09-07 13:10] martini opened #2228 "Global Bcc for all outgoing emails for external archive options."
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Allow to set a global bcc

### Actual behavior:

* No option is available right now.

[2018-09-07 13:16] MrGeneration commented on #2228
PR: #1040
Request: 1786

[2018-09-07 15:31] jnshnz commented on #531
+1

This is also a huge issue with the Telegram integration.

[2018-09-07 15:39] jnshnz commented on #290
Would use webhooks for a better integration with project managment softwares, e.g. with [Taiga](https://github.com/taigaio).

[2018-09-07 21:19] edneymatias opened #2229 "Wrong dates on synced calendars"
### Infos:

* Used Zammad version: 2.6.x
* Installation method (source, package, ..): package
* Operating system: Debian 9
* Database + version: PostgreSQL 9.6.10
* Elasticsearch version: 5.6.11
* Browser + version: Chrome 68.0.3440.106 (Official version) 64 bits

### Expected behavior:

* To sync regional holiday calendar with correct holiday dates.

### Actual behavior:

* Holidays are 1 day ahe

[2018-09-09 23:11] arcreigh opened #2230 "SSL_Write"
Hello all,
When I attempt to configure email in zammad 2.6.0 I am getting an SSL_Write error.
as if zammad is attempting to use ssl first before using starttls.
smtp server: postfix
imap server: dovecot
imap 143
smtp 25
smtp submission 587
Can we have a selection between ssl/starttls rather than just yes/no?

[2018-09-10 06:56] tbeitter opened #2231 "Late notifications for pending reminders"
### Infos:

* Used Zammad version: 2.6.0-1536156401.aeaa3a04.stretch
* Installation method (source, package, ..): https://dl.packager.io/srv/deb/zammad/zammad/stable/debian 9 main
* Operating system: Debian GNU/Linux 9.5 (stretch)
* Database + version: postgresql 9.6+181+deb9u2
* Elasticsearch version: elasticsearch 5.6.11
* Browser + version: Firefox 61.0.1

### Expected behavior:

* Notification

[2018-09-10 07:31] martini opened #2232 "Also not active report profiles are shown in #report screen"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Only show active report profiles in #report

### Actual behavior:

* Also not active report profiles are shown

### Steps to reproduce the behavior:

* create a new report profiles

[2018-09-11 09:37] Stefan-Schaub commented on #910
+1

[2018-09-11 10:43] MrGeneration commented on #910
Please do not "+1" this entry but instead add a heart or thumb up to the initial post.
Posting comments here with no new input will just cause noise on those who watch this repository.

[2018-09-11 10:59] #2194 closed, assigned to rlue

[2018-09-11 14:58] #1690 closed

[2018-09-12 00:49] rlue commented on #2140
Big shout out to @hublux for all your help getting other users sorted out. e07f41ed now includes a database migration that should automatically clear faulty LDAP configurations so that any users who encounter this issue in the future should no longer have to deal with these manual steps.

[2018-09-12 05:52] mantas commented on #2208
Cannot reproduce anymore, seems to be accidentally fixed.

[2018-09-12 05:52] #2208 closed, assigned to mantas

[2018-09-12 07:31] tbeitter commented on #629
As the last post is 18months old I would like to add our need of this feature.
Draft sharing would be really useful for us.

[2018-09-12 11:04] hatscher commented on #220
Are there any news regarding PGP and S/MIME integration? I would also like to donate an amount because I urgently need this feature.

Is there actually a list with the planned features of the upcoming versions?

[2018-09-12 11:32] kgoldinger opened #2233 "Boolean object set to false is not visible"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): Package
* Operating system: Centos7
* Database + version: Postgresql 9.2.23
* Elasticsearch version: 5.6.10
* Browser + version: Any

### Expected behavior:

* Boolean object (e.g. for organisation) should be visible independet of its value

### Actual behavior:

* The field disappears if it’s set to false

### Ste

[2018-09-12 12:26] martinseener commented on #220
Hi @hatscher ,
we also need S/MIME and are in talks with Zammad about the costs. Do we want to talk to each other so that we can maybe share the costs for integration? Maybe just send me an email (firstname at lastname de).

[2018-09-12 12:30] hatscher commented on #220
E-Mail ist unterwegs ;-)

[2018-09-12 12:58] vaibhavgeek commented on #589
Hi,

I have the same query right now. May I know how you solved it @tobibe.

One way could be to launch a new db instance for every sub-organisation that you have but that would be super memory intensive. I think a better idea would be to have some field/custom attribute in table of database.
Regards,
Vaibhav Maheshwari

[2018-09-12 13:13] vaibhavgeek commented on #1047
@anandsork
Is it possible to change the dbschema such that it supports the creation of multiple companies? Did you try that out?

Check out https://github.com/influitive/apartment I think it can be useful in this case scenario.
Regards,

[2018-09-12 14:52] darkpixel commented on #1644
+1

We don't store location on the user object.  Instead our users are stored in a 'location' OU, so it would be handy to see the 'path' as well.

i.e. ```CN=aaron,OU=Portland,OU=Locations,DC=mycompany,DC=local```

[2018-09-13 07:11] MrGeneration commented on #629
Thanks for your Feedback.
Please vote in form of "thumbs up", as text replies create big noise an those who're watching this repo.

Thansk! :)

[2018-09-13 07:12] MrGeneration commented on #589
Please head over to https://community.zammad.org - our issue tracker is the wrong place for this :(
Closing now.

[2018-09-13 07:12] #589 closed

[2018-09-13 08:11] #2228 closed, assigned to martini

[2018-09-13 19:05] Valiantiam commented on #564
Here here for another one. It is so tedius merging when you have more than 2 related tickets currently.

[2018-09-14 07:29] anandsork commented on #1047
I looked into the schema, but I did not pursue that path as there is lot to change, I felt. If you have any suggestions, please share.
I did not try out apartment way fully (say only half day trying out) because I was not interested to invest more time and had deadline to decide the approach.

[2018-09-14 08:35] MrGeneration commented on #2229
Hi,

I tried to reproduce this bug and cannot.
I chose Brazil as calendar and chose a second calender with the source you provided. I checked on most of the entries and they are 100% identical.

Christmas eve is, at least in Germany, at the 24th of December.
Zammad shows all entries correct. Your problem is that your instance shows the dates **one day behind**.

I tried this at a hosted and my piv

[2018-09-14 10:09] MrGeneration commented on #1047
Please head over to our Community Board to discussions, as this issue tracker might be the wrong place to ask technical questions.

https://community.zammad.org/

Lot's of people are watching this tracker and get notified on every single comment being postet here.

[2018-09-14 10:46] deadda7a opened #2234 "Upgrading Zammad drops Elasticsearch Indices"
### Infos:

* Used Zammad version: 2.6.0-1536729659.43784b0e.stretch
* Installation method (source, package, ..): Package
* Operating system: Debian Stretch
* Database + version: PostgreSQL 10.5-1.pgdg90+1
* Elasticsearch version: 5.6.11
* Browser + version: Google Chrome 69.0.3497.92-1

### Expected behavior:

* The database should be kept during upgrades.

### Actual behavior:

* Upgrading Zamma

[2018-09-14 11:00] deadda7a commented on #2234
NEvermind, turns out we had the mapper-attachment plugin installed, which then resulted in this behavior. Sorry for the noise!

Sebastian

[2018-09-14 11:01] #2234 closed, assigned to nobody

[2018-09-14 12:05] edneymatias commented on #2229
Hi!

Zammad is showing me Christmas Eve at 23th and Christmas at 24th of December. New year's day is listed at 31th of December.

I also tried to manually add dates to a new calendar. I entered 12/25/2018 and Zammad stored 12/24/2018.

When I pick today, for example:

![image](https://user-images.githubusercontent.com/22533602/45549249-8f161c80-b7fd-11e8-9d48-b8cedc31793f.png)

... and hit add

![

[2018-09-14 13:26] MrGeneration opened #2235 "Overview setting isn't applied on submit"
### Infos:

* Used Zammad version: 2.6.x
* Installation method (source, package, ..): rpm / source
* Operating system: n/a
* Database + version: postgreSQL 9.6-1.1
* Elasticsearch version: 5.6.6
* Browser + version: Google Chrome (Also applies to current Firefox and Safari)

### Expected behavior:

* when editing (or creating) an overview and setting the option "Only available for users which are

[2018-09-14 14:16] SummerStorm opened #2236 "Naming an attribute "attribute" causes ActiveRecord failure"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* An error message pops up saying "attribute is a reserved word and cannot be used"

### Actual behavior:

* Zammad won't start after the database migration. An console error will say

[2018-09-17 07:27] SummerStorm commented on #1959
After discussions with the team, we decided that customers should not be able to view or change their own notification settings. The reason is that there is only a very limited number of options that they can choose from, and that there aren't many useful use cases where a customer would want to change any of these settings.

Certain settings are not applicable to the Customer role, like the notif

[2018-09-17 07:27] #1959 closed

[2018-09-17 09:34] SummerStorm commented on #2232
Closed by ccf97ee077d552e760.

[2018-09-17 09:34] #2232 closed, assigned to SummerStorm

[2018-09-17 12:30] thorsteneckel commented on #1862
Hi @Sandalas - thanks for the heads up! Sadly the issue is still persistent on another system running latest 2.6 :/ However, I'm happy that your system now works as it should. I'll keep the issue open until we can resolve it completely.

[2018-09-17 12:31] thorsteneckel commented on #1855
Hi @pc-coholic - thanks for the heads up. That was my impression in the first place (because there is no logic to exclude archived tickets). Thanks for confirming it. Feel free to provide further information on how to reproduce it. I'll close this issue in the meantime.

[2018-09-17 12:31] #1855 closed

[2018-09-17 13:40] Sandalas commented on #1862
I am sorry to hear that it still occurs on other system.
If I can provide you some data to help, please let me know.
Best luck!

[2018-09-17 20:36] juanma386 commented on #396
is simple and easy, aptitude solved proble

[2018-09-18 00:12] chesty commented on #2114
I turned ldap integration back on a few weeks ago and no deadlocks whereas before I would get a few a day. Cheers.

[2018-09-18 00:12] #2114 closed, assigned to nobody

[2018-09-18 11:11] martini opened #2237 "Print of modal dialog not possible"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Possible to print content of modal dialog, e. h. ticket history

### Actual behavior:

* See attachment. [Zammad Test System - #86031 - Test Ticket!.pdf](https://github.com/zammad/z

[2018-09-18 12:57] Fabiola-ZC opened #2238 "Zammad de Linux a Centos"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..):
* Operating system: Linux
* Database + version:pgadmin v 1.0
* Elasticsearch version:
* Browser + version: Firefox

* Requiero de su apoyo actualmente tengo instalado zammad dentro de Linux, se pretende cambiar a Centos, que pasos debo de seguir para poder realizarlo sin perder la información que ya tengo actualmen

[2018-09-18 13:02] MrGeneration commented on #2238
Sorry but this is the wrong place to ask for help.

If you don't have a service contract, please ask questions on our community-board (in english!) : https://community.zammad.org/

Beside that, Backup & Restore might be what you look for:
https://docs.zammad.org/en/latest/appendix-backup-and-restore.html

Closing now.

[2018-09-18 13:02] #2238 closed, assigned to nobody

[2018-09-18 15:39] tbeitter commented on #2231
This issue was magically solved, I tested it with some tickets and everything was fine. Ticket closed for now.

[2018-09-18 15:39] #2231 closed, assigned to nobody

[2018-09-18 17:56] mattronix commented on #605
Would love to see integration with Twilio:

Here is the Syntax for a Twilio Callback:

POST PARAMETERS
To: +14151234444
Called: +14151234444
SequenceNumber: 0
AccountSid: AC5ef8732a3c49700934481addd5ce1659
Timestamp: Tue, 12 May 2015 17:52:22 +0000
ApiVersion: 2010-04-01
ParentCallSid: CA81bd32324f804bbd23e7bb3ba40f99b4
Direction: outbound-dial
From: +18883331234
Caller: +18883331234
CallStatus: i

[2018-09-18 21:13] #2237 closed, assigned to mrflix

[2018-09-19 06:15] schmanat opened #2239 "Set "TO" field (on reply) to the actuall Customer not the initial one"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): deb
* Operating system: Ubuntu 16.04
* Database + version: PostgreSQL 9.5
* Elasticsearch version: 5.5.x
* Browser + version: Chrome, Firefox, IE 11(all latest versions)

### Expected behavior:

* If I change the customer of a ticket and want to reply with e-mail the actuall customer should be set to the "TO" Field

[2018-09-19 08:34] thorsteneckel commented on #2184
The [reply recipient logic](https://github.com/zammad/zammad/blob/46db068a65158aa8e8ca3571d860561d6b1033d4/app/assets/javascripts/app/lib/app_post/utils.coffee#L966) caused quite a bit of trouble over the time. Because of that we have [a comprehensive list of tests](https://github.com/zammad/zammad/blob/46db068a65158aa8e8ca3571d860561d6b1033d4/public/assets/tests/html_utils.js#L1775) for the diffe

[2018-09-19 08:42] thorsteneckel commented on #2239
Hi @schmanat - This works as designed. "Reply" means reply to that certain article but not to the Customer of the ticket as described in https://github.com/zammad/zammad/issues/2184#issuecomment-422709614.

However, to achieve the desired behavior you have two options:

1. Create a new Article by clicking in the text area. Change the Article Type to "Email". Insert the name of the Customer in the

[2018-09-19 08:42] #2239 closed, assigned to nobody

[2018-09-19 08:52] thorsteneckel commented on #2230
Please read our intro text before creating issues. This is not an issue but a technical question. You can ask questions over at https://community.zammad.org/ - Closing now.

[2018-09-19 08:52] #2230 closed, assigned to nobody

[2018-09-19 09:04] J44LKS opened #2240 "Office 365 SMTP"
Hi

I've looked through the other posts on this and I saw that it now states Zammad now works with Office 365 out of the box.  I've gone through those posts and nothing in there solves the issue.  I'm pretty technical on the network side of things and have some understanding of development (but nothing on the Ruby side).

Things I've tried:

- Letting it try to connect automatically (out of the bo

[2018-09-19 09:07] thorsteneckel commented on #2240
Please read our intro text before creating issues. This is not an issue but a technical question. You can ask questions over at https://community.zammad.org/ - Closing now.

[2018-09-19 09:07] #2240 closed, assigned to nobody

[2018-09-19 09:13] thorsteneckel commented on #2229
Hi @edneymatias - Thanks for the comprehensive writeup. I'm pretty sure this has something to do with using a Google Cloud instance for hosting. We can't give support for that. Please try the same with one of our [free (trial) hosted instances](https://www.zammad.com/getting-started). Please let us know the name of the instance if you can reproduce the issue there. Otherwise it's a support case fo

[2018-09-19 09:16] thorsteneckel commented on #2222
Hi @pc-coholic - I think there is a memory leak somewhere in the existing OTRS import logic (on the Zammad side). However, we're currently refactoring the OTRS import to make use of one our new technologies which is much more memory friendly. I'll keep this open until we replaced the old logic with the new and label it as an enhancement.

[2018-09-19 09:34] thorsteneckel commented on #2174
Hi @all - We think that we have a hot trace and want to verify our possible solution in a remote session. Volunteers welcome - yes, I'm looking at you 🤓 Please contact us at support@zammad.com and refer to this issue / me.

[2018-09-19 10:19] MrGeneration opened #2241 "text field cuts content on submit if too long"
### Infos:

* Used Zammad version: 2.6.x
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: Google Chrome, Internet Explorer (can test further browsers)

### Expected behavior:

* when having a field with maxlength of e.g. 4 letters Zammad should ensure the user can only enter 4 letters and not as man

[2018-09-19 10:35] MrGeneration opened #2242 "mandatory fields can be empty (or "-") on ticket update"
### Infos:

* Used Zammad version: 2.6.x
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: Google Chrome - can test on more if needed

### Expected behavior:

* when setting a tree selection to required, the user shouldn't be able to set it to "-" (which is not set) when updating a ticket. Zammad doe

[2018-09-19 10:49] SummerStorm commented on #2241
This is a duplicate of #738.

[2018-09-19 10:49] #2241 closed, assigned to SummerStorm

[2018-09-19 11:15] schmanat commented on #2239
ok thanks a lot for your answer, I will try the second option.

[2018-09-19 12:30] edneymatias commented on #2229
Hi there!

I just tried on a hosted instance just to get the same results. I just started an instance and with default setup went straight into the calendar section. I tried to add a holiday to a new calendar:

![image](https://user-images.githubusercontent.com/22533602/45753154-4344e800-bbee-11e8-8401-5ee77e3f6c6c.png)

...hit add

![image](https://user-images.githubusercontent.com/22533602/45753

[2018-09-19 12:31] thorsteneckel commented on #2229
Thanks for your fast reply! We'll have a look 👍

[2018-09-19 13:18] thorsteneckel commented on #2043
Hi @dsukhin,

I just tried to reproduce this with an inbox of ~14k entries. I did various memory profiling sessions and watched the memory consumption closely. I saw a tiny "leak" for about 1MB per 100 processed mails. Which means that would be 270MB for your 27k inbox. This "leak" is no real leak because it's caused by the instantiation of a lot of string for character encoding checks.

The quest

[2018-09-19 13:20] thorsteneckel commented on #2043
PS: @martini improved the longevity of scheduler processes a lot by [this commit](https://github.com/zammad/zammad/commit/cc4ce9207277c82c4e645cfc2a528c18cd93d551#diff-a1dd81206f9f855477e929464e1e638b). However, this has no relation to the described memory leak.

[2018-09-19 14:46] #2235 closed, assigned to SummerStorm

[2018-09-19 16:49] MrGeneration opened #2244 "Support for LDAP nested groups in Role mapping"
As an admin I want to configure if a mapped LDAP group is synced nested/recursively to Zammad Roles, because it makes my configuration of complex team structures much easier. Also because this way, Zammad can adapt to existing LDAP configurations.

## Acceptance criteria
- When mapping LDAP groups to Zammad roles, there is an option if users from nested groups should get handled like users from th

[2018-09-20 06:18] martinseener commented on #1961
We're currently searching for other People who are willing to fund this feature (maybe also together with the GPG encryption as a package). Please contact me if you're interested at my forename at lastname .de. I will check and see how many willing people are there so we can just share the costs.

[2018-09-20 06:19] martinseener commented on #220
We're currently searching for other People who are willing to fund this feature (maybe also together with the S/MIME encryption as a package). Please contact me if you're interested at my forename at lastname .de. I will check and see how many willing people are there so we can just share the costs.

[2018-09-20 06:23] #2236 closed, assigned to SummerStorm

[2018-09-20 12:29] arcreigh commented on #2230
I would consider this an issue to anyone who is only using starttls on their mail servers. They would be unable to successfully use email with zammad.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-20 12:39] thorsteneckel commented on #2230
StartTLS is available for [IMAP](https://github.com/zammad/zammad/blob/a70153106ab9c47f298e187b2c293a4878871c70/app/models/channel/driver/imap.rb#L87) and [SMTP](https://github.com/zammad/zammad/blob/a70153106ab9c47f298e187b2c293a4878871c70/app/models/channel/driver/smtp.rb#L49). Please create a new issue and make sure to fill out our issue template and provide all required information so we can b

[2018-09-20 12:51] #2026 closed

[2018-09-20 13:07] martini opened #2245 "Unable to process spam mail with invalid date field"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Process spam emails with invalid date header

### Actual behavior:

* `app/models/channel/email_parser.rb:124:in `rescue in process': #<Mail::Field::ParseError: Mail::DateTimeElemen

[2018-09-20 14:02] Megachip commented on #1596
Anything new on that?

[2018-09-20 14:23] GeertZondervan opened #2246 "Records in Reporting not updated when single ActiveRecord can not be found"
### Infos:

* Used Zammad version: Tag 2.5.1
* Installation method (source, package, ..): source
* Operating system: SmartOS
* Database + version: Postgres 9.6
* Elasticsearch version:
* Browser + version: Chrome Version 68.0.3440.75

### Expected behavior:

* On the Reporting view, when selecting a profile, the records on the right side should be updated and all **found** records for that profile

[2018-09-20 16:08] arcreigh commented on #2230
Sure thing.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-20 17:46] #2245 closed, assigned to martini

[2018-09-21 09:12] nk-Zammad opened #2247 "Notification in Zammad for Customer not shown"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): -
* Operating system: -
* Database + version: -
* Elasticsearch version: -
* Browser + version: Safari Version 11.1 (13605.1.33.1.2)

### Expected behavior:

*The customer opens a ticket. The agent receives the ticket and writes a public note in the ticket.
  The customer receives a notification at Zammad bird.

##

[2018-09-21 09:16] Charburner commented on #1632
So we can safely ignore the error message now and in the future?

`Error: requested datatype filelists not available`

( I just got it for the zammad repo after running `yum makecache`)

[2018-09-21 13:37] SummerStorm commented on #2247
#1880 is related to this. Both are caused by public notes not being considered a ticket update.

[2018-09-21 13:54] dnauck opened #2248 "Office 365 Callback redirect to wrong location"
### Infos:

* Used Zammad version: 2.6.0-1536729659.43784b0e.xenial
* Installation method (source, package, ..): Ubuntu apt package
* Operating system: Ubuntu 16.04.5
* Database + version:
* Elasticsearch version:
* Browser + version: Chrome

### Expected behavior:

after Office 365 login a redirect to my zammad instance

### Actual behavior:

The Office365 login calls `https://helpdesk.domain.de/

[2018-09-21 14:04] martini commented on #2248
Hi @dnauck

question, do you use nginx? If yes, can you send your nginx config?

Thanks!

 -Martin

[2018-09-21 14:12] martini commented on #1880
Just as remark: External notes are not sent to the customer per default. If you use Zammad the Zendesk way, you can create an trigger to send external notes to the customer of a ticket. In this case the external note should be considered for escalations. But only if this trigger exists.

[2018-09-21 14:13] dnauck commented on #2248
Hello,

the default zammad package add this config (afaik?):

[code]

Since the zammad system is behind my nginx with ssl offloading. Here is my offloading config:

[code]

[2018-09-21 14:13] SummerStorm commented on #2247
Hi, there. Customers do not receive notifications for public notes and this is by design. The reason is that the vast majority of customers receive updates via email only, and only log into Zammad to open new tickets. If we bombard the customers with notifications on each ticket update, then there will be lots of "unread" notifications the next time they log in, when in fact each of those notes ha

[2018-09-21 14:13] #2247 closed, assigned to nobody

[2018-09-21 14:23] #2233 closed, assigned to SummerStorm

[2018-09-21 14:24] martini commented on #2248
Hi @dnauck

thanks. Rails tries to detect if Zammad runs via http or https and regarding on this the `location: http://|https://` is set. So far as I can remember the `X-Forwarded-Proto` config option should solve this.

But in your case it seems that the `https` information is lost somewhere between your offloading nginx and the Zammad nginx.

I need to spend more time to research who rails/OmniA

[2018-09-21 14:28] dnauck commented on #2248
Ok, thank you

[2018-09-21 14:29] thorsteneckel commented on #2248
@martini - I already did this in the past. You can find my summary [here](https://github.com/zammad/zammad/issues/723#issuecomment-279998976). I think the [`proxy_set_header X-Forwarded-Port 443;` line](https://github.com/zammad/zammad/issues/723#issuecomment-280690562) in the `location /` block is missing 🤔

Edit: @dnauck if not, please add the [`config/initializers/debug_ssl.rb`](https://github.

[2018-09-21 14:37] dnauck commented on #2248
@thorsteneckel missing in the nginx.conf of the zammad package/server or on my offloading system?

[2018-09-21 14:40] thorsteneckel commented on #2248
We need (at least) the `X-Forwarded-Proto` header in the Zammad process. So it needs to get passed through the nginx chain.

[2018-09-21 15:00] dnauck commented on #2248
I changed `proxy_set_header X-Forwarded-Proto $scheme;` in the zammad provided nginx.conf on the zammand system to  `proxy_set_header X-Forwarded-Proto https;`

This solved the problem. The location url is now: `location: https://helpdesk.domain.de/`.

[2018-09-21 20:18] martini commented on #2248
Thanks for feedback!

[2018-09-21 20:18] #2248 closed, assigned to nobody

[2018-09-23 15:59] rkaldung opened #2249 "Unexpected behaviour with 'Link tickets'"
### Infos:

* Used Zammad version: develop
* Installation method (source, package, ..): source
* Operating system: CentOS 7
* Database + version: PostgreSQL
* Elasticsearch version: unknown
* Browser + version: Chrome latest, FF latest, Safari 12, all on macOS

### Expected behavior:

* When link a ticket to another I'd like to see the tickets I've seen in my session in the list labeled 'Recent vi

[2018-09-23 16:17] Apokalypser opened #2250 "ERROR: Can't process email"
### Infos:

* Used Zammad version: 2.6.0
* Installation method (source, package, ..): source
* Operating system: Debian 8
* Database + version: MySQL 5.6.35
* Browser + version: Any

### Expected behavior:

* Parse mail to ticket

### Actual behavior:

* No ticket created

log/production.log has no lines in the minute the system received the mail.

tmp/758e9b85e701f3922cad5f05cc4081e3.eml:
[758e9b

[2018-09-24 06:46] thorsteneckel commented on #2250
Hi @Apokalypser - thanks for providing the email. I just imported it on lastest `develop` and `stable` without any issues. Let me know if the issue still persists for you when running `cat /path/to/758e9b85e701f3922cad5f05cc4081e3.eml | rails r 'Channel::Driver::MailStdin.new'` after updating to latest `stable`. If so, please check the log file and provide the relevant block including the backtrac

[2018-09-24 08:21] banholzer commented on #1307
We would also appreciate such behaviour.

[2018-09-24 09:19] martini opened #2252 "Unable to process email `"ERROR: #<NoMethodError: undefined method `match' for nil:NilClass>"`"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Process mails with invalid Uris in content (for invalid email, see test email in commit)

### Actual behavior:

* Unable to process email

[2018-09-24 12:39] martini opened #2253 "Unable to index elasticsearch if article.preferences[:delivery_status_message] has no uf8 charset"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Index elasticsearch anyway

### Actual behavior:

* .to_json will faild, so not elasticsearch is index

[code]

### Steps to reproduce the behavior:

* Only in certain cases, send a

[2018-09-24 14:21] #2253 closed, assigned to martini

[2018-09-24 14:21] #2252 closed, assigned to martini

[2018-09-24 17:59] martini opened #2254 "Unable to process spam email `"ERROR: #<Exceptions::UnprocessableEntity: Invalid email>"`"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Process spam emails with invalid email addresses

### Actual behavior:

* Mail is not processed

### Steps to reproduce the behavior:

* Process this email:

[code]

[2018-09-25 06:34] #2254 closed, assigned to martini

[2018-09-25 11:22] bentalexanderhaase commented on #1343
Any updates on this? Editing notes would be a really useful feature. (Including a tiny "edited by ... + date" remark).

[2018-09-25 11:26] MrGeneration commented on #1343
a) this is a duplicate
b) please don't keep asking when a feature comes. It's coming when it's ready :(

[2018-09-25 14:50] martini opened #2255 "CTI: Limit used caller log states and prevent race conditions (if callback comes later)"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* If an callback of the BPX comes later do not updated an already finished (hangup) call.

### Actual behavior:

* Already finished call log entries are updated anyway.

[2018-09-26 10:25] monotek commented on #1688
ETA?

[2018-09-26 21:16] nonameolsson commented on #1398
I really don't understand if this is closed or not. We can't use Zammad on touch devices. All the dropdowns doesn't work. Nothing happens when the user presses an item in the dropdown.