[2019-06-14 14:42] MrGeneration commented on #2595
Currently working on the documentation thirdparty stuff. Will update Google-Documentation and while I'm at it also update Gitlab.

[2019-06-14 15:31] penzoiders commented on #1282
+1 on this!

[2019-06-14 15:40] MrGeneration commented on #1282
Locking conversation to prevent `+1` comments.
Please use the emote function for this.

[2019-06-17 14:51] thorsteneckel commented on #2538
Update (from Ticket #1043974): This also affects other imports as e.g. the currently beta-tested Freshdesk import.

You can reproduce it by running:
`Ticket::Article.create(FactoryBot.attributes_for(:ticket_article).merge(body: "<span style='font-family:\"Segoe UI Emoji\",sans-serif;'>&#128522;</span>", content_type: "text/html", ticket_id: 1))`

Fails with:
[code]

[This workaround](https://githu

[2019-06-17 15:37] thorsteneckel commented on #1324
Hi @sschroll - we create the users with the following attribute mapping:
https://github.com/zammad/zammad/blob/9949dd18dc285caa814fbeb55ae99b978ba0df14/app/models/user.rb#L375-L385

However, Zammad checks the login and email for identifying Users:
https://github.com/zammad/zammad/blob/9949dd18dc285caa814fbeb55ae99b978ba0df14/app/models/user.rb#L323-L330

So login via Email is always possible. I do

[2019-06-17 15:37] #1324 closed

[2019-06-18 05:56] ciphermenial commented on #1162
Duplicate of #1048

[2019-06-18 06:44] thorsteneckel commented on #1162
Thanks @ciphermenial ! You're right. I'll close this one as a duplicate. Please transfer your relevant points over to issue #1048 .

[2019-06-18 06:44] #1162 closed

[2019-06-18 08:01] vsurrel commented on #2545
I've juste upgraded from 2.9.0 to 3.0.0 using official apt repositories.

Before the upgrade, `zammad run rails r "p Setting.get('es_url')"` returns an empty string, as I configured it.

After the apt upgrade, it reverts to default value `"http://127.0.0.1:9200"`.

I disabled it again and zammad works again like a charm without ES. It might be indicated as "mandatory", but I want to disable ES as

[2019-06-18 08:41] martinvonwittich commented on #798
This is most probably a duplicate of #2185

[2019-06-18 08:44] thorsteneckel commented on #798
Thanks @martinvonwittich - you are right. Even this one is older than #2185 I prefer to keep #2185 as it is easier to find and already in the required format. Therefore I'll close this one as a duplicate.

[2019-06-18 08:44] #798 closed

[2019-06-18 10:20] MrGeneration commented on #2545
André currently has no free ressources to do this.
We currently have other heavy task on our list.

MergeRequests are welcome - if not, this will take some time.

This is now related to: https://github.com/zammad/zammad-documentation/issues/82
We'll remove the "mandatory" part of elasticsearch.

[2019-06-18 14:59] MrGeneration opened #2610 "Reporting not refreshing ticket list"
### Infos:

* Used Zammad version: 3.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: 5.6 (proberbly any)
* Browser + version: any
* Ticket-ID: #1047094

### Expected behavior:

When using the scheduler to delete tickets (or doing that by hand via API or console), this will not affect the reporting module. This means, you

[2019-06-19 14:36] ustange commented on #2508
FYI I'm running `0 */6 * * * cd /opt/zammad/contrib/backup; ./zammad_backup.sh` in `root`s crontab with a PostgeSQL without any problems.

[code]

[2019-06-19 14:53] dennykorsukewitz opened #2611 "SearchIndexBackend.remove() (ES) is not working correctly"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): source
* Operating system: osx
* Database + version: mysql 14.14
* Elasticsearch version:  5.6
* Browser + version: Chrome  74.0.3729.169

For example:
After deleting tickets, they are not removed from the Elasticsearch index (SearchIndexBackend)

### Expected behavior:

* `SearchIndexBackend.remove('Ticket', ticke

[2019-06-20 08:12] mrflix commented on #2598
Ok so I think we'll need the following things to get RTL working in the knowledge base:
- a text direction setting for each language (default: left to right)
- render the text direction in the html tag's dir attribute: `<html lang="he" dir="rtl">`. This will activate the correct text flow
- rework layout things that are not yet in the correct flow using mixins we already use in zammad.scss: `bidi-

[2019-06-20 10:46] #1688 closed

[2019-06-20 10:47] martini commented on #1688
@monotek 🎉

[2019-06-20 11:52] monotek commented on #1688
:)

[2019-06-20 11:53] monotek commented on #2582
and there it is :sunglasses:
https://github.com/zammad/zammad/commit/af9fcf456573bce851a0d7ff08c472dfc377b218

[2019-06-20 12:24] mrflix commented on #2448
This one is tricky. Show the action or show the state?
There is no clear rule in UI design. For example in a video player the play/pause icon usually shows the action: when its playing it shows the pause icon.

![vlc playing state](https://user-images.githubusercontent.com/60777/59848283-0d8f8400-9365-11e9-97ff-e630cb691a7b.png)
![quicktime playing state](https://user-images.githubusercontent.com/

[2019-06-20 12:48] mrflix commented on #2430
The simplest technique would be to add our internal border:

![image](https://user-images.githubusercontent.com/60777/59850145-d2438400-9369-11e9-8b13-1b98ff54e64d.png)

Do you think that would be good enough?

The option to hide internal comments for printing would require UI, so it has to determined if that's relevant enough for a big user group so that its worth the effort. A button to toggle s

[2019-06-20 13:49] martini commented on #2430
I like this!

[2019-06-21 08:07] MrGeneration commented on #2430
I like that approach as well. You can clearly see a visual difference which is actually the same as in the UI itself (well.. except for colors ;) )

[2019-06-21 08:30] MrGeneration opened #2612 "Tag KB Answers"
### Infos:

* Used Zammad version: 3.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: ~~#1055829~~, #1077138

*Note:* This has been moved from our internal git ( 110 ) to Github in order to only have one enhancement issue at the time.

### Desired behavior:

It would be nice to ha

[2019-06-21 08:41] MrGeneration opened #2613 "Authentication for public KnowledgeBase"
### Infos:

* Used Zammad version: 3.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID:

*Note:* This has been moved from our internal git ( 222 ) to Github in order to only have one enhancement issue at the time.

### Desired behavior:

There should be an option that denies anonymo

[2019-06-21 08:41] monotek commented on #1688
Whoever wants to test it... It's already in our docker container: https://github.com/zammad/zammad-docker

[2019-06-21 10:06] MrGeneration opened #2614 "Tree Select shows empty value in ticket zoom after submit when value contains trailing spaces"
### Infos:

* Used Zammad version: 3.0 and earlier
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version any:
* Browser + version: any
* Ticket-ID: #1047150

### Expected behavior:

When setting any value in a tree select object of a ticket, the value will stay visible upon updating the ticket.

### Actual behavior:

When you hav

[2019-06-21 10:52] MrGeneration opened #2615 "Misleading 'Escalation' ticket attribute name in SLAs, Scheduler and Trigger should be named 'Escalation_at'"
### Infos:

* Used Zammad version: 3.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Desiredbehavior:

We should rename the condition "escalation" to "escalation at".
The current naming is miss leading, as it suggest that this will check if a ticket has escalated.

Infact, this triggers

[2019-06-21 11:51] gfriloux commented on #2615
I indeed spent some hours trying to understand the "escalation" trigger, and this request for renaming is probably a very nice idea.

While this could seem abvious for a zammad dev, some users (like me) just get lost.

(i also spent time looking at API, so i know the `escalation_at` variable)

[2019-06-21 13:20] eugenkoenig commented on #2508
@ustange yep, I'm running the same: `30 5 * * * cd /opt/zammad/contrib/backup && ./zammad_backup.sh` without any problems. It only fails if using one-command, like `30 5 * * * /opt/zammad/contrib/backup/zammad_backup.sh`

[2019-06-21 20:57] smidt commented on #1192
We're also very interested. I'm currently testing the app in the Univention Test App Center and I'm very excited.

[2019-06-21 21:36] MrGeneration commented on #1192
Sorry for bamering you: Won't work on univention, as the docker compose uses nginx.

[2019-06-22 16:15] MacLemon opened #2616 "Can't install version > 2.9 on FreeBSD because of `ruby_racer` gem dependency incompatibility"
### Infos:

* Used Zammad version: 2.9.0 -> 3.0.0
* Installation method (source, package, ..): source, no packages provided by Zammad project
* Operating system: FreeBSD 11.2-p10
* Database + version: PostGreSQL 10.8
* Elasticsearch version: elasticsearch 5.6.8
* Browser + version: Chromium 75, Firefox 67

### Expected behavior:

* Updating via source from 2.9.0 to 3.0.0 should be possible.

### A

[2019-06-22 19:19] rixx commented on #220
@martinseener Great to hear that you tried to secure funding for this feature. Could you share the progress made or the problems you hit? PGP support is currently making-or-breaking a decision regarding a move to Zammad, so any insight would be appreciated.

[2019-06-23 23:15] #2614 closed, assigned to martini

[2019-06-24 07:16] SummerStorm commented on #2616
Hi, there. Thanks for the report. Please try these steps:

Step 1. Apply this patch:
[code]

Step 2. Run `bundle install --without test development mysql` again.

Unfortunately I don't have a FreeBSD system to replicate this, but I'm fairly certain this will work. Once it does, we'll look into a more permanent fix. If it doesn't, please post the error output and I'll help you with the next step.

[2019-06-24 07:29] #2594 closed, assigned to martini

[2019-06-24 08:41] MrGeneration commented on #2610
whoops, this is a duplicate of: #2547

[2019-06-24 08:45] #2610 closed, assigned to nobody

[2019-06-24 09:04] thorsteneckel commented on #2547
Hey @SummerStorm - I was debugging this together with @MrGeneration on a customer machine and we found the root cause and a viable solution. Fix is on the way. I'm taking over from here 👍

[2019-06-24 09:45] machiasiaweb opened #2617 "Logon via O365 fails if having more than one MS-Live-Account session (error 422)"
*This post has been edited by @MrGeneration to meet our norm and ensure a good and fast overview of the issue*

### Infos:

* Used Zammad version: 3.0
* Installation method (source, package, ..): package (but affects any installation type)
* Operating system: any (tested on CentOS 7.6.1810)
* Database + version: any
* Elasticsearch version: any
* Browser + version: Tested and verified on Firefox a

[2019-06-24 09:49] MrGeneration commented on #2617
While I believe this is a technical questions (if so, please go over to our community: https://community.zammad.org ), I'd like to ask you to not delete the issue template, as it's absolutely mandatory for us.

Please fill in the deleted information and provide your production log (with traceback!) from the moment you try to use the integration.
With the current information it is impossible to eit

[2019-06-24 10:49] thorsteneckel commented on #2448
@MrGeneration and I had an internal discussion and we can follow your argumentation (action/state) and will keep it as it is for now - until more people complain. It was only one so far. Closing now.

[2019-06-24 10:49] #2448 closed, assigned to mrflix

[2019-06-24 14:16] #2600 closed, assigned to mrflix

[2019-06-24 14:19] #2570 closed, assigned to mrflix

[2019-06-24 14:31] #2615 closed, assigned to dennykorsukewitz

[2019-06-24 15:05] MrGeneration opened #2618 "Load custom CSS for KB"
### Infos:

* Used Zammad version: 3.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Desired behavior:

It should be possible to load custom CSS to the knowledgebase.
This should be done similar to how we do it on our main application via `app/assets/stylesheets/custom/` .

Currently you

[2019-06-24 15:05] MrGeneration opened #2619 "KB header and footer link-color not changeable"
### Infos:

* Used Zammad version: 3.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1047427

### Expected behavior:

You can change the link color on the header to ensure readability at all times.

### Actual behavior:

It's impossible to change the color for header links. It's

[2019-06-24 15:34] MrGeneration opened #2620 "Deleting articles with accounted time to not affect accounted time"
### Infos:

* Used Zammad version: 3.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1056041

This originally came from: https://community.zammad.org/t/when-deleting-an-article-is-accounting-time-also-corrected/2659

### Expected behavior:

When deleting an article that has acco

[2019-06-24 17:51] Ekultek opened #2621 "Knowledge base not redirecting properly from docker instance"
### Infos:

* Used Zammad version: `2.10.x `
* Installation method (source, package, ..): `docker`
* Operating system: `Ubuntu 16.04`
* Database + version: whatever version is processed with this Dockerfile https://hub.docker.com/r/zammad/zammad/dockerfile
* Elasticsearch version: Same as above
* Browser + version: `Firefox Quantum 60.7.2esr (64-bit)`

### Expected behavior:

* Redirect with the o

[2019-06-24 18:15] MrGeneration commented on #2621
Hey,

thanks for the write up.
Sorry, but I can't reproduce this on univention system (which is based on docker compose with a custom port).

That makes me believe that this is actually a technical questions, which should be on our community for the next time (please. :-) ).

To solve your problem, go to Admin-Settings ->System (Settings) and ensure your FQDN does contain your custom port. If it d

[2019-06-24 18:15] #2621 closed, assigned to nobody

[2019-06-24 21:10] Ekultek commented on #2621
cool thank you

[2019-06-25 08:06] MrGeneration opened #2622 "Tweet and DM images should be attachment with preview"
### Infos:

* Used Zammad version: 3.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Current behavior:

* When receiving direct messages with attachments, all you get from Zammad is a (in my tests broken) link to the attachment.

  ![image](https://user-images.githubusercontent.com/65490

[2019-06-25 09:38] dennykorsukewitz commented on #1561
Hi all,

most translations were obsolete and were removed on the i18n server.
Two more translations will be fixed accordingly.

[2019-06-25 10:13] nangi158 opened #2623 "Cannot tag error"
### Infos:

* Used Zammad version:3.0.x
* Installation method (source, package, ..):source
* Operating system:CentOS7
* Database + version:PostgreSQL
* Elasticsearch version:5.6
* Browser + version:Google Chrome 75.0.3770.100

### Expected behavior:

*Able to normally tag and create ticket

### Actual behavior:

*Error after submit ticket, Tag not insert into database? and ticket created with no t

[2019-06-25 10:17] MrGeneration commented on #2623
While I believe this is a rather technical question which should live on our community (https://community.zammad.org) I'd like to ask for more information:

Please provide the `log/production.log` output together with the traceback and post it here (redacted).
Also, please let us know of this is a original source code version provided from our repo (also stable or develop would be important to kno

[2019-06-25 12:17] #1561 closed

[2019-06-25 12:53] dennykorsukewitz opened #2624 "Concern 'CanLatestChange' returns wrong updated_at"
### Infos:

* Used Zammad version: 3.0
* Installation method (source, package, ..): source
* Operating system: osx
* Database + version: mysql 14.14
* Elasticsearch version:  5.6
* Browser + version: Chrome  74.0.3729.169

### Expected behavior:

1. create group
2. check update_at via latest_change
**result: correct update_at**

---
1. update group
2. check update_at via latest_change
**result: co

[2019-06-25 18:18] degoya commented on #435
that's what i'm still missing in zammad. please add gitlab integration.

[2019-06-25 18:29] MrGeneration commented on #435
I'm limiting this conversation to contributors only.
Please don't get us wrong - this is already a enhancement issue that's on our backlog.

We will add it sooner or later, but we currently focus on other stuff.
If you want to sponsor this feature, please feel always welcome to drop us a mail at sales [at] zammad [dot] com.

This will priotize the implementation greatly.

[2019-06-26 02:30] nangi158 commented on #2623
@MrGeneration
Here's production.log file and i'm checking on the db.
[production.log](https://github.com/zammad/zammad/files/3327937/production.log)
Best Regards

[2019-06-26 07:46] MrGeneration commented on #2623
Hey,

I've checked your logfile, but it's from today morning where this problem doesn't seem to occured.
Production-Log from the moment where you upgraded Zammad and from the moment you had this problem would help better. :-)

[2019-06-26 08:06] franz-xaver commented on #2316
When the date picker is opened and no date is set 'today' is still not visible.
You'll have to click on 'today' and to reopen the date picker.

[2019-06-26 08:07] franz-xaver commented on #946
When the date picker is opened and no date is set 'today' is still not visible.
You'll have to click on 'today' and to reopen the date picker.

[2019-06-26 08:18] franz-xaver commented on #946
![grafik](https://user-images.githubusercontent.com/38070915/60163367-bd4c7200-97fb-11e9-8c1a-f28294c86396.png)

[2019-06-26 09:42] MrGeneration commented on #946
By now this is a duplicate of #2316

@franz-xaver thanks for your contribution.
Please don't get me wrong on the following:
Please don't search for every corner of the repo you find to state it's (still) broken.
This causes quite some noise for those who're following.

Stating it on one issue is enough :)
Anyway, thanks for letting us know, it's important!

[2019-06-26 09:42] MrGeneration commented on #2316
This is a regression of #946

[2019-06-26 11:06] YosefAdPro opened #2626 "KB text design"
### Infos:

* Used Zammad version: 3.0
* Installation method (source, package, ..): Any
* Operating system:Any
* Database + version:Any
* Elasticsearch version:Any
* Browser + version: Any

### Expected behavior:
In writing an KB article you can use text design (Bold / italic, etc.)
But the public page does not display the design.

### Actual behavior:

*

### Steps to reproduce the behavior:

*

[2019-06-26 11:09] MrGeneration commented on #2626
Hey,

sorry, but I do believe that this is not a bug, but a technical question.
Please, for the next time, consult our community for those requests (https://community.zammad.org)

Knowledgebase-Answers are by default drafts.
You have to change the visibility to public, so everyone can see.

![image](https://user-images.githubusercontent.com/6549061/60175355-a44fbb00-9813-11e9-97ac-a3473c3bb219.png

[2019-06-26 11:09] #2626 closed, assigned to nobody

[2019-06-26 11:50] MrGeneration opened #2627 "KB custom URL does not work"
### Infos:
* Zammad-Version: 3.0 stable
* Web-Server: Apache 2.4 (not tested with nginx because of time reasons, I expect the behavior to be exact the same)
* ES-Version: 5.6, but any
* database: any
* Browsers: Firefox and Chrome (current)

### expected behavior
* When entering a custom subfolder and submitting that as custom URL, the rewrite rules needed (and supplied) are correct and working
*

[2019-06-26 11:52] MrGeneration opened #2628 "KB link to public interface loses HTTP type"
### Infos:
* Zammad-Version: 3.0 stable
* Web-Server: Apache 2.4 (not tested with nginx because of time reasons, I expect the behavior to be exact the same)
* ES-Version: any
* database: any
* Browsers: Firefox and Chrome (current)

### Expected behavior:
* When logging in as a customer and clicking on "Knowledgebase" inside the customer portal, it redirects you to the public Knowledgebase-Page (`

[2019-06-26 13:53] MrGeneration commented on #507
I'm closing this issue in favor for https://github.com/zammad/zammad/issues/2517 as duplicate.

[2019-06-26 13:53] #507 closed

[2019-06-26 15:42] martinvonwittich opened #2629 "Full quote shows "<agent> wrote:" instead of "<customer> wrote" when agent toggled article visibility"
### Infos:

* Used Zammad version: 3.0.x
* Installation method (source, package, ..): docker-compose
* Operating system: Debian 9
* Database + version: postgres
* Elasticsearch version: doesn't matter
* Browser + version: Chrome
* Ticket-ID: #1060389

### Expected behavior:

* When an agent toggles "set to internal"/"set to public" of an article of a ticket (for example accidentally), and then ano

[2019-06-26 16:53] larrybg opened #2630 "LDAP import error: undefined method `result_code' for nil:NilClass"
### Infos:

* Used Zammad version: 3.0.x
* Installation method (source, package, ..): package
* Operating system: CentOS 7
* Database + version:
* Elasticsearch version: 5.6.16
* Browser + version: Chrome 75.0.3770.100

### Expected behavior:
Working LDAP integration. The application connects to the LDAP server and imports users from specified LDAP groups
*

### Actual behavior:
LDAP configuration

[2019-06-27 02:07] nangi158 commented on #2623
@MrGeneration
I see...
Here's the right log
[production.log-20190626.gz](https://github.com/zammad/zammad/files/3332577/production.log-20190626.gz)
Somewhere here
![Untitled1](https://user-images.githubusercontent.com/1268341/60227513-d87db700-98b9-11e9-957c-92acf01588c2.png)

Yesterday me and my friend tried to install ruby, rails, rake on oraclevm to create database which i didn't do on the real

[2019-06-27 07:39] MrGeneration commented on #2623
Okay, I could verify that this is no bug, but a technical question.
Please follow our documentation for the installation step by step https://docs.zammad.org/en/latest/install-source.html

Also, please note that possible code changes are not supported - if you did manually work on the database, please note that this can also lead to issues.

If you still need help, please feel free to head over to

[2019-06-27 07:39] #2623 closed, assigned to nobody

[2019-06-27 07:41] MrGeneration commented on #2630
Hey,

hate to tell you, but this is not a Bug, but a feature. 🗡
Specifying manual groups does not work, if you can't find your groups, ensure that the search filter you're using is correct and working (e.g. with an LDAP Browser).

This is a technical question, which is why I'll close this issue now.
If you need further help, you're welcome to take a look at our community: https://community.zammad.

[2019-06-27 07:41] #2630 closed, assigned to nobody

[2019-06-27 08:30] MrGeneration commented on #1154
By now it's possible to workaround this with an outbound only channel.
This is described here: https://admin-docs.zammad.org/en/latest/channel-email/sendmail.html

I'll thus be closing this issue, because I believe that this is solved by the above (even though you got a workaround).

If you feel this is wrong, please let me know!

[2019-06-27 08:30] #1154 closed

[2019-06-27 10:02] #2624 closed, assigned to dennykorsukewitz

[2019-06-27 11:53] #2339 closed, assigned to SummerStorm

[2019-06-27 12:13] thorsteneckel commented on #2462
Closed via https://github.com/zammad/zammad/commit/1e54645223c0a5d71e910d82a4d7be8cc475f1a4

[2019-06-27 12:13] #2462 closed, assigned to thorsteneckel

[2019-06-27 13:18] larrybg opened #2631 "LDAP import error: "Unsupported object type: id=0""
### Infos:

* Used Zammad version: 3.0.x
* Installation method (source, package, ..): yum
* Operating system: CentOS 7
* Database + version:
* Elasticsearch version: 5.6.16
* Browser + version: Chrome 75.0.3770.100

### Expected behavior:
Working LDAP integration. The application connects to the LDAP server and imports users from specified EXISTING LDAP groups.
*

### Actual behavior:
LDAP configu

[2019-06-27 13:34] SummerStorm commented on #1598
Fixed via 444e48e.

[2019-06-27 13:34] #1598 closed

[2019-06-27 13:57] larrybg commented on #2631
I’ve confirmed that groups I’m after are listed in another LDAP browser.

[2019-06-27 16:14] pulecp commented on #2575
@MrGeneration Could you re-open this issue? I see the same on Centos7 with PostgreSQL 10.

You can reproduce it in Vagrant (https://github.com/zammad/zammad-vagrant) when you install PostgreSQL 10 before zammad package in _.provision/bootstrap.sh_ by

[code]

[2019-06-27 18:11] jozephbrasil opened #2632 "Chat Notifications and Alerts"
I am constantly losing chats because there is no way to alerts the agent with Windows, Notifications or Sounds. Is there a way to add sounds alerts on chat requests?

[2019-06-27 18:27] MrGeneration commented on #2632
Sorry, I believe that this is a technical question.
Please do **not** post technical questions on our Github Repo!

For technical questions use our community, please! (https://community.zammad.org)

Please be aware that -if enabled- Zammad already does provide Browser notification, a counter on the chat tab AND a pling sound if a customer is awaiting you to chat with him.

I'll be closing this now

[2019-06-27 18:27] #2632 closed, assigned to nobody

[2019-06-28 08:24] thegcat commented on #2021
We're having a similar issue (we're using borgbackup for backups, but the issue is the same). My experience with Rails apps is that `RAILS_ROOT/tmp` is safe to ignore, but I'd like a confirmation for this too.

If this is confirmed I'd be willing to contribute a patch accordingly.

[2019-06-28 09:01] MrGeneration commented on #2631
Can you please share your mapping of LDAP attributes to Zammad attributes? :)

Edit: Used LDAP would be interesting too (Active Directory, OpenLDAP, ...)

[2019-06-28 09:09] MrGeneration commented on #891
This has been implemented quite some time ago, I'll be closing this for this reason. :-)

![image](https://user-images.githubusercontent.com/6549061/60331573-3fbc6980-9995-11e9-8bc2-b9df45ce166c.png)

[2019-06-28 09:09] #891 closed

[2019-06-28 09:51] MrGeneration opened #2633 "Replying incorrect when sender is agent and Zammad is in CC or TO"
### Infos:

* Used Zammad version: 3.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: tested on Chrome, should affect any
* TIcket-ID: #1047717

This issue is quite a biggie, I tried to describe the cases as good as possible.

### Expected behavior:

Sending to other people together with Zammad fr

[2019-06-28 11:20] thegcat commented on #2021
Judging from https://github.com/zammad/zammad/blob/develop/lib/tasks/zammad/flush/cache.rake I'd say those directories (`tmp/cache*`) can be ignored when creating backups.

[2019-06-28 11:26] MacLemon commented on #2616
Thanks for the suggestion on how to get it running. I'll try that as soon as I can.

[2019-06-28 12:36] MrGeneration opened #2634 "Merge not possible with not set, required attributes"
### Infos:

* Used Zammad version: 3.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1047797, #1072733

### Expected behavior:

When receiving a new ticket by mail that you want to merge (because your customer didn't reply to the existing ticket but just created a new mail), you

[2019-06-28 12:51] monotek commented on #2021
Ups. Totally missed that ticket... PR is very welcome :-)

[2019-06-28 13:39] MrGeneration commented on #2021
Yes, ignoring `tmp/` is safe to do. :-)

[2019-06-28 15:21] MrGeneration commented on #2519
This has been solved with Zammad 3.0!
![image](https://user-images.githubusercontent.com/6549061/60352905-20d7ca80-99c9-11e9-8f80-3435ef3657d8.png)

[2019-06-28 15:21] #2519 closed, assigned to nobody

[2019-06-28 15:23] MrGeneration opened #2635 "Ticket history does not contain initial state / attribute values"
### Infos:

* Used Zammad version: 3.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

When viewing the ticket history, you can see all initial attribute values the ticket had on creation.

### Actual behavior:

It currently is not clear with which attributes a ticket w

[2019-06-28 15:29] MrGeneration commented on #2519
Duplicate of https://github.com/zammad/zammad/issues/2469

Thanks Billy for the Headsup :)

[2019-06-28 17:56] martinvonwittich opened #2636 "Drop zone macro can create duplicate tags due to race condition"
### Infos:

* Used Zammad version: 3.0.x
* Installation method (source, package, ..): docker-compose
* Operating system: Debian 9
* Database + version: postgres from zammad-docker-compose
* Elasticsearch version: ES from zammad-docker-compose
* Browser + version: Chrome 75

### Expected behavior:

* Selecting multiple tickets in an overview, and then dragging and dropping them onto a macro that ta

[2019-06-29 04:26] larrybg commented on #2631
Sorry, I'm traveling this week, so my replies can take longer than usual.
I have made only one change once attributes were loaded - pointed company’s email to Login. Attaching the screenshot. Please let me know if this is what you have been asking
<img width="664" alt="Screen Shot 2019-06-28 at 9 17 11 PM" src="https://user-images.githubusercontent.com/20246246/60379634-352cbf00-99eb-11e9-89bf-188

[2019-06-30 16:53] thegcat commented on #2021
See PR in #2638

[2019-07-01 06:56] thorsteneckel commented on #2021
Cool! Thanks @thegcat. @monotek can you please review the PR when you find the time? I'll do the GitLab -> GitHub dance then.

[2019-07-01 13:39] maxxer commented on #2606
The same applies to the *New postmaster filter* dialog

[2019-07-01 14:31] maggusf commented on #2426
any update on this?

[2019-07-01 14:34] MrGeneration commented on #2426
I'm limitting the conversation to contributors only.
Please don't get me wrong here, this is to keep the noise level on issues low and is nothing against you!

We currently have no updates on this, if the issue moves into the direction of solving, we'll post an update on this issue. Sorry for the wait, we currently experience quite some load.

Edit: Doh, sorry for the closing... wrong button.

[2019-07-01 15:19] thegcat commented on #2021
This probably can be considered fixed by #2638 and closed.

[2019-07-01 15:23] MrGeneration commented on #1283
Sorry, I lost track of this.
If you print out the ticket (e.g. print preview via CTRL+P) you can see how the ticket would look like.

The original post requested a print function (which is covered by the print-css we integrated with Zamamd 2.7). Exporting tickets is possible via console or API if needed (needs custom fiddling from the one that wants to use it, but it is possible already).

[2019-07-01 15:27] thorsteneckel commented on #2021
Yes! Thanks a lot @thegcat for your contribution.

[2019-07-01 15:27] #2021 closed

[2019-07-01 17:45] georgeemr commented on #1101
Need help with this. I need to force Zammad to use a specific language.

[2019-07-01 17:56] MrGeneration commented on #1101
No offense, but please post technical questions on our community: https://community.zammad.org .

This helps us to keep issues clean for faster processing when a developer takes a look into it.
This is an enhancement issue, thus it's currently not possible as far as I can tell.

I'm limitting the conversation to contributors only now.
Again, please don't get me wrong. :-)

[2019-07-01 18:56] MrGeneration opened #2640 "Signup view broken after logout"
### Infos:

* Used Zammad version: 3.0 (I didn't test earlier versions)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Google Chrome, Firefox and Edge

This bug was found by nangi158: https://community.zammad.org/t/register-page-changed-after-login/2707

### Expected behavior:

When logging out fr

[2019-07-02 08:41] thorsteneckel commented on #2498
So the root cause of this issue is that the dependency we're using for parsing mails [does not support ISO 2022 JP encoded mails](https://github.com/mikel/mail/issues/342). There is [an additional gem](https://github.com/kuroda/mail-iso-2022-jp) that brings that support to older versions but is [not compatible](https://github.com/kuroda/mail-iso-2022-jp#gems) with the [(latest) version we're using

[2019-07-02 08:50] MrGeneration opened #2641 "Can't use HEX/HSL color value in KB Admin color picker"
### Infos:

* Used Zammad version: 3.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Google Chrome, Firefox
* Ticket-ID: #1047949

### Expected behavior:

Being able to manually feed the color fields (Icon & Link Color and Header Color) with HEX or HSL color values.

Background: If you already ha

[2019-07-02 08:50] MrGeneration opened #2642 "Knowledgebase only allows color picker color choosing"
### Infos:

* Used Zammad version: 3.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Google Chrome, Firefox
* Ticket-ID: #1047949

### Expected behavior:

Being able to manually feed the color fields (Icon & Link Color and Header Color) with HEX or HSL color values.

Background: If you already ha

[2019-07-02 08:52] MrGeneration commented on #2642
Whoops, something went wrong here - closing this duplicate for #2641

[2019-07-02 08:52] #2642 closed, assigned to nobody

[2019-07-02 10:12] martinvonwittich opened #2643 ""Email - full quote: yes" and a link in the signature lead to exponential article growth"
### Infos:

* Used Zammad version: 3.0.x
* Installation method (source, package, ..): docker-compose
* Operating system: Debian 9
* Database + version: postgres from docker-compose
* Elasticsearch version: ES from docker-compose
* Browser + version: Chrome 75
* Ticket-ID: #1050905

[I had posted about this in the community before](https://community.zammad.org/t/email-full-quote-yes-and-a-link-in-t

[2019-07-02 12:18] kwoot commented on #290
Any news on this?

[2019-07-02 12:30] MrGeneration commented on #290
Please don't get me wrong, but I'm locking the conversation to contributors only to reduce the noise on this bug tracker.

We will update this issue with more information (like planned release etc) when we're ready to work on this or there's really some news.

[2019-07-02 15:11] MrGeneration opened #2644 "Including KB Answers into Ticket Articles doesn't attach Attachments"
### Infos:

* Used Zammad version: 3.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1047699, #1047245, #1053579, #1071166, #1074087

### Expected behavior:

When having attachments attached to a knowledgebase answer, you can attach this attachments to a ticket article that you

[2019-07-02 15:27] MrGeneration opened #2645 "Insertion of inline pictures does not work, if you copy an image in your Browser"
### Infos:

* Used Zammad version: 3.0 and earlier
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any (tested in Chrome and Firefox, but should affect any)
* Ticket-ID: 1057659

### Expected behavior:

* When copying an image (e.g. in your Browser with "copy image") you can paste it into any Zamma

[2019-07-02 15:46] martinvonwittich commented on #2643
There's another way to trigger this bug without having a link in the signature which occurred today in our production Zammad instance. I'll describe it here:

### Steps to reproduce the behaviour:

* Ensure that "Email - full quote" is enabled.

* Create a new Zammad mail ticket with the following text and send it to an external mail address:

	(This is a typical output from `tshark`, the command-

[2019-07-02 15:50] martinvonwittich commented on #2643
Can confirm, Zammad actually sent this error message to the customer instead of the agent's reply :(

[2019-07-02 17:28] thomas-obernberger opened #2646 "Avatar in E-Mail Signature"
I tried to add the users avatar to the default email signature like this:
![image](https://user-images.githubusercontent.com/20873706/60532983-d1fa9f80-9cfe-11e9-98cb-85b94553a0f2.png)
(recommended at the community pages)

then if you try to answer or create a new mail ticket, the view is not refreshed and a javascript exception is thrown.

if i remove the avatar from the signature - everything is

[2019-07-03 07:15] MrGeneration opened #2647 "Enhance CTI-Caller-Log to "mark as seen" all unread entries at once"
### Infos:

* Used Zammad version: 3.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Desired behavior:

It would be amazing to have the ability to mark all missed calls as read at once.
Currently, if you miss a lot of Calls and just want to mark them as read, you'll have to click all ent

[2019-07-03 08:34] MrGeneration commented on #2508
Merge request is pending internal at the moment.

[2019-07-03 08:43] MrGeneration commented on #2526
Sorry, but I can't reproduce this.
Ignoring the fact that this test signature contains tons of tables.. could you instead please provide a working sample EML that you sent?

I'll then gladly try again.

![image](https://user-images.githubusercontent.com/6549061/60577308-60166a80-9d7f-11e9-87aa-85d1a933e447.png)

Side note: You might not want to use develop (2.10 is develop) installations in produc

[2019-07-03 08:49] MrGeneration commented on #2500
I could verify this with both of your mails inside a clean 3.0 instance.
The traceback here is:

[code]

[2019-07-03 11:34] MrGeneration commented on #2612
Addition: Those KB-Tags should also be searchable by the customer if needed, this will help customers to find answers.

[2019-07-03 13:37] MrGeneration commented on #2631
I tried to verify this, but Zammad currently won't allow me to add two identical ldap attributes to the sync:
![image](https://user-images.githubusercontent.com/6549061/60594994-708e0b80-9da6-11e9-8b5d-301ffec9e0ad.png)

After talking to a developer, this should never have worked. (and thus works as designed).

Right now I have absolutely no clue how to reproduce this. Currently I expect that you

[2019-07-03 14:08] MrGeneration commented on #2535
Well that's some feature here... :-D
I guess it consists of several issues.

This is my CSV I used for testing:
[text-modules_issue2535.csv.txt](https://github.com/zammad/zammad/files/3355330/text-modules_issue2535.csv.txt)

And this is the import-result:
![image](https://user-images.githubusercontent.com/6549061/60598197-90c0c900-9dac-11e9-8d9a-c7a45801e308.png)

### HTML-Tags
We currently don't

[2019-07-03 14:45] MrGeneration commented on #2107
This is not limited to OTRS import only.
This will strike at several points.

When trying to reproduce this, even with 15000 characters, I'll keep receiving errors (note: I had to switch to API here because our UI didn't like it):
[code]

API response is empty.

I could, at no point, push the API to the above limit, as Zammad wouldn't take my payloads.

I tried with `1500001` characters (which my

[2019-07-04 05:31] larrybg commented on #2631
Hi! We've never used Zammad before, so this is a new installation (no upgrade).
I've also asked about LDAP software & version, but afraid will get an answer only after the Independence Day (4th of July).

[2019-07-04 06:25] dennykorsukewitz commented on #1565
The feature 'group-dependent text modules' was added: https://github.com/zammad/zammad/commit/c788c3e053abe4f96fc5e2597c527632e341fd9e

Available in version 3.1

[2019-07-04 06:25] #1565 closed

[2019-07-04 06:26] dennykorsukewitz commented on #1565
duplication: https://github.com/zammad/zammad/issues/537

[2019-07-04 06:27] dennykorsukewitz commented on #537
The feature 'group-dependent text modules' was added: https://github.com/zammad/zammad/commit/c788c3e053abe4f96fc5e2597c527632e341fd9e

Available in version 3.1

[2019-07-04 06:27] #537 closed

[2019-07-04 06:31] dennykorsukewitz commented on #1066
The feature 'group-dependent text modules' was added: c788c3e

duplication: #537
Available in version 3.1

----
The feature 'group-dependent macros' has not been implemented, yet.

[2019-07-04 07:28] msteeg opened #2648 "Time accounting not triggered when using macros"
### Infos:

* Used Zammad version: 3.0.0
* Installation method (source, package, ..): source
* Operating system: CentOS 7
* Database + version: MariaDB 10.3
* Elasticsearch version: 5.6
* Browser + version: FF 60.7.2esr

Background: We're using macros for documenting routine tasks. So there is indeed some labor involved, that we like to track, even if the ticket will be quite generic.

### Expecte

[2019-07-04 10:58] adlix opened #2649 "action:delete doesn't work in Scheduler; German characters are bombing"
### Infos:

* Used Zammad version: 2.7.x
* Installation method (source, package, ..): package
* Operating system: Debian GNU/Linux 9
* Database + version: PostgreSQL 9.6
* Elasticsearch version: 5.6.13
* Browser + version:

### Expected behavior:
Scheduler problems:
(0. Execution Time should be the same as scheduled time )
1. action: delete should delete tickets within running job (#1331)
2. Speci

[2019-07-04 13:40] #2611 closed, assigned to dennykorsukewitz

[2019-07-04 14:08] Shayano commented on #2526
Thanks for your answer, we update in 3.0 few weeks ago.
I tried to reproduce the problem in 3.0 but it's working normally now.

[2019-07-04 14:08] #2526 closed, assigned to nobody

[2019-07-04 16:42] cyberrranger commented on #2595
thx

[2019-07-05 07:52] MrGeneration commented on #2649
Heya,

please provide your Zammad-Version, that's a mandatory ifnormation.
Please also let us know what Attribute "Einzelhändler" is - especially where it lives and it's configuration.

Thanks

[2019-07-05 13:44] jurgenhaas opened #2650 "Support for Elasticsearch 7.x"
Are there any plans to support newer ES versions than 5.6? In particular, version 7.1 and newer have included the x-pack security addon even in the basic free version which allows management of users and roles.

[2019-07-05 13:48] MrGeneration commented on #2650
Sorry, but this is a technical question that, for the next time, should live in our community https://community.zammad.org :-)

For now, please see this issue: https://github.com/zammad/zammad/issues/1688

The support of ES 6 and 7 will come within Zammad 3.1 which is coming soon^(TM)

Closing now.. :)

[2019-07-05 13:48] #2650 closed, assigned to nobody

[2019-07-05 14:30] jurgenhaas commented on #2650
Thanks a lot @MrGeneration

[2019-07-05 15:11] MrGeneration opened #2651 "Change behavior how Zammad handles detected link in "Getting started"-Wizard"
### Infos:

* Used Zammad version: 3.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

When initializing Zammad via "Getting Started"-Wizard, the wizard will correctly show and use any valid url (hostname plus port) and save this as FQDN-Setting.

### Actual behavior:

[2019-07-05 16:34] davidcmoody commented on #2229
I have the same issue happening, an America/New_York timezone and all the dates shown are 1 day prior to the actual holiday.

[2019-07-05 16:35] mantas commented on #2229
@davidcmoody fix is coming soon. Either in next or next-next release.

[2019-07-06 19:41] matthew119427 opened #2652 "Keeps saying "Host Unreachable""
### Infos:

* Used Zammad version: latest
* Installation method (source, package, ..): Debian 9 Installation Instructions
* Operating system: Debian 9
* Database + version: MySQL 10.1
* Elasticsearch version: 5.5
* Browser + version: Mozilla Firefox Quantum 67.0.4

### Expected behavior:

* IMAP to work successfully

### Actual behavior:

* Says hostname unreachable, even though I can ping the hos

[2019-07-06 20:02] matthew119427 commented on #2652
Update:
Changing the host to the IP address works, however I would still expect it work if you provided the domain name.

[2019-07-07 12:12] xf- opened #2653 "Add package for released debian buster/10"
### Expected behavior:
A package for Debian 10 after it is official stable release and not a testing version

### Actual behavior:
A lot of maintained releases, but no buster yet.

Yes I'm sure this is a bug and no feature request or a general question.
-> It is no feature request or general question and no software bug. But its mostly fits in category bug, because you claim to support Debian and

[2019-07-07 14:45] MrGeneration commented on #2653
I'll file this as a enhancement request.
However: For the next time, please use our community for this, because feature requests shall live there first. :-)

Please also not, while we "claim" to support Debian, we also note that we support Debian 8 and 9 at the moment (see: https://docs.zammad.org/en/latest/install-debian.html ).

We'll eventually change this in the future, but no ETA.

[2019-07-07 14:48] MrGeneration commented on #2652
Sorry but I do believe that this is a technical question that should live in our community: https://community.zammad.org

We have tons of hosted customers and community users that do not experience this problem.
Ensure that your host can lookup the mail server host without any problem.

The used mail addresses don't have to do anything with that directly.

Closing now. (If you need to discuss this

[2019-07-07 14:48] #2652 closed, assigned to nobody

[2019-07-08 07:09] monotek commented on #2653
As we us packager.io we depend on support of debian buster there: https://github.com/crohr/pkgr

I've added an pr there to get it work: https://github.com/crohr/pkgr/pull/157

[2019-07-08 08:47] adlix commented on #2649
Hi,
sorry Zammad Version is 2.7.x

Field is name of organisation
production.log
I, [2019-07-04T09:59:11.194592 #3194]  INFO -- : Started POST "/api/v1/organizations" for 127.0.0.1 at 2019-07-04 09:59:11 +0200
F, [2019-07-04T09:59:11.200067 #3194] FATAL -- :
F, [2019-07-04T09:59:11.200138 #3194] FATAL -- : ActionDispatch::Http::Parameters::ParseError (765: unexpected token at '---------------------

[2019-07-08 08:51] MrGeneration commented on #2649
Whoah that's quite old. We're close to 3.1 ....
Beside, if you don't have the latest 2.7 patch, your instance currently is vulnerable: https://zammad.com/news/security-advisory-zaa-2019-01

Any way, I'll check if this also applies to newer Zammad-Versions.
Thanks for the input (sorry, I'll ignore the mail thingie, because mixing up issues isn't that good idea - please note that we did a lot of rew

[2019-07-08 17:34] hanneshal opened #2654 "Last line in note is not selectable"
### Infos:

* Used Zammad version: 3.0
* Installation method (source, package, ..): package
* Operating system: macOS
* Database + version: Postgres
* Elasticsearch version: 5.6
* Browser + version: Safari latest/Chrome/Firefox

### Expected behavior:

* If I expand a note, I want to copy the last line, right above the "show less"

### Actual behavior:

* The last line is not selectable

### Steps

[2019-07-08 17:38] hanneshal commented on #2654
![screencast 2019-07-08 19-36-05](https://user-images.githubusercontent.com/804939/60830604-dec43b00-a1b7-11e9-9aa4-ab416d8c910b.gif)

[2019-07-08 17:46] hanneshal opened #2655 "Resizing the browser window may hide relevant information"
### Infos:

* Used Zammad version: 3.0
* Installation method (source, package, ..): package
* Operating system: macOS
* Database + version: Postgres
* Elasticsearch version: 5.6
* Browser + version: Safari latest/Chrome/Firefox

### Expected behavior:

* Resizing of text, should not affect the shown content / hide content which was shown before

### Actual behavior:

* After resizing the window, c

[2019-07-08 17:49] hanneshal commented on #2655
![screencast 2019-07-08 19-47-13](https://user-images.githubusercontent.com/804939/60831241-6d858780-a1b9-11e9-99b8-94f36fdc5a85.gif)

[2019-07-08 22:41] voohoo2000 commented on #2603
Hi, Is there any realize plan?

[2019-07-09 07:35] MrGeneration commented on #2603
We have this on our roadmap, but we have other issues and enhancement that we weighted as more important.

Sorry, but we don't have ETAs at the moment, it's coming when it's ready.
We'll update this issue, as soon as we have any update on this.

I'm limitting the conversation on this issue now, to reduce the noise on the repository.
Please don't get me wrong, your opinions are important, but our t

[2019-07-09 09:23] MrGeneration commented on #2477
@tmswr sorry, but this is more a technical question that wants to live on our Community: https://community.zammad.org - the error message clearly comes from your nginx. please also provide the config of your nginx on the community.

[2019-07-10 08:13] thorsteneckel commented on #905
@MrGeneration can you please check if this is actually resolved as @rlue pointed out?

[2019-07-10 11:09] thorsteneckel opened #2656 "Services die with: ThreadError: can't create Thread: Resource temporarily unavailable"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

With Zammad 3.1 all Zammad services (and other system applications like `bash` 😱 ) die after some time because they can't create new threads. The thread limit of the OS is reached. This is caused by [a bug i

[2019-07-10 16:02] maxxer opened #2657 "Translation "Ticket %s merged!" is missing"
### Infos:

* Used Zammad version: 3.0.x
* Installation method (source, package, ..): Docker

### Expected behavior:

Unable to translate [*Ticket %s merged!*](https://github.com/zammad/zammad/blob/dadb8e207bcb679297448996d7e587feb7c89017/app/assets/javascripts/app/controllers/agent_ticket_merge.coffee#L98) string.

I didn't check *master*, but I see that line has been changed 3y ago so I expect t

[2019-07-10 16:14] MrGeneration commented on #2657
Thanks for your input.
Can you please provide the italian translation for this string?

I could fix it for you like really quick then :)

[2019-07-10 16:27] maxxer commented on #2657
*Ticket %s unito!*

thanks!

[2019-07-11 07:30] MrGeneration opened #2658 "CSV-Import doesn't lookup records by "name" field"
### Infos:

* Used Zammad version: 3.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1048469

### Expected behavior:

When importing CSV-Records with doubled contents like (`Zammad`, `ZAMMAD`), Zammad will throw an error (or simply skip the entry and tell the user) while importi

[2019-07-11 07:34] MrGeneration opened #2659 "CSV-Import doesn't (always) handle database errors correctly"
### Infos:

* Used Zammad version: any
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1048469

### Expected behavior:

Zammad will ensure that all database errors will be caught correctly and handled in a way, that doesn't break the application (temporarily).

### Actual behavior

[2019-07-11 08:45] MrGeneration commented on #2657
Translations have been added and can also be translated in languages that are not translated yet.

[2019-07-11 08:45] #2657 closed, assigned to MrGeneration

[2019-07-11 10:19] dennykorsukewitz commented on #2654
This problem is the `.textBubble-overflowContainer:before`.
@mrflix could you please check this.

[code]

[code]

[2019-07-11 10:40] mrflix commented on #2654
I'm fading out the gradient when animating from the closed to the open state. So once it's open the gradient layer is still there, just invisible. Animating from visible to invisible is easy with css. Animating from visible to not rendered is tricky, that's why its still there. I realize however that this animation is not need and removing it all together might even improve the general fold-out an

[2019-07-11 12:35] MrGeneration opened #2660 "Zammad logs permanently to STDOUT on 3.1"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): seems like package only (tested on Debian 9 and openSuSe 42.3)
* Operating system: Debian 9 and openSuSe 42.3, might affect any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* With the logging changes, you'll be able to define if you want to log to STDOUT o

[2019-07-11 13:02] monotek commented on #2660
I'd like to see this as a feature, not a bug...

[2019-07-11 13:06] MrGeneration commented on #2660
I see this as a bug, because you can't revert this change.

[2019-07-11 13:51] MrGeneration commented on #2660
To unset this variable (and thus log to logfile) run:
`zammad config:set RAILS_LOG_TO_STDOUT=`

The following will re-enable logging:
`zammad config:set RAILS_LOG_TO_STDOUT=true`

[2019-07-11 14:21] #2654 closed, assigned to mrflix

[2019-07-11 14:29] maxxer opened #2661 "Inconsistency in "follow up" strings"
Zammad 3.0.x.

There's a inconsistency in the string *follow up*. It's usually referencead simply as *follow up*, but in some cases  *follow-up* is used.

Also I don't know why the translation page has two strings which differs by just the dash but cannot find the first one in `master` branch:

![immagine](https://user-images.githubusercontent.com/240201/61059095-bc6d3000-a3f8-11e9-82ee-6148cd5202

[2019-07-11 14:56] dennykorsukewitz commented on #2661
Hi @maxxer,
Thanks for the report ❤
`follow-up` is actually the correct spelling.

In this case `Additional follow-up detection` is the correct one, since 6 month.

We will find out why the old string still exists.

[2019-07-11 16:57] maxxer commented on #2661
Ok thanks. There are several strings still using the *follow up* notation, other than this

[2019-07-11 18:06] dennykorsukewitz commented on #2661
@maxxer
I found these.
If you find anything else, it'd be great if you commented on them.

- Assign Follow Ups
- Assign follow up to latest agent again.
- Follow up for closed ticket possible or not.
- Follow up possible
In default the follow up check is done via the subject of an email. With this setting you can add more fields where the follow up check is - executed.
- reject follow up/do not re

[2019-07-11 21:23] Michael-salutecGmbH opened #2662 "Elasticsearch stops during update to 3.1 and inside 3.1"
### Infos:

* Used Zammad version: 3.1.0-1562865639
* Installation method (source, package, ..): YUM Repo
* Operating system: CentOS 7
* Database + version: Postgres 9.2 (from CentOS repo)
* Elasticsearch version: 5.6
* Browser + version: N/A

### Expected behavior:

* Zammad and ES runs after upgrade normally

### Actual behavior:

* Zammad is running, but ES is down and no index is build

### St

[2019-07-11 21:31] MrGeneration commented on #2662
Hey,

thanks for letting us know.
This is actually a duplicate of https://github.com/zammad/zammad/issues/2400 which is missing the information that the service is being stopped and not started again ;/

[2019-07-11 21:31] #2662 closed, assigned to nobody

[2019-07-11 21:32] MrGeneration commented on #2400
Please also note that the service doesn't come back up during upgrade.

Edit with further information:
[code]

(Offending line: https://github.com/zammad/zammad/blob/develop/contrib/packager.io/functions#L251 )

[2019-07-12 04:07] maxxer commented on #2661
A rough list can be found also by running `git grep -i "follow up"`. There are many comment lines

[2019-07-12 06:08] Ziegenmann opened #2663 "Issue2541FixNotificationEmailWithoutBody database migration blocks update when records with `current_user.id` in selector exist"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): rpm
* Operating system: centos7
* Database + version:
* Elasticsearch version: 5.6.
* Browser + version: Mozilla Firefox

### Expected behavior:

* the statistics are shown in report area

### Actual behavior:

* StatusCode 500 ist shown.
**"Unable to process GET request to elasticsearch URL 'http://172.18.1.113:92

[2019-07-12 06:21] martini commented on #2663
Hi @Ziegenmann

what is the output of:

`zammad run rails r "Setting.get('es_multi_index')"`

And if it is not `false`, is is working after

`zammad run rails r "Setting.set('es_multi_index', false)"`

and restarting Zammad?

[2019-07-12 06:32] Ziegenmann commented on #2663
Hey @martini

the output was:
rails aborted!
Don't know how to build task 'p' (See the list of available tasks with `rake --tasks`)
/opt/zammad/vendor/bundle/ruby/2.5.0/gems/railties-5.2.3/lib/rails/commands/rake/rake_command.rb:23:in `block in perform'
/opt/zammad/vendor/bundle/ruby/2.5.0/gems/railties-5.2.3/lib/rails/commands/rake/rake_command.rb:20:in `perform'
/opt/zammad/vendor/bundle/ruby/2.

[2019-07-12 06:35] martini commented on #2663
Just saw that I had an error in the comands (I updated them). Please try again. Thanks.

[2019-07-12 06:37] Ziegenmann commented on #2663
okay. now the output when setting to 'false' is:

 zammad run rails r "Setting.set('es_multi_index', false)"
I, [2019-07-12T08:40:34.226363 #23457-70199688119800]  INFO -- : Setting.set('models_searchable', ["Chat::Session", "Organization", "Ticket", "User"])
Traceback (most recent call last):
        18: from /opt/zammad/bin/rails:9:in `<main>'
        17: from /opt/zammad/vendor/bundle/ruby/2.5.

[2019-07-12 06:39] martini commented on #2663
Ok. It seems that your Zammad app is updated but your database not. Please execute the following and restart Zammad:

`zammad run rake db:migrate`

Is it working now?

[2019-07-12 06:41] Ziegenmann commented on #2663
then i got another error:
I, [2019-07-12T08:44:56.299459 #25709-70158142359040]  INFO -- : Setting.set('models_searchable', ["Chat::Session", "Organization", "Ticket", "User"])
I, [2019-07-12T08:44:57.241178 #25709-70158142359040]  INFO -- : Migrating to Issue2541FixNotificationEmailWithoutBody (20190408000001)
== 20190408000001 Issue2541FixNotificationEmailWithoutBody: migrating =========
rake ab

[2019-07-12 07:19] thorsteneckel commented on #2663
Hey @Ziegenmann - as a quick workaround please edit the `db/migrate/20190408000001_issue_2541_fix_notification_email_without_body.rb` file and add the following line:

[code]

Then re-run `zammad run rake db:migrate` 🚀

[2019-07-12 07:23] Ziegenmann commented on #2663
Hello Thorsten,

that worked for me.
Thank you!

[2019-07-12 07:25] thorsteneckel commented on #2663
Glad to hear! We'll keep this issue open until the bug is resolved. @dennybresch is already heating up and will fix this 💪

[2019-07-12 08:14] dennykorsukewitz commented on #1124
Hi @AND51
this issue is a little older.

Your expected behavior:

I'm not quite sure if I understood you correctly, but it seems to me that your expectation has already been fulfilled.

<img width="1415" alt="Zammad_Helpdesk_-_Call_Inbound" src="https://user-images.githubusercontent.com/3249687/61113095-a8bfd900-a48d-11e9-8921-7b5d1fc83898.png">

[2019-07-12 11:45] MrGeneration commented on #1124
Another hint from my site: You can also define what the default creation type will be:
https://docs.zammad.org/en/latest/console/hidden-settings.html#default-ticket-type-on-creation

[2019-07-12 11:51] dennykorsukewitz commented on #984
Hi @tobibe ,

this issue is solved: https://github.com/zammad/zammad/commit/0db8c28bd5

While the search is running you see this loading icon:
![issue984](https://user-images.githubusercontent.com/3249687/61126133-ee8b9a00-a4ab-11e9-875d-53e05968f4d4.gif)

If nothing was found then this will be displayed:

<img width="264" alt="Zammad_Helpdesk_-_Dashboard_und_Schreibtisch" src="https://user-images

[2019-07-12 11:51] #984 closed

[2019-07-12 11:58] thorsteneckel commented on #984
Fixed by: https://github.com/zammad/zammad/commit/0db8c28bd57b7cad7deb8d96e08c618dd34b8692

There was another issue of which this is a duplicate but I can't find it.

[2019-07-12 12:04] MrGeneration opened #2664 "ObjectManager::Attribute names collide with reserved application words ( e.g. `url`) and break functionalities"
### Infos:

* Used Zammad version: 3.1 and earlier
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

All attributes name you can use should work without being pre filled by Zammad by mistake.

### Actual behavior:

If you find an protected attribute name, Zammad might eve

[2019-07-12 12:35] thorsteneckel commented on #1124
AFAIK is @AND51 not using Zammad anymore :( And as you've pointed out the solutions that are available now I'll close this as resolved. Feel free to ask future questions in the [community board](http://community.zammad.org/).

[2019-07-12 12:35] #1124 closed

[2019-07-12 14:40] thorsteneckel commented on #2663
Resolved with the two commits above. Packages will be ready in 30 minutes from now 👍 Closing.

[2019-07-12 14:40] #2663 closed, assigned to dennykorsukewitz

[2019-07-12 15:21] MrGeneration commented on #2660
The two above commits will allow package users to retain the expected behaviour.
By default, the update process will disable logging to STDOUT as it's more expected that Zammad logs to logfile (because it has been that way before).

If you want Zammad to log to STDOUT, you can find the needed tasks here:
https://docs.zammad.org/en/latest/appendix-configure-env-vars.html#configure-zammad-to-log-to-

[2019-07-12 15:21] #2660 closed, assigned to nobody

[2019-07-12 15:39] AND51 commented on #1124
Yeah, unfortunately I'm not using Zammad anymore. I received a notification about this thread by mail. I still like to help though.

@dennybresch, I know the options that you marked. But you can only reach them when you create a new ticket:

Current behaviour:
1. click "+" (see my screenshot in the 1st posting)
2. click "new ticket"
3. choose the type of the ticket at the top

Expected behaviour:

[2019-07-12 16:03] dennykorsukewitz commented on #1124
Hi @AND51

ahh, i see. Thank you for your detailed explanation.
We will discuss this topic internal.

best regards
Denny

[2019-07-15 08:53] maxxer opened #2665 "obsolete / double translations"
Zammad 3.0.x

![immagine](https://user-images.githubusercontent.com/240201/61204815-87115c80-a6ee-11e9-8152-d25f59461200.png)

The two strings can probably be unified in one.

[2019-07-15 09:09] maxxer opened #2666 "Profile out of office toasters untranslatable"
Zammad 3.0.x

When setting out of office in user profile toaster messages may appear, like *user is required* (or something like that) and *Successfully!*. Both those messages aren't listed in the translations page

[2019-07-15 09:34] MrGeneration commented on #2666
This can be found here:
https://github.com/zammad/zammad/blob/a70153106ab9c47f298e187b2c293a4878871c70/app/assets/javascripts/app/controllers/_profile/out_of_office.coffee#L127

I think we should change this from `Successfully!` to `Successfully!`, because I think it's nearly the same (at least in german the same result will be translated ;) ).

What do you think, @dennybresch  ? :)

[2019-07-15 10:15] maxxer opened #2667 "Time tracking popup tooltip not translatable"
Zammad 3.0.x

Time log popup tooltip not translatable, it doesn't appear in the strings list. Related to #2056?

![immagine](https://user-images.githubusercontent.com/240201/61209419-fccef580-a6f9-11e9-86e5-a54f172e104c.png)

[2019-07-15 15:25] maxxer commented on #2666
The word itself is not really meaningful... Something like *Settings stored* would be slightly better, isn't it?

[2019-07-15 19:30] larrybg commented on #2631
are there any updates on this issue?
I’ve used an LDAP Browser I’ve downloaded from here: www.ldapadministrator.com and able to connect with the same settings. So I can confirm that our ldap works just fine. I also can filter/search my custom ldap groups using that browser, something that fails with Zammad. I’ve tried to copy the group's settings from LDAP browser to Zammad and it didn’t work eith

[2019-07-15 21:59] MacLemon commented on #2616
Finally reserved the downtime to check this out.
TL;DR: We tried and partially failed.

The correstponding part of the `Gemfile` looks like this:
[code]

We managed to get past the installation of `Using libv8 3.11.8.0` which does work, but then intalling `therubyracer` doesn't seem to work.

[code]

[2019-07-16 07:00] thorsteneckel commented on #2631
Can you please reproduce it on one of the [free hosted instances](https://zammad.com/getting-started) and let us know the name?

[2019-07-16 07:14] MrGeneration commented on #2290
We internally decided that this is not a feature that we'll implement into our stable branch.

Sorry for the hassle.

[2019-07-16 07:14] #2290 closed, assigned to nobody

[2019-07-16 08:41] maxxer opened #2669 "Pressing "Cancel" when creating a new ticket or separating an existing ticket doesn't close tab"
### Infos:

* Used Zammad version: 3.0.x
* Installation method (source, package, ..): Docker
* Elasticsearch-Version: 5.6.14
* Operating system: Ubuntu 18.04
* Browser: FF68, GC75

### Expected behavior:

* Tab is closed and ticket creation aborted

### Actual behavior:

* Ticket creation tab remains open

### Steps to reproduce the behavior:

* Open new ticket dialog or press *Split* on a ticket

[2019-07-16 12:32] MrGeneration commented on #2669
Please fill in the complete template (missing: Elasticsearch-Version and used Browser) as reproducing is in this case impossible.

Thanks!

[2019-07-16 12:36] maxxer commented on #2669
Honestly, being the stock docker-compose installation, I don't even know how to check...

[2019-07-16 13:51] larrybg commented on #2631
I'm afraid this is impossible as your instances are outside our company's network.

[2019-07-16 14:00] MrGeneration commented on #2631
Sorry, but reproducing this issue then becomes impossible for us. :-(

[2019-07-16 14:39] MrGeneration opened #2670 "Attachment deletion via API impossible"
### Infos:

* Used Zammad version: 3.1.x and earlier
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1049386, #1071153, #1083678

### Expected behavior:

When using the endpoint `/api/v1/attachments/{Attachment-ID}` with `DELETE` you can delete attachments without trouble.

### Ac

[2019-07-16 14:40] MrGeneration commented on #2669
My bad, but the Browser should be possible? :)

[2019-07-16 15:07] maxxer commented on #2669
Updated!
The same behavior happens by just clicking on the + to create a new ticket. When cancelling it will leave the tab open

[2019-07-16 15:28] MrGeneration opened #2671 "Pending till can be changed by customer via web interface"
### Infos:

* Used Zammad version: 3.1.x and earlier
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: should be any, tested on latest Google Chrome

### Expected behavior:

When putting a ticket into any pending state, the customer will see the pending state, but not until when the ticket pends. If

[2019-07-16 16:42] larrybg commented on #2631
I've made one step forward - changed the "User filter" to the correct value and now I can pass this error, but cannot map "LDAP Groups" to Zammad Roles. What value is correct to use in Roles: `cn=ZammadAdmins,ou=memberlist,ou=compgroups,o=comp.com` or `cn=ZammadAdmins,ou=metadata,ou=compgroups,o=comp.com`?
Actually, none of these values are shown in the dropdown, any ideas why?

[2019-07-17 04:24] dophulong commented on #467
Hi @monotek
Your comment :
[
     https://github.com/zammad/zammad/issues/467#issuecomment-263243704
     We use it this way with OTRS for years, without any problems.
     Ticket is only created when an agent is accepting the call.
]
[Me :] Agent was accepted call but can't show call or ticket on zammad.Do  I have to fill what about phone/agent.id in zammad?. If have then fill where?

Thanks!

[2019-07-17 07:31] MrGeneration commented on #467
Correct me if I'm wrong, I think this should be covered by our generic CTI integration?
https://docs.zammad.org/en/latest/cti-api-intro.html

Also for Callerlog-Ticketactions, we have a fairly new feature since 3.1:
https://zammad.com/news/release-3-1

[2019-07-17 08:34] pixelflair commented on #2645
Having the same problem :-(

After Upgrading from 2.9 to 3.1

[2019-07-17 08:39] MrGeneration commented on #2645
No offense, but I'm locking the conversation to reduce the "me too" noises.
This issue exist in Zammad since day one :)

[2019-07-17 08:53] dophulong commented on #467
Thanks for your response quickly.  I will try to find out as your info.

[2019-07-17 09:46] MrGeneration commented on #1282
I'll be closing this issue, because this is already possible.
I see inline translation critical, because you would have to workaround the selection field behavior of Browsers which I see as a super bad idea.

However, you can add translations for any language Zammad supports via command line, as long as you have the exact same string. :-)

See: https://docs.zammad.org/en/latest/console/other-usefu

[2019-07-17 09:46] #1282 closed

[2019-07-17 09:51] MrGeneration commented on #746
I can't verify this for:

* select
* strings
* tree-select

Is this issue still up to date or did we "accidently" fix this silently? :x

If you still experience this issue, please describe what exactly doesn't work.
Selection for SLA custom fields (as ticket type) works perfectly on my end.

![image](https://user-images.githubusercontent.com/6549061/61366012-05096b00-a889-11e9-8a1d-b97b0795f01d.pn

[2019-07-17 09:52] MrGeneration commented on #1041
Funfact:
This already works if you know how (manual creation via UI), as our address field as exmaple is an textarea already.

We'd "just" need to add it as field. :-)

[2019-07-17 09:57] MrGeneration commented on #1262
Just a side note from my end: When we're able to display objects based on their group, we should also be able to display objects based on another objects value.

Kinda the same :)
See: https://community.zammad.org/t/objects-visibility-based-on-other-objects-state/1048

[2019-07-17 11:59] KoJie commented on #2085
the behavior was also reported by a customer: T#1049736

[2019-07-17 11:59] MrGeneration commented on #2085
This issue gets even worse, because since 3.0 we're calculating the timezone inside of reporting exports.
This will cause Zammad to deliver wrong exports.

In my case (GMT+2) Zammad insists that the ticket has been created 4 hours before that (so GMT-2) while the UTC times are perfectly fine.

Issue that introduced this change: https://github.com/zammad/zammad/issues/2594

[2019-07-17 12:06] mantas commented on #2085
@MrGeneration I got this on my todo list and working on it to get away from KB once in a while. No ETA yet though. Let me know if I should prioritise it.

[2019-07-17 12:26] MrGeneration opened #2672 "Changing article visibility will not update ticket view for customers"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any (Tested on Chrome and Firefox latest)
* Ticket-ID: #1065511

### Expected behavior:

When writing a private note (or vica versa) on a ticket that a customer watches via Web UI (being logged in at that moment)

[2019-07-17 12:42] martini commented on #2085
This will cause Zammad to deliver wrong exports.

JFI: The issue in #2594 was that excel is not supporting timezones. So for this we introduces to convert timestamps to agent localised timestamped in excel export. A not what timezone is used in export it as note in the excel sheet.

So please take care of that.

[2019-07-17 12:46] martini commented on #2085
In general it would be nice to have a step by step description how the issue can e reproduced.

Note: Zammad stores all timestamps as GMT and is converting it to local user time zone or to the app time zone. Even for the ticket selector all times are local user times but stored are GMT times always.

So can point me somebody how to reproduce the issue to make it clear? Thanks!

[2019-07-17 13:42] KoJie commented on #2085
I'll try, hopefully it will help:

**Steps to reproduce the behavior (hosted instance):**

- I took a created ticket, created at 07/08/2019 14:31 (Timezone GMT+2)
![image](https://user-images.githubusercontent.com/22768032/61380291-62adaf80-a8a9-11e9-9d4a-5e03bc976072.png)

- I created a report of all tickets and got this in the Reporting-mask:
![image](https://user-images.githubusercontent.com/22

[2019-07-17 15:17] bc1000 opened #2673 "rake searchindex:rebuild defect"
### Infos:

* Used Zammad version: zammad-3.1.0-1562942376.fb3e2d49.centos7.x86_64
* Installation method (source, package, ..):  yum
* Operating system: Centos 7
* Database + version:
* Elasticsearch version: elasticsearch-5.6.16
* Browser + version:

### Expected behavior:

*

### Actual behavior:

* admin user cannot see any users in zammad user management
* cannot rebuild elastic search after u

[2019-07-17 15:26] MrGeneration commented on #2673
Sorry but I believe that this is a duplicate of https://github.com/zammad/zammad/issues/2663
and also a technical questions.

For the next time, please use our community for technical questions (https://community.zammad.org)

Manually run `zammad run rake db:migrate` and try again.
Please carefully check the log output.

If you still have trouble, please consult our community. :-)

[2019-07-17 15:26] #2673 closed, assigned to nobody

[2019-07-17 15:52] bc1000 commented on #2673
I do not see a technical question. I just want to help to fix bugs.

`zammad run rake db:migrate` fixed it, thank you

[2019-07-17 17:18] MrGeneration opened #2674 "Zammad preflight check warning output causes Syntax-Error in postinstall.sh and failing installation"
### Infos:

* Used Zammad version: 3.1.x
* Installation method (source, package, ..): package installation
* Operating system: tested on Debian and SuSe, should affect all
* Database + version: any
* Elasticsearch version: ES 5.6.16
* Browser + version: any

### Expected behavior:

postinstall.sh runs clean and throws no errors.

### Actual behavior:

postinstall.sh throws this error:
[code]
(Offe

[2019-07-18 10:45] MrGeneration opened #2675 "Linking of external account in profile is broken"
### Infos:

* Used Zammad version: 3.1.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1049778

### Expected behavior:

When trying to link a third party authentication like Google or Office365, you'll be redirected to the authentication site of the third party and then back to

[2019-07-18 11:07] MrGeneration commented on #2631
Moving the discussion part to the correspodending community post to keep the noise on the tracker as low as possible:
https://community.zammad.org/t/ldap-integration-is-failing/2704/4

We'll update the issue accordingly if we found the issue.

[2019-07-18 11:54] wucherpfennig opened #2676 "Notification Settings not available if only working with roles"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): Web
* Operating system: -
* Database + version: -
* Elasticsearch version: -
* Browser + version: Chrome, latest

### Expected behavior:

* If a user is an agent of a certain role and has READ access to a specific group he should be able set the option to receive notifications in for this group or not

### Actual b

[2019-07-18 12:39] monotek commented on #2674
I've seen this too but could not find the issue with a quick shellcheck :-/

Seems it comes from the elasticsearch_searchindex_rebuild function...

[2019-07-18 12:49] monotek commented on #2674
Could be related to db settings warning:

[code]

[2019-07-18 15:26] MrGeneration commented on #2674
Haha I made some expert debugging with echos after every line I suspected until I found the evil line (at my end). spellcheck wasn't any help in that case.

I would have fixed it yesterday, but it didn't like me changing the quoting ....

[2019-07-18 16:34] MrGeneration commented on #2676
Sorry, but I believe that this is rather a technical question than a real bug.

Before I get to why, a small hint: Since some Zammad-Versions it's no longer supported to have a tik in "read, write, change, overview and full" - it should be "read, write, change and overview" or "full" (because full is exactly that plus some topping). You proberbly wanna fix that.

Now to the reason I believe this i

[2019-07-18 16:34] #2676 closed, assigned to nobody

[2019-07-18 21:56] cesardi commented on #2616
Stumbled into this same problem today. Solved changing versions in `Gemfile` to this:

[code]

Using `rvm` from rvm.io (not from ports) on FreeBSD 12-Release and Zammad-latest.
Also using `gmake` like `export MAKE="gmake"` instead of `make`.

Partial output:

[code]
Hope it helps.

[2019-07-19 02:13] RareshLuma commented on #1264
+1

[2019-07-19 02:14] RareshLuma commented on #1311
+1

[2019-07-19 02:15] RareshLuma commented on #845
+1

[2019-07-19 07:06] MrGeneration commented on #845
Locking conversation as there hasn't been any new input apart from `+1`.
If you want to discuss this, please use our community for this and reference the issue. :-)

[2019-07-19 07:06] MrGeneration commented on #1311
Locking conversation as there hasn't been any new input apart from `+1`.
If you want to discuss this, please use our community for this and reference the issue. :-)

[2019-07-19 07:06] MrGeneration commented on #1264
Locking conversation as there hasn't been any new input apart from `+1`.
If you want to discuss this, please use our community for this and reference the issue. :-)

[2019-07-19 13:11] pgodzwa opened #2677 "API - search in user is not working"
### Infos:

* Used Zammad version:3.1
* Installation method (source, package, ..):package
* Operating system: Ubuntu 16.04.6
* Database + version: mysql
* Elasticsearch version:5.6.16
* Browser + version: newest chrome

### Expected behavior:
For example:
* curl -H "Authorization: Token token=usertoken" https://url/api/v1/users/search?query="id%3A2" or
curl -H "Authorization: Token token=usertoken

[2019-07-19 13:27] MrGeneration commented on #2677
Sorry, but I do believe that this is a technical questions.
For the next time, please post your technical question over at our community (https://community.zammad.org).

I verified this with running a search query on a clean running 3.1 instance (has been upgraded).

Hints for you:
Please ensure that your elasticsearch is up and running and also that your searchindex is up to date.

If this proble

[2019-07-19 13:27] #2677 closed, assigned to nobody

[2019-07-19 15:33] cesardi commented on #2616
Update:
`bundle install` passed using
[code]
but `rake assets:precompile` fails.
`autoprefixer-rails-9.6.1` does not support `therubyracer`

Output:
[code]

[2019-07-21 01:55] stine2469 opened #2678 "installing via yum generates error: database creation failed and others..."
### Infos:

* Used Zammad version: zammad-3.1.0-1562942376.fb3e2d49.centos7.x86_64
* Installation method (source, package, ..): yum -y install zammad
* Operating system:  CentOS 3.10.0-957.21.3.el7.x86_64
* Database + version: postgresql.x86_64 0:9.2.24-1.el7_5
* Elasticsearch version: elasticsearch.x86_64 0:7.2.0-1
* Browser + version: n/a

### Expected behavior:

*yum -y install zammad   will in

[2019-07-21 02:03] stine2469 commented on #2678
[zabbam.yum.log](https://github.com/zammad/zammad/files/3414172/zabbam.yum.log)

This is the console output from yum -y install zammad.

The only issue I understand is that the elasticsearch installation is trying to connect directly to artifacts.elastic.co and can't because this machine is behind a squid proxy.  For other installations i've done I've had to rerun the command with proxy.host, etc.

[2019-07-21 11:42] kwoot commented on #1048
Hi,

I recently stumbled on a feature idea I will implement at a customer side using Jira (that's what they're using).

It is a feature called "scheduled tickets". I talked it through with my wife (service manager at a large health organisation) and we agreed upon this for what we call "operational systems management".

As an example, it just so happens that you need to do a monthly update run on

[2019-07-22 09:26] dennykorsukewitz commented on #2665
Hi @maxxer,
thanks for report.

`Maximum size in MB of emails.` - correct / new

`Maximal size in MB of emails.` - wrong / old

`Maximal size in MB of emails.` is no longer available in the last version, but still available on the i18n server for older Zammad versions and also on your Zammad.

We are working on finding a solution to remove the old translations without deleting your own translation

[2019-07-22 09:44] dennykorsukewitz commented on #2667
Hi @maxxer,
thanks for report.

`Please enter your time which you want to account.` should be available via Admin -> Translations, after clicking 'Get latest translations' button.

Please check that out and give us some feedback.

[2019-07-22 10:00] maxxer commented on #2667
Verified, thanks 🙏

OT: out of curiosity, when I tweak translations and send them to Zammad, are those reviewed and eventually updated as *core*?

[2019-07-22 10:39] dennykorsukewitz commented on #2667
We have the possibility to move these translations into master.

Here is the list of suggestions that are currently not in the Master.
If you could confirm them, it would be wonderful and we would take them over.

[code]

[2019-07-22 10:54] maxxer commented on #2667
The ones to fix:

[code]

[2019-07-22 11:36] dennykorsukewitz commented on #2667
Nice @maxxer,

thanks for your support.

Best regards
Denny

[2019-07-22 11:36] #2667 closed, assigned to dennykorsukewitz

[2019-07-22 12:59] contaoacademy commented on #2494
Hey!

Are there any news about when the bug will be fixed?

[2019-07-23 10:47] MadNBG opened #2679 "Reports (with own fields) not working"
### Infos:

* Used Zammad version: 2.9.x
* Installation method (source, package, ..): package
* Operating system: Docker
* Database + version:
* Elasticsearch version:
* Browser + version:

We defined some fields under Settings > Objects > tickets.
It's a drop-down-menue with several Topics (Bugs, Tickets, Orders...)
From this, we want to create Reports. While generating a report, you can select t

[2019-07-23 22:06] monotek commented on #2678
Check your locale setting. Utf8 is mandatory ...

[2019-07-24 02:09] xf- commented on #2653
Support is ready :)

[2019-07-24 07:04] thorsteneckel commented on #2653
Nice! @monotek is currently on vacation. So it might take some more days.

[2019-07-24 07:54] #1833 closed

[2019-07-24 08:02] umar-aziz opened #2680 "Create User via Rest API Problems with German special character "Umlaute""
### Infos:

* Used Zammad version: 3.1.x
* Installation method (source, package, ..): package
* Operating system: 18.04.02
* Database + version: any
* Elasticsearch version: any
* Browser + version: Chrome

### Expected behavior:

* Create User via RestAPI and Powershell

### Actual behavior:

* When trying to create a new User with "Umlaute" (Ä,Ü,ß...) Zammad respond with a error  (422) Unprocess

[2019-07-24 08:21] martini commented on #2680
Hi @umar-aziz

can you provide a curl request to reproduce this.

JFI: The REST API is used to create/update users, even with umlaut. So it should be no problem at all.

 -Martin

[2019-07-24 08:51] umar-aziz commented on #2680
Hi @martini

i am using Powershell so this is the request:

[code]
If i change the Firstname to Joerg i could create the User with Jörg it does not work

-Umar

[2019-07-24 09:50] thorsteneckel commented on #1192
**ATTENTION**: We have to warn you to use the SSO implementation in any way described in this or other issues. The changes provided here contain a serious security vulnerability. This vulnerability will persist sessions created via SSO for not authenticated users. This means that it's possible for non authenticated users to take over the previously created SSO session for a user (in Zammad context

[2019-07-24 09:51] thorsteneckel commented on #2576
**ATTENTION**: We have to warn you to use the SSO implementation in any way described in this or other issues. The changes provided here contain a serious security vulnerability. This vulnerability will persist sessions created via SSO for not authenticated users. This means that it's possible for non authenticated users to take over the previously created SSO session for a user (in Zammad context

[2019-07-24 09:51] #2576 closed, assigned to thorsteneckel

[2019-07-24 10:00] Arihantar commented on #2646
What do you think about integrating [gravatar](https://en.gravatar.com/) here?

[2019-07-24 12:15] kevin-olbrich opened #2681 "Org-Assignment by Domains does not work with LDAP"
### Infos:

* Used Zammad version: 3.1.x
* Installation method (source, package, ..): package
* Operating system: CentOS 7
* Database + version: PostgreSQL
* Elasticsearch version: 7.2, latest
* Browser + version: -

### Expected behavior:

* User that sync from LDAP should still assign Org-rules based on domains.

### Actual behavior:

* Users are sychronized but the organisation assignment based

[2019-07-24 12:18] kevin-olbrich commented on #2680
PowerShell does not use UTF8 by default for Rest services:
https://stackoverflow.com/questions/21598398/wrong-encoding-on-powershell-invoke-webrequest-post/51481644

Also you cast a string to ASCII which should be UTF-8:
`$bytes = [System.Text.Encoding]::UTF8.GetBytes($pair)`

[2019-07-24 12:19] thorsteneckel commented on #2681
Hi @kevin-olbrich - nice to hear from you again. This is (technically) a duplicate of #1512. Therefore I'll close this issue. Thanks anyway for reporting it!

[2019-07-24 12:19] #2681 closed, assigned to nobody

[2019-07-24 12:28] martini commented on #2680
@kevin-olbrich Thanks for feedback.

@umar-aziz I agree with @kevin-olbrich - it's working just fine with umlauts and curl.

[2019-07-24 12:28] #2680 closed, assigned to nobody

[2019-07-24 13:03] kevin-olbrich commented on #2681
Thank you very much. I will try to set up a resync on my own.
Wehre did you hear from me in the past? :-)

[2019-07-24 13:07] thorsteneckel commented on #2681
It's been a while and we didn't correspond directly but your engagement in https://github.com/zammad/zammad/pull/2404 left a good impression. I'm really enjoying constructive comments like this 👍 looking forward to hear from you again. If I can support you on your re-sync in any way feel free to reach out via DM in the [community board](http://community.zammad.org/).

[2019-07-24 13:18] kevin-olbrich commented on #2681
Oh! Thank you very much for the good feedback! :-)

We are using Zammad for everything that leaves our office (offers, sales, support, accounting, monitoring, etc.). We also use the API for E-Invoices to streamline customer responses.
We like Zammad (especially me) and it helped us building a living CRM which would be very costly with less integration.
So far, we had no critical issues since the i

[2019-07-24 13:20] kevin-olbrich commented on #1512
@thorsteneckel

Thank you very much! I am not familiar with ruby on rails but with python. I can share the script when I am ready as these are part of a larger FOSS project I am developing for.
This is only a workaround, thus a small tool / script should be fine IMHO.

[2019-07-24 14:09] umar-aziz commented on #2680
@kevin-olbrich
@martini
Thank you for the help. I got it now running:

[code]
I have to set
`$bytes = [System.Text.Encoding]::UTF8.GetBytes($pair)`

and the Invoke Invoke-RestMethod need the
`-ContentType "application/json; charset=utf-8"`

If someone search and need the working code

[2019-07-25 09:59] rlue opened #2682 "When fetching Channels, single failure causes whole process to abort"
### Infos:

* Used Zammad version: `develop`
* Installation method (source, package, ..): N/A
* Operating system: N/A
* Database + version: N/A
* Elasticsearch version: N/A
* Browser + version: N/A
* Ticket#: 1049870

### Expected behavior:

* If multiple email channels are configured, and errors fetching mail from one channel should not prevent the fetching of mail from other channels.

### Actua

[2019-07-25 10:30] saschajullmann opened #2683 "Question regarding rake searchindex:rebuild"
### Infos:

* Used Zammad version: 3.0.0
* Installation method (source, package, ..): Dockerfile
* Operating system: Ubuntu 18.04
* Database + version: Postgres 11.4
* Elasticsearch version: 5.6
* Browser + version: -

### Expected behavior:

* rake searchindex:rebuild rebuilds index completely

### Actual behavior:

* only a subset (latest 100K maybe) of the index gets rebuilt.

### Steps to repr

[2019-07-25 10:50] thorsteneckel commented on #2683
Hey Sascha. That's a technical question and (probably) no issue. Could you please create a topic over at the [community board](http://community.zammad.org/) and provide the output of the command and  the `log/production.log` file of your system. You can refer to me. We'll find a solution 👍

[2019-07-25 10:50] #2683 closed, assigned to nobody

[2019-07-25 11:46] thorsteneckel commented on #2567
Hi @backbord - we were facing the same issue for one of our support customers. Since SSO is currently not officially supported but more of a beta functionality I'll close this issue as a duplicate of #1192. Unfortunately we need to change a few things for adding the SSO support but it will be done over the next weeks 👍 Stay tuned and subscribe to #1192

[2019-07-25 11:46] #2567 closed, assigned to nobody

[2019-07-25 18:40] thomasmeier85 opened #2684 "Auto complete mails by forwarding tickets not working"
### Infos:

* Used Zammad version: 3.1.x
* Installation method (source, package, ..): package
* Operating system: Ubuntu 18.04 LTS
* Database + version: PostgreSQL 10.9
* Elasticsearch version: 5.6.16
* Browser + version: Firefox 68 + Safari 12.1.1

### Expected behavior:

* forwarding an email, start typing the mail address, get recommendations based on previous mail addresses. That behaviour was

[2019-07-25 18:41] gestoramd commented on #2679
In zammad 3.1 the same error continues when you use your fields.

the graphic goes blank

[2019-07-25 18:44] gestoramd commented on #2679
[Report.zip](https://github.com/zammad/zammad/files/3432845/Report.zip)

[2019-07-26 07:33] thorsteneckel commented on #2679
Thanks for reporting this and providing the video @gestoramd - that actually helps a lot. We will address this and have a look 👍

[2019-07-26 08:09] dennykorsukewitz commented on #387
Hi @zabarabab
thanks for report.

The issue is also described here: #2325
Since the other is better described, we will close this one here.

[2019-07-26 08:09] #387 closed

[2019-07-26 11:24] martini opened #2685 "Scheduler/Job with current_user in condition is not working"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* allow to use current_user for scheduler/jobs

### Actual behavior:

* scheduler/job can be created but monitoring will raise an exception:
[code]

### Steps to reproduce the behavio

[2019-07-26 14:45] #2325 closed, assigned to dennykorsukewitz

[2019-07-26 18:40] thomas-obernberger commented on #2646
@Arihantar i think you are mixing up some features here :)
this is an issue, where embedding of the users avatar is not working in the email signature

your request should go into zammads community board:
[code]

[2019-07-27 05:45] Arihantar commented on #2646
@thomas-obernberger thanks for clarifying. I was thinking of contributing to this so thought of checking this first.

[2019-07-29 06:41] cubemac commented on #2684
Same problem here with 3.1
Browsers: Chrome/Edge (Windows) Chrome/Safari (Mac)

[2019-07-29 11:44] thorsteneckel commented on #1512
Cool! Absolutely. What FOSS project are you developing for?
Programming ruby should be pretty straight forward when you're coming from python. Ruby is such a beautiful language and a real joy to program with. Looking forward.

[2019-07-29 12:39] thorsteneckel commented on #2675
This is fixed with the two commits above. Packages will be ready in about 30 minutes 🚀

[2019-07-29 12:39] #2675 closed, assigned to thorsteneckel

[2019-07-30 07:31] rlue commented on #2682
### Correction

This issue was filed in error, based on an incomplete understanding of the `Channel.fetch` method.

The above line is incorrect, as `Channel#fetch` wraps most of its logic in a `begin` / `rescue` block.

We are currently investigating the cause of the customer's original bug report, and will file a new issue once it has been identified.

[2019-07-30 07:31] #2682 closed, assigned to rlue

[2019-07-30 07:44] rlue commented on #2682
More clarification from @martini:

[2019-07-30 14:03] #2379 closed, assigned to dennykorsukewitz

[2019-07-30 14:43] monotek commented on #2674
I'm pretty sure it's about the warning. Could we disable the output and add a rails command to show it?
Doing this we could execute it on purpose and show the warning or even exit the install / upgrade process in the beginning...

[2019-07-31 06:03] dennykorsukewitz commented on #2666
Hi @maxxer @MrGeneration ,

`Successfully!`and `Successful!` are already present on the i18n.
First of all we should check why they are not displayed in the translation overview.

If we change this notice, we should use a general wording so that it can be used more often in user preferences and admin area AND to keep the number of translations small.

`Update successful!` already exists and could

[2019-07-31 07:45] #2664 closed, assigned to dennykorsukewitz

[2019-07-31 08:58] #2685 closed, assigned to martini

[2019-07-31 19:19] 4d4ch4u32 opened #2686 "Cannot add user to organization"
### Infos:

* Used Zammad version: 3.1.x
* Installation method (source, package, ..): Ubuntu package (18.04)
* Operating system: Ubuntu 18.04
* Database + version: default
* Elasticsearch version: 6.8.2
* Browser + version: Firefox 68.0.1

### Expected behavior:

* Open User-Dialog
* Search in Field "Organization" for an existing organization and select it
* Click the Save-button
![grafik](https:/

[2019-08-01 07:53] sreimers commented on #2684
Upgrading elasticsearch to 7.3 fixed this issue for me. maybe even a re-index will do.

[2019-08-01 08:28] martini commented on #2684
I also can confirm that a `zammad run rake searchindex:rebuild` (without elasticsearch upgrade) fixed it on my side.

Feedback is welcome.

[2019-08-01 08:28] #2684 closed, assigned to nobody

[2019-08-01 09:48] dennykorsukewitz opened #2687 "Article deletion for agents within 10 minutes of creation"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

The behavior should be adjusted so that agents can only delete articles within 10 minutes of creation. This serves the purpose of revision security. Administrators should still be abl

[2019-08-01 22:21] dr808 opened #2688 "Emails don't process: wrong argument type Date (expected Date) (TypeError)"
### Infos:

* Used Zammad version: 3.1.0 & 3.2.0 (tried both)
* Installation method (source, package, ..): source
* Operating system: Ubuntu 18.04 LTS
* Database + version: Postgres 9.6
* Elasticsearch version: 7.2.1
* Browser + version: Firefox Nightly

### Expected behavior:

* Email to be processed

### Actual behavior:

* Emails never process. If I run,
```rails r 'Channel::EmailParser.process

[2019-08-02 10:06] dennykorsukewitz commented on #2214
Hi @MrGeneration,

currently 50 agents are listed in the overview:
https://github.com/zammad/zammad/blob/develop/app/assets/javascripts/app/controllers/users.coffee#L158

As soon as this limit is removed, more will be listed and a pagination will be visible.
I suppose, however, that we have minimized the list to 50 and should find the rest through the search.

The question is whether it is really

[2019-08-02 10:15] dennykorsukewitz commented on #2337
Hi @MrGeneration

here you can see the limit of organizations:
https://github.com/zammad/zammad/blob/develop/app/controllers/organizations_controller.rb#L51-L70

https://github.com/zammad/zammad/blob/develop/app/controllers/organizations_controller.rb#L66

https://github.com/zammad/zammad/blob/develop/app/controllers/organizations_controller.rb#L69

The limit here is set to 500.

@martini Should w

[2019-08-02 11:30] cubemac commented on #2684
Works !
Thank you

[2019-08-02 13:51] KoJie opened #2689 "translation-error in subcategories"
### Infos:

* hosted Version: 3.1.x
* Browser + version:  Chrome (75.0.3770.100) and Safari (Version 12.1.1)

### Expected behavior:

* When displaying an article in a subcategory, all categories above it should be listed in the same language.

### Actual behavior:

* In the public area, the subcategory directly above is not translated:

![image](https://user-images.githubusercontent.com/22768032/

[2019-08-02 13:52] Quax1507 commented on #2684
Same here!

 fixed it!

[2019-08-03 13:13] Bart1909 commented on #1432
Can you please tell me, how to set up this integration. I tried it, but no success...

[2019-08-05 07:45] MrGeneration commented on #2679
I believe that this is a indirect duplicate of #2517 which behaves exactly the same way (just with other attributes).

Thus, I'd like to close this for the sake of above mentioned issue. :-)

Thanks for reporting!

[2019-08-05 07:45] #2679 closed, assigned to nobody

[2019-08-05 07:46] MrGeneration commented on #2517
Please also see the screencast from issue 2679 which shows the behavior:
https://github.com/zammad/zammad/files/3432845/Report.zip

[2019-08-05 11:19] martini commented on #2214
IMO nobody is searching a single user in a 50 or 100 result list. So for me it's ok to show 50 user per search result. So the current behavior would be ok for me.

@mrflix any UX recommendations?

[2019-08-05 11:21] MrGeneration commented on #2214
Maybe we could add a informational string like

[code]

I think this would make it clearer.

[2019-08-05 11:22] martini commented on #2337
Here for me it's similar, IMO nobody is searching in a list over 500 records. So probably we should also (like for users) show the last created 50 organizations and make the organizations area searchable.

@mrflix any UX recommendations?

[2019-08-05 11:58] thorsteneckel commented on #244
As a reference: [I answered the same question in the community](https://community.zammad.org/t/examples-of-zpm-files/2881/3).

[2019-08-05 13:59] flo0162 opened #2690 "No option to open attachment in Internet Explorer"
### Infos:

* Used Zammad version: 3.1.0-1564403976.b2f434c5.bionic
* Installation method (source, package, ..): DEB package
* Operating system: Ubuntu 18.04.2
* Database + version: PostgreSQL 10.9
* Elasticsearch version: 5.6.16
* Browser + version: Internet Explorer 11

### Expected behavior:

When opening an attachment, there has to be two options:
- open
- save

### Actual behavior:

In Firefo

[2019-08-05 14:05] thorsteneckel commented on #2690
Hey @flo0162 - thanks for raising the awareness. Unfortunately this is not a bug of Zammad but a limitation of the (Internet Explorer) browser itself. Therefore I'm closing this issue because we don't have any influence on it.

[2019-08-05 14:05] #2690 closed, assigned to nobody

[2019-08-05 15:31] fthommen opened #2691 "Autocompletion of email addresses in To/Cc stopped working since zammad 3.1.0-1564403976.b2f434c5.jessie"
### Infos:

* Used Zammad version: 3.1.0-1564403976.b2f434c5.jessie
* Installation method (source, package, ..): apt-get from repository
* Operating system: Debian GNU/Linux 8 (jessie)
* Database + version: MariaDB 10.0.38-0+deb8u1
* Elasticsearch version: 5.6.16
* Browser + version: Firefox ESR 52.8.0 (Linux), Google Chrome 77.0.3865.10 (Linux)

### Expected behavior:

* Start typing a username/e

[2019-08-05 15:35] thorsteneckel commented on #2691
Hi @fthommen - that sounds very much like a duplicate of #2684 - can you please rebuild your Elasticsearch search index and verify that the issue persists?

[2019-08-05 16:38] fthommen commented on #2691
Hi @thorsteneckel.  Thanks for the hint. `zammad run rake searchindex:rebuild` indeed solved the issue.  I hadn't spotted the duplicate as searching for "autocompletion" didn't match "auto complete" :-).  Great help!

[2019-08-05 16:38] #2691 closed, assigned to nobody

[2019-08-06 05:50] martini opened #2692 "ticket auto assignment is not working if only one excluded user is defined"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1056415

### Expected behavior:

* work also if only one user is selected as excluded

### Actual behavior:

* if only one user is excluded, feature is ignored - user gets assigned

### Steps to

[2019-08-06 08:38] dennykorsukewitz commented on #2569
hi @martini is that already solved?

[2019-08-06 08:40] dennykorsukewitz commented on #2593
Hi @martini
is there anything else to do here?

[2019-08-06 08:42] hoamer opened #2693 "Missing autocompletion for customers, when redirecting a ticket"
Hi,

when redirecting a ticket the autocompletion for customers isn't working.
Usually I would assume a request like "https://xxxxx.de/api/v1/search/user-organization?query=kontakt%40&_=15650789540".

Instead this request is made: "https://xxxxx.de/api/v1/users/search?term=kontakt%40".

### Infos:

* Used Zammad version: 3.1.x
* Installation method (source, package, ..): package
* Operating system

[2019-08-06 08:43] martini commented on #2693
Pls verify it this is a duplicate of https://github.com/zammad/zammad/issues/2684

[2019-08-06 08:50] MrGeneration commented on #2693
Duplicate of  #2684
Please note that this is a technical question that should be fixed by rebuilding the search index.

For further help, please consult the community (https://community.zammad.org)

Thanks!

[2019-08-06 08:50] #2693 closed, assigned to nobody

[2019-08-07 04:59] martini commented on #2092
It`s implemented for Zammad 3.2 now.

1) On upgrade installations there will be not other behavior as it is right now. Only too large emails are shown in Zammad monitoring endpoint.

In case you want to have the now behavior, got do admin -> Channels -> E-Mail -> Settings and change "Send postmaster mail if mail too large"

2) In new setups or if "Send postmaster mail if mail too large" is set to

[2019-08-07 04:59] #2092 closed, assigned to martini

[2019-08-07 09:22] mrflix commented on #2214
I would list all users. While it's faster to search for a user you might not know exactly what you're searching for. In those cases browsing is the better way.

[2019-08-07 09:24] martini commented on #2214
A side note. All users can be 9 milion users. Users are customers too.

[2019-08-07 09:41] mrflix commented on #2214
With 9 million you would probably search for what you know but then the results might be > 100. If I understand it correctly, of those > 100 results only 50 would be displayed. That's not good. All results should be shown.

And it would be really cool to have all 9 million users visible with pagination. In such cases users will understand that flipping though the pagination will take some loading.

[2019-08-07 09:50] MrGeneration commented on #905
I could verify that the current Zammad-Version does take the correct article-body.
For this I had a second trigger that fired right before the other trigger which would add a private note.

I'll be closing this. :)

[2019-08-07 09:50] #905 closed

[2019-08-07 14:14] MrGeneration commented on #2545
Mandatory remark has been removed from our documentation.
Todo is optimizing our upgrade script.

[2019-08-07 14:16] igayuh commented on #2177
Hai..

Any progress on this issue ? All agents in zammad 3.1 still got all notification when there are incomings call ..

Thanks..

[2019-08-07 14:18] MrGeneration commented on #2177
There's no updates on this.
Please don't ping Issues to keep the noise on the repo low.

(Please don't get this wrong, this is so we can concentrade on the current things we're working on. We will update issues when there's news on this. :-) )

[2019-08-08 08:25] dennykorsukewitz opened #2694 "Zendesk import doesn't consider all tickets"
### Infos:

* Used Zammad version: 3.2
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Imports all tickets.

### Actual behavior:

*  Zendesk ticket list endpoint doesn't return all entries. Tickets that are [archived](https://support.zendesk.com/hc/en-us/articles/203

[2019-08-08 08:43] dennykorsukewitz opened #2695 "Telegram not possible to close ticket via `/end`"
### Infos:

* Used Zammad version: 3.2
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* When you send `/end` to Telegram-Bot, the open ticket will be closed.

### Actual behavior:

* When you send `/end` to Telegram-Bot, the open ticket remains open.

### Steps to repr

[2019-08-08 11:11] MrGeneration commented on #2678
Sorry but this is rather a technical question.
For the next time, please consult our community at https://community.zammad.org :)

Closing now.

[2019-08-08 11:11] #2678 closed, assigned to nobody

[2019-08-08 11:46] MrGeneration commented on #2508
Correction, not internal, but public:
https://github.com/zammad/zammad/pull/2509

[2019-08-08 11:51] MrGeneration commented on #2686
Sorry, but I do believe that this is rather a technical question.

Please ensure that your elasticsearch is running and if, that your search index is up to date.
If you're able to find the organization via search function, you should also find it when assigning it to a user.

If this issue still persists (and is not a technical question), please provide your production log.

Please note that our c

[2019-08-08 14:48] hanneshal opened #2696 "Limit on copy and paste in note box for new articles"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): package
* Operating system: CentOS
* Database + version: Postgresql
* Elasticsearch version: 5.6
* Browser + version: Safari/Chrome
* T#1051055

### Expected behavior:

* There should be no limit when pasting text into the text box for article content

### Actual behavior:

* There is a limit around 19k Characters

[2019-08-08 14:54] martini commented on #2696
It's about the user note field or for new articles?

[2019-08-08 15:00] martini commented on #2696
Additional note, we have this behavior (by the way, the red border show that the maximum limit has reached) on two places:

1) For note fields of users & organizations we have a size limit (because of database field limitation).

2) For new articles we have also this behavior - which is currently as designed. I never expected to write answers with more as 19k characters.

What limit is a suitable

[2019-08-08 15:24] sstonemen commented on #2696
Normal mails work easy with 500000 characters.
I would recomend prefer at least 50 000 characters.

I run in this limit several times with zammad. Eg by copy a technical description or a faq or something else in a mail.

[2019-08-09 06:53] KoJie opened #2697 "Time zone incorrectly calculated in ticket list"
T#1049736

### Infos:

* Used Zammad version: 3.1
* hosted instance
* Browser + version: Safari/Chrome

**actual behaviour**

The key figures of the ticket list are given out wrong. The time zones are not calculated correctly. In the Zammad interface everything is correct, when downloading it seems that GMT-2 is calculated instead of GMT+2.

**Steps to reproduce the behavior (hosted instance):**

[2019-08-09 08:04] MrGeneration commented on #2697
This was partly covered by #2085 and is now it's own issue, because we're talking about two different issues here.

[2019-08-09 08:30] thorsteneckel commented on #2686
I agree. Please make sure you Elasticsearch index is up to date and reachable. If the issue still persists please create a new topic over at the [community board](http://community.zammad.org/) and we will figure out if it's actually a bug. Closing now.

[2019-08-09 08:30] #2686 closed, assigned to nobody

[2019-08-09 08:55] MrGeneration commented on #2688
Could you please provide a sample mail that helps us to reproduce and understand this issue?
If the mail is too sensitive for public, you can also send it as attachment via mail: support [at] zammad [dot] com .

Please reference this issue if doing so. :-)

Bests

[2019-08-09 11:25] MrGeneration opened #2698 "Custom ordering of Macros impossible (ordered by time added)"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Tested on Google Chrome 75.0.x, but should affect any
* Ticket-ID: #1051063

### Expected behavior:

Being able to order Macros or at lest being able to order them by alphabetical order.

### Actual behavior:

Re

[2019-08-09 11:28] MrGeneration commented on #542
This has, by now, become a bug.
In Zammad 3.1 Macros suggest you can add articles via Macros, but nothing happens if you run the Macro.

Will update the first article of Martin soonish.

[2019-08-09 11:43] #2697 closed, assigned to martini

[2019-08-09 13:04] 4d4ch4u32 commented on #2686
Thanks for feedback. I just posted this issue in your community board: https://community.zammad.org/t/cannot-add-user-to-organization/2934

[2019-08-10 14:41] EssGeeEich commented on #2653
Hi, sorry to bother, but is there an ETA for this?

[2019-08-12 07:50] #813 closed

[2019-08-12 07:58] thorsteneckel commented on #2103
@MrGeneration - this is resolved with the commits above. We need to update the admin documentation accordingly - right?

[2019-08-12 10:19] MrGeneration commented on #1773
I found the following website to be very useful in terms of "detecting the used LDAP software" for a better mapping.

https://ldapwiki.com/wiki/Determine%20LDAP%20Server%20Vendor

An example for openldap would be:
[code]

Sureley needs further fiddling, but might be a step into the right direction.

[2019-08-12 15:09] martini opened #2699 "Fixes #2699 - Excel export of report or time accounting drops additional fields in row if integer field contain `null/nil/undefined`."
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* export full row of ticket even if integer field contains `null/nil/undefined`

### Actual behavior:

* the last parts of a row data for a ticket in excel is skipped (not filled) if

[2019-08-12 15:26] #2695 closed, assigned to dennykorsukewitz

[2019-08-12 23:00] dr808 commented on #2688
I emailed a new email to the account and CC'd zammad support. Additionally, here are the related logs and healthcheck outputs:

Prior to sending message:
[code]
Immediately after sending email:
[code]

production.log
[code]

After running ```/opt/zammad/bin/rails r 'Channel::EmailParser.process_unprocessable_mails'```
[code]

Logs for the above command:
[code]

[2019-08-13 09:36] MrGeneration commented on #2688
Sorry, but we can't reproduce this issue.
The E-Mail you send was processed without any issues (and is clean).
This seems to be a local installation issue which we can't cover.

Therefore I'll close this issue.

If possible, you should use package installations for productive environments to ensure Zammads working proberbly. If you have any further questions regarding this, please refer to the com

[2019-08-13 09:36] #2688 closed, assigned to nobody

[2019-08-13 11:14] lcx commented on #531
in my case I now have a new account for someone who sent a request via Telegram and I really don't need that as a separate account, it would be great to be able to "merge" this telegram account with the main email account of the client.

[2019-08-13 11:37] MrGeneration commented on #531
I'm limiting the conversation of this issue to contributors only.

Please don't get me wrong here, this is to reduce the "me too" noise on this repository.
We will address this in the future, but there's no ETA.

As soon as something changes at this point, we'll update this issue.

[2019-08-13 12:23] MrGeneration commented on #2525
Closing this as a duplicate in favor vor #542

[2019-08-13 12:23] #2525 closed, assigned to nobody

[2019-08-13 14:15] MrGeneration commented on #2653
Sorry, no ETA at the moment, we'll update this issue as soon as we're moving.

[2019-08-13 14:43] kvitaly2005 opened #2700 "Office365 login error 422: The change you wanted was rejected. in CHROME only"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): docker
* Operating system: Azure Linux
* Database + version: MySQL
* Elasticsearch version: Latest
* Browser + version: Chromium  72 and Chromium-based (Edge 76, Opera)

### Expected behavior:

* After pressing Office365 button Microsoft login page displayed. After account selection and succesful authentication,  d

[2019-08-13 15:15] MrGeneration commented on #2700
Please provide your production-logfile from the time where you're trying to do this.
Please ensure that the users mail address is not already known by Zammad.

If it is, ensure that you link the account first or enable automatic linking.

Personally I suspect that this is rather a technical question than a bug.

Note:
If you're using docker, I suppose you're using docker-compose - if not, please l

[2019-08-13 16:08] MrGeneration opened #2701 "Can't forward articles containing a <img> tag without src attribute"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Follow-up / similare to: #2305
* Ticket-ID: #1048219

### Expected behavior:

When having a not that clean email, Zammad would still allow forwarding mails if needed.

### Actual behavior:

When having a in

[2019-08-13 17:28] kvitaly2005 commented on #2700
Hi and thanks for info, I tested it in trial version and it seems to be a Azure & Chrome issue. I will close the issue as not a bug.

[2019-08-13 17:28] #2700 closed, assigned to nobody

[2019-08-13 22:19] spinza commented on #1041
How do you do this?  I need an address field and not sure how to add it.

[2019-08-14 08:20] MrGeneration commented on #1041
Sorry, but currently I can't tell you. :-)

We need to further investigate this, to ensure Zammads system stability.
My above comment was a rather theoretical note.

[2019-08-14 12:30] dennykorsukewitz opened #2702 "No owner set for Tickets imported from Zendesk"
### Infos:

* Used Zammad version: 3.2
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* All tickets should have set the correct owner after import.

### Actual behavior:

* Ticket have not set the correct owner after import.

### Steps to reproduce the behavior:

* Imp

[2019-08-14 15:46] martini opened #2703 "Added new placetel outbound support for call logging."
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* If I enable new placetel outbound log for web hook api, I want to see the outbound calls in Zammad too.

### Actual behavior:

* Because if invalid/unknown event name `OutgoingCall`

[2019-08-14 15:55] dennykorsukewitz commented on #2289
Hi @MrGeneration

`Can't receive Videos` i'll be able to solve that soon.

---

` "too large" files` - we won't be able to change that at the moment.

**`Bot download limit is up to 20MB`**

https://core.telegram.org/bots/api#getfile

`
getFile
Use this method to get basic info about a file and prepare it for downloading. For the moment, bots can download files of up to 20MB in size. On success, a

[2019-08-14 17:54] MrGeneration opened #2704 "Mail processing fails if attachment meta exceeds 2500 characters"
### Infos:

* Used Zammad version: 3.1.x and earlier
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: MySQL and postgreSQL
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1051341

### Expected behavior:

Zammad will process mails, no matter how much Meta data is within the attachment directive of an attachment.

### Actual behavior:

[2019-08-16 06:52] martini commented on #2696
@sstonemen thanks for feedback. We increased the limit 3 times (from `50000` to `150000` it's the sting length including html tags). So if you have the same html structure to past in you now can past about 60k chars formated in html.

[2019-08-16 06:52] #2696 closed, assigned to martini

[2019-08-16 08:01] thorsteneckel commented on #1619
This was actually resolved by the commit above and will be available with Zammad 3.2 thanks to @rlue . Closing now.

[2019-08-16 08:02] #1619 closed

[2019-08-16 08:14] abeluck opened #2705 "Backup script does not work as zammad user when DB is Postgresql"
## background

This issue is related to https://github.com/zammad/zammad/issues/2508, however while that issue is about running as root, this one is about running as the `zammad` user.

In fact it seems people are running the Zammad backup script as root in their cron jobs specifically because of this issue ([ref](https://github.com/zammad/zammad/issues/2508#issuecomment-470526180)). Monotek also

[2019-08-16 09:43] MrGeneration commented on #2705
One thing beforehand:
- Please use the issue template, especially the "Info" section is mandatory

Note while fiddling:
As I think it's enough to change the following line in your case (`contrib/backup/functions` line 54):
`su -c "pg_dump -c ${DB_NAME} | gzip > /tmp/${TIMESTAMP}_zammad_db.psql.gz" postgres`
TO
`pg_dump -c ${DB_NAME} | gzip > /tmp/${TIMESTAMP}_zammad_db.psql.gz`

In my field tests

[2019-08-16 09:43] #2705 closed, assigned to nobody

[2019-08-16 12:26] martini commented on #2703
Just one note, placetel is currently (2019-08-16) not sending `CallAccepted` events on outgoing calls.  See:

https://github.com/Placetel/call-control-notify-api#outgoing-call

So in Zammad if can't be shown that a outgoing call has been established (it's still shown as `ringing`).

The `HungUp` works also for outgoing as expected.

[2019-08-16 12:26] #2703 closed, assigned to martini

[2019-08-16 12:33] martini commented on #2703
Issue for missing event after `OutgoingCall` event at placetel https://github.com/Placetel/call-control-notify-api/issues/16

[2019-08-16 13:22] MrGeneration opened #2706 "Failing HTML-Processing denies user to access the mail"
### Infos:

* Used Zammad version: 3.1.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1051620, #1056801, #1072848, #1086963, #1086950, # 10104953, #10108800, #10113609, #10114725, #10109416, #10117639, #10118442, #10122133

### Expected behavior:

If Zammad can't reliably proce

[2019-08-16 14:26] thorsteneckel commented on #662
Hi @MrGeneration - this one is already resolved by the commit of @rolfschmidt from early 2017 😱 However, can you please add the introduced setting to the list of advanced configurations in the documentation and close this issue?

[2019-08-16 14:28] thorsteneckel commented on #575
In the meantime we introduced our three documentations:

https://github.com/zammad/zammad-documentation
https://github.com/zammad/zammad-user-documentation
https://github.com/zammad/zammad-admin-documentation

We'd love to receive a pull request if things are not clear - or at least an issue describing what you're missing. If you're unsure make sure to check out the [community board](http://commun

[2019-08-16 14:28] #575 closed

[2019-08-16 14:32] thorsteneckel commented on #574
I'll close this issue since technically it's a duplicate of #1525. We describe [how you can already add states via the Zammad Rails console in the documentation](https://docs.zammad.org/en/latest/console/working-on-tickets.html#add-new-ticket-state) until we resolve #1525. Closing now.

[2019-08-16 14:32] #574 closed

[2019-08-16 14:35] thorsteneckel commented on #971
Please refer to the [community board](http://community.zammad.org/) if there is still a need for clarification and discussion. Closing now.

[2019-08-16 14:35] #971 closed

[2019-08-16 14:39] thorsteneckel commented on #569
This is a direct duplicate of #574 and a technical duplicate of #1525. We describe [how you can already add states via the Zammad Rails console in the documentation](https://docs.zammad.org/en/latest/console/working-on-tickets.html#add-new-ticket-state) until we resolve #1525. Closing now.

[2019-08-16 14:39] #569 closed

[2019-08-16 14:40] thorsteneckel commented on #668
As @monotek already stated this is a duplicate of #416. If you still have questions please refer to the [community board](http://community.zammad.org/). Closing now.

[2019-08-16 14:40] #668 closed

[2019-08-16 14:42] thorsteneckel commented on #720
This didn't got much traction over the last years. Please refer to the [community board](http://community.zammad.org/) for further discussions.

[2019-08-16 14:42] #720 closed

[2019-08-16 14:51] thorsteneckel commented on #800
This has been registered as an issue over at #2485 - so I'll close this one as duplicate (even as it's older). Please refer to the [community board](http://community.zammad.org/) for further questions.

[2019-08-16 14:51] #800 closed

[2019-08-16 14:53] thorsteneckel commented on #816
Thanks for posting the link here @NeverMin . I'll close this as resolved for now. If you disagree please refer to the [community board](http://community.zammad.org/) and we're happy to hear your thoughts. Closing this one now.

[2019-08-16 14:53] #816 closed

[2019-08-16 14:55] thorsteneckel commented on #873
This issue/question has been stale for quite a while. Please refer to the [community board](http://community.zammad.org/) if it still persists. We'll have a look and create an issue if it's related to Zammad. Thanks! Closing now.

[2019-08-16 14:55] #873 closed

[2019-08-16 14:56] thorsteneckel commented on #980
I think this has already been clarified. If not please refer to the [community board](http://community.zammad.org/). There are a lot of great people happy to help. Closing now.

[2019-08-16 14:56] #980 closed

[2019-08-16 14:57] thorsteneckel commented on #982
I hope that this has been resolved. It's been a while. If not please refer to the [community board](http://community.zammad.org/). There are a lot of great people willing to help. Closing now.

[2019-08-16 14:57] #982 closed

[2019-08-16 14:59] thorsteneckel commented on #1007
This issue has been stale for quite a while. If your question is still open please refer to the [community board](http://community.zammad.org/). There are a lot great people willing to help and answer questions.

[2019-08-16 14:59] #1007 closed

[2019-08-16 15:01] thorsteneckel commented on #1423
Closing now since this haven't got any traction and has been stale for quite a while. I think there is another OpenID issue but I can't find it. However, if you still think OpenID is required please refer to the [community board](http://community.zammad.org/) and let us know about your use case. Closing this one now.

[2019-08-16 15:01] #1423 closed

[2019-08-16 15:04] thorsteneckel commented on #2474
I'd like to see an issue that describes the actual issue in a comprehensible way. If things are unclear please refer to the [community board](http://community.zammad.org/) and we'll figure things out together. I'll close this one.

[2019-08-16 15:04] #2474 closed, assigned to nobody

[2019-08-16 15:05] thorsteneckel commented on #653
This didn't get much traction. If you still think there is a need to change that please refer to the [community board](http://community.zammad.org/) and let us know your thoughts. Closing this one now.

[2019-08-16 15:05] #653 closed

[2019-08-16 15:08] thorsteneckel commented on #837
This is (technically) a duplicate of #512. So I'll close this one now.

[2019-08-16 15:08] #837 closed

[2019-08-16 15:25] thorsteneckel commented on #692
This [has been introduced with the new Elasticsearch 6 and 7 support](https://github.com/zammad/zammad/commit/af9fcf456573bce851a0d7ff08c472dfc377b218#diff-8f6c88adb98dfe5357010bf9c228739fR87). Users that are inactive will now be displayed at the end of the list.

[2019-08-16 15:25] #692 closed

[2019-08-16 15:29] MrGeneration commented on #662
This is already documented here:

https://admin-docs.zammad.org/en/latest/channels-email.html#additional-e-mail-setting

Closing :)

[2019-08-16 15:29] #662 closed

[2019-08-16 15:40] #2661 closed, assigned to dennykorsukewitz

[2019-08-16 17:39] #2596 closed, assigned to thorsteneckel

[2019-08-16 22:25] #2647 closed, assigned to dennykorsukewitz

[2019-08-17 21:32] kominoshja commented on #2675
Hi, uhm, are you sure this fixes it? I had to change the code (source install) since it still happens on latest .tar of zammad, and i still get 404 (maybe i need to restart something?)

[2019-08-17 21:32] kominoshja commented on #2675
@thorsteneckel Hi, uhm, are you sure this fixes it? I had to change the code (source install) since it still happens on latest .tar of zammad, and i still get 404 (maybe i need to restart something?)

[2019-08-19 06:52] thorsteneckel commented on #2675
Hi @kominoshja - the source tar files are not updated for each commit (as far as I'm aware of). We strongly encourage the usage of the OS packages. If you have any further questions please create a thread over at the [community board](http://community.zammad.org/) and refer to me.

[2019-08-19 12:10] dennykorsukewitz opened #2707 "Ticket auto assignment exceptions should not display customer user"
### Infos:

* Used Zammad version: 3.1.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* The expectation is that you can only select agents (not customers).

<img width="828" alt="Zammad_Helpdesk_-_Ticket" src="https://user-images.githubusercontent.com/3249687/6326409

[2019-08-19 20:50] georgeemr opened #2708 "Async UI Notification"
Hi, normally our users have the Zammad dashboard open. The dashboard was checking constantly for new tickets and a sound played when a ticket was available.

Now, Zammad dashboard won't tell if there is new tickets until the user refresh the page with F5.
![image](https://user-images.githubusercontent.com/3822009/63298352-7e351d00-c290-11e9-8190-951a143d0eb8.png)

I'm checking the configuration bu

[2019-08-19 21:14] georgeemr commented on #2708
Well, maybe is this.

![image](https://user-images.githubusercontent.com/3822009/63299863-0963e200-c294-11e9-9c52-892a6c8e3190.png)

Correct?

[2019-08-19 21:23] #2708 closed, assigned to nobody

[2019-08-20 06:45] maxxer opened #2709 ""Is required" untranslatable"
### Infos:

* Used Zammad version: 3.0.x
* Installation method (source, package, ..): Docker
* Operating system: Ubuntu 16.04
* Database + version: Docker
* Elasticsearch version: Docker

I was creating a new contact from within issue creation.

![immagine](https://user-images.githubusercontent.com/240201/63323694-b5560d80-c326-11e9-9ab4-ad256b5eb845.png)

[2019-08-20 07:54] MrGeneration commented on #2709
`is required` currently can't be translated.
As we already have `required` in our list (and I also think this as a single word is totally enough, we also should change this).

If one word is enough, I'd prefer `field required` or `field is required`.

[2019-08-20 08:41] SEGGER-NV opened #2710 "Quick text launched in text editor even if new line is between ::"
### Infos:

* Used Zammad version: 3.1.x
* Installation method (source, package, ..): package
* Operating system: Debian 9
* Database + version: -
* Elasticsearch version: -
* Browser + version: Firefox latest

### Expected behavior:

* Writing the following text should not trigger quick text:

[code]
Instead the second line should only offer quick text after :: has been used again.

### Actual be

[2019-08-20 09:04] SEGGER-NV opened #2711 "Under certain circumstances text before a quicktext gets deleted if quicktext is not available."
### Infos:

* Used Zammad version: 3.1.x
* Installation method (source, package, ..): package
* Operating system: Debian 9
* Database + version: -
* Elasticsearch version: -
* Browser + version: Firefox latest

### Expected behavior:

* When writing Text then using quicktext none of the already written text should be removed if the quicktext macro is not available

### Actual behavior:

* The text

[2019-08-20 09:11] MrGeneration commented on #2711
Sorry but I believe that this works as designed.

Reason for this:
The reason is, that when pressing `::` you're actually inside the text module dialogue.
If you watch your screencast closely, Zammad delivers text modules for a moment - as you continue to type, the dialogue vanishes (because there are no values left).

If you press enter now, you're telling Zammad to insert the text module (which

[2019-08-20 12:13] SEGGER-NV commented on #2711
I see thank you for clarification.
Still the bug remains that not only the text after the :: is removed after pressing enter but actual body text that should not be removed. Worst part is that CTRL+Z does not work so actual written text is lost.
I will make a video should I come across it again.

Another issue I saw today with quicktext is as follows:
![quicktext_empty](https://user-images.githubu

[2019-08-20 12:34] MrGeneration commented on #2711
Hey,

please create an own issue for your comment (https://github.com/zammad/zammad/issues/2711#issuecomment-522986208).

I could verify this (and will mark it accordingly after you created it).
This also affects Google Chrome, but way less than Firefox. Also, this only seems to affect the ticket creation process.

[2019-08-20 14:40] kominoshja commented on #2675
Thanks for your answer. For those who are looking to add this to their source install, manually edit the files, recompile assets with rake, and restart zammad (and webserver maybe)

[2019-08-20 15:23] SEGGER-NV opened #2712 "When quicktext at beginning of text body is removed cursor jumps out of scope"
### Infos:

* Used Zammad version: 3.1.x
* Installation method (source, package, ..): package
* Operating system: Debian 9
* Database + version: any
* Elasticsearch version: any
* Browser + version: Firefox latest

Referenced from:
https://github.com/zammad/zammad/issues/2711#issuecomment-522993384

### Expected behavior:

* When at the beginning of a text body quick text is lanched with :: and de

[2019-08-20 17:11] shakalandy opened #2713 "Knowledge Base does't support animated GIFs and embedded Video (Youtube/Vimeo) content."
### Infos:

* Used Zammad version:  3.1.0
* Installation method (source, package, ..): Package
* Operating system: Ubuntu
* Database + version: MySQL 5.7.27
* Elasticsearch version: 5.6.16
* Browser + version: Chrome 76.0

### Expected behavior:

* Animated GIFs work after saving in KB Editor

### Actual behavior:

* Animated GIF can be copied in editor, is removed after saving and not shown onlin

[2019-08-20 18:04] MrGeneration commented on #2713
I don't see this as a bug to be honest.
If you copy a gif from clipboard to any place into Zammad, the gif will not move, but just provide a single image.

@thorsteneckel  what do you think?

This is a technical limitation.

[2019-08-21 12:22] SEGGER-NV opened #2714 "Roles and Users selection in Overview administration UI ambiguous"
### Infos:

* Used Zammad version: 3.1.x
* Installation method (source, package, ..): package
* Operating system: Debian 9
* Database + version: -
* Elasticsearch version: -
* Browser + version: -

### Expected behavior:

* When setting the availability of an overview one can set it for a role and/or individuals.
When setting both a role and an individual the overview should be visible to everyone

[2019-08-21 17:13] MrGeneration opened #2715 "Twitter-URLs (show this on twitter) are no longer valid / working"
### Infos:

* Used Zammad version: 3.1 (basically any)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Google Chrome latest (but still, any ;) )
* Ticket-ID: #1051924

### Expected behavior:

* When Zammad imports a tweet, it will set the correct twitter-URL to the tweet on twitter. This will allow

[2019-08-21 19:09] shakalandy commented on #2713
@MrGeneration Hm, if i poste a animated GIF into the KB it moves (in Chrome). After saving it's lost.
I thought this might be a bug because it's possible in editor to add a gif (via copy & paste)

In my opinion this should be possible as a lightweight solution for "how-to" videos in the KB.
Should i fill a enhancement request somewhere else? Possible to sponsor it?

[2019-08-22 15:51] MrGeneration commented on #1880
Personally I believe that this works as designed and should not be changed.
Instead, if needed, I believe we should set the `communication: true` flag.

Attention: This causes private notes to count for SLA as well.
Imho this is, because we currently can't differ from that.

@thorsteneckel  what do you think?

[2019-08-22 16:07] MrGeneration opened #2716 "Triggered note with variables do not replace variable with content"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: tested on Google Chrome (latest)

### Expected behavior:

When adding variables with `::` to a trigger that creates a note (with any visibility), it will replace the variables placed with the content they should

[2019-08-22 16:25] MrGeneration opened #2717 "Deleting objects being used within SLAs shouldn't be possible"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Support-Ticket: #1052208
* Might overlap with the following issue (in QA which is why I did not extend it): #2560 2560

### Expected behavior:

Deletion of objects that are used within any SLA is not possib

[2019-08-23 14:24] MrGeneration opened #2718 "Linking Knowledgebase answers within Ticket impossible"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: latest Google Chrome, latest Firefox
* This bug has originally found by the user `bendergruppe` on the Community: https://community.zammad.org/t/find-knowledge-base-entry-from-ticket/2973

### Expected behavior:

[2019-08-26 08:42] martini commented on #2658
After a discussion with @mrgeneration we agreed to raise an error (not skip singel rows) if the import contains 2 or more duplicate rows to let he user know that there are issues with the complete import.

[2019-08-26 09:37] rlue commented on #2658
I have a fix for this, and it's almost ready for QA—just want to address #2659 at the same time.

A couple notes:

1. > ```diff

   This doesn't actually work with the sample CSV file provided above. The first entry creates an organization with the name 'Zammad', then when we reach the second record, it tries `Organization.lookup(name: 'ZAMMAD'.downcase)` and finds nothing. I solved this by using

[2019-08-26 09:42] MrGeneration commented on #2658
No worries, a full hard fail with a meaning full error message would be good in my eyes.

(Just a double tap ;) )

[2019-08-26 17:26] MrGeneration commented on #2653
internal PR is on QA

[2019-08-26 19:15] martini opened #2719 "Unable to set owner via `X-Zammad-Ticket-owner` header"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Be bale to set ticket owner via `X-Zammad-Ticket-owner: some_agent@example.com` email header

### Actual behavior:

* Mal is unprocessable:

[code]

[2019-08-26 21:23] coyoteltd commented on #867
I would also like this feature.  Is anyone / has anyone developed it?

[2019-08-27 07:31] cyberrranger commented on #2595
i use Zammad (docker-compose) with 3.0.x gitlab works with the the URL https://git.******.com/api/v4/ (@DoktorAerzt thx).

Now i update to Zammad 3.1.x, and the Login with gitlab is with broken.

[2019-08-27 13:43] MrGeneration commented on #2595
Please note that this issue is not yet closed so the issue is not fixed within stable yet.

[2019-08-27 13:45] MrGeneration commented on #867
Sorry, but Github is not the right place for Zammad Feature-Requests.
Please use the Community (https://community.zammad.org) for FRs or technical questions.

Plus: This issue has been solved as `works as designed / wontfix`.

I've limited the conversation to contributors only to reduce the noise on the repository.
(Nothing personal, really :) )

[2019-08-28 06:21] dennykorsukewitz commented on #2712
Hi,

currently I can only reproduce this behavior in Firefox.
@mrflix Can you take a look at this, please?

[2019-08-28 07:22] dennykorsukewitz commented on #1880
In my opinion, a note should not be counted as communication. Because we only write a note on the ticket and don't necessarily want to inform the customer.

At the moment, however, it is expected that a note will count as communication because the customer can view it at Zammad as a customer.

**For this we should use the ArticleType 'web'**.

----

Or we differentiate between internal and externa

[2019-08-28 08:48] MrGeneration commented on #2712
This happens in Chrome as well, but is waaaaaaaaaaaaaaaay less visible. (It's a really small jump :) )

[2019-08-28 08:51] MrGeneration commented on #1880
I like the approach to automatically switch to "Web" when using a public note better.
This will also disallow the agent to delete the note and will make it clearer that this e.g. has been public earlier.

[2019-08-28 08:58] martini opened #2720 "Sometimes elasticsearch takes longer as expected and will raise timeout in Zammad"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Raise no timeout in Zammad if elastichsearch takes longer to create/drop index or do update index.

### Actual behavior:

* Zammad will raise an timeout exception if elasticsearch t

[2019-08-28 10:47] #2720 closed, assigned to martini

[2019-08-28 15:41] pobradovic08 commented on #1055
Like @pvanek said, this is a big drawback especially when sending responses that should be preformatted (text based tables, outputs from terminal UIs, etc.)

[2019-08-28 15:48] MrGeneration commented on #1055
I'll be locking this issue to redcuse the noise on this repository.
Please don't get me wrong, there has been no further input that brings this forward.

This is an enhancement that we'll address eventually (note that this indirectly is covered by https://github.com/zammad/zammad/issues/330 ).

We currently have no ETA for both topics.
As soon as something moves here, we'll update the issue.

[2019-08-28 16:16] MrGeneration commented on #1777
Currently can't reproduce it anymore and thus will close this issue.

[2019-08-28 16:16] #1777 closed

[2019-08-28 16:30] MrGeneration commented on #2648
Sorry, but I can't reproduce this issue.
Reason behind this might be, because time accounting only is triggered when adding articles.

Please note that, because of the above, this might be blocked by this issue: https://github.com/zammad/zammad/issues/542

Can you please ensure, that whatever you want to do with the macro (while expecting time accounting dialogues) is working the manual way as wel

[2019-08-28 16:35] MrGeneration commented on #2656
Just a small follow up: This seems to be (at least partly) be adressed by now :)
https://github.com/rails/rails/pull/33094#issuecomment-522474464

[2019-08-28 16:41] msteeg commented on #2648
Hi,

this could indeed be related to the issue, you’re mentioning.
During manual testing, I noticed, that the accounting dialog only appears, when there are new notes. It does not appear, if you’re only changing ticket states, for example... Which aligns with your opinion. Our Macro supposed to add a note also, but due to issue #542 it won’t happen.

On the other hand: Is it intentional, that you’

[2019-08-28 16:47] MrGeneration commented on #2649
Okay so I've finally managed to test this.
Within Zammad 3.1 it doesn't seem to matter if you have Umlauts within Organization names.

Zammad will delete the ticket(s) just fine.

I'll be closing this, as I can't reproduce this.
As already mentioned, please think about upgrading Zammad to a more current version, as 2.7 is quite old.

[2019-08-28 16:47] #2649 closed, assigned to nobody

[2019-08-29 07:05] dennykorsukewitz commented on #2566
Hi @GrexAut,

this works as designed.
Currently tags are separated with a [comma](https://github.com/zammad/zammad/blob/develop/app/assets/javascripts/app/controllers/widget/tag.coffee#L91) while adding.

[2019-08-29 07:08] ThomHordijk opened #2721 "Admin cannot turn of notifications"
If you think you hit a bug, please continue:
- Search existing issues and the CHANGELOG.md for your issue - there might be a solution already
- Make sure to use the latest version of Zammad if possible
- Add the `log/production.log` file from your system. Attention: Make sure no confidential data is in it!
- Please write the issue in english
- Don't remove the template - otherwise we will close th

[2019-08-29 07:16] ThomHordijk commented on #2721
Nevermind I think I understand what was going on. Admin had agent privilege's turned of by a colleague of mine we were looking into related issues and I did not correlate the two. My apologies.

[2019-08-29 07:16] #2721 closed, assigned to nobody

[2019-08-29 07:20] dennykorsukewitz commented on #2566
Hi @GrexAut

After a short discussion with the developers, this handling has several advantages.

- poweruser can thus add several tags at the same time.
- using x-zammad-ticket-tags (mail headers) with multiple tags.

We recommend separating the tags with "-" or other characters.

[2019-08-29 07:20] #2566 closed, assigned to nobody

[2019-08-29 07:40] dennykorsukewitz commented on #2433
Hi @MrGeneration

the [limit 6000](https://github.com/zammad/zammad/blob/develop/lib/report/ticket_generic_time.rb#L151) is hard coded. ATM this works as designed.

Maybe @martini can say more about the reasons.
Probably the reason will be overload reduction.

[2019-08-29 08:01] #2719 closed, assigned to martini

[2019-08-29 08:52] MrGeneration commented on #2648
I get your point(s).
Currently this is working as designed and thus everything seems to be fine (except for my mentioned issue).

Extending the time accounting would be a feature request that I'd like to ask you to post on the Community ( https://community.zammad.org ). Right now it works as designed, even though it might not be optimal. :-)

As this is rather a feature request, I'd close this iss

[2019-08-29 08:52] #2648 closed, assigned to MrGeneration

[2019-08-29 11:16] MrGeneration commented on #2505
Trial User is also experiencing this ( #1052496 )

![image](https://user-images.githubusercontent.com/6549061/63936018-23a17b00-ca5f-11e9-9b62-8b7ebad43e3e.png)

[2019-08-29 13:28] MrGeneration opened #2722 "mail processing impossible: invalid byte sequence in UTF-8"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

Zammad importants mails without trouble.

### Actual behavior:

Zammad is unable to import specific mails with throwing the following Traceback:

[code]

### Steps to reproduce the be

[2019-08-29 17:01] #2722 closed, assigned to martini

[2019-08-30 12:49] martini opened #2723 "Unable to process mail with enabled follow up detection in content of attachments"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Process mail event if follow up detection in mail attachments is enabled.

### Actual behavior:

* Mail processing will fail if attachment contains some non utf8 data.

### Steps to

[2019-08-30 14:40] #2723 closed, assigned to martini

[2019-08-30 17:40] MrGeneration commented on #2666
I'd like to vote for `Update successful` and `Settings stored successful` :-P

[2019-08-30 17:45] MrGeneration commented on #2494
Sorry, but we currently can't give an ETA for fixing this.
We're working hard on addressing issues and will update this issue, as soon as we're working on it.

[2019-08-30 17:53] MrGeneration opened #2724 "Enhance Tag-Backend to make it impossible to create comma seperated tags"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Follow up for #2566 to address the real issue :>

### Expected behavior:

When adding tags, you can seperate tags by a comma to create several tags at once.

e.g. `test, super, wow, amazing`

will end in a

[2019-08-30 17:53] MrGeneration commented on #2566
Just as small information:
I've added #2724 to address the backend handling of tags, as this is the real issue here. So we get that fixed. ;)

[2019-08-31 08:07] athanasius-kircher opened #2725 "Elasticsearch Index reseted during ticket delete"
### Infos:

* Used Zammad version: 3.1.0
* Installation method (source, package, ..): source
* Operating system: Debian 9
* Database + version: MYSQL 5.7
* Elasticsearch version: 6.3.1
* Browser + version: -

We have a working Elasticsearch setuped for Zammad and followed the given instructions. After an initial indexing, triggered with `rake searchindex:rebuild`, we have over 4k docs in zammad_pr

[2019-08-31 14:12] morph027 opened #2726 "System mail notification subjects ending with =0A"
### Infos:

* Used Zammad version: 3.1.0-14 (zammad/zammad-docker-compose:zammad-3.1.0-14)
* Installation method (source, package, ..): Docker
* Operating system: ...
* Database + version: Postgresql 9.6 (from zammad/zammad-docker-compose:zammad-postgresql-3.1.0-14)
* Elasticsearch version: 5.6.14 (from zammad/zammad-docker-compose:zammad-elasticsearch-3.1.0-14)

### Expected behavior:

* Not havi

[2019-08-31 14:12] morph027 commented on #2726
Database lists as UTF8 in psql

[code]

[2019-08-31 14:13] morph027 commented on #2726
![screenshot_1](https://user-images.githubusercontent.com/600106/64065155-43c16d80-cc0a-11e9-9031-5faf905a3aa9.png)

[2019-08-31 14:17] morph027 opened #2727 "Initial database seed crashes with base64: invalid input"
### Infos:

* Used Zammad version: 3.1.0-14 (zammad/zammad-docker-compose:zammad-3.1.0-14)
* Installation method (source, package, ..): Docker + AWS
* Operating system: ...
* Database + version: Postgresql 11
* Elasticsearch version: 5.6

### Expected behavior:

* database will be initialized in a single step when empty

### Actual behavior:

* database seed crashes with error message (zammad-init

[2019-08-31 14:46] morph027 commented on #2726
Seems to happen to system mails only, which are including a line break at the end

![screenshot_2](https://user-images.githubusercontent.com/600106/64065509-addc1180-cc0e-11e9-9cb9-18d0b8fecb52.png)

System mail (`)` is on a new line):

[code]

Ticket mail:

[code]

[2019-09-02 05:38] martini opened #2728 "Put _type, _doc and _id to reserved words for object managaer becasue of elasticssearch internal use"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Only allow in object manager to create attribute names which are usable.

### Actual behavior:

* If I create attributes like _type, _doc or _id, `rake searchindex:rebuild` will not

[2019-09-02 07:09] morph027 commented on #2727
Okay, seems to be some kind of expected and is silently fixed as docker image has restart always...

[2019-09-02 07:09] #2727 closed, assigned to nobody

[2019-09-02 11:24] thorsteneckel commented on #2595
What exactly is broken @cyberrranger ? Please provide the log file of your Zammad.

@MrGeneration we actually will only change the placeholder in Zammad. Let me know when the documentation is ready. We can then change the placeholder and close the issue.

[2019-09-02 11:32] thorsteneckel commented on #2717
This is a duplicate of #2560. Closing now.

[2019-09-02 11:32] #2717 closed, assigned to nobody

[2019-09-02 11:40] thorsteneckel commented on #2713
I agree that we should support animated GIFs/videos etc. However, we currently face higher prioritized tasks (unfortunately). Great to hear about you're interest in sponsoring that feature @shakalandy 😍 please reach out to my colleagues over at contact@zammad.com 📫

[2019-09-02 13:29] #2710 closed, assigned to dennykorsukewitz

[2019-09-02 14:01] shakalandy commented on #2713
@thorsteneckel thanks for the reply. contact @ bounced - wrote to enjoy@zammad.com instead.

[2019-09-02 14:06] MrGeneration commented on #2713
Thanks, I'll handle your request asap. ;)

[2019-09-02 23:19] #2728 closed, assigned to martini

[2019-09-03 08:49] nublaii commented on #2718
Same here, noticed it even before upgrading to version 3.1

[2019-09-03 08:59] nublaii opened #2729 "Knowledge Base syntax highlighting/markdown support"
**Infos:**

    Used Zammad version: 3.1
    Installation method (source, package, ..): any
    Operating system: any
    Database + version: any
    Elasticsearch version: any
    Browser + version: any

**Desired behavior:**

It would be great to be able to add support for syntax highlighting and/or markdown on the body of an answer, right now everything is just plain text (except italics, bold

[2019-09-03 09:03] MrGeneration commented on #2729
Sorry, but this is a feature request which is the wrong place for this repository.
Please do only post bug reports on this repo.

For technical questions or enhancement request, the Zammad Community is the better place: https://community.zammad.org

Also, for this exact request we already do have a request on the community:
https://community.zammad.org/t/knowledge-base-better-editor-or-markdown-rs

[2019-09-03 09:03] #2729 closed, assigned to nobody

[2019-09-03 09:07] MrGeneration commented on #2725
Thanks for your report and sorry for asking back, I just want to make sure to understand if I got you correct:

You're saying that without running `rake searchindex:rebuild` Zammad does drop valid data from the searchindex, even though the data should be still there because e.g. the ticket is?

This then forces you to manually rebuild the index?

[2019-09-03 14:38] thorsteneckel opened #2730 "Registering of Twitter App fails for Twitter App with existing webhooks"
### Infos:

* Used Zammad version: 3.1.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* It should be possible to register a Twitter app that already has existing webhooks.

### Actual behavior:

* Registration of Twitter app fails with Error `undefined local variable

[2019-09-03 15:22] athanasius-kircher commented on #2725
Yes that is exactly what I meant.

I have ticket (A) in my search index and can find it. After a while ticket (A), that does still exist, is not found anymore and dropped from the search index. I have not run `rake searchindex:rebuild` during this time.

If now, I start `rake searchindex:rebuild` again, ticket (A) can be found again.

To me, according to the logs above, it seems that an automated

[2019-09-03 16:47] MrGeneration commented on #2595
This has been addressed with PR - thanks to loads of help from @cyberrranger  :)

https://github.com/zammad/zammad-admin-documentation/pull/20

So from my side we could close this issue.

[2019-09-03 16:56] maxxer commented on #2666
*Update successful* is fine to me. *Settings stored successful* should be *lly* :)

[2019-09-03 18:17] #2538 closed, assigned to nobody

[2019-09-03 18:17] #2702 closed, assigned to dennykorsukewitz

[2019-09-04 08:08] thorsteneckel commented on #1066
@MrGeneration - as discussed: Please create the documentation and close the issue afterwards. Thanks!

EDIT: Group dependent macros are now available in `develop` and will be part of the 3.2 release. Thanks to @dennykorsukewitz  ❤️

[2019-09-04 09:31] #1010 closed

[2019-09-04 14:01] #2730 closed, assigned to thorsteneckel

[2019-09-04 16:36] abeluck commented on #1653
I ran into an error related to this fix for this bug when testing develop on my test instance:

Not sure if this is a bug, or just an artifact of running a WIP that is develop, but sharing here just in case..

[code]

[2019-09-04 17:19] thorsteneckel commented on #1653
Hi @abeluck - thanks a ton for your feedback. This is extremely valuable for us! A follow up fix is currently going through QA.

[2019-09-05 14:09] thorsteneckel commented on #1192
Single sign-on has finally landed into `develop` thanks to @rlue ! It will be part of the upcoming 3.2 release in a few weeks. [Please note that the update of Zammad instances using the `develop` branch is currently broken.](https://github.com/zammad/zammad/issues/1653#issuecomment-527982988) We're working on that. However, you can test SSO in a new Zammad (test) system.

@MrGeneration can you ple

[2019-09-06 09:28] steschuser opened #2731 "PG::UndefinedTable: ERROR: relation “groups_text_modules” does not exist"
### Infos:

* Used Zammad version: 3.1 (Upgrade from 2.9)
* Installation method (source, package, ..): Debian Package
* Operating system: Debian Linux 9
* Database + version: 10.1.38-MariaDB-0+deb9u1 Debian 9.8
* Elasticsearch version: -
* Browser + version: All

### Expected behavior:

Creation of new Textmodul should work

### Actual behavior:

Error message flashes:
PG::UndefinedTable: ERROR: r

[2019-09-06 09:30] MrGeneration commented on #2731
Sorry but I believe that this is a technical question, which should live in the Community: https://community.zammad.org

I suspect you upgraded (without checking the high amount of output) and the upgrade didn't finish.

Run `zammad run rake db:migrate` and restart Zamamd, you should be fine.

Closing now.

[2019-09-06 09:30] #2731 closed, assigned to nobody

[2019-09-06 12:00] morph027 commented on #2726
Also got the same in official zammad bug tracker ;)

![screenshot_3](https://user-images.githubusercontent.com/600106/64426381-ae612600-d0ae-11e9-853b-fe96629ecb95.png)

[2019-09-06 13:38] steschuser commented on #2731
I did open an issue there as well.

zammad run rake db:migrate solved it tho.
thx

[2019-09-06 14:01] MrGeneration commented on #2731
For the next time, please only choose one place. :-)
Saves time for everyone. :)

[2019-09-06 15:01] MrGeneration commented on #2726
Well sorry I should have commented the issue ;)
I verified it, we will address it as soon as we find the time to do so. :-)

We'll update this issues accordingly as soon as there's news to it.

[2019-09-06 15:06] cyberrranger opened #2732 "Change gitlab server, Problem with linked Accounts"
If i change the gitlab server in "Third-party Applications" with a new list of users and with new ids, i have a problem with existing accounts

### Infos:

* Used Zammad version: 3.0.x
* Installation method (source, package, ..): docker
* Operating system: current
* Database + version: current
* Elasticsearch version: current
* Browser + version: all

### Steps to reproduce the behavior:

old gith

[2019-09-06 15:13] MrGeneration commented on #2732
Sorry but I believe that this is a technical question and not a bug.
Github is the wrong place for technical questions, please use the Community for such things: https://community.zammad.org

I also have no answer for this question at the moment, we'll fiddle around that at the Community.

Closing now.

[2019-09-06 15:13] #2732 closed, assigned to nobody

[2019-09-06 18:18] pgtaboada opened #2733 "Show external user information (webhook)"
I am currently using another ticket system that has one very nice feature: webhooks for external information.

Every time a ticket is opened, the ticket system calls a pre-configured url and passes all email addresses associated with that ticket, eg:

https://my.server.com?emails=bla@blup.com;blup@bla.com

The called must respond html that simply will be embeded in the ticket view in the customer

[2019-09-06 18:23] MrGeneration commented on #2733
Sorry, but technical questions and enhancement requests are the wrong place.
For new feature requests, please use the Community (https://community.zammad.org) for this!

Beside this, we already do have a issue for this, it can be found here:
https://github.com/zammad/zammad/issues/290

I'll be closing this as duplicate for now :)

[2019-09-06 18:23] #2733 closed, assigned to nobody

[2019-09-06 18:27] pgtaboada commented on #2733
I saw that ticket and thought it would be the right way to provide a feature request. It is not a duplicate to  #290, I guess I used the wrong name (webhook) to describe the feature request.

Thanks for the link to the community area, I created the feature request:

https://community.zammad.org/t/embed-show-external-data-in-ticket-view/3063

[2019-09-06 23:46] cardoso commented on #1115
Almost 3 years late, but:

If you put on the headers: 'X-On-Behalf-Of': user id/ login/ or email

It shows that user as the creator of the first article :)

No need for origin_by_id

[2019-09-07 22:46] schweizersolutions commented on #2505
I had the same issue, but just in Chrome and not in Firefox. I've remove the Russian language from my language settings in Chrome and now I see the correct language. Now I've just English and German in the Chrome settings.

[2019-09-09 13:44] MrGeneration commented on #2511
Doh someone didn't know the own option base well enough... :-P

In case any one stumbles upon this, it's already possible!
Just go to Ticket and update "Ticket last contact behaviour" to "without consideration an agent has replied to it".

![image](https://user-images.githubusercontent.com/6549061/64535804-339b4380-d318-11e9-8973-aa0133954541.png)

Background for this behaviour (within the default

[2019-09-09 13:44] #2511 closed, assigned to nobody

[2019-09-09 14:17] thorsteneckel commented on #1066
@MrGeneration already created [the documentation PR](https://github.com/zammad/zammad-user-documentation/pull/23) which is going through the QA of @rlue. Since this issue covers the technical implementation and the documentation change is on its way it's save to already close this issue.

[2019-09-09 14:17] #1066 closed

[2019-09-09 15:08] nicolasriousset commented on #1454
Hi,
We're facing the same issue with Zammad 3 : if a user account was created through the Zammad API, and the user tries to log in using OAuth, an error message "Email address is already used for other user." is displayed.

We would like the OAuth authentication to automatically link the existing user account to the new authentication method. Is it possible ?

Thanks a lot

[2019-09-09 15:14] MrGeneration commented on #1454
@nicolasriousset two things:

Please do not recycle old and resolved issues, this nukes all existing overview of issues and might even cause those comments (which might be super important!) to be overseen. We wouldn't want that 👍

To your question - this is rather a technical question which should life in the Community (https://community.zammad.org) for the next time. This functionality is already

[2019-09-09 15:24] MrGeneration opened #2734 "Enhance postmaster filters to be able ignoring vacation mails (out of office)"
### Infos:

* Used Zammad version: 3.1.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1053490

### Expected behavior:

Being able to ignore vacation messages from being imported entirely, as Zammad is already able to recognize those.

### Actual behavior:

While Zammad does set

[2019-09-09 15:35] nicolasriousset commented on #1454
Sorry for the trouble, thanks a lot for your answer.

[2019-09-10 10:39] GreXXL opened #2736 "Retweet conversion setting not working"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): package
* Operating system: Ubuntu 16.04.6 LTS
* Database + version: Postgres 9.5.19
* Elasticsearch version: 5.6.16
* Browser + version: Chrome Version 76.0.3809.132
* Ticket-ID: 1078194

### Expected behavior:

* Retweets don't create new articles if conversion is turned off

### Actual behavior:

* Retweets gene

[2019-09-10 10:43] MrGeneration commented on #2736
Thanks for your contribution.
I believe that this is a duplicate of https://github.com/zammad/zammad/issues/2571 - would you agree?

[2019-09-10 10:46] GreXXL commented on #2736
No I don't think so. I read this report but this states that there are search results implemented to get tickets for certain search phrases. We don't have searches set up an still get tickets for retweets. See screenshot of our configuration.

![Anmerkung](https://user-images.githubusercontent.com/1630413/64607501-ed51ed00-d3c8-11e9-8d41-eb2c9b3cfdd8.png)

* edit: This setting has worked but has s

[2019-09-10 10:49] MrGeneration commented on #2736
Okay, thanks for your feedback.
Please give us some time for verification. :)

[2019-09-10 13:32] MrGeneration commented on #476
Sorry for digging that oldie out, but it's still reproducable within instances. :(

[2019-09-11 08:23] MrGeneration commented on #1880
This is already possible within Zammad, but requires an update on the Article-Type `note`:

[code]

With the above, Zammad will recognize **public** notes as communication.
Please note that this does not send E-Mails to the customer, if you want your customer to receive what you typed in the note, ensure to set up a Trigger. ;)

Also note that notes are, by default, `communication = false`.

### T

[2019-09-11 08:23] #1880 closed

[2019-09-12 07:35] InsaneSplash commented on #1744
I seem to still be having this issue even with the latest version of zammad. I checked the above code and it is set to show 200 per page, however there is no pagination and is limited to 50?

![image](https://user-images.githubusercontent.com/16985649/64763576-9707ba00-d540-11e9-9924-0e8c4fe17152.png)

[2019-09-12 07:36] InsaneSplash commented on #2142
I seem to still be having this issue even with the latest version of zammad. I checked the above code and it is set to show 200 per page, however there is no pagination and is limited to 50?

![image](https://user-images.githubusercontent.com/16985649/64763690-d2a28400-d540-11e9-9940-9e67693310a1.png)

[2019-09-12 11:44] thorsteneckel commented on #1653
Hey @abeluck - after a longer discussion we had to revert the changes because of the side effects it would introduce (especially on larger systems).

The issue is that a change or introduction of a default value of an attribute will lead to an alter table which will take quite a lot of time on larger systems. Therefore an application based default value (via an ActiveRecord callback) is preferred

[2019-09-12 14:33] martinvonwittich opened #2737 "Mail parser prioritizes detected encoding over Content-Type header"
### Infos:

* Used Zammad version: 3.1.x
* Installation method (source, package, ..): docker-compose
* Operating system: Debian 9
* Database + version: PostgreSQL 9.6.15
* Elasticsearch version: 5.6.14
* Browser + version: Chrome 77

### Expected behavior:

* When Zammad receives a mail that says `Content-Type: text/plain; charset=UTF-8`, it should parse the mail as UTF-8, even if autodetection sa

[2019-09-13 07:28] thorsteneckel commented on #169
Seems like this issue was never closed. Deletion of notes was already added quite some time ago. There will be a change in the near future to allow the deletion only in a time frame of 10 minutes after creation.
However, it's not planned to add an "edit" functionality.

Therefore I'll close this issue.

[2019-09-13 07:28] #169 closed

[2019-09-13 07:45] thorsteneckel commented on #467
Hey @martinvonwittich - IIRC you have developed an Asterisk bridge, right?
Since Zammad comes with the generic CTI integration in 3.1 (as @MrGeneration already mentioned) I assume it's save to close this issue. If you have any questions how to integrate any PBX please refer to the [community board](http://community.zammad.org/) - we're happy to help.

[2019-09-13 07:45] #467 closed

[2019-09-13 09:49] thorsteneckel commented on #354
Hi there. We're wondering if there is someone using the [osTicket hosted service](supportsystem.com) and thinks about switching to Zammad. Do you have access to the data of your hosted system? Can you export it in any way? In which format will it be? We haven't found anything in their Knowledgebase or support forum...

We're currently evaluating creating an import but are not sure how to address a

[2019-09-13 10:35] MrGeneration opened #2738 "LDAP-Sync should grant admin roles before removing them"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

When using the ldap integration with currently one local administrator (which can be looked up via LDAP as well), you can just map new admin roles with users having admin rights.

Dur

[2019-09-13 11:15] thorsteneckel commented on #2738
Possible fix looks like this:

[code]

[2019-09-13 11:22] snizzleorg commented on #354
Case 1 or 2 would be enough for our installation

[2019-09-13 11:27] thorsteneckel commented on #354
Please use the 👍 on @snizzleorg s comment if this applies to your use case.

[2019-09-13 15:15] MrGeneration opened #2739 "Enhance trigger to check if no tags or any tags are set at all"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1053772

### Desired behavior:

It would be awesome to be able to check for the existence of any tag.
Means: To trigger based on "tag list of ticket is empty (or not)".

This will help to achiev

[2019-09-13 16:10] fmarier commented on #873
Apologies for resurrecting a very old issue, but I saw this in my DDG results and it looks awfully similar to https://stackoverflow.com/questions/25705002/postfix-bad-sender-address-syntax-causes-fetchmail-to-re-fetch-the-same-email (i.e. sender email address cannot start with a hyphen or Postfix will reject it).

[2019-09-13 16:17] MrGeneration commented on #873
Please don't recycle already closed issues.
In my opinion this is a handling mistake and thus I won't reopen this.

Please use the community if you in case want to discuss on this topic.

[2019-09-13 17:47] MrGeneration commented on #1744
I'll limit the conversation on this issue so that we're not having duplicate conversations on duplicates. :-)

[2019-09-13 17:52] MrGeneration commented on #2142
Just for reference: This is what InsaneSplash is talking about:
https://github.com/zammad/zammad/issues/1744#issuecomment-383822443

However, as this is rather a technical question, we should the discussion to the Community: https://community.zammad.org

I'm therefor limitting the conversation to contributors only. Sorry.

[2019-09-16 08:19] thorsteneckel opened #2740 "Signature detection fails if no signature range could be found"
### Infos:

* Used Zammad version: 3.1.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Signature detection should be able to process messages without failing the process. Unprocessable messages should be handled appropriately.

### Actual behavior:

Some messages fa

[2019-09-16 12:21] #2726 closed, assigned to thorsteneckel

[2019-09-16 12:37] thorsteneckel commented on #2734
We had to revert the change because it's currently only possible to handle text attribute values with `contains` and `contains not`. However, the `x-zammad-out-of-office` value is a bool `true`/`false` which is currently not supported. Therefore this change has to be postponed.

[2019-09-16 13:00] thorsteneckel opened #2741 "SAML authentication"
### Infos:

* Used Zammad version: 3.1.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* There should be the possibility to log users in via SAML (Keycloak, Chipotle, etc.) as it's possible for other third party providers (Office 365, GitHub etc.)

### Actual behavior

[2019-09-16 13:06] #2741 closed, assigned to thorsteneckel

[2019-09-16 13:37] MrGeneration opened #2742 "Removing a record drops whole index on Elasticsearch 6 and later"
### Infos:

* Used Zammad version: 3.1.x and 3.0.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: 6.x and 7.x (5.x is not affected!)
* Browser + version: any
* Ticket-ID: #1051548

### Expected behavior:

If needed, you can delete records (Users, Ticket, KB Answers) at any time, without loosing the ability to search for o

[2019-09-16 20:36] #2699 closed, assigned to martini

[2019-09-17 08:35] WimTh opened #2743 "Office 365 Login error 422: The change you wanted was rejected."
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..):  DEB
* Operating system:  Ubuntut 18.04 LTS
* Database + version: postgres (PostgreSQL) 10.10
* Elasticsearch version: 7.3.2
* Browser + version: Chrome 77.0.3865.75, Edge, Firefox

### Expected behavior:

* When logging in with office 365 authentication be able to login.

### Actual behavior:
![image](https://user

[2019-09-17 11:35] MrGeneration commented on #2743
I believe that this is a duplicate of:
* https://github.com/zammad/zammad/issues/2617
* https://github.com/zammad/zammad/issues/2700

Please check if this also applies to you and if so, close the issue.
If not, please give the exact way to reproduce this (the above is not enough!)

Especially when dealing with several browsers where "one works, the other one doesn't", ensure to point out differenc

[2019-09-17 14:44] WimTh commented on #2743
Hi,
It is not like #2617 we cannot get past "login via Office365 (in Zammad)
authenticate against microsoft "also the error is different in the log.
It is a lot like #2700 and indeed with all chromium-based browsers, without any plugin enabled or installed.
I can successful login with office 365 with edge or firefox. Both without plugins and in private mode
and normal mode.

Steps to reproduce:
-a

[2019-09-17 15:12] MrGeneration commented on #2743
Sorry, I'm unable to reproduce this on Chromium based Browsers (current Google Chrome and Edge (no beta)).

Please ensure that your App is configured correctly and if the mail address is already known to Zammad, that you have account linking enabled (if not do it manually first).

If you need further discussion on this, please consult the community, because I don't see this as a bug, but rather a

[2019-09-17 15:12] #2743 closed, assigned to nobody

[2019-09-17 15:49] peacepenguin commented on #2741
Hey @thorsteneckel I got the latest develop version 3.2.0-1568666188.ba2afc0c.bionic installed to test the SAML integration commit: https://github.com/zammad/zammad/commit/a93250e210a1b2fcbfe61843dd2e3f6c3451ff12

I see locally installed files that include the SAML bits that were committed, but all the SAML configuration fields are missing under Security -> Third party applications.

Let me know i

[2019-09-17 15:54] MrGeneration commented on #2741
If you installed via source, don't forget to precompile :>

(zammad run) rake assets:precompile

[2019-09-17 16:03] peacepenguin commented on #2741
I used packager.io on the develop branch to get the bits on a new ubuntu 18.04 server vm. But I'll try compile from source to test the latest straight from GitHub.

I do notice the settings for the other auth providers are defined and listed here:   https://github.com/zammad/zammad/blob/develop/db/seeds/settings.rb

I don't see anything SAML related in that file, whereas settings for all the other

[2019-09-17 16:12] MrGeneration commented on #2741
That's correct, because this will come with an migration :) ( https://github.com/zammad/zammad/blob/develop/db/migrate/20190715141227_saml_auth.rb )

Maybe also `zammad run rake db:migrate` followed by an restart might help.

If you want to be 100% sure, you could run the install-script manually:

`/opt/zammad/contrib/packager.io/postinstall.sh`

[2019-09-17 19:29] peacepenguin commented on #2741
I tried the fixes above without success using the packager.io develop packages.

Now switched over to a new vm, (ubuntu 18.04 server) Got the latest sources from GitHub develop branch, got it installed without too much trouble, but still no SAML config in the GUI.

Looks like something is missing still. Let me know if you want me to try anything, I have both packager.io and the source built vms ru

[2019-09-17 20:13] peacepenguin commented on #2741
running db:migrate does show this SAML related output when installing from source and doing the 4 rake commands:

rake db:create
**rake db:migrate**
rake db:seed
rake assets:precompile

rake db:migrate outputs, (along with lots of other stuff):

== 20190715141227 SamlAuth: migrating =========================================
== 20190715141227 SamlAuth: migrated (0.0014s) ===========================

[2019-09-17 21:58] peacepenguin commented on #2741
I got saml working by adding in the same settings from the migration file: db/migrate/20190715141227_saml_auth.rb
  to the
 db/seeds/settings.rb   file. Pull request here: https://github.com/zammad/zammad/pull/2744

No new code, just copied the bits from the migration file.

@MrGeneration  Perhaps the SAML integration without this patch would work for upgrades but not new installs?

All my testing

[2019-09-18 08:13] thorsteneckel commented on #2741
Thanks again @peacepenguin - it's fixed with the commit above. Packages should be ready in 20 minutes from now.

[2019-09-18 09:27] cherabomb opened #2745 "Select field placeholder treated inconsistently in text module (frontend variable replacement)"
### Infos:

* Used Zammad version: 3.1.x
* Installation method (source, package, ..): package
* Operating system:
* Database + version:
* Elasticsearch version:
* Browser + version:

### Expected behavior:

A text module (quicktext) containing a field such as #{ticket.type.value} (or any other additional object attribute) should replace this field placeholder with the display value of "2 normal" w

[2019-09-18 10:43] MrGeneration opened #2746 "Binary encoded data in (cc) field fails mail processing"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1053678

### Expected behavior:

Zammad will decode TO, CC and FROM fields correctly and import the mail.

### Actual behavior:

In some special cases, processing of mails fail if TO, CC or FROM

[2019-09-18 11:53] abeluck opened #2747 "Typo in polish translation of ticket_create mailer notification"
### Infos:

* Used Zammad version: develop branch
* Installation method (source, package, ..): source
* Operating system: debian
* Database + version: postgres 9.6
* Elasticsearch version:  n/a
* Browser + version: n/a

### Expected behavior:

* no html breaking typos in mailer templates

### Actual behavior:

* typo in polish language email template

### Steps to reproduce the behavior:

* see ht

[2019-09-18 11:58] abeluck commented on #2747
Also the final line in the ticket_escalation polish template is missing a closing `>`

https://github.com/zammad/zammad/blob/develop/app/views/mailer/ticket_escalation/pl.html.erb#L18

[2019-09-18 12:04] MrGeneration commented on #2747
Ready for QA
https://github.com/zammad/zammad/pull/2748

[2019-09-18 12:15] MrGeneration commented on #2747
MR 808 is undergoing CI right now, I'll throw it at you when it's ready for QA

[2019-09-18 12:42] thorsteneckel commented on #2747
This is fixed with the two commits above. Packages will be ready in ~20 minutes from now. Thanks for reporting @abeluck !

[2019-09-18 12:42] #2747 closed, assigned to thorsteneckel

[2019-09-18 13:37] abeluck commented on #2747
Super fast! You all rock.

[2019-09-18 20:15] ntinti commented on #2616
Sad that Zammad does not work an FreeBSD anymore. Is there no alternative to "libv8" and "mini-racer"? Do we go to OTRS again?

[2019-09-19 10:46] thorsteneckel commented on #2616
Hey there Zammad FreeBSD users 👋 Your responses to this issue somehow slipped through my hands. Anyhow, I had a look [at the commit where we switched from `therubyracer` to `mini_racer`](https://github.com/zammad/zammad/commit/3acfa4a277c29a0eb3b7bff83fde1a60718a9746). We did this because `mini_racer` is way more up to date in its `v8` runtime dependency and a bit faster. But both should be featur

[2019-09-19 12:09] yasinugrl opened #2749 "Get Owner by Groups"
Hi all,
I can get the ticket owner list when change the group in ticket detail group list. How can ı do that? which api method calls owner in zammad api?

[2019-09-19 12:14] MrGeneration commented on #2749
Sorry, but I do believe that this is rather a technical question.
This repository is the wrong place for technical questions, please use the Community for those: https://community.zammad.org

Closing now.

[2019-09-19 12:14] #2749 closed, assigned to nobody

[2019-09-19 12:58] thorsteneckel opened #2750 "Can't change Ticket attributes of "Shared Organization" Ticket"
### Infos:

* Used Zammad version: 3.1.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket#: 1053530

### Expected behavior:

* Have a "Shared Organization" with User Alice and Bob
* Create a Ticket with Alice as a Customer
* Log in with Bob
* Be able to change Ticket attributes of Alice

[2019-09-19 14:39] MrGeneration opened #2751 "Group by selection field has wrong counters if no value"
### Infos:

* Used Zammad version: 3.1.x and earlier
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1053636

### Expected behavior:

When having group count active ( `Setting.set('ui_table_group_by_show_count', true)` ) and grouping by an dropdown field, Zammad will show the numb

[2019-09-19 15:32] tracure1337 opened #2752 "Please add mailto link option for knowledgebase"
Please add mailto link option for knowledgebase

[2019-09-19 15:40] MrGeneration commented on #2752
Please create a feature request on the Community, as the repository of Zammad is the wrong place for this: https://community.zammad.org

Thank you, closing now.

[2019-09-19 15:40] #2752 closed, assigned to nobody

[2019-09-20 08:30] tienthanh2509 commented on #1503
up vote, LDAP server maybe contain duplicate email address so the username is used as ID instead of email

[2019-09-20 08:34] #2750 closed, assigned to martini

[2019-09-20 09:16] MrGeneration commented on #2103
Correct, right now I'm lacking to understand how this feature works, it would be great to learn it :)

![image](https://user-images.githubusercontent.com/6549061/65315323-2b54cb00-db98-11e9-9e9c-fcbbac81350c.png)

[2019-09-20 10:36] thorsteneckel commented on #2103
Hey @rolfschmidt the machine. Could you contact @MrGeneration and explain the ObjectManager Attribute link-template functionality to him? Since you've a great part of it I think you could do it best.

[2019-09-20 12:47] kevin-olbrich commented on #694
I would like to see this as well.

[2019-09-20 12:55] MrGeneration commented on #694
Locking conversation to contributors only to reduce "me too" articles.
No ofference, this is just to reduce the repository-noise. :)

[2019-09-23 09:04] #2593 closed, assigned to martini

[2019-09-23 17:59] MrGeneration opened #2753 "Enhance CTI integration texts"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Community-Thread: https://community.zammad.org/t/documentation-explanation-of-sipgate-io-configuration/3161

### Expected behavior:

* Useful description text for options.

### Actual behavior:

* Descripti

[2019-09-24 12:45] thorsteneckel commented on #2547
We found out that this issue is a symptom of #2611 which was already fixed with Zammad 3.1. Could you please update your Zammad installation to latest stable, rebuild your search index (by running `zammad run rake searchindex:rebuild`) and then retry. This should resolve it. If not, please let me know. I'll close this for now.

[2019-09-24 12:45] #2547 closed, assigned to thorsteneckel

[2019-09-24 13:30] thorsteneckel opened #2754 "Error while fetching email from inbox will block processing of other mails in inbox"
* Used Zammad version: 3.1.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
*Ticket #: 1053593
### Expected behavior:

* Fetch mails via IMAP/POP3 channel backend
* Error occurs while fetching email
* Log expressive error to log / channel / maintenance endpoit
* Process with other emails

###

[2019-09-24 13:55] Lillecarl opened #2755 "auto reply (on closed ticket) leaks private information"
### Infos:

* Used Zammad version: 3.1.x
* Installation method (source, package, ..): package
* Operating system: Ubuntu 18.04
* Database + version: psql (PostgreSQL) 10.10 (Ubuntu 10.10-0ubuntu0.18.04.1)
* Elasticsearch version: elasticsearch/stable,now 7.3.2 amd64 [installed,automatic]
* Browser + version: Firefox Quantum 69.0.1 (64-bit)

### Expected behavior:

When the default trigger "auto re

[2019-09-24 14:13] MrGeneration commented on #2755
Sorry, but I rather see this as a technical question.
Background to this: The referenced trigger is, by default, inactive and is meant to be an example on what you can do with triggers.

I get your point, but I personally expect administrators to check triggers (especially if they are pre defined!) to what they will do.

Closing now.
Please refer the community for technical questions, if any appea

[2019-09-24 14:13] #2755 closed, assigned to nobody

[2019-09-24 14:52] Lillecarl commented on #2755
Fair enough, i get your point too.

Though I'd say it'd be great if #{article.body} row was removed from the default, the security community sees bad defaults as vulnerabilities, I'd argue this is one.

Thanks for the quick reply, I might rephrase this as a feature request in discourse 😄

[2019-09-24 17:36] MrGeneration commented on #2103
Thanks to the help of Rolf I could finish the docs for this.
This took a bit longer, because I decided to also introduce docs for the variables within Zammad (still WIP).

The commits can be found in this Branch: https://github.com/zammad/zammad-admin-documentation/tree/zammad_3-2

Preview:
![image](https://user-images.githubusercontent.com/6549061/65535857-840ec580-df02-11e9-8e60-f892dbd62d77.png

[2019-09-24 17:36] #2103 closed, assigned to martini, thorsteneckel, rolfschmidt

[2019-09-25 03:53] omaidb opened #2756 "zammad3.1.x 加入LDAP 报错"
操作系统 ubuntu16.04
zammad 3.1.x
在设置-集成-LDAP中加入LDAP时报错
![image](https://user-images.githubusercontent.com/18365223/65568057-ff1bbe80-df8a-11e9-8bc0-2f59359b040d.png)
确认了很多遍，参数是正确的，但是它就是无法加入LDAP，谁能帮助我解决这个问题

[2019-09-25 03:54] omaidb commented on #2756
Operating system ubuntu16.04
Zammad 3.1.x
Adding LDAP in the settings-integrated LDAP error is confirmed many times, the parameters are correct, but it is unable to join LDAP, who can help me solve this problem

[2019-09-25 04:51] NeverMin commented on #2756
First, many thanks for your choosing Zammad open source project.
But, this repository is the wrong place for technical questions,
because comments on the issue tracker will send emails to more than 100 people.
please use the Community(English only):
https://community.zammad.org

首先非常感谢你选择 Zammad 开源项目, 但这里不是张粘技术问题的地方, 会对超过 100 多名开发者造成干扰, 请你使用社区讨论技术问题(使用英文):
https://community.zammad.org

[2019-09-25 06:42] #2756 closed, assigned to nobody

[2019-09-25 11:11] streamgamelabels commented on #2441
Any news on this issue? It's been 8 months and we're now at version 3.1.

[2019-09-25 11:20] MrGeneration commented on #2441
I'm locking this conversation as there was no new input.
Please refrain from asking back "when something comes" - it's coming when it's ready!

We'll update issues accordingly if we have an ETA for this.
Right now we're working hard on fixing all sorts of issues, sorry that this is not our highest priority at this moment.

[2019-09-25 16:17] MrGeneration commented on #1503
Sorry, but I'm limiting the conversation to contributors only to reduce the noise on this repository.
We'll update this issue as soon as something moves into any direction.

[2019-09-25 16:57] MrGeneration commented on #2725
I could verify this, this has nothing to do with scheduled deletion task, but rather the deletion itself. I can manually reproduce this by deleting any ticket I want.

This is properbly an indirect duplicate of https://github.com/zammad/zammad/issues/2742 - as I'm currently not sure if it only fixes the Knowledgebase-Part, I'll leave this open for now.

@thorsteneckel could you check if the above

[2019-09-25 16:59] MrGeneration commented on #2745
A side note from my site, as I stumbled accross this during the documentation enhancements:
This especially affects link templates as well, you can't feed this within a link template (I mean `.value`) which was unexpected to me.

So it proberbly also affects UI.

[2019-09-25 17:00] MrGeneration commented on #2669
Sorry for the wait, yep, can verify that on develop as well :)

[2019-09-25 17:02] thorsteneckel commented on #2725
This is duplicate of #2742 - a fix is in the making and currently going through QA. Closing now.

[2019-09-25 17:02] #2725 closed, assigned to nobody

[2019-09-25 19:54] sstidl commented on #2547
works as your said @thorsteneckel
thank you for fixing

[2019-09-26 13:40] martinvonwittich opened #2757 "Ticket zoom sidebar leaks subjects of confidential tickets"
### Infos:

* Used Zammad version: 3.1.x
* Installation method (source, package, ..): docker-compose
* Operating system: Debian 9
* Database + version: PostgreSQL 9.6.15
* Elasticsearch version: 5.6.14
* Browser + version: Chrome 77

### Expected behavior:

* The customer panel in the ticket view sidebar should only list open/closed tickets of this customer where the current agent has at the very

[2019-09-26 22:12] #2742 closed, assigned to martini

[2019-09-30 08:12] bastienroussel opened #2758 "Office Integration"
Infos:

* Used Zammad version: 3.1.X
* Installation method (source, package, ..): package
* Operating system: Ubuntu 18.04.3 LTS
* Browser + version: Google Chrome Lastest

### Expected behavior:

A correct login with office 365

### Actual behavior:

When I try to log in with office on chrome I have an error 422:
![image](https://user-images.githubusercontent.com/52447846/65860457-a5d8d400-e36a-1

[2019-09-30 08:16] MrGeneration commented on #2758
Sorry, but on a current Google Chrome I'm unable to reproduce this.

Please update your "steps to reproduce the behavior" to each single step you're doing after you activated. Please also check and note the differences between your tested browsers (apart the version and name ;) ). This is a possible duplicate of: https://github.com/zammad/zammad/issues/2617

Edit: Oh... and please provide logs...

[2019-09-30 08:20] bastienroussel commented on #2758
Sorry I've forget the pastebin link : https://pastebin.com/esG0Fp7P

And to add office 365 on zammad, I've use this documentation : https://admin-docs.zammad.org/en/latest/security-thirdparty/microsoft.html

And on my chrome I don't have any account log in on Office

[2019-09-30 08:33] MrGeneration commented on #2758
Sorry, I still can't reproduce this. This is what I did:

## first try
* ensured I already am logged in on Office 365 (e.g. by opening outlook.com)
* went to Zammad and clicked on "Office 365"
* I was redirected to Microsoft, 1-2 Seconds later it automatically redirected me back to Zammad
* I was logged in

## second try
* ensured I was logged off from Office 365 (opened outlook.com and presssed "

[2019-09-30 08:33] #2758 closed, assigned to nobody

[2019-09-30 08:46] bastienroussel commented on #2758
Thanks for your help @MrGeneration . I have find an solution.

To fix that I need to modify my vhost with theses lignes:
`RequestHeader set X_FORWARDED_PROTO 'https'
RequestHeader set X-Forwarded-Ssl on`

And we need to enable headers modules:
`sudo a2enmod headers`

Thanks for your time and your help

[2019-09-30 17:46] thorsteneckel commented on #1192
There was a follow up. Please note the commit above.

Unfortunately we face some obstacles creating the documentation 😞 A contribution in the form of a Pull Request to the https://github.com/zammad/zammad-admin-documentation would be highly appreciated.
The API endpoint is `/auth/sso`. We expect one of the following to be present and contain the `login` attribute of a user:

- ENV `REMOTE_USER`
-

[2019-09-30 17:46] #1192 closed

[2019-10-01 09:42] beatkind opened #2759 "custom domain for knowledge base not working"
### Infos:

* Used Zammad version: 3.1.0-1569535934
* Installation method (source, package, ..): package
* Operating system: Ubuntu 16.04.6 LTS - 4.4.0-161-generic
* Database + version: Postgresql 9.5.19
* Elasticsearch version: 5.6.16
* Browser + version: Chrome 77.0.3865.90

### Expected behavior:

* The public knowledge base should be reached by the custom domain and the links to articles shoul

[2019-10-01 09:47] MrGeneration commented on #2759
This is a duplicate of issue:
https://github.com/zammad/zammad/issues/2627

The above issue also holds information that might help you in fiddling around this issue.
Closing now.

[2019-10-01 09:47] #2759 closed, assigned to nobody

[2019-10-02 14:02] MrGeneration commented on #2645
Small follow up on this issue, because we had a talk about this.

**We basically have the following valid use cases:**
1. copy images in between the same instance
2. copy external images from other sites that allows CORS
3. copy external images from other sites that disallows CORS

### 1. Copy images in between the same instance

This should imho never be any problem.
When inserting images, the ed

[2019-10-02 14:35] mantas commented on #2645
@MrGeneration it's 2 different issues. Copying an image inside browser is doable. There's a bug in current clipboard handling code, but it's doable without CORS and whatnot.

The big problem is copying animated GIF. Because only the first frame is copied and available in clipboard as a still image. Trying to fetch the whole GIF may be blocked by CORS.

[2019-10-02 18:39] tischra commented on #1596
We're new to zammad and also to us this would be a very important feature. Willing to pay for it, maybe we can share. Anyone in?

[2019-10-03 07:17] B4DschK4Pp commented on #1169
Hi,
we want to disable it too, but only for specific users as we as agents use the ldap logins but want to give external users the ability to sign up and change the passwords afterwards.

Edit:
Well a disable for ldap users should be enough. No need for specific users then.

[2019-10-03 09:47] bebosudo commented on #2385
Hi, I'm having a similar issue.
I'm using a linux system with only `en-us` as local, but I'm physically located in Italy: the login page is displayed in english on the first visit, then as soon as I login everything turns to italian, also the logout form, unless I refresh, in which case it turns back to english.

In Settings > Branding I set the default language to English (US); timezone is set to

[2019-10-03 21:52] metalsoft10 opened #2762 "twillio sms /whatsapp"
### Infos:

* Used Zammad version: 3.1
* Installation method : ( package)
* Operating system: Ubuntu 16.04
* Database + version:
* Elasticsearch version:
* Browser + version:

i can receive whatsapp messages
but on send
and outbound have same message

Can't use Channel::Driver::Sms::Twilio: #<Twilio::REST::RestError: [HTTP 400] 21212 : Unable to create record The 'From' number +4474***073 is not a

[2019-10-04 06:24] BF-LX opened #2763 "Pending Till reminder"
### Infos:

* Used Zammad version: 3.2.X
* Installation method (source, package, ..): source: https://dl.packager.io/srv/rpm/zammad/zammad/develop/sles/12/$basesearch
* Operating system: SLES 12 SP3
* Database + version: PostgreSQL
* Elasticsearch version:7.3.2
* Browser + version: Opera 63.0.3368.94

### Expected behavior:
*

### Actual behavior:

If I want to put the State in the Ticket View int

[2019-10-04 10:55] maggusf commented on #2633
is this a duplicate to #2426?

[2019-10-04 14:44] MrGeneration commented on #2763
Sorry, but I can't reproduce this on a current `develop` and `stable`.
Can you please update and ensure your Zammad is current to check again?

[2019-10-04 14:52] mantas commented on #2763
@MrGeneration did you try the same technique as in https://github.com/zammad/zammad/issues/2274 ?

Looks like my fix for it got lost and never merged

[2019-10-04 15:17] MrGeneration opened #2764 "Removing last condition or action breaks dialogues"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): any
* Operating system:  any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Tested and verified on Firefox and Chrome (latest)

*This seems to be -at least partly- a regression of https://github.com/zammad/zammad/issues/2516*

*This issue was found by the Community-Member: https://commu

[2019-10-04 15:19] MrGeneration commented on #2763
@mantas thanks for the follow up, you're right. I missed that spot.

This is a duplicate of https://github.com/zammad/zammad/issues/2274

[2019-10-04 15:20] #2763 closed, assigned to nobody

[2019-10-04 15:38] MrGeneration commented on #2762
Sorry, but I do believe that this is rather a technical question than a bug.
Technical questions and feature request should live at the Community: https://community.zammad.org

Please note that Zammad does not support WhatsApp-Messages (no matter of their origin).
Also, ensure that the mentioned error document ( https://www.twilio.com/docs/errors/21212 ) does not affect you. Also check: https://ww

[2019-10-04 15:39] #2762 closed, assigned to nobody

[2019-10-04 15:40] MrGeneration commented on #1776
I no longer can verify this, mainly because I no longer use this Channel to realibly check.

[2019-10-04 15:40] #1776 closed

[2019-10-04 15:45] MrGeneration commented on #2757
Thanks for your contribution, I agree that we should not show information the agent -normally- is not allowed to view.

[2019-10-04 16:02] MrGeneration commented on #2714
That's unexpected. Thanks for your report!

Documentation states:
`With these settings you can choose whether to make the overviews available to an entire group of people (by selecting the role) or to specific users. The entries in both fields apply. This means that you can also select individual users in addition to sharing the overview for all role members.`

(https://admin-docs.zammad.org/en/la

[2019-10-04 16:50] MrGeneration commented on #2646
Sorry for taking so long.
The variable you tried to call is breaking functionality within Zammad and doesn't seem to be valid at all. On top of that, Zammad does not provide it on our own.

Thus I believe that this is rather a feature request (please fill a feature request at the Community if not already done :) ).

Closing now.

[2019-10-04 16:50] #2646 closed, assigned to nobody

[2019-10-04 17:04] MrGeneration commented on #2737
I could verify this, however -to be honest- I'm not sure if this really is an issue that we can adjust.

When following your steps to reproduce, I noticed that the raw files are the exact oposite of what Zammad imports. This may because of my windows environment, still, I wanted to share this, because I found this to be odd.

The eml-file by cat is actually latin1 encoded, so in my opinion Zammad