[2018-09-26 21:17] nonameolsson commented on #1325
See my comment in #1398 please. We can't use this on a phone nor a tablet. It doesn't react to touch.

[2018-09-26 21:18] nonameolsson commented on #1821
Yeah, it doesn't work. But the issue you referenced is locked, and no solution is added yet. Is this on the roadmap?  It has been more then a year since this.

[2018-09-26 21:57] MrGeneration commented on #1821
There's a reason why we lock those issues, as those comments create noise for over 100 watching people. We try to keep this to a minimum.

Mobile support is on our roadmap, but without date to this moment. Sorry about that.

[2018-09-27 07:05] thorsteneckel opened #2256 "Users deactivated by the LDAP sync get updated on every run"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Introduction:

There is a DN <-> Role mapping in the LDAP sync which defines the Roles of a synced User. If the User is synced for the first time and no mapping entry can be found a configuration decides

[2018-09-27 08:31] thorsteneckel opened #2257 "OAuth2 Microsoft Active Directory Federated Services (ADFS)"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* It should be possible to authenticate users against Microsoft Active Directory Federated Services (ADFS) via OAuth2.

### Actual behavior:

* User authentication against Microsoft A

[2018-09-27 09:14] MrGeneration commented on #2242
Small Update:
This applies to all fields except:
- Boolean
- Integer (this field just gets reset after Update without error, semi good in my opinion)

Even Date and Datetime can be empty.

[2018-09-27 15:19] thorsteneckel commented on #2174
We found out that ADFS is not supported by the generic OAuth2 connector. Therefore I created a new issue where we will address the enhancement to support it: #2257. Closing this one now.

[2018-09-27 15:19] #2174 closed, assigned to nobody

[2018-09-28 13:40] tomstar76 opened #2258 "In some situations the chat button is visible without a active websocket connection"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): Ubuntu Package
* Operating system: Ubuntu 16.04 Server
* Database + version: MySQL 5.7.23
* Elasticsearch version: 5.6.12
* Browser + version: Chrome 69.0.3497.100

### Expected behavior:

Chat button should not be visible when websocket connection was closed (because of to long idle time).

### Actual behavior:

W

[2018-09-29 19:52] mweinelt opened #2259 "zammad-web-1.service doesn't exit cleanly on upgrade"
### Infos:

* Used Zammad version: 2.6.0-1538108847.bed3e54d.jessie
* Installation method (source, package, ..): Package
* Operating system: Debian Jessie
* Database + version: 9.4.19-0+deb8u1
* Elasticsearch version: 5.6.12

### Expected behavior:

* When upgrading Zammad all services should terminate cleanly to not trigger monitoring alerts

### Actual behavior:

* On upgrades the `zammad-web-1.

[2018-10-01 02:47] dsukhin commented on #2043
I will give the latest develop branch another test. I do recall testing originally on a clean branch and still had the issue.

From what you mentioned above - I also have a few ideas:

1. I have a number of emails much larger than 4kb in size... perhaps too many of those in succession causes it? You mention a "leak" of 1mb per 100 messages of 4kb in size. My total mailbox size is ~750mb making my

[2018-10-01 06:03] martini opened #2261 "Make stats store and cti log searchable via elastichsearch & destroy stats store if user got deleted"
### Infos:

* Used Zammad version:
* Installation method (source, package, ..):
* Operating system:
* Database + version:
* Elasticsearch version:
* Browser + version:

### Expected behavior:

* let store and cti log search via elasticsearch (e. g. grafana)
* destroy stats store if user got deleted

### Actual behavior:

* both is not done

[2018-10-01 14:36] MrGeneration opened #2262 "Zendesk-Import fails for User & Organizations if Plan is below "Team""
### Infos:

* Used Zammad version: 2.6.x
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: n/a

### Expected behavior:

* When importing existing data from Zendesk, Zammad should Import all data. If user has plan below "Team" this will lead to 403 "access" denied and Zammad should ignore Users & Orga

[2018-10-01 16:50] rapante85 commented on #1351
Hello,
i am new to zammad and facing a similar problem on Version 2.6., except that this issue only appears if the sender of the email is an agent to.

[2018-10-01 17:25] MrGeneration commented on #1351
@rapante85 the behaviour you describe currently works as designed. (see: https://github.com/zammad/zammad/issues/967#issuecomment-369577763 )

Please do not recycle old issue posts. Also please note that replying to issues causes a lot of noise to people watching this tracker. It really is just for bug issues.

No offense though!

[2018-10-02 04:46] #2173 closed, assigned to SummerStorm

[2018-10-02 07:47] thorsteneckel commented on #2259
Hi @mweinelt - This looks like a general issue with packager.io and a Rails application. As you can see in the backtrace there is no Zammad code involved, just Rails and its dependencies running with Puma. We have no influence on that (as far as I know). Maybe @monotek has some more insights? Closing now as third party issue 🙍‍♂️

[2018-10-02 07:47] #2259 closed, assigned to nobody

[2018-10-02 08:58] NvL-WEAP commented on #967
We're eager to get this feature as well.

Kind regards

[2018-10-02 09:05] MrGeneration commented on #967
Please simpy upvote this on original post and don't comment here, as it creates a lot of noise to those who watch this. Locking conversation for now.

[2018-10-02 09:25] MrGeneration opened #2263 "Zammad fails to autogenerate links if <span>-Object appears within link"
### Infos:

* Used Zammad version: 2.6.x
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: n/a

### Expected behavior:

* When pasting text into e.g. a trigger E-Mail-Body Zammad should create a link when the trigger fires.

### Actual behavior:

* Zammad fails creating a link when the trigger fires,

[2018-10-02 13:23] thorsteneckel commented on #2043
Hi @dsukhin - thanks for the reply. I'll retry my test with larger mails. Quick question: How much memory do you have available and with how much memory does the process start/die?

[2018-10-03 05:34] #2255 closed, assigned to martini

[2018-10-03 05:40] martini opened #2264 "Unable to scroll in modal dialog"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Scroll in modal dialog

### Actual behavior:

* Modal dialog is closing if I try to scroll by scroller bar

### Steps to reproduce the behavior:

![cant_scroll_in_modal](https://use

[2018-10-03 07:09] #2261 closed, assigned to martini

[2018-10-03 17:11] lpar commented on #2202
So for the benefit of other people with user problems who end up here: I wasn't getting an empty user list, but I was getting users missing from the user list. Reinstalling the ingest-attachment Elasticsearch plugin fixed that, but not for some legacy users created while the problem was ongoing. I think what happened is that an ElasticSearch upgrade removed the plugin.

[2018-10-04 07:57] Charburner commented on #2202
That's true, I experienced the same thing, that ElasticSearch plugins were removed by updating.

As for the missing users, you might want to execute `zammad run rake searchindex:rebuild` if you still cannot see all users in the list.

[2018-10-04 09:21] Wisou opened #2265 "Unprocessable_mail"
### Infos:

* Used Zammad version: 2.6.x
* Installation method (source, package, ..): package
* Operating system: deb8
* Database + version: postgresql 9.4
* Elasticsearch version: 5.6.12
* Browser + version:

### Expected behavior:

*

### Actual behavior:

*

### Steps to reproduce the behavior:

*

Hi,

This morning, a customer send us a new mail for support.
Zammad don't create a new ticket.
W

[2018-10-04 10:43] SimJoSt opened #2266 "Login always redirected to dashboard after third party / OAuth2 login (e.g. Google)"
### Infos:

* Used Zammad version: 2.6.x
* Installation method (source, package, ..): Docker?
* Operating system: Linux
* Database + version:
* Elasticsearch version:
* Browser + version: Google Chrome 68.0.3440.106 64bit
* Ticket #1083688

### Expected behavior:

* being logged out
* opening a direct link to a ticket
* login with Google
* see ticket

### Actual behavior:

* being logged out
* ope

[2018-10-04 14:46] thorsteneckel commented on #742
We were able to reproduce this. While doing research on a possible solution we found out that GitLab actually uses [the same one](https://gitlab.com/gitlab-org/gitlab-ce/blob/0e1fc6e04c96ce989062e02d9e706031cea87c36/config/initializers/trusted_proxies.rb#L23).

The fix is available in the `develop` branch and will be ready in about 30 minutes from now in all repos.

[2018-10-04 15:36] thorsteneckel commented on #2265
Hi @Wisou - I can't reproduce this on latest `develop` branch. Could you please verify this by updating to latest / develop and run `Channel::EmailParser.process_unprocessable_mails` via the [Zammad rails console](https://docs.zammad.org/en/latest/admin-console.html#start-zammad-s-rails-console).

[2018-10-04 15:36] #2265 closed, assigned to nobody

[2018-10-08 08:12] martini opened #2270 "Italian and Spanish translations for notifications."
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Italian and Spanish translations for notifications.

### Actual behavior:

* No Italian and Spanish translations for notifications.

[2018-10-08 10:11] nk-Zammad opened #2271 "Selection for ticket attribute "article.body" in Trigger"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:
When configuring an automatic e-mail( Trigger), the placeholder "articel.body" and all other article place holder should be listed in the list by pressing "::".

### Actual behavior:
I

[2018-10-08 13:15] MrGeneration commented on #2157
This issue also applies to nightly notifications of ignored pending for reminders.

[2018-10-08 13:30] biesbjerg opened #2273 "Bulk Form javascript error when checking item"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..):
Package, according to https://docs.zammad.org/en/latest/install-debian.html
* Operating system:
Debian 9
* Database + version:
* Elasticsearch version:
* Browser + version:

### Expected behavior:

* Checking tickets in views should show bulk form.

### Actual behavior:

* Javascript error is shown i console. No bu

[2018-10-08 14:36] pebosi commented on #2273
Can't reproduce in latest stable 2.6 Package. Maybe it's your browser?

[2018-10-08 14:39] biesbjerg commented on #2273
I've originally received the report from a co-worker. I've tested using Chrome and Firefox, using Admin user and an Agent user, with the same results.

Could I somehow be on a version that are not stable since I'm seeing this error and you are not?

[code]

[2018-10-08 14:57] pebosi commented on #2273
You mean a View like this: /#ticket/view/all_unassigned ?

[2018-10-08 14:59] biesbjerg commented on #2273
Yes, doesn't matter which one.

![image](https://user-images.githubusercontent.com/230182/46616733-7e667700-cb1b-11e8-96e5-09d60fc7779d.png)

[2018-10-09 04:28] rkaldung opened #2274 "Datepicker in bulk action not usable in bulk action if ticket list is longer the one page."
### Infos:

* Used Zammad version: develop
* Installation method (source, package, ..): git
* Operating system: CentOS7
* Database + version: PostgreSQL 9.5
* Elasticsearch version: n.a.
* Browser + version: Firefox 62 macOS

### Expected behavior:

* Selecting a date

### Actual behavior:

* Date can't be selected

### Steps to reproduce the behavior:

* Choose an overview where the ticket list n

[2018-10-09 06:52] MrGeneration commented on #2274
Duplicate of #2208
Mantas couldn't reproduce this on develop which is why we closed it. I had my trouble reproducing this too

[2018-10-09 07:01] thorsteneckel commented on #2274
The issue occurred to me yesterday, too. However, knowing how to reproduce this is crucial for us to be able to fix it.

[2018-10-09 07:06] rkaldung opened #2275 "Display name not used"
### Infos:

* Used Zammad version:develop
* Installation method (source, package, ..): git
* Operating system: CentOS 7
* Database + version: PostgreSQL 9.5
* Elasticsearch version: n.a.
* Browser + version: Firefox 62

### Expected behavior:

* When selecting an existing customer during a reply, ticket creation etc. the display name should be  displayed and not only the email address.

### Actual

[2018-10-09 07:07] mantas commented on #2274
@thorsteneckel on stable or develop? IIRC, @MrGeneration and I could replicate it on stable, but not on develop.

[2018-10-09 07:09] thorsteneckel commented on #2274
`stable`! Let's close this. Please check `develop` or wait for `2.7` (which will be released soon) everbody. Thanks @mantas !

[2018-10-09 07:24] MrGeneration commented on #2263
Small appendix (sorry about that): This also applies to signatures (and I guess it might happen for ticket bodies as well)

[2018-10-09 07:34] thorsteneckel commented on #2274
Thanks to @rkaldung I was able to reproduce this. As described in the initial post it's mandatory to have a list of Tickets that is scrollable. Attention: There have to be at least 6 Tickets that are not in the visible area! Then make sure that the page is scrolled up to the top and select the top most two Tickets. Afterwards select the pending state in the bulk action menu and click into the date

[2018-10-09 07:39] mantas commented on #2274
@thorsteneckel you're correct. There has to be 6 under-the-fold tickets rather than 6 tickets in total as I was testing before.

I can look into this to get some fresh air from KB ;)

[2018-10-09 07:43] martini opened #2276 "Do not send auto responder on postmaster delayed/4.4.1 notice messages."
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Do not send auto responder on postmaster delayed/4.4.1 notice messages (e. g. from google).

### Actual behavior:

* Auto responder is sent.

[2018-10-09 07:45] martini commented on #2276
https://github.com/zammad/zammad/issues/2219

[2018-10-09 07:45] #2276 closed, assigned to martini

[2018-10-09 07:47] #2195 closed, assigned to SummerStorm

[2018-10-09 15:02] #2270 closed, assigned to martini

[2018-10-09 21:06] maysam commented on #2275
@rkaldung can you attach a screenshot too?

"the display name should be displayed only the email address" is not very clear

[2018-10-10 03:24] rkaldung commented on #2275
@maysam You're absolutely right, there was something missing. I fixed the wording and here are the screenshots:

![image](https://user-images.githubusercontent.com/378324/46711387-73f7ca80-cc4c-11e8-9739-c6a582d300b3.png)
![image](https://user-images.githubusercontent.com/378324/46711417-8a058b00-cc4c-11e8-8b75-e534847739c9.png)

Take a look at the 2nd screenshot: Only the email address is shown,

[2018-10-10 06:24] #2256 closed, assigned to rlue

[2018-10-10 07:13] #2246 closed, assigned to SummerStorm

[2018-10-10 07:18] martini opened #2277 "Note is not shown for customer / organisations if it's empty."
### Infos:

* Used Zammad version: 2.7
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Add/change the note (contenteditable field) in sidebar of an customer/organization even it note is currently empty.

### Actual behavior:

* Note is not shown in sidebar for custome

[2018-10-10 07:19] thorsteneckel commented on #2273
Hi @biesbjerg - could you please provide the file `public/assets/application-abd4e1a9aab02102f0c36662d7cca3be6871cc386f753acef8a141e8b25f252f.js` from your Zammad directory?

[2018-10-10 07:26] thorsteneckel commented on #2266
Hi @SimJoSt - I think this is a general problem with the OAuth2 flow (which is the base of the Google authentication). As far as I know it's possible to configure one (or more) valid redirect URLs in the Google OAuth2 application registration. These have to be hard coded URLs - usually the root path of the application. However, Zammad can't send the Ticket-URL to the Google OAuth2 application as t

[2018-10-10 08:07] MrGeneration commented on #2273
A hosted customer is experiencing this issue as well. From one of my test instances this feature vanished as quickly as it arrived.

Thorsten, I sent you the js-file-Link via Mattermost

![image](https://user-images.githubusercontent.com/6549061/46721820-4b83c680-cc74-11e8-8108-507dd3612135.png)

[2018-10-10 08:30] MrGeneration opened #2278 "Change "Real Name" to "Display Name""
### Infos:

* Used Zammad version: 2.6.x
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: n/a

### Enhancement

* I suggest renaming "Real Name" to "Display Name", as display name is what usually is meant for Names in a from of an E-Mail. Real Name is likely to irritate users - we could solve that q

[2018-10-10 11:54] martini opened #2279 "Performance issue in bulk action selection in overview"
### Infos:

* Used Zammad version: 2.6.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Do not "freeze" browser if I click on "select all" in ticket view

### Actual behavior:

* Browser will freeze for 10-50 sec.

### Steps to reproduce the behavior:

* Create a ove

[2018-10-10 13:00] fthommen commented on #922
May I ask why this isn't categorized as a bug (any more)?  It effectively - and efficiently - screws up all code and terminal output that is sent to our ticketing system.

[2018-10-10 13:30] martini commented on #2223
It's available with Zammad 2.7. Since it is an expert setting, it only can be change via console:

[code]

[2018-10-10 13:30] #2223 closed, assigned to martini

[2018-10-10 14:08] Redor commented on #262
It would be also nice, if you could just disable the whole activity stream.

[2018-10-10 20:45] henobi opened #2280 "Feature: Schedule sending email response to customer"
Hi, a nice feature in Zammad would be if one could optionally set a date and time when the email response will be send to a customer :-)

Benefits:
* Working at night on tickets, but want them to be send during business hours

[2018-10-10 21:38] biesbjerg commented on #2273
@thorsteneckel Sure :) Here you go! https://gist.github.com/biesbjerg/5e1beb80b77e9f582998b9d1dede84d7

[2018-10-11 02:44] SummerStorm commented on #1426
Closed via 9c02d2e02b732bf4cb2845b389d353e5570e213d

[2018-10-11 02:44] #1426 closed

[2018-10-11 07:52] thorsteneckel commented on #2280
Hi @henobi - Please read our intro text before creating issues. This is not an issue but a feature proposal. You can propose features over at https://community.zammad.org/ and discuss them with the community. We will pick up the most wanted features then. Closing now.

[2018-10-11 07:52] #2280 closed, assigned to nobody

[2018-10-11 08:08] MrGeneration opened #2281 "O365/Office365 authentication missing given- and surname"
### Infos:

* Used Zammad version: 2.6.x
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: n/a

### Expected behavior:

* When authenticating against Office365, E-Mail-Address and the Users name is supplied.

### Actual behavior:

* When authenticating against Office365, only the E-Mail-Adress and lo

[2018-10-11 08:26] thorsteneckel commented on #2273
Thank you! I figured out the cause of it. It's a bug introduced in [this commit](https://github.com/zammad/zammad/commit/45fee1b75230356cd729c806e2ed6564bf672759). It's caused by [this line](https://github.com/zammad/zammad/blob/7dd6675552e10409db98c9eccaaaf540d0a929b8/app/assets/javascripts/app/controllers/ticket_overview.coffee#L1225) which only checks for the Groups (permissions) of the current

[2018-10-11 08:29] martini commented on #2273
@SummerStorm I guess this will help.  https://github.com/zammad/zammad/blob/develop/app/assets/javascripts/app/models/user.coffee#L257

By the way it would be nice to add a short doc.

[2018-10-11 13:45] #2281 closed, assigned to martini

[2018-10-11 14:43] hanneshal opened #2282 "SLA GUI - inconsistency when no checkmark is set"
### Infos:

* Used Zammad version: latest 2.7
* Installation method (source, package, ..): package
* Operating system: CentOS
* Database + version: Postgres
* Elasticsearch version: 5.7
* Browser + version: Safari latest

### Expected behavior:

* If I uncheck every escalation time in the SLA screen it should save this state or throw an error that at least on time has to be checked

### Actual beh

[2018-10-11 17:16] MacLemon opened #2283 "URLs destroyed by incorrect URL Encoding when sending Emails"
### Infos:

* Used Zammad version: 2.5.0
* Installation method (source, package, ..): Source
* Operating system: FreeBSD 11.2-p3
* Database + version: PostGreSQL 10.5
* Elasticsearch version: n/a
* Browser + version: Chromium 71.0.3557.0, Firefox 62.0.2 (Bug is browser agnostic)

### Expected behavior:

Links parts in emails should not get incorrectly encoded thereby keeping links in good order.

[2018-10-11 17:47] MrGeneration opened #2284 "Overview "state"-field does not update (circle does)"
### Infos:

* Used Zammad version: 2.6.x
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: n/a
* Ticket-ID: #1028574

### Expected behavior:

* The ticket state is being updated (circle and field "state") when a closed Ticket is being updated by a customer (and thus reopened).

### Actual behavior:

[2018-10-11 18:01] MrGeneration commented on #2283
I cannot entirely verify this. i can only verify this within the Zammad-WebApp itself. My two favorite Mail-Agents (Roundcube and Thunderbird) don't care.

[code]

[code]

The same happens to your sample content btw:
[code]

[code]

The only difference is the Zammad Webapp. Can you please verify this with a current Zammad-Application? (2.6.x)

![image](https://user-images.githubusercontent.com/654

[2018-10-12 08:30] hanneshal opened #2285 "Permission issue: response templates only usable when admin is also agent"
### Infos:

* Used Zammad version: 2.7
* Installation method (source, package, ..): package
* Operating system: CentOS
* Database + version: Postgresql 9.6
* Elasticsearch version: 5.7
* Browser + version: Mac

### Expected behavior:

* It should be possibleto add/edit/delete text modules as an "admin only user" (Admin = only role)

### Actual behavior:

* An admin also needs agent permissions

##

[2018-10-12 10:49] #2273 closed, assigned to SummerStorm

[2018-10-12 11:15] #2285 closed, assigned to martini

[2018-10-12 14:54] SummerStorm commented on #2195
Please note that starting with Zammad 2.7 the search behaviour will change slightly:

1. Any search query containing a `:` character will be considered a complex query and no wildcards will be appended at the end. Searching for `number:10` will only find tickets with that exact ticket number. `number:10*` will find tickets starting with 10.

2. Search queries without `:` will have the `*` wildcard

[2018-10-12 14:54] SummerStorm commented on #2058
Please note that starting with Zammad 2.7 the search behaviour will change slightly:

1. Any search query containing a `:` character will be considered a complex query and no wildcards will be appended at the end. Searching for `number:10` will only find tickets with that exact ticket number. `number:10*` will find tickets starting with 10.

2. Search queries without `:` will have the `*` wildcard

[2018-10-12 17:11] MrGeneration opened #2286 "LDAP-User not deactivated if source user is deactivated"
### Infos:

* Used Zammad version: 2.6.x
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: n/a

### Expected behavior:

* When deactivating a LDAP-User within Active Directory the user gets deactivated in Zammad, after the LDAP-Synch has run.

### Actual behavior:

* When deactivating a LDAP-User wit

[2018-10-12 18:44] prssanna commented on #2181
Hello @MrGeneration, I'm working on a fix for this right now and I wanted to quickly clarify something.
Autocomplete for more than one user should work only for the `Send Email` tab and not for `Received Call` and `Outbound Call` tab right?

[2018-10-15 06:50] thorsteneckel commented on #2286
How does a deactivated user differ from an active user in the LDAP search result set? From my understanding the LDAP filter should be changed to only list active users or the active flag should be mapped to the Zammad active flag.

[2018-10-15 07:34] MrGeneration commented on #2286
Hey,

just looked that up. Within MicrosoftAD this would be set under "userAccountControl" (array maybe?)

![image](https://user-images.githubusercontent.com/6549061/46936070-6b90fc80-d05d-11e8-9509-0b24359318d0.png)

Here's the difference to an activated account
![image](https://user-images.githubusercontent.com/6549061/46936097-82375380-d05d-11e8-9457-7f2924c9901e.png)

[2018-10-15 08:31] rlue commented on #1909
Thanks so much for your patience, @sheLbyPL.

First off, I just want to confirm that I'm understanding your issue correctly. You've written an Outlook add-on that allows employees to create new IT support tickets in Zammad. This add-on creates tickets via the REST API rather than actually sending an email.

Originally, the problem was that the newly created tickets were of the wrong "type" – that

[2018-10-15 09:00] thorsteneckel commented on #2286
I just verified my assumption with @rkaldung (thanks!) and we came to the conclusion that this works as desired/designed. You should limit the search result by applying the correct filter for your AD. These two links will help:

https://blogs.msdn.microsoft.com/muaddib/2008/10/08/how-to-query-individual-properties-of-the-useraccountcontrol-active-directory-user-property-using-ldap/
https://docs.mi

[2018-10-15 09:00] #2286 closed, assigned to nobody

[2018-10-15 11:07] schmanat opened #2287 "next_state_id was ignored"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): DEB
* Operating system: Ubuntu LTS 16.04
* Database + version: PostgreSQL 9.5
* Elasticsearch version: latest
* Browser + version: Chrome (latest) and Firefox (latest)

### Expected behavior:

* If I update a state (pending reminder) and set the next_state_id to 2 (open) and wait until this date (and time) is reach

[2018-10-15 11:29] thorsteneckel commented on #2287
I'm pretty confident that this is an issue limited to your instance. You can verify this by creating a free online instance [here](https://www.zammad.com/getting-started). In case you can reproduce the error on this instance please let us know here what the name of the instance is so we can have a look. Closing now.

[2018-10-15 12:32] schmanat commented on #2287
Thanks for your hint with the free online instance. I can reproduce it. I've create the instance (dornbirn.zammad.com).

First of all I list the state via API, I get the JSON Objects back
`https://dornbirn.zammad.com/api/v1/ticket_states/`

[code]

After that I do a put Request to update the state (pending reminder)
`https://dornbirn.zammad.com/api/v1/ticket_states/3`

[code]

After that I checked

[2018-10-15 12:50] thorsteneckel commented on #2287
Hi @schmanat - Thanks for reproducing it! We will have a look and let you know.

[2018-10-15 15:53] ghost commented on #2190
me too! Thanks!

[2018-10-16 03:58] ikanade commented on #2262
Hello, I've managed to replicate this issue with a Zendesk account with plan "Essential". I can also confirm that this issue doesn't affect "Trial" plans. I'll be working on a fix for this and will soon send a PR for getting some feedback.

[2018-10-16 06:56] #1909 closed

[2018-10-16 08:58] #2277 closed, assigned to SummerStorm

[2018-10-16 09:25] martini commented on #2277
looks good now

[2018-10-16 09:32] rlue commented on #2024
We finally took the time to discuss this issue in detail, and have decided to postpone any work on it until we've written much more comprehensive test coverage for the existing Triggers functionality. Unfortunately, given our other project priorities, it may be a long time before that happens.

The problem is that if our changes wind up accidentally breaking someone else's triggers, they may not e

[2018-10-16 12:14] thorsteneckel commented on #2181
Hi together. This works as designed and is therefore no bug. The field when creating the E-Mail Ticket is called "Customer" not "To". A Ticket can have one customer - which will be used as the To receiver of the sent email.

[2018-10-16 12:14] #2181 closed, assigned to nobody

[2018-10-16 15:44] dennykorsukewitz commented on #1561
Here is a list with all obsolete or double translations.

[1561_translation_strings_wrong.txt](https://github.com/zammad/zammad/files/2483860/1561_translation_strings_wrong.txt)

[2018-10-17 05:14] rlue commented on #1862
We're no longer able to reproduce the issue, so we're counting this one closed! :tada:

[2018-10-17 05:14] #1862 closed

[2018-10-17 08:19] #2279 closed, assigned to SummerStorm

[2018-10-17 09:08] SEGGER-NV opened #2288 "New Ticket object (text) leads to old tickets always showing that "changes" have been made."
### Infos:

* Used Zammad version: 2.6.x
* Installation method (source, package, ..): package
* Operating system: Debian 9
* Database + version: latest
* Elasticsearch version: latest
* Browser + version: Firefox

### Expected behavior:

* When adding new text objects to tickets through Admin->Objects->Ticket all old and new tickets should update without detecting a "change" for each ticket.

###

[2018-10-17 09:11] thorsteneckel commented on #2288
Hi @SEGGER-NV - thanks a lot for your comprehensive report! However, it is a duplicate of #2042 and we're already working on a fix 💪 Closing now.

[2018-10-17 09:11] #2288 closed, assigned to nobody

[2018-10-17 09:12] MrGeneration opened #2289 "Telegram: Can't receive Videos and "too large" files"
### Infos:

* Used Zammad version: 2.6.x
* Installation method (source, package, ..): package
* Operating system: openSuSe Leap 42.3
* Database + version: PostgreSQL 9.6.9
* Elasticsearch version: 5.6.12
* Browser + version: Google Chrome (but doesn't really matter)
* Ticket-ID: #1029293

### Expected behavior:

* When sending videos (no matter of their size) Zammad should append them as attachmen

[2018-10-17 11:09] MrGeneration opened #2290 "Reports visualization capabilities don't scale well with larger number of results"
### Infos:

Not applicable as this is a enhancement request.
Comes from Ticket#1029155

### Actual behavior:

When your viewing reports with a lot of results, the overview of actual numbers suffers extremly.
As example, if Zammad chooses 50 tickets per step, you cannot determine if you had 60 or 65 Tickets on that particulary day (without breaking it down further).

This gets even worse, as you ca

[2018-10-17 11:31] thorsteneckel commented on #2290
Zammad is no and won't be a reporting tool. If you require more advanced reporting functionalities contact our support for a [Graphana](https://grafana.com/) integration or custom reporting modules and functionalities.

PS: Please always fill out the issue template completely because we require those informations. Thanks!

[2018-10-17 12:00] thorsteneckel commented on #2290
Sorry for the misunderstanding. As discussed internally this is not sufficiently practicable with Graphana. Therefore I reopen the issue.

[2018-10-17 15:26] MrGeneration opened #2291 "Chat enhancement: Option to set Agent display name"
### Infos:

* Used Zammad version: 2.6.x
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: all
* Ticket-ID: #1027930, #1029296

### Expected behavior:

* Admin / Agent can determine how Zammad shows the Agent name within the Chat application.

### Actual behavior:

* Admin / Agent can't change the be

[2018-10-18 07:41] martini opened #2292 "CTI Log: duration_talking_time is incorrect and after update initialized_at is a string (not timestamp)"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* correct duration_talking_time in cti log entries
* initialized_at as timestamp

### Actual behavior:

* duration_talking_time is negative
* initialized_at as a string

[2018-10-18 09:26] rkaldung opened #2293 "Any user can be set as a replacement for out of office"
### Infos:

* Used Zammad version: develop
* Installation method (source, package, ..): source
* Operating system: CentOS 7
* Database + version: PostgreSQL 9.5
* Elasticsearch version: 5
* Browser + version: n.a.
* Ticket#: 1050074, 1081054

### Expected behavior:

* Selecting another agent as a replacement when out of office.

### Actual behavior:

* Any user in the is offered and can be set as

[2018-10-18 09:45] #2292 closed, assigned to martini

[2018-10-18 13:04] lttlnnj opened #2294 "Add input field in ticket form for custom object"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..):
* Operating system: Ubuntu
* Database + version: PostGreSQL
* Elasticsearch version:
* Browser + version: Google Chrome 69.0.3497.100

### Expected behavior:
Add an input field in ticket form for custom object.
*

### Actual behavior:
Can't add new field in form for new attributes or custom object.
*

### Steps to

[2018-10-18 13:06] thorsteneckel commented on #2294
Please read our intro text before creating issues. This is not an issue but a technical question. You can ask questions over at https://community.zammad.org/ - Closing now.

Also this is already addressed [here](https://github.com/zammad/zammad/issues/1889) - found via "custom field" search 🤓

[2018-10-18 14:19] MrGeneration opened #2296 "Ticket list in overview of customer and organisation random order"
### Infos:

* Used Zammad version:  2.6.x
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: n/a

### Expected behavior:

* When viewing the list of open and closed tickets of customers and/or organisations, the list should have a chronological order.

### Actual behavior:

* When viewing the list of

[2018-10-18 15:42] sidescraper commented on #2244
thanks for this post. Are there any news already?

[2018-10-18 15:56] #2294 closed, assigned to nobody

[2018-10-18 20:43] maysam commented on #2293
@thorsteneckel
Customers don't have out of office preferences. Are we trying to limit agents to use other agents from their own organization?

[2018-10-18 22:02] martini opened #2297 "`rake searchindex:rebuild` is not working after Elasticsearch 2.4 upgrade to Elasticsearch 5.6 "Limit of total fields [1000] in index""
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* `rake searchindex:rebuild`should work without error

### Actual behavior:

* `rake searchindex:rebuild` stops with:

[code]

[2018-10-19 06:33] thorsteneckel commented on #2293
@maysam  Nice catch! Agents should be able to select from all available agents without a limitation.

[2018-10-19 06:52] maysam commented on #2293
@thorsteneckel so there is not much to do, is there? customer don't have 'out of office' preferences

[2018-10-19 07:03] thorsteneckel commented on #2293
It's currently possible for an agent to chose a customer as an OOO replacement. That's what @rkaldung meant with "any user".

[2018-10-19 07:07] maysam commented on #2293
Right, agents only choose agents, should there be a limitation on admin users or that doesn't matter much?

[2018-10-19 08:08] thorsteneckel commented on #2293
As you already pointed out earlier this view is only available to a subset of users. This subset should be available in the selection.

[2018-10-19 09:45] MrGeneration opened #2298 "Search result sort order is wrong"
### Infos:

* Used Zammad version: 2.6.x
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: n/a
* Ticket-ID: #1026240

### Expected behavior:

* When searching for tickets (no matter if the result is two or more) the search is ordered by last update of the ticket itself.

### Actual behavior:

* When

[2018-10-19 15:34] MrGeneration commented on #2059
This also affects the E-Mail-Address filtering on reports (if set to IS) the result will be empty (even without further clauses). If you set E-Mail-Address to "IS NOT", Reporting will show stuff according to clauses but WITH the E-Mail-address you tried to filter out.

Ticket#1026414

[2018-10-22 09:36] rlue commented on #2229
@edneymatias, thanks so much for your patience. I'm trying to get to the bottom of this problem, but I need your help to reproduce the issue.

It's very strange, but I can't reproduce it either. Here are the steps I took:

1. Register a new instance on https://www.zammad.com/getting-started
2. Go to the "Calendars" admin settings panel
3. Click "New Calendar"
4. Fill in the new calendar form:
   *

[2018-10-22 10:45] thorsteneckel commented on #2229
Hi @edneymatias - in addition to what @rlue wrote in his last comment: Could you please check if the time zone related issues in [this list](https://github.com/zammad/zammad/issues/assigned/mantas) apply to your system, too?

[2018-10-22 15:24] hanneshal commented on #2184
This issue has triggered caused a regression.
It is not possible to reply on phone tickets / split tickets anymore.
The "TO" field gets cleared / is not filled at all.

[2018-10-22 16:42] MrGeneration opened #2304 "Quotation with single press of "ENTER" not possible anymore"
### Infos:

* Used Zammad version: 2.6.1 / current develop
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: Google Chrome 69.0.3497.100, MS Edge 42.17134.1.0  - Firefox 62.0.3 is **not** affected

### Expected behavior:

* When marking a text and pressing reply for quoting text, you can then enter a

[2018-10-22 18:06] MrGeneration opened #2305 "Can't forward E-Mail in special cases within Firefox"
### Infos:

* Used Zammad version: 2.6.1 / develop
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: Firefox 62.0.3

### Expected behavior:

* When clicking on "forward" the E-Mail content will be put into the E-Mail field and you can then enter a recipient and send the forward away.

### Actual beha

[2018-10-23 06:40] BigAndini opened #2306 "Multiple tabs start over my session again and again"
### Infos:

* Used Zammad version: zammad-2.6.0-1539902613.d89d86d8.centos7.x86_64
* Installation method (source, package, ..): yum repo: https://dl.packager.io/srv/rpm/zammad/zammad/stable/el/7/$basearch
* Operating system: CentOS 7.5.1804
* Database + version: postgresql-server-9.2.24-1.el7_5.x86_64
* Elasticsearch version: elasticsearch-5.6.12-1.noarch
* Browser + version: Firefox 62.0.3 (64-Bi

[2018-10-23 06:45] thorsteneckel commented on #2306
Hi @inbaz - thanks for creating an issue. However, this works as designed. Zammad is a Single Page Application that stores the current state of your session (which Tab is open, Article drafts etc.) which can't be shared across multiple tabs (that easy). So this is not a bug but we'd like to hear your feedback anyway on what's your use case for which you need a second tab. Please refer to the [comm

[2018-10-23 06:45] #2306 closed, assigned to nobody

[2018-10-23 07:17] SEGGER-NV opened #2307 "Tickets through mail with multiple groups in To: and CC: will all receive the ticket and create "ticketmail" users for each other"
### Infos:

* Used Zammad version: 2.6.x
* Installation method (source, package, ..): package
* Operating system: Debian 9
* Database + version: -
* Elasticsearch version: -
* Browser + version: any

### Expected behavior:

* Group on CC: gets ignored per default
* Configured Ticketmails do not create a user if system receives mail with another group on CC: or To: and Ticket does not get two new r

[2018-10-23 08:16] andreaci commented on #1959
How can we change those settings on ALREADY EXISTING USERS?
I know how to edit the settings file with default; but how can I change already existing customers?

[2018-10-23 08:57] swissdeveloper commented on #574
@martini do you know when does the UI for the state will be available? We would also like to set the color of the state.

In additional we would also like that user are not able to change the state of a ticket. They often select a wrong one, only agent should be able to do it.

[2018-10-23 11:54] edneymatias commented on #2229
Hi @rlue!

I tested again on my instance and also created a new instance on https://www.zammad.com/getting-started. The results are the same. What makes me think mybe it's related to my desktop or browser.

Right now, my timezone is set to Brasilia time which an alias for Sao Paulo and clock is set to automatic update:

![image](https://user-images.githubusercontent.com/22533602/47357936-a36ff380-

[2018-10-23 12:18] alex-LE commented on #1683
We have the same issue with Zammad 2.6.x.

[2018-10-23 12:35] NiTRoeSE commented on #1683
I have also the same problem with Zammad 2.6.x.
Zammad ignores a "noreply" tag at a trigger for autoreply

[2018-10-23 12:40] thorsteneckel commented on #1683
Hi guys - could you please verify this on one of our free hosted instances over at https://www.zammad.com/getting-started  and tell us the instance name? If you can reproduce it please create a new issue 👍

[2018-10-23 12:56] alex-LE commented on #1683
We are using the self hosted version (Community Edition).

[2018-10-23 13:50] alex-LE opened #2308 "Tag filter in trigger is beeing ignored"
### Infos:

* Used Zammad version: 2.6.x
* Installation method (source, package, ..): Dockerhub, hosted trial instance (pls-helpdesk.zammad.com), package (all 3 tested)
* Operating system: Ubuntu 18.04
* Database + version:
* Elasticsearch version:
* Browser + version: Firefox 62

### Expected behavior:

* When adding a condition to the autoreply trigger that one tag should not be present, it shou

[2018-10-24 02:35] rlue commented on #2229
Actually, this is a really smart way to diagnose what's going on – to see whether it's a display issue or whether the wrong dates are actually being saved to the database during import.

Can you give me a username and password for your lifeajuda public instance? You can also try logging into _my_ public instance:

<dl>
<dt>URL</dt>
<dd>https://lgcwyanp.zammad.com</dd>
<dt>Username</dt>
<dd>lgcwyan

[2018-10-24 08:05] mruettgers opened #2309 "Chat is broken when JS library is loaded asynchronously"
We are encountering an issue when the chat library is loaded asynchrounously or programatically.
In our case we have to delay the loading of the ZammadChat app until the jQuery library on the page has been loaded to avoid conflicts caused by loading multiple jQuery libraries on the same page.

The ZammdChat app tries to detect the Zammad base url in an early stage by evaluating the `src` attribute

[2018-10-24 10:50] rlue commented on #2287
Hi @schmanat,

Just discussed this issue with @martini, and it turns out that this is actually the intended behavior of the "pending reminder" state.

That is, "pending reminder" is for **reminders only**. You can create a new, custom "pending open" state that will automatically set the state to "open" when the designated date passes. (But be warned, _this will not send out any reminder notificati

[2018-10-24 10:50] #2287 closed, assigned to rlue

[2018-10-24 11:35] edneymatias commented on #2229
hi @rlue

Here is the credentials:

login: matias@odontolifeodontologia.com.br
password: rlue

This is how I see the holydays in your instance:

![image](https://user-images.githubusercontent.com/22533602/47427354-725af600-d766-11e8-9715-20febfd33c08.png)

They are wrong!

This is some entries from the command ```zammad run rails r  "pp Calendar.find_by(name: 'Brasil/Paraná').public_holidays"```

[2018-10-24 12:05] thorsteneckel commented on #2229
Hi @edneymatias and @rlue - thanks a lot for figuring things out. This is actually a duplicate/side effect of the other issues that @edneymatias verified earlier. @mantas has already spend some time working on the underlying issue so I assigned this one to him and he will fix them all in one go 💪

[2018-10-24 12:16] hanneshal opened #2310 "Contact form needs a prefix"
### Infos:

* Used Zammad version: 2.7.x
* Installation method (source, package, ..): rpm
* Operating system: CentOS
* Database + version: Postgres
* Elasticsearch version: 5.6
* Browser + version: Safari latest

### Expected behavior:

* The form elements should have a "zammad-" prefix, like the elements in the chat

### Actual behavior:

* There is no prefix, so the css can potentially overwritt

[2018-10-24 14:35] JackXu2 opened #2311 "Mail add failed"
zammad is very good software, and i install on one on-promise Centos 7 by bleow guide
https://docs.zammad.org/en/latest/install-centos.html
all the system work very well.
but after install Centos 7 in Aliyun cloud, the add mail always failed(use same account on-promise used), below is the error
![mail](https://user-images.githubusercontent.com/30012551/47438458-13849380-d7dd-11e8-8b07-76c64b7aa2dd

[2018-10-24 16:43] SummerStorm commented on #2304
@MrGeneration On the latest `develop` I can confirm that it takes two ENTER to break the quote.

However, I also tried version 2.5.0 from back in June 2018 and it exhibited the exact same behavior, so this behavior has been consistent throughout. I will close this issue for now as "won't fix". I already pinged Martin about this course of action so he has any objections or follow-ons we can re-open

[2018-10-24 16:43] #2304 closed, assigned to SummerStorm

[2018-10-24 20:17] toastbrotch commented on #2258
my quickfix on almost the same setup:
[code]
seems to work so far... anything against that?

[2018-10-25 00:38] martini commented on #2184
Fixed with https://github.com/zammad/zammad/commit/47120f058537066e6faf6a655181018519e947f4

[2018-10-25 00:38] #2184 closed, assigned to SummerStorm

[2018-10-25 05:44] rlue commented on #224
Just a quick status update for everyone waiting on this feature. We have a fix underway (really more of a workaround), but we can't merge it until we get the browser test passing, and we can't get the browser test passing until we set up Capybara.

It may still be some time before that's done. Thank you all for your patience.

[2018-10-25 06:49] thorsteneckel commented on #2311
Please read our intro text before creating issues. This is not an issue but a technical question. You can ask questions over at https://community.zammad.org/ - Closing now.

[2018-10-25 06:49] #2311 closed, assigned to nobody

[2018-10-25 07:25] unquietwiki opened #2313 "Ruby 2.5 / Ubuntu 18.04 support : already worked out some of the details..."
I saw new versions were coming out tonight, but still didn't have newer Ruby support. Here's a list of things I've run into, trying to make it work.

- _Gemfile changes:_ **ruby '2.4.4'** -> **ruby '2.5.0'** ; **gem 'rails', '5.1.5'** -> **gem 'rails', '5.2.1'**
- _Gemfile addition:_ **gem 'activerecord', '5.2.1'**
- _Gemfile addition:_ **gem 'sassc-rails'** ; [Reference](https://github.com/sass/s

[2018-10-25 07:40] thorsteneckel commented on #2313
Hi @unquietwiki - thanks for your effort. Our current focus is on adding functionalities but we will update our stack asap. However, we only track bugs on our issue tracker for now and have any kind of discussions or questions over at the [community board](http://community.zammad.org/) to not send over 100 mails to people watching this repository. If there is anything that you're missing in our te

[2018-10-25 07:40] #2313 closed, assigned to nobody

[2018-10-25 08:13] unquietwiki commented on #2313
@thorsteneckel Acknowledged. https://community.zammad.org/t/ruby-2-5-preparation/1490 posted. Thanks!

[2018-10-25 08:25] tbsfnk commented on #615
+1 same here ^^

[2018-10-25 09:49] ksh5 commented on #2309
`onload` Event?

[code]

[2018-10-25 10:10] mruettgers commented on #2309
That won't solve the issue, because the exception is thrown in `chat.min.js` itself after beeing loaded.
Even without instantiating `ZammadChat`.

[2018-10-25 11:42] ksh5 commented on #2309
Ah, I see. I think `document.currentScript` https://github.com/ksh5/zammad/commit/f39422ba27c9dc8aeb60a87d633ed586b61ca458 should work when loading async. No IE support (and no proper polyfill) though 😞

[2018-10-25 12:04] unquietwiki opened #2314 "Status Code 422 on viewing tickets, new install"
Status Code: 422. {"error":"PG::UndefinedTable: ERROR: missing FROM-clause entry for table \"groups\"\nLINE 1: ... $2 AND (\"groupsusers\".\"access\") IN ($3, $4) AND \"groups\".\"...\n ^\n: SELECT 1 AS one FROM \"groupsusers\" WHERE \"groupsusers\".\"userid\" = $1 AND \"groupsusers\".\"groupid\" = $2 AND (\"groups_users\".\"access\") IN ($3, $4) AND \"groups\".\"active\" = $5 LIMIT $6"}

Using Za

[2018-10-25 12:06] thorsteneckel commented on #2314
Please read our intro text before creating issues. This is not an issue but a technical question. You can ask questions over at https://community.zammad.org/ - Closing now.

[2018-10-25 12:06] #2314 closed, assigned to nobody

[2018-10-25 13:16] martini commented on #2271
develop: https://github.com/zammad/zammad/commit/195e264cb8ad94b0e411a1f82e2fbcba2259eedd

stable: https://github.com/zammad/zammad/commit/a3c0d67c8ca625bdc8015aa3dd5e0b7353efcc1a

@hanneshal

[2018-10-25 13:16] #2271 closed, assigned to martini

[2018-10-25 13:18] martini commented on #2271
Just added magic lines to have magic placeholders and all references. :-D

<img width="905" alt="screen shot 2018-10-25 at 15 16 38" src="https://user-images.githubusercontent.com/110226/47502872-175df780-d869-11e8-8797-d226025ee3a9.png">

[2018-10-26 09:03] martinseener commented on #1169
Hey. We would also like to have the option to disable password changes completely. For now we use a hacky workaround which disables the 3 password fields in the profile via CSS (not really disabled when someone knows how to reenable them, but good enough for us):

Create `/opt/zammad/app/assets/stylesheets/custom/passwddisable.css` with content `.password_item {display:none;}`.
Then run `zammad ru

[2018-10-26 09:22] HolgerHeckeroth commented on #2228
Hi Martin,
just installed the 2.7.0 but can't find the global BCC Option.
Global BCC would help us get rid of our SMTP Proxy.

Best
Holger

[2018-10-26 09:48] SEGGER-NV opened #2316 "Pending closed/reminder date selector shows current date black on dark gray"
### Infos:

* Used Zammad version: 2.6.x
* Installation method (source, package, ..): package
* Operating system: Debian 9
* Database + version: x
* Elasticsearch version: x
* Browser + version: all
* Ticket #1086042

### Expected behavior:

* Current date on date selector when setting pending closed/reminder state should have a higher color contrast to the dark grey background e.g. like the selec

[2018-10-26 09:50] martini commented on #2228
Just set it via `zammad run rails r "Setting.set('system_bcc', 'your@email')"`

[2018-10-26 10:31] hanneshal commented on #2308
Hi @alex-LE
can you please post a screenshot of your trigger configuration. This would help.

Thank you

[2018-10-26 14:39] ZlobnyiSerg opened #2317 "Zendesk import fails on first ticket when it has fields with cyrillic names"
### Infos:

* Used Zammad version: 2.6.x
* Installation method (source, package, ..): docker
* Operating system: Ubuntu 18
* Database + version: Postgres 9.6
* Elasticsearch version:
* Browser + version: Chrome 70

### Expected behavior:

* Zendesk ticket import processing fine

### Actual behavior:

* Import stops on first ticket  with error: `ImportJob 'Import::Zendesk' failed: Problem with Obje

[2018-10-26 17:47] jacotec commented on #1169
A fat +1 from my side!

[2018-10-26 23:39] unquietwiki commented on #2314
@thorsteneckel per #2313 & this, I forked the code; cleaned it up; made sure the database created correctly (best as able); and still running into that error message. If you think it's of your interest, I'd like you or someone to give it a spin & see if it's just Google Cloud being silly. I've got another associate pushing me to use Samanage, so getting some version of this working would be useful

[2018-10-29 07:45] thorsteneckel commented on #2314
Dear @unquietwiki ,

first of all, many thanks for your participation on the Zammad open source project.

Not usual as with proprietary software, we finance Zammad through service. We're happy to help where we can but setup issues for self hosted installations without a support contract are out of our scope. Because it's less money we have at our disposal to push Zammad.

If you would like to supp

[2018-10-29 08:19] #2305 closed, assigned to rlue

[2018-10-29 10:23] martini opened #2318 "Upgrade to Zammad 2.7 was not possible (migration 20180220171219 CheckForObjectAttributes failed)"
### Infos:

* Used Zammad version: 2.7
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Upgrade without any errors

### Actual behavior:

* migration 20180220171219 CheckForObjectAttributes failed

### Steps to reproduce the behavior:

* create a user attribute as inte

[2018-10-29 12:54] SEGGER-NV opened #2319 "Replying to your own articles (agent perspective) or other situations does not generate signature on reply"
### Infos:

* Used Zammad version: 2.6.x
* Installation method (source, package, ..): package
* Operating system: Debian 9
* Database + version: x
* Elasticsearch version: x
* Browser + version: Any
* Ticket: #10128435

### Expected behavior:

* When replying to an article via email, the signature should always be applied when a signature exists for the group (also when it's already present in som

[2018-10-29 13:07] kagashe commented on #574
+1 for this feature as well.

[2018-10-29 14:04] fernandodiacenco opened #2320 "After upgrading to 2.7, user management is blank"
Hello,

After upgrading to 2.7, everything is still working except user management

We have LDAP integration with active directory, the integration seems to be working as before, previous logins work, email tickets work

But if I try to create a ticket, it wont find any clients, can't find anyone in the user management interface either

I tried resync with ad, the resync works but nothing changes

[2018-10-29 14:11] thorsteneckel commented on #2320
Please read our intro text before creating issues. This is not an issue but a technical question. You can ask questions over at https://community.zammad.org/ - Closing now.

Reads like something is wrong with your Search. There should be note in your `log/production.log` file. Maybe your Elasticsearch is not configured/indexed properly.

[2018-10-29 14:11] #2320 closed, assigned to nobody

[2018-10-29 14:25] #2278 closed, assigned to rlue

[2018-10-29 15:13] fernandodiacenco commented on #2320
Ok, let me leave this here just for posterity, thanks.

If anybody out there had a similar problem after upgrading, this is what I've done to fix it

[2018-10-29 16:43] maggusf opened #2321 "IMAP fetch stops because of request timeout"
### Infos:

* Used Zammad version: 2.7
* Installation method (source, package, ..): package
* Operating system: CentOS
* Database + version: psotgresql
* Elasticsearch version: latest in zammad 2.7
* Browser + version: mac os safari

### Expected behavior:

* email fetching with imap connection should not stop/hang unexpectedly

### Actual behavior:

* fetching hangs without any error - monitoring

[2018-10-29 18:18] thorsteneckel commented on #2321
Hi @maggusf - do you think this is a duplicate of #2043? What are the specs of your system (because of the relation to RAM limitations)?

[2018-10-30 07:10] KINGRULZ opened #2322 "Agent sends email to another group gets assigned the wrong customer name"
Infos:
Used Zammad version: 2.8
Used Zammad installation source: (source, package, ...)
Operating system: Ubuntu Server 18.04 lts
Browser + version: Chrome
Expected behavior:
incoming mails should be associated to correct customer

Actual behavior:
I set up a mailbox (e.g. Helpdesk@mycompanyname.com) in our internal mail system.
zammad is catching the emails from the inbox of helpdesk with imap an

[2018-10-30 07:19] thorsteneckel commented on #2322
Hi @KINGRULZ - please provide a RAW email file so we can reproduce it. You can download the file from below the article itself. Do I understand you correctly that this worked as expected before Zammad 2.7 and just changed after the update?

[2018-10-30 07:45] KINGRULZ commented on #2322
Hi @thorsteneckel

actually i found this issue https://github.com/zammad/zammad/issues/1351

this ticket says it was resolved in an update

but have the same problem
[test 2.txt](https://github.com/zammad/zammad/files/2528521/test.2.txt)

[2018-10-30 08:12] thorsteneckel commented on #2322
Hi @KINGRULZ - this looks more like a technical question to me. Could you please create a topic over at the [community board](http://community.zammad.org/) and provide the real email. Your example is broken (there are not To and From addresses). Please try to reproduce the issue in one of our [free hosted instances](https://www.zammad.com/getting-started) and make sure to provide the name of the i

[2018-10-30 08:12] #2322 closed, assigned to nobody

[2018-10-30 11:44] #1568 closed

[2018-10-30 11:52] SummerStorm commented on #1568
Hi there, this new feature has been added to the development branch and will be formally released in version 2.8.0.

With a select attribute named `test`, `#{ticket.test}` will work exactly as before: display the key. The newly added syntax `#{ticket.test.value}` will display the value string associated with that key.

[2018-10-30 12:28] #2296 closed, assigned to rlue

[2018-10-30 14:59] wtc-jeff opened #2323 "Browser autofill on add/edit customer causes mysql error"
### Infos:

* Used Zammad version: 2.7.0
* Installation method (source, package, ..): source
* Operating system: Debian 9.1
* Database + version: Mysql (MariaDB 10.1.26)
* Elasticsearch version: Not installed
* Browser + version: Chrome 69.0.3497.100

### Expected behavior:

* Use browser provided information to populate fields for new user

### Actual behavior:

* User not created, error is shown

[2018-10-30 15:22] infestdead commented on #1113
Hello,
is this still the case? Maybe the setting moved to another file, or it's now in the web interface? Sorry for necroposting.. :)

[2018-10-30 15:27] thorsteneckel commented on #1113
Here you go: https://github.com/zammad/zammad/blob/66e8d58f298603f9bb1a4be762ff92abdf37779b/config/application.rb#L60-L111

[2018-10-30 16:31] infestdead commented on #1113
@thorsteneckel thanks, but aren't those for ticket agent? My goal is to subscribe new users (customers) by default to email updates on all ticket updates/changes etc.

[2018-10-30 21:51] #2042 closed

[2018-10-31 07:40] thorsteneckel commented on #1113
Yes. This is currently only possible for agents - see #1959. You can start a discussion over at the [community board](http://community.zammad.org/) if you disagree.

[2018-10-31 08:13] martini opened #2324 "Improved error handling of invalid tag for text modules and add current time format (to not use 2018-10-31T08:02:21.917Z format)"
### Infos:

* Used Zammad version: 2.7
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Ignore invalid placeholder tags in text modules
* Replace times in users time format

### Actual behavior:

* If I use a certain tag, e. g. #{ticket.created_at.date} Zammad app will

[2018-10-31 08:54] maggusf commented on #2321
Hi @thorsteneckel - our machine currently has 4 cores and 12GB RAM. Elasticsearch JVM currently starts with 4GB (as of /etc/elasticsearch/jvm.options).
As we dont keep mails on server it might not be a duplicate of #2043

[2018-10-31 09:19] thorsteneckel commented on #2321
That sounds sufficient - just one question: How many mails do you process on a regular day? Is your process completely killed or "just" stuck? If it was killed please check your log files if the linux out of memory (OOM) killer killed your process. If it's stuck let me know.

[2018-10-31 09:33] maggusf commented on #2321
hi, process just got stuck - no info/error messages for OOM killer.
cant say how many mails are processed each day, not more than 500, but not less than 50 - need more numbers? can I find somewhere in the postgresql database?

[2018-10-31 09:48] thorsteneckel commented on #2321
Thanks! The rough number is enough to get a sense. In #2043 we're talking about 27k mails. So if the process got stuck please do the following:

- [Download the latest `rbspy` release](https://github.com/rbspy/rbspy/releases)
- Execute `rbspy` according to your setup and pass the PID parameter of your stuck process (e.g. `sudo ./rbspy record -p 4223`)
- Let `rbspy` run for about 10-15 seconds and

[2018-10-31 09:51] maggusf commented on #2321
hi thorsten, will do that tomorrow during public holiday in most parts of germany (as mails wont be processed during that time and I can't estimate when the problem happens) and come back to you asap.

[2018-10-31 10:28] martini commented on #1076
Short update in the meantime, by using this you can create a custom ticket state via `zammad run rails c`:

https://github.com/zammad/zammad-documentation/blob/master/admin-console.rst#add-new-ticket-state

[2018-10-31 11:48] thorsteneckel commented on #2323
Hi @wtc-jeff - There is something wrong here. The error message says that the `organization_id` is `0` which should not be possible. The Organization input field has the HTML `autocomplete=off` attribute set so no Browser auto fill should be possible in this field. Could you please reproduce this on one of our [free hosted instances](https://www.zammad.com/getting-started), tell us the name of the

[2018-10-31 12:06] thorsteneckel commented on #2319
Hi @SEGGER-NV - I can't reproduce (on latest develop):
![reply-signature](https://user-images.githubusercontent.com/3873515/47786933-a78ab980-dd0d-11e8-8168-64241118b94a.gif)
You can try to reproduce it on one of our [free hosted instances](https://www.zammad.com/getting-started) and tell me the name. Closing now.

[2018-10-31 14:23] SEGGER-NV opened #2325 "Trigger word "attachment" leads to attachment warning pop-up even if it is just in quoted customer text."
### Infos:

* Used Zammad version: 2.6.x
* Installation method (source, package, ..): package
* Operating system: Debian 9
* Database + version: x
* Elasticsearch version: x
* Browser + version: Firefox latest

### Expected behavior:

* When quoting customer text in agent reply and it contains trigger words like "attachment" the agent does not get warning about that he might have forgotten an atta

[2018-10-31 15:26] SEGGER-NV commented on #2319
Hi,

Thank you for your answer.
On a hosted test instance it was also not reproducible for me.
Only meaningful difference I could make out is that we run Zammad 2.6.x and the hosted one was 2.7.0
We will update in the next 1-2 weeks to 2.7 as well and I will check if the issue is still reproducible.

[2018-10-31 16:35] hanneshal commented on #1398
@nonameolsson The original issue was fixed and the users confirmed it as fixed. So the issue was closed. If you have issues using Zammad on touch devices please open a new issue and if possible attach screenshots and mark the spots. This would help a lot.

Regards
Johannes

[2018-10-31 18:26] #2324 closed, assigned to martini

[2018-11-01 14:00] wtc-jeff commented on #2323
Hi there,

I have reproduced using the hosted platform and recorded the error.  Please see the attached zip

[zammad error.mp4.zip](https://github.com/zammad/zammad/files/2538744/zammad.error.mp4.zip)

Jeff

[2018-11-02 07:32] maggusf commented on #2321
took a while but it got stuck again yesterday evening around 20:43. used rbspy with process# of process number of last fetching imap entry (was script/scheduler.rb start -t). output files are attached
[zammad_issue_2321.zip](https://github.com/zammad/zammad/files/2541421/zammad_issue_2321.zip)

[2018-11-02 07:36] hanneshal opened #2326 "Add AccountedTime to tag selection for text modules or triggers."
### Infos:

* Used Zammad version: 2.7
* Installation method (source, package, ..): source
* Operating system: MacOS
* Database + version: Postgres 9.7
* Elasticsearch version: 5.6
* Browser + version: Safari latest

### Expected behavior:

* The accounted time on a ticket should be shown in the tag-template-selection of ticket/user/organisation/config attributes.

### Actual behavior:

* It does

[2018-11-02 07:39] thorsteneckel commented on #2321
Thanks! Can you please provide your `log/production.log` file around this time? Maybe 1 hour before and after that event?

[2018-11-02 07:41] maggusf commented on #2321
hi thorsten, that would be difficult as there are a lot of personal info and customer data within the log. can a filter some lines for you?

[2018-11-02 09:03] #2326 closed, assigned to martini

[2018-11-02 10:13] thorsteneckel commented on #2321
Hi @maggusf the "good" news is that we have the same issue on one of our hosted instance since a few days. I'm already investigating it and added debug code to get to the root cause. Could you provide the result of this grep so I can sync my results with your system:
`grep -E "Scheduler running...|Channel.fetch| ERROR " log/production.log`

Thanks!

[2018-11-02 10:20] maggusf commented on #2321
sounds "good". ;) output file is attached
[zammad_issue_2321_grep_production.log.out.log](https://github.com/zammad/zammad/files/2542002/zammad_issue_2321_grep_production.log.out.log)

[2018-11-02 13:49] SummerStorm commented on #2323
Hi wtc-jeff, thank you for the clear and concise video. We are now able to reproduce the issue. A fix will be coming shortly.

# Detailed step to reproduce
1. This only occurs on Chrome with autofill turned on. Go to Chrome settings, turn on `Autofill forms`, and add an address with a name and an organization:

![324324](https://user-images.githubusercontent.com/7030950/47916030-b628ca80-dedf-11e8

[2018-11-02 14:01] martini opened #2327 "Websocket messages are not working correctly via Ajax long polling (e. g. multiple browser tabs can get opened with one session)."
### Infos:

* Used Zammad version: 2.7
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Do not allow to have multiple browser windows for one session to prevent parallel working on tasks - as it is via native web socket messages right now).

### Actual behavior:

* No

[2018-11-02 16:20] MrGeneration commented on #2284
Small update as @SummerStorm asked me for reverification:
This only happens in 2.7, if you close the ticket tab. It does not matter how many articles you have!

Screencast is attached.
![state-feature](https://user-images.githubusercontent.com/6549061/47927442-9d122080-dec3-11e8-8844-c96c2a10b3f3.gif)

[2018-11-02 19:49] MrGeneration opened #2328 "Granular right's (everything but full) denies agents to set themselfs as owner"
### Infos:

* Used Zammad version: 2.7.x
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: Google Chrome 70

### Expected behavior:

* When setting role (or direct user) rights to "Read, Create, Change, Overview" agents can set the agent having this rights for a group as ticket owner without hassle.

[2018-11-05 07:04] martini opened #2329 "Unable to import (update) users with email addresses als lookup index written in upper letters"
### Infos:

* Used Zammad version: 2.7
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Unable to import (update) users with email addresses als lookup index written in upper letters

### Actual behavior:

* CSV import will fail

### Steps to reproduce the behavior:

*

[2018-11-05 07:11] #2327 closed, assigned to martini

[2018-11-05 07:59] nk-Zammad opened #2330 "selecting the overviews on the I Pad does not work"
### Infos:

* Used Zammad version:
* Installation method (source, package, ..):
* Operating system:
* Database + version:
* Elasticsearch version:
* Browser + version:

### Expected behavior:

* It is expected that the selection of the individual ticket overviews on the I Pad can be changed.

### Actual behavior:

* The actual behavior is: The customer has logged into Zammad with his I-Pad to edit

[2018-11-05 08:53] Hagelsturm opened #2331 "Upgrade 2.6 to 2.7 Webpage broken"
Hello i use Debian 9 afer Upgrde to 2.7 the webpage is broken :-(
![webpage](https://user-images.githubusercontent.com/32170104/47987743-98768380-e0e0-11e8-83c7-ad96297af0ce.png)

I hope everybody can help me

[2018-11-05 08:57] Hagelsturm commented on #2331
2018/11/05 09:55:44 [error] 1217#1217: *375 open() "/opt/zammad/public/assets/application-c8043f03a169bb84f3dc0ad53d5b1f98d7e97e6965212a7a3ae326f333cceabc.css" failed (2: No such file or directory),

[2018-11-05 10:02] Hagelsturm commented on #2331
I fixed a rename the css file

[2018-11-05 10:02] #2331 closed, assigned to nobody

[2018-11-05 10:04] martini commented on #2331
Thanks for feedback. Just a hint, the application-XXX.css is content of the Zammad package. So it seems it got not installed on you machine or you did not restart the zammad application server.

[2018-11-05 11:15] Hagelsturm commented on #2331
thans the package was installed but the id behind application was diffrent

[2018-11-05 15:17] splattner commented on #372
+1

[2018-11-05 19:07] MrGeneration commented on #2327
Verified for fixing the problem, thanks!

[2018-11-05 19:21] MrGeneration opened #2332 "Role-Filter shows inactive Roles"
### Infos:

* Used Zammad version: 2.7
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: Google Chrome 70, Firefox 62

### Expected behavior:

* When setting a role to inactive, the role filter inside the users GUI won't be shown for that role.

### Actual behavior:

* When setting a role to inactive

[2018-11-06 06:21] #2329 closed, assigned to martini

[2018-11-06 09:04] thorsteneckel commented on #2323
Hi @wtc-jeff - I discussed this issue with @mrflix and after some research we came to the conclusion that this is actually [a bug in Chrome](https://bugs.chromium.org/p/chromium/issues/detail?id=370363#c7) which ignores the `autocomplete="off"` attribute but shouldn't. Therefore this is a third party issue and I close this one.

[2018-11-06 09:04] #2323 closed, assigned to nobody

[2018-11-06 13:23] 13-Se-61 commented on #791
I am Working Admin LTE and the Update Login Password is not working Correctly.

[2018-11-06 13:56] MrGeneration opened #2333 "Object country already exists"
### Infos:

* Used Zammad version: 2.7
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: Google Chrome 70 (but basically not Browser relevant)

### Expected behavior:

* When taking a look into the user objects available in Zammad you'll see an object "Country" on the List. If not, you can simply add

[2018-11-06 14:57] SummerStorm commented on #2323
Hi wtc-jeff, seems like I spoke too soon about a fix. As a work around, you can clear out the `Organization` field in Chrome's Settings -> Autofill -> Address form:

![4324324](https://user-images.githubusercontent.com/7030950/48072331-39fff100-e217-11e8-9611-0d5438feb0c8.png)

This issue does not appear as long as the `Organization` field does not get autofilled.

[2018-11-06 14:57] MrGeneration opened #2334 "Quoting not working cleanly, if content gets too much"
### Infos:

* Used Zammad version: 2.7
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: Google Chrome 70
* Ticket-ID: #1029886

### Expected behavior:

* When marking some text, neither of it's size, and then press reply, you're able to break the quotation on any point of the text being able to refe

[2018-11-06 15:18] thorsteneckel commented on #2321
This is fixed with the commit(s) above and will be available in the packages in about 30 minutes from now 🚀 feedback would be great!

[2018-11-06 15:18] #2321 closed, assigned to thorsteneckel

[2018-11-06 15:25] maggusf commented on #2321
I am currently on a conference, will update Friday or beginning of next week and give feedback asap

[2018-11-06 21:25] martini commented on #788
Thanks for creating this issue. It's implemented in upcoming Zammad 2.8. Greetings!

[2018-11-06 21:26] martini commented on #560
Thanks for creating this issue. :-D It's implemented in upcoming Zammad 2.8. Greetings!

[2018-11-07 08:53] MarvinKlar opened #2336 "LDAP Integration won't sync the admin (Minimum one user needs to have admin permissions.)"
### Infos:

* Used Zammad version: 2.7.0
* Installation method (source, package, ..): source
* Operating system: Debian
* Database + version: MariaDB
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* The LDAP synchronization should finish successfully

### Actual behavior:

* The LDAP synchronization fails with the following error: `An error occurred: Minimum one use

[2018-11-07 08:59] MarvinKlar commented on #2336
I tryed to add the filter `(!(userAccountControl:1.2.840.113556.1.4.803:=2))` to synchronize only active LDAP users. I don't know if the error is because of this, but even when I removed this filter the error continued to occour.

[2018-11-07 09:02] thorsteneckel commented on #2336
Hi @MarvinKlar - this is a technical question and no bug. Please create a topic over at the [community board](http://community.zammad.org/) and mention me. I'll provide a debugging script where the root cause for this comes from. Closing this one now.

[2018-11-07 09:02] #2336 closed, assigned to nobody

[2018-11-07 09:15] thorsteneckel commented on #2317
This is caused by this line:
https://github.com/zammad/zammad/blob/0db8c28bd57b7cad7deb8d96e08c618dd34b8692/lib/sequencer/unit/import/common/object_attribute/sanitized_name.rb#L43

Because ActiveSupport::Inflector.transliterate does not support cyrillic chars (out of the box).

There is a map between latin and cyrillic in a gem that can be re-used:

https://github.com/tjbladez/translit/blob/b1ea8a

[2018-11-07 09:24] MarvinKlar commented on #2336
Moved to https://community.zammad.org/t/ldap-integration-wont-sync-the-admin-minimum-one-user-needs-to-have-admin-permissions/1553

[2018-11-07 11:41] MrGeneration opened #2337 "Zammad stops Organization and TextModule pagination after 500 entries"
### Infos:

* Used Zammad version: 2.7, including 3.4
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: n/a
* Ticket-ID: #1030543, #1047215, #1070112

### Expected behavior:

* When having more than 500 organizations inside your instance, you can see a list of all Organizations with pagination withou

[2018-11-07 12:13] alex-LE commented on #2308
sure, here:

![grafik](https://user-images.githubusercontent.com/1616675/48131036-ec26cf80-e28e-11e8-833a-ac9a82c56154.png)

We are now creating the tickets via the api as closed and reopen them afterwards. This works for now.

[2018-11-07 15:19] cyberrranger commented on #2317
@ZlobnyiSerg sry for offtopic, but you you help me? I'm install Zammad 2.7 with docker but i cant't find a "Import Zendesk" Button :/

[2018-11-07 15:30] thorsteneckel commented on #2317
Hi @cyberrranger - please keep the issue on topic. You can ask (technical) questions over at the [community board](http://community.zammad.org/) - there are plenty of lovely people willing to help 💪

[2018-11-08 07:33] Chritzz opened #2338 "Exchange Integration Folder access"
### Infos:
Used Zammad version: 2.7.0
Used Zammad installation source: DEB
Operating system: Ubuntu 16.04 LTS
Browser + version: Firefox

### Actual behavior:

Zammad can not access Exchange 2010.
Credentials checked multiple times.
EWS interface to Exchange checked.

![zammad](https://user-images.githubusercontent.com/44860414/48183971-d79b1380-e330-11e8-82ee-31441eeebfb8.PNG)

production.log

I,

[2018-11-08 07:49] thorsteneckel commented on #2338
Hi @Chritzz - This is rather a technical question than a problem on the Zammad side. You can ask technical questions over at the [community board](http://community.zammad.org/). Closing now.

The message in the log file only states that there is (at least) one folder for which the user has no access. It's just a warning, no error. The error however states that there was an internal server error on

[2018-11-08 07:49] #2338 closed, assigned to nobody

[2018-11-08 11:27] MrGeneration commented on #2059
This also affects TreeSelects. Interestingly the preview filters (when you configure report-profiles) is showing the expected results - but a soon as you open the report it's "broken".

In my field test, when my tree select looks the following:
![image](https://user-images.githubusercontent.com/6549061/48195983-77689980-e351-11e8-808d-f16ff87c41de.png)

And my selection for the report is just for

[2018-11-08 14:43] revolunet commented on #229
hi, is it still impossible to link a form to a group ?

[2018-11-09 10:05] ateuber commented on #372
We also need the possibility to change it to reply by email by default. It's quite confusing for new Zammad users.

[2018-11-09 12:29] #2318 closed, assigned to SummerStorm

[2018-11-09 15:51] Charburner commented on #2332
I would like to add an idea to improve the UI:

If you are working with many different roles in your Zammad instance, the "manage users" view will be kind of awkward since there is no linebreak. So you will always have to scroll to the right manually to be able to click those last roles.

It would be better to either add linebreaks or switch to something like a dropdown list with multiselect.

[2018-11-09 16:30] MrGeneration commented on #2282
This also applies, if you select "Update TIme" and/or "Solution Time" and apply those options.
Zammad displays those escalation times cleanly on the UI - as soon as you open the SLA to edit it, the wizard automatically "enables" "First Response Time"  with two hours of time.

[2018-11-09 16:43] MrGeneration opened #2339 "Integer minimal is ignored"
### Infos:

* Used Zammad version: 2.7
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: verified on Google Chrome and Firefox, most likely on all Browsers

### Expected behavior:

* When setting a minimal value to a integer object (something like 6 or 1000), Zammad will throw an error and not update

[2018-11-09 19:02] MrGeneration opened #2340 "Percent-encoded URLs are corrupted"
### Infos:

* Used Zammad version: 2.7
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: Impacts all Browsers
* Ticket-IDs: #1030647, #1030633

### Expected behavior:

* When sending an E-Mail with an URL (no matter if the E-Mail is Text or HTML), Zammad will not change the URL in any means.

### Act

[2018-11-11 20:25] adrianschneider94 commented on #1135
Any updates on this?
I think @robclancy is right (but a bit aggressive in his tone 😉) — this should be a top priority.
It‘s a big problem and it‘s rather easy to fix.

[2018-11-12 06:05] maggusf commented on #2321
seems to work now. messages like the following pop up now from time to time:
E, [2018-11-12T06:51:03.169393 #11128] ERROR -- : Can't use Channel::Driver::Imap: #<Timeout::Error: execution expired>

[2018-11-12 07:40] #2333 closed, assigned to SummerStorm

[2018-11-12 07:43] thorsteneckel commented on #2321
Hi @maggusf - Thanks for the feedback! Yes, I forgot to mention that the cause of this error was that some of the IMAP connections had no timeout and were stuck. We added timeouts and therefore these previous stuck calls now die. This is problem in general because Zammad will do its job on the next fetch run but in general the availability of and connection of the IMAP server should get checked to

[2018-11-12 08:13] thorsteneckel commented on #1135
Hi folks. This is a hot topic that comes up every once in a while. There are two groups of users with a contradictory view on the topic and we (currently) can't satisfy both. However, [our position](https://github.com/zammad/zammad/issues/1135#issuecomment-314346118) hasn't changed. There is a workaround in place which works pretty well for our customers.
I will lock this topic - but feel free to

[2018-11-12 08:17] thorsteneckel commented on #2339
Hi @SummerStorm - is this a duplicate and already covered by our internal ObjectManager::Attribute refactoring branch?

[2018-11-12 08:33] SummerStorm commented on #2339
@thorsteneckel No, it is not a duplicate. Our internal ObjectManager::Attribute refactoring branch only covers required attributes and data/datatime attributes so far. I decided to keep the ObjectManager::Attribute refactoring branch lean and simple so that other attribute types can be added in one-by-one after the main attribute validation framework is in place. This way the validation patch for

[2018-11-12 09:04] thorsteneckel commented on #2339
Hi @SummerStorm - thanks! Sounds like a plan. Let's get this branch merged then 💪

[2018-11-12 09:57] thorsteneckel commented on #2332
Hi @Charburner - Thanks for pointing this out. However, this is a different UI issue. Would you mind creating a new issue and provide a screenshot so we can have a visual impression of the case. Thanks. My UI colleagues will then find a proper solution 👍

[2018-11-12 11:17] Charburner opened #2341 "Role filter needs linebreak or dropdown list"
### Infos:

* Used Zammad version: 2.6.X
* Installation method (source, package, ..):
* Operating system: CentOS 7.5.1804
* Database + version: PostgreSQL 9.2.24
* Elasticsearch version: 5.6.11
* Browser + version: Firefox 63.0.1

### Expected behavior:

* The role filter in Zammads user management should let you easily select roles no matter if there are 5 or 50 roles.
* The role filter element s

[2018-11-12 14:29] #2332 closed, assigned to SummerStorm

[2018-11-12 16:16] thorsteneckel commented on #1135
JFI: @mrflix just called and told me that he talked with @martini about this issue. He will work on a proper solution to resolve the workaround and improve the usability. We'll keep you updated.

[2018-11-12 16:46] SEGGER-NV opened #2342 "No error/warning message if Agent tries to send e-mail reply that is larger than max. e-mail size."
### Infos:

* Used Zammad version: 2.6.x
* Installation method (source, package, ..): package
* Operating system: Debian 9
* Database + version:
* Elasticsearch version:
* Browser + version: Firefox

### Expected behavior:

* Agent receives warning message if he tries to send an e-mail with attachments that is higher than the configured max. e-mail size.

### Actual behavior:

* Agent does not rec

[2018-11-12 17:21] MrGeneration commented on #2342
This is a duplicate of #2092

Thanks for posting! We're on it already. :)

[2018-11-12 17:21] #2342 closed, assigned to nobody

[2018-11-13 09:32] martini commented on #2226
Update: This is actually a but and it's not about general mobile UI for mobiles. Good now, this is fixed in develop https://github.com/zammad/zammad/issues/2330 and soon in stable too.

[2018-11-13 10:27] MrGeneration opened #2343 "Lost DB connection causes jobs to not be processed anymore"
### Infos:

* Used Zammad version: 2.7 (but rather all)
* Installation method (source, package, ..): n/a
* Operating system: n/a (verified on Ubuntu 16.04)
* Database + version: postgreSQL
* Elasticsearch version: n/a
* Browser + version: n/a

### Expected behavior:

* Zammad will continue it's work (even if a Database-Process / socked dies) as soon as the database connection is back up and functi

[2018-11-13 10:28] incognitozen commented on #837
+1

Helping create organisation on the fly will cut down admin work for easy onboarding. I think this will also help with improving usability by letting agents create org as opposed to handing them admin rights.

[2018-11-13 10:29] incognitozen commented on #330
+1 on a rich editor. The Github editor is ideal.

[2018-11-13 11:22] HLeithner commented on #372
Email answer as default (as option) would be really useful, it happens too often that a reply is only added to the ticket system and don't get send out to the ticket opener.

[2018-11-13 11:30] SniperSister commented on #372
I make this mistake at least once a week, so I can clearly confirm that this is a real UI issue.

[2018-11-13 11:41] thorsteneckel commented on #372
@mrflix - Do you think you can you address this in the same scope of #1135 which we discussed yesterday?

[2018-11-13 13:29] mrflix commented on #372
Yes we're addressing them both at the same time.

In some companies a lot of communication happens inside the ticket before the customer gets a response: colleagues give advise, additional information from devs gets requested etc. These commenting agents are currently happy that they can directly start to write internal communication using the big input field.

On the other hand the big input fiel

[2018-11-13 13:32] mrflix commented on #1135
Sorry for the confusion with this part of our UI and thank you for your feedback!
I wrote down our idea on how to address this issue in https://github.com/zammad/zammad/issues/372#issuecomment-438265852. Lets move this discussion over there.

[2018-11-13 13:34] HLeithner commented on #372
Big buttons would be a good solution.

[2018-11-13 13:39] thorsteneckel commented on #1135
@mrflix and I agreed on that this issue is a duplicate of #372 - in which we will proceed with the fix. Please subscript to #372 to get notified about changes and progress. Thanks for your understanding and patience 👍 🚀

[2018-11-13 13:39] #1135 closed

[2018-11-13 14:38] MrGeneration opened #2344 "Missing translation for Full-Quote-Text "on xy wrote""
### Infos:

* Used Zammad version: 2.7
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: Google Chrome 70 (not Browser related)

### Expected behavior:

* When using the "Full Quote"-Option for answering E-Mails, Zammad will insert a message "on 11th September 2018, 1:15PM, Peter Parker wrote" - the

[2018-11-13 19:29] Helmi commented on #1994
Any reason why the documentation still doesn't drop a word about 18.04 compatibility?

[2018-11-14 07:07] martini opened #2345 "Elasticsearch payload is going to big if a ticket has more then 9000 articles"
### Infos:

* Used Zammad version: 2.7
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Process elasticsearch indexing also with spam emails/ticket where 9000 articles on it.

### Actual behavior:

* Elasticsearch complains about a to big payload.

### Steps to reprodu

[2018-11-14 07:40] SummerStorm commented on #2328
This is actually a feature working as designed, though it has not been well documented so far. I have updated the documentation [here](https://zammad-admin-documentation.readthedocs.io/en/latest/manage-roles.html#agent).

Basically any role with the Full permission is considered an agent, and thus can be assigned as a ticket owner. Conversely, any role without the Full permission, even though they

[2018-11-14 07:40] #2328 closed, assigned to SummerStorm

[2018-11-14 07:43] thorsteneckel commented on #1994
Probably because we forgot to add it. I would love to see a Pull Request 😍

[2018-11-14 08:12] Helmi commented on #1994
Actually I went with a docker installation so I can't bring any value to that part of the docs, sorry.

[2018-11-14 08:23] alex-LE commented on #2308
@hanneshal is that ok?

[2018-11-14 08:30] Charburner opened #2346 "Notification settings checkboxes show wrong state"
### Infos:

* Used Zammad version: 2.7.X
* Installation method (source, package, ..): rpm
* Operating system: CentOS 7.5.1804
* Database + version: PostgreSQL 9.2.24
* Elasticsearch version: 5.6.11
* Browser + version: Firefox 63.0.1

### Expected behavior:

* In the notification settings of each users profile, the "Limit Groups" checkboxes state should always match the actual stored value in the

[2018-11-14 08:30] nk-Zammad opened #2347 "Merging two Tickets with link to same other Ticket fails"
### Infos:

* Used Zammad version: 2.7.y
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1030519, #1072793, T#1072793, T#1079290

### Expected behavior:

*it is expected that child tickets can be merged with other child tickets.

### Actual behavior:

*The actual behavior is that

[2018-11-14 11:09] infestdead opened #2349 "Google login/auth not working, I get 422 every time"
### Infos:

* Used Zammad version: 2.7.0, 1542128389.fd858449.centos7
* Installation method (source, package, ..): centos7 zammad repository
* Operating system: centos7.5
* Database + version: posgresql 9.2.24
* Elasticsearch version: 5.6.13
* Browser + version: Chrome 70.0.3538.77 (Official Build) (64-bit)

### Expected behavior:

* Google Auth login to work as expected

### Actual behavior:

* I

[2018-11-14 11:22] thorsteneckel commented on #2343
This is fixed in `develop` and `stable` with the commits above via a workaround. There is a [pull request](https://github.com/collectiveidea/delayed_job_active_record/pull/163) pending. After it got merged (hopefully) we will remove the workaround.

[2018-11-14 11:22] #2343 closed, assigned to thorsteneckel

[2018-11-14 11:26] thorsteneckel commented on #2051
While the core issue of this was that the services were not restarted - the `PG::ConnectionBad: PQsocket() can't get socket descriptor` exception was resolved with issue #2343

[2018-11-14 13:46] Charburner commented on #2346
Additionally I realized, when you disable all checkboxes, you will nevertheless get notification mails for accessible groups.

So for me at least it seems to be more than a "visual" bug. Maybe someone can confirm this behaviour?

[2018-11-14 13:48] thorsteneckel commented on #2346
In latest develop the checkboxes will be re-checked after the "successful" notification is shown. So yes, it's more than visual. We'll have a look 👍

[2018-11-14 14:13] Charburner opened #2351 "Unable to cancel attachment upload"
### Infos:

* Used Zammad version: 2.6.X, 4.1/stable
* Installation method (source, package, ..): rpm
* Operating system: CentOS 7
* Database + version: PostgreSQL 9.2.24
* Elasticsearch version: 5.6.11
* Browser + version: Firefox 63 + Internet Explorer 11.0

### Expected behavior:

* Users should be able to cancel attachment uploads by clicking "cancel upload" while creating tickets or composing

[2018-11-14 15:39] lpar opened #2352 "Zammad won't send e-mail notifications via triggers unless inbound e-mail is set up"
* Zammad Version: 2.7
* Used OS: CentOS 7
* Installation-Type: Yum/RPM
* Ticket-ID: #1030868

I expected customers to get notified by e-mail and web when their ticket was updated, but this turned out not to be the case, so I set up a notification e-mail trigger as per the documentation. However, the log shows:

`I, [2018-11-13T17:21:10.187601 #24017] INFO -- : Unable to send trigger based notifica

[2018-11-14 16:08] andreaci commented on #1314
no, the problem isn't cache-related.
I've seen this problem with a new pc too.
just click a few times on the titles on the left

[2018-11-14 16:18] thorsteneckel commented on #1314
Hi @andreaci - can you please reproduce this in one of our [free hosted instances](https://www.zammad.com/getting-started) instances and tell us the name of the one and how to reproduce it? Thanks!

[2018-11-14 16:22] andreaci commented on #1314
I'll try tomorrow morning!

I just discovered this because I have a "worse" problem.
A customer created a ticket and neither Agents, neither the server admin can access that ticket. But this was just for a wrong group assignment.
![2018-11-14_17-21-59](https://user-images.githubusercontent.com/8290389/48496226-e2264300-e831-11e8-9a5b-2349b4eb27a2.png)

[2018-11-14 18:30] d--j opened #2353 "Chat does not work due to errors in WebSocket (Database connection)"
### Infos:

* Used Zammad version: develop / 2.7.0-1541516430.05f1354
* Installation method (source, package, ..): package
* Operating system: Ubuntu 16.04
* Database + version: Postgres 9.5
* Elasticsearch version: 5.6.13
* Webserver: nginx 1.15.6
* Browser + version: all with WebSocket support

### Expected behavior:

* Chat should work (as Agent or Customer)
* WebSocket messages/events should r

[2018-11-14 20:32] rickalm commented on #325
Bringing this issue back into the spotlight. The address conformation email's coming from Github are now malformed html and as such is causing products like ProofPoint to mangle the email in transit. The desire for plain-text email should once again be reviewed since fragile html formatting causes issues with commercial email filters. I agree it's unreasonable to expect GitHub to regression test a

[2018-11-15 09:28] java-guy commented on #357
Is there any news on the WhatsApp integration?
We are interested in switching to zammad but WA is a must for us.

[2018-11-15 09:47] thorsteneckel commented on #357
Hi @java-guy - cool to hear your interest in Zammad. Unfortunately the WhatsApp integration requires [an external docker service to run](https://developers.facebook.com/docs/whatsapp/guides/installation) which is quite complicated for parts of our user base. We're evaluating ways how to streamline the process. However, our current focus is on the Knowledge Base. Be sure that we will post updates h

[2018-11-15 09:53] #2345 closed, assigned to martini

[2018-11-15 10:39] SEGGER-NV opened #2355 "Forward option default is public and not internal"
### Infos:

* Used Zammad version: 2.6.x
* Installation method (source, package, ..): package
* Operating system: Debian 9
* Database + version: x
* Elasticsearch version: x
* Browser + version: x

### Expected behavior:

* When Forwarding an article from a ticket to e.g. a none zammad group e-mail the forwarded message should be kept internal per default and the external reply as well.
* This is

[2018-11-15 12:59] thorsteneckel commented on #2355
Hi @SEGGER-NV - this is more of a (technical) question. Please refer to the [community board](http://community.zammad.org/) for questions and discussions. The proper use case from my understanding would be to split the ticket and work in the the new ticket (linked) independently. Closing now.

[2018-11-15 12:59] #2355 closed, assigned to nobody

[2018-11-15 13:04] thorsteneckel commented on #2353
Hi @d--j - I don't get it 🤔 I'm not aware of any chat related issues as you describe them here. Can you please reproduce this with one of our [free hosted instances](https://www.zammad.com/getting-started) and let us know the name? That would help. Thanks!

[2018-11-15 13:48] d--j commented on #2353
Hi @thorsteneckel ,

the error does not occur on your hosted instances. Looks like you are using a different way of handling WebSockets than the Zammad package version in Ubuntu 16.04 does. (Maybe it is opening the database connection unconditionally for every socket)

Anyways have a look at my pull request #2354 – The way you handle establishing a database connection (`self.database_connection_re

[2018-11-15 14:26] thorsteneckel commented on #2353
Hi @d--j - thanks for your fast reply but now I'm even more confused. Websocket handling is part of the application context and independent of the OS it's running on. Another thing that confuses me is that it's not reproducible on our hosted instance. I can hardly imagine that this hasn't pop up in any other installation earlier. Maybe there is something different on your setup? Please understand

[2018-11-15 17:01] MrGeneration opened #2356 "Zammad interprets new line with spacing as end of Header"
### Infos:

* Used Zammad version: 2.7
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: n/a

### Expected behavior:

* When having a new line with spacing in between the E-Mail header, Zammad will gladly import and intepret the E-Mail correctly without any trouble.

### Actual behavior:

* When havi

[2018-11-15 23:15] ndom91 commented on #2349
Same problem here btw. The callback URL is correct and the google account under the same email exists and owns the project actually where zammad got its client key + secret.. i tried to find some google logs for IAM / Auth but was not successful.

Is there any way to find logs for auth oauth requests to your project?

[2018-11-16 07:46] thorsteneckel commented on #2356
Hi guys. The mail parsing is done by a third party library named the "[mail](https://github.com/mikel/mail)" gem. However, it behaves correctly since spaces in headers are not allowed. As chesty already stated this is caused by a buggy mailserver which needs to get fixed. We faced this issue only twice over the last 16 years so the priority is pretty low for this. If this change we will surly take

[2018-11-16 07:46] #2356 closed, assigned to nobody

[2018-11-16 07:55] #2330 closed, assigned to martini

[2018-11-16 09:50] MrGeneration commented on #2349
Thanks for posting.
I could verify this with a project that has never had authentication enabled - but:
This is not a Bug.

The cause of this Problem can be found within log/web-1.log:
[code]

You actually need to enable the Google+ API before being able to authenticate users via Google.
I'll be working on a documentation update, as this part of our docs is poorly written. Sorry for the inconvenie

[2018-11-16 09:50] #2349 closed, assigned to MrGeneration

[2018-11-16 10:29] thorsteneckel commented on #540
This will get implemented in the scope of #2074 and is WIP - so I'll close this as a duplicate. Feel free to subscribe to the other issue to get notified about our progress 🚀

[2018-11-16 10:29] #540 closed

[2018-11-16 10:41] SEGGER-NV opened #2357 "User without customer role can still create tickets over webform and e-mail"
### Infos:

* Used Zammad version: 2.6.x
* Installation method (source, package, ..): package
* Operating system:
* Database + version:
* Elasticsearch version:
* Browser + version: Firefox

### Expected behavior:

* If e.g. an unwanted SPAM user is set as inactive and has customer roles removed (also has no other role) he should not be able to create tickets via e-mail or the web form.

### Actua

[2018-11-16 10:44] martini commented on #2357
Just a short note: `inactive != blocked`. There are use cases where you need to create tickets for inactive users. But it seems that we need another attribute to `block` users.

[2018-11-16 12:50] MrGeneration commented on #2351
I could verify this. This applies to develop and also stable 2.7 and seems to impact all Browsers.

As far I can tell the events are linked and there, I guess this is rather a layer problem.
I added a hover function to check if a normal hover works - it does not.

Edit: I can't find the cause of this :(

![image](https://user-images.githubusercontent.com/6549061/48622314-a3fe6000-e9a6-11e8-9012-63

[2018-11-16 13:18] infestdead commented on #2349
Thanks, I can confirm that after enabling the Google+ API - now it works as expected.

[2018-11-16 15:05] SEGGER-NV opened #2358 "If ticket gets created via e-mail, Zammad creates accounts for all people on To: and CC:"
### Infos:

* Used Zammad version: 2.6.x
* Installation method (source, package, ..): package
* Operating system: Debian 9
* Database + version: x
* Elasticsearch version: x
* Browser + version: x

### Expected behavior:

* When a customer opens a ticket by writing to the set up ticket e-mail only the FROM: entry should create a Zammad user.

### Actual behavior:

* Zammad creates user profiles fo

[2018-11-16 15:48] hanneshal commented on #2358
Hi,

interesting topic.
Some questions regarding this:

Where do you see the difference to let's say an Exchange server which stores an E-Mail? We do not store any other information related to this.
Why do you see the consent on the side of the receiver and not on the side of the sender?

We move those conversations out of the issue tracker until we got a solution.
So I created a thread here:
http

[2018-11-16 15:48] #2358 closed, assigned to hanneshal

[2018-11-16 16:43] MrGeneration commented on #2352
Hannes and I think this is a bug - a trigger should fallback to notification E-Mail if neceassry to ensure "notifications" made by a trigger can be send.

This also applies to a customer Ticket: #1030868

[2018-11-16 18:04] martini commented on #2353
Update: Thank @d--j - I added some tests to your PR. It's currently on our CI.

-=> Bugfix is on the road. Thanks for your support! 😻 👍🏻

[2018-11-16 19:41] lpar commented on #2352
Thanks. For now I've worked around it by installing an IMAP server and setting up a fake account.

[2018-11-17 06:44] martini commented on #2353
@d--j thanks a lot! It's fixed now in develop and stable. 😻🤓👌

[2018-11-17 06:44] #2353 closed, assigned to martini

[2018-11-19 09:23] martini commented on #2031
Update: Maybe I was able to reproduce it. It looks not 100% like in opening screenshot. But very similar. Follow the following steps to reproduce it:

1) Resize your browser window to 1400x800.
2) Click on a new overview where tickets in it
3) Resize the columns.
4) Resize the browser window to 1024x800.
5) Wait until the table is re-rendered (e. g. let an agent close tickets in it).

The result i

[2018-11-19 12:06] xf- commented on #2031
This is the same issue. Depends a little bit on different screen/window sizes and after starting breaking it will get worse. But i never found a way to reproduce.

[2018-11-19 12:08] martini commented on #2031
@xf- do you "resize" the browser window?  I only can reproduce it this way. But it seems that nobody was using "resize" the browser window.

[2018-11-19 12:22] xf- commented on #2031
i never touched the columns. Sometimes it happens 3 times a day, next time it happens once a month. I often tried to reproduce it, but never found a way.

[2018-11-19 13:57] martini commented on #2031
@xf- Thanks for feedback. Do you use bulk action or macros from overview?

[2018-11-20 08:59] nk-Zammad opened #2360 "delete signatures by the admin"
### Infos:

* Used Zammad version: 2.7 (and develop)
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: applies to all Browsers

### Expected behavior:

* it is expected that in the Admin Interface under Channels-> E-Mail-> Signature
The signature can be deleted by the Customer himself.

### Actual be

[2018-11-20 11:36] thorsteneckel commented on #1773
One case we need to cover/evaluate is the Microsoft ActiveDirectory (AD) specific logic of a "primary Group". Users assigned to this AD specific group can't get mapped accordingly to the configured LDAP group <-> Zammad Role mapping because they are not fetch-able in the generic fashion as other groups are. This process of finding this out is described in a [community thread](https://community.zam

[2018-11-20 13:55] marcseguin commented on #294
The described way worked fine for me as well. Would be good to have a "Z-Order" field at the GUI

[2018-11-20 15:41] MrGeneration opened #2361 "Can't choose login attribute in Exchange mapping"
### Infos:

* Used Zammad version: 2.7
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: n/a
* Ticket-ID: #1053108

(The following mainly applies to Exchange-Sync - I'm not sure if it makes any sense to add this to LDAP-Syncs to as normally, you have a valid Login-Attribute inside of LDAP)

### Expec

[2018-11-20 16:25] SEGGER-NV opened #2362 "Attached text files get prepended on e-mail reply instead of appended."
### Infos:

* Used Zammad version: 2.7.0
* Installation method (source, package, ..): package
* Operating system: Debian 9
* Database + version: x
* Elasticsearch version: x
* Browser + version: Firefox

### Expected behavior:

* When attaching text files (e.g. .txt, .c, .h, ...) to an e-mail reply the attachment should be appended like it usually does for archives and pictures.

### Actual behavi

[2018-11-20 17:51] xf- commented on #2031
I don't use bulk (because i can't tag stuff - e.g. select all spam/newsletter and tag as spam -> delete task handles the rest). Macro in overview is the drag and drop stuff? No, because i always forget about tat feature.

[2018-11-20 17:59] xf- commented on #2031
I found a way how to reproduce my issue.
- deleted all storage (firefox)
- force reload
- make the window smaller as initial size and i get an scroll bar. (increase the size and resource it to old one works).

I use a multi monitor setup with different resolutions and ppi.

[2018-11-21 03:38] rlue opened #2363 "Logs flooded with article autosave data"
**Note:** This issue was diagnosed internally by the Zammad development team, and so omits the usual bug report template.

Zammad auto-saves drafts of new articles every 10 seconds. The content of these drafts is submitted in an AJAX request and recorded in the development server logs, which in some cases leads to rather extreme log bloat.

This is not a bug or malfunction in a strict sense, but i

[2018-11-21 09:08] casusbelli opened #2364 "URL containing + symbols are mangled upon click to open"
### Infos:

* Used Zammad version: 2.5 (but i did not find this issue in the change log)
* Installation method (source, package, ..): not relevant
* Operating system: not relevant
* Database + version: not relevant
* Elasticsearch version: not relevant
* Browser + version: Google Chrome Version 70.0.3538.77 (Offizieller Build) (64-Bit)

### Expected behavior:

* Adding an URL containing a '+' symb

[2018-11-21 10:37] #2363 closed, assigned to rlue

[2018-11-21 13:32] SEGGER-NV commented on #2357
Hello,

Thank you for clarifying the inactive state.
A blocked state would be highly appreciated.

[2018-11-21 14:42] MrGeneration commented on #2364
This is a duplicate of #2283

[2018-11-21 14:42] #2364 closed, assigned to nobody

[2018-11-21 14:49] MrGeneration opened #2365 "Sporadic 502 Bad gateways with correct working Zammad"
### Infos:

* Used Zammad version: 2.7, develop and earlier
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: n/a

### Expected behavior:

* Every request going to nginx and thus Zammad will work with 200.

### Actual behavior:

* Sometimes (quite hard to reproduce and find), nginx and even apache wi

[2018-11-21 16:29] xf- commented on #2074
@martini could you post a query (cli) to delete all users (group customer) without tickets. I use the scheduler to delete tickets marked as spam, but can't delete users. I found no example in docu for suers.
https://docs.zammad.org/en/latest/admin-console.html

[2018-11-22 01:33] #2262 closed, assigned to rlue

[2018-11-22 05:14] uli-heller opened #2366 ""Warten auf Erinnerung" - Inconsistent timestamps"
### Infos:

* Used Zammad version: 2.7.0
* Installation method (source, package, ..): source
* Operating system: ubuntu 18.04
* Database + version: mariadb
* Elasticsearch version: -
* Browser + version: chrome latest

### Screenshot:

![image](https://user-images.githubusercontent.com/1677414/48882970-a8e76780-ee1d-11e8-9db3-5f8d79f0dcea.png)

### Expected behavior:

* Current time: 6 am
* Warten

[2018-11-22 05:27] uli-heller opened #2367 "Open Ticket List: Sort by "warten bis" - tickets containing a date show up within the middle"
### Infos:

* Used Zammad version: 2.7.0
* Installation method (source, package, ..): source
* Operating system: ubuntu-18.04
* Database + version: mariadb
* Elasticsearch version: -
* Browser + version: -

### Screenshot:

![image](https://user-images.githubusercontent.com/1677414/48883307-80606d00-ee1f-11e8-9968-a724d1230c14.png)

### Expected behavior:

* All tickets having a "Warten bis" date

[2018-11-22 05:35] uli-heller commented on #2366
I just realized that I received a notification email ~5 hours ago (at 1am). Maybe due to some kind of escalation mechanism?

The email says this:

* Subject: Warten auf Erinnerung erreicht! (Test-Anforderung von Uli mit erweiterter Follow-Up-Erkennung) [Ticket#26375]
* Body:
[code]

So probably no escalation...

[2018-11-22 06:58] martini opened #2368 "On large database indexes at missing"
### Infos:

* Used Zammad version: 2.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Super fast Zammad

### Actual behavior:

* Database is consuming much CPU time as expected

### Steps to reproduce the behavior:

* Use a production database with about 80 agents an

[2018-11-22 07:44] thorsteneckel commented on #2366
Hi @uli-heller - I'm not sure yet if this is really a bug or a technical question. To figure this out we need so dig deeper and I need some more information from you. However, for each comment we write on this an email to more than 100 people is send. So please create a thread in the [community board](http://community.zammad.org/) with all the information in place, mention me via @thorsteneckel an

[2018-11-22 07:47] uli-heller commented on #2157
For #2366, the action happened at 1am today, so 0am UTC seems to fit for both of them...

[2018-11-22 07:53] thorsteneckel commented on #2366
Oh I haven't read the #2157 in detail - this is actually a duplicate. Therefore closing now.

[2018-11-22 08:55] der-manu commented on #2074
Hello and good morning.
I ran ito the same problem, I Imported a bunch of users and got some fields mixed up. So having a rails comnmand to delete all users whom are not involved in any ticket would help me out. So I am asking like xf- @martini if he could provide a fancy sniplet.

[2018-11-22 09:08] rlue commented on #2074
@xf- and @der-manu, please confirm with Martin before trying this, but I believe the following query should return all ticketless customers:

[code]

This is missing all sorts of safety checks we'll be applying in production. If you're willing to manually confirm the deletion of each single user, [here's a little script you can use](https://gist.githubusercontent.com/rlue/3423aa71ca14aa5266d3436d6

[2018-11-22 09:43] thorsteneckel commented on #2362
I can verify this. See attached mail send via Ticket#1031042.

[PrependedTextAttachmentBug.eml.zip](https://github.com/zammad/zammad/files/2607417/PrependedTextAttachmentBug.eml.zip)

[2018-11-22 10:10] der-manu commented on #2074
-> User.with_permissions('ticket.customer').where('id NOT IN (SELECT customer_id FROM tickets)')

this gives a correct output, if put in rails console.
The script you provided (thanks a lot), but I cannot get it running.

[2018-11-22 10:36] rlue commented on #2074
I'm happy to work through the problems in the script with you. Do you get _any_ output? Does it at least print how many ticketless customers are in the system?

---

Alternately, if you're in a big hurry and you're **110% sure** you want to delete all of the users given by that original query, adding `.each(&:destroy)` to the end of it will do.

But 1) this might fail halfway through if some of yo

[2018-11-22 10:42] rlue commented on #2074
**WARNING:** Please make sure you make a backup of the database and know how to restore it before following any of my advice, just in case things go wrong. Deleting records in bulk via the console is dangerous, and even little typos can cause big problems.

[2018-11-22 11:09] chrstmnn opened #2369 "Being unauthorized"
### Infos:

* Used Zammad version: 2.7
* Installation method (source, package, ..): rpm
* Operating system: CentOS
* Database + version:
* Elasticsearch version:
* Browser + version: Safari

### Expected behavior:
* Added a second group
* Changed the role "agent" so that agents have full rights to access both groups
* Changed agent users to have full rights for both groups
* Agent should be able t

[2018-11-22 11:15] chrstmnn commented on #2369
Issue can be closed.

Being in maintenance mode prevents the admin to log in as an agent, wherefore I cannot watch tickets as an agent.

[2018-11-22 11:16] #2369 closed, assigned to nobody

[2018-11-22 11:21] MrGeneration commented on #1596
Bouncing the E-Mail would solve the problem for the agent, but has to be supported by the E-Mail-System.

@Megachip  we have no news on this topic.

[2018-11-22 11:31] MrGeneration opened #2370 "Zammad ignores FROM-Name on quoting and uses customer name instead"
### Infos:

* Used Zammad version: 2.7
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: any
* Ticket-ID: #1031014

### Expected behavior:

* When a customer writes from a group-E-Mail-Address (e.g. another Ticket-System or just a E-Mail-Address like info@comany.tld), Zammad will use the FROM-Name of

[2018-11-22 13:19] SEGGER-NV commented on #2319
Hi,

Quick update on this topic. We now updated to 2.7.x and I hoped the issue was gone. However for that particular signature the issue persisted.
So I created a clone of the first signature and voila the clone works.
We are now using the clone instead, no idea what went wrong there with the initial one.
But from our perspective everything is fine now.

[2018-11-22 13:22] LoganRocks commented on #434
im getting the same issue. its showing the nginx default page and i edited the config from localhost to my server fqdn

[2018-11-22 13:40] MrGeneration opened #2371 "Zammad misses "weeks" for relative time events"
### Infos:

* Used Zammad version: 2.7 & current develop
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: any
* Ticket-ID: #1031046

### Expected behavior:

* When setting any filter that offers relative time filtering (e.g. relative 5 days ago), you can also select weeks if needed.

### Actual beha

[2018-11-22 14:25] thorsteneckel commented on #434
Hi @lferezy4 - this issue was closed nearly 2 years ago and we never heard of something similar. So this is more a technical question for an issue in you local setup rather than an issue in Zammad. Pleas refer to the [community board](http://community.zammad.org/) for technical questions.

[2018-11-23 09:30] der-manu commented on #2074
Yeah, thanks a lot, this helped me out. Implementing a housekeeping section into zammad is a pretty great idea.

[2018-11-23 12:15] SummerStorm commented on #2298
@martini and I had a discussion over this. Currently whenever an organization is updated, all associated tickets are updated as well, thus causing this "incorrect" search result.

All associated tickets are currently updated as a band-aid fix to another issue (let's call it issue B): if you have an overview open with the Organization column visible, an update to the organization isn't reflected in

[2018-11-23 14:10] Dental-SW-Support commented on #1066
++
See it in the same way as gwingend.
We work with few agent teams, so it is confusing for some agents, to see all the text modules and macros that they don't, but other team use .

[2018-11-23 14:55] mrflix commented on #2067
Fixed in 0db8c28bd57b7cad7deb8d96e08c618dd34b8692:

![screen shot 2018-11-23 at 15 54 51](https://user-images.githubusercontent.com/60777/48949416-2bfce080-ef38-11e8-99ec-b079513057c3.png)

[2018-11-23 14:55] #2067 closed, assigned to mrflix

[2018-11-23 16:00] thorsteneckel opened #2372 "Unprocessable broken mail (without From, To and Body)"
### Infos:

* Used Zammad version: 2.7.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Unprocessable broken mail (without From, To and Body) should get logged and ignored

### Actual behavior:

* Unprocessable broken mail (without From, To and Body) is just unproces

[2018-11-24 01:53] RihanArfan opened #2373 "Zammad fails to seed/migrate translations while installing on MariaDB 10.3"
### Infos:

* Used Zammad version: Latest from Ubuntu DEB
* Installation method (source, package, ..): Package (Ubuntu 16.04 as I don't think 18.04 is compatible)
* Operating system: ubuntu 16.04.5 LTS
* Database + version: MariaDB 10.3.10
* Elasticsearch version: Latest
* Browser + version: Chrome

### Expected behaviour:

* Seeding and migration just fine without any errors.

### Actual behaviou

[2018-11-24 02:04] RihanArfan commented on #2373
I've also tried the following and have received these errors. https://file.properties/paste/vugokulipi

[2018-11-24 02:23] RihanArfan commented on #2373
Alright, I've sorted the issue. I deleted the database and ran the command to allow Zammad to create it, which is `zammad run rake db:create`, and that has ensured that tables are all UTF8 collation.

Thank you all for the amazing piece of software.

[2018-11-24 02:23] #2373 closed, assigned to nobody

[2018-11-24 12:16] thorsteneckel commented on #2373
Hi @LeCodeCo - very cool that you figured out things yourself AND shared how here 👍 Would be cool though if you could ask technical questions over at the [community board](http://community.zammad.org/) first - Thanks!

[2018-11-24 14:38] RihanArfan commented on #2373
Ah, sorry.

I thought that the import database stuff would be more of a bug than a technical question and the issue template mentioned that other than that, everything else should be on the community board if I remember correctly.

[2018-11-26 10:14] MrGeneration commented on #1066
Locked conversation.
Please upvote the first entry if you want to tell us how important the Feature is.

Replies cause a lot of noise to over 1000 viewers. :(

[2018-11-26 14:19] SummerStorm commented on #2298
Just a quick update: @martini and I decided to go with Proposal 1.

Currently, updates to User, Organization, and Ticket triggers updates to neighborhood objects. We're limiting Proposal 1 to only changing the update behavior of User and Organization.

The update behavior of Tickets will stay the same, i.e. updates to a Ticket will touch its neighborhood User and Organization objects. We found thi

[2018-11-26 17:18] martini opened #2374 "Unable to process html email with 2k links in an acceptable time"
### Infos:

* Used Zammad version: 2.7
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Process emails fast.

### Actual behavior:

* CPU time takes 100% for several minutes

[2018-11-27 12:36] thorsteneckel opened #2375 "OTRS import fails for DynamicFields of Type Dropdown without possible values"
### Infos:

* Used Zammad version: 2.7
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* DynamicFields of type Dropdown without a value for the Attribute `PossibleValues` should be skipped.

### Actual behavior:

[code]

### Steps to reproduce the behavior:

* Try to im

[2018-11-28 10:07] nk-Zammad opened #2376 "authorization error"
### Infos:

* Used Zammad version: 2.7.x
* Installation method (source, package, ..):
* Operating system:
* Database + version:
* Elasticsearch version:
* Browser + version: Safari, Chrome, Firefox

### Actual behavior:
Agent 1 only got full permissions for group 1
Agent 2 only got full permissions for group 2

Agent 1 creates a template and does not want to define a group. This is by default also

[2018-11-28 10:57] MrGeneration opened #2377 "check_mk : Recognize E-Mail follow ups on tickets (like Nagios)"
### Infos:

* Used Zammad version: 2.7.x
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: n/a
* Ticket-ID: #1031272

### Expected behavior:

* When sending a E-Mail about Service problems regarding the same system, Zammad will append a new article to the same ticket, if the state of the host changes

[2018-11-28 11:38] thorsteneckel commented on #2377
Can we have two example mails for this? Because CheckMK works in general. Seems to be specific for the affected mails.

[2018-11-28 13:38] MrGeneration commented on #2376
This affects Ticket#1031263 and is a potential "security" issue.

[2018-11-28 13:52] SummerStorm opened #2378 "Email full quote header is in English when on a German locale"
### Infos:

* Used Zammad version: 2.7
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

For a German system, the quote header should say in German: "Am Mittwoch, 28. November 2018, 15:00:00, schrieb John:"

### Actual behavior:

On a German system, the quote header, inco

[2018-11-28 14:01] MrGeneration opened #2379 "Zammad ignores group mapping on Telegram if same sending user"
### Infos:

* Used Zammad version: 2.7.x (develop and earlier)
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: n/a
* Ticket-ID: #1031396

### Expected behavior:

* When using more than one Telegram Bot with each having it's own group, a Telegram User can write both Bots in two different tickets wit

[2018-11-28 14:04] SummerStorm commented on #2378
Duplicate of #2344

[2018-11-28 14:04] #2378 closed, assigned to SummerStorm

[2018-11-28 14:23] Fischmue commented on #2257
Hello Thorsten,

do you have any new information about this bug?

[2018-11-28 21:52] kwoodVisions commented on #2229
Any updates on when this will be listed as "In Progress"?

[2018-11-29 07:38] thorsteneckel commented on #2229
Hi @kwoodVisions - our focus is currently on the knowledge base. It's done when it's done

[2018-11-29 10:31] MrGeneration commented on #2377
You can find sample-E-Mails of the customer in his Ticket: #1031272

[2018-11-29 11:48] pouyana commented on #2222
Maybe it could help:

I tried to import 120,000 tickets twice: once with having the attachments written in the database, and once with them writing to the storage (files).

1 )The first attempt with writing in the database crashed after some work as said above. (Memory Exhaustion)
2) Writing attachments on the storage on the other hand, the import memory usage stays at most 1-3 GB which is reasona

[2018-11-29 12:31] MrGeneration commented on #445
Also applies to Ticket#1031292 and would be an awesome enhancement. :)

[2018-11-29 18:00] kwoodVisions commented on #2229
That's fine - thank you for the response.  I'll post some updates for the knowledge base in regards to spelling/corrections in the documentation and will add what I can to help enhance it.

So far, great software - I may end up digging into the code to see if I can offer any assistance there.

[2018-11-29 20:05] noezdev opened #2381 "No new Twitter DMs"
Since a few days we cannot receive new twitter direct messages:

In monitor it shows:

- Channel: Twitter::Account in key:{"id"=>XYZ, "screen_name"=>"XYZ", "name"=>"XYZ"}; Can't use stream for channel (17): Twitter::Error::NotFound
- 12 failing background jobs
- Failed to run background job #1 'BackgroundJobSearchIndex' 10 time(s) with 240 attempt(s).

Twitter mentions  are not affected.

[2018-11-30 07:20] thorsteneckel commented on #2381
Hi @noezdev - this is a duplicate of #2023. We're in the final phase of the required changes and the fix will be available very soon.

[2018-11-30 07:20] #2381 closed, assigned to nobody

[2018-11-30 09:14] KoJie opened #2382 "Option to switch the Full-Quote-Text on and off"
### Infos:

* Used Zammad version: 2.7
* Installation method: hosted
* Browser + version: Chrome 70.0.3538.102 / Safari Version 12.0.1

### Expected behavior:

* It should be possible to set (for the entire instance)whether the line for the Full-Quote-Text ( "on 11th September 2018, 1:15PM, Peter Parker wrote" -) should be displayed or not.
* As a suggestion, this option could be added in the sett

[2018-11-30 12:04] brianclemens commented on #1162
Having this would be really helpful.  It's a pain to remind people to file tickets for regularly scheduled tasks.

[2018-11-30 13:03] monotek commented on #1162
Creating such tickets from some Calendar (Google for example) would be cool too...

[2018-11-30 13:36] eaglecopter commented on #1336
Hi @martini
I don't get it, it just doesn't work.

v2.7.x
Ctrl+Alt+h doesn't work either to see the shortcuts for text formatting (from here https://github.com/zammad/zammad/issues/815)

[2018-11-30 15:18] gwingend commented on #1162
I would like to see that in zammad too!

But in the meantime you can use the mail2ticket feature.
Create a cronjob that sends a mail to zammad.

November 2018 um 14:03:
Creating such tickets from some Calendar (Google for example) would be
cool too...
—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
( https://github.com/zammad/zamm

[2018-11-30 16:22] irq0 opened #2383 "No Error Message on Failed Uploads"
### Infos:

* Used Zammad version: 2.5.x
* Installation method (source, package, ..): source
* Operating system: CentOS 7
* Database + version:
* Elasticsearch version:
* Browser + version: Chromium Version 70.0.3538.77 (Official Build) Built on Ubuntu , running on Ubuntu 18.04 (64-bit)

* Context:
  * We limit the max upload size in our front end Apache with mod-security
  * Uploads > 50M get a 4

[2018-11-30 18:02] MrGeneration opened #2384 "Selfsigned SSL certificate doesn't work with Exchange sync"
### Infos:

* Used Zammad version: 2.7.x
* Installation method (source, package, ..): rpm
* Operating system: openSuSe
* Database + version: PostgreSQL 10.6
* Elasticsearch version: 5.6.13
* Browser + version: Google Chrome 70
* Ticket-IDs: #1030778, #1040440

### Expected behavior:

* When trying to setup an Exchange-Sync with a self signed Exchange-Certificate (default installation, nothing chan

[2018-11-30 18:03] MrGeneration commented on #1336
Please don't recycle closed github issues and point support requests to our community board:
https://community.zammad.org

[2018-11-30 21:31] kwoodVisions commented on #2229
I'm interested in looking at the code for this page and how I can help improve it.  I'm assuming it's the javascript that's the issue, or perhaps more specifically the coffeescript.

Besides calendar.coffee, are there any other files you can point me to that may deal with the calendars so I can review to further investigate this issue?

[2018-12-01 12:02] #2368 closed, assigned to rlue

[2018-12-03 00:06] gabrielschmith opened #2385 "Problems with default Locale"
### Infos:

* Used Zammad version: 2.7.0
* Installation method (source, package, ..): docker
* Operating system: macOS High Sierra
* Database + version:
* Elasticsearch version:
* Browser + version: Google Chrome - Version 70.0.3538.110 (Official Build) (64-bit)

### Expected behavior:

* Should respect the default locale set in the settings.

### Actual behavior:

* When starting the application

[2018-12-03 06:22] martini commented on #1973
Hi @MrGeneration

this behaviour should only be happen if the sender account of the tweet/dm is configured as twitter channel in Zammad.

It would be nice if you could verify this with Zammad 2.8 again.

Thanks!

 -Martin

[2018-12-03 11:11] lcx commented on #330
+1 on markdown. Already using lot's of markdown, I could live with the existing solution if there was something for code

[2018-12-03 11:16] sinichi19 opened #2386 "Chat Enabled Question"
* Used Zammad version: 2.7.0
* Installation method (source, package, ..): package
* Operating system: Ubuntu 16.4

Fresh installed of zammad and Im new of using it, I enabled the chat in the admin settings but where can i find the chat area when one of my agent and customer log in i saw only a blank page and only saw active 2 agents where can I start using the chat area?

Im not a developer and on

[2018-12-03 11:18] thorsteneckel commented on #2386
Hi @sinichi19 - please refer to the [community board](http://community.zammad.org/) for (technical) questions. Thanks.

[2018-12-03 11:18] #2386 closed, assigned to nobody

[2018-12-03 11:58] martini commented on #628
Since twitter tweet limit has changed from 140 to 280 chars I guess it's not needed anymore.

If you feel it's still needed, just reopen this issue. Thanks!

 -Martin

[2018-12-03 11:58] #628 closed

[2018-12-03 12:46] thorsteneckel commented on #2385
Hi @gabrielschmith - I'm not sure that this is an actual issue. Let's make sure it's not a technical in the [community board](http://community.zammad.org/) first. Please create a thread over there and mention me via @thorsteneckel and I'll have a look.
Can you run `App.i18n.detectBrowserLocale()` in the JavaScript browser console of the window which is translated to Czech and post in the thread wh

[2018-12-03 12:46] #2385 closed, assigned to nobody

[2018-12-03 13:57] bmaurizio opened #2387 "Error mail reply"
Used Zammad version: 2.7.x
Operating system: Ubuntu 16.04

Hi community,
The account email in zammad doesn’t work for me,
first I thought it was a mail problem but when I tried with another email the problem has not changed.
Essentially when I receive an email, zammad places it in the system, but when I answer or change the status of the ticket, zammad does not send email to the user’s mail.
When

[2018-12-03 14:23] thorsteneckel commented on #2387
Hi @bmaurizio - I already saw [your post](https://community.zammad.org/t/account-email-sender-not-work/1661/5) in the [community board](http://community.zammad.org/). Please respect the time of other people. We're giving our best to get the most value for all of the Zammad users out there from the time we have.
If your problem is as urgent as it seems consider our [commercial support](https://zamm

[2018-12-03 14:23] #2387 closed, assigned to nobody

[2018-12-03 14:41] #2023 closed

[2018-12-03 16:01] MacLemon commented on #2283
Reopening:
The problem still exists in 2.6 and 2.7. (Haven't yet updated to 2.8.)

[2018-12-03 16:17] mrflix commented on #1832
6d4b039 fixed this issue. The text modules dropdown now appears at the correct position.

[2018-12-04 07:36] #2374 closed, assigned to martini

[2018-12-04 10:25] MrGeneration commented on #2283
Can you please verify this on an hosted instance? ( https://zammad.com/getting-started )

Also, plese take a look at my remarks, as we can't entirely reproduce this.

[2018-12-04 13:04] #2344 closed, assigned to SummerStorm

[2018-12-04 15:06] sinichi19 opened #2388 "Macro not work in pending state"
## Infos:

* Used Zammad version: 2.8.0
* Installation method,-package
* Operating system: ubuntu 16.04

### Expected behavior:
Created macro to add tag and  auto change the state to pending reminder

(Like closed and tag spam)

### Actual behavior:
Added the tag successfully but not change the state to pending reminder to set the date.

Im new using zammad and Im not familiar if this behavior is

[2018-12-04 18:36] MrGeneration opened #2389 "Enhance LDAP login to not affect "failed logins""
### Infos:

* Used Zammad version: 2.8.x
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: n/a
* Ticket-ID: #1033303, #1042723, #1083478, #1083661

### Expected behavior:

* When a ldap user (without a internal password) logging in (with wrong credentials or the LDAP-Server is not accessible at the m

[2018-12-04 19:46] MacLemon commented on #2283
As per your remarks: Do your favourite Email Clients, display the HTML MIME Part of the messages sent out by Zammad? The problem only exists in the HTML part in the <a> tag itself, but not in the Text/Plain MIME part.
Also I really don't see any reason why our self-hosted instance should generate any different emails than your hosted ones (unless you're running a patched version).

Just for comple

[2018-12-05 08:48] thorsteneckel commented on #2388
@MrGeneration - could you please verify this when you have the time?

[2018-12-05 08:52] Premyslaw commented on #574
+1 for this Feature

[2018-12-06 08:34] #945 closed

[2018-12-06 08:36] thorsteneckel commented on #945
This is fixed now and will be part of the next stable release - Thanks to @mrflix.

<img width="815" alt="screen shot 2018-12-04 at 09 43 03" src="https://user-images.githubusercontent.com/3873515/49571708-50928880-f93a-11e8-8ec2-ad680589459a.png">

[2018-12-06 09:56] SummerStorm opened #2390 "Add a postmaster filter to not show emails with potential issue - Display a security message instead"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): source
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

Display a security message  for emails with potential security related content with a note why Zammad was identifying this (e. g. because of unusual amount of external links).

Exa

[2018-12-06 10:37] rolfschmidt opened #2391 "Wrong file size calculation in monitoring controller (postgres only)"
### Infos:

* Used Zammad version: 2.8.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

Hi,
in case of using postgres the monitioring controller will return the wrong result for the summarized file size calculation of the stored files:

https://github.com/zammad/zammad/blob/80c7dec6246a3adb90

[2018-12-06 14:37] #2391 closed, assigned to rolfschmidt

[2018-12-07 10:40] sinichi19 opened #2393 "Error: Outbound only Email Setup"
* Used Zammad version: 2.8.0 (updated today)
* Installation method : package,
* Operating system: Ubuntu 16.04

### Expected behavior:
Adding our email SMTP settings for the outbound setup only.

"“SMTP Settings IBM Domino Server - Email”"

### Actual behavior:
ERROR:
502 Command “AUTH PLAIN AGljdGR0ZXN0bWFpbEBsYXVzZ3JvdXAuY29tLnBoADEyMzQ1Njc4” not implemented

Any Idea? i dont know if this a bug

[2018-12-07 10:49] martini opened #2394 "Jump to bottom after article has been created to show that the article has been saved."
### Infos:

* Used Zammad version: 2.8
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

![after-ui-new-article](https://user-images.githubusercontent.com/110226/49643441-01218a80-fa16-11e8-8630-958d41bcd21d.gif)

### Actual behavior:

![before-ui-new-article](https://use

[2018-12-07 12:14] martini opened #2395 "Search term is deleted after I opened a object/ticket"
### Infos:

* Used Zammad version: 2.8
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Keep search term after I opened a object/ticket (as it was in Zammad 2.7 and earlier)

### Actual behavior:

* enter "abc" as search term in global search
* open ticket
* I recognis

[2018-12-07 13:06] MrGeneration opened #2396 "LDAP integration page blank after deleting role"
### Infos:

* Used Zammad version: 2.8
* Installation method (source, package, ..): rpm
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: Firefox (current)
* ~~Ticket-ID: #1032485~~ (problem does not affect customer any further)

### Expected behavior:

* When going into LDAP-Integration, you can see the LDAP-Settings and if needed, change settings

[2018-12-10 14:29] martini commented on #2031
Hi all,

any feedback would be welcome if you still have the issue in Zammad 2.8.

Thanks!

 -Martin

[2018-12-10 14:30] #2394 closed, assigned to martini

[2018-12-10 17:33] #2395 closed, assigned to martini

[2018-12-11 08:08] martini opened #2397 "Unable to process emails without From (but with Sender) header."
### Infos:

* Used Zammad version: 2.8
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Process email if from header is missing but sender header exists.

### Actual behavior:

* `"ERROR: #<NoMethodError: undefined method `match?' for nil:NilClass>"`

### Steps to repr

[2018-12-11 09:19] MrGeneration opened #2398 "Missing custom object in database causes error on export in time_accounting"
### Infos:

* Used Zammad version: 2.8 & develop (current)
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: n/a

### Expected behavior:

* When exporting a CSV-File on Time-Accounting or Reporting while having a not applied custom object (yet), Zammad will ignore this field and just export the CSV c

[2018-12-11 09:33] #2397 closed, assigned to martini

[2018-12-11 13:53] sinichi19 commented on #2388
If I may, any update Sir's

Thank you

[2018-12-11 13:53] #2393 closed, assigned to nobody

[2018-12-11 14:12] MrGeneration opened #2399 "Attached images are broken on trigger reply with #{article.body_as_html}"
### Infos:

* Used Zammad version: 2.8 & develop
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: n/a

### Expected behavior:

* When sending a E-Mail (with inline image) to a Zammad-System that has an trigger configured with `#{article.body_as_html}` , the Trigger reply will contain the image.

###

[2018-12-11 15:09] #1807 closed

[2018-12-11 15:10] kevin-olbrich opened #2400 "It seems you're running an external Elasticsearch server on http://localhost:9200"
### Infos:

* Used Zammad version: 2.8.0 (just upgraded from 2.6.0)
* Installation method (source, package, ..): EL7 package
* Operating system: CentOS 7
* Database + version: PostgreSQL, latest from EPEL
* Elasticsearch version: 5.6.12 / 5.6.13
* Browser + version: -/-

### Expected behavior:

* Upgrade should succeed

### Actual behavior:

[code]

### Steps to reproduce the behavior:

* Not sure

[2018-12-11 15:16] #2365 closed, assigned to MrGeneration

[2018-12-12 07:42] przemkiemzwany commented on #1096
Hi,
when i try delete user i have a error:

_irb(main):012:0> User.find_by(login: 'auto-1544538958-738075').destroy
Group.find(2) notify TOUCH 2018-12-12 07:27:15 UTC
User.find(327) notify TOUCH 2018-12-12 07:27:15 UTC
# curl -X DELETE "http://127.0.0.1:9200/redmine_zammad_production/StatsStore/7"
# 404
Unable to process DELETE request to elasticsearch URL 'http://127.0.0.1:9200/redmine_zammad_pro

[2018-12-12 07:56] thorsteneckel commented on #1096
Hi @przemkiemzwany - please refer to the [community board](http://community.zammad.org/) for technical questions and don't answer (long) closed and resolved issues - thanks!

[2018-12-12 09:05] #2264 closed, assigned to mrflix

[2018-12-12 10:55] chessmango commented on #849
In my own use-case, I've found need to do menial tasks like re-open closed tickets using Rails when people have made mistakes - this might be a little trickier when both the URL and the in-page ticket are the same while the 'authoritative' ID is different. Recently noticed that mine don't match up, which at the moment isn't much of an issue

[2018-12-12 11:20] thorsteneckel commented on #2388
Dear @sinichi19,

first of all, many thanks for your participation on the Zammad open source project.

Not usual as with proprietary software, we finance Zammad through service. So it's less money we have at our disposal to push Zammad.

If you would like to support Zammad, you can do so via Zammad Support: https://zammad.com/pricing#selfhosted

For all issues it is generally important that we tag

[2018-12-12 15:08] MrGeneration opened #2401 "Umlaut-Domains are not converted to ACE-Format during sendout"
### Infos:

* Used Zammad version: 2.8 and develop
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: n/a
* Ticket: #1086130

### Expected behavior:

* When adding a user with an Umlautdomain in his E-Mail-Address and writing him a E-Mail, Zammad will convert the domain part to ACE-Format before tryin

[2018-12-12 15:26] MrGeneration opened #2402 "ACE-Strings aren't converted to IDN-String in Artikel-Info"
### Infos:

* Used Zammad version: 2.8 & develop
* Installation method (source, package, ..): n/a
* Operating system: n/a
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: n/a
* Ticket: #1086130

### Expected behavior:

* When receiving E-Mails from Umlaut-Domains, Zammad will display the E-Mail-Address to IDN-Format, if the Address is in ACE-Format.

### Actual behavior:

[2018-12-12 17:32] rkaldung opened #2403 "E-mail content can't be access (winmail.dat)"
### Infos:

* Used Zammad version: develop
* Installation method (source, package, ..): source
* Operating system: CentOS 7
* Database + version: PostgreSQL 9.5
* Elasticsearch version: 5
* Browser + version: any
* Ticket-ID: #1057853, #1078916, #10156723

### Expected behavior:

* The complete e-mail content can be read.

### Actual behavior:

* In some e-mails, usually from MS Outlook, the conte

[2018-12-12 17:36] monotek commented on #2403
Sounds familiar to me :D
https://bugs.otrs.org/show_bug.cgi?id=4639

[2018-12-13 08:57] thorsteneckel commented on #318
Closing in favor of #1262 - which will be used for the "dynamic forms" functionality.

[2018-12-13 08:57] #318 closed

[2018-12-13 08:57] thorsteneckel commented on #684
Closing in favor of #1262 - which will be used for the "dynamic forms" functionality.

[2018-12-13 08:57] #684 closed

[2018-12-13 09:22] MrGeneration commented on #2400
Zammad should support localhost-URLs as well as just 127.0.0.1

https://github.com/zammad/zammad/blob/ad19b532a9c3759a686417a619bb461d67a68b9d/contrib/packager.io/functions#L251

[2018-12-13 09:37] sinichi19 commented on #2388
Yes sir @thorsteneckel I understand,
Only want to know if its a bug or i have wrong settings, and nothing more

More power...

Thank you and God bless

[2018-12-13 10:05] kevin-olbrich commented on #2400
https://github.com/zammad/zammad/pull/2404

[2018-12-13 10:48] thorsteneckel commented on #2388
Please ask future technical questions over at the [community board](http://community.zammad.org/) - we will verify this (when we find the time) and update the issue accordingly 👍

[2018-12-13 12:39] contaoacademy commented on #330
+1 markdown

[2018-12-13 13:39] thorsteneckel commented on #2400
Reopening. The `ES plugin is pulled / upgraded with incompatible build` part of the issue is not addressed yet.

[2018-12-13 14:26] monotek commented on #2400
I have to check if we can force plugin version to be same as elasticsearch version.
Problem is see is how to get the current elasticsearch version. Curl request would need Elasticsearch already running. Otherwise we have to check via APT or RPM.

Not sure why this happens now. Imho we should have hit this problem earlier.

Currently i have no time to inverstigat further...

Upgrading Elasticsearch

[2018-12-13 14:58] kevin-olbrich commented on #2403
I have hit this problem once or twice on our prod instance.
Actually only outlook users can open RTF mail. For example, in germany there is also "Tobit David" which is rather popular (I don't like it) and does not support RTF either. Most large email providers here just display the message exactly as you described.

I think it's worth fixing this but people who send RTF emails instead of text or t

[2018-12-13 15:06] kevin-olbrich commented on #2401
Do you drop mails to a local MTA (like postfix with smarthost) or using SMTP to another server?
I had similar problems and because we have a large volume of mails, I set up a local postfix with smarthost and just drop the mail to localhost (just like sendmail on PHP).
If you like, I can try to send one from that instance. Is the address in your screenshot valid?

[2018-12-13 15:22] MrGeneration commented on #2401
Hey,

I user an external SMTP-Server, nothing via localhost.
The E-Mail-Address on the screenshot is a valid one, if you write to zammad@äggsbärden.de, you'll write a test instanc.

[2018-12-13 15:24] thorsteneckel commented on #2401
Apple Mail converts it (after clicking the email link in the GitHub notification mail I received):
<img width="550" alt="screen shot 2018-12-13 at 16 22 51" src="https://user-images.githubusercontent.com/3873515/49948301-7ba94900-fef3-11e8-8d8e-c5edd06f8f43.png">

[2018-12-13 15:43] kevin-olbrich commented on #2401
I sent a test message and received an NDR from the local postfix:
[code]
As you can see, the whole NDR broke. You read right, my server name did not make it into the message :-)
Actually I thought that postfix would fix IDN.

[code]

[2018-12-13 17:33] MrGeneration commented on #2388
Sorry, this works as expected.
You can't change the state to "pending reminder" or "pending close" without specifying the "pending till" as both information are needed to create a pending state.

![image](https://user-images.githubusercontent.com/6549061/49956490-95ec2280-ff05-11e8-976c-299f79f83c14.png)

If you don't add "pending till", Zammad will ignore the state change.

[2018-12-13 17:33] #2388 closed, assigned to nobody

[2018-12-13 17:37] MrGeneration commented on #330
Thanks for your interest in this enhancement. Please refrain from replying on github issues with just "+1 [...]", as this generates quite some noise to people watching this repository. ~~Instead, please use a thumb up on the intial post. That's much better. :)~~ 🚀

[2018-12-13 17:44] MrGeneration commented on #2031
I have no customer Feedback yet.
I did not see this issue any more within 2.8.

Edit: 1/2 customers verified that this issue has been adressed.

[2018-12-13 17:48] MrGeneration commented on #2283
Thanks for testing, I could verify this!

[2018-12-13 18:05] MrGeneration commented on #1973
This seems to be solved by now.
I can't reproduce it any more - awesome. :)

[2018-12-13 18:05] #1973 closed

[2018-12-14 14:46] martini opened #2405 "Unable to load Zammad in web browser, because of online notification of ticket which was already deleted in the meantime"
### Infos:

* Used Zammad version: 2.8
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Always load Zammad in web browser

### Actual behavior:

* Loading Zammad stops because of `Couldn't find Ticket with 'id'=XXX (ActiveRecord::RecordNotFound)`

### Steps to reproduc

[2018-12-14 15:33] #2398 closed, assigned to SummerStorm

[2018-12-14 18:04] xf- commented on #2031
looks like resize works always

[2018-12-14 19:04] MrGeneration opened #2406 "Forwarding: Attachment of original content gets removed starting from the second forward without reloading per ticket"
### Infos:

* Used Zammad version: 2.8 & develop
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1035702 (1047959) , #1033955, #1042393 & #1054982

### Expected behavior:

* When forwarding an article with at least one attachment more than once per ticket (and Browser-Runtime with

[2018-12-17 08:40] thorsteneckel commented on #1009
Hi there - is this issue still relevant? Are there any new information available? I'll close this issue for now. Let me know if you can still reproduce it 👍

[2018-12-17 08:40] #1009 closed

[2018-12-17 09:16] MrGeneration opened #2407 "Mac Mail inline PDF destroys E-Mail-Body"
### Infos:

* Used Zammad version: 2.8 & develop
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1033880

### Expected behavior:

* When sending several images with text in between them and at least one inline PDF (with Mac Mail), Zammad will import all attachments and show the in

[2018-12-17 14:46] MrGeneration opened #2408 "Add total graph to reporting"
### Infos:

* Used Zammad version: 2.8
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1031046

The customer had the idea to add a total graph showing both incoming and outgoing values.
This improves overview and an easier relation for e.g. the day/week before to see, how workload

[2018-12-17 15:02] MrGeneration opened #2409 "Improve overview and search pagination to load more entries from Server if needed"
### Infos:

* Used Zammad version: 2.8
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1047215, #1085799

### Expected behavior:

* When having more than ~2100 Tickets in one Overview, Zammad will just keep pagination on, until all entries have been shown.

### Actual behavior:

*

[2018-12-18 13:34] #2405 closed, assigned to martini

[2018-12-18 14:19] #2382 closed, assigned to SummerStorm

[2018-12-19 02:54] #2390 closed, assigned to SummerStorm

[2018-12-19 05:41] #2367 closed, assigned to SummerStorm

[2018-12-19 11:38] Trapulo opened #2410 "From: XXX always "Zammad""
### Infos:

* Used Zammad version: 2.7
* Installation method (source, package, ..): RPM
* Operating system: CentOS
* Database + version: unknown
* Elasticsearch version: 5.6.14
* Browser + version: every

### Expected behavior:

* When I send a reply via email to a customer, Zammad may send the email using the sender name defined in email channel options.

### Actual behavior:

* Every email the c

[2018-12-19 11:44] MrGeneration commented on #2410
Please read our intro text before creating issues. This is not an issue but a technical question. You can ask questions over at the [community board](http://community.zammad.org/) - Closing now.

[2018-12-19 11:44] #2410 closed, assigned to nobody

[2018-12-19 11:45] Trapulo commented on #2410
this is not an issue? I select to use a sender's name and Zammad always sends as "Zammad"? if this is not an issue...

[2018-12-19 11:48] MrGeneration commented on #2410
This is working as designed, you can configure it.

![image](https://user-images.githubusercontent.com/6549061/50218474-610c1f80-038c-11e9-871c-08f53d59907e.png)

[2018-12-19 11:51] Trapulo commented on #2410
Thank you, but I selected "System address display name" (I do not want to share agent's name) and still it sends as "Zammad". Also I changed "Notification Sender" field, and I've defined a sender name in mail channel options.

[2018-12-19 11:53] MrGeneration commented on #2410
This is still a technical question that you're welcome to ask on our Community-Board.

Locking conversation now, comments on this tracker create a lot of noise to watching people.

[2018-12-19 22:47] martinvonwittich commented on #2306
We're currently evaluating Zammad, and we've also stumbled over this. Generally I'm certain that our agents will get used to this (after all WhatsApp Web works the same way), but there is one situation where this is annoying: when sharing links to tickets.

Scenario:
- I have opened a ticket and I want to tell another agent about this ticket.
- I send a link to that ticket (e.g. https://zammad.exa

[2018-12-19 23:06] MrGeneration commented on #2306
Please don't recycle closed issues if possible.
This however would be a great idea for an enhancement, you could post that on our Community: https://community.zammad.org

[2018-12-20 06:41] BigAndini commented on #2306
@martinvonwittich https://community.zammad.org/t/multitab-functionality/1469 This is the link to my post in the community board. Feel free to participate. :)

[2018-12-20 11:45] sinichi19 opened #2411 "Inactive Organization still can select"
Good Day,

I don't know if this is normal or a bug but I noticed that even you inactive the organization can still select in choices,

Ex. Is the default Zammad foundation

If this is normal how can I delete organization ? in rails command.

Thank you

[2018-12-20 12:56] MrGeneration opened #2412 "i-doit version >= 1.12 integration requests fail with 'Can’t fetch objects from...'"
### Infos:

* Used Zammad version: 2.8
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

**Note** This only affects i-doit Version starting with Version 1.12 (with i-doit API 1.10).

### Expected behavior:

* You can update i-doit settings (on integration page) and add i-doit objects to Zammad T

[2018-12-20 14:50] martinvonwittich opened #2413 ""Tab has changed" warning breaks when closing and reopening browser tab"
### Infos:

* Used Zammad version: 2.8.x
* Installation method (source, package, ..): docker-compose
* Operating system: Debian 9.6
* Database + version: postgres 9.6.11
* Elasticsearch version: 5.6.12
* Browser + version: Firefox 64

### Expected behavior:

When you close a Zammad tab with open changes, Zammad will prompt "Tab has changed, do you really want to close it?". So far this works fine

[2018-12-20 16:00] MrGeneration commented on #864
Not a bump, but just a remark.

Beside of Macros this also applies to Triggers and (even more important) Schedulers.

[2018-12-20 16:02] MrGeneration commented on #1142
No reaction by user (github account has been removed).

I'm closing this issue.
For everyone that might be searchin our Support Forum, here's a link to our Community: https://community.zammad.org

[2018-12-20 16:02] #1142 closed

[2018-12-20 17:42] thorsteneckel commented on #2412
This is fixed in latest develop and stable. Both releases will be ready in about 30 minutes from now. Closing.

[2018-12-20 17:42] #2412 closed, assigned to thorsteneckel

[2018-12-21 10:07] MrGeneration opened #2414 "Reply set incorrect if Alias is not within E-Mail-Channel"
### Infos:

* Used Zammad version: 2.8 & develop
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* When simply replying to an E-Mail which TO-Address (incoming to Zammad) is unknown to Zammad, it will set the FROM-Address corectly.

### Actual behavior:

* When replying

[2018-12-21 14:17] AchuM commented on #688
@monotek Does Kibana works now?

[2018-12-21 14:28] forgeOneHQ opened #2415 "EMails cannot be imported from imap"
Infos:

    Used Zammad version: 2.8
    Installation method (source, package, ..): package
    Operating system: Ubuntu Server 16.04 LTS
    Database + version: 10.0.36-MariaDB-0ubuntu0.16.04.1 Ubuntu 16.04
    Elasticsearch version: 5.6.9
    Browser + version: any

Error:
Channel: Email::Account in Can't use Channel::Driver::Imap: #<Net::IMAP::ResponseParse

Log:
[2018-12-21T13:33:13.719440 #10

[2018-12-21 14:31] MrGeneration commented on #2415
Please use the provided issue template and fill in the missing information.

[2018-12-21 14:42] forgeOneHQ commented on #2415
@MrGeneration I checked one from your previous tickets, working now? Or where can I get it?

[2018-12-21 14:50] monotek commented on #688
Not from my side as would like the changes mentioned above.

@martini
I've read something about a payed addon for reporting somewhere?
Is this done via Kibana?

[2018-12-21 14:57] MrGeneration commented on #2415
Hey,

thanks for the reply, in your case, please supply/edit the following information:

[code]

[2018-12-21 15:06] forgeOneHQ commented on #2415
@MrGeneration  thanks, updated! :)

[2018-12-21 15:25] martini commented on #2415
Just a quick note from my side. @talheim-it can you add this email which is not processable to this issue?

And:

1) For me it looks that the mail header is broken. And the IMAP server delivers non parsable content.

2) The error comes from `Net::IMAP::ResponseParseError` which is a ruby gem (no Zammad code). This gem is the same version as it was in Zammad 2.7. So it should work/not work as it wa

[2018-12-21 15:26] martini commented on #688
@AchuM in general Kibana works. If you have issue, please create a new issue for that.

@monotek I did a lot of statistics/reportings via elasticsearch/kibana/grafana the last times. For the `article.updated_by.fullname.keyword` issue we used `article.updated_by.login` to have a uniq name (because `André Bauer` can be twice).

 -=> So if you have further issue what attributes should get extended/m

[2018-12-21 15:29] martini commented on #688
Currently no. We are looking to get it out as "standard" Zammad. We found out the moste investigation is to understand elastichsearch queries and aggregations to create the dashboard widgets. -> So we try to also deliver a bundle of default dashboard widgets.

[2018-12-21 15:37] AchuM commented on #688
Thank you @martini I will try out and report back.
 Is it okay if I try it on live Zammad? Do you think Zammad will be okay?

Thanks again.

[2018-12-21 15:49] martini commented on #688
Yes! 👍 Usually it's not a big load for elasticsearch. You can do it agains live environments.

[2018-12-21 15:55] monotek commented on #688
@martini
ok, so maybe we can close this ticket as a workaround exists.

[2018-12-21 15:55] #688 closed

[2018-12-21 15:56] forgeOneHQ commented on #2415
@martini ,

I only have this issue with directly plesk mails.

A bit curious.

I got an e-mail from zammad directly I answered to check.

I can also send you an example if you want.

Just do not want to publish here.

Yours faithfully,
Mathias

[2018-12-21 16:07] martini commented on #688
@monotek thank you! Have a good time in Leipzig! 😻

[2018-12-21 16:12] MrGeneration commented on #2415
I am sorry.

We can't reproduce this issues, all header seem to be fine.
We suspect an issue with your E-Mail-Server. As suggested by E-Mail, you could try another IMAP-Server for verification regarding this case.

I'll close this issue for now, if you however are able to consistly reproduce this, we'll appriciate any information on how to reproduce this, I'll check again in this case.

[2018-12-21 16:12] #2415 closed, assigned to MrGeneration

[2018-12-21 18:38] MrGeneration opened #2416 "HTML sanitizer blocks email processing because of an endless loop"
### Infos:

* Used Zammad version: 2.8
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* When fetching E-Mails -even if the E-Mail-Content is causing trouble- Zammad will at some point run into an processing timeout on that Mail, write it to the unprocessable_mail direc

[2018-12-22 03:58] martinvonwittich commented on #2413
Addendum: this seems to affect only tickets that haven't been created yet (e.g. where you have clicked on the + to create the ticket, but you haven't yet clicked "Create"), and not tickets that already exist properly.

[2018-12-24 10:14] MrGeneration commented on #1481
I'm closing this issue, as we haven't received any feedback.
I assume that this problem has been resolved within the meantime. :-)

[2018-12-24 10:14] #1481 closed

[2018-12-24 10:26] MrGeneration commented on #2411
Hey there,

sorry but this is rather a technical question than a Bug.
For the next time, please always fill in the issue template, as this is very important to our devs to be able to work on issues proberly.

Please note that we do not support deleting organizations at the moment, as you need to ensure that there are no references left to it. The following code in rails c would do what you want, i

[2018-12-24 10:26] #2411 closed, assigned to nobody

[2018-12-24 10:43] MrGeneration commented on #1609
Hey,

thanks for your post.
I can't reproduce this on a current Zammad installation, could you please check if it still persists and if so give me an detailed instruction how to do so?

I changed "Customer" => "Strange PPL" - reloaded the WebApp and tried to create a new Customer without choosing any roles. I also tried this as normal agent, still works?

[2018-12-24 10:49] MrGeneration commented on #1796
I will close this issue for the following issue: https://github.com/zammad/zammad/issues/2409
This is dedicated to improve overviews and their paginations and also addresses the search function.

This Issue rather drifted away from it's origin. :) However, we got it on our List 👍

[2018-12-24 10:49] #1796 closed

[2018-12-24 10:54] MrGeneration commented on #1804
Hey,

I can't reproduce this on a current Zammad installation.
Could you please check if the problem persists on your side on a current Zammad installation?

If so, please provide the configuration of your Overview-Filters. :)
In the meantime I will close this - if the problem still occurs, let me know and I'll reopen this issue when I received further details. :)

[2018-12-24 10:54] #1804 closed

[2018-12-24 11:00] MrGeneration commented on #1851
Closing, Duplicate of https://github.com/zammad/zammad/issues/1777

[2018-12-24 11:00] #1851 closed

[2018-12-24 11:02] MrGeneration commented on #1467
Closing, Duplicate of https://github.com/zammad/zammad/issues/2107

[2018-12-24 11:02] #1467 closed

[2018-12-27 10:49] jantari opened #2417 "Configuring different SEND and RECEIVE E-Mails causes verification to fail"
### Infos:

* Used Zammad version: 2.8.0-1545327715.c39804ac.xenial
* Installation method (source, package, ..): deb ackage
* Operating system: Ubuntu Server 16.04.5 LTS
* Database + version: PostgreSQL 9.5+173ubuntu0.2
* Elasticsearch version: 5.6.14
* Browser + version: Firefox 64.0 (64-bit) on Windows 10

### Expected behavior:

* When configuring different e-Mails for Zammad to send and receiv

[2018-12-27 13:52] lieszkol opened #2418 "Missing table name quoting causes MySQL 8 incompatibility"
### Infos:

* Used Zammad version: latest
* Installation method (source, package, ..): ubuntu DEB
* Operating system: Ubuntu 18.04
* Database + version: Mysql 8.0.13
* Elasticsearch version: n/a
* Browser + version: n/a

### Expected behavior:

* After installation I am able to log in as an admin user

### Actual behavior:

* After installation I am not able to log in as an admin user. Ajax reques

[2018-12-27 15:46] hanneshal commented on #2418
Hi @lieszkol can you post the complete traceback for this please. you can find it in the Zammad production log.

Thanks in advance.
Hannes

[2018-12-27 16:11] lieszkol commented on #2418
I'm truly sorry but I've since installed postgresql, and purged and reinstalled zammad, and that seems to have wiped the previous log. If I have time I'll try to reinstall Zammad with MySQL 8 again.

In any case it should not be difficult to reproduce this error. If you intend to support MySQL 8 then you'll have to set up an environment anyway and you'll run into the bug right after installation.

[2018-12-27 16:33] hanneshal commented on #2418
Never mind, we tried it ourselfs.

[code]
[code]

[2018-12-28 14:34] HPWulff opened #2419 "Zammad Icon (Bird) on page top left disappears and does not come back"
### Infos:

* Used Zammad version: 2.8.0-1545327715.c39804ac.sles12
* Installation method (source, package, ..): package
* Operating system: openSuse 42.3
* Database + version: Postgresql 9.6-1.1
* Elasticsearch version: 5.6.5-1
* Browser + version: Firefox 64.0 (32bit)

### Expected behavior:

* show Zammad Bird (also after using search function / leaving search field)

### Actual behavior:

* Wh

[2018-12-28 16:16] HPWulff commented on #2419
supplement: the behaviour shown in the issue happens only, if you enter and leave the search field without writing something into the field, e.g. just click on the search field and then click anywhere else on the screen.
if you write any search item and press <enter>, the icon redisappears, regardless of having found tickets or not.
Regards, Hans Peter
BTW: Happy New Year for the Zammad team!

[2018-12-28 16:25] MrGeneration commented on #2419
Thanks for your post, I could verify this behaviour.
This can be "work arounded" with typing at least one letter and then pressing "X" to let the birdy come back.

Seems like the field does not notice it's loosing the focus.

![birdy-bug](https://user-images.githubusercontent.com/6549061/50521382-c2876900-0ac5-11e9-8a8e-2f507bd04a80.gif)

[2018-12-30 23:10] jampy commented on #531
Being to merge users is quite a standard functionality for a support system. All systems I worked with so far have it implemented.

[2018-12-31 13:20] martini opened #2420 "Unable to show ticket history"
### Infos:

* Used Zammad version: 2.8
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Show ticket history by click on history in ticket actions

### Actual behavior:

* Browser will get an javascript exception

<img width="661" alt="screen shot 2018-12-31 at 14 18 04

[2019-01-01 17:44] thorsteneckel commented on #2418
This is fixed with the two commits above in `develop` and `stable`. Packages will be ready in about 30 minutes from now. Feedback is highly welcome. Thanks for the great team effort 💪 Closing now.

[2019-01-01 17:44] #2418 closed, assigned to hanneshal, thorsteneckel

[2019-01-02 08:29] MrGeneration commented on #1967
With 2.8 and the Twitter changes we applied, I didn't see this Problem any more.

@GreXXL Can you check if it's solved for you as well?

[2019-01-02 15:43] MrGeneration commented on #2242
Another small update:
Date fields can be completely empty, even on creation.

![date-object_norequirenment](https://user-images.githubusercontent.com/6549061/50599158-7feed380-0ead-11e9-9a33-3e32e12e9766.gif)

[2019-01-03 08:11] alex-LE opened #2421 "API creates empty tickets without articles if data is missing"
### Infos:

* Used Zammad version: 2.8.x
* Installation method: package
* Operating system: Ubuntu 18.04
* PHP API Client

### Expected behavior:

* When we try to create ticket and something fails (missing data) it should just return the error and not create a empty ticket without any articles.

### Actual behavior:

* When the mime-type for a attachment is missing, zammad creates the ticket but

[2019-01-03 08:12] martini commented on #2421
@alex-LE please can you add your payload and the response from Zammad? Thanks!

[2019-01-03 09:20] alex-LE commented on #2421
@martini

Sure:

Payload: https://gist.github.com/alex-LE/7302e8ca581e66549ca27365fba1ebc7

Response: https://gist.github.com/alex-LE/e4370e160b1c705afc1c0d4aa07c413e
Status: 422 Unprocessable Entity

Tested with Postman (to avoid any API Client issues)

Ticket in Zammad:

![grafik](https://user-images.githubusercontent.com/1616675/50630794-621f7e00-0f42-11e9-9ec3-c1dcc8b4b9f8.png)

[2019-01-03 13:06] #2420 closed, assigned to martini

[2019-01-03 13:13] mrflix commented on #2419
@martini I think this is a regression caused by  https://github.com/zammad/zammad/commit/23059d7c90c3497dfc215b84f961e080d3c92b63#diff-cb2d45492ca3571e39e38a767a3864b3L19

[2019-01-04 08:40] martini opened #2422 "Browser resize for pasted images is not resizing the image in edit view."
### Infos:

* Used Zammad version: 2.8.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Resize images in edit area as it is in view area.

### Actual behavior:

* Images in edit can be bigger in certain cases.

Currently in edit:
![edit-resize](https://user-images.gi

[2019-01-04 09:09] martini commented on #2242
Just a tech note. HTML5 validation is not fired because the `update` button is wrapped in a separate form.

You can check and report html5 validation via javascript e. g. this way:

[code]

[2019-01-04 10:32] martini opened #2423 "Unable to update already configured email channel, verify email will not arrive"
### Infos:

* Used Zammad version: 2.8.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Be able to "update & re-verify" email channel via admin interface -> channels -> email -> "select" edit for channel and process wizard

### Actual behavior:

* verify email will n

[2019-01-04 12:13] thorsteneckel opened #2424 "Unavailable ticket template attributes get applied"
### Infos:

Used Zammad version: 2.8.x
Installation method (source, package, ..): any
Operating system: any
Database + version: any
Elasticsearch version: any
Browser + version: any

### Expected behavior:

* After using a Ticket Template only available attributes are pre-filled

### Actual behavior:

* After using a Ticket Template unavailable attributes are pre-filled

### Steps to reproduce the

[2019-01-04 14:30] MrGeneration opened #2425 "Attached msg-Files break filenames in Zammad (combination Exchange and Outlook)"
### Infos:

* Used Zammad version: 2.8 & develop
* Installation method (source, package, ..): rpm & Source
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Outlook-Versions being affected for sure: Outlook 2013 & 2016 connected with Exchange
* Ticket-ID: #1034168, #1077162

### Expected behavior:

* When forwarding Mails with attachments to

[2019-01-04 14:36] martini commented on #2425
The mail example as attachment would be fine. I can't follow. Thanks!

[2019-01-05 21:03] Jaykju commented on #2421
I have had this problem before as well. It always happened to me when any information sent in the article was invalid or missing. Not only the attachment mime-type but different fields as well.

[2019-01-06 10:04] #2419 closed, assigned to martini

[2019-01-09 15:45] MrGeneration commented on #2059
This also affects if you're trying to filter for owner not being the current owner.

This affects Ticket#1034280

[2019-01-10 01:07] pinscher commented on #143
I think this is the same request #864

[2019-01-10 01:15] pinscher commented on #864
This is a very important feature since it is a basic workflow to reopen a tickets after a relative time.
In Zendesk is a field "**hours since pending**" that can be used in an automatisation to reopen a pending ticket after the time has pased.

![image](https://user-images.githubusercontent.com/415306/50939444-2f631180-147d-11e9-99d0-62c6065604a1.png)

Beside this Zendesk has for each status a "ho

[2019-01-10 08:44] maggusf opened #2426 "reply all missing when Zammad email-in is in cc"
### Infos:

* Used Zammad version: 2.7
* Installation method (source, package, ..): package
* Operating system: CentOS
* Database + version: postgresql 9.2.23
* Elasticsearch version: 5.6.8-1
* Browser + version: safari 12.0.2
* Ticket-ID: #1047717, #10102970, #10183049

### Expected behavior:

* reply all should be visible if you have more than one uniq email address in email header and include e

[2019-01-10 08:50] MrGeneration commented on #2426
Thanks for taking the time to fill out a github issue.

Please fill in the missing information for database, elasticsearch and browser version.
Also, right now I struggle in understanding the described steps to reproduce this issue. Maybe screenshots will help here.

[2019-01-10 08:53] MrGeneration commented on #143
As I understand this issue, it's about adding a default pending time that's automatically filled when choosing a pending state. The default time should be a system setting which agents can adjust if needed (for themselves)

So no duplicate. :) But thanks for checking!

[2019-01-10 09:06] maggusf commented on #2426
updated description

and a more detailed reproduce process:
assuming
peter@company is an agent
paul@company is an agent
julia@inc is an cusotmer
sales@company is an email input channel
marketing@company is an email input channel

peter@company emails
to sales@store
cc marketing@store + julia@inc
--> no reply all in web

peter@company emails
to sales@store
cc marketing@store + julia@inc + paul@comp

[2019-01-10 10:31] raphaelm commented on #143
It's not the *same* feature that is requested, but if #864 is implemented, this would be much less important at least

[2019-01-10 13:02] pinscher commented on #143
I agree to raphaelm. if #864 is implemented you can easily build your prefered "pending timeout".
In order to make it more user friendly, you can create a default automation that is existing after installation that is re-opening the pending state after 24 hours for example. This is exactly how Zendesk is doing after creating a new zendesk account. Then the user can adjust this predefined automatio

[2019-01-10 13:07] pinscher commented on #656
It makes no sense to use shift+ctrl on windows because shift+ctrl  is used already by many browser shortcuts (chrome, firefox). Zendesk is using on windows Strg+Alt instead. This is much better cause there are no browser shortscuts existing for Strg+Alt.

Also thre must be a shortcut to change the state, e.g. like in Zendesk:
![image](https://user-images.githubusercontent.com/415306/50970179-f6f51

[2019-01-10 13:14] pinscher opened #2427 "Set focus into Answer textarea when opening a ticket"
### Expected behavior:

* When opening a ticket, immiditly focus the curser into the answer textarea.

### Actual behavior:

* now you have to take your mouse and click into the textarea or press a shortcut.

### Steps to reproduce the behavior:

* open an existing ticket and try creat a new answer

[2019-01-11 10:28] banholzer commented on #1715
we also have this problem.

[2019-01-11 10:41] MrGeneration commented on #2427
Thank you very much for your time to create this issue.

Please post this over at our community, as this is not a bug, but a feature request: https://community.zammad.org

Best regards

Closing now

(Edited to suite our internal guidelines better)

[2019-01-11 10:54] chrstmnn opened #2428 "Feature request: automation with specific mail recipient"
### Infos:

* Used Zammad version: 2.8
* Installation method (source, package, ..):
* Operating system: centOS
* Database + version:
* Elasticsearch version:
* Browser + version:

### Expected behavior:

* Create new automation with action that sends an e-mail.
* Add recipient of e-mail or specific mailadress.

### Actual behavior:

* Create new automation with action that sends an e-mail.
* Selec

[2019-01-11 14:58] Braintelligence commented on #435
Perhaps there is no interest since GitLab offers a Service Desk system for their Gitlab EE Premium/Ultimate Package...

[2019-01-11 16:44] #2427 closed, assigned to nobody

[2019-01-11 16:45] MrGeneration commented on #2428
Hello,

thanks for your time to fill in this issue, Unfortunately this is not a bug, but a feature request.
Please post feature requests over at our community: https://community.zammad.org

Closing now.

[2019-01-11 16:45] #2428 closed, assigned to nobody

[2019-01-12 16:58] gijsrutten commented on #290
Any news/plans regarding Webhooks  in general (any time if a object in Zammad has changed, an external URL with the changed object is called)?

[2019-01-12 19:54] Anagastes commented on #1589
Sorry, guys, but I have this behavior, too.

How exactly can I add ".localtime" so that the time is really correct?

I have this in automation, for example. I must set 19:30 to have the execution at 20:30.

![screenshot_20190112_205021](https://user-images.githubusercontent.com/17494592/51077829-dfb65d00-16ab-11e9-91c1-5261a20fdf67.png)
![screenshot_20190112_205048](https://user-images.githubuserc

[2019-01-12 20:12] Anagastes commented on #508
Hey guys, after an import from OTRS 5c Free to zammad we now have ticket states which are in English and cannot be translated. How can I fix this?

![screenshot_20190112_211145](https://user-images.githubusercontent.com/17494592/51077993-c95dd080-16ae-11e9-9bf1-3e68407462c5.png)

[2019-01-13 15:42] lobiman commented on #965
DUO is to expensive. Better to implement Microsoft Azure's MFA including Azure AD for SSO.

https://azure.microsoft.com/de-de/pricing/details/multi-factor-authentication/

[2019-01-13 15:44] lobiman commented on #1192
I'm interested in SSO too.

It would be an option to implement Azure AD for SSO.

[2019-01-13 15:59] cornelinux commented on #965
This is a bad idea! Do not implement DUO and do not implement Azure. You do not want to have a vendor lockin in an open source software.
Implement a decent authentication stack to be able to connect to 3rd party solutions. Then this can either be DUO or Azure or Whatever.

There sill does not seem to be any documentation about how to add 3rd party auth.

[2019-01-13 16:08] MichelZ commented on #965
Of course, whatever you do should not lock you in...

[2019-01-13 22:36] HLFH opened #2429 "Note is not being updated because of the lack of lastname"
Hi,

### Infos:

* Used Zammad version: 2.9.x
* Installation method (source, package, ..): source
* Operating system: ArchLinux
* Database + version: mysql  Ver 15.1 Distrib 10.3.9-MariaDB, for Linux (x86_64) using readline 5.1
* Elasticsearch version: Version: 5.6.9, Build: 877a590/2018-04-12T16:25:14.838Z, JVM: 1.8.0_192
* Browser + version: Version 71.0.3578.98 (Official build) (64 bits)

### E

[2019-01-14 15:13] MrGeneration commented on #780
Closing, I don't think that this is still relevant, if it still is, please let me know.

[2019-01-14 15:13] #780 closed

[2019-01-14 15:22] MrGeneration opened #2430 "Print dialog does not show article visbility"
### Infos:

* Used Zammad version: 2.8 + develop
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Google Chrome and Firefox

### Expected behavior:

* When printing a ticket (for whatever reason), Zammad will show all needed article information. An important information might be, the type of visibil

[2019-01-14 15:22] #2423 closed, assigned to martini

[2019-01-14 15:38] thorsteneckel commented on #508
Hi @Anagastes - I can't see how your request matches this issue. Please don't misuse use unrelated issues. Other from that your comment is a technical question which you can ask over at the [community board](http://community.zammad.org/) since we only track (verified) technical issues on the issue tracker. Thanks for your understanding.

However, you can change the name of the states via the [Zamm

[2019-01-14 15:42] thorsteneckel commented on #1589
Hi @Anagastes - this issue is still open and not resolved yet. You can see what issues we're working on and their progress over [here](https://github.com/zammad/zammad/projects/3). You can add an 👍 reaction to each comment you're interested in to get fixed. We're focus on the issues reported by our paying customers and the ones with the most 👍 reactions. JFI: Adding comments and asking when things

[2019-01-14 15:59] MrGeneration opened #2431 "Ensure Zammad only updates affected content (affects several)"
### Infos:

* Used Zammad version: 2.8 + develop
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1035538, #1033516, #1042393, #1044403, #1056313

**Please note**
This issue affects several of Zammads parts:

* Organizations
* Users
* SLA (and thus Tickets)
* Calendar-Sync (partial

[2019-01-14 17:11] wuschelchopf commented on #1573
@Charburner We from Digio-Team (www.digio.ch) are actually on developing it as contribution to this project. Issue #676 is related to it and also needs to be implemented. We hope being done in nearest time.

[2019-01-14 17:26] Memphizzz commented on #574
+1

[2019-01-14 18:14] MrGeneration commented on #574
Locking the conversation for now, as this issue hasn't received any usefull comments in the past, but just +1s.

[2019-01-14 18:18] Memphizzz opened #2432 "Locking the conversation for now, as this issue hasn't received any usefull comments in the past, but just +1s."
Locking the conversation for now, as this issue hasn't received any usefull comments in the past, but just +1s.

_Originally posted by @MrGeneration in https://github.com/zammad/zammad/issues/574#issuecomment-454105312_

3 tries to bump this issue with a +1 aren't "usefull commments"? How else should we express our support for this feature?

[2019-01-14 18:21] monotek commented on #2432
With a support contract?

[2019-01-14 18:26] MrGeneration commented on #2432
Please read the issue template.
You're causing noise with any bumps to about 1400 people watching this project.

This isn't helping anybody and just creates distraction.

The best way to show your need for the feature (beside of paying a feature or service contract) is simply to put a thumb up to the original post. If you want to discuss this, let's please move this from github.

[2019-01-14 18:26] #2432 closed, assigned to nobody

[2019-01-14 18:28] Memphizzz commented on #2432
@monotek Not everyone is a paying enterprise customer, besides, the Issue is about a bug in the API, why would I need a support contract to report a bug?

[2019-01-14 18:33] monotek commented on #2432
Not for reporting, but for getting it priorized...

[2019-01-14 18:34] MrGeneration commented on #2432
I think what @monotek means is, that the service contracts are paying our developers and support team.
It's simple: The more we're being paid, the more developer we can pay to bring Zammad forward.

Because of team size, some features are currently waiting even though the user base really wants and needs them. :)

[2019-01-15 01:33] mbabker commented on #372
I myself just ran into the same issue this evening.  What would it take to get this addressed?

[2019-01-15 13:21] rlue commented on #224
Thanks everyone for your patience on this issue. After consulting with @martini, we have arrived at a relatively simple workaround enabled by 043a0af9f.

Since we are reluctant to modify / overcomplicate the existing email configuration wizard, which satisfies the majority of existing users, we are proposing a CLI workaround for creating an outbound-only email channel.

Once you have upgraded to t

[2019-01-16 11:21] salmagomaa commented on #723
Try this answer it worked with me
https://stackoverflow.com/a/41466634/1770571

[2019-01-16 11:52] MrGeneration commented on #723
@salmagomaa this does not solve the problem and was a Bug within Zammad.
Please try not to recycle posts - the issue has been resolved already.

[2019-01-16 13:23] martini commented on #2031
@xf- thanks for feedback! 👌 I'm closing for now.

[2019-01-16 13:23] #2031 closed

[2019-01-16 17:52] MrGeneration opened #2433 "Excel-Export in Reporting only exports 6000 entries"
### Infos:

* Used Zammad version: 2.8
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: amy
* Browser + version: any
* Ticket-ID: #1035635, #1067877, #1085043, #10110609, #10108576, #10129932, #10149354, #10151515, #10200667, #10207571

### Expected behavior:

* When exporting reports as CSV from Zammad, Zammad will export

[2019-01-16 18:13] MrGeneration opened #2434 "Ticket templates resets article body (even if it's empty within the template)"
### Infos:

* Used Zammad version: 2.8
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1035639

### Expected behavior:

* When working with templates that do not contain an article body, Zammad will keep the article body that has been typed before applying the template.

### Actua

[2019-01-16 18:22] MrGeneration commented on #290
We currently have no updates for this, we're currently focusing on knowledgebase and fixing bugs.
We'll keep you updated here when we're ready. :(

[2019-01-18 09:49] martini opened #2435 "Unable to open customer chat widget via separate open button."
### Infos:

* Used Zammad version: 2.8
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* open customer chat widget via separate open button

### Actual behavior:

* customer chat widget is not shown by pressing separate open button

### Steps to reproduce the behavior:

[2019-01-18 15:33] #2416 closed, assigned to SummerStorm

[2019-01-18 16:01] MrGeneration opened #2436 "auto completion for user selection dialogues are not consistent"
### Infos:

* Used Zammad version: 2.8
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

When handling customer data within Zammad, the agent/admin should always see the E-Mail-Address of the user, as you might not be able to find the correct user (without trying) if havi

[2019-01-18 16:41] anhofmann opened #2437 "square brackets are deleted in a link"
### Infos:

* Used Zammad version: 2.8.0-1544012236.272eecf9.xenial
* Installation method (source, package, ..): package
* Operating system: 16.04.5 LTS (Xenial Xerus)
* Database + version: Postgresql 9.5+173ubuntu0.2
* Elasticsearch version: 5.6.13
* Browser + version: 60.4.0esr (64-bit)

### Expected behavior:

* When clicking on a link in a ticket that looks like this: https://example.com/?foo=

[2019-01-18 17:59] MrGeneration opened #2438 "Adding tags does not trigger "on update""
### Infos:

* Used Zammad version: 2.8
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1035804

### Expected behavior:

* When adding new tags, the ticket gets updated and thus a Trigger watching for "updated tickets" will fire.
* When pressing "update", Zammad will not update the

[2019-01-18 20:46] martinvonwittich commented on #2430
While you're at it - it would be fantastic if staff agents had the choice between including internal comments in the print view, or excluding them. At the moment Zammad doesn't support forwarding complete tickets with all postings (it's only possible to foward single postings), and a print view without internal comments might be a useful workaround.

[2019-01-18 21:23] martinvonwittich commented on #2436
Related issue: #2275

[2019-01-18 22:05] martinvonwittich commented on #1504
I found this confusing too. The way it looks now, I originally assumed that this was a user setting where each user could decide for himself e.g. whether he prefers full quote or not. But in truth it's a global setting that affects all users, and it would probably be far more consistent to move it to the admin area.

The label "personal settings/menu" might actually be wrong here, because these ar

[2019-01-18 22:34] josefsj3m commented on #2130
@SummerStorm Is it possible to closed and reopen a ticket using console, instead of the web interface ? If yes, how can i do that?

Thanks

[2019-01-19 10:26] Devmaticz commented on #966
same on Azure !!

[2019-01-19 11:12] MrGeneration commented on #966
Please don't recycle closed issues for problems. If you're experiencing a bug, please create a new issue.

If you need technical assistance, please go to our community: https://community.zammad.org

[2019-01-19 11:34] MrGeneration commented on #2130
Please don't recycle already closed issues, especially if your post has nothing to do with the issue itself.

For technical assistance, please consult our Community: https://community.zammad.org/

Further information on the console commands can be found on:
https://docs.zammad.org/en/latest/admin-console.html

A example for changing the ticket state:
[code]

[2019-01-19 15:21] #2435 closed, assigned to martini

[2019-01-19 19:09] martinvonwittich commented on #581
Forwarding complete tickets would be a useful feature. Our old ticket system Kayako had a feature for this, though it wasn't necessarily implemented very well - Kayako just seems to take the plaintext part of the articles and creates a new plaintext mail that looks like this:

[code]

Attachments of the respective articles are jumbled together and attached to the resulting mail, and it's not obvio

[2019-01-19 19:28] MrGeneration commented on #581
hey Martin,

thanks for your participation - please don't recycle issues that are not matching the issue you're posting about. Also this is covered by #573 .

Edit: New feature request can be posted at our community: https://community.zammad.org

[2019-01-19 19:48] martinvonwittich commented on #581
Whoops, sorry. I had thought that #1370 ("Forward complete ticket conversation") had best described what I'm looking for, but as that was closed as a duplicate and both #573 (which is already fixed) and #581 (which is still open) were linked, I had assumed that this ticket covered the complete forwarding issue.

[2019-01-20 13:10] anhofmann commented on #2437
I looked around a bit in the code, but couldn't find where this error could occur. I'm not a Ruby developer either, so I don't know much about the code base. If someone could give me a hint in which file or directory the relevant code could be, I could try to create a PR.

[2019-01-20 15:40] Braintelligence commented on #796
This is a more and more relevant feature for today's workflows. Would be awesome to see it integrated.

[2019-01-21 07:43] anuzhin opened #2439 "Zendesk ticket with 'On-hold' system status fails import"
### Infos:

* Used Zammad version: 2.8
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Migration from Zendesk competed without errors

### Actual behavior:

* Error when migrating tickets. Logs:
[code]

### Steps to reproduce the behavior:

* Enable On-hold ticket sta

[2019-01-21 08:04] thorsteneckel commented on #2439
Hi @anuzhin - thanks for reaching out and providing the detailed information. Since we don't have an equivalent of "On Hold" in Zammad I was wondering how to map it 🤔 We have two options:

- Import as "Open"
- Import as "Pending reminder" - but with which date?

What do you think?

[2019-01-21 09:25] anuzhin commented on #2439
@thorsteneckel , I think what "On Hold" status in our case can be replaced on "Open" and new tag

[2019-01-21 10:23] GeSi-Software-GmbH commented on #2340
Same issue here with Zammad 2.8.0.
We copy links into ticket reply mails which have encoded question marks in the path section of the URL. The correct link looks like **https://test.local/Question%3F**
but Zammad decodes the question mark and destroys the link by sending
**https://test.local/Question?**
(the question mark is then interpreted as query separator).

[2019-01-21 13:13] MrGeneration commented on #1283
Zammad does have print css since 2.7 - you should be able to print / save as PDF without any trouble.
This works for tickets without any trouble - does this cover this issue completely ?`

In my opinion it does, I'll close this by now, feel free to reply if you think that this is wrong. :-)

[2019-01-21 13:13] #1283 closed

[2019-01-21 14:48] MrGeneration opened #2441 "Zammad ignores disabled Chat-Topics for agents"
### Infos:

* Used Zammad version: 2.8
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* TIcket-ID: #1042192

### Expected behavior:

* When disabling a chat topic within Chat -> Settings, Zammad will not notify the agent about chat topics that don't belong to his selection.

### Actual behavio

[2019-01-21 19:58] thomas-vahrson commented on #1283
can you tell me where I can find this new function that is included since 2.7?
I don't think that this cover the request from us and from all other guys

[2019-01-21 19:58] thomas-vahrson commented on #1283
can you tell me where I can find this new function that is included since 2.7?
I don't think that this cover the request from us and from all other guys

[2019-01-22 07:58] martini opened #2442 "Customer chat widget without jquery dependency"
### Infos:

* Used Zammad version: 2.8
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Since many web pages do not use jquery anymore (many stuff is handled by modern javascript now) we do not want jquery as dependency anymore.

### Actual behavior:

* jquery is a req

[2019-01-22 07:59] #2442 closed, assigned to martini

[2019-01-22 12:06] martinvonwittich commented on #2092
If this is going to be changed, I would welcome a configuration option for it - in our case, we don't want Zammad to send any bounce mails, and I prefer the current "don't fetch it from IMAP and show a warning to the administrator" approach.

The reason for this is our pretty complex mail setup: we have a main mail server for our company that is the MX for our domain, and all outgoing and incoming

[2019-01-22 13:27] MrGeneration commented on #2092
I can understand Martins argumentation.
We should at least add an information to monitoring, as other wise you can't monitor this cleanly!

The option to enable/disable the auto reply is a good idea - I'd see this inside of settings and would ask the admin within the wizard how he'd like it. Reason is, I'd personally prefer Zammad to have the auto reply on by default.

This impacts quite a lot hos

[2019-01-22 14:08] MrGeneration opened #2443 "Auto assignment user exception selection not working with large user counts and showing customer user"
### Infos:

* Used Zammad version: 2.6 & 2.8
* Installation method (source, package, ..): package
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Google Chrome latest
* Ticket-ID: #1035861

### Note:
Initially I described two issues here:
The caching of users being needed to display them in auto aussignment (this issue) and
the issue ( #2707 ) wh

[2019-01-22 14:36] MrGeneration commented on #2431
This is sorta related to: https://github.com/zammad/zammad/issues/2298

[2019-01-22 15:07] ghost commented on #2426
I can confirm this issue. Same repro steps as @maggusf described. We are using Zammad Version 2.8

[2019-01-22 19:55] Braintelligence commented on #1235
If this gets implemented a two-way synchronization and also one-way synchronization options should be available. This would integrate Zammad nicely with other CRM/Groupware-solutions and reduce redundancy a lot.

[2019-01-23 12:27] SummerStorm commented on #2424
Unfortunately the the browser test for this issue cannot be cleanly cherry-picked into `stable`, so that leaves one customer on `stable` who is still being affected. We've offered the bump the customer's hosted instance to `develop` as a temporary measure until the next release.

[2019-01-23 15:33] MrGeneration opened #2444 "Subject-Recognition does also apply, if E-Mail-Address does not appear any where within the ticket"
### Infos:

* Used Zammad version: 2.8
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1035758

### Expected behavior:

* When sending a mail to Zammad with persons within CC, Zammad will append replies from people within the CC into the existing ticket, to make the agents life ea

[2019-01-23 15:33] MrGeneration opened #2445 "Add option to disable "subject-recognition""
### Infos:

* Used Zammad version: 2.8
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-IDs: #1035758, #1039430

### Expected behavior:

* When disabling all references of a Zammad system (plus Ticket-Number in subject), Zammad will create a new ticket, as it is not able to find a match

[2019-01-24 07:20] Dirk23 opened #2446 "Translation Error or Typo"
### Infos:

* Used Zammad version: 2.8.x
* Installation method (source, package, ..): APT
* Operating system: Ubuntu 18.04 LTS
* Database + version: Dunno
* Elasticsearch version: Dunno
* Browser + version: Chrome 71...something, latest as i let Chrome update himself

### Expected behavior:

* Textfield is translated correct to German

### Actual behavior:

* Textfield has a little typo

Yes I'm s