[2021-03-25 17:16] mantas commented on #3474
this is also a duplicate of #2612 ;)

[2021-03-25 17:32] Stubenhocker1399 commented on #3473
Removing this `overflow: auto` from the mobile css seems to fix this issue, while of course removing the vertical scroll.

https://github.com/zammad/zammad/blob/cfa02c90382197e342ab2b9b8f3f5b3e694a7bff/app/assets/stylesheets/zammad.scss#L7563

[2021-03-25 22:35] #3472 closed, assigned to martini

[2021-03-25 22:39] thorsteneckel commented on #3470
Everything should be resolved in about 30 minutes from now once the build pipeline for each change has passed: https://packager.io/gh/zammad/zammad/refs/stable

Docker images will get fixed tomorrow.

[2021-03-26 08:15] enoch85 opened #3476 "[question] Docker not adviced?"
Hi,

We are using OTRS today and are looking at something that can replace that soon. We found Zammad and it looks like the proper replacement. Very neat, clean and easy to work with - nice job! :+1:

In our production environment we're using Portainer for all our Docker containers, but looking at the Zammad Docs it says *We currently do not support Docker environments in productive use. If you ru

[2021-03-26 08:30] MrGeneration commented on #3476
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-03-26 08:30] #3476 closed

[2021-03-26 10:11] monotek commented on #3476
We provide a docker-compose repo, which is already used for a lot of production installations:
https://github.com/zammad/zammad-docker-compose

What you're talking about is the single docker image, which is only made for quick testing and therefore not production ready:
https://github.com/zammad/zammad-docker

[2021-03-26 10:14] MrGeneration commented on #3476
It would be great if we wouldn't continue on this issue if I'm telling the user it's the wrong place.
User found the remark on the documentation: https://docs.zammad.org/en/latest/install/docker-compose.html

This is still a valid point.

[2021-03-26 15:46] enoch85 commented on #3476
On Github you can transfer whole issues to another repo, and if this is the wrong place for this type of question, please do that.

https://github.com/zammad/zammad-docker

Great info! That's all I needed.

[2021-03-26 16:36] Syncnaptic opened #3477 "Website shows "Loading...""
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): package
* Operating system: ubuntu 18.04-LTS
* Database + version:
* Elasticsearch version:
* Browser + version: any

### Expected behavior:

* after Update, loading the zammad webinterface

### Actual behavior:

* Website shows the zammad-bird and "Loading..."
![Screenshot 2021-03-26 173512](https://user-images.gi

[2021-03-26 16:40] MrGeneration commented on #3477
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-03-26 19:24] eduardolagares commented on #3048
I'm having the same problem here using umbler.com with IMAP.

[2021-03-27 04:44] #3471 closed, assigned to rolfschmidt

[2021-03-29 06:59] StanBarrows opened #3478 "Update Object Missing Information for PUT Request"
Hello

We would like to update an object but there is no information provided on how a request should look like.

https://docs.zammad.org/en/latest/api/object.html#update

`PUT /api/v1/object_manager_attributes/:id`

We would like to update the options for the attached show object.

Many thanks for any additional information.

---
**Show Request**

[code]

[2021-03-29 07:36] delphi-sucks opened #3479 "Customer overview doesn't load on change"
### Infos:

* Used Zammad version: 4.0.0
* Installation method (source, package, ..): package 4.0.0-1616833066.ac840931.xenial
* Operating system: Ubuntu 16.04.7 LTS
* Database + version: MySQL 5.7.33
* Elasticsearch version: 7.12.0
* Browser + version: Vivaldi 3.7.2218.49, Microsoft Edge 89.0.774.63
* Ticket#1085588, #1085380, #1086549

[production.log](https://github.com/zammad/zammad/files/6220

[2021-03-29 08:21] MrGeneration commented on #3479
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-03-29 08:45] delphi-sucks commented on #3479
**I'm sorry, but how and where is this a technical question?**

This is a bug which occured with the update from 3.6.0 to 4.0.0.
If I setup a system with 3.6.0 it works.
I Just setup another system with Debian 10, Nginx, MariaDB and Zammad 4.0.0 and was able to reproduce it on the spot.

I can only repeat what is said in the first post; This is not a question but an existing bug.

[2021-03-29 09:32] martini opened #3480 "UX problem with scheduler and postmaster condition filter is user selection is used"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Be able to add/remove condition items anytime

### Actual behavior:

![image](https://user-images.githubusercontent.com/110226/112817125-63d53f00-9082-11eb-8ac8-246508f9849f.png)

[2021-03-29 10:02] MrGeneration opened #3481 "Removal task from scheduler job possibly can block delayed jobs"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): package
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified on latest Google Chrome
* Ticket: 1085322
* Reference Issue: #3416

### Expected behavior:

The scheduler will work on background jobs and skip / remove those that have locks to no longer existing ob

[2021-03-29 12:39] MrGeneration commented on #3479
Just for you I've invested another 30 minutes to be extra sure.

This is not a bug.
Both, postgresql and mysql installations do work on my machine™.
I tested this twice (today in the morning and just now).

I even had a from scratch installation during my second try.
I also used and tested M$ Edge. It's working just fine.

The only difference between my Debian 10 and yours is that I cannot install

[2021-03-30 06:56] MrGeneration opened #3482 "`read` permission is not enough to display subscribed tickets in overviews"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket: 1085445

### Expected behavior:

Overviews that check for "subscribed / mentioned" state of `current_user` require `read` permission in the group only.
This works similar to Zammads notification sys

[2021-03-30 06:57] #3480 closed, assigned to martini

[2021-03-30 10:17] #3473 closed, assigned to martini

[2021-03-30 13:15] #3482 closed, assigned to rolfschmidt

[2021-03-30 13:27] datadorf opened #3483 "Uploading files broken after upgrade to Zammad 4.0"
### Infos:

* Used Zammad version: 4.0.x
* Installation method (source, package, ..): package
* Operating system: Ubuntu 18.04.5 LTS (GNU/Linux 4.15.0-139-generic x86_64)
* Database + version: mysqld  Ver 5.7.33-0ubuntu0.18.04.1 for Linux on x86_64 ((Ubuntu))
* Elasticsearch version: elasticsearch 7.12.0 amd64
* Browser + version: Firefox 86.0.1

### Expected behavior:

Uploading files to a Ticket

[2021-03-30 13:32] MrGeneration commented on #3483
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-03-30 13:32] #3483 closed, assigned to nobody

[2021-03-30 14:00] ABagOfFritos opened #3484 "Latest update has removed my entire user/customer list and/or broke search indexing"
### Infos:

* Used Zammad version: 4.0.x
* Installation method (source, package, ..): community repo
* Operating system: Ubuntu 16.04.7 LTS
* Database + version: unknown
* Elasticsearch version: unknown
* Browser + version: unknown
* Server is inherited from previous sysadmin, documentation is lacking.  Any help on how to get more of the above information is appreciated.

### Expected behavior:

*

[2021-03-30 14:07] MrGeneration commented on #3484
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-03-30 14:07] #3484 closed, assigned to nobody

[2021-03-30 14:09] ABagOfFritos commented on #3484
This is very definitely a bug caused by an update.

[2021-03-30 14:11] MrGeneration commented on #3484
It's a technical question, not a bug.
I'm not telling you because I wanna bug you, but because it's this way.

[2021-03-30 14:17] ABagOfFritos commented on #3484
Unexpected behaviour isn't a bug?

I'll post on the other forum as well, but I don't quite see the distinction you're making here as I'm not asking for technical help, I'm asking for how to fix what is almost definitely a bug.

[2021-03-30 14:18] danielehrhardt commented on #1127
Now we have 2021 and this still does not work over the UI?
If i create a Status Type over the API it is missing in the UI is there a way to add it to the List with the API and without the CLI?

https://github.com/zammad/zammad/issues/574

[2021-03-30 14:18] MrGeneration commented on #3484
You're asking a classic question that is not bound to a specific version but dependencies and so on.
I'm limitting the conversation of this issue to contributors only to reduce the noise to the over 2000 subscribers of this repo.

[2021-03-30 14:19] MrGeneration commented on #1127
Please don't pump / recycle old issues that are closed.

[2021-03-30 15:06] cortopy commented on #3431
I was also going to open an issue related to the old version of Jquery. When running `npm audit`, there are two security advisories that come up. One is extremely serious:

- https://www.npmjs.com/advisories/328 (__severity high__)
- https://www.npmjs.com/advisories/796

I've started using the no-jquery version and it works for me

[2021-03-31 06:23] #3475 closed, assigned to mrflix

[2021-03-31 08:37] nicedevil007 opened #3485 "501 Syntactically invalid HELO argument(s)"
### Infos:

* Used Zammad version: latest docker image as of 31.03.2021
* Installation method (source, package, ..): docker-compose inside docker-swarm
* Operating system: docker
* Database + version: latest docker image as of 31.03.2021
* Elasticsearch version: latest docker image as of 31.03.2021
* Browser + version:  89.0.774.63 (64-Bit) (MS Edge)

### Expected behavior:

* I enter the SMTP Hos

[2021-03-31 08:45] MrGeneration commented on #3485
The same setting worked **before** updating or didn't you try earlier?

[2021-03-31 09:21] nicedevil007 commented on #3485
This is my realy first attemp to get zammad up an working :)
But thank you for that fast reply!

[2021-03-31 09:24] MrGeneration commented on #3485
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

You may want to check the documentation on this regard, as you should be able to find your answer there:
https://docs.zammad.org/en/latest/getting-started/first-steps.html

In case this tur

[2021-03-31 09:24] #3485 closed, assigned to nobody

[2021-03-31 13:08] wucherpfennig opened #3486 "KB Edit / Save entries results in JS errors and unsaved articles"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): package
* Operating system: debian
* Database + version: package
* Elasticsearch version: package
* Browser + version: chrome

### Expected behavior:

* Open / Edit / Save KB articles

### Actual behavior:

* It "works" but with a lot console errors and regular alert messages "changes" were made and (sometimes) not

[2021-03-31 13:15] wucherpfennig commented on #3133
This would have been a good addition to the "mobile friendly" release from 4.0 😉

Can we help somehow to have a responsive menu?

[2021-03-31 13:50] rolfschmidt opened #3487 "Bulk action disables functionality to unmark checkboxes in ticket list"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

### Expected behavior:

* It should always be possible to umark checkboxes

### Actual behavior:

* After a bulk action it is not possible anymore to check and uncheck tickets in the ticket overview.

### St

[2021-03-31 14:42] cortopy opened #3488 "Invalid `null` value for user's last name"
### Infos:

* Used Zammad version: 4.0.0
* Installation method (source, package, ..): helm chart
* Operating system: Kubernetes
* Database + version: default in helm chart
* Elasticsearch version: default in helm chart
* Browser + version: n/a

### Expected behavior:

Creating a user via API with a last name `null` doesn't have unexpected side effects. It seems that the server should either:

- de

[2021-03-31 17:41] martini commented on #3488
Hello @cortopy

can you add your `log/production.log` (at least the related area) to this issue?

Thanks!

[2021-03-31 18:28] cortopy commented on #3488
This is a kubernetes installation and the logs used to be available `/opt/zammad/log/production.log`. However, since I upgraded to 4.0.0 there are no logs. Is there anywhere I can check?

[2021-04-01 06:30] j-herden opened #3489 "mention in email body breaks email parsing"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): Repo  https://dl.packager.io/srv/rpm/zammad/zammad/stable/el/7/x86_64/
* Operating system: CentOS 7
* Database + version: postgresql  9.2.24-4.el7_8
* Elasticsearch version:  7.12.0-1
* Browser + version: Firefox 78.9.0esr (64-Bit)

### Expected behavior:

* missing rights for mentions should not break the email pa

[2021-04-01 06:33] j-herden commented on #3449
I can confirm this bug on Firefox 78.9.0esr (64-Bit) with Zammad 4.0 and 3.6

[2021-04-01 06:54] rolfschmidt commented on #3489
Hi @j-herden ,
i think i understand whats the problem. I guess the problem is that the mail was sent by a customer which tried to answer on a mail of an agent which contained a mention? Does this match your case? Is the user 23490 a customer user?

[2021-04-01 07:03] j-herden commented on #3489
Hi @rolfschmidt,

thanks for your quick replay.

Yes, user 23490 is a customer user and he answered to an email of an agent.
Yes, inside of the quoted agents text of is a mention of another agent.
But the user wrote '@Jens: bist' in his text too.
So there might be two possible triggers for the error.

[2021-04-01 07:05] rolfschmidt commented on #3489
Hi @j-herden ,
great thanks for your fast feedback. I will work on fix now.

[2021-04-01 08:10] rolfschmidt commented on #3488
Hi,
i can reproduce it. It was not clear that he tried to delete the user via web interface.

Steps to reproduce:

1. add user:

`curl -u master@example.com:test -H "Content-Type: application/json" -X POST -d '{ "firstname": "John", "lastname": null, "email": "john@example.com" }' http://ubuntu-rs:3000/api/v1/users`

2. open user profile in frontend

3. delete user via menu

4. get redirected to d

[2021-04-01 08:11] rolfschmidt commented on #3488
traceback:

[code]

[2021-04-01 08:15] MrGeneration commented on #3488
Sounds like a regression. Didn't we have "empty lastname" issues already?

[2021-04-01 08:16] rolfschmidt commented on #3488
Looks like there is an issue with the Pseudonymisation of the user which is not able to handle null correctly... i will prepare a fix

[2021-04-01 08:34] MrGeneration commented on #3133
Scopes sometimes are limitted and thus don't allow to go all in.
We have several responsiveness / UI topics which possibly are rabbit holes.

You can do the following:
   * you can contribute enhancements via pull requests
   * if you can't contribute via pull request for any reason but also cannot wait any longer, you could sponsor speeding up this issue, if you want. If that's a way to go for yo

[2021-04-01 14:50] #3489 closed, assigned to rolfschmidt

[2021-04-01 14:56] #3488 closed, assigned to rolfschmidt

[2021-04-01 15:15] #3468 closed, assigned to thorsteneckel

[2021-04-01 19:08] Kieranwest opened #3490 "Error 500:{"error":"undefined method `+' for nil:NilClass"} - Creating Overview"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): Package
* Operating system: Ubuntu 18.04
* Database + version: Default with Package
* Elasticsearch version: Default with Package
* Browser + version: Chrome 89

### Expected behavior:

* Creation of Overview

### Actual behavior:

* Overview Creation fails with the error code 500: {"error":"undefined method `+' fo

[2021-04-01 19:33] martini commented on #3490
Hi @Kieranwest

can you attach the `log/production.log`. With this file we can see whats going wrong.

[2021-04-01 19:42] Kieranwest commented on #3490
[production.log](https://github.com/zammad/zammad/files/6246129/production.log)
Uploaded the file for you @martini . Removed all it's contents and redid the issue to avoid exposing sensitive information.

[2021-04-02 02:44] dimuit86 opened #3491 "Zammad with external Postgresql DB"
Hi Guys,

I'm planning to deploy Zammad on Kubernetes with separate postgresql database. Can anyone guide me to how can I customize zammad for external DB?

Is there any option to pass DB connection string as an argument to the helm install?

Or any other options welcome ☺

Thanks,

[2021-04-02 05:26] mantas commented on #3490
@Kieranwest are you creating the Overview using API or user interface? Could you post the screenshot of Overview creation dialog before submitting?

Did you remove all other Overviews before creating this one?

[2021-04-02 07:44] martini commented on #3490
@Kieranwest thanks for the fast feedback. It seems that it only arrears if no overview exists and a new overview (the first one)  should get created.

[2021-04-02 11:00] MrGeneration commented on #3491
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-04-02 11:00] #3491 closed, assigned to nobody

[2021-04-02 11:25] monotek commented on #3491
https://github.com/zammad/zammad-helm/blob/master/zammad/values.yaml#L56

[2021-04-02 14:25] Kieranwest commented on #3490
@martini Yep! I did infact remove all other overviews. Is there any way I can essentially restore those without needing to reinstall ? Haven't tried using the API to create an Overview yet so might try that later today.

[2021-04-02 14:31] mantas commented on #3490
@Kieranwest a quick fix would be to run contents of https://github.com/zammad/zammad/blob/develop/db/seeds/overviews.rb in Rails console

Proper fix to allow creation of Overview when there're no other Overviews is coming in no time.

[2021-04-02 14:35] #3490 closed, assigned to mantas

[2021-04-02 18:54] Kieranwest commented on #3490
Not 100% how to run this? Can it be ran a similar way to a script ?

EDIT: Made the changed manually found in #3490 and restarted Zammad services.

[2021-04-02 19:05] b90g commented on #3477
Sorry to bother but upgrading from 3.6.1 to 4.0.0 i experience the same Issue.

## Infos:

    Used Zammad version: 4.0
    Installation method (source, package, ..): source
    Operating system: debian (sid)
    Database + version: mysql
    Elasticsearch version: latest
    Browser + version: Firefox

## Expected behavior:

    after Update, loading the zammad webinterface

## Actual behavior:

[2021-04-02 19:06] b90g commented on #3477
also precompile complains about Yarn missing.

[2021-04-02 19:23] Syncnaptic commented on #3477
here is a workaround I did to get it back running, but I can't use 4.0 features like the mentions.
https://community.zammad.org/t/website-shows-loading-after-update-to-4-0/6484

[2021-04-02 20:14] MrGeneration commented on #3477
Please specify the Firefox version you're using and list, if any, the installed addons of that Browser.

[2021-04-02 20:16] MrGeneration commented on #3490
How to use the console:
https://docs.zammad.org/en/latest/admin/console.html

Please note that technical support is out of this repository.
If you need further assistance, please consult the community.

[2021-04-02 23:06] martinvonwittich opened #3492 "POST /api/v1/users/avatar with empty input -> undefined method `substr' for nil:NilClass"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): docker-compose
* Operating system: Debian 10
* Database + version: from docker-compose
* Elasticsearch version: from docker-compose
* Browser + version: Firefox 87

### Expected behavior:

* The following request should print an appropriate error message that no data was submitted (replace token and some.user with

[2021-04-02 23:11] martinvonwittich commented on #3492
This is very, very minor, but had me confused for a good half hour while I was trying to figure out how to get the (undocumented) Avatar API to work. My mistake was that while I was constructing a valid JSON payload with `jq`, I had forgotten the `--data-binary @-` argument to `curl` to actually pass it to Zammad :/

[2021-04-03 10:35] as-wallpen opened #3493 "E-Mail (Eingang): undefined method `[]' for nil:NilClass"
### Infos:

* Used Zammad version: 4.0.0
* Installation method (source, package, ..): Debian Package
* Operating system: Ubuntu 20.04
* Database + version:
* Elasticsearch version: 6.8.15
* Browser + version: Firefox 87.0

### Expected behavior:

Create an Email account to read incoming tickets

### Actual behavior:

Runnuing into the error Message "undefined method `[]' for nil:NilClass"

### Ste

[2021-04-03 11:12] b90g commented on #3477
Firefox 87 in private window without addons.

also thanks Syncnaptic for the workarround, i read that allready but i thought it would be worth a bug report :)

[2021-04-03 11:19] mantas commented on #3493
@as-wallpen could you post `production.log` with lines related to this error? Please make sure to remove sensitive data from it before posting it publicly.

[2021-04-05 10:07] as-wallpen commented on #3493
I, [2021-04-05T12:02:52.798013 #2344-70334218258100]  INFO -- : Started POST "/api/v1/channels_email_inbound" for x.x.x.x at 2021-04-05 12:02:52 +0200
I, [2021-04-05T12:02:52.806925 #2344-70334218258100]  INFO -- : Processing by ChannelsEmailController#inbound as JSON
I, [2021-04-05T12:02:52.807072 #2344-70334218258100]  INFO -- :   Parameters: {"adapter"=>"imap", "options"=>{"host"=>"xxx.xxx.com"

[2021-04-05 10:10] as-wallpen commented on #3493
It´s weird... I see no issues here, but still get the error message, no matter if I use IMAP with SSL on Port 993 or without on Port 143. Also changing the other options make no difference. BTW: Our mailserver is the latest IceWarp release and generally works very well....

[2021-04-05 12:39] Stubenhocker1399 opened #3494 "Status code 500 when trying to sort by groups in text module management"
### Infos:

* Used Zammad version: 4.0.0-1617288982.be4a9657.bionic
* Installation method (source, package, ..): package
* Operating system: Ubuntu 18.04.5 LTS (GNU/Linux 4.15.0-140-generic x86_64)
* Database + version: postgresql 10+190ubuntu0.1
* Elasticsearch version: 7.12.0
* Browser + version: Google Chrome Version 89.0.4389.114 (Official Build) (64-bit)

### Expected behavior:

* Clicking "G

[2021-04-05 12:54] MrGeneration commented on #3494
Did you remove groups from the Zammad instance before this error appeared? ^^

[2021-04-05 13:19] martini commented on #3494
I verified it on my local instance.

![image](https://user-images.githubusercontent.com/110226/113577640-db2a4600-9621-11eb-8bfd-b7b261d37b9f.png)

Traceback is:

[code]

[2021-04-05 20:01] MrGeneration commented on #3494
This affects `text modules` and `macros` as well.

[2021-04-06 07:24] MustafaTongul opened #3495 "Selecting Textmodules, Knowledge Base Articles and the Mentions Feature are not working for mobile devices on Zammad 4.0"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): any
* Operating system: iOS & Android
* Database + version: Any
* Elasticsearch version: Any
* Browser + version: Any
* Ticket #1085673

### Expected behavior:

*by typing "::" the Textmodules are showing up
![image](https://user-images.githubusercontent.com/76220675/113672252-c39d9c80-96b7-11eb-9257-0c31d38d356c.p

[2021-04-06 07:55] dimuit86 opened #3496 "Is there anyway to run Zammad with exsisting postgres database ?"
### Infos:

* Used Zammad version: 3.6.0
* Installation method (source, package, ..): APT packages
* Operating system: ubuntu
* Database + version: postgresql

### Expected behavior:

* Run Zammad with exsiting postgres DB, without creating a new DB. Connecting to existing DB
* Can anyone guide me one this...

[2021-04-06 08:05] MrGeneration commented on #3496
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-04-06 08:05] #3496 closed, assigned to nobody

[2021-04-06 10:11] cautopartes opened #3497 "Customer's overviews need page reload after switching"
### Infos:

* Used Zammad version: 4.0.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Tested with Firefox  87.0 and Chromium 89.0.4389.114 (Official Build)
~~* Ticket#1085588, #1085380~~

### Expected behavior:

* A customer's overviews should be displayed normally upon switching from one overvi

[2021-04-06 10:42] MrGeneration commented on #3497
Duplicate of #3479

[2021-04-06 10:42] #3497 closed, assigned to nobody

[2021-04-06 10:44] MrGeneration commented on #3479
I reopened this over favor of #3497 to keep the original finder. Sorry for the trouble.

[2021-04-06 13:06] YWatchman opened #3498 "Cannot install Zammad without Elasticsearch getting the Elasticsearch package"
### Infos:

* Used Zammad version: 4.0.0-1617381062.0fb1b17c.bionic
* Installation method (source, package, ..): Package (apt)
* Operating system: Ubuntu Bionic (18.04)
* Database + version: PostgreSQL
* Elasticsearch version: 7.12.0

### Expected behavior:

* Install Zammad

### Actual behavior:

* Install Zammad and Elasticsearch

### Steps to reproduce the behavior:

* apt install zammad

Yes I

[2021-04-06 13:09] MrGeneration commented on #3498
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-04-06 13:09] #3498 closed, assigned to nobody

[2021-04-06 14:39] hanneshal opened #3499 "Broken UI - Create Reporting profile"
### Infos:

* Used Zammad version: 3.7.x
* Installation method (source, package, ..): hosted
* Operating system: macOS
* Database + version: Postgresql
* Elasticsearch version: unkown
* Browser + version: Safari Version 14.0.2 (15610.3.7.1.10, 15610)
* Ticket: #1085941, #1086864

### Expected behavior:

* The report profile fields should be inside the popover

![image](https://user-images.githubus

[2021-04-06 20:44] YosefAdPro opened #3500 "Overview names are hidden in mobile view for RTL languages"
### Infos:

* Used Zammad version:  4.0
* Installation method (source, package, ..): any
* Operating system:
* Database + version:
* Elasticsearch version:
* Browser + version: Chrome

### Expected behavior:

* Overviews names are displayed in Mobile

### Actual behavior:

* Overviews names are hidden behind the menu in Mobile

### Steps to reproduce the behavior:

* see screenshots

![Screenshot_

[2021-04-07 08:30] #2629 closed, assigned to mantas

[2021-04-07 09:20] #3444 closed, assigned to bolah2009

[2021-04-07 09:20] MrSnoozles commented on #3449
Confirming with Zammad 4.0

[2021-04-07 09:22] MrGeneration commented on #3449
Locking conversation to contributors only to reduce noise during verification phase for users bumping this issue with confirmation.

[2021-04-07 09:34] #3445 closed, assigned to bolah2009

[2021-04-07 09:42] kgoldinger opened #3501 "Agents can create new tags even if prohibited by the settings"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): package
* Operating system: CentOS 7.9
* Database + version: PostgreSQL 9.2.24
* Elasticsearch version: 7.12
* Browser + version: Tested on Edge 89, Chrome 89 and Firefox 87
* Ticket#1094624

### Expected behavior:

* As defined in the tag settings users should not be able to create new tags

### Actual behavior:

[2021-04-07 09:49] MrGeneration commented on #3501
I think that's a very edgy one.
I was forced to add any tag again to the draft so Zammad would let me add it.

If I re-visit my ticket draft without touching the tag field, nothing will happen (as it's empty).

[2021-04-07 13:41] ivan0s opened #3502 "Reporting Error - StatusCode: 500"
After Upgrading vom 3.6.x to 4.0 i have this error when i try to open the reporting module.

StatusCode: 500

{"error":"Unable to process GET request to elasticsearch URL 'http://localhost:9200/zammad_production_ticket/_doc/_search'. Elasticsearch is not reachable, probably because it's not running or even installed.\n\nResponse:\n#\u003cUserAgent::Result:0x00007f6abc880990 @success=false, @body=n

[2021-04-07 13:49] MrGeneration commented on #3502
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-04-07 13:49] #3502 closed, assigned to nobody

[2021-04-07 20:32] datadorf commented on #3483
### Infos:

* Used Zammad version: 4.0.0-1617783741.c5f885af.focal amd64
* Installation method (source, package, ..): package
* Operating system: 20.04.1 (Ubuntu)
* Database + version: mysqld  Ver 8.0.23
* Elasticsearch version: elasticsearch 7.12.0 amd64
* Browser + version: Firefox 87

### Expected behavior:

Uploading files to a Ticket is working. Usually you can see a filename + size

### Actu

[2021-04-08 21:28] MrGeneration opened #3503 "`ticket.customer_id` is `current_user` breaks email fetching"
### Infos:

* Used Zammad version: 4.0 stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any (verified on Google Chrome)

### Expected behavior:

Invalid conditions do are either ignored (thus trigger, slas or whatever not run at all) or are not configurable in a harmful way.

### Actual behav

[2021-04-09 08:45] #3486 closed, assigned to mantas

[2021-04-09 11:34] olafbuitelaar opened #3504 "cache inline images"
as being discussed here; https://community.zammad.org/t/download-size-upon-first-load-browser-refresh/6555/7
It would be nice if the inline images could be cached by the browser.
Currently Zammad does include an ETag header which can be used for caching, i've checked the value over multiple requests and it remains consistent for the same inline-image. But due to the other HTTP headers Zammad inclu

[2021-04-11 13:21] GlennDebecker commented on #241
Hey, is there no information about how the API works with roles?

[2021-04-11 13:27] MrGeneration commented on #241
Please don't recycle old issues.
Github is not the right place for technical questions, please consult the community instead: https://community.zammad.org .

[2021-04-12 08:25] flymia commented on #3373
Hi there! My LDAP-users just got inactive over night, probably after an LDAP sync, but the weird thing is that I did not patch anything and nothing changed on the LDAP side of things.

How can I mark every user as active now? Is there a ruby command for this?

Using 4.0

Cheers

[2021-04-12 08:33] MrGeneration commented on #3373
Please **do not** recycle old and closed issues.
As this is a technical question, please consult the community instead: https://community.zammad.org

If you happen to be a paying customer, please contact our support team via the known email address.

[2021-04-12 10:34] alexbippus opened #3505 "Zammad Upgrade failes from 2.9 to 3.6"
Hello There,

i am new here in Github and i am searching for help to Upgrade Zammad.

I am not an expert in coding, only a little bit experienced in installing linux/zammad.

The main Problem is the Login after a Zammad Upgrade. It shows an "ID Error" for my all my users.

### Infos:

* Used Zammad version: 2.9.0 -> 3.6.0
* Installation method (source, package, ..): source
* Update Method: package

[2021-04-12 10:48] MrGeneration commented on #3505
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-04-12 10:48] #3505 closed, assigned to nobody

[2021-04-13 21:18] olafbuitelaar commented on #3504
I've checked the nginx configuration and gzip is already configured, so that's all good.

I created a test setup for caching the inline images, here; https://github.com/zammad/zammad-docker-compose/compare/master...olafbuitelaar:add-varnish
using this setup the initial load time after a refresh is about 6x faster, due to the caching.
What it does is that all requests to: /api/v1/ticket_attachment/

[2021-04-14 05:03] martini opened #3506 "Outgoing emails with tables have borders (do not contain design elements in email reset css)"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Outgoing emails with tables should not have borders (e. g. see https://github.com/zammad/zammad/blob/develop/app/views/mailer/application_wrapper.html.erb#L39)

### Actual behavior:

[2021-04-14 12:12] martinseener opened #3507 "Microsoft 365 Account doubling upon reauthentication of a disabled account"
### Infos:

* Used Zammad version: 4.0.x
* Installation method (source, package, ..): Zammad Hosted
* Operating system: -
* Database + version: -
* Elasticsearch version: -
* Browser + version: Latest Firefox

### Expected behavior:

When disabling a Microsoft 365 account and clicking on "reauthentication", I expect the reauth to work and re-enabling of the account.

### Actual behavior:

Upon suc

[2021-04-14 12:20] rolfschmidt opened #3508 "new _plugin dir introduces auth:login events which will never get triggered"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

### Expected behavior:

* the code of the auth:login events should get triggered somehow

### Actual behavior:

following blocks dont get executed:

[code]

### Steps to reproduce the behavior:

auth:login e

[2021-04-14 14:32] martini opened #3509 "In certain cases correct filename of email attachments is not recogniced"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* show correct file names of email attachments

### Actual behavior:

* In certain cases, "Content-ID" is snow as filename instand

### Steps to reproduce the behavior:

* Process ema

[2021-04-14 14:34] MrGeneration commented on #3509
Sounds like a duplicate of https://github.com/zammad/zammad/issues/2425

[2021-04-14 14:57] martini commented on #3509
Duplicate of #2425

[2021-04-14 14:57] #3509 closed, assigned to nobody

[2021-04-15 09:51] thorsteneckel commented on #2425
Fixed with the two commits above.

[2021-04-15 09:51] #2425 closed, assigned to martini

[2021-04-15 12:25] mrohnstock opened #3510 "Advanced search for `state` and `state_id` is broken"
### Infos:

* Used Zammad version: 4.4.0-20
* Installation method (source, package, ..): docker
* Operating system: archlinux
* Database + version: ? (docker version)
* Elasticsearch version: ? (docker version)
* Browser + version: Vivaldi 3.7.2218.52

### Expected behavior:

(as listed in [user-docs](https://user-docs.zammad.org/en/latest/advanced/search.html) searching for `state:open` do get re

[2021-04-15 12:27] MrGeneration commented on #3510
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

Note: The referenced Zammad version you provided is **no Zammad version**.

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this re

[2021-04-15 12:27] #3510 closed, assigned to nobody

[2021-04-15 16:15] MrGeneration commented on #3477
Just for your information:
All mentioned workarounds to not help. Restarting, pulling, asset re-compiling does not fix this issue.

I finally found an environment were this appears. Still needs verification and finding the root cause of this.
Affected number of instances is very low (from what I can tell) but draws the instance completely useless. It's not limited to a browser, I currently am gues

[2021-04-15 16:57] MrGeneration commented on #3477
@Syncnaptic @b90g Please ensure that your Zammad installation is a vanilla installation. This means: No custom changes at all.

If your installation is vanilla and recompiling assets ( `rake assets:precompile; systemctl restart zammad` ) does **not**, please contact support [at] zammad [dot] com. Reference this issue and me (Marcel).

[2021-04-16 08:06] b90g commented on #3477
(Ticket#1086124)

[2021-04-16 16:53] jan-wi opened #3512 "local gitlab without https is only partially supported"
### Infos:

* Used Zammad version: 4.0.0
* Installation method (source, package, ..): package
* Operating system: Ubuntu Linux 20.4
* Database + version: postgresql 13
* Elasticsearch version: elasticsearch 7.12
* Browser + version: Firefox Developer 88

### Expected behavior:

* Adding a gitlab Issue to a ticket while using a local gitlab with an HTTP Address similar to the API endpoint

### Actu

[2021-04-19 07:38] fuerni81 commented on #3357
I have the same problem.
With Outlook 2019 I can connect to ical from ZAMMAD, but not with Outlook 365.
Over browser I can see the ical informations

[2021-04-19 07:40] MrGeneration commented on #3357
@fuerni81 please don't recycle already closed issues. This also sounds like a technical question, this repository is the wrong place for those.

Locking conversation to contributors only to reduce further hijacks.

[2021-04-19 09:20] blu-IT opened #3514 "csv import example file download (organizations) is empty"
Hello,

on a (nearly) fresh zammad installation (4.0) via docker compose I tried downloading the csv import example file for organizations.
Clicking on the link https://myhelpdesk.mytestsystem.de/api/v1/organizations/import_example I get an empty csv file.
There are no field names inside that file, nothing. I think this is a bug ;-)

### Infos:

* Used Zammad version: v. 4.0.0
* Installation metho

[2021-04-19 09:53] MrGeneration commented on #3514
This is edgy.
You forgot to mention that you removed all organizations before.

The only reason I accept this above is because it appears **if no organizations are available**.

[2021-04-19 15:16] MrGeneration commented on #3477
I've had a look together with @b90g and we couldn't force this issue by using the latest stable directly from Github.
Please note that our documentation does state the differences: `Get the latest stable release of Zammad here, or find the initial version at https://ftp.zammad.com.`

Versions from `ftp.zammad.com` are initial versions and may contain bugs / issues which may lead to broken updates

[2021-04-19 15:16] #3477 closed, assigned to nobody

[2021-04-19 16:33] blu-IT commented on #3514
That's right. I removed the organizations before.

 Thanks!

[2021-04-19 23:18] bmanojlovic opened #3515 "Feature request: Allow single tenant only application in microsoft 365 #3446"
### Infos:

* Used Zammad version: 3.7.x
* Installation method (source, package, ..): source
* Operating system:  Red Hat Enterprise Linux 8.3 (Ootpa)
* Database + version: postgresql-12.5
* Elasticsearch version: (not installed  and not required for this use case)
* Browser + version: not relevant

Idea behind this patch is to have only "allowed" tenant access to zammad trough "Microsoft 365" acc

[2021-04-20 16:13] Megachip commented on #1505
Hmm, I think creating tickets for missed calls is a very useful feature.

[2021-04-20 16:18] MrGeneration commented on #1505
Please don't hijack closed issues.
Limiting conversation to contributors only.

[2021-04-21 06:41] thorsteneckel opened #3517 "Unable to verify S/MIME mail signature signed with certificate chain"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

An S/MIME email that is signed with a certificate from a certificate chain should be successfully verifiable if Zammad has each certificate of the chain available in its certificate s

[2021-04-21 07:18] #3018 closed, assigned to bolah2009

[2021-04-21 08:25] ghost opened #3518 "Not all LDAP Users are visible under Users"
### Infos:

* Used Zammad version: 4.0.x
* Installation method (source, package, ..): Package
* Operating system: Debian 10 (Buster)
* Database + version: Postgres 11.11
* Elasticsearch version: 7.7
* Browser + version: Google Chrome V89.0.X

### Expected behavior:

*Synced (and added) LDAP users show up under User Tab, to assign specific users certain roles.

### Actual behavior:

*Users are sync

[2021-04-21 08:30] MrGeneration commented on #3518
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-04-21 08:30] #3518 closed, assigned to nobody

[2021-04-21 09:36] #3371 closed, assigned to mantas

[2021-04-21 10:05] Megachip commented on #613
<img width="703" alt="image" src="https://user-images.githubusercontent.com/487352/115535921-80d3eb00-a299-11eb-9582-92a88af3edb3.png">
Found this within Zammad, so is it possible for a user to have multiple emails?

Also it is possible to create additional attributes of type email...
<img width="631" alt="image" src="https://user-images.githubusercontent.com/487352/115536152-c2649600-a299-11eb-8a

[2021-04-21 10:06] MrGeneration commented on #613
@Megachip can you *please* stop hijacking unrelated issues and post technical questions to them?

[2021-04-21 15:31] Dennis1993 commented on #3518
I know this problem. My problem was a double mail address in some accounts. This is not possible.

[2021-04-21 19:09] weltraumreise opened #3519 "Is there a document describing a standard interface to develope new integrations to messaging platform, VoIP platform?"

[2021-04-21 19:25] MrGeneration commented on #3519
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-04-21 19:25] #3519 closed, assigned to nobody

[2021-04-22 07:16] thorsteneckel opened #3520 "Make session TTL configurable"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* An administrator should have the possibility to configure the TTL of a user session.
* If that TTL is overdue the user should get logged out automatically.
* There should be dedicat

[2021-04-22 07:17] #3520 closed, assigned to thorsteneckel, rolfschmidt

[2021-04-22 07:19] geonmo opened #3521 "ks_c_5601-1987 encoding is not supported by zammad"
### Infos:

* Used Zammad version: zammad-3.6.0-1613047982.332fdca8.centos7.x86_64
* Installation method (source, package, .. ): package( yum install )
* Operating system: CentOS Linux release 7.7.1908 (Core)
* Database + version:  postgresql-server-9.2.24-2.el7_7.x86_64
* Elasticsearch version: elasticsearch-7.6.1-1.x86_64
* Browser + version: FireFox 87.0(64bit)

### Expected behavior:

*  When

[2021-04-22 07:21] mantas commented on #3521
Hi @geonmo

Could you give an example email in this encoding? Please make sure it does not contain sensitive details!

[2021-04-22 07:48] geonmo commented on #3521
Hello, Mantas.I am sending you the contents as an attachment. -----------------------원본 메세지-----------------------보낸사람: "Mantas Masalskis ***@***.***>받는사람: zammad/zammad ***@***.***>참조: Geonmo Ryu ***@***.***>,Mention ***@***.***>보낸시간: 2021-04-22 16:22:07 GMT +0900 (ROK)제목: Re: [zammad/zammad] ks_c_5601-1987 encoding is not supported by zammad (#3521)Hi @geonmoCould you give an example email in th

[2021-04-22 08:57] mantas commented on #3521
@geonmo looks like Github is filtering out attachments. Could you send it to support@zammad.com and mention this github issue? Thank you!

[2021-04-22 09:12] MrGeneration opened #3522 "Google and Microsoft 365 are missing filter & signature page content"
### Infos:

* Used Zammad version: 4.0 stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified on Google Chrome v90.0.4430.85, cross checked on a latest FireFox
* Ticket: #1085757

### Expected behavior:

Zammad provides filter and signature listings and settings within:

* email channel
*

[2021-04-22 09:14] geonmo commented on #3521
@mantas I sent an email with attachments. Could you check that?

[2021-04-22 09:23] mantas commented on #3521
@geonmo got it, thank you!

[2021-04-22 09:53] martini opened #3523 "Escalation overview and all escalation related triggers/schedulers broken in Zammad 4.0"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Show tickets which will escalate within the next 10 min. and which are already escalated.

### Actual behavior:

* No ticket is shown.

### Steps to reproduce the behavior:

* creat

[2021-04-22 09:56] martini commented on #3523
Regression of https://github.com/zammad/zammad/commit/e5ddf28be01a1c26aae8ac06ebc42ab042067122

[2021-04-22 19:52] olafbuitelaar commented on #3504
for it to work in the railserver all calls the send_data needs to be checked, to verify the file before returning a response. For example in this case; https://github.com/zammad/zammad/blob/develop/app/controllers/ticket_articles_controller.rb#L196 should check the ETag.
Maybe another route should exist, to retrieve content by it's content-hash, to eliminate duplicate files. Of course this wouldn'

[2021-04-22 20:06] MrGeneration commented on #3504
I think I already mentioned in the community but for completness: Zammad already stores files once based on it's checksum.

[2021-04-22 20:17] olafbuitelaar commented on #3504
awesome! i'm sorry but i've missed that post. The most recent i've seen is this; https://community.zammad.org/t/reference-images-based-on-their-hash-value/6510. Of course the main objective of this ticket, is to get the; /api/v1/ticket_attachment/.. cache/return 304's. In theory they could map to the same content-hash as route, for which this caching currently wouldn't work. None the less, i would

[2021-04-26 09:43] rolfschmidt commented on #3522
Regression of: https://github.com/zammad/zammad/commit/5ee6418c18ad723819d03431ae8de118624bad73#diff-a506096d0e811c13d1bbc513ef3cd10228ed87f7c7d8c4762d854d15e0035795L35

[2021-04-26 09:43] martini opened #3524 "Default session timeouts to 4 weeks"
### Infos:

* Used Zammad version: develop (2021-04-26)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Follow Up for: https://github.com/zammad/zammad/issues/3520

### Expected behavior:

* Default session timeout to 4 weeks

### Actual behavior:

* Currently its 2 days, which will lead all

[2021-04-26 09:46] martini opened #3525 "Show modal infomation 30 seconds before a session expires"
### Infos:

* Used Zammad version: develop (2021-04-26)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Follow Up for: https://github.com/zammad/zammad/issues/3520

### Expected behavior:

* Show modal infomation 30 seconds before a session expires

### Actual behavior:

* No information is s

[2021-04-26 09:48] martini opened #3526 "Default session timeout verification on backend only once a hour"
### Infos:

* Used Zammad version: develop (2021-04-26)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Follow Up for: https://github.com/zammad/zammad/issues/3520

### Expected behavior:

* Default session timeout verification on backend only once a hour

### Actual behavior:

* Currently it

[2021-04-26 12:17] MrGeneration opened #3527 "Switch EmailAdress-Validation method to `email_address` gem"
### Infos:

* Used Zammad version: 4.0 and earlier
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket: #1086130

*Please note: This issue has affected issues (brothers and sisters):*
   * https://github.com/zammad/zammad/issues/2401
   * https://github.com/zammad/zammad/issues/2402
   * h

[2021-04-26 12:33] thorsteneckel opened #3528 "Allow to add S/MIME certificate chains from single file"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* When uploading/pasting a S/MIME certificate chain Zammad should detect that and add a certificate for each single one of them.

### Actual behavior:

* When uploading/pasting a S/MI

[2021-04-27 06:40] #3524 closed, assigned to rolfschmidt

[2021-04-27 06:41] #3526 closed, assigned to rolfschmidt

[2021-04-27 06:54] #3517 closed, assigned to thorsteneckel

[2021-04-27 09:57] cautopartes opened #3529 "Attachments sent by Zammad not shown in Outlook"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket(#1084638), (#1086226), (#1081546)

### Expected behavior:

* Attachments should always be shown in any email client.

### Actual behavior:

* Under some circumstances (see "steps to reproduce...") at

[2021-04-27 10:00] martini commented on #3529
Note: It has todo with the `Content-ID` of the attachment in the mail. The `mail` gem is adding `Content-Disposition: inline` because of the `Content-ID` (even if the attachment is not referenced in the html markup).

Solution: Zammad needs to define if the attachment is  `Content-Disposition: inline` or  `Content-Disposition: attachment`.

[2021-04-27 10:09] amigthea opened #3530 "Add email templates webui editor"
as I talked about it in the [technical forum](https://community.zammad.org/t/how-to-change-default-template/6758), it would be great if we can customize the postmaster default reply template directly from the web interface.
Right now i found a workaround (check the link above) but it's not optimal at all for production enviroment

Thank you

[2021-04-27 10:10] MrGeneration commented on #3530
Sorry, but this seems to be a feature request.
Please note that this repository is the wrong place for feature requests.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case the community provides enough votes (hearts on the first article, so feels the same way like you), we will move the feature request to this repository.

If you require a feature *now* or

[2021-04-27 10:10] #3530 closed, assigned to nobody

[2021-04-27 10:12] amigthea commented on #3530
it's not a technical question but a feature request

[2021-04-27 10:13] MrGeneration commented on #3530
Correct. I updated my text module and first response.
Please post your feature request on the community as requested in the issue template you removed.

[2021-04-28 06:58] #3528 closed, assigned to rolfschmidt

[2021-04-28 09:51] JustKiddingCode opened #3532 "Ticket Article Plain throws 204 Empty Content or HTTP 500"
### Infos:

* Used Zammad version: 4.0.X
* Installation method (source, package, ..): Package
* Operating system: Debian 10
* Database + version: Postgres 11
* Elasticsearch version: 7.12.1
* Browser + version: Chromium

### Expected behavior:

* Agent sees raw Mal/ downloads raw mail

### Actual behavior:

* Zammad throws HTTP 500 Error / 204 Empty Content

### Steps to reproduce the behavior:

*

[2021-04-28 10:06] JustKiddingCode opened #3533 "Zammad doesn't honor REMOTE_USER in API Calls"
### Infos:

* Used Zammad version: 4.0.1
* Installation method (source, package, ..): Package
* Operating system: Debian 10
* Database + version: Postgres 11
* Elasticsearch version:
* Browser + version: Curl

### Expected behavior:

* Zammad uses REMOTE_USER set by NGINX

### Actual behavior:

* Zammad uses authorisation

### Steps to reproduce the behavior:

* Set up Zammad with Authorisation by

[2021-04-28 10:22] MrGeneration commented on #3533
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-04-28 10:22] #3533 closed, assigned to nobody

[2021-04-28 11:24] #3512 closed, assigned to mantas

[2021-04-28 12:24] #3522 closed, assigned to rolfschmidt

[2021-04-28 12:36] rolfschmidt commented on #3479
Hi @delphi-sucks ,
thank you very much for your report. I was able to reproduce it and will fix it asap.

[2021-04-28 13:46] rolfschmidt commented on #3529
Hi @martini ,

the example is a plain mail. is it even possible to have inline attachments in plain emails? I tried to have inline attachments in my thunderbird and it does not look like its possible.

Maybe the default is just wrong:

https://github.com/zammad/zammad/blob/7125e54b1316b8f7da9a81e18f7b350f127f6eb9/app/models/channel/email_build.rb#L97

For html emails the default is attachment:

ht

[2021-04-28 13:51] martini commented on #3529
No, it's not possible. But some clients (like android galaxy) creating plain emails with an attached attachment/screesnhot which has an `Content-ID` header.

Then IMO the `Content-ID` is to much (not needed) but we can't change this behavior by android galaxy.

Because of this containing `Content-ID` header the `mail`-gem adds `Content-Disposition: online`.

[2021-04-28 14:09] #3506 closed, assigned to bolah2009

[2021-04-28 15:08] cautopartes opened #3534 "Chat on iOS only shows parts after typing"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: iOS 14.5 Safari
* Ticket#1086495

### Expected behavior:

* Send button and conversation should be always visible

### Actual behavior:

* Once the user starts to type some text the viewport changes drastically (

[2021-04-28 19:12] Dennis1993 opened #3535 "Log spamming in http_logs > no clean up"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): apt
* Operating system: Ubuntu 20.04.2
* Database + version: postgres
* Browser + version: Microsoft Edge

My database is growing very fast. We use zammad since 01.03.2021 (8 weeks!) and our database is ober 4 GB big. I connected to the database with HeidiSQL and see one table called **http_logs** which is über **3

[2021-04-29 06:38] thorsteneckel commented on #3535
Hi @Dennis1993 - this is a rather technical question. Please refer to the [community board](http://community.zammad.org/) as the issue tracker is for verified and reproducible bugs.

Background:
The HTTP log gets cleaned up [automatically](https://github.com/zammad/zammad/blob/ac64f4a156d624816622b3b0a5a50b565a4f1ed0/db/seeds/schedulers.rb#L175-L183) and will [remove records older than 1 month](ht

[2021-04-29 06:38] #3535 closed, assigned to nobody

[2021-04-29 07:57] MrGeneration opened #3536 "Don't fail job is `deletable_id` is no longer available"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket#1086914

### Desired behavior:

If a user has been removed via other methods in parallel to DataPrivacy it will acknowledge that `deletable_id` is no longer available and switch to `completed` instea

[2021-04-29 10:01] rolfschmidt commented on #3536
@MrGeneration will contact me if it will occur again. Not reproduceable atm.

[2021-04-29 10:17] thorsteneckel commented on #3479
Fixed in develop! @rolfschmidt would you mind creating the backport to stable?

[2021-04-29 10:18] rolfschmidt commented on #3479
@thorsteneckel ok

[2021-04-29 15:34] #3523 closed, assigned to martini, rolfschmidt

[2021-04-30 06:31] rolfschmidt commented on #3479
should be fixed in stable also now ;-)

[2021-04-30 06:31] #3479 closed, assigned to rolfschmidt

[2021-04-30 10:20] mantas commented on #3521
@geonmo unfortuantely I cannot reproduce the bug. I tried to import the sample email. It works just fine in latest `develop` branch! No error and it renders Korean text just fine.

Then I noticed this in your original report:

Could you check if this error still persists in latest version?

[2021-04-30 13:37] #3492 closed, assigned to mantas

[2021-05-02 05:52] Itay-Sharoni-zz opened #3537 "Source - After Upgrade to 4.0 only blank white page appear"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): Source
* Operating system: Debian 9
* Database + version: Mysql8
* Elasticsearch version: 7.12
* Browser + version: any

### Expected behavior:

when upgrading from 3.6.0 to 4.0 I had multiple issues

1. the latest GZ file have different structure, when extracting, all new files goes to  /opt/zammad/zammad-latest i

[2021-05-02 11:13] MrGeneration commented on #3537
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-05-02 11:13] #3537 closed, assigned to nobody

[2021-05-03 08:15] thorsteneckel commented on #2453
Hi @bolah2009 and @MrGeneration - this sounds like a duplicate of https://github.com/zammad/zammad/issues/3467

Do you agree?

[2021-05-03 08:16] rolfschmidt commented on #3481
@MrGeneration is it maybe possible to get the full traceback or do you think the log is gone now?

[2021-05-03 08:16] MrGeneration commented on #2453
Yep, issue 3467 is a duplicate of this issue, I agree.

[2021-05-03 08:17] rolfschmidt commented on #3481
or do you remember maybe what background job type was crashing?

[2021-05-03 08:19] MrGeneration commented on #3481
No that's too far in the past, I'm sorry.
I'll keep my eyes open for similare ones.

[2021-05-03 09:19] thorsteneckel commented on #2453
Closing as duplicate of #3467 then.

[2021-05-03 09:19] #2453 closed, assigned to nobody

[2021-05-03 09:22] MrGeneration commented on #2453
I just migrated the ticket and priotisement information to the "duplicate".

[2021-05-03 09:32] rolfschmidt commented on #3034
Hi,

since the rework of #3243 this should be fixed also with zammad 4.0. If you have still any issues let me know.

[2021-05-03 09:32] #3034 closed, assigned to rolfschmidt

[2021-05-03 09:40] MrGeneration commented on #3333
Due to missing ticket number information I was not able to notify the customer about the fix of this bug.

[2021-05-03 12:23] martini commented on #1767
Duplicate of https://github.com/zammad/zammad/issues/3011

[2021-05-03 12:23] #1767 closed

[2021-05-03 19:37] MrGeneration opened #3538 "Inline image conversion from jpeg to png causes huge overhead"
### Infos:

* Used Zammad version: 4.0/stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified on Google Chrome 90.0.4430.93 and Firefox 88.0
* Ticket: #1086466 (contains sample eml)

### Expected behavior:

* Zammad converts inline images to either `png` or `jpeg` depending on the original

[2021-05-03 21:07] #3012 closed, assigned to mantas

[2021-05-04 07:06] mantas opened #3539 "When replying, quote article content only"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket: #1079483

### Expected behavior:

* If text in the article is selected, it will be quoted when starting a reply
* If text outside of the article is selected, it will be ignored when starting a reply

[2021-05-04 09:43] 0x4c6565 opened #3540 "Reporting not displaying open/closed tickets"
### Infos:

* Used Zammad version: **4.0.0-20**
* Installation method (source, package, ..): Docker
* Operating system: CentOS 7
* Database + version: **zammad/zammad-docker-compose:zammad-postgresql-4.0.0-20**
* Elasticsearch version: **zammad/zammad-docker-compose:zammad-elasticsearch-4.0.0-20**
* Browser + version: Firefox 89.0b7

### Expected behavior:

* When attempting to view the reporting

[2021-05-04 09:45] MrGeneration commented on #3540
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-05-04 09:45] #3540 closed, assigned to nobody

[2021-05-04 10:24] MrGeneration commented on #3217
I'm closing this issue as it has not received further feedback.
We currently expect above actions to have solved this issue.

[2021-05-04 10:24] #3217 closed, assigned to nobody

[2021-05-04 10:34] MrGeneration opened #3541 "Opening user edit dialog with `admin.user` causes WebApp freeze for 10-20 sec. with 100+ roles"
### Infos:

* Used Zammad version: 4.0/stable and earlier
* Installation method (source, package, ..): anyy
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified on latest Google Chrome and Firefox
* ~~Tickets: 1084881, 1086875~~ (✅)

*Note: This issue only affects users with at least `admin.user` permission and thus should not affect normal a

[2021-05-04 10:50] MrGeneration opened #3542 "Avatar lookup during user creation can cause significant delays"
### Infos:

* Used Zammad version: 4.0/stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any, verified via API
* Ticket: #1086128

### Desired behavior:

Zammad should create accounts right away without waiting for imaging services.
Avatar lookup should be a (very) low priotized delayed job th

[2021-05-04 11:04] #3370 closed, assigned to mantas, bolah2009

[2021-05-04 11:25] kevin-olbrich commented on #2991
This is still broken in "4.0.0-1619855763.0df0f9d4.buster".
I'm currently spinning up a test instance.

This is becomming an issue for us, as the traffic is increasing.

[2021-05-04 11:31] MrGeneration commented on #2991
We're currently investigating this topic but can't tell much new stuff yet.
However, we currently don't expect load situations going on.

[2021-05-04 11:47] kevin-olbrich commented on #2991
https://github-issue-2991.zammad.com/

![image](https://user-images.githubusercontent.com/503085/116998043-ef736880-acdd-11eb-8d17-2d79d7248695.png)

Under heavy load it happens a lot, **under low load it still happens but less frequent**.
For example, my first try against the hosted instance already lost it's attachment...
A new instance should not have much load.

You can find that example in Ti

[2021-05-04 11:57] kevin-olbrich commented on #2991
Quick Benchmark: 3 missing attachment in 23 sent total.

[2021-05-04 14:21] rolfschmidt opened #3543 "Translate link text of link template in organization sidebar in ticket zoom"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

**Ticket#1085189**

### Expected behavior:

* Linktext of a link template is translated.

![grafik](https://user-images.githubusercontent.com/5445062/117017856-3f5d2a00-acf4-11eb-893c-be2602dbaa2f.png)

###

[2021-05-04 14:39] #3541 closed, assigned to martini

[2021-05-04 19:36] olafbuitelaar commented on #3504
What kind of spec's are we looking for?

[2021-05-05 04:58] romitgithub commented on #3495
@MrGeneration Just wanted to know if this is happening on iOS as well?

[2021-05-05 05:20] martini commented on #3495
@romitgithub there is an iphone simulator with xcode which you can start locally. Then you can test it directly.

[2021-05-05 05:24] romitgithub commented on #3495
Oh alright. Thanks will try that 👍🏼

[2021-05-05 06:54] rolfschmidt opened #3544 "Increase text modules box height for high resolutions"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

Ticket#1086407

### Expected behavior:

* Text modules should show up double elements on > 1080p resolutions

### Actual behavior:

* Text modules only shows five elements

### Steps to reproduce the behavio

[2021-05-05 07:18] mantas commented on #3532
This happens because OTRS importer does not import raw emails. While `raw` link is shown for any `email` article.

Unfortunately there's no quick and clean fix due to how database is structured. Thus infamous `refactoring 2.0` label :)

[2021-05-05 07:46] thorsteneckel commented on #3532
We talked about what would be required and what the implications would be:

- Exporting raw emails would lead to multiple millions of additional transfer data
- It would slow down exports (not only OTRS)
- It's not possible to get the raw data from all import sources
- Imports are used in most cases an archive and the usage of raw emails is more of an edge case

Therefore the team decided to don't

[2021-05-05 09:37] thorsteneckel commented on #3504
"Specs" means how the actual implementation in the Zammad codebase will look like. Like the approach. This is a usual process step in our implementation cycle. The label is a "red warning" for developers to not pick this issue and start the implementation without thinking about the implications and other details.

[2021-05-05 11:18] MrGeneration opened #3545 "Ensure Google Calendars are fetched via `HTTPS`"
### Infos:

* Used Zammad version: 4.0/stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket: #1086717

### Expected behavior:

Zammad fetches holiday calendars from google by using `https`.

### Actual behavior:

Zammad fetches holiday calendars from google by using `http`.
This is a

[2021-05-05 11:27] mantas commented on #3545
@MrGeneration looks like this is the culprit https://github.com/zammad/zammad/blob/12ad55279adb10b64d234969aba6929183fea7ac/config/holiday_calendars.yml#L3

[2021-05-05 11:39] MrGeneration commented on #3545
What a bad boy :D

[2021-05-05 12:29] olafbuitelaar commented on #3504
Ah oke clear. i did already browse a bit in the code see:

But it didn't seem straightforward, to let the standard ruby implementation handle this in the send_data method, it seems this either needs to be implemented from scratch (meaning checking the request headers, compare the ETag hash with the file, and deciding how to respond, either with a 304 or 200 with the full body), or maybe there is s

[2021-05-05 14:45] #3545 closed, assigned to mantas

[2021-05-05 16:40] rolfschmidt commented on #3543
Fix was invalid. Normally if you want to have a translated link text, you need to set the **translate** at the attribute. Currently there is no way to do it via UI so:

`obj = ObjectManager::Attribute.find_by(name: 'test'); obj.data_option['translate'] = true; obj.save`

It will brick because the translated string will skip the linktemplate generation and thats the real issue here. This will be po

[2021-05-05 18:12] MrGeneration opened #3546 "Don't display profile link if user has no user_preferences.* permissions at all"
### Infos:

* Used Zammad version: 4.0/stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified on Google Chrome v90.0.4430.93
* Ticket: #1086916

### Expected behavior:

If users don't have permission for at least one `user_preferences.` permission, Zammad will not display the "Profile" lin

[2021-05-06 11:59] rolfschmidt commented on #2769
~~Ticket#1085435~~

Edit by @MrGeneration : Moved ticket number to first article, especially on long issues it's impossible to keep track of all possible appearing ticket numbers.

[2021-05-06 12:12] #3543 closed, assigned to rolfschmidt

[2021-05-06 13:36] rolfschmidt opened #3547 "Ticket selector for first_response_escalation_at, update_escalation_at, close_escalation_at missing"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all
* Ticket#1085435

### Expected behavior:

![grafik](https://user-images.githubusercontent.com/5445062/117307396-d48d2980-ae80-11eb-8305-9319c61db477.png)

### Actual behavior:

* Ticket selector for first_res

[2021-05-06 13:42] MrGeneration commented on #2706
FYI: Ticket#1086963 contains a sample raw that might help pinning this done. It seems like especially rather long quotations cause this effect to appear more likely.

[2021-05-07 09:48] MrGeneration opened #3548 "Can't add (or run) DataPrivacyTask if the to remove user has too many ticket relations"
### Infos:

* Used Zammad version: 4.0/stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified on latest Google Chrome, shouldn't be relevant though
* Ticket:  #1086977

### Expected behavior:

The number of tickets a user owns no matter if as owner or customer is not relevant for the remov

[2021-05-07 11:53] #3508 closed, assigned to rolfschmidt

[2021-05-07 12:33] #3547 closed, assigned to rolfschmidt

[2021-05-07 12:35] #3544 closed, assigned to rolfschmidt

[2021-05-07 12:43] rolfschmidt commented on #3508
stable doesnt have the session timeout feature should be needed here.

[2021-05-07 13:54] thorsteneckel commented on #2616
Heads up fellow FreeBSD users! Good news: We will remove the `mini_racer` dependency with the next major release 5.0 of Zammad 😍  Instead we will require node.js as a build dependency (just for `rake assets:precompile` for now) which is available for FreeBSD. We're far from having a concrete date yet.

However, what we have is a workaround that might help you a bit: [We found a way to make the `mi

[2021-05-07 13:54] #2616 closed, assigned to thorsteneckel

[2021-05-07 14:00] cautopartes opened #3549 "Customer sees no reference if a ticket has been merged"
### Infos:

* Used Zammad version: 4.0.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket: #1086712, #10117295

### Desired behavior:

* A reference to the parent ticket should be shown to customers when looking at a merged ticket. (Just like with agents)

### Actual behavior:

* Merged

[2021-05-07 14:26] #3499 closed, assigned to bolah2009

[2021-05-08 21:49] ntinti commented on #2616
😻 Cool, very cool!

[2021-05-10 05:20] geonmo commented on #3521
@mantas Hello, Mantas.

The same issue hasn't recurred yet after the program upgrade.

First of all, I will close this issue and contact you again when it comes back.

Thank you.

[2021-05-10 05:20] #3521 closed, assigned to nobody

[2021-05-10 06:12] aditya-cp commented on #233
@anned20, chat.onConnectionEstablished function is not getting called, I'm using chat-no-query-min.js, is it working for you?

[2021-05-10 06:36] MrGeneration commented on #233
Please do not post technical questions on github but our community instead.
As this issue is quite old and to reduce bumps I'll be limitting this issue to contributors only.

[2021-05-10 07:08] rolfschmidt opened #3550 "CTI Log performance bad because of reformatting of the phone number"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

### Expected behavior:

* internationalized phone numbers should get cached/saved to increase performance

### Actual behavior:

* View is low because internationalized phone numbers will generated for each

[2021-05-10 12:52] rolfschmidt opened #3551 "First response doesn't get solved after answering and state change to pending reminder"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all
* Ticket#1086596

### Expected behavior:

first response should get solved and the following fields should get saved:

- first_response_in_min
- first_response_diff_in_min

### Actual behavior:

fields dont g

[2021-05-10 13:35] #2769 closed, assigned to rolfschmidt

[2021-05-10 13:41] rolfschmidt commented on #3551
Hi @mantas ,

you refactored the logic, are you interested to solve this bug? It has a high priority. Maybe we can talk about this tomorrow in the standup?

[2021-05-10 13:44] #3525 closed, assigned to rolfschmidt

[2021-05-10 14:14] #3548 closed, assigned to mantas

[2021-05-10 14:34] #3495 closed, assigned to romitgithub

[2021-05-10 14:54] cwrm opened #3552 "Error on sending E-Mails (incompatible encoding regexp match)"
### Infos:

* Used Zammad version:4.0.0
* Installation method (source, package, ..): package
* Operating system: debian buster
* Database + version: postgresql-11
* Elasticsearch version: 7.12.1
* Browser + version: Firefox 88

### Expected behavior:

* Outgoing E-Mails should be sent via a postfix MTA (STARTTL, Submission)

### Actual behavior:

* Getting the following error message:

In the prod

[2021-05-10 15:07] #3494 closed, assigned to mantas

[2021-05-10 15:09] thorsteneckel commented on #3397
(Pre-dated) duplicate of #3528 - will be fixed with 4.1.

[2021-05-10 15:11] MrGeneration commented on #3552
This was also posted within the community: https://community.zammad.org/t/sending-mails-failed-incompatible-encoding-regexp-match/6870

[2021-05-10 16:58] Evoolo commented on #3552
Facing the same Problem.

After commenting out the line, do I need something else to run for this workaround?

[2021-05-10 17:01] MrGeneration commented on #3552
Sorry but we can't provide technical assistance on potential workarounds. We won't suggest to do so on productive systems.

[2021-05-10 17:30] #3467 closed, assigned to bolah2009

[2021-05-10 19:50] ziodave opened #3553 "Overviews screen is empty, logs record "Invalid selector, operator till (relative) is invalid""
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): zammad-helm
* Operating system: K8s
* Database + version: Postgres 11.6
* Elasticsearch version: 7.12.1
* Browser + version: Firefox 88.0.1

### Expected behavior:

* When I click on Overview, I should see the list of queues

### Actual behavior:

* An empty screen

The following is logged:

[code]

### Steps to re

[2021-05-11 07:08] MrGeneration commented on #3553
Your error description and the log file snippet do not belong together, altough it may have the same reason.
Please check if your developer console (F12) provides console errors when trying to list overviews within the frontend.

Also, did you upgrade or is this a fresh install?
What exactly happened? What user kind are you using? (agent, admin, customer)

[2021-05-11 07:15] ziodave commented on #3553
It's a fresh install pointing to an existing database.

I am using admin.

It's working now, I temporary disabled the readiness and liveness probes which were causing frequent restarts. Maybe that was the cause.

I'll follow up in case I spot it again.

Thanks for your quick reply.

[2021-05-11 07:19] MrGeneration commented on #3553
Sounds like a technical question then.
I'm sorry. Please do not post technical questions on this github repository, instead, use the community: https://community.zammad.org

[2021-05-11 07:19] #3553 closed, assigned to nobody

[2021-05-11 07:25] MrGeneration commented on #3552
This must have appeared some where in between 04th May 2021 and 11th May 2021.
Currently looking for possible evil commits.

Edit: Introduced by https://github.com/zammad/zammad/commit/a862a44bfc72102b0612db2c7fa943726960cbd6 / https://github.com/zammad/zammad/commit/9e157feb2a2b2464fe8d71dd1c09c1ee6ce21ce0

Affects both **stable** and develop.

[2021-05-11 07:43] rolfschmidt commented on #3529
regression:
`Zustellung fehlgeschlagen: "Unable to send email to 'x <x@x.de>': Can't use Channel::Driver::Sendmail: #<Encoding::CompatibilityError: incompatible encoding regexp match (Windows-31J regexp with UTF-8 string)>" `

![grafik](https://user-images.githubusercontent.com/5445062/117777804-41b40c80-b23d-11eb-95d0-f7795c058ef4.png)

[2021-05-11 07:45] thorsteneckel commented on #3552
Regression of https://github.com/zammad/zammad/issues/3529

[2021-05-11 07:59] rolfschmidt commented on #3552
workaround:
[code]

fix is in progress

[2021-05-11 08:02] thorsteneckel commented on #3552
Fixed via https://github.com/zammad/zammad/commit/be64e3ff0c263803def7bae342a79ef09c323f40 / https://github.com/zammad/zammad/commit/1949bee489c27f2cb92bd7901ff36e7a30bd0ab4 by reverting https://github.com/zammad/zammad/commit/a862a44bfc72102b0612db2c7fa943726960cbd6 / https://github.com/zammad/zammad/commit/9e157feb2a2b2464fe8d71dd1c09c1ee6ce21ce0

[2021-05-11 08:02] #3552 closed, assigned to rolfschmidt

[2021-05-11 08:03] thorsteneckel commented on #3529
Change was reverted by the two commits above.

[2021-05-11 08:07] MrGeneration commented on #3552
Package built is running. This may take up to 120 minutes. This particular build can be watched here:
https://packager.io/gh/zammad/zammad/builds/5052

[2021-05-11 09:11] InsaneSplash commented on #3552
I updated to the latest Centos7 package just built and still have this error.
zammad-4.0.0-1620717869.89595964.centos7.x86_64

[code]

[2021-05-11 09:17] martini commented on #3552
@InsaneSplash it seems that the package is not the latest one.

Your package:

Its fixed in:

[2021-05-11 11:31] rolfschmidt commented on #3529
hi @MrGeneration ,

do you have any idea how to reproduce it? it tried it on my hosted instance but it did not work out. I think reasons for the crashes could be the "s" modifier, my fault. in perl the s modifier has a different meaning, but in ruby it is encoding related:

![grafik](https://user-images.githubusercontent.com/5445062/117808272-f4479780-b25c-11eb-8f64-6080e5c38de4.png)

i have no id

[2021-05-11 13:31] fthommen opened #3554 "Zammad sends mails even though there is no email address visible in TO or CC fields (any more)"
### Infos:

* Used Zammad version: 4.0.0-1618480262.260afe11.centos7
* Installation method (source, package, ..): Package (RPM via YUM from repository)
* Operating system: Server: Linux (CentOS 7.9.2009); Client: macOS 11.3.1 Big Sur
* Database + version: MariaDB 10.3
* Elasticsearch version: 7.9.2-1
* Browser + version: Firefox 88.0.1

### Expected behavior

When _cutting_ an email addresses from

[2021-05-11 13:34] MrGeneration commented on #3554
This rings a bell, does this come from the community forum or another issue?

[2021-05-11 13:41] MrGeneration commented on #3554
Found it.
Originally appeared on the community by user "Joe"
https://community.zammad.org/t/bug-ctr-x-not-working-hidden-on-forward-or-answer/5843/3

In my opinion this is more of a usability/UI topic, I wouldn't use Cut on that regard.  Anyway.

[2021-05-11 14:54] fthommen commented on #3554
I'd rather see it as an UI design question, as what is visible (empty address field) doesn't reflect the reality (there is somehow an address registered).

As a user I would expect Zammad not to send emails if there is no email address in the address field ;-).  If the standard OS keystrokes for cut, copy and paste are not supposed to yield the expected results, then they should somehow be blocked

[2021-05-12 10:31] #3550 closed, assigned to rolfschmidt

[2021-05-12 13:27] MrGeneration opened #3556 "Backtrace lines pollute log"
### Infos:

* Used Zammad version: 4.0/stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

If you e.g. authenticate incorrectly via APII, Zammad will return a proper error message via HTTP and will write a info into the log file.

### Actual behavior:

If you e.g. au

[2021-05-12 13:49] #2383 closed, assigned to bolah2009

[2021-05-12 17:07] flixr commented on #3552
I also ran into this bug, upgraded to `4.0.0-1620720612.661989cc.buster` but 1h later the health check still shows the error and I didn't get any notification email for my test ticket created after the upgrade.

So apparently this is not completely fixed... or am I missing something?

[2021-05-12 17:21] MrGeneration commented on #3552
We no longer can reproduce this so you may want to check if affected files have been corrected.
See this commit: https://github.com/zammad/zammad/commit/1949bee489c27f2cb92bd7901ff36e7a30bd0ab4

[2021-05-12 19:15] flixr commented on #3552
Yes, I can confirm that the files are corrected.

I redid the email settings (haven't changed anything, just clicked through the existing/prefilled ones).
That seems to have done the trick...

[2021-05-13 08:30] bastolino opened #3557 "Change Shortcut for Translation"
Hi everyone,

the shortcut Ctrl-Shift-T is for reopen the last recent closed tab in many browsers (at least Firefox and Chrome). This shortcut is superseded by zammad to show the translation-texts. Although this is really a good feature of zammad, it regularly blocks me from using that shortcut.
Moreover: If I am editing a ticket, noting something down, realizing I forgot to check something, I int

[2021-05-13 09:28] MrGeneration commented on #3557
Duplicate of #656

[2021-05-13 09:28] #3557 closed, assigned to nobody

[2021-05-14 00:32] geonmo opened #3558 "Missing some tickets after zammad update"
### Infos:

* Used Zammad version: v4.0
* Installation method (source, package, ..): YUM
* Operating system: CentOS Linux release 7.7.1908 (Core)
* Database + version: postgresql-server-9.2.24-2.el7_7.x86_64
* Elasticsearch version: elasticsearch-7.6.1-1.x86_64
* Browser + version: Firefox 88.0.1

### Expected behavior:

* Information about recent tickets is also wanted to be displayed in the repo

[2021-05-14 01:20] geonmo commented on #3558
I'm adding another message. Perhaps this message will be the most direct connection.
`#<UserAgent::Result:0x0000560948ed9ef8 @success=false, @body="{\"error\":{\"root_cause\":[{\"type\":\"mapper_parsing_exception\",\"reason\":\"failed to parse field [state] of type [text] in document with id '911'. Preview of field's value: '{next_state_id=null, note=null, active=true, created_at=2020-03-12T07:55:

[2021-05-14 06:14] rolfschmidt opened #3559 "mentioned KB entries with the same title in different categories can not distinguished"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all
* Ticket#1086408

### Expected behavior:

* kb entries with the same subject should be distinguishable

### Actual behavior:

* there is only the title displayed

### Steps to reproduce the behavior:

* Add 2

[2021-05-14 06:29] rolfschmidt commented on #3558
hi @geonmo,

try to rebuild your elastic search index: `zammad run rake searchindex:rebuild`

(https://docs.zammad.org/en/latest/install/update.html#updating-elasticsearch)

[2021-05-14 06:35] MrGeneration commented on #3558
Read the release notes please.

Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support

[2021-05-14 06:35] #3558 closed, assigned to nobody

[2021-05-14 11:43] Megachip opened #3560 "CTI: Mapping between user(object) and call log faulty/unclear"
### Infos:

* Used Zammad version: 3.5.0-3 & 4.0.0
* Installation method (source, package, ..): package
* Operating system:
   3.5.0: Univention Memberserver 4.4-7
   4.0.0: CentOS Linux release 7.7.1908 (Core)
* Database + version:
   3.5.0: postgres (PostgreSQL) 9.6.17
   4.0.0: postgres 9.2.24
* Elasticsearch version:
   3.5.0: Version: 7.9.1, Build: default/docker/083627f112ba94dffc1232e8b42b7

[2021-05-14 11:45] MrGeneration commented on #3560
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-05-14 11:45] #3560 closed, assigned to nobody

[2021-05-15 14:02] amigthea commented on #793
can you please instruct me on how I can create the script? or some source where I can learn to do that?

[2021-05-15 14:03] MrGeneration commented on #793
Please don't use issues for technical questions or bump them.
Locking conversation to contributors only.

Please use the community if you need assistance.

[2021-05-17 05:56] bolah2009 commented on #3534
This issue is related to iPhone auto-zoom when an input element is less than 16px, [see here](https://css-tricks.com/16px-or-larger-text-prevents-ios-form-zoom/). When `fontSize` in https://github.com/zammad/zammad/blob/cacfb4b909938fb28e032eff7a919600a9d3b6da/public/assets/chat/views/chat.eco#L1 is set to be less than `16px`, the input element inherits this value and gets overwritten with the ext

[2021-05-17 06:43] MrGeneration opened #3562 "Add console output for searchindex rebuild status"
### Infos:

* Used Zammad version: 4.0/stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Desired behavior:

When running `rake searchindex:rebuild` Zammad provides the current status of reindexing like so:

[code]

The status is updated regularly (e.g. every 100 entries) to have a rou

[2021-05-17 07:31] MrGeneration opened #3563 "Scheduler dies with `apply2files`"
### Infos:

* Used Zammad version: 4.0 / stable and earlier (seen on 3.6 too)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: should be any, seen on postgresql only as of now
* Elasticsearch version: any
* Browser + version: any
* Tickets: #1085473, #1087862

### Expected behavior:

Scheduler does not die on e.g. high load situations.

### Actual beha

[2021-05-17 08:00] rolfschmidt commented on #563
Note by @martini: future solution will open the ticket search which may result in different ticket counts between the widget and the search result because it does check permissions differently:

https://github.com/zammad/zammad/blob/be64e3ff0c263803def7bae342a79ef09c323f40/app/jobs/ticket_user_ticket_counter_job.rb#L25

This will be changed with web 2.0.

[2021-05-17 14:40] #563 closed

[2021-05-17 15:10] #3546 closed, assigned to romitgithub

[2021-05-17 15:14] #2669 closed, assigned to mantas

[2021-05-17 15:20] #3515 closed, assigned to mantas

[2021-05-18 15:31] rvalle commented on #1993
Looks like proxy is still not picked up by telegram channel.
I am on version 4.0.x, latest docker compose.

[2021-05-18 16:37] rvalle commented on #1993
I managed to make it work with docker-compose environment variables added to the components: railserver and scheduler (not sure which ones are required). I also had to define no_proxy to ensure that requests to the elastic search are not proxied.

[2021-05-19 01:01] sinichi19 opened #3564 "Created Ticket state equivalent to closed the customer can update"
* Used Zammad version: tested using 3.6 and 4.0
* Installation method (source, package, ..): package
* Operating system: Ubuntu 20.04
* Database + version: any
* Elasticsearch version: any
* Browser + version: latest , google chrome

### Expected behavior:

* When created new ticket state equivalent to closed the customer cant update the ticket

### Actual behavior:

* The new ticket state equival

[2021-05-19 06:37] MrGeneration commented on #3564
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-05-19 06:37] #3564 closed, assigned to nobody

[2021-05-19 06:39] MrGeneration commented on #1993
well yes, the issue is not yet close right? :)
There's no ETA for that.

To reduce bumps and continuous feedback on fairly old tickets, I'll be limiting the conversation to contributors only.

[2021-05-19 15:11] #3551 closed, assigned to mantas, rolfschmidt

[2021-05-19 15:47] sinichi19 commented on #3564
Thank you sir @MrGeneration  and my apologies if i posted here, and I already posted on zammad community.

I thought my concern is enhancement or a bug because on my understanding the created new ticket state equivalent to closed is same the behavior of default closed state.

thank you

[2021-05-20 06:31] #3529 closed, assigned to rolfschmidt

[2021-05-20 10:48] darklightmoon opened #3565 "Zammad changes characters entering #&"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..):
* Operating system: Windows 10
* Database + version:
* Elasticsearch version:
* Browser + version: Firefox, Chrome

### Expected behavior:

* Get #& after entering #&

### Actual behavior:

* see GIF

### Steps to reproduce the behavior:

*
![Zammad Symbol](https://user-images.githubusercontent.com/59093874/1189657

[2021-05-20 10:49] MrGeneration commented on #3565
Also verified on Zammad 4.0/stable and 4.0/develop

[2021-05-20 15:00] MrGeneration commented on #3563
Note sure if this applies to database connections as well, I currently am watching these kind of issues:

scheduler_err.log:
[code]

production.log:
[code]

[2021-05-21 08:58] KleepX opened #3566 "LDAP user gets "Corrupted""
### Infos:

* Used Zammad version: 4.0.x
* Installation method (source, package, ..): package
* Operating system: CentOS 7
* Database + version:  postgresql 9.2.24
* Elasticsearch version: 7.12.0

### Expected behavior:

Login with the LDAP user like normally.

### Actual behavior:

After the first login of the user, the user gets somehow changed to something like: "6f0b2fb6d31cac5[...]"
and it is

[2021-05-21 09:00] MrGeneration commented on #3566
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-05-21 09:00] #3566 closed, assigned to nobody

[2021-05-21 09:40] #3534 closed, assigned to bolah2009

[2021-05-21 14:31] MrGeneration opened #3567 "Invalid auto assignment conditions may break ticket view for unassigned tickets"
### Infos:

* Used Zammad version: 4.0/stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any (verified von Google Chrome and Firefox)

### Expected behavior:

All available selectors within auto assingment do work. :-D
If one fails, skip the function.

### Actual behavior:

If you find a selec

[2021-05-24 07:25] blawat opened #3568 "Duplicated article after bulk action was executed for newly created tickets without a browser refresh in between"
### Infos:

* Used Zammad version: 4.0
* Used Zammad installation type: package
* Operating system: Debian 10.5
* Browser + version: Microsoft Edge Version 90.0.818.62 (Official build) (64-bit)
* Each component has its own VM (DB, Application, Elastic)

### Expected behavior:

* Article will not be duplicated after executing bulk action.

### Actual behavior:

* When the bulk action is executed on

[2021-05-24 07:58] wucherpfennig commented on #3559
Note: the same goes for translated articles and agents who do not fully speak the desired language.

 If you know that there is an article in German and you have to send the French version to the customer you will most likely not be able to find the French version without leaving the ticket and first look up the French title.

Therefore we would welcome a user setting to have articles displayed in

[2021-05-24 08:00] wucherpfennig commented on #3559
Note 2: please make the auto complete "window" wider as the default size almost never shows the full title of the articles

[2021-05-24 08:46] BernhardK91 commented on #3568
I was able to reproduce this behavior on my installation and can confirm that this needs to be a bug.

[2021-05-24 11:09] MrGeneration commented on #3559
You really shouldn't hijack issue reports regarding other issues.
This one aims at a different position. Mixing things can get confusing and cause issues during solving or after.

I especially aim at your second note as it has to do *nothing* with the original issue.
I'm limitting the conversation of this issue to contributors only to reduce noise on this repository.

[2021-05-24 12:50] giannisftaras commented on #1267
Here's also the Greek translation for the chat widget!

    'el':
        '<strong>Chat</strong> with us!': '<strong>Επικοινωνήστε</strong> μαζί μας!'
        'Scroll down to see new messages': 'Μεταβείτε κάτω για να δείτε τα νέα μηνύματα'
        'Online': 'Σε σύνδεση'
        'Offline': 'Αποσυνδεμένος'
        'Connecting': 'Σύνδεση'
        'Connection re-established': 'Η σύνδεση αποκαταστάθηκε

[2021-05-24 12:57] MrGeneration commented on #1267
Please don't recycle old closed issues.
A PR on the affected file with the fix is warmly welcome!

[2021-05-25 12:37] thorsteneckel commented on #865
Done with https://github.com/zammad/zammad/commit/8790e389be671d447fe0383cff6ad6b73dcaec0d

[2021-05-25 12:37] #865 closed

[2021-05-25 20:00] javier89 commented on #2632
can you help me?, commenting, if someone has had the need to have their chat displayed by a pop-up window, how a resolved?

[2021-05-25 20:03] MrGeneration commented on #2632
Please don't recycle closed issues and don't post technical questions on this repository.
Use the community instead (link above).

[2021-05-25 20:06] #3431 closed, assigned to bolah2009

[2021-05-26 08:22] rolfschmidt opened #3571 "Invalid html signature detection for exchange warning boxes"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all
* Ticket#1085048

### Expected behavior:

* In case of the warning boxes it should disable the html detection to have a proper view on the message.

### Actual behavior:

* It only shows the text of the warni

[2021-05-26 08:47] #3571 closed, assigned to rolfschmidt

[2021-05-26 22:54] DragonFyZex opened #3572 "Customers can see agents tickets by going into network tab"
### Infos:

* Used Zammad version: 4
* Installation method (source, package, ..): Package
* Operating system: Ubuntu 16.04
* Database + version: Postgres 11
* Elasticsearch version: Elasticsearch 7
* Browser + version: Firefox Latest

### Expected behavior:

* Hidden emails when looking at the network tab of /tickets/:id?all=true

### Actual behavior:

* Agent's emails are shown
![image](https://u

[2021-05-27 06:19] thorsteneckel commented on #3572
Please get in touch with us via support-at-zammad dot com. Deleting this issue now.

[2021-05-27 06:19] #3572 closed

[2021-05-27 08:10] MrGeneration commented on #3072
We can no longer reproduce this issue.
It either has magically self fixed or I'm not able to find the correct commit responsible for this.

I've verified this on a stable 4.0.

[2021-05-27 08:10] #3072 closed, assigned to bolah2009

[2021-05-27 13:54] MrGeneration opened #3574 "Use country codes (e.g. `DE` or `ES`) for knowledgebase answer selection"
### Infos:

* Used Zammad version: 4.0 stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Desired behavior:

Instead of displaying the language name e.g. `Deutsch` within Brakets, we should switch to country codes to improve the overview.

e.g.
`My super amazing title [DE]`

### Actual

[2021-05-27 14:05] MrGeneration opened #3575 "Display minutes for session timeouts instead of seconds"
### Infos:

* Used Zammad version: 4.1 /develop
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Desired behavior:

Allow the admin to define timeouts in minutes **not** seconds.

### Actual behavior:

Zammad provides session timeout settings in seconds which is an overkill.

![image](https

[2021-05-27 14:15] rolfschmidt commented on #3559
@wucherpfennig

for the language topic follow this one:

https://github.com/zammad/zammad/issues/3574

Please create a new issue for this.

[2021-05-27 14:59] hugodeco opened #3576 "How to add a channel to start a ticket ?"
I developed a plugin to WhatsApp via "QuePasa" and its working very well. But, i had clone the Telegram system to do so,
How can i start a ticket or chat by this new plugin ?

There is an example code ?
How do i add this to new ticket view ?

[2021-05-27 15:03] MrGeneration commented on #3576
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-05-27 15:03] #3576 closed, assigned to nobody

[2021-05-27 15:23] martini commented on #3565
I tried to reproduce it. I found out that Zammad`s default font "Fire Sans" is displaying `#&` as this special sign:

With Zammad Default font in CSS:
<img width="329" alt="Screen Shot 2021-05-27 at 17 17 13" src="https://user-images.githubusercontent.com/110226/119852371-8911ec80-bf0f-11eb-9308-ce8fe552a900.png">
<img width="738" alt="Screen Shot 2021-05-27 at 17 16 26" src="https://user-images.g

[2021-05-27 15:24] MrGeneration commented on #3565
As the font is our dependency and causing unexpected display -at least in the UI- I'm not on your side on "not a Zammad problem". :-(

[2021-05-28 08:28] MrGeneration opened #3577 "Cookie lifetime ignored by some browsers"
### Infos:

* Used Zammad version: 4.1/develop
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: all browsers that have remember tabs enabled
   * see mozillas statement about it being a feature: https://support.mozilla.org/en-US/questions/943191
   * seems like we gotta do it: https://stackoverflow.

[2021-05-28 08:30] thorsteneckel commented on #3577
That's a browser issue not the one of Zammad. We can talk about it after the next standup if you like.

[2021-05-28 08:30] #3577 closed, assigned to thorsteneckel

[2021-05-28 11:29] #3575 closed, assigned to rolfschmidt

[2021-05-28 13:56] pierreozoux opened #3578 "Can't create custom fields with name "type""
### Infos:

* Used Zammad version: 3.6.0
* Installation method (source, package, ..): docker

### Expected behavior:

* As a user I shouldn't be able to bork my install by adding a custom field to a user object.

### Actual behavior:

* If you use the custom field name type, the server crashes

### Steps to reproduce the behavior:

* Add custom field in user object as the screenshot attached
* Add

[2021-05-28 14:11] MrGeneration commented on #3578
Please do everyone the favor to be a little bit more precise on the steps to reproduce.

[2021-05-28 15:05] pierreozoux commented on #3578
Sorry, I didn't understand, could you reproduce or not?

[2021-05-28 15:27] mantas commented on #3578
Yes we did. Eventually.

[2021-05-29 13:04] ntinti commented on #2616
Just created Zammad on FreeBSD 12.2 from develop branch without problems 💯 👍

[2021-05-31 08:13] MrGeneration opened #3579 "Ensure Upload Cache files are removed after grace period"
### Infos:

* Used Zammad version: 4.0/stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket: #1085796

### Expected behavior:

Zammad cleans up uploaded files from uploads (e.g. new ticket dialogues or article drafts) which have been there for quite a while.

### Actual behavior:

Za

[2021-05-31 08:37] #3567 closed, assigned to rolfschmidt

[2021-05-31 13:00] #3559 closed, assigned to rolfschmidt

[2021-05-31 13:32] mgruner opened #3580 "Package migrations fail on package installation or update due to codebase self-modification"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): git checkout
* Operating system: macOS 11.4
* Database + version: PostgreSQL 13.3
* Elasticsearch version: not relevant
* Browser + version: not relevant

### Expected behavior:

* Package installation executes migrations correctly.

### Actual behavior:

* Migrations fail with exceptions due to inconsistent codeba

[2021-05-31 17:06] MrGeneration commented on #364
Is this still a thing after 4 years?
I believe you can build those graphs with Grafana as well which we opened support for.

[2021-05-31 17:08] MrGeneration commented on #615
Hi,

I'm cleaning up right now and see a diff from the first description text and the issue title.
Do you want PDF exports for reported tickets just like the CSV export or are you talking about general ticket export as PDF?

[2021-05-31 17:21] MrGeneration commented on #2631
I'm closing this issue because we've lost track within the community.
I currently believe that this is not a specific issue to `Tivoli Directory Server` (which was used here) but possibly with the data structure which makes this an technical question possibly.

[2021-05-31 17:21] #2631 closed, assigned to nobody

[2021-05-31 17:37] MrGeneration commented on #1277
How to throw mails against Stdin of Zammad is documented here:
https://admin-docs.zammad.org/en/latest/channels/email/advanced/fetchmail.html

We also come with a fetchmail and procmail example.
I believe this should help anyone having the same need and will close this issue.

[2021-05-31 17:37] #1277 closed

[2021-06-01 04:56] martini opened #3581 "SessionTimeoutJob.perform_now scheduler job fails on update if scheduler process wasn't restarted"
### Infos:

* Used Zammad version: develop (2021-06-01)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Update without error messages

### Actual behavior:

* Update is successful, but monitoring handle will show the following error (because database entry is created

[2021-06-01 05:19] martini opened #3582 "Freshdesk import attribute ID mapping lookup constants fail application boot in systems with changed default names"
### Infos:

* Used Zammad version: develop (2021-06-01)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* let update Zammad without issues

### Actual behavior:

* After update to Zammad 4.1, Zammad will not boot anymore:

[code]

Note: priorities are named different

[

[2021-06-01 08:45] #3562 closed, assigned to rolfschmidt

[2021-06-01 09:45] #3582 closed, assigned to mgruner

[2021-06-01 09:55] MrGeneration opened #3583 "Zendesk-Import `Connection reset by peer` cancels import"
### Infos:

* Used Zammad version: 4.0/stable and 4.1/develop
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket: (#1086899)

### Expected behavior:

Zendesk Import will finish without issues.
If there's connectivity or e.g. SSL issues, Zammad will retry `n` times to rule out temporary is

[2021-06-01 10:20] martini commented on #3583
@MrGeneration Can you verify if the Zendesk Import works on Zammad 4.0 if you changed the following file before starting the import?

`/opt/zammad/lib/sequencer/unit/import/zendesk/sub_sequence/base.rb`

[base.rb.txt](https://github.com/zammad/zammad/files/6575459/base.rb.txt)

Feedback is welcome!

[2021-06-01 12:48] #3581 closed, assigned to rolfschmidt

[2021-06-01 13:21] darklightmoon opened #3584 "Attachment order is wrong"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): package
* Operating system: Windows 10
* Database + version:
* Elasticsearch version:
* Browser + version: Firefox

### Expected behavior:

* chronological order

### Actual behavior:

*
![grafik](https://user-images.githubusercontent.com/59093874/120330342-001efa80-c2ed-11eb-87a5-1c8ed97cadcc.png)

### Steps to re

[2021-06-01 13:24] MrGeneration commented on #3584
Is this happening to all of your tickets or are you e.g. merging two tickets before hand?
How to reproduce this? I don't believe that only enabling the display of attachments via hidden setting is enough.

[2021-06-01 15:03] darklightmoon commented on #3584
We activated this function just a few days ago, so i can reproduce it. I looked up a few tickets randomly and there is always a disorder.
These are tickets that are not merged.

We use this command:
zammad run rails c
Setting.set('ui_ticket_zoom_sidebar_article_attachments', true)

Is there any configuration to do?
I cannot find any documentation about that.

Thank you!

[2021-06-01 15:05] darklightmoon commented on #3584
![grafik](https://user-images.githubusercontent.com/59093874/120346233-7b87a880-c2fb-11eb-8c6f-cdfaef9d8340.png)

[2021-06-01 15:07] MrGeneration commented on #3584
Please wait for our verification process.
Sorry, we won't answer technical questions here.

[2021-06-01 15:57] #3164 closed, assigned to mantas

[2021-06-01 16:59] MrGeneration commented on #3413
While we see this as an issue too, please note that it's not easy to pin this topic down.
Since most people using email today decided to no longer use the classical signature introduction (`-- `) it's more of a bingo game to hit the right nerve.

That being said:
The structure of the affected emails is crucial and mandatory to find the correct tweaks. On some points we may even experience edge cas

[2021-06-01 17:07] MrGeneration opened #3585 "DataPrivacy may fail to clear user relations"
### Infos:

* Used Zammad version: 4.0/stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

DataPrivacyTask removes users without issues.

### Actual behavior:

If the user is referenced on other user accounts, removal may fail.

Error Message within DataPrivacy:
[cod

[2021-06-01 17:23] MrGeneration opened #3586 "`SessionTimeoutJob.perform_now` fails if user no longer exists"
### Infos:

* Used Zammad version: 4.1/develop
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

`SessionTimeoutJob.perform_now` will silently cleanup timed out sessions even if the user does not exist.

### Actual behavior:

If a user does no longer exist but that users

[2021-06-02 09:28] MrGeneration commented on #3568
@mantas  how did you reproduce this? Because I can't with the supplied information.

[2021-06-02 09:32] mantas commented on #3568
@MrGeneration I don't remember running into any issues to reproduce this. IIRC I did following:

- create a new ticket, no fancy configuration
- go to overviews
- execute a bulk action on tabove ticket, with a note\
- duplicate note shows up

browser refreshing may or may not be involved

[2021-06-02 09:45] MrGeneration commented on #3568
Interesting.
This doesn't seem to happen if the message the customer sent was a email and the agent setting a state as well.
Not sure if this belongs together.

Possibly this may also affect bulk actions on a single ticket only.
I can't reproduce this on more than one ticket.

[2021-06-02 10:59] chrklo opened #3587 "copy and paste bullet list entry - format error"
### Infos:

* Used Zammad version: 4.0.0-1622547078.51bf33da
* Installation method (source, package, ..): package
* Operating system: CentOS Linux release 8.3.2011
* Database + version: postgresql-10.15-1
* Elasticsearch version: 6.8.16
* Browser + version: Google Chrome 91.0.4472.77

### Expected behavior:

* like in older zamad versions I expect that I can copy and paste bullet list entries

###

[2021-06-02 11:32] MrGeneration commented on #3587
sub bullets are not supported currently which is why this is not a bug.
Sorry.

[2021-06-02 11:32] #3587 closed, assigned to nobody

[2021-06-02 11:45] chrklo commented on #3587
the sub bullet is the problem here.

in old zammad versions copy and paste didnt make a sub bullet - just a new line

[2021-06-02 11:50] MrGeneration commented on #3587
You're copying HTML formatted code and are wondering why Zammad accepts it?
Paste the content unformatted and you're good to go.

---

Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical q

[2021-06-02 12:50] #3585 closed, assigned to rolfschmidt

[2021-06-02 12:57] rolfschmidt commented on #3585
For me at the moment the column `out_of_office_replacement_id` is the only column which can lead to this error. I can reproduce the exact error message by setting the a out of office user. I did multiple tests with the created_by_id/updated_by_id column and there is no indication for any problems with it. So i would like to suggest to go with this fix for now and see if the error occurs less or is

[2021-06-02 13:41] #3536 closed, assigned to rolfschmidt, MrGeneration

[2021-06-02 14:44] rolfschmidt opened #3588 "Escalation calculation breaks data privacy ticket deletion"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

### Expected behavior:

* No errors in data privacy

### Actual behavior:

* Error could not find ticket

[code]

### Steps to reproduce the behavior:

Not reproduceable at the moment.

Yes I'm sure this is

[2021-06-03 04:42] bastolino opened #3589 "BigDecimal.new is deprecated"
Hi everyone,
when running `zammad run rake searchindex:rebuild` the current version (`zammad/unknown,now 4.0.0-1622547078.51bf33da.focal amd64`) shows an error that BigDecimal.new is deprecated.
A lot of same lines show up:
`/opt/zammad/vendor/bundle/ruby/2.6.0/gems/activerecord-5.2.4.6/lib/active_record/connection_adapters/mysql/database_statements.rb:34: warning: BigDecimal.new is deprecated; us

[2021-06-03 06:32] MrGeneration commented on #3589
Please use the issue template, it helps a lot for scopes.

[2021-06-03 07:41] MrGeneration opened #3590 "Allow out of office for one day without setting two days"
### Infos:

* Used Zammad version: 4.1/develop
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified on latest Google Chrome, should affect all browsers

### Expected behavior:

If you set e.g. `02/06/2021` TO `02/06/2021` the agent in question is count as absent for 02/06/2021 (the whole day).

[2021-06-03 08:12] bastolino commented on #3589
### Infos:

* Used Zammad version: zammad/unknown,now 4.0.0-1622547078.51bf33da.focal amd64
* Installation method (source, package, ..): deb-package
* Operating system: Ubuntu 20.04
* Database + version: mariadb  Ver 15.1 Distrib 10.3.29-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2
* Elasticsearch version: Version: 7.13.1, Build: default/deb/9a7758028e4ea59bcab41c12004603c5a7dd84a9/20

[2021-06-03 08:37] mantas commented on #3589
This comes from a gem we're using. It will be gone when we update to updated library update. Closing issue now.

[2021-06-03 08:37] #3589 closed, assigned to nobody

[2021-06-03 09:36] MrGeneration commented on #3589
Seems to only affect MySQL installations.
I adjusted the tagging @mantas please fix if I got it wrong.

[2021-06-03 09:40] mantas commented on #3589
Yes, it only affects MySQL, because it is in Rails MySQL driver :) Added `unfixable` tag to make it clear there's nothing we can do today. But it will vanish once we upgrade to Rails 6.

[2021-06-03 10:32] MrGeneration opened #3591 "Allow `2xx` server responses for webhooks"
### Infos:

* Used Zammad version: 4.0/stable and earlier
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket: #1084123

### Expected behavior:

Allow any valid `2xx` response from the remote server that received the Zammad webhook.

### Actual behavior:

If Zammad received anything beside

[2021-06-03 16:08] AdamC1228 opened #3592 "Office 365 Callback Fails: Invalid client secret is provided"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): package
* Operating system: Centos
* Database + version:
* Elasticsearch version: 7.13.0
* Browser + version: Chrome 91.0.4472.77, Firefox 88.0.1, Firefox 89.0.0

### Expected behavior:

* Successful O365 Signin and account linking

### Actual behavior:

* Error 422 Unprocessable Entity

I have double checked that

[2021-06-03 16:12] MrGeneration commented on #3592
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-06-03 16:12] #3592 closed, assigned to nobody

[2021-06-04 07:42] MrGeneration opened #3593 "Zendesk import creates new ticket numbers rather than using the Zendesk ticket IDs also as ticket numbers in Zammad"
### Infos:

* Used Zammad version: 4.0/stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket:  #1087143

### Expected behavior:

During ticket import Zammad uses the zendesk ticket number as it's own ticket number for the ticket.
This allows agents to find imported tickets by their ol

[2021-06-04 11:42] MrGeneration commented on #732
Duplicate of #294

[2021-06-04 11:42] #732 closed

[2021-06-04 17:27] MrGeneration opened #3594 "Allow `position` to determine an attributes position entirely"
### Infos:

* Used Zammad version: 4.0/stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket: #1087912

### Expected behavior:

When manually adjusting an attributes `position` to e.g. the lowest value, the attribute in question will be first.

### Actual behavior:

For Users, Organiz

[2021-06-04 17:46] MrGeneration opened #3595 "Mail fetching: uninitialized constant Channel::Filter::InternalArticleCheck"
### Infos:

* Used Zammad version: 4.1/develop
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

Mail processing works flawlessly.

### Actual behavior:

Mail processing fails because of missing Filter-Constant.
The emails are fine and can be manually imported via `rails

[2021-06-04 18:05] MrGeneration commented on #3595
Seems like someone didn't want to restart the scheduler correctly.
Sorry for the noise.

[2021-06-06 13:08] #3586 closed, assigned to rolfschmidt

[2021-06-06 22:18] Mintux opened #3596 "Javascript Console Error with 4.0 (TypeError: this.controllerBind is not a function)"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): Source
* Operating system: Debian 10
* Database + version: MariaDB 10.3.27
* Elasticsearch version: 7.13.1
* Browser + version: Firefox 88.0 and Chrome 91.0.4472.77

### Expected behavior:

Zammad should load normally and without Javascript errors.

### Actual behavior:

Zammad is not loading up at all and there ar

[2021-06-06 23:50] Mintux commented on #3596
After some troubleshooting I found the problem for that issue:

If you follow the update documentation exactly it extracts the package content in the zammad folder. In future releases that worked fine without any problems, but with the 4.0 release, the package contains the folder zammad-stable itself. So even when you follow the documentation exactly, you technically extract the package content in

[2021-06-07 06:31] MrGeneration commented on #3596
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-06-07 06:31] #3596 closed, assigned to nobody

[2021-06-07 06:41] rolfschmidt opened #3597 "Update description of the session timeout setting"
### Infos:

* Used Zammad version: 4.1
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

### Expected behavior:

in seconds is not needed anymore

### Actual behavior:

![grafik](https://user-images.githubusercontent.com/5445062/120970788-2bca3680-c76c-11eb-8731-56bba3c89585.png)

Yes I'm sure t

[2021-06-07 08:01] #3588 closed, assigned to rolfschmidt

[2021-06-07 08:21] #3597 closed, assigned to rolfschmidt

[2021-06-07 09:07] thorsteneckel commented on #3053
The current API implementation does not provide the required information to show a proper text that suits all of the use cases:

- New user without tickets
- Known user with tickets that are all closed (in the current overview e.g. Organization)

Therefore we postpone this change to the webapp 2.0 refactoring.

[2021-06-07 09:31] #3133 closed, assigned to mantas

[2021-06-07 11:36] martini commented on #3595
1) This issue appears if Zammad is not stopped (at least the scheduler) before starting Zammad update.
2) The documentation points out that Zammad need to be stopped first: https://docs.zammad.org/en/latest/install/update.html

So closing for now.

[2021-06-07 11:36] #3595 closed, assigned to nobody

[2021-06-07 15:07] mxmehl commented on #325
Thanks for the patch @bernhardreiter!

The default sending of HTML emails also is a blocker for the [FSFE](https://fsfe.org) to migrate from OTRS to Zammad. The Free Software community usually prefers plain-text emails for many reasons stated in this thread.

Not sure whether we want to patch this manually, but at least it's clear that a partly fix to this issue is not that hard.

[2021-06-07 17:14] MrGeneration opened #3598 "Search results missing for users with two names within lastname"
### Infos:

* Used Zammad version: 4.0/stable, 4.1/develop, 4.1/pre-release
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: verified on ES 7.13.1 and ES 7.12.0
* Browser + version: any
* ~~Ticket: #1087985~~

*Note: This may possibly affect other attributes / fields as well if they contain spaces. I did not verify that.*

[2021-06-07 17:50] MrGeneration opened #3599 "Searching for integer fields does not work as expected"
### Infos:

* Used Zammad version: 4.0/stable, 4.1/develop, 4.1/pre-release
* Installation method (source, package, ..): any (verified on package and SaaS)
* Operating system: any
* Database + version: any
* Elasticsearch version: verified on ES 7.13.1 and ES 7.12
* Browser + version: any
* Ticket: #1087865

*Note: Customer noted that this worked prior 4.0 which may be due to our searchindex chang

[2021-06-08 07:51] rolfschmidt opened #3600 "wrong behaviour for the disabled option in session timeout"
### Infos:

* Used Zammad version: 4.1
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all
* Ticket: #1088082

### Expected behavior:

* if you set admin to disabled it should fallback to the default value.

### Actual behavior:

* it disables the login for admins

### Steps to reproduce the behavi

[2021-06-08 08:32] MrGeneration commented on #3563
I'm currently seeing about 5 instances (no matter if SaaS or package installation) per week that are affected by this issue.

[2021-06-08 08:37] rolfschmidt commented on #3600
Also fixed with this issue: If you set all options to disabled then the session timeout feature should be disabled completly, instead of logging users out.

[2021-06-08 09:09] rolfschmidt commented on #2991
@kevin-olbrich can you share your script which you used to reproduce to the problem on our hosted instances?

[2021-06-08 09:59] mantas opened #3601 "Scheduler dies with `PG:UnableToSend`"
### Infos:

* Used Zammad version:  4.0 / stable and earlier (seen on 3.6 too)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Scheduler does not die on e.g. high load situations.

### Actual behavior:

* On specific situations ( I suspect load / I/O) the scheduler di

[2021-06-08 11:44] YosefAdPro opened #3602 "Sidebar - Customer - closed tickets Don't work"
### Infos:

* Used Zammad version: 4.1
* Installation method (source, package, ..): package
* Operating system: Centos 7
* Database + version: postgres 9.2.24
* Elasticsearch version: 7.13.1
* Browser + version: any

### Expected behavior:

Clicking on tickets in the sidebar will display the list of closed tickets.
https://github.com/zammad/zammad/issues/563

### Actual behavior:

Clicking on clos

[2021-06-08 12:50] MrGeneration opened #3603 "Don't keep on trying to fetch mail if scheduler has issues with database"
### Infos:

* Used Zammad version: 4.0/stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket: #1088023

### Expected behavior:

If Zammad can't use the database during a fetch process, it will not keep on trying to fetch mail but instead stop that process. If needed (because mail is r

[2021-06-08 13:30] thorsteneckel commented on #2991
Hi @kevin-olbrich  - @rolfschmidt was able to reproduce the error. We're working on a fix now 👍

[2021-06-08 13:40] Boldewyn commented on #3413
For the time being I would be simply happy with a more visible “read more” button. Something, that is harder to miss than the current fade-to-white and little blue text. Or automatically expanding, when a message is clicked and the dark-gray metadata containers above and below a message appear. A fine-tuned cut-off algo would then simply be the cherry on top of the cake.

E.g., changing the curren

[2021-06-08 13:54] MrGeneration commented on #3413
@Boldewyn please do not hijack issues with enhancement requests but instead create a post in the community. While the topic fits, it does not fit the issue.

[2021-06-08 14:04] Boldewyn commented on #3413
Sorry, but I cannot see, how I “hijack” this issue. As far as I can tell, the agreed-upon problem in this issue is, that Zammad cuts off messages at hard to predict locations combined with a “read more” button, that is easy to miss.

You stated, that fixing the algorithm for the cut-off is a hard problem for generic messages, which I wholeheartedly understand. I wanted to point out simply, that th

[2021-06-08 14:37] MrGeneration commented on #3413
Sorry my bad I did miss the third point on the original post.

[2021-06-09 07:49] leuedaniel opened #3604 "Update to 4.1.0 crash"
### Infos:

* Used Zammad version: 4.1.0-1623131647.b4609c21.focal
* Installation method (source, package, ..): https://dl.packager.io/srv/zammad/zammad/stable/installer/ubuntu/20.04.repo
* Operating system: Ubuntu 20.04.2 LTS
* Database + version: 10.4.14-MariaDB
* Elasticsearch version: 7.9.2
* Browser + version: Chrome

### Expected behavior:

After Upgrade to 4.1.0 that it works

### Actual be

[2021-06-09 07:58] MrGeneration commented on #3604
Sorry, but this seems to be a technical question.

Because I'm in a good mood today I'm giving hints through:

## WARNING DANGEROUS OPERATION
**Dear future anon finding this issue and comment: Please do not use below commands if you're unsure if you're affected. Better ask in the community first. Below operation is DANGEROUS and may break your system beyond repair. Have a Backup.**

- during your

[2021-06-09 08:03] #3604 closed, assigned to nobody

[2021-06-09 08:06] leuedaniel commented on #3604
Thank you very much for your help, i'm not a prof in ubuntu and dont see that it is a technical question.

[2021-06-09 08:07] MrGeneration commented on #3604
The reason why your issue raises is because your package manager warns you that it did not remove a specific obsolete folder because it's not empty. As ruby and Zammad is loading everything from it's folders, the affected folder is an issue.

However, this issue is raised due to your package manager and is out of our scope. This is why it's a technical question.

[2021-06-09 09:43] rolfschmidt opened #3605 "session timeout does regulary logout active users before timeout because of dead old sessions"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all
* Ticket: #1088082

### Expected behavior:

* No unexpected logouts for active sessions

### Actual behavior:

* Active sesions are getting logout because they have old sessions which will get cleaned up and

[2021-06-09 12:09] #3600 closed, assigned to rolfschmidt

[2021-06-09 12:42] mgruner opened #3606 "The rake task `zammad:package:migrate` does not execute migrations for linked packages."
### Infos:

* Used Zammad version: 4.1
* Installation method (source, package, ..): git
* Operating system: macOS 11.4
* Database + version: PostgreSQL 13.3
* Elasticsearch version: -
* Browser + version: -

### Expected behavior:

* `rails zammad:package:migrate` executes migrations also for linked packages

### Actual behavior:

* `rails zammad:package:migrate` executes migrations only for regul

[2021-06-09 12:49] rolfschmidt commented on #3140
This issue will be reworked. The old behaviour of the Update Time was valid and has actually useful use cases which are needed in the customer services.

There will be a rework of the code with 2 new radio buttons in the SLA configuration of the Update Time.

"on agent response" (naming unclear for now)
This will reintroduce the old behaviour of version 3.6 and also set it again as default. It wil

[2021-06-09 12:59] #3606 closed, assigned to mgruner

[2021-06-10 10:33] romitgithub commented on #3050
@MrGeneration Not able to reproduce this issue on stable. Users are automatically reloaded after adding

[2021-06-10 10:38] MrGeneration commented on #3050
Please ensure to have Elasticsearch enabled up and running.
This does not work, because Elasticsearch indexing takes longer than we're waiting for the reload.

This means the delayed job may not be done at that moment.

See screen cast. It shows about 30 seconds *before* I fiddle around with the role filter which causes a reload on the list.
![issue-3050](https://user-images.githubusercontent.com/

[2021-06-10 10:40] romitgithub commented on #3050
Thanks for the additional info. Will look into it 👍🏼

[2021-06-10 11:19] rolfschmidt commented on #3002
Based on the ticket information i don't think this issue is valid anymore. There is some code already which does lookup relations (https://github.com/zammad/zammad/blob/275c32a35f254b6740c8209a2882d7f8ca66c4e6/lib/excel_sheet.rb#L118) and display the name of the object if possible. The related ticket issue has other reasons, here the relation at the object (belongs_to) is missing which relates to

[2021-06-10 11:19] #3002 closed, assigned to martini, rolfschmidt

[2021-06-11 05:07] uli-heller commented on #3604
@MrGeneration : Thx for your analysis. I agree that this *could* be handled by a good/perfect package manager. But the debian/ubuntu package manager doesn't do it correctly. However it could probably be done by the handler scripts included within the DEB package. May I offer some help?

[2021-06-11 06:33] MrGeneration commented on #3604
Sorry, no.
The reason for that is that if we one day would reimplement such a folder it would be removed.
That's imho a bad idea. For one version only doesn't work too because we have users that skip updates.

[2021-06-11 06:59] jimsche2000 opened #3607 "LDAP-Sync broken after Renaming an Active-Directory User"
### Infos:

* Used Zammad version: 4.0
* Installation method package
* Operating system: Linux Ubuntu 18.04.5 LTS
* Database + version: ?
* Elasticsearch version: ?
* Browser + version: newest Google Chrome

### Expected behavior:
After Renaming a User in Active Directory the next LDAP-Sync from Zammad renames the user in its database.
We use this functionality when a employee gets married or simi

[2021-06-11 08:32] rolfschmidt commented on #3050
approach to fix this

**app/models/user/search.rb**
[code]

We should only use the elastic search if a query is entered in the search field of the admin user interface. Otherwise use the rdbms.

**Also** there is a change needed to empty the user search field after the user got created in the frontend.

The search field is then the only place where the elastic search is used and the admin has to w

[2021-06-11 09:05] uli-heller commented on #3604
OK, but why would that folder be removed? My intention would be: Look at the files provided by the package and delete all files and folder not included (in certain directories). But never mind - I'm not using the packages anyways.

[2021-06-11 09:44] #3593 closed, assigned to mgruner

[2021-06-11 11:11] MrGeneration commented on #3607
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-06-11 11:11] #3607 closed, assigned to nobody

[2021-06-11 11:36] MrGeneration commented on #3604
Really appreciate you wanting to help, thank you!
While your idea is great it would also remove custom changes etc.

~~That would technically even affect your database.yml so that's a quite destructive way I believe.~~
Edit: Read your last sentence again regarding certain directories. I'll check internally.

[2021-06-11 11:41] uli-heller commented on #3604
Yeah - maybe app, lib, script. Not config.

But for custom changes: They would probably be gone...

[2021-06-11 12:18] #3605 closed, assigned to rolfschmidt

[2021-06-11 13:26] #3538 closed, assigned to romitgithub

[2021-06-11 14:51] #2991 closed, assigned to rolfschmidt

[2021-06-12 17:22] donweasel opened #3608 "Updating zammad db tables but nothing changes on GUI data."
Hello, im working on a multi app integration using direct databases connection and when updating tables on the zammad db, nothing changes on the GUI.  Thanks

* Used Zammad version:  Zammad version 4.1.x
* Installation method: package
* Operating system: CentOs7
* Database + version: (PostgreSQL) 9.2.24
* Elasticsearch version: no installed
* Browser + version: Chrome Latest

### Expected behavior

[2021-06-12 17:31] mantas commented on #3608
Hi @donweasel

Writing directly to database does not clear cache :) It works as intended.

[2021-06-12 17:31] #3608 closed, assigned to nobody

[2021-06-12 17:38] donweasel commented on #3608
Hi @mantas
Cache from where ? the browser? already tried that, different PCs, different browsers, incognito windows  and still the same

[2021-06-12 17:38] Dennis1993 commented on #3608
Cache from zammad

[2021-06-12 17:39] donweasel commented on #3608
@Dennis

please be more specific.

[2021-06-12 17:41] donweasel commented on #3608
how do i clear zammad cache?

[2021-06-12 17:41] Dennis1993 commented on #3608
I think you need to clear the cache by the following:

root@zammad:~# zammad run rails c
Loading production environment (Rails 5.1.7)
irb(main):001:0> Rails.cache.clear

[2021-06-12 17:48] donweasel commented on #3608
That worked perfectly fine ! Thank you !

[2021-06-12 18:22] dennis commented on #3608
I could say the same, when it comes to usernames :) That is, unless you wanted to involve me.  (this is more fyi, it happens often)

[2021-06-12 22:27] MrGeneration commented on #3608
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-06-14 10:32] MrGeneration opened #3609 "Ensure 4 column selections within UI does not cover add/remove buttons"
### Infos:

* Used Zammad version: 4.1/stable (but was 4.0 stable too)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified on Google Chrome on 2k screen resolution

### Expected behavior:

Zammad adapts in 3 and 4 column selections (e.g. Overview configuration).

### Actual behavior:

While 3

[2021-06-14 12:22] MrGeneration opened #3610 "Chat-Message references not cleared with data privacy task"
### Infos:

* Used Zammad version: 4.1/stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

Data Privacy based removal will clear all references.

### Actual behavior:

If you're trying to remove a user that wrote a chat message Zammad fails to clear that reference.
[

[2021-06-14 12:31] MrGeneration commented on #3610
Addition: The issue doesn't seem to be `Chat::Messages` but the attribute `user_id` on `Chat::Session`.
Apologies!

[2021-06-14 14:16] MrGeneration opened #3611 "New location notification with X-On-Behalf"
### Infos:

* Used Zammad version: 4.1/stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket: #1087935
* Notes: This indirectly gets caused by already solved issue #3605 to happen *a lot more often* than it did right now. I believe during token authentication this shouldn't be trigger

[2021-06-14 14:47] MrGeneration commented on #3611
Apologies, the original issue description was technically incorrect and off.
We'll currently keep new device notifications enabled for the account the token belongs to. We believe this is an important security feature to help token owners to see the scope and spread of their token(s)  (hopefully there's none ;)).

If you hate above, remove `user_preference.device` permission as pointed out in our

[2021-06-14 19:13] wucherpfennig commented on #3584
We can confirm this behavior. Feature activation was done like stated by @darklightmoon

![image](https://user-images.githubusercontent.com/3634653/121946497-48123880-cd55-11eb-9158-c8be8adf0f96.png)

[2021-06-15 06:18] #3500 closed, assigned to bolah2009

[2021-06-15 08:03] Dirk23 opened #3613 "Elastics Search doesn't start."
Hi,

I always keep Zammad up to date, but I didn't realize that elastic search doesn't also update it self. So now I have Zammad in lates Version 4.0.x but elasticsearch was on 5.6.16. I then updated elastic search to 7.13.2 but elasticsearch wont start. In the log file I can see:
[code]

How can I do that, so that elastic search will start again?

Thanks in advance!

[2021-06-15 08:06] MrGeneration commented on #3613
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-06-15 08:06] #3613 closed, assigned to nobody

[2021-06-15 12:35] rolfschmidt commented on #3335
@MrGeneration @romitgithub

I try to understand your issue and the expected result is not matching the unit test:

https://github.com/zammad/zammad/commit/628089c2cd8173b0a31538686fc9368a7415dd59#diff-2bd58930e3546506da7f082c9e110c4f84f601518eba80c99ecd58156e8de44cR938

`geschlossen offen neu`

shouldn't it be

`geschlossen neu offen`

You changed the sorting at central places and it could be rere

[2021-06-15 14:59] MrGeneration opened #3614 "Log if a active user (in UI) has been logged out due to SessionTimeout"
### Infos:

* Used Zammad version: 4.1/stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Desiredbehavior:

It would be helpful to log if Zammad has terminated a Session during SessionTimeout in case the users Session was an active one (so us sending the user a modal "you've been inact

[2021-06-16 04:01] romitgithub commented on #3335
Zammad will sort the states before listing alphabetically.
While doing that Zammad will use the locale of the user to do so, not the original state language to improve localization.

**AND**

@rolfschmidt Both of the above were used to write the logic to sort states. Also I did not change any existing state sorting logic, I only added the translation part in the existing sort function.

@MrGenerat

[2021-06-16 07:38] cautopartes opened #3615 "Mentions/Subscribe with read permissions"
### Infos:

* Used Zammad version: 4.1.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket: #1088268

### Expected behavior:

* With "read" permission (in another group) it should be possible to follow/un-follow a ticket at any time.

### Actual behavior:

* With "read" permission (in an

[2021-06-16 08:11] MrGeneration opened #3616 "Provide meaningful modal if report profile tries to use dates out side the filtered date range"
### Infos:

* Used Zammad version: 4.1/stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any (verified on ES 7.x)
* Browser + version: any
* Ticket: #1088258

### Expected behavior:

If the user selects a report profile that tries to check a time range (especially before absolute as example) that is not within the sea

[2021-06-16 08:18] MrGeneration commented on #3335
The goal was so that translated ticket states would be used for the sorting instead of the original translation.
This would allow german states to be sorted differently than e.g. english ones.

I don't know how the code implementation looks like, but I believed that this would be a frontend thing.
Can't provide further feedback on that regard unless I'm missing something.

[2021-06-16 08:20] fibis opened #3617 "Creating and editing users via office 365 failes with Image source is invalid"
### Infos:

* Used Zammad version: 4.1.X
* Installation method (source, package, ..): helm chart
* Operating system: kubernetes / Container-Optimized OS
* Database + version: PostgreSQL 13
* Elasticsearch version: Version that is bundled with zammad
* Browser + version: Firefox 89
* Ticket: #1088409

### Expected behavior:

* A user account should be created for new users that login via Office/Mic

[2021-06-16 08:21] romitgithub commented on #3335
@MrGeneration Just wanted to know the role of the **Note:** in this issue description. As in did you want to keep it that way only as mentioned in the note?

[2021-06-16 08:27] MrGeneration commented on #3617
Sounds like a technical question, the authentication works without any issues on first try in my environments.
Please provide the app configuration (ensure to not provide us with secrets of your application).

[2021-06-16 08:28] MrGeneration commented on #3335
The note was just a heads up.
Yes I do expect the new state to be ordered correctly as well if it appears.

Theoretically it shouldn't matter code wise because the application already knows the list. But that's my theory.

[2021-06-16 09:38] #3610 closed, assigned to rolfschmidt

[2021-06-16 09:38] MrGeneration opened #3618 "Ensure to migrate old calendar URLs for google calendar sources"
### Infos:

* Used Zammad version: 4.1/stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket: #1088169
* This is a follow up of https://github.com/zammad/zammad/issues/3545

### Expected behavior:

Zammad migrates existing calendars from HTTP to HTTPS if the ical claendar provided is

[2021-06-16 09:55] MrGeneration commented on #3618
Here would be my Migration I would have suggested:

[code]

[2021-06-16 12:07] romitgithub commented on #3335
So if I understand this correctly `geschlossen neu offen` this is the correct order for both `new` and `existing` tickets rather than `geschlossen offen new` which has been the case so far.

[2021-06-16 12:10] MrGeneration commented on #3335
Yes. Sorry if that got you confused

[2021-06-16 12:15] romitgithub commented on #3335
Alright. Thanks @MrGeneration

@rolfschmidt I'll pick this up and fix it.

[2021-06-16 13:16] cautopartes opened #3619 "Using square brackets in Postmaster Filter"
### Infos:

* Used Zammad version: 4.1.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket: #1086146

### Expected behavior:

* It should be possible to use a Postmaster Filter for an email subject matching on a whole sentence, that includes square brackets.
* For example: "[ALERT VM] In

[2021-06-16 13:38] darklightmoon opened #3620 "Open tickets via link within the browser session"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): package
* Operating system: Windows 10
* Database + version:
* Elasticsearch version:
* Browser + version: Firefox

### Expected behavior:

* Open ticket via link (shift ctrl 3x . ) or URL Link in actual session

### Actual behavior:

* New tab and session created
* old session paused with message box:

![grafik](h

[2021-06-16 13:39] MrGeneration commented on #3620
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-06-16 13:39] #3620 closed, assigned to nobody

[2021-06-16 17:15] fibis commented on #3617
@MrGeneration what is the best way to provide the app configuration?

[2021-06-17 07:48] #3615 closed, assigned to rolfschmidt

[2021-06-17 08:01] #3618 closed, assigned to mantas

[2021-06-17 09:39] #3619 closed, assigned to rolfschmidt

[2021-06-17 09:41] rolfschmidt commented on #3619
Testmail subject and filter configuration for subject didn't match up so no issue.

[2021-06-17 12:03] MrGeneration opened #3622 "Display callback urls for third-party applications"
### Infos:

* Used Zammad version: 4.1/stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Desired behavior:

Administrators could profit *a lot* from callback URLs being available from UI for thirdparty logins (security).
This helps because
   * even with missing or outdated documentat

[2021-06-17 12:28] MrGeneration commented on #3051
This indirectly has gotten a duplicate of #3550 which did introduce a setting that allows to use up to 300 call entries.

[2021-06-17 12:28] #3051 closed, assigned to nobody

[2021-06-17 12:38] rolfschmidt commented on #3602
Hi @YosefAdPro,
you could try to name your states in english without any special characters and then translate them to Hebrew by the admin interface translation menu. This would be general the correct way i guess.

[2021-06-17 12:55] YosefAdPro commented on #3602
@rolfschmidt Thank you for your answer.
You can direct me with command I can change the names.

[2021-06-17 13:35] rolfschmidt commented on #3602
@YosefAdPro

Open your console:

`rails c`

You can go through your list of states:

`pp Ticket::State.all`

Get the ID of the Hebrew state. Then rename it:

`Ticket::State.find(999999).update(name: 'new english name')`

placeholder 999999 needs to be replaced by the Hebrew state id.

If you open a ticket now then you should see the english state instead of the hebrew state name. If you now goto t

[2021-06-17 14:01] lavita-com opened #3623 "Zammad API sometimes returns Error 'No lookup value found for priority'"
### Infos:

* Used Zammad version: 4.0
* Installation method: Package
* Operating system: Ubuntu 18.04.5 LTS
* Database + version: Postgresql 10
* Elasticsearch version: 7.13.2
* Browser + version: Chrome 91 Extension on Windows 10, acecssing via API

### Expected behavior:

We use a Google Chrome Extension that creates Tickets via the Zammad API.
It's used to speed up the Ticket creation process

[2021-06-17 14:02] #3623 closed, assigned to nobody

[2021-06-17 14:02] MrGeneration commented on #3623
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-06-17 15:02] mantas commented on #2551
@thorsteneckel are you able to reproduce this in current `develop`?

[2021-06-17 15:11] thorsteneckel commented on #2551
I haven't checked. Please close the issue if you can't. @rkaldung please re-open if you can ;)

[2021-06-17 15:13] martini commented on #2551
@mantas Any issues on how to reproduce?

JFI (i dont know if you already know it): You can pipe email into Zammad on comand line using `cat test/data/mail/mail001.box | rails r 'Channel::Driver::MailStdin.new'`

So you can create test emails quite easy. If you have issues, let me know.

[2021-06-17 15:32] mantas commented on #2551
@martini I tried various `From:` values, but none seem to trigger this issue. `example@localhost`, `user@domain.local` etc. Do you remember what `From:` email you used to verify this?

[2021-06-17 15:38] MrGeneration commented on #2551
I can still verify it
![image](https://user-images.githubusercontent.com/6549061/122429025-bbed5480-cf92-11eb-88b6-83bfadb1b870.png)

You have to configure a mail channel which does fit the from address as `EmailAddress`.

Edit: `erza` is my systems email address.

[2021-06-17 16:02] mantas commented on #2551
No worries, I can verify it now

[2021-06-17 19:08] YosefAdPro commented on #3602
@rolfschmidt After changing the names of the state to English I do not see them in the translations. I also tried to do a restart for Zammad.

[2021-06-17 19:11] MrGeneration commented on #3602
Please don't make this a technical question issue.
This is as far as I will help:
* https://docs.zammad.org/en/latest/admin/console/working-on-tickets.html#make-new-states-available-to-ui
* https://docs.zammad.org/en/latest/admin/console/other-usefull-commands.html#add-translation

If you need more technical assistance, please create a post on the community.

[2021-06-18 06:58] rolfschmidt commented on #3602
Thank you very much. Yeah this part was missing. Please continue in the community for more questions please. For the issue itself we will not provide a fix for now. When the time comes and we introduce UI for it then we will come back to this but until then usage of a english state name (no special characters) + translations should be the way to go.

[2021-06-18 06:58] #3602 closed, assigned to rolfschmidt

[2021-06-18 07:31] gijsrutten commented on #1335
Any updates on this issue? OTRS does a delta import without any issues. Why is this not available for Zendesk?

[2021-06-18 08:04] MrGeneration commented on #1335
We in general do not provide any ETAs on when a feature or bug fix is on the way.
This is a proposal and nothing fixed as of now.

Zammad does not support delta imports for Zendesk at this moment.
We can't tell you if and when this will be possible.

---

If you need this feature urgently, we're always open for feature sponsorings to speed up things.
If you're interested, please contact sales [at]

[2021-06-18 15:53] MrGeneration opened #3627 "Outdated urls on security page (third-party logins)"
### Infos:

* Used Zammad version: 4.1/stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

`settings.rb` (and existing installations) should be corrected to below values for Office 365 and Google authentications:

[code]

### Actual behavior:

Office 365 and Google a

[2021-06-19 18:37] honzapatCZ commented on #1423
I think adding OpenID Connect is as good as adding SAML, not all IDPs provide SAML not all provide OIDC, the good thing about OIDC compared to OAuth2 is it generalizes the endpoints and most importantly defines the auto discovery of endpoints, keys, etc. In that manner adding OIDC would be as easy as adding SAML. Ie: auth, token, userinfo, keys url or discovery endpoint, scopes, id + secret, all r

[2021-06-19 19:10] MrGeneration commented on #1423
Please don't hijack old, closed and technical question issues.
If you want a specific feature, please post a feature request on the community (https://community.zammad.org) if not already available.

If there's already a thread existing, give a heart to the first article to help us measure the need of the community.

[2021-06-19 19:26] jeremyrnelson opened #3628 "FreshDesk import fails on certain custom field types"
### Infos:

* Used Zammad version: 4.1.0
* Installation method (source, package, ..):Ubuntu package
* Operating system: Ubuntu 20.04.2
* Database + version: postgres 12.7
* Elasticsearch version: none
* Browser + version: MS Edge 91.0 running on macOS 11.4

[production.log](https://github.com/zammad/zammad/files/6681255/production.log)

### Expected behavior:

* Import the tickets from FreshDesk

[2021-06-19 19:30] MrGeneration commented on #3628
Could you share which object (types) you have defined in your freshdesk instance?
Object types would be something like: `integer`, `string`, `select` etc

[2021-06-19 19:46] jeremyrnelson commented on #3628
### Here are the custom field types we are using:

- Single-line text
- Multi-line text
- Dropdown
- Date

### Other custom field types that we're NOT using (just for completeness):

- Checkbox
- Dependent field
- Number
- Decimal

[2021-06-21 06:25] #2551 closed, assigned to mantas

[2021-06-21 07:55] fibis commented on #3617
We also use s3 as storage provider, could that be a problem?

[2021-06-21 07:56] MrGeneration commented on #3617
Please don't post technical questions on github issues.
The best way to provide your app configuration would be screenshots of the relevant screens.

[2021-06-21 09:25] mgruner commented on #3628
Hi @jeremyrnelson, thanks for your report. Could you please provide more information about this issue, so that we could be able to reproduce it? Perhaps log files, and details (screenshots?) about your custom field configuration for the various parts (tickets, customers etc.).
(Only) the following field types are supported:
[code]
 Thanks and best regards, Martin

[2021-06-21 11:45] mgruner opened #3629 "Updating package-based installations can break the front end."
### Infos:

* Used Zammad version: 4.1
* Installation method (source, package, ..): any binary package
* Operating system: Linux
* Database + version: irrelevant
* Elasticsearch version: irrelevant
* Browser + version: irrelevant

### Expected behavior:

* After updating a package based installation, the front end works correctly.

### Actual behavior:

* The front end is unable to load the assets

[2021-06-21 11:48] #3629 closed, assigned to mgruner

[2021-06-21 13:05] michaldaniel opened #3630 "HTML table in mail preview is misformatted"
### Infos:

* Used Zammad version:  3.6.x; stable 5.0.3
* Installation method: any
* Operating system: any
* Browser + version: Firefox 89.0.1, verified on Google Chrome 97.0.4692.71 (but doesn't matter really)
* Ticket: #1099994
* **Ticket#10115144  has email examples**

### Expected behavior:

There seems to be a difference in the way a table email is formatted caused by enveloping an email prev

[2021-06-21 13:13] MrGeneration commented on #3630
Please re-verify this on Zammad 4.1. 3.6 is quite outdated by now.

[2021-06-21 13:24] michaldaniel commented on #3630
I updated our Zammad instance to 4.1.x and the issue persists.

[2021-06-21 13:31] MrGeneration commented on #3630
On a newly imported similar mail?

[2021-06-21 13:34] michaldaniel commented on #3630
I will generate new test mail, give me a minute.

[2021-06-21 13:37] mgruner commented on #3160
@thorsteneckel @MrGeneration @martini

Referring to our discussion about the "atomic" restore from earlier today, I found this PR and related commit. It seems that the restore script is used for entirely different purposes (migrating to other systems, performing major updates). If that is true, then my proposed changes might not stand, because they are more restrictive. The current version seems t

[2021-06-21 13:41] michaldaniel commented on #3630
The same happens when new mail is imported.

This is how it looks straight after import:

![Zrzut ekranu z 2021-06-21 15-37-04](https://user-images.githubusercontent.com/1345297/122771700-f4e53c00-d2a6-11eb-9f47-71c2d2f09c5f.png)

If I disable this CSS word-break rule in browser inspector

![Zrzut ekranu z 2021-06-21 15-38-25](https://user-images.githubusercontent.com/1345297/122771783-0a5a6600-d2

[2021-06-21 13:59] jeremyrnelson commented on #3628
Martin,

I confirmed that our custom fields (only used on tickets) are the following, which I believe matches what you posted

	"type": "custom_date"
	"type": "custom_dropdown"
	"type": "custom_text"

I'm posting our entire JSON output from /api/v2/admin/ticket_fields here:
[fields.json.txt](https://github.com/zammad/zammad/files/6687103/fields.json.txt)

Install version is 4.1.0-1623937417.b1de5c

[2021-06-22 07:24] MrGeneration commented on #3617
I can't reproduce the login issue you mentioned. I can always, at any time, instantly login or register depending on the situation.
This may be a specific constellation with your Microsoft accounts that simply doesn't fit to my account.

Any way, the root cause is another.
Since Zammad 4.1 we're expecting valid input / data on `image_source` which could be set with invalid data earlier.
In my repr

[2021-06-22 07:37] MrGeneration commented on #2557
As requested by bola:
No I can no longer reproduce this. The toast message by now appears above modals like it should.
Seems to be magically fixed by another commit.

[2021-06-22 09:35] mgruner commented on #3628
Hi @jeremyrnelson, thanks for your feedback.

The fields.json looks a bit suspicious to me - I would expect the custom_dropdown fields to have `choices: `, but they are not present in your file. Perhaps you can investigate this?

If this does not provide effective, you can try running the import in debug mode and provide the logs to us.

- Create a file called debug_issue.rb in your Zammad directo

[2021-06-22 14:18] thorsteneckel commented on #1612
We're currently working through some of our issues. One part is to migrate the documentation issues over to the documentation. Unfortunately I'm having a hard time to understand the issue here at hand. Would someone can explain it in more detail so I can create an issue in the documentation repository for it? Screenshots or even a short video would be perfect.

I'll go ahead and close this issue f

[2021-06-22 14:18] #1612 closed

[2021-06-22 20:53] #2557 closed, assigned to bolah2009

[2021-06-23 07:03] mgruner opened #3631 "Freshdesk import subdomain selection fails"
### Infos:

* Used Zammad version: 4.1
* Installation method (source, package, ..): source
* Operating system: macOS 11.4
* Database + version: PostgreSQL 11.3
* Elasticsearch version: irrelevant
* Browser + version: Chrome 91

### Expected behavior:

* The subdomain selection dialog works correctly.

### Actual behavior:

* At least for some (valid) domains, the dialog returns this error: `Runtim

[2021-06-23 07:03] mgruner commented on #3631
Suggestion: perhaps access /api/v2/tickets or another of the available endpoints and check for an unauthorized error instead?

[2021-06-23 07:07] martini commented on #3631
Addition to successtion: Check if `X-Freshdesk-Api-Version` header exists. It's also working with not authenticated requests.

[2021-06-23 12:23] martini opened #3632 "Monitoring endpoint complains about `Failed to run SessionTimeoutJob.perform_now after 10 tries #<NoMethodError: undefined method `id' for nil:NilClass`"
### Infos:

* Used Zammad version: 4.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Delete sessions which are timed out without errors.

### Actual behavior:

* Monitoring endpoint complains about `Failed to run SessionTimeoutJob.perform_now after 10 tries #<NoMeth

[2021-06-24 10:37] Pamalosebi opened #3633 "The rebuild of the index is failing"
### Infos:

* Used Zammad version: zammad.x86_64 0:4.1.0-1623318856.fa8592c0.centos7
* Installation method (source, package, ..): Package (RPM with yum)
* Operating system: CentOS 7.4
* Database + version: psql (PostgreSQL) 13.3
* Elasticsearch version: 7.13.2
* Browser + version: Chromium 91.0.4472.114
* Ticket: #1088629

### Expected behavior:

* When Zammad was updated the reindexing should sti

[2021-06-24 12:40] chrklo commented on #3633
same here - zammad run rake searchindex:rebuild - failed after update to zammad-4.1.0-1624343362.466b6818.centos8.x86_64

[2021-06-24 12:57] rolfschmidt commented on #3633
Hi guys,
i will work on a fix asap. You can try the hotfix if you want:
[code]

[2021-06-24 13:38] MrGeneration commented on #3633
Please don't push the issue with "me too"'s.
This causes a lot of noise for all watchers.

[2021-06-24 14:29] saschaarlt opened #3634 "LDAP role assignment fails when more than 1500 users are part of an active directory group"
### Infos:

* Used Zammad version: 4.2
* Installation method (source, package, ..): yum
* Operating system: CentOS 7
* Database + version: MySQL 8.0.22
* Elasticsearch version: 7.8.1
* Browser + version: Firefox/Chrome

### Expected behavior:

*LDAP syncs users and zammad assigns them with one of three roles, depending on which active directory group they belong to.

### Actual behavior:

*If our

[2021-06-24 15:38] #3632 closed, assigned to rolfschmidt

[2021-06-24 15:40] thorsteneckel commented on #3633
Fixed with the commit above. New packages will be available in about 30 minutes from now 🚀

[2021-06-24 15:41] #3633 closed, assigned to rolfschmidt

[2021-06-25 06:51] mgruner commented on #3628
Hi @jeremyrnelson, may I ask you for a short update on this issue? Were you able to solve it in the meantime, and could you give us some details about that, please?

[2021-06-25 06:59] martini opened #3635 "REST doc of Online Notification controler is outdated/wrong and expand param is missing."
### Infos:

* Used Zammad version: 4.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Take REST doc from `app/controllers/online_notifications_controller.rb` to create third party integrations.

### Actual behavior:

* Doc in https://github.com/zammad/zammad/blob/dev

[2021-06-25 07:31] Sandalas opened #3636 "Replacing a mention with a new leads to mentioning both agents"
### Infos:

* Used Zammad version: 4.1.0 (1624276364.1e0353a2.centos7)
* Installation method (source, package, ..): yum
* Operating system: centOS7
* Database + version: PostgreSQL 9.2.24
* Elasticsearch version: 7.13.2
* Browser + version: Chrome 91.0.4472.114

### Expected behavior:

* posibility to replace my mention, without mentioning the previouse delete mention

### Actual behavior:

* if t

[2021-06-25 07:50] martini opened #3637 "Text Module widget is broken/hidden after pressing backspace (once)"
### Infos:

* Used Zammad version: 4.1
* Installation method (source, package, ..): any
* Operating system: mac + linux
* Database + version: any
* Elasticsearch version: any
* Browser + version: Chrome 91 & FF 89

### Expected behavior:

* Allow modifying of search phrase by using backspace

### Actual behavior:

* After backspace is use, no text module widget is shown anymore.

### Steps to repr

[2021-06-25 07:52] MrGeneration commented on #3637
JFI: #3636 may have a similare root cause

[2021-06-25 08:01] martini opened #3638 "Mention widget is still shown even if @@ is deleted"
### Infos:

* Used Zammad version: 4.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Chrome 91 & FF 89

### Expected behavior:

* Remove mention widget if @@ is deleted

### Actual behavior:

* Mention widget is still shown even if @@ got removed

### Steps to reproduce the behavior:

* See video

[2021-06-25 08:11] martini opened #3639 "Mention widget show same users several times (if rest requests will return in different order)"
### Infos:

* Used Zammad version: 4.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Chrome 91 & FF 89

### Expected behavior:

* Show users in mention widget in alphabetical order and any entry/user should only exists once

### Actual behavior:

* If the requests from search backend will return

[2021-06-25 12:59] jeremyrnelson commented on #3628
Martin,

I've been out of the office - I'll try this out on Monday and let you know
what I find.

On Fri, Jun 25, 2021 at 2:51 AM Martin Gruner ***@***.***>
wrote:

--
Jeremy

[2021-06-28 10:37] MrGeneration commented on #3493
Duplicate of #3048

[2021-06-28 10:37] #3493 closed, assigned to nobody

[2021-06-28 17:25] jsievertde opened #3640 "broken upgrade on CentOS 8 (4.1.0-1624622947.9d7b5219)"
### Infos:

* Used Zammad version: zammad-4.1.0-1624622947.9d7b5219.centos8.x86_64
* Installation method (source, package, ..): package
* Operating system: CentOS 8
* Database + version: Postgresql 10.17
* Elasticsearch version: 7.13.2
* Browser + version: Firefox 89.0.2

### Expected behavior:

* The upgrade completes successfully

### Actual behavior:

* The upgrade throws the following error:
[

[2021-06-28 18:17] MrGeneration commented on #3640
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-06-28 18:17] #3640 closed, assigned to nobody

[2021-06-28 18:40] jsievertde commented on #3640
Hello @MrGeneration ,

the upgrade from a working install fails.
This is a definite bug as it breaks the running application after an upgrade.

[2021-06-28 18:43] MrGeneration commented on #3640
`chown` is run by the package itself and comes from our packager.
The no longer existing file comes from you having a not stopped service of Zammad changing your file system the `chown` is running on.

This is not a bug, it's a technical question.
We can't change it within our source (but that's a side note).

[2021-06-28 22:46] jeremyrnelson commented on #3628
Sent debug_freshdesk.log to support@zammad.com

[2021-06-29 07:19] rolfschmidt commented on #3638
should be fixed also with https://github.com/zammad/zammad/issues/3637

[2021-06-29 07:19] #3638 closed, assigned to rolfschmidt

[2021-06-29 07:29] #2947 closed, assigned to mantas

[2021-06-29 10:03] darklightmoon commented on #3584
Is it wrong here? Should i open an issue via Zammad Community?

[2021-06-29 10:12] MrGeneration commented on #3584
**Note for developers**:
I had the mixed date order like shown above and complained about in 1 out of 10 tickets.
Incorrect order ticket can be found in our support instance here: `1086552`

Beside of that incorrect order I've also seen inconsistency for general sorting order. Sometimes ASC, sometimes DESC by date.
It's not caused by ticket links or merged, all affected tickets are not merged in m

[2021-06-29 14:18] #3639 closed, assigned to rolfschmidt

[2021-06-29 14:21] #3637 closed, assigned to rolfschmidt

[2021-06-29 17:17] mdz0r opened #3641 "Migration 3.6.1 to 4.1 : No configured business hours found!"
### Infos:

* Used Zammad version: 3.6.1
* Installation method (source, package, ..): Source
* Operating system: Ubuntu
* Database + version: Mysql 8
* Elasticsearch version: 7.1
* Browser + version: NA

### Actual behavior:

Hello,
I'm having a problem while migrating my zammad instance from 3.6.1 to 4.1.

* Migration from 3.6.1 to 4.1 causes "No configured business hours found!" error

### Steps

[2021-06-29 18:05] MrGeneration commented on #3641
@mantas looks like there are no SLA calendars configured which make the migration fail?
Possibly a regression of #3618

[2021-06-29 18:17] Dennis1993 opened #3642 "SLA Escalation time by phone comment not updated"
### Infos:

* Used Zammad version: 4.1 (latest)
* Installation method (source, package, ..): source
* Operating system: Ubuntu 20.04
* Database + version: Postgres
* Elasticsearch version: 7
* Browser + version: Microsoft Edge 91

### Expected behavior:
If I create a ticket our SLA set an escalation time. The State is „Offen“ (open). The escalation time says below the title „eskaliert in 8 Stunden

[2021-06-29 18:20] MrGeneration commented on #3642
Your steps to reproduce are unclear.
This issue can't go into verification process until we know exactly what else does change.

This does sound like a technical question due to configurations and possibly group / sla changes.
Please clarify.

[2021-06-29 19:08] mgruner commented on #3628
Received, thank you. Will get back to you after further analysis.

[2021-06-30 04:49] joenilson commented on #3074
Hi, i'm facing the same issue but with Zammad 4.1 installed in ubuntu 18.04 with apache and behind Azure FrontDoor, i was blaming Frontdoor, but i can login with an Office365 user with single password authentication, but when i try to login with a user with 2FA i get the error, i was getting the message like this issue and now after applying the apache headers for https i'm getting the 422 Unproce

[2021-06-30 07:16] #3584 closed, assigned to rolfschmidt

[2021-06-30 08:50] MrGeneration commented on #3074
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-06-30 08:50] #3074 closed, assigned to nobody

[2021-06-30 13:37] mgruner commented on #3628
Hi @jeremyrnelson, the debug logs indicate that there is a custom field for customers with the type "custom_phone_number" that Zammad did not support yet. Can this be true?

Here's a new version of `lib/sequencer/unit/import/freshdesk/object_attribute/config.rb` which adds support for `custom_phone_number` and `custom_url`. [config.rb.zip](https://github.com/zammad/zammad/files/6741313/config.rb.z

[2021-07-01 08:21] rolfschmidt opened #3643 "search index crashes if first value of input object attribute contains a date"
### Infos:

* Used Zammad version: 4.1
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all
* Ticket #1088894

### Expected behavior:

* Search index should do its work

### Actual behavior:

[code]

### Steps to reproduce the behavior:

* New attribute of type input
* Create 2 tickets with no value

[2021-07-01 08:59] #3617 closed, assigned to rolfschmidt

[2021-07-01 09:04] #3359 closed, assigned to bolah2009

[2021-07-01 12:52] martinvonwittich opened #3644 "Keyboard combination Ctrl+Shift+. doesn't work reliably in Firefox"
### Infos:

* Used Zammad version: 4.0.x
* Installation method (source, package, ..): docker-compose
* Operating system: Debian 10
* Database + version: from docker-compose
* Elasticsearch version: from docker-compose
* Browser + version: Firefox 89.0.2

### Expected behavior:

* Pressing the keyboard combination Ctrl+Shift+. to copy the ticket ID should would reliably.

### Actual behavior:

* Pr

[2021-07-01 12:55] MrGeneration commented on #3644
Do you happen to know if this is OS specific?

[2021-07-01 20:43] jeremyrnelson commented on #3628
Well, I'm sorry to report that I ran into ANOTHER problem (that I think is
a "bug") preventing me from doing this test.

https://support.pinnacletechnology.solutions is our CNAME for
pintechfw.freshdesk.com.  The last time I tried the import, I had to remove
that CNAME temporarily at FreshdDesk to get the import to run.  However, I
found out (the hard way) that re-establishing the CNAME is a manua

[2021-07-02 06:11] #2559 closed, assigned to bolah2009

[2021-07-02 06:23] #3614 closed, assigned to rolfschmidt

[2021-07-02 06:26] #3636 closed, assigned to rolfschmidt

[2021-07-02 06:30] #3635 closed, assigned to bolah2009

[2021-07-02 06:55] #3116 closed, assigned to mantas

[2021-07-02 06:57] #3641 closed, assigned to mantas

[2021-07-02 07:12] #3050 closed, assigned to romitgithub

[2021-07-02 07:17] #3335 closed, assigned to romitgithub

[2021-07-02 07:19] #978 closed

[2021-07-02 10:35] rolfschmidt commented on #3032
Hi @hiaz ,

i tried to reproduce the error:

[code]

![grafik](https://user-images.githubusercontent.com/5445062/124261348-f5949280-db30-11eb-8600-e06d49d25bdb.png)

For me it looks fine. Maybe this issue is obsolete and fixed with latest version? Can you verify if you still have this issue?

[2021-07-02 10:47] Dennis1993 commented on #3642
Okay, I created some screenshots.

1. Create ticket:
![image](https://user-images.githubusercontent.com/1473674/124262719-a7808e80-db32-11eb-9704-223cf1f6e27d.png)

2. Write a comment with "phone" and not private-mode (without red border):
![image](https://user-images.githubusercontent.com/1473674/124262907-e9a9d000-db32-11eb-8573-668f6b8ef757.png)

Save it and see the escalation time:
![image](ht

[2021-07-02 10:47] hiaz commented on #3032
Hi @rolfschmidt,

I can confirm that this works now with Zammad 4.1. Because we made a bigger version jump, I cannot tell exactly since when the issue is fixed.

Cheers,
Mathias

[2021-07-02 10:47] #3032 closed, assigned to rolfschmidt

[2021-07-02 12:05] mgruner commented on #3628
Hi @jeremyrnelson, is the issue you refer to the same as #3631? If not, could you please open a separate issue for it and describe it in detail, so that we can analyze and possibly fix it?

[2021-07-02 12:54] jeremyrnelson opened #3645 "Freshdesk subdomain selection "not found" for valid domain"
### Infos:

* Used Zammad version: 4.1
* Installation method (source, package, ..): package
* Operating system: Ubuntu 20.04.2
* Database + version: Postgres 12.7
* Elasticsearch version: n/a
* Browser + version: Edge 91, Chrome 92 (both for Mac)

### Expected behavior:

On FreshDesk import screen, finds subdomain and moves on.

### Actual behavior:

Says "not found"

### Steps to reproduce the be

[2021-07-02 13:10] mantas commented on #3642
Hi @Dennis1993

If I understand correctly, the issue is that escalation time does not change when internal item is added. This is intended.

Escalations are bumped after agent contacts customer (or vice versa). Since customer is aware that he was contacted, there's no need to keep that bit private :) If you want to keep some comments private, you should create a separate internal note.

Closing th

[2021-07-02 13:10] #3642 closed, assigned to nobody

[2021-07-02 13:11] jeremyrnelson commented on #3628
See #3645

[2021-07-02 14:22] mantas commented on #3641
Hi @mdz0r

The issue is now fixed. If you were installing straight from source, it's available in `stable` branch now. Updated packages will be available in an hour or so.

[2021-07-02 14:24] mdz0r commented on #3641
Thanks a lot for the quick fix!
I'll try the upgrade next week and will keep you posted.

[2021-07-02 15:31] martinvonwittich commented on #3644
Hard to say. I booted into Windows 10 and tried my approach to reproduce it that I've illustrated above, by alternating between two opened tickets, and pressing Ctrl+Shift+. each time:

[code]

The expected output would have been an alternating ticket ID each time (sometimes with title and/or with link; that Zammad confuses Ctrl+Shift+. pressed every second with Ctrl+Shift+.. or Ctrl+Shift+... is

[2021-07-02 16:05] itkfm commented on #3643
[code]
probably similar

[2021-07-02 16:12] MrGeneration commented on #3643
@itkfm no it's not. It's a technical question.
Please follow the elasticsearch documentation and ensure you followed all steps.

[2021-07-02 16:21] itkfm commented on #3643
It stopped working after the latest update, though.

[2021-07-02 16:22] MrGeneration commented on #3643
Yes possibly. Please stop posting technical questions here.
Readhte reason in the first line very carefully and, if you still can't figure out the reason, use the error message in the community and run a search. You'll find a lot of answers.

[2021-07-03 15:19] joaoguariglia opened #3646 "Error instalation"
Good afternoon, the product can be good and beautiful, but I tried in every way to install and I couldn't, both from debian and from the docker follow the errors:

Docker
![image](https://user-images.githubusercontent.com/23190903/124358940-87c49580-dc1a-11eb-849a-97f2c1205721.png)

Debian
![image](https://user-images.githubusercontent.com/23190903/124358903-59df5100-dc1a-11eb-8974-f38eb033ef12.pn

[2021-07-03 16:30] MrGeneration commented on #3646
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-07-03 16:30] #3646 closed, assigned to nobody

[2021-07-04 09:04] blu-IT opened #3647 "Error 500 / zammad {"error":" 123456 is out of range for ActiveModel::Type::Integer with limit 4 bytes"}"
Hello,

I am running Zammd in docker.
I added a special field in **objects**, lets say it is a booking no. and type is "integer" (min: 0 / max. fields: 100000000000000000000)
When I try to insert a number in that field in an existing ticket and I try to save it sometime is works and sometimes I get this error:

[code]

Any ideas?

### Infos:

* Used Zammad version: 4.0.0
* Installation method: Doc

[2021-07-05 07:25] rolfschmidt opened #3648 "high organization user count relates to bad performance"
### Infos:

* Used Zammad version: 4.1
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all
* Ticket: #1088467

### Expected behavior:

* Ticket sidebar should only show 10 users of the organization and load more on "show more" button.
* Organization profile should show like 100 + new "show more" bu

[2021-07-05 08:24] mantas commented on #3647
Hi @blu-IT

What database are you using? I cannot reproduce this with Postgres.

[2021-07-05 08:51] blu-IT commented on #3647
@mantas Hi,

I think it is Postgres, my colleague installed zammad via docker. Checking the config found entrys for Postgres-DB.
Is there a command for checking the zammad config?

[2021-07-05 08:54] MrGeneration commented on #3647
Please provide the log output of your railsserver container.
We currently can't reproduce this on postgres (which is used for docker by default).

Please also double check if you're using docker or docker**-compose**.

[2021-07-05 11:28] mantas commented on #3647
Actually.. I was able to reproduce this. I naively tried to enter `9999999` as max value and your value did pass then. But when I entered your value, bam, same error as yours :)

[2021-07-05 12:03] blu-IT commented on #3647
So what do you suggest to do? I have to set a max. value, can't irgnore this.

It is docker-compose that was used for setting up the system for production environment.

[2021-07-05 12:05] MrGeneration commented on #3647
Choose a lower value if applicable or wait for a bug fix....?

[2021-07-05 12:06] mantas commented on #3647
@blu-IT set max value to 2147483647 or lower

[2021-07-05 14:07] blu-IT opened #3649 "Responding to forwarded mails after changing customer, still sends me e-mail"
### Infos:

* Used Zammad version: 4.0.0
* Installation method: docker-compse
* Operating system: Ubuntu 18.04 LTS
* Database + version: Postgres
* Elasticsearch version: unknown
* Browser + version: Firefox 89.02

### Expected behavior:

* When responding to mails / tickets that have been forwarded into the system **and changed/updated customer** after that zammad recognized the mail, answers **s

[2021-07-05 14:11] MrGeneration commented on #3649
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-07-05 14:11] #3649 closed, assigned to nobody

[2021-07-05 14:32] blu-IT commented on #3554
I think this is somekind of "bug". As I described in the issue #3649 an agent expects that when he is responding to a ticket, that the system sends it to the customer an not to any to or from field that is blank or originally was sent from, after the customer was changed (in my case).

[2021-07-05 14:34] MrGeneration commented on #3554
@blu-IT please stop hijacking unrelated issues with technical questions.
If you have issues with working on Zammad due to the way it's designed please consult the community.

I'm locking this issue to save it from further hijacks.
Over 2000 people have been notified about this issue without any real use.

[2021-07-06 14:50] dominikklein commented on #2258
@tomstar76 i take a look in this issue and it seems that the first problem was already be fixed in the meanwhile.

I will take a look in the second problem.

[2021-07-06 17:30] #3611 closed, assigned to rolfschmidt, dominikklein

[2021-07-06 17:37] #3598 closed, assigned to rolfschmidt

[2021-07-06 17:44] #3631 closed, assigned to dominikklein

[2021-07-06 17:44] #3645 closed, assigned to dominikklein

[2021-07-07 10:36] klando commented on #3580
@mgruner , @thorsteneckel How are we supposed to install package after this commit ? Or can you confirm what is the expected behavior from the user point of view ?
Installing via the web ui as usual didn't worked (looks installed but no jobs schedule or anything) and I had to go to rails console to execute the migration myself.

Having a little bit more feedback in the ui will be awesome...

[2021-07-07 10:57] romitgithub commented on #2886
Can't get anywhere with this issue. Unassigning myself for now. It's open for pickup

[2021-07-07 14:26] MrGeneration commented on #3563
By now it's 10+ instances.

[2021-07-08 05:53] dominikklein commented on #3302
As a addition to the invalid customers, we need also to align the output of the invalid organizations (e.g. in the organization selection for the user create/edit form).

(The Following Ticket is related: 1088964)

[2021-07-08 14:40] mgruner commented on #3628
Hi @jeremyrnelson, the fix for this issue has arrived in https://github.com/zammad/zammad/commit/2d55cb4f7a603ed1fe749ce365ffbe9d225d35a8. If you have a package based installation, you can just perform an update, and should receive the changes as the packages are build shortly after the commits.

Please let me know how it goes for you and how we can proceed with issue at hand.

[2021-07-08 14:47] mgruner commented on #3628
The latest source code package is available here: https://github.com/zammad/zammad/archive/stable.tar.gz

[2021-07-09 08:50] rolfschmidt opened #3650 "Twilio integration will crash when object manager attribute type is activated and required"
### Infos:

* Used Zammad version: 4.1
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all
* Ticket#1089287

### Expected behavior:

* Incoming SMS should be created as tickets

### Actual behavior:

* Ticket creation will crash if you have the type attribute activated and required/mandatory

[code

[2021-07-09 09:15] rolfschmidt commented on #3650
related to https://github.com/zammad/zammad/issues/2998

[2021-07-09 09:40] dominikklein commented on #2258
I changed the issue description to the currently existing problem. We decided to hide the chat button after the websocket connection was closed, because of the reached idle time.
If the default idle time from 6 minutes is to short for you, you can increase this with the chat initialization `idleTimeout: 10`.

[2021-07-09 16:52] FiloSpaTeam commented on #3380
Working on these feature in a initial phase i created a counter_cache system to update automatically the answers counter for each category; but later i found a js function that automatically count each deep answer.

So there are 2 ways:
1) Count answers in model using counter_cache
2) Count answers in view using js

Which way? :D

[2021-07-09 23:30] jeremyrnelson commented on #3645
@dominikklein - Ubuntu package 4.1.0-1625755681.e3a070c7.focal does not seem to have this fixed. Is there a better or more appropriate way to test?

[2021-07-09 23:34] jeremyrnelson commented on #3628
Martin,

I just upgraded to 4.1.0-1625755681.e3a070c7.focal as you mentioned, and
confirmed that it's not fixed there, either, despite being closed.  I also
placed a comment in github.

On Thu, Jul 8, 2021 at 10:40 AM Martin Gruner ***@***.***>
wrote:

--
Jeremy

[2021-07-10 12:54] dominikklein commented on #3645
@jeremyrnelson i tested it in my test system with the sub domain `pintechfw` and for me all is working find during the subdomain check.
I think we need some more detailed information, maybe there is something in the zammad log? Is it maybe in general not working, can you test the subdomain `zammad` on your system?

[2021-07-10 19:49] jeremyrnelson commented on #3645
Confirmed that the issue was on my side - thanks!

[2021-07-11 17:41] jeremyrnelson commented on #3628
I can confirm that both #3645 and #3628 are fixed.

[2021-07-12 07:51] #3628 closed, assigned to mgruner

[2021-07-12 07:55] mgruner commented on #3628
Thanks @jeremyrnelson. The commit for stable will land as soon as it passed through CI. All the best for your migration!

[2021-07-12 08:19] #3599 closed, assigned to rolfschmidt

[2021-07-12 11:42] mgruner commented on #1601
Running Zammad in a clustered environment will be much easier [with Zammad 5](https://github.com/zammad/zammad-documentation/pull/190):

- Redis is [now supported](https://github.com/zammad/zammad/commit/1eef2a0e0f5a32b7769590749aa14b512de25d00) as web socket session store
- Memcached [can now be configured](https://github.com/zammad/zammad/commit/f05f8e2d3cc1b4a91bede6c0d1452dd21f765247) as Rails

[2021-07-12 12:09] ZuSe commented on #3617
@MrGeneration

We are running into the same issue. Our employees usually upload images via MS Teams. I don't know how Microsoft stores them but this seems to cause the issue.

Maybe it helps you debugging.

[2021-07-12 12:16] rolfschmidt commented on #3617
@ZuSe Is your system up to date? Bug should be fixed by now.

[2021-07-12 12:50] ZuSe commented on #3617
@rolfschmidt

Is it already in the helm chart? We hosting on k8s.

[2021-07-12 12:53] MrGeneration commented on #3617
Please stop posting technical questions on this repo.
You're hijacking a closed issue.

[2021-07-12 13:52] monotek commented on #1601
Thanks! :)

Stuff like upload store was what i had in mind too.

Where are gravatar avatars stored by the way?

Would be cool one could disable the possibility to change the storage option in the frontend, via some rails command in the init step of the container, so the enduser can't change it via the frontend, because he might not even now, that his instance runs clustered at all.

[2021-07-12 19:01] PDK2020 opened #3651 "Maximum number of connections from user+IP exceeded (mail_max_userip_connections=3)"
### Infos:

* Used Zammad version: 4.1.x
* Installation method (source, package, ..): docker-compose versión
* Operating system: Centos 8
* Database + version: Postgre
* Elasticsearch version: Disabled
* Browser + version: Firefox 89.0.2

### Expected behavior:
I'm trying to add a new SMTP relay on an Email, where the user and host is the same that other email souces.
*

### Actual behavior:
I'm g

[2021-07-12 19:33] SebastianZ commented on #82
I assume @monotek means merging multiple tickets into _one_, not one into multiple others. And bulk-merging is already covered by #564. So this issue should probably be closed in favor of the other one.

Sebastian

[2021-07-12 19:38] MrGeneration commented on #3651
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-07-12 19:38] #3651 closed, assigned to nobody

[2021-07-12 19:41] MrGeneration commented on #82
I can't agree.
While the technical part does affect bulk merging the enhancement request contains two different places in UI.
We should leave them separated to keep overview of things.

[2021-07-12 20:08] SebastianZ commented on #82
All bulk actions are currently done in the overview, as far as I know. So this would be the first case where you could do a bulk action from within a ticket.

But you're right, it might make sense to also have a bulk-merge option within a ticket. Though if so, I guess the use case would be to merge multiple _other_ tickets into the current one in opposite to the existing option to merge the curren

[2021-07-12 20:14] MrGeneration commented on #82
Maybe @monotek could help to see the scope better as it's his enhancement request. :-)

[2021-07-13 04:30] jeremyrnelson opened #3653 "FreshDesk Import fails with timeout error"
### Infos:

* Used Zammad version: 4.1.0
* Installation method (source, package, ..): package
* Operating system: Ubuntu Linux 20.04
* Database + version: postgres 12.7
* Elasticsearch version: 7.13.3
* Browser + version: MS Edge 91 on MacOS

### Expected behavior:

* Import tickets

### Actual behavior:

* After approximately 2 hours and approximately 2600 tickets imported, I get a "undefined met

[2021-07-13 07:06] patrickatwsrn opened #3654 "Chat widget cannot load CSS on (sub)domains that contain "ws" characters"
### info:

* Used Zammad version:  Zammad Version 4.1.x
* This is related to the core files executed on a client borwser and not effected by server environment.

###

Problem: We want to add the chat tool to our homepage but loadCss is "messing" arround with the url of the domain hosting zammad.

### Expected behavior:

wsrn.support goes in wsrn.support comes out.

### Actual behavior:

* https://

[2021-07-13 07:31] MrGeneration commented on #3654
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-07-13 08:05] patrickatwsrn commented on #3654
Hi,

thanks for your support.

I disagree on your assessment, but I'll repost the question in the community as required.

That being said, I would be very happy if you would reconsider your descicion to close this issue.

I'm aware that this behaviour was not intended, but I'm also 100% confident that this is a design flaw that should be fixed.

Regards,

patrick

[2021-07-13 08:10] mantas commented on #3654
@patrickatwsrn could you post `this.options.host` value? Or even the dump of `this.options`? If it's an information that you want to keep private, please send it to support@zammad.com and mention this github issue number.

[2021-07-13 08:36] johnalanyoung opened #3655 "Waiting Time Today Dashboard Statistic Do Not Update"
### Infos:

* Used Zammad version: Zammad version 4.0.x
* Installation method (source, package, ..): Package
* Operating system: CentOS Linux 7
* Database + version: postgres (PostgreSQL) 9.2.24
* Elasticsearch version: elasticsearch-7.12.1
* Browser + version: Google Chrome. Version 91.0.4472.124 (Official Build) (64-bit)

### Expected behavior:

* On the Dashboard under "WAITING TIME TODAY"; "My

[2021-07-13 08:37] MrGeneration commented on #3655
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-07-13 08:37] #3655 closed, assigned to nobody

[2021-07-13 09:05] thorsteneckel commented on #1601
The avatars are handled by the Store backend and therefore are stored in the DB as well ✅

Unfortunately the storage configuration is hard coded at the moment: https://github.com/zammad/zammad/blob/fe93104a07ec16e1dd8271abf410070c57d93d39/app/assets/javascripts/app/controllers/_manage/system.coffee#L12-L13

I think a dedicated Setting for storing if cluster mode is active or not would be great, li

[2021-07-13 09:33] patrickatwsrn commented on #3654
@mantasI I suppose you are asking for the js config.

It's the default embed code:

[code]
	host: 'https://wsrn.support/'
[code]

[2021-07-13 09:40] mantas commented on #3654
@patrickatwsrn it is indeed an issue... Interesting :|

note for later:
[code]

[2021-07-13 09:54] mgruner commented on #3653
![](https://github.trello.services/images/mini-trello-icon.png) [Freshdesk Issue](https://trello.com/c/lXSG9mkO/57-freshdesk-issue)

[2021-07-13 09:55] mgruner commented on #1601
![](https://github.trello.services/images/mini-trello-icon.png) [Stateless](https://trello.com/c/7eApGK5q/58-stateless)

[2021-07-13 10:16] martini commented on #1601
What would be the goal of the setting? Only to not allow to changes certain settings? And what if certain setting are already changed before enable `cluster_mode`?

IMO we need two things:

1) One method to disable certain `settings` (incl. identifying what settings this will be in docker env. - I guess `storage_provider` is only one of more settings).

2) Another magic script which is complaining

[2021-07-13 12:45] mgruner opened #3656 "Make Zammad operation on a cluster more user-friendly"
### Infos:

* Used Zammad version: develop (future 5.0)
* Installation method (source, package, ..): irrelevant
* Operating system: macOS 11.4
* Database + version: PostgreSQL 13.3
* Elasticsearch version: -
* Browser + version: -

### Expected behavior:

* Zammad should limit configuration settings to what makes sense on the cluster and warn about wrong settings.

### Actual behavior:

* Clustere