[2020-03-05 08:57] saz commented on #2946
@MrGeneration We're seeing the same issue since version 3.3.0.

For new tickets, all is working as before, but for existing tickets, nothing will be suggested.

I can also confirm the different endpoints used for searching as it is mentioned in the initial message.

[2020-03-05 09:02] MrGeneration commented on #2946
I cannot reproduce this behaviour.
Please use this community thread for discussion: https://community.zammad.org/t/search-for-users-e-mail-add-returns-empty-json-on-existing-tickets/4133

If this turns out to be a bug I just don't understand yet, I'll gladly reopen this issue.
Right now, as already stated, I can't reproduce it.

[2020-03-05 11:02] MrGeneration opened #2951 "Generic oAuth2 login provider is unusable"
### Infos:

* Used Zammad version: 3.2 and earlier
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

This issue is a dedicated split from issue https://github.com/zammad/zammad/issues/2944 to remain best possible overview.

### Desired change:

We will be removing the generic oAuth2 authenticati

[2020-03-05 11:03] MrGeneration commented on #2944
I've created issue 2951 for removal. I'll thus close this ticket as a duplicate.

Sorry for the confusion from our end!

[2020-03-05 11:03] #2944 closed, assigned to MrGeneration

[2020-03-05 12:10] MrGeneration opened #2952 "Implement dynamic attachment preview (for big screens)"
### Infos:

* Used Zammad version: 3.2
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1067096

### Expected behavior:

Zammad dynamically adapts to screen sizes when previewing images. Especially if you provide images that technically have enough width / height to do so.

### Act

[2020-03-05 14:00] martinvonwittich opened #2953 "Zammad fails to properly decode an improperly RFC2047-encoded Subject"
### Infos:

* Used Zammad version: 3.2.x
* Installation method (source, package, ..): docker-compose
* Operating system: Debian 10.3
* Database + version: postgres 9.6.16 from docker-compose
* Elasticsearch version: 5.6.14 from docker-compose
* Browser + version: Chrome 80

### Expected behavior:

* Zammad should decode the following `Subject` to `Subject: didacta 2020 wird verschoben -  Behörden

[2020-03-05 14:24] MrGeneration commented on #2953
Just a small sidenote on those kind of subjects.
Beside me not loking them at all we already saw how differently different mail server solutions can react with utf-8 stuff.

While some remove incorrect subject encodings for IMAP listings (as an example), others won't.

[2020-03-05 17:20] MrGeneration opened #2954 "Content Security Policy blocks embedded KnowledgeBase videos"
### Infos:

*This is a follow up on issue #2713*

* Used Zammad version: 3.2
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1070146

### Expected behavior:

You can embedd videos within knowledgebase entries without issues.

### Actual behavior:

When using the embedd function fo

[2020-03-05 22:47] martini opened #2957 "Inline images are note shown on split or forward"
### Infos:

* Used Zammad version: 3.3.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* keep inline images of split or forward

### Actual behavior:

* images are show as broken image in split or forward

### Steps to reproduce the behavior:

* split a ticket with in

[2020-03-06 07:14] #2957 closed, assigned to martini

[2020-03-06 08:14] mantas commented on #2954
@thorsteneckel MR 1036 is already waiting for your review

[2020-03-06 11:02] KoJie opened #2958 "Missing translation of "Enter note or""
### Infos:

* Used Zammad version: 3.3
* hosted
* Browser + version: chrome (80.0.3987.122)
* T#1070183, T#1069989

### Expected behavior:

* The text inside the note-field of an existing ticket ("Enter note or") should be translated in my preferred language, that I set up in my user-profile.

### Actual behavior:

* "Enter note or" is always displayed in English, regardless of the language select

[2020-03-06 14:33] thorsteneckel commented on #2954
Fixed with the two commits above 🚀 Thanks @mantas and @MrGeneration !

[2020-03-06 14:33] #2954 closed, assigned to mantas

[2020-03-06 21:11] jmptbl commented on #2726
Maybe this helps someone:

[code]

[2020-03-09 07:50] MrGeneration opened #2960 "Ticket removal of merged / linked tickets doesn't remove references"
### Infos:

* Used Zammad version: 3.3 and earlier
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any (this affects all Browsers and thus is not Browser specific)
* Ticket-ID: #1068022

### Expected behavior:

When removing tickets, no matter if you linked or merged them into another ticket, will

[2020-03-09 10:15] ArcheNoah77 opened #2961 "LDAP don't sync 3 specific agents"
### Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..) DEB
* Operating system: Debian 9
* Database + version:
* Elasticsearch version:
* Browser + version:

### Expected behavior:

LDAP Sync works

### Actual behavior:

LDAP sync dont work correctly

### Steps to reproduce the behavior:
 I changed the ldap server (just another dc in the same domain). After that 3 of 7 A

[2020-03-09 10:18] MrGeneration commented on #2961
Sorry but that sounds like a technical question.
If you change your ldap server and suddendly Zammad does synchronize less users, this sounds like a server issue.

Please consult the community of Zammad over at https://community.zammad.org

If this proves to be a software bug of Zammad, I'll gladly reopen this issue!
Please don't forget to reference this issue, this will help us to find the correc

[2020-03-09 10:18] #2961 closed, assigned to nobody

[2020-03-09 12:40] MrGeneration opened #2962 "Enhance article.body variables to behave the same"
### Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: 1076958

*This indirectly also affects issue https://github.com/zammad/zammad/issues/2484 which is currently undergroind CI - shouldn't be relevant, still wanted to point to it.*

*This has came

[2020-03-09 13:44] theantmich opened #2963 "Mails with attached audio file are unprocessed after upgrade to Zammad 3.3"
### Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..): Package (apt)
* Operating system: Ubuntu 18.04
* Database + version: PostgreSQL 10.12
* Elasticsearch version: 7.6.0
* Browser + version: Chrome 80.0.3987.122

### Expected behavior:

*Emails coming in with an audio file as attachements are picked up by Zammad and open tickets as they normally should.

### Actual b

[2020-03-09 13:46] MrGeneration commented on #2963
Looks like a regression of https://github.com/zammad/zammad/issues/2894

[2020-03-09 13:56] theantmich commented on #2963
It could be. Initially, we upgraded to 3.3 to try to apply the fix to the #2894 bug.

[2020-03-09 13:58] mantas commented on #2963
@theantmich any chance to get a sample email that fails to import?

[2020-03-09 14:01] MrGeneration opened #2964 "Ensure email channel authentication to be ASCII-8Bit"
### Infos:

* Used Zammad version: 3.3 and earlier
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1069582

*This enhancement issue is the result of the following community post by channappel: https://community.zammad.org/t/email-channel-incompatible-encoding-regexp-match-ascii-8b

[2020-03-09 14:54] theantmich commented on #2963
@mantas

I uploaded the email file as a png so that it can be added to the thread.
To see the email, change the file extension to .msg.

![Fw_ Message    de Antoine Michaud (279)](https://user-images.githubusercontent.com/61239471/76226344-1d514000-61f4-11ea-9adf-b7343fe3336c.png)

Thanks

EDIT : If that doesn't work, here's an actual image of the mail
![image](https://user-images.githubuserconten

[2020-03-09 15:11] MrGeneration commented on #2963
While importing works, this seems to be the known winmail.dat issue: https://github.com/zammad/zammad/issues/2403

I'll close this issue in favor for 2403.
Using conversion services helps, but right now Zammad itself fails doing so.

At least the example you provided is effected.

![image](https://user-images.githubusercontent.com/6549061/76228175-ab432000-6220-11ea-9dd0-557c04cf66a1.png)

[2020-03-09 15:11] #2963 closed, assigned to nobody

[2020-03-09 17:06] HeinrichMetel commented on #2864
Same issue at #2549

[2020-03-10 09:47] thorsteneckel commented on #2714
Hey there. @mantas @martini and I had a discussion about what the current implementation is and what is expected. We found out that the difference those two is the root cause of this issue: The UI is misleading and the documentation states a different behavior than what the implementation actually does.

# Overview

## What is expected (Case 1)
An Overview can be configured to be available for a L

[2020-03-10 10:20] SEGGER-NV commented on #2714
Makes sense to me. A clear documentation and UI should already help most people so they do not waste time trying to implement something that is not intended to work that way.

[2020-03-10 10:22] MrGeneration commented on #2714
Added documentation issue https://github.com/zammad/zammad-admin-documentation/issues/47

[2020-03-10 11:52] thorsteneckel commented on #2864
Great catch @HeinrichMetel ! Can't imagine how we could have missed it 👀 @MrGeneration it's up to you how proceed from here.

[2020-03-10 13:24] externalservices opened #2966 "StatusCode: 500 and undefined method `lookup'"
### Infos:

* Used Zammad version: 3.3.0
* Installation method (source, package, ..): helm chart 2.1.0
* Operating system: GKE
* Database + version: Postgresql 11.7
* Elasticsearch version: 7.6.1
* Browser + version: Chrome  80.0.3987.132 + Firefox 74.0

### Expected behavior:

* I'm able to login into my zammad instance via web Gui

### Actual behavior:

* When I try to login I only get a error m

[2020-03-10 21:49] bolah2009 commented on #2776
Hi @KoJie @MrGeneration @thorsteneckel 🙋🏽‍♂

Will it be okay to open a PR for this?

I think adjusting the CSS a little can yield the following screenshot below:
It is different from the picture in the **Expected behavior** above so I am not sure if this would be the best solution.

   ![image](https://user-images.githubusercontent.com/36057474/76362211-e75daa00-6320-11ea-91bc-8b12a2b9c23d.png)

[2020-03-10 22:09] mantas commented on #2776
@bolah2009 it'd be better to adjust CSS slightly more to make calendar identical to the rest of the system. As in screenshot in comment above in `Expected behavior` section.

And yes, that'd definitely make a great PR.

[2020-03-11 05:55] bolah2009 commented on #2776
Thanks @mantas I will work on it later today.

[2020-03-11 09:41] Rafiqgithub opened #2969 "Facebook integration updated documentation."
Hi, Can you please provide us the updated documentation for Facebook?
If there is no updated doc any alternative solutions to connect Facebook?

[2020-03-11 10:28] MrGeneration commented on #2969
Sorry but this is a technical questions - please *do not* post technical questions on this github repository. We do have this on our list (see: https://github.com/zammad/zammad-admin-documentation/issues/2 ) but will need more time to update this.

ETA currently unknown.
Closing now.

[2020-03-11 10:28] #2969 closed, assigned to nobody

[2020-03-11 11:18] VaLerON4ik commented on #1261
Hello! I have the same problem, also when I start migration in browser from otrs 3.2.1 to zammad in docker, I receive the message that zammad could not set fg key.
I am a beginner.. What should I do for migration a db from otrs to zammad?

[2020-03-11 16:39] bolah2009 commented on #2776
Hi @mantas
I opened a PR to this but am curious about the statement

Are there other places where this calender view exist?
Sorry am new to this app and couldn't find one when I tried checking for it.

[2020-03-11 21:29] theantmich opened #2971 "Mails with voicemails attached not being added (#<ActiveRecord::ValueTooLong: PG::StringDataRightTruncation: ERROR: value too long for type character varying(2500) (RuntimeError))"
### Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..): Package
* Operating system: Ubuntu 18.04
* Database + version: PostgreSQL 10.12
* Elasticsearch version: 7.6.0
* Browser + version: Chrome 80.0.3987.122
* Ticket-ID: #1070745

### Expected behavior:

*Emails coming in with an audio file as attachements are picked up by Zammad and open tickets as they normally shoul

[2020-03-11 23:22] mantas commented on #2776
@bolah2009 this same calendar is used in any date input field.

For example, given that you run system locally at `http://localhost:3000`, open http://localhost:3000/tests_form in your browser. Scroll down to `datetime1` field.

[2020-03-12 13:50] #2714 closed, assigned to mantas

[2020-03-12 17:59] Megachip commented on #613
Dear dev team... any ETA or progress? I have the same user 5 times in the DB cause he uses different email addresses to contact us.
That makes everything a bit complicated: stats, find other tickets of that user and so on...

[2020-03-12 18:22] MrGeneration commented on #613
This lives in our feature backlog and has no ETA yet.
We will update this issue accordingly if anything moves on this topic.

[2020-03-13 07:34] KervyN commented on #2266
Hi, will there be a 'fix' any time soon?
It is super annoying to click on an email, login and the sit on the dashboard.

And gitlab show that this is possible.

[2020-03-16 13:08] enryxgit opened #2972 "Italian translation error."
### Infos:

* Used Zammad version: 3.3.0
* Installation method (source, package, ..): Centos 7 yum
* Operating system: Centos 7 v7.7.1908
* Database + version: PostgreSQL v9.2.24
* Elasticsearch version: 5.6.16
* Browser + version: Google Chrome for Windows v79.0.3945.88

### Expected behavior:

* Translate italian word biglietto = ticket
* Translate italian word Biglietto = Ticket
File 1: opt/zam

[2020-03-16 13:10] KoJie opened #2973 "saving Boolean field with empty values"
### Infos:

* Used Zammad version: 3.3
* Installation method: hosted
* Browser + version: Chrome Version (80.0.3987.122)
* T#1068473

### Expected behavior:

* If you want to save a boolean field (object) it happens that you don't enter values because it looks like "Yes" and "No" are already filled in. Therefore it should not be possible to save the object or at least an error message should appea

[2020-03-16 13:11] enryxgit commented on #2972
File 1: opt/zammad/app/views/mailer/ticket_reminder_reached/it.html.erb
File 2: opt/zammad/app/views/mailer/ticket_update/it.html.erb

Please translate:

biglietto = ticket (right translation)

Biglietto = Ticket (right translation)

Thank you.

[2020-03-16 13:12] MrGeneration commented on #2972
Please fix the issue template in your first article, otherwise I'll have to close this issue as technical question.

The requested information are mandatory.

Thank you.

[2020-03-16 13:51] enryxgit commented on #2972
Just do it, thank you.

[2020-03-16 14:16] enryxgit opened #2974 "Reply to ticket to and copy search account failed."
### Infos:

* Used Zammad version: 3.3.0
* Installation method (source, package, ..): yum
* Operating system: Centos 7 v7.7.1908
* Database + version: PostgreSQL v9.2.24
* Elasticsearch version: v5.6.16
* Browser + version: v79.0.3945.88

### Expected behavior:

* After update to Zammad v3.3.0, e-mail address search pop-up is not visible in To and Cc field.
We have to add the e-mail address manual

[2020-03-16 14:19] MrGeneration commented on #2974
Sorry but this is rather a technical question.
Please ensure to re-index your elasticsearch searchindex as stated in the release notes.

This is a mandatory step after upgrading because of technical changes in Zammad.

If the issue persists, please ensure your elasticsearch is running and not crashing. Allow your installation to run the search (wait 5-10 seconds to be sure).

Please post technical

[2020-03-16 14:19] #2974 closed, assigned to nobody

[2020-03-16 14:36] lpar opened #2975 "RPM upgrade fails with no css or js files, assets:precompile fails"
### Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..): RPM from repository
* Operating system: CentOS 7
* Database + version: PostgreSQL 9.2
* Elasticsearch version: 5.6.16
* Browser + version: Google Chrome 80.0.3987.132

### Expected behavior:

* Routine upgrade to 3.3

### Actual behavior:

 * After upgrade, no js files or css files were found, attempting to access

[2020-03-16 14:39] MrGeneration commented on #2975
The Yarn message is a warning, not an error.
Your assets should still compile like expected.

This is a technical question - if you still have issues with your installation, please create a topic over at the community: https://community.zammad.org

If we prove me to be wrong and this to be a bug, I'll gladly reopen this issue! :)

Thanks for your time.

[2020-03-16 14:39] #2975 closed, assigned to nobody

[2020-03-16 20:32] flogy commented on #1016
Would be interested in a Zapier integration as well. Is there any update on this?

[2020-03-16 20:38] MrGeneration commented on #1016
This is a feature backlog and currently is not on our top priority list.
We will update this issue accordingly if this changes.

[2020-03-16 20:49] enryxgit commented on #2974
Thank you MrGeneration!
Issue solved.

1 - Run this command successfully.
/usr/share/elasticsearch/bin/elasticsearch-plugin list displaying ingest-attachment

2 - Run reindex successfully
zammad run rake searchindex:rebuild

3 - Restart zampar service successfully
systemctl restart elasticsearch

I try to reply to a ticket open by a user, try to add To or Cc and now I can see pop user to add.

Tha

[2020-03-17 07:53] #535 closed

[2020-03-17 13:27] martini opened #2976 "Not possible to copy inline images text from article to article (copy text and image image - via clipboard ctrl+c/ctrl+v)"
# Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Copy images + text from other articles and show them in edit mode and after save

### Actual behavior:

* After save the images are not longer shown.

![past_in_img_with_text](https:/

[2020-03-17 14:18] MrGeneration commented on #2627
So I finally was able to roll this one up again.
Most of the things are working out of the box by now, mantas has been fixing that proberbly indirectly with other issues. 💪

Especially the subdomain examples ensure to not have a /help being displayed, as I personally think that'd be doubled and looks ugly.

----

So - the following suggestions are *working without changes* and thus shall stay the

[2020-03-17 19:43] vitjok commented on #700
#2192 is not about drag and drop, it is about "Right click on the image in the created article -> Copy".

#2192 is fixed in 3.3 but I still can reproduce #700.

May be #2976 will fix #700? Not sure, because #2976 is about "CTRL-C, CTRL-V" and not about drag and drop.

[2020-03-18 10:51] mantas commented on #2627
@MrGeneration `DOMAIN.TLD` is what comes from the input field. Correct?

There's a third theoretical case that it may be custom (sub)domain + path. E.g. zammad sits at support.example.org, but KB is at another.example.org/kb

[2020-03-18 10:55] MrGeneration commented on #2627
Yes, `DOMAIN.TLD` is to be placeholdered wijth the input fields value. Sorry for not being specific on that. :D

Good hint about the third use case. Shall I have a look on rules for that as well? I mean, is that a use case the code currently supports and can differ? If so I'll do my homework! :D

[2020-03-18 11:02] mantas commented on #2627
Yes, existing code does (or should?) support it.

Current server config snippet look like this to account for that:

At first sight, your example seem to have hardcoded value that works only if  no path was entered. Current implementation takes custom path into account following way:

**Apache**

`RewriteRule #{path}(.*) /help$1 [PT]`

https://github.com/zammad/zammad/blob/develop/lib/knowledge_ba

[2020-03-18 15:12] lpar commented on #2975
It didn't work until I installed Yarn and Node. I had no assets, I even used `find` to search for .css files in the /opt/zammad tree.

[2020-03-19 12:32] YosefAdPro opened #2977 "Resize overview fields in RTL language"
### Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..):
* Operating system:
* Database + version:
* Elasticsearch version:
* Browser + version: Any

### Expected behavior:

*

### Actual behavior:

When using RTL language , increasing the field width it does not go in the right direction.

### Steps to reproduce the behavior:

Use RTL language (in my case Hebrew).
Go to

[2020-03-20 11:54] bengels00 opened #2978 "Security issue in 3.3.0"
### Infos:

* Used Zammad version: 3.3.0
* Installation method (source, package, ..): Ubuntu package
* Operating system: Ubuntu 18.04
* Database + version: MySQL 5.7
* Elasticsearch version: 7.6.1
* Browser + version: any

 ** Please provide security contact**

### Expected behavior:

* --

### Actual behavior:

* --

### Steps to reproduce the behavior:

* --

Yes I'm sure this is a bug and no fe

[2020-03-20 12:15] MrGeneration commented on #2978
Please use security [at] zammad [dot] com for security related notifications.
Thank you very much for choosing to report those issues responsible!

[2020-03-20 12:15] #2978 closed, assigned to nobody

[2020-03-20 17:37] cpzengel commented on #401
i tried those hints here, but still using open instead of geöffnet and closed ...
i have also overwritten the english file, no result

Das Ticket (Ticket##{ticket.number}) hat sich zu folgendem Status geändert: #{ticket.state.name}

thats how i do it, correct?

[2020-03-20 17:44] MrGeneration commented on #401
@cpzengel please do not hijack already closed issues.
As this is a technical question, this is also the wrong place, please use the Zammad community for technical questions: https://community.zammad.org .

[2020-03-22 23:56] #2976 closed, assigned to martini

[2020-03-23 00:10] #2971 closed, assigned to rolfschmidt

[2020-03-23 05:22] fleverest opened #2980 "Article Notes added via Macro are not HTML formatted"
### Infos:

* Used Zammad version: 3.2
* Installation method (source, package, ..): Docker-Compose
* Operating system: ubuntu
* Database + version: Docker-Compose
* Elasticsearch version: Docker-Compose
* Browser + version: Docker-Compose
* Ticket-ID: #1078230, #1081308, ~~#10102804~~

### Expected behavior:

*Macros that have "article.note" in their perform method should, when triggered, add an a

[2020-03-23 15:38] rolfschmidt opened #2981 "OTRS migration priority color wrong for 3 normal."
### Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

### Expected behavior:

Only tickets with priority 4 high and 5 very high should get displayed as important (red).

### Actual behavior:

After otrs migration tickets with the priority 3 normal should get di

[2020-03-24 00:14] mantas opened #2982 "Triggers with current_user.id precondition are not executed"
### Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* trigger with `current_user.id` as pre condition is executed when matches conditions

### Actual behavior:

* trigger with `current_user.id` as pre condition is not executed when mat

[2020-03-24 08:07] makmic opened #2983 "HTTP 401 responses causing issues with Basic Authentication"
### Infos:
* Used Zammad version: 3.2.0
* Installation method (source, package, ..): From source using Ruby 2.5.5, behind nginx rproxy.
* Operating system: Ubuntu 18.04.4 LTS (bionic)
* Database + version: postgres 9.5.21
* Elasticsearch version: 5.6.16
* Browser + version: Google Chrome 80.0.3987.132

### Expected behavior:
Zammad integrates smoothly with a layer of [basic authentication](https:/

[2020-03-24 08:17] MrGeneration commented on #2983
Please update your first article to keep your exact installation information - "any" is not really suitable at this point - sorry. :)

Also, please do provide your complete webserver configuration (and let us know which one you're using). Right now it smells a bit like a technical question, but I'd like to make sure completely. However, for that I need everything. ;)

Thanks.

[2020-03-24 09:39] makmic commented on #2983
Hi again,
I updated the issue description - sorry for the initial lack of it!
Best

[2020-03-24 09:49] MrGeneration commented on #2983
Thanks for the update. The config of your webserver is our default configuration extended by basic auth? Would you mind providing that vhost config as well? Just to be sure I'm not missing something.

Thanks!

[2020-03-24 10:57] ghost opened #2984 "LDAP Import: An error occurred: undefined method `ord' for nil:NilClass"
### Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..): Official Zammad Docker-compose
* Operating system: Debian 9
* Database + version: Official Zammad Docker-compose
* Elasticsearch version: Official Zammad Docker-compose
* Browser + version: Chrome 80.0.3987.149

### Expected behavior:

Successful LDAP Import without errors like in our other zammad docker instance (

[2020-03-24 10:59] MrGeneration commented on #2984
Please provide the complete traceback of the mentioned error message.

[2020-03-24 11:18] makmic commented on #2983
Yes, it's basically just Zammad Default config + Basic Auth. Here is the vhost config:
[code]

[2020-03-24 11:44] ghost commented on #2984
How can i do this?

[2020-03-24 11:47] MrGeneration commented on #2984
Get the logs from your docker container, per default it logs to stdout so you may have to wait until it comes back again.

We can't continue without the traceback.

[2020-03-24 12:02] MrGeneration opened #2985 "Adding a note during bulk operation only works for one ticket"
### Infos:

* Used Zammad version: tested on 3.2 and 3.3
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: tested on Google Chrome and Firefox, both latest
* Ticket-ID: #1070483

### Expected behavior:

When selecting several tickets within an overview you can add a note stating why you e.g. closed o

[2020-03-24 12:10] ghost commented on #2984
Here is a line from the zammad-rails container:
`I, [2020-03-24T10:29:29.435076 #1-47035551746740]  INFO -- : Started GET "/api/v1/integration/ldap/job_start?_=1585045746323" for 10.0.0.18 at 2020-03-24 10:29:29 +0000
I, [2020-03-24T10:29:29.440955 #1-47035551746740]  INFO -- : Processing by Integration::LdapController#job_start_index as JSON
I, [2020-03-24T10:29:29.441058 #1-47035551746740]  INFO

[2020-03-24 12:26] MrGeneration commented on #2984
No it doesn't - the payload / traceback I'm looking for should look similar to this:
https://github.com/zammad/zammad/issues/2966

[2020-03-24 12:37] ghost commented on #2984
The logs from your link looks like logs from the rails server. But at my logs there is not any error regarding to my problem. I only have "INFO" messages. So how can we debug the problem? Is there any console command to get more infos for the ldap integration?

[2020-03-24 12:47] MrGeneration commented on #2984
Sorry, but this seems to be more of a technical question than a bug at this moment.
Please open a thread in our community. Github is not the ideal place for discussions and technical questions - it causes a lot of noise and destriction for other users.

If we prove me to be wrong, I'll gladly reopen this issue - promised!

Please also note that the in issue 2966 mentioned traceback is something th

[2020-03-24 12:47] #2984 closed, assigned to nobody

[2020-03-24 15:41] #2982 closed, assigned to mantas

[2020-03-24 21:47] mantas commented on #2948
Closing as no longer relevant. Accidentally fixed by another commit.

[2020-03-24 21:47] #2948 closed, assigned to mantas

[2020-03-25 09:08] #2981 closed, assigned to rolfschmidt

[2020-03-25 09:19] rolfschmidt opened #2989 "wrong displayed fields in registration form after logout."
### Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

### Expected behavior:

Registration form should be always the same.

### Actual behavior:

Registration form differs between reload and login->logout->signup.

CORRECT

![grafik](https://user-images.githubu

[2020-03-25 10:36] MrGeneration commented on #2989
This is a duplicate of https://github.com/zammad/zammad/issues/2640
It's technically missing another issue as well. :x

[2020-03-25 10:38] rolfschmidt commented on #2989
thx closed.

[2020-03-25 10:38] #2989 closed, assigned to rolfschmidt

[2020-03-25 10:46] #2640 closed, assigned to rolfschmidt

[2020-03-25 12:49] anned20 commented on #233
I know this is an old issue, but I found it with a Google search.

We fixed the error by using this code:

[code]
Hope this helps anyone trying to achieve the same thing.

[2020-03-26 08:04] martini opened #2990 "Backward compatibility of deleting own notes"
### Infos:

* Used Zammad version: 3.2
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* References: T# 1067902

### Expected behavior:

* Work backward compatible for deleting notes.

### Actual behavior:

* In Zamamd 3.2 we introduced a timeframe of 10 minutes to be able to delete own notes.

[2020-03-26 15:26] kevin-olbrich opened #2991 "SMTP-Attachments missing when using the API under high load"
### Infos:

* Used Zammad version: 3.3.0 (1584681054.9aad793a.centos7)
* Installation method (source, package, ..): package
* Operating system: CentOS 7
* Database + version: PG 9.2.24 (2.el7_7)
* Elasticsearch version: 7.6.1
* Browser + version: API
* Ticket#1086521

### Expected behavior:

* E-Mail should be delivered with attachment.

### Actual behavior:

Under high load (300 new tickets, one

[2020-03-26 15:59] MrGeneration commented on #2991
Can you please also let us know what your system configuration looks like? Especially crucial here is:

* storage type (HDD/SSD)
* number of cores and their base clock
* memory assigned to the machine

---

A sample payload that holds redacted information would be amazing too.
This will help us greatly to understand your case.

Please also attach your production-log of the moment you're hammering

[2020-03-26 16:15] kevin-olbrich commented on #2991
Machine runs all flash (ceph ontop of DC NVMe's), with 10G RAM and four cores (2,13GHz).
Spectre / Meltdown etc. protections are disabled both on the VM and the hypervisor.

We only have high load once per month (invoices). Last month we had Zammad 3.2.0, which I upgraded last week.

With normal load this week (max 10 requests, v3.3.0) I did not notice this issue.
This was the first mass sending a

[2020-03-27 07:52] thomase commented on #2983
We looked into that again.
Our guess (as Michael wrote) would be to not return a HTTP 401 (which makes the browser believe that the given basic auth credentials are incorrect) but to return HTTP 403 forbidden.

If I saw it correctly, this would mean

app/controllers/application_controller/handles_errors.rb#L39
`    respond_to_exception(e, :unauthorized)`

should be replaced with
`    respond_to_ex

[2020-03-27 12:53] derbenzi commented on #2941
Hey @mantas ,
how are you? Do you have any updates to this issue?
Do you still need my Zendesk API access?

Greets

[2020-03-27 13:01] MrGeneration commented on #2941
Smells like a dupolicate of https://github.com/zammad/zammad/issues/2941

[2020-03-27 13:02] mantas commented on #2941
Hi @derbenzi ,

The fix is in our QA queue at the moment and should be included in next release.

Feel free to revoke that API token. Thank you for helping us!

P.S. @MrGeneration this is #2941 :)

[2020-03-27 13:24] SEGGER-NV opened #2992 "REST API Bug: When requesting user information via "login" or "email" server returns empty string instead of user data"
### Infos:

* Used Zammad version:3.3.x updated from 3.0.x
* Installation method (source, package, ..): package
* Operating system: Debian 9
* Database + version: -
* Elasticsearch version: -
* Browser + version: Firefox latest

### Expected behavior:

* Before creating a new ticket via REST API we check if Zammad already knows the user.
* If a user is known it should return the known user data wh

[2020-03-27 15:49] SEGGER-NV opened #2993 "Macros sorted differently after update to 3.3.x"
### Infos:

* Used Zammad version: 3.3.x
* Installation method (source, package, ..): package
* Operating system: Debian 9
* Database + version:
* Elasticsearch version:
* Browser + version:

### Expected behavior:

* After updating Zammad the macro order is not changed.

### Actual behavior:

* Macro order is changed.
![image](https://user-images.githubusercontent.com/44224243/77773927-94873080-7

[2020-03-27 16:08] mantas commented on #2993
Hi @SEGGER-NV,

Thank you for reporting this. This is... an interesting issue :)

Note to self: commit that introduced this change https://github.com/zammad/zammad/commit/feac4bb938082511716d5eac1fe9d3eff60d1aa1#diff-569f1d8466b8413253825f028414f3fbR44

[2020-03-27 17:20] kevin-olbrich commented on #2991
I've just met the same problem again. Yesterday I set "WEB_CONCURRENCY=1", today I restarted the whole VM. New mass mailing, 1-2/10 attachments are missing.

[2020-03-28 01:14] raymond-lmp opened #2994 "Stuck on loading after update to 3.3.0"
### Infos:

* Used Zammad version: 3.3.0
* Installation method (source, package, ..): package
* Operating system: Ubuntu 18.04
* Database + version: PostgreSQL 11 (Managed - Digital Ocean)
* Elasticsearch version: 7.6.1
* Browser + version: Chrome v80.0.3987.149 & Firefox 74

### Expected behavior:
For page to load
*

### Actual behavior:
Stuck on loading screen
![image](https://user-images.github

[2020-03-28 01:26] raymond-lmp commented on #2994
Also tried excluding Elasticsearch from the upgrade (retained 7.6.0) but getting the same result.

[2020-03-28 10:17] kevin-olbrich commented on #2991
The logs do not contain anything interesting.
I will try to migrate our setup to Debian Buster (was a long time todo) on an even faster machine.

[2020-03-28 14:15] MrGeneration commented on #2994
Sorry but this is rather a technical question.
Your assets don't seem to be correct and your ES plugin needs to be re-installed.

Anyway, this is out of scope of this repository - please note that we use Github for issues only.

The better place for technical question is the Community: https://community.zammad.org.
Please feel free to create a thread there if you still can't solve your issue.

Tha

[2020-03-28 14:15] #2994 closed, assigned to nobody

[2020-03-29 15:36] mwmahlberg commented on #2951
If I might add my 2 cents as a prospective user: While I can understand the change from a developers perspective, I am strongly against it from a user's perspective.

OAUTH(2)/OIDC are ubiquitous and removing support for them would limit the number of potential adopters significantly. That is less than ideal for a "freemium" business model, where you want to have as many adopters as possible, and

[2020-03-30 07:20] RobMOwen commented on #2157
This is causing me issues too. Also I'd like to be able to set email notifications (both reminders and escallations) to only send once, this fits in much better with my workflow. Any advice?

*Used Zammad version: 3.2.0-1578664361.375c4929
*Used Zammad installation source: Debian Package
*Operating system: Ubuntu 18.04
*Browser + version: Firefox 72.0.1

[2020-03-30 07:28] SEGGER-NV commented on #2993
Yeah it is odd indeed. I first thought I was going mad by clicking the wrong macro all the time.
Any idea for a workaround? Can the order somehow be impacted, even if it means to adjust the naming scheme slightly?

[2020-03-30 07:32] MrGeneration commented on #2157
@RobOwen1990 please don't hijack github issues for your technical questions.
The better place for technical questions is the Zammad Community: https://community.zammad.org

Because of missing input and to reduce "me toos" I'm limitting the conversation to contributors only. We do this to reduce noise on this repository which helps us focussing. 💪

As soon as there's any new input to this topic, we

[2020-03-30 07:35] MrGeneration commented on #2993
Sorry but I do believe that this is a duplicate of https://github.com/zammad/zammad/issues/2698 and thus should have affected you starting with Zammad 3.1 as far as I'm aware.

Mantas might correct me here and reopen the issue, if it's technically not connected. Up to now you currently cannot change the Macro order sadly. :(

[2020-03-30 07:35] #2993 closed, assigned to nobody

[2020-03-30 07:51] mantas commented on #2993
@SEGGER-NV , currently order is Z-A by name. Quick workaround would be to add descending prefixes 9/8/7 or C/B/A.

@MrGeneration looks like it's same issue. And that older one has more details as well as lists more affected places.

[2020-03-30 08:24] MrGeneration opened #2995 "Sorting overviews sometimes causes columns to jump"
### Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: tested on Google Chrome and Firefox latest, while Firefox shows this issue "better"
* Ticket-ID: #1071920

### Expected behavior:

When adding new columns or sorting for specific columns, they will not re-arrenge

[2020-03-30 08:35] SEGGER-NV commented on #2992
Quick update.
The issue dissapeared for now after we repeated the steps when updating to the latest zammad version that were recommended:

So can be closed. Sorry for the confusion.

[2020-03-30 08:35] #2992 closed, assigned to nobody

[2020-03-30 08:38] MrGeneration commented on #2992
Very odd!
Thanks for keeping us updated.

I'll mark this as a question, as I guess a migration during the update went wrong.

If this occurs again, please let us know, we'll have a deeper look then.

[2020-03-30 10:41] AleBitlam commented on #2705
Hi,
what is Zammad's default password? do I have to set it?
Thanks

[2020-03-30 10:59] MrGeneration commented on #2705
Please do not hijack closed issues.
Please also note that technical questions better should live within the Zammad Community (https://community.zammad.org) - this is to reduce noise on this repository.

Zammad and it's installation doesn't come with default credentials in any way.

[2020-03-30 15:06] kevin-olbrich commented on #2991
Ok, OS has been changed to Debian Buster with PG 11 vs. 9.
Also, local IO performance is much much higher than before.

Still the same issue. Just had to send an email with four parts (4 zip files). First is missing attachment.

[2020-03-31 05:53] xoladone opened #2996 "ERROR: Can't process email"
### Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..):  package
* Operating system: Debian
* Database + version: PostgreSQL 12
* Elasticsearch version: 5.6.16
* Browser + version: doesn't matter

Paste this, because error-message said it.
 ;)

"ERROR: Can't process email, you will find it for bug reporting under /opt/zammad/tmp/unprocessable_mail/XXXXXXXXXXX.eml, pleas

[2020-03-31 06:05] martini commented on #2996
Hi @xoladone

this is a duplicate of https://github.com/zammad/zammad/issues/2971 and already fixed in latest stable.

If you still have issue, please repen and attache the not processable mail (without that we can't reproduce it).

Greetings,

 -Martin

[2020-03-31 06:05] #2996 closed, assigned to nobody

[2020-03-31 09:40] KoJie opened #2997 "Ticket settings cog wheel is not shown even if `admin.ticket` permission is set"
### Infos:

* Used Zammad version: 3.3 / hosted
* Browser + version: tested with Chrome & Safari
* T#1071924

### Expected behavior:

* If I assign the partial admin permission "Ticket - Manage Ticket Settings" to an agent, he should be able to view and edit the ticket settings in the ticket.

Admin-settings:
![image](https://user-images.githubusercontent.com/22768032/78010103-44f27e80-7342-11ea-9

[2020-03-31 11:22] MrGeneration opened #2998 "Telegram and Form messages can't create ticket if field is mandatory"
### Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: tested on Google Chrome, but isn't really relevant for this issue
* Note: Possibly connected to: https://github.com/zammad/zammad/issues/1653 and https://github.com/zammad/zammad/issues/2634
* Ticket: #1078918, #

[2020-03-31 19:39] MacroPolo commented on #2907
Thanks for the details and sorry it has taken me so long to respond about this.

Agreed. However as it currently stands new customers can create Zammad accounts using insecure passwords which are not in compliance with the configured security settings and _without_ requiring any interaction from the Zammad administrator. There is also no step that forces those users to change their password to som

[2020-04-01 02:47] martini opened #2999 "Customer chat widget translation in Norwegian (no & nb) is missing"
### Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* customer chat widget should be available in Norwegian

### Actual behavior:

* No Norwegian translation is available

### Steps to reproduce the behavior:

* integration chat with `

[2020-04-01 04:03] #2999 closed, assigned to martini

[2020-04-01 13:23] MrGeneration opened #3000 "Login site wording could be better"
### Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..): anymarc
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Desired enhancement:

We should enhance the wording. Currently we're using "Login with {FQDN}" which sounds off and kinda feels wrong. I'd suggest something like "Login to {FQDN}" or "Login on {FQDN}

[2020-04-01 13:26] mantas commented on #3000
I'd say that just FQDN is OK. The screen is self-explanatory :)

[2020-04-01 14:23] #2977 closed, assigned to mantas

[2020-04-02 03:19] alionar commented on #834
+1

[2020-04-02 07:03] RobMOwen opened #3001 "Video widget text displaying vertically"
* Used Zammad version: 3.3.0
* Installation method (source, package, ..): Debian Package
* Operating system: Ubuntu 1804
* Elasticsearch version: 7.6.2
* Browser + version: Firefox 74.0

### Expected behavior:

* When embedding a video, you'd expect to only see the link text added e.g.:
`( widget: video, provider: vimeo, id: 400199974 )`

### Actual behavior:

* The text also display vertically:
!

[2020-04-02 07:59] mantas commented on #3001
Hi @RobOwen1990

I'm having a hard time reproducing this issue.

- Does it happen every single time for you?

- Do both correct and vertical texts appear at the same time?

- What's up with yellow and red marks in screenshot? Do you use any browser extensions that may touch this text?

Glad to hear you like you this functionality! :)

[2020-04-02 08:35] MrGeneration opened #3002 "CSV Exports ignore related fields"
### Infos:

* Used Zammad version: 3,3
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1061272

### Expected behavior:

When creating CSV Exports (e.g. via Time accounting or Reporting) Zammad uses existing related objects / relations to display their values.

### Actual behavior:

[2020-04-02 08:38] SEGGER-NV opened #3003 "Incoming Multipart Emails not correctly displayed as article"
### Infos:

* Used Zammad version: 3.3.x
* Installation method (source, package, ..): package
* Operating system: Debian 9
* Database + version:
* Elasticsearch version:
* Browser + version: Firefox latest
* ~~Ticket-ID: #1077352~~

### Expected behavior:

* When receiving a multi part email, all email parts are parsed and displayed correctly in zammad.

### Actual behavior:

* Some parts are simp

[2020-04-02 11:24] martini opened #3004 "Enhance Check_MK integration to set ticket attributes (e. g. for SLAs) and improve code snippeds for integration."
### Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Set ticket attributes of a ticket created via Check_MK integration to be used for SLAs
* Improve integration snippeds (curl examples) to integrate/support service and host messages

[2020-04-02 11:28] #3004 closed, assigned to martini

[2020-04-02 11:56] RobMOwen commented on #3001
The fellow and green is `Grammar and Spell Checker - LanguageTool` add in for firefox, resetting this  seems to have resolved it. Thanks

[2020-04-02 11:56] #3001 closed, assigned to nobody

[2020-04-03 02:23] benbucksch opened #3005 "Email import ignores important metadata"
### Infos:

* Used Zammad version: 3.3.x
* Installation method (source, package, ..): Docker compose
* Operating system: Ubuntu
* Database + version: PostgresSQL
* Elasticsearch version: see above
* Browser + version: Firefox 74

### Expected behavior:
* Email Date: header is mapped to Ticket creation / update date
* Emails threads that are entirely read are imported as solved tickets

### Actual

[2020-04-03 02:58] benbucksch opened #3006 "Email import sends out confirmation emails without asking, and for years old email"
### Infos:

* Used Zammad version: 3.3.x
* Installation method (source, package, ..): Docker compose
* Operating system: Ubuntu
* Database + version: PostgresSQL
* Elasticsearch version: see above
* Browser + version: Firefox 74

### Expected behavior:
* No emails to customers are sent without my request and approval.

### Actual behavior:
* Zammad sends out confirmation emails to **all** my custo

[2020-04-03 03:12] benbucksch commented on #3006
Workaround: Settings | Trigger | auto reply (on new tickets) | Deactivate. However, this is *too late*, given that the setup sequence already started the email import, and Zammad started sending out emails before I had a chance to look at settings. Also, more importantly, as a new Zammad user, I cannot possibly know that such a rule is active, if Zammad never asked me whether I want that. Any cust

[2020-04-03 03:22] benbucksch commented on #3006
Here's a typical email from a customer. I am getting already tons now, minutes after the import. This is a glimpse of the storm that's going to happen at our support in the next few days:

-----------

Hi:  I'm not sure why I received this message.  I did indeed ..., but that was back in November of 2019.  Initially I did have difficulty getting [product] started, but at the time ....  Shortly the

[2020-04-03 03:29] benbucksch commented on #3006
Another customer replied:

Your system isn't working at all, I checked the spam folder now several times. nothing!!!!!! What crap is your company using?

[2020-04-03 03:43] benbucksch commented on #3005
There's no hint whatsoever in the Zammad ticket about when the message was sent. (Unless it's in the body somehow.) Zammad also deletes the original emails.

-> dataloss

[2020-04-03 08:20] MrGeneration commented on #3006
Sorry, but this is working as designed.
Our documentation **is warning you about this**: https://admin-docs.zammad.org/en/latest/channels/email/accounts.html

Thank you for your valuable feedback, however, this is a technical question.
Please do not post technical questions on this repository and use the Community next time instead: https://community.zammad.org

[2020-04-03 08:20] #3006 closed, assigned to nobody

[2020-04-03 08:26] MrGeneration commented on #3005
Within expert settings Zammad allows you to choose if you want to keep data in your mailbox (or not).
So we do not always delete data.
This is described in our documentation:
https://admin-docs.zammad.org/en/latest/channels/email/accounts.html

Currently we do not "archiv import" mail data. This is living in the code prepared, but not yet ready to use.

Also, this is a technical question and not a

[2020-04-03 08:26] #3005 closed, assigned to nobody

[2020-04-03 12:31] MrGeneration opened #3007 "Customer invitation doesn't work if "customer" role is name wise missing"
### Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: latest Google Chrome
* Ticket-ID: #1072129

### Expected behavior:

When inviting customers, Zammad will ensure to always be able to add customers and notify them (given configured mail servers do work). If it's

[2020-04-03 12:53] MrGeneration opened #3008 "Tree-Select is missing tooltip if required and not set"
### Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified on Google Chrome (latest)
* Ticket-ID: #1068251

### Expected behavior:

When trying to update or create tickets with required attributes, Zammad will display an error tooltip indicating the field still

[2020-04-03 21:38] ma2t opened #3009 "Clickable URLs input type"
### Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..): package
* Operating system: Debian 10
* Database + version: postgresql 9.6
* Elasticsearch version: 5.6.16
* Browser + version: Firefox 74.0.1 (64 bits)

### Expected behavior:

* On Tickets zoom: input type "text" on custom object attribute with a clickable URL.

### Actual behavior:

* On Tickets zoom: input type

[2020-04-03 22:50] MrGeneration commented on #3009
Sorry but that's rather a technical question.
If you tell Zammad you want to provide a URL, you have to do so.

Instead change your object to Text if it's not an URL. It technically has nothing to do with the linked object at that point. This is not a bug, but working as designed. :-)

Please don't post technical questions on this repository, For technical questions the Zammad community is the bes

[2020-04-03 22:50] #3009 closed, assigned to nobody

[2020-04-03 23:28] ma2t commented on #3009
Sorry for the confusion @MrGeneration 👍

[2020-04-06 00:46] benbucksch commented on #1032
This is pretty serious. I would not expect a single email to stop all incoming email processing.

[2020-04-06 10:03] ahmidosenadoro opened #3010 "Zammad Wordpress Chat dont appear"
Hello @all,

i have the problem with the Zammad chat with Wordpress. I have connected the Wordpress-Site with Zammad and i see at the debugger that the site is connected. But when  i try to open the chat with the button on the wordpress website, the chat will not appearing. There is no errors in the logs or something. Do anyone have an idea what the problem is?

Thanks for your help

greet
ahmido

[2020-04-06 10:08] MrGeneration commented on #3010
Sorry but this looks like a technical question.
Please note that we strictly divide technical questions from bug reports, which is why this repository is the wrong place.

Please consult the Zammad Community at https://community.zammad.org and make sure to fill in the technical assistance form to help us to help you.

Thank you!

Closing.

[2020-04-06 10:08] #3010 closed, assigned to nobody

[2020-04-06 11:08] MrGeneration opened #3011 "Implement option to allow custom SSL CAs to be uploaded"
### Actual behavior

Currently you can either install your custom ca certificates "the hacky way" or, on most parts, simply ignore the verification. While ignoring the verification works, it's imho bad, because you can never be sure that the remote part you're talking to is really the part you were planning to talk to.

### Expected behavior

We would like to make it easier and straight forward on

[2020-04-06 14:08] vousys commented on #274
I have the same issue and I solved it like that:

`<div class="soporte-chat"></div>
`
And then using the target class in the zammad chat initialization

[code]

[2020-04-06 14:13] MrGeneration commented on #274
Locking this issue to reduce the noise on this tracker.
Please do not recycle old issues that have been closed for a long time.

[2020-04-07 10:57] MrGeneration opened #3012 "Don't display "article type" selection for customers within UI"
### Infos:

*This originally comes from the community (https://community.zammad.org/t/customer-note-button-next-to-text-response-doesnt-seem-to-do-anything/3821) and was suggested by "RobOwen1990"*

* Used Zammad version: 3.3
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any Browser affected

###

[2020-04-07 11:46] MrGeneration opened #3013 "Variables within Trigger and Scheduler behave differently between subject and body"
### Infos:

*This originally comes from the Community (https://community.zammad.org/t/no-ticket-id-displayed-in-the-mail-subject-if-there-is-no-space-in-front-of-ticket-number/4344) by user "AnnemarieBecher"*

* Used Zammad version: 3.3
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expec

[2020-04-07 13:11] fs-zammad commented on #2347
T#1072793

[2020-04-07 20:38] saada commented on #2941
When is the next release planned?

[2020-04-07 21:45] MrGeneration commented on #2941
Coming when it's ready. Sorry, but we can't tell you ETAs.
Please don't push issues like that.

[2020-04-08 06:24] #2941 closed, assigned to mantas

[2020-04-08 10:15] MrGeneration opened #3015 "Tree Select values being discarded in overview configuration do not reset correctly"
### Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: latest Google Chrome, Mozilla Firefox and Microsoft Edge
* Ticket-ID: #1072785

### Expected behavior:

When discarding overview dialogues, selected values are no longer set if they're not stored within the datab

[2020-04-08 11:27] martinvonwittich opened #3016 "Splitting tickets should create the new ticket as phone ticket, regardless of ui_ticket_create_default_type"
### Infos:

* Used Zammad version: 3.3.x
* Installation method (source, package, ..): docker-compose
* Operating system: Debian 10.3
* Database + version: postgresql 9.6.17 (from docker-compose)
* Elasticsearch version: 7.6.1 (from docker-compose)
* Browser + version: Chromium 80

### Expected behavior:

* When splitting an article from an existing ticket, the newly created ticket should always be

[2020-04-08 11:31] MrGeneration commented on #3016
Personally I think it should be the article type you're splitting from, but that's just my thought on this.

[2020-04-08 12:30] martinvonwittich commented on #3016
I disagree. For example, imagine the following scenario:

1. Customer customer@example.com sends a mail to info@my.zammad.
1. Zammad creates a new ticket with the mail as the only article, and article type = email.
1. An agent opens the ticket and realizes that the mail concerns multiple departments, let's say support and sales. He moves the ticket to the Support group, and clicks on split to crea

[2020-04-08 14:35] SEGGER-NV opened #3017 "User without e-mail can be created"
### Infos:

* Used Zammad version: 3.3.x
* Installation method (source, package, ..): package
* Operating system: Debian 9
* Database + version:
* Elasticsearch version:
* Browser + version: Firefox latest

### Expected behavior:

* When trying to create a user via the Admin panel or when creating a new ticket via the green plus as an agent, the e-mail field for a new user is mandatory and creates

[2020-04-10 22:40] MrGeneration commented on #2627
I've had another look onto the combination of custom FQDN together with a subfolder structure.
When entering `my.domain.tld/support` Zammad does not correctly recognize it, it just recognizes the subdirectory.

![image](https://user-images.githubusercontent.com/6549061/79026042-dd310480-7b87-11ea-8b4d-c55aec04a456.png)

So I'm not sure if the code can really carry this.

----

Expecting to use "do

[2020-04-13 00:03] noezdev commented on #2476
We've open customer ticket since 02/19 we cannot close.

" PG::StringDataRightTruncation: ERROR: value too long for type character varying(250) : UPDATE "tickets" SET "preferences" = $1, "note" = $2, "updatedbyid" = $3, "updated_at" = $4 WHERE "tickets"."id" = $5"

[2020-04-13 13:40] MrGeneration commented on #2476
@noezdev please don't mix issues, this is about MySQL not PG-SQL.
Also, you seme to have a technical question apart this technical bug, so I'd like to ask you to create a post on the Community board if you need help. (https://community.zammad.org)

I'm limitting the conversation to contributors only to reduce the noise on this repository.
As soon as something moves forward on this issue we'll upda

[2020-04-14 05:56] sinichi19 opened #3018 "Times in ticket history are displayed in UTC"
### Infos:

*This enhancement request has been edited by @MrGeneration to meet our current requirenments. This originally comes from the discussion on the Community https://community.zammad.org/t/ticket-history-time-zone/4256 .*

* Used Zammad version: 3.3.0
* Installation method (source, package, ..): deb
* Operating system: ubuntu 18.04
* Database + version: postgre
* Elasticsearch version: 7.6

[2020-04-14 12:43] thorsteneckel commented on #2907
Hey @MacroPolo - you are right. I can confirm this. The behaviour you described in your initial comment works around the password policy and therefore is considered a bug. We'll take care of it.

[2020-04-15 10:15] msickl commented on #2257
Something new here ? does Zammad support now OIDC ?

[2020-04-15 10:20] MrGeneration commented on #2257
This is still an ongoing enhancement - as soon as anything moves forward, we will update this issue accordingly.

In the mean time I'll limit the conversation to contributors only, as technical questions and bumps unfortunately brings distraction. You may want to have a look at the SAML integration which might be an alternative.

[2020-04-16 01:57] Chren opened #3019 "ERROR: invalid byte sequence for encoding "UTF8": 0xb5"
### Infos:

* Used Zammad version: 3.3.x
* Installation method (source, package, ..): docker
* Operating system: centos7
* Database + version:jjj
* Elasticsearch version:xxs
* Browser + version:chrome 80.0.3987.163

### Expected behavior:

* Fetch every income email and create ticket

### Actual behavior:
- channel is active but not fetched for 2 days
- Failed to run scheduled job 'Check Channels'

[2020-04-16 08:13] ArcheNoah77 opened #3020 "Dark Mode?"
Simple Question: Is a dark mode planned?
I can imagine that others want this too :)

[2020-04-16 08:19] MrGeneration commented on #3020
Please don't post technical or enhancement questions on this repository.
For this, the Zammad community is the perfect place ( https://community.zammad.org ).

The community is also the perfect place for filling feature requests.
If you have a look within the community and github, there's currently no topic about dark mode. So it's proberbly not planned. Please also note that we in general do not

[2020-04-16 08:19] #3020 closed, assigned to nobody

[2020-04-16 13:07] MrGeneration commented on #3017
Hey,

this is actually not a bug but working as designed.
This has been proposed in this issue https://github.com/zammad/zammad/issues/562 and has became standard with Zammad 2.0 (so quite a long time ago).

While I understand that this is a bad behaviour for you, this is unfortunately nothing you can change in behaviour. Please feel free to fill in a feature request in the Zammad community (https

[2020-04-16 13:07] #3017 closed, assigned to nobody

[2020-04-16 13:22] MrGeneration commented on #3019
Thanks for your report.
Please provide the full traceback from within your production.log.

If this is caused during a Channel.fetch, please also provide the mail that's causing this issue if possible.

Edit: Please also provide more information on the channel configuration of the affected channel (POP3/IMAP) and what MTA (e.g. dovecot) Zammad is talking to while fetching.

[2020-04-16 14:25] MrGeneration commented on #2983
Sorry for taking so long.
Please note that this is not a Zammad related issue (application based), but a "backend issue" on your nginx.

The authentication requests for the basic authentication does never reach Zammad as application but already ends (and is checked by) your nginx or any other webserver you'd use.

Thus, changing source code is in my opinion not solving your issue at all.
Technical

[2020-04-16 15:36] martinvonwittich opened #3021 "Ctrl+Backspace breaks text module selector"
### Infos:

* Used Zammad version: 3.3.x
* Installation method (source, package, ..): docker-compose
* Operating system: Debian 10.3
* Database + version: postgresql 9.6.17 (from docker-compose)
* Elasticsearch version: 7.6.1 (from docker-compose)
* Browser + version: Chromium 80

### Expected behavior:

* When you type `::foo` to open the text module selector, and then hit Ctrl+Backspace to chang

[2020-04-16 15:46] MrGeneration commented on #3021
Hey,

is it possible that this is a duplicate of https://github.com/zammad/zammad/issues/2886 ?

[2020-04-16 16:25] martinvonwittich commented on #3021
Hmm, yes, that could be possible. On my first look at #2886 it seemed to describe a different problem (user wants to leave text module mode, but Zammad silently doesn't, causing data loss on the next return). But the fact that this:

- Type `::foo`
- Hit Ctrl+Backspace
- Type `bar`
- Hit Return

also removes the text `bar`, just like in #2886, seems to indicate that both issues probably have the s

[2020-04-17 07:23] thorsteneckel opened #3022 "Detect ServiceNow follow-ups"
### Infos:

* Used Zammad version: 3.3.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* ServiceNow follow-ups to a Ticket should be automatically added

### Actual behavior:

* ServiceNow removes all Zammad Ticket references (Number, mail header etc.)
* ServiceNow fo

[2020-04-17 07:25] #3022 closed, assigned to rolfschmidt

[2020-04-17 08:56] MrGeneration opened #3023 "KB within Zammad UI (as agent) breaks words (break-all)"
### Infos:

*This was originally discussed within the community, brought up by User timb and further helped by User CptCharlesG on this thread: https://community.zammad.org/t/line-breaks-word-wrap-not-working-correctly-in-knowledgebase/4222/7*

* Used Zammad version: 3.3
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any

[2020-04-17 10:50] MrGeneration commented on #2951
Maybe this got a bit off.
This issue is about removing *one* of the many oAuth2 authentication options that are available in Zammad. The generic oAuth2 authentication is *not working* as of now.

We had to learn there is no such thing like "generic oAuth2" which is why this functionality is technically rubbish and more causing confusion than use.

I mean don't get me wrong, if you have a solution

[2020-04-17 11:33] arstehn opened #3024 "Images embedded in Knowledge Base answers do not get copied into tickets correctly"
### Infos:

* Used Zammad version: 3.3.x
* Installation method (source, package, ..): package
* Operating system: Ubuntu 18.04.4
* Database + version: MySQL (Marina DB 10.3.11)
* Elasticsearch version: 7.6.2
* Browser + version: Current Google Chrome & Current Firefox

### Expected behavior:

- When inserting an answer from the knowledge base into a ticket by using "??" all images inserted into th

[2020-04-17 11:38] mantas commented on #3024
Closing as duplicate of https://github.com/zammad/zammad/issues/2644

[2020-04-17 11:38] #3024 closed, assigned to nobody

[2020-04-17 12:02] arstehn commented on #3024
While this issue is similar to #2644 it is not the same.
In the video in #2644 you can see the issue I described work correctly as my issue lies with images being inserted into the answer itself, not being uploaded as attachments.

[2020-04-17 12:09] MrGeneration commented on #3024
Sounds like a similare issue to the one we had on the Zammad community earlier this month:
https://community.zammad.org/t/images-broken-when-adding-knowledgebase-articles-to-tickets/4341

I couldn't reproduce it.
Please check if it fits and provide at least developer console output.

Right now this is, even if it's different, absolutely not reproducable with the provided information. I'm sorry.

[2020-04-17 12:11] hfischer-github commented on #1307
Are there any news regaring that feature request? We would also be glad, if all users would have access to a ticket which are also part of email communication (to/cc). Often a user is creating a ticket via email and adds further user to email cc. All these users should have access to the ticket and the current status.

[2020-04-17 12:14] MrGeneration commented on #1307
This is a feature backlog.
This hasn't move in any direction - if things happen regarding this topic, we'll update this issue accordingly.

I'm locking the conversation of this issue to contributors only to reduce noise on this repository.
Please don't get me wrong, it's just that bumping issues doesn't speed up the pace. :(

[2020-04-17 13:12] mantas commented on #3024
@arstehn I'm working on a fix for #2644. That fix will solve both file and inline attachments. Issue description may be ambiguous though. Sorry for the confusion.

@MrGeneration I can reproduce this issue as well as confirm that #2644 fix solves it. Let me know if you want more details

@thorsteneckel ping on that merge request stuck in QA for a long time :)

[2020-04-17 13:17] arstehn commented on #3024
No problem and thank you for your quick reply, that's great news

[2020-04-17 18:43] egorky opened #3025 "The chat box doesn't work when using a TCP port other than 80 and docker Zammad"
### Infos:

* Used Zammad version:3.3.0-23 & 3.3.0-19
* Installation method (source, package, ..): Docker
* Operating system (of the host): centos 7.7.1908
* Database + version: The one that comes in the docker image: psql (PostgreSQL) 9.6.17
* Elasticsearch version: The one that comes in the docker image: 7.6.1
* Browser + version: Google Chrome Version 80.0.3987.163 & MS Edge Version 81.0.416.53

[2020-04-17 18:54] MrGeneration commented on #3025
Sorry but this sounds like a rather technical question.
Please consult the community forum for technical questions - this repository is the wrong place. https://community.zammad.org

The reason for your issues already lives within your developer console.

"URL's scheme must either be ws or wss. http is not allowed"

Closing.

[2020-04-17 18:54] #3025 closed, assigned to nobody

[2020-04-17 20:06] egorky commented on #3025
Thanks for the fast reply, @MrGeneration . So this should be an error in the documentation instead, the documentation clearly states that I don't have to use that "host" option if the URL is declared through the script tag in the HTML :
![image](https://user-images.githubusercontent.com/54412925/79607484-e1de4700-80b8-11ea-993e-975cab0f0f35.png)

In my case I do declare the URL in the HTML code:
[

[2020-04-17 21:32] MrGeneration commented on #3025
Yes I am sure that this is a technical question you could solve as this is not a bug.

[2020-04-18 00:45] egorky commented on #3025
ok, thanks a lot!

[2020-04-18 15:43] mwmahlberg commented on #2951
@MrGeneration I dare to object. There are various authentication flows, mappers etc. Most vendors take the approach to give a few examples for the most common auth servers, say Keycloak and Spring Boot, get into great detail on the mappers required and the settings suggested. Since after all, zammad will be only one client in an authentication domain, the client settings _can_ be highly specific t

[2020-04-18 18:39] Starfox64 commented on #2866
As a heads up, Office 365 is also about to retire basic auth for IMAP/SMTP.

[2020-04-18 20:22] MrGeneration commented on #2866
@Starfox64 thanks for the heads up, we already got that on our list.

[2020-04-20 08:30] aymenwerg opened #3026 "It possible to add dynamic data in {article.body} when i create a ticket with API call ?"

[2020-04-20 08:33] MrGeneration commented on #3026
Please don't post technical questions on this repository.
For technical questions please use the Zammad-Community: https://community.zammad.org

Important: Please don't just use the title, but also fill in the provided templates, as they are requred to help you in a usefull way.

Closing.

[2020-04-20 08:33] #3026 closed, assigned to nobody

[2020-04-20 09:48] #2644 closed, assigned to mantas

[2020-04-20 10:09] thorsteneckel commented on #2627
Hey guys! How is this issue coming along? We're planing a new release of Zammad and this one is assigned to the next release (for quite a while).

[2020-04-20 10:11] thorsteneckel commented on #2834
Hey @mantas - can you give me a short heads up on this one? I haven't found a matching branch. Do you think we can get this ready for the next release?

[2020-04-20 10:12] MrGeneration commented on #2627
Nothing new to add from my end, my last ~~two~~ three comments are (for me) the as is.

[2020-04-20 10:18] mantas commented on #2834
@thorsteneckel it comes as part of #2867 MR which I'm rebasing

[2020-04-20 11:29] #2598 closed, assigned to mantas, mrflix

[2020-04-20 12:22] #2698 closed, assigned to mantas

[2020-04-20 14:13] Gittenburg opened #3027 "Cannot give default role ticket.agent permissions (even though account creation is disabled)"
### Infos:

* Used Zammad version: 3.3

The changes introduced in #1758 prevent a legitimate use case:

At my organization we have disabled account creation via the web interface and all users that use the web interface are ticket agents. Until now we created all accounts manually. Now we want to use Authentication via SAML, which works but inconveniently newly created accounts cannot have the tic

[2020-04-21 07:53] makmic commented on #2983
Hi @MrGeneration,
thanks for looking into this.

While I understand that this issue seems to be out-of-scope for the Zammad application, I still think that it is caused by it (and not the Ngnix). I'll try to explain why:

Let's assume our ngnix is _not_ configured to use basic authentication. In this case, both of us agree that the Zammad application ("behind" the ngnix) just works fine.

Now, we

[2020-04-21 08:39] herzkerl opened #3028 "Syntax errors break scheduler job for good"
This is a follow-up to my post 'Scheduler job won’t get run again after quitting due to syntax error in variable' on the community forums: https://community.zammad.org/t/scheduler-job-wont-get-run-again-after-quitting-due-to-syntax-error-in-variable/4160

### Infos:

* Used Zammad version: 3.3.x
* Installation method (source, package, ..): package
* Operating system: Debian 4.9.189-3+deb9u2 (2019-

[2020-04-21 08:55] MrGeneration commented on #2983
@thorsteneckel what's your opinion on this?

[2020-04-21 09:08] MrGeneration opened #3029 "Remove owner if agent looses permissions to group"
### Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1073579

### Desired behavior:

When removing agents from groups where they are owners of tickets, the owner for tickets not being closed will reset to `nil`. This will move tickets back into th

[2020-04-21 09:32] MrGeneration opened #3030 "Enhance permission screens to show the scope of loosing those permissions"
### Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1073579

### Desired behavior:

When removing permissions to a group or role, Zammad will check if these changes will affect any open tickets that are currently assigned to the agent you're upda

[2020-04-21 09:35] holdenger commented on #865
@thorsteneckel Where exactly is that migrator you are reffering to?

[2020-04-21 14:34] thorsteneckel commented on #865
Hey @holdenger - nice to see that you're interested in testing the Freshdesk migrator. The results in the meantime were all positive but we still looking for further beta testers. It would be great if you could drop us a mail (support at zammad.com) and refer to this issue / testing the Freshdesk import.
Looking forward to hear from you.

[2020-04-21 15:00] thorsteneckel commented on #2983
Hey guys! Thanks for the valuable information and descriptions. I read the RFC and was still a bit confused about the differences between 401 and 403. However, I found [this great explanation](https://stackoverflow.com/questions/3297048/403-forbidden-vs-401-unauthorized-http-responses) over at StackOverflow. Quote:

That brings it to the point. Zammad uses 401 for `authorization` errors. This is t

[2020-04-21 16:16] makmic commented on #2983
Those are great news! Sounds good to me.

[2020-04-21 17:23] MrGeneration opened #3031 "Enable Zammad package installations to hold a history file"
### Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..):  any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1070630

### Desired behavior:

Zammads rails console holds up a certan number of commands that you can simply "respin" just like a normal shell. This allows you to run regulary used commands w

[2020-04-22 07:02] ekafaton commented on #656
Is there any news regarding this issue? I have to re-write long responses on a regular basis because I use CTRL+T a lot which deletes everything written inside the textbox. Of course this is very frustrating, we don't even need the zammad shortcuts.
Allowing us to disable the shortcut globally would be a fantastic workaround until a solution is found.

[2020-04-22 10:47] MrGeneration commented on #3031
Correction from my site:
It's enough to add a a file `.irbrc` within /opt/zammad/ containing this:

[code]

[2020-04-22 11:20] MrGeneration commented on #656
This is currently in feature backlog and doesn't have an ETA.
As soon as this moves in any direction we will update it accordingly.

Please stop bumping issues in this repository, because it creates noise, distraction and doesn't speed up the process at any point.

I'm thus limitting the conversation to contributors only. I hope you can understand this.

[2020-04-22 12:58] hiaz opened #3032 "Upload attachment to an article via REST API does not set content-type"
### Infos:

* Used Zammad version: 3.4.X
* Installation method (source, package, ..): Docker Container

### Expected behavior:

If I upload an attachment via REST API it should store and display in the same way like if I use the zammad UI.

### Actual behavior:

If we use the REST API preferences of the attachment are set like this:

[code]

If we use zammad UI is looks like

[code]

Because the z

[2020-04-22 14:24] ryno83 commented on #3024
Hi,
Is there a way to make it work again in version 3.3.0 ? A kind of workaround ?

Thank you

[2020-04-22 14:50] MrGeneration commented on #3024
This is a closed issue, please do not hijack closed issues.
While you could backport these changes, I wouldn't suggest to do so, so no, no workaround. 🤷‍♀️

[2020-04-22 18:06] martinvonwittich opened #3033 "Return and arrow keys stop working while replying to a ticket"
### Infos:

* Used Zammad version: 3.1.x
* Installation method (source, package, ..): docker-compose
* Operating system: Debian 10
* Database + version: PostgreSQL from docker-compose
* Elasticsearch version: ES from docker-compose
* Browser + version: Chrome 80

### Expected behavior:

* Return and up/down arrow keys shouldn't stop working while typing a reply in the ticket zoom.

### Actual beha

[2020-04-23 07:27] MrGeneration opened #3034 "Filtering for article subjects, titles & texts via reporting profile does not work"
### Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Google Chrome latest
* Ticket-ID: #1073785, #1078940

### Affected attributes:

* article-subject
* article-text
* ticket-title

### Expected behavior:

Zammad will return a graph of tickets where the subject mat

[2020-04-23 08:11] thorsteneckel commented on #3024
Hi @ryno83 - Zammad 3.4 is just around the corner (sorry, no concrete date, ETA is in about 2-3 weeks) and therefore we don't want to backport this. It's a rather big change from the codes perspective.

[2020-04-23 08:18] thorsteneckel commented on #3032
Hey @hiaz - good to hear from you! I just wanted to get things straight. The Zammad WebApp is just another consumer of the REST API. So it actually uses the same endpoint as you do. There has to be a difference in the payload that is send. Can you find out how that request looks in the network tab of your preferred browser? Would be cool if you could post the difference. Would be a great help 👍

[2020-04-23 08:41] hiaz commented on #3032
Hi @thorsteneckel, I think that the WebApp is using different endpoints then the documented ones for the REST API because the WebApp uploads the file first and then creates an article. The documented way for the REST API ships the file as BASE64 in the very same request which creates the article. I think the bug is only in the documented endpoint because it uses Mime-Type as mandatory field instea

[2020-04-23 09:30] mantas commented on #3023
Historical background: this was a hotfix for https://github.com/zammad/zammad/issues/2918

[2020-04-23 14:17] MrGeneration commented on #3033
@mantas is this enough to fiddle around?
I've seen it as well, it's a veeerrrryyyyyy rare issue that usually only get's resolved by reloading.
We had this after a update after pressing on the notification bird but addressed that as far as I'm aware.

[2020-04-23 14:24] mantas commented on #3033
@MrGeneration I _think_ I've seen this too. No luck to reproduce it so far :(

@martinvonwittich did you notice if there's any correlation with using text modules in the same browser session?

[2020-04-23 15:03] MrGeneration opened #3035 "Don't force updating the ticket if attributes have been changed by system"
### Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1073583

### Desired behavior:

If the system changes attributes (like after adding new objects to tickets or after de-activation of an agent), Zammad should not indicate ticket changes on attri

[2020-04-23 15:09] thorsteneckel commented on #3033
Just a tiny detail that I noticed and might be useful in the future. The screenshot shows that the `this` context is `div.modal.js-recipientDropdown.open` when the exception was raised. This means that the current input context is an [open! Organization autocompletion dropdown](https://github.com/zammad/zammad/blob/db9f0eb772ffcab2889c0b67dc2fef5b1cff9397/app/assets/javascripts/app/lib/app_post/_o

[2020-04-24 09:52] lhsei opened #3036 "User registration with already used mail - no translation in german possible?"
I found no way to translate the error message “Email address ‘%s’ is already used for other user.” in the user registration form.
Infos:

    Used Zammad version: 3.3.x
    Used Zammad installation source: package
    Operating system: Ubuntu 18.4.3 LTS
    Browser + version: Microsoft Edge

Expected behavior:

    If the user try to registrate an already used mail-address, he should receive in ge

[2020-04-24 10:02] mantas commented on #3036
Looks like this is because server returns hardcoded message that is displayed to user right away. Other error messages in that endpoint seem to have the same issue.

https://github.com/zammad/zammad/blob/57f40539f221bcfb08fdc84d6de1a7728ebfc2a9/app/controllers/users_controller.rb#L141

[2020-04-25 03:15] Chren opened #3037 "Stay on "Verifying..." when add email using imap"
### Infos:

* Used Zammad version: 3.3.x
* Installation method (source, package, ..): docker
* Operating system: centos
* Database + version: N/A
* Elasticsearch version: N/A
* Browser + version: chrome 80.0.3987.163

### Expected behavior:

* Add email via imap

### Actual behavior:
* Stay on "Verifying..." dialog

### Steps to reproduce the behavior:

* I can't post my email account here, contac

[2020-04-25 05:26] Chren opened #3038 "infinite importing when using pop3"
### Infos:

* Used Zammad version: 3.3.x
* Installation method (source, package, ..):
* Operating system: CentOS 7
* Database + version: N/A
* Elasticsearch version: N/A
* Browser + version: Chrome

### Expected behavior:

* importing end when all of email imported and turned into tickets.

### Actual behavior:

* The importing schedule never stop, the email account only has 1700 emails, but zamma

[2020-04-25 13:37] MrGeneration commented on #3037
Sorry but this sounds rather like a technical questions than a bug.
This usually occurs if Zammad can't find it's test mail it's sending within the INBOX or the subfolder you're telling Zammad to look in.

Ensure that the mail can be found by Zammad and check your STDOUT-logging of Zammad.

[2020-04-25 13:37] #3037 closed, assigned to nobody

[2020-04-25 13:39] MrGeneration commented on #3038
I'm very sure that this is not a bug, but a technical assistance topic.
To ensure, please provide the whole log output of Zammad and, more importantly, update the first artciel to hold all requested information. n/a is not a suitable answer.

Ensure that your pop-Server deletes the mail after sending it. If it does not and still ship to Zammad, this will be the root for your problem. You can check

[2020-04-25 14:27] Chren commented on #3037
I didn't receive the test mail.
How to check STDOUT-logging?

[2020-04-25 14:30] MrGeneration commented on #3037
`docker logs`
etc etc.

Please consult the Community if you require technical assistance, because technical assistance is out of scope of this Github-Repository.

[2020-04-25 15:25] Chren commented on #3038
@MrGeneration
Sorry I can't find which Database + version and Elasticsearch version it is. I just installed zammad via the latest docker today.

I'm sure this is a bug. You can try it:
account: [redacted]
password: [redacted]
pop3 server: [redacted]
smtp server: [redacted]

[2020-04-25 16:33] Chren commented on #3037
Hi, thanks for response.
Here's the logs, everything seems all right, no errors.
[code]

[2020-04-25 16:33] MrGeneration commented on #3038
This is a technical issue not a bug.
Your server unexpectly closes the connection. In my case this happened after 141 mails.

[code]

[2020-04-25 16:33] #3038 closed, assigned to nobody

[2020-04-25 16:36] Chren commented on #3038
@MrGeneration  Thanks so much for your time.
But I don't understand, why everything is ok if I login via Mac system mail client with exactly the same configurations?
If it is the server problem, then all clients should not working.

[2020-04-25 20:16] wucherpfennig opened #3039 "Embedding Youtube Videos in KB containing "-" does not work"
# Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..): deb
* Operating system: Debian 10
* Database + version: ~
* Elasticsearch version: ~
* Browser + version: Chrome

### Expected behavior:

* Embed any Youtube video there is

### Actual behavior:

* Insert dialog wont work properly since everything after the minus sign will be cutoff
* Manually fixing the id in the in

[2020-04-25 21:48] wucherpfennig commented on #2434
Just one note from our side: our staff complained since this behaviour makes it really hard to use the cti integration...

[2020-04-26 09:41] lhsei commented on #3036
The same error raises, if you want to verify the account - only englisch language is available:

We've sent an email to yyyy@yyyyyy.de. Click the link in the email to verify your account.
![Error](https://user-images.githubusercontent.com/17147633/80303812-d377e580-87b2-11ea-8d2a-4944ced3cb74.PNG)

[2020-04-27 09:17] MrGeneration commented on #3038
This is a technical issue / support issue.
Please consult either the Community ( https://community.zammad.org ) or get support via a support contract if this is an option for you: https://zammad.com/pricing#selfhosted .

This is out of scope of this Github repository. "It works on a different machine" can have various reasons.

Above is the reason why this issue has been closed.

[2020-04-27 10:38] mantas commented on #2434
@MrGeneration what would be expected behaviour for non-blank title or pre-selected customer?

[2020-04-27 10:55] MrGeneration commented on #2434
Personally I'd expect the templates that I apply to overwrite pre-filled fields that are set in the template.

[2020-04-27 10:59] wucherpfennig commented on #2434
That was our assumption too. actually it overwrites all fields...

[2020-04-27 12:07] thorsteneckel opened #3040 "Reply Article box closes when replying multiple times and placeholder covers input"
### Infos:

* Used Zammad version: 3.3.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

No matter how many times you reply to a Ticket while having it open the Article input box won't break/get covered by the placeholder.

### Actual behavior:

Replying multiple times

[2020-04-27 12:11] kevin-olbrich commented on #2991
Another month, another try. If I delay each submission by 1s, less attachments are missing (1 or 2 per 100). The VM itself is not under high load. I suspect, a higher delay will bring this down to even less missing attachments.

I temporary made sure the connection is not re-used by exit'ing each loop and run it in bash using while true. Each submission (creating ticket, creating article with atta

[2020-04-27 12:14] thorsteneckel commented on #2991
Hey @kevin-olbrich ! Can you reproduce this on one of our [free hosted instances](https://zammad.com/getting-started)?

[2020-04-27 12:39] mantas commented on #2434
What would you guys expect in following cases:

- Attachments. Currently attachments are not saved as part of template at all. But resets existing attachments on apply. IMO it's OK to not save attachments, but they shouldn't be reset.

- Tags. If template does have tags, should it append or override pre-filled tags?

[2020-04-27 13:35] wucherpfennig commented on #2434
For me a practical solution for this issue would be that you would be able to select "override existing form values if template is applied" when you save the template.
Personally I would not apply field specific rules about overriding or keeping entries since it will confuse users.

[2020-04-27 13:40] MrGeneration commented on #2434
* Templates currently don't allow file uploads, this is handled by this issue:
    https://github.com/zammad/zammad/issues/2175

    As there's nothing set at that moment, if you find an attachment, it should stay at the article.

* If tags are present, add them - overwriting is not needed if they're already set

@wucherpfennig especially for priorities mantas is absolutely right asking for that u

[2020-04-28 08:12] MrGeneration opened #3042 "Timeaccounting ignores tags in conditions"
### Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Google Chrome latest
* Ticket-ID: #1074325

### Expected behavior:

When adding a tag to the ticket that's condition for your time accounting, Zammad will provide a modal dialogue for the to be accounted time upo

[2020-04-28 09:39] #3040 closed, assigned to thorsteneckel

[2020-04-28 10:28] #2995 closed, assigned to mantas

[2020-04-28 13:39] MrGeneration commented on #2085
Martin and I are sure, that this issue has beeen addressed by the following issues:

### Timezone issues within reporting

Issue https://github.com/zammad/zammad/issues/2594 addresses this, because from what I understand this issue is about e.g. pending reminders suddendly appearing to be one day earlier (because we exported information in UTC earlier). If you'd then search for this ticket based o

[2020-04-28 13:39] #2085 closed, assigned to mantas

[2020-04-28 14:01] Chren commented on #3037
I can confirm it is a bug, please check the pull request above, thank you. @MrGeneration

[2020-04-28 14:06] MrGeneration commented on #3037
I've reopened this issue for now. As I'm no developer, we'll have to wait for a developer to have a look.
Thanks for your efforts so far!

[2020-04-29 11:15] #2548 closed, assigned to mantas, martini

[2020-04-29 11:37] DrDBanner commented on #2616
Is this still true to the latest release?

[2020-04-29 12:27] MrGeneration commented on #2616
🤷‍♂️ Nobody at Zammad I know is FreeBSD user so testing this is currently out of scope.
As this issue hasn't received an update at this moment, it proberbly hasn't moved in any direction.

Please see the last comment from Thorsten, maybe you can help with that.

[2020-04-29 13:19] Subito commented on #2616
@DrDBanner yes, as far as I know everything >2.9 is currently not supported. We stopped trying after a few versions, though. We were in contact with Thorsten, but unfortunatly there is no fix possible atm, if I understood correctly.

[2020-04-30 07:35] z0n1q commented on #796
+1 for this feature, as my company uses different teams in mattermost with different groups in zammad.

[2020-04-30 07:42] MrGeneration commented on #796
I'm limitting the conversation on this issue to contributors only to reduce the noise on this repository.
Please don't get us wrong, this is to help us to keep focus on the issues we have. This issue hasn't had useful conversation / feedback in quite a long time. (except for +1's).

This is a feature backlog and thus might life here a longer time.
If anything moves regarding this issue, we'll upda

[2020-04-30 08:41] MrGeneration opened #3044 "Zammads resets attribute position if custom object is being updated"
### Infos:

* Used Zammad version: 3,3 and earlier
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: tested on Google Chrome, however it's not a Browser fault
* Ticket-ID: #1073890

### Expected behavior:

When changing the position of an object via e.g. console, Zammad will not alter that position i

[2020-05-01 14:41] MadameThermomix commented on #2866
Dumb question, but I need to ask it: How do I "re-add my Google account" to Thunderbird ?? I must have to delete the account before I "re-add" it??
I don't want to lose any of my emails stored in Thunderbird Local Folders.
Thanks for your help out there!

[2020-05-01 17:13] MrGeneration commented on #2866
Sorry but I'm limitting the conversation to contributors only.
Please do not recycle / spam or bump issues as this does not help anyone.

@MadameThermomix this doesn't sound Zammad related, please note that you can ask technical Zammad questions at the Community: https://community.zammad.org .

Please note that other applications apart of Zammad are out of scope.

[2020-05-05 06:26] benhartwich opened #3045 "Imap to office365 is not possible"
### Infos:

* Used Zammad version: 3.3.0
* Installation method (source, package, ..): debian package
* Operating system: debian 10
* Database + version: postgresql 12
* Elasticsearch version:
* Browser + version: chrome wind 10

### Expected behavior:
* Connect to outlook / office365 hosted mailboxes via imap to enable this mail pipeline for creating tickets

### Actual behavior:
* host not reacha

[2020-05-05 08:56] MrGeneration commented on #3045
Sorry but this is a technical question.
Please do not post technical questions on this repository and use the community instead: https://community.zammad.org .

Side note: I tested this on my end and it's working fine.

[2020-05-05 08:56] #3045 closed, assigned to nobody

[2020-05-05 09:29] martini commented on #2044
So far as I can see, no open points within this issue. So I'm closing it.

[2020-05-05 14:19] thorsteneckel commented on #2616
Hey there! Sorry folks it slipped my mind to update this issue. I had contact with multiple FreeBSD users and we tried to make it work but weren't able to. Unfortunately. The issue is that we'd need to support both gems `ruby_racer` and `mini_racer` which doesn't work. However, it would be only a workaround as @SummerStorm already [pointed out](https://github.com/zammad/zammad/issues/2616#issuecom

[2020-05-06 09:21] #2923 closed, assigned to rolfschmidt

[2020-05-06 09:24] mantas commented on #2527
Likely fixed by https://github.com/zammad/zammad/issues/2923 ?

[2020-05-06 09:25] thorsteneckel commented on #2527
@rolfschmidt is this a duplicate?

[2020-05-06 09:26] rolfschmidt commented on #2527
yeah i think so. @martini please reopen if you think different but i think it is already fixed with #2923 . Thank you @mantas !

[2020-05-06 09:26] #2527 closed, assigned to martini

[2020-05-06 11:25] numankhan82 commented on #467
I installed all the pre-requisites for this script but still not working for me. Please help.

root@localhost:/home/numan# ./asterisk-zammad-cti-bridge
Can't locate Asterisk/AMI.pm in @INC (you may need to install the Asterisk::AMI module) (@INC contains: /etc/perl /usr/local/lib/i386-linux-gnu/perl/5.24.1 /usr/local/share/perl/5.24.1 /usr/lib/i386-linux-gnu/perl5/5.24 /usr/share/perl5 /usr/lib/i3

[2020-05-06 11:33] martinvonwittich commented on #467
Hi @numankhan82,

this isn't necessarily the right place for this - [asterisk-zammad-cti-bridge has its own repo](https://github.com/martinvonwittich/asterisk-zammad-cti-bridge/issues?q=is%3Aopen+is%3Aissue).

Your issue is that the `Asterisk::AMI` CPAN package is missing. If you're on Debian, this isn't available as a Debian package and therefor cannot be installed via APT. Other distributions mi

[2020-05-06 11:34] numankhan82 commented on #467
thank you I just installed it  manually.

[2020-05-06 11:43] MrGeneration commented on #467
Sorry, but I'm locking the conversation of this issue.
Please do not recycle closed issues - especially not for technical questions like above.

For technical questions please feel welcome to ask your questions at the Community: https://community.zammad.org

If you require commercial support, you can also have a look at https://zammad.com/pricing#selfhosted if you're interested.

[2020-05-06 13:25] ghost commented on #2617
Hi we are experiencing the same error using an older tag v2.9.x. It seems clear to me that either MS updated the SSO call, or that this is a newly found edge case. We have work arounds since it's only our admin users with more than one account, however is this issue being worked into the roadmap?

Infos:
Used Zammad version: 2.9
Installation method (source, package, ..): zammad/zammad-docker-compo

[2020-05-06 13:29] MrGeneration commented on #2617
Sorry but I'm locking the conversation on this issue to contributors only, as it hasn't received further comments to bring this topic forward up to now.

@rich-allen-gov Please don't get me wrong!
Also, I strongly encourage you to upgrade your Zammad to a current 3.3 like asap... now.

Your Zammad version is prune to several serious security issues which have been adressed by now.

[2020-05-06 13:42] MrGeneration opened #3046 "/api/v1/available should not use device check because it can be used for not authenticated users"
### Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

Calling `/api/v1/available` should not require a valid user session, becuase its used to not authenticated users too.

### Actual behavior:

Calling `/api/v1/available` as will requir

[2020-05-06 18:24] shtefcs commented on #372
Are you sure you didn't do this because of your SaaS version and forcing users to use it instead?

Like this nice software, but having such a bad UX as you can see stops people from using it.

Why you can't make it simple as you have on your SaaS version? Like you have all those features, and give to us, but u don't give us an option to simply reply to the ticket via email.

Maybe I am missing som

[2020-05-06 20:23] MrGeneration commented on #372
@shtefcs Sorry for your trouble, but this is a technical question not a bug.
This technically is not different than our SaaS offer - the difference is that you buy default don't have an mail account.

I suggest having a look at your group settings and maybe consulting the documentation.
If you still have issues, please create a post on the community at https://community.zammad.org .

If you're int

[2020-05-07 12:06] MrGeneration commented on #921
I'm closing this issue as a duplicate in favor for issue https://github.com/zammad/zammad/issues/2214 .
Sorry, during the issue creation earlier from my end it slipped through my fingers.
Issue 2214 however has more details than this issue - which is why I believe it's the better issue to keep open.

[2020-05-07 12:06] #921 closed

[2020-05-07 14:17] MrGeneration commented on #2827
This issue seems by now to be solved.
At least I still can't reproduce it on my environments.

As this also hasn't received any updates or further information, I'll therefor close this issue.

[2020-05-07 14:17] #2827 closed, assigned to nobody

[2020-05-07 14:20] MrGeneration commented on #2909
We haven't received further feedback or updates on this topic and thus expect this to be working or solved.

I'll therefor close this issue.

[2020-05-07 14:20] #2909 closed, assigned to nobody

[2020-05-07 15:38] MrGeneration commented on #2855
As we haven't received any further feedback and this is, in my opinion, a third party issue - I'll be closing this issue.

[2020-05-07 15:38] #2855 closed, assigned to nobody

[2020-05-08 09:20] #3044 closed, assigned to mantas

[2020-05-09 10:19] LukasSchulz opened #3047 "Receiving Emails fails"
### Infos:

* Used Zammad version: 3.3.x
* Installation method (source, package, ..): package
* Operating system: Debian Buster
* Database + version:
* Elasticsearch version:
* Browser + version: Firefox

### Expected behavior:
Email gets recieved and processed
*

### Actual behavior:
Email gets received but fails at processing
*

### Steps to reproduce the behavior:
Sending an email to the inboun

[2020-05-09 10:30] LukasSchulz opened #3048 "Registering Email fails with "undefined method `[]' for nil:NilClass""
### Infos:

* Used Zammad version: 3.3.x
* Installation method (source, package, ..): package
* Operating system: Debian Buster
* Database + version:
* Elasticsearch version:
* Browser + version: Firefox

### Expected behavior:

*Registering a new Email in Settings works

### Actual behavior:

*The First step of the Email registering works: it replies, that X Emails are found on the server and wil

[2020-05-09 12:50] MrGeneration commented on #3047
Please provide the complete traceback from your logfile that told you to do so as well.

[2020-05-09 12:51] MrGeneration commented on #3048
Please provide the complete traceback of the error. All you provided is the informational part of the log - are there any errors?

[2020-05-09 12:57] LukasSchulz commented on #3048
That's the weird thing - I can't find anything in the production.log file - are there any other logs to look at?

The only error I see is this message in the Webgui:
<img width="567" alt="Screenshot 2020-05-09 at 14 56 27" src="https://user-images.githubusercontent.com/20911643/81474388-6417e200-9205-11ea-83b7-ead0ca727a12.png">

[2020-05-09 12:59] LukasSchulz commented on #3048
And that message only appears *after* I setup smtp too and zammad is trying to verify the setup - It doesn't fail to connect in the first place

Additional info after some testing: I tried the email address itself on apple mail and everything works fine, but when using fetchmail it outputs the following:
[code]

[2020-05-09 13:05] LukasSchulz commented on #3047
Here you go ^^:
[code]

[2020-05-09 14:39] MrGeneration commented on #3048
Sorry but this looks like a setup issue on your mail server.
Ensure fetching, sending and deletion does work.

If it doesn't, it's for sure a configuration issue and no Zammad bug.
By default setting Zammad deletes mails it fetched from the inbox.

At this moment this sounds more like a technical question to me.

[2020-05-09 14:42] MrGeneration commented on #3047
Sorry but this is rather a technical question than a bug.
Looks like your migrations didn't go through completely.

Please consult the community for technical questions: https://community.zammad.org

If you require commercial grade support, you can also have a look at https://zammad.com/pricing#selfhosted in case you're interested.

Closing now.

[2020-05-09 14:42] #3047 closed, assigned to nobody

[2020-05-10 14:07] martinvonwittich commented on #3033
Hmm, I do believe that our agents use text modules regularly ([though I wish I could track this ^^](https://community.zammad.org/t/text-module-usage-counter/4349)), but I can't determine whether this could be related.

I am almost certain that I did use a text module while replying to this ticket; my reply begins with "Hallo Frau XXX,", and we have a text module `::hf` -> `Hallo Frau ##ticket.cust

[2020-05-10 14:09] Syntax3rror404 opened #3049 "CSRF token verification failed - Docker compose new installation"
I have a problem with a new installation. To prevent any failures i try the installation 3 times to be sure this post are correct.

After the installation everything workes. But after a docker-compose down and docker-compose up i get this problem.

[code]

On this topic in your forum you can read this exact issue:
https://community.zammad.org/t/fresh-install-3-2-x-csrf-token-verification-failed/30

[2020-05-10 14:24] MrGeneration commented on #3049
Please don't wildly open issues on several repos for the same topic.
This is in this repository a technical question and not a bug.
Please also see https://github.com/zammad/zammad-docker-compose/issues/120 in your specific situation. For the next time if you're having a real bug, please also use the template.

The better place for technical questions is the community: https://community.zammad.org

[2020-05-10 14:24] #3049 closed, assigned to nobody

[2020-05-10 15:26] Syntax3rror404 commented on #3049
Why shouldn't that be a bug? I did everything according to your instructions, but it didn't work. This solution is only temporary, by overwrite a configuration that was automaticly generated.

It is a crafting solution. Far from productive use....

[2020-05-10 15:48] MrGeneration commented on #3049
This is a docker based issue which is not part of this repository.
You already posted an issue (duplicate) on the docker-compose repository.

Again, your issue is a issue that indirectly comes through the way docker works.

[2020-05-10 21:39] martinvonwittich commented on #3033
Just noticed that I had posted about this issue before in the community, had totally forgotten about that. I'm not sure if it was even the same root cause back then, but I'll link it here in case there's something interesting in there: https://community.zammad.org/t/mysterious-unreproducible-bug-return-key-stops-working-while-replying/2516/2

[2020-05-11 06:37] thorsteneckel commented on #3048
Would be really interesting where this issue comes from and provide a proper error message to the user. Any chance you can reproduce this on one of our [free hosted instances](https://zammad.com/getting-started) and give us the name?

[2020-05-11 12:03] LukasSchulz commented on #3048
I just registered an instance at infra4future.zammad.com and did all the steps I mentioned and received the same error.

[2020-05-11 12:44] thorsteneckel commented on #3048
Hey @LukasSchulz - thanks for trying it out. I extended a location where I expect the error to happen with an additional log line. Would you mind giving it another try? This will hopefully help us to narrow the root cause down.

[2020-05-11 15:09] LukasSchulz commented on #3048
Sure, did it again.

[2020-05-11 15:21] thorsteneckel commented on #3048
Thanks! I got the right location. Here is the traceback to the error message:

[code]

Zammad is at https://github.com/zammad/zammad/commit/008ca499c440fb2786ef7b4f0a9abf9c6309af77

So the error is thrown here:
https://github.com/zammad/zammad/blob/stable/app/models/channel/driver/imap.rb#L179

This tells me that there is an error when trying to fetch the (ENVELOPE) data of the message_id that of

[2020-05-11 20:40] LukasSchulz commented on #3048
As i previosely stated, we are using maddy as our mail server (https://github.com/foxcpp/maddy). I am fairly certain that maddy implements everything as spec, but who knows 🤷

[2020-05-13 10:26] MrGeneration commented on #1540
By now issues #2570 and  #2569 have been adressed.
Is this good enough for your use case or do you still prefer a longer list than 10 entries for tags?

Just making sure the issue still makes sense. :-)

[2020-05-13 10:30] MrGeneration commented on #2951
Thanks for your time and patience.
So what you're basically proposing would be a mapping functionality within Zammad that would allow Zammad to technically convert all incoming keys it every could get in any way from the auth source?

Especially providing several configuration samples is -most of the times- a very time consuming and (sadly) sometimes out of scope. Personally I'm no big fan or grow

[2020-05-13 10:46] fthommen commented on #1540
I haven't seen the scrollbar from #2570 in our instance yet, but the alone the fulltext search from #2569 already solves the usability issues (even better than a scrollbar).  That was a great idea, thanks.

[2020-05-13 10:46] #1540 closed

[2020-05-13 11:49] thorsteneckel commented on #2951
The three main incompatibilities I've seen and experienced so far that are blocking a fully generic OAuth2 object are:

- Combined Fields  eg. remote `name` to Zammads `firstname`, `lastname`
- Nested/advanced structures: eg. remote `Array(email_address)` or `Hash[info, Hash[email_address, Array(email_address)]]` to Zammads `email_address`
- The need to perform (multiple) follow up requests: e.g.

[2020-05-13 12:13] Vogelkoje opened #3050 "Newly created users are only shown in the admin interface after reload"
### Infos:

* Used Zammad version: 3.3.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Google Chrome, Internet Explorer, Firefox
* Ticket-ID: #1075470

### Expected behavior:

* When creating a user in the administration interface, the user list should be updated directly without the need for a r

[2020-05-13 12:27] rolfschmidt commented on #2866
Hi,
update:
We are planning to bring a first version for the XOAUTH2 Support for Gmail to release 3.4.

There are also news about the topic itself:
https://www.bleepingcomputer.com/news/security/microsoft-and-google-postpone-insecure-authentication-removal/

It seems that because of COVID19 the shutdown will be postponed.

[2020-05-13 13:46] Vogelkoje opened #3051 "Expand sipgate.io integration call log display from 60 to 300 call entrys"
### Infos:

* Used Zammad version: 3.3.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1075464 (1078096)

### Desired behavior:

* Have over 300 incoming and outgoing calls
* You will see the last 300 incoming and outgoing calls

### Actual behavior:

* The sipgate.io integratio

[2020-05-13 14:22] MrGeneration opened #3052 "Ticket follow ups does not always provide "see more" link on new articles"
### Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: tested on Google Chrome latest
* Ticket-ID: #1075783

### Expected behavior:

When viewing tickets, all articles that additionally arrive via follow up will be displayed and the "see more" / "see less" functional

[2020-05-13 14:31] michaltestovic opened #3053 "“You have not created a ticket yet” shown but I already have closed tickets"
### Infos:

*This issue has been updated by @MrGeneration to meet our requirenments.*

* Used Zammad version: 3.2 (verified on 3.3 as well)
* Installation method (source, package, ..): package/etc/apt/sources.list.d/zammad.list
* Operating system: Debian 10
* Database + version: psql (PostgreSQL) 11.5 (Debian 11.5-1+deb10u1)
* Elasticsearch version: 7.5.1
* Browser + version: Chrome 80.0.3987.106

[2020-05-13 15:09] MrGeneration commented on #3053
Thank you for creating the issue.
I have updated it accordingly to our issue template and have removed parts of the issue.

Please note: While this is technically a bug, enhancements (so like your request "Please allow that message to be modified in an update safe way." is a feature request) are  out of scope of this repository.

We always aim to cover about 80% of Zammad users - such high customi

[2020-05-13 15:27] michaltestovic commented on #3053
The edit you made sounds good to me - I agree.

[2020-05-14 10:42] mantas opened #3054 ""Get latest translations" update all but latest locales"
### Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Go to system/translations and click "Get latest translations"
* All locales are updated

### Actual behavior:

* Go to system/translations and click "Get latest translations"
* Most

[2020-05-14 13:08] hanneshal opened #3056 "Ticket split in Safari loses images"
### Infos:

* Used Zammad version: latest *hosted* 3.3.x
* Installation method (source, package, ..): hosted
* Operating system: macOS Catalina 10.15.4
* Database + version:
* Elasticsearch version:
* Browser + version: Safari 13.1

### Expected behavior:

* If one splits a ticket, inline images should be took over to the new "splitted" ticket

### Actual behavior:

* One splits a ticket in Safari

[2020-05-14 13:14] MrGeneration commented on #3056
Does this possibly also play into this issue?
https://github.com/zammad/zammad/issues/2942

Or does it only affect Safari...?

[2020-05-14 13:31] #3054 closed, assigned to mantas

[2020-05-14 14:22] chris-82 commented on #257
Hi there. Is this still an issue or an already implemented feature? I was just struggeling to find out how to set "close tab" as default value.

[2020-05-14 14:29] MrGeneration commented on #257
The state of this enhancement issue is still "open".
This hasn't been adressed as of yet.

Please note that we do not provide any ETAs on enhancements or bug fixes in general.
Also, to reduce the noise on this repository (helps us to focus 💪 ) and as there weren't any further use full contributions on this, I'm limiting this to contributor conversation only.

This is nothing against you personally

[2020-05-14 14:30] martini commented on #3056
It only affects Safari. Inline images are dropped right after clicking `split`. No placeholder and no images are show in ticket create screen.

[2020-05-15 13:18] mantas commented on #3056
Likely a bug in Safari

I can reproduce it in latest stable Safari `Version 13.1 (14609.1.20.111.8)`. But it works fine in Safari Preview `Release 106 (Safari 13.2, WebKit 14610.1.12.2)`.

[2020-05-18 15:17] ngnix opened #3057 "Unprocessable mails - PG::UniqueViolation: ERROR: duplicate key value violates unique constraint"
Hello zammad team!
About my environment:

1. zammad version: 3.3.0
2. installation method: build from source code
3. OS: CentOS Linux release 7.8.2003
4. database: postgresql-11
5. elk: 7.6.2

**Number of posgresql DB - 1**
**Number of ELK clusters - 1**
**Number of zammad application nodes - 2**

**Problem description:
after we added  second zammad node errors began to appear in the logs:**
[root

[2020-05-18 15:22] MrGeneration commented on #3057
Please don't post technical questions on this repository.
Kindly use the community for those requestions: https://community.zammad.org (please keep the templates in tact)

You can also have a look at our service contracts (https://zammad.com/pricing#selfhosted) in case you're interested in commercial grade support.

Closing now.

[2020-05-18 15:22] #3057 closed, assigned to nobody

[2020-05-18 15:26] ngnix commented on #3057
move to https://community.zammad.org/t/unprocessable-mails-pg-error-duplicate-key-value-violates-unique-constraint/4647

[2020-05-18 21:45] mantas opened #3058 "Search details sidebar name shows URL-encoded gibberish"
### Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Sidebar names are easily readable

### Actual behavior:

* Search details sidebar name shows URL-encoded identifier instead of `"`

![Screenshot 2020-05-19 at 00 43 24](https://user

[2020-05-19 06:37] MrGeneration commented on #3058
This affects `'` as well. :>

![image](https://user-images.githubusercontent.com/6549061/82292888-efcf0280-99ab-11ea-926e-9f04a243f77e.png)

[2020-05-19 08:30] mantas commented on #2947
Won't fix for now - quick workaround doesn't work on some ES versions and it's not big enough issue to implement an elaborate fix.

[2020-05-19 10:11] MrGeneration commented on #2627
I double checked above constellations and have taken the following use cases in consideration (and verified them to be working):

  * knowledgebase without any changes ( `/help` )
  * knowledgebase with custom alias ( `/support` as example )
  * knowledgebase with custom domain ( `help.example.com` )
  * knowledgebase with custom domain *and* alias ( `help.example.com/support` )

As of today I can

[2020-05-19 10:11] #2627 closed, assigned to mantas

[2020-05-19 11:38] Posilan-Steve opened #3059 "Unable to connect Twitter App"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): apt package
* Operating system: Ubuntu 18.04
* Database + version: postgresql 10+190ubuntu0.1
* Elasticsearch version: 7.7.0
* Browser + version: Chrome 81.0.4044.138

### Expected behavior:

Adding twitter intergration

### Actual behavior:

Upon entering the information in the form, it fails with "Unable to creat

[2020-05-19 13:25] MrGeneration commented on #3059
This sounds like a technical questions.
To be sure - please provide **the full traceback** from the production log.

[2020-05-19 13:34] mantas commented on #3046
@MrGeneration are you still able to reproduce this?

[2020-05-19 13:39] martini commented on #3059
It's an issue in current `develop` branch (fix is already in CI but may take some time). Please use `stable`, it's fixed there.

@rolfschmidt

[2020-05-19 13:41] Posilan-Steve commented on #3059
The full extract (hiding ip's and tokens) is:

[code]

[2020-05-19 13:45] Posilan-Steve commented on #3059
Thanks @martini - I've just changed to `develop` because the need for single user triggers is a necessity for how we use it or i would be using `stable`.

[2020-05-19 13:46] martini commented on #3059
regression link (code block got removed) https://github.com/zammad/zammad/commit/becbdb1baa58805422f5214b589502f8d3807014#diff-eec679c2b33453e47011c418f0a84e46L58

[2020-05-19 13:54] MrGeneration commented on #3059
Please use stable if you want to use twitter.
Otherwise you can't use twitter until the develop version contains the fixes you need in your source code.

Please note that code on `develop` is not suitable for productive environments and always could contain bugs.

[2020-05-19 14:20] Posilan-Steve commented on #3059
Thank you @MrGeneration

[2020-05-19 14:20] #3059 closed, assigned to nobody

[2020-05-19 15:12] MrGeneration opened #3060 "Loading KB-Answers doesn't work for contained images"
### Infos:

*Kudos to community user mtrojacher who originally found the issue! (https://community.zammad.org/t/images-broken-when-adding-knowledgebase-articles-to-tickets/4341)*

* Used Zammad version: 3.3, 3.4-develop
* Installation method (source, package, ..): package
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified on Chrome and Fire

[2020-05-20 09:39] cun opened #3061 "Install issue Ubuntu 19.10 -"
#2597 # Infos:

* Used Zammad version: Latest
* Installation method (source, package, ..): Apt
* Operating system: Ubuntu 19.10 - Clean install.

### Expected behavior:
Should install. I have libreadline8 installed, and I can't install libreadline7 and associated packages.

### Actual behavior:
The following packages have unmet dependencies:
 zammad : Depends: libreadline7 but it is not installabl

[2020-05-20 09:46] MrGeneration commented on #3061
Sorry but this is rather a technical question which is out of scope of this repository.

Please note that we currently **do not support** Ubuntu 19.1 - there's no packager package for this as of now. Our upstream packager does currently not support it: https://github.com/crohr/pkgr/blob/a4172c2394c5baa615c92692ebf17a164eaf7d49/README.md

Supported Ubuntu versions can be found here:
https://docs.za

[2020-05-20 09:46] #3061 closed, assigned to nobody

[2020-05-20 14:05] #2964 closed, assigned to mantas

[2020-05-20 14:07] #2834 closed, assigned to mantas

[2020-05-20 14:07] #2867 closed, assigned to mantas, mrflix

[2020-05-21 09:01] kwoot opened #3062 "Seems after changing organisation of ticket search list still shows ticket in original organisation"
### Infos:

* Used Zammad version: 3.3.0
* Installation method (source, package, ..): package
* Operating system: Ubuntu 18.04
* Database + version: Postgresql
* Elasticsearch version: 7.7.0
* Browser + version: Firefox 76.0.1

### Expected behavior:

* in the side panel left is a quick-search to an organization
* after changing the organization a ticket belong to and clicking on the quick-search

[2020-05-21 09:22] kwoot opened #3063 "Splitting ticket and also change customer person (not organisation) at the same time creates new ticket with new customer BUT ALSO keeps original articke in original ticket"
### Infos:

* Used Zammad version: 3.3.0
* Installation method (source, package, ..): package
* Operating system: Ubuntu 18.04
* Database + version: Postgresql
* Elasticsearch version: 7.7.0
* Browser + version: Firefox 76.0.1

### Expected behavior:

* I want to rearrange articles to different tickets.
* after splitting of an article and at the same time changing the customer it belong to (same o

[2020-05-21 09:29] kwoot commented on #3063
When splitting a ticket the original always remains. This is not the way to rearrange articles on tickets.

[2020-05-21 09:29] #3063 closed, assigned to nobody

[2020-05-21 09:32] kwoot commented on #3062
After changing the organization name of the ticket it will show up in both  organizations when doing a search. Makes sense in a way.

[2020-05-21 09:32] #3062 closed, assigned to nobody

[2020-05-22 13:34] MrGeneration opened #3064 "Develop: Access to calendar (ical) no longer works if being unauthenticated (Error 500)"
### Infos:

* Used Zammad version: 3.4 (Develop - working in stable 3.3)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

Zammads ical calendar functionality will request you to authenticate against Zammad, if you're calling one of the calendar URLs without a valid sessi

[2020-05-22 15:30] MrGeneration opened #3065 "Develop: Updating KB answers throws error 500 for agents without edit rights"
### Infos:

* Used Zammad version: 3.4 (develop, issue was introduced with develop)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: tested on latest Google Chrome and Firefox

### Expected behavior:

When having no editor rights (or even in general) it won't affect me if anyone edits and updates an

[2020-05-25 07:45] #2990 closed, assigned to mantas, martini

[2020-05-25 10:02] #2282 closed, assigned to mantas, martini

[2020-05-25 11:23] Moulde commented on #1239
I agree, a retry button would be pretty great in this case.

[2020-05-25 11:26] MrGeneration commented on #1239
@Moulde please don't recycle closed issues.
If you want to suggest features, I'd like to suggest opening a feature request topic on the Community if this topic doesn't exist yet (https://community.zammad.org).

If you require this functionality as a must have, you can also contact us at sales [at] zammad [dot] com for a custom development if needed.

To reduce noise on this repository I'll be limi

[2020-05-26 07:27] MrGeneration commented on #2948
Hey Mantas,

can you please tell me which commit you were talking about?
It's not clear in which version this is / will be fixed to me right now. :x

Thanks!

[2020-05-26 07:32] mantas commented on #2948
I never checked which commit fixed it :( Since 3.3 came out on March 3rd, this is fixed in 3.4.

[2020-05-26 12:30] thorsteneckel commented on #2634
Technical background information:

ObjectManager Attribute validation is active for Models including the `HasObjectManagerAttributesValidation` concern. This concern registers a custom validator class called `ObjectManager::Attribute::Validation` which performs generic attribute validation for any Models that are enabled to have ObjectManager Attributes.

implementation proposal:

There is a metho

[2020-05-26 14:35] #3064 closed, assigned to rlue

[2020-05-26 14:36] #3065 closed, assigned to mantas, rlue

[2020-05-27 15:08] MrGeneration commented on #2498
Can we please re-evaluate if there possibly is a working solution by now?

[2020-05-27 15:11] thorsteneckel commented on #2498
There have been no relevant changes in the mail gem and my last comment is therefore (unfortunately) still valid.

[2020-05-27 15:19] MrGeneration commented on #2498
Mantas, can you please have a look if there's maybe a solution to work around this without hacking over 7 year old hacked gems? Maybe a conversion would be possible before or so.

[2020-05-27 21:01] martinvonwittich opened #3066 "Unprocessable mails due to malformed From addresses like "foo <foo@bar.com""
### Infos:

* Used Zammad version: 3.3.x
* Installation method (source, package, ..): docker-compose
* Operating system: Debian 10.x
* Database + version: from docker-compose
* Elasticsearch version: from docker-compose
* Browser + version: irrelevant

### Expected behavior:

* Mails with malformed From addresses like this should be parsed successfully:

[code]

### Actual behavior:

* The malform

[2020-05-28 08:02] #3060 closed, assigned to mantas

[2020-05-28 13:28] #2866 closed, assigned to rolfschmidt

[2020-05-29 06:48] rolfschmidt opened #3067 "zammad barrier-free? (WCAG 2.0 AA)"
https://www.w3.org/Translations/WCAG20-de/

- Is zammad barrier-free?
- Does it match WCAG 2.0 AA?

### Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..):all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

### Expected behavior:

https://www.w3.org/Translations/WCAG20-de/

### Actual behavior:

???

[2020-05-30 09:30] DjMagicFingers commented on #1834
But what if I use multi-language environment?

I have half of my clients English speaking, non RTL clients that should get emails in English - LTR and text-align to the left, and the other halft of them use RTL languages - that should get their emails with RTL and text-align to the right.

In general, I think it would be best to have a button to set this up per ticket, even though, judging from th

[2020-05-30 16:04] mantas commented on #1834
Hi @DjMagicFingers ,

Just to make sure, is this issue with notifications/triggers only? Or does it affect manually written responses as well?

[2020-05-30 16:08] DjMagicFingers commented on #1834
It affects all - auto response, manual response and notifications.

נשלח מסמארטפון ה-Samsung Galaxy שלי.

[2020-05-31 11:17] niklaskorz commented on #2954
Sorry, for hijacking this issue, but is there any possibility to adjust the setting introduced by d9a10b2a9af348ad7071c31279d4c6023d4bd3b2 from within an extension (i.e., the currently undocumented zammad packages)? We'd be interested in adding support for our video platform to zammad. Alternatively, if this is not possible, is there any chance a pull request that directly adds support for our vid

[2020-05-31 11:35] MrGeneration commented on #2954
Please don't hijack closed issues. As this is rather a technical / development question, please create a thread on the community: https://community.zammad.org

[2020-05-31 13:32] niklaskorz commented on #2954
@MrGeneration I already suspected you would say that, so sorry for that :) I have created a forum post.

[2020-05-31 22:50] DjMagicFingers commented on #1834
I have noticed that there is no "he." email template file here:
/opt/zammad/app/views/mailer

Is that where i should customize emails sent from Zammad?

How can I add the relevant Hebrew language templates?

![image](https://user-images.githubusercontent.com/32017425/83364464-25abb800-a3aa-11ea-9e07-48d428713692.png)

![image](https://user-images.githubusercontent.com/32017425/83364447-07de5300-a3

[2020-05-31 23:03] DjMagicFingers commented on #1834
Noticing the ticket was opened long time ago, the relevancy of the issue is for Zammad 3.3 and also latest Elasticsearch...
All the rest of the infos are the same.

[2020-06-01 10:34] MrGeneration commented on #1834
Please don't push issues with technical or development questions. This is the wrong place.
The better place to do so is the community at https://community.zammad.org

[2020-06-01 12:19] DjMagicFingers commented on #1834
OK, I will sent it over there, but I feel this is an issue (the system acts different than it should), not a request, not technical and not dev requests...

The system does know how to understand RTL direction when receiving emails that are RTL (has Hebrew characters in it for example, and the sender sent it as RTL) and it knows exactly and very accurately how to show them on the Zammad web interf

[2020-06-01 12:22] MrGeneration commented on #1834
Yeah I got that with the RTL part which is covered by this issue, however - this comment https://github.com/zammad/zammad/issues/1834#issuecomment-636542402 is different.

We're working very hard on  fixing all issues and making Zammad even better than it is now. However, this takes time.

I'm limitting the conversation to contributors only on this issue, because it's getting quite noisy.
This is

[2020-06-02 09:30] #2498 closed, assigned to mantas

[2020-06-02 09:37] thorsteneckel commented on #2498
Hi @lsergei - the great @mantas found a workaround for the mail gem issue so that we can handle it in our code instead. A sustainable solution in the gem itself would be much nicer but a huge task we can't accomplish right now. However, feel free to test it in the upcoming Zammad 3.4 release in about 2 weeks.

[2020-06-02 09:44] lsergei commented on #2498
Hi @thorsteneckel and @mantas - thank you, appreciate your efforts! Will test and give you feedback.

Looking forward to new release

[2020-06-02 11:01] #1961 closed

[2020-06-02 11:16] thorsteneckel commented on #220
As you've might seen over at #1961 we've added S/MIME support and will release it with the upcoming version 3.4 of Zammad 🎉 Huge thanks to @martinseener over at barzahlen.de for sponsoring it and therefore making it possible 🙌
Unfortunately we still don't have the required resources to add PGP support as well. We were thinking about testing some things out but haven't had the chance yet. That's wh

[2020-06-02 11:20] MrGeneration opened #3068 "KB search does not allow pagination on endpoint"
### Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..): any (package installation, verified on hosted:develop)
* Operating system: any
* Database + version: any
* Elasticsearch version: ES 7.x
* Browser + version: verified with Postman, not Browser related
* Ticket-ID: #1076280

### Expected behavior:

When searching for results, you can use pagination in order to overc

[2020-06-02 14:28] rolfschmidt commented on #2107
Hi,
i blamed the limit and this issue is the reason for the limit:
https://github.com/zammad/zammad/issues/1390

From my side 1.5 MB is okay... Normally bigger contents are handled in attachments anyways where they are no problem.

I ran into the same issue. A customer had a failed otrs article import with a embedded docx which broke the article (1 of 35k tickets). No usable content, looked like t

[2020-06-02 14:36] Tiefen-boop opened #3069 "Helpdesk stays blank on "Loading" screen"
Just installed Zammad on a brand new CentOS 7 machine following these instructions:
https://docs.zammad.org/en/latest/install/centos.html

Since this is a minimal CentOS installation I don't have a browser on the machine and first thing I did after installing zammad using
`yum install -y zammad`
was changing the 'localhost' to my already correctly pointing fqdn in /etc/nginx/conf.d/zammad.conf

No

[2020-06-02 14:39] MrGeneration commented on #3069
Sorry but this sounds rather like a technical question.

Please consult the community for such requests and ensure to fill in the templates: https://community.zammad.org

If you require commercial grade support you can have a look at our support contracts as well: https://zammad.com/pricing#selfhosted

[2020-06-02 14:39] #3069 closed, assigned to nobody

[2020-06-02 16:06] ghost commented on #3060
reopen please

[2020-06-02 16:10] MrGeneration commented on #3060
@sRlinux why?

[2020-06-02 16:13] ghost commented on #3060
Cause it is not fixed, still the same behaviour.

[2020-06-02 16:16] MrGeneration commented on #3060
Please check develop, it's not available in stable yet.

[2020-06-03 11:31] awedor opened #3070 "KB search bar doesn't find indexed attachments"
### Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..): package
* Operating system: Cent OS 7
* Database + version: postgres 12.2
* Elasticsearch version: 7.5.2
* Browser + version: any

### Expected behavior:

* When searching in the knowledgebase search bar the results should show knowledgebase articles where the search term is found in an indexed attachment

### Actu

[2020-06-04 17:14] hiaz opened #3071 "Trigger does not work correctly if type is used in special condition"
# Infos:

* Used Zammad version: 3.3

### Scenario

Two triggers:

A)

CONDITIONS FOR EFFECTED OBJECTS:
Action = created
Type = web

EXECUTE CHANGES ON OBJECTS
Email: Public, Customer
Text: Ticket was created, here the T-number for reference...

B)

CONDITIONS FOR EFFECTED OBJECTS:
Action = created
Type = email

EXECUTE CHANGES ON OBJECTS
Email: Public, Customer
Text: You cannot open a ticket via

[2020-06-04 17:22] MrGeneration commented on #3071
Sorry, but I can't reproduce this.
I created the following triggers:

![image](https://user-images.githubusercontent.com/6549061/83790432-79fbb400-a698-11ea-9130-1aa85bad17ef.png)

![image](https://user-images.githubusercontent.com/6549061/83790400-6f411f00-a698-11ea-8d5d-d3d32e2ef30c.png)

Then I login as customer and create a ticket. This is the result:
![image](https://user-images.githubusercon

[2020-06-04 17:55] hiaz commented on #3071
@MrGeneration Are you sure that you are using a test env with multiple threads like WEB_CONCURRENCY="4" because only then processing triggers can be async I guess?

[2020-06-04 18:09] hiaz opened #3072 "Trigger condition "contains not" should take care of empty/not-set fields"
### Infos:

*This post has been updated by @MrGeneration to meet our standards and hold all required information*

* Used Zammad version: 3.3
* Installation method (source, package, ..): package
* Operating system: ubuntu 18.04.4 LTS
* Database + version: postgresql-9.5
* Elasticsearch version: 5.6.16
* Browser + version: Chrome 83.0.4103.61
* Ticket-ID: 1076494

### Scenario:

Create a trigger:

[2020-06-04 18:10] MrGeneration commented on #3071
Yes I'm absolutely sure.

I double checked not being on develop, I'm on stable.
I also, just for you, ensures/enforced puma (web_concurrency) to move from "auto" to "4".

No change in my answer and inability to reproduce the issue you've described.
If you want you can double check this by spinning up a free trial instance on our hosted setup and try to reproduce it there.

Edit: As far as I'm awar

[2020-06-04 18:13] MrGeneration commented on #3072
Two things:
* Please fill in the complete template, half of your system information are missing. These are crucial.
* Could you please let us know what "language" exactly is? What object type are we talking about? (not just e.g. "Select", but also which object category (User, Ticket, ...))

[2020-06-04 18:54] hiaz commented on #3072
* Language is a custom text field which I created via Settings > Objects > User, sorry I did not remember that it is not a standard field.

I am sure that only the zammad version matters for this problem but no one should say I am not cooperative:

* Installation method (source, package, ..): package
* Operating system: ubuntu 18.04.4 LTS
* Database + version: postgresql-9.5
* Elasticsearch versio

[2020-06-04 19:29] MrGeneration commented on #3072
Thanks for your report! I could verify this issue.

This issue doesn't appear if a trigger explicitely checks for a specific value (which might not help in above use case).
In my tests this also affected select fields "not containing value x"

[2020-06-05 07:46] hiaz commented on #3071
@MrGeneration Thank you for trying to reproduce this issue. I will try to find a way to reproduce it in a "fresh" system.

[2020-06-05 09:05] michaelsudnik opened #3074 "Office 365 Authentication Error"
### Infos:

* Used Zammad version: 3.3.x
* Installation method (source, package, ..): Ubuntu via DEB
* Operating system: Ubuntu via DEB
* Database + version: PostgreSQL
* Elasticsearch version: 7.x
* Browser + version: Chome Version 83.0.4103.97 (Official Build) (64-bit)

### Expected behavior:

We have tried to enable the Office 365 Authentication and have set the relevant App Id and App Secret v

[2020-06-05 09:15] MrGeneration commented on #3074
Sorry, but this sounds like a technical question or duplicate of
* https://github.com/zammad/zammad/issues/2743
* https://github.com/zammad/zammad/issues/2617
to me.

Please ensure this is not a technical question - if it is kindly post it on the community: https://community.zammad.org .
If you'd prefer commercial grade support, you can also have a look at our support contracts if interested: http

[2020-06-05 09:19] michaelsudnik commented on #3074
@MrGeneration - but #2743 is closed (which this looks similar to) and there is definitely a bug in that the Zammad generated web page is not displaying its content correctly. I am also confident that I have configured the azure back end correctly and it is not working. You can see the exact problem by navigating to the URL in the screenshot and clicking Office 365... it definitely should not be do

[2020-06-05 09:20] michaelsudnik commented on #3074
We are definitely going to be purchasing a support contract, but first want to evaluate that the features we require are available.

[2020-06-05 10:00] michaelsudnik commented on #3074
I just had a look at #2743 and it does appear to be an issue with Chrome weirdly. When I test it with Edge I can get it to work fine.

[2020-06-05 10:02] hiaz commented on #3071
I could not reproduce it on a fresh system but I think I have more details now:

As I found in the code zammad has the concept if recursive triggers which is default since version 3.0.

[code]

Trigger 05 adds an outgoing email article. Then in loop 2 zammad still handles this ticket as created but sees the last article of type "email" now. Which leads to trigger 01 in loop 2.

I then just did:

[

[2020-06-05 10:08] michaelsudnik commented on #3074
Just some additional notes about the configuration steps I went through.

I found that, although I had installed an SSL certificate and was doing redirects to https in the Nginx config, I had not set the HTTP type in the System settings to be https. That fixed an issue that Office 365 was reporting (using Edge) saying that the redirect URL was not correct.

I also had to set the Azure App Registra

[2020-06-05 10:13] mantas commented on #3071
Hey @hiaz ,

Could you check out `develop` branch and test your workflow w/ recursive trigger on soon-to-be-released 3.4?

I've a feeling this is related to https://github.com/zammad/zammad/issues/2923 may have been fixed already.

[2020-06-05 10:16] MrGeneration commented on #3071
@mantas I'll handle this as part of the verification process for you, no problem!

[2020-06-05 13:09] rolfschmidt opened #3075 "Misleading view of user icons which are on vacation and disabled"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

### Expected behavior:

* User icons should not look like as online if they are disabled and on vacation
* Maybe remove task bar information to cleanup ticket user icons if a user gets disabled

### Actual b

[2020-06-07 16:56] mantas commented on #3068
@MrGeneration we use 2 pagination-like patterns

- lists and single-resource searches user `page` and `per_page`

- global search uses `limit` which is applied per-resource

KB search is more like global search since it returns multiple resources. Maybe it'd be better to use `limit` pattern?

[2020-06-07 16:57] MrGeneration commented on #3068
If `limit` pattern allows pagination that's fine to me personally.
However, we definitely have to update the docs, because the difference was unknown to me up to now.

[2020-06-07 17:00] mantas commented on #3068
Global search using `limit` doesn't allow pagination.

What use case do you see for pagination?

Maybe separate single-resource APIs would be better? To follow same pattern of global search with `limit`vs ticket/organization/user search with `page`/ `per_page`

[2020-06-07 17:03] MrGeneration commented on #3068
Currently the knowledgebase search doesn't return all available search results for a specific search.
If you however want to list all results by a specific key word or maybe category via API, this currently is not possible.

Our customer has a lot of answers in his kb and uses his own UI solutions.
This causes the customer not being able to list all KB answers if there are too many results.

I thi

[2020-06-07 17:28] mantas commented on #3068
I agree in general that pagination is a must.

Thing is, as of now it fetches data from multiple ES indexes and then puts it together. So pagination would be a wee... Inefficient to say the least :)

It turns out that `limit` parameter in request (which already exists) is applied only when combining indexes, not when querying them. Thus raising limit still keeps it stuck at `10` :) Which is defini

[2020-06-08 10:13] thorsteneckel opened #3076 "WebSocket server gets stuck and takes 100% CPU while waiting for file handle of pipe"
### Infos:

* Used Zammad version: 3.3.x
* Installation method (source, package, ..): any
* Operating system: CentOS 8 / macOS
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* WebSocket server does not block the CPU.

### Actual behavior:

* WebSocket server blocks the CPU.

### Steps to reproduce the behavior:

* Send a lot of data over th

[2020-06-08 13:09] MrGeneration commented on #3046
Sorry for the delay. I currently no longer can reproduce this.

[2020-06-08 13:09] #3046 closed, assigned to mantas, MrGeneration

[2020-06-08 13:14] MrGeneration commented on #2549
Closing this issue in favor for #2864  which is more detailed than this issue.

[2020-06-08 13:14] #2549 closed, assigned to MrGeneration

[2020-06-08 13:15] MrGeneration commented on #2864
Thank you so much for the heads up and thanks for your patience!
I updated this issues description to hold all information relevant from #2549 as well and have closed the duplicate. 🙌

[2020-06-08 13:36] mohamed-rouissi commented on #3072
I have approximatively the same problem.

I have set up a `MAC Adresse` field as follows:

![Anmerkung 2020-06-08 144906](https://user-images.githubusercontent.com/61789098/84032201-41f5b900-a997-11ea-8ef6-3c790e4549e2.png)

A trigger has been set up to notify the customer in case the `MAC Addresse` field has been filled in/modified.

At the first change of data (for any other field) in the ticket

[2020-06-08 14:06] mohamed-rouissi commented on #2773
Same as @RobMOwen.

Please let us know once this bug is fixed. Thank you very much!

[2020-06-08 14:07] MrGeneration commented on #2773
Locking conversation of this issue to contributors only to reduce noise on this repository.
Please do not bump issues, as this is creating a lot of noise for a lot of people and thus may cause distractions.

We'll update this issue accordingly as soon as anything moves.

[2020-06-08 14:17] MrGeneration commented on #3068
I'd personally go for variant b then - we'd need to discuss this in standup as example.

[2020-06-09 13:08] MrGeneration opened #3077 "Empty "issues" attribute of Monitoring / HealthCheck result causes errors in Zabbix"
### Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: 1076483

### Requested behavior:

Either allow the monitoring endpoint to always return empty attributes as well or provide a GET-Variable switch similare to `expand=true`. The second option woul

[2020-06-10 11:36] schmitzd commented on #3067
Two problematic examples:
* The search box on the top left, see code https://github.com/zammad/zammad/blob/72bb320fb0bb4cdce57a80383e4c5da90b5ee04b/app/assets/javascripts/app/views/navigation.jst.eco#L3 needs a label, at least an ARIA label.
* At the dashboard you cannot navigate between "my stats" and "first steps" without a mouse (not reachable via keyboard only and no shortcuts); the same holds

[2020-06-10 12:54] rolfschmidt commented on #3067
@mrflix Do you know what we have done in the initial implementation phase of zammad? Is zammad in general usable on the screen reader or matching standards of WCAG? (question)

@schmitzd Yeah looks like in the community there is also a discussion about some points:

https://community.zammad.org/t/default-color-grey-in-grey/1485/3

[2020-06-10 13:04] schmitzd commented on #3067
@rolfschmidt Thanks for the link to the contrast discussion. I have seen that before but since these kinds of problem *could* mostly be solved via CSS (and thus by ourselves) I think we need to focus the ones that require changes in the generated HTML code. But you are right some of the issues mentioned there belong indeed to the kind or problems that need to be solved in the code base.

[2020-06-10 13:21] mrflix commented on #3067
@rolfschmidt in the initial implementation there was no focus on screen reader or matching standards of WCAG support.

[2020-06-10 14:24] SEGGER-NV opened #3078 "Regression: New ticket objects lead to "discard changes" notification"
### Infos:

* Used Zammad version: Latest
* Installation method (source, package, ..): Whatever your trial webhost uses
* Operating system: Whatever your trial webhost uses
* Database + version: Whatever your trial webhost uses
* Elasticsearch version: Whatever your trial webhost uses
* Browser + version: Firefox latest stable

### Expected behavior:

* When adding new ticket objects to zammad the

[2020-06-10 14:34] MrGeneration commented on #3078
Thanks for your report, however: This is a duplicate of:
https://github.com/zammad/zammad/issues/3035

I'll therefor be closing this issue. :)
I'm afraid there's currently no workaround for this issue except for updating all tickets to value x, I'm sorry.

[2020-06-10 14:34] #3078 closed, assigned to nobody

[2020-06-10 14:45] SEGGER-NV commented on #3078
Oh sorry I overlooked that. To bad there is no sleek workaround for this :(
Could you add the following to the other issue as well?
"Also the general "discard unsaved changes" button shows no effect whatsoever."

It is a bit unintuitive if that button has no effect all of a sudden.

[2020-06-10 15:20] MrGeneration commented on #3078
@SEGGER-NV can you please double check if "Discard changes" button does nothing upon pressing?
I tested that and it works - at least on my end.

if it is an issue, then that's clearly not what should happen. If it's still happening for you and maybe browser related, a new issue would be a good way! 🙌

I personally think that the issue with the discard button is technically a different issue than t

[2020-06-11 07:47] Suleman-Elahi opened #3079 "docker-entrypoint.sh: Permission denied"
### Infos:

* Used Zammad version: latest
* Installation method (source, package, ..): Docker
* Operating system: Xubuntu 18.04
* Database + version:
* Elasticsearch version:
* Browser + version: Chrome 84

### Expected behavior:

* After running the `docker run` command, it should start working on localhost.

### Actual behavior:

* It showing error:
`/bin/bash: /docker-entrypoint.sh: Permission

[2020-06-11 08:29] MrGeneration commented on #3079
Sidenote from me: Please don't use version `latest` - we strongly encourage against doing so.

[2020-06-11 08:37] Suleman-Elahi commented on #3079
There is no versioning for Docker images, right? or is there?

[2020-06-11 08:42] MrGeneration commented on #3079
There is:
https://hub.docker.com/r/zammad/zammad/tags

Oh and by the way - sorry for noticing so late.
You're in the wrong repo.
This is not application related, but an issue of either your docker installation or our scripts of docker.

The correct repository would be:
https://github.com/zammad/zammad-docker

Also, just for completness, as pointed out on our documentation (https://docs.zammad.org/

[2020-06-11 08:42] #3079 closed, assigned to nobody

[2020-06-11 13:08] MrGeneration opened #3080 "facebook scope changes with APIv7.0"
### Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Google Chrome latest
* Ticket-ID: 1076705, 1076758 , 1076759

### Expected behavior:

Authentication against facebook, no matter if using the "add account" functionality for adding a new facebook channel or authe

[2020-06-12 07:50] SEGGER-NV opened #3081 "Custom select ticket object does not use the set default value"
### Infos:

* Used Zammad version: 3.3.x
* Installation method (source, package, ..):package
* Operating system: Debian9
* Database + version: -
* Elasticsearch version: -
* Browser + version: Firefox 77.0.1

### Expected behavior:

* When creating a ticket select object and crating e.g. 3 dropdown option only the 3 dropdown options should be available and and the set default value should be used

[2020-06-12 07:55] MrGeneration commented on #3081
This is a duplicate of https://github.com/zammad/zammad/issues/1653 which is why I'm closing this issue.
Thanks for your report though! :)

[2020-06-12 07:55] #3081 closed, assigned to nobody

[2020-06-15 08:45] splattner commented on #2455
I see the same behavior with our installation.

[2020-06-15 08:47] MrGeneration commented on #2455
I'm locking the conversation of this issue to contributors only to reduce noise on this repository.
This issue hasn't had any usefull updates in the last months.

(No offense, me toos don't help :) )

We'll update this issue accordingly, as soon as anything moves. 💪

[2020-06-15 14:14] marandus opened #3083 "KB answer search in ticket is broken"
### Infos:

* Used Zammad version: 3.3.0
* Installation method (source, package, ..): source
* Operating system: CentOS 8
* Database + version: PostgreSQL 10.6
* Elasticsearch version: currently not used
* Browser + version:
  * Firefox 77.0.1
  * Chromium Edge 83.0.478.45

### Expected behavior:

* When typing into the "Related Answers" textbox in a ticket, a list of matching KB answers should op

[2020-06-15 14:32] marandus opened #3084 "Unable to run "rails" commands (e.g. ES configuration)"
### Infos:

* Used Zammad version: 3.3.0
* Installation method (source, package, ..): source
* Operating system: CentOS 8 + RVM Ruby 2.5.5
* Database + version: PostgreSQL 10.6
* Elasticsearch version: 7.7,1 OSS
* Browser + version:

Used Ruby from RVM because of gem version collisions when using the Ruby installed from CentOS repositories. The RVM path is correctly setup, any ruby command uses th

[2020-06-15 14:44] mantas commented on #3084
@marandus do you have `RAILS_ENV=production` set in your console? Could you try to run after prepending it inline, as in `RAILS_ENV=production rails ....`

[2020-06-15 14:59] mantas commented on #3083
Note: works fine with elasticsearch enabled, broken only with no elasticsearch.

[2020-06-15 15:04] #2907 closed, assigned to mantas, rolfschmidt

[2020-06-15 15:08] MrGeneration opened #3085 "Required Doorkeeper scope is missing and fails authentication"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: 1076848

### Expected behavior:

Authentication against Zammads API via oAuth works (`/oauth/...`) without issues.

### Actual behavior:

If trying to authenticate against Zammad using oAuth, you

[2020-06-15 15:11] marandus commented on #3084
Ouch, now I feel dumb... It works perfectly with `RAILS_ENV=production`. Thank you very much!

[2020-06-15 15:11] #3084 closed, assigned to nobody

[2020-06-15 15:42] thorsteneckel commented on #3085
JFI: Fix is currently tested and running on CI.

[2020-06-16 09:40] #3085 closed, assigned to thorsteneckel

[2020-06-16 10:20] #3070 closed, assigned to mantas

[2020-06-16 13:06] #3023 closed, assigned to mantas

[2020-06-17 08:38] MrGeneration opened #3086 "Deletion of communication article works for admins"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: tested on Chrome
* Ticket-ID:  1076948

Regression introduced by: https://github.com/zammad/zammad/commit/e037b6015eeb24050816a643156230d7bb9f7bac

### Expected behavior:

Administrators can't delete communicatio

[2020-06-17 08:57] thorsteneckel commented on #3086
This was possible since [4 years](https://github.com/zammad/zammad/commit/2078a079cd05c52bb3b9bd541e44067682fa32ab#diff-5bd5d4546d4924340722d82eb2daccc1R146-R150) via the REST API. @mantas removed the inconsistency and [just added the functionality to the UI](https://github.com/zammad/zammad/commit/222e8c0dd3e787762191c6b378fd5959ec482dd2#diff-4839de132a6830d0d6174f62efaa4d4b).

As discussed inter

[2020-06-17 09:36] MrGeneration opened #3087 "Search taskbars cause DeadLocks"
### Infos:

* Used Zammad version: 3.4 and earlier
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: postgreSQL
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: 1070139

### Expected behavior:

Search taskbars do not cause performance issues at all.

### Actual behavior:

If a lot of users use the detailed search function and keep thos

[2020-06-17 11:59] saz commented on #2044
Hey @martini I think you forgot to close this issue and as #2177 is locked for comments: as we've (regiohelden.de) sponsored the feature (and we're using it), #2177 might also be closed :smile:

[2020-06-17 12:12] martini commented on #2044
@saz Thanks for feedback!

[2020-06-17 12:12] #2044 closed

[2020-06-17 12:24] martini commented on #2177
Update: In the meantime this feature got implemented. Since Zammad 3.1 it is possible to submit a `queue` for a incoming call (note: queue need to be submitted by BPX).

In addition the gueue members need to be configured in Zammad (#system/integration/cti).

![image](https://user-images.githubusercontent.com/110226/84897436-da7dee80-b0a5-11ea-81db-711f3ce101ff.png)

Then only members of a caller

[2020-06-17 12:24] #2177 closed, assigned to martini

[2020-06-17 12:26] Vogelkoje opened #3088 "Notes on existing ticks are discarded by editing profile settings"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* When editing profile settings, the drafts in a tab should not be discarded

### Actual behavior:

* Notes on existing ticks are discarded by editing profile settings

### Steps to r

[2020-06-17 14:12] MrGeneration commented on #613
Sorry for the hassle.
After we stumbled upon this issue today we noticed that this functionality already is supported by Zammad.

Actually it's an duplicate of https://github.com/zammad/zammad/issues/181

I'm therefor closing this issue. 🙌

[2020-06-17 14:15] thorsteneckel commented on #613
There is more to it. There is currently no way to have a second attribute of e.g. type email (or other "identifier" attribute) that should be used to identify users. Therefore I reopen this issue.

[2020-06-17 14:17] MrGeneration commented on #613
You've mentioned this issue in https://github.com/zammad/zammad/issues/272 and closed it as duplicate.
I think this is actually wrong, because the only part this issue mentions "multi identifiers" is its title.

However, issue #272 does mention that alot better in more detail, which is why I think this is a duplicate of above mentioned #181 and thus should be closed.

I'll gladly adjust the title

[2020-06-17 14:19] thorsteneckel commented on #613
I agree that we should improve this issue here to meet our latest standards (template, expressive description etc.). It should describe the requirement of having multiple identifiers per user.

[2020-06-17 14:41] MrGeneration opened #3089 "Domain based assignment can be enabled without domain being filled in"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

When activating domain based assignment within organizations, this won't be possible if the field "domain" is blank/empty.

### Actual behavior:

Activating domain based assignment in

[2020-06-17 14:49] thorsteneckel commented on #656
JFI: It's not possible to enter the translation mode in some scenarios. As a workaround you can activate it by pasting these values in the console of your browser:

[code]

Once you're done make sure to leave the mode again by pasting these lines into your browser console:

[code]

[2020-06-18 07:01] thorsteneckel opened #3090 "Failed to run import backend 'Import::Exchange'. Cause: Missing implementation of 'mapping' method for 'Sequencer::Unit::Import::Exchange::FolderContact::Mapping::Login'"
### Infos:

* Used Zammad version: 3.4.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Exchange import should import.

### Actual behavior:

* The following error message is logged whenever running the import:

`"Failed to run import backend 'Import::Exchange'. Caus

[2020-06-18 07:14] #3087 closed, assigned to thorsteneckel

[2020-06-18 07:46] martinseener opened #3091 "Enhance/rework message header of forwarded mails"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): package
* Operating system: Debian Stretch
* Database + version: PostgreSQL
* Elasticsearch version: 7.7.1
* Browser + version: Firefox 77.0 (Linux Mint)
* Linked PR: #3014
~~* Ticket-ID: #1070545, #1077139~~

### Expected behavior:
When forwarding a ticket, I would expect that the original FROM header (or at least

[2020-06-18 07:58] thorsteneckel commented on #3091
@mantas @MrGeneration - IIRC we agreed on sending the name instead of the email address to avoid leaking internal email addresses, right? What exactly was the use case/user story we were trying to cover? I got it mixed up.

[2020-06-18 08:00] mantas commented on #3091
@thorsteneckel Yes, agent privacy was the main concern.

User story for forwarding header or for omitting email address?

[2020-06-18 08:00] thorsteneckel commented on #3091
How an agents address (or other internal mail) would end up in a forwarded email.

[2020-06-18 08:02] mantas commented on #3091
Taken from system user profile

[2020-06-18 08:19] martinseener commented on #3091
To make my user story clearer with pictures and a real use case. So we sometimes get email in our self-hosted zammad e.g. from authorities or people who need support, but they simply wrote to the wrong email address (for ex. info@ instead of support@) and we usually just forward this email/ticket to our hosted zammad instance where our customer support works on. So simply click forward, enter the

[2020-06-18 08:42] #3090 closed, assigned to thorsteneckel

[2020-06-18 08:58] MrGeneration commented on #3091
While I agree that it's a potential privacy issue if it goes wrong, I also stated that it would be a good use case that you could enable manually:

I also pointed out that Zammad always has to ensure it's not sharing agent mail addresses:

So in short: I personally do agree with Martin and also can remember being asked about this by users. (e.g. during demos) I believe this would at least affect 6

[2020-06-18 09:03] mantas commented on #3091
I'm 💯 on @martinseener use case as well

What about a following option for forwarding:

- include all email addresses
- include only customer addresses
- no email address included

I suppose the last one would be default

Another related issue is email including when replying. It could follow this setting as well to avoid further confusion.

[2020-06-18 09:08] MrGeneration commented on #3091
I think it only should affect forwarding, as replying via UI does keep the recipients intact on replying to the article. I can also choose to remove a recipient if needed which then would also have to happen within the text field which might be troublesome and confusing for the user. I personally wouldn't like that.

---

For forwarding, "include all email addresses" should only affect the article

[2020-06-18 09:15] mantas commented on #3091
It also keeps name and time. Yet some people do want full header included. If we're already adding a setting, I don't see why not extend it to this bit. It adds next-to-none hassle for us, no additional UX complexity, yet it may help someone.

Absolutely. It only affects the forwarding metadata line. No content of the article itself is touched.

[2020-06-18 09:43] martinseener commented on #3091
So from my PoV, if we could have the following, you would cover all possible use cases:
1. no forwarding of emails or full headers (current default)
2. forwarding of original email address from sender (see my example above)
3. forwarding of original email sender + other recipients (mostly what thunderbird does. it includes original sender + all ppl in CC with name+email
4. forward full header (wha

[2020-06-18 09:48] martinseener commented on #3091
Maybe as an example for No 3, i could imagine something like this.
![Screenshot from 2020-06-18 11-48-18](https://user-images.githubusercontent.com/1584417/85005857-a82dc900-b159-11ea-8dd4-60c9cd6ac7f2.png)

[2020-06-18 09:49] martinseener commented on #3091
So 1-3 would still "look" like zammad and No 4 would be in thunderbird style - maybe also quoted like shown in example above but with full header. That would be really nice to have and maybe not too hard to write (hopefully)

[2020-06-18 09:58] mantas commented on #3091
Good point on CCd emails.

Full header would be slightly more complicated. Right now we don't store raw email header in database. I how many people would actually use it vs being a nice option to have in settigns dropdown.

@MrGeneration what's your opinion on "only customers" option to prevent agent emails from being shared?

[2020-06-18 09:59] martinseener commented on #3091
I think Option 1-3 would be sufficient then. Full header is rather "additional nice to have" but I also don't see a real benefit there.

[2020-06-18 10:07] MrGeneration commented on #3091
I agree, I'd only see options 1-3 as usefull options.

No matter of the details of the option, Zammad should always not provide agents mail addresses.
What we however can do is to provide Zammads mail addresses. So if they appear within a TO or CC, it wouldn't hurt if we still provide those during forwarding if applicable.

[2020-06-18 10:10] mantas commented on #3091
@martinseener  1-3 from your list or my list? You listed an additional option with CC while my list has customer-only option :)

Personally I'd rather just include CC'ed emails whenever any email is included.

@MrGeneration do I read it correctly that we shouldn't have an option to forward agent emails at all? I could see that being an issue with agent-as-a-customer workflow.

[2020-06-18 10:18] martinseener commented on #3091
Yeah basically your list @mantas . So no agents addresses but To/CC addresses from customers or other people.

[2020-06-18 10:31] MrGeneration commented on #3091
No, what I meant:
You can forward every communication type article (just like already possible).
However, Zammad will filter out any agent email address that appears in the address list for the forward to ensure not to provide agents mail addresses to keep them private and safe.

[2020-06-18 10:34] mantas commented on #3091
That's what I tried to say - that article could be forwarded, but agent email wouldn't be forward and there would be no option to allow that :)

How would it work in agent-as-a-customer situation? Would it treat that agent as customer-by-sender-type (thus including email) or agent-by-role (thus overriding email)?

[2020-06-18 10:36] MrGeneration commented on #3091
My bad. In my opinion Zammad wouldn't handle the agent being customer as customer.
You may want to check back to Thorsten or Martin though, because that's just my opinion.

[2020-06-18 10:39] mantas commented on #3091
I'm not sure if it's already merged, but I remember seeing something like that in our private work-in-progress branches recently... IIRC the use case was that in big companies one department may be a customer of another department.

[2020-06-18 10:45] MrGeneration commented on #3091
Zammad by default knows all email addresses with the permission `ticket.agent` - I don't think you'd need more at this moment. Beside of extending tests later on if needed.

[2020-06-18 11:17] thorsteneckel commented on #2804
This won't be an issue once the implementation/review of #967 is done by @rolfschmidt/me. I'll close this for now because #967 will be ready soon and part of Zammad 3.5.

[2020-06-18 11:17] #2804 closed, assigned to rolfschmidt

[2020-06-18 11:43] thorsteneckel commented on #3091
@MrGeneration #2815 is a predecessor/duplicate of this, right?

[2020-06-18 11:44] mantas commented on #3091
@thorsteneckel looks like yes

[2020-06-18 12:11] thorsteneckel commented on #3091
Can I please get a list of scenarios/use cases for each of the possible options and an estimation on how many percentage of our user base would use it?

[2020-06-18 17:32] yuljk opened #3092 "No inbound calls FreePBX"
Hi - I've successfully setup the integration service on my FreePBX server, however when calling the number for my agent, I don't see anything in Zammad.

All I can see from /var/log/messages is:-

Jun 18 18:27:01 cassiopea asterisk-zammad-cti-bridge[25097]: 2020-06-18 18:27:01 +0100 [debug] got event: Registry
Jun 18 18:27:18 cassiopea asterisk-zammad-cti-bridge[25097]: 2020-06-18 18:27:18 +0100 [

[2020-06-18 17:37] MrGeneration commented on #3092
Sorry, but this looks like a technical question.
Please **do not post** technical questions on this repository.

You can post technical questions on the Zammad community at https://community.zammad.org
If you require commercial grade support, you can also have a look at https://zammad.com/pricing#selfhosted in case you're interested.

Closing now.

[2020-06-18 17:37] #3092 closed, assigned to nobody

[2020-06-19 06:09] mantas commented on #3088
Does it get completely lost or just text field is collapsed as in screenshot bellow? It's a bug nonetheless, just making sure I'm looking at correct bug :)

![Screenshot 2020-06-19 at 09 07 25](https://user-images.githubusercontent.com/36944/85102006-5c882780-b20c-11ea-9c99-f6ea71bc1f0b.png)

[2020-06-19 06:35] MrGeneration commented on #3088
No, more like information typed into the article field are being discarded / lost.

![issue3088](https://user-images.githubusercontent.com/6549061/85103883-ceaa3d80-b207-11ea-9523-16a0123d0670.gif)

[2020-06-19 06:42] mantas commented on #3088
Welp. Either we got 2 bugs or same bug is slightly different in slightly different circumstances!

[2020-06-19 06:51] MrGeneration commented on #3088
This should have been fixed with Zammad 3.4:
https://github.com/zammad/zammad/issues/3040

[2020-06-19 06:53] mantas commented on #3088
Yet I got it when saving my profile with an unsaved note.

[2020-06-19 06:57] MrGeneration commented on #3088
Then it might be a combined problem which I don't see in my browser, that's possible. 🤷

[2020-06-19 08:11] MrGeneration commented on #3091
So I've been talking with Mantas internally and this is basically what came out of that.
It consist of two parts: Part 1 describes the differences between replies and forwards to have the same point of view and Part 2 delivers possible use cases and an percantage that I **think** should be fitting.

I have no proove of those numbers below whatsoever - if we'd need real numbers, we'd need to start

[2020-06-19 09:43] MrGeneration opened #3093 "Inline images are cut during forward and reply (quotation)"
### Infos:

* Used Zammad version: 3.3 and 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified on Google Chrome and Firefox (current)
* Ticket-ID: 1073672, #1077715

### Expected behavior:

Zammad will -at no point- cut away parts of images or content in general.

### Actual behavior:

* W

[2020-06-22 05:49] martinseener commented on #3091
I've read through and I would agree to all of it! Thanks for this great writing. I would love to see 3 coming into Zammad. 2. is maybe a "nice to have" if it doesn't add too much of a hassle as I also see it as a method with a very small user base.

For the very last part, in my opinion you should rather forward mails as Agents Name + Groups Mail like `Martin S. <support@>`, so you at least know t

[2020-06-22 09:28] thorsteneckel commented on #3091
Thanks a ton guys @martinseener @MrGeneration and @mantas ❤️

I'm convinced and totally on your side. To follow our philosophy we will skip option 1 and 2 completely and replace the current default behaviour (2) with 3 for all instances.

IIRC this was the original intend of the previous PR #3014 . Now that we specified the requirements and use cases/user stories in more detail I can see clearer.

[2020-06-22 11:20] MrGeneration commented on #2815
Closing this issue in favor of https://github.com/zammad/zammad/issues/3091 as it has gotten a ton of discussion and specification over there.

To keep overview, I'll be closing this issue as duplicate, even though it has been first.
We'll update issue 3091 accordingly if anything moves!

[2020-06-22 11:20] #2815 closed, assigned to nobody

[2020-06-22 12:49] mantas commented on #3091
Any preferences on exact style?

I was clicking around several email clients and I'm warming up to @martinseener 's proposed `Thunderbird default` style

![](https://user-images.githubusercontent.com/1584417/85005517-32c1f880-b159-11ea-8a18-85f597143a7b.png)

When more details are added, it's much easier to read than the human reply style. Even if we don't store full headers, we could imitate this

[2020-06-22 14:05] martinseener commented on #3091
@mantas I agree. When adding more informations, something that is readable and familiar (Thunderbird) is maybe a good option.
@thorsteneckel from my PoV it's maybe good to have only the Name without a partially redacted email since it's then easy to guess the full email. Then you could just put the full email in, so all or nothing I would say.

[2020-06-22 15:02] thorsteneckel commented on #3091
Apple mails uses (basically) the same format:

[code]

👍

[2020-06-22 15:08] Vogelkoje opened #3094 "When quoting, no breakout from div container possible"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Firefox, Chrome, IE

### Expected behavior:

* When quoting, after the last character, two paragraphs / two times return, the cursor should be free and not caught in the quotation.

### Actual behavior:

* After

[2020-06-24 07:47] martini opened #3095 "Not all attributes if chats are indexed by elasticsearch (chat.name and tags are missing)"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* being able to search for chat attributes like chat.name and tags

### Actual behavior:

* attributes are not index

### Steps to reproduce the behavior:

* execute `rails r "p Chat:

[2020-06-24 13:51] MrGeneration opened #3096 "Japanese emails incorrectly converted"
### Infos:

* Used Zammad version:
* Installation method (source, package, ..):
* Operating system:
* Database + version:
* Elasticsearch version:
* Browser + version:
* Ticket-ID: #1077036

*Note: This is **no regression** of issue #2498 - the emails are entirely different.*

You can find a sample mail in above mentioned ticket (see my internal note), as the content of the mail is too sensitive.

[2020-06-26 07:32] Vogelkoje opened #3097 "Possibility to change / add bulk actions within overviews"
### Infos:

* Used Zammad version: any
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket: # 1077191, # 1078751, # 10103280, # 10139184, #10146791

### Desired behavior:

* If several tickets are selected in the ticket overview, more attributes should be available than just group, owner,

[2020-06-26 08:06] MrGeneration commented on #3097
This will need specification, as I personally don't think you'd technically want to have all available attribute for a ticket at that point.

As I know fairly big instances, the attribute listing would hide the overview content which I suppose is not the goal.

[2020-06-26 13:46] herzkerl opened #3098 "Scheduler conditions for 'article' don't seem to work correctly"
This is a follow-up to my post 'Condition for Article.Sender don't seem to work correctly' on the community forums: https://community.zammad.org/t/condition-for-article-sender-dont-seem-to-work-correctly/4777

### Infos:

* Used Zammad version: 3.4.x
* Installation method (source, package, ..): package
* Operating system: Debian 4.9.210-1+deb9u1 (2020-06-07) x86_64 GNU/Linux
* Database + version:

[2020-06-26 13:52] MrGeneration commented on #3098
This issue has two different possible solutions:
* remove article based conditions from schedulers if they aren't available (which technically is legit)
* ensure that the scheduler does always use the last article when checking for article based situations

[2020-06-26 14:06] pmarchi opened #3099 "Email address falsely converted on pasting into article body"
### Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..): package
* Operating system: Ubuntu 18.04
* Database + version: postgresql-10/bionic-updates,bionic-security,now 10.12-0ubuntu0.18.04.1 amd64
* Elasticsearch version: elasticsearch/stable 7.8.0 amd64
* Browser + version: Safari 13.1 on macOS 10.15.4

### Expected behavior:

* An article including email addresses wit

[2020-06-26 14:56] Prodeguerriero commented on #3097
Hey @MrGeneration,

I think that every attribute that can be changed inside a ticket should potentially be changed when trying to bulk-update tickets. This saved my butt multiple times when I was still in customer support, managing Zendesk.

I also have a current example. I am thinking of replacing an object that was created as `Select` with a `Tree select`. Being able to filter the tickets based

[2020-06-26 15:06] mantas commented on #3099
Note on reproducing. Highlighting and cmd+c won't cause this. Only right-click and "copy as email" will. Reproducible both in Safari and Chrome.

[2020-06-26 15:27] MrGeneration commented on #3097
@Prodeguerriero thank you very much for your Feedback.
Just to make my statement above clear (why it's so specific):

My comment currently expects no UI change (which would be required by your approach).

Don't get me wrong, I don't dislike or hate the idea - it's valuable feedback and may help to find a good approach. 🙌

[2020-06-28 18:30] chrisdecker1201 commented on #2985
Hello,

I think I found the cause of this problem. At the moment I've no idea how to fix it but in line 1546 of *app/assets/javascripts/app/controllers/ticket_overview.coffee*

[code]

there is no data in ticket variable only this for example:
[code]

and the ticket variable has only data on the last element in the for-in-loop.

[2020-06-29 11:14] Vogelkoje opened #3100 "Meaningless error message in the production log, when editing / creating overviews"
### Infos:

* Used Zammad version: any
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* The error message `E, [2020-06-29T13:03:31.170250 #25683-47028475242980] ERROR -- : Unable to get asset for 'customer': #<NameError: uninitialized constant Customer>` does not appea

[2020-06-29 14:01] MrGeneration opened #3101 "Discarding changes impossible on system based ticket attribute changes"
### Infos:

*This is a follow up on issue https://github.com/zammad/zammad/issues/3078 which originally was posted by https://github.com/SEGGER-NV and was only indirectly mentioning this issue. For better overview we will handle this as an independent issue.*

* Used Zammad version: 3.4, should also affect earlier versions
* Installation method (source, package, ..): any
* Operating system: any
*

[2020-06-29 18:00] YosefAdPro opened #3102 "RTL in CTI page log"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version:a ny
* Browser + version: any

### Expected behavior:

* CTI Call Log Page, in RTL Language,
The title align on the right.
![image](https://user-images.githubusercontent.com/11810187/86039709-7a932a80-ba4b-11ea-945f-615dd9c60145.png)

###

[2020-06-29 18:53] jannheider commented on #3097
What about to let the Admin/User select which Objekts to have as Bulk Aktion
We Still can keep 4 Bulk Objects as is or 5 if it fits in the GUI

<img width="1136" alt="Bildschirmfoto 2020-06-29 um 20 50 50" src="https://user-images.githubusercontent.com/17439988/86044541-829e9a80-ba4a-11ea-9e3b-af6c0c2f8e6c.png">

[2020-06-30 21:45] aartrost opened #3103 "Thousands of emails sent to same address, system crashed after background tasks piling up as result"
### Infos:

* Used Zammad version: 3.2.0
* Installation method (source, package, ..): package via zammad.repo
* Operating system: Amazon Linux 2 (CentOS 7-based)
* Database + version: PostgreSQL 9.2.24
* Elasticsearch version: 7.4.2
* Browser + version: n/a

### Expected behavior:

Don't crash Zammad on a 354 Go Ahead response from Gmail SMTP

### Actual behavior:

For some reason (we suspect the

[2020-06-30 21:47] MrGeneration commented on #3103
Before continueing in any direction I'd warmly recommend to upgrade to Zammad 3.4 like.. as fast as possible.
Zammad 3.2 is prune to security issues which you may want to solve before hand.

Note that ruby changes to 2.6.5 when using Zammad 3.4.

[2020-06-30 21:50] gohai commented on #3103
Thank you @MrGeneration - we'll be updating. However, I didn't see any changes in Ruby's `SMTP` handling recently - meaning that the issue likely still stands.

This happened out of the blue after a couple month of uptime, so any any consideration of this issue would be deeply appreciated.

[2020-06-30 21:59] MrGeneration commented on #3103
Please don't get me wrong with above comment.
I'm having a look soonish (tomorrow) - however, this issue technically should also affect other customers which doesn't seem to be true at this moment.

[2020-07-01 08:10] hasbiallah commented on #3080
how to downgrade the API version?

[2020-07-01 08:31] MrGeneration commented on #3080
Developer API versions can't be downgraded.
Sorry, but this is out of scope of the Zammad applicaiton.

To reduce technical questions and disctraction on this issue, I'll be limitting the conversation to contributors only.
This is nothing personal against you.

Please use the Zammad community for technical questions: https://community.zammad.org
If you require commercial grade support, you can fin

[2020-07-01 12:31] martini opened #3104 "Order overview by colum header will break "next in overview" function."
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Order overview table by column header should not raise issues by "next in overview" button and macro

### Actual behavior:

* Order overview table by column header will not reflect

[2020-07-01 12:40] MrGeneration commented on #3104
Could you please add the ticket number if this is a customer issue?

[2020-07-01 12:50] martini commented on #3104
@MrGeneration unfortunately no ticket number.

[2020-07-02 07:51] awedor opened #3105 "Merging tickets doesn’t trigger notification for target ticket"
### Infos:

* Used Zammad version: 3.3 & 3.4
* Installation method (source, package, ..): package
* Operating system: CentOS 7
* Database + version: Postgresql 12.3
* Elasticsearch version: 7.7
* Browser + version: any
* Ticket #1087628

### Expected behavior:

* When ticket B is merged into ticket A the owner of ticket A should be notified of an update to his ticket

### Actual behavior:

* When

[2020-07-02 08:00] MrGeneration commented on #3105
This originally has been discussed on the Zammad community before:
https://community.zammad.org/t/merging-tickets-doesnt-trigger-notification-for-target-ticket/4787

[2020-07-02 08:32] mantas commented on #3105
@MrGeneration which points in your community post apply for this issue?

a) seems already there, b) is won't fix, d) is covered by #2467... So this issue is for c) making the circle pulse only?

[2020-07-02 08:50] awedor commented on #3105
Well none of the points apart from c apply for this issue but the main problem stated above still persists. The other points I wrote were additional points for discussion but I obviously didn't add them to the bug report.

[2020-07-02 08:52] mantas commented on #3105
@awedor and the main problem would be solved by #2467 if I understand correctly?

[2020-07-02 08:53] MrGeneration commented on #3105
No. Issue #2467 is an addition that allows you to trigger for such merges.
This issue is about the agent not receiving an information that the ticket has been update (which is done technically by a merge).

So basically you'll never notice that the ticket has changed without having a direct look into it.

[2020-07-02 08:53] awedor commented on #3105
No it would only provide a workaround solution to create a trigger manually. Actually a merge in to a ticket is an update to the ticket so the notification should be triggered by the builtin notification system.

[2020-07-02 08:56] mantas commented on #3105
So when it adds a note that a ticket received a merge, it should also dispatch a notification to receiver owner?

[2020-07-02 08:58] awedor commented on #3105
Yes, exactly

[2020-07-02 10:16] monotek opened #3106 "improve weak password error on initial user creation"
### Infos:

* Used Zammad version: 3.4.0
* Installation method (source, package, ..): docker-compose
* Operating system: ubuntu 20.04
* Database + version: postgres
* Elasticsearch version: 7.6
* Browser + version: Chrome

### Expected behavior:

* if initial user is created with a weak password the error message should be something like: "weak password! use..."

### Actual behavior:

* if initial

[2020-07-02 13:59] martinseener commented on #3091
Can someone please add a short notice on how you proceed internally with this ticket now? Is there any roadmap or rough plan on when this will be available?

[2020-07-02 14:31] mantas commented on #3091
We're actively working on it. I'll make sure it doesn't get stuck in limbo :)

[2020-07-03 09:53] MrGeneration commented on #3103
I'm sorry for the delay, I'm afraid I can't reproduce this issue on either Zammad 3.2 and 3.4.
This might possibly a configuration issues on schedulers or triggers.

I've sent at least 12 mails per instance I've tried.
I ensures to always mail to the same user.

To ensure the issue doesn't appear on new tickets or doesn't because of references, I've created several independent new tickets.
All mai

[2020-07-03 09:53] #3103 closed, assigned to nobody

[2020-07-06 09:28] martini opened #3107 "Improve CTI / open user profile or new ticket screen based on last customer activity"
### Infos:

* Used Zammad version: 3.2
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1050554

### Expected behavior:

* Open user profile of caller if calls calls tickets have activities within the last $ (default 4) weeks.
* In all other cases use the current default behavior (

[2020-07-06 11:29] #3100 closed, assigned to thorsteneckel

[2020-07-06 13:37] martini opened #3108 "Allow uploaded S/MIME certificates to download in admin interface (like in other certificate managers)"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket#: 1042739

### Expected behavior:

* Allow uploaded S/MIME certificates to download in admin interface.

### Actual behavior:

* Only uploading is possible (http://localhost:3000/#system/integration/

[2020-07-06 15:03] #864 closed

[2020-07-06 15:07] thorsteneckel commented on #864
Hey @fleverest - thanks again for providing the PR! It's finally merged 🚀  Just for completeness: The issues were

- The `static` calendar picker does not load after switching to `relative` and back to `static`
- The time selection field (`hh::mm`) is too wide and looks strange
- The form validations marks the relative date selection as an error even before I had the chance to select something

@m

[2020-07-07 07:04] MrGeneration opened #3109 "Race condition between #lookup and .update causes caching of obsolete data"
### Infos:

* Used Zammad version: 3.3 & 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1073582

### Expected behavior:

The data Zammad returns is always current. Overviews will always show current information.,

### Actual behavior:

In special race conditions you can enfor

[2020-07-07 14:38] eugenkoenig commented on #2133
Confirm, also just happened to us.

[2020-07-07 14:40] MrGeneration commented on #2133
@styleart I'm afraid that this doesn't help at all.
Please provide your environment information.

Edit: Apart from that the issue already is verified.

[2020-07-07 14:46] eugenkoenig commented on #2133
This is our self-hosted inhouse setup (latest release), not the one hosted on your side. Exact the same issue as above. Monitoring changed in the unhealthy state after a staff member just typed the first name and clicked on "Update" (instead of waiting a second and pick the full agent name with the email address). It stayed unhealthy, until I forwarded the email again (but used the right full emai

[2020-07-07 14:48] MrGeneration commented on #2133
Thanks for the further input. If this would accidentely happen on your supported instance, this would be too bad. ;-(

---

A side note on the health state: The channel remains "unhealthy" until the next successful communication happens. So technically any other ticket could solve that issue as well. :-)

[2020-07-07 14:51] eugenkoenig commented on #2133
Ah, good to know! I was asking myself how to fix it so the site doesn't stay "down" in our monitoring. Thx for the hint, will be useful if it happens again in the future! :)

[2020-07-08 09:22] CodeBrauer commented on #645
I'm using Zammad 3.4.x and I have also the issue the widget shows "0"?

[2020-07-08 15:15] 12nick12 commented on #900
I would love this as well.

[2020-07-08 15:43] MrGeneration commented on #900
Locking conversation due to "me toos" and no further useful conversation to the topic.

[2020-07-09 09:23] rolfschmidt opened #3110 "ServiceNow mails from other service providers are not detected"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all
* Ticket# 1077511

### Expected behavior:

* ServiceNow mails should be detected based on the mail headers, instead of the sender address service-now.com

### Actual behavior:

* ServiceNow mails from differe

[2020-07-09 14:44] #3110 closed, assigned to rolfschmidt

[2020-07-09 16:38] MrGeneration opened #3111 "admin.user token permission doesn't allow fetching details of specific user"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1077545

### Expected behavior:

When having an API token with `admin.user` permission, you'll be able to create and view users.

### Actual behavior:

When having an API token with `admin.user`

[2020-07-10 10:31] davkar3n opened #3112 "o365 auth profile issue"
Hi There,

We are using o365 auth.
App registration is created and given this permission.
**User.Read.All**

![image](https://user-images.githubusercontent.com/26478599/87144940-97382980-c2b9-11ea-9beb-3a2f3392c06d.png)

after sign in using o365 phone number, Street name missing.

Also login name using objectID not user UPN.

![image](https://user-images.githubusercontent.com/26478599/87145173-fac

[2020-07-10 10:36] MrGeneration commented on #3112
Sorry but this is rather a technical question instead of a bug or issue.
If you require technical help, please consult the Zammad community: https://community.zammad.org

If you require commercial grade technical support, you can also have a look at Zammad support contracts: https://zammad.com/pricing#selfhosted

Closing now.

[2020-07-10 10:36] #3112 closed, assigned to nobody

[2020-07-10 13:07] martini commented on #2494
Just for the notes. The result with @MrGeneration email example looks this:

![image](https://user-images.githubusercontent.com/110226/87157683-e3d23380-c2be-11ea-9a61-d2e38e01503c.png)

With the upcoming fix it looks this:

![image](https://user-images.githubusercontent.com/110226/87157638-d6b54480-c2be-11ea-8c88-7b4cfe2753a8.png)

In addition, the following link `<a href="https://example.com/?fo

[2020-07-10 13:31] #3095 closed, assigned to martini

[2020-07-10 14:19] #3108 closed, assigned to rolfschmidt

[2020-07-10 14:27] #3089 closed, assigned to mantas

[2020-07-10 14:29] #3039 closed, assigned to mantas

[2020-07-10 14:44] #3077 closed, assigned to thorsteneckel

[2020-07-10 14:54] #2107 closed, assigned to rolfschmidt

[2020-07-10 14:58] thorsteneckel commented on #2107
We decided to keep the limit of 1.5 million chars per article. As @MrGeneration pointed out the UI isn't usable after (a much lower) amount of chars anyway. It was never about the actual size in terms of MB/KB but the number of chars. However, the original issue is now fixed and will be ready to use with Zammad 3.5 🚀

[2020-07-10 15:01] #1326 closed

[2020-07-10 19:49] davkar3n commented on #3112
This is bug!!!

[2020-07-13 09:47] thorsteneckel commented on #3112
Hi @IamAliBaba - this is actually a duplicate of #868 which includes the request to support `Custom attribute mapping`. You can subscribe to this issue to get updates as soon as we start working on this. As @MrGeneration already stated: If you require commercial grade technical support or want to prioritize issues, you can also have a look at Zammad support contracts: https://zammad.com/pricing#se

[2020-07-13 10:01] thorsteneckel opened #3113 "Prefer HTTP standard header "From" over custom "X-On-Behalf-Of" for impersonation"
# Infos:

* Used Zammad version: 3.4.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

We introduced the `X-On-Behalf-Of` header back in 2018 with 6daaecb5fd81a3489d8b3d2ae65a465c6a6ca30d in order to fix #1805 . We were not aware that there is a [HTTP standard header called `From`](https://www

[2020-07-13 10:04] SEGGER-NV opened #3114 "Unprocessed E-Mail"
### Infos:

* Used Zammad version: 3.3.x
* Installation method (source, package, ..): package
* Operating system: Dabian 9
* Database + version: -
* Elasticsearch version: -
* Browser + version: Firefox latest

### Expected behavior:

*  When receiving an e-mail that e-mail should be processed by zammad and a ticket should be opened.

### Actual behavior:

*  The attached e-mail can't be processed

[2020-07-13 11:28] #3106 closed, assigned to mantas

[2020-07-13 14:49] MrGeneration opened #3115 "Zammad can't import specific ISO-2022-JP mails"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1077341 , #1077607 , #1077341

### Expected behavior:

Zammad imports ISO-2022-JP without issues.

### Actual behavior:

In some special cases, Zammad can't import mails encoded with ISO-2022-JP

[2020-07-13 15:37] snuggs commented on #3113
@thorsteneckel LOVE THIS! Was a shot in the dark. Didn't think you'd be interested. I just recently learned of it as well.
It doesn't have too many use cases but WOW is is great when .... you need an EMAIL...FROM another party the request is on behalf of. ;-)

[2020-07-14 06:20] #3083 closed, assigned to mantas

[2020-07-14 14:32] mantas opened #3116 "Verification tokens questionable behavior in developer mode"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Verification tokens at signup and password reset are emailed to user and kept privately

### Actual behavior:

* When in `developer_mode`, verification tokens are sent to frontend

[2020-07-14 14:38] mantas opened #3117 "Open ticket is fetched twice after saving"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Updates to a ticket are fetched in a single call

### Actual behavior:

* Updates to a ticket are fetched using multiple calls with `full=true` and `all=true` flags

### Steps to re

[2020-07-14 14:41] mantas opened #3118 "Warn agent that total size of ticket response attachments may be too big"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Agent is warned if total size of attachments is too big

### Actual behavior:

* Agent is not warned when attaching a lot of files resulting in big total size

Yes I'm sure this is

[2020-07-15 03:57] #2494 closed, assigned to martini

[2020-07-15 04:19] mantas opened #3119 "Clarify authentication_check and authorize! before_actions"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Warning that `authentication_check` has to run before `authorize!`

### Actual behavior:

* Gibberish error thrown

### Steps to reproduce the behavior:

* Change order of controlle

[2020-07-15 06:44] mantas opened #3120 "User request spec sets up elastic search where it's not used"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* `spec/requests/user_spec.rb` sets up elastic search where necessary

### Actual behavior:

* `spec/requests/user_spec.rb` sets up elastic search for all expectations

### Steps to r

[2020-07-15 11:51] #2985 closed, assigned to mantas

[2020-07-15 12:10] #3091 closed, assigned to mantas

[2020-07-15 14:57] thorsteneckel commented on #3091
Hi @martinseener - it's done thanks to @mantas ! The release will be available in about 30 minutes from now. You can just update your Zammad via the system package manager and should be ready to go. Looking forward to your feedback 🚀

[2020-07-15 15:16] MrGeneration commented on #3091
JFI: I'll accidentely hit "update" on your paid instance on the hosted setup later on (~19:00 - 20:00 ). So tomorrow will be a better day. 🙌

[2020-07-15 20:45] mantas commented on #2960
Code snippet for cleaning up databases affected by this issue:

[code]

[2020-07-16 06:12] martinseener commented on #3091
@thorsteneckel @mantas @MrGeneration thanks alot for that. I just upgraded to 3.4.0-1594825410.4cacfa4b via my system manager (also to ES 7.8). When now forwarding, the full header is visible there. Nice!One question regarding attachments though. I don't see an option to forward the mail including the attachment if there is one. Is there a way to also forward them (by default)? Maybe an additional

[2020-07-16 07:01] mantas opened #3121 "Object lookup by text attribute fails if symbol is given"
### Infos:

* Used Zammad version: 3.4
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Cached objects can be retrieved by both string and symbol values

### Actual behavior:

* Cached objects can be retrieved by string value only

### Steps to reproduce the behavior:

[2020-07-16 10:02] h0jeZvgoxFepBQ2C commented on #1994
I just started a new digital ocean droplet with Ubuntu 18.04, and it's not working due to elastic search not found:

[code]

[code]

Only after adding the elastic search repo ( https://www.digitalocean.com/community/tutorials/how-to-install-and-configure-elasticsearch-on-ubuntu-18-04-de ) it works..

[2020-07-16 10:56] rlue commented on #3111
Unfortunately, I'm not able to reproduce this bug. @MrGeneration, can I get your help figuring out why it's failing for you but not for me?

My steps:

1. Create a new API token with `"admin.user"` permissions via the User Profile page in the web interface. Alternately, use:

[code]

   (Be sure to copy the token string created in this step; _i.e.,_ `token.name`.)

2. Run the zammad development se

[2020-07-16 12:34] MrGeneration commented on #3091
Zammad should always forward with attachments.
Your issue sounds like the following bug: https://github.com/zammad/zammad/issues/2942

[2020-07-16 12:36] MrGeneration commented on #1994
@h0jeZvgoxFepBQ2C kindly don't hijack closed issues.
As this is a technical question, please **do not** post them on this repository, but use our community (https://community.zammad.org) instead.

If you require commercial grade support, you can find more information on that here: https://zammad.com/pricing#selfhosted
I'm locking this issue now to quieten down this repo.

Edit: Also the documentat

[2020-07-16 12:37] monotek commented on #1994
It's also mentioned like this in our documentation ;-)

See: https://docs.zammad.org/en/latest/install/ubuntu.html

[2020-07-16 12:39] h0jeZvgoxFepBQ2C opened #3122 "Install fails on clean Ubuntu 18.04 due to missing elastic search"
I just started a new digital ocean droplet with Ubuntu 18.04, and it's not working due to elastic search not found, looks like your documentation is not complete: https://docs.zammad.org/en/latest/install/ubuntu.html

[code]

[code]

Only after adding the elastic search repo ( https://www.digitalocean.com/community/tutorials/how-to-install-and-configure-elasticsearch-on-ubuntu-18-04-de ) it works.