[2019-01-24 07:48] SummerStorm commented on #2179
Hi there, we recently increased the Zendesk attachment import timeout on `develop`. Could you please try the latest `develop` if you are still experiencing the same issue?

[2019-01-24 11:35] lobiman commented on #2250
Hi,

I've the same issue.

Infos:
Used Zammad version: 2.8.0
Installation method (source, package, ..): source
Browser + version: Any
Expected behavior:
Parse mail to ticket
Actual behavior:
No ticket created

I've updated zammad in December, where can I see if there is a newer version?

[unprocessable_mail.txt](https://github.com/zammad/zammad/files/2791481/unprocessable_mail.txt)
[production.txt

[2019-01-24 11:52] thorsteneckel commented on #2250
Hi @lobiman - I can import the provided mail without an error in the latest `develop` and `stable` version.  Please update your system accordingly and try again.
In addition to that please don't recycle closed issues but create a new one if it's actually a technical issue. If you have any (technical) questions please use the [community board](http://community.zammad.org/) because we only track tec

[2019-01-24 11:52] #2250 closed, assigned to thorsteneckel

[2019-01-24 14:51] divdax opened #2447 "Mails with inline PNG attachments are not processed"
### Infos:

* Used Zammad version: Version 2.8.x
* Operating system: Ubuntu 14
* Database + version: MySQL 5.7
* Elasticsearch version: -
* Browser + version: Chrome Version 71.0.3578.98

### Expected behavior:

Zammad should import new mails from mailserver.

### Actual behavior:

Zammad don't import mails with png inline attachments.

[2019-01-24 15:07] xeboo commented on #1407
Unfortunately, these wishes have not yet been implemented :( I wait for it from version to version

[2019-01-24 15:50] MrGeneration commented on #2447
Please fill in the missing information, especially used Browser.
Otherwise we can't reproduce this and have to close the issue without further investigation. :(

[2019-01-24 15:53] divdax commented on #2447
I'm using latest Chrome

Am Do., 24. Jan. 2019, 16:50 hat Mr.Generation <notifications@github.com>
geschrieben:

[2019-01-24 21:23] MrGeneration commented on #1407
This is in our backlog, we never promised to implement this too soon. :-x
Sorry about that. Currently we're focussing on knowledge base and fixing other issues and enhancing existend functions.

I'll be locking the conversation of this issue for now, to reduce the nice on the repository (it's nothing personal, but on each comment over 1400 people receive a notification). If you want to discuss abo

[2019-01-25 11:14] MrGeneration commented on #2447
Sorry, I can't reproduce this, please provide a sample.

![image](https://user-images.githubusercontent.com/6549061/51742666-bed20c80-209a-11e9-8f16-f884e2197dcf.png)

[2019-01-25 12:08] MrGeneration commented on #1967
We've received no further Feedback which why I suspect it has been fixed with 2.8. :-)
Closing now.

[2019-01-25 12:08] #1967 closed

[2019-01-25 12:13] MrGeneration commented on #1609
We've received no further feedback and thus can't verify this as a bug.
Closing now.

[2019-01-25 12:13] #1609 closed

[2019-01-25 12:24] MrGeneration commented on #2446
Thanks for your contribution!
I just updated the translation to the corrected version.
![image](https://user-images.githubusercontent.com/6549061/51745818-5f78fa00-20a4-11e9-87bb-d0153a74d1fe.png)

This will be available within the next Update (2.9) or by a friendly "Letzte Übersetzung laden" (this might take a while)
![image](https://user-images.githubusercontent.com/6549061/51745855-7b7c9b80-20a

[2019-01-25 12:24] #2446 closed, assigned to MrGeneration

[2019-01-25 12:36] MrGeneration commented on #2425
Ah sorry! Lost track of this issue, this only seems to happen when you're using exchange, see the attached file, please.

This only happens to one of 3 attachments (that's the MSG-File)

[WG Test Attachment HTML.zip](https://github.com/zammad/zammad/files/2796072/WG.Test.Attachment.HTML.zip)

[2019-01-25 14:22] MrGeneration opened #2448 "Visibility setting of article not consistent"
### Infos:

* Used Zammad version: 2.8
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Google Chrome (proberbly any)
* Ticket-ID: #1035696

### Expected behavior:

* When working with visibility a lot, the way setting an article private or public should be consistent (icons).

### Actual behavior:

[2019-01-25 17:40] MrGeneration opened #2449 "Notification should tell article visibility"
### Infos:

* Used Zammad version: 2.8
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1035855

### Expected behavior:

* When Zammad notifies an agent about an update or a new Ticket, it will tell you the visibility state of the article being created.

### Actual behavior:

* Whe

[2019-01-25 20:21] martinvonwittich commented on #2437
I was curious and so I tested it myself, and I can confirm this issue. The bug is probably somewhere in the e-mail parser, because the brackets are already gone when I inspect the article in the database:

[code]

[2019-01-25 21:00] martinvonwittich commented on #2437
This is my first foray into the Zammad source and I'm not very familiar with Ruby, so take everything I'm saying with a grain of salt.

I've looked through the source for files containing "parse", and I believe this is the email parser: https://github.com/zammad/zammad/blob/develop/app/models/channel/email_parser.rb

At one point, it calls a function named `html2html_strict`, for example:

[code]

[2019-01-26 08:35] SummerStorm commented on #2437
Hi, there. Square brackets should not appear in the latter part of the URI according to [RFC 3986](https://www.ietf.org/rfc/rfc3986.txt):

Which means that `<a href="https://example.com/?foo=bar&baz[x]=y">example</a>` is technically invalid HTML.

In actual usage, Zammad users compose the HTML content in Email clients and word processors, and when you paste the HTML snippet `<a href="https://examp

[2019-01-26 09:26] anhofmann commented on #2437
Well, I wouldn't open a issue if I didn't have that problem all the time. We get mails from users who have such square brackets in the links without them being encoded. They just copy the URL and put it in their mail and that's how they arrive at Zammad.

[2019-01-26 09:30] martinvonwittich commented on #2437
I was able to reproduce this issue just by sending a mail with GMail, so it certainly didn't encode the brackets correctly :(

The source of the mail in GMail looks like this:

[code]

Also, there's [RFC 1122](https://tools.ietf.org/html/rfc1122):

:)

[2019-01-26 09:49] SummerStorm commented on #2437
Sorry, I spoke too soon. I can indeed re-produce this from Gmail. Do you have mail from any other clients that exhibit this same behavior? It would be good to have a list here.

I only tried Mozilla Thunderbird and it worked fine there so I incorrectly assumed that other Email clients would be equally competent.

[2019-01-26 10:25] martinvonwittich commented on #2437
Hmm, I think I can also reproduce the issue in Thunderbird? Not sure if I'm doing something wrong...? This is the source of the mail when I use Thunderbird with my gmail account and just send the mail to myself:

[code]

When reproducing, you have to take care when copying the link. If you right-click on the link -> copy link address in anhofmann's OP, you'll have the link already URI encoded in y

[2019-01-26 10:43] martinvonwittich commented on #2437
The t-online.de webmailer also seems to be affected: [t-online.txt](https://github.com/zammad/zammad/files/2798899/t-online.txt)

[2019-01-26 10:48] martinvonwittich commented on #2437
web.de webmailer also affected: [web.de.txt](https://github.com/zammad/zammad/files/2798905/web.de.txt) (also no plaintext part, WTF, web.de?)

[2019-01-26 11:13] martinvonwittich commented on #2437
yahoo.de webmailer also affected: [yahoo.txt](https://github.com/zammad/zammad/files/2798922/yahoo.txt)

[2019-01-26 19:12] martinvonwittich commented on #2436
I decided that this would be a good starting point to figure out how to hack Zammad, so I've attempted to fix this issue myself: https://github.com/martinvonwittich/zammad/commit/5826ee866da337d5f2d4467bafb4344ca26ad6d9

This displays the email address of the customer in the following places:

- New Ticket dialogue
- Trigger and Scheduler

but not in the reply dialogues. I haven't yet been able to

[2019-01-26 21:12] MrGeneration commented on #224
That's interesting, this was already living in our documentation.
I tested the commands and corrected them so it is valid.

Change is live already, closing now:
http://admin-docs.zammad.org/en/latest/channel-email/sendmail.html

(Push: https://github.com/zammad/zammad-admin-documentation/commit/c8161664c6970060ebf4c52ae647c0d1130cc992 )

[2019-01-26 21:12] #224 closed

[2019-01-27 19:03] martinvonwittich commented on #2185
Using the same condition more than once would be useful even without OR operators. For example, the following condition is currently impossible due to the fact that Zammad allows me to use _Created at_ only once:

- Created at - after (absolute) - `2019-01-25` - at - `08:00`
- Created at - before (absolute) - `2019-01-28` - at - `08:00`

I had imported a lot of mails to stress test Zammad, and now

[2019-01-28 07:24] maggusf commented on #2426
@MrGeneration
two weeks without an update, any news so far?

[2019-01-28 09:21] xeboo commented on #1083
Too bad, I need this option to the chat I can use at all, otherwise this does not make much sense and I have to resort to other chat providers :(

[2019-01-28 09:26] #2437 closed, assigned to MrGeneration

[2019-01-28 09:38] MrGeneration commented on #1083
@xeboo we can offer you a custom development, if you need it very soon. :(
If you want one, feel free to contact sales[at]zammad[dot]com for an inquiry! :)

I'll lock the conversation now to reduce the noise on the watchers. :)

[2019-01-28 12:45] martini opened #2452 "Slow UI with over 150 ticket attributes"
### Infos:

* Used Zammad version: 2.8
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Work on ticket even if you have 150 ticket attributes (which usually makes no sense at all :) )

### Actual behavior:

* Slow UI (render of ticket attributes slow down UI)

### Step

[2019-01-28 13:13] MrGeneration commented on #2426
**This partly works as designed:**
Zammad ignores it's own E-Mail-Addresses, because it normally doesn't make sense to write to your own system. Depending on your Mail-Server configuration (if you use several aliases with just one mailbox), you'll only receive one ticket. If you have several mailboxes, you'll receive two independent tickets which you can't reply to both (at the same time). This is

[2019-01-28 15:39] MrGeneration opened #2453 "Create incoming mail as private article, if outgoing one was private as well"
### Infos:

* Used Zammad version: 2.8
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1035855

### Expected behavior:

* Zammad should recognize if a incoming mail article should be public or private based on what vibility type has been used in the article that has been sent to t

[2019-01-28 23:52] lenusch commented on #1373
we would need this also :(

[2019-01-29 05:20] sparanoid commented on #2429
I can confirm this issue, nowadays many users (clients) start a ticket with their emails, and the name fields are likely using their nicknames not the real names, or they're asian not following the First_name Last_name pattern.

[2019-01-29 07:07] #2452 closed, assigned to martini

[2019-01-29 07:39] martini opened #2454 "Missing validation for trigger.notification.* at Model/API/REST level."
### Infos:

* Used Zammad version: 2.8
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Validation needed params for `trigger.notification.*` at Model/API/REST level.

### Actual behavior:

* No validation is performed.

### Steps to reproduce the behavior:

* Create a

[2019-01-29 12:08] MrGeneration opened #2455 "Assign Follow ups has no affect"
### Infos:

* Used Zammad version: 2.8
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket: #1087633

### Expected behavior:

* When setting a group to "assign follow ups" => NO, Zammad will unassign the owner, if the ticket gets reopened by the customer.

### Actual behavior:

* When sett

[2019-01-29 12:43] SummerStorm opened #2456 "UTF-8 encoded Email subjects like "=?UTF-8?Q? Personal=C3=A4nderung?=" not decoded"
### Infos:

* Used Zammad version: 2.8
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* the parsed subject should be `Personaländerung`

### Actual behavior:

* the parsed subject is `=?UTF-8?Q?Personal=C3=A4nderung?=`

### Steps to reproduce the behavior:

* Parse an

[2019-01-29 13:25] MrGeneration commented on #1373
Currently you only can't insert colored text - this is intentinal for security reasons.
You can insert inline attachments (you need to copy the image content, thus via paint or similar will work).
Inserting links via any HTML program should work as well.

I'm locking the conversation now, as "I need this too" or "++" just create noise on the watching people.
Please use the thumb-up function instea

[2019-01-29 14:05] #2454 closed, assigned to martini

[2019-01-29 21:17] martinvonwittich commented on #1367
I didn't like the suggested macro solution, so I came up with a trigger instead. We had configured our old ticket system Kayako so that it would automatically suggest "closed" as the new state when replying. At this point, our agents are probably very used to this behavior, and always having to click on the arrow button -> reply & close seemed rather annoying. The trigger I came up is this:

condi

[2019-01-29 22:19] manuelfink opened #2457 "Hosting zammad on Amazon Web Services AWS"
Has anyone experiences on hosting Zammad on Amazon Web Services?
Is any installation recommended?

My idea is to have it highly available hosted:

- App: Elastic Beanstalk or Docker
- MySQL DB: Aurora serverless as DB
- Elastic Search through elastic cache
- S3 as file storage #660 - not yet implemented
- [EFS](https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/services-efs.html) as alternativ

[2019-01-29 22:30] monotek commented on #2457
Hi there - thanks for filing an issue. Please ensure the following things before creating an issue - thank you! 🤓

Since november 15th we handle all requests, except real bugs, at our community board.
Full explanation: https://community.zammad.org/t/major-change-regarding-github-issues-community-board/21

Please post:
- Feature requests
- Development questions
- Technical questions

on the board -

[2019-01-29 22:30] #2457 closed, assigned to nobody

[2019-01-29 22:32] martinvonwittich opened #2458 "Zammad fails to parse filename* in Content-Disposition header of attachment"
### Infos:

* Used Zammad version: 2.8.x, but it's also reproducible in develop
* Installation method (source, package, ..): docker-compose
* Operating system: Debian 9
* Database + version: PostgreSQL 9.6.11 (zammad-docker-compose)
* Elasticsearch version: 5.6.14 (zammad-docker-compose)
* Browser + version: Chromium 71

### Expected behavior:

* An attachment with the following Content-Dispositio

[2019-01-29 23:10] martinvonwittich commented on #2456
For some reason I'm unable to reproduce this. My Zammad 2.8.x instance seems to handle both these cases fine:

- `Subject: =?utf-8?Q?Personal=C3=A4nderung?=`
- `Subject: =?UTF-8?Q?Personal=C3=A4nderung?=`

The complete mail source:

[code]

[2019-01-29 23:34] #2422 closed, assigned to martini

[2019-01-30 06:12] #2456 closed, assigned to SummerStorm

[2019-01-30 09:45] thorsteneckel commented on #2439
Hi @anuzhin - Thanks for providing the fix and kudos for figuring things out 💪 This will be available in `develop` in about 20 minutes from now and released to stable with Zammad 2.9 🚀 Closing now.

[2019-01-30 09:45] #2439 closed, assigned to thorsteneckel

[2019-01-30 09:57] MrGeneration commented on #2436
Hey Felix,

could you please take a look at this? :)

[2019-01-30 11:49] raphaelm opened #2460 "Twitter DMs and Mentions do not arrive"
Hi,

we set up Twitter integration according to the documentation ant the Channel settings do not show any errors. However,  nothing arrives.

### Infos:

* Used Zammad version: 2.8.0-1548330940.ad390e9f.stretch
* Installation method (source, package, ..): Debian package
* Operating system: Debian stretch
* Database + version: MariaDB

### Expected behavior:

* When someone mentions us or sends a

[2019-01-30 11:50] martini commented on #2460
Hi @raphaelm Is there any hint in log/production.log (e. g. -i twitter) ?

[2019-01-30 11:56] raphaelm commented on #2460
That's the output of ``grep -i twitter /var/log/zammad/production.log``, after removal of logging of emails we got from twitter.

[code]

[2019-01-30 11:57] raphaelm commented on #2460
That's the output of ``grep -i twitter /var/log/zammad/production.log``, after removal of logging of emails we got from twitter.

[code]

[2019-01-30 12:41] martini commented on #2460
[code]

I see a verify call from twitter to verify your web hook. But I see no http calls from twitter to your webhook.

 -=> It seems twitter is not sending messages to your webhook. You have a https host, right? Maybe something wrong which your ssl cert? Any other errors in log/production.log which is related to twitter?

[2019-01-30 14:41] MrGeneration commented on #2458
I'll check on that soon(TM) - I also think that this might be at least related to #2425 at some point.
We'll know more soon

[2019-01-30 15:45] SummerStorm commented on #2456
Thanks for double checking, @martinvonwittich! You are correct, I made a mistake in the bug report. The offending string is `=?UTF-8?Q? Personal=C3=A4nderung?=`, with a space in front of the string. The original subject was a sentence containing the word "Personaländerung",  with a space in front of the word itself. I accidentally stripped the space in front off, thinking that it's purely the umla

[2019-01-30 21:20] benjaoming commented on #2202
I had this issue because I was running with too little memory and Elasticsearch was unable to start, evident from `/var/log/syslog`

[2019-01-31 12:49] rixx commented on #2460
We run into the same problem on our instance, running the current release.

[2019-01-31 13:00] nicolaswurtz commented on #2460
Same here, I've found something that could help ?
**No such channel for user id '1090618064528424961'! (Exceptions::UnprocessableEntity)**
[code]

[2019-01-31 13:07] nicolaswurtz commented on #2460
Mmm, is this linked to https://community.zammad.org/t/dont-receive-twitter-dms-railsserver-error/1799/26 ?

[2019-02-01 11:47] MrGeneration commented on #2460
@nicolaswurtz  This is related to the community issue, we still haven't found the cause yet, it would be great if we could keep the discussion regarding this off this tracker. :-)

@raphaelm Please give Feedback to Martin, especially about the SSL question.

@rixx Exact same problem as @raphaelm ? Please provide logfiles.

[2019-02-01 11:57] raphaelm commented on #2460
@martini

Yes.

Not that I can think of: https://www.ssllabs.com/ssltest/analyze.html?d=support.rami.io&latest

I can't find any.

Does Twitter provide any tool to debug webhooks? I couldn't find anything.

[2019-02-01 13:31] martinvonwittich commented on #2413
Also reproducible on develop as of 2d5fc012cb98975c0f85bb9f2f8cc07dc35c0077.

[2019-02-02 10:52] nicolaswurtz commented on #2460
I think this is really the same issue — @raphaelm could you add `-A 1` to your grep command to see one line after ? The error doesn't contain "twitter" word, I guess we'll see the same line I have.
[code]

[2019-02-02 23:49] martinvonwittich opened #2462 "Zammad reuses password hash salts"
### Infos:

* Used Zammad version: 2.8.x
* Installation method (source, package, ..): docker-compose
* Operating system: Debian 9
* Database + version: `PostgreSQL 9.6.11 on x86_64-pc-linux-musl, compiled by gcc (Alpine 6.4.0) 6.4.0, 64-bit`
* Elasticsearch version: 5.6.14
* Browser + version: Chromium 71

### Background

I noticed that the users in my DB that have been created by the email parser

[2019-02-03 00:13] martinvonwittich commented on #2462
To properly fix this, all passwords should be re-hashed to ensure that they have a unique salt. I would suggest to use this opportunity to upgrade to `ruby-argon2` and `argon2id` [which is recommended now anyway](https://crypto.stackexchange.com/questions/48935/why-use-argon2i-or-argon2d-if-argon2id-exists). Then `PasswordHash.legacy?` could consider `argon2i` hashes to be legacy hashes, and rehas

[2019-02-04 17:27] MrGeneration commented on #2462
I'll give this to Thorsten to take a look on this, I think he's the best guy in that topic! 🚀

[2019-02-04 17:53] MrGeneration commented on #2447
As I can't reproduce this and am missing feedback, I'm closing this issue for now.
If you feel this is wrong and have a working way to reproduce this, I'll happily reopen this.

[2019-02-04 17:53] #2447 closed, assigned to MrGeneration

[2019-02-04 19:04] MrGeneration commented on #2308
I can't reproduce this, it works as expected on my end. I used the following code:

[code]

Could you please take a look if you can still reproduce this?

[2019-02-04 19:47] martinvonwittich commented on #2462
I've already started working on it, if I get it right, I'll submit my first merge request :)

[2019-02-05 08:13] raphaelm commented on #2460
Nope, not the same issue. "No such channel for user" doesn't appear in the log and I already checked that the user IDs match

[2019-02-05 08:15] MrGeneration commented on #2460
Okay, so we might have two different issues here @martini

[2019-02-05 16:53] julenl opened #2463 "No users on "Users mamagement""
### Infos:

* Used Zammad version: 2.8.0-1549301377
* Installation method (source, package, ..): package
* Operating system: CentOS 7
* Database + version:
* Elasticsearch version: 5.6.14-1
* Browser + version: Firefox, Chrome, ...

### Expected behavior:

* Users show up in the "Users Management" section

### Actual behavior:

* The "Users Management" section is empty.
Adding new users seems to w

[2019-02-05 16:56] MrGeneration commented on #2463
Sorry this is not a Bug an issue in your system configuration.
Please refer to our community board ( https://community.zammad.org/ ) for technical assistance.

The error messages you posted indicate that Zammad cannot reach your elasticsearch installation.
Personally I don't think you need to workaround anything when you stay on your own machine (aka "localhost").

Closing now.

[2019-02-05 16:56] #2463 closed, assigned to MrGeneration

[2019-02-05 17:15] luisdetlefsen commented on #902
This is happening again on version 2.8 and 2.9.

[2019-02-05 17:27] julenl commented on #2463
Wow! That was unbelievably fast! I didn't even have time to edit the syntax of the post :P
Well... for the sake of documentation, the issue was solved by:

    /usr/share/elasticsearch/bin/elasticsearch-plugin remove mapper-attachments
    /usr/share/elasticsearch/bin/elasticsearch-plugin install ingest-attachment --batch
    systemctl restart elasticsearch
    zammad run rake searchindex:rebuild

[2019-02-05 17:31] MrGeneration commented on #2463
Glad you could find it after all!
Being fast at closing is my speciality ;)

[2019-02-05 17:35] MrGeneration commented on #902
@smash87 please don't recycle fixed issues and instead open a new issue for this for overview reasons. :)

Besides:
I tested above example with POST:

[code]

Works totally fine on my end:

[code]

If you have technical questions, please use our community board: https://community.zammad.org

[2019-02-05 17:59] MrGeneration commented on #2429
I have to discuss this tomorrow in a meeting, as this is a required field (inside the WebApp) this behavior is actually correct.

Funfact: You can actually workaround this via API - as this is not consistent I'll get back to you guys asap.

[2019-02-05 18:03] MrGeneration commented on #2417
Sorry for taking so long.
Can you please explain your use case why you'd want to do that?

Because in my opinion it doesn't make any sense configuring an outgoing email address that if you reply on it, it will never find it's way into the original mailbox and thus Zammad won't be able to append it to the existing ticket.

That's more over a wrong usuage in my opinion. Still, I'll discuss this in o

[2019-02-05 18:12] MrGeneration commented on #2413
Could verify this, that one is a meanie!

[2019-02-05 19:05] MrGeneration opened #2464 "Mails send by older mailers with x-uuencode Content-Transfer-Encoding of attachments are not processable"
### Infos:

* Used Zammad version: 2.8
* Installation method (source, package, ..): nay
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* being able to import failed messages

### Actual behavior:

* failed messages (some) can't be imported

### Steps to reproduce the behavior:

* try to manually import a unprocessibl

[2019-02-05 21:19] luisdetlefsen opened #2465 "Cannot create organizations using REST API with OAuth 2"
### Infos:

* Used Zammad version: 2.9.x
* Installation method (source, package, ..): Docker
* Operating system: Debian GNU/Linux 9
* Browser + version: Chrome

### Expected behavior:

* Organization should be created when doing a POST to  /api/v1/organizations with OAuth2

### Actual behavior:

* Receiving a 401 "Not authorized (token)!" from Zammad.

I, [2019-02-05T20:45:02.028026 #392-472214881

[2019-02-06 07:00] #2242 closed, assigned to SummerStorm

[2019-02-06 07:04] SummerStorm commented on #2456
The previously incorrect test cases have been fixed via 0b472fa.

[2019-02-06 08:20] MrGeneration commented on #2465
Please provide at least the API call you're doing for verification.

Do I also get you correct, that oAuth2 in combination with API is a general problem?

[2019-02-06 15:24] luisdetlefsen commented on #2465
It seems that the issue occurs just with this combination: using **OAuth2** and doing a **Post** to **/api/v1/organizations**.
If the authentication method is changed to Basic, the call is executed properly. The issue doesn't occur with any other API calls (that I have used so far). Please let me know if I need to provide more information.

**This call returns a 401:**
curl --header "Authorization

[2019-02-07 10:08] lociii commented on #2177
Hey folks,

my company (https://regiohelden.de) is also interested in extended functionality of the CTI.
As far as I know, there is a possibility to sponsor feature development on Zammad.
We're open to negotiate and support in this case.

Here's our wishlist:

Level 1:
The Zammad CTI Push API should support specifying a list of users (e.g. by their telephone number) which will get a notification f

[2019-02-07 10:12] MrGeneration commented on #2177
@lociii thanks for your interest in sponsoring the extension of this feature!
Before we can issue an inquiry, it's necessary to fill out arequirenment form that describes all features needed. These specifications will be what we will refer and work on (and well, giving you the price we think is needed).

You can contact us at sales [at] zammad [dot] com - we'll gadly work that out with you. :)

[2019-02-07 10:45] lociii commented on #2177
@MrGeneration thanks for the feedback. I've just submitted the inquiry.

[2019-02-08 11:55] SummerStorm opened #2467 "Add "received ticket merge" as an action condition for triggers"
### Infos:

* Used Zammad version: 2.8
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

This is a new feature request.

### Current behavior:
1. Ticket 1 is `closed` and ticket 2 is `open`.
2. Ticket 2 is merged into ticket 1, Ticket 2's new status is `merged`.
3. Ticket 1 is still closed, and

[2019-02-08 12:15] ghost opened #2468 "Broken elasticsearch for requests containing ":""
### Infos:

* Used Zammad version: `2.8.0-1549301377.48c6e6fe.xenial` (but also `2.8.0-1549301377.48c6e6fe.bionic`)
* Installation method (source, package, ..): `DEB package`
* Operating system: `Ubuntu 16.04.5 LTS` (but also on `Ubuntu 18.04.1 LTS`)
* Database + version: `PostgreSQL 9.5.14-0ubuntu0.16.04` (but also `MariaDB 1:10.1.38-0ubuntu0.18.04.1`)
* Elasticsearch version: `5.6.14`
* Browser

[2019-02-08 13:03] MrGeneration commented on #2468
I could verify this, this "only" affects the search function.
Reason for this is that Zammad doesn't seem to escape any string containing ":".

It does not check if this is a elasitcsearch field (like tags is) and thus elasticsearch fails.

We should extend Zammad to automatically detect that it needs to escabe the search string.
I'll update the search documentation accordingly, as escaping works

[2019-02-08 13:39] MrGeneration opened #2469 "Add information "Ticket merged" to History"
### Infos:

* Used Zammad version: 2.8
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Current behavior:

When merging a ticket into another, the destination ticket will only provide a link to the merged ticket. The history does not tell you that a ticket has been merged (merged articles a

[2019-02-08 14:08] HLFH commented on #2429
@MrGeneration Hi. Has your team taken a decision in the meeting?

[2019-02-08 14:17] MrGeneration commented on #2429
Oh yeah, sorry about that!

We decided that we should make one of the following three fields being a minimum to be required - this means it might be a combination or stand alone field being filled in:

* firstname
* lastname
* mail address

We also decided that the API should also restrict those things just like the UI does. This will make the usuage way more consistent.

[2019-02-10 03:03] gerroon opened #2470 "It cant be installed on Debian Buster"
Hi

It seems like the current debs from Debian 9 is not installable on Buster.

See the apt log below

[code]

[2019-02-10 08:41] #2399 closed, assigned to SummerStorm

[2019-02-10 11:02] #1589 closed

[2019-02-10 11:10] martini commented on #1589
Update: With Zammad 2.9 we introduce a system wide default time zone. It's set by the admin at initial setup, on updated instances at first login if an admin user or manual via Admin -> Settings -> Branding.

This system wide default time zone is also used for localised time displayed in trigger (autoreply/slack/...) notifications.

Note: Right now we do not support a user based timezone setting (

[2019-02-10 14:32] MrGeneration commented on #2470
Please note that we currently do not support Debian 10.

Please note that this is not a bug, but a problem with your OS. For technical questions please use our community: https://community.zammad.org/

Closing now.

[2019-02-10 14:33] #2470 closed, assigned to nobody

[2019-02-11 09:35] MrGeneration commented on #2308
I'll be closing this issue for now.
If you feel this is a mistake and the error still persists, please let us know here and provide the payload you used.

Otherwise we're not able to reproduce this.

[2019-02-11 09:35] #2308 closed, assigned to MrGeneration

[2019-02-11 09:35] MrGeneration commented on #2179
@danielduchon do you still have your old Zendesk instance for testing?

[2019-02-11 10:27] thorsteneckel commented on #2179
From a technical perspective I can say that this is the issue that was fixed with #2440 - thanks again to @anuzhin 😍 Closing now. @danielduchon  Feel free to leave feedback if doesn't solve your issue. Thanks!

[2019-02-11 10:27] #2179 closed, assigned to thorsteneckel, SummerStorm

[2019-02-11 16:24] MrGeneration commented on #2421
I could verify this.
I simply removed "body" which is a essential article information needed for creating a ticket with article.

Zammad replies the following:
[code]

But... the ticket gets created anyway, this really shouldn't happen!
![image](https://user-images.githubusercontent.com/6549061/52577173-d7278280-2e21-11e9-9298-18e1e87e969d.png)

My payload was:

[code]

[2019-02-12 15:57] erikaTEI opened #2471 "Chat can't be closed after timeout"
### Infos:

* Used Zammad version: 2.9.x
* Installation method (source, package, ..): Docker
* Operating system:Debian GNU/Linux 9
* Browser + version: Chrome

### Expected behavior:

* close the chat using the 'x' in the upper right corner when the session timeout.

### Actual behavior:

* the chat widget remains open.
Console message with debug mode:
chat debug || can't close widget without sess

[2019-02-12 23:56] intl808 opened #2472 "Trigger Behaviour Issues"
### Infos:

* Used Zammad version: 2.8.x
* Installation method (source, package, ..): DEB for ubuntu
* Operating system: Ubuntu 18.04.01 LTS
* Database + version: PostgreSQL 10.6
* Elasticsearch version: 5.6.14
* Browser + version: Chrome 71.0.3578.98 x64

### Expected behavior:

* Create a ticket update notification trigger that is internal - email only to agents.
* Create a ticket update notific

[2019-02-13 09:57] cscmvi opened #2473 "Backslash in email subject causes import to fail"
### Infos:

* Used Zammad version: 2.8.x
* Installation method (source, package, ..): package
* Operating system: debian
* Database + version:
* Elasticsearch version:
* Browser + version:

### Expected behavior:
An email would be processed as normal.

### Actual behavior:
Mail queue gets stuck.
Also an error message: Can't use Channel::Driver::Imap: #<Net::IMAP::ResponseParseError: unknown token

[2019-02-13 10:00] SummerStorm commented on #2473
Hi there, thanks for the report. Can you please fetch the problematic mail with a mail client, save its source as an `.eml` file, and upload it here?

[2019-02-13 10:18] cscmvi commented on #2473
Hello, here's the .eml file as an attachment.

br, Marko

On 13.2.2019 12.00, Billy Zhou wrote:

--
Marko Virtanen
SECLAN OY
Sumeliuksenkatu 18 B
FIN-33101 Tampere
P.+358 3 447 7790
P.+358 (0)400 757 440
www.seclan.com

[2019-02-13 10:20] MrGeneration commented on #2473
You can't add .eml-files as attachment to Github, could you please ZIP it? :)

[2019-02-13 10:21] cscmvi commented on #2473
[subject with a \ backslash.eml.zip](https://github.com/zammad/zammad/files/2859886/subject.with.a.backslash.eml.zip)

[2019-02-13 11:41] kmanojkumar commented on #435
There is a lot of advantage if GitLab issues and user accounts can directly be linked with Zammad. Because many of the enterprises do have community edition installed and use Zammad for support management. Login with GitLab is already there to complement: https://zammad-admin-documentation.readthedocs.io/en/latest/security-thirdparty/gitlab.html

[2019-02-14 04:53] #2424 closed, assigned to SummerStorm

[2019-02-14 16:11] ghost opened #2474 "Failed to run scheduled job 'Generate user based stats.'"
### Infos:

* Used Zammad version: 2.9.0
* Installation method (source, package, ..): RPM
* Operating system: CentOs 7.6.1810
* Database + version: PostgreSQL 9.6.11
* Elasticsearch version: 5.6.14
* Browser + version: Chrome 71.0.35

### Expected behavior:

Monitoring URL reporting no issues

### Actual behavior:
Monitoring URL reporting:

**Failed to run scheduled job 'Generate user based stats.

[2019-02-14 16:22] martini commented on #2474
Hi @modulec

it seems that your upgrade is not completed. Try the  following:

1) `zammad run rake db:migrate`
2) `zammad run rails r 'Scheduler.update_all(active: true)'`
3) restart zammad

Yes. It seems that you did not stop Zammad before starting the upgrade, can that be?

 -Martin

[2019-02-14 17:03] ghost commented on #2474
Indeed you are correct. After further analysis it seems that zammad was running while the package from repo was updated.

Running the mentioned commands resolved the issue.

Thank you.

[2019-02-14 18:41] martini commented on #2474
Thanks for feedback! @modulec

[2019-02-14 18:41] noezdev opened #2475 "ActiveRecord::ValueTooLong"
After upgrading to 2.9.x i have problems with updating certain tickets:

PG::StringDataRightTruncation: ERROR: value too long for type character varying(250) : UPDATE "tickets" SET "stateid" = $1, "preferences" = $2, "note" = $3, "closeat" = $4, "lastownerupdateat" = $5, "updatedbyid" = $6, "updatedat" = $7 WHERE "tickets"."id" = $8

In Logs:
I, [2019-02-14T19:39:32.424059 #30526-70135373919160]

[2019-02-15 04:49] SummerStorm commented on #2475
Hi there, thanks for the report.

1. Did this occur when using the web interface? Or did it occur when making an API call?

2. ~~I notice that you have three custom attributes for your ticket `"XX"=>XX, "XX"=>XX, "XX"=>"XX"`. Can you please verify that none of the input values are larger than 250 bytes? (Unicode characters could be up to 4 bytes long, so even a 100 characters string could conceiva

[2019-02-15 07:19] pgodzwa opened #2476 "Mysql2::Error: Data too long for column 'note'"
### Infos:

* Used Zammad version: 2.9.0 stable
* Installation method (source, package, ..): package
* Operating system: Ubuntu 16.04.5 LTS
* Database + version: mysql  Ver 14.14 Distrib 5.7.25
* Elasticsearch version: 5.6.14
* Browser + version: newest Chrome

### Expected behavior:

* Ticket successfully changes its status after clicking update button

### Actual behavior:

* Ticket doesn't chan

[2019-02-15 07:28] SummerStorm commented on #2476
#2475 is related. #2475 is the Postgres error message, while this one is the Mysql error message. I believe the underlying error is the same.

[2019-02-15 07:49] martini commented on #2476
@pgodzwa thanks for your response. I have one question regarding the `tickets.note` field. Currently there is no possibility to change this field in UI. Do you fill/use this field via API?

[2019-02-15 07:57] SummerStorm commented on #2476
This is related to commit dabce01ec, which added XSS sanitation to the Ticket note field. The note field is 250 bytes long, which is enough for most messages, previously. But the sanitation process added extra HTML elements to the message, which makes it now larger than 250 bytes.

[2019-02-15 07:58] SummerStorm commented on #2475
This is related to commit dabce01ec, which added XSS sanitation to the Ticket note field. The note field is 250 bytes long, which is enough for most messages, previously. But the sanitation process added extra HTML elements to the message, which makes it now larger than 250 bytes.

[2019-02-15 08:39] thorsteneckel commented on #2475
@noezdev - please always use the issue template and provide the required information. #2476 addresses the same issue and has the required issue template. Therefore I'll close this as a duplicate of #2476 .

[2019-02-15 08:39] #2475 closed, assigned to nobody

[2019-02-15 08:49] pgodzwa commented on #2476
Yes, first ticket message was created using api, but message that's visible in this error was sent as email reply.

[2019-02-15 08:57] thorsteneckel commented on #2476
@pgodzwa - as a workaround you have to either increase the size of the column manually via an SQL statement or temporarily remove the note. We're working on a fix 👍

[2019-02-15 09:27] SEGGER-NV opened #2477 "Uploading attachments >50 MB in web interface does not work and does not throw error"
### Infos:

* Used Zammad version: 2.8.x
* Installation method (source, package, ..): package
* Operating system: Debian 9
* Database + version:
* Elasticsearch version:
* Browser + version: Latest Firefox

### Expected behavior:

* Error message when trying to upload file larger than currently set max file size limit.
Also if possible being able to edit max file size limit. If I understood correc

[2019-02-15 12:45] martini opened #2478 "Unable to update ticket with IE11"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Update tickets with IE11

### Actual behavior:

* IE11 is not supporting html5 validation api, ticket will not get updated.

[2019-02-15 14:35] ghost commented on #2474
NP, tnx for quick help with this @martini. However while discussing this internally with colleagues maybe this still should be classified as a bug.

While indeed the zammad service was not stopped during upgrade procedure, and the proces is documenting that you should. It would be also very nice to incorporate and enforce this in the package itself.

In RPMs this can be done by using %pre block or

[2019-02-15 14:43] thorsteneckel commented on #2474
@monotek - can we apply the proposed changes in our package.io build?

[2019-02-15 15:22] monotek commented on #2474
this is already implemented: https://github.com/zammad/zammad/blob/develop/contrib/packager.io/postinstall.sh#L29

[2019-02-15 15:22] ghost commented on #2477
Hi @SEGGER-NV did you try to increase the default limit in nginx configuration?

/etc/nginx/conf.d/zammad.conf
client_max_body_size 50M;

[2019-02-15 15:36] thorsteneckel commented on #2474
We'll, that comes unexpected... Any idea why it's happening then? 🤔

[2019-02-15 15:46] monotek commented on #2474
no

[2019-02-15 16:00] SEGGER-NV commented on #2477
Hello,

Thank you for the hint. We have not tried editing that value yet.
But our issue is not that it has a fixed limit. The issue is that web interface users get no information when it fails and e.g. customers assume the upload was successful and wonder why the attachment is not in the ticket. So error information for the users is missing here.

[2019-02-15 16:00] ghost commented on #2474
I tried the following:

rpm -qp --scripts zammad-2.9.*.x86_64.rpm > zammad-script.txt

Attaching the extracted file

[zammad-script.txt](https://github.com/zammad/zammad/files/2869874/zammad-script.txt)

This section is in: **postinstall scriptlet (using /bin/sh):**

By that time, source will be already in place on the running zammad installation.

Is it possible that the schdeduler will trigger n

[2019-02-16 08:01] MrGeneration commented on #2477
Right now I'm not really sure if this is really a bug...
It's working fine with apache (so it's rather a problem in combination with the webserver)

![image](https://user-images.githubusercontent.com/6549061/52896132-c7ae8d80-31c3-11e9-9d3d-cfc33e4a4779.png)

I've raised my upload limit to 150MB which should be enough to. The upload does not finish after being at 100% for over 15minutes. My IO/Dis

[2019-02-16 12:20] thorsteneckel commented on #2478
This is a regression introduced by https://github.com/zammad/zammad/commit/f7a59c6bbd2c0373b13241e291abdf253bb1e49a - the fix for #2242.

[2019-02-17 06:08] nsrosenqvist commented on #372
Any timeline for this issue?

[2019-02-17 07:38] MrGeneration commented on #372
No timeline yet.
This is a feature backlog and we'll address it when there's time for it. :-)

We currently focus on the knowledgebase.
I'll lock this issue for further discussion, as there has been no further usefull input beside of pushing the issue. This is to reduce the noise for those who're watching this repo.

[2019-02-18 08:17] SEGGER-NV commented on #2477
Hi,

Good to see that it is reproducible. Really weird that it works with Apache instead. Do you get an error when you try to upload a file with Apache that is over the set file size limit?
Or was this already the case in your setup and the upload still worked?

[2019-02-18 08:18] #2478 closed, assigned to martini

[2019-02-18 17:49] tmswr commented on #2477
I'm seeing this issue with attachments of ~1mb. Max upload is set to 150mb on nginx. I get a POST 413 on ticket_attachment_upload (Request Entity Too Large)

![image](https://user-images.githubusercontent.com/44615905/52968547-2e25de00-3373-11e9-81fe-0825141a0cd4.png)

[2019-02-19 09:26] DeltaLima opened #2479 "Google+ API Shutdown on 7.3.2019 - Google Oauth Login will be broken (?)"
Hey folks! Google will shutdown Google+ APIs, including Google+ Sign-in. Zammad uses the plus.people.getOpenIdConnect method from the google+ api. On 7.3.2019 the API will be completely shutdown.
I guess the Oauth via Google will be broken after that date.
Is this already a topic on the roadmap for the next release?

Thanks and best regards!

### What steps will reproduce the problem?

See Google

[2019-02-19 09:42] MrGeneration commented on #967
Just a small follow up:

By now we know the costs of this project and that we want to start integrating this.
But: We need your help - this feature is quite expensive, so we're hoping to find contributors willing to help.

You can find further information in our community post:
https://community.zammad.org/t/feature-allow-agents-being-customer-in-other-groups-they-dont-have-access-to/2120

[2019-02-19 10:36] MrGeneration commented on #2479
This has been adressed with Zammad 2.9 already. (For the next time, please also don't write "latest repo package", as this might change daily).

You'll receive this information even if you're or Zammad is not using this API-Part anymore, but still have this activated. You can deactivate this feature and you'll see, it will still work. :-)

[2019-02-19 10:36] #2479 closed, assigned to MrGeneration

[2019-02-19 10:38] thorsteneckel commented on #2479
For the record: [This](https://github.com/zammad/zammad/commit/6870c11103df41b43ba8031adc387a68f925a3e5#diff-e79a60dc6b85309ae70a6ea8261eaf95) is the corresponding commit.

[2019-02-19 12:10] MrGeneration commented on #2417
I haven't received any feedback and have no system to reproduce this cleanly.
Thus I'm closing this issue.

If you're feeling this is a mistake, please provide a use case and clear instructions what to do (especially in terms on what mailing system is being used)

[2019-02-19 12:10] #2417 closed, assigned to MrGeneration

[2019-02-19 17:57] fthommen opened #2481 "Javascript Error "TypeError: e is undefined" when forwarding (not always)"
### Infos:

* Used Zammad version: 2.9.0-1550483988.7f4899e0.jessie
* Installation method (source, package, ..): deb from Zammad repository
* Operating system: Debian 8 Jessie
* Database + version: MariaDB 10.0.38-0+deb8u1
* Elasticsearch version: 5.6.15
* Browser + version: Firefox 52.8.0 ESR (Linux)

### Expected behavior:

Clicking on the "forward" icon fills a new post with the to-be-forwarded

[2019-02-19 18:35] fthommen opened #2482 "HTML E-Mail: Problems processing long paragraph with single lines (white-space:pre-wrap)"
### Infos:

* Used Zammad version: 2.9.0-1550483988.7f4899e0.jessie
* Installation method (source, package, ..): deb from Zammad repository
* Operating system: Debian 8 Jessie
* Database + version: MariaDB 10.0.38-0+deb8u1
* Elasticsearch version: 5.6.15
* Browser + version: Firefox 52.8.0 ESR (Linux)

### General:

Please excuse the generic title.  I wasn't sure how to properly describe the probl

[2019-02-19 18:35] fthommen commented on #2481
The problem might be the overly long line generated by #2482

[2019-02-19 19:50] darkpixel commented on #531
Maybe it doesn't have to be a 'merge', but rather a linking of accounts.  I have users with multiple email addresses.  Simply being able to say that john.smith@example.tld is the same user as jsmith@someother.tld would be helpful so either login can be used to see tickets for both 'accounts'.

[2019-02-20 08:48] lobiman commented on #2244
I'm also interested if there are any news.

[2019-02-20 08:51] MrGeneration commented on #2244
No news yet, this is an enhancement that we'll work on when we find time for it.
Sorry about that.

I'm locking this conversation, as there has been no new input to reduce the noise on this repo.

[2019-02-20 15:33] MrGeneration opened #2483 "#{article.body_as_html} now includes attachments (e.g. PDFs)"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* When using `#{article.body_as_html}` for sending out Article-Content, Zammad will only send the HTML-Content (Text, Formatting and Inline-Images) via Mail to the recipient.

### Act

[2019-02-20 15:47] MrGeneration opened #2484 "#{article.body_as_html} is missing within the variable list"
### Infos:

* Used Zammad version: 2.9 and older
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* When pressing `::` in the admin-backend (e.g. within triggers), Zammad will displays a complete list of variables.

### Actual behavior:

* When pressing `::` in the admin

[2019-02-20 16:44] MrGeneration opened #2485 "Add attachment via Trigger and scheduler if wanted by admin"
### Infos:

* Used Zammad version: 2.9 and older
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* T#1073863, 1078540, 1084808

### Expected behavior:

* A possibility to send out article attachments via Trigger, if wanted.

### Actual behavior:

* No option to send out article attachments via

[2019-02-21 06:32] martini opened #2486 "Unable to process email on CentOS with large images but only 1px height"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): any
* Operating system: CentOS7
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Process email

### Actual behavior:

* Scheduler will die if image is not resizable (because height smaller then 1 px)

[code]

### Steps to reproduce the behavior:

* `cat test

[2019-02-21 08:43] SummerStorm commented on #2469
New feature added via 6d7480a.

[2019-02-21 08:43] #2469 closed, assigned to SummerStorm

[2019-02-21 13:41] aliva commented on #1834
I have manually edited `application_wrapper.html.erb` and changed  this line

[code]

to this

[code]

And now all emails are RTL.

[2019-02-21 15:51] aemir opened #2487 "Forwarding: Attachment is missing if original HTML Mail contains an image"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): package
* Operating system: Ubuntu 18.04
* Database + version: x
* Elasticsearch version: x
* Browser + version: Firefox 65.0

### Expected behavior:

* An forwarded Email contains all attachments of the original mail

### Actual behavior:

* Some forwarded Emails are missing the attachment of the original mail

##

[2019-02-22 07:23] #2486 closed, assigned to martini

[2019-02-22 17:51] ocerecedo opened #2488 "Zammad with Davmail"
Hello, I have an exchange account that I want to use with zammad, I could not natively because my exchange server does not support pop, imap, smtp. I was able to configure Davmail to use exchange but the emails are not downloaded from the exchange server to zammad, they could support me by telling me where the error might be.

Centos 7
Zammad 2.9
Davmail

Thank you !.

[2019-02-22 17:56] MrGeneration commented on #2488
Hello and welcome to Zammad!

This is a technical question, please head over to our Community ( https://community.zammad.org/ ).
This is a tracker for Issues only.

Please note that Zammad relies on POP3/IMAP and SMTP - other Protocolls like e.g. ActiveSync are not possible. When posting to the community, please also include your production log `/opt/zammad/log/production.log` as otherwise it's im

[2019-02-22 17:56] #2488 closed, assigned to nobody

[2019-02-23 14:02] aliva opened #2489 "Add libimlib2-dev for deb as dependency on ubuntu 18.04"
I'm trying to install zammad deb on ubuntu 18.04 and I get this error while installling

[code]
checking installed packages:

[code]

after installing `libimlib2-dev` I could install zammad, so I think `libimlib2-dev` should be added to deb dependencies or mentioned in docs.

[2019-02-23 15:03] MrGeneration commented on #2489
I added a change request for the ubuntu 18.04 repo, this is the only one which dependencies are different.

A developer will take a look and give feedback.

Thanks for the hint!

[2019-02-24 13:05] martini commented on #2489
@aliva thanks for the hint. Indeed it was missing. It's not also fixed in stable.

[2019-02-24 13:05] #2489 closed, assigned to MrGeneration

[2019-02-24 13:11] martini opened #2491 "Fixes #2491 - Email is not processed if filename of attachement is just a "space" like `Content-Disposition: inline; filename="=?utf-8?b??="`."
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): any
* Operating system: an
* Database + version: an
* Elasticsearch version: an
* Browser + version: an

### Expected behavior:

* Create an expected filename like 'image.jpg' for attachments with non existing file names.

### Actual behavior:

* Mail is not processed

### Steps to reproduce the behavior:

* `cat t

[2019-02-24 14:54] #2491 closed, assigned to martini

[2019-02-25 09:38] martini opened #2492 "Macro is not executed on ticket zoom with tree select option in macro."
### Infos:

* Used Zammad version: 2.9.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Update Ticket via macro as usual.

### Actual behavior:

* Unable to update ticket via macro and tree_select attribute not possible.

### Steps to reproduce the behaviour:

* crea

[2019-02-25 13:47] fthommen opened #2493 "Mails with "Content-Type: text/plain" not displayed with monospaced fonts"
### Infos:

* Used Zammad version: 2.9.0-1550483988.7f4899e0.jessie
* Installation method (source, package, ..): deb from Zammad repository
* Operating system: Debian 8 Jessie
* Database + version: MariaDB 10.0.38-0+deb8u1
* Elasticsearch version: 5.6.15
* Browser + version: Firefox 52.8.0 ESR (Linux)

### Expected behavior:

Display text-based tables as

[code]

### Actual behavior:

Display text

[2019-02-25 14:07] Boldewyn opened #2494 "Plus characters are stripped from email addresses and urls in ticket body"
### Infos:

* Used Zammad version: 2.9.0
* Installation method (source, package, ..): source
* Operating system: Debian
* Database + version: ?
* Elasticsearch version: ?
* Browser + version: Firefox, Chrome, latest each
~~* Ticket-ID: #1041339, #1077487~~

### Expected behavior:

* Zammad should not strip `+` characters from email addresses in ticket bodies
* Zammad should not strip `+` character

[2019-02-25 14:39] MrGeneration commented on #2493
Thanks for your contribution.
However: This is not a bug, but rather an enhancement request.

Zammad currently does not support text E-Mails which is why it also does not support monospace.

Beside, this is a duplicate of: #1055 and #325  which is why I will close this issue.
We currently have no roadmap in implementing this, as we're focussing on other points in Zammad.
You can discuss this featu

[2019-02-25 14:39] #2493 closed, assigned to nobody

[2019-02-25 14:59] AchMol opened #2495 "Session.jobs crashes regualary"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): apt package
* Operating system: Ubuntu 16.04
* Database + version: mysql  Ver 14.14 Distrib 5.7.25, for Linux (x86_64)
* Elasticsearch version:
* Browser + version: Firefox

### Expected behavior:

* Running without crash

### Actual behavior:

* Session.jobs crashes regualary

### Steps to reproduce the behavior:

[2019-02-25 15:27] pgodzwa commented on #2487
For me forwarding attachment is not working at all, no matter if HTML is in the message content or not.

I've created ticket with message "test" and attached "file.jpg".
When I want to forward this mail, attached file is not getting added to the editor.

[2019-02-25 16:04] fthommen commented on #2493
Two comments:
1.  this is _not_ a duplicate of #1055 or #325 even though it touches a similar topic, but this issue is _not_ about disabling HTML emails (#325) and it is _not_ about editing tickets (#1055)
2. Zammad does support posting tickets by mail.  As such it must (IMHO) support text mails.  You cannot force users to send html mails (how would they know anyway, that they have to send formatt

[2019-02-25 16:59] MrGeneration commented on #2493
Personally I think this partially affects both mentioned issues above.
If not, this is a feature request.

Github is the wrong place for Feature Requests - please use our Community (https://community.zammad.org) for this - we're also using our community for determining the overall need of features.

[2019-02-26 08:42] lorenzgroup commented on #2487
Same with me, with Zammad 2.9 the Attachment is missing in forwarded mails.

[2019-02-26 16:52] MrGeneration commented on #2495
Please provide your production log of the time where this happens as this is quite hard to reproduce.

[2019-02-26 17:00] MrGeneration commented on #2494
Please note that this only affects E-Mail-Adresses n HTML-E-Mails that live within a "mailto" so get converted into a link by your E-Mail-Program before sending.

Sample:
[code]

[2019-02-27 07:55] martini opened #2497 "Missing business hours validation for calendars creates infinitive loop (also for background jobs)"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* validate business hours on creating or updating a calendar

### Actual behavior:

* You can reproduce a infinitive loop by using this:

[code]

So business hours validation is requi

[2019-02-27 09:20] lsergei opened #2498 "Japanese encoding 7-bit iso-2022-jp is processed incorrectly"
### Infos:

* Used Zammad version: latest version 2.9.x
* Installation method (source, package, ..): package
* Operating system: CentOS 7.1
* Database + version: Postgres
* Elasticsearch version:
* Browser + version: All browsers
* Ticket-ID: #1042716 (1047950, 1076276)

### Expected behavior:

Normal processing of all japanese language email messages.

### Actual behavior:

While processing email

[2019-02-27 09:22] thorsteneckel commented on #2498
Konnichiwa @lsergei - could you please provide a complete example mail that we then can use for our test suite? That would help a lot. Thanks!

[2019-02-27 09:25] lsergei commented on #2498
Konnichiwa @thorsteneckel, thank you for the fast response.

How you'd like me to forward you a problematic message? Just forwarding it might (and most likely will) replace headers

[2019-02-27 09:27] thorsteneckel commented on #2498
Usually the mail program has an option to save a raw mail to `.eml` format. For Apple Mail e.g. it's just `File -> Save As`. Please make sure to open that file in a regular text editor and remove all sensitive data before uploading it here.

[2019-02-27 09:39] lsergei commented on #2498
@thorsteneckel thank you for the explanation. Please see the message enclosed.
As GitHub doesn't support uploading of eml files, file extension was changed to txt.

[メルマガ解除.txt](https://github.com/zammad/zammad/files/2909502/default.txt)

[2019-02-27 10:37] mpkps opened #2499 "eml-File Attachments will be destroyed by zammad"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): zammad repo, debian package
* Operating system: Ubuntu Server 18.04
* Database + version: postgresql 10
* Elasticsearch version: 5.6.14
* Browser + version: Chrome 72.0.3626.109

### Expected behavior:

* Customers should be able to receive eml-files in email attachments without modifications by zammad

### Actual

[2019-02-27 10:41] MrGeneration commented on #2499
This comes from: https://community.zammad.org/t/eml-file-attachments-will-be-destroyed-by-zammad/2142 and has already been verified by me.

[2019-02-27 10:45] MrGeneration commented on #2498
Domo arigato!
Issue is verified, we'll update this issue as soon as we're ablet to work on it.

[2019-02-27 15:02] #2492 closed, assigned to martini

[2019-02-28 08:06] gschnepp opened #2500 "Can’t process email <ActiveRecord::RecordNotFound>"
### Infos:
* Used Zammad version: 2.8.0
* Used Zammad installation source: source
* Operating system: Debian
* Browser + version: Firefox (Win 10)

### Expected behavior:

* Tried to process an own test e-mail to Zammad which was desired to import correctly. e-mail import works just fine (e-mail is taken from IMAP), but can't be processed further actually.

### Actual behavior:

* Ticket e-mail ca

[2019-02-28 14:19] waja commented on #1596
We also DO forward (our mail clients support the resend feature, which we use) mails to the address of the ticketsystem when getting mails to personal email adresses.
It would be cool to have an option to operate on the `Resent-To` header as described in [RFC4021](https://tools.ietf.org/html/rfc4021#section-2.1.17) with filters. I think https://github.com/zammad/zammad/blob/develop/app/models/chan

[2019-03-01 04:14] gschnepp commented on #2500
No idea why, but everything works as of today suddenly. Changed nothing, no updates, ...  :-/  Ticket left open for now, maybe the team still has interest to have a look on it.

Only cause I can imagine is that the last test happened short after OTRS import any system still may've been busy with indexing ...

[2019-03-02 12:12] chrstmnn opened #2502 "Dashboard and Activities empty"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): yum
* Operating system: centOS
* Database + version:
* Elasticsearch version:
* Browser + version: Safari 12.0.3 / Chrome 72.0.3626.119

### Expected behavior:

* Opening Zammad should show Dashboard and the latest activities
* Reloading the Zammad Page / Dashboard should show Dashboard and Activities

### Actual b

[2019-03-02 12:34] #2502 closed, assigned to nobody

[2019-03-04 08:24] AchMol commented on #2495
After weeks of problems it is working now as expected for some days and I don't know why... ;-)

I will reopen this issue if it happens again...

[2019-03-04 08:24] #2495 closed, assigned to nobody

[2019-03-04 17:43] wzrdtales opened #2503 "Users can create account even when registration is disabled"
### Infos:

* Used Zammad version: 2.9.x and newer
* Installation method (source, package, ..): helm
* Operating system: docker provided
* Database + version: postgresql from helm
* Elasticsearch version: postgresql from helm
* Browser + version: firefox latest
* Note: This article has been edited by @MrGeneration to meet our current requirements and provide a fully featured enhancement. This enha

[2019-03-04 18:44] martini opened #2504 "Login into Zammad not possible, application server `puma` will raise 100% or more cpu"
### Infos:

* Used Zammad version: 2.9.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Zammad should work fast and fine.

### Actual behavior:

* Sometimes the application server puma will raise 100% or more CPU time and not login into Zammad is possible anymore.

#

[2019-03-05 05:02] #2504 closed, assigned to martini

[2019-03-05 08:17] cyberrranger opened #2505 "Wrong language on login screen"
*This has been partly updated by @MrGeneration to meet our needed forms*
*there is also another customer running into this problem T#1060510*

### Infos:

* Used Zammad version: "2.9.x"
* Installation method (source, package, ..): docker-compose
* Operating system: Linux
* Database + version:  postgresql "2.9.x"
* Elasticsearch version: "2.9.x"
* Browser + version: Current Chrome (72)
* Ticket-ID:

[2019-03-05 08:54] chessmango opened #2506 "Default not set for 'select' objects"
### Infos:

* Used Zammad version: 2.9.x
* Installation method (source, package, ..): package
* Operating system: Ubuntu 16.04
* Database + version: PostgreSQL 9.5.14
* Elasticsearch version: 5.6.15
* Browser + version: Chrome 72, Firefox 65

### Expected behavior:

When using 'select' format for a ticket object, setting the default key sets this for tickets created from any channels.

### Actual

[2019-03-05 10:01] MrGeneration commented on #2503
Thanks for your contribution.
This is actually working as designed and not a bug.

Currently every customer in your Zammad-Instance is also a user account.
Those can be created via E-Mail as well as  via WebApp, the main difference is that I could create dozens of customer-accounts without one single ticket via WebApp as I am not forced to create a ticket upon login / registration.

To completely

[2019-03-05 10:04] wzrdtales commented on #2503
So this is insecure by design? Password resetting is a completely different topic from registering an account.

Of course the customers should be able to use the WebApp, but not every user sending a mail into a system is a customer. But exactly this is the case for zammad currently. If you disable the registration, it should not be possible to register an account unless you have been registered ex

[2019-03-05 10:07] wzrdtales commented on #2503
And this is a problem, since there is currently no real spam protection (no captcha or alternative approaches like PoW), which can be especially via the webapp hardly abused.

[2019-03-05 10:10] MrGeneration commented on #2043
@dsukhin is this topic still up to date or did the problem disappear with the last versions?

[2019-03-05 12:52] dennisoderwald commented on #2487
+1

[2019-03-05 13:06] martini commented on #2483
@MrGeneration can you attach an email to be able to reproduce this issue? Thanks!

[2019-03-05 14:52] MrGeneration commented on #2506
This is a duplicate of https://github.com/zammad/zammad/issues/1653

[2019-03-05 14:52] #2506 closed, assigned to nobody

[2019-03-05 18:30] MrGeneration commented on #2483
Hey,

please find attached:
[examples-for-reproducing.zip](https://github.com/zammad/zammad/files/2932268/examples-for-reproducing.zip)

Also, I have to correct myself: This only applies to HTML-Mails, so this is completely different on both ways. I updated my first article arcodingly.

[2019-03-06 12:18] EmileSpecs opened #2507 "PDF Attachments are corrupted into blank pages"
### Infos:

* Used Zammad version: 2.9.x
* Installation method (source, package, ..): package
* Operating system: Ubuntu 16.04.6
* Database + version: mysql  Ver 14.14 Distrib 5.7.25
* Elasticsearch version: 5.6.15
* Browser + version: Chrome 72.0.3626.119

### Expected behavior:

Downloaded PDF file should have content and not be empty (blank).

### Actual behavior:

Certain PDF attachments are b

[2019-03-06 12:37] SummerStorm commented on #2507
Hi, there. I just tried sending your provided PDF file to Zammad and it worked fine. Can you please try sending the file to your own Zammad instance twice to confirm that it indeed occurs every time with the same file? Did this occur on only one PDF file or did it occur on a certain percentage of your PDF files?

[2019-03-06 12:53] EmileSpecs commented on #2507
Hi @SummerStorm, thanks for the quick response.

I've also now sent it to Zammad via email and it also opens just fine. Very strange.
This happens with PDF's from two clients in particular.

What doesn't make sense to me however, is that the file works when I open it from an email client but does not when it's opened in Zammad (when received from the client's email address).

Thus when received fr

[2019-03-06 12:57] MrGeneration commented on #2507
Can you please download the RAW-EML-File from the article with the attachment and check if the attached PDF inside the eml-file is fine? If it is, then the issue is caused somewhere within Zammad, if it's blank already at this state, it's most proberbly a communication problem between Zammad and your mail system (or your mail system broke things, but if you fetched the "original" mail from the exa

[2019-03-06 13:05] EmileSpecs commented on #2507
I've downloaded the email, see attached.

It's using a strange encoding method ("quoted-printable"):
Content-Type: application/pdf;
	name="Tax Invoice  INX4183.PDF"
Content-Transfer-Encoding: quoted-printable
Content-Disposition: attachment;
	filename="Tax Invoice  INX4183.PDF"

Email clients seem to handle this encoding fine, but Zammad does not seem to like it.
This is probably the issue?

You'l

[2019-03-06 13:13] MrGeneration commented on #2503
We've been discussing this issue internally and found that the use case is valid.
Currently we need to think of a solution that adresses this issue, but does not disable other possible use cases.

We'll update the issue as soon as there's news for it.
Sorry for the back and forth!

[2019-03-06 13:13] SummerStorm commented on #2507
Thanks for the raw email! We can reproduce this issue now. It's indeed a problem with Zammad's handling of quoted-printable encoded emails.

[2019-03-06 15:57] wzrdtales commented on #2503
Suggestion:

Add a validation to accounts created by e-mail, and give an option to the agents to enable those accounts for registration, which will send out an email to the customer with the link to set his password. This way the whole process would be clean, since also the user is properly involved and informed of how to proceed.

[2019-03-07 12:04] antondollmaier opened #2508 "Backup permission issue: Could not change directory"
### Infos:

* Used Zammad version: 2.9.0-1551759158.fdc9ddac.stretch
* Installation method (source, package, ..): deb
* Operating system: Debian Stretch
* Database + version: Postgresql 9.6
* Elasticsearch version: 5.6.15
* Browser + version: not relevant

### Expected behavior:

* when running `zammad_backup.sh` as root as a cronjob, no errors should be shown.

### Actual behavior:

* Cronjob:
[c

[2019-03-07 12:27] monotek commented on #2508
Why would you want to use the root user if the zammad user can do the job?

[2019-03-07 12:46] MrGeneration commented on #2508
This only applies to the root user, as @monotek  already mentioned, the root user is normally not the user you'd want the cronjob run as.

Personally I don't think this is a real issue and I also wouldn't change the script "just because root throws an error".

However: If you want to keep using roots crontab for this backup job, you could put a `cd /where/ever/you/please/; /opt.....` in front if t

[2019-03-07 13:16] antondollmaier commented on #2508
Because it can't, at least according to this:

[code]

Am I missing something again? The [docs](https://docs.zammad.org/en/latest/appendix-backup-and-restore.html) don't show any indication, but with "su" involved root is probably the best choice.

Re crontab: That's the current solution and working. I've personally used the approach via `cd $(dirname $(readlink -f $0))` approach over crontab, as

[2019-03-07 13:19] MrGeneration commented on #2508
Well permission denied simply tells you that the used user doesn't have access.
So you'd basically want to at least `chown -R zammad /var/tmp/zammad_backup/` to fix the permissions.

Edit: First permission denied on /root happens, because you're simply doing a "su zammad" while being in /root.

[2019-03-07 13:32] antondollmaier commented on #2508
Thanks for pointing this out - but I was mostly referring to "su" requesting the password to act as "postgres"-User.

To clarify:

[code]

But sure, if you don't deem this as relevant, let's leave it as it is and I will keep the cronjob with the explicit cd.

[2019-03-07 13:36] monotek commented on #2508
damn, maybe zammad user only works with mysql backups.
sorry, don't realy have the time to look at the code or test it now.

i'll assign to me and do that later...

[2019-03-07 13:40] antondollmaier commented on #2508
Hi,

No need, I'd be happy to contribute.

To summarize:

* the backup script should be running with "zammad" user
* my initial fix is then irrelevant (or at least very low prio)

I'd extend my initial pull request.

[2019-03-07 13:46] MrGeneration commented on #1830
Heya,

sorry for the huuugeee delay on this.
This works as designed, you'd want to change your trigger.

Basically you need to decide if your trigger wants to inform the ticket customer or the sender of the last article. Customer will be the customer you set (this will be different when on initial ticket creation, as Zammad will set the correct customer here according to the last article sender).

[2019-03-07 13:46] #1830 closed

[2019-03-07 14:28] MrGeneration commented on #2089
Hey,

sorry I can't really get the issue here or rather can't reproduce this.

## What I did

* I changed the timezone of my Zammad-Server to GMT +10 Australian time
* I could verify this. as long as my browser did not have the correct timezone (by default it has +1 because of my location)
* I then disabled geo location services within Zammad and installed a addon manually adjusting my timezone fr

[2019-03-08 00:27] chesty commented on #2089
Thank you. Maybe it's fixed now.
I've changed position and no longer admin zammad, I haven't been using zammad or keeping an eye on development.

[2019-03-08 14:13] MrGeneration commented on #2471
In my case I did not see any console errors, but however, I cannot close it.

[2019-03-08 15:17] MrGeneration commented on #2473
Hey,

sorry for the delay! Can you please check if the error still persists?
I can't reproduce this on a Hosted and Selfhosted setup.

[2019-03-09 05:55] dsukhin commented on #2043
@MrGeneration, i am still on a forked version of 2.5 since the two way sync PR hasn't had any movement and its critical for my organization. I have been meaning to merge back the changes to keep the PR fresh - would love to understand more about why its not considered a mergeable feature even tho its fully optional and useful for many orgs/scenarios if only to keep a data backup on an open protool

[2019-03-10 12:26] DRSchlaubi commented on #1227
Any updates on this?

[2019-03-10 13:52] MrGeneration commented on #1227
There aren't any news yet. This is a feature backlog which we might address when we're ready.
We currently focus on our knowledgebase - sorry about that.

You're always welcome to contribute with Pull-Requests or Custom Developments, if you want to.
I'll be locking this conversation for now, as there hasn't been any updates on this.
As soon we're working on this topic, we'll update this issue.

[2019-03-11 07:44] antboll opened #2510 "Zammad Customers shown as Agents in IE"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): Packages
* Operating system: Cent OS
* Database + version:
* Elasticsearch version:
* Browser + version: IE 11.590.17134.0; Firefox 65.0.2
* Ticket-ID: #1040378, #1038208, #1041753, #1042609

### Expected behavior:

If I Assign a ticket to an Agent only the Agents where shown in dropdown list

### Actual behavior:

[2019-03-11 08:08] MrGeneration commented on #2510
Hey,

sorry but I can't reproduce this.
Can you please give us more information?

E.g.: Does this only affect one customer and if so, can you please provde a screen of this user configuration? (e.g. role assignment to the customer and his rights).

Please provide a detailed description on how to reproduce this behavior, other wise we can't reproduce this.

[2019-03-11 09:07] MrGeneration opened #2511 "Overview "last contact" not being updated if no agent reacted on it (yet)"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): applies to all installation methods, tested on Hosted setup
* Operating system: any
* Database + version:  any
* Elasticsearch version: any
* Browser + version: Google Chrome 72.0.3626.121; (just to ensure) Internet Explorer 11.316.17763.0
* Ticket-IDs: #1039133, #1050952

### Expected behavior:

* Zammad will upda

[2019-03-11 10:46] #2473 closed, assigned to MrGeneration

[2019-03-11 10:46] JW-Joey opened #2512 "Email signature logo not possible."
* Used Zammad version: 2.8.X
* Installation method: Package
* Operating system: Debian
* Database + version: MariaDB - 10.1.37
* Elasticsearch version: X
* Browser + version: Mozilla Firefox

### Expected behavior:

Logo in email signature.

### Actual behavior:

Cant place a logo in the email signature

### Steps to reproduce the behavior:

Try and place a logo in the email signature.

Yes I'm su

[2019-03-11 10:57] MrGeneration commented on #2512
Sorry but I can't reproduce this.
Copying images into the signature works like a charm. (Chrome and Firefox in current versions).

Please provide a detailed list on how to reproduce this - I'll close this for now.

[2019-03-11 10:57] #2512 closed, assigned to nobody

[2019-03-11 11:36] JW-Joey commented on #2512
Managed to copy the image into the signature, Now running into the problem of it not staying there once i press save.

Seems it was browser related, Still having the issue above however.

[2019-03-11 11:42] MrGeneration commented on #2512
I can not reproduce that.
For technical assistance, please refer our Community (https://community.zammad.org) - our Issue-Tracker is the wrong place for this!

I have tested this with a current Firefox.

[2019-03-11 17:17] #2483 closed, assigned to SummerStorm

[2019-03-11 17:17] #2487 closed, assigned to MrGeneration

[2019-03-11 18:05] MrGeneration opened #2513 "Copying images inbetween articles of Zammad impossible"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-IDs: #1039044

### Expected behavior:

* When right clicking on a image within an article and then pressing "copy image", you can use the copied image to insert it at any place (word, github, another

[2019-03-11 22:20] #2497 closed, assigned to martini

[2019-03-12 08:22] MrGeneration commented on #2513
Duplicate of #2192

[2019-03-12 08:22] #2513 closed, assigned to nobody

[2019-03-12 09:50] Stoef23 commented on #2142
I have installed Zammad 2.9.0 with also over 100k tickets and the search function is still limited to 50 and no pagination. It's useless like this. Are there any plans to fix this?

[2019-03-12 10:01] MrGeneration commented on #2142
We currently have no roadmap on this. We will update this issue as soon as we're working on this / having plans. Sorry about that.

[2019-03-12 10:05] thorsteneckel commented on #2142
Hi @Stoef23 - wow, 100k tickets is quite nice. Reads like you're using/evaluating Zammad in a professional enterprise environment. We'd love to improve your/the situation! However, as you already wrote this affects only larger setups. We're currently focusing on functionalities from which the broad user base profits most. If you're interested in getting this functionality forward please make sure

[2019-03-12 10:09] martini commented on #2189
Update: Rails current active job backend is logging the time how long a job took.

Example:

`INFO -- : Performed SearchIndexJob (Job ID: 7daf586b-f17c-4d92-8d87-8f2c5b2b9aa2) from DelayedJob(default) in **45.89ms**`

So I close this issue because not change is needed anymore.

[2019-03-12 10:09] #2189 closed, assigned to martini

[2019-03-12 10:46] Stoef23 commented on #2142
I did install Zammad 2.9 and tested a migration from OTRS. That's why i had so many tickets from the beginning. All worked fine, but the search function seemed to be buggy. Thank you for letting me know.

[2019-03-12 11:05] adonno commented on #361
is there a way to import from Best Practical RT to Zammad ?

[2019-03-12 11:08] MrGeneration opened #2514 "Zammad Webcam-Avatar-Feature broken"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Currently Chrome only, but other browsers will follow soon

### Expected behavior:

* You can create a new avatar in Zammad with your Webcam.

### Actual behavior:

* When trying to create a webcam avatar, the we

[2019-03-12 12:04] Darko2906 commented on #2142
Hi @Stoef23 - We came from the same point. We also migrated 100k+ from OTRS and have 160k Tickets in Zammad now.

Our agents work around this issue with the advanced search. For us it works well so far. Maybe it´ll help you to:

https://user-docs.zammad.org/en/latest/advanced/search.html

[2019-03-12 12:18] MrGeneration commented on #361
Sorry, but please don't recycle closed issues like that.
This Issue Tracker is the wrong place for technical questions like that, please consult our Community: https://community.zammad.org .

Beside we don't have any best practise for request tracker to Zammad-Migration. If Request Tracker has an API, you could use that.

[2019-03-12 23:02] zifeo commented on #1113
@thorsteneckel Is there a way of overwrite easily the configuration using docker-compose?

[2019-03-12 23:06] MrGeneration commented on #1113
Please don't recycle closed issues.
Also, this is the wrong repository.

You can either consult our community (https://community.zammad.org) or consult the docker repo: https://github.com/zammad/zammad-docker-compose

[2019-03-13 07:16] EmileSpecs commented on #2507
Thanks @SummerStorm and @MrGeneration for the confirmation.

Approximately how long would it take to fix a bug like this?

[2019-03-13 07:32] MrGeneration commented on #2507
Hey @EmileSpecs

this issue is on our list. I'm afraid that I currently can't give you an approximate fixe date.
We currently focus on issues that affect more users (that doesn't mean, that this issue isn't important!).

Sorry about the waiting time.

[2019-03-13 15:20] MrGeneration commented on #2511
(Small) addition to this issue:
This also applies if the agent replied to the customer and the customer replied more than once!
So Zammad only logs the first update as "last contact", but not the second.

![image](https://user-images.githubusercontent.com/6549061/54291054-4a9ceb00-45ac-11e9-98a0-45c91920074d.png)

[2019-03-14 07:17] martini commented on #2514
@mrflix I found the problem:

    @video.get(0).srcObject = stream

[2019-03-14 10:56] MrGeneration commented on #2089
My bad! Sorry about that.
Martin could verify this and I indirectly already did as well, I didn't notice that it does only affect the graph (which I did ignore and did not notice that it didn't move at all).

We'll reopen this and are working on adressing it.

[2019-03-15 15:23] martinvonwittich commented on #2503
Further suggestions:

- Add an option that allows password resets only for accounts that already have a password.
- Add an option to limit password resets to a list of roles so that admins can limit password resets e.g. to agents.

[2019-03-16 23:42] MrGeneration commented on #2510
Nevermind, I now could verify it. My bad!

[2019-03-18 12:17] MrGeneration commented on #2514
Working now again in Chrome and Edge.

On Internet Explorer the Camera-Button is missing completely.
![image](https://user-images.githubusercontent.com/6549061/54529443-337d4500-4980-11e9-8090-5e066ca24cf1.png)

[2019-03-18 12:38] mrflix commented on #2514
We're doing a feature check here and only show the button if the browser gives us webcam access.

[2019-03-18 12:48] SummerStorm commented on #2464
Fixed by ff0330d. Closing.

[2019-03-18 12:48] #2464 closed, assigned to thorsteneckel

[2019-03-18 13:53] MrGeneration commented on #2514
Okay, thanks for clarification, this seems to be fixed then!

[2019-03-18 13:53] #2514 closed, assigned to mrflix

[2019-03-18 16:45] MrGeneration opened #2515 "Add Organization mapping/adding to LDAP and Exchange sync"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Current function
Currently it's not possible to synchronize or map organizations with users by using ldap or exchange, as long as you don't use domain based organizations (and the user is created new)

#

[2019-03-18 19:14] sstidl opened #2516 "trigger email notification UI defective on removal of recipient"
### Infos:

* Used Zammad version: 2.9.x docker as of 18th of march 2019
* Installation method (source, package, ..): docker REPO=zammad/zammad-docker-compose
* Operating system: debian 9
* Database + version: docker default
* Elasticsearch version: docker default
* Browser + version: docker default

### Expected behavior:

*  in Trigger Edit mode, Action "Email" works like expected: removing some

[2019-03-19 03:57] ton3r commented on #435
We are currently evaluating  Support Management Systems. Zammad seems a good way for us. And a Gitlab integration like @maximegaillard described, would be very very nice

[2019-03-19 11:02] MrGeneration commented on #2505
Thanks for your contribution!
I could verify this, the position of russian language does not matter and will override whatever language.

I cross testet this with spanish and this doesn't happen there. Seems to only affect for whatever reason.

[2019-03-19 12:50] MrGeneration opened #2517 "Elasticsearch throws error 500 when filtering for owner or custom dropdown-fields inside of report profiles"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1040382, #1040286 (#1043261), #1041524, #1047720, #1079579

### Expected behavior:

* When filtering for not set owners via reporting profiles, the reporting will return all tickets having no ow

[2019-03-19 16:01] saz commented on #2043
#2486 might be related, as scheduler was dying for me without a useful error message on such mails.

[2019-03-19 17:50] MrGeneration commented on #2043
@saz could you please update to the latest Zammad version and watch this?
Because issue #2486 has been resolved and pushed to stable and thus should be available already.

[2019-03-19 18:01] MrGeneration commented on #2516
This also affects condition on triggerss:
![image](https://user-images.githubusercontent.com/6549061/54629774-8cc89f80-4a78-11e9-94e1-e539d2e9a40c.png)

**Removing all actions works in:**

* Scheduler
* Trigger

**Removing all conditions works in:**

* Trigger
* Report Profiles (note this throws error "{"error":"no selectors given"}" and will not apply this even though it does let you submit this

[2019-03-19 18:20] Marian0 commented on #2505
Same error here. Tried to install it on Ubuntu 18 and I'm getting this weird language as default:

![image](https://user-images.githubusercontent.com/624592/54631317-84616c00-4a5a-11e9-9d79-47111f6f0a45.png)

[2019-03-19 19:10] saz commented on #2043
@MrGeneration I'm on 2.9.0 and as far as I can see 2.9.1 isn't released yet and #2486 is marked for that milestone.
But replacing all/models/store.rb with the current dev version resolves the issue for me.

[2019-03-19 19:58] thorsteneckel commented on #2505
Hey there - interesting! Can you please run `App.i18n.detectBrowserLocale()` in your browser console and post the output here? Thanks!

[2019-03-19 21:40] Marian0 commented on #2505
Hey @thorsteneckel, thanks for your response.

This is the output from console:

[code]

Thank you

[2019-03-20 06:09] martini commented on #2505
@Marian0 also the output of `window.navigator.languages`  your browser console would be good to know. Thanks.

EDIT: And
[code]
As well as the expected language.

[2019-03-20 08:32] sinichi19 commented on #2503
Thanks for this report. i will not update temporarily to 2.9 because like in our setup that our customer is only a internal ,, if the registration cant disable everyone can now register and can abuse..

(In our setup only the administrator and agent can register new user)

Please back the enable and disable of the registration in 2.9 version

[2019-03-20 08:50] MrGeneration commented on #2503
Just to make this clear: This affects all versions of Zammad.

Edit: Currently the only way of ensuring this doesn't work, you'll need to disable manual user creation and the password lost function.

[2019-03-20 09:15] cyberrranger commented on #2505
App.i18n.detectBrowserLocale() . => "ru"

window.navigator.languages (5) ["en-US", "de-DE", "de", "en", "ru"]
window.navigator.userLanguage undefined
window.navigator.language en-US

[2019-03-20 15:17] Marian0 commented on #2505
@martini

This is the output I'm getting using private browser tab:

[code]

Seems like userLanguage is not being set.

[2019-03-20 18:24] MrGeneration opened #2518 "Attached textfiles break "RAW"-Link if last attachment in list"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: current versions of Microsoft Edge, Google Chrome and Mozilla Firefox.
  * Interestingly Internet Explorer does not apply and act completely different
* Ticket-ID: #1040542

### Expected behavior:

* When looking

[2019-03-20 18:49] MrGeneration commented on #2460
Small update on the issue.
We learned that this only takes place if the user id is too long.
This was found by a community user "abelxluck".

The post can be found here: https://community.zammad.org/t/dont-receive-twitter-dms-railsserver-error/1799/34

[2019-03-21 09:26] KoJie commented on #2347
T#1030519

[2019-03-21 10:38] MrGeneration opened #2519 "Enhance History by linked ticket information"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1040539

### Current behavior:

* When adding Tickets as linked Ticket to another Ticket, Zammad will not show this information within the history.

### Desired behavior:

* When adding Tickets

[2019-03-22 00:59] sinichi19 commented on #2503
Thank you for clarification.

[2019-03-24 00:34] Tsuroerusu commented on #965
How about the U2F standard? That way, I could use something like a YubiKey to log into Zammad?

[2019-03-25 08:16] jaeger13 opened #2520 "After upgrading to 2.9, integration page is blank"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): RPM
* Operating system: CentOS 7
* Database + version: postgresql
* Elasticsearch version: 5.6
* Browser + version: any

### Expected behavior:

* After upgrading from 2.1 to 2.9 everything should be working normal.

### Actual behavior:

* After upgrading from 2.1 to 2.9, the integration page stays blank. That mea

[2019-03-25 21:34] hanneshal opened #2521 "Inline image is missing on forward"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): package
* Operating system: CentOS
* Database + version: Postgres
* Elasticsearch version: ES 6.x
* Browser + version: Safari/Firefox
* Ticket-ID: #1040687

### Expected behavior:

* Zammad should keep inline images when forwarding and quoting text

### Actual behavior:

* in Safari latest and Firefox 66.0 the imag

[2019-03-26 07:41] martini commented on #2089
Available/fixed in current stable package. Feedback is welcome.

[2019-03-26 07:41] #2089 closed, assigned to martini

[2019-03-27 10:14] potlaki opened #2523 "2.9.x login issue after upgrade"
### Infos:

* Used Zammad version: 2.9.x
* Installation method (source, package, ..): apt
* Operating system: Ubuntu 16.04 LTS
* Database + version: Postgresql 10
* Elasticsearch version: 6.6.1
* Browser + version: Firefox Quantum 66

### Expected behavior:

* Login as normal

### Actual behavior:

* When clicking on password, cursor jumps back to username and clears username field

### Steps to r

[2019-03-27 10:19] potlaki commented on #2523
Please note this is after an upgrade from 2.8.x to 2.9.x

[2019-03-27 11:37] MrGeneration commented on #2523
Sorry, but I can't reproduce this.
Please provide a screencast and ensure you're not using any add-ons that might cause this issue.

In my tests it didn't matter if I tab into the password field or use the mouse. It just works.

[2019-03-27 11:43] martini commented on #2523
Just  a side note:

1) check your `/opt/zammad/log/production.log`
2) Make sure that your database migrations are done by executing `zammad run rake db:migrate`

Everything else as @MrGeneration wrote.

[2019-03-27 12:15] potlaki commented on #2523
hi guys,

Thank you for getting back to me. I've attachde a screen cast of the problem.

I've tailed my production log(/var/log/production.log) and every +-2 seconds I'm getting this:

Checking left over delayed job #<Delayed::Backend::ActiveRecord::Job id: 305520, priority: 0, attempts: 14, handler: "--- !ruby/object:BackgroundJobSearchIndex\nobject: ...", last_error: "Unable to process POST requ

[2019-03-27 12:43] potlaki opened #2524 "Elasticsearch index:Rebuild not working"
### Infos:

* Used Zammad version: 2.9.x
* Installation method (source, package, ..): apt install
* Operating system: Ubuntu 16.04 LTS
* Database + version: Postgresql 10
* Elasticsearch version: 6.6.2
* Browser + version: Firefox Quantum 66

### Expected behavior:

* To use the reporting tab

### Actual behavior:

* Cannot use the reporting tab

### Steps to reproduce the behavior:

* Log in, cli

[2019-03-27 12:51] MrGeneration commented on #2524
Your elasticsearch version is not supported. Please do not post technical questions on Github, as this is mainly for bugs. For the next time, please use our Community: https://community.zammad.org

If the elasticsearch is only used by Zammad, you can safely remove (apt remove elasticsearch) and reinstall the correct elasticsearch version. You'll need to follow the installation guide for elasticsea

[2019-03-27 12:51] #2524 closed, assigned to nobody

[2019-03-27 13:05] MrGeneration commented on #2523
The log entries are from a wrong configured elasticsearch (or even not running). This is out of scope of Github (sorry).

I still can't verify this issue, even when trying to use the auto complete function of Firefox.
Please disable all Add-Ons being used and ensure your Zammad does not have any changed code (no matter if CSS, javascript or application).

If the problem still persists, please regi

[2019-03-27 14:25] potlaki commented on #2523
I've tried on Google Chrome, Firefox and Chromium and the problem persists. I have disabled all my add-ons.

Other users experiencing the same problem are also using a variety of browsers and are less technical people. They do not have any add-ons on loaded to their browsers.

I'm going to try on the hosted trial, although I don't think it will help.

[2019-03-27 14:39] #2362 closed, assigned to SummerStorm

[2019-03-27 14:39] SummerStorm commented on #2507
Fixed by 30d3ce2b88c9bbbbd6800f120a7fdaac5893e900.

[2019-03-27 14:39] #2507 closed, assigned to SummerStorm

[2019-03-27 14:40] SummerStorm commented on #2458
Fixed via 30d3ce2b88c9bbbbd6800f120a7fdaac5893e900.

[2019-03-27 14:40] #2458 closed, assigned to SummerStorm

[2019-03-27 14:40] SummerStorm commented on #2499
Fixed via 30d3ce2b88c9bbbbd6800f120a7fdaac5893e900.

[2019-03-27 14:40] #2499 closed, assigned to SummerStorm

[2019-03-27 14:52] potlaki commented on #2523
Hi guys,

The other thing is apt remove elasticsearch also removes zammad. I've tried this in our dev environment and completely lost zammad.

[2019-03-27 21:01] martinvonwittich commented on #2436
Should I just go ahead and create a merge request to speed this up? ^^

[2019-03-28 07:27] MrGeneration commented on #2436
Hey Martin,

if you have time for this a crontribution / MR would be amazing. :-)

[2019-03-28 07:29] MrGeneration commented on #2523
Please do not mix up Github-Issues. This is rather a technical question for our community, sorry.

[2019-03-28 09:43] polyrack opened #2525 "Macro does not add a new note to the ticket"
### Infos:

* Used Zammad version: 2.9.X
* Installation method (source, package, ..): apt
* Operating system: Ubuntu 16.04.6
* Database + version:  postgres
* Elasticsearch version:
* Browser + version:
* Ticket#: 1051018

### Expected behavior:

* I define a macro where I e.g. set the owner and want to add a note to the ticket. The owner is changed and a new note is added to the ticket.

### Actu

[2019-03-28 16:21] MrGeneration commented on #2525
I could verify this (thanks for the report!).

Whenever I run this macro, it will give the following log output which doesn't seem to helping too much:
[code]

[2019-03-28 21:27] martinvonwittich commented on #467
I share @corny's concerns about putting synchronous actions into the dialplan, and so I've come up with my own solution - a simple Perl script that interfaces with Asterisk's AMI interface, listens for queue events, and pushes them via HTTPS to Zammad's CTI API.

I've posted about it here in the community: https://community.zammad.org/t/asterisk-zammad-cti-bridge-push-asterisk-queue-events-into-za

[2019-03-29 08:34] Xeno22 commented on #1163
Never ever run `zammad run rake assets:clobber` ...
It removes the whole public/assets directory and rake is not able to restore the files (since there are no copies left).

I had the same issue today on my ubuntu dev server:
I tried to set the default ticket type to email since the default note type is a bit strange and I was not able to recompile the assets. So I did a clobber - which removed al

[2019-03-29 11:07] jaeger13 commented on #2520
I finally got it to work. Issue [#2159](https://github.com/zammad/zammad/issues/2159) solved it for me.

[2019-03-29 11:47] Shayano opened #2526 "No unprocessed email and no new/update ticket"
### Infos:

* Used Zammad version: 2.10
* Installation method (source, package, ..): apt
* Operating system: Debian 9.8
* Database + version: PostgreSQL 9.6.11
* Elasticsearch version: 6.6.1
* Browser + version: any

### Expected behavior:

* Create a new ticket on processed email
* Update existing ticket on processed email

### Actual behavior:

* doesn't create or update ticket
* doesn't appear

[2019-03-29 12:00] MrGeneration commented on #2526
We'll verify this as soon as we find time. Please note that your elasticsearch version is not supported.
You should think about downgrading it, as otherwise this will lead to other errors.

Regarding ES, please see: https://docs.zammad.org/en/latest/install-elasticsearch.html

[2019-03-29 12:10] MrGeneration commented on #372
Unlucked for voting (on the initial post).
Please **do not** post any further comments on how much you want this and when it will come, as I will then lock the conversation again.

[2019-03-29 15:20] MrGeneration commented on #2465
Sorry for the delay.
This is not a bug, but works as designed.

The error message you receive when trying to use `http://localhost/api/v1/organizations/firstname=Bob` clearly states "no such route" - if you want to search for an organization, use `http://localhost/api/v1/organizations/search?query=Bob` (**GET**), that will work and help you.

[2019-03-29 15:24] luisdetlefsen commented on #2465
Thanks for your reply. But I am not trying to search for an organization, I am trying to create one using the route that is specified in the api documentation.

[2019-03-29 15:27] MrGeneration commented on #2043
Thanks for the Feedback.
I will close this issue for now, as I expect this to be fixed at the moment (sorry, I ignore forks and not up to date versions here).

As for the two-way mail sync PR I can't say too much. I think Thorsten stated the current reason for this.
I'm not in that part too deep, sorry!

[2019-03-29 15:27] #2043 closed

[2019-03-29 16:06] martini opened #2527 "Ticket gets reopen by an email send via a trigger configured with recipient article_last_sender and article sender was 'customer'"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Zammad should not reopen tickets by sending a trigger notification to Zammad it self.

### Actual behavior:

* In certain cases Zammad sends a trigger base email notification to Zam

[2019-03-30 15:56] martinvonwittich opened #2528 "⚙ -> Manage -> Calendars -> Edit: "Subscribe to public holidays in" sorted wrong"
### Infos:

* Used Zammad version: 2.9.x
* Installation method (source, package, ..): docker-compose
* Operating system: Debian 9
* Database + version: postgres
* Elasticsearch version: irrelevant
* Browser + version: Chrome

### Expected behavior:

* The countries in the "Subscribe to public holidays in" list should be sorted by their localized name, and not by their English name.

### Actual beh

[2019-03-31 07:53] martini opened #2530 "Not used SQL index with postgresql in certain cases on very large setups."
### Infos:

* Used Zammad version: 2.9.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Zammad should use SQL indexes to speedup database queries.

### Actual behavior:

* In certain cases (e. h. `ORDER BY created_at DESC, id DESC`) the index is not used.

### Steps

[2019-03-31 21:37] cornelinux commented on #965
Again. Zammad should not do U2F. They should provide an API to plugin the second factor. This could be U2F as one choice. Could be WebAuthN. Could be privacyIDEA, DUO or even RSA SecurID. This is the way you do such things.
@martini how can we start working on such API?

[2019-04-01 07:17] #2520 closed, assigned to nobody

[2019-04-01 14:26] TomFuch commented on #2517
I have the exact same problem with filtering for Organisations.

![Bildschirmfoto 2019-04-01 um 16 25 02](https://user-images.githubusercontent.com/28782681/55335144-debaed80-549a-11e9-8bdb-dbe9f965c954.png)

[2019-04-02 10:58] Shra25 opened #2532 "SLA Email"
I want SLA to set in three levels and according to level, it will escalate to different persons.
only agents are getting escalated emails I want to customise this
can anyone please help me with this

[2019-04-02 11:22] MrGeneration commented on #2532
Sorry, but Github is for bugs only, not technical questions.
You can consult our community (https://community.zammad.org/) for such questions.

Escalation on that level (for which it wouldn't be made normally) will require to work with the owners as condition, other wise you need to seperate those mails with groups.

[2019-04-02 11:22] #2532 closed, assigned to nobody

[2019-04-02 11:47] MrGeneration opened #2533 "Notes not available in variables (signature) during ticket creation"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Support-ID: #1040957

### Expected behavior:

When adding any variable note to a signature, Zammad will display the variables content (or rather the variable is set) at any moment you could get it's value.

[2019-04-02 14:40] SummerStorm commented on #2465
Hi @luisdetlefsen,

To prevent a [XY communication problem](https://en.wikipedia.org/wiki/XY_problem), could you please clarify a bit on your use case here?

If you simply want to programmatically create user and/or organizations, then I would highly suggest using the user token approach. You would create an admin user, and create that user's Personal Access Token (via user -> profile -> token_acc

[2019-04-02 14:53] martinvonwittich opened #2534 "Agents should always be able to re-open closed tickets, regardless of group.follow_up_possible"
### Infos:

* Used Zammad version: 2.9.x
* Installation method (source, package, ..): docker-compose
* Operating system: Debian 9
* Database + version: postgres
* Elasticsearch version: doesn't matter
* Browser + version: Chromium

### Expected behavior:

* When a group is configured as "follow up possible" = "do not reopen ticket but create a new ticket", only _customers_ should be prevented from

[2019-04-02 15:10] luisdetlefsen commented on #2465
@SummerStorm I appreciate that you provide an alternative solution, but I have a specific requirement to use OAuth2.

I hope this helps to clarify the use case. I need to create organizations through the REST API using OAuth2, but it is not working as expected. Zammad returns an http status of 401 instead of creating the organization. More details that could be useful to troubleshoot the issue: al

[2019-04-02 15:27] thorsteneckel commented on #2465
Seems like this is a configuration error of your system. There is no difference in authentication between user and organization CRUD REST endpoints. All API endpoints authenticate the same way. Therefore there must be an error in the permission configuration of your system for managing organizations. I'll close this as a question. Please refer to the [community board](http://community.zammad.org/)

[2019-04-02 15:27] #2465 closed, assigned to nobody

[2019-04-04 10:35] Shra25 commented on #1270
Must feature for zammad, which will definitely increase the product value.
Please allow to customize templates for triggers also

[2019-04-04 11:42] SummerStorm commented on #1259
Fixed by 444e48e3772eb4abf8fb00170dca3d08ad65955f.

[2019-04-04 11:42] #1259 closed

[2019-04-04 17:18] MrGeneration commented on #1270
Please stop recycling already closed issues, this does not help.

[2019-04-04 19:23] ocerecedo commented on #1277
I use DavMail and i can connect zammad with ews but the new mail not save in database

[2019-04-05 20:49] martinvonwittich opened #2535 "Text module CSV import loses all linebreaks if the module contains a link"
### Infos:

* Used Zammad version: 2.9.x
* Installation method (source, package, ..): docker-compose
* Operating system: Debian 9
* Database + version: postgres
* Elasticsearch version: doesn't matter
* Browser + version: Chrome

### Expected behavior:

* When importing text modules via CSV import, line breaks should be preserved, even if the text module contains links.

### Actual behavior:

* Wh

[2019-04-05 21:30] martinvonwittich commented on #2535
Oh, noticed another thing - strings in angle brackets are silently removed. This CSV:

[code]

becomes this text module:

[code]

I'm not really in the clear here what the import actually expects - is it supposed to import plain text, or HTML? The example export looks like HTML, but considering the fact that the import will usually replace `\n` with `<br>` it's also supposed to work for plain text

[2019-04-06 11:47] martinvonwittich opened #2536 "Long tag list in manage overviews/SLAs/triggers/report profiles/time accounting doesn't wrap"
### Infos:

* Used Zammad version: develop
* Installation method (source, package, ..): git
* Operating system: Debian 9
* Database + version: postgres
* Elasticsearch version: doesn't matter
* Browser + version: Chromium 73
* T#1083174

### Expected behavior:

* When I create edit an overview/SLA/trigger/report profile/time accounting, and I use a "Tags" _condition_, the list should wrap if gets

[2019-04-06 13:02] martinvonwittich opened #2537 "Karma doesn't track text module usage"
### Infos:

* Used Zammad version: 2.9.x
* Installation method (source, package, ..): docker-compose
* Operating system: Debian 9
* Database + version: current docker-compose
* Elasticsearch version: current docker-compose
* Browser + version: Chromium 73

### Expected behavior:

Not sure whether karma is actually supported at all, seeing that it's neither documented nor usually accessible in the

[2019-04-06 15:54] martinvonwittich commented on #262
What I'm missing is the ability to filter the activity stream; e.g. to exclude events related to tickets tagged as `spam`.

[2019-04-07 01:54] MouettE-SC opened #2538 "Zendesk import fails due import of (too long) ticket description as (unused) note"
### Infos:

* Used Zammad version: 2.10
* Installation method (source, package, ..): source
* Operating system: debian stretch
* Database + version: postgresql 11.2-1.pgdg90+1
* Elasticsearch version: 5.6.16
* Browser + version: Vivaldi 2.4

### Expected behavior:

* Import of zendesk tickets from a small instance (see screenshots)

### Actual behavior:

* The import fails on the second ticket (se

[2019-04-07 01:54] MouettE-SC commented on #2538
![2019-04-06 21_43_56-Window](https://user-images.githubusercontent.com/8431184/55677484-90508900-58b6-11e9-93f4-fd3d0d61b884.png)
[production.log](https://github.com/zammad/zammad/files/3051112/production.log)

[2019-04-07 11:48] thorsteneckel commented on #2538
Hi @MouettE-SC - thanks for your report. I can see two issues here: The first one is that some Zendesk Ticket attribute value is too long for one database column. Unfortunately I can't see which one it is from the logs. This results in an DB error which prevents the ticket from getting created:
[code]

Then the second issue happens: The Import logic continues and expects the Ticket to be created a

[2019-04-07 14:44] martinvonwittich commented on #2293
I thought I'd take a shot at this. This is what I've found:

- `app/assets/javascripts/app/controllers/_profile/out_of_office.coffee` builds the out of office user interface; it uses a `user_autocompletion` UI element for the user selection
- `app/assets/javascripts/app/controllers/_ui_element/user_autocompletion.coffee` - uses `App.UserOrganizationAutocompletion` to render the user selection
- `a

[2019-04-08 00:15] #2530 closed, assigned to martini

[2019-04-08 08:06] ITfee commented on #2485
+1

[2019-04-08 13:31] martinvonwittich opened #2539 "users_controller.rb: search: pagination broken"
### Infos:

* Used Zammad version: dev
* Installation method (source, package, ..): git
* Operating system: Debian
* Database + version: doesn't matter
* Elasticsearch version: doesn't matter
* Browser + version: doesn't matter

As discussed in the [community](https://community.zammad.org/t/api-v1-users-search-cant-get-pagination-to-work/2376).

This probably broke in cf1626494047f27d8fe094a7b954e

[2019-04-08 13:51] pneumatic opened #2540 "LDAP agent group users also exist in LDAP customer groups; failure"
* Used Zammad version: 2.9.x (from the 'Version' tab, I can't get the zammad cmdline to produce a proper version number)
* Installation method (source, package, ..): DEB (from latest stable)
* Operating system: Ubuntu 18.04
* Database + version: psql (PostgreSQL) 10.7 (Ubuntu 10.7-0ubuntu0.18.04.1)
* Elasticsearch version: Version: 5.6.16, Build: 3a740d1/2019-03-13T15:33:36.565Z, JVM: 1.8.0_191
*

[2019-04-08 13:52] martini opened #2541 "Existing scheduler email notification without `body` will raise an exception."
### Infos:

* Used Zammad version: 2.9.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* After upgrade to Zammad 2.9.0 and if you have an existing scheduler email notification without `body`. An exception is raised.

[code]

### Actual behavior:

* Install Zammad 2.8

[2019-04-08 14:10] pneumatic commented on #2540
Additionally, once a particular LDAP group has failed, it will always fail.  In lieu of a known method for resetting the Zammad user database, I have been resorting to VM snapshots in troubleshooting this issue.  It would be nice to be able to have a purge function for the Zammad user db.

[2019-04-08 16:22] martinvonwittich commented on #2535
Aaaand another one:

[code]

is imported as:

[code]

[2019-04-08 19:30] MouettE-SC commented on #2538
Hello @thorsteneckel sure, I will do that. Thanks !

[2019-04-08 19:59] MouettE-SC commented on #2538
Ticket #1041169 opened.

[2019-04-09 08:28] martini opened #2542 "Show ticket priority indicator in ticket overviews"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Show ticket priority indicator ins ticket overviews

### Actual behavior:

* No information about ticket priority is shown in ticket overview.

Nice would be:

<img width="1309" alt

[2019-04-09 08:33] EmileSpecs commented on #2507
Hi @SummerStorm
I'm afraid this has not been resolved, unless it's not been pushed to the latest version which I have installed.
Can you verify whether this fix is present in the latest version which I've updated to.
If it has, I'm still getting varying degrees of corrupted PDF's. Some are completely blank, others have some content but are incomplete.

[2019-04-09 09:47] MrGeneration commented on #2507
This has been pushed to develop and is not living in the stable yet.
If you want to test this, please use the develop (beware, quite big changes ahead).

If you're on stable, please wait for the next release.

[2019-04-09 11:30] #2541 closed, assigned to martini

[2019-04-09 11:39] MrGeneration commented on #2537
Heya,

thanks for this. Karma is currently no offical feature yet, but I'll have a look anyway.

Thanks

[2019-04-09 11:43] MrGeneration commented on #262
@martinvonwittich I can understand the urge for that.
I see a problem with that: We currently don't really have a "this is spam" field or functional thingie which would make it clear to Zammad what it is. The spam-tag is also just a recommendation, but not required.

You can currently "hack" this by having a seperate group holding your junk (Macro will move the junk inside this group and close it)

[2019-04-10 10:43] peacoux opened #2543 "Agents must not create customers"
Hello,
I'm am not sure if this ist the right place to adress this.
How can I prevent a normal agent from creating users? I'd wish that only the admins can do this. Is there a way to fix this? Or am I doing something wrong?

The system is running on version 2.7.x.

when I look into the settings of the role "agent", the check box "verwalte users"(manage users) is not activated.

Sorry but I couldnt

[2019-04-10 11:37] MrGeneration commented on #2543
Sorry, but Github is the wrong place for technical questions. For the next time, please use our Community: https://community.zammad.org .

This is actually working all as intended. "Verwalte users" (or "manage users") simply allows your agent/admin to do more to a user. Mainly regarding user rights, roles and changing the password (that's what a normal agent can't do).

As Zammad needs users as cu

[2019-04-10 11:37] #2543 closed, assigned to nobody

[2019-04-10 12:35] peacoux commented on #2543
for the background: I'd just like to have the option to forbid creating users/customers for certain users. Because some of them are just messing around with it and are creating the exact same customer up to 5 times or writing in the fields whatever they want...

anyway - Thank you for your quick answer, I will discuss this further in the community forum!

[2019-04-10 14:24] SummerStorm commented on #2539
Hi @martinvonwittich, thanks a lot for the really detailed bug report + fix. We have an internal branch based off your contributions undergoing the QA process now so you don't need to submit a PR anymore. Just giving you a heads up since you mentioned that you were preparing a PR in the [community thread](https://community.zammad.org/t/api-v1-users-search-cant-get-pagination-to-work/2376/2).

[2019-04-11 05:27] #2542 closed, assigned to martini

[2019-04-11 14:34] thorsteneckel commented on #2538
So the second issue here is that the [HTML sanitizer callbacks](https://github.com/zammad/zammad/blob/develop/app/models/concerns/checks_html_sanitized.rb) run after the [instance attributes get cutted for getting inserted into the DB](https://github.com/zammad/zammad/blob/develop/app/models/application_model/checks_attribute_values_and_length.rb) (inverted callback registration order: Model, Appl

[2019-04-11 15:07] tmswr commented on #2472
To add to this, we had a very similar trigger for updating Customers on note updates. The trigger would update customers when Agents added a note, but not when a customer updated one. I updated our email accounts yesterday, and after changing them the customer gets note notifications both for Agents and themselves (the customer).

[2019-04-11 15:15] MrGeneration commented on #2472
Please note that customers posting "notes" within the webapp is not a note, but "web".
I currently don't think that this is related to the bug above and would like to ask you to consult our community (https://community.zammad.org) if my comment doesn't help you at all.

This way we can also find the cause without creating too much noise on Github. :-)

[2019-04-11 18:33] contaoacademy commented on #2494
I have a similar problem here. The + sign is also removed from my links and replaced by %20.

![screenshot](https://user-images.githubusercontent.com/23719181/55982367-10049c00-5c99-11e9-9449-fd9a6ebac521.png)

[2019-04-12 08:41] lfxch commented on #965
If you do 2factor auth, in most cases you have a an appliance or at least a proxy in front of zammad. E.g a Netscaler or Vulture SSO Appliance or something similar. Those appliances support Form Based authentication, so you can configure them to recognize the login form, auto submit it and you're done.
This works with nearly any web applications and is very easy to implement.

However, i found no

[2019-04-12 08:47] MrGeneration commented on #965
Regarding the Login-URL: This can't change, because of the way zammad works.
#blah changes layers and stuff, that would be a quite big change to the chore.

[2019-04-12 08:52] cornelinux commented on #965
I assume the ``#login`` is a marker for the single page application.

I think zammad needs to open/document its authentication stack, then everyone could do everything just as he pleases.
@lfxch is right about netscaler, this is cool. But not everbody has a high sophisticated enterprise, proprietary, closed source SSL VPN Gateway.
So I think zammad as an open source project should provide ways to

[2019-04-12 08:55] lfxch commented on #965
well, a second possibility is to add a header, e.g. "Authenticated: true" or similar.

the netscaler was only an example, take a look at https://www.vultureproject.org, they are doing the same and this is opensource.

[2019-04-12 10:37] lobiman commented on #965
Maybe the new Standard Webauthn is a solution. https://webauthn.guide/

[2019-04-12 12:09] ICT-Eurotrol commented on #1820
Used Zammad version: 2.9.x

If you are using Zammad version: 2.9.x and you want to make use of folders, you need to verify that the folder has received the test email message from your Zammad server.
As soon as you are verifiying your mail setup on the Zammad server, move the received mail message to the folder you want to synchronize, otherwise the verification will fail.(most of the time with a

[2019-04-12 16:15] MrGeneration opened #2544 "Can't remove auto assignment timeout"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: tested on Chrome, Firefox and Safari
* Ticket-ID: #1041338, #1079095

### Expected behavior:

If you decide to not further use the autoassignment timeout, you simply delete the number out to disable this feature.

[2019-04-13 17:31] B4DschK4Pp commented on #2103
I just came across this, as I was experimenting with custom fields and links.
It would be great if one could use the url type with format int as well and add some sort of logic to the links created by using the fields value as a variable for the link.

Example:
I would like to add a custom field with a number referring to an issue in our dev ticketsystem (Redmine). So I could add a field with form

[2019-04-15 11:44] vsurrel opened #2545 "Elastic Search disabled : need to rebuild index at each update"
After each upgrade (i'm using official deb repositories), I need to run this command :

zammad run rails r "Setting.set('es_url', '')" && zammad run rake searchindex:rebuild

If I don't do so, the search feature of Zammad doesn't work after the upgrade. My installation has disabled ES since I have a really small amount of ticket (<30/week) and ES is really hungry of RAM.

* Zammad : 2.9.0
* Webser

[2019-04-15 13:29] MrGeneration commented on #2103
You're kinda hijacking this, as you're posting a rather technical question.

You can always use variables in links (already), as long as you#re not inserting a link that already contains the link. so

`http://domain.tld/blah/#{ticket.blah}` will be a clickable link as soon it's send out.
Use `::` in the backend for searching for variables (custom objects will be available inside there).

I'll lock

[2019-04-15 13:56] Ejxqzgds opened #2546 "Shift-Ctrl-T deletes work (email response) in progress"
### Infos:

* Used Zammad version: 2.1.0-1510157740.86d5b882.stretch
* Installation method (source, package, ..): .deb package
* Operating system: Debian 9.8
* Browser + version: Firefox 52.9.0
* Relates to #656, but is a different issue

### Expected behavior:

* Shift-Ctrl-T does not throw away any work in progress

### Actual behavior:

* Shift-Ctrl-T throws away any work (response) in progress

[2019-04-16 09:14] #2539 closed, assigned to SummerStorm

[2019-04-16 15:48] sstidl opened #2547 "reports throws exception on generating ticketlist when deleting tickets via API"
*This post has been edited by @MrGeneration do meet our needed format and also, to fill it up with more information*

### Infos:

* Used Zammad version: 3.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: 5.6 (proberbly any)
* Browser + version: any
* Ticket-ID: #1047094 , #1048216

### Expected behavior:

When using the s

[2019-04-17 06:45] martini opened #2548 "Do not sort tables by (click on) header names if sortable by dnd is enabled (e. g. Admin -> Overview)."
### Infos:

* Used Zammad version: 2.9.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Do not sort tables by (click on) header names if sortable by dnd is enabled (e. g. Admin -> Overview).

### Actual behavior:

* The table is sorted and the whole dnd order will no

[2019-04-17 08:22] #2059 closed, assigned to martini

[2019-04-17 08:37] thorsteneckel commented on #2546
Hi @Ejxqzgds - thanks for creating this issue. This has the same root cause as #656 has: Keyboard shortcuts collide with browser shortcuts. Therefore I'll close this as a duplicate and we'll address it when we work on that issue.

[2019-04-17 08:37] #2546 closed, assigned to nobody

[2019-04-17 08:43] thorsteneckel commented on #2545
Hi @vsurrel - thanks for reaching out. Can you please fill out the complete issue template. These information are mandatory as we need them to properly resolve the issue. Otherwise I have to close the issue.

@monotek what do you think about this? Sounds like a valid use case to me: Don't configure the ES on updates if it wasn't configured beforehand.

[2019-04-17 08:50] vsurrel commented on #2545
I'll fill the template at the next update !

[2019-04-17 08:51] martini commented on #2545
Just  a note from my side:

`zammad run rails r "Setting.set('es_url', '')"` will disable elasticsearch integration. So a `zammad run rake searchindex:rebuild` makes no sense then.

@vsurrel a full description how to reproduce would be good (the issue template would be fine).

By the way: I do not have issue by Zammad upgrades via debian/rpm packages with elasticsearch. This is working on my side

[2019-04-17 08:53] martini commented on #2545
Ah. Now I got it, you do not use elasticsearch at all. Sorry, I did not see that before. I have no feedback about this use case. I only with with elasticsearch (even on small systems).

[2019-04-17 11:57] monotek commented on #2545
I think you just should set anything else as ''.

See: https://github.com/zammad/zammad/blob/develop/contrib/packager.io/functions#L233

If '' is set it will be replaced by: "http://127.0.0.1:9200"

@martini
Imho we would need a disabled flag for elasticsearch instead of using no value to disable es.

[2019-04-17 12:20] martini commented on #598
Already implemented a while ago.

[2019-04-17 12:20] #598 closed

[2019-04-18 06:47] thorsteneckel commented on #1687
Hi @monotek - can you please check if this is still relevant? I tried it on my local MBP and got no error:

[code]

Started listening:
[code]

EDIT:
We even got a test 😱
https://github.com/zammad/zammad/blob/b6f277c97b6fd53211f4b5b13ca790961baf09a9/spec/scripts/websocket_server_spec.rb#L14-L41

[2019-04-18 06:52] thorsteneckel commented on #1687
Seems like it [got fixed](https://github.com/zammad/zammad/commit/cd4dc311ae27bc36534d8a176675b699de25bc93#diff-9eb959bb62ce5e2783a4710454948172) some time ago but the issue was never closed. I'll close it for now. Let me know if there are any issues left.

[2019-04-18 06:52] #1687 closed

[2019-04-18 06:57] thorsteneckel commented on #2074
JFI: We need to cover the use case described in #381 when continuing working on this.

[2019-04-18 09:19] thorsteneckel commented on #507
This issue is actually not fixed. The following diff shows how the `current_user` should get passed to the `SearchIndexBackend.selectors` method:

[code]

However, the `current_user` still has to get converted to `current_user_id` in the [`SearchIndexBackend.selector2query`](https://github.com/zammad/zammad/blob/7919f341ff10ce42e9739552661bc81034c4c7ec/lib/search_index_backend.rb#L557) method as i

[2019-04-18 12:19] thorsteneckel opened #2549 "Exchange and LDAP sync update same user(s) all over again"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Exchange contacts should be skipped if the corresponding Zammad User is also synced by an active LDAP sync.

### Actual behavior:

* LDAP and Exchange sync the same User(s) which ca

[2019-04-18 13:01] #2534 closed, assigned to nobody

[2019-04-19 04:37] jozephbrasil commented on #357
Nowadays WhatsApp is really very important for any business. Some countries uses WhatsApp for almost everything. +1 for this integration.

[2019-04-19 15:06] MrGeneration commented on #357
I'm locking the conversation for now as `+1` just causes noise on this Repository.
If you want to discuss this, please see: https://community.zammad.org/t/whatsapp-business-api/1078

[2019-04-19 17:22] jozephbrasil commented on #417
I am trying to integrate facebook to Zammad but Facebook always decline my request to obtain manage_pages and publish_pages permission. Anyone could PLEASE share with me the video (screencast) used to obtain access to it? I am getting frustrated with this.

[2019-04-19 17:26] MrGeneration commented on #417
Please do not recycle closed issues.
Also, this is not the right place, our community is a better place for this: https://community.zammad.org .

I doubt sharing a screencast will work cleanly or at least someone will share it with you, as it might contain sensitive information.

[2019-04-23 08:33] Nunatac commented on #564
+1 for bulk merge and i'd also like to see the bulk tag.

[2019-04-23 08:47] MrGeneration commented on #564
Locking conversation to reduce `+1` posts, to reduce noise on this repository.
Please note that this is not a bug and will thus not receive a bug-tag.

[2019-04-23 09:30] SEGGER-NV opened #2550 "Sending e-mail via SMTP gets stuck if TO/CC e-mail is invalid"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): package
* Operating system: Debian 9
* Database + version: -
* Elasticsearch version: -
* Browser + version: Firefox latest

### Expected behavior:

* When answering via reply button and adding an invalid e-mail address to "TO" or "CC" Zammad throws an error and notifies the user that the e-mail address is invalid

[2019-04-23 09:52] MrGeneration commented on #2550
Sorry, but I can't reproduce this.
My Zammad-Instance does send a E-Mail to the Mail-System, which tells Zammad to provide a valid address. Zammad does try this up to 4 times - the error you receive comes from your Mail-System.

Closing now.

![image](https://user-images.githubusercontent.com/6549061/56571956-51147e80-65be-11e9-8fe6-9b246b6c4ce0.png)

Edit:
This is the output after 4 times failing

[2019-04-23 09:52] #2550 closed, assigned to nobody

[2019-04-23 11:20] SEGGER-NV commented on #2550
Hello,

Thank you for investigating.
Does Zammad have no verification if the set e-mail is valid?
I just noticed that there is also a lack of checking when creating a new user. This looks like a design flaw to me that the only check that is being done that there is some top level domain in the email address string. It seems not to be checked anywhere if the email address is valid.
So something@som

[2019-04-23 11:37] MrGeneration commented on #2550
As far as I'm aware, Zammad does not check if the address is valid.
When creating users, Zammad does check E-Adresses, but not completely. so test@example does not work, but test@example.com" does.

[2019-04-23 12:44] monotek commented on #564
you make me a sad panda 🐼

[2019-04-24 07:15] rkaldung opened #2551 "Reply-to header ignored if from contains a system address"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): source
* Operating system: CentOS 7
* Database + version: PostgreSQL
* Elasticsearch version: n.a.
* Browser + version: Chrome

### Expected behavior:

* The address from the Reply-To header is used as the To address when replying.

### Actual behavior:

* No address is used if a Reply-To header exists and the From

[2019-04-25 05:42] martini opened #2552 "Apply changes (updated or if channel is deleted) to email channel even if channel is already fetching emails."
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Apply changes (updated or if channel is deleted) to email channel even if channel is already fetching emails.

### Actual behavior:

* If a fetch (e. g. 10k emails) is running no ch

[2019-04-29 13:10] martini opened #2554 "Downloading of emails via IMAP takes longer as one minute. E-Mail seems to be lost."
### Infos:

* Used Zammad version: 2.9.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Also process emails even if download via IMAP of one mail takes longer then 1 minute.

### Actual behavior:

* Zammad will not process email because of download timeout if one min

[2019-04-29 13:20] martini commented on #2552
@hanneshal

[2019-04-29 20:05] forgeOneHQ opened #2555 "Error on Setting > Branding page => blank screen"
Hello,

I am getting a white/blank screen on the branding category:

* OS: Ubuntu 18.04.2 LTS
* Zammad-Version: 2.9
* Used-Webserver: NGINX
* Tested Browsers: Chrome, Chromium, Firefox, Opera, Vivaldi, Edge.

[code]

it also seems like the backend is not loading each option in the latest version, only after a reload everything is shown correctly. I thought there is a caching problem.

So I am not

[2019-04-30 12:26] prashant-shahi commented on #1474
Continuing the solution in this thread, as it could be a helpful reference for others to look at.

In file `omniauth.rb`, comment out or remove the provider configuration for `google_oauth2_database`. And, add the following one :
[code]

Set the **GOOGLE_KEY** and **GOOGLE_SECRET** environment before running it. Alternatively, add it to `.bash_rc`.
[code]

[2019-04-30 17:43] MrGeneration commented on #2555
Please use the complete issue template and add the missing information.

Also, please describe what you did before: e.g.
* Did you update Zammad? (if so, from what version)
* Did you modify any Zammad source code?
* What Browser are you using?

[2019-05-01 14:08] rixx commented on #627
This has been implemented by now.

[2019-05-01 14:09] rixx opened #2556 "Twitter integration: switching retweets *off* suddenly spawns hundreds of retweet tickets"
### Infos:

* Used Zammad version: 2.8.0
* Installation method (source, package, ..): source
* Operating system: Linux
* Database + version: Postgres 11.1
* Elasticsearch version: 5.6.13
* Browser + version: any

### Expected behavior:

* Turning retweets off in the Twitter integration will result in no further retweet tickets.

### Actual behavior:

* Suddenly, ~120 retweet tickets were newly cre

[2019-05-01 15:49] forgeOneHQ commented on #2555
Hello,

History:
I had zammad on other servers before, so I migrated it with the zammad backup and restore tool.

Zammad got updated to the latest version after that. 2.9.x is the latest version.

No, I didn't modify any source code of zammad.

I tried it with Chrome, Chromium, Firefox, Opera, Vivaldi, Edge.

[2019-05-01 16:00] forgeOneHQ commented on #2555
Detail when I click on the console:
App.i(error)                   | executeSingel task: Manage Invalid UiElement.undefined

[2019-05-02 06:01] rkaldung opened #2557 "Missing error message on link ticket"
### Infos:

* Used Zammad version: develop
* Installation method (source, package, ..): source
* Operating system: CentOS 7
* Database + version: PostgreSQL 9.6
* Elasticsearch version: n.a.
* Browser + version: Chrome, FF, both latest

### Expected behavior:

* When linking a ticket with a wrong input an error message / hint should be displayed.

### Actual behavior:

* After entering an ticket n

[2019-05-02 07:20] raphaelm opened #2558 "Error with case-sensitivity and uniqueness of email addresses"
### Infos:

* Used Zammad version: 2.9.0-1554805410.8c7abf98.stretch
* Installation method (source, package, ..): Debian package
* Operating system: Debian stretch
* Database + version: MariaDB 10.2.23
* Elasticsearch version: 5.6.16
* Browser + version: irrelevant

### Expected behavior:

* When saving a users with an email address that does not clash with another users email address, I expect to

[2019-05-02 07:51] MrGeneration commented on #2557
There's an error message, but it's hidden underneath the merge dialog.
Also, this message should be permanent until leaving this dialog:

![image](https://user-images.githubusercontent.com/6549061/57062229-d9320c80-6cbf-11e9-9647-669507d84160.png)

[2019-05-02 08:36] rkaldung commented on #2557
I checked again and can confirm there is a message (No such object) which disappears after a few seconds. Same behaviour in the merge dialogue? And what is a master ticket?

[2019-05-02 10:50] hsssystems commented on #1630
Hi,

how do I rebuild the index when I installed the system with docker?

br

Harald

[2019-05-02 13:45] #2552 closed, assigned to martini

[2019-05-02 13:46] #2554 closed, assigned to martini

[2019-05-02 16:27] MrGeneration commented on #2558
Hey,

thanks for your contribution!

This has been fixed with #893

This should affect very few instances, as this is adressed. That's why, we will not supply a migration with a Zammad-Update and instead incourage our users to run the following code on a Zammad-Console to fix the issue "on the fly".

**Attention:** This can be veeryyy ressource expensive, depending on the number of users you have.

[2019-05-02 16:28] #2558 closed, assigned to nobody

[2019-05-03 10:44] MrGeneration opened #2559 "When disconnecting a Chat, customer can still continue posting messages"
### Infos:

* Used Zammad version: 2.9 stable and develop
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: tested on Google Chrome and Firefox (both latest)
* Ticket-ID: #1042192

### Expected behavior:

* When an agent disconnects (and closes) the chat, the customer will receive a message that the

[2019-05-03 12:13] MrGeneration commented on #1630
Please do not recycle already closed issues. Especially not, if it's a technical question!
For the next time, please consult our community for technical questions: https://community.zammad.org

Note that you can run `rake searchindex:rebuild` inside the docker container without any trouble.
As Docker user, I expect you to know how to access the command line of a docker container. :-)

[2019-05-03 16:12] MrGeneration opened #2560 "Setting used objects (overviews, triggers, scheduler) to inactive works"
### Infos:

* Used Zammad version: 2.9 stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1042416, #1052208, #1080132

### Expected behavior:

* Setting custom objects to inactive is not possible when it's referenced in e.g. triggers, schedulers and overviews. If it is, Zammad

[2019-05-03 19:33] BertrandGouny opened #2561 "Zammad Chat No JQuery version don't work without button element"
### Infos:

* Used Zammad version: 2.9.0

### Expected behavior:
Chat should work if no open button element exists ?

### Actual behavior:

[code]

Problematic line :
https://github.com/zammad/zammad/blob/2de61bd4c53df469df5838173cc0147447364418/public/assets/chat/chat-no-jquery.js#L745

### Steps to reproduce the behavior:
remove that line :
https://github.com/zammad/zammad/blob/2de61bd4c53df469d

[2019-05-03 21:48] MrGeneration commented on #2561
Please use the complete issue form and describe your problem better. If it helps, you can also use screencasts.

[2019-05-04 09:19] BertrandGouny commented on #2561
@MrGeneration reading the 2 lines of code quoted should be enough for any javascript developer to see that `document.querySelector("." + this.options.buttonClass)` might be null so `document.querySelector("." + this.options.buttonClass).classList.add(this.inactiveClass);` give the error

not sure why you need a screencast for that

[2019-05-04 12:45] MrGeneration commented on #2561
Again: Please do complete the issue template, as it is incomplete.
I will have to close this if it's not completed.

[2019-05-04 13:05] MrGeneration commented on #2555
Sorry, I still cannot reproduce this.
This is a package installation?

On what version did you migrate?
Does your logfile (production.log) contain any error messages?

Maybe the network protocoll of your browser giving missing sources while loading?

If this still doesn't help, I'm afraid, that this might be rather a technical question than a bug.

[2019-05-04 13:16] MrGeneration commented on #627
Oh wow - that one was under our radar, true, the option already exists!
Thanks for the follow up :)

This has been added with:
https://github.com/zammad/zammad/commit/b8015d5ba18fc08795a48fdda618dbab469041ed

[2019-05-04 13:18] MrGeneration commented on #2556
Please complete the issue template (information in "Infos" are missing!)
Otherwise I can't start the verification process.

[2019-05-04 14:05] rixx commented on #627
Actually, I'm not sure that closing this issue is correct – I activated the option and I still receive new tickets for incoming retweets.

[2019-05-04 16:07] mantas commented on #2561
@BertrandGouny developer here. Knowing which line causes the crash won't tell me how to reproduce the bug.

[2019-05-04 16:16] BertrandGouny commented on #2561
@mantas as stated in "Steps to reproduce the behavior" you can  reproduce the bug by taking back znuny-no-jquery.html example file and removing the dom element with class="open-zammad-chat"

[2019-05-05 22:29] rixx commented on #2556
Updated.

[2019-05-07 12:29] martinvonwittich opened #2562 "Empty lines are lost when copypasting text from MS Office into Zammad"
### Infos:

* Used Zammad version: 2.9.x
* Installation method (source, package, ..): docker-compose
* Operating system: Debian 9
* Database + version: postgres
* Elasticsearch version: doesn't matter
* Browser + version: Chrome 72

As discussed in the community before: https://community.zammad.org/t/empty-lines-are-lost-when-copypasting-text-from-ms-office-into-zammad/2357

### Expected behavior:

[2019-05-07 12:30] martinvonwittich commented on #2562
@martini could you have a look at this?

[2019-05-07 15:18] GrexAut opened #2563 "Switching groups, get "oops,... you have insufficient rights to open this""
### Infos:

* Used Zammad version: 2.9.x
* Installation method (source, package, ..): apt package
* Operating system: Ubuntu 18.04
* Database + version: MariaDB 10.2
* Elasticsearch version: 5.6.16
* Browser + version: FireFox 66.0.4 (64-Bit)

### Expected behavior:
Change group of ticket to other group, where agents do not have read permissions, only create and change.
*

### Actual behavior:
Aft

[2019-05-08 09:40] DS-networks opened #2564 "LDAP-Import 500 user limit?"
The LDAP-Import is hanging since yesterday
![zammadldap](https://cloud.githubusercontent.com/assets/28089775/25476002/ed7caa62-2b38-11e7-921d-336269bae158.PNG)
Is it possible to stop / restart the import?

_Originally posted by @SGVubmluZ0cK in https://github.com/zammad/zammad/issues/350#issuecomment-297657063_

Hi,
is there a limit of 500 users somewhere?
We also have the problem that just 500 us

[2019-05-08 11:11] DS-networks commented on #2564
It is a limit of openldap:
https://www.openldap.org/doc/admin24/limits.html
Default limit is 500.
Adding the olcLimits attribute in cn=config olcDatabase for the zammad sync user resolves the issue.

[2019-05-08 11:11] #2564 closed, assigned to nobody

[2019-05-08 11:18] MrGeneration commented on #2564
Glad you found the solution.
For the next time, as this was a technical question, please refer to our community: https://community.zammad.org :-)

Bests!

[2019-05-08 11:21] MrGeneration commented on #627
Please ensure that the retweetet tweet Zammad imports does not contain a search phrase.
If this still persists (even though it's working as expected on my end), please share the used Zammad-Version, used Browser, used database and installation type (docker, package or source)

[2019-05-08 11:36] MrGeneration commented on #2563
You're correct, if you have no rights (no matter if creating or switching to a group you have no rights in).

Just a side note: It technically makes no sense to allow changing tickets, when you can't read them. :-)

[2019-05-08 11:42] GrexAut commented on #2563
Hi,

yes you are correct, but we are using zammad not as customer to agents, we are using "agents to agents", and we would like to give the ticket to other instances inside our company (second level support). The creator of the ticket, should not have rights anymore, if first level support gave the ticket to the second level support, because there can be some information (comments) in future, that

[2019-05-08 11:46] rixx commented on #627
They do contains a search phrase, but as they are still retweets, I don't see why they should open separate tickets. As long as this behaviour cannot be changed, the Twitter integration is nearly unusable to us.

[2019-05-08 13:26] MrGeneration opened #2565 "Visualise locked users in UI and make them unlock-able for admin"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1042723

### Wanted behavior:

* ~~Zammad will inform the user that his account is locked (after trying to login and reaching the limit)~~
* visualize a locked user account within Zammad for the

[2019-05-08 18:01] martinvonwittich commented on #262
I know, but IMO this isn't actually a problem. What I'm imagining would be a configurable filter, pretty similar to how it currently works for report profiles. An admin could create a new activity stream profile called "No Spam" and add a condition:

- Tags: contains one not: `spam`

and then set this profile as the default profile. Then it doesn't really matter how you're tracking spam in Zammad,

[2019-05-08 19:28] forgeOneHQ commented on #2555
@MrGeneration  I installed the latest package from zammad and everything is working again.

Ticket is closed, thanks! :)

[2019-05-08 19:28] #2555 closed, assigned to nobody

[2019-05-08 20:29] MrGeneration commented on #2555
Glad it's fixed, thanks for your feedback.

[2019-05-09 08:20] GrexAut opened #2566 "Tags with comma not working properly"
### Infos:

* Used Zammad version: 2.9.x
* Installation method (source, package, ..): apt package
* Operating system: Ubuntu 18.04
* Database + version: MariaDB 10.2
* Elasticsearch version: 5.6.16
* Browser + version: 66.0.4 (64-Bit)

### Expected behavior:
Using existing tags with comma "," like "abcdefgh, 123" add at tickets.
*

### Actual behavior:
If I try to add the existing tag "abcdefgh, 1

[2019-05-09 09:48] backbord opened #2567 "Stuck in session of a different user"
### Infos:

* Used Zammad version: 2.9.0 (zammad.x86_64 2.9.0-1550130576.fe1640fd.centos7 @zammad)
* Installation method (source, package, ..): yum
* Operating system: CentOS 7
* Database + version: PostgreSQL
* Elasticsearch version:
* Browser + version: Chrome 74 under Windows 10

It's difficult for me to explain, but I'll try.

If there's something I can look in 8 GB of production.log for, I'll

[2019-05-09 09:54] MrGeneration commented on #2567
Thanks for your contribution.
Just to double check:

You're basically saying that you log in to Zammad, put it to sleep/hibernate and in the mean time a coworker logs in into Zammad at another machine. When getting your machine back online, you suddendly have the session details of your co worker as long as you don't log out?

Is this installation 100% original package or did you change *any* part

[2019-05-09 14:04] MrGeneration opened #2568 "Change-Right allows creation of new tickets"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): package
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1042713

### Expected behavior:

* When setting access rights for a agent to a group with Change-Right (no write/create), Zammad will not allow creation of new tickets within this group.

##

[2019-05-09 14:14] backbord commented on #2567
Hi MrGeneration,
yes that's exactly the case.

We're using a SSO solution, so let me check with IT if any changes where done.

I'll get back to you shortly.

[2019-05-09 14:25] backbord commented on #2567
So yeah, we're using Zammad behind an Apache that is configured to use SSO via Kerberos and pass the login on to Zammad.
For that to work, we added the following two lines at the beginning of function `create_sso` in file `/path/to/zammad/app/controllers/sessions_controller.rb` as proposed in https://github.com/zammad/zammad/issues/1192#issuecomment-353344234:
[code]

Maybe this isn't an issue wit

[2019-05-10 18:16] MrGeneration opened #2569 "Enhance tag search to use fulltext search"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1042889

### Expected behavior:

Searching for a substring of a tag will work.
Example, if your tag is `feedback`, you can also search for `back` and the search result will be `feedback`.

### A

[2019-05-10 18:29] MrGeneration opened #2570 "Add scroll bar to tag list if not enough room is available"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Problem description and enhancement approach:

A scrollbar will appear, whenever there's not enough space for an element.
While, when being on a FullHD-Screen, 10 elements on the tag list is totally fine

[2019-05-10 18:29] MrGeneration commented on #1540
Just a small follow up, we're currently evaluting if raising this limit is "good enough".
For this, we're currently checking how "bad" a scrollbar will be ( #2570 ) and how much items are resonable before we cut the results. (in my opinion showing 200 elements is not reasonable, nobody will -ever- scroll through that and actually find what he searches for :D)

Secondly, we've decided to adress sub

[2019-05-10 19:28] fthommen commented on #1540
Thx. I agree with the length issue.  I am also in favor of substring search

[2019-05-13 10:25] MrGeneration opened #2571 "Exclude retweets from search results if retweet tracking is disabled"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

Zammad will not track retweets if disabled, even if it finds keywords within a retweet.

### Actual behavior:

Zammad will import retweets (even if disabled) as soon as one of your se

[2019-05-13 10:26] MrGeneration commented on #627
Thanks for your feedback!

As this is a follow up on a closed/solved issue, I created a new issue on this. Please note that we rather see this as an enhancement at the moment.

You can find it here: #2571

[2019-05-13 10:26] #627 closed

[2019-05-13 11:01] MrGeneration commented on #257
Just as follow up:
We created a new enhancement issue on, as we'd like to have this functionality a bit broader.
To ensure to keep a specific overview and to meet our requirenments, I edited and updated your first post.

I hope you bear with me. :-)

[2019-05-13 11:19] MrGeneration commented on #914
This is a duplicate of #257
We edited the above mentioned issue to ensure that it also covers this issue.

I therefore will close this as duplicate :)

[2019-05-13 11:19] #914 closed

[2019-05-13 18:24] jangrewe opened #2572 "Mail::AddressList can not parse"
### Infos:

* Used Zammad version: stable / 2.9.x
* Installation method (source, package, ..): git
* Operating system: Debian stretch
* Database + version: MariaDB 10.2.24
* Elasticsearch version: 6.6
* Browser + version: Firefox 66

### Expected behavior:

* Mails get processed

### Actual behavior:

[code]

### Steps to reproduce the behavior:

* Receive a mail with an unusual character in the F

[2019-05-14 04:31] SummerStorm commented on #2572
Hi there, can you please anonymize the email, rename it as a `txt` file, and upload it here? Thanks!

[2019-05-14 08:07] jangrewe commented on #2572
Looks like this was 2 problems in one, as the "can not parse" error went away when i replaced that special character, but it still wouldn't import - until i increased `max_allowed_packet` for MariaDB.

The mail is now imported and gone, unfortunately, but the remaining issue seems to be characters like `Š` in the From.

[2019-05-14 08:30] SummerStorm commented on #2572
This is a duplicate of #2456, which has been fixed on the `develop` branch. The fix will be included in Zammad 2.10.

I tried this minimal example on `develop` and it imported the `From` field correctly:

[code]

Please re-open this issue if you experience it after Zammad 2.10 has been released. Thank you for your contribution.

[2019-05-14 08:30] #2572 closed, assigned to SummerStorm

[2019-05-14 14:47] MrGeneration commented on #2563
Closing this as a duplicate for #967 as this covers this issue (I extended the "close tab feature" part) :-)

[2019-05-14 14:47] #2563 closed, assigned to nobody

[2019-05-15 09:24] martini opened #2574 "Every night tickets are updated (system need to use SLAs)"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Do only update tickets if content has changed, even if I use SLAs.

### Actual behavior:

* Tickets are updated every night (without any changes)

### Steps to reproduce the behavio

[2019-05-15 10:42] Signum opened #2575 "Uninstallable on Debian 9 due to key constraint"
### Infos:

* Used Zammad version: 2.9.0-1556788014.16325a31.stretch
* Installation method (source, package, ..): Debian package
* Operating system: Debian Stretch/9
* Database + version: PostgreSQL 9.6
* Elasticsearch version: 5.6.16
* Browser + version: Firefox 66.0.3

### Expected behavior:

* "apt install zammad" installs a working Zammad instance

### Actual behavior:

* Installations fails a

[2019-05-15 10:47] MrGeneration commented on #2575
Just to double check: This is a fresh install of Zammad without an existing Zammad-Database before?

[2019-05-15 11:01] Signum commented on #2575
Correct. I deliberately dropped the database before trying a second time and started over.

[2019-05-15 11:44] Signum commented on #2575
The workaround I described does not completely install Zammad by the way. I dropped the key constraint, ran the INSERT on the translations table again and at least ran through the basic installer.

However the installation throws warnings at:

[code]

This issue is described in other places and there has been no workaround for it yet. So it seems that I am stuck now. Let me know how I can help tra

[2019-05-15 11:54] satheeshrajan commented on #596
@firlevapz Can you please update that in which file or the location that we need to update the field "address" to make the gitlab authentication working for Zammad.

Thanks

[2019-05-15 12:01] MrGeneration commented on #596
@satheeshrajan please don't recycle old issues.
I think @firlevapz meant a custom object within the user space.

If this is no bug, please refer to our community for further technical questions: https://community.zammad.org (locking conversation now)

[2019-05-15 12:02] Signum commented on #2575
At this stage I could run "zammad run rake db:seed" and finally ended up with a working instance. Phew…

[2019-05-16 12:15] MrGeneration opened #2576 "Permanently add SSO readiness"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any (Firefox needs fiddling)
* Ticket-IDs: #1041777, #1040804

This partially plays into #1192 (which is more of a documentary part by now, so this is the clean version for a developer to do magic on :) )

### Re

[2019-05-17 08:32] mbirkenkamp commented on #1573
We have multiple support teams, and coordinators that are universal, so it would be great if we could give them multiple organisations

[2019-05-20 09:24] MrGeneration commented on #214
This is already part of Zammad and has been adressed with: https://github.com/zammad/zammad/commit/7d2409bddcbeaa0d400c6deb7012cec97ee53008

[2019-05-20 09:24] #214 closed

[2019-05-20 21:37] MacLemon commented on #2525
Same problem here.

Infos:
Used Zammad version: 2.9.0
Installation method (source, package, ..): source
Operating system: FreeBSD 11.2-p10
Database + version: postgres 10.8
Elasticsearch version: 5.6.8
Browser + version: Chromium 73, Firefox 66

I can add that adding tags via Macro works fine.
Just Notes don't get added.

[2019-05-21 06:18] tbsfnk opened #2577 "How to set log level?"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): package
* Operating system: Debian 8.11
* Database + version: postgresql 9.4+165+deb8u3
* Elasticsearch version: 5.6.15
* Browser + version: Not relevant

### Expected behavior:
Less logging

### Actual behavior:
For me zammad loggs to much infos that i only need on debugging.

`I, [2019-05-21T08:13:25.907897 #2592

[2019-05-21 06:25] tbsfnk commented on #2577
Sorry found the solution:
https://github.com/zammad/zammad/blob/develop/config/environments/production.rb#L49

[2019-05-21 06:25] #2577 closed, assigned to nobody

[2019-05-21 06:59] Dirk23 opened #2578 "ERROR: Can't process email"
### Infos:

* Used Zammad version: 2.9.x
* Installation method (source, package, ..): APT
* Operating system: Ubuntu 18.04
* Database + version: ?
* Elasticsearch version: ?
* Browser + version: Chrome lastest

[code]

I can submit the E-Mails wich are not processed, but not here.

What can we do to stop this from happening in the future?

Yes I'm sure this is a bug and no feature request or a gen

[2019-05-21 07:18] MrGeneration commented on #2578
Could you please send one or two affected sample mails als eml-file to us?
support[at]zammad[dot]com - we'll check with our developers what the issue is and address it, if it's a bug. :-)

[2019-05-21 07:58] thorsteneckel commented on #865
Thanks to the great people over at https://github.com/Graylog2 (namely @jalogisch) we now have a first version of a Freshdesk migrator that we will transfer over to the Zammad core for everybody to use. The migration went pretty smooth and we're now looking for additional beta testers. If you are interested please reach out to support@zammad.com and refer to this issue and me. Thanks!

[2019-05-21 10:58] PaperinoBello commented on #934
Hi! can you past you php script please?? Thanks a lot!

[2019-05-21 11:20] MrGeneration opened #2579 "SLA fails to set close_in_min and close_diff_in_min"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1043304, #1062531, #1078017

### Expected behavior:

When enabling solution time within a SLA, Zammad will calculate the values `close_in_min` and `close_diff_in_min` during closing a ticket.

#

[2019-05-21 11:31] PhilippSchreiber opened #2580 "Opening search from external does not trigger search endpoint"
### Infos:

* Used Zammad version: 2.10.x (DEV channel)
* Installation method (source, package, ..): ?
* Operating system: ubuntu0.18.04.1
* Database + version: Mysql 5.7.26
* Elasticsearch version: 5.6.16
* Browser + version: Google Chrome 74.0.3729.131

### Expected behavior:

* When I open a link from an external tool (in our example our CRM) to the search page with parameters in the URL it sho

[2019-05-21 11:42] raphaelm opened #2581 "Incorrect modification dates in ticket overviews"
### Infos:

* Used Zammad version: 2.9.0-1556788014.16325a31.stretch
* Installation method (source, package, ..): Debian package
* Operating system: Debian 9
* Database + version: Postgres 9.6+181+deb9u2
* Elasticsearch version: 5.6.16

### Expected behavior:

* In all overviews, all tickets are shown with their correct date.

### Actual behavior:

* In *some* of our overviews, *every* ticket olde

[2019-05-21 12:12] #2574 closed, assigned to martini

[2019-05-21 13:33] MrGeneration commented on #2580
Sorry but that's rather a technical question. :-)
You're trying to use a invalid endpoint, if you're using the right one it works (just tested).

Your endpoint is `/api/v1/search` - you want to append `?query={mysuperduperquery}` and you should receive results right away. :-)

![image](https://user-images.githubusercontent.com/6549061/58100312-abb0f280-7bdd-11e9-8bd6-918456557067.png)

[2019-05-21 13:36] MrGeneration commented on #2581
I'm very sure you have SLA enabled. This is a bug ( #2547 ) which has been solved yesterday.
It's also in stable, so you can update your Zammad - the issue should be gone then. :-)

[2019-05-21 13:36] #2581 closed, assigned to nobody

[2019-05-21 13:46] raphaelm commented on #2581
Thanks a lot, we've upgraded to 2.9.0-1558365959.533e6cb3.stretch and will monitor the situation!

[2019-05-21 18:37] vsurrel commented on #2545
As of today, I performed an update. Of course, it worked like a charm and I didn't did anything this time to disable ES configuration. Quick console output :

`root@desk:~# zammad run rails r "Setting.get('es_url')"`
`root@desk:~# dpkg -s zammad | grep '^Version:'`
`Version: 2.9.0-1554805410.8c7abf98.stretch`
`root@desk:~# apt upgrade`
`[snip]`
`Unpacking zammad (2.9.0-1558365959.533e6cb3.stretch)

[2019-05-21 18:56] MrGeneration commented on #2545
`zammad run rails r "Setting.get('es_url')"` will not give any output and thus is useless in this case.
Please run `zammad run rails r "p Setting.get('es_url')"` to make it usefull :)

Also, please update your first post with a complete issue template:
[code]

Another hint (which why I'm still absolutely unsure how to treat this issue...) elasticsearch is *mandatory*.
See: https://docs.zammad.org/

[2019-05-22 06:37] monotek opened #2582 "Supported elasticsearch versions are eol"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): deb
* Operating system: ubuntu
* Database + version: mysql
* Elasticsearch version: 5.6
* Browser + version:

### Expected behavior:

Zammad supports a current es version

### Actual behavior:

* 5.6 and even 6.0 are end of life. Forcing users to use unmaintained versions is a security risk.

### Steps to reproduce

[2019-05-22 06:47] thorsteneckel commented on #2582
Hi @monotek - this is a duplicate of/additional information for #1688.

[2019-05-22 06:47] #2582 closed, assigned to nobody

[2019-05-22 06:50] thorsteneckel commented on #1688
It has been way to quiet around here from our side. To give you all a heads up: We're working on this issue and will add support for newer ES versions in one of the upcoming releases.

As @monotek already stated in #2582 ES 5.6 and 6 have reached their EOL.

[2019-05-22 07:55] monotek commented on #2582
Ah, sorry. Wasn't able to find it as i thougt I had already opened that ticket 😁

[2019-05-22 13:18] Tulan opened #2583 "API call to find tickets not working - elasticsearch errors"
### Infos:

* Used Zammad version: 2.9 (May 21th build)
* Installation method (source, package, ..): RPM package for CentOS
* Operating system: CentOS 7.6
* Database + version: PostgreSQL 9.2.24
* Elasticsearch version: 5.6.13
* Browser + version: Firefox 60.6.1esr

### Expected behavior:

* When using API to retrieve tickets, it would give me tickets list in JSON format.

### Actual behavior:

*c

[2019-05-22 13:30] MrGeneration commented on #2583
This is not a bug and functions as designed.
Reason behind this is, because you want to format your URL correct.

Replease `:` by `%3A` and you'll be fine.
Closing now.

For technical questions, please consult https://community.zammad.org

[2019-05-22 13:30] #2583 closed, assigned to MrGeneration

[2019-05-22 14:22] tbsfnk opened #2584 "Strange errors in log file"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): deb
* Operating system: Debian 8.11
* Database + version: postgresql 9.4+165+deb8u3
* Elasticsearch version:  5.6.16
* Browser + version: not relevand

### Expected behavior:
no errors in /var/log/zammad/production.log

### Actual behavior:
I set the log level to "error".
Now i noticed that i get some strange error

[2019-05-22 14:22] MrGeneration opened #2585 "Enhance History for users doing stuff on behalf another user"
### Infos:

* Used Zammad version: 2.9
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1042732

### Desired behavior:

As admin users are able to do things on behalf of a user, Zammad should note those crucial information within the history. Especially, when a admin creates articl

[2019-05-22 14:25] MrGeneration commented on #2584
Please provide a full log output, as the part of the traceback is not enough to determine where this comes from. I'd suggest 20-30 lines before the traceback comes.

Also, ensure you've completely followed the following documentation page:
https://docs.zammad.org/en/latest/install-elasticsearch.html

[2019-05-22 14:31] tbsfnk commented on #2584
ok i will shortly provide this info.

I tried now no reinstall elasticsearch and i get this:
![grafik](https://user-images.githubusercontent.com/33467318/58183079-f77f9c80-7cae-11e9-9b3d-37f69a3f165f.png)
is that normal?

UPDATE:
Installations finishes with: -> Installed ingest-attachment

[2019-05-22 14:33] MrGeneration commented on #2584
Yes this is normal, for technical questions, please refer our community ( https://community.zammad.org ) as Github is not the right place for this.

[2019-05-22 14:39] tbsfnk commented on #2584
Here is the log:
[code]

[2019-05-22 14:43] MrGeneration commented on #2584
Sorry, but this is a technical question and is another problem beside of elasticsearch.
Please refer our community.

Closing now.

[2019-05-22 14:43] #2584 closed, assigned to nobody

[2019-05-22 14:48] tbsfnk commented on #2584
And the SearchIndexJob error?

[2019-05-22 14:52] MrGeneration commented on #2584
Please continue this in the community, if this is a bug, we'll reopen this. Right now I am sure that this is not a bug, but a miss use or miss configuration.

[2019-05-23 06:57] tbsfnk commented on #2584
I found the cause why i get these errors.
When a agent tries to open/view a ticket which has been deleted, zammad throws these linies in /var/log/zammad/production.log:

[code]

I think we can now agree that this is a sort of bug...

[2019-05-23 08:46] Tulan commented on #2583
Hi,
thanks for your answer.

So there is a bug in the [official documentation](https://docs.zammad.org/en/latest/api-intro.html#api-clients):

BTW if I replace the `:` by `%3A`, I have the same problem:
`curl --user 'admin@dmz.ctl-sat:XXXXX' -k https://zammad-server:443/api/v1/tickets/search?query=state%3Anew`

`{"tickets":[],"tickets_count":0,"assets":{}}`

When looking in logs files in my First

[2019-05-23 08:53] Tulan commented on #2583
OK my fault, it was a right problem T T

sorry for disturbing.

[2019-05-23 10:28] PhilippSchreiber commented on #2580
Nope, sorry. I am not talking about using the API directly but to pass parameters to the Zammad Frontend. And in the frontend there is a bug so it does not trigger the API request correctly. Please reopen.

[2019-05-23 10:36] MrGeneration commented on #2583
My bad, you're right.
Our documentation is outdated here and `:` sometimes seems to work.

I created an enhancement issue to address this. This will ensure that it's always working as expected.
https://github.com/zammad/zammad-documentation/issues/81

[2019-05-23 10:54] MrGeneration commented on #2580
For your information:
This currently works as designed, but we agree that this can and should be enhanced.

[2019-05-23 12:42] martinvonwittich opened #2586 "Double-click timeout in ticket zoom too short"
As discussed in the community: https://community.zammad.org/t/selecting-text-in-an-article-via-double-click-triggers-detail-view/2527/1

### Infos:

* Used Zammad version: 2.9.x
* Installation method (source, package, ..): docker-compose
* Operating system: Debian 9
* Database + version: docker-compose
* Elasticsearch version: docker-compose
* Browser + version: Chrome 74

### Expected behavior:

[2019-05-23 12:51] thorsteneckel commented on #2586
Hi Martin, nice to read from you. I encountered that myself in my daily support work. So thanks for digging into it. Your solution sounds reasonable to me. @martini - what do you think?

[2019-05-23 14:15] MrGeneration commented on #2575
I found some time to test this on a fresh install of Debian 9 and could not verify this.
I'm sorry - maybe this was a temporary problem.

[2019-05-23 14:15] #2575 closed, assigned to nobody

[2019-05-23 15:04] casparflintstone opened #2588 "SMS gateway - error whiloe testing"
### Infos:

* Used Zammad version:  2.9.x

* Installation method (source, package, ..):
* Operating system: Debian
* Database + version:
* Elasticsearch version:
* Browser + version:

### Expected behavior:

Try to send SMS (Test)

### Actual behavior:

SMS gateway - error while testing
{"error":"\"\\xC3\" from ASCII-8BIT to UTF-8"}

### Steps to reproduce the behavior:

*

Yes I'm sure this is a

[2019-05-23 15:07] MrGeneration commented on #2588
Please fill in the missing information in the template, as other wise we can't verify the issue.
While you're at it, please also provide your production.log at the part where this happens (with traceback).

Edit: Maybe you should also tell us if you're testing notification or the channel and of course which provider you're using.

[2019-05-24 07:24] pvanek commented on #1055
this is actually quite showstopper for us. As a workaround - isn't it possible to switch all texts (issues and commenst) to a pre/tt text by a configured CSS for example?

[2019-05-24 13:14] martini commented on #2586
It was hard to me to see what the issue is. After I played a little bit I was able to reproduce it. But I needed 3 clicks (one to set focus and then two clicks to select the word(s)).

With 120ms:
![behavior_with_120ms_and_3_clicks_to_select](https://user-images.githubusercontent.com/110226/58330291-e1044d00-7e36-11e9-918e-2c4b809f018d.gif)

With 300ms:
![behavior_with_300ms_and_3_clicks_to_select

[2019-05-24 13:35] #2586 closed, assigned to SummerStorm

[2019-05-24 13:49] SummerStorm opened #2589 "Detail mode in ticket article view is incorrectly triggered when single-click de-selecting a text selection"
### Infos:

* Used Zammad version: 2.9.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Firefox 66

### Expected behavior:

1. Open a ticket article view
2. Double-click a word to select it
3. Single-click the same word to de-select it. The article detail view **should not be activated**.

### Act

[2019-05-24 14:01] martinvonwittich commented on #2589
I've duplicated the `@elementContainsSelection` code from `toggleMeta` into `toggleMetaWithDelay`:

[code]

That seems to improve it.

[2019-05-24 18:39] MrGeneration commented on #2578
Hey,

thanks for the patience. This is actually a regression of #2224 .
@Dev: You can find  two working samples in #1043522 - if needed, ping Marcel or Thorsten. :)

[2019-05-24 23:45] Kquinn commented on #2540
I am not sure if the dev team needs to verify, but I have independently encountered, tested, and reproduced this in a lab environment.  Screenshots of the lab are attached in a zip archive.
[Zammad_LDAP.zip](https://github.com/zammad/zammad/files/3218688/Zammad_LDAP.zip)

The data that comes back from the user_roles function in /lib/ldap/group.rb appears to return proper data:
I, [2019-05-24T15:58

[2019-05-25 13:43] thorsteneckel commented on #2540
Hey @Kquinn - thanks for your post and kudos for digging in. Unfortunately I have to tell you that this is a bad idea and will eventually lead to unexpected behavior. Zammad currently doesn't support to have users in the customer and agent role at the same time. The removed line is a safety mechanism until we add support for this functionality to protect from errors all over the application.
Good

[2019-05-25 13:57] Kquinn commented on #2540
Thanks for the reply @thorsteneckel
I did not mean for that change to be put into production, my post is meant to be about my lab environment only, and I just wanted to point out the location where the failure happens in code. I will edit my previous post to make that clear.

I assumed that the current functionality was intentional, because I see the work done to keep these roles separate. It is e

[2019-05-25 14:27] MrGeneration commented on #2540
I think that it will not be needed to give an agent customer rights. Maybe I don't get the use case to mixup user groups in that way (please correct me if I'm wrong).

I think that this works as designed and, when time comes, will be adressed by this issue: https://github.com/zammad/zammad/issues/967

Yes, this will still not allow you  to assign an agent the customer role at the same time. Maybe

[2019-05-25 15:24] Kquinn commented on #2540
@MrGeneration  - You are correct. There is no need to give Customer rights to an Agent. That is why my proposed solution above was to remove the Customer role for users who are in multiple synchronized groups instead of raising an exception.

#967 looks useful, but I do not think it is the same issue.

No offense taken, I appreciate your perspective on this, but I also would not consider it a conf

[2019-05-26 09:40] MohammedAlsayed commented on #2538
Dear @thorsteneckel ,

I'm facing the same issue when importing from Zendesk. Could you please advise?

[2019-05-26 11:14] thorsteneckel commented on #2538
Hi @MohammedAlsayed - There is currently no verified way of working around this. You could try to change the [`before_create` and `before_update` lines](https://github.com/zammad/zammad/blob/e907c13cbe2b9758d40238cb9c337ba2a47f2272/app/models/concerns/checks_html_sanitized.rb#L6-L7) to `before_save`:

[code]

Make sure to revert your changes after the import hopefully finished successfully 🤞This w

[2019-05-27 05:26] Dirk23 commented on #2578
So what does that mean?

[2019-05-27 13:24] MohammedAlsayed commented on #2538
Hi @thorsteneckel,

Thanks for your help!.

I tried previously by changing the type of the "note" column in the "tickets" table from "char(250)" to "text", and the migration finished successfully. I'm wondering why the type is char(250) where the "note" column's value in most cases has more than 250 characters. I did the following steps from Postgres command:

`ALTER TABLE tickets`
`ALTER COLUMN n

[2019-05-27 15:20] flemming-pr commented on #2228
Is there a way to set it also to an installation with docker-compose?

[2019-05-27 15:22] martini commented on #2228
@flemssound this is no issue related question, please use https://community.zammad.org for user questions.

[2019-05-27 17:22] binaryfire commented on #2582
Fantastic to hear elasticsearch 7 support is being worked on. Great work guys! We're running a couple of other apps that use v7 so we haven't been able to use our elasticsearch server with zammad yet. Looking forward to the new update :)

[2019-05-27 17:36] labforcode opened #2591 "Error fetching emails with many attachments"
### Infos:

* Used Zammad version: 2.9.x
* Installation method (source, package, ..):
* Operating system: CentOS 7
* Database + version: Postgres 9
* Elasticsearch version: 2
* Browser + version: Firefox, 67

### Expected behavior:

* Fetch e-mails no mistakes.

### Actual behavior:

* When fetching e-mail with attachments, there is the error - “Channel: Email::Account in Can’t use Channel::Driver

[2019-05-27 22:28] martinvonwittich commented on #2518
We also just stumbled over this. The root cause seems to be a broken icon - it tries to display `<svg class="icon icon-file-text "><use xlink:href="assets/images/icons.svg#icon-file-text"></use></svg>`, but `icons.svg` doesn't actually contain a `icon-file-text`. This causes the browser to display an empty SVG, and the default size of an empty SVG is apparently 300x150 px:

https://svgwg.org/specs

[2019-05-27 23:46] MrGeneration commented on #2591
As also already stated in our community: Please provide logfiles or whatever indicates "the error".
If this is a technical question, please stick to our community.

[2019-05-27 23:48] MrGeneration commented on #2578
This means that we will address this when we find the time to do so.

[2019-05-28 09:28] thorsteneckel commented on #2518
Thanks a ton for digging into it @martinvonwittich ! @mrflix - can you please check where our text icon went? 🏖

[2019-05-28 09:46] Dirk23 commented on #2578
Is there a way to "delete" the not processable Mails from Zammad?
![image](https://user-images.githubusercontent.com/4200682/58468579-17471280-813e-11e9-9222-972e7301bf61.png)

I already fixed the problems in these E-Mails and i dont need them any more.

[2019-05-28 09:53] Dirk23 commented on #2578
Ok, i found it my self:

https://community.zammad.org/t/unprocessable-mails/779/5

Thank you anyways

[2019-05-28 10:00] thorsteneckel commented on #2578
The actual issue of the unprocessable mail is not resolved yet. Therefore I reopen the issue. Glad that it works now for you @Dirk23 👍 Let's get this fixed for the other installations out there.

[2019-05-28 15:04] thorsteneckel commented on #2538
Hi @MohammedAlsayed - thanks for your follow up. From our experience the 250 chars in the notes attribute are usually enough. We only faced issues with the size when importing from zendesk :)

Good to hear that the proposed workaround does the job. This will give us some time until we fully resolve the issue.

Regarding your question. [Yes, it's possible to import tickets via CSV](https://communit

[2019-05-28 15:47] martinvonwittich commented on #1987
I've just found this option in the code - apparently there is no user interface to configure this, and I had to use the rails console to set it:

[code]

Is that intentional, or a bug?

[2019-05-28 15:48] martinvonwittich commented on #2518
I'd argue it was never there in the first place :D

[code]

A comparison with another icon:

[code]

Next to the missing icon in `icons.svg` itself, I believe `icon-file-text` is also missing in `app/assets/stylesheets/svg-dimensions.css`:

[code]

I thought it would also be useful to somehow provide a default size for the <svg>, in case that other `.icon-file-*` definitions are missing that we ha

[2019-05-29 07:00] thorsteneckel commented on #1987
Hi @martinvonwittich - there are some (undocumented) "advanced" settings that come without a UI. This is one of them - so intentional.
We do this to keep the UI clean and cover the functionalities most of the people actually need. However, there are other valid, more special use cases which we want to cover as well. This is our current way of approaching this.

[2019-05-29 07:25] LittleNo commented on #2074
Any news on this one?

I may add another two aspects regarding GDPR:
1. the law requires not only deleting the specified data, but to be able to display all stored data related to a person as well. The best solution for this would be a PDF export that combines all personal data as well as all related ticket information.
2. Not only the customer person must be able to delete their own personal data

[2019-05-29 08:04] #2510 closed, assigned to SummerStorm

[2019-05-31 08:59] SummerStorm commented on #2578
This is no longer reproducible on `develop` as of 48766c7db90f82b82e4ae7fe9e309a8e8a835093.

The issue still exists on `stable`, but the next release is coming soon so the fix won't be backported.

[2019-05-31 08:59] #2578 closed, assigned to SummerStorm

[2019-05-31 13:46] MrGeneration commented on #2074
I'm locking the conversation now, as bumps don't really help :(
We're working on it, the current state is "Waiting for QA".

Sorry for us taking so long, but this wants to be done very careful.
We can continue the discussion here: https://community.zammad.org/t/gdpr-dsgvo-delete-function/2569/3

As also mentioned, for manual deletion via console, you can also consider the following doc:
https://do

[2019-05-31 14:14] alexandresouza commented on #2477
This issue remains

[2019-05-31 14:22] MrGeneration commented on #2584
Again, please switch to our community for now please.
Especially important to know is "How do you delete those Tickets in Question?"
Because normally the  above error should not appear if you do it "correctly".

[2019-05-31 14:42] MrGeneration commented on #1648
I don't see why we should keep Office 2003 support.
This product is end of life since mid 2014: https://support.microsoft.com/de-de/lifecycle/search?alpha=Outlook

Besides: During my tests I noticed that Zammad does not set any <p>-Tags (see below) and that the file changed to `/opt/zammad/app/views/mailer/application_wrapper.html.erb`, the above mentioned file does not exist on default "from scra

[2019-05-31 16:02] MrGeneration commented on #2133
I could verify that Zammad does not send the mail to a valid recipient, as long as you also put wrong recipients inside. This works not as expected, Zammad should ignore specific mail command errors to ensure to still send mail to valid recipients.

Those codes are atleast (**only applies if you have more than one recipient, either in CC or TO**):
* `521` domain does not accept mail (rfc1846)
* `4

[2019-05-31 16:54] MrGeneration commented on #2307
Verified on Zammad 2.10 develop.
Zammad should ignore it's own E-Mail-Addresses and not create Customers from it.

[2019-05-31 17:12] MrGeneration commented on #2477
## Entity Too Large

This is mainly a nginx error (with a too big attachment being uploaded), but Zammad fails to intepret it correctly.

`2019/05/31 18:58:00 [error] 713#713: *389 client intended to send too large body: 99112562 bytes, client: 192.168.2.122, server: 172.16.16.3, request: "POST /api/v1/upload_caches/321778948 HTTP/1.1", host: "172.16.16.3", referrer: "http://172.16.16.3/"` is logg

[2019-05-31 17:18] MrGeneration commented on #2482
Sorry for the wait.
Seems like this is fixed within 2.10 (develop).

As this release is coming soon, I'll close this issue. (Proberbly related with our mail gem update).

![image](https://user-images.githubusercontent.com/6549061/58722857-d4ed3200-83d8-11e9-920e-b77b44af23b8.png)

[2019-05-31 17:18] #2482 closed, assigned to nobody

[2019-05-31 17:31] MrGeneration commented on #2481
I'm sorry, but with the provided information I have no chance of reproducing this.
My Test-Mail ended up to be above 300kb (which I consider fairly big for just test with one inline image).

I can not reproduce this.
I attached my test Mail so you can cross check on your installation, it's possible that develop is working by now and the problem still exists on 2.9.

[ticket-71009-41.txt](https://g

[2019-05-31 17:31] #2481 closed, assigned to nobody

[2019-05-31 17:47] MrGeneration commented on #2591
Anyway, I couldn't reproduce this.
I've tested this with more than 80 attachments and a total size of 58MB.

If you feel like this is an error, please provide error logs when the error appears.

[2019-05-31 17:47] #2591 closed, assigned to nobody

[2019-06-01 19:25] julianmatz commented on #1641
With regards to #223 : I perfectly understand the noise problem, but I wanted to let you know, I don't think it's possible to upvote on locked threads.

[2019-06-01 19:39] herzkerl commented on #501
I don't understand it yet, but when restoring my Zammad backup (from old Docker host to new CentOS host) I keep getting some errors that seem related to what @RAD-X posted.

I.e. when asking for the PostgrSQL DB password the script waits for a few seconds and then continues—so the password is missing and the DB backup won't get restored.

[2019-06-01 23:43] MrGeneration commented on #1641
Locking, sorry but this doesn't help at all.
Again: We have it on our list.

[2019-06-01 23:56] MrGeneration commented on #501
I'll be closing this, as Zammad does have a Backup and Restore-Script by now.
I can think of ton of reasons, why a Web-Backup is imho a bad idea (GPDR/DSGVO is just one part of that).

[2019-06-01 23:56] #501 closed

[2019-06-03 06:48] #2518 closed, assigned to mrflix

[2019-06-03 08:27] mrflix commented on #2518
@martinvonwittich nice git command skills! Thank's for looking into this. The icon name is mapped in [view_helpers.coffee](https://github.com/zammad/zammad/blob/develop/app/assets/javascripts/app/lib/mixins/view_helpers.coffee#L187) but – as you correctly assessed – didn't actually exist.
So created the icon:
![Image Pasted at 2019-5-31 17-25](https://user-images.githubusercontent.com/60777/587874

[2019-06-05 07:58] NeverMin opened #2593 "missing OTRS.png asset in Import Wizard"
### Infos:

* Used Zammad version: git/develop
* Installation method (source, package, ..): source
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Steps to reproduce the behavior:

* open [import wizard](https://zammad.example.com/#layout_ref/import_wizard) in layout_ref
* [otrs logo](https://zammad.example.com//assets/images/otrs-logo.p

[2019-06-05 16:56] thorsteneckel commented on #366
A little colorful bird just told me that you should keep an eye on the [news section of our website](https://zammad.com/news) tomorrow. [Closing now](https://github.com/zammad/zammad/commit/97d14a93b3fee85769cedf4c1e7abd770798088f). Thanks to everybody being involved and a special thanks for your patience from the whole team!

[2019-06-05 16:56] #366 closed

[2019-06-07 06:05] sstidl commented on #2516
Is this really not fixed in 3.0?

[2019-06-07 07:54] hanneshal opened #2594 "Wrong date format in Excel Exports of reporting download"
### Infos:

* Used Zammad version: 3.0 develop
* Installation method (source, package, ..): package
* Operating system: macOS
* Database + version: Postgres
* Elasticsearch version: 5.6
* Browser + version: Safari

### Expected behaviour:

* I would like to use the report export in Excel to aggregate Ticket data using the different dates (Create/Update/Close).

### Actual behavior:

* The date for

[2019-06-07 08:31] DoktorAerzt opened #2595 "Gitlab Login not working after upgrade to Zammad 3.x"
### Infos:

* Used Zammad version: 3.x
* Installation method (source, package, ..): deb-package
* Operating system: Ubuntu 18.04.2 LTS
* Database + version: Installed with Package
* Elasticsearch version: 5.6.16
* Browser + version: All

### Expected behavior:

*Login in with Gitlab to an account

### Actual behavior:

*When i press "GitLab" on the login package i get an 500 Erro page.

After i up

[2019-06-07 08:31] DoktorAerzt commented on #2595
[production.log](https://github.com/zammad/zammad/files/3265075/production.log)

[2019-06-07 09:12] MrGeneration commented on #2516
No it's not.

[2019-06-07 09:14] martini commented on #2516
Just saw it. It's in CI now... it's coming...

[2019-06-07 12:25] MrGeneration commented on #2595
Super short:
This is a regression caused by:
https://github.com/zammad/zammad/commit/3acfa4a277c29a0eb3b7bff83fde1a60718a9746

### affected code

Affected Line *vendor/bundle/ruby/2.4.0/gems/omniauth-gitlab-2.0.0/lib/omniauth/strategies/gitlab.rb*
[code]
When fiddling around, I learned that raw_info seems to be not set (`nil`)

*vendor/bundle/ruby/2.4.0/gems/omniauth-1.9.0/lib/omniauth/strategy.rb

[2019-06-07 17:16] martini commented on #2516
It's now fixed for Zammad 3.0 and 2.9. 🥂

[2019-06-07 17:16] #2516 closed, assigned to martini

[2019-06-08 08:41] sstidl commented on #2516
Thanks!

[2019-06-10 00:32] MrGeneration commented on #879
Further information on API can be found here:
https://docs.zammad.org/en/latest/api-intro.html

I'll be closing this, this is solved.

[2019-06-10 00:32] #879 closed

[2019-06-10 07:57] NeverMin opened #2596 "Chat header's height is too small"
### Infos:

* Used Zammad version: 3.0
* Installation method (source, package, ..): Source
* Operating system: Ubuntu 18.04 (Server/Client)
* Database + version: any
* Elasticsearch version: any
* Browser + version: Chrome 75.0.3770.80 & Firefox 67.0.1

### Expected behavior:

* zammad-chat-header height: 3.5em
![image](https://user-images.githubusercontent.com/2797432/59179769-a5d37f00-8b95-11e9-

[2019-06-11 08:09] #2523 closed, assigned to nobody

[2019-06-11 08:10] MrGeneration commented on #2523
Closing because of missing feedback (correct log entries).
We can't reproduce this at all. (sorry).

[2019-06-11 09:25] YosefAdPro opened #2598 "RTL writing system support in Public KB"
*Parts of this article have been edited by @MrGeneration to meet our requirenments*

### Infos:

* Used Zammad version: 3.0
* Installation method (source, package, ..): package
* Operating system: Centos 7
* Database + version:
* Elasticsearch version: 5.6
* Browser + version: Chrome 75.0.3770.80

Original-Text from internal git (issue73):
[code]

### Expected behavior:

*

### Actual behavior:

*

[2019-06-11 09:28] YosefAdPro commented on #2598
![image](https://user-images.githubusercontent.com/11810187/59260472-56985780-8c44-11e9-9fab-1df92b5cbec4.png)

[2019-06-11 11:18] bmsoft-de commented on #2375
Hi,

We are also experiencing this same issue on zammad 3.0.0. Appears to be simple to resolve, only adding ITSMReviewRequired and ITSMDecisionResult to https://github.com/zammad/zammad/blob/7f8e268ae0d69252fa10d9813da801e6959042f7/lib/import/otrs/dynamic_field_factory.rb#L53

We don't know if there is some additional problems or why this is still open.

Thanks in advance.
bmsoft

[2019-06-11 13:57] MrGeneration opened #2599 "Activation of Knowledgebase is impossible on IE11 - agent interface"
### Infos:

* Used Zammad version: 3.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Internet Explorer 11 (particular version: IE 11.437.17763.0 and 11.2906.14393.0 )
* Ticket-Number: #1045876

### Expected behavior:

* Activating the knowledgebase is working in any Browser.

### Actual behavior:

[2019-06-11 14:10] MrGeneration opened #2600 "KB partly broken on IE11 - customer interface"
### Infos:

* Used Zammad version: 3.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Internet Explorer 11 (particular version: IE 11.437.17763.0 and 11.2906.14393.0 )

### Expected behavior:

* You can view and edit the KB within a IE11.

### Actual behavior:

* You can partly view the KB within

[2019-06-11 14:51] Netsky349 opened #2601 "Knowlegde Base - Add pictures"
### Infos:

* Used Zammad version: 3.0.x
* Installation method (source, package, ..): RPM
* Operating system: Centos
* Browser + version: Brave + Chrome

### Expected behavior:

I saw that it was possible to add an image in an answer. See the example on the website.

### Actual behavior:

I have just created a response but I can't save it with an image. How to add an image that you want to import

[2019-06-11 15:19] MrGeneration commented on #2601
Sorry I can't reproduce your problem.
This is rather a technical question - for the next time, please use our community ( https://community.zammad.org/ ) as we'd like to keep bugs and issues on github.

Thank you for your understand.

Using inline images only works, if you copy the image content (not the file), I attached a screencast that should help. This screencast applies to all places within

[2019-06-11 15:19] #2601 closed, assigned to nobody

[2019-06-11 15:28] MrGeneration commented on #2598
Thanks for your enhancement request. This actually currently works as designed.

I recycled your first article, as we already had an internal issue to this.
This will be enhanced in the future!

[2019-06-11 15:45] MrGeneration commented on #2588
Closing due to missing information.

[2019-06-11 15:45] #2588 closed, assigned to nobody

[2019-06-11 16:41] MrGeneration commented on #822
As far as I can see this is a duplicate from #208 and technical questions.
Many parts (like CC-function) are already built in Zammad.

For the sake of overview, I'll be closing this now.

[2019-06-11 16:41] #822 closed

[2019-06-11 21:29] wucherpfennig commented on #1573
Any updates on this issue?

[2019-06-11 22:14] MrGeneration commented on #1573
There's currently no progress on this.
To limit the noise on this issue, I'll lock the conversation for now.

We're updating you as soon as there's an update. Thanks for your understanding.

[2019-06-11 22:25] corew1306 opened #2602 "Report With Custom Objects in Ticket Dont Work"
### Infos:

* Used Zammad version: 3.0
* Installation method (source, package, ..): DEB
* Operating system: Ubuntu 18.10 LTS
* Database + version:
* Elasticsearch version: 5.6
* Browser + version: Chrome 75

Report-Profiles With Custom Objects in Ticket Dont Work

After creating custom objects for tickets, reports do not work when we select these fields as search limiters

As shown in the pictures

[2019-06-11 22:50] MrGeneration commented on #2602
I can't reproduce this with e.g. a select field.
Please ensure that your elasticsearch is up and running (and at least one ticket fullfills the filter).

If the problem persists, please provide your production.log so we can try to reproduce this.

[2019-06-11 23:03] corew1306 commented on #2602
[production.zip](https://github.com/zammad/zammad/files/3278879/production.zip)

There are valid tickets as shown in image 2 but when we open the report there is no ticket

Is the log requested

[2019-06-12 10:51] MrGeneration commented on #787
I'm not quite sure on what topic we are here - I suspect we're talking about overviews.
This is working by now, which is why I'm closing this issue.

If you feel this is a mistake, please let us know why exactly, to understand it better.
![overview-sorting](https://user-images.githubusercontent.com/6549061/59345623-c7a54100-8d10-11e9-9459-c090349c70a0.gif)

[2019-06-12 10:51] #787 closed

[2019-06-12 12:59] MrGeneration commented on #2602
Ah I see what's confusing you now! Sorry didn't see that on the first sight.

You're trying to filter for closed Tickets, proberbly on the day it has been created.
This won't work, unless it was closed on the same day!

Zammad will show you the Tickets affected according to the time range (in your case a exact day) depending on the search filter. If you closed a Ticket on the filtered day, the fil

[2019-06-12 12:59] #2602 closed, assigned to nobody

[2019-06-12 16:12] thorsteneckel commented on #2595
This reads like an issue in the `omniauth-gitlab` gem then 🤔 I'm wondering that no one complained about it by now. The last change to the gem was in the end of 2018.

[2019-06-12 16:13] MrGeneration commented on #2595
Look at https://github.com/zammad/zammad/commit/3acfa4a277c29a0eb3b7bff83fde1a60718a9746 it's a push from March after our valentines day update (2.9) :)

[2019-06-12 16:16] thorsteneckel commented on #2595
I've looked at that commit but all I can see is that we updated our dependencies including the `omniauth-gitlab` gem (from `1.0.2` to `2.0.0`). I can't find any code related changes to this. Do I look at the wrong place?

[2019-06-12 16:21] MrGeneration commented on #2595
Small sum up from our private chat (to keep it consistent):

No code change has been done, we just updated dependencies.

[2019-06-12 21:56] corew1306 commented on #2602
I thank all support given, sorry if I opened as a bug but it seemed a bug.
I posted a video of what happens to understand better if I could explain in words.

[Suporte AMDLAN - Reporting.zip](https://github.com/zammad/zammad/files/3283280/Suporte.AMDLAN.-.Reporting.zip)

[2019-06-12 22:33] MrGeneration opened #2603 "Limit access to KB Categories based on roles"
### Infos:

* Used Zammad version: 3.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1041496, #1088929

*Note:* This has been moved from our internal git ( 251 ) to Github in order to only have one enhancement issue at the time.

### Desired behavior / enhancement:
Currently the

[2019-06-12 22:42] MrGeneration opened #2604 "Edit-Buttons on customer interface (as agent) has wrong link (Blank-Page)"
### Infos:

* Used Zammad version: 3.0
* Installation method (source, package, ..): any
* Operating system: Ubuntu 18.04 (frankly any)
* Database + version: any
* Elasticsearch version: any
* Browser + version: Tested with Firefox, Chrome and Safari
Issue found by community member: https://community.zammad.org/t/blank-edit-knowledge-base/2605

### Expected behavior:

* When going to `/help` as aut

[2019-06-13 05:47] DoktorAerzt commented on #2595
I think the problem is [this change](https://github.com/linchus/omniauth-gitlab/commit/bb4cec2c9f8f067fdfe1f9aa219973e5d8e4a0a3)
And for my understanding of your codebase. You are using [the "old" way.](https://github.com/zammad/zammad/blob/76dfdbaf83d34499b9a2425432886a116e7b7d6c/config/initializers/omniauth.rb#L43)

[2019-06-13 07:15] thorsteneckel commented on #2595
Wow! Great catch! @DoktorAerzt is right. I was able to use the GitLab login with by configuring the URL `https://git.example.com/api/v4/` instead of `https://git.example.com` in Zammad – which the [placeholder](https://github.com/zammad/zammad/blob/80294b0b5165069bd02501456070268dde9f4a9e/db/seeds/settings.rb#L1453) indicated. Additionally [the documentation](https://admin-docs.zammad.org/de/lates

[2019-06-13 09:42] #2599 closed, assigned to dennykorsukewitz

[2019-06-13 10:08] MrGeneration opened #2605 "Deletion via API impossible when user logged in at some point"
### Infos:

* Used Zammad version: 3.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Postman and Curl (for direct testing of the endpoints)
* Ticket-ID: #1077545

### Expected behavior:

When having no references (except for ActivityStream and CTI-Stuff), you can delete a user via API endpoint as

[2019-06-13 10:35] maxxer opened #2606 "Tag dropdown not showing when creating new SLA"
### Infos:

* Used Zammad version: 3.0.x
* Installation method (source, package, ..): Docker
* Operating system: Ubuntu 18.04
* Database + version:
* Elasticsearch version:
* Browser + version: FF 67.0.1 and Safari 12.1.1

### Expected behavior:

* When creating a *tag* condition in the SLA application tag dropdown should show

### Actual behavior:

* Tag dropdown is not showing

### Steps to repr

[2019-06-13 11:20] thorsteneckel commented on #853
This is a duplicate of #373 - which is already [implemented](https://github.com/zammad/zammad/commit/ad5312809150ddbaa7be84e0fae4afcca390e666#diff-b6e5ef72936f1793f8b0c02ed24c90af). Closing now.

[2019-06-13 11:20] #853 closed

[2019-06-13 11:21] MrGeneration commented on #2606
Note that this does affect any part within the backend (so also Overviews, Triggers, Schedulers, etc)

[2019-06-13 13:53] thorsteneckel commented on #2604
This is fixed in `develop` and `stable`. Packages will be ready in about 30 minutes from now 🚀

[2019-06-13 13:53] #2604 closed, assigned to thorsteneckel

[2019-06-13 19:29] alexandresouza opened #2608 "Triggers not present in the permissions list of a role"
### Infos
* Used Zammad version: 2.9.0
* Installation method (source, package, ..): Source files
* Operating system: Ubuntu 18.04
* Database + version: Amazon RDS (MariaDB 13)
* Elasticsearch version: 5.6
* Browser + version: Opera 60.0
* Ticket-ID: #1049566

### Problem description

There is no possibility of allowing a non-full admin to use triggers.

In my case in particular, we have two levels

[2019-06-13 19:35] MrGeneration commented on #2608
I updated your first post - could you please fill in the missing information?
We have that template to see information at glance. :-)

Thanks!

[2019-06-13 21:42] alexandresouza commented on #2608
Done !

[2019-06-14 01:04] stevenjmiklovic commented on #2604
@thorsteneckel Thank you Sir!

[2019-06-14 09:19] MrGeneration opened #2609 "Zammad shows Customers in Owner-Selection on IE"
### Infos:

* Used Zammad version: 3.0.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Internet Explorer 11 und Edge
* Ticket-ID: #1046533, #1040804, #1067081, #1076975, #1076998
* Regression of: #2510

### Expected behavior:

* When selecting an owner, you can't see and select customers.

### Ac