[2020-11-18 15:47] drbw commented on #3290
I just get a [nil] back. `DataPrivacyTask.where(state: 'failed').all ` does list it, though. That _may_ have to do with the fact that the user was manually deleted in the meantime, sorry, forgot to mention that above... the address was a typo of an often-used one and I was required to nuke it. But it doesn't change anything about the task (e.g. run time) it seems and doesn't generate any new error

[2020-11-18 15:47] mantas opened #3291 "Date and Datetime widgets can not be disabled"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version:v
* Browser + version: any

### Expected behavior:

* `date` and `datetime` fields may be disabled

### Actual behavior:

* `date` and `datetime` fields do not respect `disabled` flag

### Steps to reproduce the behavior:

* Create a form

[2020-11-18 17:21] rmalchow commented on #3289
... don't get me wrong, it is possible that somewhere there is a big misunderstanding somewhere. but if that is the case, then maybe there is an opportunity to improve the documentation?

[2020-11-18 17:37] MrGeneration commented on #3289
Please wait for the verification process on our end.
This may take time. With voer 2000 stars this repo causes a lot of notifications for everyone watching.

[2020-11-19 06:58] martini opened #3292 "Unable to manage Microsoft365 accounts if oauth token is not able to get refreshed"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* If an  Microsoft365 account oauth token got invalid (e. g. through user password update) it should be able to re-authroize the Microsoft365 account through the admin UI.

### Actual

[2020-11-19 07:31] MrGeneration commented on #3292
Indirectly also affects Google channels ( https://github.com/zammad/zammad/issues/3240 )

[2020-11-19 07:33] martini commented on #3292
Excellent, "Allow reauthentication" was also here an issue (currently all accounts needed to get deleted and re-added again which leads to more configurations updates on groups and so on...).

[2020-11-19 08:44] thorsteneckel commented on #3290
I understand. Yes. You can delete it. I'll close this issue then for now. Fingers crossed that it's not happening again 🤞

If anyone is facing the same issue please do the same things as described above and post your result. We will then continue the investigation 🧐

[2020-11-19 08:44] #3290 closed, assigned to nobody

[2020-11-19 08:46] drbw commented on #3290
Yeah, at least you have precedent if this happens again. Thanks for the support!

[2020-11-19 10:14] SupersonicWaffle commented on #3245
I believe this is not entirely correct.
Microsoft 365 has been a product that has been available for a few years. Office 365 **Enterprise** plans are still available and distinct from Microsoft 365 **Enterprise**.
Office 365 **Business** plans however have been merged with Microsoft 365 **Business** plans.

If consistency is desired something along the lines of Azure AD Authentication might make m

[2020-11-19 10:17] MrGeneration commented on #3245
While this is correct, this channel is not entirely about the Online Exchange services, but also covers outlook.com private accounts.

Edit:
We could also make it more general "Microsoft" which would be correct too.

[2020-11-19 10:21] SupersonicWaffle commented on #3245
Right, I guess I missed that between doing too many things at once.
I would agree that generically calling it "Microsoft" would make most sense.

Cheers

[2020-11-19 11:23] martinseener commented on #3292
Thanks @martini for taking care so fast. Really appreciate it! Up until today, we didn't had this issue anymore thankfully. Let me know, if I can help your with any testing.

[2020-11-19 13:54] MrGeneration commented on #2853
This is a regression of issue #3086

[2020-11-19 14:04] thorsteneckel commented on #2853
@mantas looks like we introduced a regression while fixing #3086. Would you mind having a look?

[2020-11-20 08:36] martini opened #3293 "Unable to process email (because of very long meta headers)"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Process emails also with very long headers.

### Actual behavior:

* E-Mail processing is blocked by:

[code]

[2020-11-20 11:01] thorsteneckel opened #3294 "Failing XOAUTH2 Channel (Gmail / Office365) token refresh causes following Channels not to be fetched"
### Infos:

* Used Zammad version: 3.6.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Failing token refresh of XOAUTH2 Channel (Gmail / Office365) should log error and continue fetching other unaffected Channels

### Actual behavior:

* Failing token refresh of XOA

[2020-11-20 15:07] nassim-nassim opened #3295 "Add a field to the sign up form"
### Infos:

* Used Zammad version: V3.5
* Installation method (source, package, ..): package
* Operating system: centos7
* Database + version: mysql5
* Elasticsearch version:
* Browser + version: chrome
* Tickets: #10110975 + #10128722 + #10129245 + #10160141 + Ticket#10176392

NB : I have posted this question on the community page : https://community.zammad.org/t/add-a-field-to-the-sign-up-form/5

[2020-11-21 09:49] hydrapolic commented on #3282
Thanks, same for upgrade from 3.4.0 -> 3.6.0. Applying commit https://github.com/zammad/zammad/commit/a41de24e27ccb6c9bf15f95e66e5484e5bd8c80f fixed the situation.

[2020-11-23 14:50] thorsteneckel opened #3296 "Channel::EmailParser.process_unprocessable_mails doesn't find matching Group because of key insensitive mismatch in email address"
### Infos:

* Used Zammad version: 3.6.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket# 1077707

### Expected behavior:

* `Channel::EmailParser.process_unprocessable_mails` should assign correct Group to Ticket as defined in #3145 also for key insensitive `To`-address match

### Act

[2020-11-23 17:11] mantas opened #3297 "Videos embedded in Knowledge Base do not allow full screen mode"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Youtube or Vimeo videos embedded in KB can be played in full screen

### Actual behavior:

* Both Youtube and Vimeo has full screen button disabled/hidden

### Steps to reproduce th

[2020-11-23 21:02] rlakis opened #3298 "js some api GET methods are different"
### Infos:

* Used Zammad version: 3.6.x
* Installation method (source, package, ..): package
* Operating system: CentOS Linux release 7.9.2009 (Core)
* Database + version: postgresql-server-9.2.24-4.el7_8.x86_64
* Elasticsearch version: elasticsearch-5.6.16-1.noarch
* Browser + version: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:83.0) Gecko/20100101 Firefox/83.0

### Expected behavior:
* wo

[2020-11-23 21:07] MrGeneration commented on #3298
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2020-11-23 21:07] #3298 closed, assigned to nobody

[2020-11-24 07:41] #3296 closed, assigned to thorsteneckel

[2020-11-24 09:22] #3297 closed, assigned to mantas

[2020-11-24 09:25] #3171 closed, assigned to mantas

[2020-11-24 09:32] #2560 closed, assigned to mantas

[2020-11-24 09:47] #2942 closed, assigned to mantas

[2020-11-24 09:55] #2853 closed, assigned to mantas

[2020-11-25 13:11] thorsteneckel opened #3299 "Having more active Agents using the Chat decreases performance linearly"
### Infos:

* Used Zammad version: 3.6.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket# 1081422

### Expected behavior:

* 50 active Agents using the Chat
* WebSocket Server process should have a reasonable amount of CPU usage

### Actual behavior:

* 50 active Agents using the Chat

[2020-11-25 13:17] #3240 closed, assigned to thorsteneckel

[2020-11-25 13:17] #3292 closed, assigned to thorsteneckel

[2020-11-25 13:17] #3294 closed, assigned to thorsteneckel

[2020-11-25 13:32] #3291 closed, assigned to mantas

[2020-11-25 13:39] thorsteneckel commented on #3149
@mantas analysed the current implementation of the scheduler. Unfortunately the current implementation expects and requires a database connection at various places. One example: Whenever a Job fails (e.g. because of a lost DB connection) the Job record in the DB gets updated with information regarding the error. This fails again and causes the whole scheduler process to crash. There are more place

[2020-11-25 17:04] YosefAdPro opened #3300 "macro button the text cropped in RTL lang"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: win 10
* Database + version: any
* Elasticsearch version:any
* Browser + version: Chrome last

### Expected behavior:

When using the RTL language, View full text on the macro button.

### Actual behavior:

When using the RTL language, The box opens to the left and cropped the text on the ma

[2020-11-26 01:40] Anagastes opened #3301 "Seassion cleaup didnt work"
Evening boys,

I recently noticed that user sessions are not automatically deleted.

So I built a command based on this example. https://github.com/zammad/zammad/issues/98

It looks like this.

[code]

And in the production.log it appears successfully, but old sessions older than 24h are simply not deleted.

[code]

Any ieda why?

### Infos:

* Used Zammad version: 3.6
* Installation method (sourc

[2020-11-26 07:38] MrGeneration commented on #3301
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

Also see: https://docs.zammad.org/en/latest/appendix/privacy.html

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If y

[2020-11-26 07:38] #3301 closed, assigned to nobody

[2020-11-26 10:09] hanneshal commented on #3262
Update on this one: the small dot is from "..."
Extending the width to: $('.js-tableHead[data-column-key=icon]').width(28)
Fixes the issue.
Chrome on Mac is also affected, Safari is fine.

[2020-11-26 14:36] cautopartes opened #3302 "Representation of inactive customers and orgnizations"
### Infos:

* Used Zammad version: 3.6x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket: 1079231, 1088964

### Expected behavior:

* Inactive customers and organizations should be visually represented more clearly throughout the system
* Maybe by showing in "User-Org-Selector" as "stri

[2020-11-26 16:04] drbw opened #3303 "UnprocessableEntity: Invalid email 'herzlicheglückwünsche@local'"
### Infos:

* Used Zammad version: 3.5
* Installation method (source, package, ..): Docker
* Operating system: CentOS
* Database + version: Postgres 9.6
* Elasticsearch version: 7.9.3
* Browser + version: Firefox 82
* Ticket: #1086130

### Expected behavior:

* Mails with invalid addresses are either blacklisted or sanitized
* There is an accessible way to clear such object from the queue manually

[2020-11-26 16:14] MrGeneration commented on #3303
This may indirectly be relevant to:
* https://github.com/zammad/zammad/issues/2402
* https://github.com/zammad/zammad/issues/2401

Right now I'm not sure if this is really bug.
Technical the alias is incorrect - thus it's unprocessible.

We're not responsible for filtering spam (that's the MTAs job :-) ) and automatic sanitation.. well.. not too sure.
The issue here is that we can't just drop thos

[2020-11-26 16:24] drbw commented on #3303
Why is the alias incorrect?

https://tools.ietf.org/html/rfc6531
   9.   The reverse-path and forward-path of the SMTP MAIL and RCPT
        commands are extended to allow Unicode characters encoded in
        UTF-8 in mailbox names (addresses).

The address as a whole is incorrect AFAIK since it doesn't contain a domain name but Zammad does compensate for that by adding @local.

[2020-11-27 08:37] thorsteneckel opened #3304 "Sessions::Node don't do any work if ZAMMAD_SESSION_JOBS_CONCURRENT was higher and got lowered"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket# 1081422

### Expected behavior:

* `Sessions.jobs` Dispatcher should assign work to available `Sessions::Node`
* Overviews should get updated etc.

### Actual behavior:

* `Sessions.jobs` Dispatcher

[2020-11-27 09:47] mantas commented on #3262
@hanneshal did you replace it on 3.5 or latest 3.6?

[2020-11-27 10:03] MrGeneration commented on #3262
The fix mentioned should work on both 3.5 and 3.6

[2020-11-27 10:05] mantas commented on #3262
@MrGeneration Thing is I used to see this issue all the time. But recently it stopped. I also fixed a couple other issues in tables in IIRC 3.6.  Now I'm trying to replicate it following your gif, but I can't.

I wonder maybe this was accidentally fixed in 3.6 :)

[2020-11-27 10:07] MrGeneration commented on #3262
It was not.
This issue depends highly on viewports.

The dot is coming from Zammads functionality to cut strings within a column that are too large for it to display.

It may not appear on all browsers and not permanently. My browser currently displays it on develop as well.

[2020-11-27 11:43] #3304 closed, assigned to thorsteneckel

[2020-11-27 11:49] #2671 closed, assigned to mantas

[2020-11-27 13:09] #3299 closed, assigned to thorsteneckel

[2020-11-27 13:40] #3281 closed, assigned to mantas

[2020-11-27 19:09] MrGeneration opened #3307 "Zendesk migration of textareas fails"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

Textarea fields will be migrated from Zendesk to Zammad.

### Actual behavior:

A wrong `data_type` within https://github.com/zammad/zammad/blob/develop/lib/import/zendesk/object_attr

[2020-11-28 16:44] apiening opened #3309 "No icon / thumbnail for attached files when added via API"
### Infos:

* Used Zammad version: 3.6.x
* Installation method: Docker-Compose
* Operating system: Docker (Mac OS X)
* Browser + version: Firefox 83.0

### Expected behavior:

When a file attachment is added to a ticket / article, it should be displayed with an icon for the given mime-type, or a thumbnail in case of an image file.

### Actual behavior:

When a ticket / article has been created in

[2020-11-28 16:51] apiening commented on #2622
I'm not perfectly sure if my issue is related to yours, but I observe the same issue with the not displayed icon / thumbnail in front of attachment files when they were created via the API.
See: https://github.com/zammad/zammad/issues/3309

[2020-11-29 11:33] shopblocks opened #3310 "Zendesk import fails if fields with unsupported chars in its name are present"
**ERROR DURING MIGRATION: Problem with ObjectManager Attribute 'system/embeddablelastseen': Validation failed: Name Only letters from a-z because numbers from 0-9 and _ are allowed**

We are hitting this error during Zendesk migration. To help with debugging, on another github issue - https://github.com/zammad/zammad/issues/3259 - I saw a suggested debug script by @thorsteneckel so we have used th

[2020-11-29 11:44] shopblocks commented on #3310
Perhaps I'm reading this error wrong - is it the actual name of the attribute "system::embeddable_last_seen" causing the problem? Looks like it's being changed to "system/embeddable_last_seen" in Zammad - either way it wouldn't validate as `/[a-z0-9_]+/` - plus - I can't see any other keys in our Zendesk data that have the `::` string in their names, so maybe this is an issue and is caused by the

[2020-11-29 12:18] shopblocks commented on #3310
As a quick test we changed the `SanitizedName` class, adding the following "without_slashes" function to see if there was perhaps a bug with slashes not being removed by "without_spaces_and_slashes".

[code]

After re-running the migration with this we saw this in the log:

[code]

The migration proceeded further:

![image](https://user-images.githubusercontent.com/14819903/100541540-84100100-323c

[2020-11-29 12:26] shopblocks commented on #3310
Adding the the previous comment, the full error message was:

[code]

Looking at our Zendesk configuration for the "Ticket Fields" settings we have an inactive ticket field called "Data Migration Notes" which looks like this:

![image](https://user-images.githubusercontent.com/14819903/100541762-e74e6300-323d-11eb-8d72-1277efc50713.png)

This could be related to https://community.zammad.org/t/zend

[2020-11-29 14:30] shopblocks opened #3311 "Zendesk migration fails due to multi-line custom ticket field - Validation failed: Data option must have one of text/password/tel/fax/email/url"
During Zendesk migration the import failed due to the following error:

[code]

Looking at our Zendesk configuration for the "Ticket Fields" settings we have an inactive ticket field called "Data Migration Notes" which looks like this:

![image](https://user-images.githubusercontent.com/14819903/100541762-e74e6300-323d-11eb-8d72-1277efc50713.png)

This could be related to https://community.zammad.

[2020-11-29 14:33] shopblocks commented on #3311
As a workaround here we have deactivated and deleted the Zendesk ticket fields that were an issue.

The ticket field had to be fully deleted in Zendesk as Zammad seems to bring across deactivated fields.

After the above error we ran into another error due to the ticket field having a `?` question mark symbol in its name - I will raise another separate issue for that one

[2020-11-29 14:37] shopblocks opened #3312 "Zendesk migration fails due to custom ticket field having question mark symbol in its name"
This is related to #3310 and #3311 - see #3310 for details of Zammad version number and OS.

In this case the zendesk migration failed with the following error:

[code]

In our Zendesk account this field is called "Domain Transfer Required?". On a sidenote, this field is deactivated in Zendesk but it seems Zammad still brings these across. A workaround for this issue is to fully delete the ticket

[2020-11-29 14:46] TonyBostonTB opened #3313 "PostgreSQL installation fails with standard RPM procedure from docs"
### Infos:

* Used Zammad version: 3.6.0
* Installation method (source, package, ..): package
* Operating system: CentOS7
* Database + version: Postgresql 9.2.24
* Elasticsearch version: 7.10.0
* Browser + version: Safari 14.0.1

### Expected behavior:

* PostgreSQL database is being created

### Actual behavior:

* Postgres database can't be setup/created

### Steps to reproduce the behavior:

*

[2020-11-29 14:51] shopblocks commented on #3310
After our crude "without_slashes" workaround above, during the later stages of the import we can see errors in the logs such as:

[code]

So clearly our workaround isn't a full solution.

[2020-11-29 14:51] MrGeneration commented on #3311
Duplicate of #3307

Please use the search function before posting bug reports.

[2020-11-29 14:51] #3311 closed, assigned to nobody

[2020-11-29 14:53] MrGeneration commented on #3312
The following characters are supported by Zammad:
`[a-Z]` and `_`.

This is a duplicate of #3310

The workaround is to rename or delete the fields.

[2020-11-29 14:53] #3312 closed, assigned to nobody

[2020-11-29 14:53] MrGeneration commented on #3310
The following characters are supported by Zammad:
`[a-Z]` and `_`.

The workaround is to rename or delete the fields.

---

I personally don't see this as a bug but an enhancement.

[2020-11-29 14:54] MrGeneration commented on #3313
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2020-11-29 14:54] #3313 closed, assigned to nobody

[2020-11-29 14:56] shopblocks commented on #3310
Hi @MrGeneration - I think this is a bug in terms of the original error - the Zendesk migration is impossible if the Zendesk Web Widget has been used as thee "embeddable last seen" attribute - which is system-generated by Zendesk and cannot be removed - halts the Zammad migration.

Are you aware of a workaround we're missing?

[2020-11-29 14:58] shopblocks commented on #3311
@MrGeneration Ticket 3311 is this ticket? Which is the duplicated ticket?

[2020-11-29 14:58] MrGeneration commented on #3310
I migrated two Zendesk different zendesk instances last week and did not see this attribute.
This may be a special attribute in your case.

Please head over to the Zammad Community for technical questions: https://community.zammad.org

---

As I said, I do agree that the import should be enhanced to rename "invalid" field names so that it works for Zammad.
It is no bug in my opinion though. It's j

[2020-11-29 14:59] MrGeneration commented on #3311
Correct sorry, I meant #3307.

[2020-11-29 15:00] shopblocks commented on #3310
I think an enhancement to Zammad would be ignoring "system::example" attributes coming from Zendesk.

[2020-11-29 15:03] TonyBostonTB commented on #3313
How is this technical? The official documentation for installing Zammad on CentOS7 errors out. This is a bug.

[2020-11-29 15:04] MrGeneration commented on #3313
I could also tag it "can't repdocue".
I've recently installed centos8 by following the docs, it does work.

Also, IF this is any issue, this is not a bug but a handling issue.
Again, this is a technical question, trust me.

[2020-11-30 09:40] MrGeneration opened #3314 "Zendesk import fails if not supported field types are present"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

Zammads Zendesk importer skips attributes that it does not support.

### Actual behavior:

A zendesk migration within Zammad will fail, if a attribute type appears it does not support

[2020-11-30 10:03] MrGeneration commented on #3259
Since we haven't received feedback, we will close this issue for now.
Please open a new issue with log output so that we know *where* the import fails.

Otherwise it will be impossible to solve the issue - if you have technical questions, please consult the community https://community.zammad.org

[2020-11-30 10:03] #3259 closed, assigned to nobody

[2020-11-30 11:16] olafbuitelaar opened #3315 "nested "view from user perspective" yield to only being able to return to last viewed session"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): docker
* Operating system: centos 7
* Database + version: pgsql 13
* Elasticsearch version: 7.9.1
* Browser + version: Chrome 86

### Expected behavior:

When using the feature "View from user's perspective" going into an user, and don't return to your own user, and from the viewed as user perspective, go into anot

[2020-11-30 11:21] MrGeneration commented on #3315
@thorsteneckel  I think that's an edge case and not really a bug.

Why do I think that:
If I switch to the users perspective, even if I'm administrator, I'm completely acting on behalf of that user.
This means, if I switch to another users view because the users permissions allow that, the wording "back to my view" contexts to the user I've taken over and thus is technically correct.

I'd go furth

[2020-11-30 12:14] olafbuitelaar commented on #3315
I agree it's an edge case. But i don't think it's technically correct, because you impersonate as another user, not take over an session/login as that user (however that may technically be the way it's implemented).  I think the "back to my view" should either return to the (original) user who logged in, or that each impersonated "view as user" session should know which user entered the session, s

[2020-11-30 12:16] MrGeneration commented on #3315
Oh sorry now I see what you meant.
Nevermind that is a bug.

Edit: Screencast for TL;DR

![issue3315](https://user-images.githubusercontent.com/6549061/100610361-d8d07c00-330f-11eb-8e4b-2ef38f9e51a1.gif)

[2020-11-30 12:17] thorsteneckel commented on #3315
I agree. This line should not overwrite the `: switched_from_user_id ` key if it's already present: https://github.com/zammad/zammad/blob/e2c4e6316d6a9c4f564273088206e5143a01cec2/app/controllers/sessions_controller.rb#L133

[2020-11-30 12:18] #3307 closed, assigned to MrGeneration

[2020-11-30 14:41] martini commented on #3314
For me this is a bug, because it blocks the complete import.

[code]

[2020-11-30 14:43] MrGeneration commented on #3314
Due to missing logic Thorsten and I agreed on enhancing this part.
The reason why the whole import currently is blocked is the attribute not being importable because it's type is not supported by Zammd.

In future we will log a warning that we ignored the field and continue.
This will cause "data loss" which will be a lot more silent than it is up to now.

Right now you currently have to actively

[2020-11-30 15:02] MrGeneration commented on #2851
I'm sorry, but in a current Zammad 3.6 I can no longer reproduce this.
I currently expect this to be fixed "magically". Within the last commits.

Please ping me if this still happens on your 3.6 stable installation.

[2020-11-30 15:08] MrGeneration opened #3316 "X-On-Behalf-Of does not downcase input"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket: 1081401

### Expected behavior:

If you provide a email address within the `X-On-Behalf-Of` Header that is not downcased already, Zammad will do so for you.

### Actual behavior:

Setting `X-On-Beha

[2020-12-01 05:44] pyrog opened #3317 "Messages in authenticates.rb are not translated"
### Infos:

* Used Zammad version: 3.6.x
* Installation method (source, package, ..): online version zammad.com
* Source code : [authenticates.rb](https://github.com/zammad/zammad/blob/3533339e7bc88e0b55c23c2279f0c8fed04c8730/app/controllers/application_controller/authenticates.rb#L164)

### Expected behavior:

* All sentences must be translated

### Actual behavior:

* _"Login failed. Have you do

[2020-12-01 06:03] pyrog opened #3318 "Can't log in, must reset my password each time"
### Infos:

* Used Zammad version: 3.6.x
* Installation method (source, package, ..): online version zammad.com

### Expected behavior:

* Log in with my email and password

### Actual behavior:

* Display _"Login failed. Have you double-checked your credentials and completed the email verification step?"_
* Must click on _"Forgot password?"_

### Additional information:

* I could log in with a G

[2020-12-01 07:33] MrGeneration commented on #3318
I can't find any related error messages in your instance, please contact support via support [at] zammad [dot] com and let us know the time you tried that again.

Please also provide the configuration of your github app.

[2020-12-01 07:48] MrGeneration commented on #3317
Thanks for your report.
Please note that 3318 is only indirectly affected, because it's just the reason why the message is thrown.

But you're right, currently failed login strings don't seem to be traslated.

[2020-12-01 10:26] rolfschmidt opened #3319 "Make it possible to only send with agent name"
### Infos:

* Used Zammad version: 3.6.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

[code]

https://github.com/zammad/zammad/pull/2496

https://community.zammad.org/t/custom-sender-formats/1839

[2020-12-01 10:31] thorsteneckel commented on #878
Hey there! It's been a while. I was reviewing the PR #2761 and talked to my colleagues about it. While doing so we found out that Zammad is actually perfectly capable of integrating RocketChat without any changes needed via the Slack integration. This comes from the fact that RocketChat is API compatible with Slack. However, this isn't very clear in the Zammad UI. Therefore we will enhance the tex

[2020-12-01 10:55] KoJie opened #3320 "Problem with Adding new Rows in Tree-Select"
### Infos:

* Used Zammad version: 3.6.x
* Installation method: hosted
* Browser + version: Chrome (86.0.4240.198 )
* T#1081517

### Expected behavior:

* If I add a new main category to an existing key structure, it should be added below and not affect or change the current structure.

### Actual behavior:

* When I add a new main category to an existing key structure, the new main category is op

[2020-12-01 10:57] MrGeneration commented on #3320
Is this from a paying customer? If so, please update the first article and add the ticket number to it.

[2020-12-01 12:21] #3310 closed, assigned to thorsteneckel

[2020-12-01 12:21] #3314 closed, assigned to thorsteneckel

[2020-12-01 12:34] #3300 closed, assigned to mantas

[2020-12-01 12:36] #3213 closed, assigned to mantas

[2020-12-01 13:16] KoJie commented on #3320
Please look at the informations. Ticket number was already added 👌

[2020-12-01 14:15] mantas commented on #3315
@thorsteneckel in order to support matrioshka navigation, it should store backlog of user IDs.

Any preference wether to it should revert to original user or go one step back?

[2020-12-01 14:30] thorsteneckel commented on #3315
No matrioshka navigation. Just don't overwrite `session[:switched_from_user_id` if it's already set. This should cause the "switch_back" action to always go back to the original user aka the intended behaviour.

[2020-12-01 14:38] #3309 closed, assigned to mantas

[2020-12-01 15:03] #878 closed

[2020-12-01 15:36] MrGeneration commented on #3318
Right now this seems to be more of a technical question.
We're continuing this topic within a ticket.

Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require com

[2020-12-01 15:36] #3318 closed, assigned to nobody

[2020-12-01 15:41] martini opened #3321 "Unable to unassign owner via macro or trigger"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket: #1081277

### Expected behavior:

* Be able to select "nobody" or "unassign" in macro and trigger for owner of tickets.

### Actual behavior:

* It's only possible to unassign ticket owners via macr

[2020-12-01 18:13] pyrog opened #3322 "Quotation marks are encoded when displayed"
### Infos:

* Used Zammad version: 3.6.x
* Installation method (source, package, ..): Online https://abc.zammad.com

### Expected behavior:

* Must decode i.e. `&#39;` before displaying it<br>Example : `"Dernier expéditeur d'article"`

### Actual behavior:

* Display `"Dernier expéditeur d&#39;article"`<br/>Example: [Edit: Trigger](https://abc.zammad.com/#manage/trigger)<br/><img width="50%" alt="

[2020-12-02 02:49] klou commented on #742
Is there any way to have a configurable fix for this?  Adding to the array in `production.rb` (from a reverse proxy) will not persist on packaged installs.

https://community.zammad.org/t/configure-make-persistent-trusted-proxies-on-packaged-releases/5689

[2020-12-02 07:54] MrGeneration commented on #742
@klou Please don't recycle old and (long) closed issues.
This would be a feature request that should live in the community.

[2020-12-02 08:30] thorsteneckel opened #3323 "Closing bracket in Ticket Selector preview is displayed wrong / when it shouldn't"
### Infos:

* Used Zammad version: 3.6.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Closing bracket in Ticket Selector preview should be invisible while result is loading.
* Closing bracket in Ticket Selector preview should be in the same style as the other part

[2020-12-02 08:36] #3321 closed, assigned to martini

[2020-12-02 10:48] #3319 closed, assigned to rolfschmidt

[2020-12-02 10:54] #3323 closed, assigned to thorsteneckel

[2020-12-03 08:07] #3316 closed, assigned to rolfschmidt

[2020-12-03 09:04] thorsteneckel opened #3324 "Migrating to another host causes Login to fail"
### Infos:

* Used Zammad version: 3.6.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket# 1081558

### Expected behavior:

* Migrating to another host should work and should not cause any errors.

### Actual behavior:

* After migration to new Host the Login fails, Overviews, Ticket cr

[2020-12-03 09:24] mantas commented on #3317
Hi @pyrog ,

This message is now available for translating via admin interface. As an open source project, Zammad relies on user-contributed translations. Follow steps bellow to translate this string:

- Go to Preferences > System > Translations in your Zammad instance

- Click "Get latest translations" on top-right

- Find the string in question in the list bellow

- Fill in the translation

- Pu

[2020-12-03 09:24] #3317 closed, assigned to nobody

[2020-12-03 10:14] #3324 closed, assigned to thorsteneckel

[2020-12-04 09:45] FuxPCN opened #3325 "Fresh install - Setup new system - no password field"
I posted this on community forum too:

### Infos:

* Used Zammad version: 3.6
* Used Zammad installation source: source (http://ftp.zammad.com/zammad-latest.tar.gz)
* Operating system: Ubuntu
* DB: MariaDB 10.3
* Browser + version: Firefox + Chromium

### Expected behavior:

* Ask for Password/Show password field in the form

### Actual behavior:

* no password field but after clicking submit erro

[2020-12-04 09:47] MrGeneration commented on #3325
Reference to 20 minute old community post is missing:
https://community.zammad.org/t/fresh-install-setup-new-system-no-password-field/5827

It's not nice to make people busy twice.

[2020-12-04 09:54] FuxPCN commented on #3325
First line of the above post:

I posted this on community forum too:

[2020-12-04 09:58] #3293 closed, assigned to martini

[2020-12-04 10:00] MrGeneration commented on #3325
Sorry, but this seems to be a technical question.
It works on my machine.™

![image](https://user-images.githubusercontent.com/6549061/101149991-f3f8ff80-361f-11eb-9da2-c5fb8deff90c.png)

---

Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no tec

[2020-12-04 10:00] #3325 closed, assigned to nobody

[2020-12-04 10:36] #3320 closed, assigned to rolfschmidt

[2020-12-04 11:40] #2589 closed, assigned to mantas

[2020-12-04 15:35] abeluck opened #3326 "attachment validation using mixed symbols and strings"
## Infos:

* Used Zammad version: 3.6.0 and 3.7.0
* Installation method (source, package, ..): source
* Operating system: debian
* Database + version: postgresql
* Elasticsearch version: n/a
* Browser + version: n/a

## What's going on

We're writing a custom addon for zammad that adds a new channel. It is basically a webhook handler to create tickets from an external service.

In our controller w

[2020-12-04 15:39] MrGeneration commented on #3326
Attention: Zammad stable is 3.6!

@thorsteneckel is this really a bug? Smells quite developer supportish to me.

[2020-12-04 15:52] abeluck commented on #3326
This applies to 3.6 and 3.7 (we develop against both), updated the ticket to reflect that.

Also I tried very hard to ensure this was indeed a bug rather than a failing in my ruby skills. The latter may still be the case, however I've had other eyes look at this and the behavior is definitely strange. I'm very confident this is a bug. Happy to move to the forum if it is not.

[2020-12-04 20:13] mantas commented on #3326
@abeluck please take a look at `HashWithIndifferentAccess`. It's a Rails-supplied addon that allows to mix Symbol `:key` and String `'key`` in a hash.

https://api.rubyonrails.org/classes/ActiveSupport/HashWithIndifferentAccess.html

While it's far from best-practice for a clean code, it is very common in Ruby on Rails to mix and match symbols and keys. Sorry for the confusion.

[2020-12-04 20:13] #3326 closed, assigned to nobody

[2020-12-07 08:30] #3007 closed, assigned to rolfschmidt

[2020-12-07 11:04] MrGeneration commented on #3303
Ufffff nevermind me.
Anyway...

`From: =?UTF-8?b?SGVyemxpY2hlR2zDvGNrd8O8bnNjaGU=?= <HerzlicheGlückwünsche>`

While your display name is encoded correctly, the alias within the brackets contains umlauts. These are only available / support by supporting mtas (I found this information here: https://stackoverflow.com/questions/15121359/are-international-characters-e-g-umlaut-characters-valid-in-the-l

[2020-12-07 11:16] drbw commented on #3303
Wait, removing the file is enough? That's a bit... surprising, but great to know, thanks! Finally back to 'healthy' status now. As for the handling of mails like this, there's probably no clear-cut answer on how to do so "properly". At least you're now aware of a specific error case - the interpretation is up to you.

[2020-12-07 11:20] MrGeneration commented on #3303
It's a temporary directory, removing it will cause Zammad to re-add directories whenever needed. It won't nuke the instance as such.

[2020-12-07 13:10] #2980 closed, assigned to rolfschmidt

[2020-12-07 14:41] MrGeneration opened #3327 "Adding article on behalf of user via token access not possible"
### Infos:

* Used Zammad version:
* Installation method (source, package, ..):
* Operating system:
* Database + version:
* Elasticsearch version:
* Browser + version:
* Ticket: #1081712

### Expected behavior:

Adding new articles on behalf of a customer works with either basic authentication or token access.

### Actual behavior:

Zammad returns "not authorized" if you try to add a new ticket ar

[2020-12-08 08:27] rkreienbuehl commented on #3327
Thanks for adding this bug.
As mentioned in the documentation `This functionality can be used for any type of action.`, the on behalf header should work on every action, but also on other requests, like list the articles or show a specific article, I get a `401 Unauthorized` back, not only on creating new article.

[2020-12-08 09:17] #2925 closed, assigned to rolfschmidt

[2020-12-08 09:27] #3322 closed, assigned to mantas

[2020-12-08 10:23] pyrog commented on #3322
Thank you 😃

This seem not be to be yet in production, is it ?

[2020-12-08 10:25] thorsteneckel commented on #3322
Hi @pyrog - you are right. We fixed it only for the upcoming Version (Q1 next year). However, I'll create a backport for you. I give you an update - should be available in a couple of hours from now.

[2020-12-08 12:30] thorsteneckel commented on #3322
Hey @pyrog - good news: The fix is now backported to 3.6 with the commit above. However, it will take up to 30 minutes till the new packages are ready. You can follow the progress [here](https://packager.io/gh/zammad/zammad/builds/4727). Once the packages are ready you can update your Zammad installation :)

[2020-12-08 12:33] #2605 closed, assigned to nobody

[2020-12-08 13:27] rolfschmidt opened #3328 "data privacy should get token for API calls"
### Infos:

* Used Zammad version: 3.7
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

### Expected behavior:

* you should request a token before you delete users or organization with references to prevent copy paste mass deletions by forum scripts.

### Actual behavior:

* you can delete use

[2020-12-08 13:27] rolfschmidt commented on #2605
Fix got denied. It should not be possible to delete users or organizations directly via API. Because of the relations to other objects which get deleted too it is too hot for the zammad standard.

Users have to go the workaround and do it via admin interface -> data privacy.

meeting @martini , @MrGeneration , @rolfschmidt

https://github.com/zammad/zammad/issues/3328

[2020-12-08 14:07] #2793 closed, assigned to mantas

[2020-12-08 14:13] #2651 closed, assigned to MrGeneration

[2020-12-08 14:15] rolfschmidt commented on #3008
Looks like the issue came in with this commit:

https://github.com/zammad/zammad/commit/d68d867866

the left px result in a hover fly's around:

https://github.com/zammad/zammad/blob/7bfe6dac3149c751fe7d69970737d07f73766b6d/app/assets/stylesheets/zammad.scss#L9412

![grafik](https://user-images.githubusercontent.com/5445062/101494768-08aefd80-3968-11eb-9002-dfae91963420.png)

If i do `left: 0px` i

[2020-12-08 15:05] mrflix commented on #3008
The `searchableSelect-shadow` is set to `-9999px` to hide from screen because it should never be visible. It has additional UI that's being interacted with. If it shows a faulty required notification I'd investigate why the additional UI doesn't fill out the shadow element.

[2020-12-09 11:59] MrGeneration opened #3329 "Scheduler jobs don't ensure current ticket information if they're running a long time"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: 1081351

### Expected behavior:

If you update a ticket during the scheduler is running, Zammad will ensure that the ticket information is still valid in case the time span it's taking to run thr

[2020-12-09 15:54] thorsteneckel opened #3330 "Scrolling to Article by passing ID to URL is broken"
### Infos:

* Used Zammad version: 3.6.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket# 1078020

### Expected behavior:

* When opening an Ticket Zoom URL containing an Article ID the browser scrolls to that Article ID

### Actual behavior:

* When opening an Ticket Zoom URL containi

[2020-12-10 09:21] thorsteneckel opened #3331 "Direct Article URL / Link in Zoom"
### Infos:

* Used Zammad version: 3.6.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket# 1078020

### Expected behavior:

* There should be a way to share direct links to Ticket Articles with colleagues
* It's common practice to have a direct link to a content entity on the creation d

[2020-12-10 12:37] mantas commented on #3008
@mrflix if interactive element is required but empty, it could generate the tooltip for shadow element and then position it to look as if it's for the interactive element.

For example search-select could have some text entered, but option from dropdown never selected. Effectively shadow element would be invalid. While interactive element technically would not be empty.

[2020-12-10 14:40] thorsteneckel commented on #2694
The commit https://github.com/zammad/zammad/commit/dd5ca52e18491af428a158d7a2f381e1ea1e12ee introduced a regression so that this is an issue again.

[2020-12-10 14:54] bm1-phillip opened #3332 "Setting up an email with a different port not possible"
I want to connect a Microsoft365 mailbox. But this is only possible if I specify in the setting.fqdn without a port.

`501 5.5.4 Invalid domain name [AM4PR07CA0001.eurprd07.prod.outlook.com]`

It should be possible to specify a different port separately and not for fqdn. Or it is removed for smtp helo.

[2020-12-10 15:16] mrflix commented on #3008
@mantas I'm not sure if I understand the issue correctly. Please help me:

a) If the UI is filled but not the shadow we'll have to make sure that the shadow is filled too. They always have to be in sync. b) If the required tooltip is at the wrong position I'll have to fix that.

[2020-12-11 00:33] MrGeneration commented on #3332
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2020-12-11 00:33] #3332 closed, assigned to nobody

[2020-12-11 00:34] MrGeneration commented on #3332
Also a possible duplicate of https://github.com/zammad/zammad/issues/2651

[2020-12-11 07:31] martini opened #3333 "Tree select has no mutli select on ticket selector for overview, triggers, ..."
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Create an overview where tickets with categorie A and categorie B are shown.

### Actual behavior:

* With tree select for e. g. categories only one categorie is selectable.

### St

[2020-12-11 07:33] mantas commented on #3333
Is it possibly related to #3008 ?

[2020-12-11 07:36] martini commented on #3333
No. #3008 is about creating an ticket (validation of ticket attributes).

And #3333 is about `ticket selector` in admin interface (e. g. when creating an overview).

[2020-12-11 13:00] #738 closed

[2020-12-14 08:00] KoJie opened #3334 "Trigger-conditions 'Email' required the @ sign"
### Infos:

* Used Zammad version: 3.6.x
* Browser + version: all
* 1081823

### Expected behavior:

* If I only want to filter for a part from an email address in the trigger-conditions, I don't always need the @ sign. Therefore I need to be able to enter a value here without a value in front of the @ .

### Actual behavior:

* If you create a trigger and want to store a part of a customer's emai

[2020-12-15 07:38] martini commented on #3334
The same applies to `tel` attribute.

[2020-12-15 08:00] MrGeneration commented on #878
A small follow up on this topic as Andrew brought this to our attention.
OP has edited the first article some years ago and added the technical possibility to create tickets via slack / rocket chat directly.

This is a part that slipped through our fingers which is why we explicitly state it here now:
- ticket creation via rocket chat / slack is **not** possible
- this is currently not a planned f

[2020-12-15 09:50] MrGeneration opened #3335 "State list of tickets ignore locale for their sorting"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any, verified on latest Google Chrome though
* Ticket: 1081951

### Expected behavior:

Zammad will sort the states before listing alphabetically.
While doing that Zammad will use the locale of the user to do so,

[2020-12-15 09:52] #3334 closed, assigned to rolfschmidt

[2020-12-15 16:00] #3330 closed, assigned to thorsteneckel

[2020-12-15 16:00] #3331 closed, assigned to thorsteneckel

[2020-12-16 11:13] marcofenoglio commented on #3142
Hi,
some one could explain how it works?
I have a mailbox with about 800 read emails and just a few of recent unread emails, but the import process doesn't ask me to archive the imported emails.

[2020-12-16 11:19] MrGeneration commented on #3142
Sorry but please have a look into the documentation and don't ask technical questions on github.
If the documentation still can't help, please consult the community https://community.zammad.org

Docs are here: https://admin-docs.zammad.org/en/latest/channels/email/accounts/account-setup.html#email-experts-import-as

[2020-12-16 12:36] martini opened #3336 "High system load, "StatusCode: 500 - execution expired", ActiveRecord::Deadlocked issues, and scheduler problems prevent Zammad from working well/quickly"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* have a well fast working Zammad instance

### Actual behavior:

* High system load, "StatusCode: 500 - execution expired", ActiveRecord::Deadlocked issues and scheduler problems pre

[2020-12-16 13:28] martini commented on #3336
This is a regression of https://github.com/zammad/zammad/issues/3109

It's also related to https://github.com/zammad/zammad/issues/3257

[2020-12-16 14:12] MBekspert opened #3337 "AUTHENTICATE failed when add new email"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): aptitude debian repository
* Operating system: Linux zammad 4.9.0-14-amd64 #1 SMP Debian 4.9.240-2 (2020-10-30) x86_64 GNU/Linux
* Database + version: PG 9.6
* Elasticsearch version: 5.6.16
* Browser + version: Firefox  83.0 or Google Chrome Wersja 87.0.4280.88 (Oficjalna wersja) (64-bitowa)

### Expected behavior:

[2020-12-16 14:25] MrGeneration commented on #3337
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2020-12-16 14:25] #3337 closed, assigned to nobody

[2020-12-17 06:14] #3315 closed, assigned to mantas

[2020-12-17 10:07] nijel opened #3338 "SAML configuration form does not validate input"
### Infos:

* Used Zammad version: 3.6.x
* Installation method (source, package, ..): zammad.com
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* When entering invalid values in SAML configuration I'd expect to get an error
  * The form accepts anything as "IDP certificate"
  * The form accepts anything as "IDP certi

[2020-12-17 10:12] nijel opened #3339 "SAML metadata violates specification"
### Infos:

* Used Zammad version: 3.6.x
* Installation method (source, package, ..): zammad.com
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* I expect SAML metadata to follow the [SAML 2.0 specification](https://docs.oasis-open.org/security/saml/v2.0/saml-metadata-2.0-os.pdf)
* It states: When used as the root el

[2020-12-17 10:16] MrGeneration commented on #3339
I see this as an enhancement.
The linked document states on page 9 (point 2.3.1) this:

* validUntil [Optional]
* cacheDuration [Optional]

And:
[code]

[2020-12-17 10:21] nijel commented on #3339
Yes, that's what I quoted. The root element must contain one of these and it is recommended that only the root element contains it.

That's why the attributes themselves are optional because they should appear only on the root element and are not recommended to use elsewhere (the EntityDescriptor element doesn't have to be a root element).

[2020-12-17 13:12] pyrog opened #3340 "Can't save Organization name"
### Infos:

* Used Zammad version: https://osm-fr.zammad.com
* Browser + version: Safari

### Expected behavior:

* Add the Organization to a user profile

### Actual behavior:

* The value is not saved

### Steps to reproduce the behavior:

* Edit i.e. https://osm-fr.zammad.com/#user/profile/19
* Add Organization
* Press Submit
* Reopen this user profile, the Organization is empty

See better? de

[2020-12-17 13:15] MrGeneration commented on #3340
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2020-12-17 14:01] pyrog commented on #3340
Sorry Marcel, could you reopen it : the first part is a real bug 😉

It is **not possible to save the Organization name**.

[2020-12-17 14:07] MrGeneration commented on #3340
Please edit the article to describe "the real bug" and also provide a screencast so we can understand better.
I'm still sure that this is a technical question though.

[2020-12-17 14:09] mantas commented on #3340
@MrGeneration I was able to reproduce "the real bug". I'm not sure if this is a bug or just misleading UX though. User edit form has auto-complete field to pick an existing organization. But it looks like some users expect to create new organizations in here.

[2020-12-17 14:09] pyrog commented on #3340
Done. I keep the following of the issue here 😉

### Additional request:

Firstname and Lastname are mandatory but in practice I want to send an email to the contact address of the company.
contact@sauvetoncommerce.fr in this case.

So I don't want to fill these 2 fields.

Also, usually the user/company is new, so **I would like to create it automatically** when adding a new email in the customer f

[2020-12-17 14:11] pyrog commented on #3340
In the user point of view, this is the same thing 😉

[2020-12-17 14:12] mantas commented on #3340
@pyrog although this is purely a question, I'll answer here. When creating a new ticket, you can just write `email@example.org` in the customer field and create the ticket. A new empty user (with email only) will be created.

[2020-12-17 14:15] pyrog commented on #3340
Thank you @mantas 😃. I tested this case before writing this issue but I didn't succeed.

I will retry later.

[2020-12-17 14:31] MrGeneration commented on #3340
Can we please stop mixing things and issues? This is getting messy and will cause only half of issues to be fullfilled.
I'm afraid that this has happened in the past.

This is still a technical question which is why I'll be closing this issue, sorry.
You have to create the organization before hand. If it does exist you'll have to actively select it and submit after that.

That's, at least right no

[2020-12-17 14:31] #3340 closed, assigned to nobody

[2020-12-17 14:40] pyrog commented on #3340
@MrGeneration this is a bug ! (not fixed yet)
Mantas as reproduced it 😉

1. Open https://osm-fr.zammad.com/#user/profile/19
2. Menu **Action** -> **Edit**
3. Field Organisation : I type "Sauve ton commerce"
4. Press button **Submit**

Result : the organization field is empty 😞

[2020-12-17 14:41] MrGeneration commented on #3340
* Field Organisation : I type "Sauve ton commerce"
* Press button Submit

You skipped the "select organization Zammad provides for selection" part.
This is a technical question and normal behavior as of now.

The same will happen within the LDAP integration if you select e.g. roles or groups.
This is a design decision.

[2020-12-17 14:53] pyrog commented on #3340
Probably, but I got no warning.

Sorry, it's not "normal".

If I create a new ticket and add a new customer, the list display in green "Create a new customer":
<img width="50%" alt="Create a new customer" src="https://user-images.githubusercontent.com/2158081/102502476-efe8cb00-407e-11eb-9369-56554d6b38ab.png">

So, when typing a new organization, it should also display in green "Create a new orga

[2020-12-17 14:57] MrGeneration commented on #3340
Yes and no.
The reason why Zammad doesn't provide the "new organization" dialogue is because this is not available to normal agents.

This adds extra complexity.
In my opinion this is a feature request, not a bug.

[2020-12-17 15:03] #2751 closed, assigned to rolfschmidt

[2020-12-17 15:05] pyrog commented on #3340
Feature request or bug ?
The eternal question in development. I ear this 30 years ago 😄

When a customer send a email to create a ticket, **Zammad is excellent** 😃
It create a new ticket and a new customer.

But when a new ticket is created "internally" for a new customer/organization, something is missing 🤔

[2020-12-17 15:09] MrGeneration commented on #3340
I do get get your point, but I'm afraid this is how it is right now.
As this is not something that "broke" and was working before, this is a feature / functionality that would have to be added. This is why it's an feature request / enhancement. We don't use github for feature requests any longer. This is because we also have to measure on how needed a feature that's requested really is. I hope tha

[2020-12-17 15:25] pyrog commented on #3340
In the preset case, I'am an administrator and the UX design is not homogenous and clear.
(I repeat, the list should display in green "Create a new customer")

The choice to limit Organization creation to admins only is discutable (and will be in a feature request).
The choice to have user name mandatory is discutable too. (This could be set in settings)

[2020-12-18 10:10] mantas opened #3341 "Reports do not show week 53"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Reports per-week tab allow to pick any week in a year

### Actual behavior:

* Reports per-week tab always show 52 weeks even if a given year (e.g. 2020) has 53 weeks

### Steps to

[2020-12-18 14:57] #3341 closed, assigned to mantas

[2020-12-19 04:25] rogedelgado commented on #2579
Hello there!

Is there any update on this? We recently move to zammad (great software by the way) and we are trying to get some metrics and as you can imagine, this is affecting us.

Thanks for all the effort in build this amazing tool

[2020-12-19 05:43] mantas commented on #2579
Hi @rogedelgado

We're internally testing a fix for this issue. It'll probably make it to the next release in late January/early February.

[2020-12-21 11:35] MrGeneration opened #3342 "Allow OTRS migration to take longer within Browser"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

Zammad migration will be just fine.

### Actual behavior:

If you have fairly big (or super slow) installations, the migration may take more than 4 hours.
By default Zammads timeout f

[2020-12-21 12:18] MrGeneration opened #3343 "Enhance notification channel configuration"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any selfhosted version
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Desired behavior:

Zammad provides an extra field "notification sender" *above* the send method selection (SMTP / sendmail).
This affects:
   * email channel page
   * getting started

[2020-12-21 15:08] rogedelgado commented on #2579
Hi @mantas, good news indeed!

We look forward for the new release!

[2020-12-23 07:57] martini opened #3344 "Allow mailto links in knowledge base (KB) and email signatures."
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Allow to use `<a href="mailto:somebody@example.com">` links in knowledge base (KB)

### Actual behavior:

* The `<a href="mailto:somebody@example.com">` gets replaced by `somebody@e

[2020-12-23 08:52] martini opened #3345 "Allow font colors in articles (not only in tables)"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* show (allow) font colors in articles (e. g. in emails from customers)

### Actual behavior:

* HTML sanitizer is strip out font tags (only in tables font tags are allowed)

### Step

[2020-12-23 13:08] MrGeneration opened #3346 "Initial configure step after adding XOAUTH account not functional if account is disabled"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-Numbers: #1082093, #1082550, #1081672, #1082542
* *NOTE: This seems to be a regression that has appeared somewhere in between Zammad 3.5 and 3.6. During initial documentary of both Microsoft 365 and

[2020-12-23 14:09] MrGeneration opened #3347 "Sanitizer eats "invalid" URLs and removes content after affected URLs"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified von latest Google Chrome; Customer experienced this on Firefox
* Ticket-Number: #1081892

### Expected behavior:

Zammads Sanitizer does not remove content that's valid text.

### Actual behavior:

Zamma

[2020-12-23 22:19] martini opened #3348 "Paste plain text by using ctrl+shift+v/cmd+shift+v is not working"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* firebox and chrome supports paste in plain text by using ctrl+shift+v/cmd+shift+v

### Actual behavior:

* Nothing happen if I want to paste in plain text by using ctrl+shift+v/cmd+

[2020-12-23 23:09] #3348 closed, assigned to martini

[2020-12-24 07:34] AndrewBucklin commented on #2562
This also occurs with the `<span>` tag. I assume Zammad is filtering out tags which are not on a predefined list? Can we manually change this?

[2020-12-24 07:40] MrGeneration commented on #2562
@AndrewBucklin this is a different kind of issue. Beside of that please don't hijack issues *and* please don't post technical questions on Github. Thank you.

[2020-12-24 07:42] AndrewBucklin commented on #2562
Sorry. Sounded like the same kind of issue to me. Thought it might be related to this:
https://github.com/zammad/zammad/blob/stable/app/assets/javascripts/app/lib/base/marked.js

[2020-12-27 13:47] vdeville opened #3349 "MISSING Mailbox header FROM mail"
### Infos:

* Used Zammad version:3.6.0-20
* Installation method (source, package, ..): Docker
* Operating system: Debian 10
* Database + version: Postgresql from docker-compose file
* Elasticsearch version:from docker-compose file
* Browser + version: Chrome

Hello,
I'v set email setting like FROM parameter using external SMTP, but when i receive mail in my mailbox the FROM is: `
MISSING_MAILBOX@

[2020-12-27 16:21] MrGeneration commented on #3349
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2020-12-27 16:21] #3349 closed, assigned to nobody

[2020-12-27 19:45] RedJohn14 opened #3350 "zammad-docker-compose with traefik and every session comes from the Docker host IP"
**Infos:**

Docker-compose version: docker-compose version 1.27.4
Operating system (Docker host): Ubuntu 20.04

**Expected behavior:**

Sessions in System -> Sessions should show the correct IPs.

**Steps to reproduce the behavior:**

Run zammad-docker-compose
Set up a reverse proxy, I used traefik that sits between zammad-docker-compose and the clients
Login into the web interface, and open the S

[2020-12-27 21:30] MrGeneration commented on #3350
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2020-12-27 21:30] #3350 closed, assigned to nobody

[2020-12-27 21:37] RedJohn14 commented on #3350
Yes it is a "technical question" but I think it is a **technical problem / bug** too! The Zammad compose project ignore proxy settings! I used traefik a popular docker proxy, everything is working BUT the Zammad nginx webserver ignore the Real IP. I have always the traefik IP in active sessions in the Zammad Dashboard. I think several users will have this problem! Can you have a look on this pleas

[2020-12-27 21:45] MrGeneration commented on #3350
Your issue is not application based which is why this repository is the wrong place.
We try to keep this repository clean from technical questions and feature requests.

If it's not a bug, this is the wrong place.
As you already posted on the community, you may have more chances there.

If you require commercial grade support you can contact our sales team.
Traefik is not a official supported prox

[2020-12-27 21:47] RedJohn14 commented on #3350
Okay I hope community will help me...
Which proxy is a official supported proxy?

[2020-12-28 05:44] alireza-salehi opened #3351 "Audio/Video player for ticket attachments"
### Infos:

* Used Zammad version: Any
* Installation method (source, package, ..): Any
* Operating system: Any
* Database + version: Any
* Elasticsearch version: Any
* Browser + version: Any

### Expected behavior:

all users can play audio / video attachments inside browser

### Actual behavior:

users need to download audio/video attachments in order to view theme

### Steps to reproduce the be

[2020-12-28 07:32] hiromayu commented on #2498
Hi. I'm new at zammad.
I think this problem is not fixed at 3.6.x
my zammad server show similar garbled characters.

[2020-12-28 07:35] MrGeneration commented on #3351
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2020-12-28 07:35] #3351 closed, assigned to nobody

[2020-12-28 07:48] MrGeneration commented on #2498
@hiromayu Would it be possible to receive an original eml file of a email with above encodings that still does fail within Zammad 3.6? You can send this eml to `support [at] zammad [dot] com` with referencing this issue. We'll have a look then.

Thank you.

[2020-12-28 08:28] hiromayu commented on #2498
Hi MrGeneration. I send eml file to support .

[2020-12-29 00:31] lsergei commented on #2498
@hiromayu @MrGeneration this problem is not fixed yet indeed. I kind of gave up (have someone to fix those emails manually)

[2020-12-29 11:43] OS-WS commented on #3128
Hi, is this the fix for CVE-2020-26030? https://github.com/zammad/zammad/commit/994a60911346f3750f45f154bdaee6594ccbf417

[2020-12-29 11:45] MrGeneration commented on #3128
It is, yes.

[2020-12-29 12:35] RedJohn14 commented on #3350
I have found the solution for it! It is not the traefik! It is the nginx config from your docker-compose. You missed to implement this module here:

http://nginx.org/en/docs/http/ngx_http_realip_module.html

I have fixed the wrong ip now! Maybe interesting for next release ... or not.

[2020-12-30 15:56] #3253 closed, assigned to MrGeneration

[2020-12-30 17:50] Dennis1993 opened #3353 "Wrong version in documentation"
In your installation documentation is a blue box with the text:

Above that the installation says, I can install it on 20.04 too. What is correct?
It is possible to use Ubuntu 20.04? Because we want use Zammad in January, because OTRS Community Edition recieve no updates anymore.

![image](https://user-images.githubusercontent.com/1473674/103371463-cb094480-4acf-11eb-94ca-e381c01a3463.png)

Thanks

[2020-12-30 17:59] MrGeneration commented on #3353
The version is outdated but reworked currently.
Yes there's an image for Ubuntu 20 too.

I'll be closing this issue because it's in the wrong repository and technically a technical question.

[2020-12-30 17:59] #3353 closed, assigned to nobody

[2020-12-30 18:01] Dennis1993 commented on #3353
Ah okay, now I understand the blue box. Maybe we could change the text to:

Thank you!

[2020-12-31 07:38] MrGeneration commented on #2498
Just as a small follow up:
Thanks to @hiromayu and the sample mail we could pin down the issue.

It's indirectly covering this issue and issue #3096

[2020-12-31 08:55] #3096 closed, assigned to mantas

[2021-01-03 04:47] Amolith commented on #325
I would be willing to throw a bit of money in a pot to get this feature added, likely not enough to fund it on my own though. I looked around a bit and have seen a number of other GitHub issues tagged with `prioritised by payment`; I assume that means it *is* possible for users to fund specific features they would like to see?

[2021-01-03 15:14] Lky commented on #325
I also really want support for plain text mails. The best would be if its flexible as @fthommen point out.

[2021-01-04 09:15] martini opened #3356 "rspec tests of develop and stable branch are failing"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* execute rspec tests without issues

### Actual behavior:

* Since 2021-01-01 a test is failing.

### Steps to reproduce the behavior:

[code]

[2021-01-04 09:19] #3356 closed

[2021-01-04 12:58] #3345 closed, assigned to martini

[2021-01-04 14:28] thorsteneckel commented on #3339
Hey @nijel - I did some research on that topic. Let me share what I found out:

Zammad uses the [`omniauth-saml` gem](https://github.com/omniauth/omniauth-saml) for [providing SAML authentication](https://github.com/zammad/zammad/blob/b85566c53003122ab3c710693a80e8816064bf44/lib/omniauth/saml_database.rb#L1). `omniauth-saml` [utilises the `ruby-saml` gem for generating the Metdata response](https:

[2021-01-04 14:54] nijel commented on #3339
Okay, I did it here: https://github.com/onelogin/ruby-saml/issues/563. It would be great if you could watch that issue because I have no knowledge on how Zammad uses that library or what would be the best solution to this issue for Zammad.

[2021-01-04 14:56] thorsteneckel commented on #3339
Thanks @nijel ! Watching 👀

[2021-01-04 16:40] marandus opened #3357 "Outlook ical subscription with LDAP (AD) auth not working"
### Infos:

* Used Zammad version: 3.6.0
* Installation method (source, package, ..): source
* Operating system: CentOS 8
* Database + version: PostgreSQL 10.14 (psql --version)
* Elasticsearch version: 7.10.0 OSS
* Browser + version: ---

### Expected behavior:

* When copying the ical Link from the Profile -> Calendar page and adding it as an Internet Calendar to Outlook 365, Outlook should ask

[2021-01-05 07:54] mazzorini commented on #2412
Same issue with:
Zammad 3.6
idoit 1.15.2
idoit api 1.11.3 (same with an older version ->1.8.1 ).

Could anyone test this please?

[2021-01-05 08:03] MrGeneration commented on #2412
Can you please not recycle old solved issues that are over 2 years solved?
If this is still an issue, please open a new issue and reference this issue if needed.

[2021-01-05 11:53] Schluggi opened #3358 "Zammad image service does not replace avatars (LDAP)"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): [package](https://docs.zammad.org/en/latest/install/ubuntu.html)
* Operating system: Ubuntu 20.04.1 LTS
* Database + version: PostgreSQL 12.5
* Elasticsearch version: 7.10.1
* Browser + version: Firefox 84.0

### Expected behavior:

* The image from the Zammad image service (images.zammad.com) should be used as use

[2021-01-05 14:50] KoJie opened #3359 "some macros are hidden in the drag & drop- overview with a small screen size"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): hosted
* Browser + version: Firefox & Chrome (latest version)
* T#1080226, T#1085515

### Expected behavior:

* If I have created (e.g.) 10 macros, I would like to have all macros available for ticket-multi-selection / drag & drop function

### Actual behavior:

* If I have a smaller screensize, not all of the crea

[2021-01-05 15:33] MrGeneration commented on #3358
I'm not sure if this is really a bug or rather an enhancement.
Zammad doesn't seem to try that at all, I honestly can't remember if that *ever* worked actually.

I would see this as an enhancement, what do you think Thorsten?

[2021-01-06 08:11] thorsteneckel commented on #3358
Hi @Schluggi and @MrGeneration - you are right. There are no Avatars fetched for users when they are synced from LDAP. In fact this is true for all imports (e.g. OTRS/Zendesk/...). This works as designed. Let me elaborate: User imports from external sources have the potential to create a lot of Users in Zammad. At the same time it's almost always desirable for an import to finish as fast as possib

[2021-01-06 08:11] #3358 closed, assigned to thorsteneckel

[2021-01-06 10:28] thorsteneckel opened #3360 "Unclear why entities are skipped in import(s)"
### Infos:

* Used Zammad version: 3.6.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* It should be clear after reading the log file why entities were skipped in imports.

### Actual behavior:

* There are no information available (without running in DEBUG mode) on

[2021-01-07 00:44] hiromayu commented on #2498
Hello. Thank you All.
I think this problem is fixed by applying patch.
https://github.com/kuroda/mail-iso-2022-jp.
my Zammad server handle the mail that I had sent to support perfectly.

[2021-01-07 00:48] lsergei commented on #2498
@hiromayu thank you for the update! May I know how you applied the patch? Just installed the gem as described in github article?

[2021-01-07 01:19] hiromayu commented on #2498
I forgot to tell that I could not distinguish the reason that fixing this problem.
I applied patch and updated zammad server.so one of them or both fixed the problem.
I applied the patch by command.
  sudo zammad run gem install mail-iso-2022-jp
and reboot.

[2021-01-07 01:59] lsergei commented on #2498
Thank you @hiromayu . Just installed the gem but supposedly just install wouldn't fix the issue. May I know what did you change in server.so?

[2021-01-07 02:29] hiromayu commented on #2498
I'm sorry. I didn't do anything to server.so. I just install that patch and update zammad server introduced by ubuntu updater.
if just installing the patch wouldn't work. it's too first to decide problem fixed. I will check my email at several day.

[2021-01-07 02:36] lsergei commented on #2498
@hiromayu わかりました。I did the same thing and will monitor if the problem is gone.

どもありがとう！

[2021-01-07 08:08] MrGeneration commented on #2498
Just an important side note: Keep in mind that this action **is not update safe**.
So if you really want to stick with the solution and bugfix #3096 is not installed on your system we can't stop you.

However, all bugs that are appearing because of this no longer validate for bug fixing.

[2021-01-07 08:22] lsergei commented on #2498
@MrGeneration from what @hiromayu suggested it is actually update safe since there is no code modification.

Perhaps closing the ticket is too early, but for today I have no issues after installing said gem.

[2021-01-07 08:24] MrGeneration commented on #2498
You did change the enviroment.
This being said, if you don't have a specific source code installation setup, this action is not update safe.

[2021-01-07 09:18] thorsteneckel commented on #2498
Hey there! To provide some technical background: Installing a gem has no effect on its own. It won't get loaded without further action/code changes. Therefore I'd suggest to remove the installed gem again to restore a vanilla environment. I suspect that the provided fix of #3096 created 7 days ago resolved your issue @hiromayu 🤔

[2021-01-07 10:05] hiromayu commented on #2498
Thank you for all. So, update of Zammad was the reason that fix this problem.
I'm sorry for incorrect information.
I will reinstall Zammad server and check the result. and report it's really fixed at several days after.

[2021-01-07 13:10] BF-LX opened #3361 "Restoring from Backup to another system"
Hi,

i currently have a problem with migrating my old zammad system to a new machine.

I've installed the new zammad system 3.6.0 stable on a CentOS 7 vm, after the installation the Getting Started screen appears on the new machine and zammad is working correctly. But if i try to restore the backup i always get the Error code "502 Bad Gateway - nginx" the output of the restore shows:
`FEHLER:  Seq

[2021-01-07 13:11] MrGeneration commented on #3361
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-01-07 13:11] #3361 closed, assigned to nobody

[2021-01-08 11:23] MrGeneration commented on #2822
I believe that this is a bug.
It feels like Zammad chooses `uid` over `entryuuid` because the entry comes last.

Or maybe because the first object it found contained it instead.
I can't differentiate that. A possible solution (and of #1773) could be to ask the user which attribute one wants to use.

If a selection field would be a good way, we'd need to think if we provide a burned in list or if t

[2021-01-08 15:51] MrGeneration commented on #2545
I believe that this has been fixed indirectly with https://github.com/zammad/zammad/issues/2400 (this would be a duplicate then).
Can you please check / provide feedback if this still happens to you?

For further reference, this is the commit I believe that fixed the issue:
https://github.com/zammad/zammad/commit/a9dd93796844ca3a5d98743e542caf34e7d3c251

[2021-01-08 16:02] vsurrel commented on #2545
I installed an ES instance since then, so I can't help you on this point !

[2021-01-08 18:15] MrGeneration commented on #2545
Ooookaaay, so we'll expect everything to be fine.
Thanks for the feedback. :)

[2021-01-08 18:15] #2545 closed, assigned to MrGeneration

[2021-01-10 07:12] Itay-Sharoni-zz opened #3362 "Zammad 3.6.0 cannot configure proxy"
### Infos:

* Used Zammad version: 3.6.0
* Installation method (source, package, ..): Source
* Operating system: Debian 9
* Database + version: MySQL 8.0.21
* Elasticsearch version: 5.6.16
* Browser + version: Microsoft Edge  87.0.664.66

### Expected behavior:

Under:
Admin > System > Network Proxy Settings
when configuring proxy and pressing submit, it should accept settings and apply proxy
![im

[2021-01-11 10:30] thorsteneckel commented on #2829
Hey there! Let me share some background information, summarise the current state and describe on what we will do next about it:

This issue was introduced by https://github.com/zammad/zammad/commit/68c56c7b8714918e9ad0d8201c532c803f90016b to enable the `secure` Cookie flag for HTTPS connections for making the usage of Zammad more secure. It basically enforces the behaviour to send/consider Cookies

[2021-01-11 13:39] MrGeneration opened #3363 "Customer role strikes non required fields for agents if field is required for customer"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): hosted
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified on Google Chrome latest
* Ticket: #1082029

### Expected behavior:

Zammad is able to differentiate by group if the ticket is being created in customer or agent scope.

### Actual behavior:

Zammad al

[2021-01-11 15:31] MrGeneration commented on #325
Sorry this went below my radar again.
Please contact sales [at] zammad [dot] com.

Our colleagues will figure out the cost and if it's too much also check if it qualifies for a payment pool for several people to carry this on.

My guess is that this is currently blocked by the future to be editor for Zammad.
Zammad currently has no way to tell if you may format a mail or not which may be troubleso

[2021-01-11 19:41] benbucksch commented on #2829
Can you at least fix the docker config, please?

These days, esp. since Let's Encrypt, automatic deployment of SSL certificates is normal, and normally done with SSL terminators or traefik. Nobody wants to manually find the place in each package where the SSL certificate is configured, for every different piece of software, and manually update it all the time for each of them.

(Actually, I'd argu

[2021-01-11 23:47] monotek commented on #2829
The docker compose image is already configurable to work like you want. Check the available env vars:

See: https://github.com/zammad/zammad-docker-compose/blob/master/containers/zammad/docker-entrypoint.sh

[2021-01-12 05:21] benbucksch commented on #2829
That requires that the admin knows about this bug. Who would? That defeats the point. Docker images need to be working out of the box. Otherwise I could install it manually.

At the very least, the necessary variables need to be right in the `docker-compose.yml` file, as concrete values, with a comment when they are needed. Right in that file. Other documents will be missed and are irrelevant.

FW

[2021-01-12 07:43] thorsteneckel commented on #2829
The docker compose image has grown much in functionality, configuration and adaption. I think that's fantastic.
I also think it's time spend well to provide some more information and documentation on how to use it. As we're currently pretty busy it would be awesome to receive some community contributions for this.
However, please do it in consultation with @MrGeneration (who has the overview of th

[2021-01-12 07:46] #3052 closed, assigned to rolfschmidt

[2021-01-12 07:47] benbucksch commented on #2829
@thorsteneckel

I think it's fair to assume that any public server these days - esp. one that offers password login like Zammad - is on `https:`. Chrome and Firefox don't even allow anything else, and warn and disable the password manager, if it's on `http`. Can you just assume that the public server is `https:`? If the setup is insecure for people running `http:` on public servers, that's not a s

[2021-01-12 07:52] thorsteneckel commented on #2829
We will consider it. Thanks for the food for thought!

[2021-01-12 09:14] Schluggi commented on #3358
Thanks for this script, but it doesn't seem to work. After i pasted it, I get an empty list back and nothing else happens.
The avatars are still the same as before.

![image](https://user-images.githubusercontent.com/43608073/104293053-dc822180-54bd-11eb-8b93-d59ef2d16840.png)

[2021-01-12 09:29] MrGeneration commented on #3358
Hello,

please replace `object: 'Ldap::User'` by `source: 'Ldap::User'` and you should be good to go.
If it still doesn't work, please create a post on the Zammad community as this is a technical question.

Thank you.

[2021-01-12 09:33] Schluggi commented on #3358
It works! Thanks :tada:

[2021-01-12 15:05] #3346 closed, assigned to thorsteneckel

[2021-01-13 12:41] cautopartes opened #3365 "No script content (e. g. javascript) in emails"
### Infos:

* Used Zammad version: 3.6x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket: #1082658

### Expected behavior:

* Script (e.g. Javascript, JSON) content in emails should be automatically hidden from the users view by the sanitizer, just like email clients (e.g. Thunderbird)

[2021-01-14 16:30] Teascade opened #3366 "Running Zammad in Docker without the docker-compose repo"
Hey, I didn't see a discord of any kind where I could ask this, so I resorted to an issue. Is there **any** way to run zammad in production in docker, without using the docker-compose repo? I don't want most of the containers that come with it, for example the postgresql, the nginx or the memcached. I have those services already set-up elsewhere and differently. I just want zammad, in one containe

[2021-01-14 16:32] MrGeneration commented on #3366
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-01-14 16:32] #3366 closed, assigned to nobody

[2021-01-14 20:35] gituser commented on #3366
@Teascade check documentation - https://docs.zammad.org/en/latest/install/source.html it's all explained there.

Zammad is written in Ruby, so it's just another ruby software, you need to install rvm or rbenv or whatever and configure nginx / postgresql / etc if you don't want to run inside the docker.

Also you can use packages available for Debian / Ubuntu / CentOS / Suse.

[2021-01-14 20:36] Teascade commented on #3366
I do specifically want to run it on docker though, I just dont want to run postgres on docker.

[2021-01-15 08:34] hiromayu commented on #2498
Hello. I got another example of this problem.
but, I think small difference before update of zammad.
before update, all of japanese character was garbled. but now subject of mail is correct. only main text of mail is garbled.
What should I do?

[2021-01-15 08:38] MrGeneration commented on #2498
Please create a new issue.
This is a complex issue and may appear to be the same but also might be of slightly different nature.

[2021-01-15 09:20] hiromayu opened #3368 "Japanese character is garbled."
### Infos:

* Used Zammad version: 3.6.x
* Installation method (source, package, ..): apt install zammad
* Operating system: ubuntu 20.04
* Database + version:  psql (PostgreSQL) 12.5 (Ubuntu 12.5-0ubuntu0.20.04.1)
* Elasticsearch version: sorry I couldn't find
* Browser + version: FireFox 84.0.2

### Expected behavior:
 e-mail at Japanese-encoding displayed by Japanese character.

### Actual beha

[2021-01-15 11:47] louisyssel opened #3369 "Telegram messages does not reach Zammad"
### Infos:

* Used Zammad version: 3.6.0-1610377695.3480f859.centos7
* Installation method (source, package, ..): https://docs.zammad.org/en/latest/install/centos.html
* Operating system: Centos 7
* Database + version: postgres (PostgreSQL) 9.2.24
* Elasticsearch version: 5.6.16
* Browser + version: Any braowser

### Expected behavior: When the Telegram integration is installed and configured as p

[2021-01-15 12:20] MrGeneration commented on #3369
Duplicate of #2998

[2021-01-15 12:20] #3369 closed, assigned to nobody

[2021-01-15 12:24] louisyssel commented on #3369
Thank you, managed to resolve this. Thanks for the assistance.

[2021-01-15 13:04] monotek commented on #3366
You could use the [zammad container](https://hub.docker.com/layers/zammad/zammad-docker-compose/zammad-3.6.0-33/images/sha256-ce94353476c4dfdd487556d85e55a1fd1dd9dcb71840b79ec85a04b4ee6ce27a?context=repo) from the docker-compose repo but you would need to write your own entrypoint.

[2021-01-15 13:47] martini opened #3370 ""canonical"-tag is missing in knowledge base"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* For SEO reasons knowledge base should use "canonical"-tag for configured FQDN since knowledge base my be available via different fqdns.

### Actual behavior:

* No "canonical"-tag e

[2021-01-15 20:48] Supersonic112 opened #3371 "nginx zammad.conf file can not handle IPv6"
Dear Zammad team,

The default zammad.conf file for Nginx does not make the server listen on IPv6, which leads to very strange behavior when running Zammad on a Machine with IPv6.

**Proposed solution**: This issue can be fixed by adding the line `listen [::]:80;` below `listen 80;` in the files contrib/nginx/zammad.conf and contrib/nginx/zammad_ssl.conf and possibly also `listen [::]:9200` below

[2021-01-18 09:03] #3360 closed, assigned to thorsteneckel

[2021-01-18 09:56] thorsteneckel opened #3372 "Reasoning about Webhooks activity"
### Infos:

* Used Zammad version: 3.6.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* It should be possible to reason about recent Webhooks activities
* There should be a dedicated admin view

### Actual behavior:

* Webhooks can only be configured in Triggers but

[2021-01-18 11:27] MrGeneration commented on #3368
Sample can be found here:
#1082760

[2021-01-18 14:58] FreeTheTech101 opened #3373 "LDAP users marked as inactive"
### Infos:

* Used Zammad version: 3.6.x (stable build #4767)
* Installation method (source, package, ..): Package
* Operating system: Ubuntu 20.04.01
* Database + version: PostgreSQL 12.5
* Elasticsearch version: 7.10.2
* Browser + version: Firefox 84.0.2

### Expected behavior:

* Users to not be automatically marked as inactive after updating.

### Actual behavior:

* All LDAP users are marked

[2021-01-18 15:02] thorsteneckel commented on #3373
Hi @FreeTheTech101 - thanks for reporting. This might be a regression I introduced in my latest change https://github.com/zammad/zammad/commit/9c3d43892bf1ded50dca35043128b50a7c122670

Looking into it now 👀

[2021-01-18 15:33] Marf54 opened #3374 "Incoherent email fetching"
### Infos:

* Used Zammad version: 3.6.0-1610545422.444c3a5d.focal
* Installation method (source, package, ..): Apt package
* Operating system: Ubuntu focal (20.04)
* Database + version: postgresql 12
* Elasticsearch version: 7.10.2
* Browser + version: All browser

### Expected behavior:

* Emails are fetched and tickets are created.

### Actual behavior:

* An email is received by our email prov

[2021-01-18 15:35] thorsteneckel commented on #3373
As expected - this is a regression of https://github.com/zammad/zammad/commit/9c3d43892bf1ded50dca35043128b50a7c122670. Fix is currently running through CI. Release will be ready soon. Sorry for the inconvenience...

[2021-01-18 15:45] MrGeneration commented on #3374
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-01-18 15:45] #3374 closed, assigned to nobody

[2021-01-18 17:01] thorsteneckel commented on #3373
Issue is fixed with the commit above. It takes up to 30 minutes for the new package version to be ready. You can follow the progress here: https://packager.io/gh/zammad/zammad/builds/4768

[2021-01-18 17:01] #3373 closed, assigned to thorsteneckel

[2021-01-18 20:56] martini opened #3375 "chat-no-jquery(.min).js is dropping click binds/event listener after from web page"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Web page behavior should be untouched after adding customer chat widget to web page.

### Actual behavior:

* After adding customer chat widget web page all click binds/event listen

[2021-01-18 21:12] miterion opened #3376 "No login possible in latest debian package"
### Infos:

* Used Zammad version: 3.6.0-1610965497.9c3d4389.buster
* Installation method (source, package, ..): debian package
* Operating system: Debian Buster
* Database + version: psql (PostgreSQL) 11.9 (Debian 11.9-0+deb10u1)
* Elasticsearch version: 5.6.16
* Browser + version:
  * Firefox 84.0.2
  * Google Chrome 87.0.4280.141

### Expected behavior:

* After being forwarded by the SAML prov

[2021-01-19 10:52] #3375 closed, assigned to martini

[2021-01-19 11:09] #3257 closed, assigned to rolfschmidt

[2021-01-19 11:58] martini opened #3377 "chat-no-jquery(.min).js is logging an javascript exception (Uncaught ReferenceError: node is not defined)"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* use customer chat without javascript exception

### Actual behavior:

* If chustomer chat window is hidden and agent replies
* an javascript exception is logged (Uncaught ReferenceE

[2021-01-19 12:44] benmo opened #3378 "Spaces stay URL-encoded when going back to search results on KB for agents"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): scope unknown (tested with source)
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version:
  * Firefox 78.6.1
  * Chrome 87.0.4280.141 (Enterprise version)
* **Not** affected browsers:
  * Edge 44.18362.449.0 (outdated)
  * Internet Explorer (Enterprise) 11.00.18362.1

##

[2021-01-19 13:12] #3377 closed, assigned to martini

[2021-01-19 15:38] #3336 closed, assigned to martini

[2021-01-19 15:38] MrGeneration commented on #3376
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-01-19 15:38] #3376 closed, assigned to nobody

[2021-01-19 18:26] gss-wc commented on #1835
Greetings,

I reviewed a similar/related ticket ( https://community.zammad.org/t/mixed-language-tickets-and-rtl-right-to-left-vs-ltr-left-to-right/5122) and that ticket referred me to this ticket.

While the solution to this need can be solved on the backend using an API to detect language and direction, I think you may have overlooked a simpler front-end solution that can be implemented fairly qu

[2021-01-20 07:13] thorsteneckel commented on #1835
@gss-wc thanks for reaching out! @mrflix - what do you think? I'll manage the contribution part if you think it's a good solution for Zammad 👍

[2021-01-20 13:56] HristoA opened #3379 "Import::OTRS.diff_worker creates/imports tickets without articles"
### Infos:

* Used Zammad version: 3.6.0
* Installation method (source, package, ..): any
* Operating system: CentOS 7
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Diff-import from OTRS creates new tickets in Zammad with Article, attached files etc. All to be 100% as it at OTRS side.

### Actual behavior:

* Diff-import from OTRS create

[2021-01-20 15:12] HristoA commented on #3379
**Update:**
After many attempts I get to the point that missing Article popup/appear in Zammad. Strange is that i just add more and more logs in my debug script between few runs. So i start to look more crossly to:
[code]
and catch that RAW JSON for one particular case is :
[code]
But in the same time under OTRS Ticket: 123 have one article that is just a plain text. So what I do:
- First fill int

[2021-01-21 04:52] marandus commented on #3357
If there is anything we can do to help you verify this issue please let me know.

[2021-01-21 07:22] #2694 closed, assigned to mantas, martini

[2021-01-21 08:19] MustafaTongul opened #3380 "Counter for KB answers"
### Infos:

* Used Zammad version: 3.0 and onward
* T#1082873

### Expected behavior:

* Knowledge Base entries should display a counter indicating how many answers each category and their subcategory contains.
* In each category, regardless of main or subcategory, this indicator should be displayed.

### Actual behavior:

* There is no indicator of how many answers each category contains.

This i

[2021-01-21 08:27] thorsteneckel opened #3381 "Execution timeout while performing request to Zendesk API fails import for current resource"
### Infos:

* Used Zammad version: 3.6.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* In cases of a connection timeout while performing a request to the Zendesk API retries should be performed ([as for other API errors](https://github.com/zammad/zammad/blob/708b953

[2021-01-21 08:39] martini opened #3382 "Logging of email postmaster filter is to extensive with many more then 10 filters"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Only log matching filters in `log/production.log` as info

### Actual behavior:

* Currently all not matching filters are logged (including value which can be long if its a body) as

[2021-01-21 09:42] HristoA commented on #3379
Hi again.
I think that locate the root of the problems.

- Add one record to `ticket_changed` with timestamp -9 hours form now
[code]
result at  `/otrs/public.pl?Action=ZammadMigrator;Key=****;Object=Ticket;Subaction=Export;Offset=0;Limit=0;Diff=1` is `Articles:[]`

- Add the same ticket as record at `ticket_changed` with timestamp -24 hours form now. Result is the same error in OTRS logs but now

[2021-01-21 09:46] MrGeneration commented on #3379
Add more info about this under https://docs.zammad.org/en/latest/migration/otrs.html

This page and others are currently undergoing QA as per https://github.com/zammad/zammad-documentation/pull/156

Right now I wouldn't recommend changes to the documentation.

[2021-01-21 09:48] #3382 closed, assigned to martini

[2021-01-21 12:10] #3379 closed, assigned to nobody

[2021-01-21 12:21] rkreienbuehl commented on #3327
Is there any development update on this bug?

[2021-01-21 12:26] MrGeneration commented on #3327
Please don't push issues like that.
We will update this issue accordingly as soon as anything moves.

Please note that we can't and won't provide ETAs in general.

[2021-01-21 13:13] thorsteneckel commented on #3327
We need more information on this:
- What are the permissions of the `Bearer Token` user that is performing the request?
- What are the permissions of the `X-On-Behalf-Of` user? (`ticket.agent`/`ticket.customer`)
- What are the permissions configured for the Token?

If the `X-On-Behalf-Of` user has `ticket.customer` permissions:
- Has the `X-On-Behalf-Of` user customer permissions to the ticket? (C

[2021-01-21 18:33] Dennis1993 opened #3383 "Mails not sending by triggers"
### Infos:

* Used Zammad version: 3.6.x (latest build)
* Installation method (source, package, ..): apt
* Operating system: Ubuntu 20.04
* Database + version: postgres
* Elasticsearch version: latest 7
* Browser + version: Microsoft Edge and Firefox

### Expected behavior:
sending mails by triggers
*

### Actual behavior:
mails not sending
*

### Steps to reproduce the behavior:
create a trigger

[2021-01-21 20:46] MrGeneration commented on #3383
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-01-21 20:46] #3383 closed, assigned to nobody

[2021-01-22 07:07] rkreienbuehl commented on #3327
The Token is not a `Bearer Token`, its a personal Access Token and we use it in the Header with `Authorization: Token token={your_token}`
The permissions for the Token are:
`admin.ticket`, `admin.user` and `ticket.agent`

The `X-On-Behalf-Of` is a normal User (that was create over the API if he didn't existed) and has the rights of a customer.

`admin.ticket`, `admin.user` and `ticket.agent`

Yes,

[2021-01-22 08:09] thorsteneckel commented on #2983
To keep you in the loop: We will implement this with the upcoming 4.0 release.

For internal implementation purposes: https://thoughtbot.com/blog/forbidden-kisses-http-fluency-in-clearance

[2021-01-22 08:27] thorsteneckel opened #3384 "Confusion caused by new communication participants joining an ongoing conversation"
### Infos:

* Used Zammad version: 3.6.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket# 1082764

### Expected behavior:

* It should be clear when a new communication partner joined the conversation.

### Actual behavior:

* There are cases where it's not clear / a surprise when some

[2021-01-22 09:57] thorsteneckel commented on #3327
Thanks a lot @rkreienbuehl - with that information I was able to reproduce the issue 💪 I translated it into the following RSpec test code:

[code]
Side note: The `authenticated_as` helper needed an adjustment which I will commit later.

After some debugging I found out that this works as intended. The Token is used in the `ticket.customer` permission context - as it needs to create an Article in t

[2021-01-22 09:57] #3327 closed, assigned to thorsteneckel

[2021-01-22 13:11] thorsteneckel commented on #3357
Hi @marandus - can't verify. It works for me. What I did:

`docker run --rm -p 10389:10389 -p 10636:10636 rroemhild/test-openldap`

Zammad Console
[code]

After that I performed the request via: `curl --user bender:bender http://localhost:3000/ical/tickets`

And received the expected result:
[code]

I hope this helps to find your issue. Please refer to the  [community board](http://community.zamma

[2021-01-22 13:11] #3357 closed, assigned to thorsteneckel

[2021-01-24 21:13] Omeryl commented on #865
@thorsteneckel How did this end up going for you? Any further work, was the source code released?

[2021-01-24 21:23] MrGeneration commented on #865
Please see above comment:
https://github.com/zammad/zammad/issues/865#issuecomment-494283065

It's still in Beta as we constantly do not receive any feedback of users that did request the code.
This is one of the reasons it's not stable yet.

[2021-01-25 07:51] MrGeneration commented on #865
Just as a small follow up. The freshdesk import will get official in one of the future versions of Zammad.
Please note that we can't provide any ETA. We will update this issue accordingly if anything moves.

----

If you can't or don't want to wait and are ready for an alpha script, please contact our support team.

[2021-01-25 08:42] rolfschmidt commented on #435
Hello guys,
we got some support to implement the gitlab integration. It will contain the possibility to connect to your gitlab environment and link issues to tickets in V1. It will display information about the issue, assignee, milestone and labels.

@maximegaillard

This will be the case.

Not sure what you mean? Like a fixed issue which can be easily linked to multiple tickets via macro?

This w

[2021-01-25 09:00] #3381 closed, assigned to thorsteneckel

[2021-01-25 13:19] Floaty-Pi opened #3385 "OTRS Migration fails with Encoding Error"
### Infos:

* Used Zammad version: 3.5.03
* Installation method: Univention (Version 4.4-7)
* Operating system: CentOS 7.8.2003
* Database + version: mySQL 15.1

### Expected behavior:

* Migration completes successfully

### Actual behavior:

* Migration runs smoothly until it terminates at ~13k tickets and stops with an EncriptionError
[code]

### Steps to reproduce the behavior:

* open ruby co

[2021-01-25 14:29] martini commented on #3385
@Floaty-Pi it seems to be a duplicate of #3250 which git fixed in Zammad 3.6 and higher.

Pls. verify if it's working with Zammad 3.6. Thanks!

[2021-01-25 14:30] #3385 closed, assigned to nobody

[2021-01-25 14:31] MrGeneration commented on #3385
Zammad 3.6 is not available on Univention systems as of now.
I'm afraid testing this is not possible as of now.

No ETA for this release before you ask.

[2021-01-26 09:02] hsssystems commented on #849
Hi,

we have the same issue, the ticket_number and ticket_id diverged since a month or so. We did not realize this at the beginning and merged some tickets that did not belong :-|. However the  ticket_number and ticket_id did where synchronous for several years. I do not know what happened... However, is there a way to increment the `ticket_number` in the database so the two numbers will be the sa

[2021-01-26 09:03] MrGeneration commented on #849
@hsssystems please don't hijack issues.
This is rather a technical question that belongs to our community: https://community.zammad.org

---

Because of missing feedback and bumps on this issue I'm limitting the conversation to contributors only.

[2021-01-26 09:51] PogBorris commented on #3362
Same problem here.. my solution to set the proxy settings:

1. open up a terminal session on your zammad server
2. open a rails console : zammad run rails c
3. Enter your Settings

Setting.set('proxy', 'proxy.example.com:3128')
Setting.set('proxy_username', 'some user')
Setting.set('proxy_password', 'some pass')

e: **for me the Proxy Connection isnt working anyways!**

[2021-01-27 07:48] #3368 closed, assigned to mantas

[2021-01-27 09:59] #3243 closed, assigned to rolfschmidt

[2021-01-27 12:55] #3234 closed, assigned to rolfschmidt

[2021-01-27 14:45] thorsteneckel commented on #3339
Hi @nijel impressed to see that the great people over at `onelogin/ruby-saml` resolved the issue so fast! Now we're only lacking of a way to use this new interface in the https://github.com/omniauth/omniauth-saml gem we're using. Would you mind creating an issue over there as well?

[2021-01-28 11:56] thisconnect commented on #919
Does the license allow chaging the favicon?

Alternatively would it be an issue to proxy and replace the `/favicon.ico` request and replace with a branded one, so there would be no code change.

[2021-01-28 12:04] MrGeneration commented on #919
@thisconnect
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted

[2021-01-28 12:15] x1ddos commented on #3344
Commit 2a6036fb6e036622375297489d9ce1ed80eef17a almost worked except mailto links are prefixed with `http://`.

[2021-01-28 12:24] thisconnect commented on #3370
I believe we have the same issue, knowledge base in english and german, the link in the language switch from EN->DE points to a URL in english, but it would be great if it would point to the german url.

[2021-01-28 12:54] multiOTP commented on #2550
Please note that same thing happens if we choose in a ticket to send an Email to a user for which the email field is simply empty.

[2021-01-28 12:54] MrGeneration commented on #3344
@x1ddos I'm not sure if I understand correctly.

Are you saying you do have mailto links prefixed with `http://` or are you saying that mentioned commit only fixes the issue if you prefix it with `http://`?

[2021-01-28 12:57] MrGeneration commented on #2550
@multiOTP you're recycling a 2 year old issue.
Please don't. Above mentioned behavior is not a bug but will fail in any mail client if you fail to supply a correct mail address.

If there's a bug in Zammad, please create a new issue on this repo.
If this is a technical question, please create a community post over at https://community.zammad.org

[2021-01-28 14:36] x1ddos commented on #3344
Sorry, I meant the `mailto:` links somehow get prefixed with `http://` while editing a KB article:

![image](https://user-images.githubusercontent.com/25405/106152982-5aad1c00-617e-11eb-9c99-fc4fbd1a0081.png)

No matter what I try doing to remove `http://` prefix, it always gets added back in the end on save, maybe earlier. Not sure if it's only the web editor UI or also somewhere server side.

[2021-01-28 14:37] MrGeneration commented on #3344
~~Using the linking function will not function.~~
~~If this is a technical question, please post it on the Zammad-Community (https://community.zammad.org).~~

~~If this is a bug, please open a new bug report on this repostiroy.~~

[2021-01-28 14:39] x1ddos commented on #3344
What will?

The linked commit claims it resolves this issue. I'm saying it didn't, the way the issue is originally described anyway.

[2021-01-28 14:40] MrGeneration commented on #3344
Please ignore my above statement.

[2021-01-28 14:41] martini commented on #3344
@mantas it seems to be a UI issue. In recent changes we allowed to use mailto in html sanitzer. But it seems we missed the support of it in this KB UI element, right?

[2021-01-28 14:43] mantas commented on #3344
@martini yup... I'll take care of this.

@x1ddos a workaround would be to manually edit content of the form in Web Inspector of your browser.

[2021-01-28 20:25] benmo opened #3387 "Parameters in text modules are not updated after customer is changed"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): scope unknown (tested with source)
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: scope unknown (tested with Edge 88.0.705.50)

### Expected behavior:

* When inserting text modules, parameters regarding the customer (e.g. #{ticket.customer.firstname}) should use

[2021-01-29 08:49] mantas commented on #3370
Hi @thisconnect

This issue is about canonical HTTP header tag. A knowledge base with a custom subdomain can be reached at both custom subdomain and originaldomain.com/help. Thus canonical tag is needed to point search engines to correct primary URL.

Your issue seems different and likely is as-designed. Language switcher has a checkmark next to active language (so, EN when looking at EN content)

[2021-01-29 12:46] cautopartes opened #3388 "No line break adding Tags"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* T#1083174

### Expected behavior:

* Zammad should add a line break while adding tags in an overview or in the scheduler when the line reaches the border of the window.

### Actual behavior:

* When multipl

[2021-01-29 15:45] martini commented on #3388
Duplicate of #2536

[2021-01-29 15:45] #3388 closed, assigned to nobody

[2021-01-29 16:16] martini opened #3389 "Trigger based notifications are not sent (Send no trigger based notification to bob.smith@example.com because email is marked as mail_delivery_failed for -157 days)"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Send trigger based notification if "permanent failed" flag is older then 60 days.

### Actual behavior:

* Not trigger based notification is sent event if "permanent failed" flag is

[2021-01-30 16:27] svoop commented on #229
2021, any update here?

[2021-01-30 16:36] MrGeneration commented on #229
No specific ETA.
If you can't wait for a specific feature you can always sponsor the functionality if you'd like.
This will greatly speed up processes.

Apart from that we update issues accordingly if anything moves.

Locking conversation to contributors only because of missing feedback.

[2021-02-01 06:10] idominiki opened #3390 "Ticket iCal Abonnement with SAML Authentication"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): Source via apt get
* Operating system: 18.04 Linux

### Expected behavior:
* I want to subscribe to my ticket calendar within macOS Calendar App and with the use of SAML Authentication

### Actual behavior:
* I got the error, permission denied

Can anyone help?

[2021-02-01 07:21] martini opened #3391 "Unable to open object manager select field modal if options contains invalid data (like undefined or null)"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Allow to open/object manager select field modal if options contains invalid data (like undefined or null)

### Actual behavior:

* Java Script exception is raised:

![image](https:/

[2021-02-01 07:36] MrGeneration commented on #3390
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-02-01 07:36] #3390 closed, assigned to nobody

[2021-02-01 10:25] #2536 closed, assigned to mantas

[2021-02-01 10:28] #3333 closed, assigned to martini

[2021-02-02 13:52] ghost opened #3392 "Deleted Google E-Mail-Account leads to Internal Server Error on Admin Channel Settings"
### Infos:

* Used Zammad version: 3.6.0
* Installation method (source, package, ..): Source
* Operating system: Ubuntu 18.04
* Database + version: PSQL 11
* Elasticsearch version: ES 7
* Ticket-ID: #1083494

### Expected behavior:

* When a google account is deleted, I as an admin should be able to continue changing settings in the E-Mail and Google Channel section.

### Actual behavior:

* When

[2021-02-02 14:02] MrGeneration commented on #3392
Even worse, it doesn't just affect the UI but also seems the Channel fetch process to never get out of error state.
This means that the channel, even if it's set to `active: false` will keep on alerting during fetch and within Monitoring.

[2021-02-04 08:30] thorsteneckel commented on #2983
Fixed with the commit above. We took the chance and improved some of the messages of `401` errors but basically the only thing we changed were the non-authentication errors to `403 Forbidden`.

You can test this with the latest `develop` package in about 30 minutes from now. **Please be aware this is a working branch and not stable.** Therefore ensure to have a backup and expect the worst :) Looki

[2021-02-04 08:30] #2983 closed, assigned to thorsteneckel

[2021-02-04 08:34] clicks opened #3393 "HTML structure that is not parseable by jQuery causes JavaScript error that breaks Ticket Zoom view."
### Infos:

* Used Zammad version: 3.6.0-1607430494.246b029e.xenial
* Installation method (source, package, ..): ppa
* Operating system: Ubuntu 16.04
* Database + version: postgresql 9.5
* Elasticsearch version: 6.8.13
* Browser + version: Firefox 85, Chrome 88

### Expected behavior:

* Clicking on the link for a specific ticket https://zammad.example.org/#ticket/zoom/424654 (from search results)

[2021-02-04 08:37] MrGeneration commented on #3393
We'd need that special ticket and (before that) a complete debug output like the one abvoe, just all of it.
Would that be possible?

[2021-02-04 08:41] mantas commented on #3393
@clicks any chance that somebody touched the database directly and removed some stuff? Maybe permissions were changed and this user do not have access to related bit anymore?

I've a feeling that some ticket relations/dependencies are missing (or not accessible) and the view cannot be built anymore. This would still be a bug, because view building should be resilient to such issues.

[2021-02-04 08:43] clicks commented on #3393
Of course, but I'm not sure how to provide you this information? Do you need access to our instance (which is no problem) or can I extract the ticket in useable format for you? Don't want to post it publicly as it contains customer information.

The production log doesn't show an error or warning when the ticket is opened.

@mantas Don't think so. But we had problems with the cache filling the tem

[2021-02-04 08:53] mantas commented on #3393
@clicks cache clearing should be not an issue. Assuming that you restarted the instance afterwards and now cache has plenty of space to fully rebuild.

The crash is in javascript and unfortunately production log is for server-side errors only. All the data is only in web inspector.

Please email us support@zammad.com with a reference to this issue.

[2021-02-04 09:04] mantas commented on #3393
@clicks after a quick look at our code, I've a couple ideas where may be the issue. For now, please send the dump of the ticket itself to above email. Thank you!

[2021-02-04 11:12] ntinti commented on #2616
Hey - your little instruction helps me a lot. Thank you. Zammad 3.7 runs now in a ZFS FreeBSD 12.2 jail. I want my database and proxy server on other hosts than zammad and the Debian package isn't an alternative for such configuration. And manual installation on ubuntu 20 sucks...
❤️ FreeBSD for it's flexibility and clearness.

[2021-02-04 11:18] MrGeneration commented on #2616
The source installation documentation (for supported systems) will be improved in the future. That's currently undergroing QA.
https://github.com/zammad/zammad-documentation/pull/156/files#diff-c4ce3ec78b956bc6801c0a1adc11253b24534958636adfc57c59259491c510bb

[2021-02-04 13:17] #3344 closed, assigned to mantas

[2021-02-04 14:58] #3391 closed, assigned to martini

[2021-02-04 15:49] Floaty-Pi opened #3394 "CSRF token verfication failed after migrating from OTRS"
### Infos:

* Used Zammad version:3.7
* Installation method: source
* Operating system: Ubuntu 20.04
* Database + version: mySQL 15.1

### Expected behavior:

* Log-in to the Zammad App to use after migrating Data from OTRS

### Actual behavior:

* Log-in fails with CSRF token verification failed error

### Steps to reproduce the behavior:

* Install Zammad from source
* Set-up system via the web-

[2021-02-05 11:02] redbear-ger commented on #1116
How much for speeding that up? I mean... it's nearly 4(!) years....

[2021-02-05 14:26] ghost opened #3395 "Not working in Korean"
### Infos:

* Used Zammad version:3.6.x
* Installation method (source, package, ..):debian pakage
* Operating system:debian10
* Database + version:debian pakage
* Elasticsearch version:debian pakage
* Browser + version:firefox 85

### Expected behavior:

* All functions working even after setting up in Korean

### Actual behavior:

* When the language is set to Korean, almost all functions such as

[2021-02-08 08:51] Floaty-Pi commented on #3394
Update:
Sorry for the late response but after some trial and error we managed to set up nginx and Zammad in a way that both of them seem to run. However now I'm getting a 403 **Forbidden** error whenever I try to access the web app.

[2021-02-08 08:53] MrGeneration commented on #3394
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-02-08 08:53] #3394 closed, assigned to nobody

[2021-02-08 13:36] mantas commented on #3395
This issue is now fixed on our translations server. Go to Manage -> Translations and click "Get latest translations" to fetch the fixed version.

This also fixes an identical issue with Malay, Romanian and Serbian

[2021-02-08 13:36] #3395 closed, assigned to mantas

[2021-02-08 14:16] b-zam opened #3397 "S/SMIME: Intermediate-CA verification fails"
### Infos:

* Used Zammad version: 3.6.0
* Installation method (source, package, ..): source
* Operating system: Ubuntu 20.04 LTS
* Database + version: MySQL 8
* Elasticsearch version: 7.10.1
* Browser + version: Firefox 85

### Expected behavior:

* Signed E-Mails with trusted Root CA & Intermediate CA should be displayed as verified

### Actual behavior:

* Security Error is displayed: "Unable t

[2021-02-08 14:36] MrGeneration commented on #3397
Smells like a technical question under the hood, anway, to double tap - please send a mail to support [at] zammad [dot] com referencing this issue and provide the following:

* eml of the affected article
* certificate files required
   *Note: Please don't provide your private key to ensure the integrity of your certificate.*
* a screenshot from within your Zammad instance of the affected article

[2021-02-08 16:41] b-zam commented on #3397
Hello,

it's difficult for me to send you the eml or certificates because of data protection rules.

I found it on myself, that the problem seems to be that my certificates contain the E-Mail-Address in the Subject alternative name-Field: RFC822-Name=mail@addre.ss. In the incoming.rb only the subject is checked, but not the SAN entry: message_cert.issuer.to_s == cert.parsed.subject.to_s && verify_

[2021-02-08 21:12] MrGeneration commented on #3397
Sorry but this is a technical question. I#m not sure yet ho RFC822 does play into this context. I couldn't find the S/MIME context I'm afraid.

Zammad expects `/CN=example@domain.tld/emailAddress=example@domain.tld` for S/MIME certificates.
This does not apply to CA certificates for incoming verification as long as the certificate is correct and signed by said CA.

See:
![image](https://user-image

[2021-02-08 21:12] #3397 closed, assigned to thorsteneckel

[2021-02-09 02:04] ghost opened #3399 ""korean" is "한국어""
### Infos:

* Used Zammad version:3.6.x

### Expected behavior:

* Mark Korean(한국어)

### Actual behavior:

* Mark Korean(한국의)
* ![Screenshot_2021-02-09 Support - 사용자](https://user-images.githubusercontent.com/74412971/107305510-75f52100-6ac6-11eb-824e-eeef4af28573.png)

Yes I'm sure this is a bug and no feature request or a general question.

[2021-02-09 06:34] mantas commented on #3399
Hi @0hys0

Could you confirm if following screenshot looks good?

![Screenshot 2021-02-09 at 08 33 24](https://user-images.githubusercontent.com/36944/107324933-8cdd4880-6ab1-11eb-8416-5a48ba3a7e88.png)

[2021-02-09 08:00] ghost commented on #3399
@mantas Yes, It's nice!

[2021-02-09 08:49] b-zam commented on #3397
Although you describe this as "works as desigend", Zammad declares valid
certificates as invalid.
Our certificates contain the email-address in the "X509v3 Subject
Alternative Name" field, which is valid and accepted by mail clients
(i.e. Outlook, Thunderbird).
So in my opinion it also be shown as valid in Zammad.

Example certificate data:

[...]
Subject: serialNumber = [...], C = DE, O = [...],

[2021-02-09 08:51] MrGeneration commented on #3397
That's out of the sponsored requirement and our supported ranges.
This would be a feature request that should live in the community: https://community.zammad.org

[2021-02-09 09:00] MrGeneration opened #3401 "French "see more / see less" escaped apostrophe"
### Infos:

* Used Zammad version: 3.6 latest (stable as of Friday 5th Feb)
* Installation method (source, package, ..): package
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified on Google Chrome v88.0.4324.150
* *Note: This issue originally was discovered by community user virtorgan in [this post](https://community.zammad.org/t/weird-disp

[2021-02-09 10:09] MrGeneration commented on #3392
Addition: This also causes Scheduler-Job `ImapAuthenticationMigrationCleanupJob.perform_now` (`Delete obsolete classic IMAP backup.`) to fail.

Edit:
Even running a `.find` on affected channels brings... features....

[code]

Above error also blocks `.destroy` and `.delete`.
This may be microsoft channel specific.

[2021-02-09 10:24] MrGeneration opened #3402 "DataPrivacy Task fails in some situations"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Note: Stumbled upon this during Monitoring tasks on Hosted setups. Happens more often recently.

### Expected behavior:

DataPrivacy will adjust or remove all references of to be deleted users if needed.

#

[2021-02-09 10:27] mantas commented on #3402
As in user's own activity stream or referenced in other user's activity stream?

[2021-02-09 10:28] MrGeneration commented on #3402
I can't answer that question.
Currently I have to remove the complete ActivityStream, because it's not enough to clear `o_id: <affected-user>` and `created_by_id: <affected-user>`.

[2021-02-09 12:34] mantas opened #3403 "Channel distribution widget in Dashboard sometimes borken"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Channel distribution widget in Dashboard shows graph columns from left to right

### Actual behavior:

* Channel distribution widget in Dashboard shows graph columns from top to bot

[2021-02-09 14:08] #3403 closed, assigned to mantas

[2021-02-09 14:55] MrGeneration commented on #1116
Please drop a message to sales [at] zammad [dot] com with referencing this issue in case you want to sponsor this functionality.
The colleagues will then check the inquiry and provide further input. :-)

[2021-02-09 17:38] #3389 closed, assigned to martini

[2021-02-09 19:19] romitgithub commented on #3008
From my understanding from the comments here, the shadow element is used just to show tooltip. And @mrflix used left -999px to hide it from screen, but this can be achieved using **{position: absolute, left: 0px, z-index: -999}** since this will keep the shadow element always behind the interactive element and will show the tooltip as required.

@mantas Let me know if this sounds like a good appro

[2021-02-10 07:36] mantas commented on #3008
@mrflix this is case B. The mechanics work fine. But tooltip is not shown because it is tied to shadow element.

What was the reason to move shadow element off screen? It looks like it is properly hidden by foreground input element .

[2021-02-10 08:40] rolfschmidt commented on #3402
Next time this errors occur we could check what column is the relation to the error via psql console `\d+ table` (checking the foreign key name).

We also could add a dumper to the app/models/concerns/has_activity_stream_log.rb to see if we mistakenly create new entries for the activity stream log while we deleting the user.

[2021-02-10 10:22] gituser commented on #793
Any update on this issue?

I see there is a telegram bot integration implemented so should be very easy to implement this feature to notify about new / pending / etc tickets similar as there is a Slack notification implemented.

EDIT:

For those who are looking to resolve this: google for zammad triggers - https://admin-docs.zammad.org/en/latest/manage/trigger.html

Basically, you create a trigger

[2021-02-10 12:37] #3274 closed, assigned to mantas

[2021-02-10 14:31] mantas commented on #3399
This issue is now fixed on the translations server.

Run `Locale.load` in Rails console to fetch it right away. Other instances will pick it up after next update.

[2021-02-10 14:31] #3399 closed, assigned to mantas

[2021-02-10 17:16] bolah2009 commented on #3015
Hi @MrGeneration, while investigating this issue. I noticed the following:
1. This issue happens only when a "new" condition is added. If the condition is there already, it seems to work fine. See screencast where the `JKL` was the initial value but when changed to `GHI` and then discarded, `JKL` still shows as excepted.

https://user-images.githubusercontent.com/36057474/107541656-a7094a80-6bc7-1

[2021-02-11 06:13] mantas commented on #3015
@MrGeneration looks like your and @bolah2009 screencasts were filmed before and after some sort of refactoring in this case. Looks like the bug you initially reported is now fixed?

The only somewhat similar issue is following:

- Overview with tree select condition exists
- Overview edit view is opened
- tree select condition removed (not submitting)
- tree select condition added back
- initial t

[2021-02-11 06:54] bolah2009 commented on #3015
@mantas, yes, I am able to reproduce it. You can check the setting for the treeselect object below

![image](https://user-images.githubusercontent.com/36057474/107609075-20438480-6c3e-11eb-82fa-80605b4c5827.png)

@mantas I agree that (1) is not an issue. However (2) seems to be a bug. After reloading the page the issue is resolved. See sreencast below:

In the screencast:

- I used another `treese

[2021-02-11 07:02] romitgithub commented on #2629
After what I read here and checked in the code, Shouldn't we use **USER**(created_by) who created the comment when replying to a particular item rather than using the **USER**(updated_by) who updated the article last?

@mantas @MrGeneration thoughts??

[2021-02-11 07:13] bolah2009 commented on #3015
For the bug, adding an else condition here solves it.

https://github.com/zammad/zammad/blob/40936da562774924724c12b6113239059341c078/app/assets/javascripts/app/controllers/_ui_element/_application_ui_element.coffee#L200-L209

This else condition deletes previously selected (but not saved) record.
[code]

[2021-02-11 07:20] #3401 closed, assigned to mantas

[2021-02-11 07:47] thorsteneckel commented on #3015
Tree select support was recently added by @martini because of https://github.com/zammad/zammad/issues/3333 via https://github.com/zammad/zammad/commit/f3fb482992f791c9c40c72a51066d5e36205ce88 and the follow up https://github.com/zammad/zammad/commit/5e2520fc5e84d9f4a3844a2347d601edc8a1a222 .

Maybe @martini can say something about the other behavior?

[2021-02-11 07:49] #3165 closed, assigned to mantas

[2021-02-11 07:52] #3393 closed, assigned to mantas

[2021-02-11 08:05] bolah2009 commented on #3015
@thorsteneckel  I think that solves the issue, I just updated the branch I am working now and everything seems to work fine.

[2021-02-11 08:14] mantas commented on #3015
@thorsteneckel looks like we can close this issue?

[2021-02-11 08:19] thorsteneckel commented on #3015
Yep, I'll label it as a duplicate of #3333 - @bolah2009 can you please create a new issue for the bug you found and refer your PR to this one then?

[2021-02-11 08:19] #3015 closed, assigned to nobody

[2021-02-11 08:21] thorsteneckel commented on #3392
@mantas would you mind having a look?

[2021-02-11 08:30] bolah2009 commented on #3015
@thorsteneckel I think the bug I found was also solved by the https://github.com/zammad/zammad/commit/5e2520fc5e84d9f4a3844a2347d601edc8a1a222, after updating the branch I am working on, the bug was resolved.

[2021-02-11 08:47] mantas commented on #2629
There's another related issue that if ticket was created by agent on behalf of customer (e.g. incoming phone call), quote metadata will also show `agent` instead of `customer`.

@romitgithub there's also `origin_by_id` property which is used for tickets created on behalf of someone else. Best solution would be `USER(origin_by || created_by)`. See above scenario to check it out in action.

[2021-02-11 09:24] romitgithub commented on #2629
@mantas Got it, so where do we get this data(origin_by) for the customer for whom the ticket is created?

[2021-02-11 10:07] bolah2009 commented on #3262
@MrGeneration `28` seems to be the current width but reducing to 24px fixes this issue in chrome (Mac), the current state work fine on Firefox.

A possible solution would be reducing the width to 24px.

@MrGeneration about this comment:

This could also be a possible solution if it is possible to avoid this functionality when the column is an icon.

[2021-02-11 10:35] martini commented on #3262
How about removing the "..." stuff by css? It's defined for regular table columns to show the content with "..." if it's longer then the column width. But it's not needed for icons.

[2021-02-11 13:01] MrGeneration opened #3405 "Phone notes leak agent mail address"
### Infos:

* Used Zammad version: 3.6 stable
* Installation method (source, package, ..): any (verified on package)
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any (verified on latest Google Chrome)

### Expected behavior:

Zammad does not leak agent email addresses to customers.

### Actual behavior:

Phone notes on existing and phone notes

[2021-02-11 17:42] bolah2009 commented on #3172
Created a PR that fixed this issue in #3406. It seems to be a duplicate of #3262

[2021-02-11 17:44] bolah2009 commented on #3262
@martini I opened a PR #3406 that fixes the issue using your suggestion!

[2021-02-12 06:58] bolah2009 commented on #3162
Hi @MrGeneration

I am not sure I get the issue right or perhaps the issue has been solved.

Below is an example where the value selection still appears after selecting a value with `\`:

https://user-images.githubusercontent.com/36057474/107738919-f8b8ee80-6d07-11eb-8c59-451c4aaa5f8f.mov

[2021-02-12 07:00] mantas commented on #3162
@bolah2009 did you try it at Ticket view? As in Marcel's screencast. The conditions selector view was rewritten since then and uses a different widget.

[2021-02-12 07:13] bolah2009 commented on #3162
Yes, @mantas I did. Maybe I don't under the issue. See screencast below:

https://user-images.githubusercontent.com/36057474/107739801-fb1c4800-6d09-11eb-8a58-e2080407468e.mov

[2021-02-12 07:22] mantas commented on #3162
@bolah2009 the issue is that if Tree Select item has backslash in it's name, you cannot select children items in it. It selects the item itself instead of opening it's children.

Currently this only happens in Ticket view.

[2021-02-12 07:37] bolah2009 commented on #3162
Thanks, @mantas, the "children" items is where my confusion is.

[2021-02-12 07:40] mantas commented on #3162
Children as in sub-items.

`Parent \ Item`

[2021-02-12 07:41] bolah2009 commented on #3162
Got it!

[2021-02-12 12:04] MrGeneration commented on #3402
So this affects an instance again.
This time I ensured to look deeper.

The affected user is an agent.
The affected user has ID `235017`.

[code]

So I then checked the references - here's a complete dump:
[code]

So to continue I wanted to update `created_by_id` to `1` to be able to continue. This might be incorrect from workflow point of view, but I wanted to see what happens.

However, I couldn

[2021-02-12 12:11] rolfschmidt commented on #3402
checkout this place:

https://github.com/zammad/zammad/blob/c3b1b4413f1f9a997062012853159b59664aaa23/app/models/activity_stream.rb#L32

put the following the beginning of the function:

[code]

Maybe it will run when you are trying to destroy the user.

[2021-02-12 12:26] rolfschmidt commented on #3402
It would be also interesting if this change fixes the problem:

https://github.com/zammad/zammad/blob/c3b1b4413f1f9a997062012853159b59664aaa23/app/models/user.rb#L1172

Replace:

[code]

with

[code]

[2021-02-12 13:00] MrGeneration commented on #3402
See my comment above, this fails as well.

----

So initially I only updated `activity_stream.rb` and can indeed tell that it does create ActivityStreams....
I did filter for the user ID only, here's the relevant log lines:
[code]

I then moved over to adjusting `user.rb` - just a side note, on the stable 3.6 instance of the customer the affected line is 2 lines below the mentioned here. I did cha

[2021-02-12 13:05] rolfschmidt commented on #3402
oh nice debug infos!! Nice thank you very much... i think i know now where the problem is let me take a look...

[2021-02-12 13:45] MrGeneration commented on #3172
I do agree, this is technically the older issue, I'll still close it in favor for the other issue because it evolved further.
Thank you for taking the time to report this issue!

Duplicate of #3262

[2021-02-12 13:45] #3172 closed, assigned to nobody

[2021-02-12 14:44] thorsteneckel commented on #2606
I think this is a duplicate of #2890 and already resolve since Zammad 3.3. Please let us know if the issue still persists.

[2021-02-12 14:44] #2606 closed, assigned to nobody

[2021-02-13 08:30] Dennis1993 opened #3407 "Allow HTML in mail templates"
Is there any way to allow html in the triggers? We use a trigger to send a mail notification for users who opens a ticket.
The mail in Outlook 2016 is very ugly. I tested HTML but the result is:

![image](https://user-images.githubusercontent.com/1473674/107845718-12c50080-6dde-11eb-8e86-9d28b223a422.png)

Zammad 3.6.x (latest version)
Ubuntu 20.04

[2021-02-13 08:33] mantas commented on #3407
Trigger attributes are sanitised. But if you would edit it directly (Rails console or database), it may work. Please ask on our community forums https://community.zammad.org and someone may have tips on how to handle this workaround.

[2021-02-13 08:33] #3407 closed, assigned to nobody

[2021-02-13 20:05] bolah2009 commented on #3162
After some investigation on the issue I found out that the `\` is escaped when it is used to query the element, that is, when the parent is `le \ test`, it queries `le  test` instead of `le \ test`.

I think there are some possible solution to these, not sure which approach would be preferred:
1. We disallow the use of backslash `\`
2. We escape such characters.

The approach in the screenshot bel

[2021-02-15 08:23] cautopartes opened #3409 "Redirect to original URL after third party login via e. g. MS 365"
### Infos:

* Used Zammad version: 3.6.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket #1083688

### Expected behavior:

* A user receives a link that points to the Zammad knowledge base (kb) or any other item
* The user is opening this url and gets the Zammad login page
* The user i

[2021-02-15 10:11] martini commented on #3409
This is a duplicate of #2266

[2021-02-15 10:11] #3409 closed, assigned to martini

[2021-02-15 11:40] mantas opened #3410 "SLA update statistics wrong"
### Infos:

* Used Zammad version: 3.7
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* `update_in_min` (and `update_diff_in_min`) tells how long it takes *agent* to respond to *customer*

### Actual behavior:

* `update_in_min` (and `update_diff_in_min`) tells how lon

[2021-02-15 13:55] #3410 closed, assigned to mantas

[2021-02-15 13:55] #2579 closed, assigned to mantas

[2021-02-15 14:33] gituser commented on #3050
Having same issue in Zammad v3.6.0 (0157dc25f45e2cbc19f00faf5647ec1dcad31732) as well.

[2021-02-15 14:37] MrGeneration commented on #3050
Locking conversation to contributors only to reduce "me too" messages.

[2021-02-15 16:45] pierreozoux commented on #1337
@martini I just got 2 notifications from this weekend. The user agent wasn't mine, we were really afraid.

After investigation, we noticed it was our form.

Can we reopen the issue? Or should I open a new one?

[2021-02-15 17:13] MrGeneration commented on #1337
Please don't recycle 3 year old issues that are resolved.
I'd suggest to drop a post on the community first to describe your issue.

As you're talking about a form, this sounds rather like a technical question than a bug.

[2021-02-15 22:23] gss-wc commented on #1835
@thorsteneckel any movement/updates on this subject? I'd like to get someone on my team started on in a manner that is useful to the project. Let me know, please. Thx.

[2021-02-16 03:31] mantas commented on #1835
Hi @gss-wc

What elements did you add `dir="auto"` to?

Looking at the screenshot, it looks like it you added it to not only to `.richtext-content`, but to it's sub-elements as well?

[2021-02-16 09:22] rolfschmidt opened #3411 "Microsoft 365: The refresh token has expired due to inactivity. The token was issued on 2020-11-17T13:30:55.3656422Z and was inactive for 90.00:00:00."
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all
* Ticket: #1083881, #1083908

### Expected behavior:

* Microsoft 365 channel should not expire

### Actual behavior:

* Microsoft 365 channel expires after 90 days.

### Steps to reproduce the behavior:

* A

[2021-02-16 09:23] rolfschmidt commented on #3411
looks like there is a bug. it looks like that the request for the refresh_token also contains a new refresh token which needs to be replaced:

https://docs.microsoft.com/en-us/graph/auth-v2-user#5-use-the-refresh-token-to-get-a-new-access-token

but we do not merge the result key refresh_token yet, only access_token

https://github.com/zammad/zammad/blob/1aa4e68c6c9ff7dd2cfbc864c78a464c4df85c3a/li

[2021-02-16 11:54] agreif opened #3412 "LDAP Configure button disabled"
### Infos:

* Used Zammad version: current stable as of 16.2.2021
* Installation method (source, package, ..): source
* Operating system: centos 7
* Database + version: postgres 12
* Elasticsearch version: not installed
* Browser + version: Firefox 83.0

### Expected behavior:

* Menu Integrations > LDAP: "Configure" button is active and klickable

### Actual behavior:

* "Configure" button is dis

[2021-02-16 12:05] MrGeneration commented on #3412
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-02-16 12:05] #3412 closed, assigned to nobody

[2021-02-17 14:02] mantas commented on #3392
@thorsteneckel @MrGeneration isn't this fixed by https://github.com/zammad/zammad/issues/3240 ?

[2021-02-17 14:24] oschmidteu commented on #3411
Just ran into the same error today.

[2021-02-17 14:24] thorsteneckel commented on #3392
I did a backport of #3240 and expect that @MrGeneration checked latest `3.6`. Can you confirm @MrGeneration ?

[2021-02-17 14:25] thorsteneckel commented on #3411
Is there a workaround that can be applied while we work on the final fix?

[2021-02-17 14:26] mantas commented on #3411
Re-adding the channel should fix it

[2021-02-17 14:29] oschmidteu commented on #3411
Can't remove the channels via the Backend and dind't found a command for the console.

[2021-02-17 14:31] mantas commented on #3411
`Channel.where(area:  'Microsoft365::Account').destroy_all` should do the trick

[2021-02-18 07:17] Boldewyn opened #3413 ""read more" cuts off messages at crucial positions"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): source
* Operating system: Ubuntu
* Database + version: n/a
* Elasticsearch version: n/a
* Browser + version: n/a

* Support Ticket
#10132874, #10136274, #10145369, #10149805, #10214085, #10218340

### Expected behavior:

* A customer sends a message. Zammad shows all the crucial details of the message to the agent

[2021-02-18 10:52] MrGeneration commented on #3392
I double tabbed and pulled latest possible stable.
I can tell that the `active: false` issue seems to be gone.

However:
`ImapAuthenticationMigrationCleanupJob.perform_now` still fails.
Can't speak for the internal server errors as of now.

Edit: So all above statements I provided for everything but inactive channels during fetch still apply.

If @makmarius could double check, pull latest source v

[2021-02-18 13:43] MrGeneration commented on #3392
@thorsteneckel Mantas is on this topic.
I don't know what I should provide at this moment.

If something is missing, please let me know.

[2021-02-18 13:50] MrGeneration commented on #3413
I think that this is edgy and probably not exactly a bug and thus rather an enhancement.

I'd like to see those "crucial" parts you talk about.
I'd bet that these parts look like an beginning of signatures which may be the reason for this issue.

[2021-02-18 14:18] Boldewyn commented on #3413
I can’t share real tickets, but I’ve taken two, where the cut-off was critical and replaced all alphanum chars with `#`:

[code]

In the above text, the cut-off appeared after line 2, masking the critical line 3.

[code]

Same in the text above. The cut-off is after line 2, masking critical line 3.

These are just the most recent examples, where we had problems with the “read more” feature. We had

[2021-02-18 14:56] eidenschink commented on #3413
From a usability standpoint the current situation lacks predictability leading to missing crucial parts of a message which I would actually rate as a bug.

Considering Zammad evolving to more than just a ticket system this should be solved in general.

[2021-02-19 10:21] MrGeneration commented on #3392
After being pretty dump on pulling updates yesterday I re-checked.
My above statements do no longer apply to a latest stable version.

With a current version I revoked the token for my google account to cause authentication errors.
Above mentioned internal server error does not appear to me.

I currently expect this to be fixed.

If you still have issues, this may be a technical question.
Please c

[2021-02-19 10:21] #3392 closed, assigned to MrGeneration

[2021-02-19 10:26] thorsteneckel commented on #3392
Duplicate of #3240

[2021-02-20 20:39] hanneshal opened #3414 "Cursor locked in and can't leave date select field in Safari"
### Infos:

* Used Zammad version: 3.6.
* Installation method (source, package, ..): package
* Operating system: macOS 10.15.7
* Database + version: MariaDB
* Elasticsearch version:
* Browser + version: Safari 14.0.2

### Expected behavior:

* If one selects the date and time for a pending state, it should not block the gui

### Actual behavior:

* If one selects the date and time, after selecting

[2021-02-22 08:16] martini opened #3415 "Unable to process ticket bulk action from overview"
### Infos:

* Used Zammad version: develop (2021-02-22)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Process tickets via bulk action via ticket overviews

### Actual behavior:

* Unable to process tickets via bulk action via ticket overviews

### Steps to reproduce

[2021-02-22 13:27] martini opened #3416 "Scheduler dies if Trigger, Ticket or Article of a Webhook job got deleted before job got executed"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket#: 1083655

### Expected behavior:

* Skip webhook background job if ticket or article got deleted before webhook background job is executed.

### Actual behavior:

* The scheduler dies if ticket or t

[2021-02-23 14:28] #3416 closed, assigned to thorsteneckel

[2021-02-23 14:53] #3372 closed, assigned to thorsteneckel

[2021-02-23 16:05] lug-gh opened #3417 "specific e-mail did not trigger a ticket creation"
### Infos:

* Used Zammad version: zammad/unknown 3.6.0-1613047982.332fdca8.xenial amd64 [upgradable from: 3.6.0-1611733683.51a3d218.xenial]
* Installation method (source, package, ..): package
* Operating system: ubuntu 16.04
* Database + version: psql (PostgreSQL) 9.5.24
* Elasticsearch version: 5.6.16
* Browser + version: -

### Expected behavior:

Recieved email will create a ticket

### Actua

[2021-02-23 23:06] 7tobias commented on #2829
It took my some hours to debug this CSRF token verfication failed error message in combination with traefik as reverse proxy. Here's what it make it work in my place...
in my docker-compose.override.yml i added the following:

[...]
  zammad-nginx:
    environment:
       - RAILS_TRUSTED_PROXIES=['127.0.0.1', '::1', 'traefik']
       - NGINX_SERVER_SCHEME=https
[...]

I attach my full docker-compo

[2021-02-24 00:47] martini opened #3418 "Unable to create mini admin for form channel or google channel"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* be able to create mini admin role with only access to form or google channel

### Actual behavior:

* If mini admin role is created, nothing is shown in admin interface

[2021-02-24 06:38] martini opened #3419 "Unable to close sidebar in ticket create screen after ticket split"
### Infos:

* Used Zammad version: develop (2021-02-24)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* After ticket split it should be possible to close/open sidebar of ticket create screen

### Actual behavior:

* After ticket spit it's not possible to close sidebar

[2021-02-24 07:11] #3418 closed, assigned to martini

[2021-02-24 07:42] MrGeneration commented on #3417
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-02-24 07:42] #3417 closed, assigned to nobody

[2021-02-24 07:45] #223 closed

[2021-02-24 12:04] martini opened #3420 "Forms are not well displayed (width is to small) if firefox 86 (latest stable) is used"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Show forms as expected.

### Actual behavior:

![image](https://user-images.githubusercontent.com/110226/108998149-c365b680-76a0-11eb-8ad6-0e7eb8d66671.png)

![image](https://user-i

[2021-02-24 12:14] martini commented on #3420
Regression https://github.com/zammad/zammad/commit/ab0f41c043d8750f3fb1b21fc8712db38c8a8280

[2021-02-24 13:33] MrGeneration opened #3421 "Webhook action should display hint in Scheduler and Trigger"
### Infos:

* Used Zammad version: 4.0 (develop)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified on Google Chrome

### Desired behavior:

Especially if no webhook is existing yet, Zammad will provide a hint where to start in order to use webhooks.

*Remark: For technically reasons overlayi

[2021-02-24 14:00] #3420 closed, assigned to martini

[2021-02-24 14:05] #3162 closed, assigned to mantas, bolah2009

[2021-02-24 14:05] martini opened #3422 "Unable to process elasticsearch index background jobs (reason: rejected execution of coordinating operation)."
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Process all process elasticsearch index background jobs

### Actual behavior:

* Certain elasticsearch index background jobs are not processable if payload generated by Zammad is hi

[2021-02-24 14:08] MrGeneration commented on #3422
Side note to this topic:
We currently suggest to configure ES to allow up to 400 MB payloads which usually should be fairly enough.
See: https://docs.zammad.org/en/latest/install/elasticsearch.html#step-2-suggested-configuration

[2021-02-24 14:47] BigAndini opened #3424 "Form width not shown correctly in firefox"
Hello,

maybe you want to know this.

I see the forms in zammad too small right now like this in firefox:
![grafik](https://user-images.githubusercontent.com/8452304/109016980-02066b80-76b7-11eb-976e-ca2b3a25a985.png)

Within the according scss file it looks like a firefox bug was fixed with display: table-cell;, however this does not use the full width. So when I add a width: 100%; to this css st

[2021-02-24 14:52] martini commented on #3424
Hi @BigAndini

thanks for the feedback! We also noticed this today morning. :-o

There is already an issue #3420 which is already fixed in develop and for stable in CI. I guess it will be fixed in stable by today too.

Greeting,

 -Martin

[2021-02-24 14:53] #3424 closed, assigned to nobody

[2021-02-24 15:24] AdamC1228 opened #3426 "Fieldset behavior Firefox 86"
### Infos:

* Used Zammad version: 3.6.0 (1614149546.5c1934b4.centos7)
* Installation method (source, package, ..): Package
* Operating system: CentOS
* Database + version: Postgresql 9.2.24
* Elasticsearch version: 7.11.1
* Browser + version: Firefox 86.0 Windows 10

### Expected behavior:

* Fieldset elements such as the Sidebar Drop downs and Text input forms on the New Ticket pages should be t

[2021-02-24 15:26] MrGeneration commented on #3426
Duplicate of #3420

[2021-02-24 15:26] #3426 closed, assigned to nobody

[2021-02-24 18:44] bolah2009 opened #3427 "Unable to navigate through tree select when double colon `::` is used in the values"
### Infos:

* Used Zammad version: develop (2021-02-22)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Should navigate freely with the use of double colon or should disallow the use of it.

### Actual behavior:

* Gets stucked or unable to navigate out of the chilred

[2021-02-25 12:21] #3238 closed, assigned to MrGeneration

[2021-02-25 12:33] mantas opened #3428 "Trigger ignores changes on some Ticket attributes"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Trigger fires when `updated_at` (and related fields as described in https://github.com/zammad/zammad/blob/develop/app/models/observer/transaction.rb#L204 ) has changed.

### Actual

[2021-02-25 13:57] #3262 closed, assigned to bolah2009

[2021-02-25 16:27] #2266 closed, assigned to martini

[2021-02-25 17:47] #3411 closed, assigned to rolfschmidt

[2021-02-25 17:47] olafbuitelaar opened #3430 "macro which create's a note, seems to normalize the HTML"
### Infos:

* Used Zammad version: 3.6.50
* Installation method (source, package, ..): docker
* Operating system: centos 7/docker
* Database + version: pgsql 13.2
* Elasticsearch version: 7.10.1
* Browser + version: chrome 88.0.4324.182

### Expected behavior:

* create a macro which create's a note

### Actual behavior:

* the note is created but contains html

### Steps to reproduce the behavior

[2021-02-25 17:50] thorsteneckel commented on #3411
Fixed for `develop`. `stable` is currently running on CI and will probably be available in the morning 🚀

[2021-02-25 17:52] MrGeneration commented on #3430
Duplicate of #2980
Please search for the issue first.

[2021-02-25 17:52] #3430 closed, assigned to nobody

[2021-02-25 17:56] olafbuitelaar commented on #3430
sorry i did search, but probably wrong keywords

[2021-02-26 14:44] #3415 closed, assigned to martini

[2021-02-26 20:40] linucksrox commented on #2829
@7tobias Thank you! I just applied those environment variables and that solved it for me as well. Luckily I also run Traefik as my reverse proxy and the service name happens to be 'traefik' so I believe that would need to be adjusted if your reverse proxy had a different service name.

[2021-02-27 13:23] Matt-CyberGuy commented on #3097
Where do we find this? We just installed zammad to test out and absolutely need this feature!

[2021-02-27 13:53] Prodeguerriero commented on #3097
Hi Matt,

You are adding a comment to an open feature request, which should already answer your question.
May I suggest asking for a timeline instead?

[2021-02-27 17:56] Matt-CyberGuy commented on #3097
Ahh, my mistake, I followed a link from google and got excited thinking this was a feature we somehow didn't have turned on. Is there a timeline for this?

[2021-02-27 19:10] Dennis1993 opened #3431 "Old JQuery version delivered"
I use zammad 3.6.x and if I want to implement the chat to my wordpress site, the script is delivered an old JQuery version which is marked as a security risk:

![image](https://user-images.githubusercontent.com/1473674/109397583-b44c6600-7937-11eb-8d90-638d986aa17d.png)

A question: Why I cant use my before loaded JQuery 3.5.1 from my wordpress itself? In my theme JQuery is loaded in the head befo

[2021-02-27 21:03] martini commented on #3431
@Dennis1993 there is a issue template which need to be used for issues. Without this issue template we close issue because if feels like we're not worth it.

As note, there is a non jquery version available (as beta), just use https://your.zammad.host/assets/chat/chat-no-jquery.min.js

[2021-02-28 07:05] Dennis1993 commented on #3431
The template is not important, but here....

### Infos:

* Used Zammad version: 3.6.x
* Installation method (source, package, ..): package (apt)
* Operating system: Ubuntu 20.04
* Database + version: Portgres
* Elasticsearch version: 7
* Browser + version: Microsoft Edge

### Expected behavior:
Latest JQuery version in cht preview

### Actual behavior:
Old version is delivered by Zammad with known

[2021-03-01 06:52] martini commented on #3431
Hi @Dennis1993

If you have feedback if this non jquery version works fine for you, would be great!

[2021-03-01 06:57] martini opened #3432 "Languange selection in web app is not working anymore"
### Infos:

* Used Zammad version: develop (2021-03-01)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Be able to select language via own profile

### Actual behavior:

* Language selection is not shown/not usable

![image](https://user-images.githubusercontent.com/1

[2021-03-01 08:21] martini opened #3433 "Unable to see full folder name in Exchange integration. Folder names are longer as space in display area."
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Be able to select certain exchange folders.

### Actual behavior:

* Can't distinguish exchange folders, because only few chars are shown (tooltip is missing).

![image](https://use

[2021-03-01 08:26] martini opened #3434 ""Go back" button in mapping wizard screen in exchange integrations leads to wrong screen (folder selection should be shown, access information)"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* If click on "Go back" in mapping wizard screen the folder selection screen should be shown.

### Actual behavior:

* If click on "Go back" in mapping wizard screen the connection da

[2021-03-01 09:01] martini opened #3435 "Broken counter check for attributes examples causes exchange integration wizard to check all entries instead of 50"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Step through the exchange integration wizard with about 3600 contacts in a reasonable time.

### Actual behavior:

* The first (Analyzing structure.../for mapping) takes up to 7 min

[2021-03-01 09:11] #3414 closed, assigned to mantas

[2021-03-01 09:57] MrGeneration commented on #3097
We in general do not provide any ETA sorry.
If you can't wait for a specific feature, there's always the option to boost it by sponsoring it's development.

Drop us a line to `sales [at] zammad [dot] com` in case you're interested.

---

In general issues will tell you which states they have.
Project and Milestone are a indicator if something starts moving.

[2021-03-01 10:47] #3433 closed, assigned to martini

[2021-03-01 10:48] #3434 closed, assigned to martini

[2021-03-01 14:23] #3435 closed, assigned to martini

[2021-03-01 14:48] #3432 closed, assigned to martini

[2021-03-01 15:53] martini opened #3436 "Unable to sync Exchange contracts (if one contact is unable to process)"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Sync all Exchange contacts, even if one contact is not processable/fetch able form Exchange Server

### Actual behavior:

* Syncing contract stops with

![image](https://user-images

[2021-03-01 20:48] MacroPolo opened #3437 "Agent role permissions are ignored when there is only a single group"
### Infos:

* Used Zammad version: 3.6.0-1614608376.e938924d.bionic
* Installation method (source, package, ..): Debian
* Operating system: Ubuntu 18.04
* Database + version: MySQL 5.7
* Elasticsearch version: ES 7.11.1
* Browser + version: Firefox ESR (78.7.0)

### Expected behavior:

* Zammad should allow read-only access to agent tickets when only a single group is available.

### Actual behavi

[2021-03-01 21:21] MrGeneration commented on #3437
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-03-01 21:33] MacroPolo commented on #3437
I am a bit confused about how the above can be construed as a question as I feel I have described a defect in the permissions model. I have also now raised it over on the [Community Forum](https://community.zammad.org/t/agent-role-permissions-are-ignored-when-there-is-only-a-single-group/6325) for a second opinion.

Thanks.

[2021-03-01 21:37] MrGeneration commented on #3437
It's rather a feature request than a technical question, still, it should life on the community board first.
If you have one group only, it *usually*™ is not required to restrict this one group even more. (This is the technical question part)

[2021-03-01 21:54] MacroPolo commented on #3437
I'm sorry but I respectfully disagree.

Although we only need one logical Group for tickets, we require different levels of permissions for agents accessing that group. Some agents require read/write so that they can respond to customers, others just need read access so that they can view case updates. That second class of users should not be able to modify tickets in any way.

It would appear tha

[2021-03-02 07:56] MajidShafaee opened #3438 "creating ticket article with API return 422 Unprocessable Entity error"
### Infos:

* Used Zammad version: 3.7
* Installation method (source, package, ..): source
* Operating system: ubuntu
* Database + version:
* Elasticsearch version:
* Browser + version:

### Expected behavior:

Status: 201 Created

### Actual behavior:

Error: 422 Unprocessable Entity

### Steps to reproduce the behavior:

POST /api/v1/ticket_articles by bearer token

{
“ticket_id”: 3,
“subject”:

[2021-03-02 10:13] #3419 closed, assigned to martini

[2021-03-02 10:24] danieleades commented on #3437
@MrGeneration I don't understand why this means it's not a bug?

**you've got silent privilege escalation here**. The fact that you don't see "*usually™*" see it because you *expect* users to use groups in a certain way really doesn't change that, especially if this isn't documented anywhere.

It's frankly a little concerning to see security issues dismissed out of hand. For clients using Zammad i

[2021-03-02 11:04] #3402 closed, assigned to nobody

[2021-03-02 16:46] MrGeneration commented on #3438
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-03-02 16:46] #3438 closed, assigned to nobody

[2021-03-02 16:50] MrGeneration commented on #3437
I agree that the documentation may not point this out directly, however, if you have one group only, you'll by default have access as any agent user to that group.

I would agree that it's a bug to provide a permission setting for the single group in question.
I would also agree that this need to be fiddled on documentation terms, however, the rest is not a bug, but functionality (as of now).

I'm

[2021-03-02 17:41] MacroPolo commented on #3437
@MrGeneration Thank you for your patience whilst we discuss this issue. I appreciate it.

I don't think I'm going to be able to make much further progress here but I want to take one more go to try and explain why this is an issue. I feel like the point of my argument is being lost.

That doesn't make sense, when you have implemented a role based access control system where multiple different cate

[2021-03-03 05:38] ajeetratnu opened #3439 "How to install zammad as NONROOT user in private cloud"
### Infos:

* Used Zammad version: 3.6.0.20
* Installation method (source, package, ..): Using Helm Chart
* Operating system: On Company Kubernetes
* Database + version: Same as in Helm Chart
* Elasticsearch version: Same as in Helm Chart
* Browser + version: NA

### Expected behavior:

* To be able to install zammad and make it up and running.

### Actual behavior:

* Zammad is developed as RootU

[2021-03-03 07:31] MrGeneration commented on #3439
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-03-03 07:31] #3439 closed, assigned to nobody

[2021-03-03 07:58] MrGeneration commented on #3437
So we've been digging deeper and were talking about this topic.
I have to partly revert my revert above statements.

It's correct we by default expects full permissions for single groups.
However, it's not correct that Zammad enforces it (technically) or does not allow different permissions.

---

The issue actually lays hidden in the UI.
Zammad hides group listings if it's only one - in this case

[2021-03-03 09:55] #3362 closed, assigned to bolah2009

[2021-03-04 06:25] thalion0 commented on #2829
Solved my issue too. Thanks a lot @7tobias

[2021-03-04 10:40] Yves911 commented on #3196
Hello,

here is the explanation of why we can have a "negative" backlog https://community.zammad.org/t/reporting-when-is-a-ticket-counted-as-backlog/3374/5

To me : backlog shouldn't be negative if you take the total amount of tickets but if you do it on a period then backlog can be negative (you have closed more tickets than created).

Cheers
Yves

[2021-03-05 10:29] cautopartes opened #3440 "Report profiles with "created_by_sender" and "created_by_type""
### Infos:

* Used Zammad version: 3.6.x +
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket #1084244

### Expected behavior:

* The ticket attributes: "created_by_sender" and "created_by_type" should be available for selection in report profiles.

### Actual behavior:

* The ticket attr

[2021-03-06 10:08] MartinVerges commented on #1323
unfortunately the time accounting feature lacks such important functions. Please push it a bit.

[2021-03-06 14:57] MrGeneration commented on #1323
I'm limitting the conversation of this issue to contributors only to reduce bumps of it.
If you bump issues it creates a lot of noise for everyone following this issue.

---

If you want to prioritize a functionality you always have these options:
   * if you can and want, you can provide a pull request that implements a specific functionality
   * you can get a custom development *or*
   * you co

[2021-03-07 08:28] tfisinger opened #3441 "zammad_backup.sh Error"
Hey,

seit dem letzten Update habe ich ein Problem mit der Backupfunktion:

zammad_backup.sh: 6: /opt/zammad/contrib/backup/functions: Syntax error: "(" unexpected

VG
Fisi

[2021-03-07 12:47] monotek commented on #3441
Please write in english and use the issue template.

There's been no change in the backup scripts. See:
https://github.com/zammad/zammad/tree/stable/contrib/backup

[2021-03-07 13:24] #3441 closed, assigned to nobody

[2021-03-08 23:14] Tealk opened #3442 "oAuth2 redirect_uri_mismatch use MailCow"
### Infos:

* Used Zammad version: Version 3.6.x
* Installation method package
* Operating system: Debian 10
* Browser + version: Safari Version 14.0.3 (16610.4.3.1.4)

### Expected behavior:

I link my account via “Profiles → Linked Accounts”.

### Actual behavior:

When I try to link my account I get the following error message
422: The change you wanted was rejected.
Message from oauth2: invali

[2021-03-08 23:26] MrGeneration commented on #3442
Not really a duplicate, but a wontfix because of this issue:
https://github.com/zammad/zammad/issues/2951

[2021-03-08 23:26] #3442 closed, assigned to nobody

[2021-03-09 07:17] abhishek-tyagi87 opened #3443 "htpp_log table is not create due to Row size issue when using zammad with external mysql Ver 8.0.23"
### Infos:

* Used Zammad version:  3.3.0
* Installation method (source, package, ..):  helm charts
* Operating system: ubuntu 18.04
* Database + version: mysql external mysql   Ver 8.0.23-0ubuntu0.20.04.1 for Linux on x86_64 ((Ubuntu)
* Elasticsearch version: external elastic search
* Browser + version:

### Expected behavior:
zammad should create http_logs table table

*

### Actual behavior:

m

[2021-03-09 08:31] MrGeneration commented on #3443
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-03-09 08:31] #3443 closed, assigned to nobody

[2021-03-09 10:04] MrGeneration opened #3444 "Caller Log: Incoming calls move tabs out of Browser context"
### Infos:

* Used Zammad version: 3.6/stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: ES 7.x
* Browser + version: verified on Google Chrome
* Ticket: #1084419

### Expected behavior:

If you have a lot of calls incoming for your caller log, Zammad will either restrict the number of shown calls (incoming at that mom

[2021-03-09 13:19] #3421 closed, assigned to martini

[2021-03-09 16:41] rolfschmidt opened #3445 "Admin sidebar scrolls up on click on translations menu"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

### Expected behavior:

* Sidebar navigation should not scroll up if you click on the translations menu

### Actual behavior:

* it scrolls up

![grafik](https://user-images.githubusercontent.com/5445062/110

[2021-03-10 12:26] djmaze commented on #3282
Just stumbled upon this as well. Shouldn't there have been a 3.6.1 release at some point, since this bug breaks upgrades?

Instead I am seeing a 3.7.0 release, but there is no mention and no download available for that.

[2021-03-10 13:04] rolfschmidt commented on #3282
Hi @djmaze ,

can you add some more details about from which version you upgraded to and also the target version? The bug should be fixed? Does your migration file contain the following line?

https://github.com/zammad/zammad/blob/9a3a289ac7493590d23f9522077ca4d7fdc0c748/db/migrate/20200527000000_agent_customer.rb#L8

[2021-03-10 13:10] djmaze commented on #3282
I updated to the latest version 3.6.0 which is available via ftp. (TBH, this was a *fresh* test installation using docker, but the problem is there either way.)

Not surprisingly, the line is not there since the fix [is not in 3.6.0](https://github.com/zammad/zammad/blob/3.6.0/db/migrate/20200527000000_agent_customer.rb).

[2021-03-10 13:32] rolfschmidt commented on #3282
Okay the 3.6.1 is the zammad-latest release. If you have a the possibility try it again with this one:

https://ftp.zammad.com/zammad-latest.tar.gz
https://ftp.zammad.com/zammad-latest.tar.bz2
https://ftp.zammad.com/zammad-latest.zip

or if you are using git (use the stable branch).

3.7.0 isnt released/stable yet.

afaik the 3.6.1 tag will have a synchronized release with the next major release (

[2021-03-10 13:45] MrGeneration commented on #3282
Sorry but I'm locking the conversation to contributors only to reduce the noise on this repo.
Above was rather a technical question that should life on our community board: https://community.zammad.org.

[2021-03-10 14:10] FBEZ opened #3447 "Change ticket status in Macro is not working."
### Infos:

* Used Zammad version: 3.6.x
* Installation method (source, package, ..): hosted by zammand.com
* Operating system:
* Database + version:
* Elasticsearch version:
* Browser + version:

### Expected behavior:

After creating the macro (e.g. "mark as blocked") in which it's programmed a change of status from new to waiting for, to have the ticket changing the status to "waiting for".
![m

[2021-03-10 14:11] MrGeneration commented on #3447
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-03-10 14:11] #3447 closed, assigned to nobody

[2021-03-10 16:12] #435 closed

[2021-03-10 16:26] #1575 closed

[2021-03-11 14:45] MrGeneration opened #3448 "Webhook http log overflows out of browser borders"
### Infos:

* Used Zammad version: 3.7 develop
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: current Google Chrome v89.0.4389.82

### Expected behavior:

If you open a webhook http log, Zammad will ensure the modals are shown within the application borders.

### Actual behavior:

The webhook http

[2021-03-12 08:49] marierau98 commented on #1596
Is there any update on this feature? We would like to use it as well

[2021-03-12 08:52] MrGeneration commented on #1596
I'm locking this issue to contributors only to restrict "me toos" or questions when something will be ready.

Bumping issues causes a lot of noise for everyone that subscribed this repository.
If you want this functionality and can't wait, you can contact our sales-team to sponsor / priotize it:
sales [at] zammad [dot] com.

Please note that we in general do not provide any ETAs, we will update Is

[2021-03-12 12:34] martinvonwittich opened #3449 "Cannot select multiple tickets in ticket overview with shift+click in Firefox"
### Infos:

* Used Zammad version: 3.6.x
* Installation method (source, package, ..): docker-compose
* Operating system: Debian 10
* Database + version: PostgreSQL from docker-compose
* Elasticsearch version: from docker-compose
* Browser + version: Firefox 86

### Expected behavior:

* Click on a ticket checkbox in the ticket overview
* Hold the shift key and then click on another ticket checkbox

[2021-03-16 09:00] #208 closed

[2021-03-16 10:10] Shahala1 commented on #1835
@mantas

Did you receive any update from gss-wc?
We are considering allocating resources to this issue(high priority for us) but want to avoid re-inventing the wheel.

[2021-03-16 10:34] mantas commented on #1835
@Shahala1 didn't hear much yet :(

[2021-03-16 15:05] #3436 closed, assigned to martini

[2021-03-16 15:17] #3448 closed, assigned to bolah2009

[2021-03-16 15:24] #3080 closed, assigned to mantas

[2021-03-17 07:10] martini opened #3451 "New created overviews should be at the end of the overview list"
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* new created overviews should be at the end of the overview list (next step is usually to move it to the end of the overview list)

### Actual behavior:

* currently if you create a

[2021-03-17 15:36] #2951 closed, assigned to thorsteneckel

[2021-03-18 09:04] martini opened #3452 "Able to select agents in @@mention feature which do not have access to tickets"
### Infos:

* Used Zammad version: develop (2021-03-18)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Only allow to select agents as mention which have access to tickets.

### Actual behavior:

* All agents are shown which leads to misunderstanding because the menti

[2021-03-18 17:02] bernhardreiter commented on #325
Here is an inofficial patch that tries to completely disable sending of the html part in all emails.
**Warning: We run it in production since 2021 and it works fine our our usage pattern. It may break other stuff, your mileage may vary.**

This is a patch for experts running Zammad themselves and know how to apply, test and debug their installation.
However if you only want to send out text/plain

[2021-03-19 13:32] #3452 closed, assigned to rolfschmidt

[2021-03-19 14:12] MrGeneration opened #3453 "Removal of referenced webhooks does not provide error toast within UI"
### Infos:

* Used Zammad version: develop (commit bb5caae1)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: latest Google Chrome

### Expected behavior:

If you try to delete a referenced webhook, Zammad will not allow you to delete the webhook and provide a meaningful error message on why the ope

[2021-03-19 14:13] martini opened #3454 "No indication in ticket sidebar when a subscribed user no longer has access to a ticket"
### Infos:

* Used Zammad version: develop (2021-03-19)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Show an indication in ticket sidebar of listed agent subscriptions if agents will not get notified because of missing permissions.

### Actual behavior:

* Agent is

[2021-03-19 14:21] MrGeneration opened #3455 "Gitlab and Github integration cause application reload when using [Enter]"
### Infos:

* Used Zammad version: develop (commit bb5caae1)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: latest Google Chrome

### Expected behavior:

Submitting values via [Enter] Key within the Github and Gitlab issue linking dialogue works without issues.

### Actual behavior:

If you provid

[2021-03-19 14:27] MrGeneration opened #3456 "Wrong API-Key for Gitlab does not throw error message"
### Infos:

* Used Zammad version: develop (commit bb5caae1)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: latest Google Chrome

### Expected behavior:

If you provide a invalid / non existing or wrong scope API-Token, Zammad will throw an error message and not save the submitted information.

##

[2021-03-19 14:32] martini opened #3457 "Ticket Zoom is not working correctly with iPhone"
### Infos:

* Used Zammad version: develop (2021-03-19)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Do not show ticket sidebar on mobile devices per default. Show articles in full width.

### Actual behavior:

* Ticket sidebar is shown per default.

### Steps to r

[2021-03-19 14:43] MrGeneration opened #3458 "Gitlab and Github integration should provide visual feedback during adding issue"
### Infos:

* Used Zammad version: 4.0 // develop
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: latest Google Chrome

### Expected behavior:

Zammad will provide visual feedback or block the modal during polling Github or Gitlab.

### Actual behavior:

As soon as you provide your issue for Github

[2021-03-19 14:48] MrGeneration opened #3459 "Provide error message if user provided wrong information for Github and Gitlab"
### Infos:

* Used Zammad version: develop (commit bb5caae1)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: latest Google Chrome

### Expected behavior:

If you provide either a not available issue or even a wrong URL (like bad Marcels wanting PullRequests ;) ), Zammad will provide a meaningful er

[2021-03-19 17:12] JsBergbau commented on #571
For those who find via Google here, https://community.zammad.org/t/how-to-setting-full-quote-original-e-mail-content/615 is the Community Link how to edit setting

[2021-03-19 17:12] JsBergbau commented on #816
For those who find via Google here, https://community.zammad.org/t/how-to-setting-full-quote-original-e-mail-content/615 is the Community Link how to edit setting

[2021-03-19 17:16] #3457 closed, assigned to martini

[2021-03-19 18:21] Stubenhocker1399 opened #3460 ""Drop files here" drag area not always hiding"
### Infos:

* Used Zammad version: 3.6.0-1615986441.da478686.bionic, 4.1/stable
* Installation method (source, package, ..): package
* Operating system: Ubuntu 18.04.5 LTS
* Browser + version: Google Chrome Version 89.0.4389.90 (Official Build) (64-bit)

### Expected behavior:

* "Drop files here" drop area always hiding itself when releasing a drag

### Actual behavior:

* When releasing dragged

[2021-03-19 18:37] MrGeneration commented on #3460
At least on my machine™ this does not always appear and requires kind of very specific dropping.

[2021-03-21 12:35] martini opened #3461 "Dashboard stats widgets are sometimes lost/empty"
### Infos:

* Used Zammad version: develop (2021-03-21)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* always show dashboard stats widgets

### Actual behavior:

* dashboard stats widgets are sometimes not shown

### Steps to reproduce the behavior:

* force re-rende

[2021-03-21 15:03] #3461 closed, assigned to martini

[2021-03-22 00:52] #3422 closed, assigned to martini

[2021-03-22 00:58] martini opened #3462 "Mixed naming regarding mentioned and subscribed in UI"
### Infos:

* Used Zammad version: develop (2021-03-21)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Use subscribed if agent is subscribed to ticket and mentioned if agent is mentioned in article

### Actual behavior:

* Mixed naming regarding mentioned and subscri

[2021-03-22 13:27] #3462 closed, assigned to martini

[2021-03-22 13:42] #3451 closed, assigned to bolah2009

[2021-03-23 09:55] martini opened #3463 "After calling the delete or clone dialog three times, two modal dialogs appear in succession"
### Infos:

* Used Zammad version: develop (2021-03-23)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* show only one modal dialog

### Actual behavior:

* after 3 times, modal dialog is shown twice

### Steps to reproduce the behavior:

![modal-dialog-twice](https://

[2021-03-23 14:48] magnetic5355 opened #3464 "Web ticket creation - Permission issue - Users with Change permission have ability to create tickets on behalf of a group."
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): helm chart current 3.6
* Operating system:
* Database + version:
* Elasticsearch version:
* Browser + version:

### Expected behavior:

* Setting a role permission to allow ticket group change is intended to allow tickets to be transferred between departments. Users should only see ticket queues they are allowed to

[2021-03-23 15:11] MrGeneration commented on #3464
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-03-23 15:11] #3464 closed, assigned to nobody

[2021-03-24 02:54] martini opened #3465 "Migration of webhooks stop unexpectedly"
### Infos:

* Used Zammad version: develop (2021-03-24)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* execute migrations without errors

### Actual behavior:

[code]

[2021-03-24 03:22] #3465 closed, assigned to martini

[2021-03-24 07:06] martini opened #3466 "elasticsearch index rebuild will log warnings to log/production.log"
### Infos:

* Used Zammad version: develop (2021-03-24)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* execute `rails searchindex:rebuild` without any warnings in log

### Actual behavior:

* execute `rails searchindex:rebuild` and you will get this warning in log on

[2021-03-24 08:39] #3463 closed, assigned to martini

[2021-03-24 14:49] #3453 closed, assigned to mantas

[2021-03-24 15:13] #3454 closed, assigned to rolfschmidt

[2021-03-24 15:22] #3466 closed, assigned to bolah2009

[2021-03-24 16:41] #3455 closed, assigned to thorsteneckel

[2021-03-24 16:41] #3456 closed, assigned to thorsteneckel

[2021-03-24 16:41] #3458 closed, assigned to thorsteneckel

[2021-03-24 16:41] #3459 closed, assigned to thorsteneckel

[2021-03-24 18:01] cautopartes opened #3467 "Sending and forwarding internal email messages"
### Infos:

* Used Zammad version: any
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1035855

### Expected behavior:

* This issue refers exclusively to the email channel in articles
* After setting an article to internal, or forwarding an article which is set to internal, Zamma

[2021-03-24 18:25] cautopartes opened #3468 "Not authorized error using Im X-On-Behalf-Of"
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
*  Ticket #1085175

### Expected behavior:

* Using the Zammad API an authorization via token should work when using "X-On-Behalf-Of".

### Actual behavior:

* What works: Using password authentication, e.g.:

[2021-03-24 18:32] MrGeneration commented on #3468
I'm sorry, I can't reproduce this on a current develop 4.0

[2021-03-24 18:36] thorsteneckel commented on #3468
Hi @cautopartes - after some issues with this functionality in the past we've build up a pretty decent test coverage for many different use cases. This one doesn't look any special to me. I guess that there is a permission issue. Can you double check that the permissions required for creating tickets in the group match up with those that the corresponding requesting / behalf of user?

[2021-03-24 20:03] martini commented on #3468
@thorsteneckel I tested it in my local system. Using user&pw I can create the ticket. By using the token I can't.

Here more information:

The user/agent:

[code]

The Token:
[code]

The customer user which is used for in behalf of:

[code]

The traceback:

[code]

[2021-03-24 20:45] martini commented on #3468
IMO the issue is here: https://github.com/zammad/zammad/blob/develop/lib/user_context.rb#L21

It seems that the origin agent token permissions are checked and not the permissions for the customer user it self which is used in behalf.

https://github.com/zammad/zammad/commit/5dde117a145f44b1fb582d9edd266519fd17b4b1

[2021-03-24 22:10] thorsteneckel commented on #3468
Looks like a duplicate of https://github.com/zammad/zammad/issues/3327#issuecomment-765287635 to me. Can you please double check?

[2021-03-24 23:22] martini commented on #3468
Yes. It looks like it is the same. But currently is looks wrong to me, that the permissions of the admin user which is performing the behalf of user is taken/checked. With user+password it works without assigning extra permissions.

[2021-03-25 08:25] thorsteneckel opened #3469 "Startup fails with "Circular dependency detected while autoloading constant Tag::WritesToTicketHistory (RuntimeError)""
### Infos:

* Used Zammad version: 4.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Zammad should start

### Actual behavior:

* Zammad startup fails with:

[code]

### Steps to reproduce the behavior:

* Start Zammad

### Technical remark

This issue was introduce

[2021-03-25 09:41] jannheider opened #3470 "Invalid elasticsearch(-oss) alternative dependency format breaks package installation/update for RPM based installations."
### Infos:

* Used Zammad version: 3.6
* Installation method (source, package, ..): package
* Operating system: CentOS Linux release 7.9
* Database + version: postgres (PostgreSQL) 9.2.24
* Elasticsearch version: elasticsearch-7.12.0-1.x86_64
* Browser + version: Any

### Expected behavior:

* Update Zammad with via package to version 4.0 with `yum update` without any dependency problems

### Actu

[2021-03-25 09:49] MrGeneration commented on #3470
Side note: This has also been discussed in the community https://community.zammad.org/t/update-on-centos-8/6451

[2021-03-25 10:04] thorsteneckel commented on #3470
Checking possible fix with https://github.com/zammad/zammad/tree/debug-issue_3470 / https://github.com/zammad/zammad/commit/a849ab3867e077ee0bee75da13689d04634e5f9a once packager.io build is ready.

[2021-03-25 10:49] MrGeneration opened #3471 "Mention does not notify users without full permission on group"
### Infos:

* Used Zammad version: 4.0 stable
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified on current Google Chrome
* Ticket Number: 1085218

### Expected behavior:

Agents being mentioned with read permissions in a group, will receive notifications.

### Actual behavior:

Agents being

[2021-03-25 12:13] #3469 closed, assigned to thorsteneckel

[2021-03-25 12:47] mafn commented on #3470
Just checked, boolean dependencies were [introduced in rpm 4.13](https://rpm.org/user_doc/boolean_dependencies.html) but CentOS 7 only has 4.11, so the fix (c5560384)
[code]
will only work for CentOS>7

[2021-03-25 13:03] thorsteneckel commented on #3470
You are right. Actually packager.io / fpm / rpmbuild doesn't support the format. We will roll back the change to `elasticsearch` for RPM based package managers for now. Fix is in the making.

[2021-03-25 14:45] MrGeneration commented on #2829
The new system docs were merged yesterday evening.
They now reflect help on the CSRF topic both in general and for docker-compose stacks:

   * https://docs.zammad.org/en/latest/getting-started/configure-webserver.html
   * https://docs.zammad.org/en/latest/install/docker-compose/environment.html

These pages should provide enough help for future users stumbling upon this.
Closing.

[2021-03-25 14:45] #2829 closed, assigned to MrGeneration

[2021-03-25 15:03] #3470 closed, assigned to thorsteneckel

[2021-03-25 15:38] YosefAdPro commented on #3470
@thorsteneckel On CentOS 7 still broken.

[2021-03-25 15:39] MrGeneration commented on #3470
@YosefAdPro because the built is failing:
https://packager.io/gh/zammad/zammad/refs/stable

Please wait until packager.io built the packages accordingly.

[2021-03-25 15:40] thorsteneckel commented on #3470
Sorry this issue was closed automatically with my commit.

There is another issue: A dependency we (indirectly use) was yanked today and causes some more changes. We need to work things out. I keep you updated.
EDIT: https://www.theregister.com/2021/03/25/ruby_rails_code/
We're one of those projects.

Reference image:
![image](https://user-images.githubusercontent.com/3873515/112500590-cda2cf80-8d

[2021-03-25 16:22] mweinelt opened #3472 "Mentions migration fails because of unexpected User notification_config matrix state."
### Infos:

* Used Zammad version: 4.0.0-1616674376.a2954874.buster
* Installation method (source, package, ..): packager.io
* Operating system: Debian 10
* Database + version: Postgresql 11.10
* Elasticsearch version: 7.6.2
* Browser + version: Firefox 87.0

### Expected behavior:

* Upgrading should create all necessary tables during migrations.

### Actual behavior:

* We are missing the mentio

[2021-03-25 16:24] mweinelt commented on #3472
From `/var/log/apt/term.log`

[code]

[2021-03-25 16:29] thorsteneckel commented on #3472
Thanks for reporting! We'll have a look right away after we've resolved the mimemagic dependency chaos ( https://www.theregister.com/2021/03/25/ruby_rails_code/ )

[2021-03-25 16:37] martini commented on #3472
Fix is in CI (but which is not working right now because of the issue above).

In the meantime you can replace `/opt/zammad/db/migrate/20201110000001_mention_init.rb` with the attached file below (inline), execute `zamamd run rake db:migrate`, restart Zammad and all should work fine.

[code]

[2021-03-25 16:40] MustafaTongul opened #3473 "Macros are not displayed within the Mobile View"
### Infos:

* Used Zammad version: 4.0.x
* Installation method (source, package, ..): Any
* Operating system: iOS 14.4.1
* Browser + version: Chrome Mobile App 87.0.4280.77
* T#1085229

### Expected behavior:

* By tapping on the arrow beside the "update" button all available macros are displayed in the selection. This Issue occurs when using Zammad on a mobile device within the ticket zoom mask.

[2021-03-25 16:41] winnidarks opened #3474 "Add Tags to Knowledgebase"
It would be helpful to have tags in the knowledgebase to help users to do easier searches..

[2021-03-25 16:41] MrGeneration commented on #3474
Sorry, but this seems to be a technical question.
Please note that this repository is the wrong place for technical questions.
Instead, please refer the Zammad community over at: https://community.zammad.org .

In case this turns out the be a bug and no technical question, we'll transfer the relevant information to this repo!

If you require commercial grade support and are no hosted or support co

[2021-03-25 16:41] #3474 closed, assigned to nobody

[2021-03-25 16:42] mweinelt commented on #3472
Thanks alot, that fixed it! Close at your own discretion.

[2021-03-25 17:00] MustafaTongul opened #3475 "Bulk Action Bar is not displayed properly on responsive design"
### Infos:

* Used Zammad version: 4.0.x
* Installation method (source, package, ..): Any
* Operating system: iOS 14.5
* Browser + version: Safari for mobile
* T#1085217

### Expected behavior:

* by selecting multiple tickets within an overview the bulk-action bar is shown properly.

![image](https://user-images.githubusercontent.com/76220675/112512032-473fbb00-8d93-11eb-8ae9-94b199ee1d2a.png)

#