[2019-10-04 21:08] bebosudo commented on #2764
May I suggest a UI improvement?
I think it would be "easier" to use a delete/trash icon on every row of condition/action (as it is now) and a single add with plus icon below.
What's the meaning of having a plus on the first row? Is it any different from the second or third "add" button?

[2019-10-04 22:48] martinvonwittich commented on #2737
Well yes, but actually no. When an encoding auto-detection looks at the whole file and tries to determine which encoding is able to represent all characters inside it, then yes, it will detect this as latin1 and not as UTF-8. But that's just due to the fact that the _whole_ file isn't valid UTF-8 (because the latin1 representations of `üöä` aren't valid UTF-8 byte sequences), while it _could_ be l

[2019-10-06 11:11] sstidl opened #2765 "DELETE Ticket API /api/v1/tickets/:id "Not authorized""
### Infos:

* Used Zammad version: lastest docker-compose version (3.1.x)
* Installation method (source, package, ..): docker
* Operating system: debian
* Database + version: latest
* Elasticsearch version: latest
* Browser + version: N/A

### Expected behavior:

* last time I used my script to delete tickets it worked like this:
[code]
note: this script is not running on the same host as rails/ng

[2019-10-06 11:52] sstidl commented on #2765
Ok, I found out, that the admin account has to have permissions to see / edit the ticket so he can delete it. this is not useful as it's the ADMIN

The sideeffect of adding the admin to the all groups of tickets is that he could get tickets assigned?!

please consider to give admin permission to delete all tickets regardless of any group assignments

[2019-10-06 13:21] MrGeneration commented on #2765
Sorry, but this is rather a technical question.
For the next time, please post such questions over at the Community: https://community.zammad.org

Closing now.

[2019-10-06 13:21] #2765 closed, assigned to nobody

[2019-10-07 11:34] ralfhauser opened #2766 "non-privileged "customer" (user-role) can see many/all(?) users in json response"
### Infos:
***Remark:** This article has been edited by @MrGeneration to meet our requirenments.*

* Used Zammad version: 3.1
* Installation method (source, package, ..): package
* Operating system: Debian
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Internal-Ticket: #1055511

### Expected behavior:

Zammad not disclosing information about users.

### Actual be

[2019-10-07 11:38] MrGeneration commented on #2766
Sorry, but I'm unable to reproduce this.
Please use the template below and adjust your article accordingly.

We also need the full payload and what exactly you're doing in order to reproduce this.
On my end I can't as a normal authenticated customer.

[code]

[2019-10-07 11:58] ralfhauser opened #2767 "Enhancement: warn admins for potential security issues when setting "admin.reporting" for customer roles"
### Infos:
***Remark:** This article has been edited by @MrGeneration to meet our requirenments.*

* Used Zammad version: 3.1
* Installation method (source, package, ..): package
* Operating system: Debian
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Internal-Ticket: #1055511

### Expected behavior:

Zammad not disclosing information about users.

### Actual be

[2019-10-07 11:59] ralfhauser commented on #2767
![20191007_tooOpenZammadReport](https://user-images.githubusercontent.com/1681677/66309719-99c0b980-e90a-11e9-88ae-2fa5c5c008e2.png)

[2019-10-07 12:15] MrGeneration commented on #2767
As mentioned in #2766 already, please provide more information:

[code]

[2019-10-07 14:06] martini opened #2768 "Unable to process email where group has option `follow_up_possible: 'new_ticket'` and arraiving email has no subject header"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* process any email

### Actual behavior:

* mail in unprocessable

### Steps to reproduce the behavior:

* create a group with `follow_up_possible: 'new_ticket'`
* process an email w

[2019-10-07 16:53] MrGeneration opened #2769 "Wrong Variable-Reference for Tags (Trigger, Scheduler)"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Google Chrome 77.0.3865.90
* Ticket: #1085435

### Expected behavior:

When using variables (via shortcut `::`) within the backend for e.g. Triggers, the selected `Ticket > Tags` will return a Tag list as wanted.

[2019-10-07 20:32] sstidl commented on #2765
Dear @mrgeneration

 I think it is a bug, if having admin permissions gives you "permission denied" on actions.

Where are you discussing such things?

Best regards
St.

[2019-10-08 09:34] thorsteneckel commented on #2633
Hey @maggusf  - I'd say yes. Thanks for the heads up! @MrGeneration - what do you think?

[2019-10-08 13:13] #2768 closed, assigned to martini

[2019-10-08 13:26] ralfhauser commented on #2767
We are getting closer to a resolution: Zammad offers nice default roles like
![image](https://user-images.githubusercontent.com/1681677/66399078-35235e80-e9df-11e9-8350-a451c5e12798.png)

However, if you edit the role's permissions and e.g. check "report" (even though this is not a sub-bullet under "admin") you defacto escalate the privileges of the customer role to something at least on agent if

[2019-10-08 13:32] ralfhauser commented on #2767
2) even better would be
![image](https://user-images.githubusercontent.com/1681677/66399885-b2030800-e9e0-11e9-86da-ee76e58b6964.png)
to explain e.g. in the red circle that this feature shouldn't be given to self-registering users as it is rather an admin-level function

[2019-10-08 14:04] MrGeneration commented on #2766
This issue is dependend of this issue: https://github.com/zammad/zammad/issues/2767
The reason for this to appear is a wrong permission configuration which causes Zammad to provide data, that you'd need for e.g. reporting functionality.

This is rather a technical - / administrative question.
Closing now.

[2019-10-08 14:04] #2766 closed, assigned to nobody

[2019-10-08 14:13] MrGeneration commented on #2767
We'll take this as enhancement to help administrators to forsee the possible issues the `admin.reporting` permission can bring on a customer role.

Please remove the `admin.reporting` permission from the customer role. This will solve the issue you have.

[2019-10-09 19:25] ralfhauser opened #2771 "upon self-registration, show context to admin"
When did the user register (date) ?
What was the remoteIP of the first web-access...?
etc.

[2019-10-09 20:05] MrGeneration commented on #2771
Sorry, but this is a feature request.
Please post feature request over at the Community: https://community.zammad.org

Closing now.

[2019-10-09 20:05] #2771 closed, assigned to nobody

[2019-10-10 11:26] MrGeneration commented on #220
Sorry, but at this moment we can't share any information on this topic.
We'll update this issue accordingly as soon as something moves for the Zammad-Core.

[2019-10-10 11:33] MrGeneration commented on #2633
Doh! You're right. I'm closing this issue for the sake of #2426

[2019-10-10 11:33] #2633 closed, assigned to nobody

[2019-10-10 12:51] rixx commented on #220
Looking at your response time of several months and the previous discussions on this issue, I'm concluding that adding PGP support to Zammad is not a priority for you or will not happen at all. (Just summing it up here for anybody who comes along in the future and doesn't want to read the entire discussion.)

[2019-10-10 13:13] thorsteneckel commented on #220
Hey @rixx - you're right. We currently working on tasks based on our priority schema:

1st: support / custom development
These are the people funding Zammad and the features we release. Zammad wouldn't be here today without them. Having them really means a lot to us and encourages that we're on the right track.

2nd: 80% features / issues
The spare time we gain from the support of our customers is

[2019-10-10 14:38] ArcheNoah77 opened #2772 "No name suggestions after update to v3.1"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): DEB
* Operating system: Ubuntu 9

### Expected behavior:
When i reply or forward an email and start to type in a name in the "to" or "cc" field, name suggestions appears.

### Actual behavior:
After Update to v3.1 the name suggestions doesn't appear.
If  i create a new ticket, the name suggestion in the "customer"

[2019-10-10 14:43] MrGeneration commented on #2772
Sorry but I believe that this is rather a technical question than a bug.
Ensure that your elasticsearch is up and running. If it isn't start it and reindex your system.

Right now I can't reproduce this, sometimes the update process stops elasticsearch.
If this isn't the case, please provide log files and maybe even the console output from your update if possible.

Closing for now.

( Please note

[2019-10-10 14:43] #2772 closed, assigned to nobody

[2019-10-11 06:01] rlue commented on #2701
@MrGeneration, can you clarify what the bug is and how to reproduce it? Here's where I am:

1. Create the given sample raw mail file:

[code]

2. Import it into Zammad via the rails console. (This successfully creates a ticket and article.)

[code]

3. View the ticket in the Zammad web interface. (The `img` tag results in a broken image element on the page.)

   ![Screenshot_20191011_135401](https

[2019-10-11 07:54] Voljka1 commented on #2738
if i may say: having completely local admin account is good. if you want, you can disable it, having ldap integration for admin users, but as a failsafe local admin is must be. So, may be better way is to protect local build-in admin account from ldap "invasion"?

[2019-10-11 08:21] MrGeneration commented on #2738
If you'd "protect" the local admin, this might cause unexpected behaviour.

For instance, if you use `admin@exmaple.net` as  mail address of that admin and you also have a ad admin with the same address - why this should not synchronize?

The above described issue does not affect local administratives, if any given that do not apply to the ldap synch.

[2019-10-11 09:26] MrGeneration commented on #2701
Hey Ryan,

sorry! This described really bad (and way off!).
I was wrong with the mail processing part, this is about "I can't forward mails if the image-tag is empty" caused by our javascripts.

Really sorry for sending you in the wrong direction!
I'll update the first article asap.

This should appear on your console log:
[code]

[2019-10-11 10:30] MrGeneration opened #2773 "Current user variables not working for schedulers and triggers"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

When using system variables (via `::`) like current user ones, Zammad will replace the placeholder upon trigger and scheduler runtime. The mail will contain the replaced values.

###

[2019-10-11 10:34] MrGeneration commented on #2765
Admin-Accounts by default do not have rights to view / change tickets.
This works as designed actually, we're strictly differencing in between a admin user and some one that's allowed to deal with tickets. The API always users your user rights.

Please note that this does not affect superusers (root, zammad) on console.

Technical questions and discussions can be made on https://community.zammad.o

[2019-10-11 10:37] MrGeneration commented on #2385
@bebosudo please don't recycle old closed issues!
Your request is rather a technical question.

Please note that the agent preferences decide on the language he'll see (apart from browser detection).
You can find these settings here: https://user-docs.zammad.org/en/latest/extras/profile-and-settings.html

---

To reduce the noise on this repository and issue, I'll be limitting the conversation now

[2019-10-11 15:04] #2701 closed, assigned to rlue

[2019-10-11 15:11] #2740 closed, assigned to rlue

[2019-10-14 06:21] redbear-ger commented on #2377
any news on this?

[2019-10-14 08:41] MrGeneration commented on #2377
Locking conversation because no further relevant comments have been posted.
Please refrain from `++`ing or asking the current state of an issue, because it causes noise on everyone watching the repository. (Please don't get me wrong here :) )

We'll update this issue accordingly as soon as we have new input.
We're currently working hard on solving issues.

[2019-10-14 12:25] KoJie opened #2774 "Changing the displayed holidays"
# Infos:

* Used Zammad version: 3.1

### Actual behavior:

* Each calender shows the next holidays in between the next 70 days:
![image](https://user-images.githubusercontent.com/22768032/66750832-cb4aff00-ee8d-11e9-82f8-f10af69fff26.png)

because the limitation of this period sometimes leads to zero hits, sometimes to x hits, this can be confusing. A fixed display of the next 5 events should rai

[2019-10-14 14:03] ThomHordijk opened #2775 "Users missing, appear when searching on organization"
### Infos:

* Used Zammad version: 3.1.x
* Installation method (source, package, ..): package
* Operating system: windows
* Database + version: unkown
* Elasticsearch version: unkown
* Browser + version: mozzila firefox 69.0.3

### Expected behavior:

* I expect to find all the users, customers, when opening admin --> users and selecting customers

### Actual behavior:

* Some customers are only s

[2019-10-14 14:27] MrGeneration commented on #2775
This is a duplicate of issue https://github.com/zammad/zammad/issues/2214

Please note that Zammad currently limits the number of users to 30.
They can still be found via search function, this is to save data usuage and system ressources.

Closing now.

[2019-10-14 14:27] #2775 closed, assigned to nobody

[2019-10-14 15:35] KoJie opened #2776 "incomplete and curious view of the calendar"
### Infos:

* Used Zammad version: 3.1
* hosted
* Browser + version: Chrome Version 77.0.3865.120 and Safari Version 12.1.1
* Ticket: #1080027

### Expected behavior:

* A complete calendar display where I can see all dates without the need to recount, like:
![image](https://user-images.githubusercontent.com/22768032/66763527-46211380-eea8-11e9-9506-84dee4b4dd1b.png)

### Actual behavior:

When ad

[2019-10-15 10:53] MathiasVolkmer opened #2777 "Knowledge Base - Attachments not working for internal readers"
### Infos:

* Used Zammad version: 3.1.x
* Installation method (source, package, ..): Package
* Operating system: Debian
* Database + version: Postgresql 9.6
* Elasticsearch version: 5.6.16
* Browser + version: Firefox 69.0.3

### Expected behavior:

Admin is creating a Knowledge Base answer with adding inlay pictures and attachments.
If the answer is marked internal, all agents should see it and

[2019-10-15 10:55] thorsteneckel commented on #2777
Hey @MathiasVolkmer - thanks for reporting this! @mantas - can you please have a look?

[2019-10-15 11:04] MathiasVolkmer commented on #2777
Thanks @thorsteneckel !
I first didn't see this issue, because I created the answers, building something like an internal "wiki".. until now a colleague told me, he isn't able to get the attachments.
I won't set the answers public, because there are some internal information, that is not mentioned for guests or customers.
And I don't like to set all the agents to editors, so they would be able to

[2019-10-15 11:15] MrGeneration commented on #2777
I can partly reproduce this.
On my installation I can see inline images without any problems, but any kind of attachment seems to fail terribly when having reader rights only (just as remark for mantas) :)

![image](https://user-images.githubusercontent.com/6549061/66826917-e67d4380-ef4d-11e9-9e2f-494b5f3c38fb.png)

[2019-10-15 11:20] mantas commented on #2777
@MrGeneration did you test it when logging in directly rather than switching a user? I smell one more bug in there...

[2019-10-15 11:26] MrGeneration commented on #2777
@mantas just tested with direct login, the issue shows exactly the same way like above.
Interestingly on both tries my Chrome tells me "error - no file" when trying to download the attachments.

I also forced a reload to enforce a clean cache to ensure the inline image is not some relict from before.

[2019-10-15 11:51] MathiasVolkmer commented on #2777
I tried to reproduce it myself again:
My view:
![grafik](https://user-images.githubusercontent.com/56587713/66828552-97391200-ef51-11e9-9d23-32f628571727.png)

Login as an agent with reading rights:
![grafik](https://user-images.githubusercontent.com/56587713/66828686-f39c3180-ef51-11e9-816b-be8b4e5d7bb8.png)

So I assumed, the issue about the inlay pictures is quite the same as for the attachment

[2019-10-15 11:56] MrGeneration commented on #2777
Please provide, if possible, as screencast on how you insert those images, I slowly think that you're hitting a general limitation of Zammad (for the inline image)

You can double check this by reloading the answer as agent that can edit. If the image is still there, then this is not the issue I'm talking about, but something else.

[2019-10-15 12:09] MathiasVolkmer commented on #2777
@MrGeneration After giving editor-rights to that agent and log back in with his account, the pictures are showing. So I'm quite sure that it's not the problem how I add the pictures.

- Logging in as agent without editor-rights
-> Images won't show, even after reloading the answer
- Logging back in as administrator and giving editor-rights to the agent
- Logging back in as agent
-> Images are show

[2019-10-15 12:50] mantas commented on #2777
@MathiasVolkmer I was able to reproduce the issue for both attachment and inline image. Fix is coming soon.

[2019-10-15 20:38] rsmartins78 commented on #746
When I choose a father option of a tree selection, this SLA applys to the childs in tree?

[2019-10-16 07:15] MrGeneration commented on #746
@rsmartins78 please do not recycle github issues for your technical questions.
This repository is for bug reports only, for technical questions, please head over to the Zammad Community: https://community.zammad.org

We'll try to answer your questions there.

[2019-10-16 07:35] MrGeneration commented on #746
As I haven't received any feedback that this functionality does not yet exist (and I can't reproduce it) I'll be closing this issue. I'm assuming that this is already working and has been implemented "silently" by now. :)

[2019-10-16 12:22] MrGeneration opened #2778 "System notifications are being sent even with empty mail address"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* If the agent has mail notifications enabled, Zammad will not try to send the notification if the mail address of the agent is invalid or not set `*`

`*` this should also apply to t

[2019-10-17 06:28] carmas123 opened #2779 "Translation error Italian"
Hi I found on Knowledge Base a translation error:
![image](https://user-images.githubusercontent.com/6574219/66983095-0df01f80-f0b8-11e9-8f3f-0376338e6236.png)

it need to be "Risposte"

Regards.

[2019-10-17 07:01] redbear-ger opened #2780 "Shared organization issue (Create your first ticket)"
### Infos:

* Used Zammad version: latest
* Installation method (source, package, ..): rpm
* Operating system: ubuntu 18.04
* Browser + version: Edge + FF + Chrome

### Expected behavior:
When you take the ability to create tickets for normal User, they shoudnt see the option.

### Actual behavior:
The "+" button disappears but when a user has no tickets he gets the message "You have no tickets, c

[2019-10-17 10:10] MrGeneration opened #2781 "Users can't remove their Sessions from Device list"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): package
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: current Chrome and Firefox

### Expected behavior:

When going into the user preferences (Devices) you can delete one or more sessions without any problem. The list will refresh and the session is gone.

###

[2019-10-18 05:51] posica commented on #26
I am in Taiwan with zh-TW  (Traditional Chinese)is not the same as zh (Simplified) could I make the translation contrubution?

[2019-10-18 07:11] maxxer commented on #2403
All mails from Outlook users we receive are missing attachments :(

[2019-10-18 07:23] MrGeneration commented on #2403
@maxxer please don't hijack other issues.
Your issue rather sounds like a technical question, please post technical questions over at the Community: https://community.zammad.org

If we later discover that you're experiencing a bug, we'll post an Issue here. :-)

I'm locking the conversation to contributors only, because this issue hasn't had any further Feedback within several month. Please don't

[2019-10-18 13:59] KoJie opened #2782 "Can't create internal Articles via Trigger/Automatization"
### Infos:

* Used Zammad version: 3.1
* hosted
* Browser + version: Chrome Version 77.0.3865.120
* Ticket# 1065571

### Expected behavior:

* As an admin I want to configure the `internal` attribute of a SMS or Email Notification configured in a Trigger/Automatization (the same as already possible for Notes)
* As an admin I want the `internal` attribute of a SMS or Email Notification configured i

[2019-10-19 21:40] jmptbl commented on #1824
Another fix in case one does not want to modify their MySQL global config is to create Zammad's database manually like this:

`CREATE DATABASE zammad_prod CHARACTER SET utf8;`

[2019-10-21 10:05] MrGeneration commented on #26
@posica please do not hijack closed bug reports.
As your post is rather a technical question, for the next time, please consult the Community at https://community.zammad.org

Please contact support [at] zammad [dot] com, we'll provide you a translation file then which we'd like to ask you to translate. If that's done, we can do some magic to add your language to Zammad. :)

[2019-10-21 10:08] MrGeneration commented on #1596
Hey @tischra

thank you for wanting to support Zammad!
If you need to know an estimate for this feature, please contact us at sales [at] zammad [dot] com and reference this issue.

We'll check on how much this will cost.
It it's too much, we can also create a community post similare to this one: https://community.zammad.org/t/feature-watch-function-for-tickets-an-agent-is-not-member-of/2615

[2019-10-21 10:41] thorsteneckel commented on #2608
@rlue - can you please provide a MR for this?

[2019-10-21 10:45] #2658 closed, assigned to rlue

[2019-10-21 10:45] #2659 closed, assigned to rlue

[2019-10-21 11:04] #2229 closed, assigned to mantas

[2019-10-21 13:44] ggmanugg commented on #354
@thorsteneckel
will there come an assistant for the described cases (1 and 2) or not in the future?

[2019-10-21 14:16] SEGGER-NV opened #2784 "Admin Settings-> Knowledge base messes up display of other Admin settings"
### Infos:

* Used Zammad version: 3.1.x
* Installation method (source, package, ..): package
* Operating system: Debian 9
* Database + version:
* Elasticsearch version:
* Browser + version: Firefox latest

### Expected behavior:

* When selecting the Knowledge Base settings and then selecting other Admin Settings the Settings window text should not get corrupted.

### Actual behavior:

* The text

[2019-10-21 14:18] MrGeneration commented on #2784
Fast fix: Clicking on another option or reloading the WebApp helps, but I agree that it's annoying. :)

[2019-10-21 14:19] thorsteneckel commented on #354
Thanks @ggmanugg for reaching out. We will provide a migrator as described for use case 1/2 which will not work with OSTicket hosted setup referenced as 3/4. However, the customer who asked us to give an estimation on the costs never replied so we have to postpone this for now :( However, we will pick it up as soon as we have the resources to do so. This might take some time.

I guess there won't

[2019-10-21 14:51] #2289 closed, assigned to dennykorsukewitz

[2019-10-22 16:21] MrGeneration opened #2785 "Reporting does not return all tickets when using values with that "devide" values (e. g. some_value)"
### Infos:

* Used Zammad version: 3.1 and earlier
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any (but verified von 5.6.x)
* Browser + version: any
* Ticket-ID: #1053174

### Expected behavior:

When having e.g. selects or tree selects with several values that contain any legimate character, the Reporting will -when u

[2019-10-22 17:09] MrGeneration opened #2786 "Zammad forgets draft data upon refreshing when having more than one new ticket draft"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: verified on Google Chrome 77.0.3865.120 & Firefox 69.0.2
* This has been found by the community: https://community.zammad.org/t/how-to-autosave-new-tickets/3326

### Expected behavior:

When opening several "new

[2019-10-24 14:00] 6543 opened #2787 "Integrate WorkPlace"
I need [WorkPlace](https://de-de.facebook.com/workplace) integration.

* either Zammad triggers Webhooks so i can work with it or
* integrate WorkPlace directly ...

[2019-10-24 14:23] thorsteneckel commented on #2787
Please read our intro text before creating issues. This is not an issue but a feature request. You can ask questions over at https://community.zammad.org/ - Closing now.

[2019-10-24 14:23] #2787 closed, assigned to nobody

[2019-10-24 14:29] bebosudo commented on #2357
Hi!
being able to block/ignore certain users/servers that spam emails is a vital feature that we need in a ticketing system. Any news on this?

[2019-10-25 08:49] KoJie opened #2789 "not possible to search or link KB-answer within ticket"
### Infos:

* Used Zammad version: hosted 3.1.x
* Browser + version: Chrome Version 77.0.3865.120

### Expected behavior:

* within the ticket-information you should search for an existing knowledge base answer and link it

### Actual behavior:

* you can neither search nor link a knowledge base answers within the ticket via"Link related answer", underneath the ticket information:
![image](https:/

[2019-10-25 10:39] thorsteneckel commented on #2789
Hey @mantas - I could verify the issue on our hosted system as well. I saw that the search AJAX call result contained the right response / search result. It looks like the result isn't handled properly in the JS App. Let me know if I can execute / perform a task that helps you to gain more insights.

[2019-10-25 12:12] CrazyDounat opened #2790 "Trigger for Notification for a changed ticket for the Customer"
### Infos:

* Used Zammad version: 3.1.X
* Operating system: Debian
* Database + version: newest
* Elasticsearch version: newest
* Browser + version: Chrome 77.0.3865.120

### Expected behavior:

Send E-Mail to Customer if the Ticket gets an Update

### Actual behavior:

Nothing.

### Steps to reproduce the behavior:

Make a Trigger like this:
Customer is specific user "Customer Name"
Updated by i

[2019-10-26 11:40] MichiK opened #2791 "Piping e-mails to Zammad (e.g. via procmail) does not work"
### Infos:

* Used Zammad version: 3.1.0-1570545649.c1160c5e.stretch
* Installation method (source, package, ..): Debian package
* Operating system: Debian 10
* Database + version: PostgreSQL 11.5-1+deb10u1
* Elasticsearch version: 7.4.1
* Browser + version: not applicable

### Expected behavior:

* I would like to pipe e-mails into Zammad using procmail to avoid setting up an IMAP/POP3 server lik

[2019-10-26 18:34] martini commented on #2791
Hi @MichiK

did you try `cat test/fixtures/mail67.box | zammad run rails r 'Channel::Driver::MailStdin.new(trusted: true)'` ?

[2019-10-26 18:47] totoCZ commented on #2627
If you're lucky to have nginx compiled with sub_filter (it's that way in docker)

[code]

This has the advantage of removing en-us as well. I don't need it for a single language KB.
Otherwise, it should be pretty simple to change.

[2019-10-26 18:58] MichiK commented on #2791
Thanks, that one worked. Too simple, actually...

I guess, opening a pull request fixing this in zammad/zammad-admin-documentation would be the way to go?

[2019-10-26 19:03] thorsteneckel commented on #2791
That would be actually pretty great, yes!

[2019-10-26 19:23] MichiK commented on #2791
Done. :)

[2019-10-26 19:23] #2791 closed, assigned to nobody

[2019-10-27 18:32] malikfirmansyah opened #2792 "Cannot Create a User and Registration (combined) without providing userId"
Sorry, wrong post issue :D

[2019-10-27 18:34] #2792 closed, assigned to nobody

[2019-10-28 22:07] monotek commented on #2653
github pr fore reference: https://github.com/zammad/zammad/pull/2783

[2019-10-29 15:36] MrGeneration opened #2793 "Reporting: CSV-Export contains Tags twice (once empty)"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1057181

### Expected behavior:

When exporting CSV-Reports, all META-Information is only available once.

### Actual behavior:

When Exporting CSV-Reports, the field ``Tags`` actually appears t

[2019-10-29 16:34] monotek commented on #2653
Packages are coming soon. If you want to test it, you can use:

https://packager.io/gh/zammad/zammad/builds/4140/download/debian-10

[2019-10-30 00:03] monotek commented on #2653
develop packages are available: https://packager.io/gh/zammad/zammad

[2019-10-30 00:03] #2653 closed, assigned to MrGeneration

[2019-10-30 07:39] thorsteneckel commented on #2653
stable will ready in about 30 minutes too via https://github.com/zammad/zammad/commit/75b0721cb5f328f233c9c41e0575453b5b20b09a

[2019-10-30 07:50] thorsteneckel commented on #2718
This was fixed via #2789 which is actually a duplicate of this issue here. Anyhow, therefore I'll close this issue here as well.

[2019-10-30 07:50] #2718 closed, assigned to nobody

[2019-10-30 11:54] monotek commented on #2653
There it is: https://packager.io/gh/zammad/zammad/refs/stable 😎

[2019-10-30 12:17] h00000000 opened #2794 "Add Option to disable shortcuts"
Please add an option to disable shortcuts on either a per user base or for the whole system.
With the current state of shortcuts, no matter what browser i am using to display zammad, shortcuts encumber my workflow.

[2019-10-30 12:37] MrGeneration commented on #2794
Please read the introduction text when creating issues.
This Github-Repository is for bugs only.

If you want to post feature requests, please refer to the Community: https://community zammad.org .

Closing now.

[2019-10-30 12:37] #2794 closed, assigned to nobody

[2019-10-30 12:43] h00000000 commented on #2794
Oh, when creating a new issue from a quote, there is no introduction text shown.
Gonna move to the community board then. tyvm

Community board post: [here](https://community.zammad.org/t/add-feature-to-edit-or-disable-shortcuts/3360)

[2019-10-30 13:30] #2608 closed, assigned to rlue

[2019-10-30 17:18] Hugo070707 commented on #434
Hello, I have the same Problem, any ideas ? :(

[2019-10-30 17:23] MrGeneration commented on #434
@Hugo070707 Please do not hijack old and closed issues.
As you're having a technical question, please refer to the Community which is the better place for those kind of requests: https://community.zammad.org

However, our documentation should help you as well:
https://docs.zammad.org/en/latest/install-centos.html#nginx

Locking conversation to keep the noise of this tracker as low as possible.

[2019-10-30 17:33] MrGeneration commented on #2692
Further input on that:
This happens, because Zammad saves a string with the ID instead of an array into it's setting, if you only provide one user.

You can workaround this issue via rails console as follows:
[code]

Mind adding the `[]`. Example:
[code]

[2019-10-30 18:18] #2508 closed, assigned to MrGeneration

[2019-10-31 07:27] martini commented on #2786
Hi @MrGeneration

I can't reproduce this. So one question. Is it working on your side if you create the 2 tabs for ticket creation and wait 15 sek. before press logout? After login, do you see all two tabs now?

 -Martin

[2019-10-31 07:30] mantas commented on #2786
Hi @MrGeneration @martini

Many suns ago I thought I discovered this bug as well. It took me a while to realise what was happening. It may be good to have a visible indicator wether the draft is already persisted or not.

It may be super annoying if someone types in something, closes browser window on a rush... And then it's lost.

[2019-10-31 09:59] MrGeneration commented on #2786
I agree to mantas, this is somewhat unexpected.
Up to now I expected Zammad to have saved the content, as soon as it puts the ticket title in the tab on the left (because this takes some time on my side).

After waiting for 30 seconds, Zammad remembered all drafts, however, we really should indicate if something is saved. Because "just wait 30 seconds" won't work as workaround if you have a busy i

[2019-10-31 13:18] rlue commented on #2706
Looked into this yesterday. Posting my notes for whoever comes to this issue next. Be warned—it's a doozy!

### My understanding

#### Background

We use `HtmlSanitizer.strict` to sanitize HTML in various parts of the application (_e.g.,_ to protect against [XSS attacks](https://en.wikipedia.org/wiki/Cross-site_scripting)). It can be quite slow, though: for `test/data/mail/mail047.box` (3800+ line

[2019-10-31 14:19] rlue commented on #2715
Hm. Not sure what promises twitter makes about its URL naming scheme. FWIW, it looks like it's not so strict about the handle you use: both of the following URLs work:

* <https://twitter.com/_/status/1164217960938049536>
* <https://twitter.com/_/statuses/1164217960938049536>

Fun to play with this stuff when you're just trying to shorten a URL to send to your friends in a WhatsApp message; not so

[2019-11-01 02:06] dustinfl commented on #2773
I'm on 3.2.x and am running into the same problem, at least when I was trying to use  #{user.organization.name} within a trigger. I get "#{no such object}:" within the email that is sent.

[2019-11-01 07:09] mahescho opened #2795 "Repositories broken"
The repositories are broken:

https://dl.packager.io/srv/deb/zammad/zammad/stable/debian 9 Release
  404  Not Found

[2019-11-01 10:04] rlue commented on #2754
Seems suspiciously similar to #2682. In a comment from Martin, on that thread:

I'll need a little more time to look into it.

[2019-11-01 10:18] MrGeneration commented on #2754
Personal thought: In my opinion the above described issue shouldn't be a mailbox failure, but is -as the server returns a wrong subject that Zammad doesn't understand (as example), mail related.

If you mark the mail as read or remove it from the mailbox, importing instantly works. :-)

[2019-11-01 10:22] MrGeneration commented on #2795
Seemed to be a temporary issue, as I can't reproduce it.
Therefore closing now.

If your issue still persists, ensure that if you're using any security appliances or proxies, these are not filtering away the above mentioned URL.

Also, if this still persists, please give us more context of what you've done so we can try to reproduce it. Please note that this repository is for Bugs only, this issue

[2019-11-01 10:22] #2795 closed, assigned to MrGeneration

[2019-11-01 10:57] martini commented on #2754
@rlue Me comment from 2682 is valid until the error is raised in Zammad`s email parsing backend.

In this cause the issue is raising an exception one layer above, in Net::IMAP. This is currently not handled as I described in 2682.

The traceback in the inital article is good. But there should be a longer traceback somewhere.

[2019-11-02 11:35] schiederme commented on #2460
Any updates or fixes in the meantime?

[2019-11-04 05:48] blue-hound commented on #2186
I just had this happen to me as well. I read this thread and searched the database. In the settings table I found that the "Elasticsearch Endpoint URL" entry has current_state set to

[code]

Once I set the value back to what was in the intial state column the error cleared and the background scheduler started running normally again. Confirmed with

`zammad run rake searchindex:rebuild`

During my

[2019-11-04 10:44] martini opened #2796 "Image/attachment preview is to small, need to download image and open it locally"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Be able to read details in preview of images.

### Actual behavior:

* Preview image is to small to read detail content

### Steps to reproduce the behavior:

* and a note with an i

[2019-11-04 11:02] martini commented on #2796
Possible solution, increase modal size from large to veryLarge to show preview in general larger.

large/current setting:
![image](https://user-images.githubusercontent.com/110226/68116318-cc0a0a80-fefa-11e9-8bbc-873f19930369.png)

veryLarge:
![image](https://user-images.githubusercontent.com/110226/68116247-a4b33d80-fefa-11e9-9458-9433e43d3713.png)

[2019-11-04 14:24] thorsteneckel commented on #2460
Hey @schiederme - unfortunately no updates yet. As @MrGeneration described earlier there has been some research in the community indicating that the stored ID might be wrong. I wrote a little script to compare the stored ID with the ID we receive from the Twitter API for each Twitter channel. It will also print out the ID so you can/should verify that this is the actual ID of your account. Feedbac

[2019-11-04 14:37] netaviator commented on #2460
I tried the script with my account (@level66network at Twitter) and my Zammad installation, too, and it looks like the IDs do actually mismatch in the installation.

[code]

In my logs i also find the following issue triggered by the webhook.
[code]

[2019-11-04 15:12] thorsteneckel commented on #2460
Wow! This is really it! We found out that the ID is properly send from the backend (Ruby) to the frontend (JavaScript) which then breaks the number because it can't handle this large integers properly, [as "abelxluck" found out here](https://community.zammad.org/t/dont-receive-twitter-dms-railsserver-error/1799/34).

So the error occurs once you open a Twitter channel to edit it and save your chan

[2019-11-04 15:15] thorsteneckel commented on #2460
I forgot to mention: Thanks a ton @MrXermon for jumping in that fast! Your input and the one of abelxluck helped me to find the root cause in the Zammad context. Fix is on the way 🚂

[2019-11-04 15:25] schiederme commented on #2460
Thank you @thorsteneckel, the work around works!

[2019-11-04 15:42] MrGeneration commented on #2796
What does `veryLarge` mean in resolution terms?
As I often have quite some trouble viewing those images, as on 2k screen resolution the preview is quite small.

I'd prefer something like "fit to screen in height/width" without stretching the image. So basically `max-width: 100%` something something..

[2019-11-04 15:50] martini commented on #2796
1) veryLarge is the type if modal dialog size
2) a modal with dynamic modal size would be a completely new modal dialog which we don't have right now in whole Zammad.

It would be good to verify veryLarge modal size first. On my setup it was a very results with the inline image size.

[2019-11-04 16:29] netaviator commented on #2460
Thank you @thorsteneckel for creating the workaround! It works with my system, too! <3

[2019-11-04 20:37] martini opened #2797 "Allow direct or extention numbers in answeringNumber of CTI API"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* In certain cases agents do not have direct numbers (external numbers) for answeringNumber param in CTI API (https://docs.zammad.org/en/latest/cti-api-push.html) to open new ticket s

[2019-11-05 05:51] chriskyndrid opened #2798 "User Is Invisible after Invite"
### Infos:

* Used Zammad version: zammad-3.1.0
* Installation method (source, package, ..): zammad-3.1.0-1572420711.b7bfdcd4.centos7.x86_64
* Operating system: CentOS 7
* Database + version: Latest
* Elasticsearch version: elasticsearch-7.4.2-1.x86_64
* Browser + version: Chrome

### Expected behavior:

All users are listed.

### Actual behavior:

Some users are missing and invisible but valid in

[2019-11-05 09:40] MrGeneration commented on #2798
Sorry but I do believe that this is a technical question rather than a bug.
Technical questions should better life at the Community: https://community.zammad.org

Just to double check and give you some background info on why what you're trying to do is not working as you expect:

### JSON / javascript console commands
You're checking the users via your developer console - that's great, but does ne

[2019-11-05 09:40] #2798 closed, assigned to nobody

[2019-11-05 09:41] MrGeneration commented on #2796
I can agree, `veryLarge` is way better thjan what I had before.
Even though on high resolutions I have alot of space getting lost.

But that's normal right now. :x

[2019-11-05 09:45] MrGeneration commented on #2790
Sorry but this is a technical question.
Technical questions should life at the Community over at https://community.zammad.org

This repository is for bug reports only.
Sending a notification to your customer via Trigger on Ticket updates is perfectly possible, telling you how is out of scope of this Repository.

If you have further questions, please head over to the Community.
Closing now.

[2019-11-05 09:45] #2790 closed, assigned to nobody

[2019-11-05 09:50] MrGeneration commented on #2779
Thank you very much. I updated the translation within our translation service, pulling the translations should help.

Closing

[2019-11-05 09:50] #2779 closed, assigned to nobody

[2019-11-05 09:58] MrGeneration commented on #2357
I'm locking the conversation of this issue to contributors only.
Please don't get us wrong, but this is to reduce noise on the tracker like "I need this", "when does this come" etc.

We're working hard on solving issues and bugs.
However, this is a feature backlog enhancement which has no ETA as of now.

If anything changes on this issue, we'll update this issue accordingly. :-)
If you absolutely

[2019-11-05 09:59] MrGeneration commented on #2754
@martini as the issue originally comes from me: There is no longer traceback, that's all you'll see on manual `Channel.fetch` and in the logfile. :-(

[2019-11-05 11:30] martini commented on #2754
Ok. Based on the log output:

[code]

It seems that the error appears by fetchin first mail `INFO -- : - message 1/80` here:

https://github.com/zammad/zammad/blob/develop/app/models/channel/driver/imap.rb#L224

@rlue Here would be a good point to extend it with a `rescue`.

[2019-11-05 11:41] mantas commented on #2789
This issue was fixed with the same commit as #2718

[2019-11-05 11:41] #2789 closed, assigned to mantas

[2019-11-05 15:41] thorsteneckel commented on #2754
Hey @rlue - @MrGeneration just notified me that it has happened again on a customer instance. I can confirm what @martini wrote. The line struggling here is: https://github.com/zammad/zammad/blob/d58233d0cec6642830bc297065f69b7fd5667f23/app/models/channel/driver/imap.rb#L224

It seems like that the exception is not complete because it is raised in a background process Thread the Net::Imap class st

[2019-11-05 16:03] thorsteneckel commented on #2715
Hi @MrGeneration - I'm currently looking into the changes @rlue made to change the support schema. While doing some QA **I noticed that the tweet/status link format actually works**. The example link you posted in the initial issue ( https://twitter.com/statuses/1164217960938049536 ) works as well.
Maybe there was a short outtake on that endpoint or the people at Twitter changed their minds and su

[2019-11-05 16:21] chriskyndrid commented on #2798
Hi,

Thank you for getting back to me. However, I do have a followup question as there are a couple of points with respect to your statements I'd like to unpack further.

First, my contention isn't with the user being created. I can clearly see the record in Postgres, so the user IS created, however, the user is NOT visible in the UI of the WebApp. Navigating to the Configuration -> Users screen y

[2019-11-05 16:33] SalocinHB commented on #2715
It didn't work for months, so I assume they changed their minds.

[2019-11-05 16:38] chriskyndrid commented on #2798
Followup on on this, as far as the issue 1 reported is concerned, the problem IS with elasticsearch as you eluded to, thank you for the pointer on that:

[https://community.zammad.org/t/solved-elasticsearch-issue-after-reindex/1828/2](url)

Explains the issue. I did a 'yum update' at some point in the middle of all this, and apparently that broken the ingest-attachment(or rather removed it) in ela

[2019-11-05 20:33] #2797 closed, assigned to martini

[2019-11-06 07:03] rlue commented on #2754
Wow, this is a lot of information! Thanks @thorsteneckel! A couple questions:

1. How did you conclude that the problem originates in `@imap.fetch`? The
   original traceback, as you pointed out, leads back to a block in `Net::IMAP.new`:

[code]

   This block had me scratching my head all day yesterday, since the method
   that leads to the error (`#receive_responses`) is wrapped in a `begin` /

[2019-11-06 12:44] rlue commented on #2715
`https://twitter.com/direct_messages/create/#{tweet.author.handle}` (pseudo).

Three things:

1. Does this mean that `TwitterSync#to_article` should be modified to support DMs as well as statuses? It looks like [it currently only works for statuses](https://github.com/zammad/zammad/blob/develop/lib/twitter_sync.rb#L348), and it’s one of the three places in Zammad where tweet URLs are hardcoded.

2

[2019-11-06 12:53] rlue commented on #2460
@thorsteneckel, is it safe to assume that

[code]

should find all the instances we're looking for?

[2019-11-06 14:48] thorsteneckel commented on #2460
I'd suggest to dig for `'Twitter::Account'`. That is the identifier for all Twitter-Channels, that have the `id` stored in the `options` attribute.

[2019-11-06 15:11] thorsteneckel commented on #2715
As far as I remember you get the messages via an incoming webhook which calls [`to_article_webhook`](https://github.com/zammad/zammad/blob/022efe7921ea2ac303c50c24913f14700f682513/lib/twitter_sync.rb#L179) which [handles messages](https://github.com/zammad/zammad/blob/022efe7921ea2ac303c50c24913f14700f682513/lib/twitter_sync.rb#L196).

Great catch! I'd prefer this one too 🚀

IIRC this client metho

[2019-11-06 16:33] Vanion-de opened #2799 "Firefox: intl.accept_languages"
### Infos:

* Used Zammad version: several instances I didn't set up (I'm a user here)
* Installation method (source, package, ..):
* Operating system:
* Database + version:
* Elasticsearch version:
* Browser + version:
Firefox 70.0.1 64bit

### Expected behavior:
Before logging in the login page should greet me in the language I set as preference in the local variable intl.accept_languages. The p

[2019-11-06 16:56] MrGeneration commented on #2799
This is a duplicate of https://github.com/zammad/zammad/issues/2505

[2019-11-06 16:56] #2799 closed, assigned to nobody

[2019-11-06 17:43] DaAllexx opened #2800 "zammad fails to start when using postgresql beta"
When using postgresql beta, a version string like `12beta2` is returned which does not behave well with zammad.

### Infos:
* Used Zammad version: 3.1
* Installation method (source, package, ..): package via apt
* Operating system: Ubuntu 16.04
* Database + version: postgres (PostgreSQL) 12beta2

### Expected behavior:
* zammad should run fine with beta versions of postgresql

### Actual behavior:

[2019-11-07 09:29] rlue commented on #2715
Great to know! I'll get to work on a commit that makes the minimal change necessary to fix the bug, then worry about the bigger changes after.

Forgot to ask about something I'd noticed while working through this code. `Observer::Ticket::Article::CommunicateTwitter::BackgroundJob#perform` has [a little block of code that doesn't look quite right](https://github.com/zammad/zammad/blob/develop/app/m

[2019-11-07 09:46] tbsfnk opened #2801 "Mails which are beeing manually moved in IMAP folder are not beeing processed"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): deb
* Operating system: Debian 9.9
* Database + version: Postgres 9.6
* Elasticsearch version: 5.6.16
* Browser + version:

### Expected behavior:
I move a mail in the shared IMAP folder of zammad and a ticket will be created

### Actual behavior:
Since yesterday, when I move a mail from my personal mail account to

[2019-11-07 10:09] tbsfnk commented on #2801
mhm wow now zammad has processed the mails... after some hours
The only thing i did is run this command:
`zammad run rails r 'Channel::EmailParser.process_unprocessable_mails'`

I noticed that i recive some ruby errors in the production log... I posted this [here](https://community.zammad.org/t/ruby-errors-in-production-log/3388
)

[2019-11-07 10:28] tbsfnk commented on #2801
Now I noticed that the mails are still in the folder?
But I've set up the "Keep Mails on server" as no?

[2019-11-07 10:32] tbsfnk commented on #2801
I run now this command:
`zammad run rails r 'Channel.fetch'`

and now all mails are fetched and processed.

Is there something with the scheduler?

[2019-11-07 12:38] MrGeneration commented on #2801
Sorry but this is rather a technical question which this repository is not there for.
Please consult the Zammad Community: https://community.zammad.org

Closing now.

Please note that there right now are too many "maybes" even in this issue, which won't provide a good enough answer. You might want to provide logfiles over at the community.

[2019-11-07 12:38] #2801 closed, assigned to nobody

[2019-11-07 20:25] shakalandy opened #2802 "mail processing failed cause e-mail already deleted?"
### Infos:

* Used Zammad version: zammad-3.1.0-1573129860.5878cb4b.centos7.x86_64
* Installation method (source, package, ..): RPM
* Operating system:  CentOS Linux release 7.7.1908 (Core)
* Database + version: postgresql-server-9.2.24-1.el7_5.x86_64
* Elasticsearch version: elasticsearch-5.6.16-1.noarch
* Browser + version: Chrome / Mac

### Expected behavior:

* E-Mail processed successfully

#

[2019-11-08 09:40] cyberrranger commented on #2595
@thorsteneckel sry for my long absence, I just tried again with VERSION = -3.1.0-28, the same error. Which logs do you need?

[2019-11-08 09:46] JanHegemann opened #2803 "Merging Tickets Email"
When tickets are merged, a mail is sent to all agents and admins. Is there any way to change this so that only the affected people get a mail?

[2019-11-08 10:37] MrGeneration commented on #2803
Sorry but this is rather a technical question.
Please use the Community for this: https://community.zammad.org

Closing.

[2019-11-08 10:37] #2803 closed, assigned to nobody

[2019-11-08 13:10] MrGeneration opened #2804 "Customer and Agent permission can be set"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Google Chrome, but also affects e.g. LDAP synch
* Ticket-ID: #1057852, T#1074719
* Probably a regression of: https://github.com/zammad/zammad/issues/1509

### Expected behavior:

Zammad does not allow you to give

[2019-11-08 14:29] MrGeneration opened #2805 "Tweet needs to be a bit shorter with content, that seems short enough"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Google Chrome, but basically any
* Ticket-ID: #1057814

### Expected behavior:

Zammad behaves exactly like Twitter UI / Twitter clients which does check if a "URL" appears in the body and also if during the shor

[2019-11-08 14:39] SalocinHB commented on #2715
I just noticed that the https://twitter.com/statuses/* links seem to work only when you are not logged in to the Twitter web client in your browser. When I try to open https://twitter.com/statuses/1191288644813893635 in an incognito window, I'm redirected to https://twitter.com/TwitterDE/status/1191288644813893635, but if I open the same link (https://twitter.com/statuses/1191288644813893635) in a

[2019-11-08 14:43] thorsteneckel commented on #2715
Hi Nico. I can't confirm that. I'm not logged (and have any cookies blocked) in but I can open the link https://twitter.com/statuses/1191288644813893635 and get redirected to https://twitter.com/TwitterDE/status/1191288644813893635 . However, I sometimes notice that when I'm opening twitter links on my smartphone from e.g. the reddit app I get the 404 . Copying the link to Safari or Firefox Klar w

[2019-11-08 14:44] SalocinHB commented on #2715
@thorsteneckel that's exactly what I wrote. Not logged in = link works. Logged in = doesn't work.

[2019-11-08 14:46] thorsteneckel commented on #2715
Ouch! Sorry, my bad. You are right! I can confirm the behavior exactly as you described it.

[2019-11-08 23:56] rlue commented on #2778
Not 100% sure, but [I think this problem does not occur with triggers](https://github.com/zammad/zammad/blob/develop/app/models/ticket.rb#L1354).

[2019-11-09 01:52] rlue commented on #2778
Actually, it looks like [it shouldn't occur with internal notifications, either](https://github.com/zammad/zammad/blob/develop/app/models/transaction/notification.rb#L163-L167).

I wasn't able to reproduce this issue, but FWIW I haven't figured out a way to check the sendmail logs on my dev machine (I use a package called `msmtp-sendmail` to shim `msmtp` as a substitute for `sendmail`).

Is there

[2019-11-11 15:48] #2687 closed, assigned to dennykorsukewitz

[2019-11-11 21:07] tarreislam commented on #1171
same here, locale is not working in Chrome, works fine in edge and IE 11

[2019-11-11 21:16] tarreislam commented on #2505
Workarounds?

[2019-11-11 21:38] tarreislam opened #2806 "Default locale not working on fresh install"
### Infos:

* Used Zammad version: latest
* Installation method (source, package, ..): https://docs.zammad.org/en/latest/install-ubuntu.html
* Operating system: ubuntu 16
* Database + version: ....
* Elasticsearch version: ...
* Browser + version: IE 11, Chrome  78.0.3904.97 (Official Build) (64-bit)

### Expected behavior:

* Default locale to be `english `or whatever is set at `settings/branding

[2019-11-11 22:52] MrGeneration commented on #2505
None. Or rather: Set your profile language to the correct language.

[2019-11-11 22:52] MrGeneration commented on #2806
This is a duplicate of https://github.com/zammad/zammad/issues/2505
(as you already discovered :) )

[2019-11-11 22:52] #2806 closed, assigned to nobody

[2019-11-12 10:35] MrGeneration opened #2807 "Scheduler 'processed' incorrect value if above 2000 elements"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: 1058202

### Expected behavior:

Zammad shows the number of touched tickets during scheduler job runtime (exact number).

### Actual behavior:

When having more than 2.000 tickets (which is our l

[2019-11-12 14:00] thorsteneckel commented on #2460
Fixed with the commit above. Will be released with Zammad 3.2 which will arrive soon (1-2 weeks).

[2019-11-12 14:00] #2460 closed, assigned to rlue

[2019-11-12 14:08] #2777 closed, assigned to mantas

[2019-11-12 14:28] thorsteneckel commented on #2778
@MrGeneration can you please provide a detailed step by step instruction on how to reproduce this? I wasn't able to reproduce it either. Please focus on what needs to be configured where exactly in a totally blank system. Thanks!

[2019-11-12 14:57] MrGeneration commented on #2778
Sure thing

* configure a notification mail account, you might want to stick with smtp authentication based mail server for easier results. Shouldn't really matter
* add a new agent user WITHOUT mail address
* ensure the mail notifications for new tickets are enabled
* create a new ticket without owner into a group the new agent can see
* At this point Zammad will send a notification to all affect

[2019-11-12 16:35] tarreislam commented on #2505
Hmmm. A workaround could be the option to remove installed languganes besides EN-US, that would be easier and better for everyone interacting with the service.

Where are the languages defined?

[2019-11-13 09:17] MrGeneration commented on #2595
@cyberrranger please follow this guide and try again.
https://admin-docs.zammad.org/en/latest/security-thirdparty/gitlab.html

If this still fails for you, please provide your production.log ( `/opt/zammad/log/` ) around the time you tried this.

[2019-11-13 10:01] rlue commented on #2778
Can you clarify where this error message can be found? I just tried on both [a development instance](https://youtu.be/lnRRgDKv6jI) and a hosted instance (the recording for that one got botched halfway through), and no error message appears in the web app. Is the error supposed to appear in an application log somewhere?

Do you have time to jump on a screenshare to go over it together?

[2019-11-13 10:30] #2784 closed, assigned to mantas

[2019-11-13 16:07] gety9 commented on #372
Was confused by this as well.

From UX point of view i suggest default selection for channel be channel through which ticket was opened, and making (note) last possible selection. (cause it will be used most seldom)

[2019-11-13 16:14] MrGeneration commented on #372
The reply button does always use the same channel the message came from to answer.
That is, if the reply button is available. If it's not, you gotta answer via note or phone article.

[2019-11-14 10:14] martini opened #2808 "Unprocessable mail if follow up search is enabled for attachments with contains invalid charsets (postmaster_follow_up_search_in with attachment)"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* `cat test/data/mail/mail086.box | rails r 'Channel::Driver::MailStdin.new'` will raise an error

### Actual behavior:

[code]

[2019-11-14 10:32] martini commented on #2704
Fixed with https://github.com/zammad/zammad/commit/180502d03b517ef305e0192f31c8440f7a54ebd5#diff-745084952b496d4a99b8527f616e817d

[2019-11-14 10:32] #2704 closed, assigned to martini

[2019-11-17 14:34] #2785 closed, assigned to martini

[2019-11-18 14:54] #2595 closed, assigned to martini

[2019-11-18 15:05] thorsteneckel commented on #2441
Fixed with https://github.com/zammad/zammad/commit/8a5552c9f8a5da2ab38c819923d461dfba25e938

[2019-11-18 15:05] #2441 closed, assigned to martini

[2019-11-18 15:45] MrGeneration opened #2809 "Array values (e.g. several states) nuke reporting profiles"
### Infos:

* Used Zammad version: 3.2 (develop)
* Installation method (source, package, ..): any, verified on package and hosted
* Operating system: any
* Database + version: any
* Elasticsearch version: any (5.x and 7.x are affected)
* Browser + version: any
* Ticket-ID: #1058293

This is a regression that was introduced by this commit: https://github.com/zammad/zammad/commit/f204b89fe3393388992

[2019-11-18 16:25] MrGeneration opened #2810 "Attachments of KB Answers don't get added to Elasticsearch"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

This was found by community user ``jma``: https://community.zammad.org/t/files-attached-to-knowledge-base-articles-wont-be-indexed/3458

### Expected behavior:

When adding indexable attachments (like ``.txt

[2019-11-18 17:52] #2796 closed, assigned to martini

[2019-11-18 17:56] #2808 closed, assigned to martini

[2019-11-19 08:07] #2809 closed, assigned to martini

[2019-11-19 11:29] JakubJachym opened #2811 "Zammad using remote ES stops local ES during update"
### Infos:

* Used Zammad version: 3.1.0-1574099652
* Installation method (source, package, ..): apt package
* Operating system: Ubuntu 18.04.3 LTS
* Database + version: Postgres 10.10
* Elasticsearch version: 5.6.0
* Browser + version: N/A

### Expected behavior:

* Using ES installed on remote server and performing update of Zammad, the update script should NOT disable local elasticsearch instan

[2019-11-19 11:42] MrGeneration commented on #2811
Sorry, but I believe that this is a mixture of enhancement request, existing issue (duplicate) and technical question (technical questions should live at the Community: https://community.zammad.org).

Just to sort it right before simply closing this issue:
* You're running a local graylog instance beside Zammad which uses the local ES
* You're running a second elasticsearch for Zammad on another n

[2019-11-19 11:50] JakubJachym commented on #2811
Hey!

I was using local ES for both Zammad and Graylog. A year ago (or so) I had to upgrade ES to 6.7, which was (at the time) not supported by Zammad. So I had to spin off another ES instance with legacy 5.x version on another server. So because of the incompatibility I had to use two ESs, one for Graylog, one for Zammad.

The issue is, that updating Zammad kills local ES instance which is not us

[2019-11-19 11:55] MrGeneration commented on #2811
I guess we suspect you to use Zammad as only application on the system.
Any way, understood your use case. :-)

Gladly you can migrate back to your local ES and even save ressources!
You might want to stick to `http://127.0.0.1:9200` at the moment, because of the above mentioned issue.

As I said, I like your approach and thus will update the other issue to hold your enhancement idea as well.

Tha

[2019-11-19 11:55] #2811 closed, assigned to MrGeneration

[2019-11-19 11:56] MrGeneration commented on #2400
As discussed in issue https://github.com/zammad/zammad/issues/2811 we should also simply not touch the local elasticsearch installation at all if we're sure we have an external elasticsearch server. :)

[2019-11-19 12:42] sstidl opened #2812 "Monitoring has fixed interval of 8 Minutes?"
Hi!

I am not sure, if this is intentional:
in monitoring-controller it seems to have a fixed 8 minutes check.
https://github.com/zammad/zammad/blob/1c63e966758f42ec101ffd8adb99606f1958fde4/app/controllers/monitoring_controller.rb#L81

we are getting `scheduler may not run (last execution of Stats.generate 38 minutes over) - please contact your system administrator` in the latest zammad-docker-com

[2019-11-19 13:15] rkaldung opened #2813 "Useless display of delete icon below note"
### Infos:

* Used Zammad version: develop
* Installation method: git
* Operating system: CentOS 7
* Database + version: PostgreSQL
* Elasticsearch version: ES 6
* Browser + version: Firefox 70

### Expected behavior:

* Only showing icons which can be used.

### Actual behavior:

* Icon which can't be used is shown.

### Steps to reproduce the behavior:

* Add a non public note and wait for more

[2019-11-19 13:17] MrGeneration commented on #2812
Sorry, but this seems to be a rather technical questions.
Please post technical questions over at the Community: https://community.zammad.org.

Closing now.

[2019-11-19 13:17] #2812 closed, assigned to nobody

[2019-11-19 13:18] MrGeneration commented on #2813
I agree, that's confusing.
Refreshing the WebApp does not solve this.

[2019-11-19 14:44] martini opened #2814 "Global search don't scale (was Serialized Elasticsearch search requests don't scale with new added models / indexes)"
### Infos:

* Used Zammad version: 3.2
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Have a fulltext search fast as it was in Zammad 1.x and Zammad 2.x

### Actual behavior:

* Since Zammad 3.x Zammad is seaching in 4 indexes in background (ticket, user, organizatio

[2019-11-19 17:06] ghitamati opened #2815 "Forwarding: only email text but customer email address, date and time are missing."
### Infos:

* Used Zammad version: 3.x
* Installation method (source, package, ..): source
* Operating system: linux centos 7
* Database + version: ---
* Elasticsearch version: ---
* Browser + version: Chrome + Firefox
* Ticket-ID: #1070545

### Expected behavior:

When forwarding a message in addition to the text of the original e-mail address, it is also necessary to indicate the customer's e-ma

[2019-11-19 17:14] MrGeneration commented on #2815
Please note that this is not a bug, but currently working as designed.
However, I'll keep it as enhancement.

Please refrain from posting feature requests to this repository and use the Community for this. :-)

[2019-11-20 07:01] rlue commented on #2778
Wait, I think I see it now! Are you talking about this error?

![Screenshot_20191120_150049](https://user-images.githubusercontent.com/12194123/69216210-988bd900-0ba6-11ea-994b-1b638fe123fb.png)

I ran across this error in the process of debugging another issue, so I'm not 100% sure I can reproduce it yet. But it seems to be what you're talking about?

[2019-11-20 07:12] martini commented on #2778
Yes.

[2019-11-20 08:48] marekmaurizio commented on #654
What if i need the port?

[2019-11-20 09:33] rlue commented on #2778
@MrGeneration I def. need more details to reproduce this error. Here are the steps I've taken, which **do not** lead to the described error:

1. Have sendmail configured on your system.
2. Start with a fresh install of Zammad.
3. Perform initial setup:
   1. enter a valid email address for the admin account;
   2. use sendmail for outgoing notifications; and
   3. **do not** configure an email add

[2019-11-20 09:52] lrjbrual opened #2816 "Assets Error"
### Infos:

* Used Zammad version:  Zammad version 3.1.x
* Installation method (source, package, ..): https://docs.zammad.org/en/latest/install-source.html#install-from-source-debian-7-8-ubuntu-16-04-ubuntu-18-04
* Operating system:  Ubuntu 18.04.3 (LTS) x64
* Database + version: postgresql pg', '~> 0.21.0
* Elasticsearch version: 5.0-5.5
* Browser + version: Chrome

### Expected behavior:

* The

[2019-11-20 09:55] MrGeneration commented on #2816
Sorry but this seems to be a rather technical question instead of a bug, plus, it's not clear what you've done.
Please open a thread over at the Zammad community (https://community.zammad.org) and also note what's so special about your installation.

This means:
We want logfiles and especially your webserver configurations, as you seem to have skipped steps or did something different.

Closing for

[2019-11-20 09:55] #2816 closed, assigned to nobody

[2019-11-20 11:35] #2645 closed, assigned to martini

[2019-11-20 14:55] martini commented on #2274
Note to reproduce it: It will only happen if ticket list is longer as one page.

[2019-11-20 14:55] #2274 closed, assigned to mantas

[2019-11-20 15:05] rkaldung commented on #2274
What? Not reproducible?

[2019-11-20 15:06] martini commented on #2274
Was just a typo, it's already corrected.

-> Not**e** to reproduce it: It will only happen if ticket list is longer as one page.

[2019-11-20 16:05] MrGeneration commented on #2778
Ha!
Now I tried to reproduce this again with an SMTP Server configured (for notifications and groups for trigger based notifications).

However, Zammad did not try to send a mail to the agent I created without a mail adress. Very odd, I'm not sure what happened in between. Maybe some temporary issue or a condition I don't think of right now.

Therefor I'll be closing this, sorry for the hassle!

[2019-11-20 16:05] #2778 closed, assigned to MrGeneration, rlue

[2019-11-20 17:36] tobecwb opened #2817 "How to contrib with translations?"
I already searched the documentation, but have not found any information on how I can contribute with translations.
I'm currently using Zammad in PT-BR (Portugues - Brazil), and the translation contains some problems.
Some sentences are in English, others are incorrectly translated, and many sentences are without spacing between words.
I know I can use the panel to translate, but if I do a new ins

[2019-11-20 18:56] tobecwb commented on #2817
oh, I see that I can upload translations!

[2019-11-20 18:56] #2817 closed, assigned to nobody

[2019-11-21 07:47] #2291 closed, assigned to martini

[2019-11-21 10:39] MrGeneration opened #2818 "TimeAccounting modal dialog input not focused"
### Infos:

* Used Zammad version: 3.2 (develop)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Verified on Firefox and Chrome latest, should affect them all

### Expected behavior:

When updating a ticket, the time accounting dialogue will appear.
You can write the time taken, press enter and the

[2019-11-21 13:18] #1559 closed

[2019-11-21 13:53] #2818 closed, assigned to martini

[2019-11-21 16:56] max-fidme opened #2819 "Number of total tickets in report - error"
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): package
* Operating system: ubuntu 14.04.6
* Browser + version: chrome 78

### Expected behavior:

* Number of total tickets in the report is display

### Actual behavior:

* Number of total  tickets is not display

![image](https://user-images.githubusercontent.com/58044382/69358917-f0e6d780-0c87-11ea-9d29-6d974ac

[2019-11-21 17:06] martini commented on #2819
It's fixed in upcoming Zammad 3.2. Which will be released soon (next weeks).

[2019-11-21 17:06] #2819 closed, assigned to nobody

[2019-11-21 17:16] adonno commented on #1106
Hiding the Dashboard could be useful also for us. I'll tag along since it is still an open issue and hope this will make it to prod one day

[2019-11-21 17:50] MrGeneration commented on #1106
I'll be locking this issue for now to reduce noise on it.
Please don't get me wrong, it's nothing against you!

We'll update this issue accordingly as soon as we have news to share.

[2019-11-22 12:41] martini commented on #2569
Is already fixed in 3.1 tree.

[2019-11-22 12:41] #2569 closed, assigned to martini

[2019-11-22 17:20] skhomyuk commented on #451
Any updates regarding counting of records?

[2019-11-23 17:19] savasadar commented on #2538
How to update table? I am new in postresql and linux, Could you say steps how to do that?

[2019-11-24 12:55] MrGeneration commented on #2538
@savasadar please don't recycle / hijack already closed issues.
As you're having a rather technical question, please consult the Zammad community for this: https://community.zammad.org

Limitting conversation to reduce noise on this repository.

[2019-11-24 13:04] MrGeneration commented on #451
There are news regarding this topic.
This is an enhancement that we will add, when we find time for it.

We're currently working hard on fixing bugs to improve Zammad further.

We'll update this issue accordingly, as soon as there are news for it.
I'm also limitting the conversation to reduce the noise as in `+1` and `any news??`.

Please don't get me wrong here, it helps us to focus.

[2019-11-25 09:33] martini opened #2821 "Unable to use fulltext search (elasticsearch issue "reason":"field expansion matches too many fields, limit: 1024, got: 1048")"
### Infos:

* Used Zammad version: 3.2
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: 7 or higher
* Browser + version: any

### Expected behavior:

* use fulltext search

### Actual behavior:

* no fulltext search result, but an elasticsearch error message in `log/production.log`: "reason":"field expansion matches too man

[2019-11-25 09:37] mantas commented on #2821
Is it triggered by too many custom attributes?

[2019-11-25 09:37] martini commented on #2821
Elasticsearch behavior beginning from ES7 has changed:

In order to make elasticsearch working again, add `indices.query.bool.max_clause_count: 2000` to `/etc/elasticsearch/elasticsearch.yml` and restart elasticsearch.

[2019-11-25 09:37] #2821 closed, assigned to martini

[2019-11-25 09:43] #2813 closed, assigned to martini

[2019-11-25 10:28] martini commented on #2821
Reference: https://github.com/elastic/elasticsearch/issues/37273

[2019-11-25 18:33] st31ny opened #2822 "LDAP user sync fails without uid"
### Infos:

* Used Zammad version: 3.1.0-1574099652.3f54835b.stretch
* Installation method (source, package, ..): Debian package
* Operating system: Debian stretch
* Database + version: postgresql 9.6+181+deb9u3
* Elasticsearch version: 7.4.2
* Browser + version: Firefox 68.2.0
* LDAP server: slapd 2.4.44+dfsg-5+deb9u3

### Expected behavior:

* All users synced to Zammad
* Roles are assigned to u

[2019-11-26 12:18] #542 closed

[2019-11-26 15:34] #2692 closed, assigned to martini

[2019-11-26 19:21] MrGeneration commented on #2400
Good news. I found a solution for this issue - it actually also solves this ugly error message during installation (e.g. when no ES is configured yet, it is reproducable if you have a current Zammad without `es_url` being set or containing anything).

[code]

Reason for the above is that Zammad / ruby returns more than one line which is being saved within the variable ``ES_CONNECTION``. Of course

[2019-11-27 07:16] thorsteneckel commented on #2400
Hi @MrGeneration - great catch! I'd like to more about the outputted lines you mentioned before jumping to a conclusion. What exactly are the lines stored in `ES_CONNECTION` that break the functionality?

[2019-11-27 08:08] MrGeneration commented on #2400
Hey Thorsten,

sorry, long day yesterday. :-D

This is a two phased issue. Some parts only affect you if your Zammad is logging to STDOUT.
Note: This is since Zammad 3.0 always the phase during installation, until we change it to log file at a certain point. I mean yes, moving it to somewhere else **sometimes** would help, but I've had different outputs on different systems...

Anyway, with STDOUT

[2019-11-27 08:11] thorsteneckel commented on #2400
Ah! Great! So the root issue we should solve is to not print that first line 🤔 Otherwise we would have to adjust the script again if there is another log line printed in the future. We need a dev to have a look. I try to fit it in my schedule but can't guarantee.

[2019-11-27 08:16] MrGeneration commented on #2400
Yes and no.
This is why I added `| tail -n 1` to the fetch of the variable.

I expect Zammad to return one or two magic lines, that's fine for me, but what I really expect after is that the LAST line is the commands output. So technically the above solution "does not care about the name of lines" :->

[2019-11-27 09:23] #2400 closed, assigned to monotek, MrGeneration

[2019-12-02 07:43] martini commented on #2754
I have live feedback from this issue, all works as expected only this `next` is not working to jump to next email:

https://github.com/zammad/zammad/blob/develop/app/models/channel/driver/imap.rb#L237

Knows somebody why? @rlue

[2019-12-02 16:37] MrGeneration commented on #2556
Sorry but I can't reproduce this.

Can you please run the following on a Zammad console?

[code]

The values that I'm especially interested in are:

* track_retweets
* and the output of Channel.where(area: 'Twitter::Account').pluck(:status_in, :status_out)

If you can't reproduce it anymore either, I'd be happy about this feedback as well. :)

[2019-12-02 22:23] rixx commented on #2556
Sorry, but I'm not looking to reproduce the experience – closing all those tickets was a bit of a hassle. Let's assume it was fixed, I guess.

[2019-12-02 22:23] #2556 closed, assigned to nobody

[2019-12-03 10:10] martini opened #2823 "Unable to open notifications (if chat is enabled)"
### Infos:

* Used Zammad version: 3.2.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* open notifications as expected

### Actual behavior:

* if chat is enabled, i'm unable to open notifications

[2019-12-03 10:54] mpibpc-mroose opened #2824 "Zammad doesn't work with Elasticsearch 7.5.x"
### Infos:

* Used Zammad version: 3.2.0-1575357814.e0ff35cb.bionic
* Installation method (source, package, ..): package
* Operating system: Ubuntu 18.04 LTS
* Elasticsearch version: 7.5

### Expected behavior:

* rebuild should finish without error

### Actual behavior:

[code]

### Steps to reproduce the behavior:

* for me this happens on two machines running Zammad.

Yes I'm sure this is a bug

[2019-12-03 11:02] MrGeneration commented on #2824
Is this a fresh install of Zammad and Elasticsearch?
Also, please be aware that Zammad 3.2 currently is still in develop (Beta) and not meant for production use - just in case.

[2019-12-03 11:29] mpibpc-mroose commented on #2824
It's not a fresh install. I'm using the package repository  https://dl.packager.io/srv/deb/zammad/zammad/stable/ubuntu 18.04 main
so I wonder how this could be a beta.

[2019-12-03 12:03] MrGeneration commented on #2824
Nevermind regarding the Zammad version, didn't notice it's on stable by now. Sorry for that.

I've been digging in elasticsearchs log. I noticed an extreme waiting time.
I suspected issues after upgrading (specially ES and postgreSQL service and so I rebootet).

After rebooting and trying the rebuild again, I found these cuties in elasticsearchs logfile:

[code]

This issue does seem to affect all

[2019-12-03 13:23] GhaziTriki opened #2825 "Failed to run background job #1 'SearchIndexJob'"
### Infos:

* Used Zammad version:3.2
* Installation method (source, package, ..): package
* Operating system: Ubuntu 18.04
* Database + version: PostgreSQL (Ubuntu 12.1-1.pgdg18.04+1)
* Elasticsearch version: 7.5.0
* Browser + version: FF Nightly 72.0a1 (2019-12-02) (64 bits)

### Expected behavior:

* Supervision health status should be green.

### Actual behavior:

* It currently shows `Failed

[2019-12-03 13:32] MrGeneration commented on #2825
Please rebuild your index and note issue #2824 as we currently can't support ES 7.5.

Upgrading to Zammad 3.2 requires an searchindex rebuild because of index changes.
See: https://zammad.com/news/release-3-2 (Technical remarks)

[2019-12-03 13:32] #2825 closed, assigned to nobody

[2019-12-03 13:37] GhaziTriki commented on #2825
The index does not rebuild

[code]

[2019-12-03 14:01] monotek commented on #2824
i guess we have to pin es to 7.4 in the docker build too:
https://github.com/zammad/zammad-docker/blob/master/scripts/install-zammad.sh#L34

Or is there a quick es 7.5 fix likely?

[2019-12-03 18:15] #2823 closed, assigned to martini

[2019-12-03 18:48] MrGeneration commented on #2825
Yes, the command should be: `zammad run rake searchindex:rebuild`

Sorry, that was a typo on the release news. :-(

[2019-12-03 20:45] martini commented on #2824
Fix is in CI now. @monotek

[2019-12-03 23:48] martini opened #2826 "Invalid stored Twitter credentials block migration"
### Infos:

* Used Zammad version: 3.2.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Unable to process db migrations/to upgrade to Zammad 3.2

### Actual behavior:

[code]

[2019-12-04 06:38] mawo66 commented on #2824
Is there any way to downgrade to elasticsearch 7.4.2 and keeping zammad's data (tickets, users, ...)?

[2019-12-04 07:36] MrGeneration commented on #2824
Uninstalling elasticsearch by breaking dependencies, removing indice directories and install new followed by a rebuild.

Please note that this is a rather technical question which should be asked on the community next time. :-)

[2019-12-04 08:25] mawo66 commented on #2824
Thank you very much, it is working again!

[2019-12-04 09:44] rlue commented on #2826
Good looking out, guys. Sorry for not catching this the first time around.

[2019-12-04 09:53] #2824 closed, assigned to martini

[2019-12-04 12:18] MrGeneration commented on #2819
I can't find the duplicate, can you please link it?

[2019-12-04 14:46] MamoulianDelacroix opened #2827 "Custome object - can’t update database"
If you try to create or modify a custome object and have some silly / wrong configuration, something like this:
![grafik](https://user-images.githubusercontent.com/4436931/70152214-1b378c80-16ad-11ea-87be-4ad58583564a.png)
You can’t make an database update. It simple does nothing in the webfront.
If you watch close the log file, you can find something like this:

E, [2019-12-04T14:33:42.208565 #19

[2019-12-04 15:41] georgeemr opened #2828 "Timeout downloading report"
### Infos:

* Used Zammad version: 3.1.x
* Installation method (source, package, ..): package
* Operating system: Ubuntu Server 18.04
* Database + version: Don't know
* Elasticsearch version: Don't know
* Browser + version: Chrome

When i download a reporte the following url is called:
/api/v1/reports/sets?sheet=true;metric=count;year=2019;month=11;week=49;day=4;timeRange=month;profile_id=1;downlo

[2019-12-05 01:27] georgeemr commented on #2828
I update to 3.2 and seems to work.

[2019-12-05 01:27] #2828 closed, assigned to nobody

[2019-12-05 08:46] cyberrranger commented on #2595
next try with a new install of Version 3.2.0 (https://github.com/zammad/zammad-docker-compose), with no data, and one user (me).

https://URL-ZAMMAD/#settings/security

i have active "Automatic account link on initial logon" yes
Authentication via Gitlab ON
App ID and App Secret
Site https://URL-GITLAB/api/v4/

on https://ticket2.saas.de/#profile/linked i select "Gitlab Add"

now I was forwarded o

[2019-12-05 08:49] cyberrranger commented on #2595
Update:

on my gitlab installation i cant find any log entries on this moment

[2019-12-05 09:46] BertrandGouny commented on #2826
hello,
i had this error, it seems to be linked to the fix
[code]

[2019-12-05 09:48] thorsteneckel commented on #2826
Thanks @BertrandGouny for reporting this! Working on a fix 🚀

[2019-12-05 10:30] thorsteneckel commented on #2595
Hi @cyberrranger - this looks like an Zammad / Rails internal issue. I see a message stating `ActionController::InvalidAuthenticityToken` in your logs which checks the CSRF token (IIRC). This can have multiple roots but none are related to this issue here. Would you mind creating a topic over at the [community board](http://community.zammad.org/) and mention me? Please include a screenshot of the

[2019-12-05 10:31] Hermut opened #2829 "CSRF token verification failed"
### Infos:

* Used Zammad version: 3.2
* Installation method (source, package, ..): YUM
* Operating system: Centos 7
* Database + version:
* Elasticsearch version:
* Browser + version:

### Expected behavior:

Upgraded to Zammad 3.2. and I get error message csrf token verification failed. Cannot log in. Newer before seen this error message.

### Actual behavior:

Cannot log in. Linux setup is stay

[2019-12-05 10:34] MrGeneration commented on #2829
Sorry, but this is technically not a bug, but a technical question.
This has to do with your webserver configuration.

Please see the following community thread:
https://community.zammad.org/t/fresh-install-3-2-x-csrf-token-verification-failed/3080

Closing now.

[2019-12-05 14:06] #2826 closed, assigned to thorsteneckel

[2019-12-05 14:06] thorsteneckel commented on #2826
Hi @BertrandGouny - please try again with latest stable.

[2019-12-05 17:11] gabrielbaldao commented on #2793
Can I try fix this bug?

[2019-12-05 17:19] MrGeneration commented on #2793
Yes of course, every help to bring Zammad forward is appreciated! :)

[2019-12-05 18:13] thorsteneckel commented on #2793
@gabrielbaldao - let us know whenever questions arise or you get stuck. Happy hacking ⌨️

[2019-12-05 18:21] BertrandGouny commented on #2826
@thorsteneckel no error with the new fix, thanks :)

[2019-12-05 19:07] gabrielbaldao commented on #2793
@thorsteneckel  I appreciate it, maybe i'll need some help with my setup, i was having unexpected errors, and I have some comments, like, this project already use ruby-2.5.5 but in the documentation is declared 2.4.4 version, right? you don't have docker file?

[2019-12-05 19:15] MrGeneration commented on #2793
Doh! Sorry the docs are outdated here!

ruby 2.5.5 is correct, so everything that says "2.4.4" wants to say "2.5.5" - sorry for the confusion! Will fix that when I'm back!

If needed, you can find docker-based Zammads here:

https://docs.zammad.org/en/latest/install-docker-compose.html (as compose, retains data)
if you're good with loosing data, you can use the single container:
https://docs.zamma

[2019-12-05 19:16] gabrielbaldao commented on #2793
will be great,thans, i think  in the readme the link to docker is broken.

[2019-12-06 11:31] obbana2 commented on #1993
in files:
/etc/systemd/system/zammad-websocket-1.service
/etc/systemd/system/zammad-web-1.service
/etc/systemd/system/zammad-worker-1.service

add:
Environment=http_proxy=http://127.0.0.1:8080
Environment=https_proxy=http://127.0.0.1:8080

and:
systemctl daemon-reload
systemctl restart zammad

[2019-12-06 11:49] hatscher commented on #220
Any news about "S/MIME communication" ?

[2019-12-06 11:59] mmojadad commented on #1993
@mmojadad obbana2
Thank you. I tested, Not working for me. Bad news is in my area only Mtproto proxies working now. Do you have any solution, Howto enable Mtproto proxy on Zammad? Only need to effect on telegram bot connection in Zammad.

[2019-12-06 12:17] monotek commented on #220
If you have to ask, please at least use the right place: https://github.com/zammad/zammad/issues/1961

[2019-12-06 12:53] obbana2 commented on #1993
mtproto will not work, since there is an HTTP client, and not a full-fledged Telegram.
The best solution is a VPN, and through IPTABLES, send outgoing telegram traffic through it.
Then nothing will break even if zammad is updated.
Still - a good solution, use stunnel, it will forward one port.
You can also use the ssh tunnel, but it can break, you need to somehow make it a service.

[2019-12-06 12:55] obbana2 commented on #1993
/etc/hosts
127.0.0.1 api.telegram.org
and
ssh -L 127.0.0.1:443:ip_telegram:443

[2019-12-06 13:03] obbana2 commented on #1993
By the way, incoming webhooks are also blocked by the provider.
Therefore, this issue also needs to be resolved.
I did so edit
/opt/zammad/lib/telegram.rb

you need to bring the string to mind.
callback_url = "#{Setting.get('http_type')}://<YOUR_EXTERNAL_DOMAIN>/api/v1/channels_telegram_webhook/#{callback_token}?bid=#{bot['id']}"

And on the domain make proxy_pass on your domain.

[2019-12-06 13:04] obbana2 commented on #1993
Sorry for my english =)

[2019-12-06 13:25] mmojadad commented on #1993
@obbana2 Thank you again. My Zammad is hosted on a Windows Dedicated Server via Hyper-V.
I don't know if or how its possible to enable VPN on my zammad . I also already have a OpenVPN account.
Sorry for my English too ;)

[2019-12-06 19:12] gabrielbaldao commented on #2793
Guys, i am having some prblems, like, when i execute `bin/setup` i get this error:
[code]
And some friend did the same thing in your machine and this not happened, you knows what can be?

[2019-12-06 20:17] MrGeneration commented on #220
Sorry, because of missing feedback in the last months I'm limitting this issue to contributors only.
This is to reduce noise and helps us to concentrade on the issues.

If we have any updates on this, we'll update this issue accordingly.

[2019-12-07 19:16] thorsteneckel commented on #2793
Hey @gabrielbaldao - unfortunately I can't reproduce this issue either on my local develop machine. However, we're currently using a custom script to setup our dev environment which does basically the same. You can run `script/bootstrap.sh`.

Would you mind creating a topic over at the [community board](http://community.zammad.org/) for questions arising? This will help other community members tha

[2019-12-08 09:47] heini23 opened #2830 "Bug - New Overview doesnt work"
## Infos:
We use the cloud version on zammad.com.

### Expected behavior:
We try to configurate an extra overview for spam mails. At the management panel I created a new overview with the name “spam” , made it visible for agents, and selected the conditions as shown in the screenshot.
When I create the new overview, it shows right in the management panel which mails will be in this overview. (I lo

[2019-12-08 11:09] thorsteneckel commented on #2830
Hi @heini23 - glad you like the feature :) Would you mind writing an email to support at zammad dot com so that we can figure things out and have a look at your system? Our experts ( @MrGeneration and @KoJie ) will be ready to help. Closing this one now.

[2019-12-08 11:09] #2830 closed, assigned to nobody

[2019-12-09 09:52] marBote opened #2831 "import ticket, update time lost"
zammad 3.2
zammad migrator 6.0.3
after import tickets from OTRS, the update time from original ticket lost. All over the ticket update time ist changed to the import time.

second problem, the imported tickets lost the email channel, so i can't reply per email on old (imported) tickets.

![zammad](https://user-images.githubusercontent.com/58686404/70425736-01fa5b80-1a72-11ea-9cac-3eaacc7811fe.jpg)

[2019-12-09 09:57] MrGeneration commented on #2831
Please update your first article to contain our issue template accordingly, other wise I'll need to close this issue without further check of the issue.

[2019-12-09 11:05] maxper75 opened #2832 "Allow create ticket only by existing customer"
Hi,
my company uses zammad as a support ticketing system, that seems to be a goot UC.
This is nice, up til the moment in which we use the inbound email feature, where even with 30 and more filters, when a spam email comes in a ticket gets generated (this will be matter for another issue). The best would be to let only an existing customer email be converted in a ticket. This way we can generate th

[2019-12-09 11:07] MrGeneration commented on #2832
Sorry but this sounds rather like a technical question or enhancement request.
Those kind of posts are better for the Zammad Community (https://community.zammad.org) instead of this repository.

Please use the community. This helps you to find dedicated help and us to keep an proper overview. :-)

Closing now.

[2019-12-09 11:07] #2832 closed, assigned to nobody

[2019-12-09 11:14] maxper75 opened #2833 "Filters using less than and greater than"
Hello,
as before, I open this as I think it is a bug:
I use actually spamassassin as a spam filter, this produces  headers
X-Spam-Flag: NO
X-Spam-Score: 4.705
X-Spam-Level: ****
The first one is unreliable because of our settings (it gets yes past a score of 5) but we'd like to let all the emails over score of 2 as ignored mails by zammad.
We tried with a filter like
X-Spam-Level  [ contains ] **

[2019-12-09 11:22] MrGeneration commented on #2833
Sorry but this is rather a technical question and feature request.
Please post such things over at our community, as this is not a bug.

Also `*` are most often wildcard indicators which might work in unexpected ways. Especially in postmaster filters, as these are capable of regular expressions.

This works as designed.

[2019-12-09 11:22] #2833 closed, assigned to nobody

[2019-12-09 14:04] GhaziTriki commented on #2825
I've done that command but the health service is still down. Any help?

[2019-12-09 14:06] MrGeneration commented on #2825
@GhaziTriki please create a thread over at the Zammad Community: https://community.zammad.org

Github is not the right place for technical questions.

[2019-12-09 14:09] thorsteneckel opened #2834 "Unclear meaning of "Public-Menu" tab in KB admin"
### Infos:

* Used Zammad version: 3.2.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

The "Public-Menu" tab in Knowledge Base admin view should contain a short explanation text on what the public menu is (for):

![image](https://user-images.githubusercontent.com/3873

[2019-12-09 14:37] thorsteneckel opened #2835 "Auto-save functionality for knwoledge base answers"
### Infos:

* Used Zammad version: 3.2.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

When creating or editing a Knowledge Base Answer it should be automatically saved to prevent data loss. This should behave the same on per user base as for Ticket Articles.

The dra

[2019-12-09 14:43] thorsteneckel opened #2836 "History for Knowledge Base Answer"
### Infos:

* Used Zammad version: 3.2.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

It should be possible to reason about the history of a Knowledge Base Answer. The creation and update times of each attribute and its values should be logged as it is done for ticke

[2019-12-09 14:49] thorsteneckel opened #2837 "`??`-Knowledge Base Answer search keyboard shortcut is not listed"
### Infos:

* Used Zammad version: 3.2.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

The keyboard shortcut overview lists all shortcuts available in Zammad.

### Actual behavior:

The keyboard shortcut overview does not contain the `??` Knowledge Base Answer search

[2019-12-09 15:05] thorsteneckel opened #2838 "Translating KB Answers is cumbersome"
### Infos:

* Used Zammad version: 3.2.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* T#1083857

### Expected behavior:

As an Agent whose task it is to translate Knowledge Base Answer answers I want to be able to:

* have a look into the primary language Answer, to keep track on what to d

[2019-12-09 15:16] thorsteneckel opened #2839 "Search KB Answers by category"
### Infos:

* Used Zammad version: 3.2.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

As an Agent or Customer I want to be able to search Knowledge Base Answers by the name of their parent categories. This should apply to the global search and the `??` inline search.

[2019-12-09 15:22] thorsteneckel opened #2840 "Show other active Agents in KB Answer edit view (collision prevention)"
### Infos:

* Used Zammad version: 3.2.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

As an Agent in the Knowledge Base Answer edit view I want to be able to see:

* which other Agents are currently viewing the Knowledge Base Answer
* which other Agents are currently

[2019-12-09 15:36] thorsteneckel opened #2841 "Create KB Answer from Ticket"
### Infos:

* Used Zammad version: 3.2.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

As an Agent I want to create a Knowledge Base Answer from a Ticket Article.

### Actual behavior:

Some requests cause tickets again and again. Text modules help to handle them quic

[2019-12-09 15:54] thorsteneckel opened #2842 "Show linked public KB Answers to Customers in Ticket view"
### Infos:

* Used Zammad version: 3.2.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

As a Customer I want to be able to see linked Knowledge Base Answers in the Ticket view.

As an Admin (or Agent) I don't want to give customer access to internal KB

Linked KB answe

[2019-12-09 16:01] thorsteneckel opened #2843 "User loses orientation in public KB"
### Infos:

* Used Zammad version: 3.2.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

As an unauthenticated User I can navigate through the public Knowledge Base without losing orientation.

### Actual behavior:

As an unauthenticated User I can easily get lost in a

[2019-12-09 16:08] thorsteneckel opened #2844 "Per language Attachments for KB Answers translations"
### Infos:

* Used Zammad version: 3.2.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

As an Agent I want to be able to provide different Attachments for different Knowledge Base Answer translations (e.g. Screenshots, PDF manuals etc.).

### Actual behavior:

Attachme

[2019-12-09 16:28] thorsteneckel opened #2845 "Depublish date for KB Answers"
### Infos:

* Used Zammad version: 3.2.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

As an Agent I want to be able to set a depublish date for a Knowledge Base Answer. Once the depublish date is reached the Answer should transit to the internal state.

### Actual be

[2019-12-09 16:41] thorsteneckel opened #2846 "Number identifier for KB Answer"
### Infos:

* Used Zammad version: 3.2.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

As an Agent I want to be able to provide a Customer on the the Phone a Number to a specific Knowledge Base Answer.

### Actual behavior:

As an Agent it is cumbersome to lead a Cust

[2019-12-09 16:47] thorsteneckel opened #2847 "Custom page layout for public KB"
### Infos:

* Used Zammad version: 3.2.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

As an Administrator I want to define a custom page layout for the public Knowledge Base.

### Actual behavior:

The public Knowledge Base layout is hard coded into template files th

[2019-12-09 16:55] thorsteneckel opened #2848 "Show age (indicator) for public KB Answers"
### Infos:

* Used Zammad version: 3.2.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

As an unauthenticated User I want to be assess the relevance and informative value of a public Knowledge Base Answer by its date. Old Knowledge Base Answers might be outdated.

###

[2019-12-09 17:00] thorsteneckel opened #2849 "Optional icon selection for KB Answers and Categories"
### Infos:

* Used Zammad version: 3.2.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

As an Agent I want to decide wether to chose an Icon or not when creating an Knowledge Base Answer or Category.

### Actual behavior:

As an Agent I'm required to select an icon whe

[2019-12-09 17:05] thorsteneckel opened #2850 "Upload custom icon set for KB"
### Infos:

* Used Zammad version: 3.2.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

As an Administrator I want to upload a custom icon set to be available for a the Knowledge Base.

### Actual behavior:

As an Administrator I'm able to chose between a list of pre d

[2019-12-10 07:57] alexdonskih opened #2851 "Wrong user is used when "X-On-Behalf-Of” header value is an email that starts with digits"
### Infos:

* Used Zammad version: 3.2.x
* Installation method (source, package, ..): Install on Ubuntu via DEB
* Operating system: Ubuntu 16.04 LTS
* Database + version: PostgreSQL 9.5.19
* Elasticsearch version: 5.6.16
* Browser + version: Chrome 78.0.3904.108

I’m getting a wrong user information when running a request via rest API using “X-On-Behalf-Of” header:
```curl -H "Authorization: Token

[2019-12-10 14:55] thorsteneckel commented on #2613
As discussed with @MrGeneration : We won't provide authentication for the public Knowledge Base. Instead use the Roles functionality (will be enhanced with: #2603) or prefer Webserver based authentication.

[2019-12-10 14:55] #2613 closed, assigned to nobody

[2019-12-10 17:12] MrGeneration opened #2852 "Default Priority on ticket creation not changeable"
### Infos:

* Used Zammad version: 3.2 and earlier
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Tested on latest Google Chrome, should affect all Browsers.
* Ticket-ID: #1060080 (1079119) , #1067995, #1093374
* Indirectly assiociated with: https://github.com/zammad/zammad/issues/728

### Expecte

[2019-12-11 08:34] MrGeneration opened #2853 "Deletion of notes impossible if internal and communication = true"
### Infos:

* Used Zammad version: 3.2
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any (tested and verified on Chrome)
* Ticket-ID (original issue): #1060109
* Ticket-ID (regression affected users): #1080817

### Expected behavior:

When changing notes to `communication: true`, you still can de

[2019-12-11 08:46] MrGeneration opened #2854 "Changing article type to SMS is not possible (without reply to a customers SMS)"
### Infos:

* Used Zammad version: 3.2
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

When reacting to a customer ticket, you can change the article type to SMS to send the customer of your choice an SMS as reply.

Zammad will ensure that the customer has actually a va

[2019-12-11 18:24] frankBahlsen opened #2855 "Zammad E-Mails having the attachment tag in Outlook 365 even when having now attachment"
### Infos:

* Used Zammad version: 2.9.x
* Installation method (source, package, ..): Docker
* Operating system: Debian
* Database + version: -
* Elasticsearch version: -
* Browser + version: -

### Expected behavior:

*  When I open Outlook 365 to review the E-Mails send via Zammad, I expect them, to have no attachment-tag, besides they really have an attachment.

### Actual behavior:

* When I o

[2019-12-11 18:40] MrGeneration commented on #2855
I'm not sure if this is really a bug or rather a third party issue.
The mails itself do not contain any information about attachments, so what should be enhanced?

I guess you're talking about these:
![image](https://user-images.githubusercontent.com/6549061/70649769-15fab480-1c4e-11ea-9e9d-0af7b9392aa2.png)

[2019-12-11 18:42] MrGeneration commented on #2831
I haven't received any feedback as of now and will close the issue.
Please ping me if you updated the issue.

[2019-12-11 18:42] #2831 closed, assigned to nobody

[2019-12-12 16:49] gvigneron opened #2856 "Postmasterfilter | Trigger | Scheduler can't set value to a custom field"
### Infos:

* Used Zammad version: 3.1.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Postmaster filer | Trigger | Scheduler should be able to set a custom field value of a ticket

### Actual behavior:

* Postmaster filer | Trigger | Scheduler are enable to set a c

[2019-12-12 21:17] jeyanthan88 opened #2857 "Issue with search user API"
### Issue with search user API:

* The search user API returns empty response instead of desired output:

### API call:

* https://zammadurl/api/v1/users/search?query=mobile:9999999999
GET
Basic Auth with username and password

### Current bug behavior:

* 200 OK []
Empty response

### Steps to reproduce the behavior:

* Make an API call to search a user with a query and the response given is empt

[2019-12-12 21:34] jeyanthan88 commented on #2857
https://zammadurl/api/v1/users?phone=9999999999

This API call works fine though.

[2019-12-12 22:43] MrGeneration commented on #2857
Sorry, but this rather looks and sounds like a technical question.
Please note that this repository is for bugs only, please create a thread over at the Zammad Communtiy https://community.zammad.org - it's the better place. :-)

Thanks for your understanding, closing.

[2019-12-12 22:43] #2857 closed, assigned to nobody

[2019-12-13 04:31] jeyanthan88 commented on #2857
The same API calls returns results on 3.1.0
Upgrading to 3.2.0 has made this API call return empty result and hence tagged as a bug.
Other API calls on organizations, tickets and even list all users are working fine.

[2019-12-13 06:51] jeyanthan88 commented on #2857
Seems to work fine now after a rebuild of elasticsearch index.

[2019-12-13 08:05] t3easy opened #2858 "Searching unser in email reply not working anymore in 3.2"
### Infos:

* Used Zammad version: 3.2
* Installation method (source, package, ..): docker-compose
* Operating system: zammad/zammad-docker-compose:zammad-3.2.0-6
* Database + version: zammad/zammad-docker-compose:zammad-postgresql-3.2.0-6
* Elasticsearch version: zammad/zammad-docker-compose:zammad-elasticsearch-3.2.0-6
* Browser + version: Firefox 72

### Expected behavior:

* Searching in mail

[2019-12-13 09:17] MrGeneration commented on #2858
Sorry,

but this sounds rather like a technical question - please consult the Zammad community for technical questions: https://community.zammad.org

Most proberbly your searchindex is broken and needs a reindex (mandatory with upgrading to 3.2).

Closing now.

[2019-12-13 09:17] #2858 closed, assigned to nobody

[2019-12-13 11:28] blizzz commented on #656
I accidentally triggered the "update as closed" function several times when I only wanted to copy text. Ctrl+Shift+C is copying on terminal. Of course I am in the browser now, yet muscle memory comes into play.

[2019-12-13 13:01] KoJie opened #2860 ""Enter answer" textual change"
### Infos:

* Used Zammad version: 3.2.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

As already defined in issue https://github.com/zammad/zammad/issues/372, the text "enter answer or select attachment" leads to confusion.

![image](https://user-images.githubusercontent.com/22768032/708020

[2019-12-16 14:40] 0xphk commented on #2468
Hello, the problem is still existent in Zammad v3.1.0/v3.2.0

My colleague wrote a patch for Zammad 3.1 to address/fix this issue. As I don't have the code on my github, I can not send a pull request. Hope it's ok to attach it here, maybe you want to use it as a proposed fix.

No diff attachment allowed, so it's zipped.

[search_index_backend.rb.zip](https://github.com/zammad/zammad/files/3968524/

[2019-12-16 18:55] MrGeneration opened #2864 "Prioritize LDAP synchronization over Exchange synchronization"
### Infos:

* Used Zammad version: 3.2
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket#10105096

### Notes:

* This enhancement came via the community: https://community.zammad.org/t/synchronize-users-via-ldap-and-than-exchange/3601
* This enhancement affects the synchronization if bot

[2019-12-16 19:00] MrGeneration commented on #2641
As discussed earlier, I can still reproduce the above described behaviour.
I am not able to manually define color values.

Tested on:
* Google Chrome 79.0.3945.79
* Firefox 71.0
* MS Edge 44.18362.449.0

[2019-12-16 19:02] mantas commented on #2641
@MrGeneration this is sitting in MR queue for ages waiting for feedback for @mrflix :|

[2019-12-16 21:15] gohai opened #2865 "JavaScript error in #ticket/view/all_tickets in 3.2 (Cannot set property 'orientation' of undefined)"
### Infos:

* Used Zammad version: *3.2*
* Installation method (source, package, ..): *CentOS package*
* Operating system: *Amazon Linux (CentOS-based)*
* Database + version: *PostgreSQL 9.2.24*
* Elasticsearch version: *7.5.0*
* Browser + version: *Chrome 79*

### Expected behavior:

* Ticket view works as expected

### Actual behavior:

* Ticket view is dysfunctional, following error printed in

[2019-12-16 21:46] gohai commented on #2865
When I compare the data being sent by the XHR from a vanilla 3.2 install, versus after importing my database from 3.1, I am seeing:

* __no mention__ of `pending_time` in 3.2 XHR data
* `pending_time` set to `NULL` in imported 3.1 XHR data

[2019-12-16 22:25] gspfranc opened #2866 "G Suite accounts will only allow access to apps using OAuth. Password-based access will no longer be supported."
### Infos:

* Used Zammad version: git ref cccec58c2e327e113ff558d67c0d8777735882a5
* Installation method (source, package, ..): source
* Operating system: Ubuntu 18.04

### Expected behavior:
* Fetch all e-mails from Gsuite e-mail account using OAUTH2

### Actual behavior:
* Can’t authenticate IMAP using OAUTH2

We received today the following email from Google. They will shutdown the user/passwo

[2019-12-17 03:53] #2865 closed, assigned to nobody

[2019-12-17 08:47] #2754 closed, assigned to rlue

[2019-12-17 10:37] MrGeneration commented on #2866
Right now using app passwords should work and buy us some time until June 2020 where new Users will no longer be able to use these methods.

At least that's what I understand.
Thanks for the heads up!

Link to how to use app passwords (right now known working workaround):
https://admin-docs.zammad.org/en/latest/channels/email/accounts/2fa-gmail.html

---

Info for devs:

* API oAuth2 reference: ht

[2019-12-17 11:05] t3easy commented on #2858
Then the [docker-entrypoint](https://github.com/zammad/zammad-docker-compose/blob/master/containers/zammad/docker-entrypoint.sh#L101-L104) should be adapted. I fill a report over there and refere to this.

[2019-12-17 11:09] MrGeneration commented on #2858
Please open a issue in the docker-compose repo at https://github.com/zammad/zammad-docker-compose

It's possible that this action has not been run in between the update. Please run it manually. If it still does not work, please open a issue at the right repo.

[2019-12-17 15:03] #2715 closed, assigned to rlue

[2019-12-17 15:07] SalocinHB commented on #2715
@thorsteneckel your commit only mentions the broken DM links, not the status links. Are those fixed in the same commit or should I reopen this issue?

[2019-12-17 15:09] thorsteneckel commented on #2715
Hi @SalocinHB - IDK why but GitHub hasn't referenced the second commit from the same change: https://github.com/zammad/zammad/commit/147cbc29b808e6849c759c675ba2747b2689a0b5

Those two cover the DMs and Status updates dedicatedly.

[2019-12-17 16:16] thorsteneckel opened #2867 "KB Links should be able to be displayed in the header and footer of the public KB"
### Infos:

* Used Zammad version: 3.2.x
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* As an Administrator I want to be able to chose between header and footer placement when adding links

![image](https://user-images.githubusercontent.com/3873515/71013382-e7b72200-

[2019-12-17 22:08] gspfranc commented on #2866
Useful Google api ruby API for reference: https://github.com/googleapis/google-api-ruby-client

[2019-12-18 07:03] martini commented on #2866
JFI: We already have an branch ready to use the Google API for fetching and sending mail. An update to this issue will come soon.

[2019-12-18 12:49] MrGeneration commented on #2829
In the mean time it has shown that I was incorrect about the technical question partly.
I am sorry for that.

I'm reopening this issue and will use it for referencing as soon as I finished the  configuration QA.
The configuration will be helping other users to see what kind of configuration they'll need, apart from the docker container.

Again, sorry for the fuss.

[2019-12-18 17:06] make-suffer opened #2870 "Telegram integration not working"
### Infos:

* Used Zammad version: 3.2.0
* Installation method (source, package, ..): package
* Operating system: Ubuntu 18.04

### Expected behavior:

* When you send telegram message to bot, you get a greeting and can create task, reply to this message in web interface.

### Actual behavior:

* Telegram can't get to webhook due to an error(in my understanding):
[code]
When i'm trying to tesh thi

[2019-12-18 17:08] MrGeneration commented on #2870
Sorry for asking, but why aren't you testing this with Telegram as intended?
My Telegram integration works, I'm not sure if this is really a bug or rather a technical question which is why I won't tag it yet.

I'm just trying to understand what you're trying to do.

Maybe also the complete payload helps (without personal information like API Keys please :) )

[2019-12-18 17:19] make-suffer commented on #2870
I also tested it through telegram, the info is in the attached screenshot.
Here's the response in text format, maybe it would be more convenient:
{"ok":true,"result":{"url":"https://helpdesk.connectome.ai/api/v1/channels_telegram_webhook/XXXXXXXXXXXX?bid=xxxxxxx","has_custom_certificate":false,"pending_update_count":63,"last_error_date":1576689396,"last_error_message":"Connection timed out","max_c

[2019-12-18 17:26] MrGeneration commented on #2870
Please call
`https://api.telegram.org/bot{API-TOKEN-BOT}/getWebhookInfo`
with your API-Token and check the response. Might be an issue in the configuration.

Connection timed out usually is a sign for something blocking.
Ensure your Zammad installation can be reached from the outside and there's no "strange filtering" from an inteligent firewall or so.

[2019-12-18 17:51] make-suffer commented on #2870
That's the info in the screenshot and attached text.

I'm kinda figuring it out, cause we used some telegram bots in our workflow, but all of them used getUpdatesmethod instead of webhook.

Yeah, I'm starting to think it can be our government shenanigans with telegram, that's the root cause of this, thanks for quick reply, we'll try to figure something out.

[2019-12-18 18:12] #2870 closed, assigned to nobody

[2019-12-19 09:00] Lillecarl opened #2871 "No search in "to" or "cc" input fields"
### Infos:

* Used Zammad version:
3.2.X
* Installation method (source, package, ..):
package
* Operating system:
Ubuntu 18.04.3 LTS
* Database + version:
psql (PostgreSQL) 10.10 (Ubuntu 10.10-0ubuntu0.18.04.1)
* Elasticsearch version:
Version: 7.5.1, Build: default/deb/3ae9ac9a93c95bd0cdc054951cf95d88e1e18d96/2019-12-16T22:57:37.835892Z, JVM: 13.0.1
* Browser + version:
Firefox 71.0 (64 bit)
Goog

[2019-12-19 09:04] MrGeneration commented on #2871
Sorry but this is a technical questions.
**Please do not post technical questions on this github repository!**

The Zammad Community is the perfect place for technical questions.
Please simply rebuild your searchindex like advised in the release notes, this step is required with upgrading to Zammad 3.2.

For more information please see:
* https://community.zammad.org/t/zammad-3-2-is-available/3656

[2019-12-19 09:04] #2871 closed, assigned to nobody

[2019-12-19 09:20] Lillecarl commented on #2871
It's most certainly a bug that the package manager neither mentions this during upgrade or zammad running the required command after detecting an upgrade. Thanks for the quick response anyhow.

In case anyone else finds this issue, the command required to run is:
`zammad run rake searchindex:rebuild`

[2019-12-19 09:23] MrGeneration commented on #2871
Before this gets an misunderstanding:
This is required once and not the usual case for upgrading Zammad which is why there's no specific information on this.

However, we're already discussing a option to notify the admin about this being mandatory because of an upgrade.

[2019-12-19 09:46] Lillecarl commented on #2871
Thanks for the clarification 😄

[2019-12-20 10:59] niddu85 commented on #2472
Good afternoon,
i have the same situation above; is there any way to do not notify customers for "internal" updates but only agents?

my triggers configuration is mostly the same as mentioned by intl808 and the "public" trigger sends email to customer even if an agent publishes an "internal" note

[2019-12-20 11:07] MrGeneration commented on #2472
@niddu85 sorry but that's mainly a technical question. Please don't hijack Github issues for that.
It would be amazing if you'd post your technical question on the Zammad Community which is perfect for this need: https://community.zammad.org

Thank you! :)

[2019-12-20 14:00] fthommen opened #2872 "No list of matching customers expanded from To and Cc fields any more (since Zammad 3.2.x)"
### Infos:

* Used Zammad version: 3.2.0-1576685654.40972b3f
* Installation method (source, package, ..): apt-get from Debian Repo
* Operating system: Debian 8.11
* Database + version: MariaDB 10.0.38-0+deb8u1
* Elasticsearch version: 5.6.16
* Browser + version: Google Chrome 78.0.3904.108 and Firefox 60.8.0esr on CentOS 7.7, Firefox 71.0 and Safari 13.0.3 on mac OS

### Expected behavior:

When s

[2019-12-20 14:04] MrGeneration commented on #2872
Please also see:
https://github.com/zammad/zammad/issues?q=is%3Aissue+is%3Aclosed

You need to rebuild your searchindex.
This is mandatory with upgrading to 3.2 as communicated on our news. :-)

Closing now.

[2019-12-20 14:12] fthommen commented on #2872
What news?  We get Zammad updates through ``apt-get dist-upgrade``.  I am _quite_ sure, there wasn't any notice on a required searchindex rebuild.  On the other hand: Couldn't the installer do this automatically? That would be much more admin-friendly :-)

[2019-12-20 15:35] martini opened #2873 "Tweet which is containing * will not send out, Twitter::Error::Unauthorized: Could not authenticate you."
### Infos:

* Used Zammad version: 3.1
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1057182

### Expected behavior:

* reply to an tweet in Zammad with `*` as content should sent out the tweet

### Actual behavior:

* reply to an tweet in Zammad with `*` will lead to an Twitter

[2019-12-20 15:36] martini commented on #2873
Issue is caused by https://github.com/sferik/twitter/issues/677

[2019-12-20 15:52] MrGeneration commented on #2872
This is actually not implemented or technically possible at the moment.
This would be a feature request for the community. ;)

[2019-12-20 15:53] #2872 closed, assigned to nobody

[2019-12-21 20:55] Perflyst opened #2874 "postgresql pg gem is broken and cant be installed"
### Infos:

* Installation method (source, package, ..): Latest zip from website

### Expected behavior:

* pg gem install successful

### Actual behavior:

* pg gem not installable

### Steps to reproduce the behavior:

* install debian 10
* download latest zip
* install ruby 2.5.5 via rvm
* run `bundle install --without test development mysql`

Yes I'm sure this is a bug and no feature request o

[2019-12-21 21:01] Perflyst commented on #2874
My fault, did not found mkmf.log because it was stored one dir higher (../). `apt install libpq-dev` fixed it

[2019-12-21 21:01] #2874 closed, assigned to nobody

[2019-12-23 06:37] MamoulianDelacroix opened #2876 "Can't reference/relation variables in link template for object attributes"
### Infos:
*This issue has been updated/edited by @MrGeneration to meet our requirements. This issue originally was found in this Community-Thread: https://community.zammad.org/t/problem-variables/3676*

* Used Zammad version: 3.2
* Installation method (source, package, ..): package
* Operating system: Ubuntu 18.04
* Database + version: any
* Elasticsearch version: any
* Browser + version: Firefox

[2019-12-23 08:35] martini commented on #2873
Since it's a third party issue we applied an workaround until the third party issue is fixed.

[2019-12-23 08:35] #2873 closed, assigned to martini

[2019-12-23 11:11] #2860 closed, assigned to martini

[2019-12-26 06:56] MilojeR commented on #2782
Hello,

Is there any update regarding this issue? When do we expect resolution?

[2019-12-26 20:54] MrGeneration commented on #2782
Sorry, this doesn't have any news yet.
We'll update this issue accordingly as soon as it moves into any direction.

Also, please note that we cannot provide any ETAs for features or bug solvings.

[2019-12-27 14:12] mantas commented on #2689
@KoJie looks like it was solved at some point. I cannot reproduce it anymore. Could confirm if it works fine now?

[2019-12-27 15:35] KoJie commented on #2689
This is correct, I can confirm that.
I can no longer reproduce the translation error 👍

[2019-12-31 03:29] avenegas78 opened #2879 "Entrega fallida: “Unable to send telegram message: Timed out connecting to server"
### Infos:

* Used Zammad version: 3.2.x
* Installation method (source, package, ..): Ubuntu via DEB
* Operating system: Ubtuntu server 18.04.3
* Database + version: PostgresQL 10.10
* Elasticsearch version: 7.5.1
* Browser + version: Chrome 79.0.3945.88 (Build oficial) (64 bits)

### Expected behavior:

* When Zammad received a message through telegram client to a bot created, it creates a ticket

[2019-12-31 07:01] MrGeneration commented on #2879
I'm closing this as a technical question, because you also posted the same issue on the Community.
Please, for the next time, decide for one board.

This decision can be made by "technical question / feature request" or "bug" (while bugs are for Github).

( see: https://community.zammad.org/t/entrega-fallida-unable-to-send-telegram-message-timed-out-connecting-to-server/3723 )

[2019-12-31 07:01] #2879 closed, assigned to nobody

[2019-12-31 07:56] mantas opened #2880 "Switch to faster HTTP library"
### Infos:

* Used Zammad version: 3.2
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Use faster HTTP library. For example [Typhoeus](https://github.com/typhoeus/typhoeus)

[2020-01-06 00:19] mantas commented on #2834
@thorsteneckel I've a feeling that the recent redesign as discussed in #2867 addresses this

![CleanShot_2019-12-20_at_18 27 12](https://user-images.githubusercontent.com/36944/71788447-ea8b9f80-302a-11ea-8948-9fe07f7b275f.png)

[2020-01-06 10:26] andreasbuhr commented on #2126
Just for completeness: The trailing space is required by RFC3676:
https://tools.ietf.org/html/rfc3676#section-4.3

[2020-01-06 12:15] thorsteneckel commented on #2834
This was initially reported by @KoJie - what do you think? Are your concerns addressed by the change @mantas shows in the previous comment?

[2020-01-06 12:44] thorsteneckel commented on #2880
Can you please share some background information on this? What is the issue with using the default `Net::HTTP`?

[2020-01-06 12:51] mantas commented on #2880
@thorsteneckel cURL-based libraries are quite a bit faster. Especially in multi-threaded environment. I run a couple benchmarks locally and Typhoeus seems to be ~ 2x faster than `Net::HTTP` in Ruby 2.6.5. This could give us a speed boost in search and other places where HTTP connections are run under the hood.

[2020-01-06 14:04] KoJie commented on #2834
If you have familiarized yourself a little with the KB, you will know what the "Public Menu" is. However, a short explanatory sentence would make it 100% clear at first view and leave no more questions open. A short sentence like in the menu item Languages will do:
![image](https://user-images.githubusercontent.com/22768032/71822011-08d9b580-3094-11ea-9bf8-8893e72ac298.png)

My suggestion for the

[2020-01-07 00:07] mantas commented on #2834
@KoJie what do you think about following?

![Screenshot 2020-01-07 at 02 04 22](https://user-images.githubusercontent.com/36944/71858035-5a189200-30f2-11ea-8dd2-b13be0e8db79.png)

Long term, it may make sense to give KB it's own "middle column" settings section and then split settings into separate views for public and internal UIs.

[2020-01-07 06:26] mantas commented on #2689
Good to hear. Closing as no longer relevant then.

[2020-01-07 06:26] #2689 closed, assigned to mantas

[2020-01-07 07:13] KoJie commented on #2834
That looks great for me :)

[2020-01-07 13:31] timdreier commented on #1431
Is there any update on this? I'm currently trying to use nextcloud as OAuth2 provider and thereby also stuck at this message.

[2020-01-08 16:12] danieleades commented on #1880
i have an additional question here-
the vast majority of our clients communicate exclusively via email, hence we do not wish to differentiate between email communications and public notes- hence we use the above instructions to set communication=true on these events and trigger the SLA.

Then we need to set up triggers so that a public note triggers an email to the client, but we don't want the ag

[2020-01-08 16:15] MrGeneration commented on #1880
Sorry but this is rather a technical question, please head over to the Community: https://commnunity.zammad.org

This is most likely a workflow issue.

[2020-01-08 16:27] danieleades commented on #1880
Hi, thanks for the quick response. I guess what I'm saying is that it *is* a workflow problem- specifically that the "SLA communication hack" doesn't solve any problems *in isolation*. If the intent is to use the public notes as a communication, you also need to be able to notify the client when you create one. But I can see no way to solve that second problem using the available triggers. There i

[2020-01-08 16:29] MrGeneration commented on #1880
Please head over to the community.
This is not a bug - you're hijacking a closed issue for a bug that has been solved about a year ago.

I'm limitting th conversation to contributors only to reduce the noise on this issue.
Please don't get me wrong, I don't want to be inpolite, but please create a Post at the Community: https://community.zammad.org.

[2020-01-09 16:27] ma-jahn opened #2881 "Chat button is no longer optional in no jQuery version."
Hi,

i am currently switching from your `chat.min.js` to `chat-o-jquery.min.js`. In our application there is no need for jQuery and we are currently importing it just for the chat.
We've now realized that there is also a no-jquery version available, so we are now migrating.

We don't have a Button with the class `.open-zammad-chat` ([default Zammad buttonClass](https://github.com/zammad/zammad/blo

[2020-01-10 10:28] KochsPet opened #2884 "OTRS Migration fails - InvalidForeignKey"
Infos

    Used Zammad version: 3.2
    Installation method (source, package, ..): Package
    Operating system: Debian 9.3
    Database + version: 10.1.26-MariaDB-0+deb9u1
    Browser + version: Chrome 63.0.3239.84

OTRS Version: 5.0.14
Znuny4OTRS-Repo: 6.03
Znuny4OTRS-ZammadMigrator: 6.03
Expected behavior:
Migrate from OTRS via command line without errors and interruption

Actual behavior:

**M

[2020-01-10 12:01] #2406 closed, assigned to mantas

[2020-01-10 15:36] MrGeneration opened #2885 "Translation introduction text shows wrong keyboard shortcut"
### Infos:

* Used Zammad version: 3.2
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Firefox latest, Google Chrome latest

### Expected behavior:

* When opening the translation menu within the admin settings, the introduction text will show the correct keyboard shortcut to activate the inline tr

[2020-01-10 16:13] SEGGER-NV opened #2886 "Text Editor deletes text unrecoverably if quicktext was canceled with Ctrl+Backspace"
### Infos:

* Used Zammad version: 3.1.x
* Installation method (source, package, ..): package
* Operating system: Debian 9
* Database + version: -
* Elasticsearch version: -
* Browser + version: Firefox latest
* Ticket: #1088334

### Expected behavior:

* When starting to type a quick text, then noticing that I don't want to use quicktext. The text written directly afterwards should stay where it

[2020-01-10 16:15] MrGeneration commented on #2886
Personally I see this as a usuage issue.
Because you're still inside the dialogue (you didn't press escape to escape this deialogue).

I can verify this behaviour but am unsure how to react.
@thorsteneckel can you please decide if this is a UI bug to you or not?

[2020-01-10 16:18] thorsteneckel commented on #2886
It is one 👍

[2020-01-10 16:18] SEGGER-NV commented on #2886
I get your point, but for the user it is not apparent that something is wrong. And I heard from colleagues that they sometimes they wrote whole paragraphs only for them to be completely gone after hitting enter which is very frustrating :(

This was the first time I could find a constant reproducer for this weird quirk.

Edit: OK just saw it was verified as a bug. So nvm my comment.

[2020-01-10 16:20] thorsteneckel commented on #2886
From a technical perspective it looks like an internal state is not cleared properly. The app does not expect that a user text is written and thinks it should remove the text module.

[2020-01-10 16:24] martini commented on #2886
I have a question, because I cant follow.

What is the expected behavior? Please a step by step list. Thanks!

Note: By entering :: a non text writing mode is started, so all what is entered is related to text module search. You can to this by pressing ESC.

[2020-01-10 16:26] MrGeneration commented on #2886
Steps to repoduce:
* Write an ticket article
* start typing ``::`` and search for a text module
* notice you don't want / need a text module and remove the text module part ``::blah`` with backspace
  * note: The text module dialogue / UI is now gone
* Enter new text you want
* hit enter because you need a new line
  * DOH! My just typed text is gone

[2020-01-10 16:28] martini commented on #2886
Ok. Now I can follow. Thanks.

So it's expected to still show the text module widget (to let the user know that he is in text module search mode) - even if there is no text module search result, right?

[2020-01-10 16:29] thorsteneckel commented on #2886
I'd expect that Zammad notices that it's not in text module search mode anymore and release all handlers.

[2020-01-10 16:30] MrGeneration commented on #2886
I agree to thorsten - or don't remove it and add a remark ("close with ESC") to indicate the user something has to be done right now.

This shall help the user to recognize steps needed to be taken.

[2020-01-10 17:03] mantas commented on #2886
I'd say it should exit text module mode if `::`was removed from the text field.

[2020-01-10 17:50] #2884 closed, assigned to nobody

[2020-01-13 09:59] #2881 closed, assigned to thorsteneckel

[2020-01-13 10:45] cYzzie commented on #2866
@MrGeneration   this is sadly not even a temporary solution as  App Passwords only work for gmail / g-suite accounts that have 2FA enabled, especially companies who are using shared emails in addition to ticketing via zammad usually dont have 2FA enabled (as 2FA is close to impossible with Shared emails)

So in our case for instance, where Zammad uses the same shared email i cannot create an App p

[2020-01-13 10:57] MrGeneration commented on #2866
I'd never suggest you to use a shared source with Zammad where other people do read mail in.
This can cause unexpected issues with mail fetching.

Any way, thank you very much for your input!

[2020-01-13 11:32] KoJie opened #2887 "Entering pending till time for Waiting status is difficult to enter with Firefox"
### Infos:

* Used Zammad version: 3.2 (hosted)
* Browser + version: Firefox 72.0.1
* T#1065092, #1077517

### Expected behavior:

* When I set the time for a "Waiting for" status, a click on the hours and an entry of e.g. "13" should enter it correctly before the colon as "13:00".

### Actual behavior:

* When changing the ticket status to a "waiting-state", I select a date, then I click on the h

[2020-01-13 11:45] mantas commented on #2887
@KoJie what behaviour would you expect for other non-complete inputs? For example:

- 3
- 13:2
- 3:20

[2020-01-13 13:38] KoJie commented on #2887
It should be t same as it is in e.g. Google Chrome:

- 3 enter --> 03:00
- 132 enter --> 13:02
- 320 enter --> not valid time format; for this you have to type in 0320

if only one number is typed in (no matter if hours or minutes) the input starts " at the end" --> when entering 2 it will always be 02

[2020-01-13 16:52] pixelmultiplo opened #2889 "How to develop new integrations"
Could someone point me to some docs about this?
I'm developing a simple custom webhook integration, I successfully created an endpoint that works but ims truggling in making the settings page and the package right.

[2020-01-13 16:56] MrGeneration commented on #2889
Sorry but please don't user our Repositories for technical- or development questions, as this is the wrong place to do so.

Please use the Zammad community: https://community.zammad.org

Additionally there are currently no documents on this, as this is a living WIP.

CLosing now.

[2020-01-13 16:56] #2889 closed, assigned to nobody

[2020-01-13 17:11] MrGeneration commented on #2579
Update: This also affects first response in min :x

[2020-01-14 07:52] AnnemarieBecher commented on #2716
Is there already a plan for the implementation of a solution?

[2020-01-14 07:55] MrGeneration commented on #2716
Sorry but we can't provide any time estimations. We will update this issue as soon as something moves in any direction.

[2020-01-14 09:47] RobMOwen commented on #2773
I'm experiencing the same issue when using #{user.firstname} #{user.lastname} I get #{user / no such object} #{user / no such object}

[2020-01-14 11:31] duesterTechnology opened #2890 "Auto-Complete on Typing for Tags is hidden behind Pop-Up Windows"
### Infos:

* Used Zammad version: 3.2.x
* Installation method (source, package, ..): docker
* Operating system: Ubuntu 18.04
* Database + version: N.A.
* Elasticsearch version: N.A.
* Browser + version: Chrome  79.0 and IE 11.0 and Firefox 72

### Expected behavior:

* The Auto-Complete list (for tags) will be shown IN FRONT of the Pop-Up Window

### Actual behavior:

* The Auto-Complete list (fo

[2020-01-14 16:52] pixelmultiplo commented on #2489
Still getting this in a dokku installation. What should i do?

[2020-01-14 20:34] Frankkkkk opened #2891 "When ticket created via Telegram, default reply should be Telegram"
### Infos:

* Used Zammad version: Latest one from zammad-docker-compose
* Installation method (source, package, ..): docker-compose
* Operating system: docker

### Expected behavior:

When a new ticket is created with a alternative channel (i.e. Telegram, Twitter, ...), then the default reply type should be of the same channel, and not "note".

Indeed, "lambda users" won't get the difference and

[2020-01-14 21:54] MrGeneration commented on #2891
Thanks for your report.
This is rather a duplicate of:
https://github.com/zammad/zammad/issues/372

Closing.

[2020-01-14 21:54] #2891 closed, assigned to nobody

[2020-01-14 22:01] MrGeneration commented on #464
Sorry, but I can't reproduce this.
Can you verify that this still is an issue?

I've tested this on 3.2 and it seemed to be fixed indirectly. :-X

![issue464](https://user-images.githubusercontent.com/6549061/72386471-bea2a500-3721-11ea-901b-9ccc7aca2a90.gif)

[2020-01-15 08:07] pixelmultiplo commented on #2489
I get this

`       !
       !     Could not detect rake tasks
       !     ensure you can run `$ bundle exec rake -P` against your app
       !     and using the production group of your Gemfile.
       !     rake aborted!
       !     Fiddle::DLError: can't load libImlib2.so`

however

`# sudo apt-get install libimlib2-dev
Reading package lists... Done
Building dependency tree
Reading state info

[2020-01-15 08:11] pixelmultiplo opened #2892 "Installing on Dokku"
I get this

`! ! Could not detect rake tasks ! ensure you can run$ bundle exec rake -P against your app ! and using the production group of your Gemfile. ! rake aborted! ! Fiddle::DLError: can't load libImlib2.so
`
however

`# sudo apt-get install libimlib2-dev Reading package lists... Done Building dependency tree Reading state information... Done libimlib2-dev is already the newest version (1.4.

[2020-01-15 08:15] MrGeneration commented on #2892
Sorry but this is rather a technical question.
Please consult the documentation and ensure you're meeting all requirenenments. (Pro tipp, your error message is already telling you whats wrong: `(...) Fiddle::DLError: can't load libImlib2.so`.

For technical questions please consult the Community: https://community.zammad.org

Closing now.

[2020-01-15 08:15] #2892 closed, assigned to nobody

[2020-01-15 08:17] MrGeneration commented on #2489
@marekmaurizio please stop hijacking closed issues.
This is a technical question which should live in the Community.

See our documentation:
https://docs.zammad.org/en/latest/prerequisites-software.html

[2020-01-15 08:20] ArnaudBpro commented on #2102
Hi,

It's in the road map ? I really need to have "view-only- field on customer view :)

Regards and thanks for your product !
Arnaud

[2020-01-15 08:36] MrGeneration commented on #2102
Sorry but we can't provide any feedback on when this is coming (and if).
This is a feature backlog.

We'll update this issue accordingly as something moves in any direction. :-)

[2020-01-15 09:44] rolfschmidt opened #2893 "Granted field access gets redacted by a later (alphabetically) permission"
### Infos:

* Used Zammad version: 3.2.x
* Installation method (source, package, ..): source
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all
* Ticket#: 1041326

### Expected behavior:

Permissions of object manager attribute for screen should merge correctly for multiple permissions.

### Actual behavior:

Permissions are always set based on

[2020-01-16 02:24] AdamC1228 opened #2894 "Emails with binary body (attachment as body) get handled as if they were text messages which breaks the attachment"
### Infos:

* Used Zammad version: 3.2.x
* Installation method (source, package, ..): package
* Operating system: CentOS 7.7.1908
* Database + version:  -
* Elasticsearch version: 6.8.0
* Browser + version: FireFox 72.0.1

### Expected behavior:

*No Static when playing back audio attachments.

### Actual behavior:

*Static when playing back audio attachments.
*No Static when opening audio from th

[2020-01-16 02:24] AdamC1228 commented on #2894
[production.zip](https://github.com/zammad/zammad/files/4069010/production.zip)

[2020-01-16 09:32] mantas opened #2895 "Moving from Manage Knowledge base view to another Manage view requires multiple clicks"
### Infos:

* Used Zammad version: 3.2
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Be in Manage Knowledge Base view
* Click on another view in Manage
* The other view becomes visible

### Actual behavior:

* Be in Manage Knowledge Base view
* Click on another view

[2020-01-16 09:42] #2895 closed, assigned to mantas

[2020-01-16 13:37] MrGeneration commented on #2894
Sorry I don't really understand the issue.
Am I guessing correct that you're saying that Zammad does corrupt received audio files when importing it?

[2020-01-16 14:18] AdamC1228 commented on #2894
Correct

[2020-01-17 08:07] thorsteneckel commented on #2782
Hey @mantas - this got prioritized by a customer of ours (cc @MrGeneration). Can you please prioritize and fix this?

[2020-01-17 13:08] thorsteneckel commented on #2880
Hey @mantas - I raised this topic while @martini and I discussed the upcoming performance release 3.3. We discussed the advantages and disadvantages of using a third party dependency instead of the build in `Net::HTTP`. We also evaluated the change in the scope of the topic that caused the evaluation (slow search performance).
@martini pointed out that the actual performance issue comes from sendi

[2020-01-17 13:24] mantas commented on #2880
Yes, this only affects requests made using `UserAgent` wrapper. And I agree that it adds some maintenance overhead.

I'd say bumping Ruby version is higher priority. It features improved `Net::HTTP` performance according to the same benchmarks. Unfortunately I didn't save detailed numbers from the benchmarks, but overall cURL-based wrappers are slightly faster than `Net::HTTP` and newer Ruby versi

[2020-01-17 16:31] Khawlamel opened #2896 "Update notification mail"
How can I modify a notification mail in zammad I did not find this message in trigger .
that's the message:
zammad Helpdesk Notification
Hello ,

The ticket (TEST SUPP) was updated by "Nicole Braun (Zammad Foundation)".

modifications:
Condition: new -> closed

[2020-01-17 16:44] MrGeneration commented on #2896
Sorry but this is a rather technical question.
Technical questions are best fitting in the Zammad Community: https://community.zammad.org

Please also fill in the template that's provided there to help others to help you.
I'll close this issue, because it's a technical question.

[2020-01-17 16:44] #2896 closed, assigned to nobody

[2020-01-17 17:54] GhaziTriki opened #2897 "Dashboard dispalying NaN"
### Infos:

* Used Zammad version: 3.2.x
* Installation method (source, package, ..): Package
* Operating system: Ubuntu 18.04 LTS
* Database + version: PostgreSQL 12
* Elasticsearch version: 7.5.1
* Browser + version: FireFox Nightlty 74.0a1 (2020-01-16) (64 bits)

### Expected behavior:

* Show a Zero

### Actual behavior:

![image](https://user-images.githubusercontent.com/4991088/72633875-a917

[2020-01-17 21:44] chriskyndrid opened #2898 "Duplicate Ticket Entry by Notification Master on Reply"
### Infos:

* Used Zammad version:zammad-3.1.0
* Installation method (source, package, ..):zammad-3.1.0-1572420711.b7bfdcd4.centos7.x86_64
* Operating system:zammad-3.1.0-1572420711.b7bfdcd4.centos7.x86_64
* Database + version: Consistent with RPM package for version in question
* Elasticsearch version: elasticsearch-7.4.2-1.x86_64
* Browser + version: Chrome

### Expected behavior:

Replying to a

[2020-01-17 22:13] MrGeneration commented on #2898
Sorry but this is rather a technical question.
You seem to have a mail address in your recipient list (incoming) that is associated to an mail alias of one of your Zammad mailboxes.

As Zammad doesn't seem to know that it it's its address, it does reply to that mail which causes you to reply to your ticket system (beside of  the customer).

Please consult the Community for further technical questi

[2020-01-17 22:13] #2898 closed, assigned to nobody

[2020-01-17 22:14] chriskyndrid commented on #2898
What would cause this to magically start happening after the adjust to the password this morning? We haven’t changed any other configuration detail.

Chris

[2020-01-17 22:19] chriskyndrid commented on #2898
If this is associated with an alias as you suggest, than it was the automated dispatch email that Zammad sends to verify outgoing email that would have caused the creation of a corresponding account. Prior to the adjustment to the credentials of the email server we did not have an issue, and the issue began I immediately after. That doesn’t seem like desired behavior.

Chris

[2020-01-17 22:32] MrGeneration commented on #2898
Please use the community at https://community.zammad.org

If this "magically" appeared, either your mail you received or the way your agent worked changed.
Github is the wrong place for technical questions.

[2020-01-17 22:52] chriskyndrid commented on #2898
Neither of those conditions is true as you describe, both remained the same. There are two emails boxes associated with a single mail server that feed the same ticketing system, which remained the same prior and post modification of the credentials. That’s what happened.

This may not make sense to you, but It’s what took place. I’ve been writing software for twenty years and I learned a long time

[2020-01-18 11:50] thorsteneckel commented on #2898
Hey Chris,

thanks for your kind words. I respect your experience and effort in writing things down. However, @MrGeneration is one of the most experienced Zammad administrators out there with a deep technical knowledge. Additionally I second his assessment of the situation. So our position won't change.

To give you some background information: If it's not immediately clear that an issue is a bug

[2020-01-20 14:59] MvanRietschoten commented on #2352
+1

[2020-01-20 15:07] MrGeneration commented on #2352
I'm limitting this conversation to contributors only as we haven't received any further relevant feedback upon this issue.

This is to reduce `+1` and similar comments which cause noise on the tracker and to people watching this repository in general.

We are working hard on solving issues step by step and will update this issue accordingly as soon as we have any updates on this topic.

[2020-01-20 16:06] thorsteneckel commented on #700
This is a duplicate of #2192 - technically this one here is older. However, the other one is far more complete in its description. Therefore I will close this one in favor of #2192.

[2020-01-20 16:06] #700 closed

[2020-01-20 16:10] thorsteneckel commented on #2521
This can't be reproduced anymore. The referenced Ticket does not contain information on how to reproduce this. Therefore I'll close it.

[2020-01-20 16:10] #2521 closed, assigned to martini

[2020-01-20 20:35] Khawlamel commented on #758
@WillemWever I have same problem but I don't have any group ,can i find the solution without adding the groups? if not how can I do if possible tell me the steps you did please and thank you in advance :)

[2020-01-21 07:17] martini commented on #2814
Update: After some research and an threads based parallel search on es indexes PoC of @mantas  it went out that not the serialized es search via indexes is the issue. The amount of requested search queries to es it the issue.

[2020-01-21 08:10] #2897 closed, assigned to dennykorsukewitz

[2020-01-21 08:56] MrGeneration commented on #758
@Khawlamel please don't hijack closed issued.
This is a solved bug.

If you have technical questions / issues, please consult the community over at https://community.zammad.org

If this happens to be a bug, we'll gladly at a report later on.

Thanks for your understanding.

[2020-01-21 09:37] Khawlamel commented on #758
@MrGeneration well received thank you

[2020-01-21 10:24] unclesam87 opened #2899 "Time tracking isnt working proberly"
### Infos:

* Used Zammad version: 3.2.x
* Installation method (source, package, ..): package
* Operating system: Ubuntu 18.04 LTS
* Database + version: MariaDB 10.x
* Elasticsearch version: 7.x
* Browser + version: Firefox 72.01

### Expected behavior:

* Track Time every time u change something at a Ticket

### Actual behavior:

*Sometimes Time Tracking wont pop up

### Steps to reproduce the be

[2020-01-21 10:31] MrGeneration commented on #2899
Please share your time accounting configuration and a more detailed step by step description on what you're doing and what you're expecting.

This sounds rather like a technical question though.

[2020-01-21 14:56] ggmanugg commented on #464
@MrGeneration
Is there a shortcode to create a hyperlink like there can be removed with shift ctrl x

[2020-01-21 15:03] MrGeneration commented on #464
@ggmanugg Please don't hijack issues.
The better place for technical questions is the Community: https://community.zammad.org

But, to make it short: No there is not.

---

Edit: As there has been no further feedback on this issue I suspect that this has been solved and thus am closing this.

[2020-01-21 15:03] #464 closed

[2020-01-21 21:40] AdamC1228 commented on #2894
I have tried excluding the audio file from elastic search parsing using es_attachment_ignore types. The audio files still arrive damaged.

 zammad run rails r "Setting.set('es_attachment_ignore', [ '.png', '.jpg', '.jpeg', '.mpeg', '.mpg', '.mov', '.bin', '.exe', '.box', '.mbox' ] )"

![Capture](https://user-images.githubusercontent.com/13957003/72845143-fd79b300-3c6b-11ea-8d32-32338cfd3389.JPG)

[2020-01-22 05:19] fleverest commented on #2899
If you wish for time accounting to request input after **every** update on **all** tickets, make sure you have nothing in the selector configuration.

This is the default setting:
![image](https://user-images.githubusercontent.com/41366210/72867247-662b6300-3d32-11ea-986d-04dca165c377.png)
This only works for Open tickets, so if you have this then because you set the ticket to 'Closed' it will not

[2020-01-22 09:52] thorsteneckel opened #2900 "OTRS import: States not available in edit/create view"
### Infos:

* Used Zammad version: 3.2
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket#: 1065575

### Expected behavior:

As an Agent/Customer I want to be able to select states for which I have permissions.

### Actual behavior:

Not all granted states are available for Agent/Customer

[2020-01-22 10:00] MontiniCristian opened #2901 "xxx.xxx.xxx.xxx/ws end-point for event listening"
Is it currently possible to use the **/ws** end-point to open a WebSocket in order to listen for events? Is this end-point requiring a sort of authentication in order to receive all the events?

If not, is there a solution aimed to listen for tickets update events which don't require polling?

[2020-01-22 10:14] MrGeneration commented on #2901
Sorry, but this is rather a technical question.
Please do not use this Github repository for technical questions, but the Community instead:
https://community.zammad.org

[2020-01-22 10:14] #2901 closed, assigned to nobody

[2020-01-22 10:36] thorsteneckel commented on #2901
JFI: Relevant topic can be found here: https://community.zammad.org/t/details-about-push-api/1622

[2020-01-22 14:29] unclesam87 commented on #2899
When i delete the selector, it will show up again - and when i select everything i still wont get asked for every ticket at every time.

[2020-01-22 14:53] YWatchman opened #2902 "Filtering ticket on ticketstate returning tickets with non corresponding state"
### Infos:

* Used Zammad version: 3.2.x
* Installation method (source, package, ..): Package
* Operating system: Ubuntu 18.04.3
* Database + version: MariaDB 10.2.30
* Elasticsearch version: 7.5.2
* Browser + version: cURL

### Expected behavior:

* Should return tickets with open and new state

### Actual behavior:

* Returns tickets with all states

### Steps to reproduce the behavior:

* /usr/

[2020-01-22 15:11] YWatchman commented on #2902
Somehow after updating the ticket after 54 days, the ticket isn't showing up in the API anymore...

[2020-01-22 16:07] MrGeneration commented on #2902
Sorry but this rather sounds like a technical questions.
Please note that the better place for technical questions is the Community: https://community.zammad.org

Ensure that you're not hitting any limits per request.

[2020-01-22 16:21] fleverest commented on #2899
Delete it and select save, it will show up again but it will still work the same as you would like it to

[2020-01-22 19:35] YWatchman commented on #2902
Not hitting limits, just getting wrong responses.

[2020-01-22 23:24] MrGeneration commented on #2902
Provide full outputs please, other wise it's impossible to tell if this is wrong usuage or a bug.

[2020-01-23 11:53] funsports opened #2903 "Zammad doesend work after update elasticsearch"
* Used Zammad version: 3.2.X
* Installation method (source, package, ..):
* Operating system: Ubuntu 18.0.4
* Database + version: postgresql 10
* Elasticsearch version: 7.5.2 / 7.5.1
* Browser + version: firefox / Chrome (newest)

### Expected behavior:

We run Zammad in 3.2.xx and Elasticsearch 7.5.1 on Ubuntu.  We upgrade (apt-get) and get a new version of Elasticsearch 7.5.2. After a reboot of

[2020-01-23 13:24] #2903 closed, assigned to nobody

[2020-01-23 14:11] cYzzie opened #2904 "Error when changing passwords for users without email"
### Infos:

* Used Zammad version: This is Zammad version 3.2.x
* Installation method (source, package, ..): unknown
* Operating system:   Debian 3.16.76-1
* Database + version: PeronaDB 5.7
* Elasticsearch version: unknown
* Browser + version: firefox 72.0.1

### Expected behavior:

Password is changed without errors

### Actual behavior:

Password is changed but an error is shown:
 {"error":"Can

[2020-01-23 14:30] MrGeneration commented on #2904
Yep, kinda duplicate of: https://github.com/zammad/zammad/issues/2778
But as this issue describes the cause better, we'll use this one.

Thanks for letting us know! :)

[2020-01-23 16:59] rschueler opened #2906 "Missing Content-Type header of parsed email fails processing"
### Infos:

* Used Zammad version: 3.2.0
* Installation method (source, package, ..): docker-compose
* Operating system: debian
* Database + version: 9.6.16

### Expected behavior:

* Import of multipart mail from IMAP with attachment having no content-type set

### Actual behavior:
[code]

### Steps to reproduce the behavior:

* Send a mail to zammad looking like this:

[code]

[2020-01-23 20:46] MacroPolo opened #2907 "Password strength settings are ignored when creating new customer accounts"
### Infos:

* Used Zammad version: 3.2.0-1578664361.375c4929.bionic
* Installation method (source, package, ..): Package (Deb)
* Operating system: Ubuntu 18.04
* Database + version: MySQL 5.7
* Elasticsearch version: ES 7.4.2
* Browser + version: Firefox 68.4.1esr

### Expected behavior:

* Customers should not be able to create accounts which do not comply with the configured password strength re

[2020-01-23 20:48] MacroPolo commented on #2907
Once the user logs in and tries to change their password, the restrictions on length/strength start to apply. The same is true for the password reset process.

[2020-01-24 09:04] YWatchman commented on #2902
I cannot provide full output as this contains confidential data.

[2020-01-24 09:05] YWatchman commented on #2902
And after updating the ticket **again**, the ticket isn't showing up anymore. So this might be a simple commit fail that hasn't been catched.

[2020-01-24 09:05] #2902 closed, assigned to nobody

[2020-01-27 15:50] rschueler opened #2909 "Forwarded attachments not visible in Outlook"
### Infos:

* Used Zammad version: 3.2.0
* Installation method (source, package, ..): docker-compose
* Operating system: debian
* Database + version: 9.6.16

### Expected behavior:

* When forwarding a ticket with attachments to an external customer via email the attachments should be visible in Outlook.

### Actual behavior:

* Attachments are forwarded, but not visible to the customer if Outlook

[2020-01-27 15:55] MrGeneration commented on #2899
Sorry but this is rather a technical question which is why I'm closing this issue.
If you have technical questions, please go to https://community.zammad.org

If you believe this is an mistake please open a thread at the community and we'll re open this issue as soon as we're sure if it is a bug.

[2020-01-27 15:55] #2899 closed, assigned to nobody

[2020-01-27 15:57] unclesam87 commented on #2899
As it wont work the way fleverest described i would still guess it is an bug!

I can delete it or selecte all and it still wont show up the right way

[2020-01-27 16:01] MrGeneration commented on #2899
I cannot reproduce the behaviour your describing. Please open a thread over at the community, we'll fiddle things out there. Reference this issue to help getting through better.

[2020-01-28 08:50] lpysj commented on #2815
This is something I came here for. We are currently also expecting that the customers e-mail address etc. is visible in the forwarded e-mail but it's not.

Would be a very nice feature to have.

[2020-01-28 09:44] thorsteneckel commented on #2894
Hey @AdamC1228 - this should be fixed with the commit above. New `development` package will be ready in 30 minutes from now. The fix will be released with the upcoming 3.3 release in a few weeks 👍

[2020-01-28 09:44] #2894 closed, assigned to mantas

[2020-01-28 09:46] #2837 closed, assigned to mantas

[2020-01-28 09:46] #2169 closed, assigned to mantas

[2020-01-28 09:47] #2906 closed, assigned to mantas

[2020-01-28 09:48] #2893 closed, assigned to rolfschmidt

[2020-01-28 12:46] rolfschmidt opened #2910 "Ticket split does reference article inline images instead of copying them"
### Infos:

* Used Zammad version: 3.2.x
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

### Expected behavior:

Inline images of articles should be inserted as base64 code instead of referencing the image of the old ticket.

### Actual behavior:

Inline images get referenced by url to the old

[2020-01-28 12:51] #2910 closed, assigned to thorsteneckel, rolfschmidt

[2020-01-28 13:32] rolfschmidt opened #2911 "Performance: Improved touching assets of users, organizations and tickets"
### Infos:

* Used Zammad version: 3.2
* Installation method (source, package, ..): all
* Operating system: all
* Database + version: all
* Elasticsearch version: all
* Browser + version: all

### Frontend improvements

* The organization profile did not update the member list of the organization if the member list has changed.
* The user avatar images in the organization profile was not updated c

[2020-01-28 13:38] rolfschmidt commented on #2298
Hi,
the root issue of this problem is the following issue: https://github.com/zammad/zammad/issues/2911

In the future the associated data will not get touched anymore and this will correct the search result order hopefully. The update of associated data will only update the elastic search index and have no related database changes or touches.

Best regards,
Rolf

[2020-01-28 13:38] #2298 closed, assigned to rolfschmidt

[2020-01-28 17:44] wucherpfennig commented on #2503
@MrGeneration
This is partially true. Even with this settings disabled It will create new users if you have third party authentication (o365) enabled. Which is in my opinion counter intuitive.

BR wucherpfennig

[2020-01-28 18:03] Perflyst commented on #325
https://useplaintext.email/
https://useplaintext.email/#why-plaintext

[2020-01-29 10:23] wucherpfennig opened #2912 "Authentication with O365 - User accounts get created despite option being disabled (including reset password functionality)"
### Infos:

* Used Zammad version: 3.2
* Installation method (source, package, ..): source
* Operating system: Debian 10.2
* Database + version: default
* Elasticsearch version: 7.5
* Browser + version: Chrome, latest

### Expected behavior:

* If user creation is disabled no user accounts should be created even if the user uses the authentication method O365.

### Actual behavior:

* if the optio

[2020-01-29 10:29] MrGeneration commented on #2912
I'm not sure about this.
I understand your approach, however, I'd like to hear @thorsteneckel 's feedback before deciding how to tag this. :)

[2020-01-29 10:36] thorsteneckel commented on #2912
Zammad provides many ways auf authenticate users. I agree that we should have a functionality that prevents the creation of new accounts consistently. However, I'd like to have one issue that covers all this cases instead of one issue for each one of them. This might lead to a situation where we overlook some way.
Could you please bring #2503 in shape to list the relevant parts in one place in a w

[2020-01-29 10:37] wucherpfennig opened #2913 "Authentication with O365 - Authentication does not work if O365 has multiple organisations"
### Infos:

* Used Zammad version: 3.2
* Installation method (source, package, ..): package
* Operating system: Debian 10.2
* Database + version: default
* Elasticsearch version: 7.5
* Browser + version: Chrome, latest

### Expected behavior:

* Authentication against O365 accounts which have access to multiple organisations / tenants

### Actual behavior:

![image](https://user-images.githubuserc

[2020-01-29 10:44] MrGeneration commented on #2913
In my opinion that's rather a feature request, as this functionality has been added by Microsoft within the last months.

What do you think @thorsteneckel ?

[2020-01-29 10:50] thorsteneckel commented on #2913
Yeah, it's a (valid) enhancement but not a bug. We need to check wether the gem we're using already supports this:

https://rubygems.org/gems/omniauth-microsoft-office365
https://github.com/murbanski/omniauth-microsoft-office365/

On first glimpse it doesn't look like it.

[2020-01-29 10:52] MrGeneration commented on #2913
For the future, please post feature requests on the Community Forum.
However, as this does affect a broad mass of our users, I will keep this opened here.

ETA unknown.

[2020-01-29 10:55] wucherpfennig commented on #2913
@MrGeneration sure, will do! honestly this would not have come up if not for the issue #2912 ;-)

[2020-01-29 10:59] MrGeneration commented on #2913
No worries, glad you could identify this one as it has been appearing more often on Github and the Community than I did like. :P

[2020-01-29 18:23] MacroPolo commented on #2505
I have been investigation this situation and there seems to be two issues.

Looking at the [detectBrowserLocale](https://github.com/zammad/zammad/blob/fae194918eb8a07036060a1b41f1b33c45e03cad/app/assets/javascripts/app/lib/app_post/i18n.coffee#L88) method it first compares each of the language codes sent by the user agent with the `locale`s known to Zammad.

In one of my test cases, I add Russian

[2020-01-29 18:27] MacroPolo commented on #2505
I was able to workaround my immediate issue by disabling the Russian locale however I do not know how robust that method is and whether it will survive an upgrade:

[code]

[2020-01-30 01:23] sts commented on #2741
Follow up feature request for automatic Role assignment via SAML. Anyone knows how and where to implement this in Zammad?

https://community.zammad.org/t/saml-for-roles-assigment/3696

[2020-01-30 08:35] MrGeneration commented on #2741
@sts please don't hijack solved and closed issues.
Feature Requests should live on the community and not on Github.

I'll be locking this issue now.

[2020-01-30 22:49] mantas commented on #2561
Closing as this issue seems to be fixed along the way in `develop` branch.

[2020-01-30 22:49] #2561 closed, assigned to nobody

[2020-01-31 08:13] BertrandGouny commented on #2561
thanks :)

[2020-01-31 11:15] martini commented on #2904
@cYzzie I have a question because I was not able to reproduce this issue by following your steps.

What URL did you use to change the users password?

[2020-01-31 11:26] martini commented on #2904
@cYzzie Now I was able to reproduce. Please ignore my question.

[2020-01-31 11:38] martini commented on #2904
Note, it also happens in background jobs for sending new device notifications if current session user has no email address:

[code]

[2020-01-31 12:09] MrGeneration commented on #2629
Please note that this doesn't only affect customer articles, but also happens if you reference text from an agent article by pressing "reply" on a customers article.

That's a bit unexpected. To help understand the second issue (from my end) better, here's a screencast. It consists of two parts which on the second part will also proove what Martin has described.

![issue-2629_quoting-customers](ht

[2020-01-31 14:45] ghost opened #2914 "LDAP SSL verification not performed"
### Infos:

* Used Zammad version: 3.2.x-develop (2021-05-03)
* Installation method (source, package, ..): zammad-docker-compose, any
* Operating system: Debian 9 GUI-Less, any
* Database + version: Not related to the error.
* Elasticsearch version: Not related to the error.
* Browser + version: Firefox 72.0.2, any
* Ticket#: 1084755

### Expected behavior:

* When configuring LDAP integration aga

[2020-01-31 19:41] devpanda0 opened #2915 "Technical question"
### Infos:

* Used Zammad version: 3.2
* Installation method (source, package, ..): Docker
* Operating system: Debian 10
* Database + version: From Docker Image
* Elasticsearch version: From Docker Image
* Browser + version: From Docker Image

### Question
Hi,
how can I fix this mistake. Everything is configured correctly.

https://prnt.sc/qvru2s

CU
MrVapor

[2020-01-31 19:51] MrGeneration commented on #2915
Please **do not** post technical questions on this github repository!

The right place for technical questions is the community: https://community.zammad.org

Closing.

[2020-01-31 19:51] #2915 closed, assigned to nobody

[2020-02-02 10:46] raffisweb commented on #2855
Maybe this happens since Outlook misinterpretes some text formats and displays them as attachment: [Prevent Winmail.dat Attachments in Outlook](https://www.lifewire.com/prevent-sending-winmail-dat-attachments-1173717).

Solution would be to send messages in plain text or html and to prevent rtf.

[2020-02-02 12:00] PhilippRedel commented on #2890
I can reproduce the issue.
The z-index of the Jquery UI Autocomplete class is below the z-index of the bootstrap modal.

Im not exactly sure which z-index is needed to be above the modal but this worked for me:

(in zammad.scss)
[code]

I can not make a pull request at the Moment because im on vacation.
But i hope this helps fixing the issue.

[2020-02-03 18:05] hanneshal opened #2918 "Editing of KB article not possible if long text is pasted"
### Infos:

* Used Zammad version: latest 3.3 online (hosted)
* Installation method: hosted
* Operating system: macOS
* Database + version: hosted
* Elasticsearch version: hosted
* Browser + version: Safari 13.04

### Expected behavior:

* If I post a long string I expect to have a line break somewhere and keep the UI elements in place

### Actual behavior:

* The textbox gets expanded and blocks

[2020-02-03 22:47] gohai opened #2919 "Forwarding articles sometimes arrive with another issue's subject"
### Infos:

* Used Zammad version: 3.2.0
* Installation method (source, package, ..): package
* Operating system: Amazon Linux 2 (CentOS 7-based)
* Database + version:  PostgreSQL 9.2.24
* Elasticsearch version: 7.4.2
* Browser + version: Chrome 79

### Expected behavior:

* Forwarded article is being sent with the subject of the issue it is being associated with

### Actual behavior:

* Forwarded

[2020-02-03 22:58] mantas commented on #2919
Hi @gohai ,

This was possibly fixed along with #2406 . Which is in latest `develop` and `stable` branches, but not released yet.

Did you notice any correlation wether browser session was hard-refreshed between email coming in and forwarding?

[2020-02-04 17:07] jnaeff commented on #222
It would be really nice. We have experience in this field. It good also be the basis of the chat in Zammad.

[2020-02-04 17:17] MrGeneration opened #2920 "Link-Template attributes within Organizations and user cause Organization and user creation to fail within UI"
### Infos:

This issue has been found by Community member `Markus1` initially on this thread: https://community.zammad.org/t/not-able-to-create-a-new-organization/3856

* Used Zammad version: 3.2
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Tested on current Firefox and Chrome
* Ticket-ID: #1068

[2020-02-04 18:35] gohai commented on #2919
Thanks for the timely response @mantas. We will wait for the next release to be out and see we see this issue again afterwards. Feel free to close this issue (will open again if needed).

[2020-02-04 18:43] mantas commented on #2919
Fingers crossed it will stay closed :)

[2020-02-04 18:43] #2919 closed, assigned to nobody

[2020-02-05 11:58] MrGeneration commented on #2780
I could verify this.
Thank you very much for your time and contribution. :-)

Heads up: This is not about user roles, but setting the setting "Allow ticket creation via web channel" to "do not allow (false)".

This causes Zammad to disable the "+" Button, but if no tickets are there for the overviews, to suggest the customer to create a new ticket:
![image](https://user-images.githubusercontent.co

[2020-02-05 13:19] MrGeneration commented on #2827
Hey,

sorry but we're not able to reproduce your described issue.
Please update your initial article with our issue template (see the end of my article) to help us further, if this issue still persists.

Please also add a detailed reproduction description.
We've been updating/creating tickets, updating/creating objects without success.

Thanks!

----

Template:

[code]
[code]

[2020-02-05 14:00] martini commented on #2827
Note:

This looks a little bit strange. The data for the field is stored in table `object_manager_attributes` which has no varchar with 20 at all.

[2020-02-05 14:41] martini commented on #2909
@rschueler

We tried to reproduce it with Outlook365 desktop client and your provided example email. Unfortunately it works :-o

We used the following Outlook client:

![2020-02-05 15_33_30-Window](https://user-images.githubusercontent.com/110226/73851364-a0fec200-482d-11ea-9b0e-a409d2258199.png)
![2020-02-05 15_33_52-Window](https://user-images.githubusercontent.com/110226/73851374-a5c37600-482d-

[2020-02-06 15:36] MrGeneration opened #2922 "Replying on newly created phone notes to agent customers sets wrong TO-address"
### Infos:

* Used Zammad version: 3.2
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: tested on latest Google Chrome and Firefox
* Ticket-ID: #1067678, #1070979, #1073361

### Expected behavior:

* When creating a incoming call ticket Zammad will set the customer you select as "FROM"-Sender in the

[2020-02-07 10:26] MamoulianDelacroix commented on #2827
The "problem" is, that I configureda MAXLENGTH of 20 characters and I put morgen than 20 characters in the LINK-TEMPLATE field. As long as there were more than 20 characters. Which is totally correct, but I didn't get any detailed error messages at the webfront.  Only in the log-files I found out why.
A small hint in the webfront would be nice, that the "20" characters were exceeded.

[2020-02-07 12:51] fschmittlein opened #2923 "Zammad should not inform himself"
### Infos:

* Used Zammad version: any
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Zammad should recognize that it is writing itself an email and then discard it.

### Actual behavior:

* Zammad is sending e-mails to himself.

### Steps to reproduce the behavior:

[2020-02-10 01:55] martini opened #2924 "Unable to paste from clipboard in note field in ticket zoom"
### Infos:

* Used Zammad version: 3.2.0
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Firefox 68.4.1esr (64-bit)

### Expected behavior:

* Be able to paste text clipboard (copy from other web page)

### Actual behavior:

* copy text
* paste it into new note field in ticket zoom
* nothing happen

[2020-02-10 16:19] MrGeneration opened #2925 "Macros with notes not working on overview "drop bar""
### Infos:

*This issue has been originally found by community user https://github.com/wucherpfennig on https://community.zammad.org/t/macros-do-not-work-from-inside-overviews/3945*

* Used Zammad version: 3.2
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: tested on latest Google Chrome and Firefo

[2020-02-10 19:27] tarreislam commented on #2505
Typical developer resonse 😄.

I went with @MacroPolo s solution with a twist. Forcing locales is bad design

`delete from locales where alias != 'en';`

[2020-02-10 23:00] ruben-herold opened #2926 "websocket-server will not start"
hi,

i installed zammad on a fresh centos 8 system. I used the rpms from:

``
https://dl.packager.io/srv/rpm/zammad/zammad/stable/el/8/$basearch
``
Ist version:
``
bash-4.4# rpm -qa |grep zamm
zammad-3.2.0-1580110414.992e734c.centos8.x86_64
``

The websocket-server will not start it dies directy after start:

[code]

On port 6042 nothing is listening:

[code]

[2020-02-10 23:30] ruben-herold commented on #2926
hi,

using the files :+1:

script/websocket-server.rb
spec/scripts/websocket_server_spec.rb

from master and add

export ZAMMAD_BIND_IP='[::1]'

to /etc/zammad/conf.d/other

all services started and listening on the ipv6 address. I changed my nginx config an all runs fine now.
If i try with the new files but without the [::1] it failed like before.

[2020-02-11 05:25] fleverest opened #2927 "Overviews sometimes not shown to specified Roles or Users"
### Infos:

* Used Zammad version: 3.2
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Create an Overview that is available for some Roles and also some Users.
* I expect to be able to see that Overview if I am:
  (1) a member of any of the Roles, or
  (2) any of the

[2020-02-11 05:26] #2927 closed, assigned to nobody

[2020-02-11 07:30] thorsteneckel commented on #2927
https://github.com/zammad/zammad/issues/2714

[2020-02-11 07:34] MrGeneration commented on #2926
Glad you could solve your issue.
For the next time, please use the Community for technical questions and/or feature requests. :)

( https://community.zammad.org )

Thank you.

[2020-02-11 07:34] #2926 closed, assigned to nobody

[2020-02-11 10:14] ruben-herold commented on #2926
@MrGeneration  what?? I have no solution only a workaround.The default (127.0.0.1) is still not working. Also not with the new files. I used only [::1] as workaround... So from my view still a bug.

[2020-02-11 10:44] MrGeneration commented on #2926
Still, this is a technical question.
Puma is by default not listening on IPv6.

[2020-02-11 11:14] ruben-herold commented on #2926
@MrGeneration  as clarification. This is not about Ipv6.

We have here an centos 8 installation via rpm.
The websocket don't start if it is configured to listen to 127.0.0.1 as it is by default.
error Message and so on above.

I saw that there was changes in the git so I merged this changes to my local installation.
After this nothing changed.

If I switch to  ipv6 all is running fine.

So for me

[2020-02-11 14:58] frankBahlsen commented on #2855
Yes, this the problem we face.
If the solution is to send messages as html or plain text, i still need to ask, where to find the needed configuration.

[2020-02-11 15:04] MrGeneration commented on #2855
That imho hasn't to do anything with Zammad, because it always sends HTML mails.
Zammad has issues with winmail.dat incoming, but that's an outgoing issue.

[2020-02-11 15:12] raffisweb commented on #2855
Maybe @frankBahlsen is able to post some source code of an empty support message with this issue (no real support information, please!).

[2020-02-12 11:25] Cob0ld commented on #2175
I ran into the same problem any news when this will be in a release ?

[2020-02-12 11:33] MrGeneration commented on #2175
Sorry but we have no news on this yet. We will update this issue accordingly as soon as anything moves here.

It's marked as an enhancement, so technically it's not an issue (simply no function yet).

[2020-02-12 15:54] mantas commented on #2505
![50524f4752414d4d4552-49204d2057414954494e4720464f52205141204f4e204d59205052-57414954494e4720464f52205141](https://user-images.githubusercontent.com/36944/74352140-c2792400-4dc0-11ea-88ce-a942fc586425.png)

[2020-02-13 13:44] MrGeneration commented on #2907
Hey @MacroPolo ,

thank you very much for your time and effort!
After internal discussions I learned that I tagged this issue incorrectly - below I want to describe why.

----

We currently see this behaviour as a `works as designed`, but understand your viewpoint on this.
Thus, we'll handle this as an enhancement.

When talking about passwords, secure passwords usually are only those passwords th

[2020-02-13 16:14] MrGeneration opened #2930 "CTI Callerlog signaling hides "+" for new ticket if more than one user is found"
### Infos:

* Used Zammad version: 3.2
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any (tested Firefox and Chrome, but also affects e.g. Safari)
* Ticket-ID: #1068069

### Expected behavior:

When having more than one user being found when looking up a number, you can still use the "+"-Button t

[2020-02-13 18:40] MrGeneration opened #2931 "Pending reminder notifications are not sent if ticket is opened in tab"
### Infos:

* Used Zammad version: 3.2
* Installation method (source, package, ..): any (stable and develop)
* Operating system: Debian 10
* Database + version: postgreSQL
* Elasticsearch version: ES 7.5.2
* Browser + version: Google Chrome (latest)
* Ticket-ID: #1068021

### Expected behavior:

When setting a ticket to pending reminder Zammad will remind you on the moment you configured.

### Act

[2020-02-14 22:09] msickl commented on #2116
Please help. I have the same problem here. The webhook is working but it doesn't show up any ticket inside zammad.

/opt/zammad/vendor/bundle/ruby/2.5.0/gems/puma-3.12.1/lib/puma/server.rb:474:in `process_client'
/opt/zammad/vendor/bundle/ruby/2.5.0/gems/puma-3.12.1/lib/puma/server.rb:334:in `block in run'
/opt/zammad/vendor/bundle/ruby/2.5.0/gems/puma-3.12.1/lib/puma/thread_pool.rb:135:in `block

[2020-02-17 03:30] ralfhauser opened #2936 "dashboard: click on my tickets should open list of those tickets"
![image](https://user-images.githubusercontent.com/1681677/74621707-2f344b80-513e-11ea-8a86-62af4d51cfa1.png)

I would be great to be able to click on the yellow / in the red circle and get the list my tickets

[2020-02-17 07:37] MrGeneration commented on #2936
Sorry but this is a feature requests.
Please do not post feature requests on this Github repository - the Zammad community is the better place for this: https://community.zammad.org .

Thank you for your time. Closing.

[2020-02-17 07:37] #2936 closed, assigned to nobody

[2020-02-17 07:39] thorsteneckel commented on #2936
Additionally this is a duplicate of #431

[2020-02-17 14:18] gionn opened #2937 "omniauth-github: Please use the Authorization HTTP header instead as using the access_token query parameter is deprecated and will be removed July 1st, 2020."
See:
https://community.zammad.org/t/github-login-deprecation-notice-deadline-on-1st-july-2020/3986
https://github.com/omniauth/omniauth-github/issues/89

[2020-02-17 14:28] thorsteneckel commented on #2937
Hi @gionn - thanks for reporting! Version bump is currently running on our internal CI. This will be part of the upcoming 3.3 release. However, it would be much appreciated if you could use the issue template next time when creating an issue. It makes life so much easier for us.

[2020-02-18 10:19] #2937 closed, assigned to thorsteneckel

[2020-02-18 10:29] #2782 closed, assigned to mantas

[2020-02-18 11:32] tobiasKaminsky opened #2938 "Attribute "integer" in organization: -1 not allowed"
Hello,

we used to have an integer parameter in our organization, that could be -1, 0, and up to 99.999.
Since quite some time we are now not allowed to use "-1".
It is also said in the edit parameter dialog.

Is there a reason for such a change?
Is there a way to get the old behaviour back and allow -1? E.g. via a different type?

[2020-02-18 11:35] MrGeneration commented on #2938
Sorry but this rather sounds like a technical question - please post technical questions over at the community https://community.zammad.org .

If this turns out to be a bug and not intended, we'll gladly open this issue backup up.
Please also don't forget to not delete the requested information of your installation, as this is mandatory information.

Closing now.

[2020-02-18 11:35] #2938 closed, assigned to nobody

[2020-02-18 14:37] #2628 closed, assigned to mantas

[2020-02-18 14:50] #2911 closed, assigned to martini, thorsteneckel, rolfschmidt

[2020-02-18 14:52] thorsteneckel commented on #2431
Hey @rolfschmidt - this is fixed with https://github.com/zammad/zammad/commit/ed8a152f28a18e6d070dadbba2e79e524a3b42f7 and is a duplicate of #2911 - right?

[2020-02-18 15:06] rolfschmidt commented on #2431
@thorsteneckel yes i think so.

[2020-02-18 15:11] thorsteneckel commented on #2431
Perfect ❤️ This is something that @MrGeneration will be happy to hear about 👂 Closing now.

[2020-02-18 15:11] #2431 closed, assigned to nobody

[2020-02-18 15:15] MrGeneration commented on #2431
Oh baby, I'm absolutely thrilled about these news. 😏

Edit: Thanks for your efforts!

[2020-02-18 17:02] MrGeneration commented on #2926
Please move over to the community!
This is **not a bug but a configuration issue** and thus a technical question!

Your issue basically is: `Feb 10 23:57:24 zammad zammad-websocket-1.service[11987]: RuntimeError: no acceptor (port is in use or requires root privileges)`

So the issue is that you cannot use the port on IPv4 for whatever reason.
Ignoring the fact, that we officially don't support Ce

[2020-02-19 08:57] #2764 closed, assigned to mantas

[2020-02-19 09:15] #2505 closed, assigned to mantas

[2020-02-19 09:25] #2890 closed, assigned to mantas

[2020-02-19 09:26] cyberrranger commented on #2505
thx

[2020-02-19 11:44] #2781 closed, assigned to mantas

[2020-02-19 11:48] #2924 closed, assigned to martini

[2020-02-19 11:56] #2918 closed, assigned to mantas

[2020-02-19 14:58] #2904 closed, assigned to martini

[2020-02-19 15:02] #2641 closed, assigned to thorsteneckel

[2020-02-19 16:41] #2810 closed, assigned to mantas

[2020-02-19 16:58] thorsteneckel commented on #1376
This has been fixed in the meantime. Probably with 3.2 already 😱 Let me know if this is still an issue for you on latest `stable` and please provide an example where we can reproduce. Closing now because I can't reproduce it anymore.

[2020-02-19 16:58] #1376 closed

[2020-02-20 08:02] SEGGER-NV opened #2939 "Known devices can't be deleted from list under Profile->Devices"
### Infos:

* Used Zammad version: 3.1.x
* Installation method (source, package, ..): package
* Operating system: Debian 9
* Database + version:
* Elasticsearch version:
* Browser + version:

### Expected behavior:

* When clicking on the delete button you can remove devices from the known devices list.

### Actual behavior:

* The button has not effect:
![image](https://user-images.githubusercont

[2020-02-20 08:11] thorsteneckel commented on #2939
Hi @SEGGER-NV - this is actually a duplicate of #2781 which was just [fixed yesterday](https://github.com/zammad/zammad/commit/c7ab3e1fe2238299e9bd5f59a9669387fd782a0f) via #2935 thanks to @bolah2009 <3 It will be released with Zammad 3.3 - probably next week 🚀

[2020-02-20 08:11] #2939 closed, assigned to nobody

[2020-02-20 08:19] SEGGER-NV commented on #2939
Ah sorry, for some reason I got no "similar threads" dropdown while creating a thread in github. Weird.
Can be ignored then.

[2020-02-20 08:45] #2920 closed, assigned to mantas

[2020-02-20 12:34] #1553 closed

[2020-02-20 12:36] thorsteneckel commented on #1553
Hi @Kartoiser - this issue is now resolved because of payed prioritization. You can cover all Time and Date use cases now by creating a matching calendar or using an existing one. You can choose between matching times in the calendar time or outside. Closing now 🚀

[2020-02-21 12:37] MatthiasBergen commented on #2192
I guess the same problem is causing copying external images to a ticket/knowledge base article.

See:
![Video_2020-02-21_133105](https://user-images.githubusercontent.com/39553659/75035202-41501a00-54af-11ea-9215-b2019aed6dee.gif)

[2020-02-21 12:43] mantas commented on #2192
@MatthiasBergen image copy-paste support was recently improved. Bugfixes will be included in 3.3.

Could you test against `develop` branch? Please open a new issue if it persists. It'd be great if you'd provide browser details and clipboard content.

[2020-02-21 12:46] mantas commented on #2192
This issue cannot be reproduced in `develop` branch anymore. Looks like it was fixed along with other copy-paste issues. Closing.

[2020-02-21 12:46] #2192 closed, assigned to martini

[2020-02-21 12:56] MatthiasBergen commented on #2192
Browser: BRAVE Version 1.3.118 Chromium: 80.0.3987.116 (Official Build) (64-bit)
OS: Windows 10 Version 1903 64 Bit

I installed Zammad on UBUNTU 18.04.04 LTS in version 3.2.0-1580110414.992e734c.bionic.
For the short video I used an article from heise.de, marked some text and the image, pressing CTRL+C, got back in Zammad and pressed CTRL+V.
Thats it.

Don't know how to test against develop-branc

[2020-02-24 08:01] cYzzie commented on #2866
@MrGeneration this is not the case, i only use it to make sure the mail ends up in the "send folder" zammad fetches it mail from a seperate mailbox (lets say zammad@domain.tld) but sends its mail with (sharedmail@domain.tld)

this is an ideal way to migrate from a shared mail to a ticket system like zammad, so that for a while you can use zammad & email in parallel until everything is fleshed out

[2020-02-25 08:15] martini commented on #2814
In the meantime we improved the search performance by reducing requests for elasticsearch. Using threads will currently not scale.

Reference https://github.com/zammad/zammad/commit/dd54f8a787fb7b03d12562fcb19a63e922dc209e#diff-19acfa5f18a08f0aca444c8abb3dedeb

[2020-02-25 08:15] #2814 closed, assigned to mantas, martini

[2020-02-25 11:57] Routhgen commented on #1432
How did you make it working? Zammad is sendind payload, but rocket chat is expecting to receive JSON data. So this is not working...

[2020-02-25 18:16] Bart1909 commented on #1432
For me it is now working.
I simply created an incoming web hook in rocket.chat and inserted the url in zammad for the slack integration. As Username i chose 'Zammad' and left Channel and Icon Url empty

[2020-02-25 19:24] Routhgen commented on #1432
After few tries it's working ok.
Check this https://github.com/RocketChat/Rocket.Chat/issues/12072

[2020-02-26 14:24] derbenzi opened #2941 "Zendesk import error"
Infos:

* Used Zammad version: 3.2.0
* Installation method (source, package, ..): package
* Operating system: ubuntu 18.04 and debian
* Database + version: newest
* Elasticsearch version: newest
* Browser + version: any

### Expected behavior:

* Zendest import works fine

### Actual behavior:

* Zendesk import fails with following red line: `undefined method singularize' for :Groups:Symbol`
![ima

[2020-02-27 15:55] MrGeneration opened #2942 "Attachments get lost on forward in specific conditions"
### Infos:

* Used Zammad version: 3.2
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: Google Chrome and Firefox on latest versions
* Ticket-ID: #1062763, #1075897

This issue appears on hosted and on premise setups.

### Expected behavior:

You do not loose any attachments upon forwarding mails.

[2020-02-27 17:33] mantas commented on #2942
@MrGeneration did you try this on `develop` branch? This is the same area as that `To:` issue we recently fixed.

[2020-03-01 09:48] shihjay2 commented on #1383
I have also been having issues where if the user is not logged in, an error 500 shows where the expected result is to be redirected to the login page.  The error I see in the logs is
`NameError (undefined local variable or method 'new_user_session_url' for #<Doorkeeper::AuthorizationsController:0x0000563c38b8fe50>):`
I'm using zammad/zammad-docker-compose, version 3.2.0-13

[2020-03-02 10:04] MrGeneration opened #2943 "Raise default password security for new instances"
### Infos:

* Used Zammad version: 3.2.0 (all versions until addressed)
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### wanted approach:

We should raise our default password policy for *new instances*. This will raise the product security for users and will thus get closer to password bes

[2020-03-02 10:07] thorsteneckel commented on #1121
Hey @LukasReschke - we faced this in a different situation and created another issue - #2782. The good news is that this was fixed in the meantime and will be part of Zammad 3.3 which will be released this week. However, since we referenced #2782 in the commit I will mark this as a duplicate - for maintenance reasons. Closing now.

[2020-03-02 10:07] #1121 closed

[2020-03-02 10:18] thorsteneckel commented on #295
Hey there! We still think that BCC is only a workaround for many use cases and should be avoided. We haven't seen a use case yet that shouldn't be solved in a different way. Therefore I'll lock this issue. Please let us know your use case over at the [community board](http://community.zammad.org/) in a dedicated thread or re-use [the existing thread](https://community.zammad.org/t/bcc-for-outgoing

[2020-03-02 10:18] #295 closed

[2020-03-02 11:04] fsforna opened #2944 "Authentication via Generic OAuth2 - Unprocessable Entity"
### Infos:

* Used Zammad version: 3.2 community
* Installation method (source, package, ..): package
* Operating system: CentOS 7
* Database + version: PostgreSQL 9.2.24
* Elasticsearch version: 7.3.0
* Browser + version: Chrome 80.0.3987.122

### Expected behavior:

* OAuth2 SSO working by using Keycloak 4.7.0.Final Identity Provider.

### Actual behavior:

* Zammad redirects to page

422: The c

[2020-03-02 11:57] MrGeneration commented on #2944
indirect duplicate of:
* https://github.com/zammad/zammad/issues/1431
* https://github.com/zammad/zammad/issues/868

Please note that this smells a bit of a technical question as well, the better place for those kind of questions would be the Community: http://community.zammad.org

Also, right now oAuth2 (generic) is broken in Zammad and more over not really support as we had to learn there's no s

[2020-03-02 13:02] thorsteneckel commented on #2944
You are right @MrGeneration.

We should remove the generic OAuth2 provider because it's technically not possible to use it. Every OAuth2 provider needs some custom code to work properly. This can't be done in the current form. It causes much confusion and questions here on GitHub and in the Community. @MrGeneration can you please create a dedicated issue for for removing it? @mantas and his skills

[2020-03-02 14:24] Herbstweiss opened #2945 "Can not create first admin account #getting_started/admin"
Hello,

we try to implement the ticket system Zammad in our company.
Unfortunately it always fails when trying to create the "first" admin account. We always get the message "can't create".
We have installed the server several times according to the instructions and have always followed the instructions.
No matter whether from Zammad himself or from other websites, no installation went better.
So

[2020-03-02 14:25] Herbstweiss commented on #2945
![grafik](https://user-images.githubusercontent.com/61696262/75684919-0366a900-5c9a-11ea-9a01-b7a0ac479091.png)

[2020-03-02 14:35] MrGeneration commented on #2945
Please provide your production.log.

[2020-03-02 14:48] Herbstweiss commented on #2945
[production.log](https://github.com/zammad/zammad/files/4275978/production.log)

[2020-03-02 14:50] Herbstweiss commented on #2945
I once set the whole log as a file because the file has an extremely large number of lines

[2020-03-02 15:01] MrGeneration commented on #2945
Sorry but this is a technical questions and not a bug.
You're having issues with CSRF-Tokens which has been described here:
https://community.zammad.org/t/zammad-3-2-is-available/3656 (point2 important technical notes)

For the next time, please post technical questions within the Zammad Community, because for us the Github-Repository is for issues only. This helps us to focus on bugs.

With the a

[2020-03-02 15:01] #2945 closed, assigned to nobody

[2020-03-02 16:50] gemafra opened #2946 "Search for E-Mail Address with existing Tickets"
Searching for Existing E-Mail / Users when adding Cc or To E-Mail Fields with existing Tickets

* Used Zammad version: 3.2.x
* Installation method (source, package, ..): package
* Operating system: Ubuntu 16.04
* Database + version: postgresql 9.5.19
* Elasticsearch version: 5.6.16
* Browser + version: 73.0.1

### Actual behavior:

Search over URL Triggers Network Traffic / API Call

https:/zammad

[2020-03-02 16:52] MrGeneration commented on #2946
Sorry but this is rather a technical question.
Please do not post technical questions on this repository, as we prefer to seperate them to the Community.

Please create a post over at the community (https://community.zammad.org).
If this proves to be a bug, I'll gladly reopen this issue and tag it accordingly.

[2020-03-02 16:52] #2946 closed, assigned to nobody

[2020-03-02 18:03] skjbulcher commented on #2854
Based on the description (and what I'm looking for in Zammad as well) it sounds like [this technical assistance request](https://community.zammad.org/t/sms-activated-no-option-in-gui/1546) on the Zammad community forums.

[2020-03-03 11:55] mantas opened #2947 "Double-quote character is breaking Elastic Search queries"
### Infos:

* Used Zammad version: 3.2
* Installation method (source, package, ..): Any
* Operating system: Any
* Database + version: Any
* Elasticsearch version: 7.6
* Browser + version: Any

### Expected behavior:

* Search returns results when double-quote is included in query

### Actual behavior:

* Search crashes when double-quote is included in query

### Steps to reproduce the behavior:

`

[2020-03-03 12:25] mantas opened #2948 "API token is ignored for KnowledgeBase calls"
### Infos:

* Used Zammad version: 3.2
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any
* Ticket-ID: #1069585

### Expected behavior:

* Allow to access KB endpoints with HTTP tokens

### Actual behavior:

* Throws `Not authorized` error

### Steps to reproduce the behavior:

`curl -H "Authoriza

[2020-03-04 07:50] shakalandy commented on #2713
Hey guys,

unfortunately this one didn't make it into 3.3.0 - any help needed on that?

[2020-03-04 08:29] thorsteneckel commented on #2713
@mantas - can you please have a look? I've thought that the change supports that?

[2020-03-04 08:40] MrGeneration commented on #2713
GIF images work without any issues, just tested that.
However: Youtube and Vimeo are not working, because of content security policies:

![image](https://user-images.githubusercontent.com/6549061/75860465-29a45a00-5dfc-11ea-9e9f-32affc79b167.png)

I really am not sure why it needs to talk to `log.zammad.com` and `images.zammad.com` ?

[2020-03-04 09:08] thorsteneckel commented on #2713
@shakalandy - would you mind reaching out to support at zammad.com? We'll find out why it wouldn't work on your side.

@mantas - could you please extend [this list](https://github.com/zammad/zammad/blob/e61fa6795e9844c78e130533a0f20d5dee8b7201/config/initializers/content_security_policy.rb#L32) with the required domains and create a MR for it?

[2020-03-04 09:10] thorsteneckel commented on #2713
Because @MrGeneration can't reproduce the issue we handle it as a new issue (in case there is one) but not as a missing implementation (as I thought it would be). Therefore we'll create a new, regression issue if needed and keep this one closed.

[2020-03-04 09:10] #2713 closed, assigned to mantas

[2020-03-04 09:20] shakalandy commented on #2713
Ok, will do @thorsteneckel  - colleagues checked the implementation and it didn't work so far.

Will recheck and fill new issue/support case - thanks.

[2020-03-04 09:45] MrGeneration commented on #2713
Just a very quick follow up on this for hotfixes - add the following line to `/opt/zammad/config/initializers/content_security_policy.rb` :

`policy.frame_src   'http://www.youtube.com', 'https://player.vimeo.com'`
(below the other policies)

Keep in mind it's not update safe, restart Zammad after.

Personally I'd prefer to explicity the `frame-src` directive instead of `default-srv` :)

[2020-03-04 10:02] thorsteneckel commented on #2713
Hey @MrGeneration - good point. Please create a new issue for this and don't hijack unrelated, closed issues 😜

[2020-03-04 12:29] shakalandy commented on #2713
Ok guys, sorry for re-posting in closed issue.
what works now:

- Uploading animated GIFs through "add image" functionality.

What does not work:

- Copy & Paste of GIF Videos in Chrome - they can be copied via standard chrome functionality, but are stored as static image - don't know if this is a "feature" of Chrome or Zammad - but - the functionality works.

Video display from Youtube works via

[2020-03-04 12:33] MrGeneration commented on #2713
Is technically not possible by nature! Copy pasting GIFs is not supported by Browsers in general. You have to use the image button (that's the reason it appeared). So that's working like intended. :)

[2020-03-04 15:14] thorsteneckel opened #2949 "Wrong escalation behavior for Tickets imported from OTRS"
### Infos:

* Used Zammad version: 3.3
* Installation method (source, package, ..): any
* Operating system: any
* Database + version: any
* Elasticsearch version: any
* Browser + version: any

### Expected behavior:

* Tickets should not escalate when in non relevant State Types (like e.g. `closed`, `merged` etc.)

### Actual behavior:

* Tickets escalate when in non relevant State Types (like e.g

[2020-03-05 07:45] csMobility commented on #1225
hi folks,

the feature of separating chats by responsibilities to groups is needed in our company as well.we would like to host separate chat rooms with separate agents, e.g. agents of group 1 being respnsible only for chat A while different agents of group 2 being responsible only for chat B.

however, i guess this topic needs a bit deeper integration as proposed since the websocket connections u